<div data-sly-test.edit=${wcmmode.edit}>
    <p>Itinerary Hotel List</p>
</div>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.js @ categories='tajhotels.vue'}"/>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='tajhotels.itinerary.hotel.list'}"/>


<div class="cm-content-blocks instagram-feeds-card card-with-border-radius" style="padding: 15px;">
    <div class="feed-heading">
        <span>${properties.title}</span>
	</div>
    <div class="contents-wrp row" v-show="feeds.length" v-cloak style="overflow-x: scroll;">
        <div class="mr-card-wrap mr-4" v-for="feed in feeds" :key="feeds.timestamp">
			<div class="card feeds-card card-with-border-radius">
				<div class="ho-img">
                <img v-if="feed.media_type == 'VIDEO'" :src="feed.thumbnail_url" class="card-img-top custom-feed-img">
				<img v-if="feed.media_type != 'VIDEO'" :src="feed.media_url" class="card-img-top custom-feed-img">
				</div>
                    <div class="card-body" style="padding: 10px;">
                    <!--<h5 class="card-title">{{feed.username}}</h5>-->
                    <p class="card-text">{{feed.caption}}</p>

					<div>{{feed.dateTime}}</div>
					<div class="ho-link">
					<hr>
                    <a :href="feed.permalink" class="card-link" v-cloak style="color: #d59d5a;">Go Feed</a>
					</div>
                </div>
			</div>
        </div>
    </div>



<input type="hidden" tabindex="-1" id="token-long" value="${properties.accessTokenLongLived}"/>
<input type="hidden" tabindex="-1" id="token-short" value="${properties.accessTokenShortLived}"/>







