.rate-tab-wrap {
    margin-right: 63px;
    margin-right: 3.9375rem;
    border-bottom: 2px solid var(--primaryColorLighter);
    position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab-wrap {
        margin: 0 15px;
        padding: 0 !important;
    }
}

.rate-tab {
    width: 189px;
    width: 11.8125rem;
    height: 60px;
    height: 3.75rem;
    line-height: 23px;
    line-height: 1.4375rem;
    text-align: center;
    font-family: Calibri;
    float: left;
    padding-top: 10px;
    padding-top: 0.625rem;
    cursor: pointer;
}

.rate-tab div:first-child {
    font-size: 18px;
    font-size: 1.125rem;
    color: #272727;
    text-transform: uppercase;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab div:first-child {
        font-size: 0.875rem;
        text-transform: capitalize;
    }
}

.rate-tab div:nth-child(2) {
    font-size: 14px;
    font-size: 0.875rem;
    color: #9b9b9b;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab div:nth-child(2) {
        display: none;
    }
}

.rate-tab div:nth-child(3) {
    font-size: 14px;
    font-size: 0.875rem;
    color: #9b9b9b;
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab div:nth-child(3) {
        display: block;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab {
        text-align: left;
        height: 80px;
        padding-left: 5px;
        width: 22.5vw;
        line-height: 18px;
    }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 480px) {
    .rate-tab {
        padding-right: 10px;
        width: 22.8vw;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
    .rate-tab {
        width: 6.3rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-tab {
        width: 12rem;
    }
}

.tab-selected {
    background: var(--primaryColorLighter);
    border-bottom: solid 3px var(--primaryColorDark);
}

.tab-selected div:first-child {
    font-family: Calibri-Bold;
}
