.press-contact-wrapper {
    padding: 29px 26px 26px 23px;
    padding: 1.8125rem 1.625rem 1.625rem 1.4375rem;
    background-color: #e8e8e8;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}

.press-contact-wrapper .col-6 {
    padding: 0px !important;
}

.press-contact-wrapper .press-title {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri-Bold;
    color: #4a4a4a;
}

.press-contact-wrapper .press-designation {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    line-height: 20px;
    line-height: 1.25rem;
    color: #4a4a4a;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}

.press-contact-wrapper .press-address {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: Calibri;
    line-height: 21px;
    line-height: 1.36rem;
    color: #8b8b8b;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}

.press-contact-wrapper .text-style {
    text-decoration: underline;
}

.press-contact-wrapper .press-contact {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: Calibri;
    line-height: 21px;
    line-height: 1.36rem;
    color: var(--primaryColor);
}

.press-contact-wrapper img {
    width: 90%;
}

@media only screen and (max-width: 767px) {
    .press-contact-wrapper {
        padding: 1.25rem 0.3rem 1.25rem 0.875rem;
    }

    .press-contact-wrapper .press-designation {
        font-size: 0.875rem;
        line-height: 1.0625rem;
        margin-bottom: 0.5rem;
    }

    .press-contact-wrapper .press-address {
        font-size: 0.875rem;
        line-height: 1.1875rem;
        margin-bottom: 0.625rem;
    }
}

@media only screen and (max-width: 375px) {
    .press-contact-wrapper .press-title {
        font-size: 1.125rem;
    }

    .press-contact-wrapper .press-designation {
        font-size: 0.8125rem;
        margin-bottom: 0.3rem;
    }

    .press-contact-wrapper .press-address {
        font-size: 0.8125rem;
        margin-bottom: 0.3rem;
    }

    .press-contact-wrapper .press-contact {
        font-size: 0.8125rem;
    }
}

@media only screen and (max-width: 320px) {
    .press-contact-wrapper {
        padding: 0.8rem 0.3rem 0.8rem 0.8rem;
    }

    .press-contact-wrapper .press-title {
        font-size: 1rem;
    }

    .press-contact-wrapper .press-designation {
        font-size: 0.78125rem;
        margin-bottom: 0.1875rem;
        line-height: 1rem;
    }

    .press-contact-wrapper .press-address {
        font-size: 0.78125rem;
        margin-bottom: 0.1875rem;
        line-height: 1rem;
    }

    .press-contact-wrapper .press-contact {
        font-size: 0.78125rem;
        line-height: 1rem;
    }
}
