<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
   data-sly-call="${clientlib.all @ categories='tajhotels.newsletter'}" ></sly>  
<sly data-sly-test.rootPath="${inheritedPageProperties.siteConfigContentPath}" />
<sly data-sly-test="${!properties.ihclNewsletter}">
<div class="generic-back-link">
   <a href="javascript: history.go(-1)"> < Back</a>
</div>
</sly>
<sly data-sly-test="${properties.ihclNewsletter}">
<div class="generic-back-link">
   <a class="ihcl-primary-color"href="javascript: history.go(-1)"> < Back</a>
</div>
</sly>
<div class="cm-warning-box-con-newsletter" role="dialog" data-dialog-modal="subscribeBox" style="display: block;"><div class="first-focus" tabindex="0"></div>
      <div class="cm-warning-box-main">
         <div class="cm-warning-box-inner-wrap">
                <div class="success cm-warning-box">
                  <div class="cm-warning-box-main">
                        <div class="warning-box-close-newsletter">
                           <span class="warning-box-close-icon-newsletter icon-close" tabindex = "0"></span>
                        </div>
                        <div class="cm-warning-box-inner-wrap">
                            <i class="icon-STAR-TAJ"></i>
                            <div class="mr-booking-Status subscribe">${properties.subscriptionSuccessMessage}</div>
                            <div class="mr-booking-Status unsubscribe">${properties.unsubscriptionSuccessMessage}</div>
                        </div>
                  </div>
                </div>
                <div class="error cm-warning-box">
                    <div class="cm-warning-box-main">
                        <div class="warning-box-close-newsletter">
                            <span class="warning-box-close-icon-newsletter icon-close" tabindex = "0"></span>
                        </div>
                        <div class="cm-warning-box-inner-wrap">
                            <i class="icon-STAR-TAJ"></i>
                            <div class="mr-booking-Status subscribe">${properties.errorMessage}</div>
                            <div class="mr-booking-Status unsubscribe">${properties.errorMessage}</div>
                        </div>
                    </div>
                </div>
            <div class="cm-content-blocks">
               <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                     <div class="newsletter-heading text-left">Subscribe to Newsletter
                     </div>
                     <div class="jiva-spa-form-con text-left">
                        <form class="mr-sub-form newsletter-form" onsubmit="return false">
                           <div class="row mr-sub-form-row">
                              <div class="col-12 col-md-2 sub-form-input-wrp">
                                 <div class="sub-form-input-label">Title*</div>
                                 <div class="selectSubContainer">
                                    <select aria-label="Title" name="customer-title" id="customer-title" class="sub-form-input-element sub-form-mandatory">
                                       <option>Mr</option>
                                       <option>Ms</option>
                                       <option>Mrs</option>
                                    </select>
                                 </div>
                                 <div class="sub-form-input-warning"></div>
                              </div>
                              <div class="col-12 col-md-5 sub-form-input-wrp">
                                 <div class="sub-form-input-label">First Name*</div>
                                 <input class="sub-form-input-element sub-form-mandatory" placeholder="" id="customer-first-name" name="customer-first-name" aria-label = "FirstName Input">
                                 <div class="sub-form-input-warning"></div>
                              </div>
                              <div class="col-12 col-md-5 sub-form-input-wrp">
                                 <div class="sub-form-input-label">Last Name*</div>
                                 <input class="sub-form-input-element sub-form-mandatory" placeholder="" id="customer-last-name" name="customer-last-name" aria-label = "LastName Input">
                                 <div class="sub-form-input-warning"></div>
                              </div>
                              <div class="col-12 col-md-2 sub-form-input-wrp">
                                 <div class="sub-form-input-label">Gender*</div>
                                 <div class="selectSubContainer">
                                    <select aria-label="Gender" name="customer-gender" id="customer-gender" class="sub-form-input-element sub-form-mandatory">
                                       <option>Male</option>
                                       <option>Female</option>
                                    </select>
                                 </div>
                                 <div class="sub-form-input-warning"></div>
                              </div>
                              <div class="col-12 col-md-5 sub-form-input-wrp">
                                 <div class="sub-form-input-label">Country*</div>
                                 <div class="selectSubContainer">
                                    <select aria-label="Country" name="customer-country" id="customer-country"
                                       class="sub-form-input-element sub-form-mandatory">
                                    </select>
                                 </div>
                                 <div class="sub-form-input-warning"></div>
                              </div>
                              <div class="col-12 col-md-5 sub-form-input-wrp">
                                 <div class="sub-form-input-label">City*</div>
                                 <input class="sub-form-input-element sub-form-mandatory only-alpha-input"
                                    placeholder="" id="customer-city" name="customer-city" aria-label = "Customer City Input" />
                                 <div class="sub-form-input-warning"></div>
                              </div>
                              <div class="col-12 col-md-7 sub-form-input-wrp">
                                 <div class="sub-form-input-label">Email*</div>
                                 <input class="email-input sub-form-input-element sub-form-mandatory unsubscribe-mandatory" placeholder="" id="customer-email" name="customer-email" aria-label = "Customer Email Input">
                                 <div class="sub-form-input-warning"></div>
                              </div>
                              <div class="col-12 col-md-3 sub-form-input-wrp">
								<div data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
                              </div>
                           </div>

                        <div class="jiva-spa-form-row newsletter-mandatory">
                           <div class="jiva-spa-lead-gen-disclaimer"></div>
                        </div>
                        <div class="jiva-spa-form-row disclaimer newsletter-no-margin-btm">
                           ${properties.privacyDisclaimer @context='html'}
                        </div>
                        <div class="jiva-spa-form-row checkbox-row 	-no-margin-btm">
                           <label class="mr-filterCheckBox-label subscribe-checkbox checkbox-inline">
                              <input class="mr-filter-checkbox sub-form-input-element sub-form-mandatory" type="checkbox" id="privacyPolicyCheck"
                                 name="privacyPolicy" aria-label = "${properties.privacyPolicyLabel}" />
							  <sly data-sly-test="${!properties.ihclNewsletter}">
                              <span class="mr-inputCustomShape"></span>
							  </sly>
							  <sly data-sly-test="${properties.ihclNewsletter}">
                              <span class="ihcl-primary-color-border mr-inputCustomShape"></span>
							  </sly>
                              ${properties.privacyPolicyLabel}</span>
                              <div class="checkbox-allignment">I accept the
								 <sly data-sly-test="${!properties.ihclNewsletter}">
                                 <a class="policy-terms-external-link" href="${properties.privacyPolicyURL}.html">Privacy Policy</a>
								 </sly>
								 <sly data-sly-test="${properties.ihclNewsletter}">
                                 <a class="ihcl-primary-color policy-terms-external-link" href="${properties.privacyPolicyURL}.html">Privacy Policy</a>
								 </sly>
                              </div>
                           </label>
                           <div class="terms-privacy-checkbox-warning" id="privacyCheckbox">Please accept the privacy policy</div>
                        </div>
                        <div class="jiva-spa-form-row checkbox-row newsletter-no-margin-btm">
                           <label class="mr-filterCheckBox-label subscribe-checkbox checkbox-inline">
                              <input class="mr-filter-checkbox" type="checkbox" id="termsCondCheck"
                                 name="termsAndConditions" aria-label = "${properties.termsAndConditionsLabel}"/>
								<sly data-sly-test="${!properties.ihclNewsletter}">
								 <span class="mr-inputCustomShape" >${properties.termsAndConditionsLabel}</span>
								 </sly>
								 <sly data-sly-test="${properties.ihclNewsletter}">
								 <span class="ihcl-primary-color-border mr-inputCustomShape" >${properties.termsAndConditionsLabel}</span>
								 </sly>
                              <div class="checkbox-allignment">I accept the
								<sly data-sly-test="${!properties.ihclNewsletter}">
                                 <a class="policy-terms-external-link" href="${properties.termAndConditionsURL}.html">Terms & Conditions</a>
								 </sly>
								 <sly data-sly-test="${properties.ihclNewsletter}">
                                 <a class="ihcl-primary-color policy-terms-external-link" href="${properties.termAndConditionsURL}.html">Terms & Conditions</a>
								 </sly>
                              </div>
                           </label>
                           <div class="terms-privacy-checkbox-warning" id="termsConditionsCheckbox">Please accept the terms and conditions</div>
                        </div>
                        <div class="jiva-spa-form-row">
                           <div class="jiva-spa-form-btn-details clearfix newsletter-btns-wrap">
                              <input type="hidden" class="jiva-spa-conf-link"
                                 value="${confLink.mappedUrl}" name="confLinkMappedUrl" aria-hidden = "true"/> <input type="hidden"
                                 class="jiva-spa-error-link" value="${errorLinkMappedUrl}" name="errorLinkMappedUrl" aria-hidden = "true"/>
								<sly data-sly-test="${!properties.ihclNewsletter}">
							  		<button type="button" class="unsubscribe-link newsletter-disable-btn pay-now-button">${properties.unsubscribeLabel}</button>
								</sly>
								<sly data-sly-test="${properties.ihclNewsletter}">
							  		<button type="button" class="ihcl-primary-color unsubscribe-link newsletter-disable-btn pay-now-button">${properties.unsubscribeLabel}</button>
								</sly>
                              <button type="button" class="cm-btn-secondary jiva-spa-form-btn newsletter-disable-btn pay-now-button"
                                 id="news-letter-submit-btn">${properties.subscribeLabel}</button>
                              <div class="newsletter-loader taj-loader" style="display: none;">
                                 <div class="taj-loader-circle"></div>
                                 <div class="taj-loader-circle"></div>
                                 <div class="taj-loader-circle"></div>
                              </div>
                           </div>
                        </div>
                     </form>
                     </div>
                  </div>
               </div>
            </div>
      </div>
   </div>
</div>