<div
	data-sly-use.model="com.ihcl.core.models.destination.HolidayDestinationModel"
	class="popularDest-wrap  col-lg-4 col-md-6 col-sm-12 cm-card-showmore-spacing"
	data-country=${model.countryName}
	data-experiences=${model.experiencesTags}
	data-theme=${model.themesTags}
	data-key='{"stay":"${model.stayDuration}","experiences":"${model.experiencesTags}","theme":"${model.themesTags}","season":"${model.holidaySeasons}","price":"${model.packagePrice}", "country":"${model.countryName}"}'
	data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
	<div class="popu-dest-cont-wrapper">
		<div class="popularDest-imageContainer">
			<sly
				data-sly-call="${imagetemplate.damImageTemplate @ imagePath= model.hotelImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly>
		</div>
		<div class="popularDest-details-container">
			<div class="popularDest-details-name">${model.destinationTitle}</div>
			<a href="${model.destinationPath}.html">
				<button class="cm-btn-secondary view-detials-button" onclick="setFilterData(options)">VIEW
					DETAILS</button>
			</a>
		</div>
	</div>
</div>