@rem: 16rem;
.ihcl-contact-us-form {
    .contact-us.mr-sub-form {
        padding: 45/@rem;
        background-color: #fefefe;
        box-shadow: 0 7px 14px 0 #e5e3e3;
        @media screen and (max-width: 991px) {
            padding: 35/@rem 20/@rem;
        }

        .sub-form-input-wrp {
            margin-bottom: 36/@rem;
        }
        .sub-form-text-area {
            height: 250/@rem;
            width: 100%;
            border: solid 1px #4a4a4a;
            margin-top: 8/@rem;
            outline: none;
            @media screen and (max-width: 991px) {
                height: 120/@rem;
            }
        }

        .contact-form-left {
            padding-right: 30/@rem;
            @media screen and (max-width: 991px) {
                padding-right: 0;
            }
        }
        .contact-form-right {
            padding-left: 30/@rem;
        }
        .request-quote-submit-wrapper {
            @media screen and (max-width: 991px) {
                padding-left: 0;
                text-align: center;
            }
            .mandatory-text {
                font-family: Calibri;
                font-size: 12/@rem;
                color: #4a4a4a;
                outline: none;
                margin-bottom: 18/@rem;
                @media screen and (max-width: 991px) {
                    text-align: left;
                }
            }
        }
    }
    .hotels-event-confirmation-popup {
        display: none;
    }
    .hotels-event-confirmation-overlay {
        position: fixed;
    }
	.hotels-event-error-popup {
        display: none;
    }
    .hotels-event-error-overlay {
        position: fixed;
    }
    .request-quote-submit-btn {
        min-width: 121/@rem;
    }
}


@rem:16rem;
.hotels-event-confirmation-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(74, 74, 74, 0.55);
	z-index: 101;
	display: table;	
	width: 100%;
	height: 100%;
	@media only screen and (max-width: 991px){
		background-color: #ffffff;
		position: fixed;
		z-index: 2;
	}	
	.hotels-event-confirmation-container{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		.hotels-event-confirmation-inner-wrp.container{
			position: relative;
			background-color: #fefefe;
			box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);					
			padding: 145/@rem 27/@rem 93/@rem;
			margin: auto;	
			@media only screen and (max-width: 991px){						
				box-shadow: none;
				padding: 0 20/@rem !important;
				background-color: #ffffff;	
			}
			.event-confirmation-close-icon{
				position: absolute;
				height: 24/@rem;
				width: 24/@rem;
				top: 22/@rem;
				right: 19/@rem;
				cursor: pointer;
				@media only screen and (max-width: 991px){
					position: fixed;
					top: 19/@rem;
					right: 22/@rem;
				}
			}
			.event-confirmation-title{
				font-family: Calibri-bold;
				font-size: 30/@rem;
				color: #282828;
				margin-bottom: 40/@rem;		
				text-align: center;
				@media only screen and (max-width: 991px){
					font-size: 24/@rem;
					margin-bottom: 22/@rem;			
				}
			}
			.event-confirmation-descripion{
				font-family: Calibri;
				font-size: 24/@rem;
				text-align: center;
				max-width: 395/@rem;
				color: #282828;
				margin:0 auto 64/@rem;
				@media only screen and (max-width: 991px){
					font-size: 22/@rem;
					margin-bottom: 49/@rem;
					max-width: 362/@rem;
				}
			}
		}
	}
}


@rem:16rem;
.hotels-event-error-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(74, 74, 74, 0.55);
	z-index: 101;
	display: table;	
	width: 100%;
	height: 100%;
	@media only screen and (max-width: 991px){
		background-color: #ffffff;
		position: fixed;
		z-index: 2;
	}	
	.hotels-event-error-container{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		.hotels-event-error-inner-wrp.container{
			position: relative;
			background-color: #fefefe;
			box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);					
			padding: 7.0625rem 27/@rem 93/@rem;
			margin: auto;	
			@media only screen and (max-width: 991px){						
				box-shadow: none;
				padding: 0 20/@rem !important;
				background-color: #ffffff;	
			}
			.event-error-close-icon{
				position: absolute;
				height: 24/@rem;
				width: 24/@rem;
				top: 22/@rem;
				right: 19/@rem;
				cursor: pointer;
				@media only screen and (max-width: 991px){
					position: fixed;
					top: 19/@rem;
					right: 22/@rem;
				}
			}
			.event-error-title{
				font-family: Calibri-bold;
				font-size: 30/@rem;
				color: #282828;
				margin-bottom: 40/@rem;		
				text-align: center;
				@media only screen and (max-width: 991px){
					font-size: 24/@rem;
					margin-bottom: 22/@rem;			
				}
			}
			.event-error-descripion{
				font-family: Calibri;
				font-size: 24/@rem;
				text-align: center;
				max-width: 395/@rem;
				color: #282828;
				margin:0 auto 64/@rem;
				@media only screen and (max-width: 991px){
					font-size: 22/@rem;
					margin-bottom: 49/@rem;
					max-width: 362/@rem;
				}
			}
		}
	}
}


.spinner-con {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(74, 74, 74, 0.55);
    text-align: center;
    z-index: 100;
}
.spinner-wrap {
    position: absolute;
    width: 8rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .ihcl-contact-us-form .contact-us.mr-sub-form .contact-form-right {
		padding-left: 0;
    }
}