<div data-sly-test.edit=${wcmmode.edit}>
    <h1>ihcl ihclcarousel component</h1>
</div>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.taj-sats-imageCarousel,taj.hotels.components.banner-carousel'}" />
<sly data-sly-use.model="com.ihcl.core.models.ihcl.IhclCarouselModel"/>
<div class="cm-content-blocks">
<div class="mr-carousel-ihcl-whole-wrapper" style = "margin-bottom : 2rem; height: 150px;">
            <div class="mr-ihcl-devcarousel container">
 <section class="hotel-carousel-section mr-ihcl-develop-carousel">
    <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
        <ol class="carousel-indicators mr-carousel-dots">
            <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="mr-carousel-whole-wrapper">
            <div class="carousel-inner mr-carousel-wrap">
            <sly data-sly-list.key="${model.carouselList}" >
            
                <div class="${key.classList}">
                    <div class="mr-carousel-inner row">

                        <div class="mr-carousel-details col-8 col-md-10">
                            <div class="mr-carousel-title">${key.title}</div>
                            <div class="mr-carousel-para">${key.description}</div>
                        </div>
                    </div>
                </div>
                </sly>
                </div>

        </div><a class="carousel-control-prev carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next carousel-control"
            href="#carouselExampleIndicators" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a></div>
</section>
</div>
</div></div>



                            


