@rem: 16rem;
.cm-page-container {
    .banner-container {
        .check-availability-main-wrap.search-container {
            bottom: 0;
            @media only screen and (max-width: 991px) {
                position: static;
                bottom: unset;
                padding: 0rem;
                min-width: 100%;
            }
        }
    }
}

button.cm-btn-secondary.btn-edit-booking-details {
    height: auto !important;
    line-height: normal !important;
    padding: 0.4rem 0.875rem !important;
}
.edit-booking-details-wrapper{
	text-align: right;
    align-self: center;    
}

.mr-book-a-stay-component {
    display: none;
}

.mr-availability-calendar-icon.icon-calendar-check-availability:before{
	color: #ffffff !important;
	font-size: 1rem;
}
.mr-check-availability-container {
    cursor: pointer;
}

.mr-availability-check {
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    @media only screen and (max-width: 991px) {
        display:none;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.19);
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.mr-edit-icon {
    width: 1.5625rem;
    height: 1.5625rem;
    margin: 1rem 0rem;
    margin-right: 0.5rem;
}
.mr-edit-icon.icon-edit:before{
	color: #ffffff !important;
	font-size: 1.5rem;
}
.mr-availability-info-mobile-wrap {
    display: inline-block; // width: 88%;
}

.mr-edit-icon-wrap {
    // margin-bottom: 0.625rem;
    display: inline-block;
    float: right;
    @media only screen and (max-width: 335px) {
       position: absolute;
       right: -2px;
       top: 11px;
   }
}

.mr-availability-icon-wrap {
    display: inline-block;
    margin-left: 1rem;
}

span.roomCount {
    font-weight: bold;
}

.mr-availability-calendar-icon {
    width: 0.9375rem;
    height: 0.9375rem;
}

.mr-availability-check-search {
    font-family: Calibri;
    font-size: 1.25rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    overflow: hidden;
    margin-right: 20/@rem;
    .ca-target-selection {
        white-space: nowrap;
    }
}

.mr-availability-check-title {
    font-family: Calibri;
    font-size: 0.875rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.88;
    letter-spacing: 2.3px;
    text-align: left;
    color: #ffffff;
    white-space: nowrap;
    margin-bottom: 0.6875rem;
}

.checked-rooms-details {
    display: inline-block;
    border-right: 1px solid #ffffff;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    &:last-child {
        border-right: unset;
    }
    &:first-child {
        padding-left: unset;
    }
}

.mr-mobile-availability-check {
    display: none;
    height: auto !important;
    padding: 0.625rem 1rem; // opacity: 0.51;
    background-color: rgba(0, 0, 0, 0.51);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.19); // position: absolute;
    top: 0;
    z-index: 6;
    width: 100%;
    @media only screen and (max-width: 991px) {
        display: block;
    }
    .mr-destination-hotel {
        // opacity: 0.85;
        font-family: Calibri;
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    .mr-mobile-availability-details {
        position: relative;
    }
    .mr-mobile-availability-details.mr-mobile-checkInOut,
    .mr-mobile-availability-details.mr-mobile-roomGuestsCount,
    {
        // opacity: 0.85;
        font-family: Calibri;
        font-size: 0.875rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        padding-left: 0.8rem;
        padding-top: 0.5rem;
        display: inline-block;
    }
    .mr-mobile-checkInOut {
        &:after {
            content: '';
            position: absolute;
            right: 1rem;
            width: 2/@rem;
            height: 10/@rem;
            background-color: #fff;
            right: -0.5rem;
            top: 0.7rem;
        }
    }
    .mr-mobile-availability-details.mr-mobile-checkInOut {
        padding-left: 0rem;
    }
}

&.mr-checkIn-checkOut-Date-hover {
    position: absolute;
    top: initial !important;
    bottom: 58px;
    left: -7%;
    height: auto !important;
    width: 70%;
    background: #fff;
    border-radius: 2px;
    padding: 4/@rem 13/@rem;
    //display: none;
     @media only screen and (max-width: 991px) {
        bottom:23px;
        left:-2%;
    }
    .mr-checkIn-checkOut-Date-hover-icon{
        font-size:1.5rem;
        display:inline-block;
        vertical-align: middle;
        width:16%;
    }
    .mr-checkIn-checkOut-Date-hover-text {
        display: inline-block;
        vertical-align: middle;
        width:81% !important; 
     }
}

&.mr-availability-check-hover {
    width: 52%;
    left: 0;
}

.ihclcb-check-avail-img {
    display: none;
}


//ihclcb styles 

.ihcl-theme {
    .mr-availability-icon-wrap {
        display: none;
    }
    .ihclcb-check-avail-img {
        display: inline-block; 
        margin-right: 10/@rem;
        object-fit: contain;
    }
    @media only screen and (min-width: 768px) {
        .banner-container .search-container.mr-stickyScroll {
            position: absolute !important;
            top: auto !important;
            bottom: 26px !important;
        }
    }
    &.cm-page-container .banner-container .search-container,
    &.cm-page-container .banner-container .check-availability-main-wrap.search-container{
        bottom: 26px;
    }
    .mr-availability-check {
        border-radius: 4px;
//        padding: 30/@rem;
//        height: 9rem;
        padding: 0 14px 0 0;
        outline: 30/@rem solid rgba(0, 0, 0, 0.5);
        border-radius: 4px;
//        background-color: #ffffff;
        .row {
            border-radius: 4px;
            background-color: #ffffff;
            .mr-availability-check-sections {
                padding: 1rem;
            }
        }
        .mr-availability-check-title {
            color: #81abc6;
            font-size: 16/@rem;
            margin-left: 32/@rem;
        }
        .mr-availability-check-search {
            color: #353b44;
            font-size: 20/@rem;
            margin-right: 0;
            display: flex;
        } 
        .ca-target-selection {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .btn-edit-booking-details {
            height: calc(~'5rem + 1px') !important;
        }
    }
}