<div data-sly-use.model="com.ihcl.core.models.Destination" class="popularDest-wrap"  data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <div class="popularDest-imageContainer">
    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= model.hotelImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyLoad='true'}"></sly>
    </div>
    <div class="popularDest-details-container">
        <div class="popularDest-details-name">${model.destinationTitle}</div>
        <a href="${resource.parent.getPath}.html">
            <button class="cm-btn-secondary view-detials-button" tabindex="-1">VIEW DETAILS</button>
        </a>
    </div>
</div>