.search-container.mr-stickyScroll {
    position: fixed ! important;
    width: 100% !important;
    top: 0 !important;
    bottom: initial !important;
    z-index: 6 !important;
}

.cm-page-container {
    overflow: auto;
  /*  // height: 100vh; */
    background: #f5f5f5;
}

.cm-page-container .row {
    margin: auto;
}

.cm-page-container [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.cm-page-container .header {
    width: 100%;
    background: #ffffff;
    position: relative;
}

.cm-page-container .header .header-nav-prelogin-search {
    display: none;
    position: relative;
    z-index: 7;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper {
    position: fixed;
    top: 72px;
    top: 4.5rem;
    left: 0;
    right: 0;
    bottom: initial;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper {
        top: 0;
    }
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap::before {
    left: 0px;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .explore-taj-content {
    background: #ffffff;
    padding-left: 32px;
    padding-left: 2rem;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input {
    background: #ffffff;
    opacity: 1;
    color: #323232;
    font-size: 24px;
    font-size: 1.5rem;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-webkit-input-placeholder {
    color: #c9c9c9;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-moz-placeholder {
    color: #c9c9c9;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input:-ms-input-placeholder {
    color: #c9c9c9;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::placeholder {
    color: #c9c9c9;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .nav-prelogin-close {
    display: block;
    position: absolute;
    right: -33px;
    top: 22px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .nav-prelogin-close {
        display: none;
    }
}

.cm-page-container .banner-container {
    width: 100%;
    position: relative;
}

.cm-page-container .banner-container .search-container {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .banner-container .search-container {
        bottom: 7px;
        padding: 0px 4px;
    }
}

.cm-page-container .cm-header-label-con {
    font-size: 30px;
    font-family: Calibri-Bold;
    color: #1b1b1b;
    margin-bottom: 57px;
    position: relative;
    display: block;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .cm-header-label-con {
        font-size: 24px;
        text-align: center;
        margin-bottom: 37px;
        display: block;
    }
}

.cm-page-container .cm-header-label-con .cm-header-label {
    line-height: 1;
    display: inline-block;
}

.cm-page-container .cm-header-label-con .cm-header-sublevel {
    line-height: 1;
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 476px;
    margin-top: 17px;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .cm-header-label-con .cm-header-sublevel {
        display: none;
    }
}

.cm-page-container .cm-header-label-con .cm-header-offers {
    display: inline-block;
    position: absolute;
    right: 0;
    color: var(--primaryColorDark);
    font-size: 16px;
    border-bottom: 1px solid var(--primaryColorDark);
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .cm-header-label-con .cm-header-offers {
        display: none;
    }
}

.cm-page-container .content-wrapper {
    margin: 65px auto 81px;
  /*@media only screen and (min-device-width : 1025px) and (max-device-width : 1400px) {
            max-width: 960px;
        }
        @media only screen and (min-device-width : 960px) and (max-device-width : 1024px) {
            max-width: 900px;
        }*/
}

.cm-page-container .content-wrapper .cm-content-blocks {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .content-wrapper .cm-content-blocks {
        margin-top: 30px;
    }
}

.cm-page-container .content-wrapper .cm-content-blocks:first-child {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .content-wrapper .cm-content-blocks:first-child {
        margin-top: 30px;
    }
}

.cm-page-container .footer {
    width: 100%;
    background-color: #efeeee;
}

@media only screen and (max-width: 480px) {
    .cm-page-container .content-wrapper {
        margin: 30px auto 58px;
        max-width: 100%;
    }
}

.title-decorator-border {
    position: relative;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.title-decorator-border::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100px;
    background-color: var(--primaryColor);
    left: 0;
    bottom: -10px;
}

@media only screen and (max-width: 767px) {
    .title-decorator-border {
        text-align: center;
        font-size: 20px;
    }

    .title-decorator-border::after {
        left: 50%;
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }
}

.offers-button-wrapper {
    display: none;
    margin-top: 30px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .offers-button-wrapper {
        display: block;
    }
}

.leftArrow {
    position: absolute;
    left: -5%;
    bottom: 38%;
    z-index: 1;
    cursor: pointer;
}

.leftArrow img {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .leftArrow {
        display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 960px) {
    .leftArrow {
        display: none;
    }
}

.rightArrow {
    position: absolute;
    cursor: pointer;
    right: -5%;
    bottom: 38%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .rightArrow {
        display: none;
    }
}

@media only screen and (min-device-width: 550px) and (max-device-width: 960px) {
    .rightArrow {
        display: none;
    }
}

::-webkit-scrollbar {
    display: none;
}

.popular-destination-wrap,
.offers-and-deals-wrap,
.cm-inner-carousel-wrap {
    overflow-x: hidden;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .popular-destination-wrap,
  .offers-and-deals-wrap,
  .cm-inner-carousel-wrap {
        overflow-x: scroll;
    }
}

@media only screen and (min-device-width: 550px) and (max-device-width: 960px) {
    .popular-destination-wrap,
  .offers-and-deals-wrap,
  .cm-inner-carousel-wrap {
        overflow-x: scroll;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



@media only screen and (max-width: 767px) {
    .hotels-container {
        margin-top: 30px;
        margin-bottom: 0px;
        height: auto;
        min-height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .cm-page-container {
        background: #f5f5f5;
    }

    .offers-container {
        margin-top: 29px !important;
    }
}

@media only screen and (max-width: 767px) {
    .cm-page-container {
        background: #f5f5f5;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .participating-hotels {
        padding-top: 70px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .participating-hotels {
        padding-top: 80px;
    }
}

.participating-hotels-show-more {
    text-align: center;
    font-size: 16px;
    color: var(--primaryColor);
    font-weight: bold;
    font-family: Calibri;
    margin-top: 30px;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2px;
}

.participating-hotels-show-more img,
.dining-hotels-show-more img {
    margin-left: 10px;
    vertical-align: baseline;
}

