<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.investor.profile'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<div class="mr-investor-card-wrapper row">
    <div class="mr-investor-card-img col-5">
        <sly
            data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='mr-investors-img'}" />
    </div>
    <div class="mr-investors-card-details col-7">
        <p class="mr-investor-name">${properties.personName}</p>
        <p class="mr-investor-designation">${properties.designation}</p>
        <div class="mr-investors-address">
            <p class="mr-investor-address-detail">${properties.residence}</p>
        </div>
        <div class="mr-investors-contact">
            <a class="mr-investors-contact" href="mailto:${properties.email}"> <i
                class="ihcl-icon ihcl-envelope icon icon-envelope mr-investors-icon"></i>
                <div class="mr-investor-contact-txt">${properties.email}</div>
            </a>
            <sly data-sly-test.contact="${properties.contactNo}"> <a class="mr-investors-contact"
                href="tel:91226639-5515"> <i class="ihcl-icon ihcl-phone icon-phone-enabled mr-investors-icon"></i>
                <div class="mr-investor-contact-txt">${properties.contactNo}</div>
            </a> </sly>
            <sly data-sly-test.fax="${properties.fax}">
            <div class="mr-investors-contact">
                <i class="ihcl-icon ihcl-print icon-print mr-investors-icon"></i>
                <div class="mr-investor-contact-txt">${properties.fax}</div>
            </div>
            </sly>
            <sly data-sly-test="${properties.showbutton}"> <a>
                <div class="btn-wrap" id="pop-up1" onclick="">
                    <button class="cm-btn-secondary button-view-details view-button" style="float: right;">${properties.button}</button>
                </div>
            </a></sly>
        </div>
    </div>
</div>
<!-- Pop-UP for profile data -->
<div class="show-popUp-local-place-details profile-popup">
    <div class="cm-local-details-container mr-profile-popup">
        <div class="cm-local-details-overLay bas-overlay"></div>
        <div class="cm-local-details">
            <div class="loc-details-close-cont">
                <img class="showMap-close" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg"
                    alt="close-blue-icon" />
            </div>
            <div class="loc-details-wrapper row">
                <div class="loc-details-container col-lg-6 col-md-12 col-sm-12">
                    <div class="specific-city-header-wrapper">
                        <div class="specific-city-header">${properties.personName}</div>
                        <div class="spec-about-city-subheader">${properties.designation}</div>
                        <article class="rooms-suites-description">
                            <P>${properties.descriptionpopup @context= 'html'}</P>
                        </article>
                    </div>
                </div>
                <div class="loc-image-container mr-popup-image col-lg-6 col-md-12 col-sm-12">
                    <div class="mr-inner-popup-container">
                        <sly
                            data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='about-carousel-images'}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>