.popularDest-wrap, .cm-inner-carousal-cards {
	float: left;
	box-shadow: 0 2px 14px 0 #e5e3e3;
	background-color: #ffffff;
	position: relative;
}

.popularDest-imageContainer {
	padding: 0;
	width: 100%;
	height: 25rem;
	background-color: #ccc;
}

@media only screen and (max-width: 767px) {
	.popularDest-imageContainer {
		height: 16rem;
	}
}

.popularDest-imageContainer img {
	width: 100%;
	height: 100%;
}

.popularDest-details-container {
	width: 100%;
	background: #ffffff;
	color: #323232;
	font-size: 22px;
	font-size: 1.375rem;
	font-family: Calibri;
	padding: 16px;
	padding: 1.5rem 1rem 1rem;
}

.popularDest-details-container a {
	display: inline-block;
	vertical-align: bottom;
	text-align: right;
	width: 49%;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}

@media only screen and (min-device-width: 1023px) and (max-device-width:
	1100px) {
	.popularDest-details-container {
		padding: 20px 0 25px 15px;
	}
}

.other-services-wrap .concierge-local.cm-inner-carousal-cards {
	margin-bottom: 0rem;
	box-shadow: none;
	width: 100%;
	height: 100%;
}

@media only screen and (max-device-width: 575px) {
	.popularDest-details-container {
		padding: 1.5rem 0 1.5rem 1rem;
	}
}

.popularDest-details-container .popularDest-details-name {
	display: inline-block;
	vertical-align: top;
	line-height: 1.2;
	width: 49%;
	word-wrap: break-word;
}

@media only screen and (max-device-width: 374px) {
	.popularDest-details-container .popularDest-details-name {
		width: 40%;
	}
}

.view-detials-button {
	display: inline-block;
	vertical-align: top;
}

@media only screen and (min-device-width: 768px) and (max-device-width:
	991px) {
	.cm-inner-carousal-cards:first-child {
		margin-left: 0 !important;
	}
}

.discover-more-wrapper {
	overflow-x: hidden;
}

@media only screen and (max-width: 991px) {
	.discover-more-wrapper {
		overflow-x: scroll;
	}
}

.holiday-landing-dis .mr-experinces-Button-wrap {
	vertical-align: bottom;
}

@media only screen and (max-width: 768px) {
	.mr-experinces-details-location .hold-trend-desc {
		font-size: 0.875rem;
	}
}

.other-services-wrap .mr-experinces-detailsButton-wrap {
	display: flex;
	align-items: flex-end;
}

.other-services-wrap .mr-experinces-details-wrap {
	/* flex: 1;
	align-self: baseline; */
	display: inline-block;
    vertical-align: bottom;
    width: 60%;
    padding-right: 0.3125rem;
}

.other-services-wrap .holiday-landing-dis .mr-experinces-Button-wrap {
	/* width: 9rem; */
	display: inline-block;
    /* float: right; */
    position: relative;
    width: 40%;
    text-align: right;
    position: absolute;
    right: 1.875rem;
    bottom: 1rem;
}

@media only screen and (max-width: 767px) {
	.other-services-wrap .holiday-landing-dis .mr-experinces-Button-wrap {
		width: 8rem;
		bottom: 1rem;
		right: 1rem;
	}
	.other-services-wrap .mr-experinces-title {
         flex: 1;
         font-size:1.25rem;
    }
	
}

.other-services-wrap .mr-experiences-description-wrap {
	/* flex: 1; */
	display: -ms-flexbox;
	display: flex;
	/* flex-direction: column; */
	min-height: 0px; 
	-ms-flex-align: flex-end;
	align-items: flex-end;
	position: static;
}

.other-services-wrap .mr-experinces-detailsButton-wrap {
	flex: 1;
}

@media only screen and (max-width: 767px) {
	.mr-experinces-Button-wrap {
	    position: absolute;
        bottom: 1rem;
        right: 1rem;
	}
	.other-services-wrap .mr-experinces-details-wrap {
	   width: 100%;
	   display: inline-block;
	}
	.mr-experinces-details-location {
        line-height: 1.2;
        padding-bottom: 45px;	
        padding-top: 0.25rem;
	}
} 
.experience-button-styles {
    height: unset!important;
    min-height: 2.5rem;
}
.concierge-local .recommended-experiences-wrap {
    box-shadow: 0 7px 14px 0 #e5e3e3;
    height: 100%;
    background: #ffffff;
    position: relative;
    box-shadow: 0 7px 14px 0 #e5e3e3;
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}
.other-services-wrap  .mr-experinces-details-location .rooms-suites-description {
	margin-bottom: 2.2rem;
}
@media only screen and (max-width: 767px){
.other-services-wrap  .mr-experinces-details-location .rooms-suites-description {
	margin-bottom: 0rem;
}	
}