
.recom-experiences-wrap {
    float: left;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .recom-experiences-wrap:first-child {
        margin-left: 0!important;
    }
}

.mr-experiences-image-recommended {
    width: 100%;
    height: 400px;
    height: 25rem;
}

.mr-experiences-description-wrap {
    min-height: 114px;
    min-height: 7.125rem;
    padding: 19px 32px;
    padding: 1.1875rem 2rem;
    background-color: #ffffff;
}

@media only screen and (max-width: 991px) {
    .mr-experiences-description-wrap {
        padding: 1rem;
    }
}

.mr-experinces-title {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 0.92;
    text-align: left;
    color: #323232;
    padding-bottom: 10px;
    padding-bottom: 0.625rem;
    font-weight: bold;
    flex:1;
}

@media only screen and (max-width: 767px) {
    .mr-experinces-title {
        padding-bottom: 0.3rem;
         flex: 1;
    }
}

.mr-experinces-details-location {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    text-align: left;
    color: #9b9b9b;
}

.mr-experinces-details-location .conceirge-local {
    font-size: 12px;
    font-size: 0.75rem;
}

.mr-experinces-details-wrap,
.mr-experinces-Button-wrap {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.experience-button-styles {
    float: right;
}

@media only screen and (max-width: 767px) {
    .experience-button-styles {
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .experience-button-styles {
        padding: 0 0.3rem;
    }
}

