.local-city-card-wrap {
    background-color: #fafafa;
    height: auto;
    display:flex;
}
.local-area-filter .selectboxit-arrow-container{right: -8px}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .local-city-card-wrap {
        height: auto ;
        display:flex;
    }
}

.local-city-card-wrap .local-city-image-cont {
    width: 40%;
    display: inline-block;
    height:auto;
    background:#ccc;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .local-city-card-wrap .local-city-image-cont {
        width: 33%;
    }
}

.local-city-card-wrap .local-city-image-cont img {
    height: 100%;
    width: 100%;
}

.local-city-card-wrap .local-city-details-cont {
    width: 59%;
    float: right;
    display: inline-block;
    padding: 5px 15px 18px;
    padding: 0.3125rem 0.9375rem 1.125rem;
    font-family: Calibri;
    color: #4a4a4a;
}

@media only screen and (min-width: 992px) {
    .local-city-card-wrap .local-city-details-cont {
        padding: 0.9375rem 0.9375rem 1.125rem;
    }
}

@media only screen and (max-width: 991px) {
    .local-city-card-wrap .local-city-details-cont {
        padding-top: 0;
        margin-top: 0.9375rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .local-city-card-wrap .local-city-details-cont {
        width: 65%;
        margin-top: 2rem;
    }
}

.local-city-card-wrap .local-city-details-cont .loc-city-header {
    font-size: 22px;
    font-size: 1.375rem;
}

@media only screen and (max-width: 991px) {
    .local-city-card-wrap .local-city-details-cont .loc-city-header {
        line-height: 0.83;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .local-city-card-wrap .local-city-details-cont .loc-city-header {
        font-size: 22px;
    }
}

.local-city-card-wrap .local-city-details-cont .loc-city-location {
    font-size: 16px;
    font-size: 1rem;
    color: #9b9b9b;
    display: table;
}

@media only screen and (max-width: 767px) {
    .local-city-card-wrap .local-city-details-cont .loc-city-location {
        font-size: 0.875rem;
        line-height: normal;
        display: table;
        width: 100%;
        margin-top: 0.3125rem;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .local-city-card-wrap .local-city-details-cont .loc-city-location {
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .local-city-card-wrap .local-city-details-cont .loc-city-location {
        font-size: 20px;
        margin-top: 0.9375rem;
    }
}

.local-city-card-wrap .local-city-details-cont .loc-city-location img {
    display: table-cell;
    vertical-align: middle;
}

.local-city-card-wrap .local-city-details-cont .loc-city-location div {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .local-city-card-wrap .local-city-details-cont .loc-city-location div {
        width: 95%;
    }
}

.local-city-card-wrap .local-city-details-cont .loc-city-contact {
    font-size: 14px;
    font-size: 0.875rem;
    color: #9b9b9b;
    margin-top: 5px;
    margin-top: 0.3125rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .local-city-card-wrap .local-city-details-cont .loc-city-contact {
        font-size: 20px;
        margin-top: 0.625rem;
    }
}

.local-city-card-wrap .local-city-details-cont .loc-city-time-activity-cont {
    margin-top: 14px;
    margin-top: 0.875rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .local-city-card-wrap .local-city-details-cont .loc-city-time-activity-cont {
        margin-top: 0;
    }
}

.local-city-card-wrap .local-city-details-cont .loc-city-time-activity-cont .loc-city-time {
    display: inline;
    color: #979797;
    font-size: 14px;
    font-size: 0.875rem;
}

@media only screen and (max-width: 991px) {
    .local-city-card-wrap .local-city-details-cont .loc-city-time-activity-cont .loc-city-time {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .local-city-card-wrap .local-city-details-cont .loc-city-time-activity-cont .loc-city-activity {
        display: inline;
        vertical-align: text-bottom;
    }
}

.mr-experinces-Button-wrap.local-city-card {
    width: 65%;
    float: right;
}

@media only screen and (max-width: 450px) {
    .mr-experinces-Button-wrap.local-city-card {
        width: 73%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mr-experinces-Button-wrap.local-city-card .experience-button-styles {
        margin-right: 2rem;
        padding: 0 0.875rem;
    }
}
@media only screen and (max-width: 991px) {
 .loc-city-location span.ho-location-icon.ho-cm-icon.inline-block.icon-location{
 vertical-align: middle;
}
}

.markerLabelsNoData {
    display: none !important;
}

.markerlabels {
	z-index: 1;
}
