@rem: 16rem;
.ihcl-theme .ihclcb-corporate-book-stay.ihclcb-book-a-stay-cont {
    border-radius: 4px;
    background-color: rgba(62, 69, 79, 0.56);
    padding: 10px;
    //display: flex;
    //flex-wrap: wrap;
    //max-width: 760/@rem;
    @media only screen and (max-width: 767px) {
        width: 100%;
        padding: 14px 10px;
        .ihclcb-mob-wid-100 {
            width: 100%;
        }
    }
          
    .selectSubContainer {
        width: 100%;
        border-bottom: 0;
    }
    
    .ihclcb-drpdwn-arw {
        position: relative;
        &::after {    
            content: "";
            display: inline-block;     
            border-top: 4px dashed #545452;
            opacity: 0.7;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            position: absolute;
            right: 0;
            top: 10px;
        }
    }
    
    .ihclcb-book-stay-btn {
        height: 83/@rem !important;
        width: 50%;
        display: flex;
        align-items: center;
        border-radius: 4/@rem;
        @media only screen and (max-width: 767px) {
            border-radius: 4px;
            height: 3rem !important;
            width: 100%;
            margin: 0 3px;
        }
    }
    
    .ihclcb-guest-img {
        margin-right: 14/@rem;
    }
    
    .search-and-suggestions-wrapper .suggestions-wrap {
        top: 22px;
        @media only screen and (max-width: 767px) {
            position: absolute;
            top: calc(~'100% + 20px');
        }
        &::after {
            content: '';
            position: absolute;
            top: -6px;
            left: 0;
            right: 0;
            margin: auto;
            border-bottom: 15px solid #ffffff;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            width: 5px;
        }
        .suggestions-container {
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 8px 72px 0 rgba(1, 4, 6, 0.32);
        }
        .trending-search-text {
            color: #0a6dad;
            @media only screen and (max-width: 767px) {
                font-size: 14/@rem;
            }
        }
        .suggestions-container .search-suggestions-container .trending-search {
            .trending-searches-in-taj .individual-trends {        
                color: #000000;
                font-size: 18/@rem;
                padding: 10/@rem 64/@rem;
                @media only screen and (max-width: 767px) {
                    font-size: 14/@rem;
                }
            }
            .destination-hotel-icon {
                width: 18/@rem;
                height: 18/@rem;
            }
        }
    }   
    
    #booking-search .search-and-suggestions-wrapper {
        z-index: 1;
    }
        
    .ihclcb-show {
        display: block !important;
    }
    
    input::placeholder {
        color: rgba(53, 59, 68, 0.4);
    }
    
    .ihclcb-wid-100 {
        width: 100%;
        @media only screen and (max-width: 767px) {
            width: calc(~'100% - 6px');
         }
    }
    
    
    .ihclcb-pad-lft-0 {
        padding-left: 0;
        padding-right: 0;
        .ihclcb-search-icon {
            left: 16/@rem;
            @media only screen and (max-width: 767px) {
                left: 0.6rem; 
             }
        }
        & > label {
            padding-left: 50/@rem;
            @media only screen and (max-width: 767px) {
               padding-left: 35/@rem   
            }
        }
    }
    
    .ihclcb-checkbox-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20/@rem;
        width: 50%;
        @media only screen and (max-width: 767px) {
            border-radius: 4px;
            margin-bottom: 8px;
            width: 100%;    
            padding: 15/@rem;
            margin: 0 3px 0 8px;
        }
    
        .mr-filter-checkbox + span.mr-inputCustomShape {
            background-color: transparent;
            border-color: #ffffff;
            border-radius: 3px;
        }
       
        .mr-filterCheckBox-label {
            margin: 0;
        }
        
        input[type="checkbox"].mr-filter-checkbox:checked + span.mr-inputCustomShape {
            background-color: var(--primaryColor);
            border-color: transparent;
            &:after {
                color: #ffffff;      
            }          
        }
    
        .ihclcb-checkbox-label-text {
            font-family: "Calibri-bold";
            font-size: 16/@rem;           
            line-height: 1.5;
            color: #ffffff !important;
        }
    }
    
    .ihclcb-daterange-cont {
     //   width: 66.66%;
        @media only screen and (max-width: 767px) {
            width: 100%;
        }
        .ihclcb-book-a-stay-inner-wrp {
            width: 50%;   
            @media only screen and (max-width: 767px) {
                width: calc(~'50% - 6px');
            }
        }
        .bas-calander-container {
            position: relative;
            width: 100%;
        }
//      datepicker styles
        
      .datepicker.datepicker-dropdown {
          width: 300/@rem !important;
          padding: 10/@rem;
          z-index: 1 !important;
          background-color: #ffffff;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
          border: solid 1px #e8e8e8;
          top: 6px !important;
          &:before {              
              left: 0;
              right: 0;
              margin: auto;
              width: 5px;
              border-bottom-color: #ffffff;
          }   
          &:after {
              display: none;
          }
          @media only screen and (max-width: 767px) {
              width: 280/@rem !important;
              left: 0 !important;
              top: 0 !important;
              right: 0;
              margin: auto;
              &:before {
                  border-bottom-color: #fff;
              }
          }
      }
      
      .datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
          background-color: #f3f3f3;
          background-image: none;
      }
      .datepicker table tr td.selected, .datepicker table tr td.selected:hover, .datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover,
      .datepicker table tr td.active,
      .datepicker table tr td.active:hover,
      .datepicker table tr td.active.disabled,
      .datepicker table tr td.active.disabled:hover{
          background: rgba(11, 90, 140, 0.2);
          color: #000000;
      }
      .datepicker td, .datepicker th {
          font-family: "Calibri";
          height: 35/@rem;
          font-size: 12px;
      }
      .datepicker th {
          font-family: "Calibri-bold";
          font-size: 14/@rem;
      }
      .datepicker table tr td.range, .datepicker table tr td.range:hover, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover {
          background: rgba(11, 90, 140, 0.05);
      }
      .datepicker th.dow {
          font-family: "Calibri";          
          font-weight: normal;
          color: transparent;
          border-top: 1px solid rgba(0, 0, 0, 0.05);
          border-bottom: 1px solid rgba(0, 0, 0, 0.05);
          &::first-letter {
              color: #999999;
          }
      }
      .datepicker.datepicker-dropdown .icon-prev-arrow::before {
          color: #999999;
      }
      
//      datepicker style ends
    }
    
    .entity-dropdown-cnt-cont {
        position: relative;
        width: 100%;
    }
    
    .entity-dropdown-container {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 8px 72px 0 rgba(1, 4, 6, 0.32);
        border-radius: 2px;
        background-color: #ffffff;
        position: absolute;       
        padding: 10/@rem 20/@rem;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: none;
        &::after {
            content: '';
            position: absolute;
            top: -6px;
            left: 0;
            right: 0;
            margin: auto;
            border-bottom: 15px solid #ffffff;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            width: 5px;
        }
        &.entity-type-dropdown::after {
            margin: 0;
            left: 10%;
        }
        
        @media only screen and (min-width: 768px) {
            &.entity-city-dropdown::after {
                left: 33%;
                right: auto;
            }
            &.entity-name-dropdown::after, &.gstin-dropdown::after, &.iata-dropdown::after  {
                left: auto;
                right: 35%;
            }
            &.gstin-dropdown::after, &.iata-dropdown::after {
                right: 10%;
            }
        }
        @media only screen and (max-width: 767px) {
            &.entity-city-dropdown, &.entity-type-dropdown {
                top: -80px;
            }
           /* &.gstin-dropdown {
                top: -80px;               
            }*/
            &.entity-city-dropdown::after, &.gstin-dropdown::after {
                margin: 0;
                left: auto;
                right: 10%;
            }   
            &.entity-name-dropdown::after {
                 margin: 0;
                left: 10%;
            }
        }
        .entity-result-cont {
            overflow: auto;
            max-height: 20rem;
        }
    
            .entity-explore-heading {
                margin: 1rem 0;
            }
            
            .entity-category-title {
                font-family: "Calibri-bold";
                font-size: 14/@rem;               
                line-height: 1;
                letter-spacing: 1px;
                text-align: left;
                color: #0a6dad;
                text-transform: uppercase;
            }
            
            .entity-dropdown-icon {
                margin-right: 16/@rem;
                width: 12/@rem;
                height: 17/@rem;
            }
            
            .individual-entity-result {
                font-family: Calibri;         
                font-size: 16/@rem;               
                text-align: left;
                color: #323232;
                padding: 0.5rem 32/@rem;     
                cursor: pointer;
                display: block;
                &:hover {
                    background-color: var(--primaryColorLighter);
                }
                @media only screen and (max-width: 767px) {
                    padding: 0.5rem 25/@rem;
                    font-size: 14/@rem;
                }
            }
        
    }
    .show-dropdown {
        display: block;
    }
    
    .ihclcb-book-a-stay-dropdwn-cont {
        display: flex;
        @media only screen and (max-width: 767px) {
            flex-wrap: wrap;        
        }
        .ihclcb-book-a-stay-inner-wrp {
            @media only screen and (min-width: 992px) {
                width: 240/@rem;
            }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                width: 230/@rem;
            }
        }
        .input-group {
            @media only screen and (min-width: 768px) {
                width: auto;
            }
        }
    } 
    @media only screen and (min-width: 768px) {  
        .ihclcb-book-a-stay-cal-cont {
            background-color: #fff;
            margin-bottom: 8px;
            .ihclcb-book-a-stay-inner-wrp {
                margin-bottom: 0;
            }
        }
    }
}

.ihcl-theme .ihclcb-corporate-book-stay .ihclcb-book-a-stay-inner-wrp {
    padding: 16/@rem 15/@rem 16/@rem 50/@rem;
    position: relative;
    background-color: #ffffff;
    //width: 33.33%;
    width: 240/@rem;
    margin-bottom: 8px;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        width: 230/@rem;
    }
    @media only screen and (max-width: 767px) {
        width: calc(~'50% - 6px');
        padding: 10/@rem 10/@rem 10/@rem 35/@rem;
        border-radius: 3px;
        margin: 0 3px 8px;
    }
    
    .ihclcb-guest-data-cont {
        line-height: 1.5;
    }

    & > label {
        font-family: "Calibri";
        font-size: 16/@rem;
        color: #0a6dad;
        @media only screen and (max-width: 767px) {
            font-size: 12px;
        }
    }

    .ihclcb-search-icon {
        position: absolute;
        left: -30/@rem;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 20/@rem;
        height: 20/@rem;
        object-fit: contain;
        @media only screen and (max-width: 767px) {
            left: -25/@rem;
            height: 1rem;
            width: 1rem;
        }
    }  
//    search bar style change
    .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input {
        box-shadow: none;
        padding-left: 50/@rem;   
        height: 35/@rem;
        background: none !important;
        font-size: 18/@rem;
        &::placeholder {
            background: none !important;
            color: rgba(53, 59, 68, 0.4) !important;
            font-size: 18/@rem;
        }
        @media only screen and (max-width: 767px) {
            padding-left: 35/@rem;
            font-size: 14/@rem;
            height: 1.8rem;
            &::placeholder {
                font-size: 14/@rem;
            }
        }
    }
    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap {
        border-left: 0 !important;
    }
//  search bar style change ends
        

    .ihclcb-selected-data-cont {
        position: relative;
        line-height: 1.5;                              
       
        .ihclcb-selected-data {
            border: 0;
            font-family: "Calibri";
            font-size: 18/@rem;         
            color: #000000 !important;
            width: 100%;
            font-weight: normal;
            padding-right: 0;
            text-align: left;
            outline: none;
            cursor: pointer;
        
            @media only screen and (max-width: 767px) {
                font-size: 14/@rem !important;
            }
        }       
    }
    
}



.ihcl-theme .ihclcb-dropdown-wrp {
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    width: 100%;
}

.ihcl-theme .ihclcb-guest-dropdown-cont {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 8px 72px 0 rgba(1, 4, 6, 0.32);
    position: absolute;
    right: 0;
    top: calc(~'100% + 1.5rem');
    z-index: 1;
    width: 270px;
    display: none;
    @media only screen and (max-width: 767px) {
        top: calc(~'100% + 1.1rem');
        left: 0;
        margin: auto;
    }
    @media only screen and (max-width: 350px) {
        left: -20px;
        right: auto;
    }
    &::after {
        content: '';
        position: absolute;
        top: -7px;
        left: 10%;
        right: 0;
        margin: auto;
        border-bottom: 15px solid #ffffff;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        width: 5px;
        @media only screen and (max-width: 767px) {
            left: 0;
        }
    }   

    .person-label{
        font-family: Calibri;
        font-size: 16/@rem;
        color: #002b49;   
        margin-bottom: 12/@rem;
    }
    .bas-adult-no-container {
        margin-bottom: 15/@rem;
        .input-group {
            align-items: center;
        }
    }
    
    .ihclcb-bas-room-details {
        background-color: rgba(0,0,0,0.06);
        padding: 10/@rem 15/@rem;
    }
    .ihclcb-bas-room-details-container {
        position: relative;
    }
    
    .ihclcb-bas-room-delete-close {
          position: absolute;
    bottom: 50%;
    width: 20px;
    cursor: pointer;
        top: 22/@rem;
        right: 15/@rem;
    }
    .ihclcb-bas-add-room {
        position: absolute;
        top: 99%;
        font-family: "Calibri-bold";
        font-size: 16/@rem;
        color: #002b49;
        padding: 10/@rem;
        width: 100%;
        background-color: #ffffff;
        z-index: 1;
        box-shadow: 3px 7px 18px 3px rgba(0,0,0,0.16);
        button {
            padding: 10/@rem;
            width: 100%;
            border-radius: 4px;
            border: solid 2px #06456e;
            text-align: center;
        }
        .addroom {
            display: inline-block;            
        }
    }
    
    .ihclcb-bas-room-no {
        font-family: "Calibri-bold";
        font-size: 16/@rem;
        color: #002b49;
        padding: 18/@rem;
        border-bottom: solid 1px #e8e8e8;
        position: relative;
        .guestCount {
            font-family: "Calibri";
            color: #4c4c4c;
        }
        &::after {
            font-family: 'icomoon';
            content: "\e928";
            color: #2985c0;
            position: absolute;
            left: 60%;
            top: 22/@rem;
            transition: all ease 0.3s;
            font-size: 10px;
            @media only screen and (max-width: 767px) {
                left: 65%;
            }
        }
        &.bas-active::after {
            transform: rotate(180deg);
        }
        
        .icon-close::before {
            content: "\e91e";
            color: #e02020 !important;
            font-size: 18/@rem;
        }
    }
    .ihclcb-bas-no-of-adults .input-group:after {
        padding: 0;
        border: 0;
    }
    
    .form-control {
        border: 0;
        background: transparent;
    }
    .input-group-btn {
        margin: 0 5px;
        .ihclcb-guest-inc, .ihclcb-guest-dec {
            border: 1px solid var(--primaryColor);
            background-color: #ffffff;
            width: 25px;
            height: 25px;
            padding: 0px;
        }
        .ihclcb-guest-inc:hover, .ihclcb-guest-dec:hover {
            background-color: var(--primaryColor);
            color: #ffffff !important;            
        }
    }    
}


