<sly
	data-sly-use.jivaSpaProperties="com.ihcl.core.models.jivaspa.JivaSpaTreatmentFetcherService" />
<div >
	<sly data-sly-test="${jivaSpaProperties.getSignatureExperienceSpaBean}">
	<div class="cm-content-blocks">
		<div class="cm-header-label-con title-decorator-border">

			<h2 class="cm-header-label">Signature Experiences</h2>
		</div>
		<div class="jiva-spa-show-more-con">
			<div class="row"
				data-sly-list.jivaSpaTreatments="${jivaSpaProperties.getSignatureExperienceSpaBean}">
				<!--  <sly
				data-sly-resource="${ '{0}' @ format=[jivaSpaTreatments.treatmentPath], resourceType='tajhotels/components/content/jiva-spa-card'}"></sly>
            -->
				<sly data-sly-use.jivaDescriptionLib="jiva-spa-card-template.html" />
				<sly data-sly-unwrap
					data-sly-call="${jivaDescriptionLib.jivaDescription @ jivaProperties=jivaSpaTreatments}" />
			</div>
		</div>
	</div>
	</sly>


	<sly data-sly-test="${jivaSpaProperties.getIndianTherapySpaBean}">
	<div class="cm-content-blocks">
		<div class="cm-content-blocks"></div>
		<div class="cm-header-label-con title-decorator-border">
			<h2 class="cm-header-label">Indian Therapies</h2>
		</div>
		<div class="jiva-spa-show-more-con">
			<div class="row"
				data-sly-list.jivaSpaTreatments="${jivaSpaProperties.getIndianTherapySpaBean}">
				<sly data-sly-use.jivaDescriptionLib="jiva-spa-card-template.html" />
				<sly data-sly-unwrap
					data-sly-call="${jivaDescriptionLib.jivaDescription @ jivaProperties=jivaSpaTreatments}" />
			</div>
		</div>
	</div>
	</sly>

	<sly data-sly-test="${jivaSpaProperties.getSpaIndulgenceSpaBean}">
	<div class="cm-content-blocks">
		<div class="cm-header-label-con title-decorator-border">
			<h2 class="cm-header-label">Spa Indulgences</h2>
		</div>
		<div class="jiva-spa-show-more-con">
			<div class="row"
				data-sly-list.jivaSpaTreatments="${jivaSpaProperties.getSpaIndulgenceSpaBean}">
				<sly data-sly-use.jivaDescriptionLib="jiva-spa-card-template.html" />
				<sly data-sly-unwrap
					data-sly-call="${jivaDescriptionLib.jivaDescription @ jivaProperties=jivaSpaTreatments}" />
			</div>
		</div>
	</div>
	</sly>
	<sly data-sly-test="${jivaSpaProperties.getBodyScrubSpaBean}">
	<div class="cm-content-blocks">
		<div class="cm-header-label-con title-decorator-border">
			<h2 class="cm-header-label">Body Scrubs and Wraps</h2>
		</div>
		<div class="jiva-spa-show-more-con">
			<div class="row"
				data-sly-list.jivaSpaTreatments="${jivaSpaProperties.getBodyScrubSpaBean}">
				<sly data-sly-use.jivaDescriptionLib="jiva-spa-card-template.html" />
				<sly data-sly-unwrap
					data-sly-call="${jivaDescriptionLib.jivaDescription @ jivaProperties=jivaSpaTreatments}" />
			</div>
		</div>
	</div>
	</sly>

	<sly data-sly-test="${jivaSpaProperties.getAyurvedaTherapySpaBean}">
	<div class="cm-content-blocks">
		<div class="cm-header-label-con title-decorator-border">
			<h2 class="cm-header-label">Ayurveda Therapies</h2>
		</div>
		<div class="jiva-spa-show-more-con">
			<div class="row"
				data-sly-list.jivaSpaTreatments="${jivaSpaProperties.getAyurvedaTherapySpaBean}">
				<sly data-sly-use.jivaDescriptionLib="jiva-spa-card-template.html" />
				<sly data-sly-unwrap
					data-sly-call="${jivaDescriptionLib.jivaDescription @ jivaProperties=jivaSpaTreatments}" />
			</div>
		</div>
	</div>
	</sly>


	<sly data-sly-test="${jivaSpaProperties.getMeditationSpaBean}">
	<div class="cm-content-blocks">
		<div class="cm-header-label-con title-decorator-border">
			<h2 class="cm-header-label">Yoga & Meditation</h2>
		</div>
		<div class="jiva-spa-show-more-con">
			<div class="row"
				data-sly-list.jivaSpaTreatments="${jivaSpaProperties.getMeditationSpaBean}">
				<sly data-sly-use.jivaDescriptionLib="jiva-spa-card-template.html" />
				<sly data-sly-unwrap
					data-sly-call="${jivaDescriptionLib.jivaDescription @ jivaProperties=jivaSpaTreatments}" />
			</div>
		</div>
	</div>
	</sly>

	<sly data-sly-test="${jivaSpaProperties.getBeautySpaBean}">
	<div class="cm-content-blocks">
		<div class="cm-header-label-con title-decorator-border">
			<h2 class="cm-header-label">Beauty</h2>
		</div>
		<div class="jiva-spa-show-more-con">
			<div class="row"
				data-sly-list.jivaSpaTreatments="${jivaSpaProperties.getBeautySpaBean}">
				<sly data-sly-use.jivaDescriptionLib="jiva-spa-card-template.html" />
				<sly data-sly-unwrap
					data-sly-call="${jivaDescriptionLib.jivaDescription @ jivaProperties=jivaSpaTreatments}" />
			</div>
		</div>
	</div>
	</sly>

	<sly data-sly-test="${jivaSpaProperties.getAromaTherapySpaBean}">
	<div class="cm-content-blocks">
		<div class="cm-header-label-con title-decorator-border">
			<h2 class="cm-header-label">Indian Aroma Therapy</h2>
		</div>
		<div class="jiva-spa-show-more-con">
			<div class="row"
				data-sly-list.jivaSpaTreatments="${jivaSpaProperties.getAromaTherapySpaBean}">

				<sly data-sly-use.jivaDescriptionLib="jiva-spa-card-template.html" />
				<sly data-sly-unwrap
					data-sly-call="${jivaDescriptionLib.jivaDescription @ jivaProperties=jivaSpaTreatments}" />
			</div>

		</div>
	</div>
	</sly>

	<sly data-sly-test="${jivaSpaProperties.getTraditionalBathSpaBean}">
	<div class="cm-content-blocks">
		<div class="cm-header-label-con title-decorator-border">
			<h2 class="cm-header-label">Araditional Bhutanese Bath</h2>
		</div>
		<div class="jiva-spa-show-more-con">
			<div class="row"
				data-sly-list.jivaSpaTreatments="${jivaSpaProperties.getTraditionalBathSpaBean}">
				<sly data-sly-use.jivaDescriptionLib="jiva-spa-card-template.html" />
				<sly data-sly-unwrap
					data-sly-call="${jivaDescriptionLib.jivaDescription @ jivaProperties=jivaSpaTreatments}" />
			</div>
		</div>
	</div>
	</sly>
    
    <sly data-sly-test="${jivaSpaProperties.getKidsRetreatSpaBean}">
    <div class="cm-content-blocks">
        <div class="cm-header-label-con title-decorator-border">
            <h2 class="cm-header-label">Kids Retreat</h2>
        </div>
        <div class="jiva-spa-show-more-con">
            <div class="row"
                data-sly-list.jivaSpaTreatments="${jivaSpaProperties.getKidsRetreatSpaBean}">
                <sly data-sly-use.jivaDescriptionLib="jiva-spa-card-template.html" />
                <sly data-sly-unwrap
                    data-sly-call="${jivaDescriptionLib.jivaDescription @ jivaProperties=jivaSpaTreatments}" />
            </div>
        </div>
    </div>
    </sly>

</div>
