<template data-sly-template.jivaDescription="${@jivaProperties}">

<sly
        data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher" />
        
<div
    class="jiva-spa-card-container col-lg-4 col-md-6 col-sm-12 cm-card-showmore-spacing"
    data-sly-use.jivaSpaModel="${'com.ihcl.core.models.jivaspa.JivaSpaListModel' @ componentPath=jivaProperties.treatmentPath}">
	<sly data-sly-test.bookingPath="${inheritedPageProperties.siteConfigContentPath}/en-in/jiva-spa/jiva-spa-booking.html?jivaSpaName=" />
    <sly data-sly-use.urlMap="${'url-map.js' @ reqUrl=bookingPath}" />
    <sly
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='taj.hotels.components.jiva-spa-card,tajhotels.jivaspa,tajhotels.jivaspabooking,
         tajhotels.structure.page.tajhotels-base-page,tajhotels.gallerycarousel'}" />
    <div class="jiva-spa-card-con">
        <div class="jiva-spa-child-con">
            <div class="jiva-spa-img-con" data-sly-test.draggedPathImage="${jivaSpaModel.draggedImagePath}">
                        <img
                                src="${draggedPathImage @context='html'}" alt = "jiva spa images">
            </div>
            <div class="jiva-spa-img-con" data-sly-test="${!draggedPathImage}">
                <sly data-sly-list.imagePath="${jivaSpaModel.galleryImagePaths.toString}">
                    <sly data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=imagePath}" data-sly-list="${firstImage.options}">
                        <img
                                src="${item @context='html'}" alt = "jiva spa images">
                    </sly>
                </sly>
            </div>
            <div class="jiva-spa-details-con">
                <div class="jiva-spa-details">
                    <h3 class="jiva-spa-heading">${jivaSpaModel.spaName}</h3>
                    <div class="jiva-spa-card-desc">${jivaSpaModel.spaShortDescription}</div>
                </div>
                <div class="jiva-spa-rates-con">
                    <div class="jiva-spa-card-duration" data-sly-test="${jivaProperties.treatmentDuration}">Duration -
                       <span class="spa-duration"> ${jivaProperties.treatmentDuration}</span></div>
                    <div class="jiva-spa-cards-btn-con">
                    <sly data-sly-test.isTreatmentAmount="${jivaProperties.treatmentAmount}">
                        <div class="jiva-spa-rate">
                            <span class="jiva-spa-rate-currency-symbol">${jivaProperties.treatmentCurrency}</span> <span class="jiva-spa-rate-value spaAmount">${jivaProperties.treatmentAmount}</span><span>*</span>
                        </div>
                        </sly>
                        <button class="cm-btn-secondary jiva-spa-view-details-btn"
                            data-spa-id=${jivaSpaModel.spaId} data-dialog-btn = "jivaSpaCard" onclick="jivaSpaClickHandler(this)">VIEW
                            DETAILS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-carousel-container">
        <div
            data-sly-resource="${ '{0}' @  resourceType='tajhotels/components/content/gallery-carousel' }"></div>
    </div>
    <!-- Details part -->
    <div id=${jivaSpaModel.spaId}>
        <div class="jiva-spa-card-details-wrap dummy-class" data-dialog-modal = "jivaSpaCard">
            <!-- <div data-sly-test.spaName=${jivaSpaModel.spaName}> -->
            <div class="jiva-spa-card-details-con">
                <div class="jiva-spa-details-close">
                    <span class="icon-close" tabindex = "0" data-dialog-close = "jivaSpaCard"></span>
                </div>
                <div class="jiva-spa-details-desc-con">
                    <div class="jiva-spa-details-heading">${jivaSpaModel.spaName}</div>
                    <div class="ho-map-link" >
                        <a class="inline-block ho-hotel-location-link" target="_blank"
                            href="https://www.google.com/maps/search/?api=1&query=${hotelProperties.hotelLatitude},${hotelProperties.hotelLongitude}">
                            <span class="icon-location ho-location-icon ho-cm-icon inline-block"></span>
                            <span
                            class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt"><span
                                >${hotelProperties.hotelArea}</span>,<span
                                >${hotelProperties.hotelCity}</span>,<span
                                >${hotelProperties.hotelPinCode}</span></span></a>
                    </div>
                    <div class="jiva-spa-details-desc">${jivaSpaModel.spaLongDescription}</div>
                    <div class="jiva-spa-details-recom-con">
                        <div data-sly-test.spaRecommend=${jivaSpaModel.spaRecommendedFor}>
                            <div class="jiva-spa-recom-heading">Recommended for</div>
                            <div class="jiva-spa-recom-details">
                                <div>${jivaSpaModel.spaRecommendedFor}</div>
                                <div>Duration - <span class="spa-duration">${jivaProperties.treatmentDuration}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="jiva-spa-mobile-photo-gallery">
                        <div class="jiva-spa-mobile-photo-con clearfix">
                            <div class="jiva-spa-details-img-con">
                            
                            	<sly data-sly-test.draggedPathImage="${jivaSpaModel.draggedImagePath}">
				                        <img
				                                src="${draggedPathImage @context='html'}" alt = "jiva spa mobile images">
				            	</sly>
                            
                            	<sly data-sly-test="${!draggedPathImage}">
	                                <sly data-sly-list.imagePath="${jivaSpaModel.galleryImagePaths.toString}">
	                                    <sly data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=imagePath}" data-sly-list="${firstImage.options}">
	                                        <img src="${item}">
	                                    </sly>
	                                </sly>
                                </sly>

                                <div class="jiva-spa-details-view-photos-con"
                                    data-gallery-images=${jivaSpaModel.galleryImagePaths.toString}
                                    onclick="showGallery(this)">
                                    <img
                                        src="/content/dam/tajhotels/icons/style-icons/lightbox.svg" alt  = "lightbox-icon">
                                    <span>VIEW PHOTOS (${jivaSpaModel.numberOfImages})</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="jiva-spa-details-price-con jiva-spa-details-price-con-aem">
                        <div class="jiva-spa-details-price">
                            <div
                                data-sly-test.spaBookAppointment=${jivaProperties.treatmentAmount}>
                                <div>
                                    <span class="spaCurr">${jivaProperties.treatmentCurrency}</span> <span class="spaAmount">${jivaProperties.treatmentAmount}</span><span>*</span>
                                </div>
                            </div>
                        </div>
                        <div data-sly-test.spaName=${jivaSpaModel.spaName}>
                           <!--  <a href="${urlMap.mappedUrl}${jivaSpaModel.spaName}"> -->
                                <button onClick="goToBookingPage('${urlMap.mappedUrl @ context='text'}${jivaSpaModel.spaName @ context='text'}')" class="cm-btn-secondary jiva-spa-details-book-btn" >BOOK
                                    AN APPOINTMENT</button> 
                           <!--  </a> -->
                        </div>
                    </div>
                </div>
                <div class="jiva-spa-details-img-con hide-in-sm">
                
                	<sly data-sly-test.draggedPathImage="${jivaSpaModel.draggedImagePath}">
	                        <img
	                                src="${draggedPathImage @context='html'}" alt = "jiva spa images">
	            	</sly>
                
                	<sly data-sly-test="${!draggedPathImage}">
	                    <sly data-sly-list.imagePath="${jivaSpaModel.galleryImagePaths.toString}">
	                        <sly data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=imagePath}" data-sly-list="${firstImage.options}">
	                            <img src="${item}">
	                        </sly>
	                    </sly>
                    </sly>

                    <div class="jiva-spa-details-view-photos-con"
                        data-gallery-images=${jivaSpaModel.galleryImagePaths.toString}
                        onclick="showGallery(this)">
                        <img src="/content/dam/tajhotels/icons/style-icons/lightbox.svg" alt  = "lightbox-icon">
                        <span>VIEW PHOTOS (${jivaSpaModel.numberOfImages})</span>
                    </div>
                </div>
            </div>
             <span class="hotel-name" hidden>${hotelProperties.name}</span>
                <span class="hotel-city" hidden>${hotelProperties.hotelCity}</span>
                <span class="hotel-email-id" hidden>${hotelProperties.hotelEmail}</span>
                <span class="jiva-spa-email-id" hidden>${hotelProperties.jivaSpaEmail}</span>
                <span class="request-quote-email-id" hidden>${hotelProperties.requestQuoteEmail}</span>
        </div>
    </div>
</div>
</template>
