<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"> <sly
    data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.destinations'}" />

<div class="destinations-container ${properties.backgroundColor @ context = 'styleString'} pageStrip">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 data-sly-element="${properties.type}" class="text-title">${properties.destinationHeading}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <sly data-sly-list.list='${resource.children}'> <sly data-sly-test="${list.name == 'destinations'}">
                <div id="${list.name}" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <sly data-sly-list.listItem='${list.children}'>
                        <li data-target="#${list.name}" data-slide-to="${listItemList.index}"
                            class="${listItemList.index == 0 ? 'active' : ''}"></li>
                        </sly>
                    </ol>
                    <div class="carousel-inner">
                        <sly data-sly-list.listItem='${list.children}'>
                        <div class="carousel-item destinations-card ${listItemList.index == 0 ? 'active' : ''}">
                            <div class="destinations-img">
                                <!-- <img src="${listItem.imagePath}"> -->
                                <sly
                                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=listItem.imagePath,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>
                            </div>
                            <div class="destinations-card-description">
                                <h3>${listItem.destinationsHeading}</h3>
                                <span> ${listItem.description @ context = "html"} </span>
                                <sly data-sly-test="${listItem.button}"> <a href="${listItem.buttonLink}.html">
                                    <button class="cm-btn-secondary button-view-details">${listItem.button}</button>
                                </a> </sly>
                            </div>
                        </div>
                        </sly>
                    </div>
                    <a class="carousel-control-prev" href="#${list.name}" role="button" data-slide="prev"> <span
                            class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
                    </a> <a class="carousel-control-next" href="#${list.name}" role="button" data-slide="next"> <span
                            class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
                    </a>
                </div>
                </sly> </sly>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script> <script
    src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js'></script>