.ihcl-contact-us-form .contact-us.mr-sub-form {
    padding: 45px;
    padding: 2.8125rem;
    background-color: #fefefe;
    box-shadow: 0 7px 14px 0 #e5e3e3;
}

@media screen and (max-width: 991px) {
    .ihcl-contact-us-form .contact-us.mr-sub-form {
        padding: 2.1875rem 1.25rem;
    }
}

.ihcl-contact-us-form .contact-us.mr-sub-form .sub-form-input-wrp {
    margin-bottom: 36px;
    margin-bottom: 2.25rem;
}

.ihcl-contact-us-form .contact-us.mr-sub-form .sub-form-text-area {
    height: 186px;
    height: 11.625rem;
    width: 100%;
    border: solid 1px #cdcdcd;
    margin-top: 40px;
    margin-top: 2.5rem;
    outline: none;
}

@media screen and (max-width: 991px) {
    .ihcl-contact-us-form .contact-us.mr-sub-form .sub-form-text-area {
        height: 7.5rem;
    }
}

.ihcl-contact-us-form .contact-us.mr-sub-form .contact-form-left {
    padding-right: 30px;
    padding-right: 1.875rem;
}

@media screen and (max-width: 991px) {
    .ihcl-contact-us-form .contact-us.mr-sub-form .contact-form-left {
        padding-right: 0;
    }
}

.ihcl-contact-us-form .contact-us.mr-sub-form .contact-form-right {
    padding-left: 30px;
    padding-left: 1.875rem;
}

@media screen and (max-width: 991px) {
    .ihcl-contact-us-form .contact-us.mr-sub-form .request-quote-submit-wrapper {
        padding-left: 0;
        text-align: center;
    }
}

.ihcl-contact-us-form .contact-us.mr-sub-form .request-quote-submit-wrapper .mandatory-text {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    color: #818b92;
    outline: none;
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
}

@media screen and (max-width: 991px) {
    .ihcl-contact-us-form .contact-us.mr-sub-form .request-quote-submit-wrapper .mandatory-text {
        text-align: left;
    }
}

.ihcl-contact-us-form .hotels-event-confirmation-popup {
    display: none;
}

.ihcl-contact-us-form .hotels-event-confirmation-overlay {
    position: fixed;
}

.ihcl-contact-us-form .request-quote-submit-btn {
    min-width: 121px;
    min-width: 7.5625rem;
}
.taj-air-contact-us-form.ihcl-contact-us-form .contact-us.mr-sub-form .sub-form-text-area{
margin-top:0
}
.taj-air-contact-us-form.ihcl-contact-us-form .clear-btn{
margin-left:1rem;
}