.mr-carousel-wrap {
    position: relative;
    font-family: 'SunSans-Demi';
}

.mr-carousel-wrap img.img-hotel {
    height: 510px;
    height: 31.875rem;
}

.mr-carousel-wrap .banner-carousel-each-wrap {
    height: 510px;
    height: 31.875rem;
}

.mr-carousel-wrap .banner-carousel-each-wrap img {
    min-height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mr-carousel-wrap .banner-carousel-each-wrap {
        height: 36.0625rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-carousel-wrap img.img-hotel {
        height: 25rem;
    }

    .mr-carousel-wrap .banner-carousel-each-wrap {
        height: 25rem;
    }
}

.mr-carousel-wrap .mr-carousel-image-contents-wrapper {
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%);
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .mr-carousel-wrap .mr-carousel-image-contents-wrapper {
        width: 90%;
    }
}

.mr-carousel-wrap .mr-visit-hotel {
    min-width: 140px;
    min-width: 8.75rem;
    box-shadow: 0px 0px 10px 0px #000000;
}

.mr-carousel-wrap .mr-offers-and-promotions {
    text-shadow: 1px 5px 10px #000000;
    font-family: Calibri-bold;
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .mr-carousel-wrap .mr-offers-and-promotions {
        font-size: 1.75rem;
    }
}

.mr-carousel-wrap .mr-horizontal-line {
    width: 30%;
    margin: 16px auto;
    margin: 1rem auto;
    height: 2px;
    height: 0.125rem;
    background-color: #d6bc94;
}

.mr-carousel-wrap .mr-innerCircle-member-offers {
    text-shadow: 1px 5px 10px #000000;
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 16px;
    margin-top: 1rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .mr-carousel-wrap .mr-innerCircle-member-offers {
        font-size: 1.25rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}

.mr-carousel-wrap .mr-save-offer {
    margin: 8px 0px;
    margin: 0.5rem 0rem;
    font-family: SunSans-Demi;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .mr-carousel-wrap .mr-save-offer {
        font-size: 0.875rem;
    }
}

.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}

@media only screen and (max-width: 767px) {
    .carousel-control-next,
  .carousel-control-prev {
        display: none;
    }
}

.carousel-control-next-icon {
    width: 25px;
    width: 1.5625rem;
    height: 45px;
    height: 2.8125rem;
}

.carousel-control-prev-icon {
    width: 25px;
    width: 1.5625rem;
    height: 45px;
    height: 2.8125rem;
}

.mr-carousel-dots {
    display: none;
}

.hotel-carousel-section .carousel-indicators li {
    width: 10px;
    width: 0.625rem;
    height: 10px;
    height: 0.625rem;
    border-radius: 50%;
    margin-left: 5px;
    margin-left: 0.3125rem;
    margin-right: 5px;
    margin-right: 0.3125rem;
    cursor: pointer;
}

.hotel-carousel-section .carousel-item .carousel-caption {
    top: 30%;
}

.hotel-carousel-section .carousel-item .carousel-caption .header {
    margin: 0;
    font-family: TrajanPro;
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.hotel-carousel-section .carousel-item .carousel-caption .description {
    font-family: SunSans;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 70%;
    position: relative;
    left: 15%;
}

.hotel-carousel-section .carousel-item .carousel-caption .btn-view-hotels {
    font-family: SunSans-Demi;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    border-color: var(--primaryColor);
    background-color: var(--primaryColor);
    border-radius: 0;
    padding: 13px 20px;
    padding: 0.8125rem 1.25rem;
    margin-top: 23px;
    margin-top: 1.4375rem;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .hotel-carousel-section .carousel-item .carousel-caption {
        top: 7%;
    }

    .hotel-carousel-section .carousel-item .carousel-caption .header {
        font-size: 1.25rem;
    }

    .hotel-carousel-section .carousel-item .carousel-caption .description {
        font-size: 1rem;
        width: 100%;
        left: 0;
    }

    .hotel-carousel-section .carousel-item .carousel-caption .btn-view-hotels {
        font-size: 0.875rem;
        margin-top: 0.1875rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .hotel-carousel-section .carousel-item .carousel-caption {
        top: 18%;
    }

    .hotel-carousel-section .carousel-item .carousel-caption .header {
        font-size: 1.875rem;
    }

    .hotel-carousel-section .carousel-item .carousel-caption .description {
        font-size: 1.125rem;
        width: 92%;
        left: 3%;
    }

    .hotel-carousel-section .carousel-item .carousel-caption .btn-view-hotels {
        font-size: 1.125rem;
        margin-top: 0.8125rem;
    }
}

.desktop-display-none {
    display: none;
}

.mobile-display-none {
    display: block;
}

@media only screen and (max-width: 767px) {
    .desktop-display-none {
        display: block;
    }

    .mobile-display-none {
        display: none;
    }
}
