<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.all @ categories='tajhotels.holidays-hotel-offer-list'}" />
<div data-sly-test.edit=${wcmmode.edit}>
    <h5>Specific Hotels and corresponding offers are configurable in this section</h5>
</div>
<div class="taj-holidays-tic-offer-container" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <div class="holidays-tic-offer">
        <h5 class="holidays-tic-offer-heading">${properties.offerLabel}</h5>
        <div class="holidays-tic-carousel">
            <div class="clearfix">
                <sly data-sly-use.offerModel="com.ihcl.core.models.holidays.offers.HolidayOfferList">
                    <sly data-sly-list.hotelOfferList=${offerModel.hotelOfferList}>
                        <div class="hotel-offer-hotel-card">
                            <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=hotelOfferList.hotelImagePath, context='html', lazyload='true', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', styleclass='hotel-offer-hotel-image'}" />
                            <div class="hotel-offer-hotel-card-content d-flex flex-column">
                            <div class="hotel-offer-hotel-name">${hotelOfferList.hotelName}</div>
                            <div class="hotel-blackout-date" data-sly-test.hasBlackOutDates="${hotelOfferList.blackOutDateShortString}">
                               <div class="d-flex">
                                   <img class="date-seleted-icon" src="/content/dam/tajhotels/icons/style-icons/calendar-check-availability.svg" alt  = "calendar-check-availability-icon">
                                   <div class="date-seleted-title">Black out dates</div>
                               </div>
                               <div class="date-seleted-value">${hotelOfferList.blackOutDateShortString}</div>
                           	</div>
                            <div class="hotel-offer-inclusions" data-sly-test.hasInclusions="${hotelOfferList.stayDescription || hotelOfferList.restaurantDescription || hotelOfferList.sightSeeingDescription || hotelOfferList.spaDescription || hotelOfferList.convenienceDescription}">
                                <div class="hotel-offer-inclusions-title">Inclusions</div>
                                <div class="hotel-offer-inclusions-list row">
                                    <div class="hotel-offer-inclusions-list-item d-flex col-6" data-sly-test.hasStay="${hotelOfferList.stayDescription}">
                                        <img src="/content/dam/tajhotels/icons/offerinclusionicons/stay.png" alt  = "stay-icon">
                                        <span>Stay</span>                                        
                                    </div>
                                    <div class="hotel-offer-inclusions-list-item d-flex col-6" data-sly-test.hasRestaurant="${hotelOfferList.restaurantDescription}">
                                        <img src="/content/dam/tajhotels/icons/offerinclusionicons/dining.png" alt = "dining-icon">
                                        <span>Restaurant</span>                                        
                                    </div>
                                    <div class="hotel-offer-inclusions-list-item d-flex col-6" data-sly-test.hasSightSeeing="${hotelOfferList.sightSeeingDescription}">
                                        <img src="/content/dam/tajhotels/icons/offerinclusionicons/SIGHTSEEIN.png" alt  = "sightseein-icon">
                                        <span>Sight-Seeing</span>                                        
                                    </div>
                                    <div class="hotel-offer-inclusions-list-item d-flex col-6" data-sly-test.hasSpa="${hotelOfferList.spaDescription}">
                                        <img src="/content/dam/tajhotels/icons/offerinclusionicons/spa.png" alt = "spa-icon">
                                        <span>Spa</span>                                        
                                    </div>
                                    <div class="hotel-offer-inclusions-list-item d-flex col-6" data-sly-test.hasConv="${hotelOfferList.convenienceDescription}">
                                        <img src="/content/dam/tajhotels/icons/offerinclusionicons/Convieniences.png" alt = "Convieniences-icon"> 
                                        <span>Convenience</span>                                        
                                    </div>                                    
                                </div>
                                <div class="hotel-offer-inclusions-show-more">Show More</div>
                            </div>
							<div style="font-family: calibri-italic;" data-sly-test.hasUSP="${hotelOfferList.userSellingText}">
								<span>${hotelOfferList.userSellingText}</span>
							</div>
                                <div class="hotel-offer-rates row d-flex flex-row-reverse">
                                    <sly data-sly-test.hasOfferRateCodeOne=${hotelOfferList.offerRateCodeOne}>
									<div class="hotel-offer-nightly-rates col-6">
										
                                        <div class="hotel-offer-starting-rate-label">Starting Rate/Night</div>
                                        <div class="hotel-offer-starting-rate-label" data-sly-test.hasLabelOne=${properties.offerOneLabel}>(${properties.offerOneLabel})</div>
                                        <div class="hotel-offer-starting-rate-value"><span>${offerModel.currencySymbol}</span>${hotelOfferList.startingRateOne}</div>
                                        <a href="${hotelOfferList.hotelPath}?offerRateCode=${hotelOfferList.offerRateCodeOne}&nights=${hotelOfferList.nightsOne}&from=${properties.offerStartDate}&rooms=1&adults=2&children=0&holidaysOffer=true" target="_blank"><button class="cm-btn-secondary starting-rate-btn">${properties.bookNowLabel}</button></a>
									</div>
									<sly data-sly-test.hasViewDetailsPath=${hotelOfferList.viewDetails}>
									<div class="hotel-offer-nightly-rates d-flex col-6 align-items-end">
                                        <a href="${hotelOfferList.viewDetails}">
										<button class="cm-btn-secondary starting-rate-btn">${properties.viewDetailsLabel}</button>
										</a>
									</div>
									</sly>
                                    </sly>
									<sly data-sly-test.hasViewDetailsPath=${!hotelOfferList.viewDetails}>
                                    <sly data-sly-test.hasOfferRateCodeTwo=${hotelOfferList.offerRateCodeTwo}>
									<div class="hotel-offer-nightly-rates col-6" >  
                                        <div class="hotel-offer-starting-rate-label">Starting Rate/Night</div>
                                        <div class="hotel-offer-starting-rate-label" data-sly-test.hasLabelTwo=${properties.offerTwoLabel}>(${properties.offerTwoLabel})</div>
                                        <div class="hotel-offer-starting-rate-value"><span>${offerModel.currencySymbol}</span>${hotelOfferList.startingRateTwo}</div>
                                        <a href="${hotelOfferList.hotelPath}?offerRateCode=${hotelOfferList.offerRateCodeTwo}&nights=${hotelOfferList.nightsTwo}&from=${properties.offerStartDate}&rooms=1&adults=2&children=0&holidaysOffer=true" target="_blank"><button class="cm-btn-secondary starting-rate-btn">${properties.bookNowLabel}</button></a>
									</div>	
                                    </sly>
									</sly>
                                </div>
                            </div>
                            <div class="hotel-offer-inclusions-popup" style="display: none;">
                                <img class="hotel-offer-inclusion-close" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt = "close-icon">
                                <div class="hotel-offer-inclusions-list row">
                                    <div class="hotel-offer-inclusions-list-item d-flex col-12" data-sly-test.hasStay="${hotelOfferList.stayDescription}">
                                        <img src="/content/dam/tajhotels/icons/offerinclusionicons/stay.png" alt = "stay-icon">
                                        <span>${hotelOfferList.stayDescription}</span>
                                    </div>
                                    <div class="hotel-offer-inclusions-list-item d-flex col-12" data-sly-test.hasRestaurant="${hotelOfferList.restaurantDescription}">
                                        <img src="/content/dam/tajhotels/icons/offerinclusionicons/dining.png" alt = "dining-icon">
                                        <span>${hotelOfferList.restaurantDescription}</span>
                                    </div>
                                    <div class="hotel-offer-inclusions-list-item d-flex col-12" data-sly-test.hasSightSeeing="${hotelOfferList.sightSeeingDescription}">
                                        <img src="/content/dam/tajhotels/icons/offerinclusionicons/SIGHTSEEIN.png" alt = "sightseein-icon">
                                        <span>${hotelOfferList.sightSeeingDescription}</span>
                                    </div>
                                    <div class="hotel-offer-inclusions-list-item d-flex col-12" data-sly-test.hasSpa="${hotelOfferList.spaDescription}">
                                        <img src="/content/dam/tajhotels/icons/offerinclusionicons/spa.png"alt = "spa-icon">
                                        <span>${hotelOfferList.spaDescription}</span>
                                    </div>
                                    <div class="hotel-offer-inclusions-list-item d-flex col-12" data-sly-test.hasConv="${hotelOfferList.convenienceDescription}">
                                        <img src="/content/dam/tajhotels/icons/offerinclusionicons/Convieniences.png" alt  = "Convieniences-icon">
                                        <span>${hotelOfferList.convenienceDescription}</span>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </sly>                
                </sly>            
            </div>
        </div>
    </div>
</div>