@rem: 16rem;
.mr-map-view-about-dest {
    overflow: auto;
    height: 612/@rem;
    .mr-map-view-about-dest {
        margin-bottom: 1rem;
    }
}

.mr-listsMap-aboutDest {
    margin-top: 1rem;
}

#mapDestinationAbout {
    height: 100%;
}

.mr-mapview-carousel-wrap-aboutDest {
    position: fixed;
    bottom: 1rem;
    padding: 1rem;
    width: 100%;
    @media only screen and (min-width: 992px) {
        display: none;
    }
}

.about-dest-map-wrap {
    margin-bottom: 10/@rem;    
}

.about-dest-map-wrap.active {
    .holiday-about-dest-wrapper {        
        border: 2px solid var(--primaryColor);        
    }
}

.holiday-about-dest-wrapper {
    display: flex;
    .holiday-about-dest-image-cont{
            flex: 0;
            flex-basis: 30%;
            img{
                height: 100%;
                width: 100%;
            }
        }
    .holiday-about-dest-details-cont {
        background-color: #ffffff;
        padding: 1.325rem 1.625rem;
        flex: 0;
        flex-basis: 70%;
        .details-header {
            font-family: Calibri;                
            font-size: 1.5125rem;
            line-height: 0.92;
            color: #4a4a4a;
        }
        .details-description {
            font-family: Calibri;
            font-size: 16px;
            font-size: 1.00625rem;
            line-height: 1.19;
            color: #979797;
            margin: 0.4rem 0;
        }
    }
    @media only screen and (max-width: 991px) {
        background-color: #ffffff;       
    }
}


.mr-google-mapContainer-aboutDest {
    height: 100%;
    width: 100%;
    padding: 16/@rem;
    padding: 1rem 0 0 1rem;    
    @media only screen and (max-width: 991px) {
        padding: initial;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100000;
    }
}

.display-hide,
.selected-location-hotels,
.gm-style-mtc,
.gm-svpc {
    display: none;
}
.gm-bundled-control-on-bottom {
    .gmnoprint {
        display: none;
    }
}

img.map-local-back {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100001;
    width: 40px;
    height: 40px;
    padding: 10px 14px;
    background: #ffffff;
}

.mr-aboutDest-map-carousel{
    @media only screen and (max-width: 991px) {
        position: fixed;
        bottom: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
        width: auto;
        .carousel-item{
            width: 95%;
        }
        .holiday-about-dest-wrapper .holiday-about-dest-details-cont .details-description{
            height: 80px;
            overflow: scroll;
            line-height: 16px;
        }
    }
}