@rem: 16rem;
.iteniary-list-view{
    @media only screen and (max-width: 991px) {
        .mr-holidays-destination-about-card-container{
            margin-bottom:1rem;
        }
    }
}
.mr-holidays-destination-about-card-Innercontainer {
    background-color: #ffffff;
    height:100%;
}

.mr-holidays-Destination-about-description-wrapper {
    padding: 18/@rem 30/@rem;
    @media only screen and (max-width: 767px) {
        padding: 15/@rem 20/@rem;
    }
}
@media only screen and (min-width: 768px) {
	.mr-holiday-destination-about-cards-wrapper{
	    margin-top: 0 !important;
	}
	.cm-content-blocks.mr-holiday-aboutDest-map {
	    margin-top: 0 !important;
	}
}
h2.mr-holidays-Destination-about-title {
    font-family: Calibri;
    font-size: 24/@rem;
    font-weight: bold;
    line-height: 1.04;
    color: #323232;
}

.mr-holidays-Destination-about-timing {
    font-size: 14/@rem;
    line-height: 1.36;
    color: #4a4a4a;
    margin-top: 13/@rem;
}

.holidays-about-plan-your-itinerary-sec {
    position: relative;
    .cm-header-label-con {
        margin-bottom: 20/@rem;
        @media only screen and (max-width: 767px) {
            margin-bottom: 70/@rem;
        }
    }
}

.pre-planned-itinerary-wrap {
    position: relative;
    margin-top: 20/@rem !important;
    .cm-header-label-con {
        margin-bottom: 20/@rem;
    }
    @media only screen and (max-width:991px) {
        margin: 0 15px;
        background: #fff;
        .pre-planned-itinerary-heading {
            margin-top: 20/@rem;
            font-size: 24/@rem;
        }
    }
    .itinerary-plan-filter-icon {
        display: none;
        @media only screen and (max-width: 767px) {
            display: block;
            text-align: right;
            padding-right: 15px;
        }
    }
}

.mr-Holidays-destination-about-gridMapSwitch {
    position: relative;    
    height: 35/@rem;
    z-index: 1;
    display: block;
    text-align: right;
    .mr-view-toggler-switch-Container {
        height: 100%;
        display: inline-block;
    }
    .mr-Holidays-destination-about-gridMapSwitchStyling {
        width: 66/@rem;
        text-align: center;
    }    
}

// for hidding the carousel content in banner
.hide-carousel-content {
    .mr-carousel-image-contents-wrapper {
        display: none;
    }
}


