<div data-sly-use.offer="com.ihcl.core.models.offers.Offer"
    class="offers-page-card-component col-lg-4 col-md-4 col-xs-12 cm-inner-carousal-cards" data-offerType="${offer.offerCategory}"
    data-noOfNights="${offer.noOfNights}"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <div class="offers-card-inner-wrapper">
        
        <div class="offerImg">
            <sly data-sly-test="${pageProperties.hotelBookingEngineId}">
                <sly
                    data-sly-test.finalImagePath="${offer.draggedImagePath ? offer.draggedImagePath : offer.SpecificOfferImage}" />
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath= finalImagePath ? finalImagePath :'/content/dam//in/en/offers/offerBanner.png',styleClass='offers-card-image', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}">
                </sly>
            </sly>
            <sly data-sly-test="${!pageProperties.hotelBookingEngineId}">
                <sly data-sly-test.finalImagePath="${offer.draggedImagePath ? offer.draggedImagePath : offer.offerImage}" />
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath= finalImagePath ? finalImagePath :'/content/dam/tajhotels/in/en/offers/offerBanner.png',styleClass='offers-card-image', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}">
                </sly>
            </sly>
            <sly data-sly-test="${offer.offerTitle}">
                <div class="offers-card-title">${offer.offerTitle}</div>
            </sly> 
        </div>
        <div class="offersDes">
                   
            <sly data-sly-test="${offer.offerTitle}">
                <div class="offers-card-main hotel-offers-card-main"
                    data-sly-test="${pageProperties.hotelBookingEngineId} ">
                    <div class="offers-card-description">${offer.offerShortDesc}</div>
                    <div class="offers-card-footer clearfix">
                        <div class="offer-validity">
                            <sly data-sly-test="${offer.roundTheYearOffer}">
                                <div class="offer-validity-date">Round the year</div>
                            </sly>
                            <sly data-sly-test="${!offer.roundTheYearOffer}">
                                <sly data-sly-test="${offer.offerStartsDate}">
                                    <div class="offer-validity-date">Valid from ${'dd MMM yy' @ format=offer.offerStartsDate
                                        } till ${'dd MMM yy' @ format=offer.offerEndsOn } </div>
                                </sly>
                                <sly data-sly-test="${!offer.offerStartsDate}">
                                    <div class="offer-validity-date">Valid till ${'dd MMM yyyy' @ format=offer.offerEndsOn }
                                    </div>
                                </sly>
                            </sly>
                        </div>
                        <div>
                            <div class="offer-view-details button-view-details">
                                <button
                                    onclick="onViewDetailsOfferSelection(''+'${offer.offerPageResourceURL @ context='text'}')"
                                    class="cm-btn-secondary">VIEW DETAILS</button>
                            </div>
                            <div class="offer-view-details button-view-details">
                                <button
                                    onclick="onOfferSelection('${offer.offerPageResourceURL @ context='text'}', '${offer.offerRateCode @ context='text'}', '${offer.offerTitle @ context='text'}', '${offer.noOfNights @ context='text'}', '${offer.offerStartsFrom @ context='text'}', '${offer.comparableOfferRateCode @ context='text'}')"
                                    class="cm-btn-secondary">BOOK NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offers-card-main" data-sly-test="${!pageProperties.hotelBookingEngineId} ">
                    <!-- <div class="offers-card-title">${offer.offerTitle}</div> -->
                    <div class="offers-card-description">${offer.offerShortDesc}</div>
                    <div class="offers-card-footer clearfix">
                        <div class="offer-validity">
                            <sly data-sly-test="${offer.roundTheYearOffer}">
                                <div class="offer-validity-date">Round the year</div>
                            </sly>
                            <sly data-sly-test="${!offer.roundTheYearOffer}">
                                <sly data-sly-test="${offer.offerStartsDate}">
                                    <div class="offer-validity-date">Valid from ${'dd MMM yyyy' @
                                        format=offer.offerStartsDate } till ${'dd MMM yyyy' @ format=offer.offerEndsOn }
                                    </div>
                                </sly>
                                <sly data-sly-test="${!offer.offerStartsDate}">
                                    <div class="offer-validity-date">Valid till ${'dd MMM yyyy' @ format=offer.offerEndsOn }
                                    </div>
                                </sly>
                            </sly>
                        </div>

                        <div class="offer-view-details button-view-details">
                            <button
                                onclick="onOfferSelection('${offer.offerPageResourceURL @ context='text'}', '${offer.offerRateCode @ context='text'}', '${offer.offerTitle @ context='text'}', '${offer.noOfNights @ context='text'}', '${offer.offerStartsFrom @ context='text'}', '${offer.comparableOfferRateCode @ context='text'}')"
                                class="cm-btn-secondary">VIEW DETAILS</button>
                        </div>
                    </div>
                </div>
            </sly>
        </div>

    </div>
</div>
