<div data-sly-test.edit=${wcmmode.edit}>
    <h1>ihcl location component</h1>
</div>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihclcbbrandcarousel'}" />
<div class="container ihclcb-image-carousel-container">
    <div class="ihclcb-image-carousel-wrp">
        <div class="clearfix">
            <div class="ihclcb-section-carousel-image">
                <picture> <img src="/content/dam/tajhotels/ihcl/taj_image_carousel.png" alt="Image Unavailable" /></picture>
            </div>
            <div class="ihclcb-section-carousel-image seleqtion-img">
                <picture> <img  src="/content/dam/tajhotels/ihcl/seleqtions_image_carousel.png"
                    alt="Image Unavailable" /></picture>
            </div>
            <div class="ihclcb-section-carousel-image">
                <picture> <img src="/content/dam/tajhotels/ihcl/vivanta_image_carousel.png"
                    alt="Image Unavailable" /></picture>
            </div>
            <div class="ihclcb-section-carousel-image">
                <picture> <img src="/content/dam/tajhotels/ihcl/ginger_image_carousel.png" alt="Image Unavailable" /></picture>
            </div>
            <div class="ihclcb-section-carousel-image">
                <picture> <img src="/content/dam/tajhotels/ihcl/Expressions_colour_image_carousel.png"
                    alt="Image Unavailable" /></picture>
            </div>
            <div class="ihclcb-section-carousel-image ">
                <picture> <img src="/content/dam/logos/taj_sats-01.png"
                    alt="Image Unavailable" /></picture>
            </div>
         
        </div>
    </div>
</div>