h2.dining-title {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.04;
    color: #323232;
    margin-top: 20px;
    margin-bottom: -15px!important;
}