
@rem: 16rem;

.ihcl-theme .ihclcb-reset-booking-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(74, 74, 74, 0.55);
    z-index: 1;
    align-items: center;    
    justify-content: center;
    overflow: auto;
    display: none;   
    &.ihclcb-show-popup {
        display: flex;
    }
}
.ihcl-theme .ihclcb-reset-booking-container {
        position: relative;       
        border-radius: 4px;
        box-shadow: 0 8px 72px 0 rgba(1, 4, 6, 0.56);
        background-color: #ffffff;
        padding: 32/@rem;
        width: 500/@rem;
       
        @media only screen and (max-width: 767px) {              
            padding: 25/@rem;
            width: 90%;
        }
        
        .ihclcb-reset-booking-popup-close-icon {
            position: absolute;
            top: 1.1875rem;
            right: 1.5rem;
            width: 1.25rem;
        	height: 1.5625rem;
            cursor: pointer;
            object-fit: contain;
        }
        
        .ihclcb-reset-booking-heading {
            font-family: "Calibri-bold";
            font-size: 26/@rem;
            line-height: 1.23;
            color: #212529;
            margin-bottom: 16/@rem;
            @media only screen and (max-width: 767px) {
                font-size: 20/@rem;
            }
        }
               
        .ihclcb-reset-booking-desc {     
            font-family: "Calibri";
            font-size: 14/@rem;
            color: #212529;
            margin-bottom: 20/@rem;
            line-height: 1.14;
            letter-spacing: 0.5px;
            @media only screen and (max-width: 767px) {                    
                margin-bottom: 1rem;
            }
        }   
        .ihclcb-reset-booking-btn-cont {
        	text-align: right;
        }
        
        .ihclcb-reset-booking-confirm-btn {
        	margin-left: 1rem;
        	border-radius: 4px;
        }   
        .ihclcb-reset-booking-back-btn {
        	border-radius: 4px;
        }                  
}

