<div data-sly-use.searchModel="com.ihcl.core.models.SearchBar">
    Search Suggestions
    <div data-sly-list="${searchModel.searchSuggestions}">
        <div>${item.searchCategory}</div>
        <div data-sly-list.suggestion="${item.suggestions}">
            <p>${suggestion}</p>
        </div>
    </div>
</div>