<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='tajhotels.hoteldetails,tajhotels.gallerycarousel,tajhotels.rateandreview'}"/>
<sly data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher"/>
<sly data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly> 
<div data-sly-use.rate="${'com.ihcl.core.models.rateandreview.RateAndReview' @ trustyouid=hotelProperties.trustYouId}">
		<div class="overview-guest-speak-container cm-content-blocks">
			<section class="overview-page-guest-speak-section">
				<div class="specific-hotels-guests-speaks-and-review-wrapper">
					<div class="row">
						<div class="col-lg-12 col-12">
							<div class="valueforMoney-and-rating-wrap">
								<div class="row">
									<div class="col-lg-2 col-12">
										<div class="mr-overall-rating-container">
											<div class="mr-overall-rating">
												<div class="mr-rating-value">
													<span class="finalRating">${rate.sealApiResponse.response.score}</span>/<span
														class="totalRating">5</span>
												</div>
												<div class="mr-rating-comments">${rate.sealApiResponse.response.score_description}
												</div>
											</div>
											<div class="mr-overall-Count">
												<span class="FinalreviewCount">${rate.sealApiResponse.response.reviews_count}
												</span>
											</div>
										</div>
									</div>
									<div class="col-lg-10 col-12"
										data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
										data-sly-use.template="core/wcm/components/commons/v1/templates.html">
										<div class="mr-specificRating-Whole-Wrap">
                                          <div class="row" data-sly-list.listItem2="${rate.formattedCategoryList}">
                                                <div class="col-6">
                                                    <div class="mr-specificRating-Wrap">
                                                        <div class="mr-specificRating-NameValue-Wrap">
                                                            <span class="mr-specificRating-Name">${listItem2.category_name}</span>
                                                            <span class="mr-specificRating-Value">${listItem2.score}</span>
                                                        </div>
                                                        
                                                        <div class="mr-specificRating-ProgressWrap">
                                                            <div class="mr-specific-rating-div"
                                                                style="width: ${listItem2.barWidth @ context='styleToken'}%;"></div>
                                                        </div> 
                                                    </div>
                                                </div>
											</div>
                                        </div>
                                        
									</div>
								</div>
							</div>

							<div class="mr-comments-review-container"
								data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
								data-sly-use.template="core/wcm/components/commons/v1/templates.html">

								<div class="comments-and-review-Wrap"
									data-sly-list.listItem1="${rate.reviewsApiResponse.response.review_list}" >
									<div class="row" data-sly-test="${listItem1.title}">
                                    <sly data-sly-test="${listItem1.score >= 80}">
                                       <div class="col-lg-2 col-12">
                                            <div class="mr-reviewUserName-and-timings-wrap">
                                                <div class="mr-reviewer-userName">${listItem1.author}</div>
                                                <div class="mr-reviewed-at-timings">${listItem1.created}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-12">
                                            <div class="mr-reviewUsertitle-and-description-Wrap">
                                                <div class="mr-review-title">${listItem1.title}</div>
                                                <div class="mr-review-description">${listItem1.text}</div>
                                            </div>
                                        </div>
                                    </sly>
									</div>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>