<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
			 data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.local-area-card'}" />
<div
	class="cm-card-showmore-spacing col-lg-4 col-md-6 col-sm-12 concierge-local"
	data-sly-use.info1="com.ihcl.core.models.localarea.LoalAreaListModel">

	<div class="recommended-experiences-wrap">
		<div class="mr-experiences-images-wrap" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
			<sly data-sly-test.finalImagePath="${info1.valueMap['fileReference'] ? info1.valueMap['fileReference'] : info1.valueMap['locationImage']}"/>
			<sly
					data-sly-call="${imagetemplate.damImageTemplate @ imagePath= finalImagePath ? finalImagePath :'/content/dam/tajhotels/logos/taj-logos/img-taj@2x.png',styleClass='mr-experiences-image',renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true'}"></sly>
		</div>
		<div class="mr-experiences-description-wrap">
			<h3 class="mr-experinces-title conceirge-title">${info1.valueMap['placeName']}</h3>
			<div class="mr-experinces-sub-title">
            	<div  data-sly-test="${info1.valueMap['address']}">at ${info1.valueMap['address']}</div>
			</div>
			<div class="mr-experinces-detailsButton-wrap conceirge-button-wrap">
				<div class="mr-experinces-details-wrap">
					<div class="mr-experinces-details-location conceirge-local" data-sly-test="${info1.valueMap['openingTime']}">Open
						: ${info1.valueMap['openingTime']}-${info1.valueMap['closingTime']}</div>
				</div>
				<div class="mr-experinces-Button-wrap">
					<button
						class="cm-btn-secondary experience-button-styles conceirge-local-button"
						data-con-name="${info1.ConciereUniqueName}"
						onclick="myFunction(this)">VIEW DETAILS</button>
				</div>
			</div>
		</div>
		<div style="display: none;">${info1.TagValue}</div>
	</div>


	<div id="${info1.ConciereUniqueName}">
		<div class="cm-local-details-container">
			<div class="cm-local-details-overLay bas-overlay"></div>
			<div class="cm-local-details">
				<div class="loc-details-close-cont">
					<span class="icon-close local-details-close"></span>
				</div>
				<div class="loc-details-wrapper row">
					<div class="loc-details-container col-lg-6 col-md-12 col-sm-12">
						<div class="ho-first-section">
							<div class="ho-header">${info1.valueMap['placeName']}</div>
							<div class="ho-map-link" data-sly-test="${info1.valueMap['address']}">
								<a class="inline-block ho-hotel-location-link" target="_blank">
								<span class="icon-location ho-location-icon ho-cm-icon inline-block"></span><span
									class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt">${info1.valueMap['address']}</span></a>
							</div>
							<div class="ho-contact-options-con">
								<a data-sly-test="${info1.valueMap['phoneNo']}" class="ho-contact-number hide-in-lg inline-block"
									href="tel:${info1.valueMap['phoneNo']}">
									<span class="icon-phone-enabled ho-cm-icon ho-contact-icon inline-block"></span>
									<div  
										class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">${info1.valueMap['phoneNo']}</div></a>
								<div data-sly-test="${info1.valueMap['phoneNo']}" 
									class="ho-contact-number hide-in-sm hide-in-md inline-block disabled">
									<span class="ho-cm-icon ho-contact-icon inline-block icon-phone-disabled"></span>
									<div class="inline-block ho-mail-to-txt">${info1.valueMap['phoneNo']}</div>
								</div><a data-sly-test="${info1.valueMap['mailId']}" class="ho-contact-number ho-mail-to inline-block local-city"
									href="mailto:${info1.valueMap['mailId'] @context='html'}">
									<span class="icon-tic-mail ho-mail-to-icon ho-cm-icon inline-block"></span>
								<div
										class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">${info1.valueMap['mailId']}</div></a>
								<div data-sly-test="${info1.valueMap['openingTime'] && info1.valueMap['closingTime']}"
									class="mr-experinces-details-location conceirge-local ho-mail-to">
									<div>Open :${info1.valueMap['openingTime']}-${info1.valueMap['closingTime']}</div>
								</div>
							</div>
							<div class="ho-overview-description">
								<span class="ho-description-txt">${info1.valueMap['description']}</span>
							</div>
						</div>
						<div class="second-section for-desktop">
							<!-- <div class="second-section-header">Contact for more
								information :</div> -->
							<div class="second-section-details-wrapper">
								<sly data-sly-test="${info1.valueMap['contactPersonImage']}">
									<div class="sec-img-cont">
										<img src="${info1.valueMap['contactPersonImage']}" alt = "contact Person Image">
										<!-- "/apps/tajhotels/components/structure/tajhotels-base-page/clientlib/resources/images/david.jpg" /> -->
									</div>
								</sly>
								<div class="sec-detail-cont">
									<div class="sec-detail-header">${info1.valueMap['name']}</div>
									<div class="sec-details-about">
										<div class="sec-det-subheader">${info1.valueMap['contactType']}</div>
										<div class="sec-det-contact-number">${info1.valueMap['contactNo']}</div>
										<div class="sec-det-contact-mail">${info1.valueMap['contactMailId']}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="loc-image-container col-lg-6 col-md-12 col-sm-12">
					<sly data-sly-test.finalImagePath="${info1.valueMap['fileReference'] ? info1.valueMap['fileReference'] : info1.valueMap['locationImage']}"/>
						<img type="image/jpeg" src=${finalImagePath}
							alt="local area details" width="100%">
						<source type="image/jpeg" media="(min-width: 9px)"
							src="/content/dam/tajhotels/icons/style-icons/local-museum@mobile.jpg"
							alt="local area details" width="100%" />
					</div>
					<div class="second-section for-mobile">
						<sly data-sly-test="${info1.valueMap['name'] || info1.valueMap['contactMailId']}">
							<div class="second-section-header">Contact for more	information :</div>
							<div class="second-section-details-wrapper">
								<div class="sec-detail-cont">
									<div class="sec-detail-header">${info1.valueMap['name']}</div>
									<div class="sec-details-about">
										<div class="sec-det-subheader">${info1.valueMap['contactType']}</div>
										<div class="sec-det-contact-number">${info1.valueMap['contactNo']}</div>
										<div class="sec-det-contact-mail">${info1.valueMap['contactMailId']}</div>
									</div>
								</div>
							</div>
						</sly>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

