
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.css @ categories='tajhotels.show-map'}" /> 
<sly data-sly-use.config="com.ihcl.core.models.config.TajApiKeyConfigModel" >
</sly>
<sly data-sly-use.model="com.ihcl.core.models.LocalareaFilter" />

<div class="show-map-values-forInstance">
	<div data-sly-use.info="com.ihcl.core.models.localarea.ShowMapModel">

		<div class="specific-city-showMap-popup" data-dialog-modal = "showMapPopUp">
			<div class="cm-specific-showMap-con">

				<div class="cm-specific-showMap-overLay bas-overlay"></div>
				<div class="cm-specific-showMap">
					<div class="loc-showMap-close-cont">
						<span class="showMap-close icon-close" tabindex="0" role = "button" data-dialog-close = "showMapPopUp"></span>
					</div>
					<div class="loc-showMap">
						<div class="loc-showMap-header-wrap">

							<div class="local-showmap-header">Local areas in ${info.fetchTitle}</div>

							<div class="local-showMap-filter">
								<div class="filter-dropdown-wrap filterByMobile">
									<div class="filter-dropdown-label">Filter by</div>

									<div class="selectSubContainer local-area-filter">
										<select aria-label="Filter By" name="filterLocal" id="filterLocal">
											<option selected="" hidden="">All</option>
											<sly data-sly-list.item="${model.Attractions}">
											<option>${item}</option>
											</sly>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="loc-showMap-subHeader-wrap">Art and History</div>
						<div class="loc-showMap-container clearfix">
							<div class="loc-showMap-cards-wrap col-md-6">
								<div class="loc-showMap-cards"></div>
							</div>
							<div class="loc-showMap-map-warp col-md-6">
								<div class="map-container-loc">
									<div class="local-showMap" id="mapLocal"></div>
									<span class="map-local-back icon-prev-arrow"></span>										
									<div class="selected-location-hotels local-places">
										<div class="hotel-list local-places">
											<div class="carousel slide" id="localCityCarousel"
												data-ride="carousel">
												<div class="carousel-inner card-carousel local-place"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>



	<sly
		data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
		data-sly-call="${clientlib.js @ categories='tajhotels.show-map'}" />


    <input type="hidden" id="json" name="json" value="${info.coordinatesList @context='html'}">


</div>
