<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='taj.hotels.components.service-amenity'}"/>
<sly data-sly-test.edit="${!properties.name && wcmmode.edit}">
    <h6>Configure mapping of Amenities to Rate Plans</h6>
</sly>
<h3>Mapping defined</h3>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h4>Rate Plan Codes</h4>
            <div class="ho-each-items inline-block">
                <sly data-sly-list.ratePlanCode="${properties.ratePlanCodes}">
                    <div class="ho-services-each-wrap">
                        <div class="ho-service-name inline-block">${ratePlanCode}</div>
                    </div>
                </sly>
            </div>
        </div>
        <div class="col-6">
            <h4>Service Amenities</h4>
            <div class="ho-each-items inline-block">
                    <div class="ho-services-each-wrap">
                        <div class="ho-service-name inline-block"></div>
                    </div>
                </sly>
            </div>
        </div>
    </div>
</div>
