<script>
//Below line only for debug purpose only can be removed, if not in use
var templateName2 = "${properties['sling:resourceType'] @ context='unsafe'}"
</script>

<sly data-sly-test="${properties['sling:resourceType']== 'tajhotels/components/structure/tajhotels-rooms-listing-page'}">
    <script src="https://static.triptease.io/client-integrations/platform/taj.js" type="text/javascript" defer=""></script>

</sly>
<sly data-sly-test="${properties['sling:resourceType']== 'tajhotels/components/structure/tajhotels-booking-checkout-page'}">
    <script src="https://static.triptease.io/client-integrations/platform/taj.js" type="text/javascript" defer=""></script>

</sly>
<sly data-sly-test.isBookingPage="${properties['sling:resourceType']== 'tajhotels/components/structure/tajhotels-booking-confirmation-page'}">
    <script src="https://static.triptease.io/client-integrations/platform/taj.js" type="text/javascript" defer=""></script>

</sly>
<sly data-sly-test.isBookingPage="${properties['sling:resourceType']== 'tajhotels/components/structure/tajhotels-booking-cart-page'}">
    <script src="https://static.triptease.io/client-integrations/platform/taj.js" type="text/javascript" defer=""></script>

</sly>