<div data-sly-test="${wcmmode.edit}">
    AMP Banner Carousel Component
</div>
<sly data-sly-test.height="${inheritedPageProperties.sitePath=='ama'?'300':'400'}"/>
<amp-carousel class="carousel-wrap" width="400" height="${height}" layout="responsive" type="slides" delay="4000" loop>
    <sly data-sly-list="${resource.children}" data-sly-use.imageTemplate="tajhotels/components/content/amp/image-template/image-template.html">
        <sly data-sly-list="${item.children}">
            <div class="carousel-item">
                <div class="carousel-item-content">
                    <h1 style="font-size: ${item.bannerFontSize @context='styleToken'};">${item.bannerTitle}</h1>
                    <p role="button" tabindex="0">${item.bannerDescMob}</p>
                    <sly data-sly-test="${item.bannerLinkText}">
                        <a class="carousel-banner-btn" href="${item.bannerLinkUrl}.html">
                            <button class="cm-btn-secondary ${inheritedPageProperties.sitePath}" tabindex="-1">${item.bannerLinkText}</button>
                        </a>
                    </sly>
                </div>
                <sly data-sly-call="${imageTemplate.damImageTemplate @ imagePath=item.bannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg',
                    width='400', height='400', layout='responsive'}"></sly>
            </div>
        </sly>
    </sly>
</amp-carousel>

