.banner-carousel .owl-prev {
	position: absolute;
	bottom: 50%;
	left: 10px;
}

.banner-carousel .owl-next {
	position: absolute;
	bottom: 50%;
	right: 10px;
	transform: rotate(180deg);
}

.banner-carosel-card {
	height: 85vh;
	position: relative;
}

@media only screen and (max-width: 767px) {
	.banner-carosel-card {
	   height: 38vh;
	}	
}

.banner-carosel-card img {
	height: 100%;
}

.ama-theme h4.banner-text-position {
	position: absolute;
	left: 5%;
	bottom: 19.5rem;
	width: 20%;
	color: #fff;
}

.ama-theme .banner-carousel .owl-dots {
	position: absolute;
	width: 100%;
	bottom: 20px;
}

@media only screen and (max-width: 767px) {
	.ama-theme h4.banner-text-position {
		left: 20px;
		bottom: inherit;
		width: 80%;
		top: 70px;
		font-size: 24px;
	}
	
	.ama-theme .banner-carousel .owl-nav,
	.ama-theme .banner-carousel .owl-dots {
		display: none;
	}

}