.add-ons-img {
    height: 176px;
    width: 100%;
    position: relative;
}

.add-ons-img .add-ons-bk-img {
    width: 100%;
    height: 100%;
}

.add-ons-img .add-ons-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    line-height: 176px;
    text-align: center;
    display: none;
}

.add-on-details {
    padding: 20px 30px 25.2px 25px;
    padding: 20px 1.875rem 25.2px 1.5625rem;
    background: #ffffff;
    font-family: Calibri;
    color: #323232;
    position: relative;
}

.add-ons-heading {
    font-size: 22px;
    font-size: 1.375rem;
}

.add-ons-subhead {
    font-size: 16px;
    font-size: 1rem;
    color: #9b9b9b;
}

.add-ons-desc {
    font-size: 15px;
    font-size: 0.9375rem;
    margin-top: 12px;
}

.add-ons-duration {
    color: var(--primaryColorDark);
    font-size: 18px;
    font-size: 1.125rem;
    margin-top: 7px;
}

.add-ons-duration span {
    color: #323232;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .add-ons-duration {
        font-size: 1rem;
    }
}

@media only screen and (max-device-width: 320px) {
    .add-ons-duration {
        font-size: 0.875rem;
    }
}

.add-ons-cost {
    color: var(--primaryColorDark);
    font-size: 18px;
    font-size: 1.125rem;
}

.add-ons-cost span {
    color: #323232;
}

.add-ons-cost span:first-child {
    font-family: RupeeForadian;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .add-ons-cost {
        font-size: 1rem;
    }
}

@media only screen and (max-device-width: 320px) {
    .add-ons-cost {
        font-size: 0.875rem;
    }
}

.add-on-counter {
    position: absolute;
    right: 30px;
    right: 1.875rem;
    bottom: 37px;
}
.counter-wrap {
    width: 136px;
    width: 8.5rem;
    height: 32px;
    background: #eeeded;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri;
}

.counter-wrap button {
    padding: 0;
    float: left;
    color: #fff;
    text-align: center;
    height: 100%;
    width: 34px;
    width: 2.125rem;
    margin: 0;
    background: var(--primaryColor);
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.counter-wrap .counter-value {
    float: left;
    line-height: 32px;
    color: #323232;
    text-align: center;
    width: 68px;
    width: 4.25rem;
}

@media only screen and (max-device-width: 320px) {
    .counter-wrap .counter-value {
        width: 2.25rem;
        font-size: 1rem;
    }
}

@media only screen and (max-device-width: 320px) {
    .counter-wrap {
        width: 6.5rem;
    }
}

.label-text{
    display: inline-block;
    padding: 0px 5px;
}