<sly data-sly-test = "${wcmmode.edit}">AMA Hyperlink</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='ama.hotels.ama-hyperlink'}"></sly>


<section class="${properties.backgroundColor} ">
	<div class="link-container container">
    		<sly data-sly-test=${properties.text}>
				<a href="${properties.hyperlink}">${properties.text}</a>
            </sly>
	</div>
</section>

