<div data-sly-test.edit=${wcmmode.edit}>
	<h1>ihcl workgloballeader component</h1>
</div>
<div class=row>
	<h2 class="component-title">Work with a Global Leader in
		Hospitality</h2>
	<div class="col-lg-8 col-md-6">
		<div class="offers-page-card-component ihcl-work-global-leader-card">
			<div class="offers-card-inner-wrapper">
				<amp-img height="14rem" class="about-carousel-images"
					src="${properties.image}" alt="leaders speak image"></amp-img>
				<div class="offers-card-main">
					<div class="offers-card-title">${properties.title}</div>
					<div class="desc-section-workwithglobal">
						<div class="rooms-suites-description">${properties.description
							@context='html'}</div>
					</div>
					<div class="ihcl-work-card-footer">
						<a class="offer-view-details button-view-details"
							href="${properties.buttonurl}" target="_blank"><button
								class="cm-btn-secondary" tabindex= "-1">${properties.buttontext}</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
