<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientLib.all @ categories='taj.hotels.generic-card-show-more-component'}" />
<div data-sly-test="${wcmmode.edit}">Generic Cards Component</div>

<div class="generic-card-component-root-show-more">
    <div class="row">
        <div class="col-12">
            <img
                src="/content/dam/tajhotels/in/en/our-hotels/mumbai/taj-mahal-palace/banner-taj-mahal-palace.jpg/jcr:content/renditions/cq5dam.thumbnail.140.100.png"
                alt="View of the Gateway of India from The Taj Mahal Palace Mumbai"
                title="View of the Gateway of India from The Taj Mahal Palace Mumbai" width="100%">
            <div>Mumbai1</div>
        </div>

        <div class="col-12">
            <img
                src="/content/dam/tajhotels/in/en/our-hotels/mumbai/taj-mahal-palace/banner-taj-mahal-palace.jpg/jcr:content/renditions/cq5dam.thumbnail.140.100.png"
                alt="View of the Gateway of India from The Taj Mahal Palace Mumbai"
                title="View of the Gateway of India from The Taj Mahal Palace Mumbai" width="100%">
            <div>Mumbai2</div>
        </div>

        <div class="col-12">
            <img
                src="/content/dam/tajhotels/in/en/our-hotels/mumbai/taj-mahal-palace/banner-taj-mahal-palace.jpg/jcr:content/renditions/cq5dam.thumbnail.140.100.png"
                alt="View of the Gateway of India from The Taj Mahal Palace Mumbai"
                title="View of the Gateway of India from The Taj Mahal Palace Mumbai" width="100%">
            <div>Mumbai3</div>
        </div>

        <div class="col-12">
            <img
                src="/content/dam/tajhotels/in/en/our-hotels/mumbai/taj-mahal-palace/banner-taj-mahal-palace.jpg/jcr:content/renditions/cq5dam.thumbnail.140.100.png"
                alt="View of the Gateway of India from The Taj Mahal Palace Mumbai"
                title="View of the Gateway of India from The Taj Mahal Palace Mumbai" width="100%">
            <div>Mumbai4</div>
        </div>

        <div class="col-12">
            <img
                src="/content/dam/tajhotels/in/en/our-hotels/mumbai/taj-mahal-palace/banner-taj-mahal-palace.jpg/jcr:content/renditions/cq5dam.thumbnail.140.100.png"
                alt="View of the Gateway of India from The Taj Mahal Palace Mumbai"
                title="View of the Gateway of India from The Taj Mahal Palace Mumbai" width="100%">
            <div>Mumbai5</div>
        </div>

        <div class="col-12">
            <img
                src="/content/dam/tajhotels/in/en/our-hotels/mumbai/taj-mahal-palace/banner-taj-mahal-palace.jpg/jcr:content/renditions/cq5dam.thumbnail.140.100.png"
                alt="View of the Gateway of India from The Taj Mahal Palace Mumbai"
                title="View of the Gateway of India from The Taj Mahal Palace Mumbai" width="100%">
            <div>Mumbai6</div>
        </div>

        <div class="col-12">
            <img
                src="/content/dam/tajhotels/in/en/our-hotels/mumbai/taj-mahal-palace/banner-taj-mahal-palace.jpg/jcr:content/renditions/cq5dam.thumbnail.140.100.png"
                alt="View of the Gateway of India from The Taj Mahal Palace Mumbai"
                title="View of the Gateway of India from The Taj Mahal Palace Mumbai" width="100%">
            <div>Mumbai7</div>
        </div>

        <div class="col-12">
            <img
                src="/content/dam/tajhotels/in/en/our-hotels/mumbai/taj-mahal-palace/banner-taj-mahal-palace.jpg/jcr:content/renditions/cq5dam.thumbnail.140.100.png"
                alt="View of the Gateway of India from The Taj Mahal Palace Mumbai"
                title="View of the Gateway of India from The Taj Mahal Palace Mumbai" width="100%">
            <div>Mumbai8</div>
        </div>

        <div class="col-12">
            <img
                src="/content/dam/tajhotels/in/en/our-hotels/mumbai/taj-mahal-palace/banner-taj-mahal-palace.jpg/jcr:content/renditions/cq5dam.thumbnail.140.100.png"
                alt="View of the Gateway of India from The Taj Mahal Palace Mumbai"
                title="View of the Gateway of India from The Taj Mahal Palace Mumbai" width="100%">
            <div>Mumbai5</div>
        </div>

    </div>
</div>