@media only screen and (max-width: 767px) {
    .similar-packages-comp.col-12 .no-padding {
        padding: 0 !important;
    }
}

.similar-packages-comp.col-12 .similar-packages-image {
    min-height: 410px;
    min-height: 25.625rem;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .similar-packages-comp.col-12 .similar-packages-image {
        min-height: 17.5rem;
    }
}

.similar-packages-comp.col-12 .similar-packages-content {
    background-color: #ffffff;
    padding: 21px 30px 34px;
    padding: 1.3125rem 1.875rem 2.125rem;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .similar-packages-comp.col-12 .similar-packages-content {
        padding-bottom: 5rem;
    }
}
            .similar-packages-comp.col-12 .similar-packages-content .price-wrp{
position: absolute;
    right: 30px;
    right: 1.875rem;
    bottom: 80px;
    bottom: 5rem;
    font-weight:bold;
}
@media only screen and (max-width: 991px) {
    .similar-packages-comp.col-12 .similar-packages-content .price-wrp {
        bottom: 1.5rem;
         right: unset;
         left:1.875rem;
    }
}
.similar-packages-comp.col-12 .similar-packages-content .similar-packages-view-btn {
    position: absolute;
    right: 30px;
    right: 1.875rem;
    bottom: 34px;
    bottom: 2.125rem;
}

@media only screen and (max-width: 991px) {
    .similar-packages-comp.col-12 .similar-packages-content .similar-packages-view-btn {
        bottom: 1.125rem;
    }
}

@media only screen and (max-width: 767px) {
    .similar-packages-comp.col-12 .similar-packages-content .placeholder-title-wrap {
        padding: 0 !important;
    }
}

.similar-packages-comp.col-12 .similar-packages-content .similar-packages-title {
    font-family: Calibri-bold;
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 1;
    color: #323232;
    margin-bottom: 14px;
    margin-bottom: 0.875rem;
}

.similar-packages-comp.col-12 .similar-packages-content .package-date-seleted {
    margin: 23px 0 30px;
    margin: 1.4375rem 0 1.875rem;
}

@media only screen and (max-width: 767px) {
    .similar-packages-comp.col-12 .similar-packages-content .package-date-seleted {
        margin: 0.8125rem 0 1.25rem;
    }
}

.similar-packages-comp.col-12 .similar-packages-content .package-date-seleted .date-seleted-icon {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    width: 0.91875rem;
    height: 13px;
    height: 0.8125rem;
}

.similar-packages-comp.col-12 .similar-packages-content .package-date-seleted .date-seleted-title {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri-bold;
    font-size: 14px;
    line-height: normal;
    color: #4a4a4a;
}

.similar-packages-comp.col-12 .similar-packages-content .package-date-seleted .date-seleted-title .date-seleted-value {
    font-family: Calibri;
}

.similar-packages-comp.col-12 .similar-packages-content .package-night-info {
    font-family: Calibri-bold;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #4a4a4a;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

.similar-packages-comp.col-12 .similar-packages-content .package-location-available {
    margin-bottom: 36px;
    margin-bottom: 2.25rem;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #4a4a4a;
}

@media only screen and (max-width: 767px) {
    .similar-packages-comp.col-12 .similar-packages-content .package-location-available {
        margin-bottom: 1.25rem;
    }
}

.similar-packages-comp.col-12 .similar-packages-content .package-inclusions-container .package-inclusions-title {
    font-family: Calibri-bold;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #616161;
}

.similar-packages-comp.col-12 .similar-packages-content .package-inclusions-container .package-inclusions-content {
    margin-top: 10px;
    margin-top: 0.625rem;
    background-color: #f5f5f5;
    padding: 18px 18px 21px 24px;
    padding: 1.125rem 1.125rem 1.3125rem 1.5rem;
    position: relative;
    max-width: 385px;
    max-width: 24.0625rem;
}

@media only screen and (max-width: 767px) {
    .similar-packages-comp.col-12 .similar-packages-content .package-inclusions-container .package-inclusions-content {
        padding: 1.125rem 0.9375rem 0.625rem 1.25rem;
    }
}

.similar-packages-comp.col-12 .similar-packages-content .package-inclusions-container .package-inclusions-content::before {
    width: 6px;
    width: 0.375rem;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: var(--linearGradient);
}

.similar-packages-comp.col-12 .similar-packages-content .package-inclusions-container .package-inclusions-content .package-inclusions-ul {
    margin-bottom: -31px;
    margin-bottom: -1.9375rem;
}

@media only screen and (max-width: 767px) {
    .similar-packages-comp.col-12 .similar-packages-content .package-inclusions-container .package-inclusions-content .package-inclusions-ul {
        margin-bottom: -1.25rem;
    }
}

.similar-packages-comp.col-12 .similar-packages-content .package-inclusions-container .package-inclusions-content .package-inclusions-ul .package-inclusions-li {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-bottom: 31px;
    margin-bottom: 1.9375rem;
    min-width: 110px;
    min-width: 6.9rem;
}

@media only screen and (max-width: 767px) {
    .similar-packages-comp.col-12 .similar-packages-content .package-inclusions-container .package-inclusions-content .package-inclusions-ul .package-inclusions-li {
        min-width: initial;
        width: auto;
        margin-left: 0.625rem;
        margin-bottom: 1.25rem;
    }
}

.similar-packages-comp.col-12 .similar-packages-content .package-inclusions-container .package-inclusions-content .package-inclusions-icon {
    width: 23px;
    width: 1.4375rem;
    height: 21px;
    height: 1.3125rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-right: 0.3125rem;
    object-fit: contain;
}

.similar-packages-comp.col-12 .similar-packages-content .package-inclusions-container .package-inclusions-content .package-inclusions-text {
    font-family: Calibri-bold;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #4a4a4a;
    display: inline-block;
    vertical-align: middle;
}