<template data-sly-template.template="${@ model, hotel}">
    <div class="carousel slide" id="bannerCarousel" data-ride="carousel" data-login-support=${properties.loginSupport}>
        <ol class="carousel-indicators mr-carousel-dots" data-sly-list="${model.banners}">
            <li data-sly-attribute.class="${itemList.first? 'active': ''}" data-target="#bannerCarousel" data-slide-to="${itemList.index}"></li>
        </ol>
        <sly data-sly-test="${model.banners}">
            <div class="carousel-inner mr-carousel-wrap" data-sly-list="${model.banners}">
                <div data-sly-attribute.class="${itemList.first ? 'carousel-item active' : 'carousel-item' }">
                    <div class="banner-carousel-each-wrap ${properties.isVideo || properties.isYoutube ? 'video-banner' :''}" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                        <sly data-sly-test="${properties.isYoutube}">
                            <div class = "banner-video-cont">
                                <iframe type="text/html" width="100%" height="100%" src="https://www.youtube.com/embed/${properties.youtubeId}?rel=0&showinfo=0&autoplay=1&mute=1&loop=1&controls=0&playlist=${properties.youtubeId}" frameborder="0" allow="autoplay;loop;"></iframe>
                            </div>
                        </sly>
                        <sly data-sly-test="${properties.isVideo}">
                            <video width="100%" height="100%" autoplay="autoplay" loop="true" muted>
                                <source src="${item.bannerImage}" type="video/mp4">
                            </video>
                        </sly>
                        <sly data-sly-test="${!properties.isVideo && !properties.isYoutube}">
                            <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= item.bannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', mobileImage=item.mobileImage}"></sly>
                        </sly>
                        <div class="banner-image-tint" data-sly-test="${item.tintOpacity}" style="opacity: ${item.tintOpacity @context='scriptString'};"></div>
                        <div class = "container position-abs">
                            <div class="mr-carousel-image-contents-wrapper banner-titles">
                                <div class="mr-offers-and-promotions ${item.bannerTitlePosition} cm-header-label" style="font-size: ${item.bannerTitleFontSize @context='styleToken'}; font-family: ${item.bannerTitleFont @context='styleToken'};">${item.bannerTitle}</div>
                                <div class="mr-offers-and-promotions ${item.bannerSubTitlePosition}" style="font-size: ${item.bannerSubtitleFontSize @context='styleToken'}; font-family: ${item.bannerSubtitleFont @context='styleToken'};">${item.bannerSubTitle}</div>
                                <div class="mr-innerCircle-member-offers ${item.bannerDescPosition}">
                                    <span class="mobile-display-none holidays-selection-text" style="font-size: ${item.bannerDescFontSize @context='styleToken'}; font-family: ${item.bannerDescFont @context='styleToken'};">${item.bannerDescDesk}</span>
                                    <span class="desktop-display-none">${item.bannerDescMob}</span>
                                    <sly data-sly-test=${properties.showDate}><span class="banner-date"></span></sly>
                                    <sly data-sly-test=${properties.showTemperature}>
                                        <div class="inline-block hotel-banner-temperature" id="banner-temperature" data-hotellat="${hotel.hotelLatitude}" data-hotellon="${hotel.hotelLongitude}">
                                             | <span id="temperature-update"> </span> <span class="cm-degree"> </span> <span>C</span>
                                        </div>
                                    </sly>
                                </div>
                                <sly data-sly-test.linkText=${item.bannerLinkText}>
                                    <a class = "mr-banner-btn-anc ${item.bannerButtonLayout}" href="${item.bannerLinkUrl}.html"><button class="cm-btn-secondary mr-visit-hotel">${item.bannerLinkText}</button></a>
                                </sly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </sly>
        <a class="carousel-control-prev carousel-control" href="#bannerCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next carousel-control" href="#bannerCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <sly data-sly-test="${model.tierBanners}">
        <section class="d-none" data-sly-list="${model.tierBanners}">
            <div id="cb-${itemList.count}" class="carousel-item" data-context="${item.context}">
                <div class="banner-carousel-each-wrap" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= item.bannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', mobileImage=item.mobileImage}"></sly>
                    <div class="banner-image-tint" data-sly-test="${!item.tintOpacity}"></div>
                    <div class="banner-image-tint" data-sly-test="${item.tintOpacity}" style="opacity: ${item.tintOpacity @context='scriptString'};"></div>
                    <div class = "container position-abs">
                        <div class="mr-carousel-image-contents-wrapper banner-titles">
                            <div class="mr-offers-and-promotions ${item.bannerTitlePosition} cm-header-label" style="font-size: ${item.bannerTitleFontSize @context='styleToken'}; font-family: ${item.bannerTitleFont @context='styleToken'};">${item.bannerTitle}</div>
                            <div class="mr-offers-and-promotions ${item.bannerSubTitlePosition}" style="font-size: ${item.bannerSubtitleFontSize @context='styleToken'}; font-family: ${item.bannerSubtitleFont @context='styleToken'};">${item.bannerSubTitle}</div>
                            <div class="mr-innerCircle-member-offers ${item.bannerDescPosition}">
                                <span class="mobile-display-none holidays-selection-text" style="font-size: ${item.bannerDescFontSize @context='styleToken'}; font-family: ${item.bannerDescFont @context='styleToken'};">${item.bannerDescDesk}</span>
                                <span class="desktop-display-none">${item.bannerDescMob}</span>
                                <sly data-sly-test=${properties.showDate}><span class="banner-date"></span></sly>
                                <sly data-sly-test=${properties.showTemperature}>
                                    <div class="inline-block hotel-banner-temperature" id="banner-temperature" data-hotellat="${hotel.hotelLatitude}" data-hotellon="${hotel.hotelLongitude}">
                                         | <span id="temperature-update"> </span> <span class="cm-degree"> </span> <span>C</span>
                                    </div>
                                </sly>
                            </div>
                            <sly data-sly-test.linkText=${item.bannerLinkText}>
                                <a class = "mr-banner-btn-anc ${item.bannerButtonLayout}" href="${item.bannerLinkUrl}.html"><button class="cm-btn-secondary mr-visit-hotel">${item.bannerLinkText}</button></a>
                            </sly>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                registerContextualBanner("cb-${itemList.count @ context='scriptToken'}", "${item.context @ context='text'}");
            </script>
        </section>
    </sly>
</template>