
<!-- Removed by Murli to move the Clientlibs to component level -->
<div id="test" style="display :none; ">
	<ul data-sly-list.child="${currentPage.listChildren}">
     <li>${child.properties['hotelId']}</li>
    </ul>
</div>

<div class="content-wrapper container">
	<!-- Component-->
	<sly
		data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
		data-sly-repeat.child="${templatedContainer.structureResources}"
		data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName='div'}"></sly>
	<!-- Component-->
</div>
