<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.holidaypackageinclusions'}" />
<sly data-sly-use.model="com.ihcl.core.models.holidays.packages.IHolidayPackageInclusions">

<div data-sly-test.edit="${wcmmode.edit}">
    Holidays Package Inclusions List Component
    Populates Package Inclusions from the JCR.
</div>
<div class="cm-package-block">
<div class="row incredible-packages-wrapper">
    <div class="incredible-escape-package-inclusion col-12">
		<div class="package-inclusion-title">${properties.inclusionsLabel}
            <div class="package-inclusion-show-more no-display-desktop"> Show more <img src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt  = "drop-down-arrow-icon"></div>
            <div class="package-inclusion-show-more cm-hide no-display-desktop"> Show less <img class="show-less-arrow" src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt = "drop-down-arrow-icon"></div>
        </div>
        <div class="package-inclusion-title-content"  data-sly-list.listItem="${model.allInclusions}">
			<div class="package-inclusion-li"><img class="pac-inclusion-icon" src="${listItem.InclusionImagePath}" alt = "Package Inclusion Image">
                <div class="pac-inclusion-title">${listItem.InclusionTitle}</div>
                <div class="pac-inclusion-description">${listItem.InclusionDescription}</div>
            </div>
        </div>
    </div>
</div>
</div>