.key-figure-wrap .key-figure-item-wrp:nth-child(-n+2) .key-figure-item-lacs {
   display: none;
}
.key-figure-wrap {
    display: -ms-flexbox;
    display: flex;
    border: solid 1px #002b49;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: white;
}

.key-figure-wrap .key-figure-item-wrp {
    border-right: solid 1px #002b49;
    -ms-flex: 1;
    flex: 1;
}
.key-figure-home .key-figure-item-wrp:last-child .key-figure-item {
border: none;
}
.key-figure-wrap .key-figure-item-wrp:last-child {
    border: none;
}

.key-figure-wrap .key-figure-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 16px;
    padding: 1rem;
}

@media only screen and (max-width: 375px) {
    .key-figure-wrap .key-figure-item {
        padding: 0.625rem;
    }
}

.key-figure-wrap .key-figure-item-no {
    font-family: Calibri;
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #002b49;
    word-wrap:break-word;
}

@media only screen and (max-width: 767px) {
    .key-figure-wrap .key-figure-item-no {
        font-size: 1rem;
    }
}

.key-figure-wrap .key-figure-item-name {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    color: #4a4a4a;
    text-align: center;
        word-wrap:break-word;
}

@media only screen and (max-width: 767px) {
    .key-figure-wrap .key-figure-item-name {
        font-size: 0.875rem;
    }
}

.key-figure-wrap .key-figure-item-lacs {
    font-family: Calibri;
    font-size: 12px;
    line-height: 2.08;
    text-align: center;
    color: #b3b3b3;
    word-wrap:break-word;
}

@media only screen and (max-width: 767px) {
    .key-figure-wrap .key-figure-item-lacs {
        font-size: 0.75rem;
    }
}

.key-figure-wrap .mr-hide {
    display: none;
}

.key-figure-home .key-figure-wrap {
    background-color: #002b49;
    border: none;
    margin-top:1rem;
}
.key-figure-home .margin-wrap {
  margin-top:1rem;
}

@media only screen and (max-width: 767px) {
    .key-figure-home .key-figure-wrap {
        padding: 0.25rem;
    }
}

.key-figure-home .key-figure-item-wrp {
    border: none;
    padding: 4px;
    padding: 0.25rem;
}

@media only screen and (max-width: 767px) {
    .key-figure-home .key-figure-item-wrp {
        border-bottom: solid 1.4px #cacaca;
        padding: 0;
        width: 100%;
        -ms-flex: unset;
        flex: unset;
    }
}

.key-figure-home .key-figure-item {
    border-right: solid 1.4px #cacaca;
}

@media only screen and (max-width: 767px) {
    .key-figure-home .key-figure-item {
        border-right: none;
    }
}



.key-figure-home .key-figure-item-no {
    color: #b4975a;
    font-size: 36px;
    font-size: 2.25rem;
}

.key-figure-home .key-figure-item-name {
    color: #ffffff;
    font-size: 24px;
    font-size: 1.5rem;
}

@media only screen and (max-width: 375px) {
    .key-figure-home .key-figure-item-name {
        font-size: 1.25rem;
    }
}

.key-figure-home .key-figure-item-lacs {
    color: #ffffff;
    font-size: 18px;
    font-size: 1.125rem;
}
@media only screen and (max-width: 767px){
	.key-figure-home{
	margin: 0 1rem;
	}
}
