<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	 data-sly-call="${clientlib.all @ categories='taj.hotels.components.custom-event-redirection'}" />
<div data-sly-test="${wcmmode.edit}">
	Custom Event Redirection Component
</div>
<div class="custome-event-handler" data-custom-redirect-event="${properties.event}" data-custom-redirect-path="${properties.redirectPath}"></div>
