.banner-about-us-content {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
    width: 450px;
    width: 28.125rem;
    margin: auto;
}

.banner-about-us-container .cm-header-label {
    text-shadow: none;
}


.banner-image-con {
    position: relative;
    text-align: center;
    color: #fff;
  /*height: 510px;*/
    height: 510px;
    height: 31.875rem;
}

@media only screen and (max-width: 767px) {
    .banner-image-con {
        height: 15rem;
    }
}

.cm-banner-image {
    width: 100%;
    height: 510px;
}

.cm-banner-image img {
    height: 100%;
}

.banner-titles {
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-family: Calibri;
}

.banner-titles .cm-header-label-con {
    display: inline-block !important;
    position: relative;
    margin-bottom: 30px !important;
}

.banner-titles .cm-header-label-con.title-decorator-border::after {
    left: 50%;
    margin-left: -50px;
}

.banner-titles .cm-header-label {
    color: #fff;
    font-size: 40px;
    text-shadow: 1px 5px 10px #000000;
}

.banner-titles .banner-label-below-title-lg {
    font-size: 40px;
}

.banner-titles .banner-label-below-title-sm {
    font-size: 20px;
    text-shadow: 1px 5px 10px #000000;
}



    .banner-label-below-title-lg {
        display: none;
    }

    .banner-label-below-title-sm {
        display: none;
    }

    

    .banner-titles .cm-header-label {
        font-size: 30px;
        font-family: "Calibri-Bold";
        color: #fff;
    }

    .banner-titles .cm-header-label-con.title-decorator-border::after {
        left: 50%;
        margin-left: -50px;
        -ms-transform: none;
        transform: none;
    }

    .banner-titles .cm-header-label-con {
        margin-bottom: 0 !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .banner-titles {
        height: 100px !important;
    }
}

@media only screen and (min-width:320px) and (max-width: 767px) {
    .banner-about-us-content { 
        width:auto;
    }
    .banner-titles {
        height: 100px !important;
    }
    .cm-page-container .cm-header-label-con .cm-header-label{
		width:100%;
		padding:0 20px;
    }
}

.banner-image-tint {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    /* background-image: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.3)); */
    /* background-image: linear-gradient(-164deg, transparent 0%, #000000 126%); */
    background: #000;
    opacity: 0.3;
}

