.pressCard-container {
    box-shadow: 0 7px 14px 0 #e5e3e3;
    transition: 0.3s ease-in-out;
}

@media screen and (min-width: 992px) {
    .pressCard-container {
        height: 100%;
    }
}

.pressCard-image-container img {
    height: 100%;
    width: 100%;
}

.pressCard-description-container {
    padding: 13px 20px 30px 20px;
    padding: 0.8125rem 1.25rem 1.875rem 1.25rem;
}

.pressCard-description-container .pressCard-header {
    font-family: Calibri-Bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.25;
    letter-spacing: normal;
    color: #323232;
}

.pressCard-description-container .pressCard-date {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.38;
    color: #999999;
}

.pressCard-description-container .pressCard-desc {
    margin-top: 5px;
    margin-top: 0.3125rem;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.19;
    color: #4a4a4a;
}

.pressCard-description-container .pressCard-desc .read-more {
    cursor: pointer;
}

.pressCard-description-container .pressCard-desc a:hover {
    color: var(--primaryColor) !important;
}

.pressCard-container:hover {

    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.3s ease-in-out;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.15);
}

.cm-card-showmore-spacing-wedding {
    margin-bottom: 2rem;
    display: block;
}


