.pre-planned-itinerary-outer-con {
    display: block;
}

.pre-planned-itinerary-section {
    background: #fff;
    padding: 36px 36px 50px;
    padding: 2.25rem 2.25rem 3.125rem;
    margin-top: 20px !important;
    margin-top: 1.25rem !important;
}

.pre-planned-itinerary-con {
    background: #f6f6f6;
    padding: 14px;
    padding: 0.875rem;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    margin-bottom: 2.375rem;
}

@media only screen and (max-width: 991px) {
    .pre-planned-itinerary-con {
        display: block;
        padding-bottom: 3.75rem;
        padding: 0 !important;
    }
}

.pre-planned-itinerary-details-con {
    width: cacl(62.1875%);
    padding-left: 19px;
    padding-left: 1.1875rem;
    padding-right: 90px;
    padding-right: 5.625rem;
}

.pre-planned-itinerary-details-con .pre-planned-itinerary {
    display: block !important;
    margin-top: 20px;
    margin-top: 1.25rem;
}

.pre-planned-itinerary-details-con .pre-planned-itinerary input[type='radio']:checked + label {
    font-family: Calibri;
}

.pre-planned-itinerary-details-con .pre-planned-itinerary input[type='radio']:not(:checked)_label {
    font-family: Calibri;
}

@media only screen and (max-width: 991px) {
    .pre-planned-itinerary-details-con .pre-planned-itinerary {
        position: absolute;
        bottom: 0.9375rem;
    }
}

.pre-planned-itinerary-details-con .gallery-nav-radio-label {
    color: #9b9b9b;
}

@media only screen and (max-width: 991px) {
    .pre-planned-itinerary-details-con {
        padding: 0 15px;
    }
}

.pre-planned-itinerary-details-heading {
    font-size: 28px;
    font-size: 1.75rem;
    font-family: Calibri-Bold;
    color: #323232;
    margin-bottom: 5px;
    margin-bottom: 0.3125rem;
}

@media only screen and (max-width: 991px) {
    .pre-planned-itinerary-details-heading {
        font-size: 1.5rem;
    }
}

.pre-planned-itinerary-details-desc {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #323232;
    line-height: 1.38;
}

.pre-planned-itinerary-our-itinerary-sec {
    margin-top: 10px;
    margin-top: 0.625rem;
}

.pre-planned-itinerary-our-itinerary-sec .pre-planned-itinerary-our-itinerary {
    display: inline-block;
    width: 49%;
    color: #323232;
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 5px;
    margin-bottom: 0.3125rem;
}

.pre-planned-itinerary-our-itinerary-sec .pre-planned-itinerary-our-itinerary:nth-child(n+6) {
    display: none;
}

.pre-planned-itinerary-our-itinerary-sec .pre-planned-itinerary-our-itinerary-show {
    color: var(--primaryColor);
    font-size: 14px;
    font-size: 0.875rem;
    font-family: Calibri-Bold;
    display: inline-block;
    width: 49%;
    cursor: pointer;
}

.pre-planned-itinerary-our-itinerary-sec .pre-planned-itinerary-our-itinerary-show img {
    margin-left: 10px;
    margin-left: 0.625rem;
    height: 8px;
    height: 0.5rem;
    width: 10px;
    width: 0.625rem;
}

.pre-planned-itinerary-our-itinerary-sec .pre-planned-itinerary-our-itinerary-show::before {
    content: 'Show More';
}

@media only screen and (max-width: 767px) {
    .pre-planned-itinerary-section{
        padding: 0px;
    }
    .pre-planned-itinerary-outer-con{
        padding: 15px;   
    }
    .pre-planned-itinerary-our-itinerary-sec .pre-planned-itinerary-our-itinerary {
        width: 100%;
    }

    .pre-planned-itinerary-our-itinerary-sec .pre-planned-itinerary-our-itinerary-show {
        width: 100%;
    }

    .pre-planned-itinerary-our-itinerary-sec .pre-planned-itinerary-our-itinerary:nth-child(n+4) {
        display: none;
    }
}

.pre-planned-itinerary-our-itinerary-sec-exp .pre-planned-itinerary-our-itinerary:nth-child(n+6) {
    display: inline-block;
}

.pre-planned-itinerary-our-itinerary-sec-exp .pre-planned-itinerary-our-itinerary-show img {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pre-planned-itinerary-our-itinerary-sec-exp .pre-planned-itinerary-our-itinerary-show::before {
    content: 'Show Less' !important;
}

@media only screen and (max-width: 767px) {
    .pre-planned-itinerary-our-itinerary-sec-exp .pre-planned-itinerary-our-itinerary:nth-child(n+4) {
        display: inline-block;
    }
}

.pre-planned-itinerary-our-itinerary-heading {
    font-family: Calibri-Bold;
    font-size: 20px;
    font-size: 1.25rem;
    color: #323232;
}

.pre-planned-itinerary-img-sec {
    width: 601px;
    width: 37.5625rem;
}

.pre-planned-itinerary-img-con {
    width: 183px;
    width: 11.4375rem;
    height: 241px;
    height: 15.0625rem;
    margin-right: 26px;
    margin-right: 1.625rem;
}

@media only screen and (max-width: 991px) {
    .pre-planned-itinerary-img-con {
        width: 18.5625rem;
        height: 12.1875rem;
        margin-right: 1.125rem;
    }
}

.pre-planned-itinerary-img-con img {
    height: 100%;
    width: 100%;
}

.pre-planned-itinerary-img-con:last-child {
    margin-right: 0;
}

.pre-planned-itinerary-img-inner-wrap {
    width: auto;
    display: -ms-flexbox;
    display: flex;
    padding-top: 46px;
    padding-top: 2.875rem;
}

@media only screen and (max-width: 991px) {
    .pre-planned-itinerary-img-inner-wrap {
        padding-top: 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
}

::-webkit-scrollbar {
    display: none;
}

.pre-planned-itinerary-img-section {
    position: relative;
}

@media only screen and (max-width: 991px) {
    .pre-planned-itinerary-img-section {
        margin-top: 1.0625rem;
        overflow-x: scroll;
        padding: 0 0 4.375rem 15px;
    }
}

.pre-planned-itinerary-view-all {
    position: absolute;
    right: 26px;
    right: 1.625rem;
    top: 10px;
    top: 0.625rem;
    font-size: 14px;
    font-size: 0.875rem;
    font-family: Calibri-Bold;
    color: var(--primaryColor);
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 1.8px;
}

@media only screen and (max-width: 991px) {
    .pre-planned-itinerary-view-all {
        display: none;
    }
}

.pre-planned-itinerary-full-day{
    width: 100%
}

.pre-planned-itinerary-half-day{
    width: 100%;
}