@media only screen and (max-width: 767px) {
    .incredible-escape-enquiry {
        background-color: #ffffff;
        padding: 1.0625rem 1.375rem 1.5625rem 1.5rem;
    }
}

.incredible-escape-enquiry form.enquiry-form {
    background-color: #ffffff;
    padding: 23px 74px 43px 68px;
    padding: 1.4375rem 4.625rem 2.6875rem 4.25rem;
    margin-top: 14px;
    margin-top: 0.875rem;
}

@media only screen and (max-width: 991px) {
    .incredible-escape-enquiry form.enquiry-form {
        padding: 1.25rem 1.5625rem 1.875rem 1.875rem;
    }
}

@media only screen and (max-width: 767px) {
    .incredible-escape-enquiry form.enquiry-form {
        padding: 0;
        margin-top: 0;
    }
}

.incredible-escape-enquiry form.enquiry-form .enquiry-form-title {
    font-family: Calibri-bold;
    font-size: 30px;
    color: #282828;
    margin-bottom: 44px;
    margin-bottom: 2.75rem;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-enquiry form.enquiry-form .enquiry-form-title {
        font-size: 1.5rem;
        margin-bottom: 1.4375rem;
    }
}

.incredible-escape-enquiry form.enquiry-form .enquiry-submit-btn {
    min-width: 121px;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-enquiry form.enquiry-form .enquiry-submit-btn {
        position: relative;
    }
}

.incredible-escape-enquiry form.enquiry-form .enquiry-holiday-on-call {
    margin: 30px 0 20px;
    margin: 1.875rem 0 1.25rem;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-enquiry form.enquiry-form .enquiry-holiday-on-call {
        margin: 0.9375rem 0 0.625rem;
    }
}

.incredible-escape-enquiry form.enquiry-form .enquiry-holiday-on-call .mr-filterCheckBox-label {
    margin-left: 32px;
    margin-left: 2rem;
}

.incredible-escape-enquiry form.enquiry-form .mandatory-text {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    color: #818b92;
}

@media only screen and (max-width: 525px) {
    .incredible-escape-enquiry form.enquiry-form.mr-sub-form .sub-form-input-label {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 767px) {
    .incredible-escape-enquiry form.enquiry-form.mr-sub-form [class*="col-md"] {
        padding: 0 !important;
    }
}

.incredible-escape-enquiry form.enquiry-form.mr-sub-form [class*="col-md"]:nth-child(3n-2) {
    padding-right: 40px;
    padding-right: 2.5rem;
}

.incredible-escape-enquiry form.enquiry-form.mr-sub-form [class*="col-md"]:nth-child(3n-1) {
    padding: 0 20px;
    padding: 0 1.25rem;
}

.incredible-escape-enquiry form.enquiry-form.mr-sub-form [class*="col-md"]:nth-child(3n) {
    padding-left: 40px;
    padding-left: 2.5rem;
}

.incredible-escape-enquiry form.enquiry-form.mr-sub-form [class*="col-md"] .phone-number-col {
    padding-left: 8px;
    padding-left: 0.5rem;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-enquiry form.enquiry-form.mr-sub-form [class*="col-md"] .phone-number-col {
        padding-left: 0.5rem !important;
    }
}

.jiva-spa-date-con.enquiry-date-con {
    border-bottom: none;
    padding-left: 0 !important;
}

.jiva-spa-date-con.enquiry-date-con img {
    top: 0;
}

.jiva-spa-date-con.enquiry-date-con .sub-form-input-element {
    background-color: transparent;
    color:#000;
}

.col-6.from-to-datepicker-con:nth-child(odd) {
    padding-right: 10px;
    padding-right: 0.625rem;
}

@media only screen and (max-width: 767px) {
    .col-6.from-to-datepicker-con:nth-child(odd) {
        padding-right: 0.625rem !important;
    }
}

.col-6.from-to-datepicker-con:nth-child(even) {
    padding-left: 10px;
    padding-left: 0.625rem;
}

@media only screen and (max-width: 767px) {
    .col-6.from-to-datepicker-con:nth-child(even) {
        padding-left: 0.625rem !important;
    }
}

@media only screen and (max-width: 767px) {
    #enquiry-to-date.jiva-spa-date {
        left: initial;
        right: 0;
    }
}

#enquiryGenderSelectBoxItContainer .selectboxit-option-icon-container {
    display: none;
}

#enquiryGenderSelectBoxItContainer .selectboxit-option-first {
    display: list-item;
}

#enquiryGenderSelectBoxItContainer .selectboxit-option {
    text-align: left;
}

/*-----------------------------------CSS from page level classes--------------------------------------------*/

.cm-page-container {
    background: #f5f5f5;
}

.cm-page-container .row {
    margin: auto;
}

.cm-page-container [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}



.cm-page-container .content-wrapper .cm-content-blocks {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .content-wrapper .cm-content-blocks {
        margin-top: 30px;
    }
}

.cm-page-container .content-wrapper .cm-content-blocks:first-child {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .content-wrapper .cm-content-blocks:first-child {
        margin-top: 30px;
    }
}

/*-----------------------------------CSS for calendar classes--------------------------------------------*/

.jiva-spa-date .datepicker {
    padding: 0;
}

.jiva-spa-date .datepicker-inline {
    width: auto;
}

.jiva-spa-date .datepicker-days {
    border: solid 0.5px #e0dfdf;
}

.jiva-spa-date .table-condensed {
    margin: 0 19px 19px;
    margin: 0 1.21875rem 19px;
    font-size: 10px;
    font-size: 0.625rem;
    font-family: Calibri;
    width: 85% !important;
}

.jiva-spa-date td {
    height: 26.5px;
    border: solid 0.5px #e0dfdf;
    border-radius: 0;
}

.jiva-spa-date tr:nth-child(2) th {
    height: 35px;
    font-size: 14px;
    font-size: 0.875rem;
}

.jiva-spa-date tr:last-child th {
    height: 26.5px;
    border: solid 0.5px #e0dfdf;
    color: rgba(52, 72, 94, 0.54);
}

@media only screen and (max-device-width: 767px) {
    .jiva-spa-date {
        width: auto;
        z-index: 999999991;
    }
	}

.cm-breadcrumb-wrapper {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: var(--primaryColor);
    text-decoration: underline;
}

.cm-breadcrumb-wrapper span {
    color: #4a4a4a;
    margin: 0 5px;
    margin: 0 0.3125rem;
}

.cm-breadcrumb-wrapper span:last-child {
    margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .cm-breadcrumb-wrapper {
        display: none;
    }
}

.cm-breadcrumb-wrapper.mobile-view-visible {
    display: block;
    background-color: #efeeee;
    margin-bottom: -24px;
    margin-bottom: -1.5rem;
    mix-blend-mode: multiply;
    padding-left: 25px;
    padding-left: 1.6rem;
    margin-top: 24px;
    margin-top: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .cm-breadcrumb-wrapper.mobile-view-visible {
        display: none;
    }
}

.sub-form-input-element:disabled {
    color: #b6b6b6;
    font-size: 1rem;
}