<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.donationRetry'}" />

<!-- data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} -->


<div class="gift-hamper-user-details-container cm-content-blocks">
    <div id="donation-retry-form" class="checkout-enter-details-card">
        <div data-sly-test="${properties.enterDetailsLabel}" class="checkout-enter-details-header gifthamper">
            <div class="checkout-form-title">${properties.enterDetailsLabel}</div>
        </div>
        <form class="booking-details-wrp form-step-content gift-hamper-form" name="enter-details-form">
            <div data-sly-test="${properties.proceedToPaymentLabel}" class="booking-details-proceed-wrapper">
                <input type="hidden" id="content-root-path" value="${inheritedPageProperties.siteConfigContentPath}" aria-hidden = "true" />
                <div class="proceed-button-column" >
                    <button class="gift-hamper-payment-button cm-btn-secondary" type="button">${properties.proceedToPaymentLabel}</button>
                </div>
            </div>
        </form>
    </div>
</div>