<div data-sly-test.edit=${wcmmode.edit}>
	<h1>ihcl workgloballeader component</h1>
</div>


<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"
	data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihclworkgloballeader,taj.hotels.components.offers-card'}" />
<div class=row>
	<div class="col-lg-8 col-md-6">
		<div class="offers-page-card-component ihcl-work-global-leader-card">
			<div class="offers-card-inner-wrapper">
				<div class="ihcl-work-global-leader-card-image">
					<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.image,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>
				</div>
				<div class="offers-card-main">
					<div class="offers-card-title">${properties.title}</div>
					<div class="desc-section-workwithglobal">
						<div class="rooms-suites-description">${properties.description
							@context='html'}</div>
						<div class="rooms-suites-description">${properties.longdescription
							@context='html'}</div>
					</div>
					<div class="ihcl-work-card-footer">
						<a class="offer-view-details button-view-details"
							href="${properties.buttonurl}" target="_blank"><button
								class="cm-btn-secondary">${properties.buttontext}</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 ihcl-guest-speak-card-full-width">
		<div class="ihcl-guest-speak-card-alignment">
			<sly class="x-content-wrapper "
				data-sly-resource="${'par_3' @ resourceType='foundation/components/parsys'}"></sly>
		</div>
	</div>

</div>
