<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='tajhotels.titledescription'}"/>  
<div class="cm-content-blocks ihcl-specific">
    <div class="cm-header-label-con title-decorator-border">
        <h2 class="cm-header-label"  data-sly-element="${properties.type}">${properties.headerTitle  @context='html'}</h2>
    </div>
    <div data-sly-test="${properties.headerDescription}" class="row">
        <div class="col-lg-12 placeholder-title-wrap">
            <div class="placeholder-header-title">
            ${properties.headerDescription  @context='html'}
            </div>
        </div>
    </div>
</div>

 