/*.mr-holidays-activities-card-wrapper {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.mr-holidays-activities-card-wrapper:nth-child(3n) {
    padding-left: 15px;
    padding-left: 0.9375rem;
}

.mr-holidays-activities-card-wrapper:nth-child(3n-1) {
    padding-left: 15px;
    padding-left: 0.9375rem;
    padding-right: 15px;
    padding-right: 0.9375rem;
}

.mr-holidays-activities-card-wrapper:nth-child(3n-2) {
    padding-right: 15px;
    padding-right: 0.9375rem;
}

@media only screen and (max-width: 767px) {
    .mr-holidays-activities-card-wrapper:nth-child(n+3) {
        display: none;
    }
}*/
.mr-holidays-activities-card-Imgwrap {
    height: 410px;
    height: 25.625rem;
}

@media only screen and (max-width: 767px) {
    .cm-content-blocks.holidays-experiences-list-content-block {
        margin: 0 !important;
    }
    .mr-holidays-activities-card-Imgwrap {
        height: 24.0625rem;
    }
}

.mr-holidays-activities-card-Detailswrap {
    padding: 30px 25px;
    padding: 1.875rem 1.5625rem;
    display: table;
    width: 100%;
    background-color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .mr-holidays-activities-card-Detailswrap {
        padding: 1rem 1.125rem;
    }
}

.mr-explore-destination-locationName-wrap,
.mr-explore-destination-locationViewDetails-Btnwrap {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}

.mr-explore-destination-locationViewDetails-Btn {
    width: 100%;
}
.mr-holidays-activities-card-Detailswrap {
    padding: 30px 25px;
    padding: 1.875rem 1.5625rem;
    display: table;
    width: 100%;
    background-color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .mr-holidays-activities-card-Detailswrap {
        padding: 1rem 1.125rem;
    }
}
    .mr-explore-destination-locationName-wrap,
.mr-explore-destination-locationViewDetails-Btnwrap {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}
    .mr-explore-destination-locationViewDetails-Btn {
    width: 100%;
}
    .mr-experiences-description-wrap {
    min-height: 114px;
    min-height: 7.125rem;
    padding: 19px 32px;
    padding: 1.1875rem 2rem;
    background-color: #ffffff;
}
    .mr-experinces-title {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 0.92;
    text-align: left;
    color: #323232;
    padding-bottom: 10px;
    padding-bottom: 0.625rem;
}
    .mr-experinces-details-wrap, .mr-experinces-Button-wrap {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
    .mr-experinces-details-location {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    text-align: left;
    color: #585656;
}
    .mr-experinces-details-wrap, .mr-experinces-Button-wrap {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
/*-----------------------------------------------------------------------------------------*/
.specific-hotels-page .specific-hotels-breadcrumb a, .global-dining-layout .specific-hotels-breadcrumb a{color: var(--primaryColorDark)}
.cm-page-container .content-wrapper .cm-content-blocks {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .content-wrapper .cm-content-blocks {
        margin-top: 30px;
    }
}

.cm-page-container .content-wrapper .cm-content-blocks:first-child {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .content-wrapper .cm-content-blocks:first-child {
        margin-top: 30px;
    }
}
.mr-holiday-destination-about-cards-wrapper .mr-experinces-details-wrap{
     width:59%;
 }
.mr-holiday-destination-about-cards-wrapper .mr-experinces-Button-wrap{
            width:39%;
            text-align:right;
}
.mr-holidays-activities-card-Innerwrap {
    height: 100%;
    background: white;
}

.mr-holidays-Destination-about-image{
	height: 100%;
}              
