.offers-card-component {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    float: left;
}

.offers-card-component .offers-card-inner-wrapper {
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 0.6875rem 0.75rem 0 rgba(0, 0, 0, 0.05);
}

.offers-card-component .offers-card-header-container {
    min-height: 50px;
    min-height: 3.125rem;
    box-shadow: 0rem -0.3125rem 0.75rem 0 rgba(0, 0, 0, 0.05);
}

.offers-card-component .offers-card-image {
    width: 100%;
    height: 379px;
    height: 23.6875rem;
}

.offers-card-component .offers-card-main {
    padding: 17px 24px 26px 26px;
    padding: 1.0625rem 1.5rem 1.625rem 1.625rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    -ms-flex-align: end;
    align-items: flex-end;
}

.offers-card-component .offers-card-main .offer-main-left {
    margin-right: 15px;
    margin-right: 0.9375rem;
}

@media only screen and (max-width: 575px) {
    .offers-card-component .offers-card-main .offer-main-left {
        min-height: 4rem;
    }
}

@media only screen and (max-width: 425px) {
    .offers-card-component .offers-card-main .offer-main-left {
        min-height: 6rem;
    }
}

.offers-card-component .offers-card-main .offer-main-left .offers-card-title {
    font-family: Calibri;
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 1;
    color: #323232;
    margin-bottom: 11px;
    margin-bottom: 0.6875rem;
}

.offers-card-component .offers-card-main .offer-main-left .offers-card-description {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #9b9b9b;
    overflow: hidden;
    line-height: 1.3;
}

.offers-card-component .offers-card-main .offer-main-right {
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative;
    text-align: right;
}

.offers-card-component .offers-card-main .offer-main-right .offer-customer-wrapper {
    margin-top: -7px;
    margin-top: -0.4375rem;
    min-width: 165px;
    min-width: 10.3125rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    text-align: right;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-right: -25px;
    margin-right: -1.5625rem;
}

.offers-card-component .offers-card-main .offer-main-right .offer-customer-wrapper .offer-customer-name {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 0.77;
    color: #9b9b9b;
}

.offers-card-component .offers-card-main .offer-main-right .offer-customer-wrapper .offer-left-clipped {
    background: url("/etc.clientlibs/tajhotels/components/content/destination/destination-offer-carousel/clientlibs/resources/images/offer-left-clipped@2x.png");
    background-size: 170% 200%;
    text-align: center;
    background-position: top;
    padding: 10px 5px 3px 10px;
    margin-top: -9px;
    min-width: 74px;
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri-bold;
    font-size: 14px;
    font-size: 0.875rem;
    color: #ffffff;
}

.offers-card-component .offers-card-main .offer-main-right .button-view-details {
    width: 140px;
    width: 8.75rem;
}

@media only screen and (max-width: 425px) {
    .offers-card-component .offers-card-main .offer-main-right .button-view-details {
    /*width: 110px;*/
        width: auto;
    }
}

@media only screen and (max-width: 375px) {
    .offers-card-component .offers-card-main .offer-main-right .button-view-details {
        width: auto;
        font-size: 12px;
	font-size: 0.75rem;
    }
}

.offers-card-component .offers-card-main .offer-main-right .offer-validity {
    margin-top: 6px;
    margin-top: 0.375rem;
    margin-bottom: 11px;
    margin-bottom: 0.6875rem;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #323232;
}

.offers-card-component .offers-card-main .offer-main-right .offer-validity .offer-validity-date {
    display: inline-block;
}

@media only screen and (max-width: 1200px) {
    .offers-card-component .offers-card-main {
        padding: 1.125rem 1.25rem 1.25rem 1.25rem;
    }

    .offers-card-component .offers-card-main .offer-main-right .offer-customer-wrapper {
        margin-right: -1.3125rem;
    }
}

@media only screen and (max-width: 767px) {
    .offers-card-component .offers-card-image {
        height: 17.375rem;
    }

    .offers-card-component .offers-card-main {
        padding: 1.125rem 1.4375rem 1.25rem 1.5625rem;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: left;
    }

    .offers-card-component .offers-card-main .offer-main-left {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    .offers-card-component .offers-card-main .offer-main-left .offers-card-title {
        font-size: 1.5rem;
        color: #000000;
        margin-bottom: 0.4375rem;
    }

    .offers-card-component .offers-card-main .offer-main-left .offers-card-description {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .offers-card-component .offers-card-main .offer-main-right {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .offers-card-component .offers-card-main .offer-main-right .offer-validity {
        margin: 0rem;
        text-align: left;
        line-height: 1.25;
    }

    .offers-card-component .offers-card-main .offer-main-right .offer-validity .offer-validity-date {
        display: block;
    }

    .offers-card-component .offers-card-main .offer-main-right .offer-customer-wrapper {
        margin-right: 0rem;
        text-align: left;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-bottom: 0rem;
        min-width: auto;
    }

    .offers-card-component .offers-card-main .offer-main-right .offer-customer-wrapper .offer-left-clipped {
        display: block;
        margin-left: 0;
        text-align: left;
        padding-right: 0.75rem;
    }
}

@media only screen and (max-width: 424px) {
    .offers-card-component .offers-card-main .offers-card-title {
        font-size: 1.375rem;
    }

    .offers-card-component .offers-card-main .offer-main-right .offer-validity {
        font-size: 0.875rem;
    }
}
