.popularDest-wrap,
.cm-inner-carousal-cards {
    float: left;
    box-shadow: 0 2px 14px 0 #e5e3e3;
}

.popularDest-imageContainer {
    padding: 0;
    width: 100%;
}

.popularDest-imageContainer img {
    width: 100%;
}

.popularDest-details-container {
    height: 90px;
    width: 100%;
    background: #ffffff;
    color: #323232;
    font-size: 22px;
    font-family: Calibri;
    padding: 32px 0 36px 25px;
    position: relative;
}

@media only screen and (min-device-width: 1023px) and (max-device-width: 1100px) {
    .popularDest-details-container {
        height: 70px;
        padding: 20px 0 25px 15px;
    }
}

.view-detials-button {
    position: absolute;
    top: 28px;
    right: 21px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .cm-inner-carousal-cards:first-child {
        margin-left: 0 !important;
    }
}
 