.quickQuoteMain{
  position: fixed;
  width: 35rem;
  top: 65px;
  right: 1%;
}
.getQuoteBtn {
  margin: 0 0.3rem;
}
.resetBtn{
  margin: 0 0.3rem; 
}
.travelDetails {
    margin: 1rem 0 0;
}
.pricing-expl{
  font-family: Calibri;
  color: #818b92;
  text-decoration: underline;
  padding: 0  0 0.5rem;
  cursor:pointer;
}
.jet-name{
  font-family: Calibri;  
  font-size: 1.25rem;
  line-height: 1;
  color: #323232;  
  margin-bottom: 0.6875rem;
}
.jet-description{
  font-family: Calibri;  
  font-size: 1rem;
  line-height: 1.2;
  color: #9b9b9b;
  overflow: hidden;
}
.primary-rupee-ui{
  font-family: RupeeForadian;
  color: var(--primaryColor);
  font-size: 1.2rem;
  display: block;
}
.secondary-rupee-ui{
  font-family: RupeeForadian;
  color: #323232;
  font-size: 1.2rem;
  display: block;
}
i.quick-quote-close{
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1;
}
.cm-ui-form {
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
}

.row.cm-ui-form-row {
    margin: -1rem;
}

[class*="col-"].cm-ui-form-col {
    padding: 1rem;
}

.cm-ui-form-label {
    font-family: Calibri;    
    font-size: 1.125rem;
    color: #818b92;    
    margin-bottom: 0.625rem;
    display: block;
}

.cm-ui-form-element {
    background-color: transparent;
    width: 100%;
    padding: 0 0.625rem 0.375rem;
    font-family: Calibri;
    font-size: 1rem;
    color: #323232;
    outline: none;
    border: none;
    border-bottom: solid 1.7px #dee2e5;
    height: 30px;
}
.cm-ui-form-col .selectSubContainer{
    border-bottom: solid 1.7px #dee2e5;
    width: 100%; 
    height: 30px;
}

.cm-ui-form-col .selectboxit .selectboxit-arrow-container .selectboxit-arrow{
  top: Calc(50% - 0.5rem);
}

.cm-ui-form-col .selectSubContainer .selectboxit-text{
  font-size: 1rem !important;
  color: #323232 !important;
  max-width:90%!important;
}
#quoteDiv .sub-form-input-warning{
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    color: #f44336;
    display: none;
    margin-bottom: -15px;
}
@media only screen and (max-width: 767px) {
  .quickQuoteMain{
    width: 90%;
    bottom: 5%;
    overflow: scroll;
  }
  .cm-ui-form{
    padding: 1rem;
  }
  .row.cm-ui-form-row {
    margin: -0.5rem;
  }
  [class*="col-"].cm-ui-form-col{
    padding: 0.5rem
  }
  .cm-ui-form-label{
    font-size: 1rem;
    margin-bottom: 0.325rem;
  }
  .cm-ui-form-element{

  }
}

.pricing-card-details-wrap {
    position: fixed;
     top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;  
     background-color: rgba(0,0,0,0.55) !important;
    /*  width:60%;
     max-height:10px; */
     margin-left:auto;
     margin-right:auto;
     height: 100%;
     width: 100%;
     z-index: 100;
}

.pricing-card-details-con { 
    background-color: #fff; 
    padding: 47px 40px 57px 47px;
    padding: 47px 2.5rem 57px 2.9375rem;
    margin:auto;
    display: table;
    position:relative !important;
   /*  height: 75%; */
    width: 85%;
    margin-left: 7%;
    margin-top: 5%;
    overflow-y: auto;
    max-height:unset !important;
}

@media only screen and (max-device-width: 991px) {
    .pricing-card-details-con {
        display: block;
        padding: 19px 38px 22px 19px;
        height:90% !important;
    }
}

.pricing-details-desc-con {
    display: table-cell;
    padding-top: 0px !important;;
    padding-right: 44px;
    padding-right: 2.75rem;
    vertical-align: top;
}

@media only screen and (max-device-width: 991px) {
    .pricing-details-desc-con {
        padding: 0;
        display: block;
        width: 100%;
    }
}

.pricing-details-heading {
    font-size: 1.9rem;
    font-family: Calibri-Bold;
    color: #323232;
}

.pricing-details-desc p {
    line-height: 1.38;
}

.pricing-details-close {
    position: absolute; 
    right: 11px;
    top: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.pricing-details-close .icon-close {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
}

#princingdetailspopup li {
    list-style-type:disc !important;  
}
