<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='taj.hotels.components.page-notes'}" ></sly>
<div data-sly-test="${wcmmode.edit}">Page Notes</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            ${properties.notes  @context='html'}
        </div>
    </div>
</div>