<div data-sly-test="${wcmmode.edit}">AMP Book A Stay Component</div>
<sly data-sly-test.sitePath="${pageProperties.sitePath}"></sly>
<sly data-sly-test.otherPath="${pageProperties.otherWebsitePath}"></sly>

<amp-lightbox scrollable id="bookAStay" layout="nodisplay" 
              data-sly-use.result="result-item.html" 
              data-sly-use.resultCategory="search-result.html">
  <div>
   <div>
    <div class="bas-component-overlay">
    <section class="bas-component">
        <div class="bas-header">
            <div class="bas-usp">
                <amp-img data-sly-test="${pageProperties.sitePath == 'tajHotels'}" class="bas-usp-img" height="25px" layout="fill" 
                src="/content/dam/tajhotels/icons/style-icons/taj-brand-reward.svg"></amp-img>
                <amp-img data-sly-test="${pageProperties.sitePath != 'tajHotels' && pageProperties.sitePath != 'ama'}" class="bas-usp-img" height="40px" layout="fill" 
                src="/content/dam/tajhotels/icons/style-icons/vivanta-brand-award-min.png"></amp-img>
                <amp-img data-sly-test="${pageProperties.sitePath == 'ama'}" class="bas-usp-img" height="40px" layout="fill" 
                src="/content/dam/tajhotels/icons/style-icons/best-rate-ama.PNG"></amp-img>
                <span class="bas-usp-caption">Best rate guaranteed!</span>
            </div>
            <div class="bas-usp">
                <amp-img class="bas-usp-img" height="25px" layout="fill" src="/content/dam/tajhotels/logos/taj-logos/taj-innercircle-logo.png"></amp-img>
                <span class="bas-usp-caption">Member rates</span>
            </div>
            <span class="bas-close ${inheritedPageProperties.sitePath}" role="bas-close" tabindex="0" on="tap:bookAStay.close">×</span>
        </div>
        <div class="search-bar-wrapper ${pageProperties.sitePath}">
            <!-- Search bar -->
            <amp-img data-sly-test="${sitePath !='ama'}" height="18" width="18" class="search-icon" src="/content/dam/tajhotels/icons/style-icons/search-icon.svg" alt="search-icon"></amp-img>
            <sly data-sly-test="${sitePath =='tajHotels'}">
                <input id="searchBar" role="bas-search" tabindex="0" on="tap:AMP.setState({basSearchActive: true});input-throttled:AMP.setState({query:event.value});input-debounced:AMP.setState({basSearchUrl: '/bin/search.data/:tajhotels/:seleqtions_:vivanta/' + event.value + '/result/searchCache.json'})"
                       class="searchbar-input" type="text" aria-label = "searchbar input"
                       [placeholder]="${pageProperties.homePage} ? 'Search for Hotels, Restaurants, Destinations and more..' : '${currentPage.title}'"
                       [value]="targetName"/>
           </sly>
           <sly data-sly-test="${sitePath =='seleqtions'}">
                <input id="searchBar" role="bas-search" tabindex="0" on="tap:AMP.setState({basSearchActive: true,
                basSearchUrl: '/bin/search.data/:seleqtions/:tajhotels_:vivanta/' + event.value + '/result/searchCache.json'});input-throttled:AMP.setState({query:event.value});input-debounced:AMP.setState({basSearchUrl: '/bin/search.data/:seleqtions/:tajhotels_:vivanta/' + event.value + '/result/searchCache.json'})"
                       class="searchbar-input" type="text" aria-label = "searchbar input"
                       [placeholder]="${pageProperties.homePage} ? 'Search for Hotels, Restaurants, Destinations and more..' : '${currentPage.title}'"
                       [value]="targetName"/>
           </sly>
           <sly data-sly-test="${sitePath =='vivanta'}">
                <input id="searchBar" role="bas-search" tabindex="0" on="tap:AMP.setState({basSearchActive: true});input-throttled:AMP.setState({query:event.value});input-debounced:AMP.setState({basSearchUrl: '/bin/search.data/:vivanta/:seleqtions_:tajhotels/' + event.value + '/result/searchCache.json'})"
                       class="searchbar-input" type="text" aria-label = "searchbar input"
                       [placeholder]="${pageProperties.homePage} ? 'Search for Hotels, Restaurants, Destinations and more..' : '${currentPage.title}'"
                       [value]="targetName"/>
           </sly>
           <sly data-sly-test="${sitePath =='ama'}">
				<!--<input id="searchBar" role="bas-search" tabindex="0" src="/bin/search.data/:ama///result/searchCache.json" 
				on="tap:AMP.setState({basSearchUrl: '/bin/search.data/:ama///result/searchCache.json',basSearchActive: !basSearchActive})"
				class="searchbar-input guest-room" [class]="basSearchActive ? 'searchbar-input guest-room guest-room-uparrow': 'searchbar-input guest-room'" 
				type="text" aria-label="searchbar input" placeholder="Select Destinations/Bungalows" [value]="targetName"/> -->
				<p id="searchBar" role="bas-search" tabindex="0" 
				on="tap:AMP.setState({basSearchUrl: '/bin/search.data/:ama///result/searchCache.json',basSearchActive: !basSearchActive})"
				class="searchbar-input guest-room" style="margin: 0;line-height: 60px;" [class]="basSearchActive ? 'searchbar-input guest-room guest-room-uparrow': 'searchbar-input guest-room'" 
				 aria-label="searchbar input" [text]="targetName || 'Select Destinations/Bungalows'">Select Destinations/Bungalows</p>
                 <!--<p id="searchBar" role="bas-search" tabindex="0" 
				on="tap:AMP.setState({basSearchUrl: '/content/dam/amp/amasearchresult.json',basSearchActive: !basSearchActive})"
				class="searchbar-input guest-room" style="margin: 0;line-height: 60px;" [class]="basSearchActive ? 'searchbar-input guest-room guest-room-uparrow': 'searchbar-input guest-room'" 
				 aria-label="searchbar input" [text]="targetName || 'Select Destinations/Bungalows'">Select Destinations/Bungalows</p>-->
           </sly>        

            <!-- Search results list - to be displayed when basSearchActive = true -->
            <div data-sly-test="${sitePath !='ama'}" [class]="basSearchActive==undefined || basSearchActive ? 'display-block':'display-none'">
				<span data-sly-test="${pageProperties.sitePath =='tajHotels'}" class="cancel-icon"  role="bas-search-close" tabindex="0" on="tap:AMP.setState({basSearchActive: false})" [class]="basSearchActive? 'cancel-icon': 'display-none'">
					<amp-img height="18" width="18" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon"></amp-img>
				</span>
				<span data-sly-test="${pageProperties.sitePath !='tajHotels'}" class="cancel-icon"  role="bas-search-close" tabindex="0" on="tap:AMP.setState({basSearchActive: false, targetName: ''})" [class]="basSearchActive? 'cancel-icon': 'display-none'">
					<amp-img height="18" width="18" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg" alt="close-icon"></amp-img>
				</span>
                <sly data-sly-call="${resultCategory.category @ title1=properties.destinationTitle, title2=properties.websiteHotelTitle, title3=properties.otherHotelTitle, item1='destinations', item2='hotels.website', item3='hotels.others'}"></sly>
                <sly data-sly-call="${result.itemTemplate}"></sly>
            </div>
			<div data-sly-test="${sitePath =='ama'}"   [class]="basSearchActive==undefined || basSearchActive ? 'display-block ama-bas-search-result-active':'display-none'">
				<span class="cancel-icon"  style="left:20rem" role="bas-search-close" tabindex="0" on="tap:AMP.setState({basSearchActive: false, targetName: ''})">
					<amp-img height="18" width="18" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg" alt="close-icon"></amp-img>
				</span>
                <sly data-sly-call="${resultCategory.category @ title1='Destinations', title2='Our Bungalows & Villas', item1='destinations', item2='hotels.website'}"></sly>
                <sly data-sly-call="${result.itemTemplate}"></sly>
            </div>

        </div>

		<div class="bas-body" [class]="basSearchActive ? 'display-none': 'bas-body'">
            <!-- Room configurations - to be displayed when basSearchActive = false -->
			<!--
            <div class="bas-date-picker">
                <div class="bas-date-input">
                    <label for="fromDate">From</label>
                    <amp-date-picker id="bas-date-picker-1"
                      date="P14D"
                      type="single"
                      mode="overlay"
                      layout="container"
                      on="select:AMP.setState({date1: event.date, date2: event.date})"
                      locale="en"
					  day-size="34"
                      format="DD/MM/YYYY"
                      input-selector="#bas-stay-start-date">
                      <input type="date" format="dd mmm yy" id="bas-stay-start-date" name="fromDate" aria-label="stay start date" placeholder="Check In" class="${inheritedPageProperties.sitePath}" />
                    </amp-date-picker>
                    
                </div>
                <div class="bas-date-input ${pageProperties.sitePath}">
                    <label for="toDate">To</label>
                    <amp-date-picker id="bas-date-picker-2"
                      date="P15D"
                      type="single"
                      mode="overlay"
                      layout="container"
                      on="select:AMP.setState({date2: event.date})"
                      locale="en"
					  day-size="34"
                      format="DD/MM/YYYY"
                      input-selector="#bas-stay-end-date">
                      <input id="bas-stay-end-date" name="toDate" aria-label = "stay end date" placeholder="Check Out" class="${inheritedPageProperties.sitePath}"/>
                    </amp-date-picker>
                </div>
            </div>-->
			<div class="bas-date-picker ${pageProperties.sitePath}">
				 <amp-date-picker id="static-picker" style="display:flex"
                      start-date="P14D"
					  end-date="P15D"
                      type="range"
                      mode="overlay"
                      layout="container"
					  height="360"
                      on="select:AMP.setState({date1:event.start,date2:event.end,dateselected:event.date,count:{showdatepicker:count.showdatepicker+1}})"
                      locale="en"
                      format="DD/MM/YYYY"
					  minimum-nights="1"
                      start-input-selector="#bas-stay-start-date"                      
					  end-input-selector="#bas-stay-end-date">

<!--
					<div class="bas-date-input" role="button" tabindex [class]="count.showdatepicker==1 ? 'bas-date-input active' : 'bas-date-input'" on="tap:AMP.setState({count:{showdatepicker:1}})">
                        <amp-date-display datetime="now" offset-seconds="1296000"
                            locale="en-GB"
                            layout="fixed"
                            width="360"
                            height="50">
                            <template type="amp-mustache">
                            <div id="bas-stay-start-date">From: {{day}} {{monthNameShort}} {{yearTwoDigit}}</div>
                            </template>
                        </amp-date-display>
                    </div>

-->
						<div class="bas-date-input" role="button" tabindex [class]="count.showdatepicker==1 ? 'bas-date-input active' : 'bas-date-input'" on="tap:AMP.setState({count:{showdatepicker:1}})">
                            <label for="fromDate">From</label>
                            <input id="bas-stay-start-date" name="fromDate" aria-label="stay start date" placeholder="Check In" class="${inheritedPageProperties.sitePath}" readonly 
                            [value]="date1"/>
                       	</div>
                        <div class="bas-date-input" role="button" tabindex [class]="count.showdatepicker==2 ? 'bas-date-input active' : 'bas-date-input'" on="tap:AMP.setState({count:{showdatepicker:2}})">
                            <label for="toDate">To</label>
                            <input id="bas-stay-end-date" name="toDate" aria-label = "stay end date" placeholder="Check Out" class="${inheritedPageProperties.sitePath}" readonly 
                            [value]="date2"/>
                        </div>

                    </amp-date-picker>
				
			</div>
						
           <sly data-sly-test="${sitePath =='ama'}">
                <amp-selector class="bas-radio-selector"
                    layout="container"
                    on="select: AMP.setState({selectedOption: event.targetOption})"
                    name="room-selector">
                    <div option="onlyRooms" on="tap:AMP.setState({selectedRoomType:'onlyRooms'})" selected role="button" tabindex="0">Book Rooms</div>
                    <div option="onlyBungalows" on="tap:AMP.setState({selectedRoomType: 'onlyBungalows'})" role="button" tabindex="0">Book Entire Bungalow</div>
                  </amp-selector>
            </sly>

            <div class="bas-rooms-conf">
                <div>
					<div style="display: block"  [hidden]="selectedOption == 'onlyBungalows'">
                    <div class="bas-rooms-title">Rooms</div>
                    <ul class="bas-rooms-tablist" style="display: flex;list-style-type: none; position:relative">						
						 <li class="bas-room-tab ${inheritedPageProperties.sitePath}" role="button"
						 [class]="count.showRoom==1  ? 'bas-room-tab ${inheritedPageProperties.sitePath} bas-active' : 'bas-room-tab ${inheritedPageProperties.sitePath}'" 
						 on="tap:AMP.setState({count:{showRoom:1}})" tabindex="0" role="button" id="room1" style="position: relative">1					
						 </li>
						 <li class="bas-room-tab ${inheritedPageProperties.sitePath} bas-active display-none" [hidden]="count.room<2" id="room2" role="button"
						 [class]="count.showRoom==2 ? 'bas-room-tab ${inheritedPageProperties.sitePath} bas-active' : 'bas-room-tab ${inheritedPageProperties.sitePath}'" 
						 on="tap:AMP.setState({count:{showRoom:2}})" tabindex="0" role="button" style="position: relative">2
						 <button on="tap:AMP.setState({count:{room:count.room-1, showRoom: count.room-1},children: count.room>2 ? roomTwochildren ? roomOnechildren+','+roomTwochildren : roomOnechildren : roomOnechildren,adults: count.room>2 ? roomTwoadults ? roomOneadults+','+roomTwoadults : roomOneadults :roomOneadults})" class="button-room-close ${inheritedPageProperties.sitePath}">x</button>		
						 </li>
						 <li class="bas-room-tab ${inheritedPageProperties.sitePath} bas-active display-none" [hidden]="count.room<3" id="room3" role="button"
						 [class]="count.showRoom==3 ? 'bas-room-tab ${inheritedPageProperties.sitePath} bas-active' : 'bas-room-tab ${inheritedPageProperties.sitePath}'" 
						 on="tap:AMP.setState({count:{showRoom:3}})" tabindex="0" role="button" style="position: relative">3
						 <button on="tap:AMP.setState({count:{room:count.room-1, showRoom: count.room-1},children: roomOnechildren+','+roomTwochildren,adults: roomOneadults+','+roomTwoadults})" class="button-room-close ${inheritedPageProperties.sitePath}">x</button>		
						 </li>
						 <li class="bas-room-tab ${inheritedPageProperties.sitePath} bas-active display-none" [hidden]="count.room<4" id="room4" role="button"
						 [class]="count.showRoom==4 ? 'bas-room-tab ${inheritedPageProperties.sitePath} bas-active' : 'bas-room-tab ${inheritedPageProperties.sitePath}'" 
						 on="tap:AMP.setState({count:{showRoom:4}})" tabindex="0" role="button" style="position: relative">4
						 <button on="tap:AMP.setState({count:{room:count.room-1, showRoom: count.room-1}})" class="button-room-close ${inheritedPageProperties.sitePath}">x</button>		
						 </li>
						 <li class="bas-room-tab ${inheritedPageProperties.sitePath} bas-active display-none" [hidden]="count.room<5" id="room5" role="button"
						 [class]="count.showRoom==5 ? 'bas-room-tab ${inheritedPageProperties.sitePath} bas-active' : 'bas-room-tab ${inheritedPageProperties.sitePath}'" 
						 on="tap:AMP.setState({count:{showRoom:5}})" tabindex="0" role="button" style="position: relative">5
						 <button on="tap:AMP.setState({count:{room:count.room-1, showRoom: count.room-1}})" class="button-room-close ${inheritedPageProperties.sitePath}">x</button>		
						 </li>

						 <li class="bas-room-tab  bas-add-room" [hidden]="count.room>2" role="button" on="tap:AMP.setState({count:{room:count.room+1,showRoom:count.room+1},children : count.room>0 ? count.room>1 ? roomThreechildren ?roomOnechildren+','+roomTwochildren+','+roomThreechildren : roomTwochildren ? roomOnechildren+','+roomTwochildren: roomOnechildren : roomOnechildren+','+roomTwochildren :roomOnechildren, adults : count.room>0 ?count.room>1 ? roomThreeadults ? roomOneadults+','+roomTwoadults+','+ roomThreeadults:roomTwoadults ? roomOneadults+','+roomTwoadults : roomOneadults :roomOneadults+','+roomTwoadults:roomOneadults})" 
						 tabindex="0" style="position: relative">+</li>						 
                    </ul>
                </div>


                <ul class="bas-room-details" [hidden]="count.showRoom>1">
                    <li class="bas-occupant-info">
                        <span>Adults</span>
                        <select aria-label="Adults count" name="adultsCount" id="roomOneadults" on="change: AMP.setState({roomOneadults: event.value, adults: roomTwoadults ? roomThreeadults ? event.value+','+roomTwoadults+','+roomThreeadults : event.value+','+roomTwoadults : event.value})">
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                    <li class="bas-occupant-info">
                        <span>Children (Age: 0-12)</span>
                        <select aria-label="Children count" name="childrenCount" id="roomOnechildren" on="change: AMP.setState({roomOnechildren: event.value, children: roomTwochildren ? roomThreechildren ?  event.value+','+roomTwochildren+','+roomThreechildren : event.value+','+roomTwochildren : event.value})">
							<option selected>Select</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                </ul>
				<ul class="bas-room-details display-none" [class]="count.showRoom!=2 ? 'bas-room-details display-none': 'bas-room-details'">
                    <li class="bas-occupant-info">
                        <span>Adults</span>
                        <select aria-label="Adults count" name="adultsCount" id="roomTwoadults" on="change: AMP.setState({roomTwoadults: event.value, adults: roomThreeadults ? roomOneadults +','+event.value+','+roomThreeadults : roomOneadults +','+event.value,roomTwochildren: event.value, children: roomOnechildren ? roomOnechildren+','+0 : 0 +','+0})">
							<option selected>Select</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                    <li class="bas-occupant-info">
                        <span>Children (Age: 0-12)</span>
                        <select aria-label="Children count" name="childrenCount" id="roomTwochildren" on="change: AMP.setState({roomTwochildren: event.value, children: roomOnechildren ? roomThreechildren ? roomOnechildren +','+ event.value +','+roomThreechildren : roomOnechildren +','+ event.value : 0+','+event.value})">
							<option selected>Select</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                </ul>
				<ul class="bas-room-details display-none"  [class]="count.showRoom!=3 ? 'bas-room-details display-none': 'bas-room-details'">
                    <li class="bas-occupant-info">
                        <span>Adults</span>
                        <select aria-label="Adults count" name="adultsCount" id="roomThreeadults" on="change: AMP.setState({roomThreeadults: event.value, adults: roomOneadults +','+roomTwoadults+','+event.value, children: roomOnechildren ? roomTwochildren ? roomOnechildren+','+ roomTwochildren+','+0: roomOnechildren+','+0+','+0 : 0 +','+0+','+0})">
							<option selected>Select</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                    <li class="bas-occupant-info">
                        <span>Children (Age: 0-12)</span>
                        <select aria-label="Children count" name="childrenCount" id="roomThreechildren" on="change: AMP.setState({roomThreechildren: event.value,children: roomOnechildren +',' + roomTwochildren + ','+event.value})">
							<option selected>Select</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                </ul>
				<ul class="bas-room-details display-none" [class]="count.showRoom!=4 ? 'bas-room-details display-none': 'bas-room-details'">
                    <li class="bas-occupant-info">
                        <span>Adults</span>
                        <select aria-label="Adults count" name="adultsCount" id="roomfouradults" on="change: AMP.setState({roomFouradults: event.value, adults: roomOneadults +','+roomTwoadults+','+ roomThreeadults+','+event.value})">
							<option selected>Select</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                    <li class="bas-occupant-info">
                        <span>Children (Age: 0-12)</span>
                        <select aria-label="Children count" name="childrenCount" id="roomFourchildren" on="change: AMP.setState({roomFourchildren: event.value, children: roomOnechildren+','+roomTwochildren+','+roomThreechildren+','+event.value})">
							<option selected>Select</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                </ul>
				<ul class="bas-room-details display-none"  [class]="count.showRoom!=5 ? 'bas-room-details display-none': 'bas-room-details'">
                    <li class="bas-occupant-info">
                        <span>Adults</span>
                        <select aria-label="Adults count" name="adultsCount" id="roomFiveadults" on="change: AMP.setState({roomFiveadults: event.value,adults: roomOneadults +','+roomTwoadults+','+ roomThreeadults+','+roomFouradults +','+event.value})">
							<option selected>Select</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                    <li class="bas-occupant-info">
                        <span>Children (Age: 0-12)</span>
                        <select aria-label="Children count" name="childrenCount" id="roomFivechildren" on="change: AMP.setState({roomFivechildren: event.value,children: roomOnechildren+','+roomTwochildren+','+roomThreechildren+','+ roomFourchildren+','+ event.value})">
							<option selected>Select</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="bas-promo-wrapper" [class]="showPromoInput?'display-none':'bas-promo-wrapper'">
                <span class="bas-promo-text">Corporate Access</span>
                <a class="taj-link ${inheritedPageProperties.sitePath}" on="tap: AMP.setState({showPromoInput: true})" tabindex="0" role= "button">Click Here!</a>
            </div>
            <div class="display-none" [class]="showPromoInput?'bas-promo-wrapper':'display-none'">
                <div class="promo-wrapper">
                    <input on="input-debounced: AMP.setState({promoCode: event.value, buttonLink: 'https://be.synxis.com/?chain=21305&currency=INR&hotel='+hotelId+'&level=chain&locale=en-US&promo='+event.value})" 
                    type="text" name="promo-code" aria-label = "bas promo code " placeholder="Promo/Access Code" class="bas-promo-input ${sitePath}"/>
                </div>
                <div class="promo-wrapper">
                    <input on="input-debounced: AMP.setState({rateCode: event.value, buttonLink: 'https://be.synxis.com/?chain=21305&currency=INR&hotel='+hotelId+'&level=chain&locale=en-US&promo='+event.value+''})" 
                    type="text" name="rate-code" aria-label = "bas rate code " placeholder="Rate Code" class="bas-promo-input ${sitePath}"/>
                </div>
                <div class="promo-wrapper">
                    <input on="input-debounced: AMP.setState({agencyId: event.value, buttonLink: 'https://be.synxis.com/?agencyid='+event.value+'&chain=21305&currency=INR&hotel='+hotelId+'&level=chain&locale=en-US'})" 
                    type="text" name="agency-id" aria-label = "bas agency id " placeholder="Agency ID" class="bas-promo-input ${sitePath}"/>
                </div>
            </div>
        </div>


        <div class="bas-footer" [class]="basSearchActive? 'display-none': 'bas-footer'" style="padding: 20px;">
        	<div data-sly-test="${inheritedPageProperties.homePage}">
                 <a target='_top'  [hidden]="basNavPath && adults ? false : true" [href]="buttonLink ? buttonLink + '&arrive='+date1.date+'&depart='+date2.date+'&rooms=1'+'&adult='+adulta+'&children='+children
                	: basNavPath +'?redirectFromAmp=true'+'&from='+date1.date+'&to='+date2.date+'&rooms='+count.room+'&adults='+adults+'&children='+children+'&hotelId='+hotelId+'&targetName='+targetName+'&'+selectedOption+'=true'">
                    <button class="cm-btn-secondary btn-disabled ${pageProperties.sitePath}" 
                            [class]="basNavPath ? 'cm-btn-secondary ${inheritedPageProperties.sitePath}': 'cm-btn-secondary btn-disabled ${inheritedPageProperties.sitePath}'">${properties.checkAvailability}</button>
                </a>
            </div>
            <div data-sly-test="${!inheritedPageProperties.homePage}">
                 <a target='_top'  [hidden]="basNavPath && adults ? false : true" [href]="buttonLink ? buttonLink + '&arrive='+date1.date+'&depart='+date2.date+'&rooms=1'+'&adult='+adulta+'&children='+children
                	: basNavPath +'?redirectFromAmp=true'+'&from='+date1.date+'&to='+date2.date+'&rooms='+count.room+'&adults='+adults+'&children='+children+'&hotelId='+hotelId+'&targetName='+targetName+'&'+selectedOption+'=true'">
                    <button class="cm-btn-secondary btn-disabled ${pageProperties.sitePath}" 
                            [class]="basNavPath ? 'cm-btn-secondary ${inheritedPageProperties.sitePath}': 'cm-btn-secondary btn-disabled ${inheritedPageProperties.sitePath}'">${properties.checkAvailability}</button>
                </a>
            </div>
            <div data-sly-test="${inheritedPageProperties.homePage}">
				<a target='_top'  [hidden]="basNavPath && adults ? true : false">
                    <button class="cm-btn-secondary btn-disabled ${pageProperties.sitePath}" style="opacity:0.5;">${properties.checkAvailability}</button>
                </a>
            </div>
           <div data-sly-test="${!inheritedPageProperties.homePage}">
                 <a target='_top'  [hidden]="basNavPath && adults ? true : false" [href]="buttonLink ? buttonLink :'${pageProperties.roomPath}.html'+'?redirectFromAmp=true'+'&from='+date1.date+'&to='+date2.date+'&rooms='+count.room+'&adults='+adults+'&children='+children+'&hotelId='+${pageProperties.hotelId}+'&targetName='+targetName+'&'+selectedOption+'=true'">
                    <button class="cm-btn-secondary btn-disabled ${pageProperties.sitePath}">${properties.checkAvailability}</button>
                </a>
            </div>

        </div>
    </section>
    </div>
    </div>
    </div>
</amp-lightbox>