<sly data-sly-template.itemTemplate="">
    <sly data-sly-test.sitePath="${pageProperties.sitePath}"></sly>
	<sly data-sly-test="${sitePath =='ama'}">
		<template type="amp-mustache" id="bassearchResultItemNew">
            <div>
                    <p  class="category-header ama-result-item" style="display: block">
                        
                        <span>Our Bungalows & Villas</span>
                    </p>
        
                    {{#hotels.website}}
                    <div class="search-result-item" on="tap:AMP.setState({basNavPath:'{{path}}accommodations/',hotelId: '{{id}}', basSearchActive: false, targetName: '{{title}}'})"
                         tabindex="0"
                         role="search-result">
                        <span>{{title}}</span>
                    </div>
                    {{/hotels.website}}

            </div>
            <div>
                    <p  class="category-header ama-result-item" style="display:block">

                        <span>Destinations</span>
                    </p>

                    {{#destinations}}
                   	<div class="search-result-item" on="tap:AMP.setState({basNavPath:'{{path}}', hotelId: '{{id}}',basSearchActive: false, targetName: '{{title}}'})"
                         tabindex="0"
                         role="search-result">
                        <span>{{title}}</span>
                    </div>
                    {{/destinations}}

            </div>
		</template>
	</sly>
    <sly data-sly-test="${sitePath !='ama'}">

        <template type="amp-mustache" id="bassearchResultItemNew">
            <div   [hidden]="'{{destinations}}' ? false: true">
                    <p  class="category-header ama-result-item" style="display:block">
                        <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                        <span>Destinations</span>
                    </p>

                    {{#destinations}}
                   	<div class="search-result-item" on="tap:AMP.setState({basNavPath:'{{path}}', hotelId: '{{id}}',basSearchActive: false, targetName: '{{title}}'})"
                         tabindex="0"
                         role="search-result">
                        <span>{{title}}</span>
                    </div>
                    {{/destinations}}

            </div>
        
            <div  [hidden]="'{{hotels.website}}' ? false: true">
                    <p  class="category-header ama-result-item" style="display: block">
                        <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                        <span>Our Hotels</span>
                    </p>
        
                    {{#hotels.website}}
                    <div class="search-result-item" on="tap:AMP.setState({basNavPath:'{{path}}rooms-and-suites/',hotelId: '{{id}}', basSearchActive: false, targetName: '{{title}}'})"
                         tabindex="0"
                         role="search-result">
                        <span>{{title}}</span>
                    </div>
                    {{/hotels.website}}
        
            </div>
            <div  [hidden]="'{{hotels.others}}' ? false: true">
                    <p  class="category-header ama-result-item" style="display:block">
                        <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                        <span>Other IHCL Hotels</span>
                    </p>
        
                    {{#hotels.others}}
                    <div class="search-result-item" on="tap:AMP.setState({basNavPath:'{{path}}rooms-and-suites/',hotelId: '{{id}}', basSearchActive: false, targetName: '{{title}}'})"
                         tabindex="0"
                         role="search-result">
                        <span>{{title}}</span>
                    </div>
                    {{/hotels.others}}
        
            </div>
            </template>

    	<!--
        <template type="amp-mustache" id="basSearchDestItem">
            <sly data-sly-test="{{title}}">
                <p class="category-header">
                    <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                    <span>DESTINATION</span>
                </p>
                <div class="search-result-item destination" role="search-result"
                    on="tap: AMP.setState({ basNavPath: '{{path}}', hotelId: '{{id}}', targetName: '{{title}}', basSearchActive: false, basSearchUrl: null})"
                    tabindex="0"
                    role="search-result">
                    <span>{{title}}</span>
                </div>
             </sly>
        </template>
        <template type="amp-mustache" id="basSearchHotelItem">
			<sly data-sly-test="{{title}}">
                <p class="category-header">
                    <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                    <span>OUR HOTELS</span>
                </p>
                <div class="search-result-item hotel" role="search-result"
                     on="tap: AMP.setState({ basNavPath: '{{path}}rooms-and-suites/', hotelId: '{{id}}', targetName: '{{title}}', basSearchActive: false, basSearchUrl: null})"
                     tabindex="0"
                     role="search-result">
                    <span>{{title}}</span>
                </div>
                </sly>
        </template>
        <template type="amp-mustache" id="basSearchOtherHotelItem">
        	<sly data-sly-test="{{title}}">
                <p class="category-header">
                    <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                    <span>OTHER IHCL HOTELS</span>
                </p>
                <div class="search-result-item other-hotel" role="search-result"
                     on="tap: AMP.setState({ basNavPath: '{{path}}rooms-and-suites/', hotelId: '{{id}}', targetName: '{{title}}', basSearchActive: false, basSearchUrl: null})"
                     tabindex="0"
                     role="search-result">
                    <span>{{title}}</span>
                </div>
                </sly>
        </template>

        -->
    </sly>
	<!--
    <sly data-sly-test="${sitePath =='ama'}">
        <template type="amp-mustache" id="basSearchDestItem">
        	<p class="category-header ama-result-item">
                <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                <span>DESTINATION</span>
            </p>
            <div class="search-result-item" role="search-result"
                 on="tap: AMP.setState({ basNavPath: '{{path}}', hotelId: '{{id}}', targetName: '{{title}}', basSearchActive: false, basSearchUrl: null})"
                 tabindex="0"
                 role="search-result">
                <span>{{title}}</span>
            </div>
        </template>
        <template type="amp-mustache" id="basSearchHotelItem">
        	<p class="category-header ama-result-item">
                <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                <span>OUR HOTELS</span>
            </p>
            <div class="search-result-item" role="search-result"
                 on="tap: AMP.setState({ basNavPath: '{{path}}accommodations/', hotelId: '{{id}}', targetName: '{{title}}', basSearchActive: false, basSearchUrl: null})"
                 tabindex="0"
                 role="search-result">
                <span>{{title}}</span>
            </div>
        </template>
        <template type="amp-mustache" id="basSearchOtherHotelItem">
        	<p class="category-header ama-result-item">
                <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                <span>OTHER IHCL HOTELS</span>
            </p>
            <div class="search-result-item" role="search-result"
                 on="tap: AMP.setState({ basNavPath: '{{path}}accommodations/', hotelId: '{{id}}', targetName: '{{title}}', basSearchActive: false, basSearchUrl: null})"
                 tabindex="0"
                 role="search-result">
                <span>{{title}}</span>
            </div>
        </template>
    </sly> -->
</sly>