<sly data-sly-template.category="${@ title1, title2, title3, item1, item2, item3}">
    <div class="search-result-category">

        <amp-list id="searchAmpList" [src]="basSearchUrl"  width="auto" class="category-results custom-loader" height="500"
                  layout="fixed-height" binding="refresh"
                  template="bassearchResultItemNew" items="." single-item>
            <div overflow role="button" aria-label="Show more" class="list-overflow ampstart-btn caps">
			Show More
            </div>
        </amp-list>

    </div>
</sly>