 <sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.tableConfirmation'}" />

<div class="content-wrapper container mr-reserve-a-table-contentWrapper spec-dining-conf">
	<div class="cm-content-blocks reserveTable-confirmation-wrapper">
		<div class="mr-reserve-table-confirmation-container">
			<div class="mr-close-icon-reserve-table-confirmation hide-in-md hide-in-lg">
				<img class="mr-close-icon-reserve-table-confirmation" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt = "close icon"/>
			</div>
			<i class="icon-STAR-TAJ"></i>
			<div class="mr-booking-Status">Booking confirmed!</div>
			<p class="mr-reserve-table-booker">
				<strong class="mr-restaurant-name">&nbsp;</strong> &nbsp; has
				confirmed your booking ! Have a great meal !
			</p>
			<p class="ReserveTable-booking-details">
				<span class="mr-dateTime-header-reserveTable">BOOKING DATE
					AND TIME</span><span class="mr-reservation-table-details"></span>
			</p>
			<div class="mr-reserve-Table-CancelModify-btn">
				<button class="cm-btn-primary mr-cancelreserveTable-btn">CANCEL
					BOOKING</button>
				<button class="cm-btn-secondary mr-modifyreserveTable-btn">MODIFY
					BOOKING</button>
			</div>
			<div class="mr-strippedDiv"></div>
			<div class="mr-reservationTable-mail-sent">
				We have sent an email with your reservation details to <strong
					class="mr-email-details"></strong>
			</div>
		</div>
	</div>
</div>