<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientLib.all @ categories='taj.hotels.popup'}" />
<div data-sly-test="${wcmmode.edit}">Popup component</div>
<div id="${properties.popupId}" class="${wcmmode.edit ? '' : 'popup-comp-overlay d-none'} ${properties.customClass}">
    <div data-sly-attribute.class="${wcmmode.edit ? '' : 'popup-comp-container'}">
        <div class="popup-comp-body" data-popup-id="${properties.popupId}">
            <div class="popup-comp-close">
                <span class="icon-close"></span>
            </div>
            <div data-sly-resource="${'popup_parsys' @ resourceType='wcm/foundation/components/parsys'}"></div>
        </div>
    </div>
</div>
