.offers {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    color: #323232;
}

.offers-header-wrapper {
    margin-bottom: 34px;
    margin-bottom: 2.125rem;
}

@media only screen and (max-device-width: 767px) {
    .holidays-hotel-package-details .mobile-default-space{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .offers-header-wrapper {
        margin-bottom: 21px;
    }
}

.offers-wrapper {
    margin-bottom: 38px;
    margin-bottom: 2.375rem;
}

.offers-rooms {
    color: var(--primaryColor);
    display: inline;
}

@media only screen and (max-device-width: 767px) {
    .offers-rooms {
        font-size: 16px;
    }
}

.offers-rooms_caption {
    font-size: 45px;
    font-size: 2.8125rem;
    line-height: 1;
    display: inline;
}

@media only screen and (max-device-width: 767px) {
    .offers-rooms_caption {
        font-size: 30px;
        display: inherit;
        margin: 10px 0;
    }
}

.offers-rooms_discountWrapper {
    display: inline-block;
    vertical-align: top;
    margin-left: 19px;
    margin-left: 1.1875rem;
}

@media only screen and (max-device-width: 767px) {
    .offers-rooms_discountWrapper {
        display: block;
        margin: 0 0 .5rem;
        position: inherit;
    }
}

.offers-rooms_discount {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #417505;
    margin: 0 15px 15px;
    margin: 0 0.9375rem 0.9375rem;
    font-family: TrajanPro-Regular;
    font-size: 15px;
    font-size: 0.9375rem;
    color: #ffffff;
    padding: 4px 19px 3px;
    padding: 0.25rem 1.1875rem 0.1875rem;
}

@media only screen and (max-device-width: 767px) {
    .offers-rooms_discount {
        font-size: 12px;
        margin: 0 0 10px;
    }
}

.offers-rooms_discount:after {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    right: 0px;
    top: 0;
    content: "";
    border-left: 10px solid #ffffff;
    border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
}

.offers-rooms_customers {
    line-height: 1.14;
    font-size: 25px;
    font-size: 1.5625rem;
}

@media only screen and (max-device-width: 767px) {
    .offers-rooms_customers {
        font-size: 16px;
    }
}

.offers-rooms_desc {
    line-height: 1.39;
    color: #494949;
    font-size: 1rem; 
}

.image-view-offers {
    -o-object-fit: contain;
    object-fit: contain;
    display: inline;
    vertical-align: inherit;
    -ms-transform-origin: center;
    transform-origin: center;
    margin-right: 10px;
    margin-right: 0.625rem;
    margin-bottom: 1px;
}

.validity-line-container {
    display: inline-block;
    margin: 0 26px;
    margin: 0 1.625rem;
    position: relative;
    height: 65%;
}

.validity-line-container .validity-line-seperator {
    top: 17.5%;
    position: absolute;
    height: 55px;
    height: 3.4375rem;
    width: 1px;
    border: solid 0.5px #979797;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
    .validity-line-container {
        display: none;
    }
}

.validity-container {
    font-size: 16px;
    font-size: 1rem;
    display: inline-block;
    font-family: Calibri;
}

.validity-container img {
    padding-right: 5px;
    padding-right: 0.3125rem;
}

.validity-container div:first-child {
    display: inline-block;
    margin-right: 10px;
    margin-right: 0.625rem;
    height: 35px;
    height: 2.1875rem;
    width: 28px;
    width: 1.75rem;
}

.validity-container .validity-heading {
    font-weight: bold;
    display: inline-block;
}

.validity-container .validity-content {
    display: inline-block;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
    .validity-container {
        display: block;
    }
}

.black-out-wrapper .title {
    margin-top: 15px;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri-bold;
    line-height: 1.2;
    color: #000000;
}

.black-out-wrapper .dates-wrapper {
    margin-top: 10px;
    margin-top: 0.625rem;
    line-height: 1.2;
}

.black-out-wrapper .dates-wrapper .dates {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    color: #000000;
    margin-right: 15px;
}


.Terms-cond {
    width: 100%;
    font-family: Calibri;
    color: var(--primaryColor);
    font-size: 20px;
    font-size: 1.25rem;
}

.Offer-terms-cond-head-wrapper {
    cursor: pointer;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.Terms-cond-desc {
    line-height: 1.39;
    color: #ababab;
    display: none;
    margin-top: 23px;
    margin-top: 1.4375rem;
}

@media only screen and (max-device-width: 767px) {
    .Terms-cond-desc {
        line-height: 1.4;
        font-size: 1rem;
    }
}

.Terms-cond-header {
    border-bottom: 1px solid var(--primaryColor);
    font-size: 20px;
    font-size: 1.25rem;
    display: inline;
}

.image-view {
    transition: all .1s;
    margin-left: 11px;
    margin-left: 0.6875rem;
}

.image-view.up {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.black-out-wrapper {
    .title {
        margin-top: 15px;
        font-size: 18/@rem;
        font-family: Calibri-bold;
        line-height: 1.2;
        color: #000000;
    }

    .dates-wrapper {
        margin-top: 10/@rem;
        line-height: 1.2;

        .dates {
            font-size: 16/@rem;
            font-family: Calibri;
            color: #000000;
            margin-right: 15px;
        }
    }
}
.present-rate {
    margin-top: 0px;
}
    .price-title {
        font-family: Calibri !important;
        font-size: 20px !important;
        margin-right: 10px;
    }

.present-rate span {
    font-family: Calibri-bold;
    font-size: 30px;
    font-size: 1.875rem;
}
.present-rate-inner-wrp{
    display: inline-block;
}
.inclusions-container [class*="col-"]:nth-child(even) .inclusions-line-separator-container{
        display: none;
}

.inclusions-container [class*="col-"]:last-child .inclusions-line-separator-container{
        display: none;
}

@media only screen and (max-width:767px) {
    .present-rate-inner-wrp{
        display: block;
    }
    .present-rate span {     
        font-size: 20px;        
    }
    .price-title {     
        font-size: 16px !important;        
    }
	.inclusions-container [class*="col-"] {
		padding: 0 !important;
    }
}

.inclusions-each-text {
    width: 77%;
    display: inline-block;
    margin-left: 5px;
    line-height: 1;

}
.inclusions-each-text div {
		display: inline-block;
    }
.stay-container {
	width:90%;
    vertical-align: top;
}
.inclusions-stay-content {
	max-width: 70%;
}
.stay-img-con {
	height: 2.3125rem !important;
    width: 2.625rem !important;
}
.stay-img-con img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .inclusions-stay-content {
        max-width: 62%;
    }
	.inclusions-container [class*="col-"] {
        height: max-content;
	}
}

@media only screen and (max-device-width: 767px) {    
	.inclusions-stay-content {
        max-width: 59%;
    }
    .stay-container {
        margin-right: 0 !important;
        width: 100%;
    }
    .validity-container{
        margin-left: 0 !important;
    }
}

.book-offer-button {
    text-align: left;
    padding-top: 0px;
}



.offers-rooms_caption {
	position: relative;
}

.offers-rooms_caption::after {
	position: absolute;
    right: -1rem;
    top: 0;
    background: rgba(0,0,0,0.45);
    height: 95%;
	width: 1px;
    content: "";
}

.offers-room-container .validity-line-container {
	display: none !important;
}

.validity-container {
	margin-left: 1.875rem;
    vertical-align: super;    
}