
.inclusions-heading {
    font-weight: bold;
    font-size: 28px;
    font-size: 1.75rem;
    color: #323232;
    font-family: Calibri;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.stay-container {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: Calibri;
    color: #323232;
    vertical-align: top;
}

.stay-container div:first-child {
    margin-right: 16px;
    margin-right: 1rem;
    display: inline-block;
    height: 53px;
    height: 3.3125rem;
    width: 90px;
    width: 5.625rem;
}

.stay-container .inclusions-stay-heading {
    display: inline-block;
    font-weight: bold;
    vertical-align: text-top;
}

.stay-container div:nth-child(3) {
    display: inline-block;
}

.stay-container .inclusions-stay-content {
    display: inline-block;
    vertical-align: text-top;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .stay-container {
        display: block;
        margin: 0 0 1rem;
    }
    .stay-img-con{
        vertical-align: top;
    }
    .stay-container .inclusions-stay-heading{
        height: auto !important;
    }
    .stay-container .inclusions-each-text div{
        display: inline !important;
        margin: 0 !important;
        line-height: normal;
    }
}

.inclusions-line-separator-container {
    display: inline-block;
    position: relative;
    margin: 0 40px;
    margin: 0 0.5rem;
    height: 65%;
    vertical-align: top;
}

.inclusions-line-separator-container .line-seperator {
    top: 17.5%;
    position: absolute;
    height: 100%;
    width: 2px;
    width: 0.125rem;
    border: solid 1px #979797;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .inclusions-line-separator-container {
        display: none;
    }
}

.conveniences-container {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: Calibri;
    color: #323232;
}

.conveniences-container div:first-child {
    margin-right: 16px;
    margin-right: 1rem;
    display: inline-block;
    height: 53px;
    height: 3.3125rem;
}

.conveniences-container .inclusions-conveniences-heading {
    font-weight: bold;
    display: inline-block;
    vertical-align: text-top;
}

.conveniences-container div:nth-child(3) {
    display: inline-block;
}

.conveniences-container .inclusions-conveniences-content {
    display: inline-block;
    vertical-align: text-top;
}

@media only screen and (min-device-width: 376px) and (max-device-width: 767px) {
    .conveniences-container .inclusions-conveniences-content {
        width: 40%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
    .conveniences-container {
        margin-top: 35px;
    }
}