<sly
	data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.hotels.components.ihclcb.bookings-filter'}" />


<div class="ihclcb-bookings-filter-container">
	<div class="ihclcb-bookings-filter-status">
		<div class="ihclcb-bookings-filter-results">
			<div class="bookings-filter-type">
				Filters: <span class="ihclcb-bookings-filter-none">None</span>
			</div>
			<div class="filtered-details">
				<div class="filter-result" data-filtered-value="filter-city-ref">
					<span class="reset-particular-filtertype icon-close-blue" tabindex="0" ></span> <span class="filtertype">City:</span> <span
						class="filtered-value">Mumbai</span>
				</div>
				<div class="filter-result" data-filtered-value="filter-checkin-ref">
					<span class="reset-particular-filtertype icon-close-blue" tabindex="0" ></span><span class="filtertype">From:</span> <span
						class="filtered-value">01 Jan 19</span>
				</div>
				<div class="filter-result" data-filtered-value="filter-checkout-ref">
					<span class="reset-particular-filtertype icon-close-blue" tabindex="0" ></span><span class="filtertype">To:</span> <span
						class="filtered-value">31 Dec 19</span>
				</div>
			</div>
		</div>
		<button class="ihclcb-booking-filter-button">
			<img src="/content/dam/tajhotels/ihclcb-icons/ihclcb-filter.svg" alt="filter-icon" />
		</button>
	</div>
	<div class="ihclcb-filter-pop-up">
		<div class="ihclcb-filter-pop-up-contents">
			<h4 class="filter-pop-up-heading">Filter By:</h4>
			<div class="dropdown ihclcb-filter-options-container"
				data-filter-drpdwn="filter-city-ref">
				<button class="btn btn-secondary dropdown-toggle" type="button"
					id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">City</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#" data-selected="false">All</a>
					<a class="dropdown-item" href="#" data-selected="false">Mumbai</a>
					<a class="dropdown-item" href="#" data-selected="false">Bangalore</a>
					<a class="dropdown-item" href="#" data-selected="false">Delhi</a>
				</div>
			</div>

			<div class="input-daterange input-group" id="datepicker">
				<div class="input-datarange-container">
					<label class="input-group-addon ihclcb-filter-options-container">From:
						<input type="text" data-filter-drpdwn="filter-checkin-ref" class="input-sm form-control" id = "ihclcb-filter-from-cal" name="start" placeholder="dd M yy" />
					</label>
					<label class="input-group-addon ihclcb-filter-options-container" >To:
						<input type="text" data-filter-drpdwn="filter-checkout-ref" id = "ihclcb-filter-to-cal" class="input-sm form-control" name="end" placeholder="dd M yy"/>
					</label>
				</div>
			</div>
			<div class = "ihclcb-filter-datepicker-cont"></div>
			<div class="ihclcb-apply-and-reset-filter">
				<div class="ihclcb-reset-filter"><button class="reset-filter-button">RESET FILTERS</button></div>
				<div class="ihclcb-apply-filter"><button class="cm-btn-secondary">Apply Filters</button></div>
			</div>
			
		</div>
	</div>
</div>




