.footer-component {
    padding: 20px 20px 40px;
    padding: 1.25rem 1.25rem 2.5rem;
    font-family: Calibri;
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.06;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
    text-align: left;
    color: #1b1b1b;
    background-color: #efeeee;
}
.cart-layout .footer,
.footer-padding-for-cart-info{
    padding-bottom: 100px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .cart-layout .footer,
    .footer-padding-for-cart-info{
        padding-bottom: 80px;    
    }
}

i.icon-STAR-TAJ {
    font-size: 5rem;
}

footer .cm-warning-box-con{
    display:none;
}

footer .taj-loader{
    display:none;
}

footer .jiva-spa-form-row{
    margin-bottom:0;
}
footer .disclaimer{
    text-align:left;
    font-size: 1rem;
    line-height: 1.3;
    letter-spacing: normal;
}
footer ol li{
    list-style: decimal;
}
footer .jiva-spa-form-btn{
    display:none;
}
footer .cm-warning-box-inner-wrap{
    width:80%;
    margin:auto;
}

footer .jiva-spa-form-hotel-details,footer .jiva-spa-form-name-details{
    width:50%;
}

footer .jiva-spa-form-right-section{
    width:65%;
}

footer .success,footer .error,footer .subscription-success,footer .unsubscription-success,footer .subscription-error,footer .unsubscription-error{
    display:none;
}
footer .cm-warning-box-main{
    position:relative;
}
footer form{
	margin-bottom:10px;
}

@media screen and (max-width: 991px) {
	footer .cm-warning-box-inner-wrap{
		width:100%;
	}
	footer .jiva-spa-form-row{
		text-align:left;
	}
	footer .jiva-spa-form-gender-details{
		width:100%;
	}
	footer .jiva-spa-form-right-section{
		width:100%;
	}
	footer .jiva-spa-form-hotel-details,footer .jiva-spa-form-name-details{
		width:100%;
		padding:0;
	}
	footer .jiva-spa-mand-input{
		width:100%;
		border:none;
		border-bottom:1px solid #dee2e5; 
	}
	
}

.footer-component a {
    color: #1b1b1b;
    font-size: 15px;
    font-size: 0.9375rem;
    letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
    .footer-component a {
        font-size: 0.9375rem;
    }
}

.footer-component .footer-logo-wrapper {
    margin: 35px 0 10px;
    margin: 2.1875rem 0 0.625rem;
}

.footer-component .logo {
    width: 91px;
    width: 5.6875rem;
    height: auto;
}

.footer-component .subscription-box {
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
}

.footer-component .email-input {
    width: 60%;
    border-radius: 0.125rem;
    background-color: #ffffff;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0);
    padding: 0 15px;
    padding: 0 0.9375rem;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ffff;
    outline: none;
    color: black;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
}

.footer-component .subscribe-btn {
    width: 40%;
    margin-left:-8px;
}

.footer-component .footer-links-list {
    list-style-type: none;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-count: 3;
    padding: 0;
}

@media screen and (max-width: 991px) {
    .footer-component .footer-links-list {
        -moz-column-count: 2;
        column-count: 2;
    }
}

.footer-component .share-icon {
    width: 40px;
    width: 2.5rem;
    margin-right: 15px;
    margin-right: 0.9375rem;
}

.footer-component .download-icon {
    margin-right: 15px;
    margin-right: 0.9375rem;
    width: 78px;
    width: 4.875rem;
    height: 26px;
    height: 1.625rem;
}

.footer-component .brand-icon {
    margin-right: 15px;
    margin-right: 0.9375rem;
    width: auto;
    height: 10px;
    height: 0.625rem;
}

@media screen and (max-width: 991px) {
    .footer-component {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }

    .label-footer-input {
        margin-top: 1.5rem;
        margin-bottom: 0.3125rem;
    }
}

.footer-destination-heading {
    font-size: 17px;
    font-size: 1.0625rem;
    color: #1b1b1b;
    font-family: Calibri;
}

@media screen and (max-width: 767px) {
    .footer-destination-heading {
        font-size: 0.875rem;
    }
}

.footer-destination-expand-button {
    color: var(--primaryColorDark);
    font-family: Calibri-Bold;
    font-size: 21px;
    font-size: 1.3125rem;
    margin-left: 5px;
    cursor: pointer;
}
.footer-destination-list {
    list-style-type: none;
    column-count: 5;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    padding: 0;
    display: none;
}

@media screen and (max-width: 767px) {
    .footer-destination-list {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        font-size: 0.875rem;
    }
}

.footer-destination-section {
    position: relative;
    overflow: visible;
}

.footer-destination-section::after {
    position: absolute;
    left: 0;
    bottom: -14px;
    bottom: -0.875rem;
    width: 100%;
    height: 1px;
    background: #979797;
    content: ' ';
    opacity: 0.5;
}

.footer-about-section {
    margin-top: 20px ! important;
    margin-top: 1.25rem ! important;
    position: relative;
    font-size: 15px;
    font-size: 0.9375rem;
}

.footer-about-section::after {
    position: absolute;
    left: 0;
    bottom: -14px;
    bottom: -0.875rem;
    width: 100%;
    height: 1px;
    background: #979797;
    content: ' ';
    opacity: 0.5;
}

@media screen and (max-width: 767px) {
    .footer-about-section::after {
        display: none;
    }
}

.footer-media-section {
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .footer-media-section {
        position: relative;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .footer-media-section::after {
        position: absolute;
        left: 0;
        bottom: -1.25rem;
        width: 100%;
        height: 1px;
        background: #979797;
        content: ' ';
        opacity: 0.5;
    }
}

.footer-app-section {
    padding-left: 53px;
    padding-left: 3.3125rem;
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .footer-app-section {
        padding-left: 0;
        display: none;
    }
}

.footer-brand-details-section {
    margin-top: 20px ! important;
    margin-top: 2rem ! important;
    position: relative;
    font-size: 15px;
    font-size: 0.9375rem;
}

@media screen and (max-width: 767px) {
    .footer-brand-details-section {
        margin-top: 1.5625rem !important;
    }
}

.footer-disclaimer {
    color: #4a4a4a;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: Calibri;
}

/*@media screen and (max-width: 767px) {
    .footer-disclaimer {
        padding-left: 15px;
    }
}*/

.footer-brands-list {
    list-style-type: none;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-count: 3;
    display: none;
    margin-bottom: 0;
    padding-top: 0.5rem;
}

@media screen and (max-width: 767px) {
    .footer-brands-list {
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer-brands-list {
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media screen and (max-width: 767px) {
    .brand-logos-section {
        margin-top: 1.125rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer-email-section {
        padding-left: 4rem !important;
    }
}

.footer-email {
    height: 35px;
    height: 2.1875rem;
    line-height: 35px;
    line-height: 2.1875rem;
    border: none;
}

.footer-promotion-icons-container {
	display: flex;
}

.footer-promotion-icons-container .footer-media-section {
	flex: 1;
}

.footer-promotion-icons-container .footer-app-section {
	padding-left: 0;
}

.footer-component .footer-promotion-icons-container .footer-app-section a img {
	margin-right: 0;
}

.footer-ihcl-logo-con {
	margin-top: 0.5rem;
}



.brand-logos-section .brand-logos-carousal-band>a:first-child>img {
    height: 22px;
    margin-top: -5px;
} 

.brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
	
    height: 28px;
    margin-top: 4px;
}

.brand-logos-section .brand-logos-carousal-band>a:nth-child(3)>img {
	height: 10px;
}

.brand-logos-section .brand-logos-carousal-band>a:nth-child(4)>img {
	height: 14px;
}

.brand-logos-section .brand-logos-carousal-band>a:nth-child(5)>img {
	
	height: 12px;
}

.brand-logos-section .brand-logos-carousal-band>a:nth-child(6)>img {
    height: 22px;
    margin-top: -5px;
}

.brand-logos-section .brand-logos-carousal-band>a {
	display: inline-block;
}

.brand-logos-section .brand-logos-carousal-band>a img {
	margin-right: 0.8rem;
}

.footer-component .brand-icon {
	
	height: 13px;
}

.brand-logos-section .brand-logos-carousal-band>a:last-child>img {
	margin-right: 0;
	margin-top: -1px;
}

.footer-brands-logo-inner-wrap {
	float: right;
}

@media screen and (min-width: 768px) {
	.cm-page-container .footer .brand-logos-section {
    }
}

.brand-logos-carousal-band {
    /* display: flex; */
    margin-top: 10px;
}

.brand-logos-carousal-band::-webkit-scrollbar {
   display: none;
}


@media screen and (max-width: 991px) {
	.brand-logos-carousal-band {
		overflow: auto;
		overflow-x: scroll;
		display: flex;
	}
	.brand-logos-section .brand-logos-carousal-band>a img {
		margin-right: 0.7rem;
	}
	
	.brand-logos-section .brand-logos-carousal-band>a:nth-child(3)>img {
		height: 0.9rem;
	}
	
	.footer-component .email-input {
		height: 2.8125rem !important;
		vertical-align: bottom;
	}
	
	.footer-brands-logo-inner-wrap {
		width: 100%;
    	padding-right: 1rem;
	    overflow: hidden;
	}
}

@media screen and (max-width: 767px) {
	.brand-logos-section .brand-logos-carousal-band>a:first-child>img {
		height: 16px;
    	margin-top: -4px;
	} 
	
	.brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
	
    	height: 16px;
    	margin-top: 3px;
	}
	
	.brand-logos-section .brand-logos-carousal-band>a:nth-child(3)>img {
		
		height: 7px;
	}
	
	.brand-logos-section .brand-logos-carousal-band>a:nth-child(4)>img {
		
		 height: 10px;
    	
	}
	
	.brand-logos-section .brand-logos-carousal-band>a:nth-child(5)>img {
		
		height: 10px;
    	
	}								
	
	.brand-logos-section .brand-logos-carousal-band>a:nth-child(6)>img {
		
    	height: 18px;
    	margin-top: -5px;
	}
	
	
	
	.brand-logos-section .brand-logos-carousal-band>a img {
		margin-right: 0.5rem;
	}
	
	.footer-component .brand-icon {
		height: 8px;
	}
	
	.footer-ihcl-logo-con {
		order: 2;
    	margin-top: 30px;
	}
	.brand-logos-section {
		order: 1;
	}
	
	.footer-component .email-input {
		height: 2.8125rem !important;
		vertical-align: bottom;
	}
	.footer-brands-logo-inner-wrap {
		width: 100%;
    	padding-right: 0;
	}
	.brand-logos-section .brand-logos-carousal-band>a:last-child>img {
        height: 16px ! important;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
	/* .brand-logos-section .brand-logos-carousal-band>a img {
		margin-right: 0.75rem;
	} */
	
	/* .brand-logos-section .brand-logos-carousal-band>a:first-child>img {
		height: 18px;
	} */
	
	/* .footer-component .brand-icon {
		height: 7px;
	} */
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
		margin-top: 0;
	}
}

.subscription-success {
	color: #28a745;
}

.subscription-failure {
    color: #dc3545;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .brand-logos-section .brand-logos-carousal-band>a:first-child>img.brand-icon {
        margin-top: -2px;
        height: 26px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
        height: 27px;
        margin-top: 2px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:last-child>img {
        height: 23px;
        margin-top: -5px;
    }
 }
 @media screen and (min-width: 1000px) {
    .brand-logos-section .brand-logos-carousal-band>a:first-child>img {
        height: 18px;
        margin-top: -5px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
        height: 20px;
        margin-top: 4px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(3)>img {
        height: 8px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(4)>img {
        height: 11px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(5)>img {
        height: 10px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(6)>img {
        height: 20px;
        margin-top: -5px;
    }
    .footer-component .brand-icon {
        height: 11px;
    }
    .brand-logos-section .brand-logos-carousal-band>a img {
        margin-right: 0.5rem;
    }
}

 @media screen and (min-width: 1200px) {
    .brand-logos-section .brand-logos-carousal-band>a:first-child>img {
        height: 20px;
        margin-top: -6px;
    } 
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
        height: 20px;
        margin-top: 4px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(4)>img {
        height: 10px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(5)>img {
        height: 10px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(6)>img {
        height: 20px;
        margin-top: -5px;
    }
    .footer-component .brand-icon {
        height: 12px;
    }
}

@media screen and (min-width: 1300px) {
    .brand-logos-section .brand-logos-carousal-band>a:first-child>img {
        height: 22px;
        margin-top: -6px;
    } 
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
        height: 26px;
        margin-top: 4px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(3)>img {
        height: 10px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(4)>img {
        height: 14px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(5)>img {
        height: 12px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(6)>img {
        height: 24px;
        margin-top: -6px;
    }
    .footer-component .brand-icon {
        height: 14px;
    }
}

@media screen and (min-width: 1400px) {
    .brand-logos-section .brand-logos-carousal-band>a:first-child>img {
        height: 26px;
        margin-top: -6px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
        height: 28px;
        margin-top: 5px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(3)>img {
        height: 11px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(4)>img {
        height: 14px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(5)>img {
        height: 13px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(6)>img {
        height: 26px;
        margin-top: -6px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:last-child>img {
        margin-top: -2px;
        height: 15px;
    }
    .footer-component .brand-icon {
        height: 14px;
    }
}
.footer-tic-expand-button {
	color: var(--primaryColor);
    font-family: Calibri-Bold;
    font-size: 21px;
    font-size: 1.3125rem;
    margin-left: 5px;
    cursor: pointer;
}

.footer-tic-heading {
    font-size: 17px;
    font-size: 1.0625rem;
    color: #1b1b1b;
    font-family: Calibri;
}

.footer-tic-section {
	padding-top: 1rem;
}

@media screen and (max-width: 767px) {
	.footer-tic-heading {
		font-size: 0.875rem;
	}
	.footer-tic-section {
		position: relative;
	}
	.footer-tic-section::after {
		    position: absolute;
    left: 0;
    bottom: -14px;
    bottom: -0.875rem;
    width: 100%;
    height: 1px;
    background: #979797;
    content: ' ';
    opacity: 0.5;
	}
    .ama-theme .footer-component{
        padding: 0px 0 20px;


    }
    .ama-theme .footer-media-section{
		border-top: 1px rgba(151,151,151,0.5) solid;
		padding-top:15px;
        margin-top: 20px;
    }
	.ama-theme .footer-media-section .footer-social-media-con{margin-top:10px;}
}

@media screen and (max-width: 400px) {
	.ama-theme .footer-component a{
                font-size: 11px !important;}
}

.footer-brands-list.expanded-on-load {
    display: block;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .footer-brands-list .footer-link {
        margin-bottom: 12px;
        line-height: 1;
        min-height: 20px;
    }
}

.newsletter-heading{
    font-family: Calibri-bold;
    font-size: 1.875rem;
    line-height: 1.14;
    text-align: left;
    color: #1b1b1b;
    margin-bottom: 1rem;
}
.newsletter-form .selectSubContainer .selectboxit-text {
    max-width: 85% !important;
}
.newsletter-form .selectSubContainer{
    width: 100%;
    border-bottom: solid 1.7px #dee2e5;
}
.newsletter-form .email-input{
    width: 100%;
    padding: 0 0.625rem 0.375rem;
    border:none;
    border-bottom: solid 1.7px #dee2e5;
}
.newsletter-form .mr-sub-form-row {
    margin: 0 -1rem;
}
.newsletter-form.mr-sub-form .sub-form-input-label{
    margin-bottom: 0.7rem;
    line-height: normal;
}
.newsletter-form .mr-sub-form-row  [class*="col-"].sub-form-input-wrp{
    padding: 1rem !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
}
.newsletter-form.mr-sub-form .sub-form-input-element{
    height: 2rem !important;
    padding: 0 !important;
}
.newsletter-form.mr-sub-form .selectSubContainer{
    height: 2rem !important;
}

.newsletter-form .selectboxit .selectboxit-arrow-container .selectboxit-arrow{
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.warning-box-close{
    z-index: 1;
}
.checkbox-row{
    margin-left: 2rem;
}
.policy-terms-external-link {
    color: rgb(129, 139, 146);
    text-decoration: underline;
    padding: 3px 0px 10px;
}
.footer-component .brand-icon.footer-brand-taj{
	height: 1.9rem;
}

.footer-component .brand-icon.footer-brand-seleqtions{
	height: 1.9rem;
	margin-top: 0.5rem;
}

.footer-component .brand-icon.footer-brand-tajsats{
	height: 1.7rem;
}
.captcha__showText{
    border: 0;
    background: #efefef;
    padding: 5px 5px;
    text-align: center;
    height: auto;
    width: 100%;
    font-style: italic;
}
.captcha__mainText{
    width: calc(100% - 30px);
    float: left;
    position: relative;
    display: inline-block;
    max-height: 47px;
}
.captcha__refresh{
    width: 30px;
    float: left;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-height: 47px;
    min-height: 47px;
 }
.refresh-icon{
    cursor:pointer;
    width:18px;
}
.newsletter-form .mr-sub-form-row [class*="col-"].sub-form-input-wrp.captcha{
    display:inline;
}

.ama-theme .footer-component a,.ama-theme .footer-promotion-icons-container .footer-media-section,.ama-theme .footer-brands-logo-inner-wrap{
	font-size :12px;
    letter-spacing: 1.5px;
    text-transform : uppercase;
}