<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.inspirationGallery'}" />
<sly data-sly-use.gallery="com.ihcl.core.models.gallery.GalleryImageSelector" />
<div data-component-id="inspiration-gallery" class="gallery-images-wrapper">
    <div class="hotels-gallery-images">
        <div class="hotels-gallery-images-container">
            <div class="row ">
                <sly data-sly-list.imagesJson="${gallery.getImagePaths.toString}"> <sly
                    data-sly-use.imagePathsJs="${'/apps/tajhotels/components/content/server-side-js-library/image-paths.js' @ imagesJson=imagesJson}"
                    data-sly-list.imagePath="${imagePathsJs.imagePaths}"> <sly
                    data-sly-use.damFormat="${'com.ihcl.core.models.gallery.DamFormatFetcher' @ damElement=imagePath}" /> <sly
                    data-sly-use.image="${'com.ihcl.core.models.DAMImageWrapper' @ imageReference=imagePath,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg' }">
                <div class="gallery-image-element-wrapper ${damFormat.damFormat}" data-dam-format="${damFormat.damFormat}"
                    data-dam-path="${imagePath}">
                    <div class="gallery-image-element">
                        <picture> <img src="${imagePathList.first && image.renditionPath}"
                            data-sly-attribute.data-src="${imagePathList.index > 0 && image.renditionPath}"
                            alt="gallery images"> </picture>
                        <video class="videoDisplay" src="${imagePath}/jcr:content/renditions/cq5dam.web.756.756.jpeg"
                            allowfullscreen="true" controls />
                    </div>
                </div>
                </sly> </sly> </sly>
            </div>
        </div>
    </div>
</div>

</sly>