.pressRoom-subscribe-wrapper .pressRoom-subscribe-container {
    background-color: #e8e8e8;
    box-shadow: 0 7px 14px 0 #e5e3e3;
    padding: 20px;
    padding: 1.25rem;
}

@media only screen and (min-width: 992px) {
    .pressRoom-subscribe-wrapper .pressRoom-subscribe-container {
        height: 360px;
    }
}

.pressRoom-subscribe-wrapper .pressRoom-subscribe-desc {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.19;
    color: #4a4a4a;
}

.pressRoom-email-wrapper .pressRoom-email-cont {
    margin-top: 30px;
    margin-top: 1.875rem;
}

.pressRoom-email-wrapper .pressRoom-email-cont .pressRoom-input {
    width: 100%;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 2.19;
    color: #afafaf;
    border: none;
    background-color: #e8e8e8;
    border-bottom: solid 2px #afafaf;
    outline: none;
}

.pressRoom-email-wrapper .pressRoom-subscriber-btn-cont {
    margin-top: 30px;
    margin-top: 1.875rem;
}

.pressRoom-email-wrapper .pressRoom-subscriber-btn-cont .cm-btn-secondary.pressRoom-subscribe-btn {
    width: 211px;
    width: 13.1875rem;
    float: right;
}

@media only screen and (max-width: 767px) {
    .pressRoom-email-wrapper .pressRoom-subscriber-btn-cont .cm-btn-secondary.pressRoom-subscribe-btn {
        width: 9.4375rem;
    }
}

.cm-header-label-con.title-decorator-border.pressRoom-subscribe-title {
    font-size: 25px;
    font-size: 1.5625rem;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .cm-header-label-con.title-decorator-border.pressRoom-subscribe-title {
        font-size: 1.25rem;
        text-align: left;
    }

    .cm-header-label-con.title-decorator-border.pressRoom-subscribe-title:after {
        left: 0;
        -ms-transform: translate(0);
        transform: translate(0);
    }
}

.press-room-confirmation-wrapper .jiva-spa-lead-gen-conf-con {
    box-shadow: none;
}

.pressRoom-subscribe-wrapper.cm-card-showmore-spacing {
    display: block;
}
