<div data-sly-use.model="com.ihcl.core.models.PopularDestinationModel">
    <div>
        <img style="width: 250px; height: 250px;" src="${model.destinationImage}" alt="destination Image" />
    </div>
    <div>
        <span>${model.destinationName} </span>
        <span>
            <a href="${model.resourceURL}" class="event-list-button">VIEW DETAILS</a>
    </div>
    </span>
</div>
</div>