.placeholder-title {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.22;
    color: #323232;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
}

.placeholder-title .mr-showmore-placeHolder-title {
    padding-left: 5px;
    padding-left: 0.3125rem;
}

.placeholder-title .mr-showmore-placeHolder-title a {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--primaryColor);
}

.placeholder-title .mr-showmore-placeHolder-title a:hover {
    text-decoration: none;
}
@media only screen and (max-width: 767px) {
    .holiday-theme .hide-in-sm.ihcl-specific{
        display: block !important;
    }
    .holiday-theme .hide-in-sm.ihcl-specific .placeholder-header-title{
        display: none !important;
    }
}