<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.offerterms'}" />

<div class="terms-cond-container cm-content-blocks">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 Terms-cond">
            <sly data-sly-test="${!properties.expand}">
            <div class="Terms-cond-head-wrapper">
                <div class="Terms-cond-header">Terms & Conditions</div>
                <i class="icon-drop-down-arrow image-view inline-block"></i>
            </div>
            <div class="Terms-cond-desc">${properties.termsDescription @ context='html'}</div>
            </sly>
            <sly data-sly-test="${properties.expand}">
            <div class="Terms-cond-header">Terms & Conditions</div>
             <div class="Terms-cond-desc-expanded">${properties.termsDescription @ context='html'}</div>
            </sly>

        </div>
    </div>
</div>