.jiva-spa-details-recom-con{
	margin-top:10px;
}
.jiva-spa-card-details-wrap {
    position: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; 
     background-color: rgba(0,0,0,0.55) !important;
    /*  width:60%;
     max-height:10px; */
     margin-left:auto;
     margin-right:auto;
     height: 100%;
     width: 100%;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-card-details-wrap {
        position: static;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }
}

.jiva-spa-card-details-con { 
    background-color: #fff; 
    padding: 47px 40px 57px 47px;
    padding: 47px 2.5rem 57px 2.9375rem;
    margin:auto;
    display: table;
    position:relative !important;
   /*  height: 75%; */
    width: 85%;
    margin-left: 7%;
    margin-top: 5%;
    overflow-y: auto;
    max-height:unset !important;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-card-details-con {
        display: block;
        top: 56px;
        max-height: unset;
        position: static;
        padding: 19px 38px 22px 19px;
    }
}

.jiva-spa-details-desc-con {
    display: table-cell;
    width: 52%;
    padding-top: 0px !important;;
    padding-right: 44px;
    padding-right: 2.75rem;
    vertical-align: top;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-desc-con {
        padding: 0;
        display: block;
        width: 100%;
    }
}

.jiva-spa-details-heading {
    font-size: 36px;
    font-size: 2.275rem;
    font-family: Calibri-Bold;
    color: #323232;
}

.jiva-spa-details-loc {
	font-size:0.8rem;
    color: #9b9b9b;
    border-bottom: none;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-loc {
        color: var(--primaryColor);
        border-bottom: 1px solid var(--primaryColor); 
    }
}

.jiva-spa-details-desc {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #323232;
    margin-top: 20px;
}

.jiva-spa-details-short-desc {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #323232;
    margin-top: 20px;
}

.jiva-spa-details-desc p {
    line-height: 1.38;
}

.jiva-spa-details-img-con {
    display: table-cell;
    width: 47%;
    height: 100%;
    position: relative;
}

.jiva-spa-details-img-con img {
    width: 100%;
    height: 23.6rem;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-img-con {
        display: none;
    }
}

.jiva-spa-details-view-photos-con {
    position: absolute;
    bottom: 22px;
    bottom: 1.375rem;
    left: 20px;
    left: 1.25rem;
    height: 36px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 4px 0 9.3px 10px;
    padding: 4px 0 9.3px 0.65rem;
    cursor: pointer;
}

.jiva-spa-details-view-photos-con img {
    height: 15.6px;
    width: 15.6px;
    margin-right: 10px;
    margin-right: 0.625rem;
}

.jiva-spa-details-view-photos-con span {
    color: #fff;
    font-size: 14px;
    font-size: 0.9125rem;
    font-family: Calibri-Bold;
    letter-spacing: 1.8px;
    margin-right: 10px;
    margin-right: 0.625rem;
}

.jiva-spa-recom-heading {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri-Bold;
    color: #323232;
}

.jiva-spa-recom-details {
    margin-top: 8px;
}

.jiva-spa-recom-details div {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
}

@media only screen and (max-device-width: 374px) {
    .jiva-spa-recom-details div {
        font-size: 0.875rem;
    }
}

.jiva-spa-recom-details div:first-child {
    border-right: 1px solid #979797;
    padding-right: 15px;
    padding-right: 0.9375rem;
}

.jiva-spa-recom-details div:last-child {
    color: var(--primaryColorDark);
    margin-left: 10px;
    margin-left: 0.625rem;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-price-con {
        position: relative;
        padding-bottom: 45px;
        padding-top: 35px;
    }
}

.jiva-spa-details-price {
	color:#323232;
    font-size: 22px;
    font-size: 1.375rem;
    font-family: RupeeForadian;
    position: relative;
    margin-top: 40px;
}

.jiva-spa-details-price span {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: Calibri-Bold;
}

.jiva-spa-details-price span:last-child {
    font-family: Calibri;
    position: absolute;
    left: 89px;
    left: 5.6rem;
    font-size: 16px;
    font-size: 1rem;
    top: -1px;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-price span:last-child {
        left: unset;
        right: -5px;
    }
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-price {
        text-align: right;
        margin-top: 24px;
    }
}

.jiva-spa-details-book-btn {
    width: 211px;
    width: 13.1875rem;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-book-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.jiva-spa-details-close {
    position: absolute; 
    right: 11px;
    top: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.jiva-spa-details-close img {
    /*height: 200px !important;*/
    width: 200px;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-close {
        /*display: none;*/
    }
}



@media only screen and (max-device-width: 991px) {
    .jiva-spa-mobile-photo-gallery {
        display: block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .jiva-spa-mobile-photo-gallery {
        width: 105%;
    }
}



.jiva-spa-mobile-images img {
    height: 100%;
    width: 100%;
}

.jiva-spa-view-gallery {
    color: var(--primaryColor);
    text-decoration: underline;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri-Bold;
    /* position: absolute; */
    right: 0;
    top: 12px;
    display: none;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-view-gallery {
        display: block;
    }
}

@media only screen and (max-device-width: 767px){
	.jiva-spa-details-img-con img {
		height:21.25rem;
	}
}

.rate-card-image-container {
    float: left;
    height: 100%;
    position: relative;
    width: 28rem;
    }
.rate-card-image-container .rate-card-image {
        height: 100%;
        width: 100%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
	.rate-card-image-container .rate-card-image {
            width: 100%;
        }
}