.hotelheader {
    height: 45px;
}
@media only screen and (max-width: 991px) {
    .hotelheader {
	    height: 56px;
	}	
}

.cm-view-link-txt, .cm-view-txt {
    color: #002b49 !important;
}

.mr-audit-statement-template{
	display:flex!important;
	margin:0 1rem;
}
.guest-card-component .line{
	background-color: #002b49 !important;
}
.icon-carousel-arrow-coloured-left:before,
.icon-carousel-arrow-coloured-right:before,
.icon-drop-down-arrow:before{
	color: #002b49 !important;
}
.title-decorator-border .cm-header-label::after {
	background-color: #002b49 !important;
	bottom: -5px !important;
}

.cm-header-label-con {
	margin-bottom: 30px !important;
}

.ihcl-timeline img {
	width: 100%;
}

.cm-btn-secondary {
	background-image: linear-gradient(to top, #002b49, #0c5d90) !important;
}
.cm-view-txt {
	color: #002b49 !important;
}

.cart-empty-back a {
	color: #002b49 !important;
}

.show-more-ell, .show-less, .read-more {
	color: #002b49 !important;
}

.cm-header-offers {
	color: #002b49 !important;
	border-bottom: 1px solid #002b49 !important;
}

.selectSubContainer .selectboxit-container .selectboxit {
	color: #002b49 !important;
}

.search-and-suggestions-wrapper .searchBar-wrap::before {
	background-image: linear-gradient(to top, #002b49, #0c5d90) !important;
}

.filter-go-warpper .filter-go-con {
	background-image: linear-gradient(to top, #002b49, #0c5d90) !important;
}

.jiva-spa-show-more {
	color: #002b49 !important;
}

.mr-audit-icon-holder {
	background-color: #012f4e !important;
	opacity: 0.1 !important;
}

.mr-investors-contact-details .mr-investor-contact-txt {
	color: #012f4e !important;
}

.carousel-control-next-icon {
	-ms-transform: initial !important;
	transform: initial !important;
}

.carousel-control-prev-icon {
	-ms-transform: rotate(180deg) !important;
	transform: rotate(180deg) !important;
}

.mr-investors-contact .mr-investor-contact-txt {
	color: #012f4e !important;
}

/* ihcl-header css */
.ihcl-header {
	background-color: #002b49 !important;
	position: fixed !important;
    top: 0;
    left: 0;
    z-index: 10000;
}
@media only screen and (max-width: 991px) {
    .ihcl-header {
        position: relative !important;
        z-index:initial;
    }	
}
.ihcl-header .navbar-light .navbar-nav .nav-link {
	color: #ffffff;
}

@media only screen and (max-width: 991px) {
	.ihcl-header .navbar-light .navbar-nav .nav-link {
		color: #4a4a4a;
		padding: 0.6rem 0.75rem;
	}
}

.ihcl-header .header-others-options {
	left: 12%;
	width: 6.875rem;
}

@media only screen and (max-width: 767px) {
	/*.ihcl-header .header-others-options {
		width: unset;
	}*/
}

.ihcl-header .header-others-options::after {
	left: unset;
	right: 20px;
	right: 1.25rem;
	border: none;
	
}

.ihcl-header .cm-header-dd-options-con {
	padding: 0.6rem;
}

.ihcl-header .cm-header-dd-options-con .cm-each-header-dd-item {
	padding: 0;
	word-wrap: unset;
	letter-spacing: 0.8px;
	margin-bottom: 5px;
	line-height: 1.2;
	padding-bottom: 5px;
}

.ihcl-header .cm-header-dd-options-con .cm-each-header-dd-item a {
	font-family: Calibri-Bold;
	
}

.ihcl-header .navbar-collapse-inner {
	margin-right: 16px;
	margin-right: 1rem;
}

.ihcl-header .navbar-heading .header-taj-icon-mobile {
	height: 18px;
	height: 1.125rem;
	width: unset;
}

.ihcl-header .header-warpper.container {
	background-color: #002b49 !important;
}

.ihcl-header .cm-header-dropdowns .box-with-top-arrow {
	border-radius: 0;
}

.ihcl-header .cm-header-dropdowns .box-with-top-arrow .cm-each-header-dd-item
	{
	border-top: none;
}

.ihcl-header .header-warpper .brand-logo-wrapper img {
	width: 64px;
	width: 4rem;
	height: 20px;
	height: 1.25rem;
}

@media only screen and (max-width: 767px) {
	.ihcl-header .header-warpper .brand-logo-wrapper img {
		width: 3rem;
		height: 2.25rem;
	}
}

@media only screen and (min-width:768px) and (max-width:991px) {
	.ihcl-header .header-warpper .navbar-light .navbar-brand a {
		margin-left: 0;
	}
	.ihcl-header .header-warpper .navbar-light .navbar-brand {
		text-align: left;
	}
	.ihcl-header .header-warpper .brand-logo-wrapper img {
		height: 2.25rem;
	}
}

.ihcl-header .custom-toggler .navbar-toggler-icon {
	background-image:
		url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.ihcl-header .text-caps .cm-each-header-dd-item {
	text-transform: initial;
}

.ihcl-header .cm-btn-secondary {
	/* background-image: var(--linearGradient) !important; */
}

.header-warpper .is-taj-logo.brand-logo-wrapper {
	display: none;
}

.is-ihcl-logo.brand-logo-wrapper {
	display: block;
}
.ihcl-header .header-warpper .header-dropdown-image{
	display:none;
}

@media only screen and (min-width:320px) {
.ihcl-header .book-stay-btn {
	/* display: none !important; */

    }
	.ihcl-header .header-wrapper .navbar-nav .book-stay-btn {
		/* display: none !important; */
	}
}

@media only screen and (min-width:992px) {
    .ihcl-header .nav-item:hover .box-with-top-arrow {
        display: block;
    } 

    .ihcl-header .navbar-collapse {
        height: 100%;
    }

    .ihcl-header .navbar-collapse-inner {
        height: 100%;
    }

    .ihcl-header .navbar-nav {
        height: 100%;
    }

    .ihcl-header .navbar-nav {
        height: 100%;
    }

    .ihcl-header .nav-link {
        height: 100%;
        padding: 0.7rem 0.5rem 1rem;
    }

    .ihcl-header .header-others-options {
		top: 2.8125;
    }
}

@media only screen and (min-width:992px) {
	.ihcl-header .nav-item {
		height: 100%;
		display: table;
	}
	.ihcl-header .nav-link {
		padding-top: 0;
		padding-bottom: 0;
		display: table-cell;
		vertical-align: middle;
	}
	.ihcl-header .brand-logo-wrapper img {
		vertical-align: text-bottom;
	}
	.ihcl-header .navbar-nav {
		width: 100%;
	}
	.ihcl-header .nav-item {
		margin-right: 2%;
	}
	.ihcl-header li.cm-each-header-dd-item:last-child {
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}
	
}

@media only screen and (min-width:992px) and (max-width:1023px) {
	.ihcl-header .brand-logo-wrapper {
		right: -3.5rem;
	}
	.ihcl-header .navbar-nav {
		margin-left: 2.875rem;
	}
}

@media only screen and (max-width:991px) {
	.ihcl-header .header-taj-link {
		display: none;
	}
	
	.ihcl-header .icon-prev-arrow::before {
    	color: #002b49;
    }
    .ihcl-header .nav-others {
	    border-bottom: 1px solid #002b49 !important;
	}
	.ihcl-header .header-ihcl-icon-mobile {
		display: inline-block !important;
		height: 2.125rem;
	    width: 2.4375rem;
	    margin-left: 1.75rem;
	    object-fit: contain;
	}
	
	.ihcl-header .header-taj-icon-mobile {
		display: none;
	}
	.ihcl-header .cm-header-dropdowns .box-with-top-arrow .cm-each-header-dd-item {
		margin-left: 0 !important;
	}
	
	.ihcl-header .cm-header-dd-options-con .cm-each-header-dd-item a {
	    color: rgba(74, 74, 74, 0.8);
	    font-family: Calibri;
	}
	.ihcl-header .cm-header-dropdowns .box-with-top-arrow .cm-each-header-dd-item {
		border-top: 1px solid rgba(151, 151, 151, 0.4);
	}
	.ihcl-header .header-others-options {
		width: 100%;
	}
	.ihcl-header .cm-header-dd-options-con .cm-each-header-dd-item {
		padding: 0.5rem 0.625rem;
		margin-bottom: 0;
	}
	.ihcl-header .cm-header-dd-list-con {
		margin-left: -0.625rem;
	}
}

.cm-local-details-container.mr-profile-popup .cm-local-details{
	overflow-y:auto!important;
}

.contact-us-filter .selectSubContainer .selectboxit-arrow-container {
	display: block !important;
}

.selectSubContainer .selectboxit-focus .selectboxit-option-anchor {
	background: rgba(0, 43, 73, 0.25) !important;
}

.mr-sub-form .sub-form-input-element.invalid-input {
	border-bottom-color: #022b49;
}

.filter-catagory .filter-dropDD .multiselect-selected-text {
	color: #002b49 !important;
}

.filter-catagory .filter-dropDD .dropdown-toggle:after {
	color: #002b49 !important;
}

.pressCard-container .pressCard-description-container .pressCard-desc a:hover {
    color: #002b49 !important;
}

@media only screen and (min-width:992px) {
	.ihcl-header .cm-header-dd-list-con {
		margin-bottom: 0;
	}
}
.brand-card-component .brand-card-footer .brand-description div.description-text-brand{
   color:#4a4a4a !important;
}
.pressCard-description-container .pressCard-date {
	color:#4a4a4a !important;
}
.pressCard-container{
	background-color:#ffffff;
	height:100%;
}
.mr-sub-form .sub-form-input-label,.mr-experinces-details-location{
	color:#4a4a4a!important;
}
.mr-sub-form .sub-form-input-element{
	border-bottom: solid 1.7px #4a4a4a !important;
}
.email-input.v-middle.footer-email::placeholder{
	color:#4a4a4a !important;
}

.cm-header-label {
	font-size:2rem !important; 
}


