.profile-card-background-gray {
    .about-specific-city-container {
        background-color: #d5d5d5;
    }
}
.display-know-more-btn {
    .ihcl-know-more-btn-wrp {
        display: block!important;
        text-align:right;
    }
}

//ihcl leadership
.executive-leader-profile-card-carousel-wrp,
.board-leader-profile-card-carousel-wrp,
.other-services-card-container {
   .row {
       margin: -15/@rem;
       @media only screen and(max-width: 767px) {
           margin: 0;
       }
       .col-lg-4.col-md-6.col-sm-12,
       .holiday-landing-dis {
          // display: none;
           padding: 15/@rem!important;
       }
   }
}

.executive-leader-profile-card-carousel-wrp .ihcl-leadership-wrap{
display:flex;
    .experiences-container.profile-card-wrap{
    height:100%;
        width:100%;
    }
    .col-lg-4.col-md-6.col-sm-12{
            display:none;
    }
}



//search container common fixed top when scrolling
@rem: 16rem;
.mr-stickyScroll {
    position: fixed ! important;
    width: 100% !important;
    top: 0 !important;
    right:0 !important;
    left:0 !important;
    bottom: auto !important;
    z-index: 6 !important;
} // end of search container styles
.cm-page-container {
    //add background when using with new page layout
    background: #f5f5f5;
    .row {
        margin: auto;
    }
    [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
    .header {
        width: 100%;
        background: #ffffff;
        position: relative;
        .header-nav-prelogin-search {
            display: none;
            position: relative;
            z-index: 7;
            .search-and-suggestions-wrapper {
                position: fixed;
                top: 4.5rem;
                left: 0;
                right: 0;
                bottom: initial;
                @media only screen and (max-width: 767px) {
                    top: 0;
                }
                .searchBar-wrap {
                    &::before {
                        left: 0px;
                    }
                    .explore-taj-content {
                        background: #ffffff;
                        padding-left: 2rem;
                    }
                    .searchbar-input {
                        background: #ffffff;
                        opacity: 1;
                        color: #323232;
                        font-size: 1.5rem;
                        &::placeholder {
                            color: #c9c9c9;
                        }
                    }
                }
                .nav-prelogin-close {
                    display: block;
                    position: absolute;
                    right: -33px;
                    top: 22px;
                    width: 22px;
                    height: 22px;
                    cursor: pointer;
                    @media only screen and (max-width: 767px) {
                        display: none;
                    }
                }
            }
        }
    }
    .banner-container {
        width: 100%;
        position: relative;
        .search-container {
            position: absolute;
            bottom: 25px;
            left: 0;
            right: 0;
            width: 100%;
            @media only screen and (max-width: 767px) {
                bottom: 7px;
                padding: 0px 4px;
            }
        }
    }
    .cm-header-label-con {
        font-size: 30px;
        font-family: Calibri-Bold;
        color: #1b1b1b;
        margin-bottom: 57px;
        position: relative;
        display: block;
        @media only screen and (max-width: 991px) {
            font-size: 20px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 24px;
            text-align: center;
            margin-bottom: 37px;
            display: block;
        }
        .cm-header-label {
            line-height: 1;
            display: inline-block;
            @media only screen and (max-width: 767px) {
                width: 90%;
            }
        }
        .cm-header-sublevel {
            line-height: 1;
            display: inline-block;
            position: absolute;
            right: 0;
            max-width: 476px;
            margin-top: 17px;
            @media only screen and (max-width: 991px) {
                margin-top: 0px;
            }
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
        .cm-header-offers {
            display: inline-block;
            position: absolute;
            right: 0;
            color: var(--primaryColor);
            font-size: 16px;
            border-bottom: 1px solid var(--primaryColorLight);
            line-height: 1;
            letter-spacing: 2px;
            text-transform: uppercase;
            bottom: 0;
            cursor: pointer;
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
    }
    .content-wrapper {
        //max-width: 1280px;
        margin: 35px auto 81px; //width: 100%;
        .cm-content-blocks {
            margin-top: 35px;
            @media only screen and (max-width: 767px) {
                margin-top: 30px;
            }
            &:first-child {
                margin-top: 50px;
                @media only screen and (max-width: 767px) {
                    margin-top: 30px;
                }
            }
        }
        /*@media only screen and (min-device-width : 1025px) and (max-device-width : 1400px) {
max-width: 960px;
}
@media only screen and (min-device-width : 960px) and (max-device-width : 1024px) {
max-width: 900px;
}*/
    }
    .footer {
        width: 100%;
        background-color: #efeeee;
    } // @media only screen and (max-width: 767px) {
    @media only screen and (max-width: 480px) {
        .content-wrapper {
            margin: 30px auto 58px;
            max-width: 100%;
        }
    }
} //new classes for offers-page-layout
.title-decorator-border {
    position: relative;
    margin-bottom: 2rem;
    @media only screen and (max-width: 767px) {
        text-align: center;
        font-size: 20px;
        &::after {
            left: 50%;
            transform: translate(-50%);
        }
    }
}

.offers-button-wrapper {
    display: none;
    margin-top: 30px;
    text-align: center;
    @media only screen and (max-width: 767px) {
        display: block;
    }
}

.leftArrow {
    position: absolute;
    left: -5%;
    bottom: 38%;
    z-index: 1;
    height: 5rem;
    width: 3rem;
    img {
        transform: rotate(180deg);
        height: 100%;
        width: 100%;
    }
    cursor: pointer;
    @media only screen and (max-width: 1024px) {
        height: 4rem;
        width: 2rem;
        left: -3%;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
        display: none;
    }
}

.rightArrow {
    position: absolute;
    cursor: pointer;
    right: -5%;
    bottom: 38%;
    height: 5rem;
    width: 3rem;
    img {
        height: 100%;
        width: 100%;
    }
    @media only screen and (max-width: 1024px) {
        height: 4rem;
        width: 2rem;
        right: -3%;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
        display: none;
    }
}

.popular-destination-wrap,
.offers-and-deals-wrap,
.cm-inner-carousel-wrap,
.confirmation-experiences-wrap,
.profile-card-carousel-wrp {
    overflow-x: hidden;
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        overflow-x: scroll;
    }
    @media only screen and (min-device-width: 550px) and (max-device-width: 960px) {
        overflow-x: scroll;
    }
}

.signature-experiences-cards-wrap,
.spa-indulgences-cards-wrap,
.body-scrubs-cards-wrap {
    overflow-x: hidden;
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        overflow-x: scroll;
    }
    @media only screen and (min-device-width: 550px) and (max-device-width: 960px) {
        overflow-x: scroll;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
} //added classes for our-hotels-layout
.hotels-container {
    margin-top: 24px;
    width: 100%;
    position: relative;
    min-height: 300px;
    .cm-header-label-con {
        margin-bottom: 40px;
    }
    @media only screen and (max-width: 767px) {
        margin-top: 30px;
        margin-bottom: 0px;
        height: auto;
        min-height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .cm-page-container {
        background: #f5f5f5;
    }
    .offers-container {
        margin-top: 29px !important;
    }
}

@media only screen and (max-width: 767px) {
    .cm-page-container {
        background: #f5f5f5;
    }
}

.participating-hotels {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding-top: 70px;
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        padding-top: 80px;
    }
}

.generic-show-more {
    img {
        &.rotate-show-more-icon {
            transform: rotate(180deg);
        }
    }
}

.card-show-more-button,
.generic-show-more,
.participating-hotels-show-more,
.dining-hotels-show-more {
    text-align: center;
    font-size: 16/@rem;
    color: var(--primaryColor);
    font-family: Calibri-bold;
    margin-top: 30px;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2/@rem;
    outline: none;
    img {
        margin-left: 10/@rem;
        vertical-align: baseline;
    }
}

.jiva-spa-show-more {
    text-align: center;
    font-size: 16/@rem;
    color: var(--primaryColor);
    font-family: Calibri-bold;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2/@rem;
    img {
        margin-left: 10/@rem;
        vertical-align: baseline;
    }
    .show-more-inverted {
        transform: rotate(180deg);
    }
}

.participating-hotels-search {
    position: absolute;
    right: 0;
    top: 21px;
    width: 43.2%;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        width: 100%;
        top: 96px
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        width: 92%;
        top: 96px;
        margin: 0 4%;
    }
}

.specific-hotels-page,
.global-dining-layout {
    .content-wrapper {
        margin-top: 30px;
        margin-bottom: 80px;
        .cm-content-blocks:first-child {
            margin-top: 26px;
        }
        .cm-content-blocks {
            margin-top: 40px;
            @media only screen and (min-width: 320px) and (max-width: 767px) {
                margin-top: 26px;
            }
        }
    }
    .specific-hotels-breadcrumb {
        font-size: 1rem;
        font-family: Calibri;
        margin-bottom: 1.5rem;
        a {
            font-weight: bold;
            color: var(--primaryColor);
            text-decoration: underline;
        }
        span {
            color: #4a4a4a;
            margin: 0 0.3125rem;
        }
        span:last-child {
            margin: 0;
        }
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            display: block;
            margin-left: 1rem;
        }
        &.mobile-view-visible {
            display: block;
            background-color: #efeeee;
            margin-bottom: -1.5rem;
            mix-blend-mode: multiply;
            padding-left: 1.6rem;
            margin-top: 1.5rem;
            @media only screen and (min-width: 768px) {
                display: none;
            }
        }
    }
    .specific-hotels-main-tab-container {
        width: 100%;
    }
    .room-selection-data {
        font-size: 1.5rem;
        font-family: Calibri;
        span:first-child {
            color: var(--primaryColorDark);
            font-weight: bold;
        }
        span:nth-child(2) {
            color: #8d8d8d;
        }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            margin-left: 15px;
            font-size: 1.25rem;
        }
        @media only screen and (max-device-width: 320px) {
            font-size: 1rem;
        }
    }
    .rate-tab-container {
        padding-right: 3.9375rem;
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            padding-right: 0;
        }
    }
    .rate-tax-disclaimer {
        color: #323232;
        font-size: 1rem;
        font-family: Calibri;
        margin-top: 21px;
        padding-left: 0.625rem;
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            margin-left: 1rem;
            margin-top: 41px;
        }
    }
    .rate-cards-container {
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            margin: 0 auto;
        }
    }
    .rooms-suites-container {
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }
    }
    .offers-header-wrapper {
        display: none;
    }    
}

.destination-layout {
    .destination-layout-breadcrumb {
        font-size: 1rem;
        font-family: Calibri;
        margin-bottom: 1.5rem;
        a {
            font-weight: bold;
            color: var(--primaryColor);
            text-decoration: underline;
        }
        span {
            color: #4a4a4a;
            margin: 0 0.3125rem;
        }
        a:last-child {
            margin: 0;
            color: #4a4a4a;
            text-decoration: none;
            font-weight: normal;
            cursor: auto;
        }
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }
    }
    .content-wrapper {
        margin-top: 25px;
    }
    .mr-view-toggler-switch-Container {
        width: (130/@rem);
        height: (35/@rem);
        display: inline-block;
        @media only screen and(max-width: 767px) {
            width: (100/@rem);
        }
    }
    .mr-Filter-checkbox-wrap {
        display: inline-block;
        margin-right: (30/@rem);
        @media only screen and(max-width: 767px) {
            display: none;
        }
    }
    .mr-filter-sort-wrap {
        display: inline-block;
        float: right;
        width: (578/@rem);
        text-align: right;
        @media only screen and(max-width: 767px) {
            width: 10.5rem;
            text-align: left;
            display: table; // width: 100%;
        }
    }
    .mr-sortBy-wrap {
        display: inline-block;
        @media only screen and(max-width: 767px) {
            display: table-cell;
            vertical-align: middle;
            padding-left: 0.5rem;
        }
    }
    .mr-filterIconWrap {
        display: none;
        @media only screen and(max-width: 767px) {
            display: table-cell;
            vertical-align: middle;
            width: 10%;
            padding-right: 0.5rem;
            border-right: 1px solid #979797;
            img {
                width: (27/@rem);
                height: (23/@rem);
            }
        }
    }
    .mr-sortByFilterLablel {
        display: inline-block;
    }
    .selectcontainerSortBy {
        width: (130/@rem);
        @media only screen and(max-width: 767px) {
            font-size: 1rem;
        }
    }
}

.specific-hotels-back-con {
    margin-top: 26px;
    a {
        font-family: Calibri-Bold;
        color: var(--primaryColor);
        font-size: 1rem;
    }
    a:hover {
        text-decoration: none;
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        display: none;
    }
}

.specific-hotels-offer-content {
    font-family: Calibri;
    font-size: 1rem;
    color: #323232;
    margin-bottom: 57px;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        margin: 0 15px 26px;
    }
}

.specific-hotels-offers {
    margin-bottom: 42px !important;
}

.book-ind-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10;
    bottom: 0;
    display: none;
} //page layout for cart page
.cart-layout {
    background: #f5f5f5;
    .content-wrapper {
        margin-top: 20px !important;
    }
    .cart-hotel-card-container {
        margin-top: 35px !important;
    }
    .total-price-header {
        .carts-add-room {
            display: none;
        }
        @media only screen and (min-width: 320px) and (max-width: 991px) {
            display: none;
        }
    }
    .cart-selected-rooms-addons-container {
        margin-bottom: 88px;
        .cart-addons-container {
            display: none;
            margin-bottom: 19px;
            &.show-addons {
                display: block;
            }
        }
        .rates-tax-text {
            font-family: Calibri;
            font-size: 1rem;
            line-height: 1.38;
            color: #323232;
            margin: 1rem 0 0.5rem;
        }
    }
    .cart-footer-fixed-total-price {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: #ffffff;
        padding-top: 1.4rem;
        min-height: 5.5rem;
        text-align: center;
        box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.05);
        .total-price-back {
            display: none;
        }
        .total-prize-con {
            position: relative;
            margin-top: -12px;
            line-height: 1;
            div {
                float: none;
            }
            div:first-child {
                font-size: 0.875rem;
                position: absolute;
                right: 9px;
            }
            div:last-child {
                margin-top: 25px;
                @media only screen and (min-width: 320px) and (max-width: 991px) {
                    margin-top: 22px;
                }
            }
            @media only screen and (min-width: 320px) and (max-width: 991px) {
                margin-top: 0;
            }
        }
        .best-deal-desc {
            line-height: unset;
        }
    }
} //specific hotel-localArea 
.specific-hotels-content-wrap {
    .about-specific-city {
        min-height: 450px;
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            min-height: 448px;
        }
    }
    .about-specific-hotel {
        min-height: 230px;
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            min-height: 241px;
        }
    }
    .advertisement-specific-hotel {
        height: 200px;
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            height: 143px;
        }
    }
}

.visible {
    display: block !important;
}

.hidden {
    display: none !important;
}

.checkout-layout {
    .coupon-hide-on-checkout-page {
        display: none;
    }
}

.cart-layout,
.checkout-layout {
    .header-warpper {
        .book-stay-btn {
            display: none !important;
        }
    }
} // disable search bar scroll to top in home page
.home-page-layout {
    main {
        .banner-container {
            .search-container {
                .search-and-suggestions-wrapper.input-scroll-top {
                    @media only screen and (min-width: 768px) {
                        position: relative;
                    }
                }
            }
        }
    }
}

.confirmation-main {
    position: relative;
}

.confiramtion-wrap {
    padding-top: 29px;
    @media only screen and (min-width: 320px) and (max-width: 991px) {
        padding-top: 0;
    }
    .confirmation-background-banner {
        position: absolute;
        top: -65px;
        left: 0;
    }
}

.offers-page {
    .banner-container.offer-details-banner-container {
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
    .content-wrapper.offer-details-content-wrapper {
        @media only screen and (max-width: 767px) {
            margin-top: 2rem;
        }
    }
}

//common stytles for dropdown 
.selectSubContainer {
    border-bottom: 2px solid rgba(27, 27, 27, 0.3);
    width: 60%;
    display: inline-block;
    .selectboxit-container * {
        font-family: Calibri;
    }
    .selectboxit-container {
        width: 100%;
        font-family: Calibri;
        .selectboxit {
            width: 100% ! important;
            border: none;
            border-radius: 0;
            color: var(--primaryColor);
            font-size: 20px ! important;
            font-family: Calibri;
            @media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
                color: #9e9e9e;
                font-size: 20px !important;
            }
        }
        .selectboxit-option-icon-container {
            margin-left: 0px !important;
            @media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
                margin-left: 5px !important;
            }
        }
    }
    .selectboxit-arrow-container {
        display: none !important;
    }
    .selectboxit-option,
    .selectboxit-optgroup-header {
        text-indent: 3px;
    }
    .selectboxit-text {
        font-size: 16px !important;
        font-family: Calibri;
        @media only screen and (max-width: 991px) {
            font-size: 20px !important;
        }
    }
    .selectboxit-list>.selectboxit-focus>.selectboxit-option-anchor {
        background: var(--primaryColorLighter);
        color: #4a4a4a;
        margin: 0 -7px;
        padding: 0 9px;
    }
    .selectboxit-list a {
        font-size: 1rem !important;
        color: #4a4a4a;
        font-family: Calibri;
        border-bottom: solid 1px #ebebeb;
    }
    .selectboxit-options a {
        height: 40px;
        line-height: 40px;
    }
    .selectboxit-option-first {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .selectboxit-option-last {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .selectboxit-container {
        font-family: Calibri;
        font-size: 16px;
        color: var(--primaryColor);
        .selectboxit-options {
            border-radius: 0;
            box-shadow: 0 7px 14px 0 #9b9b9b;
            padding: 0 0.4375rem;
            width: 100%;
        }
        @media only screen and (max-width: 991px) {
            font-size: 14px;
        }
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
        width: 100%;
        border-bottom: 1px solid var(--primaryColor);
    }
}

// Gallery page styles
.specific-hotels-gallery-page {
    .hotels-gallery-section {}
    .hotels-gallery-guest-speaks {
        @media only screen and (max-width: 767px) {
            flex-wrap: nowrap;
            overflow: scroll;
            .col-12 {
                flex: 0 0 83.333333%;
                max-width: 83.333333%;
            }
        }
        [class*="col-"] {
            .guest-individual-card-backFront-wrapper {
                margin: 0;
            }
            @media only screen and (max-width: 767px) {
                padding: 0 !important;
                margin-left: 15px !important;
                &.hide-in-sm.mr-image-with-comments-card {
                    display: flex !important;
                }
            }
            @media only screen and (min-width: 768px) {
                &:nth-child(3n) {
                    .guest-individual-card-backFront-wrapper {
                        padding-left: 20/@rem !important;
                        padding-right: 0 !important;
                    }
                }
                &:nth-child(3n-1) {
                    .guest-individual-card-backFront-wrapper {
                        padding: 0 10/@rem !important;
                    }
                }
                &:nth-child(3n-2) {
                    .guest-individual-card-backFront-wrapper {
                        padding-right: 20/@rem !important;
                        padding-left: 0 !important
                    }
                }
            }
        }
    }
}

.cm-share-container {
    display: inline-block;
    float: right;
}

.rate-tax-disclaimer.local-area-tax {
    display: none;
    @media only screen and (max-width: 767px) {
        display: block;
        margin-left: 1rem;
        margin-top: 41px;
    }
}

.guests-speak-container>div {
    display: inline-block;
    @media only screen and (max-width: 991px) {
        display: inline;
    }
}

.about-destination-city {
    padding: 0rem 15/@rem;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding: 0;
    }
}

.destination-experiences-nav-component {
    @media only screen and (max-width: 767px) {
        margin-top: 3rem ! important;
    }
}

.jiva-spa-details-back-link {
    font-size: 14/@rem;
    font-family: Calibri;
    margin: 20px 0;
    display: none;
    a {
        color: var(--primaryColor);
    }
}

.jiva-spa-detail-container {
    @media only screen and (max-device-width: 991px) {
        padding: 0 15px;
    }
}

.generic-breadcrumb {
    font-size: 1rem;
    font-family: Calibri;
    color: #4a4a4a;
    margin-bottom: 24px !important;
    a {
        color: var(--primaryColor);
        font-family: Calibri-Bold;
    }
    a:hover {
        outline: none;
    }
    span {
        margin: 0 5px;
    }
    span:last-child {
        margin: 0;
    }
    @media only screen and (max-device-width: 991px) {
        display: none;
    }
}

.jiva-spa-lead-gen-page {
    .content-wrapper {
        margin-top: 30px;
    }
    .cm-content-blocks {
        margin-top: 0!important;
    }
}

.generic-back-link {
    font-size: 1rem;
    font-family: Calibri;
    margin: 24px 0;
    &.checkout-page-back-link {
        margin: 0 0 13/@rem;
    }
    a {
        color: var(--primaryColor) !important;
        font-family: Calibri-Bold;
    }
    a:hover {
        outline: none;
    }
    @media only screen and (max-device-width: 991px) {
        display: none;
    }
}

.signature-exp-wrap,
.spa-indulgence-wrap,
.body-scrub-wrap,
.confirmation-exp-wrap {
    overflow-y: hidden;
}

.cm-share-btn.local-area {
    right: 0;
    position: absolute;
    @media only screen and (max-width: 480px) {
        right: 16/@rem;
    }
}

.confirmation-view-exp {
    a {
        color: var(--primaryColor);
    }
    a:hover {
        text-decoration: none;
    }
}

.confirmation-show-more {
    text-align: center;
    font-size: 16/@rem;
    color: var(--primaryColor);
    font-family: Calibri-bold;
    margin-top: 30px;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2/@rem;
    display: none;
    @media only screen and (max-device-width: 767px) {
        display: block;
    }
}

.confirmation-show-more:focus,
.confirmation-show-more:hover {
    color: var(--primaryColor);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mr-our-brands-container {
        //height: 480px; //Commented by Nixon to fix Brand Cards on Tab View
        overflow-x: auto;
        .mr-our-brands-container-inner {
            height: inherit;
            width: 950px;
        }
    }
}

//for local area 
.hotel-nearBy-container {
    @media only screen and (max-width: 480px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.mr-destination-dining-search,
.mr-specific-dining-search {
    width: 100%;
    .participating-hotels-search-wrap {
        .search-input-section {
            width: 82%;
            @media only screen and (max-width: 480px) {
                width: 40%;
                input {
                    padding-left: 0.5rem;
                }
                img {
                    margin-left: 10/@rem;
                }
            }
            @media only screen and (max-width: 1023px) and (min-width: 768px) {
                width: 64%;
            }
        }
        .search-filter-section {
            float: right;
            margin-top: 5/@rem;
            margin-right: 0.5rem;
            @media only screen and (max-width: 767px) {
                margin-top:0.5rem;
            }
            .search-filter-section-name,
            .search-filter-section-choose {
                @media only screen and (min-width: 768px) {
                    display: inline-block;
                    vertical-align: middle;
                    float: none;
                    padding-top: 0;
                }
            }
        }
    }
    @media only screen and (max-width: 767px) {
        padding: 0px 15/@rem;
    }
}

.guests-speaks-container {
    [class*="col-"] {
        @media only screen and (max-width: 767px) {
            padding: 0 15px;
        }
    }
}

.guest-speak.local-area {
    overflow-y: hidden;
    .col-lg-4.col-md-6.col-sm-12 {
        float: left;
    }
}

.global-dining-layout {
    .cm-header-label-con.title-decorator-border.global-dining-header-label {
        margin-bottom: 40/@rem;
    }
    .dining-hotels-show-more {
        margin-top: 0;
    }
    .global-dining-specific-hotel {
        .rate-tax-disclaimer {
            margin-top: 0;
        }
        &.global-dining-related-contents {
            .global-dining-specific-hotel-row {
                .dining-card-container-main {
                    @media only screen and (min-width: 992px) {
                        &:nth-child(3) {
                            display: none;
                        }
                    }
                }
            }
        }
        .global-dining-specific-hotel-row {
            .dining-card-container-main {
                display: none;
                @media only screen and (min-width: 320px) {
                    &:nth-child(1) {
                        display: flex;
                    }
                }
                @media only screen and (min-width: 768px) {
                    &:nth-child(2) {
                        display: flex;
                    }
                }
                @media only screen and (min-width: 992px) {
                    &:nth-child(3) {
                        display: flex;
                    }
                }
            }
        }
    }
}

.concierge-local.cm-inner-carousal-cards {
    margin-bottom: 2rem;
    box-shadow: none;
    .recommended-experiences-wrap {
        box-shadow: 0 7px 14px 0 #e5e3e3;
        height: 100%;
        background: #ffffff;
        display: flex;
       flex-direction: column;
    }
}

//common class for card with show more functonality(for padding and margin) without arrow 
//starts here
.cm-card-showmore-spacing {
    display: none;
    margin-bottom: 2rem;
}

@media only screen and (min-device-width: 992px) {
    .cm-card-showmore-spacing:nth-child(3n-1) {
        padding: 0 11.3/@rem ;
    }
    .cm-card-showmore-spacing:nth-child(3n) {
        padding-left: 22.6/@rem ;
    }
    .cm-card-showmore-spacing:nth-child(3n-2) {
        padding-right: 22.6/@rem ;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .cm-card-showmore-spacing:nth-child(odd) {
        padding-right: 16/@rem ;
    }
    .cm-card-showmore-spacing:nth-child(even) {
        padding-left: 16/@rem ;
    }
}

//ends here
// offers card show more common styles
.offers-card-show-more-wrapper {
    &.show-more-card-wrapper {
        .show-more-card-element {
            display: none;
            @media only screen and (min-width: 320px) {
                &:nth-child(-n+3) {
                    display: block;
                }
            }
            @media only screen and (min-width: 768px) {
                &:nth-child(-n+4) {
                    display: block;
                }
            }
            @media only screen and (min-width: 992px) {
                &:nth-child(-n+6) {
                    display: block;
                }
            }
        }
    }
}

// reserve table styles
.reserve-table-form-wrapper,
.reserveTable-confirmation-wrapper {
    background-color: #ffffff;
    padding: 23/@rem 66/@rem;
    @media only screen and (max-width: 767px) {
        padding: 17/@rem 20/@rem;
    }
}

.specific-hotels-breadcrumb.mr-reserve-a-table-breadcrumb {
    .mr-reserve-table-pagenav {
        font-weight: bold;
        color: var(--primaryColor);
        text-decoration: underline;
    }
}

.specific-hotels-page.cm-page-container.dining-details-layoutSpecific {
    .content-wrapper.container.mr-reserve-a-table-contentWrapper {
        @media only screen and (max-width: 767px) {
            margin: 0px;
        }
        .cm-content-blocks.reserve-table-form-wrapper,
        .cm-content-blocks.reserveTable-confirmation-wrapper {
            @media only screen and (max-width: 767px) {
                margin-top:0px;
            }
        }
    }
}

.events-text-section {
    @media only screen and (max-width: 767px) {
        display: none;
    }
}

.specific-hotels-events-page {
    .content-wrapper {
        margin-bottom: 42px;
    }
    .generic-show-more {
        margin-top: 0;
    }
}

.holidays-dest-package-page {
    .holidays-destination-desc {
        .cm-header-label-con {
            margin-bottom: 25/@rem;
        }
    }
    .filter-search-result {
        display: inline-block !important;
        width: 25%;
        font-size: 14/@rem;
        font-family: Calibri;
        .text {
            display: inline-block;
        }
        .filter-search-result-number,
        .filter-search-criteria {
            display: inline-block;
            font-family: Calibri-Bold;
        }
        @media only screen and (max-width: 991px) {
            // display: block !important; // width: 100% !important;
            // margin-top: 40px;
            // font-size: 1.2rem !important;
            display: none;
        }
    }
    .filter-wrap-catagory {
        width: 50%;
        display: inline-block;
        .filter-catagory:first-child {
            display: none;
        }
        .filter-catagory:nth-child(3) {
            display: none;
        }
        .filter-catagory {
            width: 30%;
            @media only screen and (max-width: 991px) {
                width: 100%;
            }
        }
        @media only screen and (max-width: 991px) {
            width: 100%;
        }
    }
}

//For Guest room - Rooms under a rate plan
.cm-room-options {
    display: none;
}

.cm-room-options.cm-active {
    display: block;
}

//for holiday banner search bar 
// disable search bar scroll to top in home page
.holidays-page {
    main {
        .banner-container {
            .search-container {
                .search-and-suggestions-wrapper.input-scroll-top {
                    @media only screen and (min-width: 768px) {
                        position: relative;
                    }
                }
            }
        }
    }
}

//list view (Grid View) and Map view Toggler STyling 
// destination about holidays styling
.mr-view-Toggler-wrap {
    display: table;
    width: 100%;
    height: 100%;
    .mr-list-switch,
    .mr-map-switch {
        display: table-cell;
        width: 50%;
        text-align: center;
        vertical-align: middle;
    }
}

.mr-list-switch.mr-view-toggler-style,
.mr-map-switch.mr-view-toggler-style {
    border-radius: (2/@rem);
    background-image: var(--linearGradient);
    .mr-listSwitch-text,
    .mr-mapSwitch-text {
        color: #ffffff;
    }
}

.mr-map-switch,
.mr-list-switch {
    background-color: #e7e6e6;
}

.mr-listSwitch-text,
.mr-mapSwitch-text {
    padding-left: 0.3125rem;
    font-family: Calibri;
    font-size: (14/@rem);
    line-height: 0.71;
    letter-spacing: (0.6/@rem);
    color: #c3c3c3;
    @media only screen and(max-width: 767px) {
        display: none;
    }
}

.mr-view-Toggler-wrap {
    cursor: pointer;
}

.mr-destination-about-itinerary-plan-wrapper {
    display: table;
    width: 100%;
    .destination-about-itinerary-plan {
        width: 90%;
        display: table-cell;
        vertical-align: middle;
        padding-right: 35/@rem;
    }
    .mr-Holidays-destination-about-gridMapSwitch {
        display: table-cell;
        width: 10%;
        vertical-align: middle;
    }
    .mr-Holidays-destination-about-gridMapSwitchStyling {
        padding: 5/@rem;
    }
}

@media only screen and(max-width: 767px) {
    .holidays-about-dest.cm-page-container {
        .overview-page-guest-speak-section {
            .specific-hotels-guests-speaks-and-review-wrapper {
                .row {
                    .col-lg-8.col-12 {
                        display: none;
                    }
                }
            }
        }
        .mr-holidays-abt-dest-mobile-toggler {
            margin-left: 15/@rem;
            .mr-view-Toggler-wrap {
                display: inline-block;
                width: inherit;
                .mr-list-switch,
                .mr-map-switch {
                    padding: 6/@rem 12/@rem;
                }
            }
        }
    }
}

//for holiday explore to be confirmed with tushar 
// .mr-holidays-cards-wrapper .mr-holidays-activities-card-wrapper {
//     &:nth-child(n+7) {
//         display: none;
//     }
//     @media only screen and(max-width: 767px) {
//         &:nth-child(n+3) {
//             display: none;
//         }
//     }
// }
//for holiday destination page
.holiday-popularDest-wrap,
.holiday-international-wrap {
    overflow-x: auto;
}

//not to show the rating bar for guest speak
.rating-guestSpeak {
    .col-lg-8 {
        @media only screen and(max-width: 991px) {
            display: none;
        }
    }
}

//common breadcrumb for landing page without scopping
.cm-breadcrumb-wrapper {
    font-size: 1rem;
    font-family: Calibri;
    margin-bottom: 1.5rem;
    a {
        font-weight: bold;
        color: var(--primaryColor);
        text-decoration: underline;
    }
    span {
        color: #4a4a4a;
        margin: 0 0.3125rem;
    }
    span:last-child {
        margin: 0;
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        display: none;
    }
    &.mobile-view-visible {
        display: block;
        background-color: #efeeee;
        margin-bottom: -1.5rem;
        mix-blend-mode: multiply;
        padding-left: 1.6rem;
        margin-top: 1.5rem;
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
}

.holidays-explore-page {
    .holidays-explore-desc {
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
    .holidays-explore-desc-mobile {
        display: none;
        @media only screen and (max-width: 767px) {
            display: block;
        }
    }
    .holidays-explore-desc {
        .cm-header-label-con {
            margin-bottom: 30/@rem;
        }
    }
    &.inspiring-journeys-header {
        @media only screen and (max-width: 767px) {
            margin-bottom: 10/@rem !important;
        }
    }
}

// holidays-incredible-escape-kerala styles
.cm-page-container.holidays-incredible-escape-page {
    .content-wrapper {
        margin-top: 30/@rem;
        .cm-content-blocks:first-child {
            margin-top: 40/@rem;
        }
    }
    .generic-breadcrumb {
        margin-bottom: 20/@rem !important;
    }
    .placeholder-title {
        @media only screen and (max-width: 767px) {
            font-size: 16/@rem ;
            max-height: initial;
            margin: 10/@rem 0;
        }
    }
    .incredible-packages-rate-tax.rate-tax-disclaimer {
        @media only screen and (max-width: 767px) {
            padding: 0 15px !important;
            margin-top: 10/@rem;
        }
    }
    .cm-header-label-con {
        margin-bottom: 30/@rem;
        .cm-header-label {
            @media only screen and (max-width: 767px) {
                font-size: 22/@rem;
                width: 100%;
            }
        }
        .ho-btns-section.incredible-page-ho-btns-section {
            position: absolute;
            right: 0;
            top: 0;
            margin-top: 0/@rem;
            .add-to-wishlist-btn,
            .cm-share-btn {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .incredible-page-ho-btns-section {
        @media only screen and (max-width: 767px) {
            padding: 0 15px !important;
        }
    }
    .row.incredible-packages-wrapper {
        background-color: #ffffff;
        box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
        padding: 22/@rem 37/@rem 34/@rem 33/@rem;
        margin-top: 27/@rem;
        margin-bottom: 18/@rem;
        @media only screen and (max-width: 767px) {
            padding: 22/@rem 11/@rem;
            margin: 0 15px;
        }
        .incredible-iternary-night-wrp {
            margin: 38/@rem 0 18/@rem;
            display: table;
            width: 100%;
            .incredible-night-text {
                font-family: Calibri-bold;
                font-size: 20/@rem;
                line-height: 1.75;
                color: #4a4a4a;
                display: table-cell;
                vertical-align: middle;
                @media only screen and (max-width: 767px) {
                    font-size: 16/@rem;
                    line-height: 1.38;
                    max-width: 223/@rem;
                }
                @media only screen and (max-width: 374px) {
                    font-size: 14/@rem;
                }
            }
        }
        .incredible-night-cost-wrp {
            display: table-cell;
            text-align: right;
            vertical-align: middle;
            @media only screen and (max-width: 767px) {
                vertical-align: bottom;
            }
            .incredible-night-booking-cost {
                font-family: RupeeForadian;
                font-size: 27/@rem;
                color: #323232;
                display: inline-block;
                @media only screen and (max-width: 767px) {
                    display: block;
                    margin-bottom: 5/@rem;
                    font-size: 24/@rem;
                }
                span {
                    font-family: Calibri-bold;
                    font-size: 30/@rem;
                    @media only screen and (max-width: 767px) {
                        font-size: 24/@rem;
                    }
                }
            }
            .incredible-night-booking-btn {
                min-width: 166/@rem;
                margin-left: 20/@rem;
                @media only screen and (max-width: 767px) {
                    min-width: 115/@rem;
                }
            }
        }
        .incredible-escape-selected-package-wrapper {
            display: table;
            width: 100%;
            margin-top: 29/@rem;
            @media only screen and (max-width: 767px) {
                margin-top: 10/@rem;
            }
            .selected-packages-info {
                display: table-cell;
                vertical-align: middle;
                font-family: Calibri-bold;
                font-size: 20/@rem;
                line-height: 1.75;
                color: #4a4a4a;
                @media only screen and (max-width: 767px) {
                    line-height: normal;
                    vertical-align: bottom;
                }
            }
        }
    }
}

// 
.header-label-date-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10/@rem;
    line-height: 0.5;
    @media only screen and (max-width: 767px) {
        display: block;
        padding: 0 15px !important;
        margin: 0;
    }
    .date-selected-icon {
        display: inline-block;
        vertical-align: middle;
        width: 14.7/@rem;
        height: 13/@rem;
    }
    .header-label-date-selected {
        display: inline-block;
        vertical-align: middle;
        border-right: solid 1px #979797;
        padding-right: 10/@rem;
        margin-right: 6/@rem;
        @media only screen and (max-width: 767px) {
            margin-bottom: 10/@rem;
            border-right: none;
        }
        .date-selected-title {
            display: inline-block;
            vertical-align: middle;
            font-family: Calibri-bold;
            font-size: 14px;
            line-height: normal;
            color: #4a4a4a;
            .date-selected-value {
                display: inline-block;
                vertical-align: text-bottom;
                input {
                    outline: none;
                    border: none;
                    font-family: Calibri;
                    font-size: 14px;
                    width: 70/@rem;
                    background: transparent;
                    padding: 0;
                }
                .enquiry-from-date {
                    @media only screen and (max-width: 767px) {
                        left: -3rem;
                    }
                }
                .enquiry-to-date {
                    @media only screen and (max-width: 767px) {
                        left: -7rem;
                    }
                }
            }
        }
    }
    .header-label-black-out {
        display: inline-block;
        vertical-align: middle;
        @media only screen and (max-width: 991px) {
            display: block;
        }
        .date-black-out-title {
            display: inline-block;
            vertical-align: middle;
            font-family: Calibri-bold;
            font-size: 14px;
            line-height: normal;
            color: #4a4a4a;
            margin-right: 5/@rem;
            .date-black-out-value {
                font-family: Calibri;
            }
        }
        .black-out-dropdown-icon {
            width: 12/@rem;
            height: 8/@rem;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

// common style for rate tax text 
.rate-tax-disclaimer {
    font-family: Calibri;
    font-size: 16/@rem;
    line-height: 1.38;
    color: #323232;
}

.holidays-dest-package-page {
    .holidays-destination-desc {
        margin-top: 34/@rem !important;
        @media only screen and(max-width: 767px) {
            display: none;
        }
    }
    .content-wrapper {
        margin-top: 43/@rem;
    }
    .holidays-dest-package-filter {
        @media only screen and(min-width: 768px) and(max-width: 991px) {
            margin-top: 5/@rem !important;
        }
        @media only screen and(max-width: 480px) {
            padding: 0 15/@rem;
        }
    }
    .destination-package-card-container {
        @media only screen and(max-width: 991px) {
            margin-top: 5/@rem;
        }
    }
}

.holidays-specific-destination-page {
    .content-wrapper {
        margin-top: 21/@rem;
        .cm-content-blocks {
            margin-top: 14/@rem;
        }
    }
    .holidays-dest-package-filter {
        @media only screen and (max-width: 991px) {
            margin-top: 0 !important;
        }
    }
    .specific-dest-card-con {
        @media only screen and (max-width: 991px) {
            margin-top: 0 !important;
        }
    }
    .filter-search-result {
        display: inline-block !important;
        width: 25%;
        font-size: 14/@rem;
        font-family: Calibri;
        .text {
            display: inline-block;
        }
        .filter-search-result-number,
        .filter-search-criteria {
            display: inline-block;
            font-family: Calibri-Bold;
        }
        @media only screen and (max-width: 991px) {
            // display: block !important; // width: 100% !important;
            // margin-top: 40px;
            // font-size: 1.2rem !important;
            display: none;
        }
    }
    .filter-wrap-catagory {
        width: 70%;
        display: inline-block;
        .filter-catagory:last-child {
            display: none;
        }
        .filter-catagory {
            width: 25%;
            @media only screen and (max-width: 991px) {
                width: 100%;
            }
        }
        @media only screen and (max-width: 991px) {
            width: 100%;
        }
    }
}

.holidays-similar-destination-wrap {
    overflow-x: auto;
    .popularDest-details-name {
        width: 60% !important;
        @media only screen and(max-width: 767px) {
            width: 50% !important;
        }
    }
}

.specific-hotels-page {
    .rate-tab-container {
        position: relative;
        @media only screen and(min-width: 768px) and(max-width: 991px) {
            margin-bottom: 50px;
        }
        @media only screen and(max-width: 767px) {
            margin-bottom: 75/@rem;
        }
    }
    .floating-ind-container {
        position: absolute;
        top: 25/@rem;
        right: 0;
        z-index: 1;
        @media only screen and(min-width: 768px) and(max-width: 991px) {
            top: 4.75rem;
        }
        @media only screen and(max-width: 767px) {
            right: 15px;
            top: 95/@rem;
        }
    }
}

//for holiday-landing page filter 
.holiday-landing-search-wrapper {
    @media only screen and (min-width: 769px) {
        .filter-catagory {
            width: 24%;
        }
    }
}

//for IE browser
input::-ms-clear {
    display: none;
}

// for privacy policy page
.about-us-privacy-policy-page {
    .policy-detais-wrap {
        margin-top: 0px !important;
        @media only screen and (max-width: 767px) {
            display: none;
        }
        .policy-details,
        .policy-list-item {
            font-family: Calibri;
            font-size: 1rem;
            line-height: 1.25;
            color: #4a4a4a;
            margin-bottom: 1.5rem;
        }
        .policy-odered-list {
            padding-left: 1rem;
            .policy-list-item {
                list-style: decimal;
            }
        }
    }
    .policy-detais-wrap-m {
        display: none;
        @media only screen and(max-width: 767px) {
            display: block;
        }
    }
    .privacy-heading {
        @media only screen and(max-width: 767px) {
            margin-bottom: 0;
        }
    }
}

//amalgamation page
.card-show-more-button.amalgamation-mobile {
    display: none;
    @media only screen and (max-width: 991px) {
        display: block;
    }
}

.mr-rate-disclaimer.rate-tax-disclaimer {
    padding: 40/@rem 15/@rem 0;
    display: none;
    @media only screen and (max-width: 991px) {
        display: block;
    }
}

//for development competitive strengths
.competitive-strength-header-txt {
    font-family: Calibri;
    font-size: 16/@rem;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 47/@rem;
    @media only screen and(max-width: 767px) {
        display: none;
    }
}

.mr-competitive-mobile-txt {
    margin-bottom: 20/@rem;
    padding: 0 15/@rem;
    display: none;
    @media only screen and(max-width: 767px) {
        display: block;
    }
}

.mr-sustainability-card-inclusion .btn-wrap {
    display: none;
}
//IHCL-Home Page
.ihclGuestSpeakHome.section .guest-card3{
   @media only screen and (max-width: 767px) {
height : unset;
   }

}
.ihcl-guest-speak-card-full-width .ihclGuestSpeakHome .guest-speak-card-only-comment{
   @media only screen and (max-width: 767px) {
margin-bottom:0rem;
   }
}

.hide-in-sm.ihcl-specific {
   @media only screen and (max-width: 767px) {
   display : block !important;
   }
}

.ihcl-specific-padding {
 @media only screen and (max-width: 767px) {
   padding: 0 1rem;
   }
}
