<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.hotels.components.offers-card, taj.hotels.components.partner-promotion-offer-list'}" />
<sly
	data-sly-use.offerList="com.adobe.cq.wcm.core.components.models.List"
	data-sly-use.template="core/wcm/components/commons/v1/templates.html" />
<div class="offers-container cm-content-blocks">
	<div class="row flying-partner-container-row">
		<sly data-sly-list.listItem="${offerList.items}"> 
		  <sly data-sly-test.showgiftCard="${!properties.giftCardOffer}">
		      <sly
			      data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/offer-card' }">
		      </sly> 
		  </sly>
		  <sly data-sly-test.showGiftCard="${properties.giftCardOffer}">
		      <sly data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/partner-promotion-offer-card' }">>
			     
		      </sly>
		  </sly>
	   </sly>
	</div>
</div>
</sly>