     .personal-dtl-wrp{
        padding: 1.4375rem 4.625rem 2.6875rem 4.25rem;
		background-color: #ffffff;
      }

.flight-journey-details-cnt{
  box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);
  background-color: #fefefe;
  margin-bottom:1rem;
  padding: 1.4375rem 4.625rem 1rem 4.25rem;
}

.hotels-event-request-quote .hotels-event-back {
    font-family: Calibri-bold;
    font-size: 16px;
    font-size: 1rem;
    line-height: 0.88;
    color: var(--primaryColor);
}

.hotels-event-request-quote .hotels-event-back .hotels-event-back-img {
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    position: fixed;
    top: 19px;
    top: 1.1875rem;
    right: 22px;
    right: 1.375rem;
    display: none;
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote .hotels-event-back span {
        display: none;
    }

    .hotels-event-request-quote .hotels-event-back .hotels-event-back-img {
        display: block;
        z-index: 2;
    }
}

.hotels-event-request-quote form.event-request-quote-form {

    margin-top: 14px;
    margin-top: 0.875rem;
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form {
        padding: 0;
        margin-top: 0;
    }
}

.hotels-event-request-quote form.event-request-quote-form .request-quote-form-title {
    font-family: Calibri-bold;
    font-size: 30px;
    color: #282828;
    margin-bottom: 44px;
    margin-bottom: 2.75rem;
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form .request-quote-form-title {
        font-size: 1.5rem;
        margin-bottom: 1.4375rem;
        position: relative;
        padding-left:1rem
    }
}

.hotels-event-request-quote form.event-request-quote-form .request-quote-form-title .request-quote-close-btn {
    display: none;
    position: absolute;
    right: 0;
    right: 0;
    top: 4px;
    top: 0.25rem;
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form .request-quote-form-title .request-quote-close-btn {
        display: block;
    }
}

.hotels-event-request-quote form.event-request-quote-form .request-quote-submit-wrapper {
    margin-top: 54px;
    margin-top: 3.375rem;
    position: relative;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form .request-quote-submit-wrapper {
        margin-top: 1.25rem;
        padding: 0 1rem;
    }
}

.hotels-event-request-quote form.event-request-quote-form .request-quote-submit-wrapper .mandatory-text {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    color: #818b92;
    position: absolute;
    left: 0;
    bottom: 0;
}

.hotels-event-request-quote form.event-request-quote-form .request-quote-submit-wrapper .request-quote-submit-btn {
    min-width: 121px;
}

@media only screen and (max-width: 525px) {
    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form .sub-form-input-label {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form .request-quote-submit-wrapper .request-quote-submit-btn{
        padding-left: 1rem;
    }
    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-6"]:nth-child(2) {
        padding-right: 0.9375rem !important;
    }

    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-6"]:last-child {
        padding-left: 0.9375rem !important;
    }
}

.hotels-event-request-quote form.event-request-quote-form.mr-sub-form .row{
    margin: 0 -1.5rem; 
}
.hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"]{
    padding: 0 1.5rem;
}


@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form .row{
        margin: 0; 
    }
    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"]{
        padding: 0;
    }
}
.hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"] .phone-number-col {
    padding-left: 0px;
    padding-left: 0rem;
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"] .phone-number-col {
        padding-left: 0rem !important;
    }

}

.hotels-event-request-quote .hotels-event-confirmation-popup {
    display: none;
}

.sub-form-input-wrp {
    position: relative;
}

.sub-form-input-wrp .venue-search-input-wrp {
    position: relative;
}

.sub-form-input-wrp .venue-search-input-wrp .venue-search-icon {
    width: 12px;
    width: 0.8rem;
    height: 12px;
    height: 0.8rem;
    position: absolute;
    left: 6px;
    left: 0.4rem;
    top: 8px;
    top: 0.5rem;
}

.sub-form-input-wrp .venue-search-input-wrp .venue-search-input {
    padding-left: 26px;
}

.sub-form-input-wrp .venue-search-suggestions-wrp {
    position: relative;
}

.sub-form-input-wrp .venue-search-suggestions-wrp .venue-search-input-suggestions-list {
    top: 0;
}

.sub-form-input-wrp .preferred-date-input-wrp .event-quote-date-con .preferred-date-calendar-icon {
    bottom: initial;
    top: 0;
}

.sub-form-input-wrp .preferred-date-input-wrp .jiva-spa-date {
    z-index: 2;
}

.jiva-spa-date-con.event-quote-date-con {
    border-bottom: none;
    padding-left: 0;
}

.jiva-spa-date td {
   height: 26.5px;
   border: solid 0.5px #e0dfdf;
   border-radius: 0;
}

.request-quote-submit-wrapper .pg-spinner-con .pg-spinner-wrap {
	width: 10rem;
	height: 5rem;
}
.taj-air-event-request-quote .selectSubContainer{
	 width:100%;
}
.taj-air-event-request-quote .selectSubContainer .selectboxit-container .selectboxit{
color:#000000;
}
.taj-air-event-request-quote .selectSubContainer{
border-bottom-color: rgb(222, 226, 229);
    position: relative;
}
.taj-air-event-request-quote  .selectSubContainer .selectboxit-arrow-container{
padding-bottom:0.375rem;
}
.re-quote-disabled{
pointer-events:none;
opacity:0.5;
}
.to-label{
        padding-left:2.5rem!important;
}
.mr-hide{
display:none;
                        }
.add-remove-destination-wrap{
text-align:right;
}
.add-city-btn {
    margin-right: 1rem;
}
@media only screen and (max-width: 767px) {
    .add-city-btn ,.remove-city-btn  {
        margin-right: 1rem;
    }
    .taj-air-event-request-quote{
	margin:1rem;
    }
    .flight-journey-details-wrp  .label-heading{
		display:none;
        }
     .row.flight-journey-details,.personl-details-form,.recap-wrp{
		padding:1rem;
     }
     .personal-dtl-wrp{
		margin-top:1rem;
      }

     .flight-journey-details-cnt,.personal-dtl-wrp{
		padding:2rem 0 2rem 0;
      }
}
.return-package-display , .multi-city-display{
display:none!important;
}
.return-package .return-package-display{
display:block!important;
}

.multi-package .multi-city-display{
display:block!important;
}
.multi-package .multi-city-display.row{
    display:flex!important;
}

.recap-wrp{
margin:1rem 0;
}
.taj-air-event-request-quote.return-package .flight-journey-details-cnt .mr-sub-form .sub-form-input-label{
    max-width: 16.6%;
}
.mr-sub-form .sub-form-input-element{
    min-height: 30px;
}

@media only screen and (min-width: 768px) {
    .mr-sub-form .flight-journey-details [class*="col-"].sub-form-input-wrp:last-child,.mr-sub-form .flight-journey-details [class*="col-"].sub-form-input-wrp.to-city {
        padding-left: 2rem!important;
        padding-right: 0!important;
    }
    .col-md-3.col-12.sub-form-input-wrp.return-package-display:nth-child(4n-2) {
        padding: 0 0.625rem !important;
    }
}
@media only screen and (min-width: 992px) {    
    .col-md-3.col-12.sub-form-input-wrp.return-package-display:nth-child(4n-2) {
        padding: 0 1.25rem !important;
    }
}
.hotels-event-request-quote form.event-request-quote-form .jiva-spa-date{
width:100%;
position: relative;
}
.hotels-event-request-quote form.event-request-quote-form .selectSubContainer .selectboxit-text {
    max-width: 90%!important;
}
.hotels-event-request-quote form.event-request-quote-form .add-remove-destination-wrap{
    margin: 0 -1.5rem;
}
@media only screen and (max-width: 767px) {    
    .hotels-event-request-quote form.event-request-quote-form .add-remove-destination-wrap{
        margin: 0;
    }
}

.hotels-event-request-quote .hotels-event-confirmation-popup {
    display: none;
}
.hotels-event-request-quote .hotels-event-confirmation-overlay {
    position: fixed;
}
.hotels-event-request-quote  .hotels-event-error-popup {
    display: none;
}
.hotels-event-request-quote .hotels-event-error-overlay {
    position: fixed;
}


.hotels-event-confirmation-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(74, 74, 74, 0.55);
    z-index: 101;
    display: table;
    width: 100%;
    height: 100%;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-confirmation-overlay {
      background-color: #ffffff;
      position: fixed;
      z-index: 2;
    }
  }
  .hotels-event-confirmation-overlay .hotels-event-confirmation-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container {
    position: relative;
    background-color: #fefefe;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);
    padding: 9.0625rem 1.6875rem 5.8125rem;
    margin: auto;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container {
      box-shadow: none;
      padding: 0 1.25rem !important;
      background-color: #ffffff;
    }
  }
  .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container .event-confirmation-close-icon {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 1.375rem;
    right: 1.1875rem;
    cursor: pointer;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container .event-confirmation-close-icon {
      position: fixed;
      top: 1.1875rem;
      right: 1.375rem;
    }
  }
  .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container .event-confirmation-title {
    font-family: Calibri-bold;
    font-size: 1.875rem;
    color: #282828;
    margin-bottom: 2.5rem;
    text-align: center;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container .event-confirmation-title {
      font-size: 1.5rem;
      margin-bottom: 1.375rem;
    }
  }
  .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container .event-confirmation-descripion {
    font-family: Calibri;
    font-size: 1.5rem;
    text-align: center;
    max-width: 24.6875rem;
    color: #282828;
    margin: 0 auto 4rem;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container .event-confirmation-descripion {
      font-size: 1.375rem;
      margin-bottom: 3.0625rem;
      max-width: 22.625rem;
    }
  }
  .hotels-event-error-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(74, 74, 74, 0.55);
    z-index: 101;
    display: table;
    width: 100%;
    height: 100%;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-error-overlay {
      background-color: #ffffff;
      position: fixed;
      z-index: 2;
    }
  }
  .hotels-event-error-overlay .hotels-event-error-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container {
    position: relative;
    background-color: #fefefe;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);
    padding: 7.0625rem 1.6875rem 5.8125rem;
    margin: auto;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container {
      box-shadow: none;
      padding: 0 1.25rem !important;
      background-color: #ffffff;
    }
  }
  .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container .event-error-close-icon {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 1.375rem;
    right: 1.1875rem;
    cursor: pointer;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container .event-error-close-icon {
      position: fixed;
      top: 1.1875rem;
      right: 1.375rem;
    }
  }
  .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container .event-error-title {
    font-family: Calibri-bold;
    font-size: 1.875rem;
    color: #282828;
    margin-bottom: 2.5rem;
    text-align: center;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container .event-error-title {
      font-size: 1.5rem;
      margin-bottom: 1.375rem;
    }
  }
  .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container .event-error-descripion {
    font-family: Calibri;
    font-size: 1.5rem;
    text-align: center;
    max-width: 24.6875rem;
    color: #282828;
    margin: 0 auto 4rem;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container .event-error-descripion {
      font-size: 1.375rem;
      margin-bottom: 3.0625rem;
      max-width: 22.625rem;
    }
  }
  .spinner-con {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(74, 74, 74, 0.55);
    text-align: center;
    z-index: 100;
  }
  .spinner-wrap {
    position: absolute;
    width: 8rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  #to-be-displayed-after-add{
  display:none !important;
  }
  