<div data-sly-test.edit=${wcmmode.edit}>
    <h1>ihcl Reservation component</h1>
</div>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihclReservation,tajhotels.structure.page.tajhotels-base-page'}" />


 <div class="content-wrapper container IHCL-section">
            <div class="cm-content-blocks">
                <div class="cm-header-label-con title-decorator-border">
                    <h1 class="cm-header-label">Taj Reservation Worldwide</h1>
                </div>
                <p class="mr-table-header-para">Taj Reservations Worldwide Team accessible 24/7. Toll-free contact numbers.</p>

                        <div class="mr-whole-table-wrapper col-lg-8 col-md-10 col-sm-12">
                            <table class="mr-table-wrapper">
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">Toll-free India:</td>
                                    <td class="mr-ihcl-table-data-right">
											<div class="ho-contact-options-con">
                            						<a class="ho-contact-number hide-in-lg inline-block" href="tel:1-800-111-825">
                                						<div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" itemprop="telephone">1-800-111-825</div>
                            						</a>
											</div>
											<div class="inline-block ho-mail-to-txt hide-in-sm hide-in-md">1-800-111-825</div>
                                    </td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">Network India:</td>
                                    <td class="mr-ihcl-table-data-right">
											<div class="ho-contact-options-con">
                            						<a class="ho-contact-number hide-in-lg inline-block" href="tel:0091-22-6601-1825">
                                						<div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" itemprop="telephone">0091-22-6601-1825</div>
                            						</a>
											</div>
											<div class="inline-block ho-mail-to-txt hide-in-sm hide-in-md">0091-22-6601-1825</div>
                                        </td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">USA & Canada:</td>
                                    <td class="mr-ihcl-table-data-right">
									<div class="ho-contact-options-con">
                            						<a class="ho-contact-number hide-in-lg inline-block" href="tel:1-866-969-1-825">
                                						<div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" itemprop="telephone">1-866-969-1-825</div>
                            						</a>
											</div>
											<div class="inline-block ho-mail-to-txt hide-in-sm hide-in-md">1-866-969-1-825</div>
                                    </td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">Bahrain Toll Free:</td>
                                    <td class="mr-ihcl-table-data-right">
                                    <div class="ho-contact-options-con">
                            						<a class="ho-contact-number hide-in-lg inline-block" href="tel:080004866">
                                						<div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" itemprop="telephone">080004866</div>
                            						</a>
											</div>
											<div class="inline-block ho-mail-to-txt hide-in-sm hide-in-md">080004866</div></td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">Brazil Toll Free:</td>
                                    <td class="mr-ihcl-table-data-right">
                                    <div class="ho-contact-options-con">
                            						<a class="ho-contact-number hide-in-lg inline-block" href="tel:08000381422">
                                						<div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" itemprop="telephone">08000381422</div>
                            						</a>
											</div>
											<div class="inline-block ho-mail-to-txt hide-in-sm hide-in-md">08000381422</div></td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">Egypt Toll Free:</td>
                                    <td class="mr-ihcl-table-data-right"><div class="ho-contact-options-con">
                            						<a class="ho-contact-number hide-in-lg inline-block" href="tel:08000000485">
                                						<div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" itemprop="telephone">08000000485</div>
                            						</a>
											</div>
											<div class="inline-block ho-mail-to-txt hide-in-sm hide-in-md">08000000485</div></td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">United Arab Emirates (UAE) Toll Free:</td>
                                    <td class="mr-ihcl-table-data-right"><div class="ho-contact-options-con">
                            						<a class="ho-contact-number hide-in-lg inline-block" href="tel:800-035-702-467">
                                						<div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" itemprop="telephone">800-035-702-467</div>
                            						</a>
											</div>
											<div class="inline-block ho-mail-to-txt hide-in-sm hide-in-md">800-035-702-467</div></td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">Other countries:</td>
                                    <td class="mr-ihcl-table-data-right"><div class="ho-contact-options-con">
                            						<a class="ho-contact-number hide-in-lg inline-block" href="tel:00-800-4-588-1-825">
                                						<div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" itemprop="telephone">00-800-4-588-1-825</div>
                            						</a>
											</div>
											<div class="inline-block ho-mail-to-txt hide-in-sm hide-in-md">00-800-4-588-1-825</div></td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">Email:</td>
                                    <td class="mr-ihcl-table-data-right"><a class="mr-table-hyperlink" href="mailto:reservations@tajhotels.com">reservations@tajhotels.com</a></td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">Web:</td>
                                    <td class="mr-ihcl-table-data-right"><a class="mr-table-hyperlink" href="http://www.tajhotels.com">www.tajhotels.com</a></td>
                                </tr>
                            </table>

                </div>
                <div class="mr-hotel-redirection">
                    <p class="mr-hotel-charges">*Local / STD charges as applicable</p>
                </div>
            </div>
        </div>