.offer-card-header-discount {
    text-align: center;
    padding: 7px 4px 6px;
    padding: 0.44444444rem 0.27777778rem 0.38888889rem;
}

.offer-card-header-discount .offers-discount {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    margin-right: 0rem;
}

.offer-card-header-discount .offers-header-text {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 0.89;
    color: #323232;
}

@media only screen and (max-width: 424px) {
    .offer-card-header-discount .offers-header-text {
        font-size: 0.88888889rem;
    }
}
