.cm-sold-out-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 10000000000000;
}
.modify-booking-disabled-state{
    opacity: 0.4;
    pointer-events: none;
}
.modify-occupancy-wrapper {
    display: inline-block;
    float: right;
}
.cm-sold-out-wrap.active {
    display: block !important;
}
.innercircle-logo{
    width: 85px;
    height: 60px;
    object-fit: contain;
}
.cm-sold-out-wrap .header-bas-container .header-bas-sub-section .bas-header-content.innercircle-logo-content{
    width: calc(100% - 100px) !important;
}
@media only screen and (max-width: 767px) {
    .innercircle-logo{
        width: 40px;
        height: 28px;
        float: left;
    }
    .cm-sold-out-wrap .header-bas-container .header-bas-sub-section .bas-header-content.innercircle-logo-content{
        width: calc(100% - 50px) !important;
    }
}

.search-container.check-availability-main-wrap.container.mr-stickyScroll .mr-checkIn-checkOut-Date-hover {
    display: none !important;
}

.cm-sold-out-wrap .bas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cm-sold-out-wrap .cm-overlay {
    background: rgba(74, 74, 74, 0.55);
}

.cm-sold-out-wrap .cm-bas-content-con {
    position: absolute;
    width: 660px;
    background: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 4%;
    overflow-y: auto;
}

.cm-sold-out-wrap .bas-date-container-main-wrap {
    overflow: auto;
    position: absolute;
    top: 155px;
    /*bottom: 5px;*/
    bottom: 5rem;
    width: 100%;
    -ms-overflow-style: none;
}

@media only screen and (max-width: 767px) {
   .cm-sold-out-wrap .bas-date-container-main-wrap {
       /*position: relative;
       top: 0.5rem;*/
       top: 122px;
       bottom: 0;
   }
}

.cm-sold-out-wrap .bas-specialcode-container {
    padding: 1rem 2rem;
    border: solid 1px #e2e2e2;
    border-bottom: 0;
}

.cm-sold-out-wrap .bas-specialcode-container .special-code-wrap h2 {
    font-family: Calibri;
    font-size: 18px;
    text-align: left;
    color: #4a4a4a;
    float: left;
    letter-spacing: normal;
    margin: 0;
}

.cm-sold-out-wrap .bas-specialcode-container .special-code-wrap .bas-aroow-btn {
    float: right;
    width: 19px;
    height: 12px;
    cursor: pointer;
}

.cm-sold-out-wrap .bas-specialcode-container .special-code-wrap .bas-aroow-btn.arrow-btn {
  /* Chrome and other webkit browsers */
  /* FF */
  /* Opera */
    -ms-transform: rotate(180deg);
  /* IE9 */
    transform: rotate(180deg);
}

.cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap {
    /*padding-top: 10px;*/
    padding-top: 0;
}

.cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap.clearfix.active {
    display: none;
}

.cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap {
    display: table;
    width: 100%;
    margin-top: 0 !important;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap {
        display: block;
        width: 100%;
    }
}

.cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap .promo-code-label-con {
    display: table-cell;
    width: 20%;
}

@media only screen and (max-width: 991px) {
    .cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap .promo-code-label-con {
        display: block;
        width: 100%;
    }
}

.cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap .promo-code-input-con {
    display: table-cell;
    width: 80%;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap .promo-code-input-con {
        display: block;
        width: 100%;
    }
}

.cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap .promo-code-input-con .promo-code-clear-input {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 13px;
    right: 85px;
    z-index: 1;
    display: none;
    cursor: pointer;
}

.cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap .promo-code-input-con .apply-promo-code-btn {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    height: 37px !important;
    width: 80px !important;
    cursor: pointer;
}

.cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap .promo-code-input-con .promocode-status-text {
    position: relative;
    margin-bottom: -25px;
    min-height: 25px;
    font-family: Calibri;
    font-size: 16px;
    color: #4a4a4a;
}

.cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap label {
    font-family: Calibri;
    font-size: 18px;
    text-align: left;
    color: #4a4a4a;
    letter-spacing: normal;
    margin-right: 10px;
    line-height: 37px;
    margin-bottom: 0px;
}

.cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap input {
    line-height: 37px;
    height: 37px;
    border: solid 1px var(--primaryColorDark);
    padding: 0 82px 0 9px;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
}

.cm-sold-out-wrap .bas-best-available-rate-container {
    padding: 1.25rem 2rem;
    background-color: #ffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.cm-sold-out-wrap .bas-best-available-rate-container .best-avail-rate {
    float: right;
    letter-spacing: 1.8px;
    width: 199px;
    padding: 0px;
}

.cm-sold-out-wrap .bas-best-available-rate-container .bas-final-detail-wrap {
    float: left;
    text-align: center;
}

.cm-sold-out-wrap .bas-best-available-rate-container .bas-final-detail-wrap span {
    font-family: Calibri;
    font-size: 18px;
    text-align: left;
    color: #4a4a4a;
    line-height: 25px;
    line-height: 1.5625rem;
    padding-right: 18px;
    letter-spacing: normal;
}

.cm-sold-out-wrap .bas-best-available-rate-container .bas-final-detail-wrap span:last-child {
    padding-left: 10px;
}

.cm-sold-out-wrap .bas-best-available-rate-container .bas-final-detail-wrap span.room-border {
    padding-left: 10px;
    border-right: solid 1px #979797;
    border-left: solid 1px #979797;
}

.cm-sold-out-wrap .datepicker-dropdown.datepicker-orient-bottom:after {
    display: none;
}

.cm-sold-out-wrap .bas-datepicker-container {
    margin: 1.25rem 2rem 0 2rem;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container.active {
    position: relative;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .form-control:focus {
    color: var(--primaryColor);
    box-shadow: none;
    background-color: transparent;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0;
    border: 1px solid #e0dfdf;
    height: 305px;
    padding:10px 50px 0px 50px;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker table {
    width: 100%;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker table tr {
    border-bottom: 2px white solid;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker table tr td {
    padding: 0;
    height: 25px;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker table tr td.range.day {
    height: 20px;
}

@media only screen and (max-width: 767px) {
    .cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker table tr td.range.day {
        height: 30px;
    }
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected {
    float: none;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected:after {
    display: none;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day {
    background: none;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day {
    position: relative;
    background-image: none !important;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-start,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-start,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-end,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-end {
    position: relative;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-start::before,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-start::before,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-end::before,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-end::before {
    display: table-cell;
    z-index: -2;
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    margin: auto;
    background-color: #eee;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-start::after,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-start::after,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-end::after,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-end::after {
    display: table-cell;
    z-index: -1;
    content: '';
    position: absolute;
    width: 44%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    background-color: var(--primaryColorDark);
    border: none;
}

@media only screen and (max-width: 575px) {
   .cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-start::after,
 .cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-start::after,
 .cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-end::after,
 .cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-end::after {
       width: 75%;
   }
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-start.range-end::before,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-start.range-end::before {
    display: none;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-start::before,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-start::before {
    right: 0;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-end::before,
.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-end::before {
    left: 0;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker .prev {
    color: transparent;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    z-index: -10;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker .next {
    color: transparent;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    z-index: -10;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-calander-container .datepicker-dropdown.datepicker-orient-right:before {
    display: none;
}

.cm-sold-out-wrap .bas-datepicker-container .date-title-style {
    font-family: Calibri;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: right;
    color: #1b1b1b;
    display: table-cell;
    vertical-align: middle;
    width: 25%;
}

.cm-sold-out-wrap .bas-datepicker-container .input-box-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 75%;
    position: relative;
}

.cm-sold-out-wrap .bas-datepicker-container .calendar-image {
    position: absolute;
    right: 12%;
    top: 20%;
    width: 25px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .cm-sold-out-wrap .bas-datepicker-container .calendar-image {
        top: 25%;
    }
}

.cm-sold-out-wrap .bas-datepicker-container .calendar-image.icon-calendar-check-availability{
    font-size: 2rem;
}
.cm-sold-out-wrap .bas-datepicker-container .bas-left-date-wrap {
    height: 54px;
    width: 50%;
    border: solid 0.9px #e0dfdf;
    background-color: #f2f2f2;
    display: table;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-left-date-wrap.active {
    background-color: #ffffff;
    border-top: 3px solid var(--primaryColorDark);
}

.cm-sold-out-wrap .bas-datepicker-container .bas-right-date-wrap {
    height: 54px;
    width: 50%;
    border: solid 0.9px #e0dfdf;
    background-color: #f2f2f2;
    display: table;
}

.cm-sold-out-wrap .bas-datepicker-container .bas-right-date-wrap.active {
    background-color: #ffffff;
    border-top: 3px solid var(--primaryColorDark);
}

.cm-sold-out-wrap .bas-datepicker-container .bas-right-date-wrap:focus {
    outline: none;
}

.cm-sold-out-wrap .bas-hotel-details-container.active {
    margin-top: 334px;
}

.cm-sold-out-wrap .input-scroll-top {
    position: inherit;
}

.cm-sold-out-wrap .search-and-suggestions-wrapper .suggestions-wrap {
    z-index: 5;
}

.cm-sold-out-wrap .header-bas-container {
    background-color: #f2f2f2;
    padding: 10px 30px;
    position: relative;
}

.cm-sold-out-wrap .header-bas-container .header-bas-sub-section {
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: left;
    color: #4a4a4a;
    width: 47%;
    display: inline-block;
}

.cm-sold-out-wrap .header-bas-container .header-bas-sub-section .bas-brand-value-icon.rewards-icon {
    width: 54px;
    height: 38px;
    margin-top: 5px;
    margin-right: 0;
}

.bas-brand-value-icon.icon-taj-brand-reward{
    font-size: 4rem;
}
.icon-rewards-memberRates.bas-brand-value-icon.rewards-icon{
    font-size: 2.5rem;  
}
.cm-sold-out-wrap .header-bas-container .header-bas-sub-section .bas-brand-value-icon {
    display: inline;
    /*width: 52px;*/
    width: 20%;
    height: 65px;
    /*float: left;*/
    float: none;
    margin-right: 0;
    vertical-align: middle;
}

.cm-sold-out-wrap .header-bas-container .header-bas-sub-section .bas-header-content {
    display: inline-block;
    width: 77%;
    line-height: 1.2;
    vertical-align: middle;
    padding: 0 5px;
}

.cm-sold-out-wrap .header-bas-container .bas-direct-best {
    font-family: Calibri;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.08;
    text-align: left;
    color: #000000;
    width: 32%;
    display: inline-block;
}

.cm-sold-out-wrap .header-bas-container .bas-direct-best .bas-line {
    width: 95px;
    height: 1.7px;
    border: solid 1.7px var(--primaryColor);
    margin-top: 5px;
}

.cm-sold-out-wrap .room-list-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cm-sold-out-wrap .room-list-close.icon-close:before{
    font-size: 1.5rem;
}
.cm-sold-out-wrap .bas-room-details-container {
    margin: 0 2rem 2rem 2rem;
}

.cm-sold-out-wrap .bas-room-details-container .bas-about-room-container {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.cm-sold-out-wrap .bas-room-details-container .bas-about-room-container .bas-room-no,
.cm-sold-out-wrap .bas-room-details-container .bas-about-room-container .bas-add-room {
    width: 20%;
    float: left;
    text-align: center;
    list-style: none;
    padding: 15px;
    font-family: Calibri;
    font-size: 16px;
    color: #323232;
    border: solid 0.9px #e0dfdf;
    border-top: solid 3px transparent;
    border-bottom: none;
    position: relative;
}

.cm-sold-out-wrap .bas-room-details-container .bas-about-room-container .bas-active {
    background-color: #ffffff;
    border-top: solid 3px var(--primaryColorDark);    
}

.cm-sold-out-wrap .bas-room-details-container .bas-about-room-container .bas-add-room {
    float: right;
    padding: 15px 6px;
    color: var(--primaryColor);
    width: 20%;
    letter-spacing: 0.7px;
    font-weight: bold;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.cm-sold-out-wrap .bas-room-details-container .bas-room-details {
    border: solid 1px #e0dfdf;
    list-style: none;
    padding-left: 30px;
}

.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-adult-no-container,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container {
    list-style: none;
    width: 44%;
    padding: 30px 0;
    border-bottom: solid 1px #e0dfdf;
    font-family: Calibri;
    font-size: 18px;
    color: #323232;
}

@media only screen and (min-width: 768px) {
    .cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-adult-no-container,
    .cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container {
        border-bottom: 0;
        display: inline-block;
    }
    
    .cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container {
        border-left: 1rem;
        padding-left: 1rem;
    }
    
    .cm-sold-out-wrap .bas-room-details-container .bas-room-details.bas-rel .bas-room-delete {
        top: unset;
    }
    
    .bas-no-of-adults .input-group:after {
        content: "";
        border-right: solid 1px #e0dfdf;
        padding-right: 1.5rem;
    }
    #booking-search .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container {
        height: 404px !important;
    }
    
    .cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap .promo-code-label-con {
        float: left;
        width: 30%;
    }
    .cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap .promo-code-input-con {
        float: left;
        width: 65%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #booking-search .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container {
        height: 700px !important;
    }
}

@media only screen and (min-width: 992px) {
    .search-and-suggestions-wrapper #booking-search .suggestions-container {
        height: 26.5rem;
    }
}

.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-adult-no-container .bas-no-of-adults,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container .bas-no-of-adults,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-adult-no-container .bas-no-of-child,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container .bas-no-of-child,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-adult-no-container .bas-age-of-child,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container .bas-age-of-child {
    float: right;
}

.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-adult-no-container .bas-no-of-adults .quantity-left-minus,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container .bas-no-of-adults .quantity-left-minus,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-adult-no-container .bas-no-of-child .quantity-left-minus,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container .bas-no-of-child .quantity-left-minus,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-adult-no-container .bas-age-of-child .quantity-left-minus,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container .bas-age-of-child .quantity-left-minus,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-adult-no-container .bas-no-of-adults .quantity-right-plus,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container .bas-no-of-adults .quantity-right-plus,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-adult-no-container .bas-no-of-child .quantity-right-plus,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container .bas-no-of-child .quantity-right-plus,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-adult-no-container .bas-age-of-child .quantity-right-plus,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container .bas-age-of-child .quantity-right-plus {
    color: var(--primaryColor);
    width: 25px;
    height: 25px;
    padding: 0px;
    box-shadow: none;
}

.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-adult-no-container .bas-quantity,
.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container .bas-quantity {
    border: none !important;
    height: 25px;
    width: 50px !important;
    text-align: center !important;
}

.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-child-no-container {
    border: none;
}

.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-room-delete {
    position: absolute;
    right: -48px;
    right: -3rem;
    top: -16px;
    top: -1rem;
    width: 24px;
    width: 1.5rem;
    height: 27px;
    height: 1.7rem;
    cursor: pointer;
}
.bas-room-delete.icon-delete-icon{
    font-size: 2rem;
}

.cm-sold-out-wrap .bas-room-details-container .bas-room-details .bas-quantity {
    border: none !important;
    width: 50px !important;
    text-align: center !important;
}

.dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap {
    border-left: 10px solid var(--primaryColor)!important;
}

.dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input,
.dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-webkit-input-placeholder {
    font-size: 20px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #4a4a4a;
    background: #ffffff;
}

.dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input,
.dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-moz-placeholder {
    font-size: 20px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #4a4a4a;
    background: #ffffff;
}

.dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input,
.dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input:-ms-input-placeholder {
    font-size: 20px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #4a4a4a;
    background: #ffffff;
}

.dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input,
.dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::placeholder {
    font-size: 20px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #4a4a4a;
    background: #ffffff;
}

.dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap::before {
    display: none!important;
}

.dest-bas-search .search-and-suggestions-wrapper .searchbar-input {
    background-image: none !important;
    color: black!important;
}

.dest-bas-search .search-and-suggestions-wrapper .searchbar-input::-webkit-input-placeholder {
    color: black!important;
}

.dest-bas-search .search-and-suggestions-wrapper .searchbar-input::-moz-placeholder {
    color: black!important;
}

.dest-bas-search .search-and-suggestions-wrapper .searchbar-input:-ms-input-placeholder {
    color: black!important;
}

.dest-bas-search .search-and-suggestions-wrapper .searchbar-input::placeholder {
    color: black!important;
}

.dest-bas-search .search-and-suggestions-wrapper .explore-taj-content {
    display: none !important;
}

.dest-bas-search .suggestions-overlay,
.dest-bas-search .cm-overlay {
    background: none;
}

.dest-bas-search .suggestions-container {
    height: 731px!important;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .dest-bas-search .suggestions-container {
        position:relative !important;
        top: 0 !important;
        right: 0% !important;
        left: 0% !important;
        height: auto !important;
        height: 70vh !important;
        width: auto !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .dest-bas-search .suggestions-container {
        height: 475px !important;
    }
}

.bas-rel {
    position: relative;
}

.bas-mobile {
    display: none!important;
}

.bas-desktop {
    display: inline-block !important;
}

.bas-hide {
    display: none !important;
}

.bas-display {
    display: inline-block;
}

.input-daterange .input-box-wrapper input {
    letter-spacing: 0;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .input-daterange input {
        font-size: 20px !important;
    }

    .cm-sold-out-wrap .cm-bas-content-con {
        min-height: unset;
        /*bottom: 5%;*/
        bottom: 1rem;
        height: auto;
        width: auto;
        /*top: 5%;*/
        top: 1rem;
        left: 5%;
        right: 5%;
        z-index: 100;
        /*overflow-y: scroll;*/
        overflow-y: auto;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-best-available-rate-container {
        padding-left: 10px;
        padding-right: 10px;
        background-color: #f7f7f7;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-final-detail-wrap {
        margin: 0 auto;
        width: 100%;
        float: none;
        padding-bottom: 10px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-final-detail-wrap span {
        font-size: 15px;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .cm-sold-out-wrap .cm-bas-content-con .bas-final-detail-wrap span:last-child {
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .cm-sold-out-wrap .bas-best-available-rate-container .bas-final-detail-wrap span.room-border {
        padding-left: 4px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-final-detail-wrap .final-date-plan {
        padding-left: 0px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-specialcode-container .promo-code-wrap label {
        margin-bottom: 0;
        display: block;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-specialcode-container .promo-code-wrap:last-child label {
        padding-left: 0px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-specialcode-container .promo-code-wrap:last-child label,
    .cm-sold-out-wrap .cm-bas-content-con .bas-specialcode-container .promo-code-wrap:last-child:last-child input {
        float: none;
        display: block;
    }

    .cm-sold-out-wrap .cm-bas-content-con .best-avail-rate {
        display: table;
        margin: 0 auto;
        width: 200px;
        float: none;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-datepicker-container {
        margin: 0;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-datepicker-container .datepicker-dropdown {
        padding: 10px 10px 0px 10px;
        height: 400px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-datepicker-container .input-daterange input {
        font-size: 16px !important;
        padding-left: 2px;
        text-align: left;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-datepicker-container .input-box-wrapper {
        width: 71%;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-datepicker-container .input-box-wrapper .calendar-image {
        right: 4%;
        top: 30%;
        width: 15px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-datepicker-container .bas-left-date-wrap {
        height: 50px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-datepicker-container .bas-right-date-wrap {
        height: 50px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-datepicker-container .date-title-style {
        padding-left: 8px;
        height: 50px;
        text-align: left;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-datepicker-container .selected {
        float: none!important;
    }

    .cm-sold-out-wrap .room-list-close {
       width: 15px;
    height: 15px;
    right: 6px;
    top: 0%;
    cursor: pointer;
    }
    .cm-sold-out-wrap .room-list-close.icon-close:before {
    font-size: 1rem;
    }
}

.this-date-price {
    font-size: 12px;
    font-size: 0.75rem;
    color: #9b9b9b;
}

.this-date-text {
    font-size: 14px;
    font-size: 0.875rem;
    color: #4a4a4a;
}

@media only screen and (max-width: 360px) {
    .header-bas-container {
        padding: 10px 15px 10px 7px !important;
    }

    .bas-direct-best {
        width: 28% !important;
    }

    .bas-header-content {
        font-size: 10px !important;
    }

    .addroom {
        display: none;
    }

    .bas-add-room {
        height: 55px;
        line-height: 2;
        /*font-size: 25px!important;*/
        font-size: 1rem !important;
    }

    .cm-sold-out-wrap .room-list-close {
    width: 15px;
    height: 15px;
    right: 6px;
    top: 0%;
    cursor: pointer;
    }
}

@media only screen and (max-width: 767px) {
    .bas-add-room {
        line-height: 1.5;
        /*font-size: 30px !important;*/
        font-size: 1rem !important;
    }
    
    .cm-sold-out-wrap .bas-specialcode-container {
        padding: 0.5rem 1.25rem;
        padding-bottom: 120px;
    }
    
    .cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap {
        padding-top: 0;
    }
    
    .cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap .promo-code-label-con {
        display: none;
    }

    .addroom {
        display: none;
    }

    .cm-sold-out-wrap .cm-bas-content-con .header-bas-container {
        display: table;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 25px 10px 15px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .header-bas-container .header-bas-sub-section {
        font-size: 12px;
        display: table-cell;
        width: 45%;
        vertical-align: top;
    }

    .cm-sold-out-wrap .cm-bas-content-con .header-bas-container .header-bas-sub-section .bas-brand-value-icon {
        height: auto;
        float: left;
        width: 30%;
        margin: 0;
        padding-right: 7px;
        box-sizing: border-box;
    }

    .cm-sold-out-wrap .cm-bas-content-con .header-bas-container .header-bas-sub-section .bas-header-content {
        float: left;
        width: 70%;
        font-size: 11px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .header-bas-container .bas-direct-best {
        font-size: 15px;
        line-height: 1.3;
        display: table-cell;
        width: 28%;
        vertical-align: middle;
    }

    .cm-sold-out-wrap .cm-bas-content-con .header-bas-container .bas-direct-best .bas-line {
        width: 56px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-room-details-container {
        margin: 0px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-room-details-container .bas-room-header {
        font-family: Calibri;
        font-size: 16px;
        font-weight: bold;
        padding: 27px 20px;
        text-align: left;
        color: #323232;
        background-color: #f2f2f2;
        width: 100%;
        box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
        padding: 0.7rem 1rem !important;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-room-details-container .bas-about-room-container .bas-room-no,
  .cm-sold-out-wrap .cm-bas-content-con .bas-room-details-container .bas-about-room-container .bas-add-room {
        font-size: 16px;
        padding: 0.5rem;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-room-details-container .bas-about-room-container .bas-add-room {
        /*padding: 3px;*/
        padding: 0;
        font-size: 28px !important;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-room-details-container .bas-room-details {
        padding: 0 20px;
        margin-bottom: 0px;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-room-details-container .bas-room-details .bas-adult-no-container,
  .cm-sold-out-wrap .cm-bas-content-con .bas-room-details-container .bas-room-details .bas-child-no-container {
        font-size: 16px;
        padding: 1rem 0;
    }

    .cm-sold-out-wrap .cm-bas-content-con .bas-room-details-container .bas-room-details .bas-room-delete {
        width: 1.4rem;
        height: 1.6rem;
    }

    .cm-sold-out-wrap .bas-adult-no-container,
    .cm-sold-out-wrap .bas-child-no-container {
        width: 100% !important;
    }

    .cm-sold-out-wrap .bas-mobile {
        display: inline-block !important;
    }

    .cm-sold-out-wrap .bas-desktop {
        display: none!important;
    }

    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input,
  .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-webkit-input-placeholder {
        font-size: 16px;
    }

    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input,
  .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-moz-placeholder {
        font-size: 16px;
    }

    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input,
  .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input:-ms-input-placeholder {
        font-size: 16px;
    }

    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input,
  .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::placeholder {
        font-size: 16px;
    }

    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input {
        height: 50px;
    }

    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .search-icon {
        top: 15px;
    }

    .dest-bas-search .closeIconImg {
        display: none;
    }

    .bas-add-room {
        /*height: 55px;*/
        height: auto;
    }

    .bas-add-room .addroom {
        line-height: 1.5;
    }
}

@media only screen and (max-width: 991px) {
   .cm-sold-out-wrap .cm-bas-content-con .bas-room-details-container .bas-room-header {
       padding: 0.7rem 1rem !important;
   }
}

/* @media only screen and (max-width: 360px) {
    .cm-sold-out-wrap .bas-specialcode-container {
        padding-bottom: 100px;
    }
} */

.dummy-to-middle-align {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

a.best-avail-rate-anchor {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    width: 100%;
}

a.best-avail-rate-anchor:active,
a.best-avail-rate-anchor:hover {
    color: #fff;
    text-decoration: none;
}

.best-avail-rate-anchor {
    pointer-events: none;
}

#booking-search .search-and-suggestions-wrapper {
    z-index: 10001;
}

.cm-sold-out-wrap .header-bas-container .header-bas-sub-section.bas-direct-best {
    display: none;
}

.special-code-wrap.clearfix {
    display: none;
}

.cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap {
    display: none;
}
.bas-have-promo-code {
    font-family: Calibri;
    font-size: 16px;
    color: #323232;
}
.bas-have-promo-code .trigger-promo-code-input.cm-view-txt {
    font-size: 16px;
    cursor: pointer;
}

.close-promocode-section-con {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: table;
    margin: auto;
    width: 5%;
    text-align: center;
}

.close-promocode-section {
    margin-top: 0.625rem;
    cursor: pointer;
    font-size: 1rem !important;
}

.label-children-con {
    display: inline-block;
    position: relative;
}

.child-age-limit {
    position: absolute;
    right: -100%;
    font-size: 14px;
    left: 0;
    bottom: -1.25rem;
}

@media only screen and (max-width: 767px) {
    .cm-sold-out-wrap .bas-specialcode-container .bas-code-wrap .promo-code-wrap .promo-code-input-con {
        width: 88%;
        display: inline-block;
        vertical-align: middle;
    }
    .close-promocode-section-con {
        width: 9%;      
    }
    .close-promocode-section-con .close-promocode-section {
        margin-top: 0;
    }
    .child-age-limit {
        right: -135%;
        font-size: 12px;
        left: 0;
        bottom: -14px;
    }
}

span.icon-close.promo-code-clear-input {
    font-size: 1rem;
}
@media only screen and (max-width: 767px) {
    .bas-brand-value-icon.icon-taj-brand-reward{
        font-size: 2rem;
    }
    .icon-rewards-memberRates.bas-brand-value-icon.rewards-icon{
        font-size: 1.5rem;  
    }
    .cm-sold-out-wrap .bas-close.icon-close:before{
        font-size: 1.2rem;
    }
    .cm-sold-out-wrap .bas-datepicker-container .calendar-image.icon-calendar-check-availability{
        font-size: 1rem;
    }
    .bas-room-delete.icon-delete-icon{
        font-size: 1.5rem;
    }
    span.icon-close.promo-code-clear-input {
        font-size: 0.8rem;
    }
}

.bas-room-no .bas-room-delete-close {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 50%;
    width: 20px;
    cursor: pointer;
}

.bas-room-no .bas-room-delete-close .icon-close {
    padding: 5px 5px 0 0;
    font-size: 0.6rem;
    font-weight: bold;
}

.ama-theme .rate-cards-container .soldOut{
    position:relative;
}
.ama-theme .rate-cards-container .soldOut:before{
    content:"";
    position:absolute;
    z-index:9;
    height:140px;
    width:140px;
    top: 50%;
    transform: translateY(-50%);
    left: calc(28rem - 70px);
    background:url('/content/dam/ama/soldout.png') no-repeat center center / 100%;

}
.ama-theme .rate-cards-container .soldOut:after{
    content:"Please check for alternate dates and occupancy combinations";
    position:absolute;
    z-index:9;
    height:25px;
    width:100%;
    top: 90%;
    transform: translateY(-50%);
    left: calc(28rem + 30px);
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: inherit;
    letter-spacing: 1px;
    color: #da4a30;

}
.ama-theme .rate-cards-container .soldOut .rate-card-image-container{
        filter: grayscale();
    opacity: 0.2;
}
.ama-theme .rate-cards-container .soldOut .rate-card-details-container{
        filter: grayscale();
    opacity: 0.5;
}