<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientLib.all @ categories='taj.hotels.holiday-destinations'}" />

<div data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
	data-sly-use.template="core/wcm/components/commons/v1/templates.html">
	<div data-sly-test="${wcmmode.edit}">Holiday Destinations</div>
	<div class="destination-container cm-content-blocks container">
		<sly
			data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly>
		<div>
			<div class="popular-destination-wrap-spec">
				<div class="no-results-found" id="dest-no-result">No Results
					Found</div>
				<div class="row" data-sly-list.listItem="${list.items}">
					<sly
						data-sly-resource="${'{0}/jcr:content' @ format=[listItem.path], resourceType='/apps/tajhotels/components/content/holidays-destination/holiday-destinations/holiday-destination-card'}"></sly>
				</div>
			</div>
		</div>
	</div>
</div>