<div data-sly-test="${wcmmode.edit}">
  IHCL Login Component
</div>


<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.login'}" />

<div class="mr-ihcl-login-details-popup-overlay">
    <div class="mr-ihcl-login-details-inner-shadow"></div>
    <div class="mr-ihcl-login-details-details-wrap">
        <div class="ihcl-login-details-popup-wrapper row">
            <div class="cm-header-label-con title-decorator-border">
                    <h2 class="cm-header-label">
                        PLEASE LOGIN TO PROCEED
                    </h2>
            </div>
            <form class="mr-sub-form member-signin-form" id="ihcl-signin-form">
                <div class="row mr-sub-form-row">
                        <div class="col-12 sub-form-input-wrp">
                                <div class="sub-form-input-label">User Name*</div>
                                <input id="ihcl-login-email" class="sub-form-input-element sub-form-mandatory" type="text" placeholder="Enter User name" aria-label = "Enter ihcl login email"/>
                                <div class="sub-form-input-warning"></div>
                        </div>
                        <div class="col-12 sub-form-input-wrp">
                            <div class="sub-form-input-label">Password*</div>
                            <input id="ihcl-login-pass" class="member-password sub-form-input-element sub-form-mandatory" type="password" placeholder="Enter Password" aria-label = "Enter password"/>
                            <div class="sub-form-input-warning"></div>
                        </div>
                        <div class="col-12 term-n-cond-wrp">
                                <label class="mr-filterCheckBox-label checkbox-inline">
                                <input class="mr-filter-checkbox" id="termAndCond" type="checkbox" name="termAndCond" aria-label = "Terms and Conditions"/>
                                    <span class="mr-inputCustomShape"></span>I accept 
                                    <a class="ihcl-terms-and-cond-popup">
                                            Terms and Conditions
                                    </a>
                                    </label>
                                    <div class="ihcl-terms-warning sub-form-input-warning">Please accept the Terms and Conditions.</div>
                        </div>
                        <div class="ihcl-invalid-email-warning sub-form-input-warning"> Invalid User Name or Password</div>
                        <div class="ihcl-login-btn-wrp">
                                <button id="ihcl-login-btn" class="cm-btn-secondary ihcl-login-submit-btn" type="button">SUBMIT</button>
                        </div>
                </div>
            </form>     
        </div>
    </div>
</div>


<div class="mr-ihcl-terms-wrp-details-popup-overlay">
        <div class="mr-ihcl-login-details-inner-shadow"></div>
        <div class="mr-ihcl-login-details-details-wrap">
            <div class="ihcl-login-details-popup-wrapper row">
                <div class="ihcl-login-details-close-cont"><img class="showMap-close" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt  = "close-icon"/></div>
                <div class="cm-header-label-con title-decorator-border">
                        <h2 class="cm-header-label">
                        Terms and Conditions
                        </h2>
                </div>
                <ul style="list-style-type: circle;padding: 2.0px;margin-left: 20.0px;" class="terms-list-wrp">
                        <li>The Privileges Plus benefits will vary with hotel locations/occupancy and subject to blackout dates.</li>
                        <li>Privileges Plus bookings will be subject to applicable taxes, fees, and other standard service charges.</li>
                        <li>All room reservations are subject to each hotel’s reservation and cancellation policies and procedures.</li>
                        <li>Privileges Plus benefits are available for room bookings only and not for packages or other components.</li>
                        <li>Privileges Plus Benefits cannot be combined with any other offer.</li>
                        <li>Privileges Plus benefits are subject to availability and may be changed without prior notice.</li>
                        <li>Privileges Plus benefits do not qualify for earnings on Inner Circle points or airlines miles.</li>
                        <li>Privileges Plus benefits cannot be booked by travel agents, and are not commissionable.</li>
                        <li>Hotel may choose to have the benefits applicable on only certain room types.</li>
                        <li>Privileges Plus benefits can be utilized for a maximum of 5 rooms with not more than 10 guests at a given time. Member must be present in order to avail benefits.</li>
                        <li>Privileges Plus Rates and Benefits may be terminated or changed at any time without prior notice.</li>
                </ul>
            </div>
        </div>
    </div>