.mr-safari-campaign-wrap .mr-safari-banner {
    position: relative;
}

.mr-safari-campaign-wrap .mr-safari-banner .mr-carousel-wrap .mr-second-button {
    display: inline-block;
}

.mr-safari-campaign-wrap .mr-safari-banner .mr-banner-btn {
    display: none;
}

.mr-safari-campaign-wrap .mr-hotels-list-view-container {
    margin-top: 30px;
    margin-top: 1.875rem;
}

.mr-safari-campaign-wrap .safari-campaign .viewGallery-aboutCarousel {
    margin-right: 20px;
    margin-right: 1.25rem;
}

.mr-safari-campaign-wrap .mr-luxurious-safari-wrapper.the-page-carousel {
    margin-top: 25px;
    margin-top: 1.5625rem;
}

.mr-safari-campaign-wrap .holidays-dest-package-card-outer-wrap {
    display: none;
}

.mr-global-leaders-wrapper{
    margin-top:20px;	
}

.mr-global-carousel-image{
	height : 420px;
}

.mr-global-carousel-image img {
    width: 100%;
    height: 100%;
}