<div data-sly-test.edit=${wcmmode.edit}>
    <h1>ihcl Sitemap component</h1>
</div>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihclSitemap,tajhotels.structure.page.tajhotels-base-page'}" />

<main>
    <div class="content-wrapper container IHCL-section">
        <div class="cm-content-blocks">
            <div class="cm-header-label-con title-decorator-border">
                <h2 class="cm-header-label">SiteMap</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Recognized as global leaders, Taj Hotels Resorts and Palaces, has forged rewarding relationships with partners, at each of our 98 hotels across the world. Be it individual owners or institutional developers, with our partners, we have
                        created iconic hotels and delivered value to them.</p>
                </div>
            </div>
        </div>
        <div class="cm-content-blocks row">
            <div class="col-12">
                <div class="sitemap-category">
                    <div class="sitemap-category-heading">Home<span class="sitemap-category-expand-btn">+</span></div>
                    <div class="sitemap-category-details"><a class="sitemap-main-link" href="/content/tajhotels/ihcl.html">IHCL Home Page</a></div>
                </div>
                <div class="sitemap-category">
                    <div class="sitemap-category-heading">Brands<span class="sitemap-category-expand-btn">+</span></div>
                    <div class="sitemap-category-details">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"> <a href="/content/tajhotels/ihcl/our-brands.html">Our Brands</a></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"><a href="/content/tajhotels/ihcl/our-brands/taj-hotels.html">Taj</a></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"><a href="/content/tajhotels/ihcl/our-brands/seleqtions-hotels.html">SeleQtions</a></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"><a href="/content/tajhotels/ihcl/our-brands/vivanta-hotels.html">Vivanta</a></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"><a href="/content/tajhotels/ihcl/our-brands/ginger-hotels.html">Ginger</a></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"><a href="/content/tajhotels/ihcl/our-brands/gateway-hotels.html">The Gateway</a></div>
                        </div>
                    </div>
                </div>
                <div class="sitemap-category">
                    <div class="sitemap-category-heading">Company<span class="sitemap-category-expand-btn">+</span></div>
                    <div class="sitemap-category-details">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"> <a href="/content/tajhotels/ihcl/company/legacy.html">Legacy</a></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"><a href="/content/tajhotels/ihcl/company/about-us.html">About Us</a></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"><a href="/content/tajhotels/ihcl/company/leadership.html">Leadership</a></div>
                        </div>
                    </div>
                </div>
                <div class="sitemap-category">
                    <div class="sitemap-category-heading">Investors<span class="sitemap-category-expand-btn">+</span></div>
                    <div class="sitemap-category-details"><a class="sitemap-main-link" href="/content/tajhotels/ihcl/investors.html">Investors</a></div>
                </div>
                <div class="sitemap-category">
                    <div class="sitemap-category-heading">Development<span class="sitemap-category-expand-btn">+</span></div>
                    <div class="sitemap-category-details">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"> <a href="/content/tajhotels/ihcl/development.html">Development</a></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"> <a href="/content/tajhotels/ihcl/development/competitive-strengths.html">Competitive Strengths</a></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"><a href="/content/tajhotels/ihcl/development/development-support.html">Development Support</a></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"><a href="/content/tajhotels/ihcl/development/resources.html">Resources</a></div>
                        </div>
                    </div>
                </div>
                <div class="sitemap-category">
                    <div class="sitemap-category-heading">Career<span class="sitemap-category-expand-btn">+</span></div>
                    <div class="sitemap-category-details">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"> <a href="/content/tajhotels/ihcl/careers.html">Career</a></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"> <a href="/content/tajhotels/ihcl/careers/apply-now.html">Apply Now</a></div>
                        </div>
                    </div>
                </div>
                <div class="sitemap-category">
                    <div class="sitemap-category-heading">News Room<span class="sitemap-category-expand-btn">+</span></div>
                    <div class="sitemap-category-details">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"> <a href="/content/tajhotels/ihcl/press-room.html">Press Room </a></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location"> <a href="https://clientservices.vfmii.com/pdl/Main.html?company=taj">Media Library</a></div>
                        </div>
                    </div>
                </div>
                <div class="sitemap-category">
                    <div class="sitemap-category-heading">Contact<span class="sitemap-category-expand-btn">+</span></div>
                    <div class="sitemap-category-details"><a class="sitemap-main-link" href="/content/tajhotels/ihcl/contact-us.html">Contact</a></div>
                </div>
            </div>
        </div>
    </div>
</main>