.mr-investor-card-wrapper.row {
    padding: 40px;
    padding: 2.5rem;
    background-color: #ffffff;
}

@media only screen and (max-width: 991px) {
    .mr-investor-card-wrapper.row {
        padding: 2rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-investor-card-wrapper.row {
        padding: 0.75rem 0.75rem 1.5rem;
        margin: 0 0.9375rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-investor-card-wrapper.row .mr-investor-card-img.col-5 {
        max-width: 100%;
        padding: 0 !important;
        -ms-flex: initial;
        flex: initial;
    }
}

.mr-investors-img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.mr-investors-icon {
    width: 22px;
    width: 1.375rem;
    vertical-align: baseline;
}

.mr-investors-card-details.col-7 {
    padding-left: 55px;
    padding-left: 3.4375rem;
    padding-top: 28px;
    padding-top: 1.75rem;
}

@media only screen and (max-width: 991px) {
    .mr-investors-card-details.col-7 {
        padding-top: 0;
    }
}

@media only screen and (max-width: 767px) {
    .mr-investors-card-details.col-7 {
        max-width: 100%;
        -ms-flex: initial;
        flex: initial;
        padding: 0 !important;
        margin-top: 1.25rem;
    }
}

.mr-investors-card-details.col-7 .mr-investor-name {
    font-family: Calibri;
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 1.1;
    color: #323232;
    margin: 0 0 5px;
    margin: 0 0 0.3125rem;
}

@media only screen and (max-width: 991px) {
    .mr-investors-card-details.col-7 .mr-investor-name {
        font-size: 1.625rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-investors-card-details.col-7 .mr-investor-name {
        font-size: 1rem;
    }
}

.mr-investors-card-details.col-7 .mr-investor-designation {
    margin: 0;
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.13;
    color: #323232;
}

@media only screen and (max-width: 991px) {
    .mr-investors-card-details.col-7 .mr-investor-designation {
        font-size: 1.375rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-investors-card-details.col-7 .mr-investor-designation {
        font-size: 0.875rem;
    }
}

.mr-investors-card-details.col-7 .mr-investors-address {
    margin: 25px 0 30px;
    margin: 1.5625rem 0 1.875rem;
}

@media only screen and (max-width: 991px) {
    .mr-investors-card-details.col-7 .mr-investors-address {
        margin: 1.125rem 0 1.375rem;
    }
}

.mr-investors-card-details.col-7 .mr-investors-address .mr-investor-address-detail {
    margin: 0;
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    color: #323232;
    line-height: normal;
}

@media only screen and (max-width: 767px) {
    .mr-investors-card-details.col-7 .mr-investors-address .mr-investor-address-detail {
        font-size: 1rem;
    }
}

.mr-investors-contact {
    display: block;
}

.mr-investors-contact .mr-investor-contact-txt {
    padding-left: 11px;
    padding-left: 0.6875rem;
    color: var(--primaryColorDark);
    line-height: 1.75;
    font-size: 20px;
    font-size: 1.25rem;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .mr-investors-contact .mr-investor-contact-txt {
        font-size: 1rem;
        line-height: 1.5;
    }
}

.mr-investors-contact:hover {
    text-decoration: none;
    color: #fff;
}
