.mr-investors-report-documents-wrapper {
    display: none; 	/* changes by Srikanta */
}

.mr-investors-report-documents-wrapper.content-active {
    display: block;
    width: 100%;
}

.mr-reports-wrap.rate-tab-wrap {
    width: 100%;
    margin-right: 0;
    position: initial;
    -ms-flex: initial;
    flex: initial;
}

@media only screen and (max-width: 767px) {
    .mr-reports-wrap.rate-tab-wrap {
        margin-right: 0.9375rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-investors-share-documents.show-more-card-wrapper.row {
        margin: 0 0.9375rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-investors-report-documents-wrapper.col-12 {
        padding: 0 ! important;
    }
}

.mr-investors-share-documents-wrapper {
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}

.mr-investors-share-documents-wrapper .mr-investors-share-head-wrapper {
    margin: 20px 0 29px;
    margin: 1.25rem 0 1.8125rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 767px) {
    .mr-investors-share-documents-wrapper .mr-investors-share-head-wrapper {
        margin: 1.25rem 0.9375rem 1.8125rem;
    }
}

.mr-investors-share-documents-wrapper .mr-investors-share-head-wrapper .mr-investors-share-header {
    font-family: Calibri;
    font-weight: bold;
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 1.4;
    letter-spacing: normal;
    color: #1b1b1b;
}

@media only screen and (max-width: 767px) {
    .mr-investors-share-documents-wrapper .mr-investors-share-head-wrapper .mr-investors-share-header {
        font-size: 1rem;
    }
}

.mr-investors-filter-container {
    margin-top: 32px;
    margin-top: 2rem;
}

@media only screen and (max-width: 767px) {
    .mr-investors-filter-container {
        margin-top: 0.75rem;
    }
}

.mr-reports-wrap.col-12.rate-tab-wrap .rate-tab {
    height: 58px;
    height: 3.625rem;
}

@media only screen and (max-width: 767px) {
    .mr-reports-wrap.col-12.rate-tab-wrap .rate-tab {
        padding-left: 0.625rem;
    }
}
