.mr-investors-corporate-warpper {
    background: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px 50px 30px 40px;
    padding: 2.5rem 3.125rem 1.875rem 2.5rem;
}

@media only screen and (max-width: 767px) {
    .mr-investors-corporate-warpper {
        margin: 0 0.9375rem;
        display: block;
        padding: 1rem 1.125rem;
    }
}

.mr-investors-corporate-warpper .mr-investors-corporate-txt {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: normal;
    letter-spacing: normal;
    color: #323232;
    width: 85%;
}

@media only screen and (max-width: 767px) {
    .mr-investors-corporate-warpper .mr-investors-corporate-txt {
        font-size: 1rem;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .mr-investors-corporate-warpper .mr-download-btn-wrapper {
        float: none;
        display: block;
    }
}

.mr-investors-corporate-warpper .mr-download-btn-wrapper .mr-download-investors.cm-btn-secondary {
    height: 48px !important;
    height: 3rem !important;
    padding: 0 20px;
    padding: 0 1.25rem;
}

@media only screen and (max-width: 991px) {
    .mr-investors-corporate-warpper .mr-download-btn-wrapper .mr-download-investors.cm-btn-secondary {
        margin-top: 0.5rem;
    }
}
