.mr-safari-campaign-wrap .mr-safari-banner {
    position: relative;
}

.mr-safari-campaign-wrap .mr-safari-banner .mr-carousel-wrap .mr-second-button {
    display: inline-block;
}

.mr-safari-campaign-wrap .mr-safari-banner .mr-banner-btn {
    display: none;
}

.mr-safari-campaign-wrap .mr-hotels-list-view-container {
    margin-top: 30px;
    margin-top: 1.875rem;
}

.mr-safari-campaign-wrap .safari-campaign .viewGallery-aboutCarousel {
    margin-right: 20px;
    margin-right: 1.25rem;
}

.mr-safari-campaign-wrap .mr-luxurious-safari-wrapper.the-page-carousel {
    margin-top: 25px;
    margin-top: 1.5625rem;
}

.mr-safari-campaign-wrap .holidays-dest-package-card-outer-wrap {
    display: none;
}

.mr-global-leaders-wrapper{
    margin-top:20px;
}

.mr-global-carousel-image img {
    width: 100%;
    min-width: 100px;
}
.taj-airimage-wrp .mr-global-carousel-image{
    padding:1rem !important;	
}
.taj-airimage-wrp{
	margin:0 -1rem;
}
			
.overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
  width: 100%;
  height: 0;
  padding: 0;
  transition: .5s ease;  
}

.mr-global-carousel-image .text {
  color: #ffffff;
  font-size: 15px;  
  text-align: center;
}

.mr-global-carousel-image:hover .overlay {
  height: auto;  
  padding: 1rem;
}

.hover-overlay {
	position: relative;
	height: 100%;
}

@media only screen and (max-width: 767px){
	.taj-airimage-wrp .mr-global-carousel-image {
		padding: 0.5rem 0 !important;
	}
	.overlay {
		padding: 0.5rem;
		height: auto;
	}
	.text{
		font-size: 13px;
	}
}