<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.ihclcb.booking-details-card'}" />
    
<sly data-sly-resource="${'bookingFilter' @ resourceType='tajhotels/components/content/ihclcb/ihclcb-bookings-filter' }"></sly>

<sly data-sly-use.ihclcbBookingApiUrlModel="com.ihcl.core.models.config.IhclcbApiConfigModel"/>
<div class="ihcl-past-bookings-outer-wrap"  data-bookingHost="${ihclcbBookingApiUrlModel.ihclcbApiHostUrl}" data-ihclcbBookingEndpointUrl="${ihclcbBookingApiUrlModel.ihclcbBookingApiUrl}">
	<div class="ihcl-past-bookings-outer-contents" id="ihcl-past-bookings-contents">
	    
	</div>
	<div class="holder">
	</div>
</div>

<div class="ihcl-upcoming-bookings-outer-wrap">
   <div class="ihcl-upcoming-bookings-outer-contents" id="ihcl-upcoming-bookings-contents">
    
	</div>  
	<div class="holder">
	</div>
</div>