<sly data-sly-use.model="com.ihcl.core.models.Destination">
<div data-sly-test="${model.tapmeHotelsCount >0}">
    <div class="card-wrapper" id="dest-${model.destinationId}" onClick="changePosition(event)"
         data-city=${model.city} data-title=${model.destinationTitle}>
        <div class="hotel-location-container">
            <div class="hotel-container">
                <div class="image-cont" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= model.hotelImage ? model.hotelImage :'/content/dam/tajhotels/logos/taj-logos/img-taj@2x.png',styleClass='hotel-image-container',renditionPathSuffix='/jcr:content/renditions/cq5dam.web.141.141.jpeg'}"></sly>
                </div>
                <div class="hotel-details-container">
                   <div class="hotel-details"> <a href="${resource.parent.path}.html" class="hotel-details">${model.destinationTitle}</a></div>
                    <div class="arrow-container"><img src="/content/dam/tajhotels/icons/style-icons/dropDown.svg" alt = "dropDown icon"/></div>
                    <div data-sly-test="${model.ticHotelsCount > 1}" class="destination-property property-container">${model.tapmeHotelsCount} Hotels</div>
                    <div data-sly-test="${model.ticHotelsCount == 1}" class="destination-property property-container">${model.tapmeHotelsCount} Hotel</div>
                </div>
            </div>
        </div>
        <div class="hotel-properties-container">
            <sly data-sly-list="${model.tapmeHotels}">
                <sly data-sly-resource="${ '{0}/jcr:content' @ format=[item], resourceType='tajhotels/components/content/our-hotels/hotel-card' }"></sly>
            </sly>
            <div class="show-more-imageUnderline com-hide" onClick="showMore(event)"><div>Show More</div></div>
        </div>
    </div>
</sly>
