.sustainability-wrap .sustainability-card-wrap {
	display: none;
}

.sustainability-card-wrap .row {
	background-color: white;
	margin-bottom: 25px !important;;
	margin-bottom: 1.5625rem !important;;
}

.sustainability-card-wrap .row .sustainability-content-wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 30px;
	padding: 1.875rem;
	background-color: white;
}

@media only screen and (max-width: 767px) {
	.sustainability-card-wrap .row .sustainability-content-wrap {
		padding: 1rem 1.25rem 1rem 1rem;
	}
}

.sustainability-card-wrap .row .sustainability-img-con {
	position: absolute;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 767px) {
	.sustainability-card-wrap .row .sustainability-img-wrap {
		padding: 0 !important;
	}
}

.sustainability-card-wrap .row .btn-wrap {
	text-align: right;
	-ms-flex: 1;
	flex: 1;
}

.sustainability-card-wrap .row .s-card-title {
	font-family: Calibri-bold;
	font-size: 24px;
	font-size: 1.5rem;
	color: #4a4a4a;
}

@media only screen and (max-width: 370px) {
	.sustainability-card-wrap .row .s-card-title {
		font-size: 1.25rem;
	}
}

.sustainability-card-wrap .row .s-card-content {
	font-size: 16px;
	font-size: 1rem;
	line-height: 24px;
	line-height: 1.5rem;
	color: #4a4a4a;
}

.sustainability-card-wrap .row .sustainability-img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

/* .sustainability-card-wrap {
    display: none;
}  */
@media only screen and (max-width: 767px) {
	.sustainability-card-wrap {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

.sustainability-card-wrap .sustainability-footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: end;
	align-items: flex-end;
}

@media only screen and (max-width: 767px) {
	.sustainability-card-wrap .sustainability-footer {
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

.sustainability-card-wrap .ihcl-key-figure {
	/*display: none;*/
	padding: 0 16px 0 0;
	padding: 0 1rem 0 0;
	-ms-flex: 1;
	flex: 1;
}

@media only screen and (max-width: 767px) {
	.sustainability-card-wrap .ihcl-key-figure {
		width: 100%;
		padding: 0rem;
		margin-bottom: 1rem;
	}
}

.sustainability-card-wrap .ihcl-key-figure .key-figure-wrap {
	max-width: 560px;
	max-width: 35rem;
}

.sustainability-img-wrap {
	position: relative;
}

.rooms-suites-description {
	margin-bottom: 1.5rem;
}

@media only screen and (max-width: 767px) {
	.sustainability-card-wrap .row .sustainability-img-con {
		position: unset;
	}
}

.ihcl-card-wrap.sustainability-card-wrap .row .sustainability-content-wrap {
	min-height: 19.5625rem;
}
.sustainability-card-wrap .row .sustainability-content-wrap {
	min-height:13.4375rem;
}