.sustainability-card-whole-wrapper.row{
	background-color:#ffffff;
}
.mr-safari-image.image-container{
	height:100%;
}
.img-responsive.sustainability-img{
	height:100%;
}
.safari-details-wrap{
	padding:20px 35px;
}