@rem: 16rem;
.tab-child-container {
    //width: 9.09%; //Commented by nixon
    width:8rem;
    flex: 1; //Commented by nixon
    height: 40/@rem;
    line-height: 40/@rem;
    text-align: center;
    font-family: Calibri;
    font-size: 0.875rem;
    color: #4a4a4a;
    background: #fff; //float: left;
    border-right: 1px solid #e2e2e2;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    text-transform: capitalize;
    @media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
        display: none;
    }
}

.tab-child-container:nth-child(1),
.tab-child-container:nth-child(2) {
    @media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
        display: block;
        height: 35px;
        line-height: 35px;
        font-size: 14/@rem;
        text-transform: capitalize;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        width: 33%;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
        width: 25%;
        font-size: 16px;
    }
}

.tab-child-container:nth-child(3) {
    @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
        display: block;
        width: 25%;
        height: 35px;
        line-height: 35px;
        font-size: 14/@rem;
        text-transform: capitalize;
        font-size: 16px;
    }
}

.tab-child-container:nth-child(1) {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.tab-child-container:nth-child(11) {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}

.tab-child-container:last-child {
    border-right: none;
}


.destination-nav-Bar-wrapper .tab-child-container:nth-last-child(3) {
    border-right: 1px solid #e2e2e2;
}

.tab-child-container:hover,
.tab-child-container:active {
    color: #4a4a4a;
    text-decoration: none;
}

.selected {
 //   width: 9.09%;
    height: 40/@rem;
    line-height: 40/@rem;
    text-align: center;
    font-family: Calibri-Bold;
    font-size: 0.875rem;
    color: #fff !important;
    background-image: linear-gradient(to bottom, var(--primaryColorLight), var(--primaryColor) 49%, var(--primaryColorDark)) !important;
    float: left;
    border-right: 1px solid #e2e2e2;
    cursor: pointer;
    position: relative;
}

.selected:hover,
.selected:active {
    text-decoration: none;
    color: #fff;
}

.selected:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-top: solid 5px var(--primaryColorDark);
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.more-container-mobile {
    display: none;
    float: left;
    width: 33%;
    height: 35px;
    line-height: 35px;
    color: #4a4a4a;
    font-size: 14/@rem;
    text-align: center;
    background: #ffffff;
    cursor: pointer;
    text-transform: capitalize;
    img {
        margin-left: 5px;
        @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
            margin-left: 20/@rem;
        }
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        display: block;
        width: 33%;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
        display: block;
        width: 25%;
        font-size: 16px;
    }
}

.more-content-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 15;
    background: #fff;
    overflow-y: scroll;
}

.more-content-heading {
    font-family: Calibri-Bold;
    text-align: center;
    font-size: 1.5rem;
    color: #323232;
    position: relative;
    margin: 29/@rem 0;
    padding: 0 10/@rem 0 42/@rem;
    .icon-prev-arrow{
        position: absolute;
        left: 1.25rem;
        top: 9px;
        width: 14px;
        height: 23px;
        cursor: pointer;
    }
}

.more-tab-child-container:first-child {
    @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
        display: none;
    }
}

.more-tab-child-container {
    padding: 0 1.25rem;
    a {
        height: 55px;
        line-height: 55px;
        font-size: 0.875rem;
        color: #4a4a4a;
        display: block;
        letter-spacing: 1.1px;
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
        text-transform: uppercase;
    }
    a:active {
        text-decoration: none;
    }
}

.more-tab-child-container:last-child {
    a {
        border-bottom: none;
    }
}

.more-tab-child-container:hover,
.more-tab-child-container:active {
    background: var(--primaryColorLighter);
}

.cm-nav-tab-con {
    display: flex;
    @media only screen and (max-width: 767px) {
        padding: 0 1rem;
    }
}
.take-a-tour-cnt .title.cm-header-label-con .cm-header-label{
margin-right:2rem;
}
.take-a-tour-cnt .title.cm-header-label-con{
display : flex;
   margin-bottom:0;
}
.tat-header-cnt{
padding:2.8125rem;
//    background-color:#ffffff;
}
.tat-discp-cnt{
padding:2.8125rem;
 background-color: #ffffff;
}
.tat-discription{
display:none;
}
.tat-discription.tab-selected{
display:flex;
}
.tat-discription .step-title{
  font-family: Calibri;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.46;
  color: #323232;
  margin-bottom:1rem;
}
.tat-discription .step-disp{
	  font-family: Calibri;
  font-size: 1rem;
  line-height: 1.38;
  color: #323232;
    padding-right:2rem;
}
.step-img-desp-wrp .step-img-desp{
  font-family: Calibri;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: 0.5px;
  text-align: center;
  color: #4a4a4a;
}
.tat-step-img-cnt .step-img-desp-wrp{
vertical-align:top;
width:32%;
padding:0 0.5%;
display:inline-block;
}
.step-img-desp-wrp img{
display:block;
    margin:auto;
    margin-bottom:0.5rem;
    height:3.75rem;
}
.cm-nav-tab-con{
box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);
}
.tair-back-btn{
text-decoration:none;
    color:var(--primaryColor);
}