.gift-hamper-user-details-container{
    margin-bottom: 25px !important;
}
.checkout-enter-details-card {
    background-color: #ffffff;
}


.checkout-enter-details-card .mr-filter-checkbox + span.mr-inputCustomShape {
    border: solid 1px #979797;
}

.checkout-enter-details-card .checkout-enter-details-header {
    position: relative;
    padding: 37px 80px 33px 37px;
    padding: 2.3125rem 5rem 2.0625rem 2.3125rem;
    border-bottom: solid 1px rgba(151, 151, 151, 0.2);
}
.checkout-enter-details-card .checkout-enter-details-header.gifthamper {
	padding: 2rem 5rem 1.4rem 2.3125rem
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .checkout-enter-details-header {
        padding: 1.3125rem 2.1875rem 1.1875rem 2.1875rem;
        background-color: rgba(230, 230, 230, 0.65);
    }
    .checkout-enter-details-card .checkout-enter-details-header.gifthamper {
        padding: 2rem 5rem 1.4rem 2.3125rem
    }
}

.checkout-enter-details-card .checkout-enter-details-header .checkout-form-title {
    display: inline-block;
    font-family: Calibri-bold;
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 0.83;
    color: #1b1b1b;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .checkout-enter-details-header .checkout-form-title {
        font-size: 1.25rem;
    }
}

.checkout-enter-details-card .checkout-enter-details-header .checkout-form-step-wrp {
    position: absolute;
    top: 28px;
    top: 1.75rem;
    right: 80px;
    right: 5rem;
    pointer-events: none;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .checkout-enter-details-header .checkout-form-step-wrp {
        top: 1.125rem;
        right: 2.1875rem;
    }
    .checkout-form-step-wrp .sub-form-heading{
        display:none;
    }
}
 .checkout-form-step-wrp>span:first-child span.sub-form-heading{
    margin-right:1.125rem;
 }
    
.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container {
    padding: 20px 112px 30px 37px;
    padding: 1.25rem 7rem 1.875rem 2.3125rem;
}

@media only screen and (max-width: 991px) {
    .checkout-enter-details-card .booking-details-wrp .booking-input-fields-container {
        padding: 1.25rem 1.875rem 1.875rem 2.3125rem;
    }
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-input-fields-container {
        padding: 0.6875rem 2.1875rem 1.875rem 2.1875rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp {
    margin: 16px 0 28px;
    margin: 1rem 0 1.75rem;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    letter-spacing: 0px;
    letter-spacing: 0.025rem;
    color: #888888;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp {
        margin: 0.9375rem 0 1.125rem;
        font-size: 1rem;
        line-height: normal;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp .membership-signin {
    text-decoration: underline;
    color: var(--primaryColor);
    letter-spacing: 0px;
    letter-spacing: 0.01875rem;
    font-family: Calibri-bold;
    cursor: pointer;
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp .membership-signin .membership-signin-popup {
    display: none;
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp .membership-signin .membership-signin-popup.show-signin {
    display: block;
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp .membership-signin .membership-signin-popup .membership-sigin-overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(74, 74, 74, 0.55);
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp .membership-signin .membership-signin-popup .membership-sigin-overlay .checkout-member-signin-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp .membership-signin .membership-signin-popup .membership-sigin-overlay .checkout-member-signin-container {
        margin: 1.75rem 1.4375rem;
        display: block;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-for-others-wrp {
    margin-left: 32px;
    margin-left: 2rem;
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-for-others-wrp .mr-filterCheckBox-label {
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 0px;
    letter-spacing: 0.03125rem;
    color: #888888;
    line-height: normal;
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-for-others-wrp .biller-details-wrp {
    margin-left: -32px;
    margin-left: -2rem;
    display: none;
    margin-top: 24px;
    margin-top: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-for-others-wrp .biller-details-wrp {
        margin-top: 0.375rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .guest-details-wrp {
    margin-top: 24px;
    margin-top: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .guest-details-wrp {
        margin-top: 1.875rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .special-flight-wrp {
    margin-bottom: 64px;
    margin-bottom: 4rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .special-flight-wrp {
        margin-bottom: 2.9375rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-request-wrp .special-flight-common-content {
    margin-bottom: 66px;
    margin-bottom: 4.125rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-request-wrp .special-flight-common-content {
        margin-bottom: 1.875rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common {
    padding: 0px 112px 0px 37px;
    padding: 0rem 7rem 0rem 2.3125rem;
    border-bottom: solid 0.5px white !important;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common {
        padding: 0 2.1875rem 0 2.1875rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common:last-child {
    border-bottom: none;
}

.checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common .special-flight-common-header {
    padding: 10px 0;
    padding: 0.625rem 0;
    font-family: Calibri-bold;
    font-size: 22px;
    font-size: 1.375rem;
    letter-spacing: 0.5px;
    color: #888888;
    position: relative;
    cursor: unset;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common .special-flight-common-header {
        font-size: 1.25rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common .special-flight-common-header .special-flight-arrow {
    width: 11px;
    width: 0.6875rem;
    height: 17px;
    height: 1.0625rem;
    position: absolute;
    bottom: 23px;
    bottom: 1.4375rem;
    right: 0;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common .special-flight-common-header .special-flight-arrow {
        bottom: 1.125rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common .special-flight-common-content {
    display: none;
}

.checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper {
    padding: 0px 112px 42px 37px;
    padding: 0rem 7rem 2.625rem 2.3125rem;
    display: table;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper {
        padding: 0 2.1875rem 2.3125rem 2.1875rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper .proceed-checkbox-wrapper {
    padding-left: 32px;
    padding-left: 2rem;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper .proceed-checkbox-wrapper {
        display: table-row;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper .proceed-checkbox-wrapper .mr-filterCheckBox-label {
    font-size: 17px;
    font-size: 1.0625rem;
    letter-spacing: 0px;
    letter-spacing: 0.03125rem;
    color: var(--primaryColor);
    margin-right: 64px;
    margin-right: 4rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper .proceed-checkbox-wrapper .mr-filterCheckBox-label {
        margin: 0 0 1.6875rem 2rem;
        font-size: 1rem;
        display: block;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper .proceed-button-column {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper .proceed-button-column {
        text-align: center;
    }
}

.checkout-enter-details-card .payment-details-wrp {
    display: none;
    padding: 21px 75px 59px 37px;
    padding: 1.3125rem 4.6875rem 3.6875rem 2.3125rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp {
        padding: 1.3125rem 2.1875rem 1.875rem 2.1875rem;
    }
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp {
    margin-left: 32px;
    margin-left: 2rem;
    position: relative;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .mr-filterCheckBox-label {
    font-family: Calibri-bold;
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .mr-filterCheckBox-label {
        font-size: 1rem;
        margin-right: 0;
    }
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row {
    margin-left: 32px;
    margin-left: 2rem;
    margin-top: 10px;
    margin-top: 0.625rem;
    display: none;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row {
        margin-left: 0;
    }
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row .selectboxit-container *,
.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row .selectboxit-text {
    color: #818b92 !important;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row .tic-redeemed-information-wrp {
    text-align: right;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row .tic-redeemed-information-wrp .tic-redeemed-information {
    width: 80%;
    display: inline-block;
    padding: 6px 45px 8px;
    padding: 0.375rem 2.8125rem 0.5rem;
    background-color: var(--primaryColorLighter);
    border: dotted 1px var(--primaryColor);
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    letter-spacing: 0px;
    letter-spacing: 0.05625rem;
    text-align: center;
    color: var(--primaryColorDark);
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row .tic-redeemed-information-wrp .tic-redeemed-information {
        width: 100%;
        line-height: normal;
    }
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row .tic-redeemed-information-wrp .tic-redeemed-information .tic-redeemed-bold {
    font-family: Calibri-bold;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .tic-epicure-wrp {
    display: none;
    position: absolute;
    right: 32px;
    right: 2rem;
    top: 32px;
    top: 2rem;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .tic-epicure-wrp .tic-points-info {
    display: inline-block;
    vertical-align: middle;
    border-right: solid 1px #c3c3c3;
    line-height: 1.5;
    padding: 0 10px;
    padding: 0 0.625rem;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .tic-epicure-wrp .tic-points-info:last-child {
    border-right: none;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .tic-epicure-wrp .tic-points-info .tic-label {
    letter-spacing: 0px;
    letter-spacing: 0.05625rem;
    color: #979797;
    line-height: 0.89;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .tic-epicure-wrp .tic-points-info .tic-point-value {
    color: #323232;
    line-height: 0.89;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked {
    margin-left: 0;
    padding: 34px 36px 35px 22px;
    padding: 2.125rem 2.25rem 2.1875rem 1.375rem;
    border-radius: 2px;
    background-color: rgba(242, 242, 242, 0.58);
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked {
        width: 112%;
        margin-left: -6%;
    }
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked .mr-filterCheckBox-label {
    margin-left: 32px;
    margin-left: 2rem;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked .tic-epicure-wrp {
    display: block;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked .tic-epicure-wrp {
        top: 7.5rem;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked .row.tic-redeemed-row {
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked .row.tic-redeemed-row .sub-form-input-wrp {
        margin-bottom: 3.75rem;
    }
}

.checkout-enter-details-card .payment-details-wrp .payment-type-radio-wrp {
    margin-top: 28px;
    margin-top: 1.75rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .payment-type-radio-wrp {
        margin-top: 1.375rem;
    }
}

.checkout-enter-details-card .payment-details-wrp .payment-type-radio-wrp .radio-button-wrp {
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
    position: relative;
}

.checkout-enter-details-card .payment-details-wrp .payment-type-radio-wrp .radio-button-wrp:last-child {
    margin-bottom: 0;
}

.checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .credit-card-payment-heading {
    font-family: Calibri-bold;
    font-size: 24px;
    font-size: 1.5rem;
    color: #4a4a4a;
    margin: 32px 0 20px;
    margin: 2rem 0 1.25rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .credit-card-payment-heading {
        margin: 1.3125rem 0 1.5625rem;
        font-size: 1.25rem;
        line-height: normal;
        letter-spacing: normal;
    }
}

.checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .credit-card-payment-heading .credit-card-label {
    letter-spacing: 1px;
    letter-spacing: 0.06875rem;
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    padding-right: 0.3125rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .credit-card-payment-heading .credit-card-label {
        letter-spacing: normal;
    }
}

.checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .credit-card-payment-heading .credit-card-amount {
    font-family: Calibri;
    display: inline-block;
    vertical-align: middle;
}

.checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .credit-card-payment-heading .credit-card-amount .rupee-symbol {
    font-family: RupeeForadian;
}

.checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .pay-now-button-wrp {
    position: relative;
    text-align: right;
    margin-bottom: -12px;
    margin-bottom: -0.75rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .pay-now-button-wrp {
        position: absolute;
        bottom: 1.25rem;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .pay-now-button-wrp button {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 194px;
    min-width: 12.125rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .pay-now-button-wrp button {
        position: relative;
    }
}

.checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .disclaimer-footer {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    color: #818b92;
    margin-top: 39px;
    margin-top: 2.4375rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .disclaimer-footer {
        margin-top: 0rem;
        margin-bottom: 1.25rem;
        line-height: normal;
    }
}

.form-step-wrp .form-step {
    display: inline-block;
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 12px;
    margin-right: 0.75rem;
    background-color: #f2f2f2;
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.7;
    text-align: center;
    color: #979797;
}

@media only screen and (max-width: 767px) {
    .form-step-wrp .form-step {
        width: 1.6875rem;
        height: 1.6875rem;
        font-size: 0.85625rem;
        line-height: 2;
        background-color: #dadada;
    }
}

.form-step-wrp .form-step:last-child {
    margin-right: 0;
}

.form-step-wrp .form-step.active-form-step {
    background-image: var(--linearGradient);
    color: #ffffff;
}

.mandatory-label {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    color: #818b92;
}

@media only screen and (max-width: 767px) {
    .mandatory-label {
        font-size: 0.875rem;
    }
}

.mr-sub-form [class*="col-"] {
    display: inline-block;
}

.mr-sub-form [class*="col-"].sub-form-input-wrp {
    margin-bottom: 36px;
    margin-bottom: 2.25rem;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form [class*="col-"] {
        padding: 0 !important;
    }

    .mr-sub-form [class*="col-"].sub-form-input-wrp {
        margin-bottom: 1.875rem;
    }
}

.mr-sub-form .row.mr-sub-form-row {
    margin-bottom: -36px;
    margin-bottom: -2.25rem;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .row.mr-sub-form-row {
        margin-bottom: -1.875rem;
    }

    .mr-sub-form .row.mr-sub-form-row.pay-now-row {
        position: relative;
        padding-bottom: 3.75rem;
    }
}

.mr-sub-form .sub-form-input-wrp.col-md-8 {
    padding-right: 30px;
    padding-right: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .sub-form-input-wrp.col-md-4 {
        padding: 0 !important;
    }
}

.mr-sub-form .sub-form-input-wrp.col-md-4:nth-child(3n-2) {
    padding-right: 60px;
    padding-right: 3.75rem;
}

@media only screen and (max-width: 991px) {
    .mr-sub-form .sub-form-input-wrp.col-md-4:nth-child(3n-2) {
        padding-right: 1.25rem;
    }
}

.mr-sub-form .sub-form-input-wrp.col-md-4:nth-child(3n-1) {
    padding: 0 30px;
    padding: 0 1.875rem;
}

@media only screen and (max-width: 991px) {
    .mr-sub-form .sub-form-input-wrp.col-md-4:nth-child(3n-1) {
        padding: 0 0.625rem;
    }
}

.mr-sub-form .sub-form-input-wrp.col-md-4:nth-child(3n) {
    padding-left: 60px;
    padding-left: 3.75rem;
}

@media only screen and (max-width: 991px) {
    .mr-sub-form .sub-form-input-wrp.col-md-4:nth-child(3n) {
        padding-left: 1.25rem;
    }
}

.mr-sub-form .sub-form-input-wrp.col-md-4 .phone-number-col {
    padding-left: 13px;
    padding-left: 0.8125rem;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .sub-form-input-wrp.col-md-4 .phone-number-col {
        padding-left: 0.8125rem !important;
    }
}

.mr-sub-form .sub-form-heading {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    letter-spacing: 0px;
    letter-spacing: 0.03125rem;
    color: #000000;
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .sub-form-heading {
        font-family: Calibri-bold;
        font-size: 1.125rem;
        color: #888888;
        margin-bottom: 1rem;
    }
}

.mr-sub-form .sub-form-input-label {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    color: #818b92;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .sub-form-input-label {
        font-size: 1rem;
        margin-bottom: 0.375rem;
    }
}

.mr-sub-form .sub-form-input-element {
    width: 100%;
    padding: 0 10px 6px;
    padding: 0 0.625rem 0.375rem;
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    color: #000000;
    outline: none;
    border: none;
    border-bottom: solid 1.7px #dee2e5;
}

@media only screen and (max-width: 991px) {
    .mr-sub-form .sub-form-input-element {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .sub-form-input-element {
        font-size: 1rem;
        padding: 0 0.375rem 0.3rem;
    }
}

.mr-sub-form .sub-form-input-element::-webkit-input-placeholder {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #dee2e5;
}

.mr-sub-form .sub-form-input-element::-moz-placeholder {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #dee2e5;
}

.mr-sub-form .sub-form-input-element:-ms-input-placeholder {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #dee2e5;
}

.mr-sub-form .sub-form-input-element::placeholder {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #dee2e5;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .sub-form-input-element::-webkit-input-placeholder {
        font-size: 0.875rem;
    }

    .mr-sub-form .sub-form-input-element::-moz-placeholder {
        font-size: 0.875rem;
    }

    .mr-sub-form .sub-form-input-element:-ms-input-placeholder {
        font-size: 0.875rem;
    }

    .mr-sub-form .sub-form-input-element::placeholder {
        font-size: 0.875rem;
    }
}

.mr-sub-form .sub-form-input-element.invalid-input {
    border-bottom-color: var(--primaryColor);
}

.mr-sub-form .sub-form-input-element.selectSubContainer .selectboxit-text {
    font-family: Calibri;
    font-size: 20px !important;
    font-size: 1.25rem !important;
    color: #000000;
}

.mr-sub-form .sub-form-input-element.selectSubContainer .selectboxit-option-first {
    display: none;
}

.mr-sub-form .sub-form-input-element.selectSubContainer .selectboxit-container span,
.mr-sub-form .sub-form-input-element.selectSubContainer .selectboxit-container .selectboxit-options a {
    height: auto;
    line-height: normal;
}

input[type="radio"] {
    width: 23px;
    height: 23px;
    outline: none;
    opacity: 0;
    position: relative;
}

input[type="radio"]+label:before {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    position: absolute;
    background-color: transparent;
    content: '';
    display: inline-block;
    visibility: visible;
    border: solid 1px #979797;
}

input[type="radio"]+label:after {
    position: absolute;
    content: '';
    visibility: hidden;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    top: 6px;
    bottom: 6px;
    margin: auto;
    left: 6px;
    background-color: #4a90e2;
}

input[type="radio"]:checked +label:after {
    display: inline-block;
    visibility: visible;
}

.radio-button-wrp input[type='radio'] {
    display: inline-block;
    margin-right: 18px;
    margin-right: 1.125rem;
    vertical-align: middle;
    z-index: 1;
}

@media only screen and (max-width: 767px) {
    .radio-button-wrp input[type='radio'] {
        margin-right: 0.875rem;
    }
}

.radio-button-wrp .radio-button-label {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    color: #818b92;
    margin-bottom:0;
    line-height: normal;
}

@media only screen and (max-width: 767px) {
    .radio-button-wrp .radio-button-label {
        font-size: 1rem;
    }
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-ms-clear {
    display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#redeemTicDropdown {
    width: auto !important;
    height: 100% !important;
}

input[type="checkbox"].mr-filter-checkbox:checked + span.mr-inputCustomShape {
    background-image: url(/content/dam/tajhotels/icons/style-icons/checkBox-tick.svg);
    background-size: 0.875rem 0.6875rem;
    background-repeat: no-repeat;
    background-position: center;
}

.seleqtions-mandatory-label {
    font-family: Calibri;
    font-size: 14px;
    font-size: 1.rem;
    color: #4a4a4a;
}

textarea.sub-form-input-element{
    resize:none;
}

.checkout-enter-details-card .booking-details-wrp .policy-terms-external-wrapper .mr-filterCheckBox-label {
	margin-left:1.5rem;
}
@media only screen and (max-width: 767px) {
	.checkout-payment-details-container {
    	margin: 2rem 1rem 0;
	}
	.checkout-enter-details-card .booking-details-wrp .policy-terms-external-wrapper .mr-filterCheckBox-label{
		font-size:1rem;
		margin-left:1rem;
	}
}
.special-request-wrp .special-request-input-wrp{
    margin-top: 0;
}
.policy-terms-external{
	padding-top: 2rem;
}
.deliveryLabel-heading{
    display: inline-block;
    font-family: Calibri-bold;
    font-size: 27px;
    line-height: 0.83;
    color: #1b1b1b;
    font-size: 1.5rem;
    font-family: Calibri-bold;
}
.gift-form-wrap{
    padding-top: 0px !important;
}
.giftHamperCostTable td:last-child{
	text-align: right;
}
.giftHamperCostTable td:first-child{
    width:150px
}