<div data-sly-test="${wcmmode.edit}">AMP Experiences List Component</div>
<div class="destination-container cm-content-blocks">
	<div class="popularDest-wrap"
		data-sly-use.model="com.ihcl.core.models.holidays.experiences.IExperienceCards"
		data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    	<div data-sly-list.experienceList="${model.listOfExperienceCards}"><!--card starts from here-->
			<div class="popu-dest-cont-wrapper card-margin-exp">
				<div class="popularDest-imageContainer">
					<sly
						data-sly-call="${imagetemplate.damImageTemplate @ imagePath= experienceList.experienceImagePath, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', layout='fill'}"></sly>
				</div>
				<div class="popularDest-details-container">
					<div class="popularDest-details-name">${experienceList.experienceTitle}</div>					
					<a href="${experienceList.experiencePagePath}.html">
						<button class="cm-btn-secondary exp-button" tabindex = "-1">VIEW DETAILS</button>
					</a>
					<div class="popularDest-details-exp">${experienceList.description}</div>
				</div>
			</div>
        </div> <!--card ends here--> 
	</div>
</div>