<div data-sly-test.edit=${wcmmode.edit}>
<h5>Holiday Package Details are configurable in this section</h5></div>

<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} 
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='holidays-package-offer'}" />


	<sly data-sly-use.packageModel="com.ihcl.core.models.holidays.packages.HolidayOfferPackage">
        <div class="content-wrapper container offer-details-content-wrapper">
            <div class="offers-room-container cm-content-blocks">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 offers mobile-default-space">
                        <div class="offers-wrapper">
                            <h2 class="offers-rooms_caption" data-sly-element="${properties.type}">${packageModel.packageTitle}</h2>
                            <div class="validity-line-container">
                                <div class="validity-line-seperator"></div>
                            </div>
                            <div class="validity-container"><img src="/content/dam/tajhotels/icons/style-icons/validity.svg" alt = "Validity Icon">
                                
								<sly data-sly-test="${properties.offerStartsFrom}">
									<div class="validity-heading">Validity</div>
									<div class="validity-content">${'dd MMM yyyy' @ format=properties.offerStartsFrom }- ${'dd MMM yyyy' @ format=properties.offerEndsOn } ${properties.validityMsg}</div>
								</sly>
								<sly data-sly-test="${!properties.offerStartsFrom}">
									<div class="validity-heading">Valid Till</div>
									<div class="validity-content">${'dd MMM yyyy' @ format=properties.offerEndsOn } ${properties.validityMsg}</div>
								</sly>
                            </div>
							<sly data-sly-test.isBlackOutDates = ${packageModel.blackOutDates}>
							<div class="black-out-wrapper">
							<div class="title">Black out dates :</div>
							<div class="dates-wrapper">
							<sly data-sly-list.blackOutDateList=${packageModel.blackOutDates}>
								<sly data-sly-test.isEndDateNotAvail=${!blackOutDateList.endDate}>
									<span class="dates">${blackOutDateList.startDate}</span>
								</sly>
								<sly data-sly-test.isStartDateNotAvail=${!blackOutDateList.startDate}>
									<span class="dates">${blackOutDateList.endDate}</span>
								</sly>
								<sly data-sly-test.isBothAvail="${blackOutDateList.startDate && blackOutDateList.endDate}">
								<span class="dates">${blackOutDateList.startDate} - ${blackOutDateList.endDate}</span>
								</sly>
							</sly>
							</div>
							</div>
							</sly>
                        </div>
                        <div class="offers-rooms_desc">
                            <p>${packageModel.packageDescription}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offers-room-container cm-content-blocks">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 mobile-default-space">
                        <div class="inclusions-heading">Inclusions</div>
                        <div class="row inclusions-container">
							<sly data-sly-list.inclusionList=${packageModel.inclusions}>
							<div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="stay-container">
                                <div class="stay-img-con"><img src="${inclusionList.inclusionImagePath}" alt = "Inclusion Image"></div>
								<div class="inclusions-each-text">
                                	<div class="inclusions-stay-heading">${inclusionList.inclusionTitle}</div>
                                	<div>-</div>
                                	<div class="inclusions-stay-content">${inclusionList.inclusionDescription}</div>
								</div>
                            </div>
                            <div class="inclusions-line-separator-container">
                                <div class="line-seperator"></div>
                            </div>
							</div>
							<sly>
                        </div>
                    </div>
                </div>
            </div>
			<div class="mobile-default-space d-flex justify-content-between align-items-center">
                <div class="present-rate"><span class="price-title">Starting Rate/Night</span><span class="present-rate-inner-wrp"><span class="rc-selected-currency">${packageModel.currencySymbol} </span><span class="rc-total-amount">${packageModel.packagePrice}</span><span class="rate-asterik">*</span></span></div>
                <div class="view-btn-con book-offer-button">
					<sly data-sly-test.redirectionType="${packageModel.packageRedirectionType =='bookdirect'}">
                    <a href="${packageModel.packageRedirectionPath}.html?offerRateCode=${packageModel.offerRateCode}&nights=${packageModel.nights}&from=${'dd/MM/yyyy' @ format=properties.offerStartsFrom }&rooms=1&adults=2&children=0&holidaysOffer=true">
                        <button class="cm-btn-secondary view-button">Book Now</button>
                    </a>
					</sly>
					<sly data-sly-test.redirectionType="${packageModel.packageRedirectionType =='internationalEnquiry'}">
					<a href="${packageModel.enquiryPath}.html" >
					<button class="cm-btn-secondary more-rates-select-btn" onclick="setEnquirySessionObj('${packageModel.packageTitle @ context='text'}','${packageModel.hotelName @ context='text'}','${packageModel.hotelCountry @ context='text'}')">SEND ENQUIRY</button>
					</a>
					</sly>
                    <sly data-sly-test.redirectionType="${packageModel.packageRedirectionType =='enquiry'}">
					<a href="${packageModel.enquiryPath}.html" target="_blank">
				    <button class="cm-btn-secondary more-rates-select-btn">SEND ENQUIRY</button>
					</a>
					</sly>
                </div>
			</div>
            <div class="terms-cond-container cm-content-blocks">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 Terms-cond mobile-default-space">
                        <div class="Offer-terms-cond-head-wrapper">
                            <h2 class="Terms-cond-header">Terms & Conditions </h2><img class="image-view" src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt = "drop down arrow"></div>
						<sly data-sly-list.termsAndConditions=${packageModel.termsAndConditionLs}>
                        <p class="Terms-cond-desc">${termsAndConditions}</p>
						</sly>
                    </div>
                </div>
            </div>			
        </div>
	</sly>