@rem: 16rem;
.entity-dropdown-disabled {
       pointer-events: none;
       opacity: 0.5;
    }
.ihclcb-book-stay-entity-drpdwn-cont {
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem 2rem;
    border-top: solid 1px #e0dfdf;
    border-bottom: solid 1px #e0dfdf;
    @media only screen and (max-width: 767px) {
        flex-direction: column;
        padding: 20px;
        margin-bottom: 80/@rem;
    }
    
    .show-dropdown {
        display: block !important;
    }
    
    
    
    .ihclcb-book-a-stay-inner-wrp {
        display: flex;
        //flex: 1;
        width: 33%;
        position: relative;
        font-family: "Calibri";
        font-size: 16/@rem;
        /*&:not(:first-child) {
            @media only screen and (min-width: 768px) {
                width: 36%;
            }
        }*/
        @media only screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 20/@rem;
        }
        @media only screen and (min-width: 768px) {
            margin: 6px 0;
        }
        
        .entity-category-title {
            opacity: 0.5;
            @media only screen and (max-width: 767px) {
                min-width: 6rem;
                position: relative;
//                opacity: 0.5;
            }
            &::after {        
                content: ':';
                margin: 0 5px; 
                @media only screen and (max-width: 767px) {
                    position: absolute;
                    right: 0;
                }
            }
        }
  
    }
    .ihclcb-selected-data-cont {
        position: relative;
        line-height: 1.5;
        flex-grow: 1;
        padding-right: 0.8rem;
        width: 51%;      
        &.icon-drop-down-arrow:before {
            position: absolute;
            right: 10/@rem;
            top: 5px;
            color: #0b5a8c !important;
            opacity: 0.4;
            @media only screen and (max-width: 767px) {
                right: -4px;
                top: 7/@rem;
//                opacity: 0.5;
            }
        }
   
        .ihclcb-selected-data {
           
            font-family: "Calibri";
            font-size: 16/@rem;        
            color: #353b44 !important;
             white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }      
    }
    .entity-dropdown-cnt-cont {
        position: relative;
        width: 100%;
    }

    .entity-dropdown-container {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 8px 72px 0 rgba(1, 4, 6, 0.32);
        border-radius: 2px;
        background-color: #ffffff;
        position: absolute;      
        padding: 10/@rem 20/@rem;
     //   max-height: 300/@rem;
      //  overflow: auto;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: none;
        &::after {
            content: '';
            position: absolute;
            top: -6px;
            left: 0;
            right: 0;
            margin: auto;
            border-bottom: 15px solid #ffffff;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            width: 5px;
        }
        &.entity-city-dropdown::after {
            margin: 0;
            left: 10%;
        }
       
        &.gstin-dropdown::after {
            margin: 0;
            left: auto;
            right: 10%;
        }
        @media only screen and (max-width: 767px) {
            &.entity-name-dropdown, &.entity-city-dropdown {
                top: -90px;
            }
            &::after {
                margin: 0;
                left: auto;
                right: 10%;
            }
        }
        .entity-results {
            overflow: auto;
            max-height: 10rem;
        }
       
       
            .entity-explore-heading {
                margin: 1rem 0;
            }
           
            .entity-category-title {
                font-family: "Calibri-bold";
                font-size: 14/@rem;              
                line-height: 1;
                letter-spacing: 2px;
                text-align: left;
                color: #000000;
                text-transform: uppercase;
            }
           
            .entity-dropdown-icon {
                margin-right: 16/@rem;
                width: 12/@rem;
                height: 17/@rem;
            }
           
            .individual-entity-result {
                font-family: Calibri;        
                font-size: 1rem;              
                text-align: left;
                color: #323232;
                padding: 0.5rem 32/@rem;    
                cursor: pointer;
                display: block;
                &:hover {
                    background-color: var(--primaryColorLighter);
                }
                @media only screen and (max-width: 767px) {
                    padding: 0.5rem 25/@rem;
                    font-size: 1rem;
                }
            }
       
    }
}
