
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.components.hotelbookingdetails'}" />


<div data-sly-test="${wcmmode.edit}">Hotel Detail Summary</div>
<div class="search-container check-availability-main-wrap container">

<div style="display:none ;">
	<div  data-sly-use.couponObj="com.ihcl.core.models.CouponCode"> 
		<div class="cm-hide" data-coupon-code="${couponObj.couponCodesString}"></div>
	</div>
</div>
<sly data-sly-test.destinationTitle="${properties.destinationTitle ? properties.destinationTitle : 'WHERE TO?'}"></sly>
<sly data-sly-test.checkinout="${properties.checkinout ? properties.checkinout : 'CHECK-IN & CHECK-OUT'}"></sly>
<sly data-sly-test.dateTitle="${properties.dateTitle ? properties.dateTitle : 'Enter your stay dates to get the best deals!'}"></sly>
<sly data-sly-test.roomTitle="${properties.roomTitle ? properties.roomTitle : 'ROOMS & GUESTS'}"></sly>
<sly data-sly-test.packageTitle="${properties.packageTitle ? properties.packageTitle : 'Please add another room to select a package!'}"></sly>
<sly data-sly-test.buttonTitle="${properties.buttonTitle ? properties.buttonTitle : 'Check Availability'}"></sly> 

    <div class="mr-mobile-availability-check mr-check-availability-container" id="cmCheckAvailabilitySmallDevice">
    <div class="col-sm-3 mr-checkIn-checkOut-Date">
 <div class="mr-checkIn-checkOut-Date-hover box-with-bottom-arrow">                    
            <i class="inline-block icon-calendar-check-availability mr-checkIn-checkOut-Date-hover-icon"></i>                    
            <div class="mr-checkIn-checkOut-Date-hover-text">${dateTitle}</div>
        </div>
      </div>
	    <div class="mr-availability-info-mobile-wrap">
	        <div class="mr-destination-hotel"><span class="ca-target-selection"></span></div>
	        <div class="mr-mobile-availability-details mr-mobile-checkInOut"><span class="ca-booking-date-range"></span></div>
	        <div class="mr-mobile-availability-details mr-mobile-roomGuestsCount"></div>
	    </div>
	    <div class="mr-edit-icon-wrap"><span class="mr-edit-icon icon-edit btn-edit-booking-details"></span></div>
	</div>
	<div class="mr-availability-check mr-check-availability-container" data-dialog-btn = "bookAStay" id="cmCheckAvailability">
        <div class="row">
            <div class="col-sm-3">
                <div class="mr-availability-check-sections">
                    <div class="mr-availability-check-title">${destinationTitle}</div>
                    <div class="mr-availability-check-search">
                        <img class = "ihclcb-check-avail-img" src = "/content/dam/tajhotels/icons/style-icons/search-icon.svg" alt = "search icon">
                        <span class="ca-target-selection"></span>
			                    </div>
                </div>
            </div>
            <div class="col-sm-3 mr-checkIn-checkOut-Date">
                <div class="mr-availability-check-sections">
                    <div class="mr-availability-check-title">${checkinout}</div>
                    <div class="mr-availability-check-search">
                        <img class = "ihclcb-check-avail-img" src = "/content/dam/tajhotels/ihcl/calendar.svg" alt = "calender icon">
                        <span class="ca-booking-date-range"></span>
                        <span class="mr-availability-icon-wrap">
                            <span class="mr-availability-calendar-icon icon-calendar-check-availability"></span>
                        </span>
                    </div>
                </div>
                <div class="mr-checkIn-checkOut-Date-hover box-with-bottom-arrow">                    
                    <i class="inline-block icon-calendar-check-availability mr-checkIn-checkOut-Date-hover-icon"></i>                    
                    <div class="mr-checkIn-checkOut-Date-hover-text">${dateTitle}</div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="mr-availability-check-sections">
                    <div class="mr-availability-check-title">${roomTitle}</div>
                    <div class="mr-availability-check-search ">
                        <img class = "ihclcb-check-avail-img" src = "/content/dam/tajhotels/ihcl/user.svg" alt = "guest icon">
                        <span class = "ca-selections"></span>
                    </div>
                </div>
                <div class="mr-checkIn-checkOut-Date-hover mr-availability-check-hover box-with-bottom-arrow">                    
                    <i class="inline-block icon-person-avatar mr-checkIn-checkOut-Date-hover-icon"></i>                    
                    <div class="mr-checkIn-checkOut-Date-hover-text">${packageTitle}</div>
                </div>
            </div>
            <div class="col-sm-1 edit-booking-details-wrapper">
            	<button class="cm-btn-secondary btn-edit-booking-details">${buttonTitle}</button>
            </div>
        </div>
    </div>
</div>
