.footer-component-ihcl {
   padding: 5px 20px 40px;
   padding: 0.3125rem 1.25rem 2.5rem;
   font-family: Calibri;
   font-size: 17px;
   font-size: 1.0625rem;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: 2.06;
   letter-spacing: 1px;
   letter-spacing: 0.0625rem;
   text-align: left;
   color: #1b1b1b;
   background-color: #efeeee;
}

.footer-component-ihcl a {
   color: #1b1b1b;
   font-size: 15px;
   font-size: 0.9375rem;
   letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl a {
       font-size: 0.9375rem;
   }
}

.footer-component-ihcl .footer-logo-wrapper {
   margin: 35px 0 10px;
   margin: 2.1875rem 0 0.625rem;
}

.footer-component-ihcl .logo {
   width: 91px;
   width: 5.6875rem;
   height: auto;
}

.footer-component-ihcl .logo-title {
   font-family: Calibri;
   font-size: 18px;
   font-size: 1.125rem;
   display: inline-block;
   vertical-align: middle;
   margin-left: 16px;
   margin-left: 1rem;
   padding-left: 11px;
   padding-left: 0.6875rem;
   line-height: 1.5;
   letter-spacing: 0.3px;
   color: #949494;
   border-left: 1px solid #949494;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .logo-title {
       font-size: 0.875rem;
       width: calc(100% - 6.6875rem);
   }
}

.footer-component-ihcl .subscription-box {
   margin-bottom: 18px;
   margin-bottom: 1.125rem;
   display: inline-block;
   width: 28rem;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .subscription-box {
       width: 100%;
   }
}

.footer-component-ihcl .email-input {
   width: 60%;
   border-radius: 0.125rem;
   background-color: #ffffff;
   box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0);
   padding: 0 15px;
   padding: 0 0.9375rem;
   display: inline-block;
   box-sizing: border-box;
   background: #fff;
   border: 1px solid #ffff;
   outline: none;
   color: black;
   letter-spacing: 1px;
   letter-spacing: 0.0625rem;
}

@media only screen and (max-width: 991px) {
   .footer-component-ihcl .email-input {
       height: 2.8125rem !important;
   }
}

.footer-component-ihcl .subscribe-btn {
   width: 40%;
   margin-left: -.5rem;
}

.footer-component-ihcl .ihcl-footer-links-list {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .ihcl-footer-links-list {
       display: block;
       -moz-column-count: 2;
       column-count: 2;
   }
}

.footer-component-ihcl .ihcl-footer-links-list .footer-link {
   display: inline-block;
   vertical-align: top;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .ihcl-footer-links-list .footer-link {
       line-height: normal;
       margin-bottom: 0.8125rem;
       display: list-item;
   }
}

.footer-component-ihcl .ihcl-footer-links-list .footer-link a {
   font-family: Calibri;
   color: #1b1b1b;
   font-size: 17px;
   font-size: 1.0625rem;
   letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .ihcl-footer-links-list .footer-link a {
       font-size: 0.875rem;
       font-family: Calibri;
   }
}

.footer-component-ihcl .ihcl-footer-links-list .footer-link .footer-link-content-list {
   margin-top: 8px;
   margin-top: 0.5rem;
}

.footer-component-ihcl .ihcl-footer-links-list .footer-link .footer-link-content-list .footer-link-content-item {
   line-height: 1;
   margin-bottom: 8px;
   margin-bottom: 0.5rem;
}

.footer-component-ihcl .ihcl-footer-links-list .footer-link .footer-link-content-list .footer-link-content-item a {
   font-family: Calibri;
   font-size: 12px;
   font-size: 0.75rem;
   letter-spacing: 0.7px;
   color: #4a4a4a;
}

.footer-component-ihcl .share-icon {
   width: 40px;
   width: 2.5rem;
   margin-right: 15px;
   margin-right: 0.9375rem;
}

.footer-component-ihcl .download-icon {
   margin-right: 15px;
   margin-right: 0.9375rem;
   width: 78px;
   width: 4.875rem;
   height: 26px;
   height: 1.625rem;
}

.footer-component-ihcl .brand-icon {
   margin-right: 15px;
   margin-right: 0.9375rem;
   width: auto;
   height: 10px;
   height: 0.9rem;
}

.footer-component-ihcl .label-footer-input {
   font-size: 17px;
   font-size: 1.0625rem;
   margin: 0 0 14px !important;
   margin: 0 0 0.875rem !important;
   color: #1b1b1b;
   line-height: 2;
   letter-spacing: 1px;
}

@media screen and (max-width: 991px) {
   .footer-component-ihcl .footer-component {
       padding-left: 1.875rem;
       padding-right: 1.875rem;
   }
}

.footer-component-ihcl .footer-destination-heading {
   font-size: 17px;
   font-size: 1.0625rem;
   color: #1b1b1b;
   font-family: Calibri;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .footer-destination-heading {
       font-size: 0.875rem;
   }
}

.footer-component-ihcl .footer-destination-expand-button {
   color: var(--primaryColor);
   font-family: Calibri-Bold;
   font-size: 21px;
   font-size: 1.3125rem;
   margin-left: 5px;
   cursor: pointer;
}

.footer-component-ihcl .footer-destination-list {
   list-style-type: none;
   column-count: 5;
   -webkit-column-count: 5;
   -moz-column-count: 5;
   padding: 0;
   display: none;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .footer-destination-list {
       column-count: 2;
       -webkit-column-count: 2;
       -moz-column-count: 2;
       font-size: 0.875rem;
   }
}

.footer-component-ihcl .footer-destination-section {
   position: relative;
   overflow: visible;
}

.footer-component-ihcl .footer-destination-section::after {
   position: absolute;
   left: 0;
   bottom: -14px;
   bottom: -0.875rem;
   width: 100%;
   height: 1px;
   background: #979797;
   content: ' ';
   opacity: 0.5;
}

.footer-component-ihcl .ihcl-footer-about-section {
   margin-top: 32px ! important;
   margin-top: 2rem ! important;
   position: relative;
   border-bottom: solid 1px rgba(148, 148, 148, 0.5);
   font-size: 15px;
   font-size: 0.9375rem;
}

.footer-component-ihcl .footer-media-app-section {
   float: right;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .footer-media-app-section {
       float: initial;
   }
   .footer-component-ihcl .ihcl-footer-about-section {
       border-bottom: none;
   }
}

.footer-component-ihcl .footer-media-section {
   display: inline-block;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .footer-media-section {
       position: relative;
       width: 100%;
   }
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .footer-media-section::after {
       position: absolute;
       left: 0;
       bottom: -1.25rem;
       width: 100%;
       height: 1px;
       background: #979797;
       content: ' ';
       opacity: 0.5;
   }
}

.footer-component-ihcl .footer-brand-details-section {
   margin-top: 20px ! important;
   margin-top: 2rem ! important;
   position: relative;
   font-size: 15px;
   font-size: 0.9375rem;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .footer-brand-details-section {
       margin-top: 1.5625rem !important;
   }
}

.footer-component-ihcl .footer-disclaimer {
   color: #4a4a4a;
   font-size: 12px;
   font-size: 0.75rem;
   font-family: Calibri;
}


/*@media screen and (max-width: 767px) {
   .footer-component-ihcl .footer-disclaimer {
       display: none;
   }
}*/

.footer-component-ihcl .footer-brands-list {
   list-style-type: none;
   -moz-column-count: 3;
   column-count: 3;
   -webkit-column-count: 3;
   padding: 0;
}

.footer-component-ihcl .footer-brands-list .footer-link {
   margin-bottom: 4px;
   margin-bottom: 0.3rem;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .footer-brands-list {
       -moz-column-count: 1;
       column-count: 1;
   }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
   .footer-component-ihcl .footer-brands-list {
       -moz-column-count: 2;
       column-count: 2;
   }
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .brand-logos-section {
       margin-top: 1.125rem;
   }
}


.footer-component-ihcl .footer-email-section {
   position: relative;
   padding: 24px 0;
   padding: 1.5rem 0;
}

@media only screen and (max-width:767px) {
    .footer-component-ihcl .subscription-box {
        margin-bottom: 0;
    }
    .footer-email-section {
        border-bottom: 1px solid rgba(148, 148, 148, 0.5);
    }
    .brand-logos-carousal-band a:last-child .brand-icon {
        height: 8px;
    }
}
.footer-component-ihcl .footer-email {
   height: 35px;
   height: 2.1875rem;
   line-height: 35px;
   line-height: 2.1875rem;
   border: none;
}

.footer-component-ihcl .ihcl-footer-content-section {
   padding: 26px 0;
   padding: 1.625rem 0;
   border-top: solid 1px rgba(148, 148, 148, 0.5);
   border-bottom: solid 1px rgba(148, 148, 148, 0.5);
   margin-top: 30px;
   margin-top: 1.875rem;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .ihcl-footer-content-section {
       padding: 0.75rem 0 1.75rem;
   }
}

.footer-component-ihcl .ihcl-footer-content-section .ihcl-footer-content-links {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin: 0 -19px;
   margin: 0 -1.1875rem;
   justify-content: space-between;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .ihcl-footer-content-section .ihcl-footer-content-links {
       margin: 0;
       display: block;
       -moz-column-count: 2;
       column-count: 2;
   }
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .ihcl-footer-content-section .ihcl-footer-content-links .footer-link {
       width: auto;
       display: list-item;
       margin-bottom: 0.8125rem;
       line-height: normal;
   }
}

.footer-component-ihcl .ihcl-footer-content-section .ihcl-footer-content-links .footer-link a {
   font-family: Calibri;
   font-size: 17px;
   font-size: 1.0625rem;
   line-height: 1;
   letter-spacing: 1px;
   color: #1b1b1b;
   padding: 0 19px;
   padding: 0 1.1875rem;
}

@media screen and (max-width: 767px) {
   .footer-component-ihcl .ihcl-footer-content-section .ihcl-footer-content-links .footer-link a {
       padding: 0;
       font-family: Calibri;
       font-size: 0.875rem;
       line-height: normal;
   }
}

.footer-promotion-icons-container {
    display: flex;
}

.footer-promotion-icons-container .footer-media-section {
    flex: 1;
}

.footer-promotion-icons-container .footer-app-section {
    padding-left: 0;
}

.footer-component .footer-promotion-icons-container .footer-app-section a img {
    margin-right: 0;
}
.footer-ihcl-logo-con {
    margin-top: 0.5rem;
}

.brand-logos-section .brand-logos-carousal-band>a:first-child>img {
    height: 22px;
   margin-top: -5px;
} 

.brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
    height: 28px;
   margin-top: 4px;
}

.brand-logos-section .brand-logos-carousal-band>a:nth-child(3)>img {
    height: 10px;
}

.brand-logos-section .brand-logos-carousal-band>a:nth-child(4)>img {
    height: 14px;
}

.brand-logos-section .brand-logos-carousal-band>a:nth-child(5)>img {
    height: 12px;
}

.brand-logos-section .brand-logos-carousal-band>a:nth-child(6)>img {
    height: 22px;
   margin-top: -5px;
}



.brand-logos-section .brand-logos-carousal-band>a {
    display: inline-block;
}

.brand-logos-section .brand-logos-carousal-band>a img {
    margin-right: 0.8rem;
}

.footer-component-ihcl .brand-icon {
    height: 13px;
}

.brand-logos-section .brand-logos-carousal-band>a:last-child>img {
    margin-right: -1px;
}

.footer-brands-logo-inner-wrap {
    float: right;
}

@media screen and (min-width: 768px) {
    .cm-page-container .footer .brand-logos-section {
    }
}

.brand-logos-carousal-band {
    /* display: flex; */
    margin-top: 10px;
}

.brand-logos-carousal-band::-webkit-scrollbar {
   display: none;
}

@media screen and (max-width: 991px) {
    .brand-logos-carousal-band {
        overflow: auto;
        overflow-x: scroll;
        display: flex;
    }
    .brand-logos-section .brand-logos-carousal-band>a img {
        margin-right: 0.7rem;
    }
    
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(3)>img {
        height: 0.9rem;
    }
    
    .footer-component .email-input {
        height: 2.8125rem !important;
        vertical-align: bottom;
    }
    .footer-brands-logo-inner-wrap {
        width: 100%;
        padding-right: 1rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 767px) {
    .brand-logos-section .brand-logos-carousal-band>a:first-child>img {
        height: 16px;
        margin-top: -4px;
    } 
    
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
        height: 16px;
        margin-top: 3px;
    }
    
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(3)>img {
        height: 7px;
    }
    
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(4)>img {
        height: 10px;
        
    }
    
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(5)>img {
        height: 10px;
        
    }                               
    
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(6)>img {
        height: 18px;
        margin-top: -5px;
    }
    .brand-logos-section .brand-logos-carousal-band>a img {
        margin-right: 0.45rem;
    }
    
    .footer-component-ihcl .brand-icon {
        height: 8px;
    }
    
    .footer-ihcl-logo-con {
        order: 2;
        margin-top: 30px;
    }
    .brand-logos-section {
        order: 1;
    }
    
    .footer-component .email-input {
        height: 2.8125rem !important;
        vertical-align: bottom;
    }
    .footer-brands-logo-inner-wrap {
        width: 100%;
        padding-right: 0;
    }
    .brand-logos-section .brand-logos-carousal-band>a:last-child>img {
        height: 10px ! important;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .brand-logos-section .brand-logos-carousal-band>a img {
        margin-right: 0.5rem;
    }
    .footer-component-ihcl .brand-icon {
        height: 7px;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
        margin-top: 0;
    }
}

.subscription-success {
    color: #28a745;
}

.subscription-failure {
    color: #dc3545;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .brand-logos-section .brand-logos-carousal-band>a:first-child>img.brand-icon {
        margin-top: -2px;
        height: 26px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
        height: 27px;
        margin-top: 2px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:last-child>img {
        height: 12px;
    }
 }
 @media screen and (min-width: 1000px) {
    .brand-logos-section .brand-logos-carousal-band>a:first-child>img {
        height: 18px;
        margin-top: -5px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
        height: 20px;
        margin-top: 4px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(3)>img {
        height: 8px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(4)>img {
        height: 11px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(5)>img {
        height: 10px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(6)>img {
        height: 20px;
        margin-top: -5px;
    }
    .footer-component-ihcl .brand-icon {
        height: 11px;
    }
    .brand-logos-section .brand-logos-carousal-band>a img {
        margin-right: 0.5rem;
    }
}

 @media screen and (min-width: 1200px) {
    .brand-logos-section .brand-logos-carousal-band>a:first-child>img {
        height: 20px;
        margin-top: -6px;
    } 
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
        height: 20px;
        margin-top: 4px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(4)>img {
        height: 10px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(5)>img {
        height: 10px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(6)>img {
        height: 20px;
        margin-top: -5px;
    }
}

@media screen and (min-width: 1300px) {
    .brand-logos-section .brand-logos-carousal-band>a:first-child>img {
        height: 22px;
        margin-top: -6px;
    } 
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
        height: 26px;
        margin-top: 4px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(3)>img {
        height: 10px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(4)>img {
        height: 14px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(5)>img {
        height: 12px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:nth-child(6)>img {
        height: 24px;
        margin-top: -5px;
    }
    .footer-component-ihcl .brand-icon {
        height: 14px;
    }
}

@media screen and (min-width: 1400px) {
    .brand-logos-section .brand-logos-carousal-band>a:first-child>img {
        height: 26px;
        margin-top: -6px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(2)>img {
        height: 28px;
        margin-top: 5px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(3)>img {
        height: 11px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(4)>img {
        height: 14px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(5)>img {
        height: 13px;
    }
    

    .brand-logos-section .brand-logos-carousal-band>a:nth-child(6)>img {
        height: 26px;
        margin-top: -6px;
    }
    .brand-logos-section .brand-logos-carousal-band>a:last-child>img {
        margin-top: -2px;
        height: 15px;
    }
    .footer-component-ihcl .brand-icon {
        height: 14px;
    }
}

.icon-STAR-TAJ:before {
    font-size:45px;
}

.cm-warning-box-heading-text {
    color: #002b49 !important;
    font-family:Calibri;
    font-size:16px;
    
}

.cm-btn-primary {
   color: #002b49 !important; 
   border: solid 1px #002b49 !important; 
}
.icon-close:before {
    color: #002b49 !important;
}

.warning-icon-con img{
    width:26px;
    
}
.warning-icon-con{
	display:none;
      right: -8px;
    top: 12px;
}
@media only screen and (max-width:767px) {
.warning-icon-con img{
    width:22px;
}
.warning-icon-con{
   right: 0px;
   top: 25px;
}
.icon-STAR-TAJ:before {
    font-size:35px;
}
.cm-warning-box-heading-text {
    font-size:12px;
}

.spec-about-city-subheader {
    font-family: Calibri-bold;
    margin-bottom: 9px;
    margin-bottom: 0.5625rem;
}

.about-city-carousel-images-mobile {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .ihcl-theme .footer-component-ihcl .ihcl-footer-links-list .footer-link > a{
        color: #212529;
        font-family: "Calibri-Bold";
    } 
    .ihcl-theme .footer-component-ihcl .ihcl-footer-links-list .footer-link .footer-link-content-list a {
        color: #898989;
        font-size: 14px;
        letter-spacing: 0.6px;
    }
    .ihcl-theme .footer-component-ihcl .ihcl-footer-content-section .ihcl-footer-content-links .footer-link a,
    .ihcl-theme .footer-component-ihcl .label-footer-input,
    .ihcl-theme .footer-brands-logo-inner-wrap div:first-child {
        color: #000000;
        font-family: "Calibri-Bold";
    }
}