.mr-employee-container{
	margin-top:1rem;
}
.guest-card-component {
    height:23.625rem;
    text-align: center;
    border-radius: 3px;
    background-color: #ffffff;
    padding: 1.25rem;
    color: #000000;
    display: inline-block;
    margin-bottom: 0.625rem;
    vertical-align: top;
}

@media only screen and (max-width: 767px) {
    .guest-card-component {
        height: unset;
        padding: unset;
    }
}

.guest-card-component .card-header {
    border: none;
    background-color: white;
    padding: 0;
}

@media only screen and (max-width: 767px) {
    .guest-card-component .card-header {
        font-size: 1rem;
        display: inline-block;
        width: 70%;
        padding: 0 0.5rem;
    }
}

.guest-card-component .line {
    display: inline-block;
    width: 2.25rem;
    height: 2px;
    background-color: var(--primaryColor);
    margin: 0 auto;
    margin-top: 0.625rem;
}

@media only screen and (max-width: 767px) {
    .guest-card-component .line {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .guest-card-component .line {
        margin-top: 6px;
        vertical-align: top;
    }
}

.guest-card-component .guest-quote {
    line-height: 1.25rem;
    margin: 1.125rem;
    font-family: Calibri;
    font-size: ;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .guest-card-component .guest-quote {
        font-size: 0.875rem;
        line-height: normal;
    }
}

@media only screen and (max-width: 767px) {
    .guest-card-component .guest-quote {
        font-size: 1rem;
        text-align: left;
    }
}

.guest-card-component .guest-card-footer {
    background-color: white;
    border: none;
    padding: 0;
    margin-top: 1.25rem;
}

.guest-card-component .guest-card-footer .guest-photo {
    margin-bottom:0.875rem;
}

.guest-card-component .guest-card-footer .guest-photo img {
    width: 7rem;
    height: 7.1875rem;
    border-radius: 50%;
}

@media only screen and (max-width: 767px) {
    .guest-card-component .guest-card-footer .guest-photo img {
        width: 2.875rem;
        height: 2.875rem;
        border-radius: 50%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .guest-card-component .guest-card-footer .guest-photo {
        margin-bottom: unset;
    }

    .guest-card-component .guest-card-footer .guest-photo img {
        width: 2.375rem;
        height: 2.4375rem;
    }
}

.guest-card-component .guest-card-footer .guest-name {
    display: block;
    font-family: Calibri;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .guest-card-component .guest-card-footer .guest-name {
        line-height: normal;
    }
}

.guest-card-component .guest-card-footer .social-media-link {
    display: block;
    font-family: Calibri;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .guest-card-component .guest-card-footer .social-media-link {
        line-height: normal;
    }
}

@media only screen and (max-width: 767px) {
    .guest-card-component .guest-card-footer {
        margin: 0.625rem;
        display: inline-block;
        width: 30%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .guest-card-component .guest-card-footer {
        margin-top: unset;
    }
}

@media only screen and (max-width: 767px) {
    .guest-card-component {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .guest-card-component {
        height: 17rem;
        padding: 0.5rem 0.875rem;
    }
}

@media only screen and (max-width: 767px) {
    .quotation-marks {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .quotation-marks {
        margin-bottom: 0px;
    }
}

.quotaion-img {
    width: 2.5rem;
    height: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .quotaion-img {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .quotaion-img {
        width: 1.5625rem ! important;
        height: 1.125rem ! important;
    }
}

.guest-individual-card-backFront-wrapper {
    position: relative;
    margin-right: 16px;
    margin-right: 1rem;
    display: inline-block;
    vertical-align: top;
}

@media only screen and (max-width: 767px) {
    .guest-individual-card-backFront-wrapper {
        width: 100%;
        margin-right: unset;
        height:100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    .guest-individual-card-backFront-wrapper {
        margin-right: 0.8rem;
    }
}

@media only screen and (max-width: 767px) {
    .back-side-card {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -ms-flex-align: center;
        align-items: center;
        border: unset;
        height:100%;
    }
}

.guest-speak-header {
    font-family: Calibri;
    font-size: 1.875rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1b1b1b;
}

@media only screen and (max-width: 767px) {
    .guest-card3 {
        padding-left: unset;
        margin: unset;
    }
}
.card-footer.guest-card-footer small, .card-footer.guest-card-footer .social-media-link{
    font-size:1rem;
}
@media only screen and (max-width: 767px) {
	.card-footer.guest-card-footer small, .card-footer.guest-card-footer .social-media-link{
    line-height:1.1;
    display:block;
}
.card-footer.guest-card-footer small{
    margin-bottom:0.25rem;
}
}