.ama-theme .cm-local-details-container .cm-local-details .loc-details-close-cont .showMap-close {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 25px;
    right: 25px;
}
.ama-theme .cm-local-details-container .cm-local-details .loc-details-wrapper {
                        padding: 25px;}

.ama-theme .loc-details-wrapper .specific-city-header {
    font-size: 18px;
                    margin-bottom:20px;
        }
.act-cards-container{
    
    align-content: space-between;
    padding: 0px 0px 20px 0px;
}
.card-wrapper:nth-child(odd) {
    margin-right: 15px;
    margin-right: 0.9375rem;
}

.card-wrapper:nth-child(even) {
    margin-left: 15px;
    margin-left: 0.9375rem;
}

.card-heading{
  height: 24px;
  font-size: 20px;;
  letter-spacing: 0.56px;
  font-family: var(--themeHeadingFontSemiBold);
  line-height: 1;
  padding-bottom: 0.625rem;
   margin-bottom: 15px;
}

.description-wrap{
	padding: 20px 40px;
}

.card-wrapper {
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  position: relative;
  margin-bottom: 30px;
}

.act-space{
	margin-top:20px;
}

.card-image{
  width: 100%;
  height: 280px;
}


.card-content {
  width: 100%;
  min-height: 70px;
    font-family: var(--themeContentFontRegular);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom:20px;
}

.cm-local-details-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 1000;
    overflow: auto;
}

.cm-local-details-container .active {
    display: block !important;
}

.cm-local-details-container .cm-local-details-overLay.bas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(74, 74, 74, 0.55);
}

.cm-local-details-container .cm-local-details {
    position: absolute;
    width: 55%;
    background: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
    height: fit-content;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container .cm-local-details {
        width: 90%;
        top: 5%;
        height: fit-content;
    }
}

.cm-local-details-container .cm-local-details .loc-details-close-cont {
    height: 38px;
    height: 2.375rem;
    width: 100%;
}

.cm-local-details-container .cm-local-details .loc-details-close-cont .showMap-close {
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    position: fixed;
    top: 10%;
    right: 25%;
    z-index: 1;
    cursor: pointer;
}
@media only screen and (max-width: 991px) and (min-width: 767px){
    .cm-local-details-container .cm-local-details .loc-details-close-cont .showMap-close {
    right: 7%;
    top: 8%;
}
}
@media only screen and (max-width: 767px) and (min-width: 320px){

    .cm-local-details-container .cm-local-details .loc-details-close-cont .showMap-close {
        right: 10%;
        top: 8%;
    }
    .cm-local-details-container .cm-local-details .loc-details-close-cont .showMap-close{
        width: 1rem;
        height: 1rem;
    }
}

.cm-local-details-container .cm-local-details .loc-details-wrapper {
    margin: 20px 50px 50px;
    margin: 1.25rem 3.125rem 3.125rem;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper {
        margin: 1.25rem;

    }
}

@media only screen and (max-width: 480px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-details-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (min-width: 992px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-details-container {
        padding-right: 0.375rem;
    }
}

@media only screen and (max-width: 480px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (min-width: 992px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container {
        padding-left: 0px;
        height: 250px;
    }
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container {
        margin-top: 0.875rem;
        height: 200px;
    }
}

.cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container img {
    width: 100%;
    height: 100%;
}
.cm-local-details-container.mr-profile-popup .cm-local-details {
    position: relative;
    top: 6%;
    bottom: 6%;
    overflow: hidden;
}

.cm-local-details-container.mr-profile-popup .cm-local-details {
    overflow-y: auto!important;
}

.filter-activity-wrap{
	display: flex;
    justify-content: flex-end;
    margin-right: 2.5rem;
}

#actfilterBySelectBoxIt{
	border: none;
    background: none;
}

.selectSubContainer {
	border-bottom: 2px solid rgba(27, 27, 27, 0.3);
	width: 150px;
	display: inline-block;
}

.selectSubContainer .selectboxit-container * {
	font-family: Calibri;
}

.selectSubContainer .selectboxit-container {
	width: 100%;
	font-family: Calibri;
}

.selectSubContainer .selectboxit-container .selectboxit {
	background: transparent;	
	background-repeat: no-repeat;
	background-position: 98.5% 50%;
	width: 100% ! important;
	border: none;
	border-radius: 0;
	color: var(--primaryColor);
	font-size: 20px ! important;
	font-family: Calibri;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.selectSubContainer .selectboxit-container .selectboxit {
		background: transparent;		
		background-repeat: no-repeat;
		background-position: 98.5% 50%;
		color: #9e9e9e;
		font-size: 20px !important;
	}
}

.selectSubContainer .selectboxit-container .selectboxit-option-icon-container
	{
	margin-left: 0px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.selectSubContainer .selectboxit-container .selectboxit-option-icon-container
		{
		margin-left: 5px !important;
	}
}

.selectSubContainer .selectboxit-option, .selectSubContainer .selectboxit-optgroup-header
	{
	text-indent: 3px;
}

.selectSubContainer .selectboxit-text {
	font-size: 16px !important;
	font-family: Calibri;
}

@media only screen and (max-width: 991px) {
	.selectSubContainer .selectboxit-text {
		font-size: 20px !important;
	}
}

.ama-theme .selectSubContainer .selectboxit-list>.selectboxit-focus>.selectboxit-option-anchor
	{
	background: #ffffff;
	
	color: var(--primaryColorLighter);
	font-weight:bold;
	margin: 0 -7px;
	padding: 0 9px;
}

.selectSubContainer .selectboxit-list a {
	font-size: 20px !important;
	color: grey;
	font-family: Calibri;
	border-bottom: solid 1px #ebebeb;
}

.selectSubContainer .selectboxit-options a {
	height: 40px;
	line-height: 40px;
}

.selectSubContainer .selectboxit-option-first {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.selectSubContainer .selectboxit-option-last {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.selectSubContainer .selectboxit-container {
	font-family: Calibri;
	font-size: 16px;
	color: var(--primaryColor);
}

.selectSubContainer .selectboxit-container .selectboxit-options {
	border-radius: 0;
	box-shadow: 0 7px 14px 0 #9b9b9b;
	padding: 0 7px;
	padding: 0 0.4375rem;
	width: 100%;
}

@media only screen and (max-width: 991px) {
	.selectSubContainer .selectboxit-container {
		font-size: 14px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.selectSubContainer {
		width: 100%;
		border-bottom: 1px solid var(--primaryColor);
	}
}
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    margin-top: -8px;
}
.ama-theme .card-wrapper .description-wrap .cm-btn-secondary{
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
}

.ama-theme.home-page-layout .act-cards-container .combo-div{
	display:none !important;
}
.ama-theme.home-page-layout .act-cards-container .combo-div:nth-child(1),.ama-theme.home-page-layout .act-cards-container .combo-div:nth-child(2){
	display:block !important;
}
.view-all-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.view-all-right-arrow{
    display: block !important;
    transform: rotate(-90deg);
    padding-left: 4px;
}
.view-all-text{
    color: var(--primaryColor);
    font-weight: bold;
}
.cm-rotate-show-more-icon{
    transform: rotate(180deg);
    padding: 0px 5px 0px 0px;
}
.act-cards-container{
    overflow: hidden;
    padding: 0px;
}
.activities-show-more{
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryColor);
    cursor: pointer;
    text-decoration: none;
}
.icon-drop-down-arrow{
    padding: 0px 0px 5px 5px;
}
.no-display-show-more{
    display: none;
}
.ama-theme.home-page-layout .act-cards-container .combo-div{
	display: block !important;
}
.activityPage .filter-activity-wrap .selectSubContainer .selectboxit-text{
    display:inline-block;
    font-family: var(--themeHeadingFontSemiBold);
    font-size: 14px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 1px;
    color: #333;
}

.activityPage .filter-activity-wrap .selectSubContainer{border-bottom:0;    min-width: 170px;}
.activityPage .filter-activity-wrap .actFilterHeading{    
    font-size: 14px !important;
    display: inline-block;
    margin-top: -10px;
    position: relative;
    
}

.card-wrapper:nth-child(odd){
    margin-right: 0rem;
}

.combo-div:nth-child(odd) .card-wrapper{
    margin-right: 0.9375rem;
}

.ama-theme .card-heading{
    height: auto;
    padding-bottom: 0px;
}

.ama-theme .description-wrap{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-around;
}
.ama-activities-list .container{
    position:relative;
}
.ama-activities-list .filter-activity-wrap{
	    position: absolute;
    right: 0;
    top: -22px;
    margin-right: 0;
}
.ama-activities-list .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    margin-top: -15px;
}
.ama-activities-list .combo-div:nth-child(odd) .card-wrapper {
    margin-right: 0;
}
.ama-activities-list{padding-bottom: 30px;}
@media only screen and (min-device-width: 320px) and (max-device-width:767px) {

    .combo-div:nth-child(odd) .card-wrapper{
        margin-right: 0rem;
    }
        
    .ama-theme .description-wrap{
        padding: 20px;
        height: 230px;
    }
	.ama-activities-list .filter-activity-wrap {
       position: absolute;
    padding: 0 15px;
    width: 100%;
    right: 0;
    top: 65px;
    display: block;
    margin-right: 0;
    }
    .ama-activities-list .filter-activity{
        display:flex;
    }
    .activityPage .filter-activity-wrap .actFilterHeading {
    font-size: 14px !important;
    width: 40%;
    margin-top: 0;
    position: relative;
    top: 0;
    }
    .activityPage .text-title{
    padding-bottom: 60px;
    padding-top: 20px;

	}
}
.cm-local-details-container.mr-profile-popup .mr-inner-popup-container{
    margin-left: 0px;
    height: 100%;
}
.loc-details-container .specific-city-header-wrapper{
    margin-top: 0.875rem;
}
.loc-details-wrapper .specific-city-header{
    margin-bottom: 0.875rem;
}
.cm-local-details-container.mr-profile-popup .loc-details-close-cont{
    height: initial !important;
    width: initial;
}
.cm-local-details-container.mr-profile-popup .loc-details-wrapper{
    margin: 0 !important;
    height: max-content;
}

.actCardContent p{display:none;}
.actCardContent p:first-of-type{display:block;}

.home-page-layout .ama-activities-list {
   padding-bottom: 0;
}
