.accordion-container{
	background-color:transparent;
    padding-top: 20px;
}

.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  margin-top:0px;
  margin-bottom: 25px;
}
.set > .description-heading{
  display: block;
  cursor:pointer;
  padding: 15px 15px;
  text-decoration: none;
  box-shadow: 0 8px 22px -1px rgba(0, 0, 0, 0.08);
  background-color: #f6f6f6;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
  letter-spacing: 1px;
  font-family: var(--themeContentFontBold);
}

.set > .description-heading .down-arrow{
     background-image: url("/content/dam/tajhotels/icons/ama/up-arrow.png");
 float: right;
  margin-top: 2px;
    width:26px;
    height:26px;
}
.set > .description-heading .up-arrow{
     background-image: url("/content/dam/tajhotels/icons/ama/down-arrow.png");
 float: right;
  margin-top: 2px;
    width:26px;
    height:26px;
}
/*.set > .description-heading.active{
  background-color:#3399cc;
  color: #fff;
} */
.content{
  display:none;
}
.content p,.content li{
  padding: 10px 15px;
  font-family:Montserrat-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  color: #333333;
}

.sitemap-ama-acc .content{
	padding:20px;
    clear:both;
    overflow:hidden;
}
.sitemap-ama-acc .content p, .sitemap-ama-acc .content li {
        padding: 0;}
.sitemap-ama-acc .content li{
    width: 50%;
    line-height: 50px;
    float: left;
}
.sitemap-ama-acc .content ul{
	width:50%;
    padding-left:50px;
    float:left;   
	position:relative;    
}
.sitemap-ama-acc .content ul:first-of-type{
	padding-left:0;
}
.sitemap-ama-acc .content ul:first-of-type:after{
	content:"";
    position:absolute;
                width:1px; 
                height:60%;
                right:0;
                top:50%;
                transform:translate(-50%, -50%);
    background:#979797;

}
.sitemap-ama-acc .content ul:last-of-type:after{
	display:none;
}

.sitemap-ama-acc .content ul li a{ 
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 1px;
}
.sitemap-ama-acc .content ul h3 a{
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.56px;
  color: var(--primaryTextColor);
}

.description-heading {
    font-size: 20px;
}