.monthly-event-card:nth-child(odd) .monthly-even-card-container {
    margin-right: 15px;
    margin-right: 0.9375rem;
}

.monthly-event-card:nth-child(even) .monthly-even-card-container {
    margin-left: 15px;
    margin-left: 0.9375rem;
}

.monthly-event-card:nth-last-child(1),
.monthly-event-card:nth-last-child(2) {
    margin-bottom: 0px;
    margin-bottom: 0rem;
}

.monthly-event-card {
    padding: 0px;
    padding: 0rem;
    /*margin-bottom: 30px;
    margin-bottom: 1.875rem;*/
    padding-bottom: 30px;
    padding-bottom: 1.875rem;
}

.monthly-event-card .monthly-even-card-container {
    border: none;
    background-color: #ffffff;
    box-shadow: 0 0.625rem 0.75rem 0 rgba(0, 0, 0, 0.05);
    height: 100%;
    position: relative;
}

.monthly-event-card .monthly-even-card-container .card-header {
    padding-top: 18px;
    padding-top: 1.125rem;
    padding-bottom: 16px;
    padding-bottom: 1rem;
    background-color: #ffffff;
    border: none;
    text-align: center;
    box-shadow: 0 -0.625rem 0.75rem 0 rgba(0, 0, 0, 0.05);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
}

.monthly-event-card .monthly-even-card-container .card-header .offer-icon {
    width: 18px;
    width: 1.125rem;
    height: 18px;
    height: 1.125rem;
    vertical-align: middle;
    font-size: 1.5rem;
}

.monthly-event-card .monthly-even-card-container .card-header .offer-timings {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-left: 0.3125rem;
    margin-bottom: 0;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 0.89;
    color: #323232;
}

.monthly-event-card .monthly-even-card-container .card-header .offer-timings .offer-timings-shorter-text {
    display: none;
}

@media only screen and (max-width: 767px) {
    .monthly-event-card .monthly-even-card-container .card-header .offer-timings .offer-timings-regular-text {
        display: none;
    }

    .monthly-event-card .monthly-even-card-container .card-header .offer-timings .offer-timings-shorter-text {
        display: inline;
    }
}

.monthly-event-card .monthly-even-card-container .card-header .ticket-info-mobile {
    display: none;
    float: right;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #d0021b;
    margin-top: 6px;
    margin-top: 0.375rem;
}

.monthly-event-card .monthly-even-card-container .card-image {
    width: 100%;
    height: 410px;
    height: 25.625rem;
}

@media only screen and (max-width: 991px) {
    .monthly-event-card .monthly-even-card-container .card-image {
        height: 18.3125rem;
    }
}

.monthly-event-card .monthly-even-card-container .card-footer {
    padding: 30px;
    padding: 1.875rem;
    border: none;
    background-color: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

@media only screen and (max-width: 991px) {
    .monthly-event-card .monthly-even-card-container .card-footer {
        /*padding: 0.875rem 1.25rem 1.1875rem 0.75rem;*/
        padding: 1.5rem;
    }
}

.monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp {
    display: inline-block;
    vertical-align: bottom;
    /*width: 50%;*/
    /*margin-right: 5px;
    margin-right: 0.3125rem;*/
    width: 60%;
    padding-right: 0.3125rem;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp {
        width: 40%;
    }
}

.monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-title {
    font-family: Calibri;
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 1;
    color: #323232;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

@media only screen and (max-width: 991px) {
    .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-title {
        font-size: 1.25rem;
        margin-bottom: 0.3125rem;
    }
}

.monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-venue {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #585656;
}

@media only screen and (max-width: 375px) {
    .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-venue {
    /*Added by Nixon*/
        font-size: 0.75rem;
        width: auto;
    }
}

.monthly-event-card .monthly-even-card-container .card-footer .event-info-right {
    display: inline-block;
    /*float: right;*/
    position: relative;
    width: 40%;
    text-align: right;
    position: absolute;
    right: 1.875rem;
    bottom: 1.875rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .monthly-event-card .monthly-even-card-container .card-footer .event-info-right {
        /*padding-bottom: 1.25rem;*/
        /*width: 45%;*/
        text-align: right;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

.monthly-event-card .monthly-even-card-container .card-footer .event-info-right .event-tickets-info {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #d0021b;
    padding: 15px 5px;
    padding: 0.9375rem 0.3125rem;
    min-width: 100px;
    min-width: 6.25rem;
    text-align: center;
    border-left: solid 1px #979797;
}

@media only screen and (max-width: 991px) {
    .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .event-tickets-info {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        font-size: 0.875rem;
        padding-bottom: 0;
        padding-top: 2.5rem;
        text-align: right;
    }
}

.monthly-event-card .monthly-even-card-container .card-footer .event-info-right .view-details-button {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
    letter-spacing: 0.1125rem;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .view-details-button {
        /*font-size: 0.775rem;
        height: 1.875rem !important;*/
        position: relative;
    }
}

@media only screen and (max-width: 425px) {
    .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .view-details-button {
    /*width: 120/@rem;*/
    /*Commented by nixon*/
    }
}

@media only screen and (max-width: 375px) {
    .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .view-details-button {
    /*Added by Nixon*/
        font-size: 0.75rem;
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .monthly-event-card:nth-last-child(2) {
        margin-bottom: 1.25rem;
    }
    
    .monthly-event-card .monthly-even-card-container .card-footer .event-info-right {
    	width: 50%;
    	bottom: 1rem;
    	right: 1rem;
    }
    
    .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp {
    	width: 50%;
    }

    .monthly-event-card:nth-child(odd) .monthly-even-card-container {
        margin-right: 0rem;
    }

    .monthly-event-card:nth-child(even) .monthly-even-card-container {
        margin-left: 0rem;
    }

    .monthly-event-card {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1.25rem;
        padding: 0rem !important;
    }

    .monthly-event-card .monthly-even-card-container .card-header {
        padding: 0.9375rem 0.8125rem 1.0625rem;
        text-align: left;
    }

    .monthly-event-card .monthly-even-card-container .card-header .offer-timings {
        font-size: 1rem;
    }

    .monthly-event-card .monthly-even-card-container .card-header .ticket-info-mobile {
        display: block;
    }

    .monthly-event-card .monthly-even-card-container .card-image {
        height: 17.375rem;
    }

    .monthly-event-card .monthly-even-card-container .card-footer {
        padding: 1rem;
    }

    .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-title {
        font-size: 1.375rem;
        margin-bottom: 0.375rem;
    }

    .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .event-tickets-info {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .monthly-event-card .monthly-even-card-container .card-header {
        padding: 0.9375rem 6.875rem 0.8125rem 0.8125rem;
        text-align: left;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        position: relative;
    }

    .monthly-event-card .monthly-even-card-container .card-header .offer-timings {
        font-size: 1rem;
        text-align: left;
        line-height: 1.2;
        margin-left: 0.53125rem;
    }

    .monthly-event-card .monthly-even-card-container .card-header .ticket-info-mobile {
        display: block;
        margin-top: 0rem;
        line-height: 1.2;
        position: absolute;
        right: 0.8125rem;
        top: 0.9375rem;
    }

    .monthly-event-card .monthly-even-card-container .card-footer {
        padding: 1rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: flex-end;
        align-items: flex-end;
    }

    .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-title {
        font-size: 1.4375rem;
        margin-bottom: 0.375rem;
    }

    .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .event-tickets-info {
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-title {
        font-size: 1.125rem;
    }
}
