/* .related-news {
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.06);
}
 */
.related-news-label {
    font-family: Calibri;
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 24px;
    line-height: 1.5rem;
    color: #323232;
}

.related-news-date {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.38rem;
    color: #999999;
}

.related-news-description {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.30rem;
    color: #4a4a4a;
    margin-top: 5px;
}

.related-news-footer {
    display: block;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    background-color: white;
    padding: 22px;
    padding: 1.375rem;
}

@media only screen and (max-width: 767px) {
    .related-news-label {
        font-size: 1.25rem;
    }

    .related-news-footer {
        padding: 1.125rem;
    }
}

@media only screen and (max-width: 375px) {
    .related-news-label {
        font-size: 1.125rem;
    }

    .related-news-footer {
        padding: 1.125rem;
    }
}

.pressCard-container {
    box-shadow: 0 7px 14px 0 #e5e3e3;
    background-color:white;
}

@media screen and (min-width: 992px) {
    .pressCard-container {
    background-color: white;
    }
}

.pressCard-image-container img {
    height: 100%;
    width: 100%;
}

.pressCard-description-container {
    padding: 13px 20px 30px 20px;
    padding: 0.8125rem 1.25rem 1.875rem 1.25rem;
}

.pressCard-description-container .pressCard-header {
    font-family: Calibri-Bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.25;
    letter-spacing: normal;
    color: #323232;
    word-wrap: break-word;
    word-break: break-all;
}

.pressCard-description-container .pressCard-date {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.38;
    color: #999999;
}

.pressCard-description-container .pressCard-desc {
    margin-top: 5px;
    margin-top: 0.3125rem;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.19;
    color: #4a4a4a;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom:3rem;
}

.pressCard-description-container .pressCard-desc .read-more {
    cursor: pointer;
}

.pressCard-description-container .pressCard-desc a:hover {
    color: var(--primaryColor) !important;
}

.pressCard-wrapper.cm-card-showmore-spacing {
    display: block;
}

.related-news-large {
        min-height: unset;
}



