
.link-container {
  font-family: var(--themeHeadingFontSemiBold);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.79;
  letter-spacing: 1.56px;
  color:var(--primaryColor);
  text-align: center;
  padding:20px 0;
  margin: 0 auto;
}

.link-container a{
  color: var(--primaryColor);
  position: relative;
  z-index: 9;
}

.link-container a:hover {
    text-decoration: none;
}