<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.taj-air-contact-form'}" />
<div class="ihcl-contact-us-form col-12 taj-air-contact-us-form">
    <form class="contact-us mr-sub-form">
        <div>
            <div class="row contact-us-form-cont">
                <div class="contact-form-left col-md-12 col-sm-12 col-lg-6">
                    <div class="sub-form-input-wrp">
                        <div class="sub-form-input-label">FULL NAME*</div>
                        <input id="form-name" class="only-alpha-input sub-form-input-element sub-form-mandatory" type="text"
                            aria-label="Enter FullName" />
                        <div class="sub-form-input-warning"></div>
                    </div>
                    <div class="sub-form-input-wrp">
                        <div class="sub-form-input-label">EMAIL*</div>
                        <input id="form-email" class="email-input sub-form-input-element sub-form-mandatory" type="text"
                            aria-label="Enter email" />
                        <div class="sub-form-input-warning"></div>
                    </div>
                    <div class="sub-form-input-wrp">
                        <div class="sub-form-input-label">SUBJECT*</div>
                        <!-- <div class="jiva-spa-hotel-input package-input-wrp"><input id="form-subject" class="jiva-spa-mand jiva-spa-mand-input sub-form-input-element sub-form-mandatory "  aria-label  = "Hotel Search Bar" placeholder="Search for Hotel or Destination" />
                        <div class="sub-form-input-warning"></div>
                        <ul class="jiva-spa-search-list"></ul>
                    </div> -->
                        <div class="selectSubContainer">
                            <select class="sub-form-input-element sub-form-mandatory" id="form-subject">
                                <option value="">Select</option>
                                <option value="information">Information</option>
                                <option value="career">Career</option>
                                <option value="agent">Agent</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                        <div class="sub-form-input-warning"></div>
                    </div>
                    <div class="package-hotel-search-wrp package-input-container  sub-form-input-wrp">
                        <div class="package-hotel-search-label package-label sub-form-input-label">COUNTRY*</div>
                        <div class="jiva-spa-hotel-input package-input-wrp">
                            <input id="form-country"
                                class="jiva-spa-mand jiva-spa-mand-input sub-form-input-element sub-form-mandatory "
                                placeholder="Enter the Country" aria-label="Enter Country" />
                            <div class="sub-form-input-warning"></div>
                            <ul class="jiva-spa-search-list"></ul>
                        </div>
                    </div>
                </div>
                <div class="contact-form-right col-md-12 col-sm-12 col-lg-6">
                    <div class="sub-form-input-wrp">
                        <div class="sub-form-input-label">ORGANISATION*</div>
                        <input id="form-organization" class="only-alpha-input sub-form-input-element sub-form-mandatory"
                            type="text" aria-lebel="Enter Organisation" />
                        <div class="sub-form-input-warning"></div>
                    </div>
                    <div class="package-hotel-search-wrp package-input-container  sub-form-input-wrp">
                        <div class="sub-form-input-label">TELEPHONE*</div>
                        <div class="phone-number-row">
                            <div class="phone-number-col">
                                <input id="form-phone"
                                    class="limit-phone-number only-numeric-input sub-form-input-element sub-form-mandatory"
                                    type="tel" maxlength="15" aria-label="Enter Telephone" />
                                <div class="sub-form-input-warning"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-form-input-wrp">
                        <div class="sub-form-input-label">COMMENT</div>
                        <textarea id="form-feedback" class="sub-form-text-area" name="description" form="usrform"> </textarea>
                    </div>
                </div>
            </div>
            <div data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
            <div class="request-quote-submit-wrapper">
                <div class="mandatory-text">* Mandatory</div>
                <button class="cm-btn-secondary" type="button" id="submit-btn-contact-us">SUBMIT</button>
                <button class="cm-btn-primary clear-btn" type="button">CLEAR</button>
            </div>
        </div>
    </form>

    <div class="hotels-event-confirmation-popup">
        <div class="hotels-event-confirmation-overlay">
            <div class="hotels-event-confirmation-container">
                <div class="hotels-event-confirmation-inner-wrp container">
                    <img class="event-confirmation-close-icon" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg"
                        alt="close blue icon" />
                    <div class="cm-warning-box-logo-con">
                        <i class="toaster-logo icon-STAR-TAJ"></i>
                        <div class="warning-icon-con"></div>
                    </div>
                    <div class="event-confirmation-title">Thank you for your Request</div>
                    <div class="event-confirmation-descripion">Thank you for your interest. We will get back to you
                        within 48 hours</div>
                    <button class="cm-btn-secondary event-confirmation-close-btn" type="button">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="hotels-event-error-popup">
        <div class="hotels-event-error-overlay">
            <div class="hotels-event-error-container">
                <div class="hotels-event-error-inner-wrp container">
                    <img class="event-error-close-icon" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg"
                        alt="close blue icon" />
                    <div class="cm-warning-box-logo-con">
                        <i class="toaster-logo icon-STAR-TAJ"></i>
                        <div class="warning-icon-con">
                            <img class="icon-warning" src="/content/dam/tajhotels/icons/style-icons/icon-warning.svg"
                                alt="warning icon">
                        </div>
                    </div>
                    <div class="event-error-title">500</div>
                    <div class="event-error-descripion">Server responded with a 500 Error, Kindly Check back later</div>
                    <button class="cm-btn-secondary event-confirmation-close-btn" type="button">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="spinner-con">
        <div class="taj-loader pg-spinner-wrap">
            <div class="taj-loader-circle"></div>
            <div class="taj-loader-circle"></div>
            <div class="taj-loader-circle"></div>
        </div>
    </div>
</div>