<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.local-area-about-card-component'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<div data-sly-test="${wcmmode.edit}">Local Area About Card Component</div>
<div class="sustainability-container sustainability-container-show-more-wrapper" style="margin-top: 35px;">
    <div class="sustainability-wrap">
        <div class="sustainability-card-wrap ihcl-card-wrap">
            <div class=" sustainability-card-whole-wrapper row">
                <div class="specific-city-image-conatiner col-lg-4 col-md-6 col-sm-12">
                    <div class="mr-safari-image image-container">
                        <sly
                            data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.image, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='img-responsive sustainability-img'}" />
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 sustainability-content-wrap safari-details-wrap">
                    <div>
                        <h2 class="s-card-title">${properties.title}</h2>
                        <p class="so-card-subtitle"></p>
                        <div class="desc-section-corporatelist">
                            <div class="rooms-suites-description">${properties.description @context='html'}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
