<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='taj.hotels.components.campaign-banner-carousel'}" />
<div data-sly-test="${wcmmode.edit}">
   Campaign Banner Carousel Component
</div>
<sly data-sly-test.concatenated="${['#',properties.carousalId ? properties.carousalId : 'bannerCarousel'] @ join = ''}"/>
<input type="hidden" id="fullHeight" value="${properties.fullHeightBanner}"/>
<input type="hidden" id="bannerHeightAuto" value="${properties.bannerHeightAuto}"/>
<section class="${properties.fullHeightBanner ? 'hotel-carousel-section full-height-carousal' : 'hotel-carousel-section'}">
    <div class="carousel slide" id="${properties.carousalId ? properties.carousalId : 'bannerCarousel'}" data-ride="carousel">
        <ol class="carousel-indicators mr-carousel-dots" data-sly-list="${resource.children}">
            <sly data-sly-list="${item.children}">
                <li data-sly-test="${itemList.first}" class="active" data-target="${concatenated}" data-slide-to="${itemList.index}"></li>
                <li data-sly-test="${!itemList.first}" data-target="${concatenated}" data-slide-to="${itemList.index}"></li>
            </sly>
        </ol>
        <div class="${properties.imageFill ? 'carousel-inner mr-carousel-wrap imageFill' : 'carousel-inner mr-carousel-wrap'}" 
        data-sly-list="${resource.children}">
            <sly data-sly-list="${item.children}">
                <sly data-sly-test.totalItemCount="${itemList.count}"></sly>
                <div data-sly-test="${itemList.first}" class="carousel-item active">
				<div class="${properties.bannerHeightAuto ? 'banner-carousel-each-wrap height-auto' : 'banner-carousel-each-wrap'}" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                        <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= item.bannerImage, mobileImage= item.mobileImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', heightAuto= properties.bannerHeightAuto}"></sly>
                        <div class="banner-image-tint"></div>
                        <div class="mr-carousel-image-contents-wrapper" >
							<div class="${properties.textTransition ? 'campaign-banner-content' : ''}">
                            <h1 class="mr-offers-and-promotions">${item.bannerTitle @ context='html'}</h1>
                            <div class="mr-innerCircle-member-offers">
                                <span class="mobile-display-none">${item.bannerDescDesk @ context='html'}</span>
                                <span class="desktop-display-none">${item.bannerDescMob @ context='html'}</span>
                            </div>
                            <sly data-sly-test="${item.booknowhowButton}">
                            <a href="${item.bannerLinkUrl}.html"><button class="cm-btn-secondary mr-visit-hotel mr-campaign-btn">${item.bannerLinkText}</button></a>
                            </sly>

                            <sly data-sly-test="${item.showbutton}">
                            <a href="${item.campaignbannerLinkUrl}.html"><button class="cm-btn-secondary mr-visit-hotel">${item.campaignbannerLinkText}</button></a></sly>
							</div>
                        </div>
                    </div>
                </div>
                <div data-sly-test="${!itemList.first}" class="carousel-item" style="${properties.bannerHeightAuto ? 'height:auto' : ''}">
                    <div class="${properties.bannerHeightAuto ? 'banner-carousel-each-wrap height-auto' : 'banner-carousel-each-wrap'}" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                        <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= item.bannerImage, mobileImage= item.mobileImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', heightAuto= properties.bannerHeightAuto}"></sly>
                        <div class="banner-image-tint"></div>
                        <div class="mr-carousel-image-contents-wrapper">
                            <h1 class="mr-offers-and-promotions campaign-banner-title">${item.bannerTitle @ context='html'}</h1>
                            <div class="mr-innerCircle-member-offers">
                                <span class="mobile-display-none">${item.bannerDescDesk @ context='html'}</span>
                                <span class="desktop-display-none">${item.bannerDescMob @ context='html'}</span>
                            </div>
                            <sly data-sly-test="${item.booknowhowButton}">
                            <a href="${item.bannerLinkUrl}.html"><button class="cm-btn-secondary mr-visit-hotel mr-campaign-btn">${item.bannerLinkText}</button></a>
                           </sly>
                            <sly data-sly-test="${item.showbutton}">
                            <a href="${item.campaignbannerLinkUrl}.html"><button class="cm-btn-secondary mr-visit-hotel">${item.campaignbannerLinkText}</button></a></sly>
                        </div>
                    </div>
                </div>
            </sly>
         </div>
         
         <a class="${totalItemCount > 1 ? 'carousel-control-prev carousel-control' : 'display-none'}"
         href="${concatenated}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
          </a>
          <a class="${totalItemCount > 1 ? 'carousel-control-next carousel-control' : 'display-none'}"
          href="${concatenated}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
          </a>
    </div>
</section>