<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.local-area'}" />
<div
	data-sly-use.info1="com.ihcl.core.models.localarea.LoalAreaListModel">
	<div id="${info1.PlaceToVisitBean.ConciereUniqueName}">
		<div class="cm-local-details-container-pop">
			<div class="cm-local-details-overLay bas-overlay"></div>
			<div class="cm-local-details">
				<div class="loc-details-wrapper row">
					<div class="loc-details-container col-lg-6 col-md-12 col-sm-12">
						<div class="ho-first-section">
							<div class="ho-header">${info1.PlaceToVisitBean.PlaceName}</div>
							<div class="ho-map-link">
								<a class="inline-block ho-hotel-location-link" target="_blank"><img
									class="ho-location-icon ho-cm-icon inline-block"
									src="/apps/tajhotels/components/structure/tajhotels-base-page/clientlib/resources/images/location-icon-brown.svg" alt = "location-icon-brown"/><span
									class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt">${info1.PlaceToVisitBean.Address}</span></a>
							</div>
							<div class="ho-contact-options-con">
								<a class="ho-contact-number hide-in-lg inline-block"
									href="tel:022-28765643"><img
									class="ho-cm-icon ho-contact-icon inline-block"
									src="../../../assets/images/phone-enabled.svg" alt  = "phone-enabled-icon"/>
									<div
										class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">${info1.PlaceToVisitBean.ContactNo}</div></a>
								<div
									class="ho-contact-number hide-in-sm hide-in-md inline-block disabled"><img
									class="ho-cm-icon ho-contact-icon inline-block"
									src="/apps/tajhotels/components/structure/tajhotels-base-page/clientlib/resources/images/phone-disabled.svg" alt  = "phone-disabled-icon"/>
									<div class="inline-block ho-mail-to-txt">${info1.PlaceToVisitBean.PhoneNo}</div>
								</div> <a class="ho-mail-to inline-block local-city"
									href="${info1.placeToVisit.ContactMailId}"> <img
									class="ho-mail-to-icon ho-cm-icon inline-block"
									src="/apps/tajhotels/components/structure/tajhotels-base-page/clientlib/resources/images/envelope.svg" alt  = "envelope-icon"/>
									<div
										class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">${info1.PlaceToVisitBean.ContactMailId}
									</div>
								</a>
								<div
									class="mr-experinces-details-location conceirge-local ho-mail-to">
									<div>Open :${info1.PlaceToVisitBean.Time}</div>
								</div>
							</div>
							<div class="ho-overview-description">
								<span class="ho-description-txt">${info1.PlaceToVisitBean.Description}</span>
							</div>
						</div>
						<div class="second-section for-desktop">
							<div class="second-section-details-wrapper">
								<div class="sec-img-cont">
									<img
										src="/apps/tajhotels/components/structure/tajhotels-base-page/clientlib/resources/images/david.jpg" alt  = "david-icon"/>
								</div>
								<div class="sec-detail-cont">
									<div class="sec-detail-header">${info1.PlaceToVisitBean.ContactName}</div>
									<div class="sec-details-about">
										<div class="sec-det-subheader">${info1.PlaceToVisitBean.ContactType}</div>
										<div class="sec-det-contact-number">${info1.PlaceToVisitBean.ContactNo}</div>
										<div class="sec-det-contact-mail">${info1.PlaceToVisitBean.ContactMailId}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="loc-image-container col-lg-6 col-md-12 col-sm-12">
					<sly data-sly-test.finalImagePath="${info1.PlaceToVisitBean.draggedImagePath ? info1.PlaceToVisitBean.draggedImagePath : info1.PlaceToVisitBean.LocationImage}"/>
						<img type="image/jpeg" src=${finalImagePath}
							alt="local area details" width="100%">
						<source type="image/jpeg" media="(min-width: 9px)"
							src="/apps/tajhotels/components/structure/tajhotels-base-page/clientlib/resources/images/local-museum@mobile.jpg"
							alt="local area details" width="100%" />
					</div>
					<div class="second-section for-mobile">
						<div class="second-section-details-wrapper">
							<div class="sec-img-cont">
								<img
									src="/apps/tajhotels/components/structure/tajhotels-base-page/clientlib/resources/images/david.jpg"
									alt="Some image" />
							</div>
							<div class="sec-detail-cont">
								<div class="sec-detail-header">${info1.PlaceToVisitBean.ContactName}</div>
								<div class="sec-details-about">
									<div class="sec-det-subheader">${info1.PlaceToVisitBean.ContactType}</div>
									<div class="sec-det-contact-number">${info1.PlaceToVisitBean.ContactNo}</div>
									<div class="sec-det-contact-mail">${info1.PlaceToVisitBean.ContactMailId}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>