<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientLib.all @ categories='tajhotels.components.room-details,tajhotels.gallerycarousel'}" />
<sly data-sly-use.roomProperties="${'com.ihcl.core.models.room.RoomPropertiesFetcher' @ path=null}">
    <div class="col-lg-12 col-md-12 col-sm-12 rate-card-wrap"
         data-component-id="room-card"
         data-room-type-name="${roomProperties.roomTypeName}"
         data-bed-room-map="${roomProperties.roomCodeBedTypeMapString}">
        <sly data-sly-use.roomDescriptionLib="/apps/tajhotels/components/content/room-component-template-library/room-description.html"
             data-sly-call="${roomDescriptionLib.roomDescription @ roomProperties=roomProperties}"/>
        <sly data-sly-use.roomDetailsLib="/apps/tajhotels/components/content/room-component-template-library/room-details.html"
             data-sly-call="${roomDetailsLib.roomDetails @ roomProperties=roomProperties}"/>
    </div>
</sly>
<div class="gallery-carousel-container">
    <div data-sly-resource="${ '{0}' @ resourceType='tajhotels/components/content/gallery-carousel' }"></div>
</div>
