<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.jivaspa,tajhotels.gallerycarousel'}" 
    data-sly-use.jivaSpaModel="com.ihcl.core.models.jivaspa.JivaSpaListModel"/>
<sly
	data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher" />
<sly data-sly-use.urlMap="${'url-map.js' @ reqUrl=jivaSpaModel.jivaSpaBookingLink}" />
<div class="gallery-carousel-container">
	<div
		data-sly-resource="${ '{0}' @  resourceType='tajhotels/components/content/gallery-carousel' }"></div>
</div>
<div data-sly-test.edit=${wcmmode.edit}>
	<h1>Edit to Configure the Jiva Spa Details Component</h1>
</div>
<!--  <div
	data-sly-use.jivaSpaModel="com.ihcl.core.models.jivaspa.JivaSpaListModel"></div>-->
<div data-sly-test="${jivaSpaModel.spaName}" data-sly-unwrap>
	<div data-sly-test.spaName=${jivaSpaModel.spaName}>
		<div class="jiva-spa-card-details-con">
			<div class="jiva-spa-details-desc-con">
				<div class="jiva-spa-details-heading">${jivaSpaModel.spaName}</div>
					  <div class="ho-map-link" >
						<a class="inline-block ho-hotel-location-link" target="_blank"
							href="https://www.google.com/maps/search/?api=1&query=${hotelProperties.hotelLatitude},${hotelProperties.hotelLongitude}"><img
							class="ho-location-icon ho-cm-icon inline-block"
							src="/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg" alt  = "location-icon-brown-icon"/>
							<span
							class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt"><span
								>${hotelProperties.hotelArea}</span>,<span
								>${hotelProperties.hotelCity}</span>,<span
								>${hotelProperties.hotelPinCode}</span></span></a>
					</div>
				<div class="jiva-spa-detail-long-desc-detail">${jivaSpaModel.spaLongDescription @ context='html'}</div>
				<div class="jiva-spa-details-recom-con">
					<div data-sly-test.spaRecommend=${jivaSpaModel.spaRecommendedFor}>
						<div class="jiva-spa-recom-heading">Recommended for</div>
						<div class="jiva-spa-recom-details">
							<div>${jivaSpaModel.spaRecommendedFor  @context='html'}</div>
							<div>Duration - ${jivaSpaModel.spaDuration}</div>
						</div>
					</div>
				</div>
				<div class="jiva-spa-mobile-photo-gallery">
					<div class="jiva-spa-mobile-photo-con clearfix"></div>
				</div>
				<div class="jiva-spa-details-price-con">
					<div data-sly-test.spaBookAppointment=${jivaSpaModel.spaAmount}>
						<!-- <div class="jiva-spa-view-gallery">VIEW GALLERY</div> -->
						<div class="jiva-spa-details-price">
							${jivaSpaModel.spaCurrency} <span id="jivaspaAmount">${jivaSpaModel.spaAmount}</span> <span>*</span>
						</div>
					</div>
					<div data-sly-test.spaName=${jivaSpaModel.spaName}>
						<a href="${urlMap.mappedUrl}${jivaSpaModel.spaName}">
							<button class="cm-btn-secondary jiva-spa-details-book-btn">BOOK
								AN APPOINTMENTHi</button>
						</a>
					</div>
				</div>
			</div>
			<div class="jiva-spa-details-img-con">
				
				<sly data-sly-test.draggedPathImage="${jivaSpaModel.draggedImagePath}">
                        <img
                                src="${draggedPathImage @context='html'}" alt = "Dragged Path Image">
            	</sly>
				
				<sly data-sly-test="${!draggedPathImage}">
					<sly data-sly-list.imagePath="${jivaSpaModel.galleryImagePaths.toString}">
						<sly data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=imagePath}" data-sly-list="${firstImage.options}">
							<img src="${item}" >
						</sly>
					</sly>
				</sly>

				<div class="jiva-spa-details-view-photos-con"
					data-gallery-images=${jivaSpaModel.galleryImagePaths.toString}
					onclick="showGallery(this)">
					<img src="/content/dam/tajhotels/icons/style-icons/lightbox.svg" alt  = "lightbox-icon">
					<span>VIEW PHOTOS (${jivaSpaModel.numberOfImages})</span>
				</div>
			</div>
		</div>
	</div>
</div>