@rem: 16rem;
.mr-investor-card-wrapper.row {
    padding: 40/@rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    @media only screen and (max-width: 991px) {
        padding: 32/@rem;
    }
    @media only screen and (max-width: 767px) {
        padding: 12/@rem 12/@rem 24/@rem;
        margin: 0 15/@rem;
    }
    .mr-investor-card-img.col-5 {
    	height:20rem;
    	background-color:#a9a9a9;
        @media only screen and (max-width: 767px) {
            max-width: 100%;
            padding: 0 !important;
            flex: initial;
            height:15rem;
        }
    }
}

.mr-investors-img {
    height: 100%;
    object-fit: cover;
}

.mr-investors-icon {
    width: 22/@rem;
    vertical-align: baseline;
    display:inline-block;
    text-align:center;
}

.mr-investors-card-details.col-7 {
    padding-left: 55/@rem;
    padding-top: 28/@rem;
    @media only screen and (max-width: 991px) {
        padding-top: 0;
    }
    @media only screen and (max-width: 767px) {
        max-width: 100%;
        flex: initial;
        padding: 0 !important;
        margin-top: 20/@rem;
    }
    .mr-investor-name {
        font-family: Calibri;
        font-size: 30/@rem;
        font-weight: bold;
        line-height: 1.1;
        color: rgb(50, 50, 50);
        margin: 0 0 5/@rem;
        @media only screen and (max-width: 991px) {
            font-size: 26/@rem;
        }
        @media only screen and (max-width: 767px) {
            font-size: 16/@rem;
        }
    }
    .mr-investor-designation {
        margin: 0;
        font-family: Calibri;
        font-size: 24/@rem;
        line-height: 1.13;
        color: rgb(50, 50, 50);
        @media only screen and (max-width: 991px) {
            font-size: 22/@rem;
        }
        @media only screen and (max-width: 767px) {
            font-size: 14/@rem;
        }
    }
    .mr-investors-address {
        margin: 25/@rem 0 30/@rem;
        @media only screen and (max-width: 991px) {
            margin: 18/@rem 0 22/@rem;
        }
        .mr-investor-address-detail {
            margin: 0;
            font-family: Calibri;
            font-size: 20/@rem;
            color: rgb(50, 50, 50);
            line-height: normal;
            @media only screen and (max-width: 767px) {
                font-size: 16/@rem;
            }
        }
    }
}

.mr-investors-contact {
    display: block;
    .mr-investor-contact-txt {
        padding-left: 11/@rem;
        color: var(--primaryColorDark);
        line-height: 1.75;
        font-size: 20/@rem;
        display: inline-block;
        @media only screen and (max-width: 767px) {
            font-size: 16/@rem;
            line-height: 1.5;
        }
    }
}

.mr-investors-contact:hover {
    text-decoration: none;
    color: #fff;
}
i.ihcl-print.icon-print.mr-investors-icon {
    font-size: 1.45rem;
}
i.ihcl-phone.icon-phone-enabled.mr-investors-icon {
    font-size: 1.35rem;
}
.ihcl-icon:before{
	color:#002b49 !important;
}