<div data-sly-test="${wcmmode.edit}">AMP Trending Offers</div>
<!-- Trending Offers -->
<div class="trend-offers" data-sly-use.offerList="com.ihcl.core.models.TrendingOffers">
	<h2 class="component-title ${inheritedPageProperties.sitePath}">${properties.title}</h2>
	<amp-carousel type="carousel" layout="fixed-height" height="600" class="trend-offers-carousel" data-sly-list.listItem="${offerList.getOfferList}">
		<sly data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/amp/trending-offers/offer-card' }"></sly>
	</amp-carousel>
	<div data-sly-test="${properties.viewAllLinkUrl}" class="trend-offers-btn-wrapper">
		<a href="${properties.viewAllLinkUrl}.html">
			<button class="cm-btn-primary" type="button" tabindex="-1">
				${properties.viewAllTitle}
			</button>
		</a>
	</div>
</div>