<template data-sly-template.jivaSpaLocateObj="${@jivaProperties}"> <sly
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.hotel-card, tajhotels.hoteldetails'}" /> <!--hotelCard component markup-->
<div class="col-lg-6 col-md-12 col-sm-12 hotelCard-container-outer-wrap" data-hoteltypes="${jivaProperties.hotelTypes}"
    data-hotelid="${jivaProperties.hotelId}"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <div class="hotelCard-container-wrap">
        <div class="hotelCard-container clearfix">
            <div class="hotelCard-imageWrap">
                <div class="hotelCard-image">
                    <sly
                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath= jivaProperties.imageUrl, lazyload='true'}"></sly>
                </div>
                <div class="rating-container clearfix">
                    <div class="rating">${jivaProperties.reviewScore}</div>
                    <div class="number-of-rating">${jivaProperties.totalReview} Reviews</div>
                </div>
            </div>
            <div class="hotelCard_hotelDetails">
                <div class="hotelDetails-name-wrap clearfix">
                    <div class="hotelDetailsHeading" title=${jivaProperties.hotelName}>${jivaProperties.hotelName}</div>
                    <div class="hotelDetailsLocation">
                        ${jivaProperties.hotelArea},${jivaProperties.hotelCity},${jivaProperties.hotelPinCode}</div>
                    <div class="hotelDetailsLocation-mobile">${jivaProperties.hotelArea},${jivaProperties.hotelCity},${jivaProperties.hotelPinCode}
                    </div>
                    <div class="ho-contact-options-con">
                        <a class="ho-contact-number hide-in-lg inline-block"
                            href="tel:${hotelProperties.hotelStdCode @context='html'}${hotelProperties.hotelPhoneNumber @context='html'}">
                            <i class="icon-phone-enabled ho-cm-icon ho-contact-icon inline-block"></i>
                            <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" itemprop="telephone">
                                ${jivaProperties.hotelStdCode}-${jivaProperties.hotelPhoneNumber}</div>
                        </a>
                        <div class="ho-contact-number hide-in-sm hide-in-md inline-block disabled">
                            <i class="ho-cm-icon ho-contact-icon inline-block icon-phone-disabled"></i>
                            <div class="inline-block ho-mail-to-txt" itemprop="telephone">
                                ${jivaProperties.hotelStdCode}-${jivaProperties.hotelPhoneNumber}</div>
                        </div>
                        <sly data-sly-test="${jivaProperties.jivaSpaEmail}"> <a class="ho-mail-to inline-block"
                            href="mailto:${jivaProperties.jivaSpaEmail @context='html'}"> <i
                            class="icon-envelope ho-mail-to-icon ho-cm-icon inline-block"></i>

                            <div data-sly-test.jivaSpaMailId="${jivaProperties.jivaSpaEmail}"
                                class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">${jivaSpaMailId}</div>
                        </a> </sly>

                        <sly data-sly-test="${!jivaProperties.jivaSpaEmail}"> <a class="ho-mail-to inline-block"
                            href="mailto:${jivaProperties.hotelEmail @context='html'}"> <i
                            class="icon-envelope ho-mail-to-icon ho-cm-icon inline-block"></i>

                            <div data-sly-test.jivaSpaMailId="${jivaProperties.hotelEmail}"
                                class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">${jivaSpaMailId}</div>
                        </a> </sly>


                    </div>
                </div>
                <div class="view-btn-con">
                    <a href="${jivaProperties.jivaSpaPath}">
                        <button class="cm-btn-secondary view-button" tabindex="-1">VIEW DETAILS</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</sly> </template>

