<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='tajhotels.jivaspalocator'}" />

<sly data-sly-test.rootPath="${inheritedPageProperties.siteConfigHomePath}" />
<sly
	data-sly-use.list="${'com.ihcl.core.models.jivaspa.LocateJivaSpaService' @ homePagePath = rootPath}">

<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.hotels.components.participating-hotels'}" />

        

<div class="hotels-container cm-content-blocks offers-search-wrap">
	<div class="participating-hotels fix-participating-hotels">
        <div class="cm-header-label-con title-decorator-border">
            <sly
                data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly>
        </div>
        <div data-sly-use.hotelFilter="com.ihcl.core.models.HotelFilter"
            class="participating-hotels-search">
            <div class="participating-hotels-search-wrap">
                <div class="search-input-section">
                    <img
                        src="/content/dam/tajhotels/icons/style-icons/search-black.svg" alt = "search-black-icon" />
                    <input type="text" placeholder="Search" id=searchInput /> <img
                        class="search-close" aria-label = "Hotel Search Bar"
                        src="/content/dam/tajhotels/icons/style-icons/dropDown.svg" alt = "dropDown-icon"/>
                    <ul class="search-input-suggestions-list"></ul>
                </div>
                <div class="search-filter-section clearfix">
                    <div class="search-filter-section-name">Hotel Type</div>
                    <div class="search-filter-section-choose">
                        <div class="selectSubContainer">
                            <select aria-label="Hotel Type" name="search-filter-section-dropdown" id="search-filter-section-dropdown" class="hotelTypes">
                                <option>Choose</option>
                                <sly
                                    data-sly-list.listItem="${hotelFilter.hotelTypes.keySet.iterator}">
                                <option value="${listItem}">${hotelFilter.hotelTypes[listItem]}</option>
                                </sly>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="search-filter-section clearfix">
                    <div class="search-filter-section-name">Sort By</div>
                    <div class="search-filter-section-choose">
                        <div class="selectSubContainer">
                            <select aria-label="Sort By" name="search-sort-section-dropdown" id="search-sort-section-dropdown" class="sortTypes">
                                <option>Choose</option>
                                <option value="reviewRating">Review Rating</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="results-warning-text-wrapper">
                <span class="results-success">Showing results <span class="results-warning-value"></span></span>
                <span class="results-failed">Sorry, No results found <span class="results-warning-value"></span></span>     
         </div>
		<div class="row participating-hotels-row">
			<sly data-sly-list.listItem="${list.HotelList}"><sly
                data-sly-use.jivaSpaLocateLib="jiva-spa-locator-template.html" /> <sly
                data-sly-unwrap
                data-sly-call="${jivaSpaLocateLib.jivaSpaLocateObj @ jivaProperties=listItem}" />
            </sly>
		</div>
	</div> 
	<div class="participating-hotels-show-more">
		SHOW MORE<img
			src="/content/dam/tajhotels/icons/style-icons/dropDown.svg" alt  = "dropDown-icon"/>
	</div>
</div>

</sly>



