  .specific-hotels-breadcrumb {
        font-size: 1rem;
        font-family: Calibri;
        margin-bottom: 1.5rem;
        a {
            font-weight: bold;
            color: var(--primaryColor);
            text-decoration: underline;
        }
        span {
            color: #4a4a4a;
            margin: 0 0.3125rem;
        }
        span:last-child {
            margin: 0;
        }
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            display: block;
            margin-left: 1rem;
        }
        &.mobile-view-visible {
            display: block;
            background-color: #efeeee;
            margin-bottom: -1.5rem;
            mix-blend-mode: multiply;
            padding-left: 1.6rem;
            margin-top: 1.5rem;
            @media only screen and (min-width: 768px) {
                display: none;
            }
        }
    }

.specific-hotels-breadcrumb.mr-reserve-a-table-breadcrumb {
    .mr-reserve-table-pagenav {
        font-weight: bold;
        color: var(--primaryColor);
        text-decoration: underline;
    }
}
