<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} 
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.sitemap'}" />
<sly data-sly-test.rootPath="${inheritedPageProperties.siteConfigContentPath}" />
<div class="site-map-page content-wrapper container">
    <div class="cm-content-blocks">
        <div class="cm-header-label-con title-decorator-border">
            <h1 class="cm-header-label">SiteMap</h1>
        </div>
        <div class="row">
            <div class="col-12">
            ${properties.heading}
            </div>
        </div>
    </div>
	<sly data-sly-test="${!properties.pageScope}">
	<sly data-sly-use.listModel="${'com.ihcl.core.models.HotelPageList' @rootPath=rootPath}">
    <div class="cm-content-blocks row">
        <div class="col-12">
            <div class="sitemap-category">
                <div class="sitemap-category-heading">
                    ${properties.homepageheading}
                    <span class="sitemap-category-expand-btn">+</span>
                </div>
                <div class="sitemap-category-details">
                    <a class="sitemap-main-link" href="${inheritedPageProperties.siteConfigHomePath}.html" target="_blank">${properties.homepagetitle}</a>
                </div>
            </div>
            <div class="sitemap-category">
                <div class="sitemap-category-heading">
                    ${properties.ourhotelsheading}
                    <span class="sitemap-category-expand-btn">+</span>
                </div>
                <div class="sitemap-category-details">
                    <div class="sitemap-category-details-heading">Hotel List</div>
                    
                    <div data-sly-list.countryMap="${listModel.hotelListMapData}">
                        <div class="sitemap-country-name">
                            ${countryMap}
                            <sly data-sly-list.destinatinPath="${listModel.allDestinationLinks}" />
                            <div class="row" data-sly-list.cityMap="${listModel.hotelListMapData[countryMap]}">
                                <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location">
									<sly data-sly-test="${inheritedPageProperties.websiteid == 'tajhotels'}">
                                    <a class="sitemap-destination-font" href="${listModel.allDestinationLinks[cityMap]}.html" target="_blank">Hotels in ${cityMap}</a> 
									</sly>
                                    <sly data-sly-list.hotelMap="${listModel.hotelListMapData[countryMap][cityMap]}">
                                    <a href="${listModel.hotelListMapData[countryMap][cityMap][hotelMap]}.html" target="_blank">${hotelMap}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="sitemap-category">
                <div class="sitemap-category-heading">
                    ${properties.restaurantsheading}
                    <span class="sitemap-category-expand-btn">+</span>
                </div>
                <div class="sitemap-category-details">
                    <div class="sitemap-category-details-heading">Our Restaurants</div>
                    
                    <div class="sitemap-country-name" data-sly-list.countryMap="${listModel.hotelListMapData}">
                        ${countryMap}
                        <sly data-sly-list.destinatinPath="${listModel.AllDestinationDiningLinks}" />
                        <div class="row" data-sly-list.cityMap="${listModel.hotelListMapData[countryMap]}">
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location">
                                <sly data-sly-test="${inheritedPageProperties.websiteid == 'tajhotels'}">
                                <a class="sitemap-destination-font" href="${listModel.AllDestinationDiningLinks[cityMap]}.html" target="_blank">Dinings in </sly>${cityMap}</a>
                                
                                <sly data-sly-list.hotelMap="${listModel.hotelListMapData[countryMap][cityMap]}">
                                <a data-sly-test="${listModel.hotelListMapData[countryMap][cityMap][hotelMap]}/restaurants.html" href="${listModel.hotelListMapData[countryMap][cityMap][hotelMap]}/restaurants.html"
                                    target="_blank">Restaurants in ${hotelMap}</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
    
            <div class="sitemap-category">
                <div class="sitemap-category-heading">
                    ${properties.meetingsheading}
                    <span class="sitemap-category-expand-btn">+</span>
                </div>
                <div class="sitemap-category-details">
                    <div class="sitemap-category-details-heading">Meetings & Events</div>
                    
                    <div class="sitemap-country-name" data-sly-list.countryMap="${listModel.hotelListMapData}">
                        ${countryMap}
                        <div class="row" data-sly-list.cityMap="${listModel.hotelListMapData[countryMap]}">
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location">
                                ${cityMap}
                                <sly data-sly-list.hotelMap="${listModel.hotelListMapData[countryMap][cityMap]}">
                                <a href="${listModel.hotelListMapData[countryMap][cityMap][hotelMap]}/meetings-and-events.html"
                                    target="_blank">Meetings and Events in ${hotelMap}</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <sly data-sly-use.listModel="com.ihcl.core.models.HotelPageList">
                    <div class="sitemap-country-name" data-sly-list.countryMap="${listModel.meetingDetails}">
                        ${countryMap}
                        <sly data-sly-list.destinatinPath="${listModel.allDestinationLinks}" />
                        <div class="row" data-sly-list.cityMap="${listModel.MeetingDetails[countryMap]}">
                            <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location">
                                <a class="sitemap-destination-font" href="${listModel.allDestinationLinks[cityMap]}.html" target="_blank">${cityMap}</a>
                                <sly data-sly-list.hotelMap="${listModel.MeetingDetails[countryMap][cityMap]}">
                                ${hotelMap} <a href="${listModel.MeetingDetails[countryMap][cityMap][hotelMap]}" target="_blank">Meetings
                                    and Events</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <sly data-sly-test="${inheritedPageProperties.websiteid == 'tajhotels'}">
            <div class="sitemap-category">
                <div class="sitemap-category-heading">
                    ${properties.offersheading}
                    <span class="sitemap-category-expand-btn">+</span>
                </div>
                
                <div class="sitemap-category-details" data-sly-list.offerName="${listModel.offerNameList}">
                    <a class="sitemap-main-link" href="${listModel.offerNameList[offerName]}.html" target="_blank">${offerName}</a>
                </div>
            </div>
            </sly>
        </div>
    </div>
	


	<sly data-sly-test="${properties.pageScope}">
    <div class="cm-content-blocks row" data-sly-use.linksModel="com.ihcl.core.models.holidays.sitemap.IHolidaysSiteMap">
       <div class="col-12">
            <div class="sitemap-category" data-sly-list.pageModel="${linksModel.pageLinks}">
                <div class="sitemap-category-heading">
                    Taj Holidays - Home Page
                    <span class="sitemap-category-expand-btn">+</span>
                </div>
                <div class="sitemap-category-details">
                    <a class="sitemap-main-link" href="${pageModel.pageUrl}.html" target="_blank">${pageModel.pageName} Home Page</a>
                </div>
            </div>
            <div class="sitemap-category">
                <div class="sitemap-category-heading">
                   Taj Holidays Packages
                    <span class="sitemap-category-expand-btn">+</span>
                </div>
                <div class="sitemap-category-details">
                   <div class="row" data-sly-list.destinationsLinks="${linksModel.categoriesandChildren['Destinations']}">
                        <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location">
                            <a class="sitemap-main-link" href="${destinationsLinks.pageUrl}.html" target="_blank">${destinationsLinks.pageName}</a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="sitemap-category">
                <div class="sitemap-category-heading">
                   Taj Holidays Offers
                    <span class="sitemap-category-expand-btn">+</span>
                </div>
                <div class="sitemap-category-details">
                    <div class="sitemap-category-details-heading">Hotels List</div>
                    
                        <div class="sitemap-country-name">
                            <div class="row">
                            <sly data-sly-list.hotelsModel="${linksModel.holidayHotelOffers}">
                                <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location">
                                    ${hotelsModel.hotelName}
                                  <sly data-sly-list.offers="${hotelsModel.hotelOffers}">
                                  <a href="${offers.pageUrl}.html" target="_blank">${offers.pageName}</a>
                                  </sly>
              	              </div>
                          </sly>
                      </div>
                  </div>
              </div>
            </div>
			<div class="sitemap-category">
                <div class="sitemap-category-heading">
                   Discover More
                    <span class="sitemap-category-expand-btn">+</span>
                </div>
                <div class="sitemap-category-details">
                   <div class="row" data-sly-list.discoverLinks="${linksModel.discoverMoreLinks}">
                        <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location">
                            <a class="sitemap-main-link" href="${discoverLinks.pageUrl}.html" target="_blank">${discoverLinks.pageName}</a> 
                        </div>
                    </div>
                </div>
            </div>
			<div class="sitemap-category">
                <div class="sitemap-category-heading">
                   Experiences
                    <span class="sitemap-category-expand-btn">+</span>
                </div>
                <div class="sitemap-category-details">
                   <div class="row" data-sly-list.expLinks="${linksModel.categoriesandChildren['Experiences']}">
                        <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location">
                            <a class="sitemap-main-link" href="${expLinks.pageUrl}.html" target="_blank">${expLinks.pageName}</a> 
                        </div>
                    </div>
                </div>
            </div>
			<div class="sitemap-category">
                <div class="sitemap-category-heading">
                   Incredible Escapes
                    <span class="sitemap-category-expand-btn">+</span>
                </div>
                <div class="sitemap-category-details">
                   <div class="row" data-sly-list.packageLinks="${linksModel.categoriesandChildren['Incredible Escapes']}">
                        <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location">
                            <a class="sitemap-main-link" href="${packageLinks.pageUrl}.html" target="_blank">${packageLinks.pageName}</a> 
                        </div>
                    </div>
                </div>
            </div>
			<div class="sitemap-category">
                <div class="sitemap-category-heading">
                   Themes
                    <span class="sitemap-category-expand-btn">+</span>
                </div>
                <div class="sitemap-category-details">
                   <div class="row" data-sly-list.themesLinks="${linksModel.categoriesandChildren['Themes']}">
                        <div class="col-lg-4 col-md-4 col-sm-6 sitemap-country-location">
                            <a class="sitemap-main-link" href="${themesLinks.pageUrl}.html" target="_blank">${themesLinks.pageName}</a> 
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
    </sly>
</div>
</sly>
