@rem: 16rem;
.mr-overall-rating-container {
    width: 7.9375rem;
    height: 7.9375rem;
    border: solid 1px #417505;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 2px 9px 0 rgba(155, 155, 155, 0);
    background-color: #ffffff; // border: solid 1px #447709;
    @media only screen and(max-width: 1023px) {
        margin-bottom: 1.25rem;
    }
}

.mr-overall-Count {
    height: 1.68125rem;
}

.mr-specificRating-Value {
    float: right;
}

.valueforMoney-and-rating-wrap,
.comments-and-review-Wrap {
    margin-right: 2rem;
    @media only screen and (max-width: 1023px) {
        margin-right: unset;
        [class*="col-"] {
            padding-left: 0px ! important;
            padding-right: 0px ! important;
        }
    }
}

.comments-and-review-Wrap {
    margin-top: 2.5625rem;
    position: relative;
    padding-bottom: 1.9375rem;
    border-bottom: solid 1px #e5e3e3;
    @media only screen and (max-width: 1023px) {
        margin:1.875rem 0rem;
        padding-bottom: 1.375rem;
        border-bottom: solid 1px #979797;
        &:nth-child(n+3) {
            display: none;
        }
        &:nth-child(2) {
            border-bottom: unset;
        }
    }
    &:last-child {
        border-bottom: unset;
    }
}

.mr-reviewUsertitle-and-description-Wrap {
    margin-left: 2rem;
    @media only screen and (max-width: 1023px) {
        margin-left: unset;
        margin-top: 1.1875rem;
    }
}

.mr-reviewer-userName {
    font-family: Calibri;
    font-size: 1rem;
    color: #4a4a4a;
    @media only screen and (max-width: 1023px) {
        font-size: 1.125rem;
    }
}

.mr-reviewed-at-timings {
    font-family: Calibri;
    font-size: 0.875rem;
    color: #9b9b9b;
}

.mr-review-title {
    font-family: Calibri;
    font-size: 1rem;
    font-weight: bold;
    color: #417505;
    @media only screen and (max-width: 1023px) {
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }
}

.mr-review-description {
    font-family: Calibri;
    font-size: 1rem;
    color: #323232;
}

.mr-specificRating-Wrap {
    margin-bottom: 1rem;
    padding: 0rem 1rem;
    @media only screen and (max-width: 1023px) {
        padding: unset;
    }
}

.mr-specificRating-Name {
    font-family: Calibri;
    font-size: 1rem;
    color: #4a4a4a;
    @media only screen and (max-width: 1023px) {
        font-size: 0.875rem;
    }
}

.mr-specificRating-Value {
    font-family: Calibri;
    font-size: 1rem;
    color: #4a4a4a;
    @media only screen and (max-width: 1023px) {
        font-size: 0.875rem;
        margin-top: 3px;
    }
}

.mr-specificRating-ProgressWrap {
    height: 3px;
    background-color: #e5e3e3;
    width: 100%;
}

.mr-specific-rating-div {
    height: 100%;
    background-color: #417505;
    width: 70%;
}

.mr-overall-rating {
    width: 100%;
    height: 6.25625rem;
    background-color: #417505;
    border-radius: 3px 3px 0px 0px; // font-family: HelveticaNeue;
    font-family: Calibri;
    font-size: 2.25rem;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .mr-rating-comments {
        font-family: Calibri;
        font-size: 0.875rem;
        text-align: center;
        color: #ffffff;
    }
    @media only screen and (max-width: 1023px) {
        font-size: 2.1375;
    }
}

.mr-overall-Count {
    font-family: Calibri;
    font-size: 0.875rem;
    text-align: center;
    color: #4a4a4a;
}

.mr-individual-user-rating,
.mr-individual-user-comments {
    font-family: Calibri;
    font-size: 1rem;
    color: #417505;
}

.mr-individual-user-rating-and-comments-wrap {
    position: absolute;
    top: 0;
    right: 0;
}

.mr-specificRating-Whole-Wrap {
    padding-left: 1rem;
    @media only screen and (max-width: 1023px) {
        padding-left: unset;
        margin-bottom: 1rem;
    }
    .row {
        .col-6 {
            &:nth-child(odd) {
                .mr-specificRating-Wrap {
                    margin-right: 1rem;
                }
            }
            &:nth-child(even) {
                .mr-specificRating-Wrap {
                    margin-left: 1rem;
                }
            }
        }
    }
}

.guests-speak-specific-hotel-wrapper {
    .row {
        flex-direction: column;
        [class*="col-"] {
            max-width: 100%;
            padding-left: 0px ! important;
            padding-right: 0px ! important;
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                margin-right: 2rem;
                &:nth-child(3n) {
                    margin-right: 0rem;
                }
            }
        }
        .guest-card1 {
            padding-right: 0px;
            padding-left: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-bottom: 2rem;
        }
        @media only screen and (max-width: 767px) {
            .guest-speak-card-component {
                display: block;
                .guest-card-footer {
                    padding: 0.5rem;
                }
            } // .back-side-card {
            //     display: block;
            //     height: 19.375rem;
            //     padding: 1.25rem;
            // } // .guest-card3 {
            //     height: initial;
            //     .guest-card-component .card-header {
            //         display: block;
            //         width: 100%;
            //     }
            //     .quotation-marks {
            //         display: block;
            //         .quotaion-img {
            //             display: inline-block;
            //         }
            //     }
            //     .line {
            //         display: block;
            //     }
            //     .guest-quote {
            //         text-align: center;
            //     }
            //     .guest-photo {
            //         img {
            //             width: 4rem;
            //             height: 4rem;
            //         }
            //     }
            //     .guest-card-footer {
            //         display: block;
            //         width: 100%;
            //         margin: 0px;
            //         margin-top: 1.25rem;
            //     }
            // }
        }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            flex-direction: row; // justify-content: space-around;
        }
    }
}




//for local area guest speak
.guests-speak-local-container.guests-speak-specific-hotel-wrapper {
    .row {
        @media only screen and (min-width: 992px) {
            flex-direction: row;
        }
        [class*="col-"] {

            @media only screen and (max-width: 480px) {
                padding-left: 1rem !important;
                padding-right: 1rem !important;
            }
            @media only screen and (min-width: 992px) {
                padding-right: 30/@rem !important;
            }
            margin-bottom: 0;
        }
        .back-side-card {
            @media only screen and (min-width: 992px) {
                height: auto;
            }
        }
    }
}

.guests-speak-local-container.guests-speak-specific-hotel-wrapper {
    .guest-card3 {
        margin-bottom: 8/@rem;
        padding-left: 0;
        margin-right: 0;
    }
}

.specific-hotels-guests-speaks-and-review-wrapper {
    .guests-speak-specific-hotel-wrapper {
        .hide-in-sm.mr-image-with-comments-card {
            @media only screen and (max-width: 767px) {
                display: block ! important;
            }
        }
    }
}

//for show more padding and margin with guest card
.guest-speak.local-area .col-lg-4.col-md-6.col-sm-12 {
    display: none;
    margin-bottom: 1rem;
}


@media only screen and (min-device-width: 992px) {
    .guest-speak.local-area .col-lg-4.col-md-6.col-sm-12 {
        margin-bottom: 1rem;
    }

    .guest-speak.local-area .col-lg-4.col-md-6.col-sm-12:nth-child(3n-1) {
        padding: 0 11.3/@rem ;
    }
    .guest-speak.local-area .col-lg-4.col-md-6.col-sm-12:nth-child(3n) {
        padding-left: 22.6/@rem ;
    }
    .guest-speak.local-area .col-lg-4.col-md-6.col-sm-12:nth-child(3n-2) {
        padding-right: 22.6/@rem ;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .guest-speak.local-area .col-lg-4.col-md-6.col-sm-12 {
        margin-bottom: 0;
    }
    .guest-speak.local-area .col-lg-4.col-md-6.col-sm-12:nth-child(odd) {
        padding-right: 16/@rem ;
    }
    .guest-speak.local-area .col-lg-4.col-md-6.col-sm-12:nth-child(even) {
        padding-left: 16/@rem ;
    }
}