.activities-overlay {
  width: 820px;
  height: 679px;
  padding: 20px;
  background-color: #ffffff;
}
.act-cards-container{
    
    align-content: space-between;
    padding: 0px 0px 20px 0px;
}
.card-wrapper:nth-child(odd) {
    margin-right: 15px;
    margin-right: 0.9375rem;
}

.card-wrapper:nth-child(even) {
    margin-left: 15px;
    margin-left: 0.9375rem;
}

.card-wrapper:nth-last-child(1),
.card-wrapper:nth-last-child(2) {
    margin-bottom: 0px;
    margin-bottom: 0rem;
}

.card-heading{
  float:left;
  height: 60px;
  font-family: Montserrat-Medium;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.56px;
  color: #000000;
  line-height: 1;
  padding-bottom : 20px ;
  
}

.description-wrap{
    padding: 20px;
}

.card-wrapper {
  max-width: 48%;
  box-shadow: 0 20px 48px -10px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  position: relative;
  margin-bottom: 30px;
}

.card-image{
  width: inherit;
  height: 320px;
}


.card-content {
  width: 100%;
  min-height: 100px;
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.6px;
  color: #333333;
}

