<div data-sly-test.edit=${wcmmode.edit}></div>
<div class="container pos-relative">
    <div class="check-avblty-container">
        <div id="isOnlyBungalow" style="display:none">${currentPage.properties.isOnlyBungalowPage}</div>
        <section class="radio-button check-avblty-wrap check-avblty-input-wrap">
            <label class="radio-container">
                Book Room
                <input type="radio" id="onlyRoom" name="amaRoomType" class="activeRadioButton">
                <span class="checkmark"></span>
            </label>
            <label class="radio-container">
                Book Entire Bungalow
                <input type="radio" id="onlyBungalow" name="amaRoomType">
                <span class="checkmark"></span>
            </label>
        </section>
        <div class="check-avblty-wrap">
            <div class="check-avblty-input-wrap check-avblty-input-first">
                <div class="check-avblty-input-label">${properties.destinationTitle}</div>
                <div class="dropdown">
                    <div class="select">
                        <span class="select-dest-placeholder">${properties.destinationPlaceholder}</span>
                        <i class="icon-drop-down-arrow"></i>
                    </div>
                    <input type="hidden" name="destination-search-loaction">
                    <ul class="dropdown-menu destination-hotels">
                    </ul>
                </div>
                <div class="check-avblty-guests-details" id="checkAvailSubtitle"></div>
            </div>
            <div class="check-avblty-input-wrap date-input-wrap">
                <div class="check-avblty-input-label">${properties.checkinTitle} & ${properties.checkoutTitle}</div>
                <div class="bas-datepicker-container-ama" id="date-picker-wrap">
                    <div class="trip-date-wrap">
                        <div class="input-daterange input-group" id="ama-ca-datepicker">
                            <div class="check-in-check-out-input-wrap">
                                <div class="check-avblty-input-cal-wrap">
                                    <input class="form-control input-box-ama date-explore" id="input-box-from" readonly />
                                    <!-- <span class="calendar-image date-picker-img icon-calendar-check-availability"
                                    id="ama-cal-img-from"></span> -->
                                    <span class="date-picker-img"> - </span>
                                </div>
                                <div class="check-avblty-input-cal-wrap">
                                    <input class="form-control input-box-ama date-explore" id="input-box-to" readonly />
                                    <span class="calendar-image date-picker-img icon-calendar-check-availability"
                                        id="ama-cal-img-to"></span>
                                </div>
                            </div>
                            <div class="bas-calander-container-ama">
                                <div class="bas-single-wrap bas-left-date-wrap-ama active">
                                    <div class="date-title-style">${properties.checkinTitle}</div>
                                </div>
                                <div class="bas-single-wrap bas-right-date-wrap-ama">
                                    <div class="date-title-style">${properties.checkoutTitle}</div>
                                </div>
                            </div>
                            <div class="input-box-wrapper-ama"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="check-avblty-input-wrap check-avblty-guests-wrap">
                <div class="check-avblty-input-label">${properties.guestTitle}</div>
                <div class="check-avblty-guests-input">
                    <span class="guest-title-wrap">${properties.guestPlaceholder}</span>
                    <i id class="icon-drop-down-arrow"></i>
                </div>
                <div class="guests-dropdown-wrap">
                    <div id="roomGuestDetails1" class="guest-room-header" data-room-index='1'>
                        <div class="roomHeading">
                            Room
                            <span class="guest-room-count">1</span>
                            <span class="noOfPeople">(1 Guests)</span>
                            <span class="close-current-room icon-delete-icon display-none"></span>
                            <span class="icon-drop-down-arrow arrow-icon-right"></span>
                        </div>
                        <div class="incDecMain">
                            <div class="dropdown-child-wrap adult-wrap">
                                Adults
                                <div class="incr-dec-wrap">
                                    <span class="circular-container adult-dec">-</span>
                                    <span class="counter">1</span>
                                    <span class="circular-container adult-inc">+</span>
                                </div>
                            </div>
                            <div class="dropdown-child-wrap children-wrap">
                                Children
                                <div class="incr-dec-wrap">
                                    <span class="circular-container child-dec">-</span>
                                    <span class="counter">0</span>
                                    <span class="circular-container child-inc">+</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="add-room-button" id="addButton">
                        <div class="addRoomBtnText">
                            <span class="plus-button">+</span>
                            Add Room
                        </div>
                    </div>
                </div>
            </div>
            <div class="check-avblty-btn-wrap check-avblty-input-wrap">
                <div class="check-avblty-btn" id="checkAvailability">${properties.buttonTitle}</div>
            </div>
        </div>
    </div>
</div>

