<div data-sly-use.model="com.ihcl.core.models.OfferModel">
<div data-sly-test="${model.offerType != null}"> 
    <div class="offers-card-inner-wrapper">
        <div class="offers-card-header-container">
            <div class="offer-card-header-additional-points">
                <div class="offers-header-text">${model.offerType} <span class="additional-points-text">${model.specialOffer}</span></div>
            </div>
        </div>
        <div><img class="offers-card-image" src="${model.offerImage}" alt="offer card image" /></div>
        <div class="offers-card-main">
            <div class="offers-card-title">${model.offerName}</div>
            <div class="offers-card-description"> ${model.offerDescription}</div>
            <div> <a href="${model.offerPageResourceURL}" class="event-list-button">VIEW DETAILS</a> </div>
            <div class="offer-validity"> Valid till ${model.validityDate}</div>
        </div>
    </div>
    </div>
</div>
