<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='tajhotels.incredible-escape-packages'}"/>

<div data-sly-test.edit="${wcmmode.edit}">
    Holidays Similar Packages info Component
    Populates Packages information.
</div>

<sly  data-sly-use.model="com.ihcl.core.models.holidays.packages.IIncredibleEscapesCard"/>
<sly data-sly-list.listItem="${model.allPackgeCards}">
<div class="cm-content-blocks holidays-explore-sightSeeing" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
            <div class="cm-header-label-con title-decorator-border" data-sly-test=${model.rootPageFlag}>
                <h2 class="cm-header-label">${listItem.IncredibleEscapeTitle}</h2>
            </div>
            <div class="mr-holiday-destination-about-cards-wrapper">
                <div class="row">
                    <div class="similar-packages-comp col-12">
                        <div class="row">
                            <div class="col-12 col-md-6 no-padding">
                            <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=listItem.ImagePath, context='html', lazyload='true', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}" />
                            </div>
                            <div class="similar-packages-content col-12 col-md-6">
                                <div class="similar-packages-title">${listItem.PackageTitle}</div>
                                <div class="row">
                                    <div class="col-12 placeholder-title-wrap">
                                        <div class="placeholder-title">${listItem.PackageDesc}</div>
                                    </div>
                                </div>
								<sly data-sly-test.packageStartDate = "${listItem.StartDate}">
                                <div class="package-date-seleted"><img class="date-seleted-icon" src="/content/dam/tajhotels/icons/style-icons/calendar-check-availability.svg" alt = "calendar-check-availability-icon"/>
                                    <div class="date-seleted-title">Package Validity Dates: <span class="date-seleted-value">${listItem.StartDate} - ${listItem.EndDate}</span></div>
                                </div>
								</sly>
                                <div class="package-night-info">${listItem.PackageShortTitle}</div>
                                <div class="package-location-available">${listItem.Cities}</div>
                                <div class="package-inclusions-container">
                                    <div class="package-inclusions-title">Inclusions</div>
                                    <div class="package-inclusions-content">
                                        <div class="package-inclusions-ul" data-sly-list.inclusionItem="${listItem.Inclusions}">
                                            <div class="package-inclusions-li"><img class="package-inclusions-icon" src="${inclusionItem.InclusionImagePath}" /><span class="package-inclusions-text">${inclusionItem.InclusionTitle}</span></div>
                                        </div>
                                    </div>
                                </div>
								<div class="date-seleted-title price-wrp">Package Rate : ₹<span class="incredible-escape-amount date-seleted-value">${listItem.Price}</span></div>
								<a class="similar-packages-view-btn" href="${listItem.PackageLink}.html"><button class="cm-btn-secondary" tabindex = "-1">VIEW DETAILS</button></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</sly>