<div
	data-sly-use.model="com.ihcl.core.models.destination.HolidayDestinationModel"
	class="popularDest-wrap card-margin"
	data-country=${model.countryName}
	data-experiences=${model.experiencesTags}
	data-theme=${model.themesTags}
	data-key='{"stay":"${model.stayDuration}","experiences":"${model.experiencesTags}","theme":"${model.themesTags}","season":"${model.holidaySeasons}","price":"${model.packagePrice}"}'
	data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
	<div class="popu-dest-cont-wrapper">
		<div class="popularDest-imageContainer">
			<sly
				data-sly-call="${imagetemplate.damImageTemplate @ imagePath= model.hotelImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', layout='fill'}"></sly>
		</div>
		<div class="popularDest-details-container">
			<div class="popularDest-details-name">${model.destinationTitle}</div>
			<a href="${model.destinationPath}.html">
				<button class="cm-btn-secondary" tabindex = "-1">VIEW DETAILS</button>
			</a>
		</div>
	</div>
</div>