// ITF RUPEE FONT
@font-face {
    font-family: 'SunSans-Demi';
    src: url('../resources/fonts/Sun-San/Sun-Sans-Demi.otf') format('otf'),
         url('../resources/fonts/Sun-San/Sun-Sans-Demi.woff2') format('woff2'),
         url('../resources/fonts/Sun-San/Sun-Sans-Demi.woff') format('woff'),/* Modern Browsers */
         url('../resources/fonts/Sun-San/Sun-Sans-Demi.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'loto-regular';
    src: url('../resources/fonts/Sun-San/Sun-Sans-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'SunSans-Regular';
    src: url('../resources/fonts/Sun-San/Sun-Sans-Regular.otf') format('otf'),
         url('../resources/fonts/Sun-San/Sun-Sans-Regular.woff2') format('woff2'),
         url('../resources/fonts/Sun-San/Sun-Sans-Regular.woff') format('woff'),/*  Modern Browsers */
         url('../resources/fonts/Sun-San/Sun-Sans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'TrajanPro-Regular';
    src: url('../resources/fonts/Trajn-Pro/TrajanPro-Regular.ttf') format('truetype'),
         url('../resources/fonts/Trajn-Pro/TrajanPro-Regular.woff2') format('woff2'),
         url('../resources/fonts/Trajn-Pro/TrajanPro-Regular.woff') format('woff'),/* Modern Browsers */
         url('../resources/fonts/TrajanPro-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Calibri';
    src: url('../resources/fonts/calibri/Calibri-Regular.otf') format('otf'),
         url('../resources/fonts/calibri/Calibri-Regular.woff2') format('woff2'),
         url('../resources/fonts/calibri/Calibri-Regular.woff') format('woff'),/* Modern Browsers */
         url('../resources/fonts/calibri/Calibri-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Calibri-Bold';
    src: url('../resources/fonts/calibri/Calibri-Bold.otf') format('otf'),
         url('../resources/fonts/calibri/Calibri-Bold.woff2') format('woff2'),
         url('../resources/fonts/calibri/Calibri-Bold.woff') format('woff'),/* Modern Browsers */
         url('../resources/fonts/calibri/Calibri-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Calibri-Italic';
    src: url('../resources/fonts/calibri/Calibri-Italic.otf') format('otf'),
         url('../resources/fonts/calibri/Calibri-Italic.woff2') format('woff2'),
         url('../resources/fonts/calibri/Calibri-Italic.woff') format('woff'),/* Modern Browsers */
         url('../resources/fonts/calibri/Calibri-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Calibri-Italic-bold';
    src: url('../resources/fonts/calibri/Calibri-Italic-Bold.otf') format('otf'),
         url('../resources/fonts/calibri/Calibri-Italic-Bold.woff2') format('woff2'),
         url('../resources/fonts/calibri/Calibri-Italic-Bold.woff') format('woff'), /* Modern Browsers */
         url('../resources/fonts/calibri/Calibri-Italic-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'RupeeForadian';
    src: url('../resources/fonts/Rupee-Foradian/Rupee_Foradian.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../resources/fonts/Rupee-Foradian/Rupee_Foradian.otf') format('otf'),
         url('../resources/fonts/Rupee-Foradian/Rupee_Foradian.woff') format('woff'), /* Modern Browsers */
         url('../resources/fonts/Rupee-Foradian/Rupee_Foradian.woff2') format('woff2');
}
@font-face {
    font-family: 'icomoon';
    src: url('../resources/fonts/icomoon/fonts/icomoon.eot?ut9p4p');
    src: url('../resources/fonts/icomoon/fonts/icomoon.eot?ut9p4p#iefix') format('embedded-opentype'),
    	 url('../resources/fonts/icomoon/fonts/icomoon.ttf?ut9p4p') format('truetype'),
    	 url('../resources/fonts/icomoon/fonts/icomoon.woff?ut9p4p') format('woff'),
    	 url('../resources/fonts/icomoon/fonts/icomoon.svg?ut9p4p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TrajanPro';
    src: url('../resources/fonts/Trajn-Pro/TrajanPro-Regular.ttf') format('truetype'),
         url('../resources/fonts/Trajn-Pro/TrajanPro-Regular.woff2') format('woff2'),
         url('../resources/fonts/Trajn-Pro/TrajanPro-Regular.woff') format('woff'),/* Modern Browsers */
         url('../resources/fonts/TrajanPro-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Exmouth';
    src: url("../resources/fonts/exmouth/exmouth.eot"); /* IE9*/
    src: url("../resources/fonts/exmouth/exmouth.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../resources/fonts/exmouth/exmouth.woff2") format("woff2"), /* chrome、firefox */
    url("../resources/fonts/exmouth/exmouth.woff") format("woff"), /* chrome、firefox */
    url("../resources/fonts/exmouth/exmouth.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../resources/fonts/exmouth/exmouth.svg#Exmouth") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: 'Montserrat-Light';
    src:url('../resources/fonts/Montserrat/Montserrat-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Montserrat-Bold';
    src:url('../resources/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Montserrat-Medium';
    src:url('../resources/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Montserrat-Regular';
    src:url('../resources/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src:url('../resources/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Montserrat-Thin';
    src:url('../resources/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src:url('../resources/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}


@font-face {
  font-family: 'Corbel-Bold';
  src: url('/content/dam/ama/fonts/Corbel-Bold.eot'); /* IE9 Compat Modes */
  src: url('/content/dam/ama/fonts/Corbel-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/dam/ama/fonts/Corbel-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/dam/ama/fonts/Corbel-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/content/dam/ama/fonts/Corbel-Bold.svg#Corbel') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Corbel';
  src: url('/content/dam/ama/fonts/Corbel.eot'); /* IE9 Compat Modes */
  src: url('/content/dam/ama/fonts/Corbel.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/dam/ama/fonts/Corbel.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/dam/ama/fonts/Corbel.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/content/dam/ama/fonts/Corbel.svg#Corbel') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'PTSerif-Regular';
    src: url('../resources/fonts/PT_Serif/PTSerif-Regular.otf') format('otf'),
         url('../resources/fonts/PT_Serif/PTSerif-Regular.woff2') format('woff2'),
         url('../resources/fonts/PT_Serif/PTSerif-Regular.woff') format('woff'),/* Modern Browsers */
         url('../resources/fonts/PT_Serif/PTSerif-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'PTSerif-Bold';
    src: url('../resources/fonts/PT_Serif/PTSerif-Bold.otf') format('otf'),
         url('../resources/fonts/PT_Serif/PTSerif-Bold.woff2') format('woff2'),
         url('../resources/fonts/PT_Serif/PTSerif-Bold.woff') format('woff'),/* Modern Browsers */
         url('../resources/fonts/PT_Serif/PTSerif-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'BodoniFLF-Italic';
    src: url('../resources/fonts/Bodoni/BodoniFLF-Italic.eot') format('embedded-opentype'),/* IE6-IE8 */
         url('../resources/fonts/Bodoni/BodoniFLF-Italic.woff2') format('woff2'),
         url('../resources/fonts/Bodoni/BodoniFLF-Italic.woff') format('woff');/* Modern Browsers */
}
@font-face {
    font-family: 'BodoniFLF-Bold';
    src: url('../resources/fonts/Bodoni/BodoniFLF-Bold.eot') format('embedded-opentype'),/* IE6-IE8 */
         url('../resources/fonts/Bodoni/BodoniFLF-Bold.woff2') format('woff2'),
         url('../resources/fonts/Bodoni/BodoniFLF-Bold.woff') format('woff');/* Modern Browsers */
}
@font-face {
    font-family: 'BodoniFLF-Roman';
    src: url('../resources/fonts/Bodoni/BodoniFLF-Roman.eot') format('embedded-opentype'),/* IE6-IE8 */
         url('../resources/fonts/Bodoni/BodoniFLF-Roman.woff2') format('woff2'),
         url('../resources/fonts/Bodoni/BodoniFLF-Roman.woff') format('woff');/* Modern Browsers */
}
@font-face {
    font-family: 'BodoniXT2';
    src: url('../resources/fonts/Bodoni/BodoniXT2.eot') format('embedded-opentype'),/* IE6-IE8 */
         url('../resources/fonts/Bodoni/BodoniXT2.woff2') format('woff2'),
         url('../resources/fonts/Bodoni/BodoniXT2.woff') format('woff');/* Modern Browsers */
}
@font-face {
    font-family: 'BodoniFLF-BoldItalic';
    src: url('../resources/fonts/Bodoni/BodoniFLF-BoldItalic.eot') format('embedded-opentype'),/* IE6-IE8 */
         url('../resources/fonts/Bodoni/BodoniFLF-BoldItalic.woff2') format('woff2'),
         url('../resources/fonts/Bodoni/BodoniFLF-BoldItalic.woff') format('woff');/* Modern Browsers */
}
@font-face {
    font-family: 'TrajanPro-Bold';
    src:url('../resources/fonts/Trajan-Pro/TrajanPro-Bold.otf');
}
@font-face {
  font-family: 'FloodStd';
  src: url('../resources/fonts/FloodStd/FloodStd.eot?#iefix') format('embedded-opentype'),
       url('../resources/fonts/FloodStd/FloodStd.svg#FloodStd') format('svg'),
       url('../resources/fonts/FloodStd/FloodStd.ttf') format('truetype'),
       url('../resources/fonts/FloodStd/FloodStd.woff') format('woff'),
       url('../resources/fonts/FloodStd/FloodStd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
