<sly data-sly-test="${wcmmode.edit}">AMA Amenities Text</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='ama.hotels.amenities-text'}"></sly>

<section class="${properties.backgroundColor} container">
	<div class="row">
		<sly data-sly-list.list=${resource.children}>
			<sly data-sly-list.listItems=${list.children}>
				<div class="amenities-container col-md-12">
					<sly data-sly-test=${listItems.title}>
						<div class="amenities-title">${listItems.title}</div>
					</sly>
					<div class="row">
						<sly data-sly-list.desc=${listItems.children}>
							<sly data-sly-list.items=${desc.children}>
								<div class="amenities-cell col-md-3">
                                    <sly data-sly-test=${items.icon}>
										<div class="amenities-icon"> <img src="${items.icon}" /> </div>
									</sly>
									<sly data-sly-test=${items.text}>
										<div class="amenities-text"> ${items.text} </div>
									</sly>
								</div>
							</sly>
						</sly>
					</div>
				</div>
			</sly>
		</sly>
	</div>
</section>