.cm-warning-box-main{
position:relative;
}
.jiva-spa-date {
    tr:nth-child(2) {
        .prev {
            color: var(--primaryColor);            
            background-repeat: no-repeat;
            background-position: 50%;
        }
        .next {
            color: var(--primaryColor);            
            background-repeat: no-repeat;
            background-position: 50%;
        }
    }
}

.selectSubContainer {
    .selectboxit-container {
        .selectboxit {
            background: transparent;            
        }
    }
}

.dropdown {
    .selectboxit-container {
        .selectboxit {
            background: transparent;
        }
    }
}

.hotelDetailsLocation {
    background-image: url('/content/dam/tajhotels/icons/style-icons/location.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.cm-map-btn {
    background: url(/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg) no-repeat center;
}

.carousel-control-next-icon {
    background-image: url(/content/dam/tajhotels/icons/style-icons/carousel-arrow.svg);
}

.carousel-control-prev-icon {
    background-image: url(/content/dam/tajhotels/icons/style-icons/carousel-arrow.svg);
    transform: rotate(180deg);
}

.offer-card-component {
    .offer-image-wrapper {
        background-image: url('/content/dam/tajhotels/icons/style-icons/img-gourmet-night@2x.png');
        background-position: 0;
        background-repeat: no-repeat;
    }
}

.cm-bas-con {
    .bas-specialcode-container {
        .special-code-wrap .bas-aroow-btn {
            background: url('/content/dam/tajhotels/icons/style-icons/arrow.png') no-repeat;
        }
    }
    .bas-datepicker-container {
        .bas-calander-container {
            .datepicker {
                .prev {                    
                    background-color: #f2f2f2;
                    background-position: 50% 50%;
                    font-size: 1.5rem;
                }
                .next {                    
                    background-color: #f2f2f2;
                    background-position: 50% 50%;
                    font-size: 1.5rem;                    
                }
            }
        }
    }
}

.mr-carousel-leftArrow {
    background: url('/content/dam/tajhotels/icons/style-icons/carousel-arrow-coloured-left.svg') no-repeat;
    background-size: contain;
}

.mr-carousel-rightArrow {
    background: url('/content/dam/tajhotels/icons/style-icons/carousel-arrow-coloured-right.svg') no-repeat;
    background-size: contain;
}

input[type="checkbox"].mr-filter-checkbox:checked+span.mr-inputCustomShape {
    background-image: none !important;
    background-size: 0.875rem 0.6875rem;
    background-repeat: no-repeat;
    background-position: center;    
    text-align: center;
    &:after{
        content: '✔';                
        color: var(--primaryColor);
    }
}
