@rem: 16rem;
.box-with-top-arrow {
    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -10px;
        top: -20px;
        left: 50%;
        box-sizing: border-box;
        border: 10px solid black;
        border-color: transparent transparent #ffffff transparent;
    }
    z-index: 1;
    border-radius: 4/@rem;
    position: absolute;
    background-color: #ffffff;
    padding: 20/@rem 25/@rem;
    box-shadow: 0px -2px 22px 0px rgba(0, 0, 0, 0.3);
}

.box-with-right-arrow {
    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-top: -10px;
        top: 50%;
        right: -20px;
        box-sizing: border-box;
        border: 10px solid black;
        border-color: transparent transparent transparent #ffffff;
    }
    z-index: 1;
    border-radius: 4/@rem;
    position: absolute;
    background-color: #ffffff;
    padding: 20/@rem 25/@rem;
    box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.3);
}

.box-with-bottom-arrow {
    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -10px;
        bottom: -20px;
        left: 50%;
        box-sizing: border-box;
        border: 10px solid black;
        border-color: #ffffff transparent transparent transparent;
    }
    z-index: 1;
    border-radius: 4/@rem;
    position: absolute;
    background-color: #ffffff;
    padding: 20/@rem 25/@rem;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.3);
}

.box-with-left-arrow {
    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-top: -10px;
        top: 50%;
        left: -20px;
        box-sizing: border-box;
        border: 10px solid black;
        border-color: transparent #ffffff transparent transparent;
    }
    z-index: 1;
    border-radius: 4/@rem;
    position: absolute;
    background-color: #ffffff;
    padding: 20/@rem 25/@rem;
    box-shadow: -4px 0px 25px 0px rgba(0, 0, 0, 0.3);
}