.cm-btn-primary {
    /*height: 45px;*/
    height: 2.1875rem !important;
    /*padding: 11.6px 13px 11.4px;*/
    /*padding: 0.75rem 0.875rem;*/
    padding: 0 0.875rem;
    font-family: Calibri-Bold;
    /*font-size: 18px;*/
    font-size: 1rem;
    /*line-height: normal;*/
    letter-spacing: 0.6px;
    text-align: center;
    color: var(--primaryColor);
    border: solid 1px var(--primaryColor);
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    @media only screen and (max-width: 991px) {
        //font-size: 14px;
        //font-size: 1rem;
        height: 2.8125rem !important; //padding: 0px 6px;
    }
    @media only screen and (max-width: 424px) {
        font-size: 14px;
    }
}

.cm-btn-primary:focus {
    outline: solid 3px highlight;
}

.cm-btn-secondary {
    /*height: 40px;*/
    /*height: 2.5rem;*/
    height: 2.1875rem !important;
    /*padding: 12.4px 14px 13.6px;*/
    /*padding: 0.75rem 0.875rem;*/
    padding: 0 0.875rem;
    background-image: var(--linearGradient);    
    font-family: Calibri-Bold;
    /*font-size: 16px;*/
    font-size: 1rem;
    /*line-height: 1;*/
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    @media only screen and (max-width: 991px) {
        //font-size: 14px;
        //font-size: 1rem;
        height: 2.8125rem !important; //padding: 0px 6px;
    }
    @media only screen and (max-width: 424px) {
        font-size: 14px;
    }
}

.cm-btn-secondary:focus {
    outline: solid 3px highlight;
}

button:focus {
    outline: solid 3px highlight !important;
}
button.btn-only-focus{
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: inherit;
}
.cm-share-btn.icon-share {
    width: auto;
}
.cm-share-btn {
    width: 2.25rem; // zoom: 0.8; //&:extend(.cm-view-link-txt);
    @media only screen and (max-width: 991px) {
        width: 45px;
        zoom: 1;
    }
}
.pay-now-button:disabled{
    cursor:not-allowed;
}
