.cm-scale-animation {
    //blink-animation 1.5s steps(5, start) infinite;
    animation: scaleAnimation 1s ease-in-out infinite alternate;
    -webkit-animation: scaleAnimation 1s ease-in-out infinite alternate;
    /*animation: scaleAnimation 300ms steps(5, start) infinite;
    -webkit-animation: scaleAnimation 300ms steps(5, start) infinite;*/
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }
}

@-webkit-keyframes scaleAnimation {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }
}