.cm-toaster {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: 1;
}

.cm-toaster-main {
    position: absolute;
    left: 0;
    bottom: -10%;
    right: 0;
    width: 80%;
    margin: auto;
    background: #fff;
    color: #4a4a4a;
    font-size: 1.5rem;
    font-family: Calibri;
    padding: 3rem 1.75rem;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    transition: bottom 300ms ease-in-out;
    text-align: center;
}

.cm-toaster-main.active {
    bottom: 30%;
}

.toaster-close {
    position: absolute;
    right: 1rem;
    top: 0.25rem;
    cursor: pointer;
}

.toaster-logo-con {
    padding-bottom: 1.5rem;
    display: inline-block;
    position: relative;
}

.cm-toaster-text {
    width: 80%;
    margin: auto;
}