@rem: 16rem;
.mr-menu-carousel-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /*height: 100vh;*/
    background-color: rgba(0, 0, 0, 0.5); // display: none;
    z-index: 10000;
    overflow: auto;
}

.mr-overlay-initial-none {
    display: none;
}

.menu-carousel-container {
    width: (1289/@rem); // min-height: (900/@rem);
    background-color: #ffffff;
    border: solid 1px #979797;
    /*position: relative;*/
    position: absolute;
    /*overflow: auto;*/
    margin: 0 auto;
    /*margin-bottom: 2rem;*/
    /*top: 3rem; */
    // bottom: 2rem;
    top: 5%;
    right: 0;
    bottom: 5%;
    left: 0;
    @media only screen and (max-width: 991px) {
        width: 80%;
        top: 10%;
        bottom: 10%;
    }
    @media only screen and (max-width: 767px) {
        max-width: (384/@rem);
        width: 96%;
        /*top: 0rem;
        margin: 1rem auto;
        height: 100%;*/
        max-height: (612/@rem);
        top: 3%;
        bottom: 3%;
    }
}

.mr-carousel-leftArrow {
    width: (30/@rem);
    height: (50/@rem);
    display: inline-block;
}

.mr-carousel-rightArrow {
    width: (30/@rem);
    height: (50/@rem);
    display: inline-block;
}

.mr-carousel-images-wrap {
    min-height: (580/@rem);
    /*width: (1000/@rem);*/
    margin: 0 auto;
    text-align: left;
    @media only screen and (max-width: 991px) {
        font-size: (24/@rem);
        /*width: (375/@rem);*/
        min-height: (400/@rem);
    }
}

.mr-carousel-leftArrow-container {
    /*display: table-cell;
    vertical-align: middle;*/
    width: 10%;
    text-align: right;
    /*position: relative;*/
    position: absolute;
    top: 50%;
    left: -1rem;
    @media only screen and (max-width: 991px) {
        display: none;
    }
}

.mr-carousel-rightArrow-container {
    /*display: table-cell;
    vertical-align: middle;*/
    width: 10%;
    text-align: left;
    /*position: relative;*/
    position: absolute;
    top: 50%;
    right: -1rem;
    @media only screen and (max-width: 991px) {
        display: none;
    }
}

.mr-carousel-MainCarousel-container {
    /*display: table-cell;
    vertical-align: middle;
    width: 80%;
    position: relative;*/
    width: 85%;
    height: 100%;
    margin: auto;
    /* @media only screen and (max-width: 991px) {
        max-width: (300/@rem);
    }*/
    @media only screen and (max-width: 767px) {
        max-width: (300/@rem);
    }
}

.menu-carousel-container {
    .carousel.slide {
        height: 100%;
    }
    .carousel-inner {
        height: 100%;
        -ms-overflow-style: none;
        @media only screen and (max-width: 991px) {
            padding-bottom: 60px;
        }
    }
    .carousel-item {}
}

.mr-carousel-inner-wrap {
    /*display: table;*/
    width: 100%; //padding: (120/@rem);
    padding: 2.5rem;
    padding-bottom: 3rem;
    height: 100%;
    @media only screen and (max-width: 991px) {
        padding: 0rem;
    }
    position: relative;
}

.mr-carousel-title-wrap {
    font-family: Calibri;
    font-size: (34/@rem);
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 1rem;
    @media only screen and (max-width: 991px) {
        font-size: (24/@rem); //margin-left: (15/@rem);
        margin-bottom: (13/@rem);
    }
}

.mr-carousel-Content-wrap {
    font-family: Calibri;
    font-size: 1rem;
    line-height: 1.25;
    color: #4a4a4a;
    margin-bottom: (17/@rem);
}

.mr-menu-carousel-indicators {
    bottom: -3rem;
    position: absolute;
    width: 100%;
    @media only screen and (max-width: 991px) {
        bottom: 0;
        z-index: 1;
        background-color: #ffffff;
    }
    ol.carousel-indicators {
        li {
            width: (7/@rem);
            height: (7/@rem);
            opacity: 0.9;
            background-color: rgba(155, 155, 155, 0.3);
            border-radius: 50%;
            @media only screen and (max-width: 991px) {
                width: (5.6/@rem);
                height: (6/@rem);
            }
        }
        li.active {
            background-color: #9b9b9b
        }
    }
    ol.carousel-indicators.mr-carousel-indicators-overlay {
        bottom: -3.5rem;
        position: unset;
    }
    /*@media only screen and (max-width: 991px) {
        bottom: 2rem;
    }*/
}

.carouselCount-current-wrap {
    font-family: Calibri;
    font-size: (22/@rem);
    font-weight: bold;
    text-align: center;
    color: #7d7c7d;
    /*position: absolute;
    bottom: -2rem;*/
    width: 100%;
    @media only screen and (max-width: 991px) {
        /*bottom: -2rem;*/
        font-size: (18/@rem);
    }
}

.mr-carousel-close-icon-wrap {
    position: absolute;
    right: (27/@rem);
    top: (21/@rem);
    z-index: 11;
    cursor: pointer;
    img.mr-carousel-close-icon {
        width: (27/@rem);
        height: (27/@rem);
        @media only screen and (max-width: 991px) {
            width: (18/@rem);
            height: (18/@rem);
        }
    }
    @media only screen and (max-width: 991px) {
        right: (12/@rem);
        top: (12/@rem);
    }
    @media only screen and (max-width: 991px) {
        right: (10/@rem);
        top: (8/@rem);
    }
}

.the-page-carousel::-webkit-scrollbar {
    display: none;
}