@rem: 16rem;
.radio-button-wrp {
    input[type='radio'] {
        display: none;
    }
    .radio-button-label {
        display: inline-block;
        vertical-align: middle;
        font-family: Calibri;
        font-size: 18/@rem;
        color: #818b92;
        @media only screen and (max-width: 767px) {
            font-size: 16/@rem;
        }
        span {
            width: 23px;
            height: 23px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 18/@rem;
            position: relative;
            border: solid 1px #979797;
            background-color: transparent;
            @media only screen and (max-width: 767px) {
                margin-right: 12/@rem;
            }
            .radio-inner-fill {
                display: none;
                position: absolute;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                top: 5px;
                left: 5px;
                background-color: #4a90e2;
            }
        }
    }
    input[type='radio']:checked+.radio-button-label span {
        .radio-inner-fill {
            display: block;
        }
    }
}