//icomoon font-sizes

.icon-drop-down-arrow:before{
	font-size: 0.7rem;	
}
.icon-drop-down-arrow.inline-block:before{
	display: block;
}
.icon-drop-down-arrow,
.icon-drop-down-arrow-white{
	transition: all ease 0.3s;
}

span.icon-menu-icon.mr-dining-description-icons {
    font-size: 1.5rem;
    vertical-align: top;
}
span.icon-location.mr-dining-location-description-icons {
    font-size: 2rem;
    @media only screen and (max-width: 767px) {
    	font-size: 1.2rem;
    }
}
span.ho-location-icon.ho-cm-icon.inline-block.icon-location {
    font-size: 1.5rem;
    vertical-align: text-bottom;
}
.cm-map-btn .icon-location{
	font-size: 2rem;
}
i.icon-close, 
span.icon-close,
span.icon-close.showMap-close {
    font-size: 1.5rem;
}
.icon-carousel-arrow-coloured-right,
.icon-carousel-arrow-coloured-left{
	font-size: 2.5rem
}
span.icon-filter-icon {
    font-size: 1.5rem;
}
span.icon-calendar-check-availability.preferred-date-calendar-icon {
    font-size: 1.5rem;
    @media only screen and (max-width: 767px) {
    	font-size: 1rem;	
    }
}
.icon-delete-icon.selection-delete {
    font-size: 1.5rem;
    @media only screen and (max-width: 767px) {
    	font-size: 1.3rem;	
    }
}
i.mr-dining-location-description-icons.icon-location {
    font-size: 1.5rem;
}
i.icon-phone-disabled.ho-cm-icon.ho-contact-icon.inline-block {
    font-size: 1.2rem;
    vertical-align: text-bottom;
}
i.icon-calendar-check-availability.mr-date-reserveTable-input-icon {
    font-size: 1.3rem;
    @media only screen and (max-width: 767px) {
    	font-size: 1rem;
    }
}
i.cart-room-delete-icon.icon-delete-icon.inline-block {
    font-size: 2rem;
    @media only screen and (max-width: 767px) {
    	font-size: 1.5rem;
    }
}
span.icon-confirmation-tick.inline-block {
    font-size: 5rem;
    @media only screen and (max-width: 767px) {
    	font-size: 3.5rem;
    }
}
span.icon-golden-flower {
    font-size: 3rem;
    @media only screen and (max-width: 767px) {
    	font-size: 2rem;
    }
}
i.icon-location.ho-location-icon.ho-cm-icon.inline-block.conf-loc-img {
    font-size: 1.5rem;
}
.coupon-code-clear-input.icon-close {
    font-size: 1rem;
}
i.toaster-logo.icon-STAR-TAJ {
    font-size: 5rem;
}
i.cart-empty-icon.icon-cart-empty {
    font-size: 5rem;
}
.icon-golden-flower span.path13 {
    display: none;
}
//end icomoon styles