.taj-loader {
    display: inline-block;
    font-size: 1rem;    
    min-width: 4.5rem;
    .taj-loader-circle {
	    width: 1em;
	    height: 1em;
	    display: inline-block;
	    border-radius: 50%;
	    background-color: var(--primaryColor);
	    margin: 0 0.1em;
	}
	.taj-loader-circle:nth-child(2) {
	    opacity: 0.3;
	    animation: loaderCircleTwo 3s linear infinite;
	}

	.taj-loader-circle:nth-child(3) {
	    opacity: 0.1;
	    animation: loaderCircleThree 3s linear infinite;
	}
}
@keyframes loaderCircleTwo {	
	19%	{opacity: 0.3}
	20%	{opacity: 0.5}		    
	39%	{opacity: 0.5}
    40%	{opacity: 0.7}    
    100%{opacity: 0.7}
}
@keyframes loaderCircleThree {		    
    59%	{opacity: 0.1}
    60%	{opacity: 0.3}
    79%	{opacity: 0.3}
    80%	{opacity: 0.4}
    100%{opacity: 0.4}
}

@-webkit-keyframes loaderCircleTwo {	
	19%	{opacity: 0.3}
	20%	{opacity: 0.5}		    
	39%	{opacity: 0.5}
    40%	{opacity: 0.7}    
    100%{opacity: 0.7}
} 
@-webkit-keyframes loaderCircleThree {		    
    59%	{opacity: 0.1}
    60%	{opacity: 0.3}
    79%	{opacity: 0.3}
    80%	{opacity: 0.4}
    100%{opacity: 0.4}
}

.taj-page-loader {
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0, 0.6);
    .taj-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
}

.taj-comp-loader {
     position: absolute;
     z-index: 20;
     top: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     display: block;
     background: rgba(0,0,0, 0.6);
     .taj-loader {
         position: absolute;
         top: 50%;
         left: 50%;
     }
 }