.cm-warning-box-con {
    position: fixed;
    z-index: 100000000000;
}

.cm-warning-box {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items:center;
    background: rgba(74, 74, 74, 0.55);
    z-index: 1;
}

.cm-warning-box-main {
//    position: absolute;
//    left: 0;
//    bottom: 30%;
//    right: 0;
    max-height: 80%;
    overflow-x: auto;
    width: 80%;
    margin: auto;
    background: #fff;
    color: #4a4a4a;
    font-size: 1.5rem;
    font-family: Calibri;
    padding: 3rem 1.75rem;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    transition: bottom 300ms ease-in-out;
    text-align: center;
    @media only screen and (max-width: 767px) {
        padding: 1rem 0.6rem;
        width: 95%;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        width: 90%;
    }
}

.cm-warning-box-inner-wrap {
    width: 80%;
    display: inline-block;
}

.cm-toaster-main.active {
    bottom: 30%;
}

.warning-box-close {
    position: absolute;
    right: 1rem;
    top: 0.25rem;
    cursor: pointer;
}

.toaster-logo-con {
    padding-bottom: 1.5rem;
}

.cm-warning-box-proceed-btn {
    display: inline-block;
}

.cm-warning-box-cancel-btn {
    display: inline-block;
    margin-left: 10px;
}

.cm-warning-box-heading-text {
    color: #950f0f;
    font-family: Calibri-Bold;
    padding-bottom: 1rem;
    font-size: 24px; //Do not remove this px unit
    display: none;
    line-height: 1.2;
    margin-top: 5px;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        font-size: 16px; //Do not remove this px unit
    }
}

.cm-warning-box-description-text {
    font-size: 16px; //Do not remove this px unit
    color: #323232;
    padding-bottom: 2rem;
    line-height: 1.2;
    display: none;
}

.cm-warning-box-logo-con {
    position: relative;
    display: inline-block;
}

.warning-icon-con {
    position: absolute;
    top: -5px;
    right: -14px;
}

.cm-warning-box-btns {
    display: none;
}

.rendered-as-warning .cm-warning-box-heading-text {
    color: var(--primaryColor);
}

.warning-proceed-btn,
.warning-cancel-btn {
    @media only screen and (max-width: 767px) {
        font-size: 0.8rem;
        height: 2rem !important;
    }
}

.cm-room-availability-description {
    text-align: left;
    margin-bottom: 25px;
    display: none;
    td {
        padding: 5px 10px;
    }
    td:nth-child(2),
    td:nth-child(3) {
        padding-left: 0;
    }
    .cm-room-availability-desc-wrap {
        display: inline-block;
    }
    .selected-room-detail img {
        margin: 0;
    }
    .selected-room-detail span {
        display: inline-block;
    }
    .selected-room-detail:first-child {
        margin-top: 0;
    }
    .conf-room-availability-status {
        font-family: Calibri-Bold;
    }
    .conf-delimitter {
        margin: 0 8px;
    }
    .conf-room-type {
        //width: 16rem;
        display: inline-block
    }
}

.rendered-as-room-availablity {
    .cm-room-availability-description {
        display: inline-block;
    }
    .cm-warning-box-main {
        bottom: 15%;
    }
    .cm-warning-box-heading-text {
        color: var(--primaryColor);
    }
}

.cm-success-box-heading-text {
     color: #d19751;
     font-family: Calibri-Bold;
     padding-bottom: 1rem;
     font-size: 24px; //Do not remove this px unit
     display: none;
     line-height: 1.2;
     margin-top: 5px;
     @media only screen and (min-width: 320px) and (max-width: 767px) {
         font-size: 16px; //Do not remove this px unit
     }
}

.cm-success-box-description-text {
    font-size: 16px; //Do not remove this px unit
    color: #282828;
    padding-bottom: 2rem;
    line-height: 1.2;
    display: none;
}

