@rem: 16rem;
.search-comp-container{
	position: relative;
	.search-comp-results-container{
		position: absolute;
		display: none;
		top: 100%;
	    width: 100%;
	    max-height: 30rem;
    	overflow: auto;
    	background: #ffffff;
	    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
	    .search-comp-no-results {
		    font-family: Calibri;
		    font-size: 0.8rem;
		    padding: 0.5rem;
		}
		.search-results-heading{
			margin: 1.5rem 1rem 1rem;
			.search-results-heading-text{
				font-family: Calibri-bold;
				font-size: 14px;
				line-height: 1;
				letter-spacing: 2px;
				color: #000000;
				text-transform: uppercase;
			}
		}
		.search-comp-results-list{
			list-style-type: none;
			padding: 0.5rem 0;
			li{
				padding:0.6rem 1.5rem;
			}
			li:hover, li:active {
				background: var(--primaryColorLighter);
			    cursor: pointer;
			}
		}
	}
}