.share-btn-wrapper{
    display:inline-block;
    position:relative;
    .share-btn-js{
        cursor: pointer;
    }
    .share-options-list.share-btn-list-with-label{
        bottom:45px;
    }
    .share-options-list{
        display:none;
        position: absolute;
        bottom:60px;
        right:0;
        left: 0;
        margin:auto;
        z-index: 1;
        width: 3.5rem;
        background-color: #ffffff; 
        box-shadow: 6px 11px 12px 8px rgba(0, 0, 0, 0.05);
        border-radius:4px;
        .jssocials-share{
        	font-size: 1rem;
            display: block;
            text-align: center;
            margin: 0.3rem auto;
            img.jssocials-share-logo{
                width: 2rem !important;
                height: 2rem !important;
                margin-right: 0 !important;
            }
            &:hover{
                background-color: rgba(0,0,0,0.1);
            }
            .jssocials-share-link{
                background: transparent !important;
                .jssocials-share-label{
                    display: none;
                }
            }
        }
        &:after{
            content:"";
            border-bottom: 16px solid transparent;
            border-right: 8px solid transparent;
            border-top: 16px solid #fff;
            border-left: 8px solid transparent;
            position: absolute;
            left:8px;            
        }  
    }
}