<div data-sly-test="${wcmmode.edit}">AMP Title</div>
	<div style="${properties.componentStyle @ context='html'};">
    <h2 class="component-title ${inheritedPageProperties.sitePath}" style="${properties.headingstyle @ context='html'};">
    ${properties.title}</h2>
    <div>
       <div class="placeholder-title-wrap">
          <div class="placeholder-title">${properties.description}</div>
       </div>
    </div>
    </div>
