@rem: 16rem;
.contact-us-miscellaneous-wrapper {
    .contact-us-container {
        margin-bottom: 10/@rem;
    }
    @media only screen and (min-width: 768px) {
        width: 35%;
    }
}

.contact-us-miscellaneous-header-wrapper {
    .contact-us-miscellaneous-header {
        font-family: Calibri-Bold;
        font-size: 18/@rem;
        line-height: 2.22;
        color: var(--primaryColor);
        display: inline-block;
        text-decoration: underline;
    }
    .image-view {
        height: 8px;
        width: 12px;
        margin-left: 5px;
    }
}

.contact-us-miscellaneous-details-wrapper {
    margin-top: 10/@rem;
    font-family: Calibri;
    font-size: 12/@rem;
    display: none;
    color: #9b9b9b;

    .details-header {
        font-family: Calibri-Bold;
        font-size: 14/@rem;
        margin-bottom: 5p/@rem;
        color: #4a4a4a;
    }
    .details-address {
        margin-bottom: 5/@rem;
    }
    span.highlight {
        font-family: Calibri-Bold;
        font-size: 14/@rem;
        color: #4a4a4a;
        margin-right: 4/@rem;
    }
    &.open {
        display: block;
    }
}

.mr-contact-us-miscellaneous-container {
    @media only screen and (max-width: 480px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}