<sly data-sly-test="${wcmmode.edit}">AMA Activities Cards</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.activities'}"></sly>
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />
<section class="activities-overlay">
    <div class="container">
        <div class="card-heading">${properties.title}</div>
        <div class="card-image">
            <sly
                data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.image, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />
        </div>
        <div class="description-wrap">
            <div class="card-content">${properties.description @context='html'}</div>
        </div>
    </div>
</section>

