<div>
    <h3>Tajhotels Brands Configurations</h3>   
    <ul>
        <li><div class="li-bullet"><strong>ID:</strong> ${properties.id}</div></li>
        <li><div class="li-bullet"><strong>Ama Booking:</strong> ${properties.amaBooking}</div></li>
    </ul>
</div>