
@rem: 16rem;
.enquiry-details-card {
    background-color: #ffffff;
    .enquiry-details-header{
        position: relative;
        padding: 2rem 5rem 0.5rem 2.3125rem;
        @media only screen and (max-width: 767px) {
            padding: 21/@rem 35/@rem 19/@rem 35/@rem;
        }
        .enquiry-form-spacing{
            margin-bottom: 8/@rem;
        }
    }
    .enquiry-form-container {
        padding: 20/@rem 112/@rem 0 37/@rem;
        @media only screen and (max-width: 991px) {
            padding: 20/@rem 30/@rem 30/@rem 37/@rem;
        }
        @media only screen and (max-width: 767px) {
            padding: 0.6875rem 1.875rem 1.875rem 1.875rem;
        }

        .enquiry-form-text {
            font-family: Calibri;
            font-size: 1rem;
            color: #4a4a4a;
        }

        .personal-info-wrp, .professional-info-wrp{
            margin-top: 0.8rem;
            margin-bottom: 3rem;
            @media only screen and (max-width: 767px) {
                margin-top: 30/@rem;
                margin-bottom: 2rem;
               
            }
            .sub-form-heading {
                font-family: Calibri-Bold;
                font-size: 24/@rem ;
                letter-spacing: 0.5/@rem;
                color: #000000;
                margin-bottom: 26/@rem;
                @media only screen and (max-width: 767px) {
                    font-family: Calibri-bold;
                    font-size: 18/@rem;
                    color: #888888;
                    margin-bottom: 16/@rem;
                }
            }
        }

        .mr-sub-form [class*="col-"].sub-form-input-wrp {
            padding: 1.5rem;
            margin: 0;
            @media only screen and (max-width: 767px){
                margin-bottom: 1.5rem;
            }
        }

        .mr-sub-form .mr-sub-form-row {
            margin: -1.5rem;
            @media only screen and (max-width: 767px) {
                margin: 0;
            }
        }
        .selectboxit-options.selectboxit-list{
            max-height: none !important;
            .selectboxit-option{
                .selectboxit-option-anchor{
                    padding: 1rem !important;
                    .selectboxit-option-icon-container{
                        display: none;
                    }
                }
            }
        }
    }
    .enquiry-form-btn-pos{
        text-align: center;
        padding-bottom: 2rem;
    }
    .enquiry-text-area {
        border:solid 1.7px #4a4a4a;
        min-height: 8rem;
        @media only screen and (max-width: 767px) {
            min-height: 5rem;   
        }
    }

    @media only screen and (max-width: 767px){
        .mr-sub-form .sub-form-input-element {
            padding-left: 0px !important;
        }
        .selectboxit-option-icon-container {
            display: none !important;
        }
    }
    
    .enquiry-form-confirmation-popup {
        display: none;
    }
}


//popup styles


.enquiry-form-confirmation-overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(74, 74, 74, 0.55);
	z-index: 1;
	display: table;	
	width: 100%;
	height: 100%;
	@media only screen and (max-width: 991px){
		background-color: #ffffff;
		position: fixed;
		z-index: 2;
	}	
	.enquiry-form-confirmation-container{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		.enquiry-form-confirmation-inner-wrp.container{
			position: relative;
			background-color: #fefefe;
			box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);					
			padding: 145/@rem 27/@rem 93/@rem;
			margin: auto;	
			@media only screen and (max-width: 991px){						
				box-shadow: none;
				padding: 0 20/@rem !important;
				background-color: #ffffff;	
			}
			.enquiry-form-confirmation-close-icon{
				position: absolute;
				height: 24/@rem;
				width: 24/@rem;
				top: 22/@rem;
				right: 19/@rem;
				cursor: pointer;
				@media only screen and (max-width: 991px){
					position: fixed;
					top: 19/@rem;
					right: 22/@rem;
				}
			}
			.enquiry-form-confirmation-title{
				font-family: Calibri-bold;
				font-size: 30/@rem;
				color: #282828;
				margin-bottom: 40/@rem;		
				text-align: center;
				@media only screen and (max-width: 991px){
					font-size: 24/@rem;
					margin-bottom: 22/@rem;			
				}
			}
			.enquiry-form-confirmation-descripion{
				font-family: Calibri;
				font-size: 24/@rem;
				text-align: center;
				max-width: 395/@rem;
				color: #282828;
				margin:0 auto 64/@rem;
				@media only screen and (max-width: 991px){
					font-size: 22/@rem;
					margin-bottom: 49/@rem;
					max-width: 362/@rem;
				}
			}
		}
	}
}

.enquiry-form-error-overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(74, 74, 74, 0.55);
	z-index: 1;
	display: table;	
	width: 100%;
	height: 100%;
	@media only screen and (max-width: 991px){
		background-color: #ffffff;
		position: fixed;
		z-index: 2;
	}	
	.enquiry-form-error-container{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		.enquiry-form-error-inner-wrp.container{
			position: relative;
			background-color: #fefefe;
			box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);					
			padding: 145/@rem 27/@rem 93/@rem;
			margin: auto;	
			@media only screen and (max-width: 991px){						
				box-shadow: none;
				padding: 0 20/@rem !important;
				background-color: #ffffff;	
			}
			.enquiry-form-error-close-icon{
				position: absolute;
				height: 24/@rem;
				width: 24/@rem;
				top: 22/@rem;
				right: 19/@rem;
				cursor: pointer;
				@media only screen and (max-width: 991px){
					position: fixed;
					top: 19/@rem;
					right: 22/@rem;
				}
			}
			.enquiry-form-error-title{
				font-family: Calibri-bold;
				font-size: 30/@rem;
				color: #282828;
				margin-bottom: 40/@rem;		
				text-align: center;
				@media only screen and (max-width: 991px){
					font-size: 24/@rem;
					margin-bottom: 22/@rem;			
				}
			}
			.enquiry-form-error-descripion{
				font-family: Calibri;
				font-size: 24/@rem;
				text-align: center;
				max-width: 395/@rem;
				color: #282828;
				margin:0 auto 64/@rem;
				@media only screen and (max-width: 991px){
					font-size: 22/@rem;
					margin-bottom: 49/@rem;
					max-width: 362/@rem;
				}
			}
		}
	}
}


.spinner-con {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(74, 74, 74, 0.55);
    text-align: center;
    z-index: 100;
}
.spinner-wrap {
    position: absolute;
    width: 8rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}