.ama-getting-there-whole-box {
  background-color: #ffffff;
}

.ama-getting-there-first-box {
  border: solid 1px #cccccc;
}

.title-row {
  display: flex;
  padding: 25px 15px;
}

.ama-getting-there-heading {
  font-family: var(--themeHeadingFontSemiBold);
  font-size: 16px;
  letter-spacing: 0.89px;
  padding: 5px;
  padding-left: 10px;
}

.ama-getting-there-description {
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.88px;
  padding: 0 15px;
  line-height: 2;
  padding-bottom: 25px;
}

.ama-getting-there-description p {
  letter-spacing: 0.88px;
  line-height: 2;
}