<div data-sly-test.edit=${wcmmode.edit}>
    <h1>ihcl familyFriends component</h1>
</div>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.familyFriends,tajhotels.structure.page.tajhotels-base-page'}" />

    <main>
 <div class="content-wrapper container IHCL-section">
            <div class="cm-content-blocks">
                <div class="cm-header-label-con title-decorator-border">
                    <h2 class="cm-header-label">Reservation Worldwide</h2>
                </div>
                <p class="mr-table-header-para">Enjoy special rates at your favourite IHCL hotels</p>

                        <div class="mr-whole-table-wrapper col-lg-8 col-md-10 col-sm-12">
                            <table class="mr-table-wrapper">
                                <tr class="mr-table-row">
                                    <th class="mr-ihcl-table-header">Hotel Categories</th>
                                    <th class="mr-ihcl-table-header">Indicative pricing excluding taxes. Prices are per room per night on a double occupancy basis</th>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">Ginger Hotels</td>
                                    <td class="mr-ihcl-table-data-right">Rs. 2,000</td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">The Gateway Hotels and Resorts</td>
                                    <td class="mr-ihcl-table-data-right">Rs. 4,000 or Rs. 6,000 as per destination</td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">Vivanta Hotels and Resorts</td>
                                    <td class="mr-ihcl-table-data-right">Rs. 4,000 or Rs. 6,000 as per destination</td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">Taj City Hotels</td>
                                    <td class="mr-ihcl-table-data-right">Rs. 6,000 or Rs. 8,000 as per destination </td>
                                </tr>
                                <tr class="mr-table-row">
                                    <td class="mr-ihcl-table-data-left">Taj Safaris, Palaces and Resorts</td>
                                    <td class="mr-ihcl-table-data-right">Rs. 12,000</td>
                                </tr>
                            </table>

                </div>
                <ul class="mr-list-header"> For International destinations applicable rate in local currency are available through the booking link
                    <li class="mr-list-description">Valid for stays and bookings made before 30th September 2019</li>
                    <li class="mr-list-description">Rate includes bed, buffet breakfast, and Wi-Fi and exclude applicable taxes.</li>
                    <li class="mr-list-description">Bookings can only be made online using the link below.</li>
                    <li class="mr-list-description">The special rate is a privilege exclusively for IHCL Employees to extend to their Friends and Family for their personal travel only.</li>
                    <li class="mr-list-description">Authorisation Form and Employee ID copy to be presented at check-in to avail this special rate.</li>
                    <li class="mr-list-description">In the absence of the authorisation form or the copy of the employee company ID the special rate will not be applicable and regular Breakfast Inclusive rate will be extended.</li>
                    <li class="mr-list-description">A valid credit card guarantee is required at the time of reservation.</li>
                    <li class="mr-list-description">Cancellation is allowed 7 days prior to Check In date.</li>
                    <li class="mr-list-description">The hotel reserves the right to charge penalty for the duration of the stay if cancelled within the cancelation period.</li>
                    <li class="mr-list-description">Bookings made within 7 days of arrival date are non-refundable and non-cancellable.</li>
                    <li class="mr-list-description">Rate subject to availability at time of booking. Limited rooms available on the offer. Blackout dates will apply.</li>
                    <li class="mr-list-description">In the event that the IHCL Employee Rate is not available, the Best Available Rate or the other public rates can be booked as per the regular polices applicable for the rate. </li>
                    <li class="mr-list-description">This rate is not commissionable and not eligible for Taj InnerCircle points or other loyalty points such as airline miles</li>
                    <li class="mr-list-description">Not valid on group bookings (above 3 rooms, or 9 guests)</li>
                    <li class="mr-list-description">For extra adults, children or extra bed additional charges will apply.</li>
                    <li class="mr-list-description">Maximum occupancy per room is defined as per hotel policy. </li>
                </ul>
                <div class="mr-hotel-redirection">
                    <p class="mr-hotel-redirection-para">For Ginger Hotels</p>
                    <div class="mr-family-hotel-btn"><a href="https://gc.synxis.com/rez.aspx?template=RBE&shell=RBE3&Chain=18173&promo=NZGV"><button class="mr-download-pdf cm-btn-secondary">BOOK NOW</button></a></div>
                    <div class="mr-family-hotel-btn"><a href="https://www.gingerhotels.com/ihcl-rcl-friends-and-family-offer.aspx"><button class="mr-download-pdf cm-btn-secondary">KNOW MORE</button></a></div>
                </div>
                <div class="mr-hotel-terms">
                	For detailed Terms and Conditions
                	<a class="mr-terms-ref" href="/content/dam/thrp/Friends%20and%20Family/terms-and-conditions-f-f.pdf" target="_blank">click here</a>
                </div>
            </div>
        </div>
    </main>