.rooms-suites-header {
    font-size: 30px;
    font-size: 1.875rem;
    font-family: Calibri-Bold;
    color: #000000;
}

.rooms-suites-description {
    color: #323232;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
}

.show-more-ell,
.show-less {
    font-family: Calibri-Bold;
    color: var(--primaryColor);
    cursor: pointer;
}
