.holidays-explore-card-wrapper:nth-child(odd) {
    padding-right: 15px;
    padding-right: 0.9375rem;
}

@media only screen and (max-width: 767px) {
    .holidays-explore-card-wrapper:nth-child(odd) {
        padding: 0;
    }
}

.holidays-explore-card-wrapper:nth-child(even) {
    padding-left: 15px;
    padding-left: 0.9375rem;
}

@media only screen and (max-width: 767px) {
    .holidays-explore-card-wrapper:nth-child(even) {
        padding: 0;
    }
}

.holidays-explore-card-wrapper {
    width: 100%;
    margin-bottom: 36px;
    margin-bottom: 2.25rem;
}

.holidays-explore-card-video-con {
    width: 100%;
    height: 410px;
    height: 25.625rem;
    position: relative;
}

.holidays-explore-card-video-con video {
    height: 100%;
    width: 100%;
}

.holidays-explore-card-video-con embed {
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .holidays-explore-card-video-con {
        height: 21.875rem;
    }
}

@media only screen and (max-width: 767px) {
    .holidays-explore-card-video-con {
        height: 17.375rem;
    }
}

.holidays-explore-card-video {
    height: 100%;
    width: 100%;
}

.holidays-explore-card-details-con {
    width: 100%;
    background: #fff;
    padding: 28px 30px 31px 24px;
    padding: 1.75rem 1.875rem 1.9375rem 1.5rem;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .holidays-explore-card-details-con {
        padding: 0.625rem 0.75rem;
    }
}

.holidays-explore-card-heading {
    font-family: Calibri-Bold;
    font-size: 25px;
    font-size: 1.5625rem;
    color: #323232;
}

.holidays-explore-card-subheading {
    color: #4a4a4a;
    font-family: Calibri-Bold;
    font-size: 12px;
    font-size: 0.75rem;
}

.holidays-explore-card-desc {
    color: #4a4a4a;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    width: 75%;
    line-height: 1.43;
    margin-top: 13px;
    margin-top: 0.8125rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .holidays-explore-card-desc {
        width: 65%;
    }
}

@media only screen and (max-width: 767px) {
    .holidays-explore-card-desc {
        width: auto;
    }
}

.holidays-explore-card-btn {
    position: absolute;
    line-height: 2;
    right: 30px;
    right: 1.875rem;
    bottom: 31px;
    bottom: 1.9375rem;
}

@media only screen and (max-width: 767px) {
    .holidays-explore-card-btn {
        position: initial;
        float: right;
        width: 8.75rem;
        line-height: 2.8;
        margin-top: 0.625rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .holidays-explore-card-btn {
        line-height: 2.8;
    }
}

video::-webkit-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
}

video::-moz-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
}

video::-o-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
}

video::-ms-media-controls-panel {
    display: -ms-flexbox !important;
    display: flex !important;
    opacity: 1 !important;
}
