.Announcemnet{
	    /* width: 1363px; */
    /* width: 85.1875rem; */
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.64;
    margin-top: 24px;
    margin-top: 1.5rem;
}
.Appointments-text {
    width: 1363px;
    width: 85.1875rem;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.64;
    margin-top: 24px;
    margin-top: 1.5rem;
}

.Appointments-text-heading {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.28;
}

.Appointment-link {
    width: 1137px;
    width: 71.0625rem;
    height: 17px;
    height: 1.0625rem;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--primaryColor);
    text-decoration: underline;
    margin-bottom: 64px;
    margin-bottom: 4rem;
    margin-top: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .Appointment-link {
        margin-top: 1.25rem;
        margin-bottom: 4.875rem;
    }
}

    .pp-announcement > p > a  {
        color: var(--primaryColor);
    text-decoration: underline;
    font-weight: bold;
        }

