.participating-hotels-search-wrap {
    width: 100%;
    height: 50px;
    background: #e6e6e6;
    border-left: 5px solid var(--primaryColor);
}

.participating-hotels-search-wrap .search-input-section {
    display: inline-block;
    width: 55%;
    line-height: 43px;
    position: relative;
}

.mr-listView-layout .mr-listView-layout-row{
    width: 100%;
}
.participating-hotels-search-wrap .search-input-section img {
    height: 18px;
    width: 18px;
    margin-left: 17px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .participating-hotels-search-wrap .search-input-section img {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
    .participating-hotels-search-wrap .search-input-section img {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .participating-hotels-search-wrap .search-input-section img {
        height: 12px;
        width: 12px;
        margin-left: 5px;
    }
}

.participating-hotels-search-wrap .search-input-section input {
    background: transparent;
    border: none;
    padding-left: 16px;
    width: 85%;
    font-size: 18px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .participating-hotels-search-wrap .search-input-section input {
        font-size: 16px;
    }
}

.participating-hotels-search-wrap .search-input-section input:focus {
    outline: none;
}

.participating-hotels-search-wrap .search-input-section .search-input-suggestions-list {
    position: absolute;
    left: -5px;
    top: 50px;
    width: 103%;
    background: #fff;
    z-index: 10;
    list-style-type: none;
    color: #323232;
    font-family: Calibri;
    font-size: 18px;
    box-shadow: 0 7px 14px 0 #9b9b9b;
    display: none;
    padding: 0;
}

.participating-hotels-search-wrap .search-input-section .search-input-suggestions-list li {
    height: 49px;
    line-height: 49px;
}

.participating-hotels-search-wrap .search-input-section .search-input-suggestions-list li label {
    margin: 0 12px;
    width: 94%;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.participating-hotels-search-wrap .search-input-section .search-input-suggestions-list li:last-child label {
    border-bottom: none;
}

.participating-hotels-search-wrap .search-input-section .search-input-suggestions-list li:hover,
.participating-hotels-search-wrap .search-input-section .search-input-suggestions-list li:active {
    background: var(--primaryColorLighter);
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .participating-hotels-search-wrap .search-input-section {
        width: 46%;
    }
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
    .participating-hotels-search-wrap .search-input-section {
        width: 50%;
    }
}

@media only screen and (max-width: 375px) {
    .participating-hotels-search-wrap .search-input-section {
        width: 55%;
    }
}

@media only screen and (max-width: 320px) {
    .participating-hotels-search-wrap .search-input-section {
        width: 41%;
    }
}

.participating-hotels-search-wrap .search-filter-section {
    display: inline-block;
    font-family: Calibri;
    font-size: 18px;
    vertical-align: middle;
    padding-left: 15px;
    border-left: 1px solid rgba(151, 151, 151, 0.4);
}

.participating-hotels-search-wrap .search-filter-section .search-filter-section-name {
    float: left;
    color: #4a4a4a;
}

.participating-hotels-search-wrap .search-filter-section .search-filter-section-choose {
    float: left;
    color: #9b9b9b;
    margin-left: 10px;
    width: 120px;
}

.participating-hotels-search-wrap .search-filter-section .search-filter-section-choose .selectSubContainer {
    width: 100%;
}

.participating-hotels-search-wrap .search-filter-section .search-filter-section-choose .selectSubContainer .selectboxit-text {
    max-width: 250px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .participating-hotels-search-wrap .search-filter-section .search-filter-section-choose .selectSubContainer .selectboxit-text {
        font-size: 14px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .participating-hotels-search-wrap .search-filter-section .search-filter-section-choose {
        width: 180px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .participating-hotels-search-wrap .search-filter-section .search-filter-section-choose {
        width: 70px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
    .participating-hotels-search-wrap .search-filter-section .search-filter-section-choose {
        width: 70px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .participating-hotels-search-wrap .search-filter-section .search-filter-section-choose {
        width: 43px;
    }
}
