.jiva-spa-date tr:nth-child(2) .prev {
    color: transparent;
    background-image: url('/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/prev-arrow.svg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.jiva-spa-date tr:nth-child(2) .next {
    color: transparent;
    background-image: url('/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/next-arrow.svg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.selectSubContainer .selectboxit-container .selectboxit {
    background: transparent;
    background-image: url('/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/drop-down-arrow.svg');
    background-repeat: no-repeat;
    background-position: 98.5% 50%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .selectSubContainer .selectboxit-container .selectboxit {
        background: transparent;
        background-image: url('/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/dropDown.svg');
        background-repeat: no-repeat;
        background-position: 98.5% 50%;
    }
}

.dropdown .selectboxit-container .selectboxit {
    background: transparent;
    background-image: url('/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/drop-down-arrow.svg');
    background-repeat: no-repeat;
    background-position: 98.5% 50%;
}

.cm-share-btn {
    background: url('/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/share.svg') no-repeat center;
}

.hotelDetailsLocation {
    background-image: url('/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/location.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.cm-map-btn {
    background: url(/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/location-icon-brown.svg) no-repeat center;
}

.carousel-control-next-icon {
    background-image: url(/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/carousel-arrow.svg);
}

.carousel-control-prev-icon {
    background-image: url(/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/carousel-arrow.svg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.offer-card-component .offer-image-wrapper {
    background-image: url('/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/img-gourmet-night@2x.png');
    background-position: 0;
    background-repeat: no-repeat;
}

.cm-bas-con .bas-specialcode-container .special-code-wrap .bas-aroow-btn {
    background: url('/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/arrow.png') no-repeat;
}

.cm-bas-con .bas-datepicker-container .bas-calander-container .datepicker .prev {
    background: url(/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/arrowLeft.png) no-repeat;
    background-color: #f2f2f2;
    background-position: 45% 50%;
}

.cm-bas-con .bas-datepicker-container .bas-calander-container .datepicker .next {
    background: url(/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/arrowright.png) no-repeat;
    background-color: #f2f2f2;
    background-position: 50% 50%;
}

.mr-carousel-leftArrow {
    background: url('/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/carousel-arrow-coloured-left.svg') no-repeat;
    background-size: contain;
}

.mr-carousel-rightArrow {
    background: url('/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/carousel-arrow-coloured-right.svg') no-repeat;
    background-size: contain;
}

input[type="checkbox"].mr-filter-checkbox:checked + span.mr-inputCustomShape {
    background-image: url(/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/checkBox-tick.svg);
    background-size: 0.875rem 0.6875rem;
    background-repeat: no-repeat;
    background-position: center;
}
 