.selectSubContainer {
	border-bottom: 2px solid rgba(27, 27, 27, 0.3);
	width: 60%;
	display: inline-block;
}

.selectSubContainer .selectboxit-container * {
	font-family: Calibri;
}

.selectSubContainer .selectboxit-container {
	width: 100%;
	font-family: Calibri;
}

.selectSubContainer .selectboxit-container .selectboxit {
	background: transparent;
	background-image:
		url(/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/drop-down-arrow.svg);
	background-repeat: no-repeat;
	background-position: 98.5% 50%;
	width: 100% ! important;
	border: none;
	border-radius: 0;
	color: var(--primaryColor);
	font-size: 20px ! important;
	font-family: Calibri;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.selectSubContainer .selectboxit-container .selectboxit {
		background: transparent;
		background-image:
			url('/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/dropDown.svg');
		background-repeat: no-repeat;
		background-position: 98.5% 50%;
		color: #9e9e9e;
		font-size: 20px !important;
	}
}

.selectSubContainer .selectboxit-container .selectboxit-option-icon-container
	{
	margin-left: 0px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.selectSubContainer .selectboxit-container .selectboxit-option-icon-container
		{
		margin-left: 5px !important;
	}
}

.selectSubContainer .selectboxit-arrow-container {
	display: none !important;
}

.selectSubContainer .selectboxit-option, .selectSubContainer .selectboxit-optgroup-header
	{
	text-indent: 3px;
}

.selectSubContainer .selectboxit-text {
	font-size: 16px !important;
	font-family: Calibri;
}

@media only screen and (max-width: 991px) {
	.selectSubContainer .selectboxit-text {
		font-size: 20px !important;
	}
}

.selectSubContainer .selectboxit-list>.selectboxit-focus>.selectboxit-option-anchor
	{
	background: var(--primaryColorLighter);
	color: #4a4a4a;
	margin: 0 -7px;
	padding: 0 9px;
}

.selectSubContainer .selectboxit-list a {
	font-size: 20px !important;
	color: #4a4a4a;
	font-family: Calibri;
	border-bottom: solid 1px #ebebeb;
}

.selectSubContainer .selectboxit-options a {
	height: 40px;
	line-height: 40px;
}

.selectSubContainer .selectboxit-option-first {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.selectSubContainer .selectboxit-option-last {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.selectSubContainer .selectboxit-container {
	font-family: Calibri;
	font-size: 16px;
	color: var(--primaryColor);
}

.selectSubContainer .selectboxit-container .selectboxit-options {
	border-radius: 0;
	box-shadow: 0 7px 14px 0 #9b9b9b;
	padding: 0 7px;
	padding: 0 0.4375rem;
	width: 100%;
}

@media only screen and (max-width: 991px) {
	.selectSubContainer .selectboxit-container {
		font-size: 14px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.selectSubContainer {
		width: 100%;
		border-bottom: 1px solid var(--primaryColor);
	}
}

.select-name {
	color: #1b1b1b;
	font-size: 20px;
	font-size: 1.25rem;
	font-family: Calibri;
	display: inline-block;
	margin-right: 0.9375;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.select-name {
		display: none;
	}
}

.filter-component-container {
	padding: 0;
}

.filterSectionButton {
	text-align: right;
	cursor: pointer;
	display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filterSectionButton {
		display: block;
		/*margin-right: 16px;*/
		/*Commented by nixon*/
	}
}

.filter_mobileView {
	margin-bottom: 10px;
	display: block;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filter_mobileView {
		display: none;
	}
}

.filterBackArrow {
	width: 100%;
	padding: 28px 0 0 5%;
	display: none;
	height: 80px;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filterBackArrow {
		display: block;
	}
}

.filterBackArrow img {
	cursor: pointer;
}

.filter-component {
	background: #e6e6e6;
	height: 60px;
	margin-bottom: 3vh;
	padding: 0;
	font-size: 20px;
	font-family: Calibri;
	position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filter-component {
		height: auto;
		margin-bottom: 0;
		background: transparent;
		margin: 0 10%;
		border-left: none;
	}
}

.filter-component .filter-component-wrap {
	margin: 0;
	padding-top: 15px;
	padding-top: 0.9375rem;
	padding-left: 20px;
	padding-left: 1.25rem;
}

.filter-component .filter-component-wrap>div[class^="col-"] {
	padding-left: 15px;
	padding-left: 0.9375rem;
	padding-right: 15px;
	padding-right: 0.9375rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filter-component .filter-component-wrap {
		padding-left: 0;
	}
}

.filter-component .selectContainer {
	padding: 0;
	padding-left: 60px;
	padding-left: 3.75rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filter-component .selectContainer {
		margin-top: 45px;
		padding: 7px 0 10px 0;
	}
}

.filter-component .selectContainer:last-child {
	padding-right: 40px;
	padding-right: 2.5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filter-component .selectContainer:last-child {
		padding-right: 0;
	}
}

.filter-component .selectContainer:first-child {
	padding-left: 40px;
	padding-left: 2.5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filter-component .selectContainer:first-child {
		margin-top: 18px;
		padding-left: 0 !important;
	}
}

.filter-component .selectContainer:not (:nth-child(1) ) {
	padding-left: 30px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filter-component .selectContainer:not (:nth-child(1) ) {
		padding-left: 0 !important;
	}
}

.filter-component .selectContainer:not (:nth-child(4) ) {
	border-right: 1px solid #9b9b9b;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filter-component .selectContainer:not (:nth-child(4) ) {
		border-right: none;
	}
}

.filter-component::before {
	width: 10px;
	height: 60px;
	background-image: var(--linearGradient);
	position: absolute;
	left: 0;
	top: 0;
	content: "";
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filter-component::before {
		display: none;
	}
}

.filter-component-heading-MobileView {
	color: #000000;
	font-family: Calibri-Bold;
	font-size: 20px;
	margin: 0 10%;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filter-component-heading-MobileView {
		display: block;
	}
}

@media only screen and (min-device-width: 992px) {
	margin
	:
	 
	0
	0
	0
	.625rem
	;
	
        
	font-family
	:
	 
	Calibri
	;
	
    
}

.overlay_container {
	position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.overlay_container .filter-content-MobileWrap {
		background: rgba(245, 245, 245, 0.97);
		width: 100%;
		z-index: 2;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: #fff;
	}
}

.filter-button-wrap {
	height: 70px;
	display: none;
	width: 100%;
	text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.filter-button-wrap {
		display: block;
		margin-top: 60px;
	}
}

.filter-button-wrap .filter-button {
	color: #fff;
	height: 42px;
	text-align: center;
	width: 150px;
	cursor: pointer;
	border: none;
}

.selectboxit-container span, .selectboxit-container .selectboxit-options a
	{
	height: 30px;
	line-height: 30px;
	display: block;
}

.mr-sortBy-wrap .only-select-sort-by-92 .selectboxit-text {
	height: auto;
	line-height: 22px;
	padding-left: 5px;
}