@rem: 16rem;
.more-rate-card-container {
    margin-top: 14px;
    @media only screen and (max-width: 767px) {
        margin: 14px 0 0;
    }
}

.more-rate-card {
    display: table;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    @media only screen and (max-width: 767px) {
        display: block;
    }
    &::before {
        width: 6/@rem;
        height: 100%;
        content: "";
        position: absolute;
        left: 0;
        background-image: var(--linearGradient);
    }
    .more-rate-amenities {
        @media only screen and (max-width: 767px) {
            padding: 18/@rem 16/@rem 19/@rem 20/@rem;
            width: 65%;
            display: block;
        }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            width: 18rem;
        }
        width: 28rem;
        display: table-cell;
        vertical-align: top;
        padding: 26/@rem 66/@rem 26/@rem 34/@rem ;
        .more-rate-title {
            font-family: Calibri-bold;
            font-size: 20/@rem;
            line-height: 1.25;
            color: #323232;
            @media only screen and (max-width: 767px) {
                font-size: 16/@rem;
                line-height: 1.33;
                color: #000000;
            }
        }
        .more-rate-available-wrp {
            @media only screen and (max-width: 767px) {
                margin-top: 11/@rem;
            }
            margin-top: 18/@rem;
            .amenities-avail-list {
                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    display: block;
                    width: 100%;
                    text-align: left !important;
                    margin-bottom: 14/@rem !important;
                    &:last-child {
                        margin-bottom: 0 !important;
                    }
                }
                @media only screen and (max-width: 767px) {
                    display: none;
                    width: 100%;
                    text-align: left !important;
                    margin-bottom: 9.5/@rem;
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        display: block;
                    }
                    &:nth-child(3) {
                        margin-bottom: 0;
                    }
                } // display: inline-block; // width: 49%;
                // vertical-align: top;
                // margin-bottom: 19/@rem;
                // &:nth-last-child(1),
                // &:nth-last-child(2) {
                //     margin-bottom: 0;
                // }
                // &:nth-child(even) {
                //     text-align: right;
                // }
                // .amenities-list-icon {
                //     width: 22/@rem;
                //     height: 22/@rem;
                //     display: inline-block;
                //     vertical-align: middle;
                // }
                // .amenities-list-label {
                //     display: inline-block;
                //     vertical-align: middle;
                //     font-family: Calibri;
                //     font-size: 14/@rem;
                //     color: #323232;
                //     margin-left: 5/@rem;
                //     width: calc(100% - 2rem);
                //     text-align: left;
                // }
            }
        }
    }
    .more-rate-info-wrp {
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            width: calc(100% - 19rem);
        }
        @media only screen and (max-width: 767px) {
            width: 100%;
            border-left: none;
            border-top: dashed 1.5/@rem rgba(155, 155, 155, 0.6);
            padding: 14/@rem 22/@rem 18/@rem;
            display: inline-block;
        }
        display: table-cell;
        vertical-align: top;
        width: calc(100% - 29rem);
        padding: 23/@rem 28/@rem 37/@rem;
        border-left: dashed 1.5/@rem rgba(155, 155, 155, 0.6);
        .description-cancel-wrp {
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                width: 57%;
            }
            @media only screen and (max-width: 767px) {
                width: 100%;
            }
            width: 477/@rem;
        }
        .rate-info-wrp {
            top: 13/@rem;
            right: 16/@rem;
            float: right;
            text-align: right;
            @media only screen and (max-width: 375px) {
                top: 1.5rem;
            }
            .hide-on-mobile {
                @media only screen and (max-width: 767px) {
                    display: none;
                }
            }
            .rate-info-label {
                @media only screen and (max-width: 767px) {
                    font-size: 14/@rem;
                }
                font-family: Calibri;
                font-size: 16/@rem;
                color: #9b9b9b;
                margin-bottom: 7/@rem;
            }
            .last-few-rooms {
                margin-bottom: 22/@rem;
                .last-few-rooms-icon {
                    width: 22/@rem;
                    height: 12/@rem;
                    display: inline-block;
                    vertical-align: middle;
                }
                .last-few-room-text {
                    display: inline-block;
                    vertical-align: middle;
                    font-family: Calibri;
                    font-size: 14/@rem;
                    line-height: 1.29;
                    color: #d0021b;
                    margin-left: 4/@rem;
                }
            }
            .more-rates-select-btn {
                @media only screen and (max-width: 480px) {
                    width: 120/@rem;
                }
                @media only screen and (max-width: 375px) {
                    width: 112/@rem;
                }
            }
            .rate-striked {
                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    display: block;
                }
                @media only screen and (max-width: 767px) {
                    display: block;
                    font-size: 15.7/@rem;
                    line-height: normal;
                    padding-right: 0;
                }
                display: inline-block;
                vertical-align: middle;
                text-decoration: line-through;
                opacity: 0.58;
                font-family: RupeeForadian;
                font-size: 18/@rem;
                color: #4a4a4a;
                padding-right: 5/@rem;
                span {
                    font-family: Calibri;
                    font-size: 20/@rem;
                    @media only screen and (max-width: 767px) {
                        font-size: 18/@rem;
                    }
                }
            }
            .present-rate {
                @media only screen and (max-width: 767px) {
                    font-size: 24.5/@rem;
                    line-height: normal;
                }
                display: inline-block;
                display: inline-flex;
                vertical-align: middle;
                font-family: RupeeForadian;
                font-size: 28/@rem;
                color: #4a4a4a;
                margin-right: -(8/@rem);
                span {
                    font-family: Calibri-bold;
                    font-size: 30/@rem;
                }
                .rate-asterik {
                    font-size: 16/@rem;
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }
}

.ama-theme .more-rate-card{
    background: #fbf9f7;
}

// Available amenities list
.amenities-avail-list {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-bottom: 11/@rem;
    &:nth-last-child(1),
    &:nth-last-child(2) {
        margin-bottom: 0;
    }
    &:nth-child(even) {
        text-align: right;
    }
    .amenities-list-icon {
        width: 22/@rem;
        height: 22/@rem;
        display: inline-block;
        vertical-align: middle;
    }
    .amenities-list-label {
        display: inline-block;
        vertical-align: middle;
        font-family: Calibri;
        font-size: 14/@rem;
        color: #323232;
        margin-left: 5/@rem;
        width: calc(100% - 2rem);
        text-align: left;
    }
}

//common styles for "Rate description and cancellation policy"
.description-cancel-wrp {
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
    font-family: Calibri;
    font-size: 16/@rem;
    line-height: 1.25;
    color: #4a4a4a;
    display: inline-block;
    vertical-align: top;
    width: 771/@rem;
    .rate-description {
        margin-bottom: 32/@rem;
    }
    .bold-title {
        font-family: Calibri-bold;
    }
    .show-more-option {
        font-family: Calibri-bold;
        color: var(--primaryColor);
        cursor: pointer;
    }
}

.ihcl-theme {
    .more-rate-card-container {
        @media only screen and (max-width: 767px) {
            margin: 14px 0;
            border-radius: 4px; 
            overflow: hidden;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .more-rate-card .more-rate-info-wrp .rate-info-wrp {
        @media only screen and (max-width: 767px) {
            float: none;
            text-align: left;
            margin-top: 16/@rem;
            .present-rate {
                color: var(--secondaryColorLight);
                position: absolute;
                bottom: 25/@rem;
                span {
                    font-size: 22/@rem;
                }
            }
            .rate-asterik {
                display: none;
            }
            .last-few-rooms {
                text-align: right;
                margin-bottom: 12/@rem;
                display: inline-block !important;
                width: 49%;
            }
            .rate-info-label {
                display: inline-block;
                width: 49%;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        .more-rates-select-btn {
            border-radius: 4px;
            height: 38/@rem !important;
            float: right;
        }
    }
}