@rem: 16rem;
.rate-card-wrap {
    width: 100%;
    font-family: Calibri;
    margin-top: 28 / @rem;
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        margin-top: 0;
    }
}

.rate-card-main-section {
    background: #fff;
    min-height: 332/@rem;
    display: flex;
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        height: auto;
        padding: 46px 0 0 ! important;
        position: relative;
        margin-bottom: 20px;
        display: block;
    }

}

.ama-theme .rate-card-main-section{
    background: #fbf9f7;
}

.view-photos-container {
    position: absolute;
    left: 1.125rem;
    bottom: 1.125rem;
    height: 35 / @rem;
    line-height: 35 / @rem;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
    padding-left: 0.625rem;
    cursor: pointer;
    span {
        color: #fff;
        font-size: 0.875rem;
        margin-left: 0.625rem;
        letter-spacing: 1.6px;
        padding-right: 5 / @rem;
    }
}

.rate-card-image-container-scroll {
    overflow-y: scroll;
}

.rate-card-image-holder-scroll {
}

.rate-card-image-container {
    float: left;
    height: unset;
    position: relative;
    width: 28rem;
    background: #ccc;
    .rate-card-image {
        height: 100%;
        width: 100%;
        @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
            width: 100%;
        }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        float: none;
        height: 191px;
        width: 100%;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
        width: 18rem;
    }
}

@rateImgWidth: 28rem;
.rate-card-details-container {
    float: left;
    width: ~"calc(100% - @{rateImgWidth})";
    /*height: 100%;*/
    padding: 20 / @rem 1.5625rem 4rem 1.4375rem;
    border: 1px solid transparent;
    border-left: none;
    position: relative;
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        float: none;
        width: 100%;
        position: relative;
        // height: 321px;
        padding: 17px 1rem 1rem;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
        @rateImgWidthTab: 18rem;
        width: ~"calc(100% - @{rateImgWidthTab})";
    }

    @media only screen and (max-device-width: 320px) {
        // height: 318px;
    }
}

.rate-card-room-details {
    float: left;
    width: 70%;
    height: 100%;
    .rate-card-room-heading {
        font-weight: bold;
        color: #323232;
        font-size: 1.75rem;
        line-height: 1.2;
        @media only screen and (max-device-width: 320px) {
            font-size: 1.625rem;
        }
    }

    .rate-card-room-description {
        color: #4a4a4a;
        font-size: 1rem;
        width: 80%;
        line-height: 1.25;
        margin-top: 5 / @rem;
        margin-bottom: 20 / @rem;
        @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
            width: 100%;
            overflow: hidden;
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
            overflow: hidden;
            margin-top: 0;
        }
    }

    .rate-card-room-facilities {
        margin-top: 15 / @rem;
        line-height: 30 / @rem;
        padding-bottom: 3rem;
        .room-facilities-heading {
            color: #616161;
            font-size: 0.875rem;
            display: none;
            @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                display: block;
            }
        }

        span {
            margin-right: 0.3rem;
            display: inline-block;
            img {
                width: 22 / @rem;
                height: 22 / @rem;
                object-fit: contain;
            }

            span {
                color: #323232;
                font-size: 0.875rem;
                margin-left: 0.1rem;
                @media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
                    display: none;
                }
            }
        }

        @media only screen and (min-device-width: 376px) and (max-device-width: 767px) {
            width: 50%;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
            width: 66%;
        }

        @media only screen and (min-device-width: 992px) and (max-device-width: 1024px) {
            width: 85%;
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
            /*width: 51%;*/
            margin-top: 5px;
        }
    }

    .rate-card-view-detials-container {
        margin-top: 15 / @rem;
        width: 9.5rem;
        font-size: 0.875rem;
        position: absolute;
    	left: 1.5rem;
    	bottom: 1.5rem;
        white-space: nowrap;
        img {
            margin-left: 3px;
        }

        @media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
            margin-top: 8px;
            width: 8.75rem;
        }

        @media only screen and (min-device-width: 992px) and (max-device-width: 1023px) {
            width: 12.875rem;
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
            margin-top: 2rem;
        }

        @media only screen and (max-device-width: 320px) {
            margin-top: 8px;
            width: 6.75rem;
            font-size: 8px;
        }
        @media only screen and (max-device-width: 767px) {
        	left: 1rem;
    		bottom: 1rem;
            z-index: 1;
        }
    }

    .rate-card-view-detials-container:focus {
        outline: none;
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        float: none;
        height: auto;
        width: 100%;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
        width: 57%;
    }

    .rate-card-view-detials-selected {
        background: var(--primaryColorLighter);
        .icon-drop-down-arrow  {
            transform: rotate(180deg);
        }
    }
}

.room-rate-points-wrap {
    @media only screen and (max-device-width: 767px) {
        position: relative;
        display: none;        
    }
}

.rate-card-room-rate-container {
    float: left;
    width: 30%;
    height: 100%;
    text-align: right;
    .rate-card-striked-rate {
        float: right;
        font-size: 1.25rem;
        text-decoration: line-through;
        font-family: RupeeForadian;
        color: #4a4a4a;
        opacity: 0.58;
        line-height: 45 / @rem;
        margin-right: 20 / @rem;
        span {
            font-family: Calibri;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
            font-size: 1.2rem;
            margin-right: 5px;
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
            font-size: 1.1rem;
            margin-right: 5px;
        }
    }
    
    .room-card-msg-con {
    	color: #d0021b;
    	@media only screen and (max-width: 767px) {	    	
	    	line-height: 1.2;
	    	text-align: right;
            padding-bottom: 50px;
    	}
    }

    .room-rate-wrap {
        margin-top: 15 / @rem;
        display: none;
        position: absolute;
    	bottom: 1.5rem;
    	right: 1.5rem;
    	max-width: 15rem;
        @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
            position: relative;
            bottom: 0;
            right: 0;            
            margin:auto 0 auto auto;
        }

        @media only screen and (max-device-width: 320px) {
            /*min-width: 166px;*/
        }
    }

    .rate-card-actual-rate {
        float: right;
        font-size: 1.875rem;
        font-family: RupeeForadian;
        color: #4a4a4a;
        font-weight: bold;
        margin-right: -0.625rem;
        span {
            font-family: Calibri;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 416px) {
            font-size: 1.6rem;
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
            font-size: 1.5rem;
        }
    }

    .rate-card-text-container {
        color: #9b9b9b;
        font-size: 1rem;
        @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
            line-height: 10px;
            font-size: 14px;
        }
    }

    .rate-card-disclaimer {
        span {
            margin-left: 0.625rem;
            color: #d0021b;
            @media only screen and (max-device-width: 320px) {
                margin-left: 0;
            }
        }

        @media only screen and (max-device-width: 375px) {
            font-size: 0.825rem;
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
            font-size: 0.75rem;
        }
           
        @media only screen and (max-width: 767px) {
            margin-top: 10px;
            line-height: 1;
        }
        
    }

    .more-rates-button {
        margin-top: 24 / @rem;
        width: 166 / @rem;
        img {
            margin-left: 10 / @rem;
            vertical-align: baseline;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
            margin-top: 5px;
        }

        @media only screen and (max-device-width: 375px) {
            width: 8.8rem;
            font-size: 0.875rem;
        }

        @media only screen and (max-device-width: 320px) {
            width: 115px;
            font-size: 10px;
        }
        .icon-drop-down-arrow-white.inline-block {
		    font-size: 0.7rem;
		    margin: 0 0.2rem;
		    &:before{
				color:#ffffff !important;
			}
		}
    }
	
    .more-rates-button-selected {
        background-color: var(--primaryColorLighter);
        border: solid 1px var(--primaryColor);
        color: var(--primaryColor);
        background-image: none;
        outline: none;
        .icon-drop-down-arrow-white.inline-block {
        	&:before{
        		color: var(--primaryColor) !important;
        	}
        }
        img {
            transform: rotate(180deg);
        }
    }

    .room-rate-points {
        font-size: 1rem;
        color: #9b9b9b;
        span:first-child , span:nth-child(3) {
            color: var(--primaryColorDark);
        }

        span {
            margin-left: 0.2rem;
        }

        span:nth-child(2) {
            border-right: 1px solid #c3c3c3;
            padding-right: 0.5rem;
        }

        span:nth-child(3) {
            margin-left: 0.5rem;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
            display: none;
        }
    }

    .room-rate-discount {
        color: #9b9b9b;
        font-size: 0.8125rem;
        height: 30 / @rem;
        line-height: 30 / @rem;
        position: relative;
        span {
            position: absolute;
            right: 5rem;
            @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                margin-right: 5px;
                position: unset;
            }
        }

        div {
            color: #fff;
            font-size: 0.825rem;
            width: 5rem;
            position: absolute;
            right: 0;
            img {
                width: 100%;
            }

            div {
                right: 0.7rem;
                top: 0.2rem;
                @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                    top: 1px;
                    right: 7px;
                }
            }

            @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                position: relative;
            }
        }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        float: none;
        width: 100%;
        position: relative;   
        min-height: 50px;  
        display: flex;
        justify-content: flex-end;
        align-items: center;       
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
        width: 43%;
        margin-top: 14px;
    }
    
}

.room-rate-points-mobile-wrap {
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    width: 100%;
    .room-rate-points-mobile {
        width: 9.4rem;
        display: none;
        font-size: 1rem;
        color: #9b9b9b;
        border-bottom: solid 1px var(--primaryColor);
        span:first-child , span:nth-child(3) {
            color: var(--primaryColorDark);
        }

        span {
            margin-left: 0.2rem;
        }

        span:nth-child(2) {
            border-right: 1px solid #c3c3c3;
            padding-right: 0.5rem;
        }

        span:nth-child(3) {
            margin-left: 0.5rem;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
            display: block;
        }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        padding: 15px 13px 15px 13px;
    }
}

.rate-card-details-section {
    width: 100%;
    background: #fff;
    height: auto;
    margin-top: 10 / @rem;
    color: #4a4a4a;
    display: none;
    margin-bottom: 1rem;
    .rate-card-details-border-box {
        display: table-cell;
        width: 6 / @rem;
        background-image: var(--linearGradient);
    }

    .heading {
        font-size: 1.125rem;
        font-weight: bold;
        color: #323232;
        margin-bottom: 11px;
    }

    .rate-card-room-details-wrap {
    vertical-align:top;
        width: 41.6%;
        display: table-cell;
        padding: 2.375rem 0 1.8125rem 2.4375rem;
        height: 100%;
        border-right: solid 1px #e5e3e3;
        @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
            display: block;
            width: 100%;
            padding-left: 0.875rem;
        }

        /*.content {
            @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                max-height: 78px;
                overflow: hidden;
            }
        }*/
    }

    .rate-card-service-details-wrap {
        width: 57.9%;
        display: table-cell;
        padding: 2.375rem 1.6875rem 1.8125rem 2.4375rem;
        ul {
            font-weight: normal;
            font-size: 1rem;
            list-style: none;
            padding-left: 0;
        }

        .service-details-subsection-container {
            @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                display: none;
            }
        }

        .service-details-subsection {
            float: left;
            width: 50%;
            margin-top: 27 / @rem;
            padding-right: 12 / @rem;
        }

        .service-details-subsection-show-more {
            display: none;
            cursor: pointer;
            font-weight: bold;
            color: var(--primaryColor);
            margin-top: 10 / @rem;
            @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                display: block;
            }
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
            display: block;
            width: 100%;
            padding-top: 0;
            padding-left: 0.875rem;
        }
    }
}

.rate-card-more-rates-section {
    display: none;
}

.visible-table {
    display: table;
}

.select-border {
    border: 1px solid var(--primaryColor);
}

.room-details-show-more {
    font-family: Calibri;
    color: var(--primaryColor);
    cursor: pointer;
    font-weight: bold;
    display: none;
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        display: block;
    }
}

.room-details-show-less {
    font-family: Calibri;
    color: var(--primaryColor);
    cursor: pointer;
    font-weight: bold;
    display: none;
}

.rate-card-wait-spinner {
    .taj-loader{
    	font-size:1rem;
    }
    img {
        width: 4rem;
    }
    @media only screen and (max-width: 767px) {
        right: 0;
    }
}

.each-selling-point-container{
    display:flex;    
    margin-bottom: 20px;
    .image-container {
        height: auto;
        margin-bottom: 0;
        width: 30px;
        margin-right: 10px;
        img {
            height: 20px;
        }
    }
    
    &:nth-last-child(2) {
        margin-bottom: 0px;
    }
    &:nth-last-child(1) {
        margin-bottom: 0px;
    }
}
.cm-page-container [class*="col-"].each-selling-point-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.cm-page-container [class*="col-"].each-selling-point-container:nth-child(2n) {
    padding-left: 16px !important;
}

.room-selling-point-label {
    display: inline-block;
    line-height: 1.2;
}

.cm-page-container [class*="col-"].selling-point-signature-feature-value{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media only screen and (max-width: 767px) {
    .rate-card-room-rate-container .rate-card-wait-spinner {
        position: relative;
        right: auto;
        top: auto;
        bottom: auto;
        line-height: normal;
        padding: 1rem 0 3.5rem;
    }

    .rate-card-room-rate-container .room-rate-unavailable {
        top: auto;
        line-height: normal;
        right: 0;
    }
}

.ihcl-theme {
    .rate-card-room-rate-container {
        @media only screen and (max-width: 767px) {
            padding-top: 12/@rem;
//            .rate-card-text-container {
//                display: none;
//            }
        }
        .more-rates-button-selected {
            background-color: #ffffff;
            background-image: none !important;
        }
    }
    .rate-card-room-details {
        .rate-card-view-detials-container {
            border: 0 !important;
            text-decoration: underline;
        }
        .rate-card-view-detials-selected {
            background: none;
        }
    }

    @media only screen and (max-width: 767px) {     
        .more-rates-button {
            border-radius: 4px;
            height: 38/@rem !important;
//            font-size: 13/@rem;
        }
        .rate-card-main-section {
             padding: 0 !important;
             min-height: 240/@rem;
             border-radius: 4px;
            border: 1px solid #3a98d3;
            .room-rate-points-mobile-wrap {
                display: none;
            }
            &.select-border {
                margin-bottom: 0;
            }
        }
        .rate-card-image-container {
            height: 62px;
            width: 62px;
            border-radius: 4px;
            float: right;
            margin: 1rem 1rem 0 0;
            overflow: hidden;
            .view-photos-container {
                display: none;
            }
        }
        .rate-card-details-section {
            border-radius: 3px;
            margin-top: 0;
        }
        
        .rate-card-details-container {
            .rate-card-room-description, .selling-point-signature-feature-value {
                display: none;
            }
            .rate-card-room-heading {
                width: 70%;
                margin-bottom: 0.8rem;
                font-family: "Calibri-bold";
                font-size: 18/@rem;
            }
            .rate-card-view-detials-container {
                border: 0 !important;
                font-size: 14/@rem;
                height: auto !important;
                width: auto;
                padding: 0;
                text-decoration: underline;
                bottom: 1.5rem;
                color: var(--secondaryColor) !important;
                .icon-drop-down-arrow:before {
                    color: var(--secondaryColorLighter) !important;
                    font-size: 0.6rem;
                }
            }
            .ihclcb-view-photos-container {
                height: 30 / @rem;
                line-height: 30 / @rem;
                background: rgba(0, 0, 0, 0.2);
                z-index: 1;                
                cursor: pointer;
                border-radius: 4px;
                overflow: hidden;
                margin-bottom: 1rem;
                max-width: 12rem;
                div {
                    display: inline-block;
                    padding: 0 0.625rem;
                    background-image: var(--linearGradient);
                }
                span {
                    color: #fff;
                    font-size: 0.875rem;
                    margin-left: 0.625rem;
                    letter-spacing: 1.6px;
                    padding-right: 5 / @rem;
                    text-transform: lowercase;
                }
            }
//            .minimum-booking-days {
//                text-align: left;
//            }
        }        
        .room-rate-wrap {  
            margin-bottom: 0;
            .rate-card-actual-rate {
                margin-right: 0;
                span {
                    color: var(--secondaryColorLight);
                }
            }
            .rate-highlight {
                display: none;
            }
        }
    }
}

