@rem:16rem;
.rooms-and-suites-card.offers-card-component{
    .offers-card-inner-wrapper{
        .offers-card-image{
            height: 328px;
            @media only screen and (max-width:767px) {
                height: 280px;
            }
        }
        .rooms-and-suites-content {
            background-color: #ffffff;
            padding:(15/@rem) (20/@rem) (20/@rem) (22/@rem); 
            @media only screen and (max-width:767px) {
                padding:(18/@rem) (18/@rem) (14/@rem) (18/@rem); 
            }
            .room-title {
                font-family: Calibri;
                font-size: (24/@rem);
                line-height: 1.04;
                color: #323232;
            }
            .room-description {
                font-family: Calibri;
                font-size: (16/@rem);
                line-height: 1.31;
                color: #4a4a4a;
                margin: (14/@rem) 0;
                @media only screen and (max-width:767px) {
                    margin: (8/@rem) 0 (8/@rem);
                    color: #4a4a4a;
                }
            }
            .room-content-footer {
                /*position: relative;*/
                width: 100%;
                padding-bottom: 6rem;
                .room-rate-unavailable {
                	text-align: right;
                	position: absolute;
    				right: 1.25rem;
    				bottom: 1.25rem;
                }
                .room-cost-card-wait-spinner {
                	text-align: right;
                	position: absolute;
    				right: 1.25rem;
    				bottom: 1.25rem;
                }
                .room-amenities-title {
                	font-family: Calibri;
    				font-size: 1.25rem;
    				color: #323232;
    				margin-top: 1.25rem;
                }
                li.room-amenities-icon {
				    font-family: Calibri;
				    font-size: 1rem;
				    color: #4a4a4a;
				}
                .room-amenities-wrapper {
                    display: inline-block;
                    width: 49%;
                    text-align: left;
                    vertical-align: top;
                    @media only screen and (max-width:767px) {
                        vertical-align: bottom;
                    }
                    .room-amenities-title{
                        font-family: Calibri;
                        font-size: (14/@rem);
                        line-height: 1;
                        color: #616161;
                        margin-bottom: (18/@rem);
                        @media only screen and (max-width:767px) {
                            margin-bottom: (11/@rem);
                        }
                    }
                    .room-available-amenities{
                        max-width: (115/@rem);
                        @media only screen and (max-width:767px) {
                            max-width: (90/@rem);
                        }
                        .room-amenities-icon{
                            display: inline;
                            vertical-align: top;
                            width: 23/@rem;
                            height: 21/@rem;
                            @media only screen and (max-width:767px) {
                                width: 18/@rem;
                                height: 16/@rem;
                            }
                            &:nth-child(3n-1){
                                margin: 0 (16.8/@rem);
                                @media only screen and (max-width:767px) {
                                    margin: 0 (15/@rem);
                                }
                            }
                            &:nth-child(3n){
                                margin-bottom: (16.8/@rem);
                                @media only screen and (max-width:767px) {
                                    margin-bottom: (14/@rem);
                                }
                                @media only screen and (max-width:374px) {
                                    margin: 0 (10/@rem);
                                }
                            }
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                    @media only screen and (max-width:374px) {
                        width: 45%;
                    }
                }
                .room-cost-wrapper{
                    display: inline-block;
                    width: 49%;
                    text-align: right;
                    position: absolute;
    				right: 1.25rem;
    				bottom: 1.25rem;
                    .room-cost-title{
                        font-family: Calibri;
                        font-size: (10/@rem);
                        text-align: right;
                        color: #9b9b9b;
                    }
                    .room-cost-rupees{
                        font-family: RupeeForadian;
                        line-height: normal;
                        font-size: (24/@rem);
                        text-align: right;
                        color: #4a4a4a;
                        margin-bottom: (9/@rem);
                        @media only screen and (max-width:767px) {
                            margin-bottom: (5/@rem);
                        }
                        span{
                            font-family: Calibri;
                            font-weight: bold;
                            margin-left: -6px;
                        }
                    }
                    @media only screen and (max-width:374px) {
                        width: 52%;
                    }
                }
            }
        }
    }
}
