<template data-sly-template.customJs="${}">
	<!-- id="custom-js" type="text/plain" target="amp-script" -->
    <!--<script>
        function newname(){
			console.log('treetreetree');
            var x = document.getElementById('bas-date-picker-1');
            console.log(x);
        }
		newname();
	</script>-->
</template>
