<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2016 Adobe Systems Incorporated
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<template data-sly-template.headlibs="${@ designPath, staticDesignPath, clientlibCategories}"
          data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}">
    <sly data-sly-test="${!wcmmode.disabled}" data-sly-call="${clientlib.all @ categories = [
        'cq.pagetypes.html5page',
        'cq.authoring.page',
        'cq.wcm.foundation-main',
        'cq.shared'
        ]
    }"></sly>
    <sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp"></sly>
    <sly data-sly-test="${clientlibCategories}"
         data-sly-call="${clientlib.css @ categories=clientlibCategories}"></sly>
    <link data-sly-test="${staticDesignPath}" href="${staticDesignPath}" rel="stylesheet" type="text/css" />
</template>
