<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}  data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.hotelnavigation'}" />

<div data-sly-test.edit=${wcmmode.edit}>
    <h10>Edit to Configure the Navigation Component</h10>
</div>


<div>
    <nav class="cm-nav-tab-con">
        <sly data-sly-use.multiItems="com.ihcl.core.models.NavigationTab">
            <sly data-sly-list.tab="${multiItems.getMultiFieldTabList}">
                <a id=${tab.tabtext} class="tab-child-container" href="${tab.tabtextlink}.html">${tab.tabtext}</a>
            </sly>
            <div class="more-container-mobile">
                <span>More</span>
                <span class="more-arrow icon-drop-down-arrow"></span>
            </div>
            <div class="more-content-wrap">
                <div class="more-content-heading">
                <div data-injector-key="hotel-name"></div>
                <span class="icon-prev-arrow"></span>
                </div>
                <div class="more-content-options" data-sly-list ="${multiItems.getMultiFieldTabList}">
                    <div class="more-tab-child-container" data-sly-test="${itemList.index > 1}">
                        <a id=${item.tabtext} href="${item.tabtextlink}.html">${item.tabtext}</a>
                    </div>
                </div>
            </div>
        </sly>
    </nav>
</div>
