.discount-right-clipped-wrapper {
    display: inline-block;
}

.discount-right-clipped-wrapper .discount-right-clipped {
    font-family: Calibri;
    font-size: 23px;
    font-size: 1.4625rem;
    text-align: center;
    color: #ffffff;
    padding: 10px 0px 5px;
    padding: 0.625rem 0rem 0.3125rem;
    min-width: 260px;
    min-width: 16.25rem;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}

.discount-right-clipped-wrapper .discount-customer-name {
    display: inline-block;
    font-family: Calibri;
    font-size: 25px;
    font-size: 1.575rem;
    line-height: 1.14;
    color: #323232;
    margin-left: 10px;
    margin-left: 0.625rem;
    vertical-align: middle;
    margin-top: 4px;
    margin-top: 0.25rem;
}

@media only screen and (max-width: 767px) {
    .discount-right-clipped-wrapper {
        display: block;
    }

    .discount-right-clipped-wrapper .discount-right-clipped {
        font-size: 1.05rem;
        padding: 0.375rem 0rem 0.125rem;
        min-width: 11.625rem;
        margin-left: -0.625rem;
    }

    .discount-right-clipped-wrapper .discount-customer-name {
        font-size: 1.13125rem;
        margin-left: 0rem;
    }
}
