<div style="display: none; ">
    <sly data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher" />
    <sly data-sly-use.urlMap="${'url-map.js' @ reqUrl=pageProperties.destinationRootPath}"/>
    <div data-hotel-id ="${hotelProperties.hotelIdentifier}" data-hotel-chain-code="${hotelProperties.hotelChainCode}"></div>
    <div class="mr-hotel-details" data-hotel-name="${hotelProperties.name}" data-hotel-city="${hotelProperties.hotelCity}" data-hotel-state="${hotelProperties.hotelState}"
         data-zipCode="${hotelProperties.hotelPinCode}" data-hotelCountry="${hotelProperties.hotelCountry}" data-bunglowCode="${hotelProperties.roomTypeCode}" 
         data-sameDayCheckout="${hotelProperties.sameDayCheckout}"></div>
    <div data-hotel-locationid ="${hotelProperties.hotelLocationId}"></div>
    <div data-hotel-roomspath="${hotelProperties.hotelRoomsPath}"></div>
    <div data-destination-rootpath="${urlMap.mappedUrl}"></div>
</div>