<sly data-sly-include="gtm-config/gtm-body.html"></sly>
<div class="cm-page-container ${inheritedPageProperties.brandTheme} ${properties.containerStyles}  ${pageProperties.pageId} ">
    <sly data-sly-include="pageheader.html"></sly>
    <div>
        <main>
            <sly data-sly-include="banner.html"></sly>
            <sly data-sly-include="app-data.html"></sly>
            <sly data-sly-include="content.html"></sly>
        </main>
        <sly data-sly-include="pagefooter.html"></sly>
    </div>
</div>
