<script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>
<script async defer>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '231502740854239',
          xfbml      : true,
          version    : 'v3.2'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         // Evaluate script slows down performance
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
</script>