<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2016 Adobe Systems Incorporated
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<template data-sly-template.head="${ @ page }" data-sly-use.headlibRenderer="headlibs.html">
    <sly data-sly-include="meta/meta-tags.html"></sly>
 <!--   <sly data-sly-include="tata-digital-sso/td-sso-script.html"></sly> -->
    <sly data-sly-include="gtm-config/google-optimize-tag.html"></sly>
    <sly data-sly-include="gtm-config/gtm-head.html"></sly>
    <sly data-sly-include="meta/twitter-og-card.html"></sly>
    <sly data-sly-test="${properties.includeJsonLdScript=='true'}"
     data-sly-include="markupcode.html"></sly>

    <sly data-sly-test.faviconIco="${page.favicons['faviconIco']}">
        <!--[if IE]>
        <link rel="shortcut icon" href="${faviconIco}"/><![endif]-->
    </sly>
    <!--/* Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. */-->
    <link data-sly-test.faviconPng="${page.favicons['faviconPng']}"
          rel="icon" type="image/png" href="${faviconPng}"/>

    <link data-sly-test="${!faviconPng && faviconIco}"
          rel="icon" href="${faviconIco}"/>

    <link data-sly-test.touchIcon60="${page.favicons['touchIcon60']}"
          rel="apple-touch-icon" sizes="60x60" href="${touchIcon60}"/>

    <link data-sly-test.touchIcon76="${page.favicons['touchIcon76']}"
          rel="apple-touch-icon" sizes="76x76" href="${touchIcon76}"/>

    <link data-sly-test.touchIcon120="${page.favicons['touchIcon120']}"
          rel="apple-touch-icon" sizes="120x120" href="${touchIcon120}"/>

    <link data-sly-test.touchIcon152="${page.favicons['touchIcon152']}"
          rel="apple-touch-icon" sizes="152x152" href="${touchIcon152}"/>

    <!-- End of tags-->
    <sly data-sly-include="head.socialmedia.html"></sly>

    <sly data-sly-call="${headlibRenderer.headlibs @
                                designPath         = page.designPath,
                                staticDesignPath   = page.staticDesignPath,
                                clientLibCategories = page.clientLibCategories}"></sly>
    <!--/* For IE 9 and below. ICO should be 32x32 pixels in size */-->

    <div data-sly-test.webmasterCode="${properties['jcr:webmasterCode']}" data-sly-unwrap>
        <script>${webmasterCode @context="unsafe"}</script>
    </div>

    <div data-sly-test.dataMarkup="${properties['jcr:dataMarkup']}" data-sly-unwrap>
        <script type="application/ld+json">${dataMarkup @context="unsafe"}</script>
    </div>
	<sly data-sly-test="${properties.includedrivectionScript=='true'}">
        <!-- begin Convert Experiences code--> 
        <script type="text/javascript" src="//cdn-3.convertexperiments.com/js/1002628-10021077.js"></script> 
        <!-- end Convert Experiences code -->
    </sly>
    <sly data-sly-include="clientlibs-include-css"></sly>
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
         data-sly-call="${clientlib.js @ categories='jquery'}"></sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-include="izooto-config/izooto.html"></sly>

  <!--  <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories='sso.tcs.digital'}"></sly>  --> 

</template>

