<sly data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher"/>
<div data-sly-use.rate="${'com.ihcl.core.models.rateandreview.RateAndReview' @ trustyouid=hotelProperties.trustYouId}">

<script type="application/ld+json" data-sly-include="jsonld.html"> </script>

