
<!-- Footer content starts here -->
<div data-sly-resource="${'footer_parsys' @ resourceType='wcm/foundation/components/parsys'}"></div>
<!-- Footer content ends here -->
<sly data-sly-include="clientlibs-include-js"></sly>
<sly data-sly-include="gtm-config/datalayer.html"></sly>
<sly data-sly-test="${currentPage.parent.parent.parent.parent.properties.containerStyles != 'tic'}"
data-sly-include="triptease-config/triptease-config.html"></sly>