<sly data-sly-use.config="com.ihcl.core.models.config.TajApiKeyConfigModel"/>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=${config.getGoogleMapApiKey}&libraries=places" async defer>
</script>

<!-- Header content starts here -->
<div data-sly-resource="${'header_parsys' @ resourceType='wcm/foundation/components/parsys'}"></div>
<!-- Header content ends here -->