.ihcl-contact-us-form .contact-us.mr-sub-form {
    padding: 45px;
    padding: 2.8125rem;
    background-color: #fefefe;
    box-shadow: 0 7px 14px 0 #e5e3e3;
}

@media screen and (max-width: 991px) {
    .ihcl-contact-us-form .contact-us.mr-sub-form {
        padding: 2.1875rem 1.25rem;
    }
}

.ihcl-contact-us-form .contact-us.mr-sub-form .sub-form-input-wrp {
    margin-bottom: 36px;
    margin-bottom: 2.25rem;
}

.ihcl-contact-us-form .contact-us.mr-sub-form .sub-form-text-area {
    height: 186px;
    height: 11.625rem;
    width: 100%;
    border: solid 1px #cdcdcd;
    margin-top: 40px;
    margin-top: 2.5rem;
    outline: none;
}

@media screen and (max-width: 991px) {
    .ihcl-contact-us-form .contact-us.mr-sub-form .sub-form-text-area {
        height: 7.5rem;
    }
}

.ihcl-contact-us-form .contact-us.mr-sub-form .contact-form-left {
    padding-right: 30px;
    padding-right: 1.875rem;
}

@media screen and (max-width: 991px) {
    .ihcl-contact-us-form .contact-us.mr-sub-form .contact-form-left {
        padding-right: 0;
    }
}

.ihcl-contact-us-form .contact-us.mr-sub-form .contact-form-right {
    padding-left: 30px;
    padding-left: 1.875rem;
}

@media only screen and (max-width: 991px) {
.ihcl-contact-us-form .contact-us.mr-sub-form .contact-form-right {
padding-left: 0px;
}
}
                
@media screen and (max-width: 991px) {
    .ihcl-contact-us-form .contact-us.mr-sub-form .request-quote-submit-wrapper {
        padding-left: 0;
        text-align: center;
    }
}

.ihcl-contact-us-form .contact-us.mr-sub-form .request-quote-submit-wrapper .mandatory-text {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    color: #818b92;
    outline: none;
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
}

@media screen and (max-width: 991px) {
    .ihcl-contact-us-form .contact-us.mr-sub-form .request-quote-submit-wrapper .mandatory-text {
        text-align: left;
    }
}

.ihcl-contact-us-form .hotels-event-confirmation-popup {
    display: none;
}

.ihcl-contact-us-form .hotels-event-confirmation-overlay {
    position: fixed;
}

.ihcl-contact-us-form .request-quote-submit-btn {
    min-width: 121px;
    min-width: 7.5625rem;
}
.taj-air-contact-us-form{
  margin-top: 1rem;
}
.taj-air-contact-us-form.ihcl-contact-us-form .contact-us.mr-sub-form .sub-form-text-area{
margin-top:0
}
.taj-air-contact-us-form.ihcl-contact-us-form .clear-btn{
margin-left:1rem;
}

.taj-air-contact-us-form .selectSubContainer {
	width: 100%;
	border-bottom-color: #dee2e5;
}
.taj-air-contact-us-form .selectSubContainer .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
	top: 8px;
}

.ihcl-contact-us-form .hotels-event-confirmation-popup {
    display: none;
}
.ihcl-contact-us-form .hotels-event-confirmation-overlay {
    position: fixed;
}
.ihcl-contact-us-form .hotels-event-error-popup {
    display: none;
}
.ihcl-contact-us-form .hotels-event-error-overlay {
    position: fixed;
}


.hotels-event-confirmation-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(74, 74, 74, 0.55);
    z-index: 101;
    display: table;
    width: 100%;
    height: 100%;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-confirmation-overlay {
      background-color: #ffffff;
      position: fixed;
      z-index: 2;
    }
  }
  .hotels-event-confirmation-overlay .hotels-event-confirmation-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container {
    position: relative;
    background-color: #fefefe;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);
    padding: 9.0625rem 1.6875rem 5.8125rem;
    margin: auto;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container {
      box-shadow: none;
      padding: 0 1.25rem !important;
      background-color: #ffffff;
    }
  }
  .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container .event-confirmation-close-icon {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 1.375rem;
    right: 1.1875rem;
    cursor: pointer;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container .event-confirmation-close-icon {
      position: fixed;
      top: 1.1875rem;
      right: 1.375rem;
    }
  }
  .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container .event-confirmation-title {
    font-family: Calibri-bold;
    font-size: 1.875rem;
    color: #282828;
    margin-bottom: 2.5rem;
    text-align: center;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container .event-confirmation-title {
      font-size: 1.5rem;
      margin-bottom: 1.375rem;
    }
  }
  .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container .event-confirmation-descripion {
    font-family: Calibri;
    font-size: 1.5rem;
    text-align: center;
    max-width: 24.6875rem;
    color: #282828;
    margin: 0 auto 4rem;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-confirmation-overlay .hotels-event-confirmation-container .hotels-event-confirmation-inner-wrp.container .event-confirmation-descripion {
      font-size: 1.375rem;
      margin-bottom: 3.0625rem;
      max-width: 22.625rem;
    }
  }
  .hotels-event-error-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(74, 74, 74, 0.55);
    z-index: 101;
    display: table;
    width: 100%;
    height: 100%;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-error-overlay {
      background-color: #ffffff;
      position: fixed;
      z-index: 2;
    }
  }
  .hotels-event-error-overlay .hotels-event-error-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container {
    position: relative;
    background-color: #fefefe;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);
    padding: 7.0625rem 1.6875rem 5.8125rem;
    margin: auto;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container {
      box-shadow: none;
      padding: 0 1.25rem !important;
      background-color: #ffffff;
    }
  }
  .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container .event-error-close-icon {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 1.375rem;
    right: 1.1875rem;
    cursor: pointer;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container .event-error-close-icon {
      position: fixed;
      top: 1.1875rem;
      right: 1.375rem;
    }
  }
  .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container .event-error-title {
    font-family: Calibri-bold;
    font-size: 1.875rem;
    color: #282828;
    margin-bottom: 2.5rem;
    text-align: center;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container .event-error-title {
      font-size: 1.5rem;
      margin-bottom: 1.375rem;
    }
  }
  .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container .event-error-descripion {
    font-family: Calibri;
    font-size: 1.5rem;
    text-align: center;
    max-width: 24.6875rem;
    color: #282828;
    margin: 0 auto 4rem;
  }
  @media only screen and (max-width: 991px) {
    .hotels-event-error-overlay .hotels-event-error-container .hotels-event-error-inner-wrp.container .event-error-descripion {
      font-size: 1.375rem;
      margin-bottom: 3.0625rem;
      max-width: 22.625rem;
    }
  }
  .spinner-con {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(74, 74, 74, 0.55);
    text-align: center;
    z-index: 100;
  }
  .spinner-wrap {
    position: absolute;
    width: 8rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
