<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientLib.all @ categories='taj.hotels.popular-destinations'}" /> 
<div data-sly-test="${wcmmode.edit}">
    Popular Destinations
</div>
<div data-sly-use.model="com.ihcl.core.models.PopularDestinations"
    class="destination-container cm-content-blocks container">
     <sly data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly> 
    <div>
        <div class="popular-destination-wrap">
            <div class="clearfix" data-sly-list="${model.destinations}">
                <sly data-sly-resource="${'{0}/jcr:content' @ format=[item], resourceType='/apps/tajhotels/components/content/popular-destinations/destination-card'}"></sly>
            </div>
        </div>
    </div>
</div>

