<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.contactuscards'}" />
<sly data-sly-use.model="com.ihcl.core.models.ihcl.IhclcardModel" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />


<div class="cm-header-label-con title-decorator-border" data-sly-test="${properties.title}">
    <h2 class="cm-header-label">${properties.title}</h2>
</div>
<div class="mr-contact-us-products-container">
    <div>
        <sly data-sly-list.key="${model.cardList}">
        <div class="mr-contact-us-wrap">
            <div class="cont-us-image-cont">
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=key.imageCard, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" ></sly>
            </div>
            <div class="cont-us-details-container">
                <div class="cont-us-details-header">${key.title}</div>
                <div class="cont-us-contact-wrap">
                    <div class="cont-us-phone-number">${key.description @context='html'}</div>
                </div>
            </div>
            <sly data-sly-test=${key.buttontext}>
                <div class="card-btn" style="margin-bottom: 30px;width: 50%;letter-spacing: 1.8px;float: right;margin-right: 10%">
                    <a href="${key.pagePath}.html"
                    target="_blank">
                        <buttion class="cm-btn-secondary" style="padding: 14px 20px;">${key.buttontext}</buttion>
                    </a> 
                </div>
            </sly>
        </div>
        </sly>
    </div>
</div>
</sly>
