<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"> <sly
    data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.experience'}" />

<section class="experience-warp pageStrip">
    <div class="container">
        <sly data-sly-test="${properties.heading}">
        <div class="row">
            <div class="col-md-12 experience-header">
                <h3 data-sly-element="${properties.type}" class="text-title">${properties.heading}</h3>
                <div>${properties.experiencedescription @ context= 'html'}</div>
            </div>
        </div>
        </sly>
        <div class="row">
            <div class="col-md-12">
                <sly data-sly-list.list='${resource.children}'> <sly data-sly-test="${list.name == 'experience'}">
                <div id="${list.name}" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <sly data-sly-test="${properties.multi == 'multi'}"> <sly
                            data-sly-list.listItem='${list.children}'>
                        <li data-target="#${list.name}" data-slide-to="${listItemList.index}"
                            class="${listItemList.index == 0 ? 'active' : ''}"></li>
                        </sly> </sly>
                    </ol>
                    <div class="carousel-inner">
                        <sly data-sly-list.listItem='${list.children}'>
                        <div class="carousel-item experience-card ${listItemList.index == 0 ? 'active' : ''}">
                            <div class="experience-img">
                                <!--<img src="${listItem.imagePath}">-->
                                <sly
                                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=listItem.imagePath,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg'}"></sly>
                            </div>
                            <div class="experience-card-description">
                                <h3>${listItem.experienceHeading}</h3>
                                <span> ${listItem.description @ context = "html"} </span>
                            </div>
                        </div>
                        </sly>
                    </div>
                    <sly data-sly-test="${properties.multi == 'multi'}"> <a class="carousel-control-prev"
                        href="#${list.name}" role="button" data-slide="prev"> <span class="carousel-control-prev-icon"
                            aria-hidden="true"></span> <span class="sr-only">Previous</span>
                    </a> <a class="carousel-control-next" href="#${list.name}" role="button" data-slide="next"> <span
                            class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
                    </a> </sly>
                </div>
                </sly> </sly>
            </div>
        </div>
</section>