<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} 
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.jivaspabookingglobal'}" />
    
    <sly data-sly-use.bookingUrl="${'url-map.js' @ reqUrl=properties.bookanappointmenturl}" />
    <sly data-sly-use.contactUsUrl="${'url-map.js' @ reqUrl=properties.contactusurl}" />
    
<div class="book-jiva-spa-global-page">
    <a class="contact-us-link-jiva-spa" href="${contactUsUrl.mappedUrl}" />Contact Us</a>
   
    <button onClick="goToBookingPageGlobal('${bookingUrl.mappedUrl @ context='text'}')" class="cm-btn-secondary jiva-spa-details-book-btn" data-booking-url=${bookingUrl.mappedUrl} 
    >Book An Appointment</button>
</div>


