<a class="book-stay-btn" id="book-a-stay-button" on="tap:bookAStay.open,AMP.setState({count:count.room > 0? {room:count.room,showRoom:count.room}:{room:count.room+1,showRoom:count.room+1},roomOnechildren: children, children: 0,basSearchActive: false,roomOneadults : adults, adults : roomOneadults ? roomOneadults : 1})">

<div class="mr-mobile-availability-check mr-check-availability-container" id="cmCheckAvailabilitySmallDevice">
    <div class="col-sm-3 mr-checkIn-checkOut-Date">
 <div class="mr-checkIn-checkOut-Date-hover box-with-bottom-arrow cm-scale-animation" style="display: block;">                    
            <i class="inline-block icon-calendar-check-availability mr-checkIn-checkOut-Date-hover-icon"></i>                    
            <div class="mr-checkIn-checkOut-Date-hover-text">Enter your stay dates to get the best deals!</div>

        </div>
      </div>
      <div class="widget-body pl-1" style="color:white;">${currentPage.Title}
      <amp-img class="edit-icon" width="20" height="20" src="/content/dam/vivanta/highlights/edit-icon.PNG"></div>
	    		<div class="widget-body">
            <!-- Room configurations - to be displayed when basSearchActive = false -->

			<div class="bas-date-picker ${pageProperties.sitePath}" style="width: 50%;">
				 <amp-date-picker id="static-picker" style="display:flex" class="date-picker-tag"
                      start-date="P14D"
					  end-date="P15D"
                      type="range"
                      mode="overlay"
                      layout="container"
					  height="360"
                      on="select:AMP.setState({date1:event.start,date2:event.end,dateselected:event.date,count:{showdatepicker:count.showdatepicker+1}})"
                      locale="en"
                      format="DD/MM/YYYY"
					  minimum-nights="1"
                      start-input-selector="#bas-stay-start-date-2"                      
					  end-input-selector="#bas-stay-end-date-2">
						<div style="width: 50%;" role="button" tabindex>
                            <input id="bas-stay-start-date-2" name="fromDate" aria-label="stay start date" placeholder="Check In" style="width: 100%;" class="widget-input" 
                            [value]="date1"/> 
                       	</div>
                        <div style="width: 50%;" role="button" tabindex>
                           <input id="bas-stay-end-date-2" name="toDate" aria-label = "stay end date" placeholder="Check Out" style="width: 100%;" class="widget-input" 
                            [value]="date2"/>
                        </div>
                    </amp-date-picker>

			</div>
		<div class="mr-mobile-availability-details mr-mobile-roomGuestsCount" style="color:white;">1 Room - 1 Guest</div>
	    <div class="mr-edit-icon-wrap"><span role="button" tabindex="0" class="mr-edit-icon icon-edit btn-edit-booking-details"></span></div>
	</div>
</a>