<sly data-sly-test="${wcmmode.edit}">AMA Header</sly>

<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"> <sly
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.hotels.banner'}"></sly>

<div class="banner-carousel owl-carousel owl-theme">
    <sly data-sly-list.list="${resource.children}"> <sly data-sly-test="${list.name == 'banner'}"> <sly
        data-sly-list.listItem="${list.children}">
    <div class="banner-carousel-wrap">
        <div class="banner-carosel-card">
            <sly
                data-sly-call="${imagetemplate.damImageTemplate @ imagePath=listItem.imagePath,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg'}"></sly>
            <!--<sly
                                data-sly-call="${imagetemplate.damImageTemplate @ imagePath=listItem.imagePath, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', mobileImage='${listItem.imagePath}'}">
                            </sly>
                        <img src="${listItem.imagePath}" alt=""/> -->
            <h4 class="banner-text-position">${listItem.bannerText}</h4>
        </div>
    </div>
    </sly> </sly> </sly>
</div>