@rem: 16rem;
.ihcl-theme {
    .summary-room-details .entity-details-show {
        margin-top: 45/@rem;
        @media only screen and (max-width: 767px) {
            margin-top: 20/@rem;    
    	}
    }   
    .ihclcb-entity-list-wrp {
       	font-family: Calibri;
        font-size: 16/@rem;
        line-height: 1.5;
        color: #272727;
    	margin-bottom: 8px;
        display: flex;    
        @media only screen and (max-width: 767px) {
            font-size: 14/@rem;
        }
    }
    
    .ihclcb-entity-list-wrp .entity-title {
    	min-width: 120/@rem;
        position: relative;
    }
    
    .ihclcb-entity-list-wrp .entity-title::after {
    	content: ':';
        position: absolute;
        right: 0;
    
    }
    .ihclcb-entity-list-wrp span {
    	margin-left: 8/@rem;
        display: inline-block;
    }
    .ihclcb-entity-list-wrp:last-child {
    	margin-bottom: 0;
    }
}

