@rem:16rem;
.tic-help-freq-que-con {
	background: #fff;
	padding: 40/@rem;
	@media only screen and (max-width:767px) {
		padding: 1rem;
	}
}
.tic-help-freq-que-heading {
	font-family: Calibri-Bold;
	font-size: 25/@rem;
	color: #1b1b1b;
	margin-bottom: 20/@rem;
	line-height: 1;
}
.tic-help-freq-que-section {
	padding: 20/@rem 30/@rem;
	font-family: Calibri;
	font-size: 20/@rem;
	color: #323232;
	background: #f7f7f7;
	margin-bottom: 5/@rem;
	position: relative;
	@media only screen and (max-width:767px) {
		padding: 1rem 0.8rem;
	}
}
.tic-help-freq-que-arrow {
	position: absolute;
	right: 25/@rem;
	top: 20/@rem;
	@media only screen and (max-width:767px) {
		top: 12/@rem;
	}
}
.tic-help-freq-que-arrow-exp {
	transform: rotate(180deg);
}
.tic-help-freq-que-ans {
	display: none;
	color: #323232;
	font-size: 17/@rem;
	line-height: 1;
	margin-top: 5/@rem;
	padding-right: 30/@rem;
	@media only screen and (max-width:415px) {
		font-size: 14/@rem;
	}
	a {          color: #d29851;
      }
 
      p {
         b {
              font-size: 16px;
          }
      }
}
.tic-help-freq-que-ans-exp {
	display: block;
}
.tic-help-freq-que {
	padding-right: 30/@rem;
	line-height: 1;
}
.icon-tic-arrow-down::before {
	font-size: small;
}