<div class="banner-container">
    <!-- Banner Content starts here -->
    <div data-sly-resource="${'banner_parsys' @ resourceType='wcm/foundation/components/parsys'}"></div>
    <!-- Banner Content ends here -->
</div>