<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.errorpage'}" />

<div class="content-wrapper container mr-reserve-a-table-contentWrapper spec-dining-conf">
	<div class="cm-content-blocks reserveTable-confirmation-wrapper">
		<div class="mr-reserve-table-confirmation-container">
			<div class="mr-close-icon-reserve-table-confirmation hide-in-md hide-in-lg">
				<img class="mr-close-icon-reserve-table-confirmation" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt = "close-icon"/>
			</div>
			<i class="icon-STAR-TAJ"></i>			
			<div class="mr-booking-Status">Sorry ! There seems to be some trouble</div>
			<p class="mr-reserve-table-booker">
				<strong class="mr-restaurant-name">&nbsp;</strong> &nbsp; 
				Please try again in sometime
			</p>
			
			<div class="mr-reserve-Table-CancelModify-btn">
				<a href ="/en-in" class="cm-btn-primary mr-cancelreserveTable-btn">Go Home</a>
				
			</div>
			<div class="mr-strippedDiv"></div>
			
		</div>
	</div>
</div>