<div data-sly-test.edit=${wcmmode.edit}>
    <h1>Click here to Modify the Enquiry Form Component</h1>
</div>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihclEnquiryForm'}" />

<div class="enquiry-details-card">
    <div class="enquiry-details-header">
        <div class="cm-header-label-con title-decorator-border enquiry-form-spacing">
            <h2 class="cm-header-label"> ENQUIRY FORM</h2>
        </div>
    </div>
    <form name="enquiryForm">
        <div class="enquiry-form-container">
            <div class="enquiry-form-text">If you are an owner or developer interested in building hotels, please fill in the enquiry form below:</div>
            <div class="personal-info-wrp mr-sub-form">
                <h3 class="sub-form-heading">PERSONAL INFO</h3>
                <div class="row mr-sub-form-row">
                    <div class="col-md-4 sub-form-input-wrp">
                        <div class="sub-form-input-label">Title*</div>
                        <div class="sub-form-input-element selectSubContainer"><select aria-label="Title" class="sub-form-mandatory" name="personalInfoTitle" id="personalInfoTitle"><option selected="" value=""> Select</option><option value="mr">Mr. </option><option value="ms">Ms.</option></select></div>
                        <div class="sub-form-input-warning"></div>
                    </div>
                    <div class="col-md-4 sub-form-input-wrp">
                        <div class="sub-form-input-label">Full Name*</div><input id="form-name" class="only-alpha-input sub-form-input-element sub-form-mandatory" type="text" aria-label = "Enter Full Name" />
                        <div class="sub-form-input-warning"></div>
                    </div>
                    <div class="col-md-4 sub-form-input-wrp">
                        <div class="sub-form-input-label">Email*</div><input id="form-email"class="email-input sub-form-input-element sub-form-mandatory" type="text" aria-label = "Enter Email"/>
                        <div class="sub-form-input-warning"></div>
                    </div>
                    <div class="col-md-4 sub-form-input-wrp">
                        <div class="sub-form-input-label">Phone Number*</div><input id="form-phone"class="limit-phone-number only-numeric-input sub-form-input-element sub-form-mandatory" type="tel" aria-label = "Enter Phone Number"/>
                        <div class="sub-form-input-warning"></div>
                    </div>
                </div>
            </div>
            <div class="professional-info-wrp mr-sub-form">
                <h3 class="sub-form-heading">PROFESSIONAL INFO</h3>
                <div class="row mr-sub-form-row">
                    <div class="col-md-12 sub-form-input-wrp">
                        <div class="sub-form-input-label">Company*</div><input id="form-company" class="only-alpha-input sub-form-input-element sub-form-mandatory" type="text" aria-label = "Enter Company"/>
                        <div class="sub-form-input-warning"></div>
                    </div>
                    <div class="col-md-5 sub-form-input-wrp">
                        <div class="sub-form-input-label">Company Type*</div>
                        <div class="sub-form-input-element selectSubContainer"><select aria-label="Company type" class="sub-form-mandatory" name="professionalInfoCompanyType" id="professionalInfoCompanyType"><option selected="" value=""> Select</option><option value="Hotel Owner">Hotel Owner</option><option value="Developer">Developer                      </option><option value="Real Estate Broker">Real Estate Broker</option><option value="Design Consultant(Architecture/Interior Design)">Design Consultant(Architecture/Interior Design)                    </option></select></div>
                        <div
                            class="sub-form-input-warning"></div>
                </div>
                <div class="col-md-3 sub-form-input-wrp">
                    <div class="sub-form-input-label">Region*</div>
                    <div class="sub-form-input-element selectSubContainer"><select aria-label="Region" class="sub-form-mandatory" name="professionalInfoRegion" id="professionalInfoRegion"><option selected="" value=""> Select</option><option value="Asia Pacific (excl India)">Asia Pacific (excl India)</option><option value="Europe">Europe</option><option value="Africa">Africa</option><option value="Middle East">Middle East</option><option value="Latin America">Latin America</option><option value="North America">North America</option><option value="India">India</option></select></div>
                    <div
                        class="sub-form-input-warning"></div>
            </div>
            <div class="col-md-4 sub-form-input-wrp">
                <div class="sub-form-input-label">Project Type*</div>
                <div class="sub-form-input-element selectSubContainer"><select aria-label="Project Type" class="sub-form-mandatory" name="professionalInfoProjectType" id="professionalInfoProjectType"><option selected="" value=""> Select</option><option value="New Hotel/GreenField">New Hotel/GreenField</option><option value="Conversion">Conversion</option><option value="Mixed Use Development">Mixed Use Development</option></select></div>
                <div
                    class="sub-form-input-warning"></div>
        </div>
        <div class="col-md-4 sub-form-input-wrp">
            <div class="sub-form-input-label">Ownership Type*</div>
            <div class="sub-form-input-element selectSubContainer"><select aria-label="Ownership Type" class="sub-form-mandatory" name="professionalInfoOwnershipType" id="professionalInfoOwnershipType"><option selected="" value=""> Select</option><option value="Management Contract">Management Contract</option><option value="Joint Venture">Joint Venture</option><option value="Sale">Sale</option><option value="Other">Other</option></select></div>
            <div
                class="sub-form-input-warning"></div>
</div>
<div class="col-md-12 sub-form-input-wrp">
    <div class="sub-form-input-label">Description</div>
    	<textarea id="form-description" class="only-alpha-input sub-form-input-element enquiry-text-area" type="text"></textarea>
   </div>
</div>
</div>
<div data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
<div class="enquiry-form-btn-pos"> <button type="button" class="cm-btn-secondary submit-button pay-now-button">SUBMIT</button></div>
</div>
</form>
<div class="enquiry-form-confirmation-popup">
    <div class="enquiry-form-confirmation-overlay">
        <div class="enquiry-form-confirmation-container">
            <div class="enquiry-form-confirmation-inner-wrp container"><img class="enquiry-form-confirmation-close-icon" src="/content/dam/tajhotels/icons/style-icons/close.svg"  alt  = "close-icon"/>
                <div class="enquiry-form-confirmation-title">Thank you.</div>
                <div class="enquiry-form-confirmation-descripion">Thank you for your interest. We will get back to you within 48 hours.</div><button class="cm-btn-secondary enquiry-form-confirmation-close-btn" type="button">CLOSE</button></div>
        </div>
    </div>
</div>
<div class="enquiry-form-error-popup" style="display:none;">
    <div class="enquiry-form-error-overlay">
        <div class="enquiry-form-error-container">
            <div class="enquiry-form-error-inner-wrp container"><img class="enquiry-form-error-close-icon" src="/content/dam/tajhotels/icons/style-icons/close.svg"  alt  = "close-icon"/>
                <div class="enquiry-form-error-title">500</div>
                <div class="enquiry-form-error-descripion">Server responded with a 500 Error, Kindly Check back later</div><button class="cm-btn-secondary enquiry-form-error-close-btn" type="button">CLOSE</button></div>
        </div>
    </div>
</div>
<div class="spinner-con">
		<img class="spinner-wrap" src="/content/dam/tajhotels/ihcl/newcontentimages/loader-ihcl-blue.gif" alt  = "loader-ihcl-blue-icon">
</div>
</div>