<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.css @ categories='tajhotels.hotel-banner'}" />  
<sly data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher" />

<sly data-sly-use.apiKeyModel="com.ihcl.core.models.config.TajApiKeyConfigModel" />
<div data-sly-test="${wcmmode.edit}">Hotel Banner Component</div>

<sly data-sly-test.pageLongLat="${pageProperties.latitude && pageProperties.longitude}" />
<sly data-sly-test.hotelLongLat="${hotelProperties.hotelLatitude && hotelProperties.hotelLongitude}" />
<sly data-sly-test="${wcmmode.edit}">Hotel Banner Component :</sly>
<div class="banner-container" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" data-apikey="${apiKeyModel.openWeatherMapApiKey}">
	<sly data-sly-test="${!properties.iscarousel}">
    <div class="hotel-banner-image-con banner-image-con">
        <sly data-sly-test.bannerFinalImagePath="${properties.fileReference ? properties.fileReference : properties.bannerImage}" />
        <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= bannerFinalImagePath, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', mobileImage=properties.mobileImage}"></sly>

        <div class="banner-image-tint" data-sly-test="${!properties.tintOpacity}"></div>
        <div class="banner-image-tint" data-sly-test="${properties.tintOpacity}" style="opacity: ${properties.tintOpacity @context='scriptString'}">
        </div>

        <div class="banner-titles">
            <div class="cm-header-label-con">
                <div class="cm-header-label">${properties.hotelName @context='html'}</div>
                <sly data-sly-test="${properties.addLocateSpa}">
                    <div>
                        <a href="${properties.locateSpaLink}">
                            <button class="cm-btn-secondary mr-visit-hotel">${properties.locateSpatext}</button>
                        </a>
                    </div>
                </sly>
            </div>
            <sly data-sly-test="${!properties.hideWeather&&(pageLongLat || hotelLongLat)}">
                <div class="banner-label-below-title-sm">
                    <div class="inline-block hotel-banner-date system-date"></div>

                    <div class="inline-block hotel-banner-temperature" id="hotel-banner-temperature" data-hotellat="${hotelProperties.hotelLatitude}" data-hotellon="${hotelProperties.hotelLongitude}" data-lat="${pageProperties.latitude}" data-lon="${pageProperties.longitude}">
                        <span id="weather-update"> </span> <span class="cm-degree">
                    </span> <span>C</span>
                    </div>
                </div>
            </sly>
            <!-- <sly data-sly-test.roomsLinkSpecified="${properties.roomsPageLink}">
                <div class="banner-btn-con inline-block">
                    <a href="${properties.roomsPageLink}.html">
                        <button class="cm-btn-secondary hotel-banner-btn">View
                            Rooms
                        </button>
                    </a>
                </div>
            </sly> -->
            <div class="banner-btn-con">
                <sly data-sly-test.websiteLinkSpecified="${properties.websiteButtonLink}">
                    <a href="${websiteLinkSpecified}">
                        <button class="cm-btn-secondary hotel-banner-btn" tabindex="-1">${properties.websiteButtonText}
                        </button>
                    </a>
                </sly>
				<sly data-sly-test.isRoomsLinkSpecified="${!properties.pageLink}">
                    <sly data-sly-test="${properties.roomsPageLink && properties.bannerButtonCTA}">

                        <a href="${properties.roomsPageLink}.html">
                            <button class="cm-btn-secondary hotel-banner-btn" tabindex="-1">${properties.bannerButtonCTA}</button>
                        </a>

                    </sly>
                </sly>
                <sly data-sly-test="${!isRoomsLinkSpecified}">
				
					<sly data-sly-test="${properties.pageLink == 'authorable'}">
						<sly data-sly-test="${properties.roomsPageLink && properties.bannerButtonCTA}">
                            <a href="${properties.roomsPageLink}.html">
                                <button class="cm-btn-secondary hotel-banner-btn" tabindex="-1">${properties.bannerButtonCTA}</button>
                            </a>
						</sly>
					</sly>
					<sly data-sly-test="${properties.pageLink == 'default'}">
						<sly data-sly-test="${properties.bannerButtonCTA}">
							<a href="${hotelProperties.hotelsPath}/rooms-and-suites.html">
								<button class="cm-btn-secondary hotel-banner-btn" tabindex="-1">${properties.bannerButtonCTA}</button>
							</a>
						</sly>
					</sly>
                    
                </sly>
            </div>
        </div>
    </div>
	</sly>
	<sly data-sly-test="${properties.iscarousel}">
    <div class="banner-titles">
    	<div class="cm-header-label" style="display:none">${properties.hotelName @context='html'}</div>
    </div>
	<sly data-sly-use.carousels="com.ihcl.core.models.banner.BannerCarousel" />
		<section class="hotel-banner-carousel-section">
        <div class="carousel slide" id="bannerCarousel" data-ride="carousel">
            <ol class="carousel-indicators mr-carousel-dots" data-sly-list="${carousels.carouselList}">
                <li data-sly-attribute.class="${itemList.first? 'active': ''}" data-target="#hotelbannerCarousel" data-slide-to="${itemList.index}"></li>
            </ol>


			<div class="carousel-inner mr-carousel-wrap" data-sly-list="${carousels.carouselList}">
            <div data-sly-attribute.class="${itemList.first ? 'carousel-item active' : 'carousel-item' }">
                <div class="banner-carousel-each-wrap" style="width:100%" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= item.bannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', mobileImage=item.mobileImage}"></sly>
                    <div class="mr-carousel-image-contents-wrapper">
                        <div class="mr-offers-and-promotions">${item.bannerTitle}</div>
						<sly data-sly-test="${!properties.hideWeather&&(pageLongLat || hotelLongLat)}">
                			<div class="banner-label-below-title-sm carousel-banner-date">
                    			<div class="inline-block hotel-banner-date system-date"></div>

                    			<div class="inline-block hotel-banner-temperature" id="hotel-banner-temperature" data-hotellat="${hotelProperties.hotelLatitude}" data-hotellon="${hotelProperties.hotelLongitude}" data-lat="${pageProperties.latitude}" data-lon="${pageProperties.longitude}">
                        			<span id="weather-update"> </span> <span class="cm-degree">
                    				</span> <span>C</span>
                   				</div>
                			</div>
            			</sly>
						<sly data-sly-test="${item.bannerdescription}">
                        	<div class="carousel-description-hotel-banner">
                            	${item.bannerdescription}
                            </div>
                        </sly>
                        <sly data-sly-test.linkText=${item.bannerLinkText}>
                            <a href="${item.bannerLinkUrl}.html"><button class="cm-btn-secondary mr-visit-hotel">${item.bannerLinkText}</button></a>
                        </sly>
                    </div>
                </div>
            </div>
        </div>
		 <a class="carousel-control-prev carousel-control" href="#bannerCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next carousel-control" href="#bannerCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
		</div>
    </section>
	</sly>
    <sly data-sly-test.showBookingBar="${!properties.hideBookingBar}">
        <div data-sly-resource="${'bookastay' @ resourceType='tajhotels/components/content/hotelbookingdetails'}" />
    </sly>
</div>
<!-- <sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.js @ categories='tajhotels.hotel-banner'}" /></sly> -->