
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.press-related-latest-news'}" />
<div data-sly-test="${wcmmode.edit}">Press Latest News</div>
<div class="pressRoom-subscribe-wrapper col-lg-4 col-md-6 col-sm-12 cm-card-showmore-spacing" style="right: -68%;">
    <div class="pressRoom-subscribe-container">
        <div class="cm-header-label-con title-decorator-border pressRoom-subscribe-title">Get the Latest News</div>
<div class="pressRoom-subscribe-desc">${properties.description} </div>
        <div class="pressRoom-email-wrapper">
            <div class="pressRoom-email-cont"><input class="pressRoom-input" placeholder="Enter your E-mail address" aria-label = "Enter Email address"/></div>
            <div style="display: none;" class="pressRoom-subscriber-btn-cont clearfix"><button class="cm-btn-secondary pressRoom-subscribe-btn cm-btn-disabled">SUBSCRIBE NOW	</button></div>
        </div>
    </div>
</div>
</div>