.mr-initiative-card-wrapper {
    border-radius: 3px;
}

.mr-initiative-card-wrapper .mr-initiative-inner-wrap {
    height: 100%;
    background-color: #ffffff;
}

.mr-initiative-card-wrapper .mr-card-top {
    background-color: #012f4e;
    color: #ffffff;
    padding: 24px 55px 45px 55px;
    padding: 1.5rem 3.4375rem 2.8125rem 3.4375rem;
    text-align: center;
    min-height: 112px;
    min-height: 7rem;
}

@media only screen and (max-width: 767px) {
    .mr-initiative-card-wrapper .mr-card-top {
        padding: 1.5rem 2.1875rem 2.8125rem 2.1875rem;
    }
}

.mr-initiative-card-wrapper .mr-card-top .mr-card-top-details-bold {
    font-size: 42px;
    font-size: 2.625rem;
    color: #b4975a;
    margin-bottom: 5px;
    margin-bottom: 0.3125rem;
    line-height: 1;
    font-family: Calibri;
}

@media only screen and (max-width: 767px) {
    .mr-initiative-card-wrapper .mr-card-top .mr-card-top-details-bold {
        font-size: 2.375rem;
    }
}

.mr-initiative-card-wrapper .mr-card-top .mr-card-top-details {
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5;
    font-family: Calibri;
}

.mr-initiative-card-wrapper .mr-card-bottom {
    background-color: #ffffff;
    padding: 24px 30px 29px 25px;
    padding: 1.5rem 1.875rem 1.8125rem 1.5625rem;
}
