<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.all @ categories='tajhotels.price-strip'}" />

<sly data-sly-test.mode="${properties.showTab=='backButton'}">
	<div class="total-price-header">
</sly>

<sly data-sly-test.mode="${properties.showTab=='addRoom'}">
	<div class="cart-footer-fixed-total-price">
       <div class="container">
</sly>

<div class="cart-final-prize-con col-lg-12 clearfix">
	<div class="cart-addRoom">
		<a href="#" aria-label = "back button">
			<button class="cm-btn-primary carts-add-room"
				data-sly-test="${properties.showTab=='addRoom'}">${properties.addRoomsLabel}</button>
		</a>
	</div>
	<div class="cart-cfp-right-con clearfix">
		<div class="total-price-back"
			data-sly-test="${properties.showTab=='backButton'}">						
			<a href="#"> &lt;
                       ${properties.backLabel}</a>
		</div>
		<a class="total-prize-confirm cm-right" href="${properties.bookNowLink}" tabindex="-1">
			<button class="cm-btn-secondary carts-book-now">${properties.bookNowLabel}</button>
		</a>
		<div class="total-prize-con clearfix">
			<div>${properties.priceLabel}&nbsp;</div>
			<div>
				<span class="cart-currency-symbol"></span>
				<span class="cart-final-price">0</span>
                <span class="astrick-symbol">*</span>
			</div>
		</div>
		<div class="total-price-deal-section">
			<div class="best-deal-banner">
				<img
					src="/content/dam/tajhotels/icons/style-icons/left-right-clipped.svg" alt = " left right clipped icon">
				<div>BEST DEAL</div>
			</div>
			<div class="best-deal-desc">Congratulations! You've bagged the
				best deal for the day</div>
		</div>
	</div>
</div>
<sly data-sly-test.mode="${properties.showTab=='addRoom'}">
		</div>
	</div>
</sly>
<sly data-sly-test.mode="${properties.showTab=='backButton'}">
	</div>
</sly>



