<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.search-filter'}" />

<div class="participating-hotels-search">
    <div class="participating-hotels-search-wrap">
        <div class="search-input-section">
            <img
                src="../../../../../apps/tajhotels/clientlibs/taj-hotels-site/components/resources/images/search-icon-hotels.png"
                alt="search icon">
            <input type="text" placeholder="Search" aria-label="Search Bar">
            <img class="search-close"
                src="../../../../../apps/tajhotels/clientlibs/taj-hotels-site/components/resources/images/close-icon.png"
                alt="close icon">
            <ul class="search-input-suggestions-list"></ul>
        </div>
        <div class="search-filter-section clearfix">
            <div class="search-filter-section-name">Filter By</div>
            <div class="search-filter-section-choose">
                <div class="selectSubContainer">
                    <select aria-label="Filter By" name="search-filter-section-dropdown" id="search-filter-section-dropdown">
                        <option selected="" disabled="" hidden="">Choose Filter</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>