<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.css @ categories='tajhotels.booking'}" />


<!--IHCLCB-Start-->

<sly data-sly-use.ihclcbGuestApiUrlModel="com.ihcl.core.models.config.IhclcbApiConfigModel" />
<div class="Ihclcb-Corporate-Booking-GuestApi" data-ihclcbApiHostUrl="${ihclcbGuestApiUrlModel.ihclcbApiHostUrl}"
    data-ihclcbGuestApiUrl="${ihclcbGuestApiUrlModel.guestDetailsFetchApiUrl}"></div>

<!--IHCLCB-End-->

<div class="checkout-enter-details-header booking">
    <div class="checkout-form-title">${properties.enterDetailsLabel}</div>
    <div class="checkout-form-step-wrp form-step-wrp">
        <span>
            <span class="form-step active-form-step">1</span>
            <span class="sub-form-heading">Guest Details</span>
        </span>
        <span>
            <span class="form-step">2</span>
            <span class="sub-form-heading">Payment Details</span>
        </span>
    </div>
</div>
<form class="booking-details-wrp form-step-content" name="enter-details-form">
    <div class="booking-input-fields-container">

        <div class="mandatory-label tic-info-label d-none">** Please note: Taj InnerCircle points are not accrued for
            any room booking made using Points OR Points plus Cash option</div>
        <div class="book-faster-wrp">
            <span style="display: none;">${properties.signInLabel} </span>
            <span class="membership-signin generic-signin-btn" style="display: none;"> ${properties.signInLink} </span>
        </div>

        <div data-sly-test.billerName='billerName'></div>
        <div data-sly-test.billerEmail='billerEmail'></div>
        <div data-sly-test.billerPhoneNumber='billerPhoneNumber'></div>
        <div data-sly-test.billerGstNumber='billerGstNumber'></div>
        <!-- TIC START -->
        <div class="book-for-others-wrp book-for-tic-wrp d-none">
            <label class="mr-filterCheckBox-label checkbox-inline">
                <input class="mr-filter-checkbox booking-others-tic-checkbox" type="checkbox"
                    name="bookingOthersTICCheckbox" aria-label="${properties.bookingForSomeoneLabel}">
                <span class="mr-inputCustomShape"></span>
                ${properties.bookingForSomeoneLabel}
            </label>
        </div>
        <!-- TIC ENDS -->

        <div class="book-for-others-wrp" data-sly-use.billerObj="com.ihcl.core.models.BillerModel" style="display: none;">
            <label class="mr-filterCheckBox-label checkbox-inline">
                <input class="mr-filter-checkbox booking-others-checkbox" type="checkbox" name="bookingOthersCheckbox"
                    aria-label="${properties.bookingForSomeoneLabel}">
                <span class="mr-inputCustomShape"></span>
                ${properties.bookingForSomeoneLabel}
            </label>
            <div data-sly-test=${!properties.ihclcbCheckoutDetails} class="biller-details-wrp mr-sub-form">
                <div class="sub-form-heading">${properties.billerDetailsLabel}</div>
                <div class="row mr-sub-form-row">
                    <div class="col-md-4 sub-form-input-wrp" data-sly-repeat.billerlist="${billerObj.getBillerList}">
                        <div class="sub-form-input-label ${billerlistList.last ? 'last' :''}">${billerlist.billerFormItemLabel}</div>

                        <sly data-sly-test="${billerlist.billerFormItemField == billerPhoneNumber}"> <input
                            name="billerPhoneNumber"
                            class="limit-phone-number only-numeric-input sub-form-input-element sub-form-mandatory"
                            aria-label="Biller Phone Number" type="tel" />
                        <div class="sub-form-input-warning cm-scale-animation"></div>
                        </sly>
                        <input data-sly-test="${billerlist.billerFormItemField == billerEmail}" name="billerEmail"
                            class="email-input sub-form-input-element sub-form-mandatory ${billerlistList.last ? 'last' :''}"
                            aria-label="Biller Email Id" type="text" />
                        <div class="sub-form-input-warning cm-scale-animation"></div>
                        <input data-sly-test="${billerlist.billerFormItemField == billerName}" name="billerName"
                            class="only-alpha-input sub-form-input-element sub-form-mandatory ${billerlistList.last ? 'last' :''}"
                            aria-label="Biller Name" type="text" />
                        <div class="sub-form-input-warning cm-scale-animation"></div>
                        <input data-sly-test="${billerlist.billerFormItemField == billerGstNumber}" name="billerGstNumber"
                            class="sub-form-input-element ${billerlistList.last ? 'last' :''}"
                            aria-label="biller Gst Number" type="text" />
                    </div>
                </div>

            </div>
        </div>
        <div data-sly-test=${!properties.ihclcbCheckoutDetails}
            class="guest-details-wrp mr-sub-form"
            data-sly-use.guestObj="com.ihcl.core.models.GuestModel">
            <div class="sub-form-heading">${properties.guestDetailsLabel}</div>
            <div class="row mr-sub-form-row">
                <div class="col-md-4 sub-form-input-wrp">
                    <div class="sub-form-input-label">${properties.titleLabel}</div>
                    <div class="sub-form-input-element selectSubContainer"
                        data-sly-use.titleObj="com.ihcl.core.models.TitleModel">
                        <select aria-label="Booking Guest Title" name="bookingGuestTitle" id="bookingGuestTitle"
                            class="selectSubContainer selectboxit-container selectboxit"
                            data-sly-list.titlelist="${titleObj.getTitleList}">
                            <option disabled="" selected="" hidden=""></option>
                            <option value="${titlelist.titleFormItemLabel}">${titlelist.titleFormItemLabel}</option>

                        </select>
                        <div class="sub-form-input-warning cm-scale-animation dd-error-msg">Please select title</div>
                    </div>
                </div>

                <sly data-sly-test.guestCountry='guestCountry'></sly>
                <sly data-sly-test.guestPhoneNumber='guestPhoneNumber'></sly>
                <sly data-sly-test.guestFirstName='guestFirstName'></sly>
                <sly data-sly-test.guestLastName='guestLastName'></sly>
                <sly data-sly-test.guestEmail='guestEmail'></sly>
                <sly data-sly-test.guestGSTNumber='guestGSTNumber'></sly>
                <sly data-sly-test.guestMembershipNumber='guestMembershipNumber'></sly>
				<sly data-sly-test.guestVoucherCode='guestVoucherCode'></sly>
            	<sly data-sly-test.guestVoucherPin='guestVoucherPin'></sly>
                <div class="col-md-4 sub-form-input-wrp" data-sly-repeat.guestlist="${guestObj.getGuestList}">

                    <div data-sly-test="${guestlist.guestFormItemField != guestMembershipNumber}"
                        class="sub-form-input-label ${guestlistList.last ? 'last' :''}">${guestlist.guestFormItemLabel}</div>


            		<div data-sly-test="${guestlist.guestFormItemField == guestMembershipNumber}" style="margin-bottom: 0.625rem"
                        class="guest-MembershipNumber ${guestlistList.last ? 'last' :''}">${guestlist.guestFormItemLabel}</div>

                    <sly data-sly-test="${guestlist.guestFormItemField == guestPhoneNumber}"> <input
                        name="guestPhoneNumber" id="guest-PhoneNumber"
                        class="limit-phone-number only-numeric-input sub-form-input-element sub-form-mandatory"
                        aria-label="Guest Phone Number" type="tel" /> </sly>

                    <input data-sly-test="${guestlist.guestFormItemField == guestEmail}" name="guestEmail" id="guest-Email"
                        class="email-input sub-form-input-element sub-form-mandatory ${guestlistList.last ? 'last' :''}"
                        aria-label="Guest Email Id" type="text" />
                    <input data-sly-test="${guestlist.guestFormItemField == guestFirstName}" name="guestFirstName"
                        id="guest-firstName"
                        class="only-alpha-input sub-form-input-element sub-form-mandatory ${guestlistList.last ? 'last' :''}"
                        aria-label="Guest FirstName" type="text" />
                    <input data-sly-test="${guestlist.guestFormItemField == guestLastName}" name="guestLastName"
                        id="guest-lastName"
                        class="only-alpha-input sub-form-input-element sub-form-mandatory ${guestlistList.last ? 'last' :''}"
                        aria-label="Guest LastName" type="text" />

                    <input data-sly-test="${guestlist.guestFormItemField == guestGSTNumber}" name="guestGSTNumber"
                        id="guest-GSTNumber" class="sub-form-input-element ${guestlistList.last ? 'last' :''}"
                        aria-label="Guest GST Number" type="text" />

                    <input data-sly-test="${guestlist.guestFormItemField == guestMembershipNumber}"
                        name="guestMembershipNumber" id="guest-MembershipNumber"
                        class="sub-form-input-element ${guestlistList.last ? 'last' :''}"
                        aria-label="Guest Membership Number" type="text" />

            		<!-- Voucher Code and Voucher Pin -->
                  	<sly data-sly-test="${guestlist.guestFormItemField == guestVoucherCode}">
                        <input name="guestVoucherCode" id="guest-VoucherCode" maxlength="16"
                        class="sub-form-input-element only-numeric-input sub-form-mandatory"
                        aria-label="Guest Voucher Code" type="text" /></sly>

            		<input data-sly-test="${guestlist.guestFormItemField == guestVoucherPin}"
                        name="guestVoucherPin" id="guest-VoucherPin" maxlength="6"
                        class="sub-form-input-element only-numeric-input sub-form-mandatory ${guestlistList.last ? 'last' :''}"
                        aria-label="Guest Voucher Pin" type="text" />
					<!-- Voucher Code and Voucher Pin -->
                    <div class="sub-form-input-warning cm-scale-animation"></div>

                    <div class="sub-form-input-element selectSubContainer"
                        data-sly-test="${guestlist.guestFormItemField == guestCountry}">
                        <select aria-label="Booking guest country" id="bookingGuestCountry"
                            class="selectSubContainer selectboxit-container selectboxit ${guestlistList.last ? 'last' :''}"
                            name="guestCountry">
                            <option disabled="" selected="" hidden=""></option>
                            <!-- <option value="${titlelist.titleFormItemLabel}">${titlelist.titleFormItemLabel}</option> -->
                        </select>
                        <div class="sub-form-input-warning cm-scale-animation dd-error-msg">Please select country</div>
                    </div>
                </div>

            </div>
        </div>

        <!-- IHCLCB-Start -->
        <sly data-sly-test=${properties.ihclcbCheckoutDetails}
            data-sly-use.guestForm="corporate-guest-template.html"> <sly
            data-sly-call="${guestForm.guestForm}"></sly> </sly>
        <!-- IHCLCB-End -->
        
    </div>
    <div class="special-flight-wrp">
        <div class="special-request-wrp special-flight-common">
            <div class="special-flight-common-header">${properties.specialRequest}</div>
            <div class="mr-sub-form">
                <div class="row mr-sub-form-row">
                    <div class="col-12 sub-form-input-wrp special-request-input-wrp">
                        <textarea id="special-request" rows="1" class="sub-form-input-element" name="specialRequest-data"
                            placeholder="Enter Special Requests if any" maxlength="800"> </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="flight-details-wrp special-flight-common cm-hide">
            <div class="special-flight-common-header">
                ${properties.flightDetailsLabel} <img class="special-flight-arrow"
                    src="/content/dam/tajhotels/icons/style-icons/dropDown.svg" alt="dropdown-icon">
            </div>
            <div class="special-flight-common-content mr-sub-form">
                <div class="row mr-sub-form-row">
                    <div class="col-12 col-md-4 sub-form-input-wrp">
                        <div class="sub-form-input-label">${properties.flightNumber}</div>
                        <input name="flightNumber" class="sub-form-input-element" type="text"
                            aria-label="${properties.flightNumber}" />
                        <div class="sub-form-input-warning cm-scale-animation"></div>
                    </div>
                    <div class="col-12 col-md-4 sub-form-input-wrp">
                        <div class="sub-form-input-label">${properties.flightArrivalTime}</div>
                        <input name="flightArrivalTime" class="sub-form-input-element" type="text"
                            aria-label="${properties.flightArrivalTime}" />
                        <div class="sub-form-input-warning cm-scale-animation"></div>
                    </div>
                    <div class="col-12 col-md-4 sub-form-input-wrp">
                        <div class="sub-form-input-label">${properties.airportName}</div>
                        <input name="airportName" class="sub-form-input-element" type="text"
                            aria-label="${properties.airportName}" />
                        <div class="sub-form-input-warning cm-scale-animation"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- IHCLCB-Start -->
    <sly data-sly-test=${properties.ihclcbCheckoutDetails} data-sly-use.FTOCountry="corporate-guest-template.html">
    <sly data-sly-call="${FTOCountry.FTOCountry}"></sly> </sly>
    <div id="adminEmail" style="display:none">${properties.adminEmail}</div>
    <!-- IHCLCB-End -->


    <div class="policy-terms-external-wrapper">
        <label class="mr-filterCheckBox-label checkbox-inline">
            <input class="mr-filter-checkbox" type="checkbox" name="privacyPolicy"
                aria-label="${properties.privacyPolicyLabel}">
            <span class="mr-inputCustomShape"></span>
            ${properties.privacyPolicyLabel}
        </label>
        <div>
            <a class="policy-terms-external-link" href="${properties.privacyPolicyLink}.html" target="_blank">Privacy
                Policy</a>
            <div class="policy-terms-warning-message">You have to confirm, that you understood and agree to the
                Privacy Policy.</div>
        </div>
    </div>
    <div class="policy-terms-external-wrapper">
        <label class="mr-filterCheckBox-label checkbox-inline">
            <input class="mr-filter-checkbox" type="checkbox" name="termsAndConditions"
                aria-label="${properties.termsAndConditionsLabel}">
            <span class="mr-inputCustomShape"></span>
            ${properties.termsAndConditionsLabel}
        </label>
        <div>
            <a class="policy-terms-external-link" href="${properties.termsAndConditionsLink}.html" target="_blank">Terms
                & Conditions</a>
            <div class="policy-terms-warning-message">You have to confirm, that you understood and agree to the Terms
                & Conditions.</div>
        </div>

    </div>
    <div class="policy-terms-external-wrapper">
        <div class="seleqtions-mandatory-label">${properties.disclaimer}</div>
    </div>
    <div class="booking-details-proceed-wrapper">
        <div class="proceed-checkbox-wrapper">
            <label class="mr-filterCheckBox-label checkbox-inline" style="display: none;">
                <input class="mr-filter-checkbox" type="checkbox" name="autoEnrollCheckbox"
                    aria-label="${properties.autoEnrollLabel}">
                <span class="mr-inputCustomShape"></span>
                ${properties.autoEnrollLabel}
            </label>
            <label class="mr-filterCheckBox-label checkbox-inline" style="display: none;">
                <input class="mr-filter-checkbox" type="checkbox" name="gdprCheckbox"
                    aria-label="
                ${properties.gdprLabel}">
                <span class="mr-inputCustomShape"></span>
                ${properties.gdprLabel}
            </label>
            <!--  <label class="mr-filterCheckBox-label checkbox-inline"> <input class="mr-filter-checkbox"
                    type="checkbox" name="airportPickupCheckbox" aria-label = "${properties.airportPickupLabel}"> <span class="mr-inputCustomShape"></span>${properties.airportPickupLabel}
            </label> -->
        </div>
        <input type="hidden" id="content-root-path" value="${inheritedPageProperties.siteConfigContentPath}"
            aria-hidden="true" />
        <div class="proceed-button-column">
            <button id="btn-proceed" class="proceed-payment-button cm-btn-secondary" type="button">${properties.proceedToPaymentLabel}</button>
            <button id="btn-save" class="cm-btn-secondary" type="button" style="display: none;" aria-label="save button"></button>
            <div class="taj-loader" style="display: none">
                <div class="taj-loader-circle"></div>
                <div class="taj-loader-circle"></div>
                <div class="taj-loader-circle"></div>
            </div>
        </div>
    </div>
</form>
