<template data-sly-template.guestForm="${}">
<div data-sly-test=${properties.ihclcbCheckoutDetails} id="corporate-ihclcb-checkout"
    data-corporate-checkout=${properties.ihclcbCheckoutDetails}>
    <div class="booking-input-fields-container-ihclcb ">
        <div class="guest-details-wrp mr-sub-form guest-detail-ihclcb"
            data-sly-use.guestObj="com.ihcl.core.models.GuestModel">
            <div class="row mr-sub-form-row">
                <sly data-sly-test="true">
                <div class="col-md-4 sub-form-input-wrp">
                    <div class="sub-form-input-label show-label-ihclcb">Fetch details from the TIC Number</div>
                    <input name="ticMemNumber" id="tic-member-id-ihclcb"
                        class=" sub-form-input-element guest-detail-ihclcb only-numeric-input"
                        aria-label="ihclcb tic number" type="text" placeholder="Taj Membership Number" />
                    <div class="sub-form-input-warning cm-scale-animation">Sorry! Cant fetch the data for entered
                        input</div>

                </div>

                <div class="col-md-4 sub-form-input-wrp" style="margin:0"></div>

                <div class="col-md-4 sub-form-input-wrp">
                    <div class="sub-form-input-label show-label-ihclcb">Booker Id Number</div>
                    <input name="ticMemNumber" id="tic-booker-id-ihclcb" style="background: #d8d8d8;"
                        class=" sub-form-input-element guest-detail-ihclcb only-numeric-input"
                        aria-label="Booker Id Number" type="text"  disabled/>

                </div>
                </sly>
                        
                <div class="col-12">
                    <div class="book-for-others-wrp book-for-tic-wrp  guest-detail-ihclcb">
                        <label class="mr-filterCheckBox-label checkbox-inline">
                            <input class="mr-filter-checkbox booking-others-tic-checkbox" type="checkbox"
                                name="bookingOthersTICCheckbox" aria-label="${properties.bookingForSomeoneLabel}">
                            <span class="mr-inputCustomShape"></span>
                            ${properties.bookingForSomeoneLabel}
                        </label>
                    </div>
                </div>
                <div class="col-12 sub-form-input-wrp"></div>
            </div>
            <div class="row mr-sub-form-row">
                <div class="col-md-4 sub-form-input-wrp">
                    <div class="sub-form-input-label">${properties.titleLabel}</div>
                    <div class="sub-form-input-element selectSubContainer"
                        data-sly-use.titleObj="com.ihcl.core.models.TitleModel">
                        <select aria-label="Booking Guest Title" name="bookingGuestTitle" id="bookingGuestTitle"
                            class="selectSubContainer selectboxit-container selectboxit"
                            data-sly-list.titlelist="${titleObj.getTitleList}">
                            <option disabled="" selected="" hidden=""></option>
                            <option value="${titlelist.titleFormItemLabel}">${titlelist.titleFormItemLabel}</option>

                        </select>
                        <div class="sub-form-input-warning cm-scale-animation dd-error-msg">Please select title</div>
                    </div>
                </div>

                <sly data-sly-test.guestCountry='guestCountry'></sly>
                <sly data-sly-test.guestPhoneNumber='guestPhoneNumber'></sly>
                <sly data-sly-test.guestFirstName='guestFirstName'></sly>
                <sly data-sly-test.guestLastName='guestLastName'></sly>
                <sly data-sly-test.guestEmail='guestEmail'></sly>
                <div class="col-md-4 sub-form-input-wrp" data-sly-repeat.guestlist="${guestObj.getGuestList}">
                    <div data-sly-test="${guestlist.guestFormItemField != guestMembershipNumber}"
                        class="sub-form-input-label ${guestlistList.last ? 'last' :''}">${guestlist.guestFormItemLabel}</div>
                    <div data-sly-test="${guestlist.guestFormItemField == guestMembershipNumber}"
                        class="guest-MembershipNumber ${guestlistList.last ? 'last' :''}">${guestlist.guestFormItemLabel}</div>

                    <sly data-sly-test="${guestlist.guestFormItemField == guestPhoneNumber}"> <input
                        name="guestPhoneNumber" id="guest-PhoneNumber"
                        class="limit-phone-number only-numeric-input sub-form-input-element sub-form-mandatory"
                        aria-label="Guest Phone Number" type="tel" placeholder="${guestlist.guestFormItemLabel}" /> </sly>

                    <input data-sly-test="${guestlist.guestFormItemField == guestEmail}" name="guestEmail" id="guest-Email"
                        class="email-input sub-form-input-element ${guestlistList.last ? 'last' :''}"
                        aria-label="Guest Email Id" type="text" placeholder="${guestlist.guestFormItemLabel}" />

                    <input data-sly-test="${guestlist.guestFormItemField == guestFirstName}" name="guestFirstName"
                        id="guest-firstName"
                        class="only-alpha-input sub-form-input-element sub-form-mandatory ${guestlistList.last ? 'last' :''}"
                        aria-label="Guest FirstName" type="text" placeholder="${guestlist.guestFormItemLabel}" />
                    <input data-sly-test="${guestlist.guestFormItemField == guestLastName}" name="guestLastName"
                        id="guest-lastName"
                        class="only-alpha-input sub-form-input-element sub-form-mandatory ${guestlistList.last ? 'last' :''}"
                        aria-label="Guest LastName" type="text" placeholder="${guestlist.guestFormItemLabel}" />
                    <div class="sub-form-input-warning cm-scale-animation"></div>

                    <div data-sly-test="${guestlist.guestFormItemField == guestEmail}" class="ihclcb-pos-abs">
                        <div class="book-for-others-wrp book-for-tic-wrp  guest-detail-ihclcb">
                            <label class="mr-filterCheckBox-label checkbox-inline">
                                <input class="mr-filter-checkbox" type="checkbox" id="sendNotificationToId"
                                    name="sendNotificationCheckbox" aria-label="${properties.sendNotificationLabel}">
                                <span class="mr-inputCustomShape"></span>
                                ${properties.sendNotificationLabel}
                            </label>
                        </div>
                        <span class="ihclcb-booker-email"></span>
                    </div>
                    <div class="sub-form-input-element selectSubContainer"
                        data-sly-test="${guestlist.guestFormItemField == guestCountry}">
                        <select aria-label="Booking guest country" id="bookingGuestCountry"
                            class="selectSubContainer selectboxit-container selectboxit ${guestlistList.last ? 'last' :''}"
                            name="guestCountry">
                            <option disabled="" selected="" hidden=""></option>
                        </select>
                        <div class="sub-form-input-warning cm-scale-animation dd-error-msg">Please select country</div>
                    </div>

                </div>
                <div class="col-md-4 sub-form-input-wrp"></div>
            </div>
        </div>
    </div>
</div>
</template>


<template data-sly-template.FTOCountry="${}">
<div class="special-flight-wrp">
    <div class="special-request-wrp special-flight-common">
        <div class="mr-sub-form">
            <div class="row mr-sub-form-row">
                <div class="col-12 col-md-6 sub-form-input-wrp special-request-input-wrp">
                    <div class="sub-form-input-label">Foreign Tour Operator</div>
                    <textarea id="FTO-comment" rows="1" class="sub-form-input-element" name="FTOComment-data"
                        placeholder="Enter FTO comment if any" maxlength="800"> </textarea>
                </div>
                <div class="col-12 col-md-4 sub-form-input-wrp">
                    <div class="sub-form-input-label">Country</div>
                    <div class="sub-form-input-element selectSubContainer">
                        <select aria-label="FTO country" id="FTOCountry"
                            class="selectSubContainer selectboxit-container selectboxit" name="FTOCountry">
                            <option disabled="" selected="" hidden=""></option>
                        </select>
                        <div class="sub-form-input-warning cm-scale-animation dd-error-msg">Please select country</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>