@rem: 16rem;
.events-card-wrap {
    margin-bottom: 30/@rem;
}

.events-card-container {
    width: 100%;
    background: #fff;
}

.events-img-con {
    height: 21rem;
    width: 448/@rem;
    float: left;
    position: relative;
    background: #ccc;
    img {
        height: 100%;
        width: 100%;
    }
    @media only screen and (max-width: 767px) {
        float: unset;
        width: 100%;
        height: 190/@rem;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        height: 27.5rem;
    }
}

.events-view-photos {
    position: absolute;
    bottom: 20/@rem;
    left: 20/@rem;
    background: rgba(0, 0, 0, 0.45);
    height: 35px;
    border-right: 2px;
    padding: 0 10/@rem;
    line-height: 30px;
    cursor: pointer;
    img {
        height: 15/@rem;
        width: 15/@rem;
    }
    span {
        color: #fff;
        font-family: Calibri-Bold;
        font-size: 14/@rem;
        margin-left: 10/@rem;
        letter-spacing: 1.8px;
    }
    @media only screen and (max-width: 767px) {
        left: 15/@rem;
        bottom: 13/@rem;
    }
}

.events-details-con {
    float: left;
    width: 828/@rem;
    background-color: #fff;
    padding: 20/@rem 26/@rem 19/@rem;
    @media only screen and (max-width: 767px) {
        float: unset;
        width: 100%;
        padding: 18px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        width: 31.75rem;
    }
}

.events-card-heading-section {
    font-family: Calibri-Bold;
    line-height: 1;
    .events-card-heading {
        font-size: 28/@rem;
        color: #323232;
        @media only screen and (max-width: 991px) {
            float: left;
        }
    }
    .events-card-capacity {
        font-size: 14/@rem;
        color: #4a4a4a;
        @media only screen and (max-width: 991px) {
            float: right;
        }
        @media only screen and (max-width: 767px) {
            line-height: 2;
        }
    }
}

.events-card-theme {
    font-family: Calibri-Bold;
    font-size: 14/@rem;
    font-style: italic;
    color: var(--primaryColor);
    margin: 6px 0;
    line-height: 1.2;
}

.events-card-desc {
    font-size: 1rem;
    color: #4a4a4a;
    font-family: Calibri;
    line-height: 1.2;
}

.events-card-button-section {
    position: relative;
    margin-top: 25/@rem;
    @media only screen and (max-width: 991px) {
        margin-top: 15/@rem;
    }
}

&.events-cards-request-btn {
    width: 150/@rem;
    float: right;
    line-height: 2;
    @media only screen and (max-width: 991px) {
        line-height: 2.8;
    }
    @media only screen and (max-width: 374px) {
        width: 110/@rem;
        font-size: 14px;
        line-height: 1.5;
    }
}

&.events-cards-view-amenities-btn {
    width: 175px;
    float: left;
    line-height: 2;
    img {
        margin-left: 5px;
        vertical-align: baseline;
    }
    @media only screen and (max-width: 991px) {
        line-height: 2.8;
    }
    @media only screen and (max-width: 415px) {
        width: 155/@rem;
    }
    @media only screen and (max-width: 374px) {
        width: 142/@rem;
        font-size: 14px;
    }
}

.events-cards-view-amenities-btn-selected {
    background-color: var(--primaryColorLighter);
    border: solid 1px var(--primaryColor);
    color: var(--primaryColor);
}

.events-card-details-section {
    margin-top: 25/@rem;
}

.events-card-dimension-con {
    float: left;
    width: 22rem;
    height: 80/@rem;
    background: #f2f2f2;
    border-radius: 2px;
    font-size: 12/@rem;
    padding: 14/@rem 0 14/@rem 15/@rem;
    .heading {
        font-family: Calibri-Bold;
        padding-left: 3px;
        position: relative;
        height: auto;
    }

    .heading:first-child {
        padding: 0;
    }
    .details {
        margin-left: 2px;
        margin-right: 5px;
        font-family: Calibri;
    }
    div:nth-child(2) {
        line-height: 1;
        margin-top: 5px;
        .heading {
            margin-left: 5px;
        }
        .heading:first-child {
            margin: 0;
        }
        .heading:last-child {
            margin-left: 3rem;
        }
        @media only screen and (max-width: 991px) {
            margin-top: 10/@rem;
        }
        @media only screen and (max-width: 374px) {
            .heading:last-child {
                padding: 0;
                margin: 0;
            }
        }
    }
    @media only screen and (max-width: 991px) {
        font-size: 14/@rem;
        height: auto;
        padding: 10px;
        width: 100%;
        div {
            line-height: 1.2;
        }
    }
    @media only screen and (max-width: 415px) {
        font-size: 12/@rem;
    }
}

.events-card-other-details-con {
    float: left;
    width: 26.5rem;
    padding-left: 25/@rem;
    @media only screen and (max-width: 991px) {
        padding: 0;
        margin-top: 14/@rem;
        width: 100%;
    }
    
}

.event-card-other-heading {
    font-family: Calibri-Bold;
    font-size: 1rem;
    color: #323232;
    margin: 0 0 0.5rem 0;
    flex: 1;
    @media only screen and (max-width: 991px) {
        float: left;
    }
}

.events-card-other-show-more {
    display: none;
    color: var(--primaryColor);
    font-size: 14/@rem;
    font-family: Calibri-Bold;
    text-decoration: underline;
    @media only screen and (max-width: 767px) {
        display: block;
        float: right;
    }
    img {
        margin-left: 5px;
    }
}



.events-card-other-details {
       display: flex;
       flex-wrap: wrap;
       .events-card-other-details-sub {
           display: flex;
           align-items: center;           
           font-family: Calibri;
           font-size: 14/@rem;
           margin-bottom: 8/@rem;
           margin-right: 8/@rem;
           width: 30%;
            .icon-seating-theatre {
                font-size: 16px;
            }
            .icon-seating-circular {
                font-size: 18px;
            }
            .icon-seating-u {
                font-size: 22px;
            }
            .icon-seating-boardroom {
                font-size: 22px;
            }
            .icon-seating-classroom {
                font-size: 10px;
            }
            .icon-seating-reception {
                font-size: 14px;
            }
            i{                                           
                margin-right: 0.5rem;                
            }
           @media only screen and (max-width: 767px) {
               width: 46%;
           }
       }
       img {
           height: 20/@rem;
           width: 20/@rem;
           object-fit: contain;
           margin-right: 2/@rem;
       }
       @media only screen and (max-width:767px) {
    /*
           .events-card-other-details-sub:nth-child(n+5) {
               display: none;
           }
    */
           .events-card-other-details-sub-show-more:nth-child(n+5) {
               display: inherit;
           }
       }
   }

.events-card-other-sub {
    float: left;
    font-size: 14/@rem;
    color: #323232;
    font-family: Calibri;
    line-height: 2;
    margin-right: 13/@rem;
    img {
        height: 20/@rem;
        width: 20/@rem;
        margin-right: 9/@rem;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        margin-right: 2rem;
    }
    @media only screen and (max-width: 767px) {
        color: #616161;
    }
}

.event-expansion-con {
    box-shadow: 0 4px 14px 0 #e5e3e3;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    display: table;
    padding: 22/@rem 0 28/@rem 40/@rem;
    position: relative;
    width: 100%;
    display: none;
    @media only screen and (max-width: 991px) {
        padding-left: 24/@rem;
    }
}

.event-expansion-con::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    content: '';
    background-image: var(--linearGradient);
}

.events-services-section {
    display: table-cell;
    border-right: 1px solid #e5e3e3;
    width: 65%;
    padding-right: 35/@rem;
    .heading {
        font-family: Calibri-Bold;
        font-size: 18/@rem;
        color: #323232;
        margin-bottom: 6/@rem;
    }
    .details {
        color: #4a4a4a;
        font-size: 1rem;
        font-family: Calibri;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
        display: block;
        padding: 0;
        border: none;
    }
}

.events-services-entertainment-section {
    display: table-cell;
    padding-left: 35/@rem;
    .heading {
        font-family: Calibri-Bold;
        font-size: 18/@rem;
        color: #323232;
        margin-top: 21/@rem;
        margin-bottom: 6/@rem;
    }
    .heading:first-child {
        margin-top: none;
    }
    .details {
        color: #4a4a4a;
        font-size: 1rem;
        font-family: Calibri;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
        display: none;
        padding: 0;
    }
}

.events-exp-show-more {
    display: none;
    font-size: 14/@rem;
    color: var(--primaryColor);
    font-family: Calibri;
    margin-top: 20/@rem;
    @media only screen and (max-width: 767px) {
        display: block;
    }
}

.events-inverted {
    transform: rotate(180deg);
}

.meeting-card-wait-spinner {
    width: 9.375rem;
    float: right;
    line-height: 2;
    position: relative;
    margin-right: -52px;
}

.event-card-other-heading-con.clearfix {
	position: relative;
    display: flex;
    button {
		border: none;
        top: -3px;
        position: relative;
    }
    #displayContent {
		display: block;
        position: absolute;
        z-index: 10000;
        background: white;
        padding: 1rem 1.3rem;
        border: 1px solid lightgray;
        border-radius: 5px;
        top: 30px;
    }

}


