<div data-sly-test="${wcmmode.edit}">AMP IHCL Happenings Component
</div>
<sly
	data-sly-use.model="com.ihcl.core.models.ihcl.IhclOtherServicesCards" />
<sly data-sly-test="${properties.needTitle}">
	<h2 class="component-title">Happenings at IHCL</h2>
</sly>
<div class="discover-more-wrapper">
	<div class="clearfix">
		
		<sly data-sly-list.key="${model.cardList}">
		<div class="other-services-wrap">
			<div
				class="concierge-local cm-inner-carousal-cards holiday-landing-dis">

				<div class="recommended-experiences-wrap">
					<amp-img height="14rem" class="about-carousel-images"
						src="${key.imageCard}" alt="leaders speak image"></amp-img>
					<div class="mr-experiences-description-wrap">
						<!-- <div class="mr-experinces-detailsButton-wrap"> -->
						<div class="mr-experinces-details-wrap">
							<div class="mr-experinces-title conceirge-title">${key.title}</div>
							<div class="mr-experinces-details-location hold-trend-desc">
								<div class="desc-section-otherservices">
									<div class="rooms-suites-description">${key.description
										@context='html'}</div>
								</div>
							</div>
						</div>
                        <sly data-sly-test="${properties.showbutton!='hide'}">
						<div class="mr-experinces-Button-wrap">
							<a href="${key.buttonurl}.html" target="_blank"><button
									class="cm-btn-secondary experience-button-styles conceirge-local-button brand-card-details-btn">${key.buttontext}</button></a>
						</div>
                        </sly>
						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	</sly>


</div>
</div>

