<sly data-sly-test="${wcmmode.edit}">
<p data-sly-unwrap="${properties.headline}" data-emptytext="configure ${component.title}"
                class="cq-placeholder"></p>  
</sly>

<div class="container x-columncontrol">

<div data-sly-test="${properties.headline}" data-sly-unwrap><h3 class="c-text-highlight-rail-heading "> ${properties.headline}</h3></div>


<div class="row">
    <sly data-sly-test="${properties.columns == '25/75'}">

 		<div class="col-sm-3 clearfix"><sly class="x-content-wrapper " data-sly-resource="${'par_1' @ resourceType='foundation/components/parsys'}"></sly></div>
      	<div class="col-sm-9 clearfix"><sly class="x-content-wrapper" data-sly-resource="${'par_2' @ resourceType='foundation/components/parsys'}"></sly></div>

    </sly>

    <sly data-sly-test="${properties.columns == '50/50'}">

 		<div class="col-sm-6 clearfix" ><div class="x-content-wrapper" data-sly-resource="${'par_1' @ resourceType='foundation/components/parsys'}"></div></div>
      	<div class="col-sm-6 clearfix"><div class="x-content-wrapper" data-sly-resource="${'par_2' @ resourceType='foundation/components/parsys'}"></div></div>

    </sly>

    <sly data-sly-test="${properties.columns == '75/25'}">

 		<div class="col-sm-9 clearfix" ><div class="x-content-wrapper" data-sly-resource="${'par_1' @ resourceType='foundation/components/parsys'}"></div></div>
      	<div class="col-sm-3 clearfix"><div class="x-content-wrapper" data-sly-resource="${'par_2' @ resourceType='foundation/components/parsys'}"></div></div>

    </sly>
	 <sly data-sly-test="${properties.columns == '66/33'}">

 		<div class="col-sm-8 clearfix" ><div class="x-content-wrapper" data-sly-resource="${'par_1' @ resourceType='foundation/components/parsys'}"></div></div>
      	<div class="col-sm-4 clearfix"><div class="x-content-wrapper" data-sly-resource="${'par_2' @ resourceType='foundation/components/parsys'}"></div></div>

    </sly>
    <sly data-sly-test="${properties.columns == '33/66'}">

      	<div class="col-sm-4 clearfix"><div class="x-content-wrapper" data-sly-resource="${'par_2' @ resourceType='foundation/components/parsys'}"></div></div>
		<div class="col-sm-8 clearfix" ><div class="x-content-wrapper" data-sly-resource="${'par_1' @ resourceType='foundation/components/parsys'}"></div></div>
    </sly>
	<sly data-sly-test="${properties.columns == '33/33/33'}">

 		<div class="col-sm-4 clearfix"><div class="x-content-wrapper" data-sly-resource="${'par_1' @ resourceType='foundation/components/parsys'}"></div></div>
      	<div class="col-sm-4 clearfix" ><div class="x-content-wrapper" data-sly-resource="${'par_2' @ resourceType='foundation/components/parsys'}"></div></div>
        <div class="col-sm-4 clearfix" ><div class="x-content-wrapper" data-sly-resource="${'par_3' @ resourceType='foundation/components/parsys'}"></div></div>
    </sly>
	<sly data-sly-test="${properties.columns == '100'}">
 		<div class="col-sm-12 clearfix" ><div class="x-content-wrapper" data-sly-resource="${'par_1' @ resourceType='foundation/components/parsys'}"></div></div>
    </sly>
</div>

</div>