<div data-sly-test="${wcmmode.edit}">Destination - Hotel Carousel Card Component</div>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.destination-hotel-card'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />


<sly data-sly-use.hService="com.ihcl.core.models.FetchHotelsServiceModel" data-sly-test="${hService.hotel.hotelName!= null}">
<div id="carouselHotelcard${listItemList.index}" class="carousel-item mr-mapCarousel row"
    data-hotelid="${hService.hotel.hotelId}" data-hotelbrand="${hService.hotel.hotelBrand}"
    data-popularity="${hService.hotel.totalReview}" data-rating="${hService.hotel.reviewScore}" id=${hService.hotel.hotelId}
    onclick="hotelCardClicked(carouselHotelcard${listItemList.index @context='scriptString'})">
    <div class="mr-${hService.hotel.hotelType}-typehotel">
        <div class="col-lg-6 col-md-12 col-sm-12 hotelCard-container-outer-wrap mr-mapview-mobileOnly card">
            <div class="hotelCard-container-wrap">
                <div class="hotelCard-container">
                    <div class="rating-container clearfix">
                        <div class="rating">${hService.hotel.reviewScore}</div>
                        <div class="number-of-rating">${hService.hotel.totalReview}</div>
                    </div>
                    <div class="hotelCard-imageWrap">
                        <div class="hotelCard-image">
                            <sly
                                data-sly-call="${imagetemplate.damImageTemplate @ imagePath=hService.hotel.imageUrl, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />
                        </div>
                    </div>
                    <div class="hotelCard_hotelDetails clearfix">
                        <div class="hotelDetails-name-wrap clearfix">
                            <div class="hotelDetailsHeading">${hService.hotel.hotelName}</div>
                            <!-- <div class="hotelDetailsLocation-mobile"> <a href='#' class="mr-hotels-address-link">${hService.hotel.hotelArea}</a> |</div>
             <div class="hotelDetailsDistance">${hService.hotel.getLocationStats}</div> -->
                        </div>
                        <div class="rate_con">
                            <div class="map-carousel-waiting-spinner">
                                <img src="/content/dam/tajhotels/icons/style-icons/spinner.gif" alt="spinner icon">
                            </div>
                            <div class="map-carousal-rate">
                                <div class="hotelDetailsRate">Starting Rate/Night</div>
                                <div class="bookingButtonContainer">
                                    <div class="price-con">
                                        <div class="hotelDetailsRateStriked mr-list-hotels-delrate">
                                            <span class="rate-currency-symbol"></span>
                                            <span class="discounted-rate">${hService.hotel.amountAfterTax}</span>
                                        </div>
                                        <div class="hotelDetailsRateNew mr-current-rate-list">
                                            <span class="rate-currency-symbol"></span>
                                            <span class="current-rate">${hService.hotel.amountBeforeTax}</span>
                                            <span class="map-current-rate-asterisk">*</span>
                                        </div>
                                    </div>
                                    <div class="room-rate-unavailable">
                                        <span>Unavailable</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="view-btn-con">
                        <div class="last-room-warning" style="display: block">Last few rooms available</div>
                        <a href="${hService.hotel.hotelPath}">
                            <button class="cm-btn-secondary">VIEW HOTEL</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</sly>
