<div data-sly-test.edit=${wcmmode.edit}>
	<h1>ihcl location component</h1>
</div>
<div class="ihcl-loc-details-wrap">
	<div class="container">
		<div class="ihcl-loc-details-con">
			<div class="ihcl-loc-details-inner-wrap">
				<div class="ihcl-loc-details-cat-section">
					<div class="ihcl-loc-details-cat-con"
						id="ihcl-loc-details-cat-country">
						<div class="ihcl-loc-details-cat">
							<div class="ihcl-loc-details-cat-value">12+</div>
							<div class="ihcl-loc-details-cat-item">Countries</div>
						</div>
						<div class="ihcl-loc-details-exp-wrap">
							<div class="ihcl-loc-details-exp-heading">
								Countries
								<amp-img height="18" width="18"
									class="ihcl-loc-details-exp-heading-img"
									src="/content/dam/tajhotels/icons/style-icons/close-blue.svg" ></amp-img>
							</div>
							<div class="ihcl-loc-details-exp-con"
								id="ihcl-loc-details-exp-country"></div>
						</div>
					</div>
					<div class="ihcl-loc-details-cat-con">
						<div class="ihcl-loc-details-cat">
							<div class="ihcl-loc-details-cat-value">80+</div>
							<div class="ihcl-loc-details-cat-item">Locations</div>
						</div>


					</div>
					<div class="ihcl-loc-details-cat-con">
						<div class="ihcl-loc-details-cat">
							<div class="ihcl-loc-details-cat-value">75+</div>
							<div class="ihcl-loc-details-cat-item">Spas</div>
						</div>


					</div>
					<div class="ihcl-loc-details-cat-con">
						<div class="ihcl-loc-details-cat">
							<div class="ihcl-loc-details-cat-value">165+</div>
							<div class="ihcl-loc-details-cat-item">Hotels</div>
						</div>


					</div>
					<div class="ihcl-loc-details-cat-con">
						<div class="ihcl-loc-details-cat">
							<div class="ihcl-loc-details-cat-value">380+</div>
							<div class="ihcl-loc-details-cat-item">Restaurants</div>
						</div>


					</div>
					<div class="ihcl-loc-details-cat-con">
						<div class="ihcl-loc-details-cat">
							<div class="ihcl-loc-details-cat-value">20,000+</div>
							<div class="ihcl-loc-details-cat-item">Rooms</div>
						</div>


					</div>
					<div class="ihcl-loc-details-cat-con">
						<div class="ihcl-loc-details-cat">
							<div class="ihcl-loc-details-cat-value">33,242+</div>
							<div class="ihcl-loc-details-cat-item">Employees</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
