/* Style the tab */
.corporate-gov-tab {
    overflow: hidden;
    border-bottom: solid 1px var(--primaryColorDark);
}
/* Style the buttons inside the tab */
.corporate-gov-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    padding: 0.875rem 1rem;
    transition: 0.3s;
    font-size: 17px;
    font-size: 1.0625rem;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    color: #272727;
  /*margin-right: 59/@rem;*/
}

@media only screen and (max-width: 415px) {
    .corporate-gov-tab button {
        font-size: 0.5625rem;
        margin-right: 0rem;
    }
}

@media only screen and (min-width: 416px) and (max-width: 767px) {
    .corporate-gov-tab button {
        font-size: 0.75rem;
        margin-right: 0rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .corporate-gov-tab button {
        margin-right: -1.375rem;
    }
}

.corporate-gov-audit {
    width: 170px;
    width: 10.625rem;
    height: 73px;
    height: 4.5625rem;
}

@media only screen and (max-width: 415px) {
    .corporate-gov-audit {
        width: 25%;
        height: 4.5625rem;
    }
}

@media only screen and (min-width: 416px) and (max-width: 767px) {
    .corporate-gov-audit {
        width: 5.625rem;
    }
}

.corporate-gov-stake {
    width: 251px;
    width: 15.6875rem;
    height: 73px;
    height: 4.5625rem;
}

@media only screen and (max-width: 415px) {
    .corporate-gov-stake {
        width: 25%;
        height: 4.5625rem;
    }
}

@media only screen and (min-width: 416px) and (max-width: 767px) {
    .corporate-gov-stake {
        width: 6rem;
    }
}

.corporate-gov-nomination {
    width: 291px;
    width: 18.1875rem;
    height: 73px;
    height: 4.5625rem;
}

@media only screen and (max-width: 415px) {
    .corporate-gov-nomination {
        width: 25%;
        height: 4.5625rem;
    }
}

@media only screen and (min-width: 416px) and (max-width: 767px) {
    .corporate-gov-nomination {
        width: 7.8rem;
    }
}

.corporate-gov-corporate {
    width: 327px;
    width: 20.4375rem;
    height: 73px;
    height: 4.5625rem;
}

@media only screen and (max-width: 415px) {
    .corporate-gov-corporate {
        width: 25%;
        height: 4.5625rem;
    }
}

@media only screen and (min-width: 416px) and (max-width: 767px) {
    .corporate-gov-corporate {
        width: 6.4375rem;
    }
}
/* Change background color of buttons on hover */
.corporate-gov-tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
.corporate-gov-tab button.active {
    background-color: var(--primaryColor)36;
    font-weight: bold;
}
/* Style the tab content */
.corporate-gov-tabcontent {
    display: none;
    padding: 42px 12px;
    padding: 2.625rem 0.75rem;
}

.csr-text-mob {
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .csr-text-mob {
        display: block;
    }
}

.csr-text-desk {
    display: block;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .csr-text-desk {
        display: none;
    }
}
