.related-news-label {
	font-family: Calibri;
	font-size: 22px;
	font-size: 1.375rem;
	font-weight: bold;
	line-height: 24px;
	line-height: 1.5rem;
	color: #323232;
}

.related-news-date {
	font-family: Calibri;
	font-size: 16px;
	font-size: 1rem;
	line-height: 22px;
	line-height: 1.38rem;
	color: #999999;
}

.related-news-large {
	margin-right: 32px;
	margin-right: 2rem;
	min-height: unset;
	height : 100%;
	
}

@media only screen and (max-width: 991px) {
	.related-news-large {
		min-height: unset;
		margin-right: 0;
	}
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	.related-news-large {
		margin-bottom: 0rem;
		margin-right: 1rem;
	}
}

.related-news-large .related-news-banner {
	width: 40%;
}

@media only screen and (max-width: 991px) {
	.related-news-large .related-news-banner {
		width: 100%;
	}
}

.related-news-large .related-news-footer {
	width: 60%;
	padding: 36px;
	padding: 2.25rem;
	min-height: unset !important;
	background-color:white;
}

@media only screen and (max-width: 991px) {
	.related-news-large .related-news-footer {
		width: 100%;
		padding: 1.375rem;
		min-height: unset !important;
	}
}

.related-news-large .related-ihcl-news-description {
	font-family: Calibri;
	font-size: 16px;
	font-size: 16px;
	font-size: 1rem;
	line-height: 20px;
	line-height: 20px;
	line-height: 1.30rem;
	color: #4a4a4a;
	margin-top: 5px;
}

.related-news-large .guest-individual-card-backFront-wrapper {
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	height : 100%;
	background-color:white;
}

@media only screen and (max-width: 991px) {
	.related-news-large .guest-individual-card-backFront-wrapper {
		display: block;
	}
}
@media only screen and (max-width: 767px) {
	.related-news-large .guest-individual-card-backFront-wrapper {
		height:unset;
    margin-bottom: 1rem!important;
	}
}

.related-news-large .related-news-banner-img {
	height: 100%;
	background: white;
}

@media only screen and (max-width: 991px) {
}

.related-news-large .card-img-top.guests-speak-hotel-img img {
	height: 100%;
	width: 100%;
}

.related-news-footer {
	display: block;
	-ms-flex-align: center;
	align-items: center;
	border: none;
	background-color: white;
	padding: 22px;
	padding: 1.375rem;
}

.mr-press-release-hide .read-more {
	display: none;
}

.ihcl-news-smallcard-wrap, .press-related-news.section,
	.pressCard-container {
	height: 100%;
}

.rooms-suites-description{
	margin-bottom:3rem;
}