<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='tajhotels.titledescription,tajhotels.titlelink'}"/>
<div class="holidays-land-popularDest cm-content-blocks holidays-dest-popularDest">
    <div class="cm-header-label-con title-decorator-border">
		<sly data-sly-test="${properties.headerTitle}">
        	<h2 class="cm-header-label">${properties.headerTitle}</h2>
		</sly>
		<sly data-sly-test="${properties.headerLink}">
			<a href="${properties.headerLink}.html">
				<sly data-sly-test.hasLinkText="${properties.linkText}">
					<div class="show-view">${properties.linkText}</div>
				</sly>
				<sly data-sly-test="${!hasLinkText}">
					<div class="cm-header-offers">VIEW ALL</div>
				</sly>
        	</a>
		</sly>
    </div>
</div>
