.discount-both-left-right-clipped {
    position: relative;
    font-family: Calibri-bold;
    font-size: 13px;
    font-size: 0.8125rem;
    text-align: center;
    color: #ffffff;
    min-width: 169px;
    min-width: 10.5625rem;
    height: 35px;
    height: 2.1875rem;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin-right: -8px;
    margin-right: -0.5rem;
}

.discount-both-left-right-clipped .discount-text-wrp {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: table;
    margin-top:0.5rem;
}

.discount-both-left-right-clipped .discount-text-wrp .discount-text {
    display: table-cell;
    vertical-align: middle;
}

.discount-both-left-right-clipped .discount-both-left-right-clipped-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 424px) {
    .discount-both-left-right-clipped {
        font-size: 0.625rem;
        min-width: 7.5rem;
    }
}
