.offers-card-component {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    float: left;
}

    .cm-header-offers {
display: inline-block;
    position: absolute;
    right: 0;
    color: var(--primaryColor);
    font-size: 16px;
    border-bottom: 1px solid var(--primaryColorLight);
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0;
    cursor: pointer;
        }

.offers-card-component .offers-card-inner-wrapper {
	height:600px;
    background-color: #ffffff;
    box-shadow: 0 0.6875rem 0.75rem 0 rgba(0, 0, 0, 0.05);
}

.offers-card-component .offers-card-header-container {
    min-height: 50px;
    min-height: 3.125rem;
    box-shadow: 0rem -0.3125rem 0.75rem 0 rgba(0, 0, 0, 0.05);
}

.offers-card-component .offers-card-image {
    width: 100%;
    height: 379px;
    height: 23.6875rem;
}

.offers-card-component .offers-card-main {
    padding: 17px 24px 26px 26px;
    padding: 1.0625rem 1.5rem 1.625rem 1.625rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    -ms-flex-align: end;
    align-items: flex-end;
}

.offers-card-component .offers-card-main .offer-main-left {
    margin-right: 15px;
    margin-right: 0.9375rem;
    width:50%;
}

.offers-card-component .offers-card-main .offer-main-left .offers-card-title {
    font-family: Calibri;
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 1;
    color: #323232;
    margin-bottom: 11px;
    margin-bottom: 0.6875rem;
    height:3.2rem;
    overflow:hidden;
    word-break:break-word;
}

.offers-card-component .offers-card-main .offer-main-left .offers-card-description {
    font-family: Calibri;
    font-size: 16px;
    line-height: 1;
    color: #9b9b9b;
    overflow: hidden;
    height:3.2rem;
    word-break:break-word;
}

.offers-card-component .offers-card-main .offer-main-right {
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative;
    text-align: right;
    width:50%;
}

.offers-card-component .offers-card-main .offer-main-right .offer-customer-wrapper {
    margin-top: -7px;
    margin-top: -0.4375rem;
    min-width: 165px;
    min-width: 10.3125rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    text-align: right;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-right: -25px;
    margin-right: -1.5625rem;
}

.offers-card-component .offers-card-main .offer-main-right .offer-customer-wrapper .offer-customer-name {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 0.77;
    color: #9b9b9b;
}

.offers-card-component .offers-card-main .offer-main-right .offer-customer-wrapper .offer-left-clipped {
    background: url("/etc.clientlibs/tajhotels/components/content/destination/destination-offer-carousel/clientlibs/resources/images/offer-left-clipped@2x.png");
    background-size: 170% 200%;
    text-align: center;
    background-position: top;
    padding: 10px 5px 3px 10px;
    margin-top: -9px;
    min-width: 74px;
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri-bold;
    font-size: 14px;
    font-size: 0.875rem;
    color: #ffffff;
}

.offers-card-component .offers-card-main .offer-main-right .button-view-details {
    width: 140px;
    width: 8.75rem;
}

@media only screen and (max-width: 425px) {
    .offers-card-component .offers-card-main .offer-main-right .button-view-details {
        width: auto;
    }
}

@media only screen and (max-width: 375px) {
    .offers-card-component .offers-card-main .offer-main-right .button-view-details {
        width: auto;
        font-size: 0.75rem;
    }
}

.offers-card-component .offers-card-main .offer-main-right .offer-validity {
    margin-top: 6px;
    margin-top: 0.375rem;
    margin-bottom: 11px;
    margin-bottom: 0.6875rem;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #323232;
}

.offers-card-component .offers-card-main .offer-main-right .offer-validity .offer-validity-date {
    display: inline-block;
}

@media only screen and (max-width: 1200px) {
    .offers-card-component .offers-card-main {
        padding: 1.125rem 1.25rem 1.25rem 1.25rem;
    }

    .offers-card-component .offers-card-main .offer-main-right .offer-customer-wrapper {
        margin-right: -1.3125rem;
    }
}

@media only screen and (max-width: 767px) {
    .offers-card-component .offers-card-image {
        height: 17.375rem;
    }

    .offers-card-component .offers-card-main {
        padding: 1.125rem 1.4375rem 1.25rem 1.5625rem;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: left;
    }

    .offers-card-component .offers-card-main .offer-main-left {
        -ms-flex-item-align: start;
        align-self: flex-start;
        width:100%;
    }

    .offers-card-component .offers-card-main .offer-main-left .offers-card-title {
        font-size: 1.5rem;
        color: #000000;
        margin-bottom: 0.4375rem;
    }

    .offers-card-component .offers-card-main .offer-main-left .offers-card-description {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .offers-card-component .offers-card-main .offer-main-right {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    	width:100%;
    }

    .offers-card-component .offers-card-main .offer-main-right .offer-validity {
        margin: 0px;
        text-align: left;
        line-height: 1.25;
    }

    .offers-card-component .offers-card-main .offer-main-right .offer-validity .offer-validity-date {
        display: block;
    }

    .offers-card-component .offers-card-main .offer-main-right .offer-customer-wrapper {
        text-align: left;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 424px) {
    .offers-card-component .offers-card-main .offers-card-title {
        font-size: 22px;
	font-size: 1.375rem;
    }

    .offers-card-component .offers-card-main .offer-main-right .offer-validity {
        font-size: 14px;
	font-size: 0.875rem;
    }
}

.offer-card-header-discount {
    text-align: center;
    padding: 12px 5px;
}

.offer-card-header-discount .offers-discount {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
}

.offer-card-header-discount .offers-header-text {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 18px;
    line-height: 0.89;
    color: #323232;
}

@media only screen and (max-width: 767px) {
    .offer-card-header-discount .offers-header-text {
        font-size: 16px;
    }
}
.discount-both-left-right-clipped {
    background: url("/etc.clientlibs/tajhotels/components/content/destination/destination-offer-carousel/clientlibs/resources/images/discount-both-left-right-clipped@2x.png");
    background-size: 131% 200%;
    font-family: Calibri;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    padding: 10px 10px 3px;
    margin-top: -9px;
    min-width: 144px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    background-position: top;
}

@media only screen and (max-width: 767px) {
    .discount-both-left-right-clipped {
        font-size: 11.7px;
        min-width: 130px;
    }
}

        .offer-card-header-discount {
    text-align: center;
    padding: 12px 5px;
}

.offer-card-header-discount .offers-discount {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
}

.offer-card-header-discount .offers-header-text {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 18px;
    line-height: 0.89;
    color: #323232;
}

@media only screen and (max-width: 767px) {
    .offer-card-header-discount .offers-header-text {
        font-size: 16px;
    }
}
        .popularDest-wrap,
.cm-inner-carousal-cards {
    float: left;
    box-shadow: 0 2px 14px 0 #e5e3e3;
}

.popularDest-imageContainer {
    padding: 0;
    width: 100%;
}

.popularDest-imageContainer img {
    width: 100%;
}

.popularDest-details-container {
    height: 90px;
    width: 100%;
    background: #ffffff;
    color: #323232;
    font-size: 22px;
    font-family: Calibri;
    padding: 32px 0 36px 25px;
    position: relative;
}

@media only screen and (min-device-width: 1023px) and (max-device-width: 1100px) {
    .popularDest-details-container {
        height: 70px;
        padding: 20px 0 25px 15px;
    }
}

.view-detials-button {
    position: absolute;
    top: 28px;
    right: 21px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .cm-inner-carousal-cards:first-child {
        margin-left: 0 !important;
    }
}


