<sly data-sly-test.homePagePath="${inheritedPageProperties.siteConfigHomePath}" />

<div class="book-ind-container">
    <div class="booking-ind-outer-wrap">
        <div class="booking-ind-inner-wrap container clearfix">
            <div class="checkout-container">
                <sly data-sly-test="${!homePagePath}">
                    <a class="checkout-anchor clearfix"
                       href="/content/tajhotels/en-in/booking-cart.html" tabindex="1"></a>
                </sly>
                <sly data-sly-test="${homePagePath}">
                <a class="checkout-anchor clearfix"
                   href="${homePagePath}/booking-cart.html" tabindex="1">
                    </sly>
                    <div class="checkout-image">
                        <img src="/content/dam/tajhotels/icons/style-icons/cart.svg"
                             alt="cart image" />
                        <div class="checkout-num"></div>
                    </div>
                    <div class="ckeckout-details">
                        <div class="ckeckout-details-amount">
                            <span class="cart-currency-symbol rc-selected-currency cart-selected-currency"></span>
                            <span class="cart-total-price"></span>
                            <span class="tic-redeemed d-none"></span>
                        </div>
                        <div class="ckeckout-details-text">CHECKOUT</div>
                    </div>
                </a>
            </div>
            <div class="message-container">
                <div class="message-banner">
                    <img
                            src="/content/dam/tajhotels/icons/style-icons/left-right-clipped.svg" alt = "left right clipped icon"/>
                    <div class="best-deal">BEST DEAL</div>
                </div>
                <div class="message-text">
                    <div>Congratulations!</div>
                    <div>You have bagged the best deal for the day</div>
                </div>
            </div>
            <div class="room-details-wrap">
                <div class="room-selected-options-container clearfix"></div>
            </div>
            <div class="room-details-wrap-mobile">
                <div class="bic-info-selected-rooms">
                    <div class="bic-rooms"></div>
                    <div class="bic-arrow-con">
                        <img class="bic-arrow"
                             src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt = "drop down arrow icon"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
            var hrefValue = $('.checkout-anchor').attr('href');;
            if (hrefValue && hrefValue.includes('ihclcbtajourhotels/')) {
                hrefValue = hrefValue.replace('ihclcbtajourhotels/', '');
            }
            
            $('.checkout-anchor').attr('href', hrefValue);
    });
</script>