<!-- checkout sticky band -->
<sly data-sly-include="checkout-band.html"></sly>

<!-- Adding the base page footer behaviour -->
<sly data-sly-include="/apps/tajhotels/components/structure/tajhotels-base-page/pagefooter.html"></sly>