<div data-sly-test.edit=${wcmmode.edit}>
<h1>ihcl location component</h1>
</div>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihcllocation'}" />
<div class="ihcl-loc-details-wrap">
<div class="container">
    <div class="ihcl-loc-details-con">
        <div class="ihcl-loc-details-inner-wrap">
            <div class="ihcl-loc-details-cat-section">
                <div  data-sly-test="${properties.numCountries}" class="ihcl-loc-details-cat-con" id="ihcl-loc-details-cat-country">
                    <div class="ihcl-loc-details-cat">
                        <div class="ihcl-loc-details-cat-value"><span class="ihcl-loc-number">${properties.numCountries}</span>+</div>
                        <div class="ihcl-loc-details-cat-item">Countries</div>
                    </div>
                    <div class="ihcl-loc-details-exp-wrap">
                        <div class="ihcl-loc-details-exp-heading">Countries<img class="ihcl-loc-details-exp-heading-img" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg" alt = "close-blue-icon"/></div>
                        <div class="ihcl-loc-details-exp-con" id="ihcl-loc-details-exp-country"></div>
                    </div>
                </div>
                <div data-sly-test="${properties.numLocations}" class="ihcl-loc-details-cat-con">
                    <div class="ihcl-loc-details-cat">
                        <div class="ihcl-loc-details-cat-value"><span class="ihcl-loc-number">${properties.numLocations}</span>+</div>
                        <div class="ihcl-loc-details-cat-item">Locations</div>
                    </div>
                </div>
                <div data-sly-test="${properties.numSpas}" class="ihcl-loc-details-cat-con">
                    <div class="ihcl-loc-details-cat">
                        <div class="ihcl-loc-details-cat-value"><span class="ihcl-loc-number">${properties.numSpas}</span>+</div>
                        <div class="ihcl-loc-details-cat-item">Spas</div>
                    </div>
                    

                </div>
                <div data-sly-test="${properties.numHotels}" class="ihcl-loc-details-cat-con">
                    <div class="ihcl-loc-details-cat">
                        <div class="ihcl-loc-details-cat-value"><span class="ihcl-loc-number">${properties.numHotels}</span>+</div>
                        <div class="ihcl-loc-details-cat-item">Hotels</div>
                    </div>
                </div>
                <div data-sly-test="${properties.numRestaurants}" class="ihcl-loc-details-cat-con">
                    <div class="ihcl-loc-details-cat">
                        <div class="ihcl-loc-details-cat-value"><span class="ihcl-loc-number">${properties.numRestaurants}</span>+</div>
                        <div class="ihcl-loc-details-cat-item">Restaurants</div>
                    </div>
                    

                </div>
                <div data-sly-test="${properties.numRooms}" class="ihcl-loc-details-cat-con">
                    <div class="ihcl-loc-details-cat">
                        <div class="ihcl-loc-details-cat-value"><span class="ihcl-loc-number">${properties.numRooms}</span>+</div>
                        <div class="ihcl-loc-details-cat-item">Rooms</div>
                    </div>
                    

                </div>
                <div data-sly-test="${properties.numEmployees}" class="ihcl-loc-details-cat-con">
                    <div class="ihcl-loc-details-cat">
                        <div class="ihcl-loc-details-cat-value"><span class="ihcl-loc-number">${properties.numEmployees}</span>+</div>
                        <div class="ihcl-loc-details-cat-item">Employees</div>
                    </div>
                    

                </div>
            </div>
            <div class="ihcl-loc-details-desc-section">
                <div class="ihcl-loc-details-desc">
                    <div class="ihcl-loc-details-desc-con">
                        <!-- <div class="ihcl-loc-details-desc-value"> <span>129</span><span class="ihcl-loc-details-desc-value-span">.75 INR</span><span class="ihcl-loc-details-desc-value-perc">+0.80 (0.62%)*</span></div> -->
                        <div class="ihcl-loc-details-desc-exp">The Indian Hotels Company Ltd</div>
                        <div class="ihcl-loc-details-desc-exp">NSE: INDHOTEL</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>