<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.cart-addon'}" />

<div class="cart-addons-container col-12 col-md-12 col-lg-4 show-addons">
	<div class="cm-header-label-con title-decorator-border">
		<div class="cm-header-label">${properties.addonLabel}</div>
	</div>
	
	<div>
		<div class="add-ons-container">
			<div class="add-ons-img">
				<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.addonImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='add-ons-bk-img'}" />
				<div class="add-ons-img-overlay"><img src="/content/dam/tajhotels/icons/style-icons/tick.svg" alt  = "tick-icon"></div>
			</div>
		
			<div class="add-on-details">
				<div class="add-ons-heading">${properties.addonHeading}</div>
				<div class="add-ons-subhead">${properties.addonSubheading}</div>
				<div class="add-ons-desc">${properties.addonDescription  @context='html'}</div>
				<div class="add-ons-duration">Duration - <span>${properties.addonDuration}</span><span> Minutes</span></div>
				<div class="add-ons-cost">Cost - <span>Rs </span><span>${properties.addonCost}</span><span> / Preson</span></div>
				<div class="add-on-counter">
                    <div class="counter-wrap clearfix">
	                    <button class="counter-sub">-</button>
	                    <div class="counter-value">ADD</div>
	                    <button class="counter-add">+</button>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>