<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.partner.ihcl'}" />
<div data-sly-test.edit=${wcmmode.edit} class="become-partner-header">
	Become partner IHCL</div>
<section class="becomePartnerWrap">
	<div class="container">
		<form class="mr-sub-form partner-form"
			data-form-id="member-signup-form">

			<div class="row mr-sub-form-row">

				<div class="col-12 col-md-6 sub-form-input-wrp enroll-col-md-4">
					<div class="sub-form-input-label">${properties.nameLabel}</div>
					<input data-form-id="partner-name"
						class="only-alpha-input sub-form-input-element sub-form-mandatory"
						type="text" aria-label="Enter Name"
						placeholder="${properties.namePlaceholder}" />
					<div class="sub-form-input-warning"></div>
				</div>
				<div class="col-12 col-md-6 sub-form-input-wrp">
					<div class="sub-form-input-label">${properties.locPropertyLabel}</div>
					<input data-form-id="partner-loc"
						class="only-alpha-input sub-form-input-element sub-form-mandatory"
						type="text" placeholder="${properties.locPropertyPlaceholder}"
						aria-label="Enter Location" />
					<div class="sub-form-input-warning"></div>
				</div>


				<div class="col-12 col-md-6 sub-form-input-wrp enroll-col-md-6">
					<div class="sub-form-input-label">${properties.region}</div>
					<div class="selectSubContainer">
						<select data-form-id="partner-region"
							class="sub-form-input-element sub-form-mandatory"
							placeholder="${properties.regionPlaceholder}"
							aria-label="Select Region">
							<option selected="" value="" disabled>Select Region</option>
							<option value="Asia Pacific(excl India)">Asia
								Pacific(excl India)</option>
							<option value="Europe">Europe</option>
							<option value="Africa">Africa</option>
							<option value="Middle East">Middle East</option>
							<option value="Latin America">Latin America</option>
							<option value="North America">North America</option>
							<option value="India">India</option>

						</select>
					</div>
					<div class="sub-form-input-warning"></div>
				</div>
				<div class="col-12 col-md-6 sub-form-input-wrp enroll-col-md-6">
					<div class="sub-form-input-label">${properties.emailLabel}</div>
					<input data-form-id="partner-email"
						class="email-input sub-form-input-element sub-form-mandatory"
						aria-label="Enter Partner Email" type="text"
						placeholder="${properties.emailPlaceholder}" />
					<div class="sub-form-input-warning"></div>
				</div>


				<div class="col-12 col-md-6 sub-form-input-wrp enroll-col-md-6">
					<div class="sub-form-input-label">${properties.contactNumLabel}</div>
					<input data-form-id="partner-mobile"
						class="limit-phone-number only-numeric-input sub-form-input-element sub-form-mandatory"
						aria-label="Enter Partner Mobile Number" type="tel"
						placeholder="${properties.contactLabelPlaceholder}" />
					<div class="sub-form-input-warning"></div>
				</div>
				<div class="col-12 col-md-3 sub-form-input-wrp enroll-col-md-6">
					<div class="sub-form-input-label">${properties.areaLabel}</div>
					<input data-form-id="partner-area"
						class="sub-form-input-element sub-form-mandatory"
						aria-label="Enter Area of House" type="number"
						placeholder="${properties.areaPlaceholder}" />
					<div class="sub-form-input-warning"></div>
					<span class="amaAreaHouseDimnsn">${properties.squareMeter}</span>
				</div>

				<div class="col-12 col-md-6 sub-form-input-wrp enroll-col-md-6">
					<div class="sub-form-input-label">${properties.bedNumLabel}</div>
					<input data-form-id="no-of-bedrooms"
						class="sub-form-input-element sub-form-mandatory"
						aria-label="Enter Number of Bedrooms" type="number"
						placeholder="${properties.bedroomsPlaceholder}" />
					<div class="sub-form-input-warning"></div>
				</div>


				<div class="col-12 sub-form-input-wrp enroll-col-md-6">
					<div class="sub-form-input-label">${properties.leaveMessage}</div>
					<textarea rows="2" data-form-id="msg"
						class="partner-form-msg sub-form-input-element"
						aria-label="Enter a Message" type="text"></textarea>
					<div class="sub-form-input-warning"></div>
				</div>
				<div class="col-12 enroll-col-md-6">
					<div class="mandatory-fields-msg">${properties.mandatoryFields}</div>
				</div>
				<div class="col-lg-4 col-md-6"
					data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
				<div class="apply-btn-wrp col-lg-4 col-md-6">
                   <button id="apply-btn" data-form-id="apply-btn"
						class="cm-btn-secondary apply-submit-btn"
						aria-label="apply button" type="button">${properties.applyNow}</button>
				</div>
			</div>

		</form>
		<p class="know-more-text">
			${properties.knowMoreText} <a class="contact-mail-id"
				href="mailto:${properties.knowMoreEmail}">${properties.knowMoreEmail}</a>
		</p>
	</div>
	<div class="successMsg d-none">${properties.successMsg @context='html'}</div> 
</section>