 <sly 
         data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
         data-sly-call="${clientlib.all @ categories='tajhotels.contactus-filter-map'}" /> 
<!--<script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
 <script src="markerclusterer.js" type="text/javascript"></script> -->
 <sly data-sly-use.config="com.ihcl.core.models.config.TajApiKeyConfigModel" >
<!-- <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=${config.getGoogleMapApiKey}&libraries=places">
 </script>-->
 </sly> 
    <sly data-sly-test.sectionClass="${properties.enableihcl?'IHCL-section':''}" />
 <div class="mr-contact-us-map-with-search cm-contect-blocks mr-taj-exclusity-map ${sectionClass} ${properties.showbutton=='hide'?'mr-taj-exclusity-map-brand':''}" data-brand-name="${currentPage.title}${sectionClass}">
                <div class="mr-cont-us-search-with-map-wrapper row">
                    <div class="mr-contact-us-map-with-search-conatiner col-12">
                        <div class="map-with-search-conatiner">
                            <div class="contact-us-search-container">
                                <div class="search-container search-hotels-container contact-us on-moblie-default">
                                    <div class="search-and-suggestions-wrapper search-and-suggestions-wrapper-hotel container disable-input-scroll-top">
                                        <div class="searchBar-wrap"><input type="text" aria-label = "Hotel Serach bar"class="searchbar-input hotel-search"  placeholder="${currentPage.title=='contact-us'?'Search for office locations..':'Search for Hotel, Destination, Reservations..'}"><img class="clear-input-icon" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" tabindex="0" role = "button">
                                            <div class="search-filters-container contact-us-filter">
                                                <div class="filter-dropdown-wrap contact-us">
                                                    <div class="filter-dropdown-label">Country</div>
                                                    <div class="selectSubContainer"><select aria-label="country" name="country" id="country"></select></div>
                                                </div>
                                                <div class="filter-on-mobile"><img src="/content/dam/tajhotels/icons/style-icons/filter-icon.svg" alt = "filter-icon"></div>
                                                <div class="events-filter-subsection">
                                                    <div class="filter-with-search-wrapper">
                                                        <div class="filter-with-search-header">
                                                            <div class="img-leftArrow"><span class="icon-prev-arrow"></span></div>
                                                            <div class="filter-subheading">filters</div>
                                                        </div>
                                                        <div class="filter-seach-container">
                                                            <div class="filter-dropdown-wrap contact-us-mob">
                                                                <div class="selectSubContainer" style="width:100% !important"><select aria-label="country" name="countryMobile" id="countryMobile"></select></div>
                                                            </div>
                                                        </div>
											<div class="filter-button-mob-container clearfix">
												<div class="btn-mob-wrapper">
													<button
														class="cm-btn-primary cm-holiday-filter hotels active view-detials-button">Corporate</button>
												</div>
												<div class="btn-mob-wrapper sales">
													<button class="cm-btn-primary cm-holiday-filter sales view-detials-button">Sales</button>
												</div>
											</div>
											<div class="filter-go-warpper-mob">
												<button class="cm-btn-secondary cm-holiday-filter">Apply
													filter</button>
											</div>
                                                    </div>
                                                </div>
                                            </div><span class="close-icon display-none"><img class="closeIconImg" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon"></span></div>
                                        <div class="suggestions-wrap display-none">
                                            <div class="suggestions-overlay cm-overlay"></div>
                                            <div class="suggestions-container">
                                                <div class="trending-suggestions-container display-none">
                                                    <div class="trending-explore">
                                                        <p class="explore-heading"><img class="destination-hotel-icon" src="/content/dam/tajhotels/icons/style-icons/search-suggestions-destination-icon.svg" alt="hotel icon"><span class="trending-explore-taj-text">EXPLORE TAJ</span></p>
                                                        <div class="explore-taj-categories"><a class="individual-category-explore" href="../../../markup/pages/hotels/our-hotels-landing.html">Hotels</a><a class="individual-category-explore" href="../../../markup/pages/hotels/specific-hotel-dining.html">Dining</a>
                                                            <a
                                                                class="individual-category-explore" href="#">Taj Innercircle</a><a class="individual-category-explore" href="../../../markup/pages/hotels/specific-hotel-jivaspa.html">Jiva Spa</a><a class="individual-category-explore" href="#">Epicure</a></div>
                                                    </div>
                                                    <div class="trending-search">
                                                        <p class="explore-heading"><img class="destination-hotel-icon" src="/content/dam/tajhotels/icons/style-icons/locationIcon.svg" alt="Location icon"><span class="trending-explore-taj-text trending-search-text">Trending Searches</span></p>
                                                        <div
                                                            class="trending-searches-in-taj">
                                                            <div class="individual-trends">Taj Mahal Towers, Colaba-Mumbai</div>
                                                            <div class="individual-trends">Taj Mahal Palace, Colaba-Mumbai</div>
                                                            <div class="individual-trends">Taj Wellington, Santacruz-Mumbai</div>
                                                            <div class="individual-trends">Taj Lands End, Bandra-Mumbai</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="search-suggestions-container display-none">
                                                <div class="search-suggestion-common">
                                                    <div class="individual-common-suggesion" tabindex="1">taj mumbai </div>
                                                    <div class="individual-common-suggesion">taj mumbai hotel</div>
                                                    <div class="individual-common-suggesion">taj mumbai rooms</div>
                                                    <div class="individual-common-suggesion">taj mumbai dining</div>
                                                </div>
                                                <div class="trending-search">
                                                    <p class="explore-heading"><img class="destination-hotel-icon" src="/content/dam/tajhotels/icons/style-icons/locationIcon.svg" alt="Location icon"><span class="trending-explore-taj-text trending-search-text">HOTELS</span></p>
                                                    <div class="trending-searches-in-taj">
                                                        <div class="individual-trends">Taj Mahal Towers, Colaba-Mumbai</div>
                                                        <div class="individual-trends">Taj Mahal Palace, Colaba-Mumbai</div>
                                                        <div class="individual-trends">Taj Wellington, Santacruz-Mumbai</div>
                                                        <div class="individual-trends">Taj Lands End, Bandra-Mumbai</div>
                                                    </div>
                                                </div>
                                                <div class="trending-search">
                                                    <p class="explore-heading"><img class="destination-hotel-icon" src="/content/dam/tajhotels/icons/style-icons/locationIcon.svg" alt="Location icon"><span class="trending-explore-taj-text trending-search-text">RESTAURANTS</span></p>
                                                    <div class="trending-searches-in-taj">
                                                        <div class="individual-trends">Taj Mahal Towers, Colaba-Mumbai</div>
                                                        <div class="individual-trends">Taj Mahal Palace, Colaba-Mumbai</div>
                                                        <div class="individual-trends">Taj Wellington, Santacruz-Mumbai</div>
                                                        <div class="individual-trends">Taj Lands End, Bandra-Mumbai</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="map-no-search-result">No result corresponding to the search</div>
                        </div>
                        <div class="contact-us-map-container">
                            <div class="map-view-cont" id="mapContactUs"></div><span class="map-back-icon icon-prev-arrow" ></span>
                            <div class="cont-us-card-mob-wrap">
                                <!-- <div class="cards-list">
                                    <div class="carousel slide" id="contact-us-carousel" data-ride="carousel">
                                        <div class="carousel-inner contact-us-card-carousel"></div>
                                    </div>
                                </div> -->
                                <div class="hotels all-card"></div>
                                <div class="sales all-card"></div>
                            </div>
                        </div>
                        <div class="contact-us-buttons-overlay">
                            <div class="contact-us-btn-wrapper"><button class="cm-btn-secondary view-detials-button hotels active">Corporate</button><button class="cm-btn-secondary view-detials-button sales">sales</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>