<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} 
   data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
   data-sly-call="${clientlib.all @ categories='tajhotels.holidays-inspirational-journeys-list'}" />

<sly data-sly-use.model="com.ihcl.core.models.holidays.inspirational.IInspirationCards">

  <div data-sly-test.edit="${wcmmode.edit}">
    Holidays Inspirational Journeys Component<br>
    Addcards for various ctegories and configure the details.
  </div>

<div class="cm-content-blocks">
	<div class="row" data-sly-list.videoList=${model.listOfInspirationCards}>
        <div class="col-lg-6 col-md-6 col-sm-12 holidays-explore-card-wrapper">
       		<div class="holidays-explore-card-video-con"><embed src="${videoList.inspirationVideoPath}"/></div>
        	<div class="holidays-explore-card-details-con clearfix">
      			<div class="holidays-explore-card-heading">${videoList.inspirationTitle}</div>
    	    	<div class="holidays-explore-card-subheading">${videoList.inspirationShortText}</div>
            	<div class="holidays-explore-card-desc">${videoList.inspirationDescription}</div>
				<a href="${videoList.inspirationPagePath}.html">
	       			<div class="cm-btn-secondary holidays-explore-card-btn">VIEW DETAILS</div>
	        	</a>		
	         </div>
    	</div>
	</div>
</div>
<div class="holidays-explore-desc-mobile">
   <div class="row"  data-sly-list.videoList=${properties.inspirationVideos}>
       <div class="col-lg-12 col-md-12 col-sm-12">
           <article class="rooms-suites-description">
               <p>${videoList.inspirationDescription}</p>
           </article>
        </div>
    </div>
</div>