<sly data-sly-test="${wcmmode.edit}">Popup Carousal</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.popup.carousel'}"></sly>

<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />


<sly data-sly-test="${properties.fullHeight}">
	<section class="row ${properties.backgroundColor} ${properties.imgPosition} justify-content-center align-items-center section-container">
</sly>
<sly data-sly-test="${!properties.fullHeight}">
	<section class="row ${properties.backgroundColor} ${properties.imgPosition} justify-content-center align-items-center">
</sly>

<sly data-sly-test="${!properties.onlyPopupCarousel}">
	<div class="col-lg-4 row">
		<sly data-sly-test="${!properties.imgPosition}">
            <div class="col-12 rich-text-container">
		</sly>		
		<sly data-sly-test="${properties.imgPosition}">
            <div class="col-12 rich-text-container margin-adjustment">
		</sly>
            <div class="custom-text">
            	${properties.descText @ context='html'}
            </div>
        </div>
            <!--<div data-imgList="image-popup-vertical-fit" onclick="showImgCarousel($(this))" class="text-to-click d-flex justify-content-center">
                <span style="${properties.linkTextStyle @ context='html'};">${properties.linkText}</span>
            </div> -->
	</div>
</sly>
<sly data-sly-test="${!properties.onlyPopupCarousel}">
    <div class="galleryWrap col-lg-8">
		<div class="container gallery-container">
</sly>
<sly data-sly-test="${properties.onlyPopupCarousel}">
    <div class="galleryWrap col-12">
		<div class="container gallery-container-adjust">
</sly>	
        <div class="container gallery-container">
            <div class="row gallery-row-container">
                <sly data-sly-list.gImg="${resource.children}">
                    <sly data-sly-list="${gImg.children}">
						<div class="col-12" id="img-container">
							<sly data-sly-test="${!properties.onlyPopupCarousel}">
								<div class="singleImg">
                                <a class="${item.video ? 'video' : 'image'} image-popup-vertical-fit"
                                    href="${item.image}${item.video? '' : '/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"
                                    title="${item.description}"> <sly data-sly-test=${!item.video}
                                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath=item.image,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>
                                    <sly data-sly-test=${item.video}> 
                                        <video controls>
                                            <source src="${item.image}">
                                            Your browser does not support the video tag.
                                        </video> 
                                   	</sly>
                                </a>
                            	</div>
                                <div data-imgList="image-popup-vertical-fit" onclick="showImgCarousel($(this))" class="text-to-click d-flex justify-content-center">
                                    <span style="${properties.linkTextStyle @ context='html'};">${properties.linkText}</span>
                                </div>
							</sly>
							<sly data-sly-test="${properties.onlyPopupCarousel}">
								<div class="singleImg-container">
                                <a class="${item.video ? 'video' : 'image'} image-popup-vertical-fit"
                                    href="${item.image}${item.video? '' : '/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"
                                    title="${item.description}"> <sly data-sly-test=${!item.video}
                                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath=item.image,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>
                                    <sly data-sly-test=${item.video}> 
                                        <video controls>
                                            <source src="${item.image}">
                                            Your browser does not support the video tag.
                                        </video> 
                                   	</sly>
                                </a>
                            </div>
							</sly>
                        </div>
                	</sly> 
                </sly>
            </div>
        </div>
    </div>
	<sly data-sly-test="${properties.onlyPopupCarousel}">
        <div data-imgList="image-popup-vertical-fit" onclick="showImgCarousel($(this))" class="text-to-click d-flex justify-content-center mt-2 mb-3">
            <span>${properties.linkText}</span>
        </div>
	</sly>
</section>