.mr-itinerary-plan-filter-container {
    height: 60px;
    height: 3.75rem;
    background-color: #e6e6e6;
    border-left: 10px solid var(--primaryColor);
    display: table;
    width: 100%;
}

.mr-itinerary-plan-filter-container .itinerary-filter-heading {
    display: none;
    font-family: Calibri-Bold;
    font-size: 20px;
    font-size: 1.25rem;
    margin: 20px 5% 30px;
    margin: 1.25rem 5% 1.875rem;
}

@media only screen and (max-width: 767px) {
    .mr-itinerary-plan-filter-container .itinerary-filter-heading {
        display: block;
        margin: 1rem;
    }
}

.mr-itinerary-plan-filter-container .gallery-nav-radio-btns-container {
    display: table-cell;
    vertical-align: middle;
    padding-left: 28px;
    padding-left: 1.75rem;
    width: 44%;
    border-right: solid 0.5px #979797;
}

.mr-itinerary-plan-filter-container .gallery-nav-radio-btns-container .gallery-nav-radio-label {
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {    
    .mr-itinerary-plan-filter-container .gallery-nav-radio-btns-container {
        display: block;
        width: 100%;
        border: none;
        padding: 0;
        margin: 0 5%;
    }

    .mr-itinerary-plan-filter-container .gallery-nav-radio-btns-container .gallery-nav-radio-element {
        display: block;
        margin-bottom: 1.1875rem;
    }
}

.mr-itinerary-plan-filter-container .mr-itinerary-plan-filter-checkbox {
    display: table-cell;
    vertical-align: middle;
    width: 56%;
}

.mr-itinerary-plan-filter-container .mr-itinerary-plan-filter-checkbox .mr-itinerary-plan-filter-checkbox-innerWrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: row;
    flex-direction: row;
}

.mr-itinerary-plan-filter-container .mr-itinerary-plan-filter-checkbox .mr-itinerary-plan-filter-checkbox-innerWrap .mr-Filter-checkbox-wrap {
    margin-left: 64px;
    margin-left: 4rem;
}

@media only screen and (max-width: 767px) {
    .mr-itinerary-plan-filter-container .mr-itinerary-plan-filter-checkbox {
        width: 100%;
        display: block;
    }

    .mr-itinerary-plan-filter-container .mr-itinerary-plan-filter-checkbox .mr-itinerary-plan-filter-checkbox-innerWrap {
        display: block;
    }

    .mr-itinerary-plan-filter-container .mr-itinerary-plan-filter-checkbox .mr-itinerary-plan-filter-checkbox-innerWrap .mr-Filter-checkbox-wrap {
        margin: 0 14% 1.25rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-itinerary-plan-filter-container {
        background: transparent;
        height: 100%;
        display: block;
        border: none;
    }
}

.mr-itinerary-plan-filter-container .titinerary-apply-btn-mobile {
    display: none;
    width: 154px;
    width: 9.625rem;
    margin: 40px auto 0;
    margin: 2.5rem auto 0;
    line-height: 3;
}

@media only screen and (max-width: 767px) {
    .mr-itinerary-plan-filter-container .titinerary-apply-btn-mobile {
        display: block;
    }
}

        .gallery-nav-radio-element {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    margin-right: 1.875rem;
}

@media only screen and (max-width: 991px) {
    .gallery-nav-radio-element {
        margin-right: 1.25rem;
    }
}

.gallery-nav-radio-element:last-child {
    margin-right: 0;
}

.gallery-nav-radio-element input[type="radio"].gallery-nav-radio-input {
    display: none;
}

.gallery-nav-radio-element .gallery-nav-radio-label {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11;
    color: #1b1b1b;
}

.gallery-nav-radio-element .gallery-nav-radio-label span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    margin-right: 0.75rem;
    position: relative;
    border: solid 1px #979797;
    background-color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .gallery-nav-radio-element .gallery-nav-radio-label span {
        margin-right: 0.5rem;
    }
}

.gallery-nav-radio-element .gallery-nav-radio-label span .radio-inner-fill {
    display: none;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    background-color: var(--primaryColor);
}

.gallery-nav-radio-element input[type='radio'].gallery-nav-radio-input:checked + .gallery-nav-radio-label span {
    border: solid 1px var(--primaryColor);
}

.gallery-nav-radio-element input[type='radio'].gallery-nav-radio-input:checked + .gallery-nav-radio-label span .radio-inner-fill {
    display: block;
}