.holiday-trending .room-location-tren {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--primaryColor);
    text-decoration: underline;
}

.holiday-trending .room-location-tren::hover {
    color: var(--primaryColor);
}

.holiday-trending .room-amenities-title {
    font-family: Calibri-Bold !important;
    margin-bottom: 8px !important;
    margin-bottom: 0.5rem !important;
}

.holiday-trending .offers-card-inner-wrapper {
    position: relative;
}

@media only screen and (max-width: 350px) {
    .holiday-trending .offers-card-inner-wrapper .room-title {
        font-size: 1.25rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .holiday-trending .offers-card-inner-wrapper .room-description.holiday-desc {
        font-size: 0.875rem !important;
        line-height: 1.36 !important;
        color: #4a4a4a !important;
    }
}

@media only screen and (max-width: 768px) {
    .holiday-trending .room-amenities-wrapper {
        max-width: 100% !important;
    }
}

.holiday-trending .room-amenities-wrapper.holiday-trend {
    width: 100% !important;
}

.holiday-trending .room-available-amenities {
    background-color: #f5f5f5;
    max-width: 100% !important;
    position: relative;
}

.holiday-trending .room-available-amenities:before {
    width: 4px;
    height: 100%;
    content: "";
    position: absolute;
    left: 0px;
    z-index: 2;
    background-image: var(--linearGradient);
}

.holiday-trending .room-available-amenities .inclusion-wrapper {
    padding: 5px 5px 5px 10px;
    padding: 0.3125rem 0.3125rem 0.3125rem 0.625rem;
}

.holiday-trending .room-available-amenities .inclusion-wrapper .inclusion-con {
    font-size: 14px;
    font-size: 0.875rem;
    color: #4a4a4a;
    font-family: Calibri-Bold;
    width: 98%;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .holiday-trending .room-available-amenities .inclusion-wrapper .inclusion-con {
        width: 31%;
        margin-top: 0.4375rem;
        vertical-align: middle;
    }
}

.holiday-trending .room-available-amenities .inclusion-wrapper .inclusion-con .room-amenities-icon {
    margin-bottom: 5px;
    margin-bottom: 0.3125rem;
}

.holiday-trending .room-available-amenities .inclusion-wrapper .inclusion-con span {
    margin-left: 5px;
    margin-left: 0.3125rem;
}

@media only screen and (max-width: 768px) {
    .holiday-trending .room-available-amenities .inclusion-wrapper .inclusion-con span {
        display: none;
    }
}

.holiday-trending .room-cost-wrapper {
    float: right;
    margin-top: 7px;
    margin-top: 0.4375rem;
}

.holiday-trending .holiday-contact {
    margin-top: 47px;
    margin-top: 2.9375rem;
}

@media only screen and (max-width: 400px) {
    .holiday-trending .cm-btn-secondary {
        font-size: 0.75rem;
    }
}

.holiday-trending-offers-wrapper {
    overflow-y: hidden;
}

.inclusion-con.cm-show-more-inclusion {
    color: var(--primaryColorDark) !important;
    cursor: pointer;
}

.inclusion-popUp-wrapper .inlcusion-wrapper {
    display: none;    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
    z-index: 3;
    background-color: #ffffff;
    height: 100vh;
}

.inclusion-popUp-wrapper .inlcusion-wrapper:before {
    width: 8px;
    height: 100%;
    content: "";
    position: fixed;
    left: 0px;
    z-index: 12;
    background-image: var(--linearGradient);
}

.inclusion-popUp-wrapper .inlcusion-wrapper:before {
    height: 100%;
}

.inclusion-popUp-wrapper .inlcusion-wrapper {
    position: absolute;
    height: 100%;
}

.inclusion-popUp-wrapper .inclusion-close-btn {
    padding: 13px 13px 0 13px;
    padding: 0.8125rem 0.8125rem 0 0.8125rem;
    display: block;
}

.inclusion-popUp-wrapper .inclusion-close-btn img {
    float: right;
}


.inclusion-popUp-wrapper .inclusion-subheading {
    display: inline-block;
    font-size: 20px;
    font-size: 1.25rem;
    color: #1b1b1b;
    display: block;
    font-family: Calibri-Bold;
    text-transform: uppercase;
    display: inline;
}

.inclusion-container {
    padding: 20px;
    padding: 1.25rem;
}

.inclusion-container .inclusion-con {
    margin-top: 17px;
    margin-top: 1.0625rem;
    display: flex;
    align-items: center
}

.inclusion-container .inclusion-image-cont {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-right: 0.625rem;    
}

.inclusion-container .inclusion-image-cont img {
    width: 33px;
    width: 2.0625rem;
    max-height: 2.2rem;
    object-fit: contain;
}

.inclusion-container .inclusion-desc {
    font-family: Calibri-Bold;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 0.88;
    color: #4a4a4a;
    margin-left: 0px;
    display: inline-block;
    width: 80%;
}

.inclusion-container .inclusion-desc .about-inclusion {
    color: #323232;
    margin-top: 4px;
    margin-top: 0.25rem;
    font-size: 14px;
    font-size: 0.875rem;
    font-family: Calibri;
}

.contact-details-mobile .hold-phone {
    display: inline;
}
@media only screen and (max-width: 767px) {
    .inclusion-container{
        padding: 0 0.5rem;
    }
}
@media only screen and (max-width: 360px) {
    .contact-details-mobile .hold-phone {
        display: block;
    }
}

.contact-details-mobile .holi-mail {
    display: inline;
    position: relative;
    margin-left: 29px;
}

@media only screen and (min-width: 380px) {
    .contact-details-mobile .holi-mail {
        margin-left: 12px;
    }
}

@media only screen and (max-width: 360px) {
    .contact-details-mobile .holi-mail {
        display: block;
        margin-left: 0;
    }
}

.contact-details-mobile .holi-mail:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: #c3c3c3;
    left: -10px;
    bottom: -3px;
}

@media only screen and (max-width: 360px) {
    .contact-details-mobile .holi-mail:after {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .holiday-trending-offers-wrapper [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


.apply-float{
    float:right;
} 

.link-text{
    color:var(--primaryColorDark);
    text-decoration: underline;
}
.cm-view-txt button.btn-only-focus{color:var(--primaryColorDark);}