.hotel-overview-container {
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    min-height: 500px;
}

.hotel-overview-container .mr-carousel-Content-wrap {
    display: block;
}

@media only screen and (max-width: 991px) {
    .hotel-overview-container {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .hotel-overview-container {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.hotel-overview-wrapper {
    width: 96%;
    padding-top: 25px;
    padding-bottom: 35px;
}

.ho-single-img-con {
    margin-bottom: 26px !important;
}

.ho-multi-image img {
    height: 241px;
    height: 15.0625rem;
}

@media only screen and (max-width: 991px) {
    .overview-images-section {
        display: none;
    }
}

.overview-images-section [class*="col-"] {
    padding-right: 13px !important;
    padding-right: 0.8125rem !important;
    padding-left: 13px !important;
    padding-left: 0.8125rem !important;
}

@media only screen and (max-width: 767px) {
    .ho-services-show-all-con,
  .ho-services-show-less-con {
        display: none;
    }
}

.ho-services-show-txt {
    display: table;
}

.ho-services-each-wrap {
    display: table;
    width: 100%;
}

.ho-service-icon {
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
}

.view-photo-link-con {
    text-align: right;
    padding-right: 13px !important;
    padding-right: 0.8125rem !important;
    margin-bottom: 16px;
}

.ho-btns-section {
    margin-top: 16px;
}

.ho-btns-section .add-to-wishlist-btn {
    margin-right: 16px;
    vertical-align: top;
}

.ho-overview-description {
    color: #323232;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
}

@media only screen and (max-width: 320px) {
    .ho-overview-description {
        font-size: 0.75rem;
    }
}

.ho-header {
    font-family: Calibri-Bold;
    font-size: 36px;
    font-size: 2.25rem;
    line-height: initial;
}

@media only screen and (max-width: 991px) {
    .ho-header {
        font-size: 1.5rem;
    }
}

.ho-cm-link-txt {
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: normal;
    text-transform: none;
    margin-top: 4px;
    margin-top: 0.25rem;
    font-family: calibri;
}

@media only screen and (max-width: 375px) {
    .ho-cm-link-txt {
        font-size: 0.75rem;
    }
}

.ho-cm-icon {
    margin-right: 3px;
}

@media only screen and (max-width: 375px) {
    .ho-cm-icon {
        height: 14px;
        width: 14px;
    }
}

.ho-contact-options-con {
    margin: 12px 0;
}

.ho-contact-options-con .ho-mail-to {
    padding: 3px 0 2px;
    position: relative;
    margin-left: 48px;
    margin-left: 3rem;
}

@media only screen and (max-width: 340px) {
    .ho-contact-options-con .ho-mail-to {
        margin-left: 2rem;
    }
}

.ho-contact-options-con .ho-mail-to:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: #c3c3c3;
    left: -25px;
    bottom: 2px;
}

@media only screen and (max-width: 320px) {
    .ho-contact-options-con .ho-mail-to:after {
        left: -10px;
    }
}

.ho-header-small {
    font-family: Calibri-Bold;
    color: #323232;
    font-size: 20px;
    font-size: 1.25rem;
    margin-top: 25px;
    margin-bottom: 10px;
    line-height: initial;
}

@media only screen and (max-width: 991px) {
    .ho-header-small {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 320px) {
    .ho-header-small {
        font-size: 0.875rem;
    }
}

.ho-items-list {
    padding-left: 0;
}

.ho-items-list .ho-each-items {
    width: 32.5%;
    margin-bottom: 15px;
    vertical-align: top;
}

@media only screen and (max-width: 991px) {
    .ho-items-list .ho-each-items {
        width: 49%;
    }

    .ho-items-list .ho-each-items:last-child {
        margin-right: 1.625rem;
    }
}

@media only screen and (max-width: 320px) {
    .ho-items-list .ho-each-items {
        width: 100%;
    }
}

.ho-items-list .ho-service-name {
    font-family: Calibri;
    color: #323232;
    margin-left: 10px;
    margin-left: 0.625rem;
    font-size: 14px;
    font-size: 0.875rem;
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
    width: 80%;
}

@media only screen and (max-width: 320px) {
    .ho-items-list .ho-service-name {
        width: 85%;
    }
}

.ho-hotel-policies-con .ho-each-policy-list {
    font-family: Calibri;
    color: #323232;
    font-size: 16px;
    font-size: 1rem;
}

@media only screen and (max-width: 320px) {
    .ho-hotel-policies-con .ho-each-policy-list {
        font-size: 0.75rem;
    }
}

.ho-hotel-essentials-con {
  /*.ho-each-essential-item:after {
        content: "";
        position: absolute;
        height: 20px;
        width: 1px;
        background-color: #c3c3c3;
        right: -25px;
        bottom: 2px;
    };*/
}

.ho-hotel-essentials-con .ho-each-essential-item.normal-txt {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    color: #000;
    position: relative;
    border: none;
    padding-right: 0;
    margin-right: 0;
}

@media only screen and (max-width: 991px) {
    .ho-hotel-essentials-con .ho-each-essential-item.normal-txt {
        font-size: 0.875rem;
    }
}

.ho-hotel-essentials-con .ho-each-essential-item {
    border-right: 1px solid #000;
    padding-right: 8px;
    padding-right: 0.5rem;
    line-height: 1;
    margin-right: 4px;
    margin-right: 0.25rem;
}

@media only screen and (max-width: 991px) {
    .ho-hotel-essentials-con .ho-each-essential-item {
        font-size: 0.75rem;
    }
}

.ho-hotel-essentials-con .ho-each-essential-item:last-child {
    border-right: 0;
    font-size: 16px;
    font-size: 1rem;
}

@media only screen and (max-width: 991px) {
    .ho-hotel-essentials-con .ho-each-essential-item:last-child {
        font-size: 0.875rem;
    }
}

.ho-inner-carousal-cards {
    height: 195px;
    height: 12.1875rem;
}

.hotel-overview-carousel-wrap .cm-inner-carousal-cards:first-child {
    margin-left: 0 !important;
}

.ho-third-section {
    margin-top: 25px;
}

.ho-view-gallery-txt {
    margin-top: 14px;
}

.disabled .ho-mail-to-txt {
    color: #9b9b9b;
    font-size: 14px;
    font-size: 0.875rem;
}