.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .offers-card-image {
    height: 328px;
}

@media only screen and (max-width: 767px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .offers-card-image {
        height: 280px;
    }
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content {
    background-color: #ffffff;
    padding: 15px 20px 20px 22px;
    padding: 0.9375rem 1.25rem 1.25rem 1.375rem;
}
@media only screen and (min-width: 768px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content {        
        padding-bottom: 15rem;
    }
}
@media only screen and (max-width: 767px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content {
        padding: 0.5rem 1.125rem 0.875rem 1.125rem;
    }
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-title {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04;
    color: #323232;
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-description {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.31;
    color: #4a4a4a;
    margin: 14px 0;
    margin: 0.875rem 0;
}

@media only screen and (max-width: 767px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-description {
        margin: 0.25rem 0 220px;
        color: #9b9b9b;
    }
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer {
    position: absolute;
    width: auto;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper {
    display: inline-block;
    width: 49%;
    text-align: left;
    vertical-align: top;
}

@media only screen and (max-width: 767px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper {
        vertical-align: bottom;
    }
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper .room-amenities-title {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1;
    color: #616161;
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
}

@media only screen and (max-width: 767px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper .room-amenities-title {
        margin-bottom: 0.6875rem;
    }
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper .room-available-amenities {
    max-width: 115px;
    max-width: 7.1875rem;
}

@media only screen and (max-width: 767px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper .room-available-amenities {
        max-width: 5.625rem;
    }
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper .room-available-amenities .room-amenities-icon {
    display: inline;
    vertical-align: top;
    width: 23px;
    width: 1.4375rem;
    height: 21px;
    height: 1.3125rem;
    object-fit: contain;
}

@media only screen and (max-width: 767px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper .room-available-amenities .room-amenities-icon {
        width: 1.125rem;
        height: 1rem;
    }
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper .room-available-amenities .room-amenities-icon:nth-child(3n-1) {
    margin: 0 16px;
    margin: 0 1.05rem;
}

@media only screen and (max-width: 767px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper .room-available-amenities .room-amenities-icon:nth-child(3n-1) {
        margin: 0 0.9375rem;
    }
}

@media only screen and (max-width: 374px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper .room-available-amenities .room-amenities-icon:nth-child(3n-1) {
        margin: 0 0.625rem;
    }
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper .room-available-amenities .room-amenities-icon:nth-child(3n) {
    margin-bottom: 16px;
    margin-bottom: 1.05rem;
    margin-left: -4px;
    margin-left: -0.25rem;
}

@media only screen and (max-width: 767px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper .room-available-amenities .room-amenities-icon:nth-child(3n) {
        margin-bottom: 0.875rem;
    }
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper .room-available-amenities .room-amenities-icon:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 374px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-amenities-wrapper {
        width: 45%;
    }
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-cost-wrapper {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-cost-wrapper .room-cost-title {
    font-family: Calibri;
    font-size: 10px;
    font-size: 0.625rem;
    text-align: right;
    color: #585656;
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-cost-wrapper .room-cost-rupees {
    font-family: RupeeForadian;
    line-height: normal;
    font-size: 24px;
    font-size: 1.5rem;
    text-align: right;
    color: #4a4a4a;
    margin-bottom: 9px;
    margin-bottom: 0.5625rem;
}

@media only screen and (max-width: 767px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-cost-wrapper .room-cost-rupees {
        margin-bottom: 0.3125rem;
    }
}

.rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-cost-wrapper .room-cost-rupees span {
    font-family: Calibri;
    font-weight: bold;
    margin-left: 2px;
}

@media only screen and (max-width: 374px) {
    .rooms-and-suites-card.offers-card-component .offers-card-inner-wrapper .rooms-and-suites-content .room-content-footer .room-cost-wrapper {
        width: 52%;
    }
}