<sly data-sly-use.holidayModel="com.ihcl.core.models.HolidaysPopularDestinationsModel">
    <div class="pop-dest-card" data-sly-test="${holidayModel.destinationCity}"
    	data-sly-use.imageTemplate="tajhotels/components/content/amp/image-template/image-template.html">
    	<div class="pop-dest-img">
        	<sly data-sly-call="${imageTemplate.damImageTemplate @ imagePath= holidayModel.destinationImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', layout='fill'}"></sly>
    	</div>
    	<div class="pop-dest-footer">
            <div class="pop-dest-name"><span>${holidayModel.destinationCity}</span></div>
        	<a href="${holidayModel.destinationPath}.html">
	            <button class="cm-btn-secondary">View Details</button>
    	    </a>
    	</div>
	</div>
</sly>