<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.ihcl.footer'}"></sly>
<!--footer component markup-->
<footer class="footer" data-sly-use.footerModel="com.ihcl.core.models.Footer">
	<div class="footer-component-ihcl container">
		
		<div class="row ihcl-footer-about-section">
			<div class="col-12">
				<ul class="ihcl-footer-links-list">
					<li class="footer-link"><a
						href="/content/tajhotels/ihcl.html">${properties.category_home}</a>
						<ul data-sly-list="${footerModel.homeLinks}" class="footer-link-content-list">
		                    <li class="footer-link-content-item"> <a href="${item.path}.html" target="_blank" rel="${item.homeLinkNofollow ? 'nofollow' : ''}">${item.label}</a></li>
		                </ul>
					</li>
					<li class="footer-link"><a>${properties.category_brand}</a>
						<ul data-sly-list="${footerModel.ourBrandLinks}" class="footer-link-content-list">
		                    <li class="footer-link-content-item"> <a href="${item.path}.html" target="_blank" rel="${item.ourBrandLinkNofollow ? 'nofollow' : ''}">${item.label}</a></li>
		                </ul>
		            </li>
					<li class="footer-link"><a>${properties.category_company}</a>
						<ul data-sly-list="${footerModel.companyLinks}" class="footer-link-content-list">
		                    <li class="footer-link-content-item"> <a href="${item.path}.html" target="_blank" rel="${item.companyLinkNofollow ? 'nofollow' : ''}">${item.label}</a></li>
		                </ul>
		            </li>
					<li class="footer-link"><a>${properties.category_investors}</a>
						<ul data-sly-list="${footerModel.investorsLinks}" class="footer-link-content-list">
		                    <li class="footer-link-content-item"> <a href="${item.path}.html" target="_blank" rel="${item.investorsLinkNofollow ? 'nofollow' : ''}">${item.label}</a></li>
		                </ul>
		            </li>
					<li class="footer-link"><a>${properties.category_development}</a>
						<ul data-sly-list="${footerModel.developmentLinks}" class="footer-link-content-list">
		                    <li class="footer-link-content-item"> <a href="${item.path}.html" target="_blank" rel="${item.developmentLinkNofollow ? 'nofollow' : ''}">${item.label}</a></li>
		                </ul>
		            </li>
					<li class="footer-link"><a>${properties.category_responsibility}</a>
						<ul data-sly-list="${footerModel.responsibilityLinks}" class="footer-link-content-list">
		                    <li class="footer-link-content-item"> <a href="${item.path}.html" target="_blank" rel="${item.responsibilityLinkNofollow ? 'nofollow' : ''}">${item.label}</a></li>
		                </ul>
		            </li>
					<li class="footer-link"><a>${properties.category_career}</a>
						<ul data-sly-list="${footerModel.careerLinks}" class="footer-link-content-list">
		                    <li class="footer-link-content-item"> <a href="${item.path}.html" target="_blank" rel="${item.careerLinkNofollow ? 'nofollow' : ''}">${item.label}</a></li>
		                </ul>
		            </li>
					<li class="footer-link"><a>${properties.category_newsRoom}</a>
						<ul data-sly-list="${footerModel.newsRoomLinks}" class="footer-link-content-list">
		                    <li class="footer-link-content-item"> <a href="${item.path}.html" target="_blank" rel="${item.newsRoomLinkNofollow ? 'nofollow' : ''}">${item.label}</a></li>
                            <li class="footer-link-content-item"> <a href="https://clientservices.vfmii.com/pdl/Main.html?company=taj" target="_blank" rel="${item.newsRoomLinkNofollow ? 'nofollow' : ''}">Media Library</a></li>
		                </ul>
		            </li>
					<li class="footer-link"><a
						>${properties.category_contact}</a><ul data-sly-list="${footerModel.contactLinks}" class="footer-link-content-list">
		                    <li class="footer-link-content-item"> <a href="${item.path}.html" target="_blank" rel="${item.contactLinkNofollow ? 'nofollow' : ''}">${item.label}</a></li>
		                </ul>
		            </li>
				</ul>
			</div>
			<div class="col-12 ihcl-footer-content-section">
				<ul data-sly-list="${footerModel.footerLinks}" class="ihcl-footer-content-links">
                    <li class="footer-link"> <a href="${item.path}.html" target="_blank" rel="${item.footerLinkNofollow ? 'nofollow' : ''}">${item.label}</a></li>
                </ul>
			</div>
			<div class="col-12 footer-email-section">
				<p class="label-footer-input">${properties.newsletter}</p>
				<div>
					<div class="subscription-box">
						<a href="${properties.newsletterURL}.html">
						<button class="btn cm-btn-secondary subscribe-btn text-caps">${properties.subscribe}</button>
						</a>
                        <div class="waiting-loader-blue" style="display:none">
                            <img src="/content/dam/tajhotels/ihcl/newcontentimages/loader-ihcl-blue.gif" alt = "loader-ihcl-blue-icon">
                   		</div>
						<div class="result-message-for-newsletter"/>
                </div>
				</div>
					<div class="footer-media-app-section cm-hide">
						<div class="footer-media-section">
							<div class="hide-in-md hide-in-lg">${properties.socialMediaTitle}</div>
							<div>
                            <a target="_blank" href="${properties.facebookredirectpath}" rel="${properties.facebookLinkNofollow ? 'nofollow' : ''}"><img class="share-icon" border="0" src="${properties.facebookimagepath}" alt="facebook icon"/></a>
                            <a target="_blank" href="${properties.instagramredirectpath}" rel="${properties.instagramLinkNofollow ? 'nofollow' : ''}"><img class="share-icon" border="0" src="${properties.instagramimagepath}" alt="instagram icon"/></a>
                            <a target="_blank" href="${properties.twitterredirectpath}" rel="${properties.twitterLinkNofollow ? 'nofollow' : ''}"><img class="share-icon" border="0" src="${properties.twitterimagepath}" alt="twitter icon"/></a>
                            <a target="_blank" href="${properties.youtuberedirectpath}" rel="${properties.youtubeLinkNofollow ? 'nofollow' : ''}"><img class="share-icon" border="0" src="${properties.youtubeimagepath}" alt="YouTube icon"/></a>
                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row footer-brand-details-section">
		<!--	<div class="col-12 col-sm-12 col-md-9 col-lg-8 col-xl-8">
				<ul class="footer-brands-list" data-sly-list="${footerModel.policyLinks}">
                    <li class="footer-link"> <a href="${item.path}" target="_blank" rel="${item.ihclPolicyLinkNofollow ? 'nofollow' : ''}">${item.label}</a></li>
                </ul>
			</div> -->
			<div class="col-12 col-md-6 col-lg-6 col-xl-6 footer-ihcl-logo-con">
            	<img class="logo" src="${properties.linkURL}" alt="taj logo" />
            	<div class="footer-disclaimer"style="margin-top: 10px;">${properties.footerDisclaimer}</div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 brand-logos-section clearfix">
            	<div class="footer-brands-logo-inner-wrap">
	                <div>${properties.brandsTitle}</div>
	                <div class="brand-logos-carousal-band" data-sly-list="${footerModel.brandLinks}">
	                    <a href="${item.path}.html" target="_blank" rel="${item.ihclBrandLinkNofollow ? 'nofollow' : ''}"><img class="brand-icon" border="0" src="${item.label}" alt="brand logo"/></a>
	                </div>
                </div>
            </div>
		</div>
	<!--	<div class="row footer-logo-wrapper">
        <div class="col-12"><img class="logo" src="${properties.linkURL}" alt="taj logo" /></div>
    </div>
		<div class="footer-disclaimer">${properties.footerDisclaimer}</div>
	</div>-->
</footer>