<div data-sly-test.edit=${wcmmode.edit}>
    <p>Hotel Instagram Feed</p>
</div>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.js @ categories='tajhotels.vue'}"/>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='tajhotels.hotel.instagram.feed'}"/>


<div class="cm-content-blocks instagram-feeds-card card-with-border-radius" style="padding: 15px;">
    <div class="feed-heading">
    	<img src="/content/dam/Social%20Media/icons/insta-logo2.png" width="80px">
        <span>${properties.title}</span>
	</div>
    <div class="contents-wrp " v-show="feeds.length" v-cloak >
        <div class="mr-card-wrap mr-4 col" v-for="feed in feeds" :key="feeds.timestamp">
			<div class="card feeds-card card-with-border-radius">
				<div class="ho-img">
                <img v-if="feed.media_type == 'VIDEO'" :src="feed.thumbnail_url" class="card-img-top custom-feed-img">
				<img v-if="feed.media_type != 'VIDEO'" :src="feed.media_url" class="card-img-top custom-feed-img">
				</div>
                    <div class="card-body" style="padding: 10px;">
                    <!--<h5 class="card-title">{{feed.username}}</h5>-->
                    <p class="card-text">{{feed.caption}}</p>
                    <hr>
					<div class="ho-block">

					<div>{{feed.dateTime}}</div>
					<div class="ho-link">


                    <i class="ho-icon"><img src="/content/dam/Social%20Media/icons/insta-logo2.png"><a :href="feed.permalink" class="card-link" v-cloak style="color: white;"></a></i>

					</div>
                    </div>
                </div>
			</div>
        </div>
    </div>



<input type="hidden" tabindex="-1" id="token-long" value="${properties.accessTokenLongLived}"/>
<input type="hidden" tabindex="-1" id="token-short" value="${properties.accessTokenShortLived}"/>







