.cart-selected-rooms-addons-container .cart-addons-container.show-addons {
    padding-left: 30px !important;
    padding-left: 1.875rem !important;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-addons-container .cart-addons-container.show-addons {
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-addons-container {
        padding: 0rem 1rem;
    }

    .cart-selected-rooms-addons-container [class*="col-"] {
        padding: 0 !important;
    }
}

.cart-selected-rooms-card {
    position: relative;
    box-shadow: 0 4px 14px 0 #e5e3e3;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

.cart-selected-rooms-card:last-child {
    margin-bottom: 0;
}

.cart-selected-rooms-card .cart-selected-rooms-header {
    position: relative;
    background-color: rgba(230, 230, 230, 0.65);
    padding: 15px 29px 12px 19px;
    padding: 0.9375rem 1.8125rem 0.75rem 1.1875rem;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-header {
        padding: 0;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-header::before {
    width: 6px;
    width: 0.375rem;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: var(--linearGradient);
    opacity: 0.3;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-number {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--primaryColorDark);
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-number {
        font-size: 1.125rem;
        display: block;
        padding: 0.625rem 0.375rem 0.75rem 1rem;
        background-color: #ffffff;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp {
    margin: 0 16px 0 80px;
    margin: 0 1rem 0 5rem;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp {
        display: block;
        width: 100%;
        margin: 0;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp {
    padding: 4px 17px 4px;
    padding: 0.25rem 1.0625rem 0.25rem;
    border-right: solid 1px rgba(155, 155, 155, 0.3);
    border-right: solid 0.0625rem rgba(155, 155, 155, 0.3);
    display: inline-block;
    vertical-align: middle;
    min-height: 34px;
    min-height: 2.125rem;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp,
  .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp {
        margin: 0 0.9375rem;
        padding: 1.125rem 0.5rem !important;
        border-right: none;
        border-bottom: solid 0.0625rem rgba(155, 155, 155, 0.3);
        display: block;
        min-height: 3.6875rem;
    }
}

.cart-children-label {
   top: 0.2rem;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-adult-label,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-adult-label,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-children-label,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-children-label {
    position: relative;
    margin-right: 15px;
    margin-right: 0.9375rem;
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri-bold;
    font-size: 14px;
    font-size: 0.875rem;
    color: #323232;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-adult-label,
  .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-adult-label,
  .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-children-label,
  .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-children-label {
        font-family: Calibri;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-adult-label .children-age-limit,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-adult-label .children-age-limit,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-children-label .children-age-limit,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-children-label .children-age-limit {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    font-style: italic;
    line-height: 0.9;
    color: #585656;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-count-wrapper,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-count-wrapper {
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-count-wrapper,
  .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-count-wrapper {
        float: right;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-count-wrapper .cart-count-value,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-count-wrapper .cart-count-value {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 0.78;
    text-align: center;
    color: #323232;
    min-width: 50px;
    min-width: 3.125rem;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-count-wrapper .cart-decrease-count,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-count-wrapper .cart-decrease-count,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-count-wrapper .cart-increase-count,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-count-wrapper .cart-increase-count {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 25px;
    width: 1.5625rem;
    height: 25px;
    height: 1.5625rem;
    border-radius: 0.125rem;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: var(--primaryColor);
    text-align: center;
    cursor: pointer;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type {
    display: inline-block;
    vertical-align: middle;
    border-radius: 0.125rem;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type {
        min-height: 3.6875rem;
        display: block;
        margin: 0 0.9375rem;
        padding: 1.125rem 0.5rem;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-bed-label {
    display: none;
    font-family: Calibri;
    font-size: 16px;
    color: #323232;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-bed-label {
        display: inline-block;
        vertical-align: middle;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.selected-bed-type {
    background-image: var(--linearGradient);
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.selected-bed-type .cart-room-bed-label {
    color: #ffffff;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.selected-bed-type .default-bed {
    display: none;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.selected-bed-type .default-bed.selected-bed {
    display: block;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed {
    cursor: pointer;
    position: relative;
    background-color: #e7e6e6;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: -5px;
    margin-right: -0.3125rem;
    min-width: 66px;
    min-width: 4.125rem;
    padding: 5px;
    padding: 0.3125rem;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed {
        float: right;
        margin-top: -0.3rem;
    }    
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed:hover .cart-room-bed-popup {
    display: block;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-popup {
    z-index: 1;
    border-radius: 0.25rem;
    display: none;
    min-width: 263px;
    min-width: 16.4375rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -ms-transform: translate(-40%, -115%);
    transform: translate(-40%, -115%);
    background-color: #ffffff;
    padding: 20px 25px;
    padding: 1.25rem 1.5625rem;
    box-shadow: 0 7px 14px 0 #9b9b9b;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-popup::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.75em;
    bottom: -20px;
    left: 50%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: #ffffff transparent transparent transparent;
}
@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-popup {
        transform: translate(-68%, -115%);
    }
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-popup::after {
        left: unset;
        right: 15%;
    }
}
@media only screen and (max-width: 340px) {
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .two-twins-bed-wrp .cart-room-bed-popup {
        transform: translate(-55%, -115%);
    }
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .two-twins-bed-wrp .cart-room-bed-popup::after {
        left: unset;
        right: 25%;
    }
}
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-popup .room-bed-popup-icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    width: 2.625rem;
    height: 22px;
    height: 1.375rem;
    object-fit: contain;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-popup .room-bed-popup-text {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.33;
    color: #4a4a4a;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    margin-left: 0.75rem;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-label {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    color: #7b7b7b;
    margin-top: 5px;
    margin-top: 0.3125rem;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .default-bed {
    display: block;
    margin: auto;
    width: 22px;
    width: 1.375rem;
    height: 12px;
    height: 0.75rem;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .default-bed.selected-bed {
    display: none;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.two-twins-bed-wrp .default-bed {
    width: 30px;
    width: 1.875rem;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-bed-king.selected-bed {
    background-image: var(--linearGradient);
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp {
    position: absolute;
    top: 15px;
    top: 0.9375rem;
    right: 29px;
    right: 1.8125rem;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp {
        top: 0.375rem;
        right: 0.375rem;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost {
    font-family: Calibri-bold;
    font-size: 22px;
    font-size: 1.375rem;
    color: #4a4a4a;
    margin-right: 36px;
    margin-right: 2.25rem;
    display: inline-block;
    vertical-align: middle;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost span.rupee-symbol {
    font-family: RupeeForadian;
    font-weight: normal;
    font-size: 20px;
    font-size: 1.25rem;
}

.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-delete-icon {
    width: 22px;
    width: 1.375rem;
    height: 26px;
    height: 1.625rem;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size:1.5rem;
}

.cart-selected-rooms-card .cart-selected-rooms-content {
    display: table;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-content {
        display: block;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-content::before {
    width: 6px;
    width: 0.375rem;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: var(--linearGradient);
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-content::before {
        display: none;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-rooms-amenities {
    padding: 22px 66px 20px 34px;
    padding: 1.375rem 4.125rem 1.25rem 2.125rem;
    width: 448px;
    width: 28rem;
    display: table-cell;
    vertical-align: top;
}

.cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-rooms-amenities::before {
    width: 6px;
    width: 0.375rem;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: var(--linearGradient);
    display: none;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-rooms-amenities::before {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-rooms-amenities {
        display: block;
        position: relative;
        width: 100%;
        padding: 0.6875rem 1rem 1.3125rem 1.375rem;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-rooms-amenities .cart-amenities-title {
    font-family: Calibri-bold;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04;
    color: #323232;
    margin-bottom: 7px;
    margin-bottom: 0.4375rem;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-rooms-amenities .cart-amenities-title {
        font-size: 1.25rem;
        margin-bottom: 0.3125rem;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-rooms-amenities .cart-amenities-description {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #323232;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-rooms-amenities .cart-amenities-description {
        font-size: 1rem;
        font-family: Calibri-bold;
        margin-bottom: 0.9375rem;
    }
}

.cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-info-wrp {
    display: table-cell;
    vertical-align: middle;
    border-left: dashed 1px #9b9b9b;
    border-left: dashed 0.0625rem #9b9b9b;
    padding: 31px 31px 28px 28px;
    padding: 1.9375rem 1.9375rem 1.75rem 1.75rem;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-info-wrp {
        display: block;
        width: 100%;
        padding: 1.375rem;
        border-left: none;
        border-top: dashed 0.0625rem #9b9b9b;
    }
}

.cart-selected-rooms-container.col-lg-8 .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp {
    margin: 1px;
    margin: 0.0625rem;
}

.cart-selected-rooms-container.col-lg-8 .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp,
.cart-selected-rooms-container.col-lg-8 .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp {
    padding: 4px 8px;
    padding: 0.25rem 0.5rem;
}

.cart-selected-rooms-container.col-lg-8 .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost {
    margin-right: 8px;
    margin-right: 0.5rem;
}

.cart-selected-rooms-container.col-12 .description-cancel-wrp {
    width: auto;
}

.cart-selected-rooms-container .description-cancel-wrp {
    width: 336px;
    width: 21rem;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-container .description-cancel-wrp {
        width: 100%;
    }
}

.more-rate-card-container {
    margin-top: 14px;
}

@media only screen and (max-width: 767px) {
    .more-rate-card-container {
        margin: 14px 0 0;
    }
}

.more-rate-card {
    display: table;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .more-rate-card {
        display: block;
    }
}

.more-rate-card::before {
    width: 6px;
    width: 0.375rem;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    background-image: var(--linearGradient);
}

.more-rate-card .more-rate-amenities {
    width: 448px;
    width: 28rem;
    display: table-cell;
    vertical-align: top;
    padding: 26px 66px 26px 34px;
    padding: 1.625rem 4.125rem 1.625rem 2.125rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-amenities {
        padding: 1.125rem 1rem 1.1875rem 1.25rem;
        width: 65%;
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-amenities {
        width: 18rem;
    }
}

.more-rate-card .more-rate-amenities .more-rate-title {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #323232;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-amenities .more-rate-title {
        font-size: 1rem;
        line-height: 1.33;
        color: #000000;
    }
}

.more-rate-card .more-rate-amenities .more-rate-available-wrp {
    margin-top: 18px;
    margin-top: 1.125rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-amenities .more-rate-available-wrp {
        margin-top: 0.6875rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list {
        display: block;
        width: 100%;
        text-align: left !important;
        margin-bottom: 0.875rem !important;
    }

    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:last-child {
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list {
        display: none;
        width: 100%;
        text-align: left !important;
        margin-bottom: 0.59375rem;
    }

    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:nth-child(1),
  .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:nth-child(2),
  .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:nth-child(3) {
        display: block;
    }

    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:nth-child(3) {
        margin-bottom: 0;
    }
}

.more-rate-card .more-rate-info-wrp {
    display: table-cell;
    vertical-align: top;
    width: calc(100% - 29rem);
    padding: 23px 28px 37px;
    padding: 1.4375rem 1.75rem 2.3125rem;
    border-left: dashed 1px rgba(155, 155, 155, 0.6);
    border-left: dashed 0.09375rem rgba(155, 155, 155, 0.6);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-info-wrp {
        width: calc(100% - 19rem);
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp {
        width: 100%;
        border-left: none;
        border-top: dashed 0.09375rem rgba(155, 155, 155, 0.6);
        padding: 0.875rem 1.375rem 1.125rem;
        display: inline-block;
    }
}

.more-rate-card .more-rate-info-wrp .description-cancel-wrp {
    width: 477px;
    width: 29.8125rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-info-wrp .description-cancel-wrp {
        width: 57%;
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .description-cancel-wrp {
        width: 100%;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp {
    position: absolute;
    top: 13px;
    top: 0.8125rem;
    right: 16px;
    right: 1rem;
    float: right;
    text-align: right;
}

@media only screen and (max-width: 375px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp {
        top: 1.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .hide-on-mobile {
        display: none;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-info-label {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #9b9b9b;
    margin-bottom: 7px;
    margin-bottom: 0.4375rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-info-label {
        font-size: 0.875rem;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .last-few-rooms {
    margin-bottom: 22px;
    margin-bottom: 1.375rem;
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .last-few-rooms .last-few-rooms-icon {
    width: 22px;
    width: 1.375rem;
    height: 12px;
    height: 0.75rem;
    display: inline-block;
    vertical-align: middle;
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .last-few-rooms .last-few-room-text {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.29;
    color: #d0021b;
    margin-left: 4px;
    margin-left: 0.25rem;
}

@media only screen and (max-width: 480px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .more-rates-select-btn {
        width: 7.5rem;
    }
}

@media only screen and (max-width: 375px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .more-rates-select-btn {
        width: 7rem;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked {
    display: inline-block;
    vertical-align: middle;
    text-decoration: line-through;
    opacity: 0.58;
    font-family: RupeeForadian;
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
    padding-right: 5px;
    padding-right: 0.3125rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked {
        display: block;
        font-size: 0.98125rem;
        line-height: normal;
        padding-right: 0;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked span {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked span {
        font-size: 1.125rem;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate {
    display: inline-block;
    vertical-align: middle;
    font-family: RupeeForadian;
    font-size: 28px;
    font-size: 1.75rem;
    color: #4a4a4a;
    margin-right: -8px;
    margin-right: -0.5rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate {
        font-size: 1.53125rem;
        line-height: normal;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate span {
    font-family: Calibri-bold;
    font-size: 30px;
    font-size: 1.875rem;
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate .rate-asterik {
    font-size: 16px;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
}

.amenities-avail-list {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-bottom: 11px;
    margin-bottom: 0.6875rem;
}

.amenities-avail-list:nth-last-child(1),
.amenities-avail-list:nth-last-child(2) {
    margin-bottom: 0;
}

.amenities-avail-list:nth-child(even) {
    text-align: right;
}

.amenities-avail-list .amenities-list-icon {
    width: 22px;
    width: 1.375rem;
    height: 22px;
    height: 1.375rem;
    display: inline-block;
    vertical-align: middle;
}

.amenities-avail-list .amenities-list-label {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    color: #323232;
    margin-left: 5px;
    margin-left: 0.3125rem;
    width: calc(100% - 2rem);
    text-align: left;
}

.description-cancel-wrp {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #4a4a4a;
    display: inline-block;
    vertical-align: top;
    width: 771px;
    width: 48.1875rem;
}

@media only screen and (max-width: 767px) {
    .description-cancel-wrp {
        width: 100%;
    }
}

.description-cancel-wrp .rate-description {
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.description-cancel-wrp .bold-title {
    font-family: Calibri-bold;
}

.description-cancel-wrp .show-more-option {
    font-family: Calibri-bold;
    color: var(--primaryColor);
    cursor: pointer;
}

.tic-room-redemption-fix .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost .room-amount div,
.cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost .room-amount {
	display: inline-block;
}

@media only screen and (max-width: 767px) {
	.tic-room-redemption-fix .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost .room-amount div {
		display: block;
		font-size: 1rem;
		line-height: 1;
	}
	.tic-room-redemption-fix .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost {
		margin-right: 1.25rem;
	}
}

.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .icon-delete-icon:before {
	color: #e02020;
}

@media only screen and (max-width: 767px) {
	.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost .astrik-sign,
	.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp,
    .ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type {
		display: none;
	}
	.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-number span::after {
	   content: "\e928";
	   font-size: 0.6rem;
	   color: var(--secondaryColor);
	   font-family: "icomoon";
	   margin-left: 2rem;
	   transition: all ease 0.3s;
	   display: inline-block;
	}	
	.ihcl-theme .cart-selected-rooms-card.selected-rooms-cart-open-accr .cart-selected-rooms-header .cart-room-details .cart-room-number span::after {
	   transform: rotate(180deg);
	}
	.ihcl-theme .cart-selected-rooms-card.selected-rooms-cart-open-accr .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp,
	.ihcl-theme .cart-selected-rooms-card.selected-rooms-cart-open-accr .cart-selected-rooms-header .cart-room-details .cart-room-bed-type {
	   display: block;
	} 
	
	.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-number {
	   color: var(--secondaryColor);
	}
	.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-rooms-amenities .cart-amenities-title {
	   font-size: 1rem;
	   color: #000000;
	   margin-bottom: 0.45rem;
	}
	.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-rooms-amenities .cart-amenities-description {
	   color: #323232;
	   font-family: "Calibri";
	   margin-bottom: 0;
	}
	.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-children-label .children-age-limit {
	   font-style: normal;
	}
	.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.selected-bed-type {
	   border-radius: 4px;
	}
	.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost,
	.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost span.rupee-symbol {
	   font-size: 1.125rem;
	}
	.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .icon-delete-icon:before {
        font-size: 1.2rem;
    }
}