<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
   data-sly-call="${clientlib.all @ categories='tajhotels.cancel-reservation'}" />

<!-- importing googleapi -->
<!--<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxOlZfmpxJlz1oo5mHiXGVW43gfhprEnk&libraries=places"></script>-->

<div class="cm-content-blocks" id="cancel-booking">
   <div class="row">
      <div class="col-12">
         <div class="cancel-booking-con">
            <div class="cancel-booking-header">
               <div class="cancel-booking-heading">Cancel your booking</div>
               <span>Cancellation policy: </span><span class="cancel-booking-details">Cancellations are not possible without incurring a charge. Penalty charge for cancellation is 1 night. Cancellations are not possible without incurring a charge. Penalty charge for cancellation is 1 night.</span>
            </div>
            <div class="cancel-booking-guest-details-main-section">
               <div class="guest-details-section">
                  <div class="guest-details-heading">Guest Detail<img class="guest-details-expansion" src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt = "dropdown-arrow-icon"></div>
                  <div class="guest-detail-value" id="name"></div>
                  <div class="guest-detail-value" id="mail"></div>
                  <div class="guest-detail-value guest-detail-value-mob" id="phoneNo"></div>
                  <div class="guest-detail-value guest-detail-value-mob" id="membershipNumber"><span class="guest-member">(Membership No.)</span></div>
               </div>
               <div class="hotel-details-section">
                  <div class="hotel-details-heading" id="hotelHeading"></div>
                  <div class="hotel-details-value">
                     <a class="ho-contact-number hide-in-lg inline-block" id="ho-contact-number" href="tel:022-28765643">
                        <i class="ho-cm-icon ho-contact-icon inline-block icon-phone-disabled"></i>
                        <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" id="hotel-phone"></div>
                     </a>
                     <a class="ho-contact-number hide-in-sm hide-in-md inline-block disabled">
                        <i class="ho-cm-icon ho-contact-icon inline-block icon-phone-disabled"></i>
                        <div class="inline-block ho-mail-to-txt" id="sm-hotel-phone"></div>
                     </a>
                  </div>
                  <div class="hotel-details-value">
                     <a class="ho-mail-to inline-block" id="ho-mail-id" href="mailto:tajlandsend@taj.com">
                        <i class="icon-envelope ho-mail-to-icon ho-cm-icon inline-block"></i>
                        <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" id="hotel-mail-id"></div>
                     </a>
                  </div>
                  <div class="hotel-details-hotel-location ho-map-link" id="hotel-location"><a class="inline-block ho-hotel-location-link" target="_blank" href="https://www.google.com/maps/search/?api=1&amp;query=18.9217,72.833"><img class="ho-location-icon ho-cm-icon inline-block conf-loc-img" src="/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg" alt = "location-icon-brown"><span class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt conf-loc-text hotel-location-styling"></span></a></div>
                  <div class="check-in-check-out-details">
                     <div class="check-in-details">
                        <div class="check-in-name">Check in (12pm):</div>
                        <div class="check-in-value" id="check-in-date"></div>
                     </div>
                     <div class="check-out-details">
                        <div class="check-out-name">Check out (12pm):</div>
                        <div class="check-out-value" id="check-out-date"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="cancel-selected-rooms-section">
                <div class="cancel-itinerary-container">
                  <div class="itinerary-number">Itinerary number : <span id="itineraryNumber"></span></div>
                  <div class="cancel-selected-room-checkbox">
                      <input type="checkbox" name="cancel-itinerary-checkbox" data-itineraryNumber="" aria-label = "Cancel Selected Room Checkbox">
                      <label></label>
                      <span>Cancel Itinerary</span>
                  </div>
                </div>
               <div class="cancel-selected-rooms-heading">Select rooms for cancellation:</div>
              <div class="jsonData-rooms"></div>
            </div>
            <div class="cancel-booking-summary-charges-section">
               <div class="summary-charges-con">
                  <div class="summary-charges-heading">Summary Charges</div>
               </div>
            </div>
             <input type="hidden" name="varname" id="redirectUrl" aria-hidden = "true" value=${properties.cancelUrl} />
            <div class="cancel-booking-navigation-btn-section clearfix"><a class="proceed-btn-con" href="#"><button class="cm-btn-primary proceed-btn">CANCEL BOOKING</button></a><a class="cancel-cancellation" href="#"><button class="cm-btn-secondary cancel-btn">DON'T CANCEL</button></a></div>
		</div>
      </div>
   </div>
</div>
