.cm-package-block {
    background: #f5f5f5;
}

.cm-package-block .row {
    margin: auto;
}

.cm-package-block [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-package-inclusion {
        padding: 0 !important;
    }
}

.incredible-escape-package-inclusion .package-inclusion-title {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.75;
    color: #4a4a4a;
    margin-bottom: 5px;
    margin-bottom: 0.3125rem;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-package-inclusion .package-inclusion-title {
        font-size: 1.125rem;
        color: #323232;
        line-height: normal;
    }
}

.incredible-escape-package-inclusion .package-inclusion-title .package-inclusion-show-more {
    float: right;
    cursor: pointer;
    font-family: Calibri-bold;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.38;
    color: var(--primaryColor);
}

.incredible-escape-package-inclusion .package-inclusion-title .package-inclusion-show-more .show-less-arrow {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.incredible-escape-package-inclusion .package-inclusion-title-content {
    position: relative;
    background-color: #f6f6f6;
    padding: 20px 28px 0;
    padding: 1.25rem 1.75rem 0;
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-package-inclusion .package-inclusion-title-content {
        padding: 1.1875rem 0.6875rem;
    }
}

.incredible-escape-package-inclusion .package-inclusion-title-content::before {
    width: 6px;
    width: 6px;
    width: 0.375rem;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: var(--linearGradient);
}

@media only screen and (max-width: 767px) {
    .incredible-escape-package-inclusion .package-inclusion-title-content::before {
        display: none;
    }
}

.incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li {
    position: relative;
    height: 100%;
    vertical-align: top;
    text-align: center;
    border-right: solid 1px rgba(173, 173, 173, 0.3);
    display: none;
    min-height: 142px;
    min-height: 8.875rem;
}

.incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li.show-all-package-inclusion {
    display: inline-block;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li {
        width: 49%;
        border-bottom: solid 1px rgba(173, 173, 173, 0.3);
        padding: 1rem;
    }

    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-child(3),
  .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-child(4) {
        border-bottom: none;
    }

    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-child(3).show-all-package-inclusion,
  .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-child(4).show-all-package-inclusion {
        border-bottom: solid 1px rgba(173, 173, 173, 0.3);
    }

    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-last-child(1),
  .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-last-child(2) {
        border-bottom: none;
    }

    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-last-child(2):nth-child(even) {
        border-bottom: solid 1px rgba(173, 173, 173, 0.3);
    }

    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-child(even) {
        border-right: none;
        margin-left: -4px;
    }

    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-child(odd) {
        margin-left: 4px;
    }

    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-child(-n+4) {
        display: inline-block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li {
        width: 24.5%;
    }

    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-child(4n),
  .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:last-child {
        border-right: none;
        margin-bottom: 1.25rem;
    }

    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-child(-n+4) {
        display: inline-block;
    }
}

@media only screen and (min-width: 992px) {

    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-child(-n+5) {
        display: inline-block;
    }

    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:nth-child(5n),
  .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li:last-child {
        border-right: none;
        margin-bottom: 1.25rem;
    }
}

.incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li .pac-inclusion-icon {
    width: 40px;
    width: 2.5rem;
    height: 39px;
    height: 2.4375rem;
    margin-bottom: 12px;
    margin-bottom: 0.75rem;
    object-fit: contain;
}

@media only screen and (max-width: 991px) {
    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li .pac-inclusion-icon {
        width: 2rem;
        height: 1.9375rem;
        margin-bottom: 0.4375rem;
    }
}

.incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li .pac-inclusion-title {
    font-family: Calibri-bold;
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.31;
    text-align: center;
    color: #323232;
}

.incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li .pac-inclusion-description {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: center;
    color: #323232;
    max-width: 186px;
    max-width: 11.625rem;
    margin: auto;
}

@media only screen and (max-width: 991px) {
    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li .pac-inclusion-description {
        line-height: 1rem;
        max-width: 8.75rem;
        height: 5rem;
        overflow: hidden;
    }
}

@media only screen and (max-width: 421px) {
    .incredible-escape-package-inclusion .package-inclusion-title-content .package-inclusion-li .pac-inclusion-description {
        font-size: 0.75rem;
    }
}

.cm-package-block .row.incredible-packages-wrapper {
    background-color: #ffffff;
    /*box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);*/
    padding: 22px 37px 34px 33px;
    padding: 1.375rem 2.3125rem 2.125rem 2.0625rem;
    margin-top: 27px;
    margin-top: 1.6875rem;
    /*margin-bottom: 18px;
    margin-bottom: 1.125rem;*/
}

@media only screen and (max-width: 767px) {
    .cm-package-block .row.incredible-packages-wrapper {
        padding: 1.375rem 0.6875rem;
        margin: 15px 15px 0;
    }
}

@media only screen and (min-width: 992px){
    .no-display-desktop{
        display: none;
    }
}