<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='cq.authoring.dialog'}" />
<sly data-sly-use.header="com.ihcl.core.models.header.HeaderLinkModel">
<div class="header-navigation">
<form class="coral-Formcoral-Form--vertical">
    <section class="coral-Form-fieldset">
        <div class="coral-Form-fieldwrapper">
            <coral-multifield class="coral-Form-field" data-granite-coral-multifield-name="./headers" data-granite-coral-multifield-composite="{Boolean}true">
             
            <template coral-multifield-template  role="listitem"> 
            <label class="coral-Form-fieldlabel">Header Label</label> 
            <input
                is="coral-textfield" class="coral-Form-field" placeholder="Enter header name" name="./headerLabel" value="">
            <div class="coral-Form-fieldwrapper" id="addLink" style="display: none">
                <label class="coral-Form-fieldlabel">Header Link</label>
                <span class="coral-PathBrowser" data-init="pathbrowser" data-root-path="/content"
                    data-picker-src="/libs/wcm/core/content/common/pathbrowser/column.html/content/tajhotels">
                    <div class="coral-InputGroup coral-InputGroup--block">
                        <input is="coral-textfield" class="coral-InputGroup-input js-coral-pathbrowser-input " name="./link"
                            placeholder="Enter the Path">
                        <span class="coral-InputGroup-button">
                            <button is="coral-button" class="js-coral-pathbrowser-button" icon="folderSearch" title="Browse"></button>
                        </span>
                    </div>
                </span>
                <coral-checkbox class="coral-Form-field" name="./redirectToNewTab" value="_blank">Click to redirect the link to New Tab</coral-checkbox>
            </div>
            <div class="coral-Form-fieldwrapper" id="subHeader" style="display: none">
                <coral-multifield class="coral-Form-field" data-granite-coral-multifield-name="./subHeader" data-granite-coral-multifield-composite="{Boolean}true" >
                <button coral-multifield-add type="button" is="coral-button">Add</button>
                <template coral-multifield-template role="listitem"> 
                <label class="coral-Form-fieldlabel">SubHeader Label</label>
                <input is="coral-textfield" class="coral-Form-field" placeholder="Enter header name" name="./headerLabel"
                    value=""> <label class="coral-Form-fieldlabel">SubHeader Link</label> <span
                    class="coral-PathBrowser" data-init="pathbrowser" data-root-path="/content/tajhotels"
                    data-picker-src="/libs/wcm/core/content/common/pathbrowser/column.html/content/tajhotels">
                    <div class="coral-InputGroup coral-InputGroup--block">
                        <input is="coral-textfield" class="coral-InputGroup-input js-coral-pathbrowser-input" name="./link"
                            placeholder="Enter the Path">
                        <span class="coral-InputGroup-button">
                            <button is="coral-button" class="js-coral-pathbrowser-button" icon="folderSearch" title="Browse"></button>
                        </span>
                    </div>
                </span>
                <coral-checkbox class="coral-Form-field" name="./redirectToNewTab" value="_blank">Click to redirect the link to New Tab</coral-checkbox>
                </template> 
                <input class="foundation-field-related" type="hidden" name="./subHeader@Delete">
                </coral-multifield>
            </div>
            <br>
            <button is="coral-button" id="linkButton" onclick="showLink(this)">Add Link</button>
            <button is="coral-button" id="subHeaderButton" onclick="showSubHeader(this)">Add Child</button>
            </template> 
            <sly data-sly-use.headersList="header-navigation-multifield-item.html"/>
             <sly data-sly-list.mainHeader="${header.headers}">
                <sly data-sly-unwrap data-sly-call="${headersList.header @ mainHeader=mainHeader}"/>
            </sly>
            <input class="foundation-field-related" type="hidden" name="./headers@Delete">
            <button coral-multifield-add type="button" is="coral-button">Add</button>
            </coral-multifield>
        </div>
    </section>
    </form>
</div>
</sly>