<template data-sly-template.header="${@mainHeader}">
    <coral-multifield-item>
       
            <label class="coral-Form-fieldlabel">Header
                Label</label>
            <input is="coral-textfield" class="coral-Form-field" placeholder="Enter header name" name="./headerLabel" value="${mainHeader.headerLabel}">
            <sly data-sly-test="${mainHeader.link}">
                <div class="coral-Form-fieldwrapper" >
                    <label class="coral-Form-fieldlabel">Header Link</label>
                    <span class="coral-PathBrowser" data-init="pathbrowser" data-root-path="/content" data-picker-src="/libs/wcm/core/content/common/pathbrowser/column.html/content/tajhotels">
                        <div class="coral-InputGroup coral-InputGroup--block">
                            <input is="coral-textfield" class="coral-InputGroup-input js-coral-pathbrowser-input " name="./link" placeholder="Enter the Path" value="${mainHeader.link}">
                            <span class="coral-InputGroup-button">
                                <button is="coral-button" class="js-coral-pathbrowser-button" icon="folderSearch" title="Browse"></button>
                            </span>
                        </div>
                    </span>
                </div>
                <div>
                <sly data-sly-test.checkedIsTrue="${mainHeader.headerNofollowStatus == 'on'}">
                  <coral-checkbox class="coral-Form-field" name="./headerNofollowStatus" value="${mainHeader.headerNofollowStatus}" checked>Click to add NoFollow</coral-checkbox>
                  </sly>
                <sly data-sly-test="${!checkedIsTrue}">
                  <coral-checkbox class="coral-Form-field" name="./headerNofollowStatus" value="${mainHeader.headerNofollowStatus}">Click to add NoFollow</coral-checkbox>
                </sly>
                <sly data-sly-test.checkedIsTrue="${mainHeader.redirectToNewTab == 'on'}">
                  <coral-checkbox class="coral-Form-field" name="./redirectToNewTab" value="${mainHeader.redirectToNewTab}" checked>Click to redirect the link to New Tab</coral-checkbox>
                  </sly>
                <sly data-sly-test="${!checkedIsTrue}">
                  <coral-checkbox class="coral-Form-field" name="./redirectToNewTab" value="${mainHeader.redirectToNewTab}">Click to redirect the link to New Tab</coral-checkbox>
                </sly>
                </div>
            </sly>
            <sly data-sly-test="${!mainHeader.link}">
                <sly data-sly-test.subHeaderEmpty="${!mainHeader.subHeader}" />
                <sly data-sly-test="${!subHeaderEmpty}">
                <section class="coral-Form-fieldset">
                <div class="coral-Form-fieldwrapper" id="innersubHeader" >
                  <coral-multifield class="coral-Form-field" data-granite-coral-multifield-name="./subHeader" data-granite-coral-multifield-composite="{Boolean}true" >
                 <sly data-sly-use.subheaderList="header-navigation-subheader-item.html"/>
                       <sly data-sly-list.header="${mainHeader.subHeader}">
                        <sly data-sly-unwrap data-sly-call="${subheaderList.subHeader @ header=header}"/>
                       </sly>
                    <template coral-multifield-template role="listitem1"> 
                <label class="coral-Form-fieldlabel">SubHeader Label</label>
                <input is="coral-textfield" class="coral-Form-field" placeholder="Enter header name" name="./headerLabel"
                    value=""> <label class="coral-Form-fieldlabel">SubHeader Link</label> <span
                    class="coral-PathBrowser" data-init="pathbrowser" data-root-path="/content/tajhotels"
                    data-picker-src="/libs/wcm/core/content/common/pathbrowser/column.html/content/tajhotels">
                    <div class="coral-InputGroup coral-InputGroup--block">
                        <input is="coral-textfield" class="coral-InputGroup-input js-coral-pathbrowser-input" name="./link"
                            placeholder="Enter the Path">
                        <span class="coral-InputGroup-button">
                            <button is="coral-button" class="js-coral-pathbrowser-button" icon="folderSearch" title="Browse"></button>
                        </span>
                    </div>
                </span> </template> 
                
                
                <input class="foundation-field-related" type="hidden" name="./subHeader@Delete">
                <button coral-multifield-add type="button" is="coral-button">Add</button>
                </coral-multifield>
                </div>
                </section>
                 
                </sly>
            </sly>

            <!--<br>
            <button is="coral-button" id="linkButton" onclick="showLink(this)">Add Link</button>
            <button is="coral-button" id="subHeaderButton" onclick="showSubHeader(this)">Add SubHeader</button>-->
         </coral-multifield-item>
</template>
