<template data-sly-template.subHeader="${@header}"> 
<coral-multifield-item>
<div class="coral-Form-fieldwrapper">
    <label class="coral-Form-fieldlabel">SubHeader Label</label>
    <input is="coral-textfield" class="coral-Form-field" placeholder="Enter header name" name="./headerLabel"
        value="${header.headerLabel}">
    <label class="coral-Form-fieldlabel">SubHeader Link</label>
    <span class="coral-PathBrowser" data-init="pathbrowser" data-root-path="/content"
        data-picker-src="/libs/wcm/core/content/common/pathbrowser/column.html/content/tajhotels">
        <div class="coral-InputGroup coral-InputGroup--block">
            <input is="coral-textfield" class="coral-InputGroup-input js-coral-pathbrowser-input" name="./link"
                placeholder="Enter the Path" value="${header.link}">
            <span class="coral-InputGroup-button">
                <button is="coral-button" class="js-coral-pathbrowser-button" icon="folderSearch" title="Browse"></button>
            </span>
        </div>
    </span>
    
    <div>
        <sly data-sly-test.checkedIsTrue="${header.subHeaderNofollowStatus == 'on'}">
          <coral-checkbox class="coral-Form-field" name="./subHeaderNofollowStatus" value="${header.subHeaderNofollowStatus}" checked>Click to add NoFollow</coral-checkbox>
          </sly>
        <sly data-sly-test="${!checkedIsTrue}">
          <coral-checkbox class="coral-Form-field" name="./subHeaderNofollowStatus" value="${header.subHeaderNofollowStatus}">Click to add NoFollow</coral-checkbox>
        </sly>
		<sly data-sly-test.checkedIsTrue="${header.redirectToNewTab == 'on'}">
           <coral-checkbox class="coral-Form-field" name="./redirectToNewTab" value="${header.redirectToNewTab}" checked>Click to redirect the link to New Tab</coral-checkbox>
        </sly>
        <sly data-sly-test="${!checkedIsTrue}">
            <coral-checkbox class="coral-Form-field" name="./redirectToNewTab" value="${header.redirectToNewTab}">Click to redirect the link to New Tab</coral-checkbox>
        </sly>
    </div>
</div>
</coral-multifield-item> 
</template>
