  <sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-base-page, taj.hotels.components.related-image-list'}" />
<sly data-sly-use.model="com.ihcl.core.models.RelatedImageList" />
<div class="corporateGov-wrap">

<div class="corporate-gov-imageContainer">
	<img src="${model.profileImage}" alt="image of director" />
</div>
<p class="corporate-gov-tab-director-name">${model.profileName}</p>
</div> 