<sly data-sly-test="${wcmmode.edit}">
 <p data-sly-unwrap="${properties.headline}"
	data-emptytext="configure ${component.title}"></p>
</sly>
<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.titledescription'}" />
<!--
<div data-sly-test=${properties.jcr:title} class="cm-content-blocks">
	<div class="cm-header-label-con title-decorator-border">
        <h2 class="cm-header-label">${properties.jcr:title}</h2>
    </div>
</div> -->

    <div data-sly-test=${properties.jcr:title} class="cm-content-blocks">
	<div class="cm-header-label-con title-decorator-border">
    <h2 class="cm-header-label" data-sly-use.title="com.adobe.cq.wcm.core.components.models.Title"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-element="${properties.type}"
    data-sly-test.text="${title.text}">${text}</h2>
    </div>
    </div>
