<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='holidays-hotellist'}" />

<div data-sly-test.edit=${wcmmode.edit}>
<h5>Aggregated Destination Hotel List are configurable in this section</h5></div>

<div id="holiday-page-category" style="display:none;" data-holidayCategory="${pageproperties.holidayCategory}"></div>
<div class="cm-content-blocks destination-package-card-container" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
<div class="row">
<sly data-sly-use.hotelList="com.adobe.cq.wcm.core.components.models.List"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html">
     <sly data-sly-list.listItem="${hotelList.items}">
     	<sly data-sly-use.hotelProperties="${'com.ihcl.core.models.holidays.hotel.HolidaysHotelPropertyFetcher' @ path=listItem.path}">
<sly data-sly-test.hasPackages="${hotelProperties.hotelDetails.packages}">
<div class="col-lg-12 col-md-12 col-sm-12 holidays-dest-package-card-outer-wrap"
	data-country=${hotelProperties.hotelDetails.countryName}  data-experiences=${hotelProperties.hotelDetails.experiencesTags} data-theme=${hotelProperties.hotelDetails.themesTags} 
	data-key='{"country":"${hotelProperties.hotelDetails.countryName}","experiences":"${hotelProperties.hotelDetails.experiencesTags}","theme":"${hotelProperties.hotelDetails.themesTags}"}'>
    <div class="clearfix holidays-dest-package-card-wrap">
    	<sly data-sly-test.hasTicPointsOrEpicurePoints="${hotelProperties.hotelDetails.ticPoints!='' || hotelProperties.hotelDetails.epicurePoints!=''}">
	        <div class="holidays-dest-package-card-points-mobile">
	            <div class="holidays-dest-package-card-points">
					<sly data-sly-test.hasTicPoints="${hotelProperties.hotelDetails.ticPoints!=''}">
						<span class="value">${hotelProperties.hotelDetails.ticPoints}</span>
						<span class="type">TIC</span>
					</sly>
				</div>
	            <div class="holidays-dest-package-card-points">
					<sly data-sly-test.hasEpicurePoints="${hotelProperties.hotelDetails.epicurePoints!=''}">
						<span class="value">${hotelProperties.hotelDetails.epicurePoints}</span>
						<span class="type">Epicure</span>
					</sly>
				</div>
	        </div>
    	</sly>
    	<div class="holidays-dest-package-card-sub-con clearfix hide-in-md hide-in-lg">
	    	<div class="holidays-dest-package-card-details-con">
	                <div class="holidays-dest-package-card-heading">${hotelProperties.hotelDetails.hotelName}</div>
	        </div>
	    </div>
        <div class="holidays-dest-package-card-img-con">
            <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=hotelProperties.hotelDetails.hotelImagePath, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}" />
        </div>
        <div class="holidays-dest-package-card-sub-con clearfix">
            <div class="holidays-dest-package-card-details-con">
                <div class="holidays-dest-package-card-heading hide-in-sm">${hotelProperties.hotelDetails.hotelName}</div>
                <div class="ho-map-link">
					<a class="inline-block ho-hotel-location-link" target="_blank" href="https://www.google.com/maps/search/?api=1&amp;query=${hotelProperties.hotelDetails.hotelLatitude},${hotelProperties.hotelDetails.hoteLongitude}">
					<img class="ho-location-icon ho-cm-icon inline-block" src="/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg" alt  = "location-icon-brown"/>
					<span class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt">${hotelProperties.hotelDetails.hotelArea},${hotelProperties.hotelDetails.hotelCity}</span>
					</a>
                    <div class="mr-hotel-distanceFrom-airport">${hotelProperties.hotelDetails.hotelLocationStat}</div>
				</div>
            <div class="holidays-dest-package-card-desc">${hotelProperties.hotelDetails.hotelDescription @context='html'}</div>
			</div>
			<div class="holidays-dest-package-card-inclusions-con">
            <sly data-sly-test.hasUSPs="${hotelProperties.hotelDetails.uspLs}">
				<div class="mr-list-hotel-specifications">
                    <div class="row">
						<sly data-sly-list.uspList=${hotelProperties.hotelDetails.uspLs}>
                        <div class="col-6 col-md-12 col-lg-6 ho-each-ameneties-sec">
                            <div class="image-container">
                                 <i class="ho-signature-icon ${uspList.signatureFeatureIcon}"></i> 
                            </div>
                            <div class="ho-signature-name inline-block">${uspList.signatureFeaturePoint}</div>
						</div>
						</sly>
					</div>
				</div>
                </sly>
			</div>
        <div class="holidays-dest-package-card-rates-con">
            <div class="holidays-dest-package-card-rate-ind">${hotelProperties.hotelDetails.ratePerNightlabel}</div>
            <div>
				<sly data-sly-test.hasActualRate="${hotelProperties.hotelDetails.hotelActualRate!=''}">
                <div class="holidays-dest-package-card-rate-striked"><span class="currency">${hotelProperties.hotelDetails.currencySymbol}</span><span class="amount">${hotelProperties.hotelDetails.hotelActualRate}</span></div>
				</sly>
                <div class="holidays-dest-package-card-rate-actual"><span class="currency">${hotelProperties.hotelDetails.currencySymbol}</span><span class="amount">${hotelProperties.hotelDetails.hotelDiscountedRate}</span></div>
            </div>
            <div class="holidays-dest-package-card-points-con">
                <div class="holidays-dest-package-card-points">
				<sly data-sly-test.hasTicPoints="${hotelProperties.hotelDetails.ticPoints!=''}">
					<span class="value">${hotelProperties.hotelDetails.ticPoints}</span>
					<span class="type">TIC</span>
				</sly>
				</div>
                <div class="holidays-dest-package-card-points">
				<sly data-sly-test.hasEpicurePoints="${hotelProperties.hotelDetails.epicurePoints!=''}">
					<span class="value">${hotelProperties.hotelDetails.epicurePoints}</span>
					<span class="type">Epicure</span>
				</sly>
				</div>
            </div><button class="cm-btn-secondary holidays-dest-package-card-btn">VIEW PACKAGES</button>
		</div>
		</div>
	</div>
	<div class="holidays-dest-more-packages">
		<div class="row">
			<sly data-sly-list.packageList=${hotelProperties.hotelDetails.packages}>
		    <div class="more-rate-card-container col-12" data-theme=${packageList.theme} data-nightsduration=${packageList.noOfnights} data-price=${packageList.discountedRate} data-season=${packageList.seasonCategory}
		    data-key='{"country":"${hotelProperties.hotelDetails.countryName}","experiences":"${hotelProperties.hotelDetails.experiencesTags}","theme":"${packageList.theme}","stay":"${packageList.noOfnights}","season":"${packageList.seasonCategory}","price":"${packageList.discountedRate}"}'>
		        <div class="more-rate-card">
		            <div class="more-rate-amenities">
		                <div class="more-rate-title" data-rate-plan-code="${packageList.offerCode}">${packageList.packageTitle}</div>
						<div class="holidays-dest-package-card-inclusions-wrap">
							<div class="holidays-dest-package-card-inclusions-content">
								<div class="holidays-dest-package-card-inclusions-mobile-heading">
									<img src="/content/dam/tajhotels/icons/style-icons/leftArrow.svg" alt = "leftArrow-icon"/>
									<span>Package Inclusions</span>
								</div>
								<div class="holidays-dest-package-card-inclusions-close clearfix"><img src="/content/dam/tajhotels/icons/style-icons/close.svg" alt  = "close-icon"/></div>
								<sly data-sly-list.inclusionList=${packageList.inclusionLs}>
								<div class="holidays-dest-package-card-inclusions-each">
									<div class="holidays-dest-package-card-inclusions-img-con"><img src="${inclusionList.inclusionImagePath}" alt = "Inclusion Image"/></div>
									<div class="holidays-dest-package-card-inclusions-detail">
										<div class="holidays-dest-package-card-inclusions-heading">${inclusionList.inclusionTitle}</div>
										<div class="holidays-dest-package-card-inclusions-desc">${inclusionList.inclusionDescription}</div>
									</div>
								</div>
								</sly>
								<div class="holidays-dest-package-card-inclusions-show-more">Show More</div>
							</div>
						</div>
					</div>
		            <div class="more-rate-info-wrp">
		                <div class="description-cancel-wrp">
		                    <div class="rate-description">
								<sly data-sly-test.hasRateDescription="${packageList.packageDescription!=''}">
								<span class="bold-title">Package description: </span>
								</sly>
								<span class="rate-description-content-first">${packageList.packageDescription}</span>
							</div>
						</div>
						<div class="rate-info-wrp">
							<div style="display:none" data-nights=${packageList.noOfnights}></div>
							<div style="display:none" data-season=${packageList.seasonCategory}></div>
							<div class="rate-info-label">${packageList.ratePerNightLabel}</div>
							<div>
								<sly data-sly-test.hasActualPackageRate="${packageList.actualRate!=''}">
								<div class="rate-striked"><span class="rc-selected-currency">${hotelProperties.hotelDetails.currencySymbol}</span><span class="rc-bid-amount">${packageList.actualRate}</span></div>
								</sly>
								<div class="present-rate"><span class="rc-selected-currency">${hotelProperties.hotelDetails.currencySymbol}</span><span class="rc-total-amount">${packageList.discountedRate}</span><span class="rate-asterik">*</span></div>
							</div>
							
							<div class="last-few-rooms hide-on-mobile" data-sly-test="${packageList.lastFewRoomsAvailableFlag}">
								<img class="last-few-rooms-icon" src="/content/dam/tajhotels/icons/style-icons/last-few-rooms.svg" alt="last few rooms icon" />
								<div class="last-few-room-text">${packageList.lastFewRoomsAvailableLabel}</div>	
							</div>
						</div>
						<div class="button-container">
								<sly data-sly-test.redirectionType="${packageList.packageRedirectionType =='bookdirect'}">
								<a href="${packageList.holidayOfferPagePath}.html" target="_blank">
									<button class="cm-btn-secondary more-rates-select-btn">VIEW DETAILS</button>
								</a>
								<a href="${hotelProperties.hotelDetails.hotelRoomsPath}?offerRateCode=${packageList.offerCode}&nights=${packageList.noOfnights}&from=${packageList.offerStartDate}&rooms=1&adults=2&children=0&holidaysOffer=true" target="_blank">
								<button class="cm-btn-secondary more-rates-select-btn">${packageList.bookNowLabel}</button>
								</a>
								</sly>
								<sly data-sly-test.redirectionType="${packageList.packageRedirectionType =='enquiry'}">
								<a href="${packageList.enquiryPath}.html" target="_blank">
								<button class="cm-btn-secondary more-rates-select-btn">VIEW DETAILS</button>
								</a>
								</sly>
								<sly data-sly-test.redirectionType="${packageList.packageRedirectionType =='internationalEnquiry'}">
								<a href="${packageList.holidayOfferPagePath}.html" target="_blank">
									<button class="cm-btn-secondary more-rates-select-btn">VIEW DETAILS</button>
								</a>
								<a href="${packageList.enquiryPath}.html" >
								<button class="cm-btn-secondary more-rates-select-btn" onclick="setEnquirySessionObj('${packageList.packageTitle @ context='text'}','${hotelProperties.hotelDetails.hotelName @ context='text'}','${hotelProperties.hotelDetails.countryName @ context='text'}')">SEND ENQUIRY</button>
								</a>
								</sly>
							</div>
					</div>
				</div>
			</div>
			</sly>
		</div>
	</div>
</div>
	 </sly>
     </sly>
     </sly>
</sly>
</div>
</div>