
<sly data-sly-use.DEvelopModel="com.ihcl.core.models.CorporateCardsListModel"
	data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
<div class="sustainability-card-wrap ${properties.DEvelopModel.valueMap['keyfigures']?'ihcl-card-wrap':''}">
    <div class="row">
        <div class="col-md-4 col-12 col-sm-12 sustainability-img-wrap">
            <div class="sustainability-img-con">
                
            <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=DEvelopModel.valueMap['fileReference'], styleClass='img-responsive sustainability-img' ,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly>
            </div>
        </div>
        <div class="col-md-8 col-12 col-sm-12 sustainability-content-wrap">
            <div>
                <h2 class="s-card-title"
                            data-sly-use.template="core/wcm/components/commons/v1/templates.html"
                            data-sly-element="${DEvelopModel.valueMap['type']}"
                            data-sly-test.text="${DEvelopModel.valueMap['title']}">${text}</h2>
                <p class="so-card-subtitle">${DEvelopModel.valueMap['enrichOffer']}</p>
                <div class="desc-section-corporatelist">
                    <div class="rooms-suites-description">${DEvelopModel.valueMap['description'] @context='html'}</div>
                    <div class="rooms-suites-description">${DEvelopModel.valueMap['longdescription'] @context='html'}</div>
                </div>
            </div>
            <sly data-sly-test.enablekeyfigures="${DEvelopModel.valueMap['keyfigures']}"/>
            <sly data-sly-test="${enablekeyfigures}">
            <div class="sustainability-footer">
                <div class="ihcl-key-figure">
                <div class="key-figure-wrap">
                    <sly data-sly-list.key="${DEvelopModel.keyFiguresList}">
					<div class="key-figure-item-wrp">
                          <div class="key-figure-item">
                           <div class="key-figure-item-no">${key.numberKeys}</div>
                           <div class="key-figure-item-lacs">${key.currency}</div>
                           <div class="key-figure-item-name">${key.entity}</div>
                          </div>
                    </div>
				    </sly>
                    </div>
                </div>
                <sly data-sly-test="${DEvelopModel.valueMap['learnMore']}"> <a href="${DEvelopModel.valueMap['linkUrl']}.html">
                    <div class="btn-wrap">
                        <button class="cm-btn-secondary button-view-details">${DEvelopModel.valueMap['buttontext']}</button>
                    </div>
                </a> </sly>
            </div>
            </sly>
            <sly data-sly-test="${!DEvelopModel.valueMap['keyfigures']}">
            <sly data-sly-test="${DEvelopModel.valueMap['learnMore']}"> <a href="${DEvelopModel.valueMap['linkUrl']}.html">
                <div class="btn-wrap">
                    <button class="cm-btn-secondary button-view-details">${DEvelopModel.valueMap['buttontext']}</button>
                </div>
            </a> </sly>
            </sly>
        </div>
    </div>
</div>
</sly>
