.event-list-button {
  font: bold 20px Arial;
  font-size: 16px;      
  text-decoration: none;
  background-color: brown;
  color: white;
  padding: 7px 15px 5px 15px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}