<h3 role="button" tabindex="0" class="component-title ${inheritedPageProperties.sitePath} title-location">Location</h3>
<amp-iframe width="200" height="250" sandbox="allow-scripts allow-popups allow-popups-to-escape-sandbox" layout="responsive" frameborder="0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyB7HtopLBECeEWREu2jwu80j0lSydqsCDI&&origin=${properties.origin}&destination=${properties.destination}&avoid=tolls|highways">
</amp-iframe>