<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.hotels.components.booking-form'}" />
<h2>This page will post data to a Sling Servlet</h2>

<div>
<form id="formregister" action="/bin/RegistrationHandler" method="post">
<label for="ClaimNum" id="ClaimNumLabel" >A. Claim Number</label>
<input id="ClaimNum" name="Claim Number" aria-label  = "Claim Number" readonly=true type="text" value="">
<br>
<label for="FirstName" id="FirstNameLabel">B2. First Name</label>
<input id="FirstName" name="FirstName" type="text" value="" aria-label  = "FirstName">
<br>
<label for="LastName" id="LastNameLabel" name="LastNameLabel" >C1. Last Name     </label>
<input id="LastName" name="LastName" type="text" value="" aria-label = "Last Name">

<input type="button" value="Submit"  name="submit" id="submit" aria-label = "submit">
</form>
</div>