.gdpr-contact-card-section h2{
  font-size: 30px;
  font-family: Montserrat-SemiBold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: 1px;
  color: #0f0f0f;
  text-align: center;
  margin-bottom:25px;
}
.gdpr-contact-card-section .gdpr-contact-banner img{
	max-width:100%;
}
.gdpr-contact-card-section .gdpr-contact-card{
	background: #f6f6f6;
  padding: 40px;
  text-align: center;
  position: relative;
  width: calc(100% - 120px);
  margin: 0 auto;
  margin-top: -50px;
}
.gdpr-contact-card-section .gdpr-contact-card h3{
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.56px;
  text-align: center;
  color: #000000;
  width: 70%;
  margin: 0 auto;
}
.gdpr-contact-card-section .gdpr-contact-card ul{
  list-style: none;
  padding: 0;
  width: 70%;
  margin: 0 auto;
  
}
.gdpr-contact-card-section .gdpr-contact-card ul li{
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.8;
  letter-spacing: 0.63px;
  text-align: center;
  color: #000;
}
.gdpr-contact-card-section .gdpr-contact-card ul li a{
  color: var(--primaryColor);
}
.gdpr-contact-card-section .gdpr-contact-card ul li a:hover{
  text-decoration: none;
}
.gdpr-contact-card-section .gdpr-contact-card ul.card-top li{
  border-bottom: solid 1px #979797;
  line-height: 100px;
}
.gdpr-contact-card-section .gdpr-contact-card ul.card-bottom{
  margin-top: 20px;
  margin-bottom: 50px;
}
.card-bottom-desc p,.card-top-desc p{
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.8;
  letter-spacing: 0.63px;
  text-align: center;
  color: #000000;
}

@media only screen and (max-width: 767px) {
  .gdpr-contact-card-section .gdpr-contact-card{
    margin-top: -15px;
    width: 90%;
  }
  .gdpr-contact-card-section .gdpr-contact-card{
    padding: 0;
  }
  .gdpr-contact-card-section .gdpr-contact-card ul{
    width: 85%;
  }
  .gdpr-contact-card-section .gdpr-contact-card ul li{
    font-size: 14px;
  }
  .gdpr-contact-card-section .gdpr-contact-card ul.card-top li{
    line-height: inherit;
    padding: 20px;
  }
  .gdpr-contact-card-section .gdpr-contact-card ul.card-top li:last-of-type{
    border: none;
  }
}