.experience-page{
	background:#f5f5f5;
}
.experience-button-styles{
	line-height:2;
}
.body{
	background:#f5f5f5 !important;
}

.experience-show-more {
    text-align: center;
    font-size: 16px;
    font-size: 1rem;
    color: var(--primaryColor);
    font-family: Calibri-bold;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2px;
    letter-spacing: 0.125rem;
}

.experience-details-con .row {
	flex-wrap:unset !important;
	background-color: #f5f5f5;
	display: block !important;
}
.experience-details-con .row::after {
	display: table;
	content: '';
	clear: both;
}

.experience-show-more .show-more-inverted {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.experience-card-container {
	float: left;
	height: auto !important;
	margin-bottom: 20px;
	min-height: 524px;
}
@media only screen and (min-device-width: 992px) {
	
	.experience-card-container {
	width: 33%;
	}
	
	
} 

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
   .experience-details-con .row div:nth-child(odd) .experience-card-con {
       padding-right: 1rem;
   }

   .experience-details-con .row div:nth-child(even) .experience-card-con {
       padding-left: 1rem;
   }
}  

.experience-card-con {
    width: 100%;
     /* padding:0 10px; */ 
}

.experience-child-con{
	width:80%;
	background: #fff;
}



.experience-img-con {
    width: 100%;
}

.experience-img-con img {
    width: 100%;
}

.experience-sub-details-con {
	width:100%;
    display: table;
    background-color: #fff;
    font-family: Calibri;
    padding: 21px 25px 22px 25px;
    padding: 21px 1.5625rem 22px 1.5625rem;
}

@media only screen and (max-device-width: 374px) {
    .experience-sub-details-con {
        padding: 10px 1rem 10px 1rem;
    }
}

.experience-details {
    display: table-cell;
    width: 100%;
    width: 60%;
    padding-right: 5%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .experience-details {
        width: 54%;
    }
}

.experience-heading {
	color:#323232;
    font-size: 24px;
    font-size: 1.5rem;
    font-family: Calibri-Bold;
}

.experience-card-desc {
    font-size: 16px;
    font-size: 1rem;
    color: #9b9b9b;
    line-height: 1.31;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .experience-card-desc {
        font-size: 0.875rem;
    }
}

.experience-rates-con {
    display: table-cell;
    text-align: right;
    /* position: relative; */
}

.experience-card-duration {
    text-align: right;
    font-size: 16px;
    font-size: 1rem;
    color: #323232;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .experience-card-duration {
        font-size: 0.875rem;
    }
}

.experience-cards-btn-con {
   /*  position: absolute; */
    bottom: 0;
    right: 0;
}

.experience-rate {
	color:#323232;
    font-size: 22px;
    font-size: 1.375rem;
    font-family: RupeeForadian;
}

.experience-rate span {
    font-family: Calibri-Bold;
    font-size: 24px;
    font-size: 1.5rem;
}

.experience-rate span:last-child {
   vertical-align: super;
   /* right: -5px;
    top: -2px; */
     /* font-size: 16px; */
    font-size: 1rem;
    font-family: Calibri;
}

.experience-view-details-btn {
    line-height: 35px;
    font-family: Calibri-Bold;
    font-weight: normal;
    width: 140px;
    width: 8.75rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .experience-view-details-btn {
        width: 7.8rem;
    }
}

@media only screen and (max-device-width: 374px) {
    .experience-view-details-btn {
        height: 2.1rem ! important;
        width: 7rem;
        padding: 0;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 991px) {
    .experience-view-details-btn {
        width: 7rem;
        padding: 0;
    }
}

.experience-show-more {
    text-align: center;
    font-size: 16px;
    font-size: 1rem;
    color: var(--primaryColor);
    font-family: Calibri-bold;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2px;
    letter-spacing: 0.125rem;
}

.experience-show-more .show-more-inverted {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
