@rem: 16rem;
.col-md-4.experiences-container {
    @media only screen and (max-width: 767px) {
        margin-bottom: 1rem;
    }
    &:nth-child(3n) {
        .recommended-experiences-wrap {
            /*padding-left: 15/@rem;*/
            margin-left: 15/@rem; //Changes by nixon
            //margin-bottom: 2rem;
            background: #fff;
            height: 100%;
            @media only screen and (max-width: 767px) {
                padding-left: unset;
                padding-bottom: 1rem;
                margin: 0;
            }
        }
    }
    &:nth-child(3n-1) {
        .recommended-experiences-wrap {
            /*padding-left: 15/@rem;
            padding-right: 15/@rem;*/ //Changes by nixon
            margin-left: 15/@rem;
            margin-right: 15/@rem;
            background: #fff;
            height: 100%;
            //margin-bottom: 2rem;
            @media only screen and (max-width: 767px) {
                padding-right: unset;
                padding-left: unset;
                padding-bottom: 1rem;
                margin: 0;
            }
        }
    }
    &:nth-child(3n-2) {
        .recommended-experiences-wrap {
            /*padding-right: 15/@rem;*/ //Changes by nixon
            margin-right: 15/@rem;
            //margin-bottom: 2rem;
            background: #fff;
            height: 100%;
            @media only screen and (max-width: 767px) {
                padding-right: unset;
                padding-bottom: 1rem;
                margin: 0;
            }
        }
    }
}
.recommended-experiences-wrap {
   position:relative;
}

.mr-experiences-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mr-experiences-description-wrap {
    min-height: 7.125rem;
    padding: 1.1875rem 2rem;
    background-color: #ffffff;
    @media only screen and (max-width: 991px) {
        padding:1rem;
    }
}

.mr-experinces-title {
    font-family: Calibri;
    font-size: 1.5rem;
    line-height: 0.92;
    text-align: left;
    color: #323232;
    padding-bottom: 0.625rem;
    @media only screen and (max-width: 767px) {
        padding-bottom: 0.3rem;
    }
}

.mr-experinces-details-location {
    font-family: Calibri;
    font-size: 1rem;
    line-height: 1.25;
    text-align: left;
    color: #9b9b9b;
    .conceirge-local {
        font-size: 0.75rem;
    }
}

.mr-experinces-details-wrap {
    //width: 48%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 3.5rem;
}



.experience-button-styles {
 position: absolute;
 right: 1rem;
 bottom: 1.1875rem;
    @media only screen and (max-width: 767px) {
        font-size: 0.75rem;
    }
}

.mr-experiences-images-wrap {
    height: 410/@rem;
    background: #ccc;
    @media only screen and (max-width: 767px) {
        // width: 385px;
        height: 275/@rem;
    }
}

.col-md-4.col-12.experiences-container {
    margin-bottom: 2rem;
    display: none;
}

.col-md-4.col-12.experiences-container:nth-child(-n+3) {
    display: block;
}

.experience-details-short-desc {
	margin-top: 0;
}
