.sticky-details-close {
    position: absolute; 
    right: 11px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    float:right;
}

.cookie-sticky-details-wrap .placeholder-title-wrap{
    display:inline-flex;
    justify-content:center;
    align-items: center;
}

.cookie-sticky-details-wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
     background-color: rgba(210, 152, 81,0.4) !important;
     width:60%;
     margin-left:auto;
     margin-right:auto;
     width: 100%;
     z-index: 100;
}

.sticky-wrap-text{
    color:#000;
    text-align: center;
    vertical-align:middle;
}

.sticky-wrap-text p{
    padding: 15px 0;
    text-align: center;
    margin:0;
    font-family:Calibri-Bold;
    color:rgba(1,1,1,0.5);
    padding-right: 35px;
}

.sticky-wrap-text p>a{
    color:var(--primaryColor);
}