<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.sustainability'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<div class="sustainability-card-wrap">
    <div class="row">
        <div class="col-md-4 col-12 col-sm-12 sustainability-img-wrap">
            <div class="sustainability-img-con">
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='img-responsive sustainability-img'}" />
            </div>
        </div>
        <div class="col-md-8 col-12 col-sm-12 sustainability-content-wrap">
            <div>
                <h2 class="s-card-title">${properties.title}</h2>
                <p class="s-card-content">${properties.description}</p>
            </div>
            <div class="btn-wrap">
                <button class="cm-btn-secondary button-view-details">LEARN MORE</button>
            </div>
        </div>
    </div>
</div>