@rem: 16rem;
.mr-holiday-destination-about-cards-wrapper > .row{
	@media only screen and (min-width: 768px) {
		margin: -15/@rem;
	}
}
.mr-holiday-destination-about-cards-wrapper ~ .jiva-spa-show-more{
	margin-bottom:1.5rem;
}
.mr-holidays-activities-card-wrapper {
    padding: 15/@rem !important;   
    margin: 0 !important;    
}

.mr-holidays-activities-card-Innerwrap {
    height: 100%;
    background-color: #ffffff;
}

.mr-holidays-activities-card-Imgwrap {
    height: 410/@rem;
    background-color: #ccc;
    @media only screen and (max-width: 767px) {
        height: 385/@rem;
    }
}

.mr-holidays-activities-card-Detailswrap {
    padding: 30/@rem 25/@rem;
    display: table;
    width: 100%;
    background-color: #ffffff;
    @media only screen and (max-width: 767px) {
        padding: 16/@rem 18/@rem;
    }
}

.mr-explore-destination-locationName-wrap,
.mr-explore-destination-locationViewDetails-Btnwrap {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}

.mr-explore-destination-locationViewDetails-Btn {
    width: 100%;
}

.cm-card-showmore-spacing {
  display:block;
  margin-bottom: 2rem;
}
