 @rem: 16rem;
 .cm-local-details-container {
     position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     display: none;
     z-index: 100;
  
     .active {
         display: block !important;
     }
     .cm-local-details-overLay.bas-overlay {
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         background: rgba(74, 74, 74, 0.55);
     }
     .cm-local-details {
         position: absolute;
         width: 83%;
         background: #ffffff;
         box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
         top: 10%;
         left: 0;
         right: 0;
         margin: auto;
         @media only screen and (max-width: 991px) {
             width: 90%;
             top: 3%;
             height:94%;
             overflow:auto;
         }
         .loc-details-close-cont {
             height: 38/@rem;
             width: 100%;
             .showMap-close {
                 width: 24/@rem;
                 height: 24/@rem;
                 position: absolute;
                 top: 20/@rem;
                 right: 20/@rem;
             }
         }
         .loc-details-wrapper {
             margin: 20/@rem 50/@rem 50/@rem;
             @media only screen and (max-width: 991px) {
                 margin: 20/@rem;
             }
             .loc-details-container {
                 @media only screen and (max-width: 480px) {
                     padding-left: 0 !important;
                     padding-right: 0 !important;
                 }
                 @media only screen and (min-width: 992px) {
                     padding-right: 6/@rem;
                 }
             }
             .loc-image-container {
                 @media only screen and (max-width: 480px) {
                     padding-left: 0 !important;
                     padding-right: 0 !important;
                 }
                 @media only screen and (min-width: 992px) {
                     padding-left: 24/@rem;
                 }
                 @media only screen and (max-width: 991px) {
                     margin-top: 14/@rem;
                 }
                 img {
                     width: 100%;
                 }
             }
         }
     }
 }

 .second-section {
     margin-top: 24/@rem;
     font-family: Calibri;
     font-size: 1rem;

     &.for-mobile {
         display: none;
         .second-section-header {
             font-size: 0.875rem;
         }
         @media only screen and (max-width: 991px) {
             width: 100%;
             display: block;
             margin-top: 20/@rem;
         }
     }
     &.for-desktop {
         @media only screen and (max-width: 991px) {
             display: none;
         }
     }
     .second-section-details-wrapper {
         margin-top: 12/@rem;
         .sec-img-cont {
             width: 18%;
             display: inline-block;
             @media only screen and (max-width: 991px) {
                 width: 22%;
             }
             img {
                 width: 100%;
             }
         }
         .sec-detail-cont {
             width: max-content;
             display: inline-block;
             vertical-align: middle;
             margin-left: 2rem;
             @media only screen and (max-width: 340px) {
                 margin-left: 12/@rem;
             }
             .sec-detail-header {
                 font-size: 1rem;
                 color: #4a4a4a;
                 font-family: Calibri-Bold
             }
             .sec-details-about {
                 font-size: 0.875rem;
                 color: #1d1d1d;
                 font-family: Calibri;
             }
         }
     }
 }

 .conceirge-local.ho-mail-to {
     display: inline-block;
     div {
         margin-top: 10/@rem;
     }
     @media only screen and (max-width: 991px) {
         display: block;
         margin-left: 0 !important;
     }
 }

 .ho-contact-options-con .conceirge-local.ho-mail-to:after {
     left: -24px;
     content: "";
     @media only screen and (max-width: 768px) {
         display: none;
     }
 }

 .ho-contact-options-con .ho-mail-to.local-city:after {
     left: -24px;
     content: "";
 }


 .ho-contact-options-con .ho-mail-to.local-city {
     @media only screen and (max-width: 340px) {
         margin-left: 2rem;
     }
 }


 .loc-image-container {
     img {

         @media only screen and (max-width: 767px) {
             height: 196/@rem;
         }
         @media only screen and (min-width: 768px) and (max-width: 991px) {
             height: 26.5rem;
         }
         @media only screen and (min-width: 992px) {
             height: 497/@rem;
         }
     }
 }

.ho-header {
    font-family: Calibri-Bold;
    font-size: 2.25rem;
    line-height: initial;
    @media only screen and (max-width: 991px) {
        font-size: 1.5rem;
    }
}

.ho-overview-description {
    color: #323232;
    font-size: 1rem;
    font-family: Calibri;
    @media only screen and (max-width: 320px) {
        font-size: 0.75rem;
    }
}

.ho-contact-options-con {
    margin: 12px 0;
}

span.inline-block.ho-location-address.cm-view-link-txt.ho-cm-link-txt {
    width: calc(~'100% - 21px');
    vertical-align: top;
    line-height: normal;
}

 //for small icon
 .ho-cm-icon{
object-fit:contain; }