:root {
    --primaryColor: #d29751;
    --primaryColorLighter: rgba(210, 151, 81, 0.2);
    --primaryColorLight: rgba(210, 151, 81, 0.8);
    --primaryColorDark: #aa7938;
    --linearGradient: linear-gradient(to top, #7b5519, #aa7938 52%, #d29851);
}

.gateway-theme {
    --primaryColor: #d72741;
    --primaryColorLighter: rgba(215, 39, 65, 0.2);
    --primaryColorLight: #f67d83;
    --primaryColorDark: #d5213d;
    --linearGradient: linear-gradient(to top, #d5213d, #f67d83);
}

.vivanta-theme {
    --primaryColor: #333366;
    --primaryColorLighter: rgba(51, 51, 102, 0.2);
    --primaryColorLight: #9090c5;
    --primaryColorDark: #333366;
    --linearGradient: linear-gradient(to bottom, rgba(144, 144, 197, 0.99), #4b4b85 49%, #333366);
}   

.seleqtions-theme {
    --primaryColor: #54575a;
    --primaryColorLighter: rgba(84, 87, 90, 0.2);
    --primaryColorLight: rgba(84, 87, 90, 0.7);
    --primaryColorDark: #54575a;
    --linearGradient: linear-gradient(to top, #54575a, #54575a 52%, rgba(84, 87, 90, 0.7));
}

.ama-theme{
 --primaryColor:  #c25031;
    --primaryColorLighter: #c25031; /*rgba(84, 87, 90, 0.2);*/
    --primaryColorLight: #c25031;/*rgba(84, 87, 90, 0.7);*/
    --primaryColorDark: #773624;
    --primaryTextColor: #333;
    --linearGradient: linear-gradient(to top,  #c25031,  #c25031);
    --headingFont: Montserrat-Bold;
    --themeHeadingFontSemiBold: Montserrat-SemiBold;
    --themeHeadingFontBold: Montserrat-Bold;
    --themeContentFontRegular: Corbel;
    --themeContentFontBold: Corbel-Bold;
 }
 
.ihcl-theme {
    --primaryColor: #002b49;
    --primaryColorLighter: rgba(0, 43, 73, 0.2);
    --primaryColorLight: rgba(0, 43, 73, 0.8);
    --primaryColorDark: #002b49;
    --linearGradient: linear-gradient(to top, #002b49, #0c5d90);
    --secondaryColor: #0b5a8c;
    --secondaryColorLight: #0b7fc9;
    --secondaryColorLighter: #2985c0;
}
