.hotels-event-request-quote .hotels-event-back {
    font-family: Calibri-bold;
    font-size: 16px;
    font-size: 1rem;
    line-height: 0.88;
    color: var(--primaryColor);
}

.generic-form .selectSubContainer {
	width: 100%;
}

.generic-req-quote-form .selectboxit-container {
	vertical-align: baseline;
}

.hotels-event-request-quote .hotels-event-back .hotels-event-back-img {
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    position: fixed;
    top: 19px;
    top: 1.1875rem;
    right: 22px;
    right: 1.375rem;
    display: none;
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote .hotels-event-back span {
        display: none;
    }

    .hotels-event-request-quote .hotels-event-back .hotels-event-back-img {
        display: block;
        z-index: 2;
    }
}

.hotels-event-request-quote form.event-request-quote-form {
    background-color: #ffffff;
    padding: 23px 74px 43px 68px;
    padding: 1.4375rem 4.625rem 2.6875rem 4.25rem;
    margin-top: 14px;
    margin-top: 0.875rem;
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form {
        padding: 1.5rem;
        margin-top: 0;
    }
}

.hotels-event-request-quote form.event-request-quote-form .request-quote-form-title {
    font-family: Calibri-bold;
    font-size: 30px;
    color: #282828;
    margin-bottom: 44px;
    margin-bottom: 2.75rem;
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form .request-quote-form-title {
        font-size: 1.5rem;
        margin-bottom: 1.4375rem;
        position: relative;
    }
}

.hotels-event-request-quote form.event-request-quote-form .request-quote-form-title .request-quote-close-btn {
    display: none;
    position: absolute;
    right: 0;
    right: 0;
    top: 4px;
    top: 0.25rem;
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form .request-quote-form-title .request-quote-close-btn {
        display: block;
    }
}

.hotels-event-request-quote form.event-request-quote-form .request-quote-submit-wrapper {
    margin-top: 54px;
    margin-top: 3.375rem;
    position: relative;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form .request-quote-submit-wrapper {
        margin-top: 1.25rem;
        text-align: left;
    }
}

.hotels-event-request-quote form.event-request-quote-form .request-quote-submit-wrapper .mandatory-text {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    color: #818b92;
    text-align: left;   
}

.hotels-event-request-quote form.event-request-quote-form .request-quote-submit-wrapper .request-quote-submit-btn {
    min-width: 121px;
}

@media only screen and (max-width: 525px) {
    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form .sub-form-input-label {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-6"]:nth-child(2) {
        padding-right: 0.9375rem !important;
    }

    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-6"]:last-child {
        padding-left: 0.9375rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"] {
        padding: 0 !important;
    }
}

.hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"]:nth-child(3n-2) {
    padding-right: 40px;
    padding-right: 2.5rem;
}

@media only screen and (max-width: 991px) {
    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"]:nth-child(3n-2) {
        padding-right: 1.25rem;
    }
}

.hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"]:nth-child(3n-1) {
    padding: 0 20px;
    padding: 0 1.25rem;
}

@media only screen and (max-width: 991px) {
    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"]:nth-child(3n-1) {
        padding: 0 0.625rem;
    }
}

.hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"]:nth-child(3n) {
    padding-left: 40px;
    padding-left: 2.5rem;
}

@media only screen and (max-width: 991px) {
    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"]:nth-child(3n) {
        padding-left: 1.25rem;
    }
}
.hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"] .phone-number-col {
    padding-left: 0px;
    padding-left: 0rem;
}

@media only screen and (max-width: 767px) {
    .hotels-event-request-quote form.event-request-quote-form.mr-sub-form [class*="col-md"] .phone-number-col {
        padding-left: 0rem !important;
    }

}

.hotels-event-request-quote .hotels-event-confirmation-popup {
    display: none;
}

.sub-form-input-wrp {
    position: relative;
}

.sub-form-input-wrp .venue-search-input-wrp {
    position: relative;
}

.sub-form-input-wrp .venue-search-input-wrp .venue-search-icon {
    width: 12px;
    width: 0.8rem;
    height: 12px;
    height: 0.8rem;
    position: absolute;
    left: 6px;
    left: 0.4rem;
    top: 8px;
    top: 0.5rem;
}


.sub-form-input-wrp .venue-search-suggestions-wrp {
    position: relative;
}

.sub-form-input-wrp .venue-search-suggestions-wrp .venue-search-input-suggestions-list {
    top: 0;
}

.sub-form-input-wrp .preferred-date-input-wrp .event-quote-date-con .preferred-date-calendar-icon {
    bottom: initial;
    top: 0;
}

@media only screen and (min-width: 768px) {
    .sub-form-input-wrp .preferred-date-input-wrp .jiva-spa-date {
        z-index: 2;
    }
}

.jiva-spa-date-con.event-quote-date-con {
    border-bottom: none;
    padding-left: 0;
}

.jiva-spa-date td {
   height: 26.5px;
   border: solid 0.5px #e0dfdf;
   border-radius: 0;
}

.request-quote-submit-wrapper .pg-spinner-con .pg-spinner-wrap {
	width: 10rem;
	height: 5rem;
}