<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.hotels.components.sustainability-details-card'}" />
<div data-sly-test="${wcmmode.edit}">sustainability details List
	Component</div>
<div class="sustainability-container">
		<div data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
			data-sly-list.listItem="${list.items}" class="sustainability-wrap">
			<sly
				data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/sustainability-details-card' }"></sly>

		</div>
</div>