/* .image{
	text-align:center !important;
} */

.corporate-tabs {
    margin-bottom: 44px;
    margin-bottom: 2.75rem;
}

.rate-tab-wrap {
    margin-right: 63px;
    margin-right: 3.9375rem;
    border-bottom: 2px solid var(--primaryColorLighter);
    position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab-wrap {
        margin: 0 15px;
        padding: 0 !important;
    }
}

.rate-tab {
    width: 189px;
    width: 11.8125rem;
    height: 60px;
    height: 3.75rem;
    line-height: 23px;
    line-height: 1.4375rem;
    text-align: center;
    font-family: Calibri;
    float: left;
    padding-top: 10px;
    padding-top: 0.625rem;
    cursor: pointer;
}

.rate-tab div:first-child {
    font-size: 18px;
    font-size: 1.125rem;
    color: #272727;
    text-transform: uppercase;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab div:first-child {
        font-size: 0.875rem;
        text-transform: capitalize;
    }
}

.rate-tab div:nth-child(2) {
    font-size: 14px;
    font-size: 0.875rem;
    color: #9b9b9b;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab div:nth-child(2) {
        display: none;
    }
}

.rate-tab div:nth-child(3) {
    font-size: 14px;
    font-size: 0.875rem;
    color: #9b9b9b;
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab div:nth-child(3) {
        display: block;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab {
        text-align: left;
        height: 80px;
        padding-left: 5px;
        width: 22.5vw;
        line-height: 18px;
    }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 480px) {
    .rate-tab {
        padding-right: 10px;
        width: 22.8vw;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
    .rate-tab {
        width: 6.3rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-tab {
        width: 12rem;
    }
}

.tab-selected {
    background: var(--primaryColorLighter);
    border-bottom: solid 3px var(--primaryColorDark);
}

.tab-selected div:first-child {
    font-family: Calibri-Bold;
}


.corporate-tabs .tab-label {
    text-align: center;
    font-family: Calibri;
    font-size: 17px;
    font-size: 1.0625rem;
}

.corporate-tabs .tab-selected {
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .corporate-tabs .rate-tab {
        height: 3.0625rem;
        padding-left: 5px;
        width: 30%;
    }

    .corporate-tabs .rate-tab-wrap {
        background: #fafafa;
    }

    .corporate-tabs .tab-label {
        font-size: 0.8125rem;
    }
}

@media only screen and (max-width: 320px) {
    .corporate-tabs .tab-label {
        font-size: 0.75rem;
    }
}

.corporate-header {
    margin-bottom: 0px;
    margin-bottom: 0rem;
    font-size: 30px;
    font-size: 1.875rem;
    font-family: Calibri-Bold;
    color: #1b1b1b;
    position: relative;
    display: block;
}

.subsidiaries-wrapper {
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    padding-left: 64px;
    padding-left: 4rem;
    padding-right: 64px;
    padding-right: 4rem;
    padding-bottom: 10px;
    padding-bottom: 0.625rem;
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: 43px;
    margin-bottom: 2.6875rem;
}

.subsidiaries-wrapper ul {
    -moz-column-count: 2;
    -moz-column-gap: 3.125rem;
    -webkit-column-count: 2;
    -webkit-column-gap: 3.125rem;
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 8.5rem;
    column-gap: 8.5rem;
}

.subsidiaries-wrapper ul li {
    font-family: calibri;
    position: relative;
    padding-left: 15px;
    padding-left: 0.9375rem;
    padding-top: 20px;
    padding-top: 1.25rem;
}

.subsidiaries-wrapper ul li::before {
    content: "\2022";
    color: var(--primaryColor);
    padding-right: 10px;
    padding-right: 0.625rem;
    font-size: 16px;
    font-size: 1rem;
    position: absolute;
    left: -8px;
    left: -0.5rem;
}

.subsidiaries-wrapper .show-more-button,
.subsidiaries-wrapper .show-less-button {
    text-align: center;
    font-family: Calibri;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    letter-spacing: 0.125rem;
    color: var(--primaryColor);
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .subsidiaries-wrapper {
        font-size: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media only screen and (max-width: 767px) {
    .show-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .arrow-style {
        height: 8px;
        margin-top: 6px;
        margin-left: 7px;
    }

    .subsidiaries-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1.5625rem;
        padding-bottom: 1rem;
    }

    .subsidiaries-wrapper ul {
        -moz-column-count: unset;
        -moz-column-gap: unset;
        -webkit-column-count: unset;
        -webkit-column-gap: unset;
        -moz-column-count: unset;
        column-count: unset;
        -moz-column-gap: unset;
        column-gap: unset;
    }

    .subsidiaries-wrapper .show-more-button,
  .subsidiaries-wrapper .show-less-button {
        font-size: 0.875rem;
    }
}

