<sly data-sly-use.model="com.ihcl.core.models.Destination">
    <sly data-sly-list="${model.hotels}">
        <div class="carousel-item" id="dest-${model.destinationId}">
            <div class="hotel-parent">
                <sly data-sly-resource="${ '{0}/jcr:content' @ format=[item], resourceType='tajhotels/components/content/hotel-card' }"></sly>
            </div>
        </div>
    </sly>
</sly>