  	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title data-sly-test.pageTitle="${properties.pageTitle ? properties.pageTitle :properties['jcr:title']}" >${pageTitle}</title>
    <meta data-sly-test.ssoMetaTag="${properties.ssoMetadata}" name="tdl-sso-client_id" content="${properties.ssoMetadata}"/>
    <meta data-sly-test.keywords="${properties.seoKeywords}" name="keywords" content="${properties.seoKeywords}"/>
    <meta data-sly-test.description="${properties.seoDescription}" name="description" content="${properties.seoDescription}"/>
    <sly data-sly-test.hrefLangTags="${properties.seoMetaTag}" >
    	${properties.seoMetaTag @context="unsafe"}
    </sly>
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}"/>
    <meta data-sly-test.noindex="${pageProperties.noindex}" name="robots" content="noindex"/>
	<meta data-sly-test.googleSiteVerification="${properties['jcr:google-site-verification']}" name="google-site-verification" content="${googleSiteVerification}"/>
	<link data-sly-test.canonical="${properties['jcr:canonical']}" rel="canonical" href="${properties['jcr:canonical']}"/>
	<link data-sly-test.amphtml="${properties['jcr:amphtml']}" rel="amphtml" href="${properties['jcr:amphtml']}"/>
	<!-- google webmaster code and bing webmaster code (will be included only for home page -->
	<div data-sly-test.googleWebmasterCode="${properties.googlewmc}" data-sly-unwrap>
		${googleWebmasterCode @context="unsafe"}
	</div>
	<div data-sly-test.bingWebmasterCode="${properties.bingwmc}" data-sly-unwrap>
		${bingWebmasterCode @context="unsafe"}
	</div>
	<sly data-sly-test.pageRedirect="${pageProperties.pageRedirect}">
		<meta http-equiv="refresh" content="8; url=${pageProperties.pageRedirect}">
	</sly>                                                        
   