<sly data-sly-test="${wcmmode.edit}">AMA Room Amenities</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='ama.hotels.room-amenities'}"></sly>

<section class="container ${properties.backgroundColor}">
	<div class="ama-rooms">
		<!-- <div class="row"> -->
		<sly data-sly-test=${properties.rooms}>
			<div class="ama-rooms-icon-box">
				<div class="ama-rooms-icon">
					<p class="ama-rooms-text-title">${properties.rooms}</p>
					<p>ROOMS</p>
				</div>
			</div>
		</sly>

		<sly data-sly-test=${properties.guests}>
			<div class="ama-rooms-icon-box">
				<div class="ama-rooms-icon">
					<p class="ama-rooms-text-title">${properties.guests}</p>
					<p>GUESTS</p>
				</div>
			</div>
		</sly>

		<sly data-sly-list.list=${resource.children}>
			<sly data-sly-list.listItems=${list.children}>
				<div class="ama-rooms-icon-box">
					<sly data-sly-test=${listItems.icon}>
						<div class="ama-rooms-icon">
							<img src="${listItems.icon}" />
							<p>${listItems.description @ context="html"}</p>
						</div>
					</sly>
				</div>
			</sly>
		</sly>
		<!-- </div>-->
	</div>
</section>