.view-all-dinning{
	color: var(--primaryColorLight);
    font-size: 16px;
  /*  border-bottom: 1px solid var(--primaryColorLight);*/
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0;
    cursor: pointer;
        text-decoration:none;
    }
  .view-all-dinning:hover{
      color:inherit;
    }