<div data-sly-test="${wcmmode.edit}">AMP Book A Stay Component</div>
<sly data-sly-test.sitePath="${pageProperties.sitePath}"></sly>

<div class="check-avail-container">
    <sly data-sly-use.result="result-item.html" data-sly-use.resultCategory="search-result.html">
        <!-- Radio Room Selector -->
        <amp-selector class="bas-radio-selector"
                    layout="container"
                    on="select: AMP.setState({selectedOption: event.targetOption})"
                    name="room-selector">
                    <div option="onlyRooms" role="button" on="tap:AMP.setState({selectedRoomType:'onlyRooms'})" selected tabindex="0">Book Room</div>
                    <div option="onlyBungalows" role="button" on="tap:AMP.setState({selectedRoomType: 'onlyBungalows',roomOneadults: adults, adults: 1})" tabindex="0">Book Entire Bungalow</div>
                  </amp-selector>
        <!-- Dropdown bar -->
        <div class="check-avail-dropdown-wrapper">
            <sly data-sly-test="${sitePath =='ama'}">
                <div class="destination-title">${properties.destinationTitle}</div>
                <!--<input id="searchBar" src="/bin/search.data/:ama///result/searchCache.json" role="check-avail-search" readonly tabindex="0" on="tap:AMP.setState({checkAvailActive: true, checkAvailSearchUrl: '/bin/search.data/:ama///result/searchCache.json'})" class="check-avail-input" type="text" aria-label="searchbar input" placeholder="Select Destinations/Bungalows" [value]="targetName"/>-->
				<p tabindex="0" role="button" style="outline: none;"
				on="tap:AMP.setState({checkAvailActive: true, checkAvailSearchUrl: '/bin/search.data/:ama///result/searchCache.json'})"
					 aria-label="destination-selection"  
						[text]="targetName || 'Select Destinations/Bungalows'" >Select Destinations/Bungalows</p>
            </sly>
            <span class="display-none" role="check-avail-close" tabindex="0" on="tap:AMP.setState({checkAvailActive: false})" [class]="checkAvailActive? 'cancel-icon': 'display-none'">
                <amp-img height="18" width="18" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon"></amp-img>
            </span>
        </div>
        <!-- Search results list - to be displayed when checkAvailActive = true -->
        <div class="display-none" [class]="checkAvailActive ? 'display-block':'display-none'">
            <sly data-sly-test="${sitePath =='ama'}">
                <sly data-sly-call="${resultCategory.category @ title1='Destinations', title2='Our Bungalows & Villas', item1='destinations', item2='hotels.website'}"></sly>
                <sly data-sly-call="${result.itemTemplate}"></sly>
            </sly>
        </div>
        <!-- Room configurations - to be displayed when checkAvailActive = false -->
        <div class="check-avail-date-picker">
            <div class="date-title">${properties.dateTitle}</div>
            <div class="check-avail-date-wrap">
                <div class="check-avail-date-input">
                    <!--<amp-date-picker id="check-avail-date-picker-1" date="P14D" type="single" mode="overlay" layout="container" 
					on="select:AMP.setState({date1: event.date})" locale="en" format="DD/MM/YYYY" input-selector="#ca-stay-start-date">
                        <input id="ca-stay-start-date" name="fromDate" aria-label="stay start date" class="check-avail ${inheritedPageProperties.sitePath}" />
                    </amp-date-picker>-->
					
					<amp-date-picker id="check-avail-date-picker-1" style="display:flex" 
                      start-date="P14D"
					  end-date="P15D"
                      type="range"
                      mode="overlay"
                      layout="container"
					  height="360"
                      on="select:AMP.setState({date1:event.start,date2:event.end,dateselected:event.date})"
                      locale="en"
                      format="DD MMM YY"
					  minimum-nights="1"
                      start-input-selector="#ca-stay-start-date"                      
					  end-input-selector="#ca-stay-end-date">
						  <input id="ca-stay-start-date" role="fromdate-picker" tabindex="0" name="fromDate" aria-label="stay start date" class="check-avail ${inheritedPageProperties.sitePath}"
							 on="tap:AMP.setState({count:{showdatepicker:1}})" [value]="date1"  />
						  <span style="margin-top: 5px;width: 30%;text-align: center;">-</span><input id="ca-stay-end-date" role="enddate-picker" tabindex="0" name="toDate" aria-label="stay end date" class="check-avail ${inheritedPageProperties.sitePath}" 
							on="tap:AMP.setState({count:{showdatepicker:2}})" [value]="date2" />
						  <amp-img src="/content/dam/tajhotels/icons/style-icons/calendar-icon-ama.png" width="17" height="19" style="margin-top:5px;"/>
					</amp-date-picker>
					
                </div>
                <!--<div class="check-avail-date-input">
                    <amp-date-picker id="check-avail-date-picker-2" date="P15D" type="single" mode="overlay" layout="container" on="select:AMP.setState({date2: event.date})" locale="en" format="DD/MM/YYYY" input-selector="#ca-stay-end-date">
                        <input id="ca-stay-end-date" name="toDate" aria-label="stay end date" class="check-avail ${inheritedPageProperties.sitePath}" />
                    </amp-date-picker>
                </div>-->
            </div>
        </div>
        <div class="bas-rooms-conf">
                <div>
					<div data-sly-test="${sitePath !='ama'}" style="display: block"  [hidden]="selectedOption == 'onlyBungalows'">
                    <div class="bas-rooms-title">GUESTS</div>
                    <ul class="bas-rooms-tablist" style="display: flex;list-style-type: none; position:relative">						
						 <li class="bas-room-tab ${inheritedPageProperties.sitePath}" role="button"
						 [class]="count.showRoom==1  ? 'bas-room-tab ${inheritedPageProperties.sitePath} bas-active' : 'bas-room-tab ${inheritedPageProperties.sitePath}'" 
						 on="tap:AMP.setState({count:{showRoom:1}})" tabindex="0" role="button" id="room1" style="position: relative">1					
						 </li>
						 <li class="bas-room-tab ${inheritedPageProperties.sitePath} bas-active display-none" [hidden]="count.room<2" id="room2" role="button"
						 [class]="count.showRoom==2 ? 'bas-room-tab ${inheritedPageProperties.sitePath} bas-active' : 'bas-room-tab ${inheritedPageProperties.sitePath}'" 
						 on="tap:AMP.setState({count:{showRoom:2}})" tabindex="0" role="button" style="position: relative">2
						 <button on="tap:AMP.setState({count:{room:count.room-1, showRoom: count.room-1}})" class="button-room-close ${inheritedPageProperties.sitePath}">x</button>		
						 </li>
						 <li class="bas-room-tab ${inheritedPageProperties.sitePath} bas-active display-none" [hidden]="count.room<3" id="room3" role="button"
						 [class]="count.showRoom==3 ? 'bas-room-tab ${inheritedPageProperties.sitePath} bas-active' : 'bas-room-tab ${inheritedPageProperties.sitePath}'" 
						 on="tap:AMP.setState({count:{showRoom:3}})" tabindex="0" role="button" style="position: relative">3
						 <button on="tap:AMP.setState({count:{room:count.room-1, showRoom: count.room-1}})" class="button-room-close ${inheritedPageProperties.sitePath}">x</button>		
						 </li>
						 <li class="bas-room-tab ${inheritedPageProperties.sitePath} bas-active display-none" [hidden]="count.room<4" id="room4" role="button"
						 [class]="count.showRoom==4 ? 'bas-room-tab ${inheritedPageProperties.sitePath} bas-active' : 'bas-room-tab ${inheritedPageProperties.sitePath}'" 
						 on="tap:AMP.setState({count:{showRoom:4}})" tabindex="0" role="button" style="position: relative">4
						 <button on="tap:AMP.setState({count:{room:count.room-1, showRoom: count.room-1}})" class="button-room-close ${inheritedPageProperties.sitePath}">x</button>		
						 </li>
						 <li class="bas-room-tab ${inheritedPageProperties.sitePath} bas-active display-none" [hidden]="count.room<5" id="room5" role="button"
						 [class]="count.showRoom==5 ? 'bas-room-tab ${inheritedPageProperties.sitePath} bas-active' : 'bas-room-tab ${inheritedPageProperties.sitePath}'" 
						 on="tap:AMP.setState({count:{showRoom:5}})" tabindex="0" role="button" style="position: relative">5
						 <button on="tap:AMP.setState({count:{room:count.room-1, showRoom: count.room-1}})" class="button-room-close ${inheritedPageProperties.sitePath}">x</button>		
						 </li>
						 
						 <li class="bas-room-tab  bas-add-room" [hidden]="count.room>4" role="button" on="tap:AMP.setState({count:{room:count.room+1,showRoom:count.room+1}})" 
						 tabindex="0" style="position: relative">+</li>						 
                    </ul>
                </div>
				
				<div data-sly-test="${sitePath =='ama'}">
					<div style="display: block"  [hidden]="selectedOption == 'onlyBungalows'" style="padding: 15px;">
                    <div class="bas-rooms-title">GUESTS</div>
					<div>
						<!--<input readonly on="tap: AMP.setState({roomSelectAma: !roomSelectAma})" style="border-bottom: solid 1px #4d4d4d;" tabindex="0" role="button"
						class="check-avail-input guest-room" type="text" aria-label="room guest count select"  
						placeholder="0 Guest 1 Room"
						[class]="roomSelectAma ? 'check-avail-input guest-room guest-room-uparrow': 'check-avail-input guest-room'"/> -->

                        <p on="tap: AMP.setState({roomSelectAma: !roomSelectAma, count:{room: count.room > 1 ? count.room : 1}})" style="border-bottom: solid 1px #4d4d4d;" tabindex="0" role="button"
						class="check-avail-input guest-room" aria-label="room guest count select"  
                        [text]="(count.room ==null ? 1 : count.room) + 'Room  ' + ' Adults('+ (adults == null ? 0 : adults) +')' + ' Children(' +(children == null ? 0 : children) + ')'"
						[class]="roomSelectAma ? 'check-avail-input guest-room guest-room-uparrow': 'check-avail-input guest-room'">0 Guest 1 Room</p>
					</div>
                    <ul class="display-none ca-roominfo" style="list-style-type: none; position:relative;padding: 0;margin: 0;box-shadow: 0 20px 48px -10px rgba(0, 0, 0, 0.11);" 
					class="display-none" [class]="roomSelectAma ? 'display-block ca-roominfo':'display-none'">						
						<li class="bas-occupant-info"><p class="room-count">Room 1</p>
						<div><p> 
							<span>Adults</span>
							<select aria-label="Adults count" name="adultsCount" id="roomOneadults" 
							on="change: AMP.setState({roomOneadults: event.value, adults: event.value})">
								<option value="0">Select</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select></p>
							<p> <span>Children (Age: 0-12)</span>
							<select aria-label="Children count" name="childrenCount" id="roomOnechildren" 
							on="change: AMP.setState({roomOnechildren: event.value, children: event.value})">
								<option value="0">Select</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select></p>
						</div>
						</li>	
						<li class="bas-occupant-info" [hidden]="count.room < 2"><p class="room-count">Room 2 
						<amp-img role="button" tabindex="0" on="tap: AMP.setState({count:{room:count.room-1}})" src="/content/dam/tajhotels/icons/style-icons/delete.png" width="20px" height="20px" style="float: right"></p>
						<div> 
							<p> <span>Adults</span>
							<select aria-label="Adults count" name="adultsCount" id="roomTwoadults" 
							on="change: AMP.setState({roomTwoadults: event.value, adults: roomOneadults +','+event.value})">
								<option value="0">Select</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select></p>
							<p> <span>Children (Age: 0-12)</span>
							<select aria-label="Children count" name="childrenCount" id="roomTwochildren" 
							on="change: AMP.setState({roomTwochildren: event.value, children: roomOnechildren+','+event.value})">
								<option value="0">Select</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select></p>
						</div>
						</li>	
						<li class="bas-occupant-info" [hidden]="count.room < 3"><p class="room-count">Room 3 
						<amp-img role="button" tabindex="0" on="tap: AMP.setState({count:{room:count.room-1}})" src="/content/dam/tajhotels/icons/style-icons/delete.png" width="20px" height="20px" style="float: right"></p>
						<div> 
							<p><span>Adults</span>
							<select aria-label="Adults count" name="adultsCount" id="roomThreeadults" 
							on="change: AMP.setState({roomThreeadults: event.value, adults: roomOneadults +','+roomTwoadults+','+event.value})">
								<option value="0">Select</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select></p>
							<p><span>Children (Age: 0-12)</span>
							<select aria-label="Children count" name="childrenCount" id="roomThreechildren" 
							on="change: AMP.setState({roomThreechildren: event.value,children: roomOnechildren +',' + roomTwochildren + ','+event.value})">
								<option value="0">Select</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select></p>
						</div>
						</li>
						<li class="bas-occupant-info" [hidden]="count.room < 4"><p class="room-count">Room 4 
						<amp-img role="button" tabindex="0" on="tap: AMP.setState({count:{room:count.room-1}})" src="/content/dam/tajhotels/icons/style-icons/delete.png" width="20px" height="20px" style="float: right"></p>
						<div> 
							<p> <span>Adults</span>
							<select aria-label="Adults count" name="adultsCount" id="roomFouradults" 
							on="change: AMP.setState({roomFouradults: event.value, adults: roomOneadults +','+roomTwoadults+','+ roomThreeadults+','+event.value})">
								<option value="0">Select</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select></p>
							<p> <span>Children (Age: 0-12)</span>
							<select aria-label="Children count" name="childrenCount" id="roomFourchildren" 
							on="change: AMP.setState({roomFourchildren: event.value, children: roomOnechildren+','+roomTwochildren+','+roomThreechildren+','+event.value})">
								<option value="0">Select</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select></p>
						</div>
						</li>	
						<li class="bas-occupant-info" [hidden]="count.room < 5">
						<p class="room-count">Room 5 <amp-img role="button" tabindex="0" on="tap: AMP.setState({count:{room:count.room-1}})" src="/content/dam/tajhotels/icons/style-icons/delete.png" width="20px" height="20px" style="float: right"/></p>
						<div> 
							<p><span>Adults</span>
							<select aria-label="Adults count" name="adultsCount" id="roomFiveadults" 
							on="change: AMP.setState({roomFiveadults: event.value,adults: roomOneadults +','+roomTwoadults+','+ roomThreeadults+','+roomFouradults +','+event.value})">
								<option value="0">Select</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select></p>
							<p> <span>Children (Age: 0-12)</span >
							<select aria-label="Children count" name="childrenCount" id="roomFivechildren" 
							on="change: AMP.setState({roomFivechildren: event.value,children: roomOnechildren+','+roomTwochildren+','+roomThreechildren+','+ roomFourchildren+','+ event.value})">
								<option value="0">Select</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
							</select></p>
						</div>
						</li>
						<button class="cm-btn-secondary addRoomBtnText" [hidden]="count.room >= 5" 
						on="tap: AMP.setState({count:{room:count.room+1}})">+ ADD ROOM</button>						
                    </ul>
					
                </div>
				
				
                <ul data-sly-test="${sitePath !='ama'}" class="bas-room-details" [hidden]="count.showRoom>1" >
                    <li class="bas-occupant-info">
                        <span>Adults</span>
                        <select aria-label="Adults count" name="adultsCount" id="roomOneadults" 
						on="change: AMP.setState({roomFiveadults: event.value,adults: roomOneadults +','+roomTwoadults+','+ roomThreeadults+','+roomFouradults +','+event.value})">
                            <option value="0">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </li>
                    <li class="bas-occupant-info">
                        <span>Children (Age: 0-12)</span>
                        <select aria-label="Children count" name="childrenCount" id="roomOnechildren" 
						on="change: AMP.setState({roomFivechildren: event.value,children: roomOnechildren+','+roomTwochildren+','+roomThreechildren+','+ roomFourchildren+','+ event.value})">
                            <option value="0">Select</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </li>
                </ul>
				<ul class="bas-room-details display-none" [class]="count.showRoom!=2 ? 'bas-room-details display-none': 'bas-room-details'">
                    <li class="bas-occupant-info">
                        <span>Adults</span>
                        <select aria-label="Adults count" name="adultsCount" id="roomTwoadults" on="change: AMP.setState({roomTwoadults: event.value})">
                            <option value="0">Select</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                    <li class="bas-occupant-info">
                        <span>Children (Age: 0-12)</span>
                        <select aria-label="Children count" name="childrenCount" id="roomTwochildren" on="change: AMP.setState({roomTwochildren: event.value})">
                            <option value="0">Select</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                </ul>
				<ul class="bas-room-details display-none"  [class]="count.showRoom!=3 ? 'bas-room-details display-none': 'bas-room-details'">
                    <li class="bas-occupant-info">
                        <span>Adults</span>
                        <select aria-label="Adults count" name="adultsCount" id="roomThreeadults" on="change: AMP.setState({roomThreeadults: event.value})">
                            <option value="0">Select</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                    <li class="bas-occupant-info">
                        <span>Children (Age: 0-12)</span>
                        <select aria-label="Children count" name="childrenCount" id="roomThreechildren" on="change: AMP.setState({roomThreechildren: event.value})">
                            <option value="0">Select</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                </ul>
				<ul class="bas-room-details display-none" [class]="count.showRoom!=4 ? 'bas-room-details display-none': 'bas-room-details'">
                    <li class="bas-occupant-info">
                        <span>Adults</span>
                        <select aria-label="Adults count" name="adultsCount" id="roomfouradults" on="change: AMP.setState({roomFouradults: event.value})">
                            <option value="0">Select</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                    <li class="bas-occupant-info">
                        <span>Children (Age: 0-12)</span>
                        <select aria-label="Children count" name="childrenCount" id="roomFourchildren" on="change: AMP.setState({roomFourchildren: event.value})">
                            <option value="0">Select</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                </ul>
				<ul class="bas-room-details display-none"  [class]="count.showRoom!=5 ? 'bas-room-details display-none': 'bas-room-details'">
                    <li class="bas-occupant-info">
                        <span>Adults</span>
                        <select aria-label="Adults count" name="adultsCount" id="roomFiveadults" 
						on="change: AMP.setState({roomFiveadults: event.value,adults: roomOneadults +','+roomTwoadults+','+ roomThreeadults+','+roomFouradults +','+event.value})">
                            <option value="0">Select</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                    <li class="bas-occupant-info">
                        <span>Children (Age: 0-12)</span>
                        <select aria-label="Children count" name="childrenCount" id="roomFivechildren" 
						on="change: AMP.setState({roomFivechildren: event.value,children: roomOnechildren+','+roomTwochildren+','+roomThreechildren+','+ roomFourchildren+','+ event.value})">
                            <option value="0">Select</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </li>
                </ul>
            </div>
        <div class="check-avail-footer" [class]="checkAvailActive? 'display-none': 'check-avail-footer'">
            <a target='_top' data-sly-test="${sitepath != 'ama'}" [href]="navPath == null || (adults== null || adults == 0) ? buttonLink : navPath+'?redirectFromAmp=true'+'&from='+date1.date+'&rooms=1'+'&to='+date2.date+'&adults='+adults+'&children='+children+'&hotelId='+hotelId+'&targetName='+targetName+'&'+checkOption+'=true'">
                <button style="width: 100%" class="cm-btn-secondary btn-disabled" [class]="navPath && adults ? 'cm-btn-secondary ${inheritedPageProperties.sitePath}': 'cm-btn-secondary btn-disabled'">Check Availability</button>
            </a>
			<a target='_top' data-sly-test="${sitepath == 'ama'}" [href]="navPath == null || (adults== null || adults == 0) ? buttonLink : navPath+'?redirectFromAmp=true'+'&from='+date1.date+'&rooms=1'+'&to='+date2.date+'&adults='+adults+'&children='+children+'&checkAvail=true'">
                <button style="width: 100%" class="cm-btn-secondary btn-disabled" [class]="navPath && adults ? 'cm-btn-secondary ${inheritedPageProperties.sitePath}': 'cm-btn-secondary btn-disabled'">Check Availability</button>
            </a>
        </div>
    </sly>
</div>