<sly data-sly-template.itemTemplate="">
    <template type="amp-mustache" id="checkAvailDestItem">
        <div class="check-avail-result-item" role="search-result"
             on="tap: AMP.setState({ navPath: '{{path}}', hotelId: '{{id}}', targetName: '{{title}}',  checkAvailActive: false, checkAvailSearchUrl: null})"
             tabindex="0"
             role="search-result">
            <span>{{title}}</span>
        </div>
    </template>
    <template type="amp-mustache" id="checkAvailHotelItem">
        <div class="check-avail-result-item" role="search-result"
             on="tap: AMP.setState({ navPath: '{{path}}accommodations/', hotelId: '{{id}}', targetName: '{{title}}',  checkAvailActive: false, checkAvailSearchUrl: null})"
             tabindex="0"
             role="search-result">
            <span>{{title}}</span>
        </div>
    </template>
</sly>