<sly data-sly-template.category="${@ title1, title2, item1, item2}">
    <div class="check-avail-result-category">
        <p class="category-header">
            <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
            <span>${title2}</span>
        </p>
        <amp-list [src]="checkAvailSearchUrl" items="${item2}" width="auto" height="350" class="check-avail-category-results custom-loader"
                  layout="fixed-height"
                  template="checkAvailHotelItem">
        </amp-list>
        <p class="category-header">
            <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
            <span>${title1}</span>
        </p>
        <amp-list [src]="checkAvailSearchUrl" items="${item1}" width="auto" height="150" class="check-avail-category-results custom-loader"
                  layout="fixed-height"
                  template="checkAvailDestItem">
        </amp-list>
    </div>
</sly>