.ihcl-theme .mr-carousel-wrap {
	position: relative;
	font-family: 'SunSans-Demi';
}

.ihcl-theme .mr-carousel-wrap .banner-carousel-each-wrap {
	height: 37rem;
}

.ihcl-theme .mr-carousel-wrap .banner-carousel-each-wrap img {
    min-height: 100%;
}

.ihcl-theme .mr-carousel-wrap .mr-carousel-image-contents-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}


.ihcl-theme .mr-carousel-wrap .mr-offers-and-promotions {
	text-shadow: 1px 5px 10px #000000;
	font-family: "PTSerif-Bold";
	font-size: 2.25rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}
@media only screen and (min-width: 992px) {
	.ihcl-theme.right .mr-carousel-wrap .mr-offers-and-promotions {
	   width: 24%;
	   text-align: center;
	}
}

.ihcl-theme .mr-carousel-wrap .mr-innerCircle-member-offers {
	text-shadow: 1px 5px 10px #000000;
	font-family: Calibri;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	color: #ffffff;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

@media only screen and (max-width: 767px) {
	.ihcl-theme .mr-carousel-wrap .mr-innerCircle-member-offers {
		font-size: 1.25rem;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}
}

.ihcl-theme .carousel-control-next, .ihcl-theme .carousel-control-prev {
	width: 10%;
}

.ihcl-theme .mr-carousel-dots {
	margin-bottom: auto;
	z-index: 1;
}

.ihcl-theme .hotel-carousel-section .carousel-indicators li {
	width: 0.625rem;
	height: 0.625rem;
	border-radius: 50%;
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
	cursor: pointer;
}

.ihcl-theme .desktop-display-none,
.ihcl-theme .carousel-control-next-icon,
.ihcl-theme .carousel-control-prev-icon {
	display: none;
}
.ihcl-theme .mobile-display-none {
	display: block;
}
.ihcl-theme .mr-innerCircle-member-offers span {
    font-size: 0.9rem;
}

.ihcl-theme .banner-image-tint {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	background: #000;
	opacity: 0.3;
}

.ihcl-theme .mr-carousel-image-contents-inner-wrapper {
	display: inline-block;
	width: 45%;
}

.ihcl-theme .ihclcb-banner-second-cont, .ihcl-theme .ihclcb-login-page-logo-txt {
	position: absolute;
	right: 0;
	left: 0;
	top: 50px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

.ihcl-theme.right .ihclcb-banner-second-cont, .ihcl-theme.right .mr-carousel-image-contents-wrapper {
	top: 0;
	bottom: 0;
	margin: auto;
}

.ihcl-theme .ihclcb-login-page-logo-txt {
	justify-content: flex-start;
	color: #ffffff;
	z-index: 1;
	display: none;
}

.ihcl-theme.ihclcb-login-page-layout .ihclcb-login-page-logo-txt {
	display: flex;
}

.ihcl-theme .ihclcb-logo-image {
	height: 1.25rem;
	width: 4rem;
}

.ihcl-theme .ihclcb-login-page-logo-txt .ihclcb-logo-description {
	font-family: Calibri;
	font-size: 14px;
	padding: 0 8px;
	border-left: 1px solid #ffffff;
	margin: 0 8px;
	line-height: 1.14;
}

.ihcl-theme .ihclcb-banner-carousel-wrp .carousel-indicators {
	top: 24rem;
	bottom: auto;
	justify-content: flex-start;
	margin: auto;
}

.ihcl-theme .carousel-item {
	background: rgba(0, 0, 0, 0.9);
}

.ihcl-theme.ihclcb-login-page-layout, .ihcl-theme .ihclcb-banner {
	position: relative;
}

.ihcl-theme.ihclcb-login-page-layout .content-wrapper {
	margin: 0 auto !important;
}

.ihcl-theme .ihclcb-banner-carousel-wrp .carousel-indicators .active {
	background-color: #fff;
}

.ihcl-theme .ihclcb-banner-carousel-wrp .carousel-indicators li {
	background-color: inherit;
	border: 1px solid #fff;
}

@media only screen and (min-width: 768px) {
	.ihcl-theme.right .ihclcb-banner-second-cont {
		justify-content: flex-start;
	}
	.ihcl-theme.right .mr-carousel-image-contents-wrapper {
		align-items: flex-end;
	}
	.ihcl-theme.right .ihclcb-banner-carousel-wrp .carousel-indicators {
	   justify-content: flex-end;
	}
	.ihcl-theme.right .mr-carousel-image-contents-wrapper .mr-carousel-image-contents-inner-wrapper {
		width: 35%;
	}
	.ihcl-theme.ihclcb-login-page-layout .ihclcb-brand-carousel {
		position: absolute;
		left: 0;
		right: 0;
		top: 33rem;
	}
	.ihcl-theme.ihclcb-login-page-layout .mr-carousel-wrap .mr-carousel-image-contents-wrapper {
        top: 10rem
    }    
}

@media only screen and (max-width: 767px) {
	.ihcl-theme .desktop-display-none {
        display: block;
    }
    .ihcl-theme .mobile-display-none,
    .ihcl-theme.right .mr-carousel-image-contents-wrapper,
    .ihcl-theme .carousel-control-next, .ihcl-theme .carousel-control-prev {     
        display: none;
    }

    .ihcl-theme.ihclcb-login-page-layout .ihclcb-banner-second-cont {
        top: auto;
        bottom: 1.125rem;
    }
    
    .ihcl-theme .mr-carousel-wrap .banner-carousel-each-wrap {
        /*height: 25rem;*/
        height: 720px;
    }   

	.ihcl-theme .ihclcb-login-page-logo-txt {
		width: 90%;
	}
	.ihcl-theme .mr-carousel-wrap .mr-carousel-image-contents-wrapper {
	    width: 90%;
		top: 15%;
	}
	.ihcl-theme .ihclcb-brand-carousel-inner {
		padding: 20px !important;
	}
	.ihcl-theme .ihclcb-banner-second-cont, .ihcl-theme .ihclcb-banner-carousel-wrp .carousel-indicators {
		width: 90%;
		margin: auto;
	}
	.ihcl-theme .mr-carousel-image-contents-inner-wrapper, .ihcl-theme .ihclcb-banner-second-cont>div,
	.ihcl-theme.right .ihclcb-banner-second-cont {
        width: 100%;
    }

	.ihcl-theme .ihclcb-banner-carousel-wrp .carousel-indicators {
		top: 17rem;
		bottom: auto;
	}	
	.ihcl-theme .mr-carousel-wrap .mr-offers-and-promotions {
        font-size: 1.75rem;
    }   
    .ihcl-theme .generic-signin-content-holder.generic-signin-content-holder-ihclcb {
        box-shadow: 0 8px 12px 0 rgba(1, 4, 6, 0.56);
    } 
}

@media (max-width: 991px) {
    .ihcl-theme .ihclcb-banner-carousel-wrp .mr-carousel-image-contents-wrapper {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .ihcl-theme .ihclcb-banner-carousel-wrp .mr-carousel-image-contents-wrapper,
    .ihcl-theme .ihclcb-banner-carousel-wrp .carousel-indicators {
        max-width: 960px;
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .ihcl-theme .ihclcb-banner-carousel-wrp .mr-carousel-image-contents-wrapper,
    .ihcl-theme .ihclcb-banner-carousel-wrp .carousel-indicators {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
	.ihcl-theme .ihclcb-banner-carousel-wrp .mr-carousel-image-contents-wrapper,
    .ihcl-theme .ihclcb-banner-carousel-wrp .carousel-indicators {
        max-width: 1280px;
    }
}
