.package-rate-tab-content-wrapper .package-rate-tab-content:not(.container){
display:none;
}
.package-rate-tab-content-wrapper .package-rate-tab-content:nth-child(1){
	display: block;
}
.mr-investors-report-documents-wrapper {
    display: none;
}

.mr-investors-report-documents-wrapper.content-active {
    display: block;
    width: 100%;
}

.mr-reports-wrap.rate-tab-wrap {
    width: 100%;
    margin-right: 0;
    position: initial;
    -ms-flex: initial;
    flex: initial;
    height : 4.125rem;
    display:flex;
}

@media only screen and (max-width: 767px) {
    .mr-reports-wrap.rate-tab-wrap {
        margin-right: 0.9375rem;
                   height : 4.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-investors-share-documents.show-more-card-wrapper.row {
        margin: 0 0.9375rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-investors-report-documents-wrapper.col-12 {
        padding: 0 ! important;
    }
}

.mr-investors-share-documents-wrapper {
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}

.mr-investors-share-documents-wrapper .mr-investors-share-head-wrapper {
    margin: 20px 0 29px;
    margin: 1.25rem 0 1.8125rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 767px) {
    .mr-investors-share-documents-wrapper .mr-investors-share-head-wrapper {
        margin: 1.25rem 0.9375rem 1.8125rem;
    }
}

.mr-investors-share-documents-wrapper .mr-investors-share-head-wrapper .mr-investors-share-header {
    font-family: Calibri;
    font-weight: bold;
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 1.4;
    letter-spacing: normal;
    color: #1b1b1b;
}

@media only screen and (max-width: 767px) {
    .mr-investors-share-documents-wrapper .mr-investors-share-head-wrapper .mr-investors-share-header {
        font-size: 1rem;
    }
}

.mr-investors-filter-container {
    margin-top: 32px;
    margin-top: 2rem;
}

@media only screen and (max-width: 767px) {
    .mr-investors-filter-container {
        margin-top: 0.75rem;
    }
}

.mr-reports-wrap.col-12.rate-tab-wrap .rate-tab {
    height: 58px;
    height: 3.625rem;
}

@media only screen and (max-width: 767px) {
    .mr-reports-wrap.col-12.rate-tab-wrap .rate-tab {
        padding-left: 0.625rem;
    }
}

                        .mr-packages-tabs-tab-wrp .rate-tab {
    width: 272px;
    width: 17rem;
    height: 64px !important;
    height: 4rem !important;
    font-size: 18px;
    font-size: 1.125rem;
    padding-top: 22px;
    padding-top: 1.375rem;
}

@media only screen and (max-width: 767px) {
    .mr-packages-tabs-tab-wrp .rate-tab {
        width: 33%;
        height: 4.375rem !important;
        font-size: 0.875rem;
    }
}

.mr-packages-tabs-tab-wrp .tab-selected {
    font-weight: bold;
}

.rate-tab-wrap {
    margin-right: 63px;
    margin-right: 3.9375rem;
    border-bottom: 2px solid var(--primaryColorLighter);
    position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab-wrap {
        margin: 0 15px;
        padding: 0 !important;
    }
}

.rate-tab {
    width: 189px;
    width: 11.8125rem;
    height: 60px;
    height: 3.75rem;
    line-height: 23px;
    line-height: 1.4375rem;
    text-align: center;
    font-family: Calibri;
    float: left;
    padding-top: 10px;
    padding-top: 0.625rem;
    cursor: pointer;
}

.rate-tab div:first-child {
    font-size: 18px;
    font-size: 1.125rem;
    color: #272727;
    text-transform: uppercase;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab div:first-child {
        font-size: 0.875rem;
        text-transform: capitalize;
    }
}

.rate-tab div:nth-child(2) {
    font-size: 14px;
    font-size: 0.875rem;
    color: #9b9b9b;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab div:nth-child(2) {
        display: none;
    }
}

.rate-tab div:nth-child(3) {
    font-size: 14px;
    font-size: 0.875rem;
    color: #9b9b9b;
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab div:nth-child(3) {
        display: block;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-tab {
        text-align: left;
        height: 80px;
        padding-left: 5px;
        width: 22.5vw;
        line-height: 18px;
    }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 480px) {
    .rate-tab {
        padding-right: 10px;
        width: 22.8vw;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
    .rate-tab {
        width: 6.3rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-tab {
        width: 12rem;
    }
}

.tab-selected {
    background: var(--primaryColorLighter);
    border-bottom: solid 3px var(--primaryColorDark);
}

.tab-selected div:first-child {
    font-family: Calibri-Bold;
}
.package-rate-tab-content{
display:none;
}

