<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='holidays-destination-explore'}" />

<div data-sly-test.edit=${wcmmode.edit}>
    <h5>Specific Destination Local Area List are configurable in this section</h5>
</div>

<sly data-sly-use.exploreDestinationObj="com.ihcl.core.models.holidays.explore.ExploreDestinationPropertyFetcher"> <!--    <script type="text/javascript"
    	src="https://maps.googleapis.com/maps/api/js?key=${exploreDestinationObj.googleApiKey}&libraries=places">
	</script>-->
<div class="cm-content-blocks.holidays-explore-sightSeeing">
    <sly data-sly-test.hasSightSeeingList="${exploreDestinationObj.sightSeeing}">
    <div class="cm-header-label-con title-decorator-border">
        <h2 class="cm-header-label">${properties.sightSeeingLabel}</h2>
    </div>
    </sly>
    <div class="mr-holiday-destination-about-cards-wrapper">
        <div class="row holiday-destination-row">
            <sly data-sly-list.sightSeeingLs=${exploreDestinationObj.sightSeeing}>
            <div class="mr-holidays-activities-card-wrapper cm-card-showmore-spacing col-lg-4 col-md-6 col-sm-12">
                <div class="mr-holidays-activities-card-Innerwrap">
                    <div class="mr-holidays-activities-card-Imgwrap">
                        <picture> <img class="mr-holidays-Destination-about-image" src="${sightSeeingLs.image}"
                            alt="taj holidays" width="100%" height="100%" /> </picture>
                    </div>
                    <div class="mr-holidays-activities-card-Detailswrap">
                        <div class="mr-explore-destination-location-wrap">${sightSeeingLs.title}</div>
                        <div class="mr-explore-destination-locationViewDetails-Btnwrap">
                            <button class="cm-btn-secondary mr-explore-destination-locationViewDetails-Btn"
                                onclick="myFunction(this)" data-con-name=${sightSeeingLs.uniqueName}>View Details</button>
                        </div>
                    </div>
                </div>

                <div id=${sightSeeingLs.uniqueName}>
                    <div class="cm-local-details-container" style="display: none;">
                        <div class="cm-local-details-overLay bas-overlay"></div>
                        <div class="cm-local-details">
                            <div class="loc-details-close-cont">
                                <img class="showMap-close" src="/content/dam/tajhotels/icons/style-icons/close-icon.png"
                                    alt="close-icon">
                            </div>
                            <div class="loc-details-wrapper row">
                                <div class="loc-details-container col-lg-6 col-md-12 col-sm-12">
                                    <div class="ho-first-section">
                                        <div class="ho-header">${sightSeeingLs.title}</div>
                                        <div class="ho-map-link">
                                            <a class="inline-block ho-hotel-location-link" target="_blank"
                                                href="https://www.google.com/maps/search/?api=1&amp;query=${sightSeeingLs.latitude},${sightSeeingLs.longitude}">
                                                <img class="ho-location-icon ho-cm-icon inline-block"
                                                src="/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg"
                                                alt="location-icon-brown"> <span
                                                    data-lat-lng=${sightSeeingLs.latitude},${sightSeeingLs.longitude}
                                                    class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt"></span>
                                            </a>
                                        </div>
                                        <div class="ho-contact-options-con">
                                            <div class="mr-experinces-details-location conceirge-local ho-mail-to">
                                                <div>Time : ${sightSeeingLs.openingTime}-${sightSeeingLs.closingTime}</div>
                                            </div>
                                        </div>
                                        <div class="ho-overview-description">
                                            <span class="ho-description-txt">
                                                <span>${sightSeeingLs.description}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="loc-image-container col-lg-6 col-md-12 col-sm-12">
                                    <img type="image/jpeg" src="${sightSeeingLs.image}" alt="local area details"
                                        width="100%">
                                    <source type="image/jpeg" media="(min-width: 9px)"
                                        src="/content/dam/tajhotels/icons/style-icons/local-museum@mobile.jpg"
                                        alt="local area details" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </sly>
        </div>
    </div>
</div>
<div class="cm-content-blocks.holidays-explore-activities">
    <sly data-sly-test.hasActivitiesList="${exploreDestinationObj.activities}">
    <div class="cm-header-label-con title-decorator-border">
        <h2 class="cm-header-label">${properties.activitiesLabel}</h2>
    </div>
    </sly>
    <div class="mr-holiday-destination-about-cards-wrapper">
        <div class="row">
            <sly data-sly-list.activitiesLs=${exploreDestinationObj.activities}>
            <div class="mr-holidays-activities-card-wrapper cm-card-showmore-spacing col-lg-4 col-md-6 col-sm-12">
                <div class="mr-holidays-activities-card-Innerwrap">
                    <div class="mr-holidays-activities-card-Imgwrap">
                        <picture> <img class="mr-holidays-Destination-about-image" src="${activitiesLs.image}"
                            alt="taj holidays" width="100%" height="100%" /> </picture>
                    </div>
                    <div class="mr-holidays-activities-card-Detailswrap">
                        <div class="mr-explore-destination-location-wrap">${activitiesLs.title}</div>
                        <div class="mr-explore-destination-locationViewDetails-Btnwrap">
                            <button class="cm-btn-secondary mr-explore-destination-locationViewDetails-Btn"
                                onclick="myFunction(this)" data-con-name=${activitiesLs.uniqueName}>View Details</button>
                        </div>
                    </div>
                </div>

                <div id=${activitiesLs.uniqueName}>
                    <div class="cm-local-details-container" style="display: none;">
                        <div class="cm-local-details-overLay bas-overlay"></div>
                        <div class="cm-local-details">
                            <div class="loc-details-close-cont">
                                <img class="showMap-close" src="/content/dam/tajhotels/icons/style-icons/close-icon.png"
                                    alt="close-icon">
                            </div>
                            <div class="loc-details-wrapper row">
                                <div class="loc-details-container col-lg-6 col-md-12 col-sm-12">
                                    <div class="ho-first-section">
                                        <div class="ho-header">${activitiesLs.title}</div>
                                        <div class="ho-map-link">
                                            <a class="inline-block ho-hotel-location-link" target="_blank"
                                                href="https://www.google.com/maps/search/?api=1&amp;query=${activitiesLs.latitude},${activitiesLs.longitude}">
                                                <img class="ho-location-icon ho-cm-icon inline-block"
                                                src="/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg"
                                                alt="location-icon-brown"> <span
                                                    data-lat-lng=${activitiesLs.latitude},${activitiesLs.longitude}
                                                    class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt"></span>
                                            </a>
                                        </div>
                                        <div class="ho-contact-options-con">
                                            <div class="mr-experinces-details-location conceirge-local ho-mail-to">
                                                <div>Time : ${activitiesLs.openingTime}-${activitiesLs.closingTime}</div>
                                            </div>
                                        </div>
                                        <div class="ho-overview-description">
                                            <span class="ho-description-txt">
                                                <span>${activitiesLs.description}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="loc-image-container col-lg-6 col-md-12 col-sm-12">
                                    <img type="image/jpeg" src="${activitiesLs.image}" alt="local area details" width="100%">
                                    <source type="image/jpeg" media="(min-width: 9px)"
                                        src="/content/dam/tajhotels/icons/style-icons/local-museum@mobile.jpg"
                                        alt="local area details" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </sly>
        </div>
    </div>
</div>
<div class="cm-content-blocks.holidays-explore-shopping">
    <sly data-sly-test.hasShoppingList="${exploreDestinationObj.shopping}">
    <div class="cm-header-label-con title-decorator-border">
        <h2 class="cm-header-label">${properties.shoppingLabel}</h2>
    </div>
    </sly>
    <div class="mr-holiday-destination-about-cards-wrapper">
        <div class="row">
            <sly data-sly-list.shoppingLS=${exploreDestinationObj.shopping}>
            <div class="mr-holidays-activities-card-wrapper cm-card-showmore-spacing col-lg-4 col-md-6 col-sm-12">
                <div class="mr-holidays-activities-card-Innerwrap">
                    <div class="mr-holidays-activities-card-Imgwrap">
                        <picture> <img class="mr-holidays-Destination-about-image" src="${shoppingLS.image}"
                            alt="taj holidays" width="100%" height="100%" /> </picture>
                    </div>
                    <div class="mr-holidays-activities-card-Detailswrap">
                        <div class="mr-explore-destination-location-wrap">${shoppingLS.title}</div>
                        <div class="mr-explore-destination-locationViewDetails-Btnwrap">
                            <button class="cm-btn-secondary mr-explore-destination-locationViewDetails-Btn"
                                onclick="myFunction(this)" data-con-name=${shoppingLS.uniqueName}>View Details</button>
                        </div>
                    </div>
                </div>

                <div id=${shoppingLS.uniqueName}>
                    <div class="cm-local-details-container" style="display: none;">
                        <div class="cm-local-details-overLay bas-overlay"></div>
                        <div class="cm-local-details">
                            <div class="loc-details-close-cont">
                                <img class="showMap-close" src="/content/dam/tajhotels/icons/style-icons/close-icon.png"
                                    alt="close-icon">
                            </div>
                            <div class="loc-details-wrapper row">
                                <div class="loc-details-container col-lg-6 col-md-12 col-sm-12">
                                    <div class="ho-first-section">
                                        <div class="ho-header">${shoppingLS.title}</div>
                                        <div class="ho-map-link">
                                            <a class="inline-block ho-hotel-location-link" target="_blank"
                                                href="https://www.google.com/maps/search/?api=1&amp;query=${shoppingLS.latitude},${shoppingLS.longitude}">
                                                <img class="ho-location-icon ho-cm-icon inline-block"
                                                src="/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg"
                                                alt="location-icon-brown"> <span
                                                    data-lat-lng=${shoppingLS.latitude},${shoppingLS.longitude}
                                                    class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt"></span>
                                            </a>
                                        </div>
                                        <div class="ho-contact-options-con">
                                            <div class="mr-experinces-details-location conceirge-local ho-mail-to">
                                                <div>Time : ${shoppingLS.openingTime}-${shoppingLS.closingTime}</div>
                                            </div>
                                        </div>
                                        <div class="ho-overview-description">
                                            <span class="ho-description-txt">
                                                <span>${shoppingLS.description}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="loc-image-container col-lg-6 col-md-12 col-sm-12">
                                    <img type="image/jpeg" src="${shoppingLS.image}" alt="local area details" width="100%">
                                    <source type="image/jpeg" media="(min-width: 9px)"
                                        src="/content/dam/tajhotels/icons/style-icons/local-museum@mobile.jpg"
                                        alt="local area details" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </sly>
        </div>
    </div>
</div>
<div class="cm-content-blocks.holidays-explore-dining">
    <sly data-sly-test.hasDiningList="${exploreDestinationObj.dining}">
    <div class="cm-header-label-con title-decorator-border">
        <h2 class="cm-header-label">${properties.diningLabel}</h2>
    </div>
    </sly>
    <div class="mr-holiday-destination-about-cards-wrapper">
        <div class="row">
            <sly data-sly-list.diningLs=${exploreDestinationObj.dining}>
            <div class="mr-holidays-activities-card-wrapper cm-card-showmore-spacing col-lg-4 col-md-6 col-sm-12">
                <div class="mr-holidays-activities-card-Innerwrap">
                    <div class="mr-holidays-activities-card-Imgwrap">
                        <picture> <img class="mr-holidays-Destination-about-image"
                            src="${diningLs.diningImagePath}" alt="taj holidays" width="100%" height="100%" /> </picture>
                    </div>
                    <div class="mr-holidays-activities-card-Detailswrap">
                        <div class="mr-explore-destination-location-wrap">${diningLs.diningName}</div>
                        <div class="mr-explore-destination-locationViewDetails-Btnwrap">
                            <button class="cm-btn-secondary mr-explore-destination-locationViewDetails-Btn"
                                onclick="myFunction(this)" data-con-name=${diningLs.uniqueName}>View Details</button>
                        </div>
                    </div>
                </div>

                <div id=${diningLs.uniqueName}>
                    <div class="cm-local-details-container" style="display: none;">
                        <div class="cm-local-details-overLay bas-overlay"></div>
                        <div class="cm-local-details">
                            <div class="loc-details-close-cont">
                                <img class="showMap-close" src="/content/dam/tajhotels/icons/style-icons/close-icon.png"
                                    alt="close-icon">
                            </div>
                            <div class="loc-details-wrapper row">
                                <div class="loc-details-container col-lg-6 col-md-12 col-sm-12">
                                    <div class="ho-first-section">
                                        <div class="ho-header">${diningLs.diningName}</div>
                                        <div class="ho-map-link">
                                            <a class="inline-block ho-hotel-location-link" target="_blank"
                                                href="https://www.google.com/maps/search/?api=1&amp;query=${diningLs.diningLatitude},${diningLs.diningLongitude}">
                                                <img class="ho-location-icon ho-cm-icon inline-block"
                                                src="/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg"
                                                alt="location-icon-brown"> <span
                                                    class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt">${diningLs.diningAddress}</span>
                                            </a>
                                        </div>
                                        <div class="ho-contact-options-con">
                                            <div class="mr-experinces-details-location conceirge-local ho-mail-to">
                                                <div>Time : ${diningLs.dinningTime}</div>
                                            </div>
                                        </div>
                                        <div class="ho-overview-description">
                                            <span class="ho-description-txt">
                                                <span>${diningLs.diningDescription}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="loc-image-container col-lg-6 col-md-12 col-sm-12">
                                    <img type="image/jpeg" src="${diningLs.diningImagePath}" alt="local area details"
                                        width="100%">
                                    <source type="image/jpeg" media="(min-width: 9px)"
                                        src="/content/dam/tajhotels/icons/style-icons/local-museum@mobile.jpg"
                                        alt="local area details" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </sly>
        </div>
    </div>
</div>
<div class="cm-content-blocks.holidays-explore-spa">
    <sly data-sly-test.hasSpaList="${exploreDestinationObj.spaList}">
    <div class="cm-header-label-con title-decorator-border">
        <h2 class="cm-header-label">${properties.spaLabel}</h2>
    </div>
    </sly>
    <div class="mr-holiday-destination-about-cards-wrapper">
        <div class="row">
            <sly data-sly-list.spaLs=${exploreDestinationObj.spaList}>
            <div class="mr-holidays-activities-card-wrapper cm-card-showmore-spacing col-lg-4 col-md-6 col-sm-12">
                <div class="mr-holidays-activities-card-Innerwrap">
                    <div class="mr-holidays-activities-card-Imgwrap">
                        <picture> <img class="mr-holidays-Destination-about-image" src="${spaLs.hotelImage}"
                            alt="taj holidays" width="100%" height="100%" /> </picture>
                    </div>
                    <div class="mr-holidays-activities-card-Detailswrap">
                        <div class="mr-explore-destination-location-wrap">${spaLs.hotelName}</div>
                        <div class="mr-explore-destination-locationViewDetails-Btnwrap">
                            <button class="cm-btn-secondary mr-explore-destination-locationViewDetails-Btn"
                                onclick="myFunction(this)" data-con-name=${spaLs.uniqueName}>View Details</button>
                        </div>
                    </div>
                </div>

                <div id=${spaLs.uniqueName}>
                    <div class="cm-local-details-container" style="display: none;">
                        <div class="cm-local-details-overLay bas-overlay"></div>
                        <div class="cm-local-details">
                            <div class="loc-details-close-cont">
                                <img class="showMap-close" src="/content/dam/tajhotels/icons/style-icons/close-icon.png"
                                    alt="close-icon">
                            </div>
                            <div class="loc-details-wrapper row">
                                <div class="loc-details-container col-lg-6 col-md-12 col-sm-12">
                                    <div class="ho-first-section">
                                        <div class="ho-header">${spaLs.hotelName}</div>
                                        <div class="ho-map-link">
                                            <a class="inline-block ho-hotel-location-link" target="_blank"
                                                href="https://www.google.com/maps/search/?api=1&amp;query=${diningLs.hotelLatitude},${diningLs.hotelLongitude}">
                                                <img class="ho-location-icon ho-cm-icon inline-block"
                                                src="/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg"
                                                alt="location-icon-brown"> <span
                                                    class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt">${spaLs.hotelAddress}</span>
                                            </a>
                                        </div>
                                        <div class="ho-contact-options-con">
                                            <div class="mr-experinces-details-location conceirge-local ho-mail-to">
                                                <div>Time : ${spaLs.spaTiming}</div>
                                            </div>
                                        </div>
                                        <div class="ho-overview-description">
                                            <span class="ho-description-txt">
                                                <span>${spaLs.spaDesciption}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="loc-image-container col-lg-6 col-md-12 col-sm-12">
                                    <img type="image/jpeg" src="${spaLs.hotelImage}" alt="local area details" width="100%">
                                    <source type="image/jpeg" media="(min-width: 9px)"
                                        src="/content/dam/tajhotels/icons/style-icons/local-museum@mobile.jpg"
                                        alt="local area details" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </sly>
        </div>
    </div>
</div>
</sly>