.discover-more-wrapper {
    overflow-y: hidden;
}

@media only screen and (max-width: 991px) {
    .discover-more-wrapper {
        overflow-x: scroll;
    }
}

.holiday-landing-dis .mr-experinces-Button-wrap {
    vertical-align: bottom;
}

@media only screen and (max-width: 768px) {
    .mr-experinces-details-location .hold-trend-desc {
        font-size: 0.875rem;
    }
}
