.mr-content-whole-wrapper .mr-tab-switch-wrapper {
    display: table;
    width:100%;
    
}

@media only screen and (max-width: 767px) {
    .mr-content-whole-wrapper .mr-tab-switch-wrapper .mr-switch-content {
    display:block !important;
    width:100% !important;
     
    }
}

.mr-content-whole-wrapper .mr-tab-switch-wrapper .mr-switch-content {
    background-color: #e9e9e9;
    padding: 30px 20px;
    padding: 1.875rem 1.25rem;
    display:table-cell;
    width:25%;
    vertical-align:middle;
    border-left: solid 1.4px rgba(202, 202, 202, 0.5);
    color: #002b49;
}

@media only screen and (max-width: 480px) {
    .mr-content-whole-wrapper .mr-tab-switch-wrapper .mr-switch-content {
        border-bottom: solid 1.4px rgba(202, 202, 202, 0.5);
        border-left:none;
    }
                .mr-content-whole-wrapper{
                padding:0 15px;
                    }
}

.mr-content-whole-wrapper .mr-tab-switch-wrapper .mr-switch-content .mr-tab-desc {
    margin-bottom: 0;
    line-height: 1.1;
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: normal;
}

@media only screen and (max-width: 480px) {
    .mr-content-whole-wrapper .mr-tab-switch-wrapper .mr-switch-content .mr-tab-desc {
        display: none;
    }
}

.mr-content-whole-wrapper .mr-tab-switch-wrapper .mr-switch-content .mr-tab-desc .mr-tab-content {
    display: block;
}

.mr-content-whole-wrapper .mr-tab-switch-wrapper .mr-switch-content .mr-tab-dsc-mobile {
    display: none;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
}

@media only screen and (max-width: 480px) {
    .mr-content-whole-wrapper .mr-tab-switch-wrapper .mr-switch-content .mr-tab-dsc-mobile {
        display: block;
    }
}
.mr-content-whole-wrapper .mr-tab-switch-wrapper .mr-switch-content:first-child {
   border-left: none;
}

.mr-content-whole-wrapper .mr-tab-switch-wrapper .mr-switch-content:last-child {
   border-bottom: none;
}
.mr-content-whole-wrapper .mr-tab-switch-wrapper .tab-switch-active {
    background-color: #002b49;
    border: none;
    color: #b4975a;
}

.mr-content-whole-wrapper .mr-content-wrapper .mr-content-description-wrap {
    display: none;
    background-color: #ffffff;
    padding: 28px;
    padding: 1.75rem;
}

.mr-content-whole-wrapper .mr-content-wrapper .mr-content-description-wrap .mr-content-desc {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 0;
}

.mr-content-whole-wrapper .mr-content-wrapper .mr-active-content {
    display: block;
}
 .mr-content-whole-wrapper{
        margin-top:25px;
    }
