<div data-sly-test.edit=${wcmmode.edit}>
<h1>ihcl vision component</h1>
</div>


<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihclVision'}" />
<div class="vision-card cm-content-blocks">
    <div class="vision-title">${properties.title}</div>
    <div class="vision-tag-line">${properties.title2}</div>
    <div class="vision-discription-wrp">
                    <div class="desc-sectionvision">
                <div class="rooms-suites-description">${properties.description @context='html'}</div>
                <div class="rooms-suites-description">${properties.longdescription @context='html'}</div>
                </div>
    </div>
</div>
