.container-transition{
  position: relative;
}
.animation-element {
  position: relative;
  width: 30%;
  margin: 0% 1.33 2.66% 1.33%;
  float: left;
}

.bounce-up {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-left {
    transform: translateX(20vh);
}

.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


.in-view-left {
  transform: translateX(0vh);
  transition: opacity 0.2s ease-out, transform 0.8s ease-out;
  will-change: opacity, visibility;
}

.bg-image-wrapper{
	position: relative;
}

.popup-desc p {
	font-family: Corbel;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 20px;
}
.ama-cards-container > .col-md-6.col-12:nth-child(odd) {
	padding-right: 15px;
}
.ama-cards-container > .col-md-6.col-12:nth-child(even) {
	padding-right: 15px;
}
.popup-title {
    border-bottom: 3px solid var(--primaryColor);
    font-size: 20px;
    letter-spacing: 1.2px;
    line-height: 24px;
    font-family: Montserrat-medium;
}

.mouse-over-zoom-effect:hover {
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.3s ease-in-out;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.07);
}

@media only screen and (min-width: 768px) {
    .cm-warning-box-main {
    	padding-top: 2rem;
    }
}
.cm-warning-box {
	z-index: 10;
}
@media only screen and (max-width: 576px) {
    .jiva-spa-date-section.package-check-out-date.package-input-wrp {
		margin-bottom: 40px;
	}   
    .mobile-padding-none{
         padding: 0 !important;
    }
    .mobile-width-full{
         width: 100% !important;
    }
} 