<div data-sly-test="${wcmmode.edit}">Destination - Hotel Card Component</div>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.destination-hotel-card'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<sly data-sly-use.hService="com.ihcl.core.models.FetchHotelsServiceModel" data-sly-test="${hService.hotel.hotelName!= null}">

<div class="mr-map-view-hotelsLists-wrap mr-map-view-mobile-none mr-${hService.hotel.hotelType}-typehotel"
    data-hotelid="${hService.hotel.hotelId}" data-hotelbrand="${hService.hotel.hotelBrand}"
    data-popularity="${hService.hotel.totalReview}" data-rating="${hService.hotel.reviewScore}" id=${hService.hotel.hotelId}
    onclick="hotelCardClicked(this)"
    data-key={brand:${hService.hotel.hotelBrand},price:${hService.hotel.hotelId},rating:${hService.hotel.reviewScore},popularity:${hService.hotel.totalReview}}>
    <div class="row">
        <div class="col-md-3 col-4">
            <div class="mr-mapHotel-image-wrap">
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=hService.hotel.imageUrl, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='mr-map-Hotel-image'}" />
            </div>
        </div>
        <div class="col-md-9 col-8">
            <div class="mr-mapHotel-contents-wrap">
                <div class="row">
                    <div class="col-12">
                        <div class="maphotel-mainDetails-wrap">
                            <div class="row">
                                <div class="col-10">
                                    <div class="mapHotel-title">${hService.hotel.hotelName}</div>
                                    <div class="mapHotel-location-wrap">
                                        <div class="mapHotel-location-icon">
                                            <img class="mr-mapHotel-location-icon"
                                                src="/etc.clientlibs/tajhotels/components/content/destination/destination-hotel-card/clientlibs/resources/images/locationIcon.png"
                                                alt="location icon">
                                        </div>
                                        <div class="mapHotel-location-address">${hService.hotel.hotelArea},
                                            ${hService.hotel.hotelCity}</div>
                                    </div>
                                    <div class="mapHotel-airport-distance">${hService.hotel.locationStats}</div>
                                    <div class="mapHotel-lan">${hService.hotel.lng}</div>
                                    <div class="mapHotel-lat">${hService.hotel.lat}</div>
                                </div>
                                <div class="col-2">
                                    <div class="mr-map-overallRating-wrap">
                                        <div class="mr-map-overallRating" data-sly-test="${hService.hotel.reviewScore}">${hService.hotel.reviewScore}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="maphotel-rateDetails-wrap">
                            <div class="row">
                                <div class="col-7">
                                    <div class="map-card-waiting-spinner">
                                        <img src="/content/dam/tajhotels/icons/style-icons/spinner.gif" alt="spinner icon">
                                    </div>
                                    <div class="mr-map-rating-wrap">
                                        <div class="mapHotels-rateperNightText">Starting Rate / Night</div>
                                        <div class="mapHotels-rate">
                                            <del class="mapHotels-oldRate">
                                                <span class="mr-mapRupee">₹</span>
                                                <span class="map-card-discounted-rate">${hService.hotel.amountAfterTax}</span>
                                            </del>
                                            <span class="mr-map-Newrate">
                                                <span class="newRate-rupee">₹</span>
                                                <span class="map-card-current-rate">${hService.hotel.amountBeforeTax}</span>
                                                <span class="map-card-current-rate-asterisk">*</span>
                                            </span>
                                            <div class="room-rate-unavailable">
                                                <span>Unavailable</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="mr-viewHotel-wrap">
                                        <div class="map-last-few-rooms" style="display: block">Last few rooms
                                            available</div>
                                        <div class="map-viewHotel-button">
                                            <!--/*<button class="cm-btn-secondary">VIEW HOTEL</button>*/-->
                                            <a href="${hService.hotel.hotelPath}">
                                                <button class="cm-btn-secondary">VIEW HOTEL</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</sly>
