.mr-reserve-a-table-contentWrapper
{
	background-color:#ffff;
}
.mr-reserve-table-confirmation-container {
    text-align: center;
    margin: 64px auto;
    margin: 4rem auto;
    width: 70%;
    position: relative;
    min-height: 360px;
    
}

i.icon-STAR-TAJ {
    font-size: 5rem;
}

@media only screen and (max-width: 767px) {
    .mr-reserve-table-confirmation-container {
        margin: 1.75rem auto;
        width: 100%;
    }
}

.mr-close-icon-reserve-table-confirmation {
    position: absolute;
    top: -32px;
    top: -1rem;
    right: 0px;
    right: -1rem;
}

.mr-close-icon-reserve-table-confirmation img {
    width: 18px;
    width: 1.125rem;
    height: 18px;
    height: 1.125rem;
}

.mr-booking-Status {
    font-family: Calibri;
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.6px;
    color: var(--primaryColor);
    margin-top: 19px;
    margin-top: 1.1875rem;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
}

@media only screen and (max-width: 767px) {
    .mr-booking-Status {
        font-size: 1.25rem;
    }
}

.mr-reserve-table-booker {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    text-align: center;
    color: #444444;
}

@media only screen and (max-width: 767px) {
    .mr-reserve-table-booker {
        font-size: 1rem;
    }
}

p.ReserveTable-booking-details {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

.mr-dateTime-header-reserveTable {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #444444;
    display: block;
    margin-bottom: 12px;
    margin-bottom: 0.75rem;
}

.mr-reservation-table-details {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    text-align: center;
    color: #444444;
    display: block;
}

.mr-strippedDiv {
    border-bottom: dashed 2px #979797;
    margin: 30px auto;
    margin: 1.875rem auto;
}

.mr-reservationTable-mail-sent {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #444444;
}

@media only screen and (max-width: 767px) {
    .mr-reserve-Table-CancelModify-btn {
        text-align: center;
    }
}

.mr-cancelreserveTable-btn {
    margin-right: 16px;
    margin-right: 1rem;
}

@media only screen and (max-width: 767px) {
    .mr-cancelreserveTable-btn {
        display: block;
        margin: 1rem auto;
    }
}

@media only screen and (max-width: 767px) {
    .mr-modifyreserveTable-btn {
        display: block;
        margin: 0 auto;
    }
}

.reserveTable-confirmation-wrapper {
    background-color: #ffffff;
    padding: 23px 23px;
    padding: 1.4375rem 4.125rem;
}

