<div data-sly-test="${wcmmode.edit}">
    AMP Popular Destinations
</div>
<!-- Popular Destinations -->
<div data-sly-use.model="com.ihcl.core.models.PopularDestinations" class="popular-dests">
    <h2 class="component-title ${inheritedPageProperties.sitePath}">Popular Destinations</h2>
    <amp-carousel type="carousel" layout="fixed-height" height="360" class="popular-dests-carousel"
                  data-sly-list="${model.destinations}">
        <sly data-sly-resource="${'{0}/jcr:content' @ format=[item], resourceType='/apps/tajhotels/components/content/amp/popular-destinations/destination-card'}"></sly>
    </amp-carousel>
</div>
