.discount-both-left-right-clipped {
    background: url("/etc.clientlibs/tajhotels/components/content/destination/destination-offer-carousel/clientlibs/resources/images/discount-both-left-right-clipped@2x.png");
    background-size: 131% 200%;
    font-family: Calibri;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    padding: 10px 10px 3px;
    margin-top: -9px;
    min-width: 144px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    background-position: top;
}

@media only screen and (max-width: 767px) {
    .discount-both-left-right-clipped {
        font-size: 11.7px;
        min-width: 130px;
    }
}
 