.offer-card-header-discount {
    text-align: center;
    padding: 12px 5px;
}

.offer-card-header-discount .offers-discount {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
}

.offer-card-header-discount .offers-header-text {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 18px;
    line-height: 0.89;
    color: #323232;
}

@media only screen and (max-width: 767px) {
    .offer-card-header-discount .offers-header-text {
        font-size: 16px;
    }
}
 