
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.hotel-card'}" />

<sly data-sly-use.hService="com.ihcl.core.models.FetchHotelsServiceModel" data-sly-test="${hService.hotel.hotelName!= null}">
<sly data-sly-test.hotelObject="${hService.hotel}" />
<!--hotelCard component markup-->
<div class="col-lg-6 col-md-12 col-sm-12 hotelCard-container-outer-wrap" data-hoteltypes="${hotelObject.hotelTypes}"
    data-hotelid="${hotelObject.hotelId}"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <div class="hotelCard-container-wrap">
        <div class="hotelCard-container clearfix">
            <div class="hotelCard-imageWrap">
                <div class="hotelCard-image">
                    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= hotelObject.imageUrl, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.323.323.jpeg'}"></sly>
                </div>
                <div class="rating-container clearfix">
                    <div class="rating">${hotelObject.reviewScore}</div>
                    <div class="number-of-rating">${hotelObject.totalReview} Reviews</div>
                </div>
            </div>
            <div class="hotelCard_hotelDetails clearfix">
                <div class="hotelDetails-name-wrap clearfix">
                    <h3 class="hotelDetailsHeading">${hotelObject.hotelName}</h3>
                    <div class="hotelDetailsLocation">
                        ${hotelObject.hotelArea},${hotelObject.hotelCity},${hotelObject.hotelPinCode}</div>
                    <div class="hotelDetailsLocation-mobile">${hotelObject.hotelArea},${hotelObject.hotelCity},${hotelObject.hotelPinCode}
                    </div>
                    <div data-sly-test="${hotelObject.locationStats}" class="hotelDetailsDistance">${hotelObject.locationStats}</div>
                </div>
                
                <div class="taj-loader spinner_wait_con check-wait-spinner">
                    <div class="taj-loader-circle"></div>
                    <div class="taj-loader-circle"></div>
                    <div class="taj-loader-circle"></div>
                </div>
                <div class="rate_con">
                    <div class="hotelDetailsRate">Starting Rate/Night</div>
                    <div class="bookingButtonContainer">
                        <div class="price-con">
                            <div class="hotelDetailsRateStriked">
                                <span class="rate-currency-symbol"></span>
                                <span class="discount-rate"></span>
                            </div>
                            <div class="hotelDetailsRateNew">
                                <span class="rate-currency-symbol"></span>
                                <span class="current-rate"> </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="view-btn-con">
                    <button class="cm-btn-secondary view-button"
                        onclick="onOfferDetailsHotelSelection('${hotelObject.hotelPath @ context='text'}','${hotelObject.hotelId @ context='text'}')">VIEW
                        HOTEL</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
</sly>
