.ama-theme .offers-page-card-component .offers-card-main .offers-card-footer .button-view-details {
	text-align: left;
}

.ama-theme .ama-offers-not-car .cm-inner-carousal-cards {
	box-shadow: none;
	height: auto;
}

.ama-theme .ama-offer-card-wth-car .row {
	margin: auto !important;
}

.ama-theme .offerImg {
	min-height: 250px;
	background-color: #ccc;
	position: relative;
}

.ama-theme .offerImg img {
	height: 280px;
}

.ama-theme .offersDes {
	/*position: relative;*/
	padding: 1.5rem 1.875rem 1.25rem;
}

.ama-theme .offers-card-inner-wrapper {
	box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.11);
	background-color: #ffffff;
	position: relative;
	/*margin-bottom: 30px;*/
	height: 100%;
}

.ama-theme .offers-card-title {
	padding: 1.5rem 1.875rem 1.25rem;
	position: absolute;
	background: #ffffff;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	font-family: Montserrat-SemiBold;
	letter-spacing: 0.5px;
	bottom: 0;
	left: 0;
}

.ama-theme .offers-page-card-component .offers-card-main {
	padding: 0;
}

.ama-theme .offers-page-card-component .offers-card-main .offers-card-footer .offer-validity {
	display: none;
}

.ama-theme .offers-page-card-component .offers-card-main .offers-card-footer {
	position: absolute;
	left: 1.875rem;
	bottom: 1.2rem;
}

.ama-theme .offers-page-card-component .offers-card-main .offers-card-description
	{
	font-family: var(--themeContentFontRegular);
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	letter-spacing: normal;
	margin-bottom: 0;
	padding-bottom: 3rem;
}

.align-items {
	text-align: center;
	padding: 20px;
	margin: 17px 0px;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.79;
	letter-spacing: 1.56px;
}

.align-items a {
	color: var(--primaryColor);
}

.align-items :hover {
	text-decoration: none;
	color: inherit;
}