<div data-sly-use.offer="com.ihcl.core.models.offers.Offer"
	class="offers-page-card-component" data-offerType="${offer.offerTypes}"
	data-noOfNights="${offer.noOfNights}"
	data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
	<div class="offers-card-inner-wrapper">
		<div class="offers-card-header-container">
			<div class="offer-card-header-additional-points">
				<div data-sly-test=${offer.discountValue}  class="offers-header-text">
					<!-- Earn <span class="additional-points-text">${offer.discountValue}
					</span> ${offer.offerSpecific} -->
				</div>
			</div>
		</div>
		<!-- src="/content/dam/tajhotels/english/our-hotels/mumbai/taj-mahal-palace/offers-card-image-1@2x.png" -->
	<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= offer.offerImage ? offer.offerImage :'/content/dam/tajhotels/in/en/offers/offerBanner.png', lazyload='true', styleClass='offers-card-image'}"></sly>
		<div class="offers-card-main">
			<div class="offers-card-title">${offer.offerTitle}</div>
			<div class="offers-card-description">${offer.offerShortDesc}</div>
			<div class="offers-card-footer">
				<div data-sly-test=${offer.validityDate}  class="offer-validity">
					Valid till
					<div class="offer-validity-date">${offer.validityDate}</div>
				</div>
                <button onclick="onOfferSelection(''+'${offer.resourceURL @ context='text'}', ''+'${offer.offerRateCode @ context='text'}', ''+'${offer.offerTitle @ context='text'}')"
                        class="offer-view-details cm-btn-secondary button-view-details">VIEW DETAILS</button>
			</div>
			 <input type="hidden" name="website-id" id="websiteid" value=${inheritedPageProperties.websiteid} aria-hidden = "true" />
		</div>
	</div>
</div>