<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihclCards'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<sly data-sly-use.model="com.ihcl.core.models.ihcl.IhclcardModel" />
<sly data-sly-test="${properties.showbutton=='show'}"> <sly data-sly-test="${!properties.enablespreadover}">
<div class="destination-container cm-content-blocks">
    <div class="popular-destination-wrap the-page-carousel">
        <div class="clearfix">
            <sly data-sly-list.key="${model.cardList}">
            <div class="popularDest-wrap">
                <div class="popularDest-imageContainer">
                    <sly
                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath=key.imageCard,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly>
                </div>
                <div class="popularDest-details-container">
                    <div class="popularDest-details-name">${key.title}</div>
                    <a href="${key.pagePath}.html">
                        <button class="cm-btn-secondary view-detials-button" tabindex="-1">${key.buttontext}</button>
                    </a>
                    <sly data-sly-test="${key.description}">
                    <div class="cont-us-contact-wrap">
                        <div class="cont-us-phone-number">${key.description @context='html'}</div>
                    </div>
                    </sly>
                </div>
            </div>
            </sly>
        </div>
    </div>
</div>
</sly> <sly data-sly-test="${properties.enablespreadover}">
<div class="destination-container cm-content-blocks taj-cards-container">
    <div class="taj-brand">
        <div class="row">
            <sly data-sly-list.key="${model.cardList}">
            <div class="col-lg-3 col-md-6 col-sm-12 popularDest-containers">
                <div class="popularDest-wrap">
                    <div class="popularDest-imageContainer">
                        <img src="${key.imageCard}" alt="Image of the destination" />
                    </div>
                    <div class="popularDest-details-container">
                        <div class="popularDest-details-name">${key.title}</div>
                        <div class="cont-us-contact-wrap">
                            <div class="cont-us-phone-number">${key.description @context='html'}</div>
                        </div>
                        <div class="btn-full-width">
                            <button class="cm-btn-secondary view-detials-button" onclick="popUpIhclTaj(this)">${key.buttontext}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cm-local-details-container mr-profile-popup taj-brand-popup">
                <div class="cm-local-details-overLay bas-overlay"></div>
                <div class="cm-local-details">
                    <div class="loc-details-close-cont">
                        <img class="showMap-close" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg"
                            alt="close-blue-icon" />
                    </div>
                    <div class="loc-details-wrapper row">
                        <div class="loc-details-container col-lg-6 col-md-12 col-sm-12">
                            <div class="ho-first-section">
                                <div class="ho-header">${key.title}</div>
                                <div class="ho-overview-description">${key.popupdescription @context='html'}</div>
                            </div>
                        </div>
                        <div class="loc-image-container mr-popup-image col-lg-6 col-md-12 col-sm-12">
                            <sly
                                data-sly-call="${imagetemplate.damImageTemplate @ imagePath=key.imageCard, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />
                        </div>
                    </div>
                </div>

            </div>
            </sly>
        </div>
    </div>
</div>
</sly> </sly>

<sly data-sly-test="${properties.showbutton=='hide'}">
<div class="executive-leader-profile-card-carousel-wrp">
    <div class="row ihcl-leadership-wrap">
        <sly data-sly-list.key="${model.cardList}">
        <div class="offers-page-card-component col-lg-4 col-md-6 col-12 show-more-card-element cm-card-showmore-spacing">
            <div class="mr-contact-us-wrap">
                <div class="cont-us-image-cont ${currentPage.title=='contact-us'?'mr-contact-hide-card-image':''}">
                    <sly
                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath=key.imageCard,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly>
                </div>
                <div class="cont-us-details-container">
                    <div class="cont-us-details-header">${key.title}</div>
                    <div class="cont-us-contact-wrap">
                        <div class="cont-us-phone-number">${key.description @context='html'}</div>
                    </div>
                </div>
            </div>
        </div>
        </sly>
    </div>
</div>
</sly>
</sly>
