<template data-sly-template.diningCard="${@path,cardTitleType,hasHotelName,isNearBy}" xmlns="http://www.w3.org/1999/html">
    <sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.dining.details,tajhotels.dining.card,tajhotels.gallerycarousel, tajhotels.hoteldetails'}" />
<sly data-sly-use.hotelProperties="${'com.ihcl.core.models.hotel.HotelPropertiesFetcher' @ diningDetailsPath=path}" /> <sly
    data-sly-use.diningModel="${'com.ihcl.core.models.dining.Dining' @ resourcePath=path}"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" /> <sly
    class="gallery-carousel-container"> <sly
    data-sly-resource="${ '{0}' @ resourceType='tajhotels/components/content/gallery-carousel' }"> </sly> </sly>
<div itemscope itemtype="http://schema.org/Restaurant" class="col-12 dining-card-container-main show-more-card-element">
    <div class="mr-dining-card-wrapper" data-dining=${diningModel.diningName} data-area=${hotelProperties.hotelArea}
        data-city=${hotelProperties.hotelCity} data-country=${hotelProperties.hotelCountry}
        data-name=${hotelProperties.name} data-brand=${diningModel.diningBrand} data-cuisine=${diningModel.diningCuisine}>


        <div class="row">
            <div class="col-md-4 col-12">
                <sly data-sly-test="${diningModel.numberOfImages >= 1}">
                <div class="mr-dining-card-image-wrap">
                    <sly data-sly-list.imagePath="${diningModel.galleryImagePaths.toString}"> <sly
                        data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=imagePath}"
                        data-sly-list="${firstImage.options}"> <sly
                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath=item, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='mr-dining-card-image'}" />
                    </sly> </sly>
                    <div class="view-photos-container dining-card-view-photos" tabindex = "0"
                        data-gallery-images=${diningModel.galleryImagePaths.toString} onclick="showGallery(this)" data-dialog-btn = "galleryCarousel">
                        <img src="/content/dam/tajhotels/icons/style-icons/lightbox.svg" alt = "lightbox-icon">
                        <span>VIEW PHOTOS (${diningModel.numberOfImages})</span>
                    </div>
                </div>
                </sly>
            </div>
            <div class="col-md-8 col-12">
                <div class="mr-dining-card-content-wrap">
                    <div class="row">
                        <div class="col-12">
                            <div class="dining-details-menu-wrap">
                                <h1 data-sly-element="${properties.type}" class="mr-dining-title" data-sly-element="${cardTitleType}">
                                    <sly data-sly-test="${hasHotelName}"> <span itemprop="name">${hotelProperties.name}
                                        - ${diningModel.diningName}</span> </sly>
                                    <sly data-sly-test="${!hasHotelName}"> <span itemprop="name">${diningModel.diningName}</span>
                                    </sly>
                                </h1>
                                <sly data-sly-test.hotelCountry=${hotelProperties.hotelCountry}>
                                <div class="mr-hotel-location-address mr-dining-hotel-address">
                                    <div class="mr-list-location-icon-wrap">
                                        <span class="icon-location mr-dining-location-description-icons ho-cm-icon"></span>
                                    </div>
                                    <div class="mr-list-address-wrap">

                                        <sly data-sly-test="${diningModel.restaurantAddress}"> <span
                                            class="mr-desktop-address">
                                            <a
                                                class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-dining-menu-card"
                                                target="_blank"
                                                href="https://www.google.com/maps/search/?api=1&query=${diningModel.restaurantAddress}">
                                                ${diningModel.restaurantAddress} </a>
                                        </span> </sly>
                                        <sly data-sly-test="${!diningModel.restaurantAddress}"> <sly
                                            data-sly-test="${isNearBy}"> <span class="mr-desktop-address">
                                            <a
                                                class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-dining-menu-card"
                                                target="_blank"
                                                href="https://www.google.com/maps/search/?api=1&query=${diningModel.diningLatitude},${diningModel.diningLongitude}">
                                                <sly data-sly-test="${!diningModel.hotelArea}">
                                                ${diningModel.hotelCity},${diningModel.hotelPinCode},${diningModel.hotelCountry}
                                                </sly> <sly data-sly-test=" ${!diningModel.hotelCity}">
                                                ${diningModel.hotelArea},${diningModel.hotelPinCode},${diningModel.hotelCountry}
                                                </sly> <sly data-sly-test="${!diningModel.hotelPinCode}">
                                                ${diningModel.hotelArea},${diningModel.hotelCity},${diningModel.hotelCountry}
                                                </sly> <sly data-sly-test="${!diningModel.hotelCountry}">
                                                ${diningModel.hotelArea},${diningModel.hotelCity},${diningModel.hotelPinCode}
                                                </sly> <sly
                                                    data-sly-test="${diningModel.hotelArea && diningModel.hotelCity && diningModel.hotelPinCode && diningModel.hotelPinCode}">
                                                ${diningModel.hotelArea},${diningModel.hotelCity},${diningModel.hotelPinCode},${diningModel.hotelCountry}
                                                </sly>
                                            </a>
                                        </span> </sly> <sly data-sly-test="${!isNearBy}"> <span class="mr-desktop-address">
                                            <a
                                                class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-dining-menu-card"
                                                target="_blank"
                                                href="https://www.google.com/maps/search/?api=1&query=${diningModel.diningLatitude},${diningModel.diningLongitude}">
                                                <sly data-sly-test="${!hotelProperties.hotelArea}">
                                                ${hotelProperties.hotelCity},${hotelProperties.hotelPinCode},${hotelProperties.hotelCountry}
                                                </sly> <sly data-sly-test=" ${!hotelProperties.hotelCity}">
                                                ${hotelProperties.hotelArea},${hotelProperties.hotelPinCode},${hotelProperties.hotelCountry}
                                                </sly> <sly data-sly-test="${!hotelProperties.hotelPinCode}">
                                                ${hotelProperties.hotelArea},${hotelProperties.hotelCity},${hotelProperties.hotelCountry}
                                                </sly> <sly data-sly-test="${!hotelProperties.hotelCountry}">
                                                ${hotelProperties.hotelArea},${hotelProperties.hotelCity},${hotelProperties.hotelPinCode}
                                                </sly> <sly
                                                    data-sly-test="${hotelProperties.hotelArea && hotelProperties.hotelCity && hotelProperties.hotelPinCode && hotelProperties.hotelPinCode}">
                                                ${hotelProperties.hotelArea},${hotelProperties.hotelCity},${hotelProperties.hotelPinCode},${hotelProperties.hotelCountry}
                                                </sly>
                                            </a>
                                        </span> </sly> </sly>
                                    </div>
                                </div>
                                </sly>
                                <div class="mr-dining-phno-menu-details-container">
                                    <div class="mr-dining-phone-number-wrap detail-menu-border">
                                        <a class="ho-contact-number hide-in-lg inline-block"
                                            href="tel:${diningModel.diningPhoneNumber}" aria-label = "dining phone number"> <span
                                                class="icon-phone-enabled ho-cm-icon ho-contact-icon inline-block"></span>
                                            <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">
                                                <span itemprop="telephone">${diningModel.diningPhoneNumber}</span>
                                            </div>
                                        </a>
                                        <div class="ho-contact-number hide-in-sm hide-in-md inline-block disabled">
                                            <span class="icon-phone-disabled ho-cm-icon ho-contact-icon inline-block"></span>
                                            <div class="inline-block ho-mail-to-txt">${diningModel.diningPhoneNumber}
                                            </div>
                                        </div>
                                    </div>
                                    <sly data-sly-test="${diningModel.pathToDownloadFrom}">
                                    <div class="mr-dining-menuDetails-number-wrap detail-menu-border">
                                        <div class="mr-dining-details-table-wrap">
                                            <div class="mr-dining-details-table-cell-wrap">
                                                <span class="icon-menu-icon mr-dining-description-icons ho-cm-icon"></span>
                                            </div>
                                            <a href="${diningModel.pathToDownloadFrom}" download> <span
                                                    class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-dining-menu-card">
                                                    VIEW MENU</span>
                                            </a>
                                        </div>
                                    </div>
                                    </sly>
                                    <div
                                        class="mr-dining-menuDetails-number-wrap detail-menu-border mr-height-styling dining-no-border-right">

                                        <div>
                                            <a href="${diningModel.resourceURL}"
                                                class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-viewDetails-anchor">VIEW
                                                DETAILS </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="mr-dining-description-wrap">
                                    <div class="mr-dining-description">
                                        <span itemprop="description">${diningModel.diningDescription @context="html"}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dining-offerprice-wrap">
                                <sly data-sly-test.reviewRating=${diningModel.reviewRating}>
                                <div class="mr-dining-rating-wrap hide-in-sm">
                                    <span class="dining-rating-value">${diningModel.reviewRating}</span>
                                </div>
                                </sly>
                                <div class="mr-list-tic-epicure-wrap hide-in-sm">
                                    <sly data-sly-test.offerspecific=${diningModel.ticPoints}> <span
                                        class="mr-list-tic">
                                        <span class="mr-list-tic-value"> ${diningModel.ticPoints}</span>
                                        TIC
                                    </span> </sly>
                                    <sly data-sly-test.offerspecific=${diningModel.epicurePoints}> <span
                                        class="mr-list-epicure">
                                        <span class="mr-list-tic-value"> ${diningModel.epicurePoints} </span>
                                        Epicure
                                    </span> </sly>
                                </div>
                                <div class="mr-list-hotel-offer">
                                    <sly data-sly-test.offerspecific=${diningModel.offerSpecifics}>
                                    <div class="mr-list-hotel-offer-description">
                                        <span>${diningModel.offerSpecifics}</span>
                                    </div>
                                    </sly>
                                    <sly data-sly-test.offerspecific=${diningModel.discountValue}>
                                    <div class="mr-list-hotel-offer-tag">
                                        <img class="mr-offer-tag-Hotels"
                                            src="/content/dam/tajhotels/icons/style-icons/path-5.svg" alt = "path-5-icon" />
                                        <span>${diningModel.discountValue}</span>
                                    </div>
                                    </sly>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mr-regulations-reserve-a-table-wrap">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="mr-regulations-styling">
                                            <div class="row">
                                                <div class="col-md-6 col-12 mr-regulation-border mr-regulation-each-styles">
                                                    <div class="mr-dining-regulations">
                                                        <span class="mr-regulation-title">Cuisine</span>
                                                        <span class="mr-regulation-seperator">-</span>
                                                        <sly data-sly-test.cuisine="${diningModel.diningCuisine ? diningModel.diningCuisine : 'NA'}" />
                                                        <span class="mr-regulation-answer regulation-answer-cuisine"
                                                            itemprop="servesCuisine">${cuisine}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 mr-regulation-each-styles regulation-padding">
                                                    <div class="mr-dining-regulations">
                                                        <span class="mr-regulation-title">Dress code</span>
                                                        <span class="mr-regulation-seperator">-</span>
                                                        <sly data-sly-test.diningDressCode="${diningModel.dressCode ? diningModel.dressCode : 'NA'}" />
                                                        <span class="mr-regulation-answer">${diningDressCode} </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 mr-regulation-border mr-regulation-each-styles">
                                                    <div class="mr-dining-regulations">
                                                        <sly data-sly-test.timings1="${diningModel.timingsLabel1}"> <span
                                                            class="mr-regulation-title">${diningModel.timingsLabel1}</span>
                                                        <span class="mr-regulation-seperator">-</span> <span
                                                            class="mr-regulation-answer style-set-max-width">
                                                            <time itemprop="openingHours">${diningModel.timingsValue1}
                                                            </time>
                                                        </span> </sly>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 mr-regulation-each-styles regulation-padding">
                                                    <div class="mr-dining-regulations">
                                                        <sly data-sly-test.timings2="${diningModel.timingsLabel2}"> <span
                                                            class="mr-regulation-title">${diningModel.timingsLabel2}</span>
                                                        <span class="mr-regulation-seperator">-</span> <span
                                                            class="mr-regulation-answer style-set-max-width">

                                                            <time itemprop="openingHours">${diningModel.timingsValue2}
                                                            </time>
                                                        </span> </sly>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 mr-regulation-border mr-regulation-each-styles">
                                                    <div class="mr-dining-regulations">
                                                        <sly data-sly-test.timings1="${diningModel.timingslabel3}"> <span
                                                            class="mr-regulation-title">${diningModel.timingslabel3}</span>
                                                        <span class="mr-regulation-seperator">-</span> <span
                                                            class="mr-regulation-answer style-set-max-width">
                                                            <time itemprop="openingHours">${diningModel.timingsvalue3}
                                                            </time>
                                                        </span> </sly>
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mr-costFor-two-and-reserve-table-wrap">

                                            <a href="${diningModel.resourceURL}" target="blank">
                                                <button class="cm-btn-secondary mr-dining-check-availability-btn">
                                                    RESERVE A TABLE</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
