<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='tajhotels.nearbyDinnig'}" />
<sly data-sly-use.list="com.ihcl.core.models.dining.NearByDining">
    <sly data-sly-test.isLinkExists="${list.destinationDiningPath}">
        <div class="cm-header-viewall-con cm-header-label-link-con">
            <div class="cm-header-viewall cm-header-label-link"><a class="hide-in-sm view-all-dinning" href="${list.destinationDiningPath}.html">VIEW ALL</a></div>
        </div>
    </sly>
    <ul class="list-item cm-content-blocks" data-sly-list.listItem="${list.DiningList}">
        <li class="row dining-cards-show-first-two ">
            <sly data-sly-use.cardLib="nearby-dining-card.html"/> 
            <sly data-sly-unwrap data-sly-call="${cardLib.diningCard @path=listItem, cardTitleType=properties.type, hasHotelName=properties.hotelName, isNearBy=true}"/>
        </li>
    </ul>

    <div class="text-center">
	    <a class="hide-in-md hide-in-lg" href="${list.destinationDiningPath}.html">
	    	<button class="cm-btn-primary">VIEW ALL DINING</button>
	    </a>
    </div>
    <div class="rate-tax-disclaimer">${properties.ratesexclusive}</div>
</sly>