/* .inverstor-content-wrap .btn-wrap.btn-view {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
} */

.cm-buttton-1{
	   
    height: 2.1875rem !important;
    font-family: Calibri-Bold;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--primaryColor);
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    background: #f5f5f5;
    text-decoration: underline;
}
a:hover {
     color: var(--primaryColor);
}
@media only screen and (max-width: 767px) {
    .inverstor-content-wrap .btn-wrap.btn-view {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}
