<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.holidays-enquiry'}" />

<div data-sly-test.edit="${wcmmode.edit}">
	Holidays Package Enquiry Form Component<br> Add Field labels and
	names.
</div>


<div class="cm-content-blocks">
	<div class="cm-breadcrumb-wrapper" onclick="getPreviousPage()"><
		Back</div>
	<div class="incredible-escape-enquiry">
		<form class="enquiry-form mr-sub-form">
			<div><h1 class="enquiry-form-title">${properties.enquiryFormLabel}</h1></div>

			<sly
				data-sly-use.model="com.ihcl.core.models.holidays.enquiry.IHolidayEnquiry" />

			<div class="row mr-sub-form-row">
				<sly data-sly-list.formfields=${model.formFields.ListOfFields}>
				<div class="col-md-4 col-12 sub-form-input-wrp"
					data-sly-test="${formfields.userFormItemField == 'userName'}">
					<div class="sub-form-input-label">${formfields.userFormItemLabel}*</div>
					<input name="${formfields.userFormItemField}"
						class="only-alpha-input sub-form-input-element sub-form-mandatory"
						type="text" aria-label = "${formfields.userFormItemLabel}">
					<div class="sub-form-input-warning"></div>
				</div>
				<div class="col-md-4 col-12 sub-form-input-wrp"
					data-sly-test="${formfields.userFormItemField == 'userGender'}">
					<div class="sub-form-input-label">${formfields.userFormItemLabel}*</div>
					<div class="sub-form-input-element selectSubContainer">
						<select aria-label="${formfields.userFormItemLabel}" id="enquiryGender" name="${formfields.userFormItemField}">
							<sly data-sly-list.optionList=${model.formFields.GenderOptions}>
							<option value="${optionList}">${optionList}</option>
							</sly>
						</select>
					</div>
				</div>
				<div class="col-md-4 col-12 sub-form-input-wrp"
					data-sly-test="${formfields.userFormItemField == 'userPhoneNumber'}">
					<div class="sub-form-input-label">${formfields.userFormItemLabel}*</div>
					<div class="row phone-number-row">
						<div class="col-2 phone-number-code-col sub-form-input-wrp">
							<div class="sub-form-input-label" style="display:none;">${formfields.userFormItemLabel}*</div>
							<input name="phoneNumberCode"
							class="only-numeric-input sub-form-input-element sub-form-mandatory"
							type="tel" maxlength="3" aria-label = "Phone Number Code">
							<div class="sub-form-input-warning"></div>
						</div>
						<div class="col-10 phone-number-col sub-form-input-wrp">
							<div class="sub-form-input-label" style="display:none;">${formfields.userFormItemLabel}*</div>
							<input name="${formfields.userFormItemField}"
							class="only-numeric-input sub-form-input-element sub-form-mandatory"
							type="tel" maxlength="15" aria-label = "Phone Number">
							<div class="sub-form-input-warning"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-12 sub-form-input-wrp"
					data-sly-test="${formfields.userFormItemField == 'userCountry'}">
					<div class="sub-form-input-label">${formfields.userFormItemLabel}</div>
					<input name="${formfields.userFormItemField}"
						class="only-alpha-input sub-form-input-element" type="text" aria-label = "${formfields.userFormItemLabel}">
				</div>
				<div class="col-md-4 col-12 sub-form-input-wrp"
					data-sly-test="${formfields.userFormItemField == 'areaCode'}">
					<div class="sub-form-input-label">${formfields.userFormItemLabel}</div>
					<input name="${formfields.userFormItemField}"
						class="only-numeric-input sub-form-input-element" type="text" aria-label = "${formfields.userFormItemLabel}">
				</div>
				<div class="col-md-4 col-12 sub-form-input-wrp"
					data-sly-test="${formfields.userFormItemField == 'userCity'}">
					<div class="sub-form-input-label">${formfields.userFormItemLabel}</div>
					<input name="${formfields.userFormItemField}"
						class="only-alpha-input sub-form-input-element" type="text" aria-label = "${formfields.userFormItemLabel}">
				</div>
				<div class="col-md-4 col-12 sub-form-input-wrp"
					data-sly-test="${formfields.userFormItemField == 'userEmail'}">
					<div class="sub-form-input-label">${formfields.userFormItemLabel}*</div>
					<input name="${formfields.userFormItemField}"
						class="email-input sub-form-input-element sub-form-mandatory"
						type="text" aria-label = "${formfields.userFormItemLabel}">
					<div class="sub-form-input-warning"></div>
				</div>
				</sly>
				<div class="col-md-4 col-lg-4 col-12">
					<div class="row">
						<div class="col-6 from-to-datepicker-con sub-form-input-wrp">
							<div class="sub-form-input-label">${properties.checkInFormLabel}*</div>
							<div class="jiva-spa-date-section">
								<div class="jiva-spa-date-con enquiry-date-con">
									<input
										class="enquiry-from-value sub-form-input-element sub-form-mandatory"
										type="text" aria-label = "${properties.checkInFormLabel}" placeholder="Date" value="" disabled>
									<div class="sub-form-input-warning"></div>
									<img
										src="/content/dam/tajhotels/icons/style-icons/calendar.jpg" alt = "calendar-icon">
								</div>
								<div class="jiva-spa-date cm-fixed-date-picker-width"
									id="enquiry-from-date"></div>
							</div>
						</div>
						<div class="col-6 from-to-datepicker-con sub-form-input-wrp">
							<div class="sub-form-input-label">${properties.checkOutFormLabel}*</div>
							<div class="jiva-spa-date-section">
								<div class="jiva-spa-date-con enquiry-date-con">
									<input
										class="enquiry-to-value sub-form-input-element sub-form-mandatory"
										type="text" aria-label = "${properties.checkOutFormLabel}" placeholder="Date" value="" disabled>
									<div class="sub-form-input-warning"></div>
									<img
										src="/content/dam/tajhotels/icons/style-icons/calendar.jpg" alt = 
										"calendar-icon">
								</div>
								<div class="jiva-spa-date cm-fixed-date-picker-width"
									id="enquiry-to-date"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-12 sub-form-input-wrp">
					<div class="sub-form-input-label">Package</div>
					<input name="packageName" value=""
						class="only-alpha-input sub-form-input-element"
						type="text" disabled aria-label = "Package Name Input">
					<div class="sub-form-input-warning"></div>
				</div>
				<div class="col-md-6 col-12 sub-form-input-wrp">
					<div class="sub-form-input-label">Selected Hotels</div>
					<textarea name="selectedHotels" value=""
						class="only-alpha-input sub-form-input-element"
						type="text" disabled aria-label = "Selected Hotels Input"></textarea>
					<div class="sub-form-input-warning"></div>
				</div>
				<!-- <div class="col-md-2 col-lg-4 col-12 hide-in-sm"></div> -->
				<div class="col-md-6 col-12 sub-form-input-wrp">
					<button id="submitButton" data-submitlink="${properties.submitLink}.html" 
						class="cm-btn-secondary enquiry-submit-btn pay-now-button"
							type="button">${properties.buttonLabel}</button>
				</div>
			</div>
			<div class="enquiry-holiday-on-call">
				<label class="mr-filterCheckBox-label checkbox-inline"><input
					class="mr-filter-checkbox holiday-on-call-checkbox" type="checkbox"
					name="holidayOnCallCheckbox" aria-label = "${properties.onCallLabel}"><span
					class="mr-inputCustomShape"></span>${properties.onCallLabel}</label>
			</div>
            <div data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
		</form>
	</div>
</div>