<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
   data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
   data-sly-call="${clientlib.all @ categories='tajhotels.holidays-experiences-list'}" />

<sly data-sly-use.model="com.ihcl.core.models.holidays.experiences.IExperienceCards">

  <div data-sly-test.edit="${wcmmode.edit}">
    Holidays Experiences Cards Component<br>
    Add cards for various categories and configure the details.
  </div>

<div class="cm-content-blocks holidays-experiences-list-content-block" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
   <div class="mr-holiday-destination-about-cards-wrapper">

      <div class="row mr-holidays-cards-wrapper" data-sly-list.experienceList=${model.listOfExperienceCards}> <!--card starts from here-->
         <div class="mr-holidays-activities-card-wrapper col-lg-4 col-md-6 col-sm-12 cm-card-showmore-spacing">
            <div class="mr-holidays-activities-card-Innerwrap">
               <div class="mr-holidays-activities-card-Imgwrap">
               <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=experienceList.experienceImagePath, context='html', lazyload='true', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', styleclass='mr-holidays-Destination-about-image'}"/>
               </div>
               <div class="mr-experiences-description-wrap">
           		<div class="mr-experinces-title conceirge-title">
               		${experienceList.experienceTitle}
               	</div>
               	<div class="mr-experinces-detailsButton-wrap">
	              	<div class="mr-experinces-details-wrap">
	                   	<div class="mr-experinces-details-location hold-trend-desc">
                        	<P>${experienceList.description}</P>
       	                </div>
           	        </div>
               	    <div class="mr-experinces-Button-wrap">
                        <a href="${experienceList.experiencePagePath}.html">
	   	               	   <button class="cm-btn-secondary experience-button-styles conceirge-local-button">VIEW DETAILS</button>
                        </a>
                   </div>
       	       </div>
       		</div>
            </div>
         </div><!--card ends here-->
      </div>
   </div>
</div>