<sly data-sly-test="${wcmmode.edit}">AMA Gallery</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.hotels.gallery'}"></sly>

<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<section class="${properties.backgroundColor}">
    <sly data-sly-test="${properties.topPadding}">
    <div class="ama-gallery-padding"></div>
    </sly>
    <div class="galleryWrap">
        <div class="container">
            <div class="row">
                <sly data-sly-list.gImg="${resource.children}"> <sly data-sly-list.gImgChild="${gImg.children}">
                <div class="${gImgChild.size}">
                    <div class="singleImg">
                        <a class="${gImgChild.video ? 'video' : 'image'} image-popup-vertical-fit"
                            href="${gImgChild.image}${gImgChild.video? '' : '/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"
                            title="${gImgChild.description}"> <sly data-sly-test=${!gImgChild.video}
                                data-sly-call="${imagetemplate.damImageTemplate @ imagePath=gImgChild.image,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>
                            <sly data-sly-test=${gImgChild.video}> <video controls>
                                <source src="${gImgChild.image}">
                                Your browser does not support the video tag.
                            </video> </sly>
                        </a>
                    </div>
                </div>
                </sly> </sly>
            </div>
        </div>
    </div>
</section>
