
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.press-news'}" />
<div data-sly-test="${wcmmode.edit}">Press News</div>

    <div class="pressCard-container">
        <div class="pressCard-image-container">
            <img src="${properties.pressNewsImg}" alt="press card image" />
        </div>
        <div class="pressCard-description-container">
            <div class="pressCard-header">${properties.title}</div>
            <div class="pressCard-date">${properties.date}</div>
            <div class="pressCard-desc">
                ${properties.description} <a class="read-more"
                    href="../../../markup/pages/corporate/press_room_article.html">Read More</a>
            </div>
            <a style="position:  absolute;bottom: 1.5rem;right: 1.5rem;" href=${properties.viewRedirection}.html><button class="cm-btn-secondary">${properties.buttonLabel}</button></a>
        </div>
    </div>

