<sly
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='taj.hotels.components.dynamic-banner-carousel'}" 
        data-sly-use.banners="com.ihcl.core.models.holidays.enquiry.banner.BannerImagePropertiesFetcher"/>
<div data-sly-test.edit="${wcmmode.edit}">
    Dynamic Banner Carousel Component
</div>
<section class="hotel-carousel-section">
    <div class="carousel slide" id="bannerCarousel" data-ride="carousel">
        <ol class="carousel-indicators mr-carousel-dots">
			<sly data-sly-list.bannerPic="${banners.dynamicBanners}">
                <li data-sly-test="${bannerPicList.first}" class="active" data-target="#bannerCarousel" data-slide-to="${bannerPicList.index}"></li>
                <li data-sly-test="${!bannerPicList.first}" data-target="#bannerCarousel" data-slide-to="${bannerPicList.index}"></li>
            </sly>
        </ol>
        <div class="carousel-inner mr-carousel-wrap">
            <sly data-sly-list.bannerImages="${banners.dynamicBanners}">
                <div  class="carousel-item active" data-sly-test="${bannerImagesList.first}">
                    <div class="banner-carousel-each-wrap" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                        <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= bannerImages.bannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', lazyload='true'}"></sly>
                        <div class="mr-carousel-image-contents-wrapper">
                           <h1 class="mr-offers-and-promotions">${bannerImages.bannerTitle}</h1>
                            <div class="mr-innerCircle-member-offers">
                                <span class="mobile-display-none">${bannerImages.bannerDescDesk}</span>
                                <span class="desktop-display-none">${bannerImages.bannerDescMob}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sly-test="${!bannerImagesList.first}" class="carousel-item">
                    <div class="banner-carousel-each-wrap" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                        <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= bannerImages.bannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', lazyload='true'}"></sly>
                        <div class="mr-carousel-image-contents-wrapper">
                           <h1 class="mr-offers-and-promotions">${bannerImages.bannerTitle}</h1>
                            <div class="mr-innerCircle-member-offers">
                                <span class="mobile-display-none">${bannerImages.bannerDescDesk}</span>
                                <span class="desktop-display-none">${bannerImages.bannerDescMob}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </sly>
        </div>
        <a class="carousel-control-prev carousel-control" href="#bannerCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next carousel-control" href="#bannerCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>