<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.holidays-confirm'}" />

<div data-sly-test.edit="${wcmmode.edit}">Holidays Package Confirmation Component</div>

<div class="cm-content-blocks">
    <div class="incredible-escape-confirmation">
        <a class="incredible-escape-close" href="${properties.redirectLink}.html"><img
            src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" /></a>
        <div class="incredible-escape-bg-wrp"></div>
        <div class="incredible-escape-confirm-content">
            <img class="incredible-escape-confirm-icon" src="/content/dam/tajhotels/icons/style-icons/taj-group-logo.jpg"
                alt="taj-group-logo" />
            <div class="incredible-confirm-thanks">
                <span class="confirm-thanks-bold">Thank you ! </span>
                <span id="userName"></span>
            </div>
            <div class="incredible-confirm-message">We have received your request. We will get back to you regarding
                your requirements and help you book the best package.</div>
            <sly data-sly-test.hasDownloadableBrochureLink=${properties.downloadLink}>
            <div class="download-brochure">
                <div class="download-brochure-text">Download a brochure to get more inspiration</div>
                <div class="download-brochure-wrp">
                    <img class="download-brochure-icon" src="/content/dam/tajhotels/icons/style-icons/brochure.svg"
                        alt="brochure-icon" /> <a class="download-brochure-link" href="${properties.downloadLink}"
                        download="${properties.brochureName}">Download Brochure</a>
                </div>
            </div>
            </sly>
            <div class="confirmation-email">
                <spam>We have sent a confirmation email to </spam>
                <span class="confirmation-email-bold"></span>
            </div>
            <div class="confirm-page-options">
                <!--<div class="confirm-page-options-li"><img class="email-icon" src="/content/dam/tajhotels/icons/style-icons/brochure.svg" alt  = "brochure-icon"/>
                            <div class="confirm-page-option-text">Email</div>
                        </div>-->
                <div class="confirm-page-options-li" onclick="window.print()">
                    <img class="print-icon" src="/content/dam/tajhotels/icons/style-icons/print.svg" alt="print-icon" />
                    <div class="confirm-page-option-text">Print</div>
                </div>
                <!--<div class="confirm-page-options-li"><img class="calendar-icon" src="/content/dam/tajhotels/icons/style-icons/calendar-check-availability.svg" alt  = "calendar-check-availability-icon"/>
                            <div class="confirm-page-option-text">Add to calendar</div>
                        </div>-->
                <div class="share-btn-wrapper confirm-page-options-li" data-share-text="${properties.sharetext}">
                    <span class="share-btn-js">
                        <i class="icon-share inline-block"></i>
                        <span class="confirm-page-option-text">Share</span>
                    </span>
                    <div id="socials" class="share-options-list  share-btn-list-with-label"></div>
                </div>
                <!--<div class="confirm-page-options-li"><img class="share-icon" src="/content/dam/tajhotels/icons/style-icons/share.svg" alt  = "share-icon"/>
                            <div class="confirm-page-option-text">Share</div>
                        </div>-->
            </div>
            <a href="${properties.redirectLink}.html"><button class="confirm-page-done-btn cm-btn-secondary">DONE</button></a>
        </div>
    </div>
</div>