<div data-sly-use.model="com.ihcl.core.models.Destination" class="pop-dest-card"
     data-sly-use.imageTemplate="tajhotels/components/content/amp/image-template/image-template.html">
    <div class="pop-dest-img">
        <sly data-sly-call="${imageTemplate.damImageTemplate @ imagePath= model.hotelImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', layout='fill'}"></sly>
    </div>
    <div class="pop-dest-footer">
        <div class="pop-dest-name"><span>${model.destinationTitle}</span></div>
            <div>
                <a href="${resource.parent.getPath}.html">
                    <button class="cm-btn-secondary ${pageProperties.sitePath}">View Details</button>
                </a>
       		</div>
    </div>
</div>