<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.dining.details,tajhotels.gallerycarousel, tajhotels.hoteldetails'}" />
<sly data-sly-use.restaurantFilter="com.ihcl.core.models.RestaurantFilter" />
<sly data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher" />
<div class="gallery-carousel-container">
    <div data-sly-resource="${ '{0}' @  resourceType='tajhotels/components/content/gallery-carousel' }"></div>
</div>
<div data-sly-test.edit=${wcmmode.edit}>
    <h1>Edit to Configure the Dining Details Component</h1>
</div>
<sly data-sly-use.diningModel="com.ihcl.core.models.dining.Dining"> </sly>
<div data-sly-test="${diningModel.diningName}" data-sly-unwrap>
    <div class="specific-hotels-breadcrumb hide-in-sm">
        <span> </span>
    </div>
    <div class="cm-content-blocks">
        <div class="row">
            <div class="col-12">
                <div class="dining-details-card-container">
                    <div class="row">
                        <div class="col-12 hide-in-lg hide-in-md">
                            <div class="mr-list-tic-epicure-wrap dining-card hide-in-lg hide-in-md">
                                <div class="mr-list-epicure-mobile-border">
                                    <span class="mr-list-tic">
                                        <span class="mr-list-tic-value"> ${diningModel.ticPoints} </span>
                                        TIC
                                    </span>
                                    <span class="mr-list-epicure">
                                        <span class="mr-list-tic-value"> ${diningModel.epicurePoints} </span>
                                        Epicure
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="mr-dining-card-content-wrap dining-details-card-styling">
                                <div class="row">

                                    <div class="col-12 mobile-styling-dining-details-card-contents">
                                        <div class="dining-details-menu-wrap">
                                            <div class="dining-details-menu-wrap-heading">
                                                <h1 data-sly-element="${properties.type}"
                                                    class="mr-dining-title inline-block">${diningModel.diningName}</h1>

                                                <div class="mr-rating-wrap dining-card-rating inline-block">${diningModel.reviewRating}</div>
                                            </div>
                                            <div class="mr-hotel-location-address mr-dining-hotel-address">
                                                <div class="mr-list-location-icon-wrap">
                                                    <i class="mr-dining-location-description-icons icon-location"></i>
                                                </div>
                                                <div class="mr-list-address-wrap">
                                                    <sly data-sly-test="${diningModel.restaurantAddress}"> <span
                                                        class="mr-desktop-address ">
                                                        <a
                                                            class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-dining-menu-card"
                                                            target="_blank"
                                                            href="https://www.google.com/maps/search/?api=1&query=${diningModel.restaurantAddress}">
                                                            ${diningModel.restaurantAddress} </a>
                                                    </span> </sly>
                                                    <sly data-sly-test="${!diningModel.restaurantAddress}"> <span
                                                        class="mr-desktop-address ">
                                                        <a
                                                            class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-dining-menu-card"
                                                            target="_blank"
                                                            href="https://www.google.com/maps/search/?api=1&query=${hotelProperties.hotelLatitude},${hotelProperties.hotelLongitude}">
                                                            <sly data-sly-test="${!hotelProperties.hotelArea}">
                                                            ${hotelProperties.hotelCity},${hotelProperties.hotelPinCode},${hotelProperties.hotelCountry}
                                                            </sly> <sly data-sly-test=" ${!hotelProperties.hotelCity}">
                                                            ${hotelProperties.hotelArea},${hotelProperties.hotelPinCode},${hotelProperties.hotelCountry}
                                                            </sly> <sly data-sly-test="${!hotelProperties.hotelPinCode}">
                                                            ${hotelProperties.hotelArea},${hotelProperties.hotelCity},${hotelProperties.hotelCountry}
                                                            </sly> <sly data-sly-test="${!hotelProperties.hotelCountry}">
                                                            ${hotelProperties.hotelArea},${hotelProperties.hotelCity},${hotelProperties.hotelPinCode}
                                                            </sly> <sly
                                                                data-sly-test="${hotelProperties.hotelArea && hotelProperties.hotelCity && hotelProperties.hotelPinCode && hotelProperties.hotelPinCode}">
                                                            ${hotelProperties.hotelArea},${hotelProperties.hotelCity},${hotelProperties.hotelPinCode},${hotelProperties.hotelCountry}
                                                            </sly>
                                                        </a>
                                                    </span> </sly>
                                                </div>
                                            </div>
                                            <div class="mr-dining-phno-menu-details-container">

                                                <div class="mr-dining-phone-number-wrap detail-menu-border">
                                                    <div class="mr-dining-details-table-wrap">
                                                        <a class="ho-contact-number hide-in-lg inline-block"
                                                            href="tel:${diningModel.diningPhoneNumber}"> <i
                                                            class="icon-phone-enabled ho-cm-icon ho-contact-icon inline-block"></i>
                                                            <div
                                                                class="inline-block ho-mail-to-txt cm-view-link-txt cm-font-calibri align-text-top">
                                                                ${diningModel.diningPhoneNumber}</div>
                                                        </a>
                                                        <div
                                                            class="ho-contact-number hide-in-sm hide-in-md inline-block disabled">
                                                            <i
                                                                class="icon-phone-disabled ho-cm-icon ho-contact-icon inline-block"></i>
                                                            <div class="inline-block ho-mail-to-txt">${diningModel.diningPhoneNumber}</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <sly data-sly-test="${diningModel.pathToDownloadFrom}">
                                                <div class="mr-dining-menuDetails-number-wrap detail-menu-border">
                                                    <div class="mr-dining-details-table-wrap">
                                                        <div class="mr-dining-details-table-cell-wrap">
                                                            <span class="icon-menu-icon mr-dining-description-icons"></span>
                                                        </div>
                                                        <a class="mr-download-link" href="${diningModel.pathToDownloadFrom}"
                                                            download> <span
                                                                class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-dining-menu-card mr-dining-viewMenu">
                                                                VIEW MENU</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                </sly>
                                            </div>
                                            <div class="mr-dining-description-wrap">
                                                <div class="mr-dining-description placeholder-title-wrap">
                                                    <div class="placeholder-title">${diningModel.diningLongDescription
                                                        @context="html"}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mr-regulations-reserve-a-table-wrap">
                                        <div class="row">
                                            <div class="col-12 mobile-styling-dining-details-card-contents">
                                                <div class="mr-regulations-styling">
                                                    <div class="row">
                                                        <div class="col-sm-5 mr-regulation-border mr-regulation-each-styles">
                                                            <div class="mr-dining-regulations">
                                                                <span class="mr-regulation-title">Cuisine -</span>
                                                                <span class="mr-regulation-answer regulation-answer-cuisine">${diningModel.diningCuisine}</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-7 mr-regulation-each-styles regulation-padding">
                                                            <sly data-sly-test.timings=${diningModel.timingsLabel1}> <span
                                                                class="mr-regulation-title">${diningModel.timingsLabel1}
                                                                -</span> <span class="mr-regulation-answer">${diningModel.timingsValue1}</span>
                                                            </sly>
                                                        </div>
                                                        <div class="col-sm-5 mr-regulation-border mr-regulation-each-styles">
                                                            <div class="mr-dining-regulations"></div>
                                                            <div class="mr-dining-regulations">
                                                                <span class="mr-regulation-title">Dress code -</span>
                                                                <span class="mr-regulation-answer">${diningModel.dressCode}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-7 mr-regulation-each-styles regulation-padding">
                                                            <sly data-sly-test.timings=${diningModel.timingsLabel2}> <span
                                                                class="mr-regulation-title">${diningModel.timingsLabel2}
                                                                -</span> <span class="mr-regulation-answer">${diningModel.timingsValue2}</span>
                                                            </sly>
                                                        </div>
                                                        <sly data-sly-test.timings=${diningModel.timingslabel3}>
                                                        <div class="col-5 mr-regulation-border mr-regulation-each-styles">
                                                            <div class="mr-dining-regulations"></div>
                                                            <div class="mr-dining-regulations">
                                                                <span class="mr-regulation-title">${diningModel.timingslabel3}
                                                                    -</span>
                                                                <span class="mr-regulation-answer">${diningModel.timingsvalue3}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        </sly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <sly data-sly-test.offerspecific=${diningModel.averagePrice}>
                                    <div class="priceBlock-main-container">
                                        <div data-sly-test=${diningModel.ticPoints}>
                                            <div class="priceBlock-innercircle-img-wrap">
                                                <i class="icon-golden-flower priceBlock-innercircle-img"></i>
                                            </div>
                                        </div>
                                        <div class="priceBlock-details-wrap">
                                            <div class="priceBlockText">Average Price for 2 people</div>
                                            <div class="priceBlockTicEpicure">
                                                <sly data-sly-test.offerspecific=${diningModel.ticPoints}>
                                                <div class="ticEpicureDetails">
                                                    <span class="mr-list-tic">
                                                        ${diningModel.ticPoints}
                                                        <span class="mr-list-tic-value">TIC</span>
                                                    </span>
                                                </div>
                                                </sly>
                                                <sly data-sly-test.offerspecific=${diningModel.epicurePoints}>
                                                <div class="ticEpicureDetails">
                                                    <span class="mr-list-tic">
                                                        ${diningModel.epicurePoints}
                                                        <span class="mr-list-tic-value">Epicure</span>
                                                    </span>
                                                </div>
                                                </sly>
                                                <div class="priceBlock-Price">
                                                    <span class="diningAveragePriceSymbol">${diningModel.currencySymbol}</span>
                                                    <span class="diningAveragePrice">${diningModel.averagePrice}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    </sly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 hide-in-sm">
                            <div class="mr-dining-details-card-image-wrapper">

                                <sly data-sly-list.imagePath="${diningModel.galleryImagePaths.toString}"> <sly
                                    data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=imagePath}"
                                    data-sly-list="${firstImage.options}"> <sly
                                    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"
                                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=item, context='html', lazyload='true', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', styleclass='mr-dining-details-card-image'}" />
                                <!-- <img class="mr-dining-details-card-image"
                                    src="${item}" alt = "dining details card image"> --> </sly> </sly>

                                <div class="view-photos-container dining-card-view-photos" tabindex="0" role="button"
                                    data-gallery-images=${diningModel.galleryImagePaths.toString}
                                    onclick="showGallery(this)" data-dialog-btn="galleryCarousel">
                                    <img src="/content/dam/tajhotels/icons/style-icons/lightbox.svg" alt="lightbox-icon">
                                    <span>VIEW PHOTOS (${diningModel.numberOfImages})</span>
                                </div>


                            </div>
                        </div>
                        <div class="col-12 mobile-styling-dining-details-card-contents">
                            <div class="dining-details-reserve-Table-wrapper">
                                <div class="dining-details-reserve-Table-title">Reserve a Table</div>
                                <div data-sly-test="${diningModel.diningID}"
                                    class="hotel-dining-reserve-table-wrap reserveTable-dining-PageLevel">
                                    <form class="mr-sub-form">
                                        <input type=hidden name="interfaceId" id="interfaceId" value="${properties.interfaceId ? properties.interfaceId : '5'}"/>
                                        <div class="hotel-dining-reserve-table-container">
                                            <div class="hoteld-dining-border-decorator"></div>
                                            <div class="row">
                                                <div class="col-lg-3 col-12 sub-form-input-wrp mealType-border">
                                                    <div class="sub-form-input-label mr-reserveTable-date-styling">
                                                        Date</div>
                                                    <div class="jiva-spa-date-section mr-reserveTable-date-styling">
                                                        <div
                                                            class="jiva-spa-date-con event-quote-date-con mr-reserveTable-dateStyling">
                                                            <input
                                                                class="event-quote-date-value sub-form-input-element mr-date-reserveTable-input"
                                                                type="text" aria-label="Jiva Spa ReserveTable Date"
                                                                placeholder="Date" value="" disabled="disabled" />
                                                            <i
                                                                class="icon-calendar-check-availability mr-date-reserveTable-input-icon"
                                                                tabindex="0" role="button"></i>
                                                        </div>
                                                        <div class="jiva-spa-date dining-reserveTable-Date"
                                                            id="jiva-spa-date"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-12">
                                                    <div
                                                        class="mr-reserve-table-select-wrap mr-numberOfPeopleReserveStyling">
                                                        <div class="mr-reserveTable-select-label">Number of People</div>
                                                        <div
                                                            class="selectSubContainer mr-reserveTable-select-wrap number-of-people">
                                                            <select aria-label="Number of people"
                                                                name="mr-reserveTable-number-of-people"
                                                                id="mr-reserveTable-number-of-people">
                                                                <option selected="selected">1</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-12">
                                                    <div
                                                        class="mr-reserve-table-select-wrap mr-numberOfPeopleReserveStyling mr-mealType">
                                                        <div class="mr-reserveTable-select-label">Meal Type</div>
                                                        <div class="selectSubContainer mr-reserveTable-select-wrap">

                                                            <select aria-label="Meal type" name="mr-reserveTable-meal-type"
                                                                id="mr-reserveTable-meal-type">
                                                                <sly
                                                                    data-sly-list.mealType="${restaurantFilter.mealTypeList}">
                                                                <option selected="selected">${mealType}</option>
                                                                </sly>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-12">
                                                    <div class="mr-reserve-table-button-wrap">
                                                        <a
                                                            href="${inheritedPageProperties.reserveATablePath}.html?diningid=${diningModel.diningID}&diningName=${diningModel.diningName}">
                                                            <button class="cm-btn-secondary mr-reserve-table-button-dining"
                                                                type="button">Check Availability</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <sly data-sly-test="${!diningModel.diningID}"> <sly
                                data-sly-test.addBookNowButton="${properties.addBookNowButton}">
                            <div class="mr-no-restaruant-booking-enabled">
                                <a href="${properties.bookNowUrl}"><button class="cm-btn-secondary mr-visit-hotel">${properties.bookNowText}</button></a>
                            </div>
                            </sly> <sly data-sly-test="${!addBookNowButton}">
                            <div class="hotel-dining-reserve-table-container mr-no-restaruant-booking-enabled">
                                Please call &nbsp; <a class="ho-contact-number hide-in-lg inline-block"
                                    href="tel:${diningModel.diningPhoneNumber}"> <i
                                    class="icon-phone-enabled ho-cm-icon ho-contact-icon inline-block"></i> <span
                                        class="inline-block ho-mail-to-txt cm-view-link-txt cm-font-calibri align-text-top">${diningModel.diningPhoneNumber}</span>
                                </a>
                                <div class="ho-contact-number hide-in-sm hide-in-md inline-block disabled">
                                    <i class="icon-phone-disabled ho-cm-icon ho-contact-icon inline-block"></i>
                                    <span class="inline-block ho-mail-to-txt">${diningModel.diningPhoneNumber}</span>
                                </div>
                                &nbsp; to reserve a table
                            </div>
                            </sly> </sly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ind-dining-rate-tax-disclaimer">${diningModel.taxDisclaimer}</div>
        </div>
    </div>