.incredible-escape-confirmation {
    position: relative;
    overflow: hidden;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-confirmation {
        margin-top: -2.5rem;
    }
}

.incredible-escape-confirmation .incredible-escape-close {
    position: fixed;
    z-index: 2;
    top: 15px;
    top: 0.9375rem;
    right: 20px;
    right: 1.25rem;
    display: none;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-confirmation .incredible-escape-close {
        display: block;
    }
}

.incredible-escape-confirmation .incredible-escape-bg-wrp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
}

.incredible-escape-confirmation .incredible-escape-bg-wrp .incredible-escape-bg-img {
    height: 100%;
}

.incredible-escape-confirmation .incredible-escape-confirm-content {
    position: relative;
    z-index: 1;
    padding: 48px 29px;
    padding: 3rem 1.8125rem;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-confirmation .incredible-escape-confirm-content {
        padding-bottom: 1.875rem;
    }
}

.incredible-escape-confirmation .incredible-escape-confirm-content .incredible-escape-confirm-icon {
    width: 77px;
    width: 4.8125rem;
    height: 74px;
    height: 4.625rem;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-confirmation .incredible-escape-confirm-content .incredible-escape-confirm-icon {
        width: 2.875rem;
        height: 2.75rem;
        margin-bottom: 0.1875rem;
    }
}

.incredible-escape-confirmation .incredible-escape-confirm-content .incredible-confirm-thanks {
    font-family: Calibri;
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.2;
    letter-spacing: 0px;
    letter-spacing: 0.0375rem;
    color: var(--primaryColor);
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-confirmation .incredible-escape-confirm-content .incredible-confirm-thanks {
        font-size: 1.25rem;
    }
}

.incredible-escape-confirmation .incredible-escape-confirm-content .incredible-confirm-thanks .confirm-thanks-bold {
    font-family: Calibri-bold;
}

.incredible-escape-confirmation .incredible-escape-confirm-content .incredible-confirm-message {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    text-align: center;
    color: #282828;
    width: 100%;
    max-width: 534px;
    max-width: 33.375rem;
    margin: auto;
    margin-bottom: 37px;
    margin-bottom: 2.3125rem;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-confirmation .incredible-escape-confirm-content .incredible-confirm-message {
        max-width: 22.3125rem;
        margin-bottom: 0.9375rem;
    }
}

.incredible-escape-confirmation .incredible-escape-confirm-content .download-brochure {
    border-radius: 2px;
    background-color: #fceedd;
    padding: 13px 35px 11px;
    padding: 0.8125rem 2.1875rem 0.6875rem;
    width: 100%;
    max-width: 442px;
    max-width: 27.625rem;
    margin: auto;
    margin-bottom: 37px;
    margin-bottom: 2.3125rem;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-confirmation .incredible-escape-confirm-content .download-brochure {
        max-width: 20.375rem;
        padding: 0.8125rem 0.625rem 0.6875rem;
        margin-bottom: 1.3125rem;
    }
}

.incredible-escape-confirmation .incredible-escape-confirm-content .download-brochure .download-brochure-text {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    color: #4a4a4a;
    margin-bottom: 6px;
    margin-bottom: 0.375rem;
}

.incredible-escape-confirmation .incredible-escape-confirm-content .download-brochure .download-brochure-wrp .download-brochure-icon {
    width: 25px;
    width: 1.5625rem;
    height: 31px;
    height: 1.9375rem;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-confirmation .incredible-escape-confirm-content .download-brochure .download-brochure-wrp .download-brochure-icon {
        width: 1.30625rem;
        height: 1.5875rem;
    }
}

.incredible-escape-confirmation .incredible-escape-confirm-content .download-brochure .download-brochure-wrp .download-brochure-link {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25625rem;
    color: var(--primaryColor);
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-confirmation .incredible-escape-confirm-content .download-brochure .download-brochure-wrp .download-brochure-link {
        font-size: 1.05rem;
    }
}

.incredible-escape-confirmation .incredible-escape-confirm-content .confirmation-email {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #4a4a4a;
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-confirmation .incredible-escape-confirm-content .confirmation-email {
        font-size: 1rem;
    }
}

.incredible-escape-confirmation .incredible-escape-confirm-content .confirmation-email .confirmation-email-bold {
    font-family: Calibri-bold;
}

.incredible-escape-confirmation .incredible-escape-confirm-content .confirm-page-options {
    padding: 18px 0 0;
    padding: 1.125rem 0 0;
    border-top: dashed 1px #979797;
    width: 100%;
    max-width: 330px;
    max-width: 20.625rem;
    text-align: center;
    margin: auto;
    margin-bottom: 45px;
    margin-bottom: 2.8125rem;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-confirmation .incredible-escape-confirm-content .confirm-page-options {
        margin-bottom: 2.1875rem;
    }
}

.incredible-escape-confirmation .incredible-escape-confirm-content .confirm-page-options .confirm-page-options-li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-right: 0.625rem;
    cursor: pointer;
}

.incredible-escape-confirmation .incredible-escape-confirm-content .confirm-page-options .confirm-page-options-li:last-child {
    margin-right: 0;
}

.incredible-escape-confirmation .incredible-escape-confirm-content .confirm-page-options .confirm-page-options-li img {
    display: inline-block;
    vertical-align: middle;
}

.incredible-escape-confirmation .incredible-escape-confirm-content .confirm-page-options .confirm-page-options-li .confirm-page-option-text {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    color: #9b9b9b;
}

.incredible-escape-confirmation .incredible-escape-confirm-content .confirm-page-options .confirm-page-options-li .email-icon {
    width: 22px;
    width: 1.375rem;
}

.incredible-escape-confirmation .incredible-escape-confirm-content .confirm-page-options .confirm-page-options-li .print-icon {
    width: 21px;
    width: 1.3125rem;
}

.incredible-escape-confirmation .incredible-escape-confirm-content .confirm-page-options .confirm-page-options-li .calendar-icon {
    width: 17px;
    width: 1.0625rem;
}

.incredible-escape-confirmation .incredible-escape-confirm-content .confirm-page-options .confirm-page-options-li .share-icon {
    width: 14px;
    width: 0.875rem;
}

.incredible-escape-confirmation .incredible-escape-confirm-content .confirm-page-done-btn {
    max-width: 121px;
    max-width: 7.5625rem;
    margin: auto;
}