<div data-sly-use.list="com.ihcl.core.models.localarea.LocalAreaModel">

	<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
				 data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
		data-sly-call="${clientlib.all @ categories='tajhotels.localarealist,tajhotels.local-area-card'}" />

	<div class="concierge-Recommends-hotel cm-content-blocks">
	<div class="cm-header-label-con title-decorator-border">
            <h2 class="cm-header-label" data-sly-element="${properties.type}">${properties.title}</h2>
            </div>
       
		<div class="concierge-Recommends-container">
			<div class="concierge-Recommends recomends-one">
				<div class="row">
					<sly data-sly-test="${list.LocalAreaList}"> <sly
						data-sly-list.listItem="${list.LocalAreaList}">
					<sly
						data-sly-resource="${ '{0}' @ format=[listItem], resourceType='tajhotels/components/content/local-area-card' }"></sly>
					</sly> </sly>
				</div>
			</div>
		</div>
	</div>
</div>