<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	 data-sly-call="${clientlib.all @ categories='tajhotels.list.offerCard'}"></sly>

<div data-sly-use.model="com.ihcl.core.models.list.OfferListModel" class="offers-container cm-content-blocks" data-sly-attribute.data-hotel-path="${urlMap.mappedUrl}">
    <div class="row">
        <sly data-sly-list.item="${model.offerCardDetails}">
            <div class="offers-page-card-component col-lg-4 col-md-6 col-xs-12" data-offerType="${item.offerCategory}" data-noOfNights="${item.noOfNights}" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                <div class="offers-card-inner-wrapper">
                    <div class="offers-card-header-container" data-sly-test=${item.discountValue}>
                        <div class="offer-card-header-additional-points">
                            <div data-sly-test=${item.discountValue} class="offers-header-text"></div>
                        </div>
                    </div>
					<sly data-sly-test.imagePath="${item.offerImagePath}" />
                    <div>${imagePath}</div>
					<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= imagePath , styleClass='offers-card-image', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly>

                    <div class="offers-card-main hotel-offers-card-main" data-sly-test="${pageProperties.hotelBookingEngineId} ">
                        <div class="offers-card-title">${item.offerTitle}</div>
                        <div class="offers-card-description">${item.offerDescription}</div>

                        <div class="offers-card-footer clearfix">
                            <div class="offer-validity">
                                <sly data-sly-test="${!item.offerValidity}">
                                    <div class="offer-validity-date">Round the year</div>
                                </sly>
                                <sly data-sly-test="${item.offerValidity}">
                                    <div class="offer-validity-date">Valid till ${item.offerValidity}</div>
                                </sly>
                            </div>
                            <div>
                                <div class="offer-view-details button-view-details">
                                    <button onclick="onViewDetailsOfferSelection(''+'${item.offerPageURL @ context='text'}')" class="cm-btn-secondary">VIEW DETAILS</button>
                                </div>
                                <div class="offer-view-details button-view-details">
                                    <button onclick="onOfferSelection('${item.offerPageURL @ context='text'}', '${item.offerRateCode @ context='text'}', '${item.offerTitle @ context='text'}', '${item.noOfNights @ context='text'}', '${item.offerStartsFrom @ context='text'}', '${item.comparableOfferRateCode @ context='text'}')" class="cm-btn-secondary">BOOK NOW</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="offers-card-main" data-sly-test="${!pageProperties.hotelBookingEngineId} ">
                        <div class="offers-card-title">${item.offerTitle}</div>
                        <div class="offers-card-description">${item.offerDescription}</div>
                        <div class="offers-card-footer clearfix">
                            <div class="offer-validity">
                                <sly data-sly-test="${!item.offerValidity}">
                                    <div class="offer-validity-date">Round the year</div>
                                </sly>
                                <sly data-sly-test="${item.offerValidity}">
                                    <div class="offer-validity-date">Valid till ${item.offerValidity}</div>
                                </sly>
                            </div>

                            <div class="offer-view-details button-view-details">
                                <button onclick="onOfferSelection('${item.offerPageURL @ context='text'}', '${item.offerRateCode @ context='text'}', '${item.offerTitle @ context='text'}', '${item.noOfNights @ context='text'}', '${item.offerStartsFrom @ context='text'}', '${item.comparableOfferRateCode @ context='text'}')" class="cm-btn-secondary">VIEW DETAILS</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </sly>
    </div>
</div>