<sly data-sly-use.model="com.ihcl.core.models.list.OfferListModel" />
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html" />
<sly data-sly-test.displayAs="${properties.displayAs}">
    <div data-sly-use.listItem="listitem_${displayAs}.html" data-sly-call="${listItem}"></div>
</sly>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.all @ categories='tajhotels.list'}" />
<sly data-sly-call="${template.placeholder @ isEmpty=model.offerCardDetails, classAppend='cmp-list'}"></sly>