<template data-sly-template.popup="${}">
    <div class="member-signup-confirmation">
        <img class="member-signup-confirmation-logo"
             src="/content/dam/tajhotels/icons/style-icons/taj-group-logo.jpg" alt = "Signup Confirmation logo"/>
        <div class="signup-confirmation-heading"><span>${properties.successHeader}</span>
            <span class="first-name">First Name</span>&nbsp;<span class="last-name">Last Name</span>
        </div>
        <div class="signup-confirmation-info">${properties.successText @ context='html'}</div>
        <div class="tic-id-wrapper">
            <div class="tic-id-prop-cont tic-email-wrapper">
                <div class="tic-id-label">${properties.successEmailText}</div>
                <div class="tic-id-value"></div>
            </div>
            <div class="tic-id-prop-cont tic-membid-wrapper">
                <div class="tic-id-label">${properties.successMembIdText}</div>
                <div class="tic-id-value"></div>
            </div>
        </div>
        <div class="signup-confirmation-btn-cont">
            <div class="tic-online-activation-wrps">${properties.activateMsg}</div>
            <button class="cm-btn-primary tic-online-activation-wrp activate-now otp-generation-screen" type="button" aria-label ="confirm Activate button">${properties.confirmActivateBtnLabel}</button>
            <button class="cm-btn-secondary signup-done generic-signin-done-btn" type="button" aria-label ="skip activate button">${properties.confirmSkipActivateBtnLabel}</button>
        </div>
    </div>
    <sly data-sly-use.otp="otp.html" data-sly-call="${otp.popup}"></sly>
    <div class="epicure-confirm-url" style="display:none">${properties.epicureConfirmUrl}</div>
</template>