<template data-sly-template.form="${}">
    <form class="mr-sub-form member-signup-form" data-form-id="member-signup-form">
        <div class="member-signup-header-container">
            <div class="d-flex justify-content-center member-signup-heading" ><h1 style="font-size:2.5rem">${currentPage.parent.properties.hotelName}</h1></div>
            <div class="member-signup-heading">${properties.formTitle}</div>
            <div class="member-signup-subtitle">${properties.formSubTitle}</div>
        </div>
        <div class="row mr-sub-form-row">
            <div class="col-12 col-md-2 sub-form-input-wrp enroll-col-md-3">
                <div class="sub-form-input-label">${properties.titleLabel}</div>
                <div class="selectSubContainer">
                    <select data-form-id="health-title" class="sub-form-input-element sub-form-mandatory" placeholder="${properties.titlePlaceholder}" aria-label = "Select Title">
                        <option selected="selected" value="Mr.">Mr.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Ms.">Ms.</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-5 sub-form-input-wrp enroll-col-md-4">
                <div class="sub-form-input-label">${properties.firstNameLabel}</div>
                <input data-form-id="health-firstname" class="only-alpha-input sub-form-input-element sub-form-mandatory"
                       type="text"
                       aria-label = "Enter FirstName"
                       placeholder="${properties.firstNamePlaceholder}" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-12 col-md-5 sub-form-input-wrp">
                <div class="sub-form-input-label">${properties.lastNameLabel}</div>
                <input data-form-id="health-lastname"
                       class="only-alpha-input sub-form-input-element sub-form-mandatory"
                       type="text" placeholder="${properties.lastNamePlaceholder}" aria-label = "Enter LastName" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp enroll-col-md-4">
                <div class="sub-form-input-label mr-hide">Enter Arrival Date in India</div>
                <div class="jiva-spa-date-section preferred-date-input-wrp signup-DOB-input-wrapper signup-DOB-input-wrapper">
                    <div class="jiva-spa-date-con event-quote-date-con">
                        <input data-form-id="health-arrivalIndia" class="date-value sub-form-input-element" type="text"
                        aria-label = "Enter Arrival Date in India"
                               placeholder="" value="" disabled="disabled" />
                        <div class="sub-form-input-warning"></div>
                        <span class="icon-calendar-check-availability preferred-date-calendar-icon"></span>
                    </div>
                    <div class="jiva-spa-date arrivalIndia-datepicker-container"></div>
                </div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp enroll-col-md-4">
                <div class="sub-form-input-label mr-hide">Enter Arrival Date in Hotel *</div>
                <div class="jiva-spa-date-section preferred-date-input-wrp signup-DOB-input-wrapper signup-DOB-input-wrapper">
                    <div class="jiva-spa-date-con event-quote-date-con">
                        <input data-form-id="health-arrivalHotel" class="date-value sub-form-input-element sub-form-mandatory" type="text"
                        aria-label = "Enter Arrival Date in Hotel"
                               placeholder="" value="" disabled="disabled" />
                        <div class="sub-form-input-warning"></div>
                        <span class="icon-calendar-check-availability preferred-date-calendar-icon"></span>
                    </div>
                    <div class="jiva-spa-date arrivalHotel-datepicker-container"></div>
                </div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp enroll-col-md-4">
                <div class="sub-form-input-label mr-hide">Enter Departure Date *</div>
                <div class="jiva-spa-date-section preferred-date-input-wrp signup-DOB-input-wrapper signup-DOB-input-wrapper">
                    <div class="jiva-spa-date-con event-quote-date-con">
                        <input data-form-id="health-depart" class="date-value sub-form-input-element sub-form-mandatory" type="text"
                        aria-label = "Enter Departure Date"
                               placeholder="" value="" disabled="disabled" />
                        <div class="sub-form-input-warning"></div>
                        <span class="icon-calendar-check-availability preferred-date-calendar-icon"></span>
                    </div>
                    <div class="jiva-spa-date depart-datepicker-container"></div>
                </div>
            </div>
			<div class="col-12 col-md-6 sub-form-input-wrp enroll-col-md-6">
				<div class="sub-form-input-label">Arriving From *</div>
				<input data-form-id="health-arrivingFrom" class="only-alpha-input sub-form-input-element sub-form-mandatory"
					   type="text"
					   aria-label = "Arriving From"
					   placeholder="" />
				<div class="sub-form-input-warning"></div>
			</div>
			<div class="col-12 col-md-6 sub-form-input-wrp enroll-col-md-6">
				<div class="sub-form-input-label">Departing to *</div>
				<input data-form-id="health-departingTo" class="only-alpha-input sub-form-input-element sub-form-mandatory"
					   type="text"
					   aria-label = "Departing to"
					   placeholder="" />
				<div class="sub-form-input-warning"></div>
			</div>
            <div class="col-12 col-md-6 sub-form-input-wrp enroll-col-md-5">
                <div class="sub-form-input-label">${properties.emailLabel}</div>
                <input data-form-id="health-email" class="email-input sub-form-input-element sub-form-mandatory" aria-label = "Enter Email"
                       type="text" placeholder="${properties.emailPlaceholder}" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-12 col-md-6 sub-form-input-wrp enroll-col-md-6">
                <div class="sub-form-input-label">${properties.phoneNumLabel}</div>
                <input data-form-id="health-mobile" class="only-numeric-input sub-form-input-element sub-form-mandatory" aria-label = "Enter Mobile Number"
                       type="tel" placeholder="${properties.phoneNumPlaceholder}" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-12 col-md-6 sub-form-input-wrp">
                <div class="sub-form-input-label">ID Document Number *</div>
                    <input data-form-id="health-passport" class="sub-form-input-element sub-form-mandatory"
                           type="text" placeholder="" aria-label = "Enter ID Document Number"/>
                    <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-12 col-md-6 sub-form-input-wrp">
                <div class="sub-form-input-label">Organization</div>
                <input data-form-id="health-organization" class="sub-form-input-element"
                       type="text" placeholder="" aria-label = "Enter Organization"/>
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-12 col-md-6 sub-form-input-wrp enroll-col-md-6">
                <div class="sub-form-input-label">Enter Relative's Name </div>
                <input data-form-id="health-relativeName" class="only-alpha-input sub-form-input-element"
                       type="text"
                       aria-label = "Relative's Name"
                       placeholder="" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-12 col-md-6 sub-form-input-wrp enroll-col-md-6">
                <div class="sub-form-input-label">Enter Relative's Phone number </div>
                <input data-form-id="health-relativeMobile" class="only-numeric-input sub-form-input-element" aria-label = "Enter Mobile Number"
                       type="tel" placeholder="" />
                <div class="sub-form-input-warning"></div>
            </div>
        </div>
        <div class="row mr-sub-form-row">
            <sly data-sly-test="${!properties.addressOptional}">
                <div class="col-12 col-md-6 sub-form-input-wrp">
                    <div class="sub-form-input-label">${properties.address1Label}</div>
                    <input data-form-id="health-address1" class="sub-form-input-element sub-form-mandatory"
                           type="text" placeholder="${properties.address1Placeholder}" aria-label = "Enter Address"/>
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="col-12 col-md-6 sub-form-input-wrp">
                    <!--
                    <div class="sub-form-input-label">${properties.address2Label}</div>
                    <input data-form-id="health-address2" class="sub-form-input-element"
                           type="text" placeholder="${properties.address2Placeholder}" aria-label = "Enter Address2" />
					-->
                </div>
                <div class="col-md-3 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">${properties.countryLabel}</div>
                    <div class="selectSubContainer">
                        <select data-form-id="health-country" class="sub-form-input-element sub-form-mandatory" aria-label = "Select Country">
                            <option selected="selected" value="">Select</option>
                        </select>
                    </div>
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="col-md-3 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">${properties.stateLabel}</div>
                    <div class="selectSubContainer">
                        <select data-form-id="health-state" class="sub-form-input-element sub-form-mandatory" aria-label = "Select State">
                            <option selected="selected" value="">Select</option>
                        </select>
                    </div>
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="col-md-3 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">${properties.cityLabel}</div>
                    <div class="selectSubContainer">
                        <select data-form-id="health-city" class="sub-form-input-element sub-form-mandatory" aria-label = "Select City">
                            <option selected="selected" value="">Select</option>
                        </select>
                    </div>
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="col-md-3 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">${properties.pincodeLabel}</div>
                    <input data-form-id="health-pincode" class="only-alphaNumeric-input sub-form-input-element sub-form-mandatory" aria-label = "Enter Pincode"
                           placeholder="${properties.pincodePlaceholder}" />
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="col-12 col-md-12 sub-form-input-wrp enroll-col-md-12">
                <div class="sub-form-input-label">Are you experiencing any of the symptoms listed below? Please indicate as many as applicable. *</div>
                <table id="tblSymptoms">
                    <tr>
                        <td><input id="Fever" type="checkbox" value="Fever"/><label class="pl-2" for="Fever">Fever</label></td>
                    </tr>
                    <tr>
                        <td><input id="DryCough" type="checkbox" value="Dry Cough"/><label class="pl-2" for="DryCough"> Dry Cough</label></td>
                    </tr>
                    <tr>
                        <td><input id="SoreThroat" type="checkbox" value="Sore Throat"/><label class="pl-2" for="SoreThroat"> Sore Throat</label></td>
                    </tr>
                    <tr>
                        <td><input id="RunnyNose" type="checkbox" value="Runny Nose"/><label class="pl-2" for="RunnyNose"> Runny Nose</label></td>
                    </tr>
                    <tr>
                        <td><input id="Headaches" type="checkbox" value="Headaches"/><label class="pl-2" for="Headaches"> Headaches</label></td>
                    </tr>
                	<tr>
                        <td><input id="Breathing" type="checkbox" value="Breathing Difficulty or Shortness of Breath"/><label class="pl-2" for="Breathing"> Breathing Difficulty or Shortness of Breath</label></td>
                    </tr>
                	<tr>
                        <td><input id="BodyAches" type="checkbox" value="Body Aches"/><label class="pl-2" for="BodyAches"> Body Aches</label></td>
                    </tr>
                	<tr>
                        <td><input id="NoSymptoms" type="checkbox" value="No Symptoms"/><label class="pl-2" for="NoSymptoms"> No Symptoms</label></td>
                    </tr>
                </table>
                <div class="selectedSymptoms d-none" style="color: #f44336; font-size:0.9rem;">Please select at least one.</div>
            </div>
            <div class="col-12 col-md-12 sub-form-input-wrp enroll-col-md-12">
                <div class="sub-form-input-label d-none">response.</div>
                <div class="q-sub-form-input-label">Have you been in contact with a confirmed COVID -19 case in the past 14 days? *</div>
                <div class="selectSubContainer">
                    <select data-form-id="health-q2" class="sub-form-input-element sub-form-mandatory"  placeholder="${properties.titlePlaceholder}" aria-label = "Select as Applicable">
                        <option value="">Select</option>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                <div class="sub-form-input-warning"></div>
                </div>
            </div>
            <div class="col-12 col-md-12 sub-form-input-wrp enroll-col-md-12">
                <div class="sub-form-input-label d-none">response.</div>
                <div class="q-sub-form-input-label">Have you been asked to go for home quarantine by an authority or medical practitioner? *</div>
                <div class="selectSubContainer">
                    <select data-form-id="health-q3" class="sub-form-input-element sub-form-mandatory" placeholder="${properties.titlePlaceholder}" aria-label = "Select as Applicable">
                    	<option value="">Select</option>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                <div class="sub-form-input-warning"></div>
                </div>
            </div>
            <div class="col-12 col-md-12 sub-form-input-wrp enroll-col-md-12">
                <div class="sub-form-input-label d-none">response.</div>
                <div class="q-sub-form-input-label">Have you been a confirmed COVID-19 patient? *</div>
                <div class="selectSubContainer">
                    <select data-form-id="health-q4" class="sub-form-input-element sub-form-mandatory" placeholder="${properties.titlePlaceholder}" aria-label = "Select as Applicable">
                       	<option value="">Select</option>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                <div class="sub-form-input-warning"></div>
                </div>
            </div>
            <div class="col-12 col-md-12 sub-form-input-wrp enroll-col-md-12">
                <div class="sub-form-input-label d-none">response.</div>
                <div class="q-sub-form-input-label">Have you been to any red zone / affected countries or area(s) in the past 14 days? *</div>
                <div class="selectSubContainer">
                    <select data-form-id="health-q5" class="sub-form-input-element sub-form-mandatory" placeholder="${properties.titlePlaceholder}" aria-label = "Select as Applicable">
                        <option value="">Select</option>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                <div class="sub-form-input-warning"></div>
                </div>
            </div>
            </sly>
            <div class="col-12 choice-input-col" data-sly-test="${properties.tncLabel}">
                <label class="mr-filterCheckBox-label checkbox-inline">
                    <input class="mr-filter-checkbox" data-form-id="signup-terms-accept" type="checkbox" name="" aria-label = "">
                    <span class="mr-inputCustomShape"></span>
                    <span><span class="sr-only">checkbox</span>${properties.tncLabel @ context='html'}</span>
                    <div class="sub-form-input-warning"></div>
                </label>
            </div>
                <div class="col-12 col-md-12">
                <input type="checkbox" class="mr-2" data-form-id="emailCheck" name="emailCheck">Please check if you would like to receive a copy on your email</input>
                </div>
            <div class="wrapper signature-wrapper d-flex flex-column mb-4 px-md-3">
                <div class="guest-sign">Guest Signature *</div>
                <canvas id="signature-pad" class="signature-pad mb-2" width=300 height=200></canvas>
                <div class="sub-warning-signature d-none" style="color: #f44336; font-size: 0.9rem">Signature is required.</div>
                <button id="clear" style="width:200px;" class="cm-btn-primary">Clear Signature</button>
            </div>


            <div class="sign-up-btn-wrp col-12 tic-captcha-align pb-5" >
                <button data-form-id="sign-up-btn" class="cm-btn-secondary signup-submit-btn pay-now-button m-auto" aria-label = "submit button" type="button">${properties.submitBtnLabel}</button>
            </div>
        </div>
    </form>
</template>