<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='taj.hotels.healthConsent'}" />
<div data-sly-test.edit=${wcmmode.edit}>
    Health Consent
</div>

<div id="hotel-email" style="display:none;">${currentPage.parent.properties.hotelEmail}</div>
<div id="hotel-name" style="display:none;">${currentPage.parent.properties.hotelName}</div>
<div id="hotel-area" style="display:none;">${currentPage.parent.properties.hotelArea}</div>
<div id="hotel-city" style="display:none;">${currentPage.parent.properties.hotelCity}</div>
<div id="hotel-pin" style="display:none;">${currentPage.parent.properties.hotelPinCode}</div>
<div id="hotel-std" style="display:none;">${currentPage.parent.properties.hotelStdCode}</div>
<div id="hotel-fax" style="display:none;">${currentPage.parent.properties.faxPhone}</div>
<div id="hotel-phone" style="display:none;">${currentPage.parent.properties.hotelPhoneNumber}</div>
<div id="hotel-brandsite" style="display:none;">${currentPage.path}</div>

<div data-component-id="${currentNode.name}" class="member-signup-component ${properties.formCustomClass}"
     data-sly-use.confirmation="confirmation.html"
     data-sly-use.enrol="enrol-form.html"
     data-is-epicure-enrol-form="${properties.isEpicureEnrolForm}"
     data-sly-use.paymentNavigationConfirm="payment-navigation-confirm.html">
    <sly data-sly-test="${!properties.socialSignup}" data-sly-call="${enrol.form}"></sly>
    <sly data-sly-test="${properties.socialSignup}" data-sly-call="${socialSignup.form}"></sly>
    <sly data-sly-call="${confirmation.popup}"></sly>
  <!--  <sly data-sly-call="${paymentNavigationConfirm.form}"></sly> --->
</div>
<script>
$( document ).ready( function() {
    registerSignup(
        "${currentNode.name @ context='text'}",
        "${properties.flowSuccessUrl @ context='text'}",
        {
            GEN_ENROL_ERR: "${properties.genericEnrolErr @ context='text'}",
            T_N_C_ERR: "${properties.tncErr @ context='text'}",
            PASS_SIZE_ERR: "${properties.passSizeErr @ context='text'}",
            GEN_OTP_ERR: "${properties.genericOtpErr @ context='text'}",
            OTP_SIZE_ERR: "${properties.otpSizeErr @ context='text'}",
            EMAIL_REGISTERED_ERR: "${properties.emailRegErr @ context='text'}",
            GEN_LINK_ERR: "${properties.linkTicErr @ context='text'}",
            PHONE_REGISTERED_ERR: "${properties.phoneRegErr @ context='text'}"
        },
        ${properties.socialSignup @ context='scriptToken'}
    );
});
</script>