<template data-sly-template.popup="${}">
    <div class="account-online-otp-wrapper" style="display:none">
        <div class="account-user-created">
            <div>${properties.actAccProfileCreated}</div>
            <div>${properties.actAccOtpLocationText}</div>

        </div>
        <div class="resend-otp-wrapper">
            <span>${properties.actAccResendOtpText}</span><a class="tic-online-resend-otp" href="#" aria-label = "resend otp">${properties.actAccResendOtpLabel}</a>
            <div class="resend-success-message">OTP sent successfully</div>
            <div class="resend-fail-message"></div>
        </div>

        <div class="account-input-wrp mr-sub-form">
            <div class="emailid-wrp input-wrapper sub-form-input-wrp">
                <div class="account-input-label sub-form-input-label"></div>
                <input data-form-id="online-otp-input" type="text"
                       class="account-activate-input only-numeric-input sub-form-input-element sub-form-mandatory" aria-label = "Enter Otp"
                       placeholder="${properties.otpInputPlaceholder}"/>
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="validate-success-message"></div>
        </div>
        <div class="online-account-otp-btn-wrapper">
            <button data-form-id="signup-otp-next" class="cm-btn-secondary" type="button" aria-label= "otp validate button">${properties.otpValidateBtnLabel}</button>
        </div>
    </div>
    <div data-component-id="otp-success" class="otp-success-container hide">
        <img class="otp-success-logo" src="/content/dam/tajhotels/icons/style-icons/taj-group-logo.jpg" alt  = "otp success logo">
        <div class="otp-validate-success-header">
            ${properties.otpSuccessHeader}
        </div>
        <div class="otp-validate-success-text">
            ${properties.otpSuccessText}
        </div>
        <div class="online-account-otp-btn-wrapper">
            <button data-form-id="validate-otp-done" class="cm-btn-secondary" type="button" aria-label="otp-done-button">${properties.otpDoneBtnLabel}</button>
        </div>
    </div>
</template>