<template data-sly-template.form="${}">
    <div class="epicture-form-wrapper mr-sub-form payment-navigation-confirm-form">
        <div class="epicture-form-information-text">
            ${properties.pncFormTitle}</div>
        <div class="row mr-sub-form-row">
            <div class="col-md-12 sub-form-input-wrp">
                <div class="sub-form-input-label">${properties.pncMessage}</div>
            </div>
        </div>
        <div class="epicture-form-btn-container">
            <button class="cm-btn-primary back-btn-style" type="button" aria-label = "epicure form button">${properties.pdPrimaryBtnLabel}</button>
            <button class="cm-btn-secondary next-btn-style" type="button" aria-label = "epicure form button">${properties.pncProceedButtonLabel}</button>
        </div>
    </div>
</template>