<template data-sly-template.form="${}">
    <form class="mr-sub-form member-signup-form" data-form-id="social-signup-form">
        <div class="member-signup-header-container">
            <div class="member-signup-heading">${properties.formTitle}</div>
            <div class="member-signup-subtitle">${properties.formSubTitle}</div>
        </div>
        <div class="row mr-sub-form-row">
            <div class="col-12 col-md-2 sub-form-input-wrp enroll-col-md-3">
                <div class="sub-form-input-label">${properties.titleLabel}</div>
                <div class="selectSubContainer">
                    <select data-form-id="signup-title" class="sub-form-input-element sub-form-mandatory" aria-label = "Select Title">
                        <option selected="selected" value="Mr.">Mr.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Ms.">Ms.</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-5 sub-form-input-wrp enroll-col-md-4">
                <div class="sub-form-input-label">${properties.firstNameLabel}</div>
                <input data-form-id="signup-firstname" class="only-alpha-input sub-form-input-element sub-form-mandatory"
                       type="text"
                       aria-label = "Enter FirstName"
                       placeholder="${properties.firstNamePlaceholder}" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-12 col-md-5 sub-form-input-wrp">
                <div class="sub-form-input-label">${properties.lastNameLabel}</div>
                <input data-form-id="signup-lastname"
                       class="only-alpha-input sub-form-input-element sub-form-mandatory"
                       type="text" placeholder="${properties.lastNamePlaceholder}" aria-label = "Enter LastName"/>
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-md-6 col-12 sub-form-input-wrp enroll-col-md-3">
                <div class="sub-form-input-label">${properties.genderLabel}</div>
                <div class="selectSubContainer">
                    <select data-form-id="signup-gender" class="sub-form-input-element sub-form-mandatory" aria-label = "Select Gender">
                        <option selected="selected" value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-12 col-md-6 sub-form-input-wrp enroll-col-md-3">
                <div class="sub-form-input-label">${properties.phoneNumLabel}</div>
                <input data-form-id="signup-mobile" class="only-numeric-input sub-form-input-element sub-form-mandatory"
                       type="tel" placeholder="${properties.phoneNumPlaceholder}" aria-label = "Enter Phone Number" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-12 choice-input-col" data-sly-test="${properties.tncLabel}">
                <label class="mr-filterCheckBox-label checkbox-inline">
                    <input class="mr-filter-checkbox" data-form-id="signup-terms-accept" type="checkbox" name="" aria-label = "Signup terms accept"/>
                    <span class="mr-inputCustomShape"></span>
                    <span>${properties.tncLabel @ context='html'}</span>
                    <div class="sub-form-input-warning"></div>
                </label>
            </div>
            <div class="sign-up-btn-wrp col-12">
                <button data-form-id="social-signup-btn" class="cm-btn-secondary signup-submit-btn" type="button">${properties.submitBtnLabel}</button>
            </div>
        </div>
    </form>
</template>