.ihcl-theme .ihclcb-image-carousel-container {
	border-radius: 4px;
	box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	padding: 40px !important;
}

.ihcl-theme .ihclcb-image-carousel-container .the-page-carousel {
	padding: 0;
}

.ihcl-theme .ihclcb-image-carousel-container .leftArrow,
	.ihclcb-image-carousel-container .rightArrow {
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	align-items: center;
}

.ihcl-theme .ihclcb-image-carousel-container .leftArrow img,
	.ihclcb-image-carousel-container .leftArrow .icon-carousel-arrow-coloured-left,
	.ihclcb-image-carousel-container .rightArrow img,
	.ihclcb-image-carousel-container .rightArrow .icon-carousel-arrow-coloured-right
	{
	font-size: 3rem;
}

.ihcl-theme .ihclcb-section-carousel-image img {
    max-height: 45px;
	max-width: 120px;
	height: auto;
	object-fit: contain;
}
.ihcl-theme .ihclcb-section-carousel-image {
	display: flex;
	align-items: center;
}

@media only screen and (min-width: 768px) {
    .ihcl-theme .seleqtion-img {    
        position: relative;
	    left: -50px;
	}
}
.ihcl-theme .seleqtion-img img {
	max-width: 162px;
}

@media only screen and (max-width: 767px) {
	.ihcl-theme .ihclcb-image-carousel-container {
		padding: 30px 30px 0 !important;
	}
	.ihcl-theme .ihclcb-image-carousel-container .clearfix {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.ihcl-theme .ihclcb-image-carousel-container .clearfix::after {
	   display: none;
	}
	.ihcl-theme .ihclcb-section-carousel-image {
		width: 45%;
		margin-bottom: 30px;
	}
	.ihcl-theme .ihclcb-section-carousel-image  img {
		width: 100%;
	}
	.ihcl-theme .ihclcb-brand-carousel {
		padding: 30px 20px;
	}
}