<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.dining-filter-selection, tajhotels.offerdetails'}" />
<sly data-sly-use.restaurantFilter="com.ihcl.core.models.RestaurantFilter" />
<div id="dining-search" class="cm-content-blocks">
    <div class="row mr-specific-dining-search">
        <div class="dining-details-search-wrap fix-dining-detail-search">
            <div class="search-input-section">
                <img src="/content/dam/tajhotels/icons/style-icons/search-black.svg" alt="search-black-icon">
                <sly data-sly-test.searchText="${properties.searchText ? properties.searchText : 'Search restaurants, cuisines..'}" />
                <input type="text" id="searchbar-Dining-input" aria-label="Searchbar Dining Input" placeholder="${searchText}">
                <img class="search-close" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon">
                <ul class="search-input-suggestions-list"></ul>
            </div>
            <sly data-sly-test="${properties.toggleButton}">
                <div class="filter-by-brands-toggle-switch">
                    <span class="hotel-name current-hotel"></span>
                    <label class="brands-toggle-switch">
                        <input type="checkbox" class="brands-toggle-switch-checkbox d-none">
                        <span class="brands-toggle-slider"></span>
                    </label>
                    <span class="hotel-name other-ihcl-hotels not-active-hotel">${properties.toggleText ? properties.toggleText : 'Other IHCL Hotels'}</span>
                </div> 
            </sly>
            <div class="search-filter-section clearfix">
                <sly data-sly-test.filterText="${properties.filterText ? properties.filterText : 'Filter By'}" />
                <div class="search-filter-section-name">${filterText}</div>
                <div class="search-filter-section-choose">
                    <div class="selectSubContainer reset-dropdown-arrow-align">
                        <select aria-label="Filter by Cuisine" name="search-filter-section-dropdown"
                            id="search-filter-section-dropdown">
                            <option selected="" value="all">Cuisine</option>
                            <sly data-sly-list.cuisineType="${restaurantFilter.cuisineList}">
                            <option>${cuisineType}</option>
                            </sly>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-results-found" id="NoResults">No Results Found</div>
        <ul class="dining-search-results cm-hide">

        </ul>
    </div>
    <input type="hidden" id="contentRootPath" value="${inheritedPageProperties.siteConfigContentPath}" aria-hidden="true" />
</div>