<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='cq.authoring.dialog'}"/>
<sly data-sly-use.multiValueTextModel="com.ihcl.core.models.dialog.text.MultiValueTextModel"/>
<div>
    <div class="coral-Form-fieldwrapper">
        <label class="coral-Form-fieldlabel">${properties.label}</label>
        <coral-multifield class="coral-Form-field">
            <template coral-multifield-template="">
                <input is="coral-textfield" placeholder="${properties.placeholder}" name="${properties.name}" value="">
            </template>

            <sly data-sly-use.itemLib="multifield-item.html"/>
            <sly data-sly-list.value="${multiValueTextModel.values}">
                <sly data-sly-unwrap data-sly-call="${itemLib.item @ value=value, placeholder=properties.placeholder}"/>
            </sly>

            <input class="foundation-field-related" type="hidden" name="${properties.name}@Delete">

            <button type="button" is="coral-button" coral-multifield-add=""
                    class="coral-Button coral-Button--secondary"
                    size="M" variant="secondary">
                <coral-button-label>Add</coral-button-label>
            </button>
        </coral-multifield>

    </div>

</div>
