<template data-sly-template.item="${@value, placeholder}">
    <coral-multifield-item>
        <input is="coral-textfield" placeholder="${placeholder}" name="${properties.name}" value="${value}" >
    </coral-multifield-item>
</template>
