
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.ihclcb.book-a-stay'}"
    data-sly-use.ihclcbApiUrlModel="com.ihcl.core.models.config.IhclcbApiConfigModel" />

<div class="ihclcb-corporate-book-stay ihclcb-book-a-stay-cont cm-bas-content-con"
    data-ihclcbEntityApiUrl=${ihclcbApiUrlModel.entityDetailsFetchApiUrl}
    data-ihclcbHostApiUrl="${ihclcbApiUrlModel.ihclcbApiHostUrl}">

    <div class="ihclcb-book-a-stay-inner-wrp ihclcb-wid-100 ihclcb-pad-lft-0">
        <label for="search-destination">SEARCH DESTINATION</label>
        <div class="ihclcb-selected-data-cont">
            <img class="ihclcb-search-icon" src="/content/dam/tajhotels/icons/style-icons/search-icon.svg" alt="search-icon">
            <section id="booking-search" class="dest-bas-search">
                <input type="hidden" id="contentRootPath" aria-hidden="true" value="/content/tajhotels">
                <input type="hidden" id="basOtherWebsitePath" value="/content/vivanta,/content/selections"
                    aria-hidden="true">
                <input type="hidden" id="appendDestName" aria-hidden="true">

                <div class="search-and-suggestions-wrapper container"
                    data-sly-use.searchModel="com.ihcl.core.models.SearchBar">
                    <div class="searchBar-wrap">
                        <input class="searchbar-input" type="text" aria-label="search bar"
                            placeholder="Anywhere in the world" />
                        <span class="explore-taj-content">
                            EXPLORE TAJ<img class="explore-taj" src="/content/dam/tajhotels/icons/style-icons/dropDown.svg"
                                alt="explore-taj" />
                        </span>
                        <span class="close-icon display-none">
                            <img class="closeIconImg" src="/content/dam/tajhotels/icons/style-icons/close.svg"
                                alt="close-icon" />
                        </span>
                    </div>
                    <div class="suggestions-wrap display-none">
                        <div class="suggestions-overlay cm-overlay"></div>
                        <div class="suggestions-container">
                            <div class="no-results-found" id="NoResults">No Results Found</div>
                            <div class="trending-suggestions-container display-none">
                                <div class="trending-explore">
                                    <p class="explore-heading">
                                        <img class="destination-hotel-icon"
                                            src="/content/dam/tajhotels/ihcl/entity-city.svg" alt="hotel-icon" />
                                        <span class="trending-explore-taj-text">EXPLORE TAJ</span>
                                    </p>
                                </div>
                            </div>
                            <div class="search-suggestions-container display-none">
                                <div id="dest-result-cont" class="trending-search">
                                    <sly data-sly-test="${!properties.hideDestinationName}">
                                    <p class="explore-heading">
                                        <img class="destination-hotel-icon"
                                            src="/content/dam/tajhotels/ihcl/entity-city.svg" alt="Location icon" />
                                        <span class="trending-explore-taj-text trending-search-text">DESTINATIONS</span>
                                    </p>
                                    <div id="dest-result" class="trending-searches-in-taj">
                                        <!--/* Add hotel search results here */-->
                                        <!--/*<a class="individual-trends" href="../../../markup/pages/hotels/specific-hotels-overview.html">Taj Mahal Towers, Colaba-Mumbai</a>*/-->
                                    </div>
                                    </sly>
                                </div>


                                <div id="holiday-result-cont" class="trending-search holiday-trending">
                                    <p class="explore-heading">
                                        <img class="destination-hotel-icon"
                                            src="/content/dam/tajhotels/ihcl/entity-city.svg" alt="Location icon" />
                                        <span class="trending-explore-taj-text trending-search-text">Holiday-Destination</span>
                                    </p>
                                    <div id="holiday-result" class="trending-searches-in-taj">
                                        <!--/* Add holiday search results here */-->
                                        <!--/*<a class="individual-trends" href="../../../markup/pages/hotels/specific-hotels-overview.html">Taj Mahal Towers, Colaba-Mumbai</a>*/-->
                                    </div>
                                </div>
                                <div id="holiday-hotel-result-cont" class="trending-search holiday-hotel-trending">
                                    <p class="explore-heading">
                                        <img class="destination-hotel-icon" src=/content/dam/tajhotels/ihcl/entity-city.svg
                                            " alt="Location icon" />
                                        <span class="trending-explore-taj-text trending-search-text">Holiday-Hotels</span>
                                    </p>
                                    <div id="holiday-hotel-result" class="trending-searches-in-taj">
                                        <!--/* Add holiday hotel search results here */-->
                                    </div>
                                </div>
                                <div id="hotel-result-cont" class="trending-search hotels-trending">
                                    <p class="explore-heading website-result">
                                        <img class="destination-hotel-icon"
                                            src="/content/dam/tajhotels/ihcl/entity-city.svg" alt="Location icon" />
                                        <span class="trending-explore-taj-text trending-search-text">OUR HOTELS</span>
                                    </p>
                                    <div id="website-hotel-result" class="trending-searches-in-taj">
                                        <!--/* Add hotel search results here */-->
                                    </div>
                                    <p class="explore-heading others-result">
                                        <img class="destination-hotel-icon"
                                            src="/content/dam/tajhotels/ihcl/entity-city.svg" alt="Location icon" />
                                        <span class="trending-explore-taj-text trending-search-text">OTHER IHCL
                                            HOTELS</span>
                                    </p>
                                    <div id="others-hotel-result" class="trending-searches-in-taj"></div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <!-- <img class="nav-prelogin-close" src="/content/dam/tajhotels/icons/style-icons/close-icon-white.svg"
                alt="close-icon-white" /> -->
            </section>
        </div>
    </div>
    <div
        class="ihclcb-book-a-stay-dropdwn-cont bas-datepicker-container ihclcb-book-a-stay-cal-cont bas-datepicker-container">
        <div class="ihclcb-daterange-cont input-daterange input-group" id="datepicker">
            <div class="ihclcb-book-a-stay-inner-wrp bas-left-date-wrap active">
                <label for="search-destination">CHECK IN</label>
                <div class="ihclcb-selected-data-cont ihclcb-drpdwn-arw ">
                    <img class="ihclcb-search-icon" src="/content/dam/tajhotels/ihcl/calendar.svg" alt="calender icon">
                    <input class="form-control input-box date-explore ihclcb-selected-data" id="input-box1"
                        aria-label="check availability for from date" type="text" name="start" readonly="true">
                </div>
            </div>
            <div class="ihclcb-book-a-stay-inner-wrp bas-right-date-wrap">
                <label for="search-destination">CHECK OUT</label>
                <div class="ihclcb-selected-data-cont ihclcb-drpdwn-arw">
                    <img class="ihclcb-search-icon" src="/content/dam/tajhotels/ihcl/calendar.svg" alt="calender icon">
                    <input class="form-control input-box date-explore ihclcb-selected-data" id="input-box2" type="text"
                        name="end" aria-label="check availability for to date" readonly="true">
                </div>
            </div>
            <div class="bas-calander-container ihclcb-popup-cont"></div>
        </div>
        <div class="ihclcb-book-a-stay-inner-wrp ihclcb-mob-wid-100">
            <label for="search-destination">GUESTS</label>
            <div class="ihclcb-selected-data-cont ihclcb-drpdwn-arw dropdown show">
                <img class="ihclcb-search-icon" src="/content/dam/tajhotels/ihcl/user.svg" alt="person icon">
                <div class="ihclcb-selected-data ihclcb-guest-data-cont " aria-label="no of guests"
                    data-drpdwn-caller="add-room-ref">
                    <span class="ihclcb-room-border">1 Room</span>
                    ,
                    <span class="ihclcb-bas-count-of-adults">1 Guest</span>
                </div>

                <div class="ihclcb-popup-cont ihclcb-guest-dropdown-cont" data-drpdwn-target="add-room-ref">
                    <section class="bas-hotel-details-container">
                        <div class="ihclcb-bas-room-details-container">
                            <div class="bas-room-header bas-mobile">Rooms</div>
                            <ul class="ihclcb-bas-about-room-container clearfix">
                                <li class="ihclcb-bas-room-no bas-active" id="room1">
                                    <button class="btn-only-focus" aria-label="bas room">
                                        <span class="bas-room bas-desktop">Room &nbsp;</span>
                                        <span class="bas-span-room-no">1</span>
                                    </button>
                                    <div class="ihclcb-bas-room-delete-close">
                                        <i class="icon-close cm-hide">
                                            <button class="btn-only-focus" aria-label="close icon"></button>
                                        </i>
                                    </div>

                                </li>
                                <li class="ihclcb-bas-add-room">
                                    <button class="btn-only-focus">
                                        +
                                        <span class="addroom">ADD ROOM</span>
                                    </button>
                                </li>
                            </ul>
                            <ul class="ihclcb-bas-room-details bas-rel" id="room1Details">
                                <li class="bas-adult-no-container">
                                    <div class="person-label">
                                        <img class="ihclcb-guest-img" src="/content/dam/tajhotels/ihcl/Parent.svg"
                                            alt="adult"> Adults
                                    </div>
                                    <div class="ihclcb-bas-no-of-adults">
                                        <div class="input-group">
                                            <input class="form-control input-number bas-quantity" id="quantityA" type="text"
                                                aria-label="number of adults" name="quantity" value="1" min="1" max="6"
                                                tabindex="-1" />
                                            <span class="input-group-btn">
                                                <button
                                                    class="quantity-left-minus btn btn-default btn-number ihclcb-guest-dec"
                                                    type="button" data-type="minus" data-field="">
                                                    <span>-</span>
                                                </button>
                                            </span>

                                            <span class="input-group-btn">
                                                <button
                                                    class=" btn btn-default btn-number ihclcb-guest-inc"
                                                    type="button" data-type="plus" data-field="">
                                                    <span>+</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="bas-child-no-container bas-rel">
                                    <div class="label-children-con person-label">
                                        <img class="ihclcb-guest-img" src="/content/dam/tajhotels/ihcl/Child.svg"
                                            alt="children">
                                        <span>Children</span>
                                        <span>(Age: 0-12)</span>
                                    </div>
                                    <div class="ihclcb-bas-no-of-child">
                                        <div class="input-group">
                                            <input class="form-control input-number bas-quantity" id="quantityB" type="text"
                                                name="quantity" aria-label="number of child" value="0" min="0" max="6"
                                                tabindex="-1" />
                                            <span class="input-group-btn">
                                                <button
                                                    class="quantity-left-minus btn btn-default btn-number ihclcb-guest-dec"
                                                    type="button" data-type="minus" data-field="">
                                                    <span>-</span>
                                                </button>
                                            </span>

                                            <span class="input-group-btn">
                                                <button
                                                    class="quantity-right-plus btn btn-default btn-number ihclcb-guest-inc"
                                                    type="button" data-type="plus" data-field="">
                                                    <span>+</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="ihclcb-book-a-stay-dropdwn-cont">
        <div class="ihclcb-book-a-stay-inner-wrp ">
            <label for="search-destination">ENTITY TYPE</label>
            <div class="ihclcb-selected-data-cont ihclcb-drpdwn-arw">
                <img class="ihclcb-search-icon" src="/content/dam/tajhotels/ihcl/entity-city.svg" alt="location icon">
                <div class="ihclcb-selected-data ihclcb-mandetory-field " id="entityTypeDropdownMenu"
                    data-entity-category="entityType" data-drpdwn-caller="entity-type-ref" aria-haspopup="true">Entity
                    Type</div>
            </div>
        </div>
        <div class="ihclcb-book-a-stay-inner-wrp ">
            <label for="search-destination">ENTITY CITY</label>
            <div class="ihclcb-selected-data-cont ihclcb-drpdwn-arw">
                <img class="ihclcb-search-icon" src="/content/dam/tajhotels/ihcl/entity-city.svg" alt="location icon">
                <div class="ihclcb-selected-data ihclcb-mandetory-field entity-dropdown-disabled"
                    id="entityCityDropdownMenu" data-entity-category="entityCity" data-drpdwn-caller="entity-city-ref"
                    aria-haspopup="true">Entity City</div>
            </div>
        </div>
        <div class="ihclcb-book-a-stay-inner-wrp">
            <label for="search-destination">ENTITY NAME</label>
            <div class="ihclcb-selected-data-cont ihclcb-drpdwn-arw ">
                <img class="ihclcb-search-icon" src="/content/dam/tajhotels/ihcl/entity-name.svg" alt="factory icon">
                <div class="ihclcb-selected-data ihclcb-mandetory-field entity-dropdown-disabled"
                    data-drpdwn-caller="entity-name-ref" id="entityNameDropdownMenu" data-entity-category="entityName"
                    aria-haspopup="true">Entity Name</div>

            </div>
        </div>
        <div class="ihclcb-book-a-stay-inner-wrp">
            <label for="search-destination">GSTIN NO.</label>
            <div class="ihclcb-selected-data-cont ihclcb-drpdwn-arw ">
                <img class="ihclcb-search-icon" src="/content/dam/tajhotels/ihcl/gstin.svg" alt="tax icon">
                <div class="ihclcb-selected-data entity-dropdown-disabled" data-drpdwn-caller="gstin-ref"
                    id="gstinDropdownMenu" data-entity-category="gstinNo" aria-haspopup="true">GSTIN NO.</div>
            </div>
        </div>


        <!-- <div class="ihclcb-book-a-stay-inner-wrp ihclcb-mob-wid-100">
            <label for="search-destination">IATA NO.</label>
            <div class="ihclcb-selected-data-cont ihclcb-drpdwn-arw ">
                <img class="ihclcb-search-icon" src="/content/dam/tajhotels/ihcl/gstin.svg" alt="tax icon">
                <div class="ihclcb-selected-data entity-dropdown-disabled" data-drpdwn-caller="iata-ref"
                    id="iataDropdownMenu" data-entity-category="iataNo" aria-haspopup="true">IATA NO.</div>
            </div>
        </div> -->

    </div>
    <div class="entity-dropdown-cnt-cont ">
        <div class=" entity-dropdown-container entity-type-dropdown" data-drpdwn-target="entity-type-ref"
            aria-labelledby="entityTypeDropdownMenu">

            <div id="entity-result-cont" class="entity-dropdown">
                <p class="entity-explore-heading">
                    <img class="entity-dropdown-icon" src="/content/dam/tajhotels/icons/style-icons/location.svg"
                        alt="Location icon">
                    <span class="entity-category-title">Entity Type</span>
                </p>
                <div class="entity-results" id="entityTypeDetails"></div>
            </div>

        </div>
        <div class=" entity-dropdown-container entity-city-dropdown" data-drpdwn-target="entity-city-ref"
            aria-labelledby="entityCityDropdownMenu">

            <div id="entity-result-cont" class="entity-dropdown">
                <p class="entity-explore-heading">
                    <img class="entity-dropdown-icon" src="/content/dam/tajhotels/icons/style-icons/location.svg"
                        alt="Location icon">
                    <span class="entity-category-title">Entity City</span>
                </p>
                <div class="entity-results" id="entityDetailsCity"></div>
            </div>

        </div>
        <div class=" entity-dropdown-container entity-name-dropdown" data-drpdwn-target="entity-name-ref"
            aria-labelledby="entityNameDropdownMenu">

            <div id="entity-result-cont" class="entity-dropdown">
                <p class="entity-explore-heading">
                    <img class="entity-dropdown-icon" src="/content/dam/tajhotels/icons/style-icons/location.svg"
                        alt="Location icon">
                    <span class="entity-category-title">Entity Name</span>
                </p>
                <div class="entity-results" id="entityDetailsPartyName"></div>
            </div>

        </div>

        <div class=" entity-dropdown-container gstin-dropdown" data-drpdwn-target="gstin-ref"
            aria-labelledby="gstinDropdownMenu">

            <div id="entity-result-cont" class="entity-dropdown">
                <p class="entity-explore-heading">
                    <img class="entity-dropdown-icon" src="/content/dam/tajhotels/icons/style-icons/location.svg"
                        alt="Location icon">
                    <span class="entity-category-title">GSTIN NO</span>
                </p>
                <div class="entity-results" id="entityDetailsGST"></div>
            </div>

        </div>

        <!-- <div class=" entity-dropdown-container iata-dropdown" data-drpdwn-target="iata-ref"
            aria-labelledby="iataDropdownMenu">

            <div id="entity-result-cont" class="entity-dropdown">
                <p class="entity-explore-heading">
                    <img class="entity-dropdown-icon" src="/content/dam/tajhotels/icons/style-icons/location.svg"
                        alt="Location icon">
                    <span class="entity-category-title">IATA NO</span>
                </p>
                <div class="entity-results" id="entityDetailsIATA"></div>
            </div>

        </div> -->
    </div>

    <!--  <div class="ihclcb-book-a-stay-dropdwn-cont">
        <div class="ihclcb-book-a-stay-inner-wrp ">
            <label for="search-destination">ENTITY TYPE</label>
            <div class="ihclcb-selected-data-cont ihclcb-drpdwn-arw">
                <img class="ihclcb-search-icon" src="/content/dam/tajhotels/ihcl/entity-city.svg" alt="location icon">
                <div class="ihclcb-selected-data ihclcb-mandetory-field " id="entityTypeDropdownMenu1"
                    data-entity-category="entityType" data-drpdwn-caller="entity-type-ref1" aria-haspopup="true">Entity
                    Type</div>
            </div>
        </div>
        <div class="ihclcb-book-a-stay-inner-wrp ">
            <label for="search-destination">ENTITY CITY</label>
            <div class="ihclcb-selected-data-cont ihclcb-drpdwn-arw">
                <img class="ihclcb-search-icon" src="/content/dam/tajhotels/ihcl/entity-city.svg" alt="location icon">
                <div class="ihclcb-selected-data ihclcb-mandetory-field entity-dropdown-disabled"
                    id="entityCityDropdownMenu1" data-entity-category="entityCity" data-drpdwn-caller="entity-city-ref1"
                    aria-haspopup="true">Entity City</div>
            </div>
        </div>
        <div class="ihclcb-book-a-stay-inner-wrp">
            <label for="search-destination">ENTITY NAME</label>
            <div class="ihclcb-selected-data-cont ihclcb-drpdwn-arw ">
                <img class="ihclcb-search-icon" src="/content/dam/tajhotels/ihcl/entity-name.svg" alt="factory icon">
                <div class="ihclcb-selected-data ihclcb-mandetory-field entity-dropdown-disabled"
                    data-drpdwn-caller="entity-name-ref1" id="entityNameDropdownMenu1" data-entity-category="entityName"
                    aria-haspopup="true">Entity Name</div>

            </div>
        </div>
        <div class="ihclcb-book-a-stay-inner-wrp ">
            <label for="search-destination">GSTIN NO.</label>
            <div class="ihclcb-selected-data-cont ihclcb-drpdwn-arw ">
                <img class="ihclcb-search-icon" src="/content/dam/tajhotels/ihcl/gstin.svg" alt="tax icon">
                <div class="ihclcb-selected-data entity-dropdown-disabled" data-drpdwn-caller="gstin-ref1"
                    id="gstinDropdownMenu1" data-entity-category="gstinNo" aria-haspopup="true">GSTIN NO.</div>
            </div>
        </div>

    </div>
    <div class="entity-dropdown-cnt-cont ">
        <div class=" entity-dropdown-container entity-type-dropdown" data-drpdwn-target="entity-type-ref1"
            aria-labelledby="entityTypeDropdownMenu1">

            <div id="entity-result-cont" class="entity-dropdown">
                <p class="entity-explore-heading">
                    <img class="entity-dropdown-icon" src="/content/dam/tajhotels/icons/style-icons/location.svg"
                        alt="Location icon">
                    <span class="entity-category-title">Entity Type</span>
                </p>
                <div class="entity-results" id="entityTypeDetails"></div>
            </div>

        </div>
        <div class=" entity-dropdown-container entity-city-dropdown" data-drpdwn-target="entity-city-ref1"
            aria-labelledby="entityCityDropdownMenu1">

            <div id="entity-result-cont" class="entity-dropdown">
                <p class="entity-explore-heading">
                    <img class="entity-dropdown-icon" src="/content/dam/tajhotels/icons/style-icons/location.svg"
                        alt="Location icon">
                    <span class="entity-category-title">Entity City</span>
                </p>
                <div class="entity-results" id="entityDetailsCity"></div>
            </div>

        </div>
        <div class=" entity-dropdown-container entity-name-dropdown" data-drpdwn-target="entity-name-ref1"
            aria-labelledby="entityNameDropdownMenu1">

            <div id="entity-result-cont" class="entity-dropdown">
                <p class="entity-explore-heading">
                    <img class="entity-dropdown-icon" src="/content/dam/tajhotels/icons/style-icons/location.svg"
                        alt="Location icon">
                    <span class="entity-category-title">Entity Name</span>
                </p>
                <div class="entity-results" id="entityDetailsPartyName"></div>
            </div>

        </div>

        <div class=" entity-dropdown-container gstin-dropdown" data-drpdwn-target="gstin-ref1"
            aria-labelledby="gstinDropdownMenu1">

            <div id="entity-result-cont" class="entity-dropdown">
                <p class="entity-explore-heading">
                    <img class="entity-dropdown-icon" src="/content/dam/tajhotels/icons/style-icons/location.svg"
                        alt="Location icon">
                    <span class="entity-category-title">GSTIN NO</span>
                </p><div class="entity-results" id="entityDetailsGST"></div>
            </div>

        </div>
       
    </div> -->


    <div class="ihclcb-dropdown-wrp">
        <div class="ihclcb-checkbox-cont">
            <label class="mr-filterCheckBox-label subscribe-checkbox checkbox-inline">
                <input class="mr-filter-checkbox" id="bookStayConfirmEntity" type="checkbox" name="confirmEntityDetails">
                <span class="mr-inputCustomShape"></span>
                <div>
                    <a class="ihclcb-checkbox-label-text">I Hereby Confirm Entity Details</a>
                </div>
            </label>
        </div>
        <!--  <button class="best-avail-rate cm-btn-secondary ihclcb-book-stay-btn">Book A Stay</button> -->
        <div class="best-avail-rate cm-btn-secondary ihclcb-book-stay-btn">
            <a class="best-avail-rate-anchor" id="global-re-direct" tabindex="0" role="button">Book A Stay</a>
            <span class="dummy-to-middle-align"></span>
        </div>
    </div>



</div>