.col-md-4.experiences-container:nth-child(3n) .recommended-experiences-wrap {
    padding-left: 15px;
    padding-left: 0.9375rem;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 767px) {
    .col-md-4.experiences-container:nth-child(3n) .recommended-experiences-wrap {
        padding-left: unset;
        padding-bottom: 1rem;
    }
}

.col-md-4.experiences-container:nth-child(3n-1) .recommended-experiences-wrap {
    padding-left: 15px;
    padding-left: 0.9375rem;
    padding-right: 15px;
    padding-right: 0.9375rem;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 767px) {
    .col-md-4.experiences-container:nth-child(3n-1) .recommended-experiences-wrap {
        padding-right: unset;
        padding-left: unset;
        padding-bottom: 1rem;
    }
}

.col-md-4.experiences-container:nth-child(3n-2) .recommended-experiences-wrap {
    padding-right: 15px;
    padding-right: 0.9375rem;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 767px) {
    .col-md-4.experiences-container:nth-child(3n-2) .recommended-experiences-wrap {
        padding-right: unset;
        padding-bottom: 1rem;
    }
}

.mr-experiences-image {
    width: 100%;
    height: 100%;
}

.mr-experiences-description-wrap {
    min-height: 114px;
    min-height: 7.125rem;
    padding: 19px 32px;
    padding: 1.1875rem 2rem;
    background-color: #ffffff;
    position:relative;
}

@media only screen and (max-width: 991px) {
    .mr-experiences-description-wrap {
        padding: 1rem;
    }
}

.mr-experinces-title {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 0.92;
    text-align: left;
    color: #323232;
    padding-bottom: 10px;
    padding-bottom: 0.625rem;
}

@media only screen and (max-width: 767px) {
    .mr-experinces-title {
        padding-bottom: 0.3rem;
    }
}

.mr-experinces-details-location {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    text-align: left;
    color: #000000;
}

.mr-experinces-details-location .conceirge-local {
    font-size: 12px;
    font-size: 0.75rem;
}

.mr-experinces-details-wrap,
.mr-experinces-Button-wrap {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    flex:1;
}

.experience-button-styles {
    float: right;
}

@media only screen and (max-width: 767px) {
    .experience-button-styles {
        font-size: 0.75rem;
    }
}

.mr-experiences-images-wrap {
    height: 410px;
    height: 25.625rem;
    background: #d0d0d0;
}

@media only screen and (max-width: 767px) {
    .mr-experiences-images-wrap {
        height: 27rem;
    }
}
@media only screen and (max-width: 320px) {
    .mr-experiences-images-wrap {
        height: 22rem;
    }
}
.retail .mr-experinces-details-wrap,
.mr-experinces-Button-wrap{
	width:44%;
	
}
