.experiences-container.profile-card-wrap {
    float: left;
    background-color: #ffffff;
   /*  height: 100%; */
    
}
.offers-page-card-component .experiences-container.profile-card-wrap {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
    .experiences-container.profile-card-wrap {
        padding: 0!important;
    }
}

.experiences-container.profile-card-wrap .recommended-experiences-wrap {
    display:flex;
    flex-direction:column;
    height:100%;
    padding: 0!important;
    box-shadow: 0 7px 14px 0 #e5e3e3;
}

.experiences-container.profile-card-wrap .recommended-experiences-wrap .mr-experinces-Button-wrap {
    height: 100%;
    vertical-align: bottom;
}

.experiences-container.profile-card-wrap .recommended-experiences-wrap .cm-btn-secondary.experience-button-styles {
    position: absolute;
    bottom: 1.1875rem;
    right: 2rem;
    padding: 5px 10px;
    vertical-align: bottom;
}

@media only screen and (max-width: 767px) {
    .experiences-container.profile-card-wrap .recommended-experiences-wrap .cm-btn-secondary.experience-button-styles {
        padding: 13px 10px;
    }
}

.experiences-container.profile-card-wrap .recommended-experiences-wrap .cm-btn-secondary.experience-button-styles .view-profile-btn {
    color: white;
}

.experiences-container.profile-card-wrap .recommended-experiences-wrap .cm-btn-secondary.experience-button-styles .view-profile-btn:hover {
    text-decoration: none;
}
.experiences-container.profile-card-wrap .mr-experiences-description-wrap{
    flex:1;
}

.experiences-container.profile-card-wrap .mr-experiences-description-wrap
   {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   flex-basis: auto;
}

.ihcl-leadership-wrap-column .experiences-container.profile-card-wrap .mr-experiences-description-wrap {
   flex: none;
   display: block;
   position: static;
   position: unset;
}

.ihcl-leadership-wrap-column .experiences-container.profile-card-wrap .recommended-experiences-wrap {
	position: relative;
}

.ihcl-leadership-wrap-column .experiences-container.profile-card-wrap .recommended-experiences-wrap .cm-btn-secondary.experience-button-styles {
	right: 1rem;
	bottom: 1rem;
}

.ihcl-leadership-wrap-column  .mr-experiences-description-wrap {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.mr-experinces-detailsButton-wrap {
   flex: 1;
   display: flex;
   justify-content: space-between;
   flex-basis: auto;
 }

.mr-experinces-detailsButton-wrap .cm-btn-secondary.button-view-details {
   align-self: flex-end;
}
