<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.partner-promotion-offerdetails'}" />

<div class="offers-room-container cm-content-blocks">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 offers">
			<div class="offers-wrapper">
				<h2 class="offers-rooms_caption">${pageProperties.offerTitle}</h2>
				<div class="offers-rooms_discountWrapper">
					<div class="discount-right-clipped-wrapper">
						<div class="discount-right-clipped cm-bg-container">
							<img class="cm-bg-image"
								src="/content/dam/tajhotels/icons/style-icons/discount-right-clipped-red.svg" alt = "discount right clipped red icon"/>
							<div class="cm-bg-relative-content">${properties.discountValue}</div>
						</div>
						<div class="discount-customer-name">${properties.offerSpecifics}</div>
					</div>
				</div>
				<div class="validity-line-container">
					<div class="validity-line-seperator"></div>
				</div>
				<div class="validity-container">
					<img src="/content/dam/tajhotels/icons/style-icons/validity.svg" alt = "validity icon"/>
					<div class="validity-heading">Valid Till</div>
					<div class="validity-content">${properties.validity}</div>
				</div>
			</div>
		<div class="offers-rooms_desc">
			<p>${properties.offerDescription}</p>
		</div>
	</div>
</div>


