.cm-bas-con {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 100;
    &.active {
        display: block !important;
    }
    .bas-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .cm-overlay {
        background: rgba(74, 74, 74, 0.55);
    }
    .cm-bas-content-con {
        //min-height: 700px;
        position: absolute;
        width: 660px;
        background: #ffffff;
        box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 5%;
    }
    .bas-date-container-main-wrap {
        overflow: auto;
        position: absolute;
        top: 170px;
        bottom: 35px;
    } // Puneet's Section  --- Start
    .bas-specialcode-container {
        padding: 22px 30px 33px 30px;
        border: solid 1px #e2e2e2;
        .special-code-wrap h2 {
            font-family: Calibri;
            font-size: 18px;
            text-align: left;
            color: #4a4a4a;
            float: left;
            letter-spacing: normal;
            margin: 0;
        }
        .special-code-wrap .bas-aroow-btn {
            float: right;
            width: 19px;
            height: 12px;
            cursor: pointer;
        }
        .special-code-wrap .bas-aroow-btn.arrow-btn {
            -webkit-transform: rotate(180deg);
            /* Chrome and other webkit browsers */
            -moz-transform: rotate(180deg);
            /* FF */
            -o-transform: rotate(180deg);
            /* Opera */
            -ms-transform: rotate(180deg);
            /* IE9 */
            transform: rotate(180deg);
        }
        .bas-code-wrap {
            padding-top: 24px;
            &.clearfix.active {
                display: none;
            }
            .promo-code-wrap:first-child {
                //float: left;
            }
            .promo-code-wrap {
                display: table;
                width: 100%;
                margin-top: 0 !important;
                @media only screen and (max-width: 991px) {
                    display: block;
                    width: 100%;
                }
                .promo-code-label-con {
                    display: table-cell;
                    width: 20%;
                    @media only screen and (max-width: 991px) {
                        display: block;
                        width: 100%;
                    }
                }
                .promo-code-input-con {
                    display: table-cell;
                    width: 80%;
                    @media only screen and (max-width: 991px) {
                        display: block;
                        width: 100%;
                    }
                }
                label {
                    font-family: Calibri;
                    font-size: 18px;
                    text-align: left;
                    color: #4a4a4a; //display: inline-block;
                    letter-spacing: normal;
                    margin-right: 10px;
                    line-height: 37px;
                    margin-bottom: 0px;
                }
                input {
                    //width: 191px;
                    height: 37px;
                    border: solid 1px var(--primaryColorDark);
                    padding: 9px;
                    box-sizing: border-box;
                    font-size: 16px;
                    width: 100%;
                }
            }
        }
    }
    .bas-best-available-rate-container {
        padding: 23px 30px 27px 30px;
        background-color: #ffff;
        border-top: solid 2px #e2e2e2;
        .best-avail-rate {
            float: right;
            letter-spacing: 1.8px;
            width: 199px;
            padding: 0px;
        }
        .bas-final-detail-wrap {
            float: left;
            span {
                font-family: Calibri;
                font-size: 18px;
                text-align: left;
                color: #4a4a4a;
                line-height: 40px;
                padding-right: 18px;
                letter-spacing: normal;
            }
            span:last-child {
                padding-left: 18px;
            }
            span.room-border {
                padding-left: 18px;
                border-right: solid 1px #979797;
                border-left: solid 1px #979797;
            }
        }
    }
    .datepicker-dropdown.datepicker-orient-bottom:after {
        display: none;
    }
    .bas-datepicker-container {
        margin: 20px 30px 0px 30px;
        .bas-calander-container {
            &.active {
                // min-height: 374px;
                position: relative;
            }
            .form-control:focus {
                color: var(--primaryColor);
                box-shadow: none;
                background-color: transparent;
            }
            .datepicker {
                position: absolute;
                top: 0 !important;
                left: 0 !important;
                right: 0 !important;
                margin: 0;
                border: 1px solid rgb(224, 223, 223);
                height: 334px;
                table {
                    width: 100%;
                    tr {
                        border-bottom: 2px white solid;
                        td {
                            padding: 0;
                            height: 35px;
                        }
                    }
                }
                td.selected {
                    float: none;
                    &:after {
                        display: none;
                    }
                }
                td.active,
                td.selected.day {
                    background: none;
                }
                td.active.selected.day,
                td.selected.day {
                    position: relative;
                    background-image: none !important;
                }
                td.active.selected.range-start.range-end.day p.active-date::after {
                    background-color: white;
                }
                td p.active-date {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    width: 35px;
                    height: 100px;
                    border-radius: 50%;//line-height: 35px; 
                    margin: 0;
                    background-color: var(--primaryColorDark);
                }
                td.selected.range-start.day p.active-date::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 50px;
                    background-color: #eee;
                    left: 50%;
                    background: ;
                    z-index: -1;
                }
                td.selected.range-end.day p.active-date::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 50px;
                    background-color: #eee;
                    right: 50%;
                    background: ;
                    z-index: -1;
                }
                .prev {
                    color: transparent;
                    width: 25px;
                    height: 25px;
                    border-radius: 2px;
                    z-index: -10;
                }
                .next {
                    color: transparent;
                    width: 25px;
                    height: 25px;
                    border-radius: 2px;
                    z-index: -10;
                }
            }
            .datepicker-dropdown.datepicker-orient-right:before {
                display: none;
            }
        }
        .date-title-style {
            font-family: Calibri;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: right;
            color: #1b1b1b;
            display: table-cell;
            vertical-align: middle;
            width: 25%;
        }
        .input-box-wrapper {
            display: table-cell;
            vertical-align: middle;
            width: 75%;
            position: relative;
        }
        .calendar-image {
            //width: 11.7px;
            //height: 10.4px;
            position: absolute;
            right: 12%; //top: 42%;
            top: 30%;
            width: 25px;
        }
        .bas-left-date-wrap {
            width: 50%;
            height: 60px;
            width: 50%; // padding: 2% 5%;
            border: solid 0.9px #e0dfdf;
            background-color: #f2f2f2;
            &.active {
                background-color: #ffffff;
                border-top: 3px solid var(--primaryColorDark);
            }
        }
        .bas-right-date-wrap {
            width: 50%;
            height: 60px;
            width: 50%; // padding: 2% 5%;
            border: solid 0.9px #e0dfdf;
            background-color: #f2f2f2;
            &.active {
                background-color: #ffffff;
                border-top: 3px solid var(--primaryColorDark);
            }
            &:focus {
                outline: none;
            }
        }
    }
    .bas-hotel-details-container {
        &.active {
            margin-top: 334px;
        }
    } // Puneet's Section  --- End
    // Aravind's Section  --- Start
    .input-scroll-top {
        position: unset;
    }
    .search-and-suggestions-wrapper .suggestions-wrap {
        z-index: 5;
    }
    .header-bas-container {
        /* changed by srikanta for book a stay fix */
       /* background-color: #f2f2f2;
        padding: 20px 30px;
        position: relative;
        .header-bas-sub-section {
            font-family: Calibri;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.5px;
            text-align: left;
            color: #4a4a4a;
            width: 32%;
            display: inline-block; */
            .bas-brand-value-icon.rewards-icon {
                width: 54px;
                height: 38px;
                margin-top: 5px;
            }
            .bas-brand-value-icon {
                display: inline;
                width: 52px;
                height: 65px;
                float: left;
                margin-right: 7px;
            }
            .bas-header-content {}
        }
        .bas-direct-best {
            font-family: Calibri;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.08;
            text-align: left;
            color: #000000;
            width: 32%;
            display: inline-block;
            .bas-line {
                width: 95px;
                height: 1.7px;
                border: solid 1.7px var(--primaryColor);
                margin-top: 5px;
            }
        }
    }
    .bas-close {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    } // header ends
    // hotel details start
    .bas-room-details-container {
        margin: 0 30px 30px 30px;
        .bas-about-room-container {
            background-color: #f2f2f2; //border: solid 0.9px #e0dfdf;
            margin: 0;
            padding: 0; //height: 60px;
            .bas-room-no,
            .bas-add-room {
                width: 20%;
                float: left;
                text-align: center;
                list-style: none;
                padding: 15px;
                font-family: Calibri;
                font-size: 18px;
                color: #323232;
                border: solid 0.9px #e0dfdf;
                border-top: none;
                border-bottom: none;
            }
            .bas-active {
                background-color: #ffffff;
                border-top: solid 3px var(--primaryColorDark);
                padding-top: 13px;
            }
            .bas-add-room {
                float: right;
                padding: 15px 6px;
                color: var(--primaryColor);
                width: 20%;
                letter-spacing: 0.7px;
                font-weight: bold;
                box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
            }
        }
        .bas-room-details {
            border: solid 1px #e0dfdf;
            list-style: none;
            padding-left: 30px;
            .bas-adult-no-container,
            .bas-child-no-container {
                list-style: none;
                width: 500px;
                padding: 30px 0;
                border-bottom: solid 1px #e0dfdf;
                font-family: Calibri;
                font-size: 18px;
                color: #323232;
                .bas-no-of-adults,
                .bas-no-of-child,
                .bas-age-of-child {
                    float: right;
                    .quantity-left-minus,
                    .quantity-right-plus {
                        color: var(--primaryColor);
                        width: 25px;
                        height: 25px;
                        padding: 0px;
                    }
                }
                .bas-quantity {
                    border: none !important;
                    height: 25px;
                    width: 50px !important;
                    text-align: center !important;
                }
            }
            .bas-child-no-container {
                border: none;
            }
            .bas-room-delete {
                position: absolute;
                right: -3rem;
                top: -1rem;
                width: 1.5rem;
                height: 1.7rem;
                cursor: pointer;
            }
            .bas-quantity {
                border: none !important;
                width: 50px !important;
                text-align: center !important;
            }
        }
    } // Aravind's Section  --- End
}

.dest-bas-search {
    .search-and-suggestions-wrapper {
        .searchBar-wrap {
            border-left: 10px solid var(--primaryColor)!important;
            .searchbar-input,
            .searchbar-input::placeholder {
                font-size: 20px;
                letter-spacing: 0.6px;
                text-align: left;
                color: #4a4a4a;
                background: #ffffff;
            }
        }
        .searchBar-wrap::before {
            display: none!important;
        }
        .searchbar-input {
            // background-color: white !important;
            background-image: none !important;
            color: black!important;
            &::placeholder {
                color: black!important;
            }
        }
        .explore-taj-content {
            display: none !important;
        }
    }
    .suggestions-overlay,
    .cm-overlay {
        background: none;
    }
    .suggestions-container {
        height: 731px!important;
    }
}

.bas-rel {
    position: relative;
}

.bas-mobile {
    display: none!important;
}

.bas-desktop {
    display: inline-block!important;
}

.bas-hide {
    display: none !important;
}

.bas-display {
    display: inline-block;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .input-daterange input {
        font-size: 20px !important;
    }
    .cm-bas-con {
        .cm-bas-content-con {
            min-height: unset;
            bottom: 5%;
            height: auto;
            width: auto;
            top: 5%;
            left: 5%;
            right: 5%;
            z-index: 100;
            overflow-y: scroll;
            .bas-best-available-rate-container {
                padding-left: 15px;
                padding-right: 15px;
                background-color: #f7f7f7;
            }
            .bas-final-detail-wrap {
                margin: 0 auto;
                width: 260px;
                float: none;
                padding-bottom: 24px;
                span {
                    font-size: 15px;
                    padding-left: 8px;
                    padding-right: 8px;
                }
                .final-date-plan {
                    padding-left: 0px;
                }
            }
            .bas-specialcode-container {
                .promo-code-wrap {
                    //width: 100%;
                    label {
                        margin-bottom: 0;
                        display: block;
                    }
                    &:last-child {
                        //margin-top: 10px;
                        label {
                            padding-left: 0px;
                        }
                        label,
                        &:last-child input {
                            float: none;
                            display: block;
                        }
                    }
                }
            }
            .best-avail-rate {
                display: table;
                margin: 0 auto;
                width: 200px;
                float: none;
            }
            .bas-datepicker-container {
                margin: 0;
                .datepicker-dropdown {
                    padding: 30px 24px 0px 24px;
                }
                .input-daterange input {
                    font-size: 16px !important;
                    padding-left: 0;
                    text-align: center;
                }
                .input-box-wrapper {
                    width: 71%;
                    .calendar-image {
                        right: 4%;
                        top: 36%;
                        width: 15px;
                    }
                }
                .bas-left-date-wrap {
                    height: 50px;
                }
                .bas-right-date-wrap {
                    height: 50px;
                }
                .date-title-style {
                    padding-left: 15px;
                    height: 50px;
                    text-align: left;
                }
                .selected {
                    float: none!important;
                }
            }
        }
        .bas-close {
            width: 15px;
            height: 15px;
            top: 30%;
            cursor: pointer;
        }
    }
}

.this-date-price {
    font-size: 0.75rem;
    color: #9b9b9b;
}

.this-date-text {
    font-size: 0.875rem;
    color: #4a4a4a;
}

@media only screen and (max-width: 360px) {
    .header-bas-container {
        //padding:10px 18px 10px 10px !important;
        padding: 10px 15px 10px 7px !important;
    }
    .bas-direct-best {
        width: 28% !important;
    }
    .bas-header-content {
        font-size: 10px !important;
    }
    .addroom {
        display: none;
    }
    .bas-add-room {
        height: 55px;
        line-height: 2;
        font-size: 25px!important;
    }
    .cm-bas-con .bas-close {
        width: 10px;
        height: 10px;
        right: 5px;
        top: 32%;
        cursor: pointer;
    }
}

@media only screen and (max-width: 480px) {
    .bas-add-room {
        line-height: 1.5;
        font-size: 30px !important;
    }
    .addroom {
        display: none;
    }
    .cm-bas-con {
        .cm-bas-content-con {
            .header-bas-container {
                display: table;
                width: 100%;
                box-sizing: border-box;
                padding: 10px 25px 10px 15px;
                .header-bas-sub-section {
                    font-size: 12px;
                    display: table-cell;
                    width: 36%;
                    vertical-align: middle;
                    .bas-brand-value-icon {
                        //width:32px;
                        height: auto;
                        float: left;
                        width: 30%;
                        margin: 0;
                        padding-right: 7px;
                        box-sizing: border-box;
                    }
                    .bas-header-content {
                        float: left;
                        width: 70%;
                        font-size: 11px;
                    }
                }
                .bas-direct-best {
                    //font-size: 17px;
                    font-size: 15px;
                    line-height: 1.3;
                    display: table-cell;
                    width: 28%;
                    vertical-align: middle; //width:25%;
                    .bas-line {
                        width: 56px;
                    }
                    .bas-close {}
                }
            }
            .bas-room-details-container {
                margin: 0px;
                .bas-room-header {
                    font-family: Calibri;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 27px 20px;
                    text-align: left;
                    color: #323232;
                    background-color: #f2f2f2;
                    width: 100%;
                    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
                }
                .bas-about-room-container {
                    .bas-room-no,
                    .bas-add-room {
                        font-size: 16px;
                    }
                    .bas-active {}
                    .bas-add-room {
                        padding: 3px;
                    }
                }
                .bas-room-details {
                    padding: 0 20px;
                    margin-bottom: 0px;
                    .bas-adult-no-container,
                    .bas-child-no-container {
                        font-size: 16px;
                        .bas-no-of-adults,
                        .bas-no-of-child,
                        .bas-age-of-child {}
                    }
                    .bas-room-delete {
                        width: 1.4rem;
                        height: 1.6rem;
                    }
                }
            }
        }
        .bas-adult-no-container,
        .bas-child-no-container {
            width: 87% !important;
            ;
        }
        .bas-mobile {
            display: inline-block!important;
        }
        .bas-desktop {
            display: none!important;
        }
    }
    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input,
    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::placeholder {
        font-size: 16px;
    }
    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input {
        height: 50px;
    }
    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap .search-icon {
        top: 15px;
    }
    .dest-bas-search .closeIconImg {
        display: none;
    }
    .bas-add-room {
        height: 55px;
        .addroom {
            line-height: 1.5;
        }
    }
}
