@rem: 16rem;
.booking-ind-outer-wrap {
    width: 100%;
    height: 90/@rem;
    background: #fff;
    box-shadow: 0 -2px 12px 0 #e5e3e3;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        height: 80px;
    }
}

.booking-ind-inner-wrap {
    height: 100%;
    position: relative;
    font-family: Calibri;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        margin-left: 15px;
    }
}

.checkout-container {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 89/@rem;
    width: 12.9375rem;
    background-image: linear-gradient(to top, var(--primaryColorDark), var(--primaryColorDark) 52%, var(--primaryColor));
    color: #fff;
    padding: 14px 1.1875rem 27px 0.9375rem;
    @media only screen and (min-width: 992px) and (max-width: 1024px) {
        padding-right: 0.3125rem;
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        height: 79px;
        width: 9.6875rem;
        padding: 22px 0.5rem 18px 0.75rem;
        right: 15px;
    }
}

.checkout-image {
    float: left;
    img {
        margin-top: 9px;
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            margin-top: 0;
        }
    }
    .checkout-num {
        position: absolute;
        top: 13/@rem;
        width: 30/@rem;
        height: 30/@rem;
        border-radius: 15px;
        background: #6e1200;
        text-align: center;
        line-height: 30/@rem;
        left: 41.5/@rem;
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            top: 12px;
        }
    }
}

.ckeckout-details {
    position: absolute;
    right: 1.1875rem;
    margin-left: 1.5rem;
    .ckeckout-details-amount {
        font-family: RupeeForadian;
        font-size: 1.5rem;
        span {
            font-family: Calibri;
        }
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            font-size: 1rem;
        }
    }
    .ckeckout-details-text {
        font-size: 1rem;
        font-family: Calibri-Bold;
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            text-transform: capitalize;
        }
    }
}

.message-container {
    position: absolute;
    top: 0;
    right: 13.8rem;
    padding-top: 5/@rem;
    &.add-shadow {
        box-shadow: -26px 0px 41px 1px rgba(0, 0, 0, 0.3);
        height: 100%;
        border-left: 1px solid #ccc;
        border-left: 2px solid #bbb;
    }
    .message-banner {
        height: 25/@rem;
        color: #fff;
        max-width: 6.125rem;
        position: absolute;
        right: -5/@rem;
        img {
            width: 100%;
        }
        .best-deal {
            position: absolute;
            width: 100%;
            top: 0.3rem;
            text-align: center;
        }
    }
    .message-text {
        color: #9b9b9b;
        text-align: right;
        font-size: 0.8125rem;
        margin-top: 25/@rem;
        max-width: 6.875rem;
    }
    @media only screen and (min-width: 320px) and (max-width: 991px) {
        display: none;
    }
}

.add-room-button {
    float: left;
    font-size: 1.125rem;
    color: var(--primaryColor);
    line-height: 90/@rem;
    font-family: Calibri-Bold;
    margin-left: 1.4375rem;
    cursor: pointer;
    @media only screen and (min-width: 320px) and (max-width: 991px) {
        font-size: 0.75rem;
        position: absolute;
        right: 16rem;
    }
    @media only screen and (min-width: 375px) and (max-width: 767px) {
        right: 12rem;
        line-height: 80px;
    }
    @media only screen and (max-width: 320px) {
        right: 11rem;
        line-height: 80px;
    }
}

.room-details-wrap-mobile {
    float: left;
    display: none;
    color: #272727;
    font-size: 1rem;
    line-height: 90/@rem;
    @media only screen and (min-width: 320px) and (max-width: 991px) {
        display: block;
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        max-width: 4rem;
        line-height: unset;
        padding-top: 20px;
    }
}

.room-details-wrap {
    float: left;
    padding-top: 12/@rem;
    overflow: auto;
    width: 73%;
    .room-details-container {
        position: relative;
        /*display: inline-block;*/
        float: left;
        border-right: 1px solid #e5e3e3;
        padding: 0 3.0625rem 0 1.4375rem;
        /*padding: 0 0 0 1.4375rem;
        width: 12.5rem;*/
    }
    .room-details-container:first-child {
        padding-left: 0;
    }
    .room-details-heading {
        font-size: 1.125rem;
        color: #272727;
    }
    .room-details-rate {
        color: #9b9b9b;
        font-size: 0.875rem;
    }
    .room-details-desc {
        color: #9b9b9b;
        font-size: 0.875rem;
    }
    @media only screen and (min-width: 320px) and (max-width: 991px) {
        display: none;
    }
}

.checkout-anchor {
    /*pointer-events: none;*/
    color: #fff;
    display: inline-block;
    width: 100%;
}

a.checkout-anchor:hover {
    color: #fff;
}

.selection-delete {
    position: absolute;
    top: 5%;
    right: 4%;
    height: 1.5rem;
    cursor: pointer;
}

.room-selected-options-container {
    min-width: 130% !important;
}

.room-details-wrap .room-details-container:last-child {
    border-right: none;
}