@rem: 16rem;
.cm-page-container {
    .banner-container, .banner-container-wrapper {
        .check-availability-main-wrap.search-container {
            bottom: 0;
            @media only screen and (max-width: 991px) {
                position: static;
                bottom: unset;
                padding: 0rem;
                min-width: 100%;
            }
        }
    }
}

.mr-book-a-stay-component {
    display: none;
}

.mr-check-availability-container {
    cursor: pointer;
}

.mr-availability-check {
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    @media only screen and (max-width: 991px) {
        display:none;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.19);
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.mr-edit-icon {
    width: 1.5625rem;
    height: 1.5625rem;
    margin: 1rem 0rem;
    margin-right: 0.5rem;
}

.mr-availability-info-mobile-wrap {
    display: inline-block; // width: 88%;
}

.mr-edit-icon-wrap {
    // margin-bottom: 0.625rem;
    display: inline-block;
    float: right;
}

.mr-availability-icon-wrap {
    display: inline-block;
    margin-left: 1rem;
}

span.roomCount {
    font-weight: bold;
}

.mr-availability-calendar-icon {
    width: 0.9375rem;
    height: 0.9375rem;
}

.mr-availability-check-search {
    font-family: Calibri;
    font-size: 1.25rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.mr-availability-check-title {
    font-family: Calibri;
    font-size: 0.875rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.88;
    letter-spacing: 2.3px;
    text-align: left;
    color: #ffffff;
    white-space: nowrap;
    margin-bottom: 0.6875rem;
}

.checked-rooms-details {
    display: inline-block;
    border-right: 1px solid #ffffff;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    &:last-child {
        border-right: unset;
    }
    &:first-child {
        padding-left: unset;
    }
}

.mr-mobile-availability-check {
    display: none;
    height: 4.0625rem;
    padding: 0.625rem 1rem; // opacity: 0.51;
    background-color: rgba(0, 0, 0, 0.51);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.19); // position: absolute;
    top: 0;
    z-index: 6;
    width: 100%;
    @media only screen and (max-width: 991px) {
        display: block;
    }
    .mr-destination-hotel {
        // opacity: 0.85;
        font-family: Calibri;
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    .mr-mobile-availability-details {
        position: relative;
    }
    .mr-mobile-availability-details.mr-mobile-checkInOut,
    .mr-mobile-availability-details.mr-mobile-roomGuestsCount
    {
        // opacity: 0.85;
        font-family: Calibri;
        font-size: 0.875rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        padding-left: 0.8rem;
        padding-top: 0.5rem;
        display: inline-block;
    }
    .mr-mobile-checkInOut {
        &:after {
            content: '';
            position: absolute;
            right: 1rem;
            width: 2/@rem;
            height: 10/@rem;
            background-color: #fff;
            right: -0.5rem;
            top: 0.7rem;
        }
    }
    .mr-mobile-availability-details.mr-mobile-checkInOut {
        padding-left: 0rem;
    }
}

&.mr-checkIn-checkOut-Date-hover {
    position: absolute;
    top: -85px;
    left: -20%;
    height: 72px;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    padding: 17/@rem 30/@rem;
    img {
        height: 39/@rem;
        width: 39/@rem;
        vertical-align: baseline;
        margin-right: 20/@rem;
    }
    div {
        display: inline-block;
    }
    div:last-child {
        width: 70%;
    }
}

&.mr-availability-check-hover {
    width: 50%;
    left: 0;
}
button.cm-btn-secondary.btn-edit-booking-details {
    height: auto !important;
    line-height: normal !important;
    padding: 0.4rem 0.875rem !important;
}

.ihclcb-check-avail-img {
    display: none;
}

.ihcl-theme .ihclcb-check-avail-img {
    display: inline-block;
    margin-right: 0.625rem;
    object-fit: contain;
}