@rem: 16rem;
.header-warpper {
    margin: auto;
    .header-inner-wrap {
    }

    .navbar {
        font-family: Calibri;
        font-size: 0.875rem;
        letter-spacing: 2.3px;
        text-align: left;
        color: #4a4a4a;
        padding: .5rem 0;
        height: 80px;
        padding: 0;
        height: 45px;
    }

    .brand-logo-wrapper {
        position: absolute;
        top: 8%;
        right: -1.5rem;
        display: none;
        &.custom-logo{
            display: inline-block !important;
            margin-right: 0.5rem;
        }
        @media only screen and (max-width: 991px) {
            position: static;
        }
        img {
            width: 4.75rem;
            height: 2.125rem;
            object-fit: contain;
            @media only screen and (max-width: 320px) {
                width: 3.75rem;
            }
         ie-tajLogo-img{
           height: 2.125rem;
           width: auto;
         }
        }
    }
    .brand-logo-wrapper.is-taj-logo{
        img{
            width: 2.75rem;
            margin-right: 0.5rem;
        }
    }
    .brand-logo-wrapper.active {
        display: block;
    }
    .taj-image {
        width: 39px;
        height: 34px;
    }
    .book-stay-btn {
        display: none;
        font-size: 0.875rem;
    }
    .quick-quote-btn {
       display: none; font-size: 0.875rem;
    }
    .header-dropdown-image {
        margin-bottom: 3px;
        width: 0.75rem;
        //margin-left: 0.25rem;
        font-size: 0.7rem;
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            width: 15px;
        }
    }
    .navbar-nav {
        .book-stay-btn {
            display: inline-block;
        }
        .line-separator {
            //margin-left: 1.5rem;
            //height: 27px;
            //border-right: solid 1px #979797;
            display: inline-block;
            vertical-align: middle;
        }
        @media only screen and (max-width: 991px) {
            width: 100%;
        }
    }

    .navbar-quick-quote {
        .quick-quote-btn {
            display: inline-block;
        }
        .line-separator {
            //margin-left: 1.5rem;
            //height: 27px;
            //border-right: solid 1px #979797;
            display: inline-block;
            vertical-align: middle;
        }
        @media only screen and (max-width: 991px) {
            width: 100%;
        }
    }
    .last-elem-wrapper {
        position: relative;
    }
    .selected-flag {
        width: 17px;
        height: 10px;
        background: red;
        display: inline-block;
        margin-right: 3px;
        vertical-align: middle;
    }
    .selected-txt {
        vertical-align: middle;
    }
}

.gb-search-con {
    .gb-search-wrapper {
        text-align: center;
        width: 45px;
        height: 45px;
        background-image: linear-gradient(to top, var(--primaryColorDark), var(--primaryColorDark) 52%, var(--primaryColor));
        cursor: pointer;
    }
    .gb-search-icon {
        display: inline-block;
        vertical-align: middle;
    }
    .search-icon-aligner {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.last-item {
    position: absolute;
    top: 4px;
    @media only screen and (max-width: 991px) {
        position: inherit;
        left: 0;
    }
}

.navbar {
    position: unset !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.6rem;
    //padding-left: 0.6rem;
    cursor: pointer;
    position: relative;
    color: #4a4a4a;
    @media only screen and (max-width: 991px) {
        letter-spacing: 0.9px;
        border-bottom: 1px solid rgba(151, 151, 151, 0.4);
        font-size: 1rem;
        font-family: Calibri;
        color: #4a4a4a;
        width: 100%;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 1.3rem;
    }
    @media only screen and (min-width: 992px){
		padding-left : 3px !important;
    }
}

.navbar-expand-lg .navbar-nav .nav-link.log-spacing {
    padding: 0 0.6rem 0 0;
    display: inline-block;
    vertical-align: middle;
    @media only screen and (max-width: 991px) {
        padding: 0.5rem;
    }
}

.navbar-expand-lg .navbar-nav .nav-item .middle-allignment {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.navbar-light .navbar-brand {
    margin-right: 1rem;
    position: relative;
    .navbar-brand-anchor {
        display: inline-block;
    }
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 991px) {
        display: block;
    }
}

.cm-header-dd-options-con {
    padding: 1rem;
    font-size: 1rem;
    display: none;
    z-index: 100;
    &.active {
        display: block;
    }
    .cm-each-header-dd-item {
        border-bottom: solid 1px rgba(151, 151, 151, 0.4);
        padding: 0.5rem 0.625em;
        word-wrap: break-word;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border: none;
            padding-bottom: 0;
        }
        a {
            color: rgba(74, 74, 74, 0.8);
            font-family: Calibri;
        }
        a:hover {
            color: rgba(74, 74, 74, 1);
            text-decoration: none;
        }
    }
    @media only screen and (max-width: 991px) {
        display: none;
        padding: 0 !important;
    }
}

.header-tic-options,
.header-others-options,
.header-language-options,
.header-currency-options {
    width: 9.375rem;
    top: 44px;
    box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.3);
    &::after {
        border-top: 20px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #fff;
        border-left: 10px solid transparent;
        top: -40px;
    }
    @media only screen and (max-width: 991px) {
        box-shadow: none;
    }
}

.header-tic-options {
    left: 30%;
    &::after {
        left: 67%;
    }
}

.header-others-options {
    left: 6%;
}

.header-language-options {
    width: 13rem;
    right: -26%;
    top: 40px;
    &::after {
        left: 80%;
    }
}

.header-currency-options {
    width: 8.5rem;
    top: 40px;
    left: -8%;
}

.header-dd-option-text {
    margin-left: 0.25rem;
}

.header-dd-option-img {
	width: auto;
}

.selected-currency {
    font-size: 1rem;
    font-family: RupeeForadian;
    display: inline-block;
    margin-right: 0.25rem;
    vertical-align: middle;
}

.header-dd-option-currency {
    font-size: 1rem;
    font-family: RupeeForadian;
    color: #cf9650;
    display: table-cell;
    width: 40%;
    padding-right: 0.625rem;
}

.cm-header-dd-options-con.header-currency-options .cm-each-header-dd-item a {
    display: table;
    width: 100%;
    .header-dd-option-text {
        display: table-cell;
        width: 65%;
    }
}

@media only screen and (max-width: 991px) {
    .header-warpper {
        background: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        .navbar {
            height: 56px;
            justify-content: initial;
        }
        .navbar-toggler {
            order: 1;
            border-color: transparent;
            padding: 0;
            text-align: left;
        }
        .navbar-light .navbar-brand {
            order: 2;
            flex: 2;
            padding-left: 0.5rem;
            margin-right: 0;
        }
        .book-stay-btn {
            order: 3;
            display: inline-block;
            font-size: 1rem;
            flex: 1.25;
            white-space: nowrap;
        }
        .quick-quote-btn {
            order: 3;
            display: inline-block;
            font-size: 1rem;
            flex: 1.25;
            white-space: nowrap;
        }
        .navbar-nav {
            .book-stay-btn {
                display: none;
            }
        }
        .navbar-nav {
            .quick-quote-btn {
                display: none;
            }
        }
        .btn-primary.book-stay-btn {
            padding: 0;
            width: 106px;
            height: 30px;
            margin-right: 0;
        }
        .btn-primary.quick-quote-btn {
            padding: 0;
            width: 106px;
            height: 30px;
            margin-right: 0;
        }
    }
    .gb-search-con {
        right: 0px;
        top: 0;
        width: 56px;
        height: 56px;
        max-width: 56px;
        flex: 1;
        order: 4;
        .gb-search-wrapper {
            position: absolute;
            text-align: center;
            width: 56px;
            height: 56px;
            right: 0;
        }
        .gb-search-icon {
            height: 23px;
            width: 23px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-warpper {
        .navbar-light .navbar-brand {
            margin-right: 0;
            order: 2;
            text-align: center;
        }
        .navbar-light .navbar-brand a {
            margin-left: 20%;
        }
        .navbar-toggler {
            margin-left: 10px;
        }
        &.container {
            max-width: initial;
        }
        .book-stay-btn {
            max-width: 150px;
            margin-right: 16px;
        }
        .quick-quote-btn {
            max-width: 150px;
            margin-right: 16px;
        }
        .brand-logo-wrapper {
            margin-left: 21%;
        }
        .navbar-brand-anchor {
            margin-left: 21%;
        }
    }
}

@media only screen and (max-width: 375px) {
    .header-warpper .navbar-light .navbar-brand {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 320px) {
    .header-warpper .navbar-light .navbar-brand {
        margin-right: 5px;
    }
    .banner-titles .cm-header-label {
        font-size: 20px;
    }
    .header-warpper .book-stay-btn {
        flex: 1.75;
    }
    .header-warpper .quick-quote-btn {
        flex: 1.75;
    }
}

.navbar-collapse-inner {
    display: flex;
    flex: 1;
}

@media only screen and (max-width: 991px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
    }
    .navbar-collapse-inner {
        display: block;
        background: #fff;
        width: 90%;
        height: 100%;
        padding-left: 42/@rem;
        padding-right: 27/@rem;
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navbar-light .navbar-brand {
        margin-right: 10px;
    }
    .gb-search-con .gb-search-wrapper {
        width: 35px;
    }
}


.header-profile-wrp {
    height: -webkit-fill-available;
    margin: 0 0 0 0.75rem;
    padding: 0 1rem;
    border-left: 1px solid #E7DFD3;
    min-width: 167/@rem;
    @media only screen and (max-width: 767px) {
        padding: 1rem ;
        height: auto;
        border-left:none;
        background: #1b1b1b;
        margin: 0;
        border-radius: 4px;
        display: block;
    }
    .profile-name-wrp {
        text-align: center;
        min-height: 55/@rem;        
        padding: 0/@rem 0/@rem 0/@rem 0/@rem;
        font-family: Calibri-bold;
        font-size: 14/@rem;
        letter-spacing: 2/@rem;
        color: rgba(0,0,0,0.5);
        cursor: pointer;
        @media only screen and (max-width: 767px) {
            min-height: auto;
            color: #ffffff;
            text-align: left;
            .header-dropdown-image{
                display: none;
            }
        }
        .profile-username {
            text-align: left;
            text-transform: uppercase;                            
            max-width: 7rem;
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            vertical-align: top;
            white-space: nowrap;
            letter-spacing: normal;
            @media only screen and (max-width: 767px) {
                max-width: calc(100% - 30px);
            }
        }        
    }
    .profile-options {
        z-index: 100;
        display: none;
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.2);
        @media only screen and (max-width: 767px) {
            display: block !important;
            box-shadow: none;
            position: relative;
            top: initial;
            left: initial;
        }
        &:before {
            width: 0;
            height: 0;
            border-left: 0.8rem solid transparent;
            border-right: 0.8rem solid transparent;
            border-bottom: 0.8rem solid #1b1b1b;
            content: '';
            position: absolute;
            top: -0.7rem;
            right: 0.5rem;
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
        .profile-default-options {
            background-color: #1b1b1b;
            padding: 0 18/@rem 0 15/@rem;
            border-top: 1px solid;
            @media only screen and (max-width: 767px) {
                border-top: none;
                padding: 0;
                background-color: transparent;
            }
            a{
                text-decoration: none;
                &:hover{
                    color: initial;
                }
            }
            .profile-default-option {
                font-family: Calibri-bold;
                font-size: 14/@rem;
                line-height: 2.64;
                color: #ffffff;
                padding: 8/@rem 0;
                border-bottom: solid 1px #dcdcdc;
                cursor: pointer;
                @media only screen and (max-width: 767px) {
                    padding: 0;
                }
                &:last-child {
                    border-bottom: none;
                }
                &:hover {
                    font-family: Calibri-bold;
                }
                a {
                   color: #4a4a4a;
                }
                &.my-profile-default-option{
                }
            }
        }
        .profile-enrol-btn {
            border-bottom: solid 1px #dcdcdc;
        }
        .profile-tic-options {
            background-color: #1b1b1b;
            .prof-tic-header {
                padding: 7/@rem;
                text-align: center;
                border-bottom: solid 1px rgba(151, 151, 151, 0.3);
                .tic-platinum-title {
                    display: inline-block;
                    vertical-align: middle;
                    font-family: Exmouth;
                    font-size: 30/@rem;
                    line-height: 1.2;
                    color: #ffffff;
                }
            }
            .prof-tic-content {
                padding: 10/@rem 14/@rem 11/@rem;
                font-family: Calibri;
                font-size: 14/@rem;
                line-height: 1.07;
                color: #ffffff;
                @media only screen and (max-width: 767px) {
                    padding: 0;
                }
                .prof-content-wrp {
                    @media only screen and (max-width: 767px) {
                        [class*="col-"]{
                            padding-left: 0 !important;
                            padding-right: 0 !important;
                        }
                    }
                    &:nth-child(2) {
                        .prof-content-title,
                        .prof-content-value {
                            padding-bottom: 10/@rem;
                        }
                    }
                    .prof-content-title {
                        padding-top: 10/@rem;
                        border-right: solid 1px rgba(151, 151, 151, 0.3);
                        @media only screen and (max-width: 767px) {
                            border-right: none;
                        }
                    }
                    .prof-content-value {
                        padding-top: 10/@rem;
                        text-align: right;
                        letter-spacing: 0.8/@rem;
                    }
                }
                .prof-content-value-wrp {
                    display: inline-block;
                    width: 49%;
                    padding-bottom: 10/@rem;
                }
                .point-summary-btn {
                    margin-top: 10/@rem;
                    width: 100%;
                    font-size: 14/@rem;
                }
            }
        }
    }
}

.brand-tic{
    .header-taj-link{
        display: none;
    }    
}
.navbar-heading {
    display: none;
    margin-top: 11/@rem;
    margin-bottom: 15/@rem;
    .header-taj-icon-mobile {
        height: 34/@rem;
        width: 55/@rem;
        margin-left: 12/@rem;
        object-fit: contain;
    }
    .header-mobile-back-btn {
        height: 22/@rem;
        margin-left: -13/@rem;
        font-size: 2rem;
        margin-left: -2rem;
        font-size: 1.5rem;
        vertical-align: middle;
    }    
    .header-taj-link {
        color: var(--primaryColor);
        font-size: 14/@rem;
        letter-spacing: 0.5px;
        line-height: 0.8;
        float: right;
        text-decoration: underline;
        padding-top: 15/@rem;
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            font-size: 16px;
        }
    }
    @media only screen and (max-width: 991px) {
        display: block;
    }
}

.nav-others {
    .header-others-options{
        width:16rem;
        right:initial;
        left:0;
        font-size:0.8rem;
        &::after{
            top:-35px;
            right:initial;
            left:50px;
        }
    }
    @media only screen and (max-width: 991px) {
        border-bottom: 1px solid var(--primaryColor) !important;
    }
}

.book-a-stay-con {
    @media only screen and (max-width: 991px) {
        display: none;
    }
}

.line-separator-con {
    @media only screen and (max-width: 991px) {
        display: none;
    }
}

.header-form-mobile-view {
    @media only screen and (max-width: 991px) {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.nav-item-with-arrow {
    @media only screen and (max-width: 991px) {
        img {
            float: right;
            padding-top: 8/@rem;
        }
    }
}

.header-dropdown-image-selected {
    transform: rotate(180deg);
    @media only screen and (max-width: 991px) {
        padding-top: 0;
    }
}

.cm-header-dropdowns {
    @media only screen and (max-width: 991px) {
        .box-with-top-arrow {
            position: unset;
            width: 100%;
            .cm-each-header-dd-item {
                margin: 0 -0.6rem;
                padding-right: 0;
                border-bottom: none;
                border-top: 1px solid rgba(151, 151, 151, 0.4);
                &:first-child {
                    padding-top: 0.5rem;
                    margin-top: 0.5rem;
                }
                a {
                    width: 100%;
                    display: inline-block;
                }
            }
        }
        .box-with-top-arrow::after {
            display: none;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .cm-each-header-dd-item {
            font-size: 1.3rem;
        }
    }
}

.log-spacing {
    @media only screen and (max-width: 991px) {
        .header-dropdown-image {
            padding-bottom: 0 !important;
        }
    }
}

.nav-link-expanded {
    @media only screen and (max-width: 991px) {
        font-family: Calibri-Bold !important;
    }
}

.header-warpper .brand-logo-wrapper.is-taj-logo {
    display: block;
}

.vivanta-theme .header-warpper .brand-logo-wrapper.is-taj-logo,
.gateway-theme .header-warpper .brand-logo-wrapper.is-taj-logo,
.seleqtions-theme .header-warpper .brand-logo-wrapper.is-taj-logo,
.ama-theme .header-warpper .brand-logo-wrapper.is-taj-logo{
	display:none;
}

.seleqtions-theme .is-seleqtions-logo.brand-logo-wrapper {
	display: block;
    position:relative;
    right: 0;
    img{
        width: 7rem;
        margin-top: 0.3rem;
        margin-right: 0rem;
        @media only screen and (max-width:767px) {
            width: 5rem;   
        }
    }
}

.vivanta-theme .header-warpper .navbar:not(.brand-tic) .brand-logo-wrapper img {
    width: 5rem;
    height: 1rem;
}

.gateway-theme .is-gateway-logo.brand-logo-wrapper {
	display: block;
}

.vivanta-theme .brand-logo-wrapper.is-vivanta-logo {
	display: block;
}

.ama-theme .is-ama-logo {
	display: block;
}

.ama-theme{
    .mr-auto{
		margin : inherit !important;
    }
    .navbar-collapse-inner{
        position: absolute;
        right: 0px;
    }
    .header-warpper .brand-logo-wrapper img{
        width: 91px;
		height: 80px;
    }
    .header-warpper .brand-logo-wrapper {
        position: absolute;
        top: -20px;
        right: initial;
    }
    .header-warpper .navbar {
		height :80px;
    }
}
.header-ihcl-icon-mobile {
    display:none !important;
}

@media only screen and (min-width:992px) {
    .taj-header .nav-item {
        font-family: Calibri-Bold;
    }
}
/*Holiday scoping*/
.holiday-theme{
    @media only screen and (min-width:992px) {
        .header-warpper .navbar{
            height: 65px;
            .navbar-brand{
                align-self: flex-start;
            }
            .brand-logo-wrapper.is-holiday-logo{
                top:0;
                 img{
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}

.navbar-brand {
    position: relative;
    a {
        display: block;
    }
    .brand-image {
        object-fit: contain;
    }
}

.navbar.brand-tic {
    height: 6rem;
    width: 90%;
    margin: auto;
    .brand-image, .taj-image {
        height: 4rem;
        width: auto;
        margin-top: -1rem;      
    }
    .header-taj-icon-mobile {
        height: 4rem;
    }
}
@media only screen and (max-width: 778px){
    .navbar.brand-tic{
        width: 100%;
    }
}
@media only screen and (max-width: 375px) and (min-width:319px){
.navbar.brand-tic .brand-image, .taj-image {
   height: 3.5rem;
}
}
.header-warpper .brand-logo-wrapper .holidays-logo-image{
    width: 5rem !important;
    height: 3.3rem !important;
    margin-top: 0.5rem;
}
@media only screen and (min-width: 320px) and (max-width:778px){
    .header-warpper .brand-logo-wrapper .holidays-logo-image{
        margin-top:0rem;
        width: 3.75rem !important;
        height: 3rem !important;
    }
}
.header-warpper .brand-logo-wrapper .chambers-logo{
    width:10rem;
}
.navbar .chambers-Nav{
    width:90%;
}
.navbar-light .chambers-brand-logo{
    width:10%;
}
.header-warpper .brand-logo-wrapper .holidays-logo-image{
    width: 5rem !important;
    height: 3.3rem !important;
    margin-top: 0.5rem;
}
@media only screen and (min-width: 320px) and (max-width:778px){
    .header-warpper .brand-logo-wrapper .holidays-logo-image{
        margin-top:0rem;
        width: 3.75rem !important;
        height: 3rem !important;
    }
}

.ama-theme .nav-item,.ama-theme .book-stay-btn{
	font-family: var(--themeHeadingFontBold);
}


.ama-theme{
	.hotelheader{

		-webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
		
	}
    .header-warpper .navbar{
        font-size: 0.8rem;
    }
    .navbar-nav{
    	.nav-item {
    		margin-right: 1.5rem;
            &.book-a-stay-con{
                margin-right:0;
            }
            &.sign-in-btn{
                margin-right:0;
            }
        }
    }

    .header-warpper .header-dropdown-image{
        display: none;
    }
    .nav-others .header-others-options{
        border-radius: 0;
        background-color:#13264b;
        top: 57px;
        box-shadow: none;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .cm-header-dd-options-con .cm-each-header-dd-item{
        border-bottom:0;
    }
    .cm-header-dd-options-con .cm-each-header-dd-item a{
        color: rgba(255, 255, 255, 1);
        display: block;
    }
    .box-with-top-arrow::after{
		display: none;
    }
    .cm-header-dd-options-con .cm-each-header-dd-item{
		padding-top:0;
        padding-bottom:0;
        line-height: 40px;
        padding-left:20px;
        &:hover{
            background:#1e4181;
        }
    } 
    .mr-carousel-wrap{
        .banner-carousel-each-wrap {
    		height: 80vh;
        }
	}


}

//ihclcb style
.navbar-brand .profile-username {
    display: none;
}
.ihcl-theme {
    @media only screen and (min-width: 992px) {
        .header-warpper .navbar, .header.ihcl-headerr {
            height: 60/@rem;
        }
        .ihcl-header {
            .navbar-collapse-inner {
                margin-left: 40/@rem;               
            }
        }
    }    
    
    .ihcl-header {    
        @media only screen and (max-width: 767px) {
            .navbar-collapse-inner {
                display: flex;
                flex-direction: column;
            }
        }
      .book-a-stay-con {
          .book-stay-btn {                        
              background-image: none !important;
              color: var(--primaryColor);
              white-space: nowrap;
              background-color: #ffffff;
              border-radius: 2px;
          }
      }
      .header-profile-wrp {
          border-left: 0;
          margin: 0;
          min-width: 9rem;
          @media only screen and (max-width: 767px) {
              background: transparent;
              padding: 0.6rem 0.75rem;
              order: 3;             
          }
          .profile-name-wrp { 
              position: relative;
              @media only screen and (max-width: 767px) {
                  display: none;                  
              }
              &::after {
                  content: '\e928';
                  color: #ffffff;
                  font-family: "icomoon";
                  font-size: 10/@rem;
                  position: absolute;
                  right: -2rem;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  display: inline-table;                  
              }   
              .profile-hi-text {    
                  display: none;
              }
              .profile-username {
                  color: #ffffff;
                  text-transform: capitalize;
                  margin-left: auto;
                  display: block;
                  font-size: 18/@rem;
              }
          }
          .profile-options {
              box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
              border: solid 0 #212529;
              border-radius: 3px;
              top: 100%;
              left: auto;
              &::before {
                  border-bottom-color: #ffffff;
              }
              @media only screen and (max-width: 767px) {
                  box-shadow: none;
                  text-transform: uppercase;
                  top: 0;
              }    
              @media only screen and (min-width: 768px) {
                  right: -24px
              }
              .profile-default-options {
                  background-color: #ffffff;
                  border-top: 0;
                  border-radius: 3px;
                  .profile-default-option {
                      color: #212529;
                      font-size: 15/@rem;
                      text-align: center;
                  }
              }
              .profile-enrol-btn {
                  border-bottom: 0;
              }
          }
      }
    }

    .navbar-brand .profile-username {
        display: inline-block;
        font-family: "Calibri-Bold";
        font-size: 16/@rem;
        color: #ffffff;
        float: right;
        line-height: 2.2;
        letter-spacing: normal;
    }    
@media only screen and (max-width: 991px) {
    .hotelheader {
        height: 56px;
    }   
}

.cm-view-link-txt, .cm-view-txt {
    color: #002b49 !important;
}

.mr-audit-statement-template{
    display:flex!important;
    margin:0 1rem;
}
.guest-card-component .line{
    background-color: #002b49 !important;
}
.icon-carousel-arrow-coloured-left:before,
.icon-carousel-arrow-coloured-right:before,
.icon-drop-down-arrow:before{
    color: #002b49 !important;
}

.title-decorator-border .cm-header-label::after {
    background-color: #002b49 !important;
    bottom: -5px !important;
}

.cm-header-label-con {
    margin-bottom: 30px !important;
}

.ihcl-timeline img {
    width: 100%;
}

.cm-btn-secondary {
    background-image: linear-gradient(to top, #002b49, #0c5d90) !important;
}
.cm-view-txt {
    color: #002b49 !important;
}

.cart-empty-back a {
    color: #002b49 !important;
}

.show-more-ell, .show-less, .read-more {
    color: #002b49 !important;
}

.cm-header-offers {
    color: #002b49 !important;
    border-bottom: 1px solid #002b49 !important;
}

.selectSubContainer .selectboxit-container .selectboxit {
    color: #002b49 !important;
}

.search-and-suggestions-wrapper .searchBar-wrap::before {
    background-image: linear-gradient(to top, #002b49, #0c5d90) !important;
}

.filter-go-warpper .filter-go-con {
    background-image: linear-gradient(to top, #002b49, #0c5d90) !important;
}

.jiva-spa-show-more {
    color: #002b49 !important;
}

.mr-audit-icon-holder {
    background-color: #012f4e !important;
    opacity: 0.1 !important;
}

.mr-investors-contact-details .mr-investor-contact-txt {
    color: #012f4e !important;
}

.carousel-control-next-icon {
    -ms-transform: initial !important;
    transform: initial !important;
}

.carousel-control-prev-icon {
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.mr-investors-contact .mr-investor-contact-txt {
    color: #012f4e !important;
}

/* ihcl-header css */
.ihcl-header {
    background-color: #002b49 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 10 !important;
}
@media only screen and (max-width: 991px) {
    .ihcl-header {
        position: relative !important;
        z-index:initial;
    }   
}
.ihcl-header .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

@media only screen and (max-width: 991px) {
    .ihcl-header .navbar-light .navbar-nav .nav-link {
        color: #4a4a4a;
        padding: 0.6rem 0.75rem;
    }
}

.ihcl-header .header-others-options {
    left: 12%;
    width: 6.875rem;
}

.ihcl-header .header-others-options::after {
    left: unset;
    right: 20px;
    right: 1.25rem;
    border: none;
    
}

.ihcl-header .cm-header-dd-options-con {
    padding: 0.6rem;
}

.ihcl-header .cm-header-dd-options-con .cm-each-header-dd-item {
    padding: 0;
    word-wrap: unset;
    letter-spacing: 0.8px;
    margin-bottom: 5px;
    line-height: 1.2;
    padding-bottom: 5px;
}

.ihcl-header .cm-header-dd-options-con .cm-each-header-dd-item a {
    font-family: Calibri-Bold;
    
}

.ihcl-header .navbar-collapse-inner {
    margin-right: 16px;
    margin-right: 1rem;
}

.ihcl-header .navbar-heading .header-taj-icon-mobile {
    height: 18px;
    height: 1.125rem;
    width: unset;
}

.ihcl-header .header-warpper.container {
    background-color: #002b49 !important;
}

.ihcl-header .cm-header-dropdowns .box-with-top-arrow {
    border-radius: 0;
}

.ihcl-header .cm-header-dropdowns .box-with-top-arrow .cm-each-header-dd-item
    {
    border-top: none;
}

.ihcl-header .header-warpper .brand-logo-wrapper img {
    width: 64px;
    width: 4rem;
    height: 20px;
    height: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .ihcl-header .header-warpper .brand-logo-wrapper img {
        width: 3rem;
        height: 2.25rem;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .ihcl-header .header-warpper .navbar-light .navbar-brand a {
        margin-left: 0;
    }
    .ihcl-header .header-warpper .navbar-light .navbar-brand {
        text-align: left;
    }
    .ihcl-header .header-warpper .brand-logo-wrapper img {
        height: 2.25rem;
    }
}

.ihcl-header .custom-toggler .navbar-toggler-icon {
    background-image:
        url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.ihcl-header .text-caps .cm-each-header-dd-item {
    text-transform: initial;
}

.header-warpper .is-taj-logo.brand-logo-wrapper {
    display: none;
}

.is-ihcl-logo.brand-logo-wrapper {
    display: block;
}
.ihcl-header .header-warpper .header-dropdown-image{
    display:none;
}

@media only screen and (min-width:992px) {
    .ihcl-header .nav-item:hover .box-with-top-arrow {
        display: block;
    } 

    .ihcl-header .navbar-collapse {
        height: 100%;
    }

    .ihcl-header .navbar-collapse-inner {
        height: 100%;
    }

    .ihcl-header .navbar-nav {
        height: 100%;
    }

    .ihcl-header .navbar-nav {
        height: 100%;
    }

    .ihcl-header .nav-link {
        height: 100%;
        padding: 0.7rem 0.5rem 1rem;
    }

    .ihcl-header .header-others-options {
        top: 2.8125;
    }
}

@media only screen and (min-width:992px) {
    .ihcl-header .nav-item {
        height: 100%;
        display: table;
    }
    .ihcl-header .nav-link {
        padding-top: 0;
        padding-bottom: 0;
        display: table-cell;
        vertical-align: middle;
    }
    .ihcl-header .brand-logo-wrapper img {
        vertical-align: text-bottom;
    }
    .ihcl-header .navbar-nav {
        width: 100%;
    }
    .ihcl-header .nav-item {
        margin-right: 2%;
    }
    .ihcl-header li.cm-each-header-dd-item:last-child {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    
}

@media only screen and (min-width:992px) and (max-width:1023px) {
    .ihcl-header .brand-logo-wrapper {
        right: -3.5rem;
    }
    .ihcl-header .navbar-nav {
        margin-left: 2.875rem;
    }
}

@media only screen and (max-width:991px) {
    .ihcl-header .header-taj-link {
        display: none;
    }
    
    .ihcl-header .icon-prev-arrow::before {
        color: #002b49;
    }
    .ihcl-header .nav-others {
        border-bottom: 1px solid #002b49 !important;
    }
    .ihcl-header .header-ihcl-icon-mobile {
        display: inline-block !important;
        height: 2.125rem;
        width: 2.4375rem;
        margin-left: 1.75rem;
        object-fit: contain;
    }
    
    .ihcl-header .header-taj-icon-mobile {
        display: none;
    }
    .ihcl-header .cm-header-dropdowns .box-with-top-arrow .cm-each-header-dd-item {
        margin-left: 0 !important;
    }
    
    .ihcl-header .cm-header-dd-options-con .cm-each-header-dd-item a {
        color: rgba(74, 74, 74, 0.8);
        font-family: Calibri;
    }
    .ihcl-header .cm-header-dropdowns .box-with-top-arrow .cm-each-header-dd-item {
        border-top: 1px solid rgba(151, 151, 151, 0.4);
    }
    .ihcl-header .header-others-options {
        width: 100%;
    }
    .ihcl-header .cm-header-dd-options-con .cm-each-header-dd-item {
        padding: 0.5rem 0.625rem;
        margin-bottom: 0;
    }
    .ihcl-header .cm-header-dd-list-con {
        margin-left: -0.625rem;
    }
}

.cm-local-details-container.mr-profile-popup .cm-local-details{
    overflow-y:auto!important;
}

.contact-us-filter .selectSubContainer .selectboxit-arrow-container {
    display: block !important;
}

.selectSubContainer .selectboxit-focus .selectboxit-option-anchor {
    background: rgba(0, 43, 73, 0.25) !important;
}

.mr-sub-form .sub-form-input-element.invalid-input {
    border-bottom-color: #022b49;
}

.filter-catagory .filter-dropDD .multiselect-selected-text {
    color: #002b49 !important;
}

.filter-catagory .filter-dropDD .dropdown-toggle:after {
    color: #002b49 !important;
}

.pressCard-container .pressCard-description-container .pressCard-desc a:hover {
    color: #002b49 !important;
}

@media only screen and (min-width:992px) {
    .ihcl-header .cm-header-dd-list-con {
        margin-bottom: 0;
    }
}
.brand-card-component .brand-card-footer .brand-description div.description-text-brand{
   color:#4a4a4a !important;
}
.pressCard-description-container .pressCard-date {
    color:#4a4a4a !important;
}
.pressCard-container{
    background-color:#ffffff;
    height:100%;
}
.mr-sub-form .sub-form-input-label,.mr-experinces-details-location{
    color:#4a4a4a!important;
}
.mr-sub-form .sub-form-input-element{
    border-bottom: solid 1.7px #4a4a4a !important;
}
.email-input.v-middle.footer-email::placeholder{
    color:#4a4a4a !important;
}

.cm-header-label {
    font-size:2rem !important; 
}

}

// extraa style
.icon-drop-down-arrow {
	padding : 0 !important
}

