<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.about-destination-about-us'}" />
<sly data-sly-test.bgcolor="${properties.enablebgcolor}" />
<sly data-sly-test.button="${properties.enablebutton}" />
<sly data-sly-test.link="${properties.enablelink}" />
<div class="aboutus-destination-wrapper"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <section
        class="corp-hotels-carousel cm-content-blocks ${properties.enablebgcolor?'profile-card-background-gray':''} ${properties.enablebutton?'display-know-more-btn':''}">
        <div class="about-specific-city-container about-destination-city-container-wrapper about-hotels-container">
            <div class="specific-city-wrapper clearfix ${properties.enableIhclStyles=='true'?'ihcl-specific-wrap':''}">

                <div class="specific-city-details-container ${properties.reducesize=='true'?'aspiration-specific-wrap':''}">
                    <div class="specific-city-header-wrapper">
                        <h1 class="specific-city-header"
                            data-sly-use.template="core/wcm/components/commons/v1/templates.html"
                            data-sly-element="${properties.type}" data-sly-test.text="${properties.title}">${text}</h1>
                    </div>
                    <sly data-sly-test="${button}">
                    <div class="spec-about-city">
                        <div class="spec-about-city-subheader">${properties.quote}</div>
                        <div class="mr-image-middle">
                            <sly
                                data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.destinationimage,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly>
                        </div>
                        <article class="mr-description-expansion">
                            <div class="desc-sectionleader">
                                <div class="rooms-suites-description">${properties.description @context='html'}</div>
                                <div class="rooms-suites-description">${properties.longdescription @context='html'}</div>
                            </div>
                        </article>
                    </div>

                    </sly>
                    <sly data-sly-test="${!button}">
                    <div class="spec-about-city">
                        <div class="spec-about-city-subheader">${properties.quote}</div>
                        <sly data-sly-test="${link}">
                        <article>
                            <P>
                            <div class="desc-sectionleader">
                                <div class="rooms-suites-description">${properties.description @context='html'}</div>
                                <div class="rooms-suites-description">${properties.longdescription @context='html'}</div>
                            </div>
                            <span class="cm-view-link-tajhotel">
                                <a>www.tajhotels.com </a>
                            </span>
                            </P>
                        </article>
                        </sly>
                        <sly data-sly-test="${!link}">
                        <article>
                            <div class="desc-sectionleader">
                                <div class="rooms-suites-description">${properties.description @context='html'}</div>
                                <div class="rooms-suites-description">${properties.longdescription @context='html'}</div>
                            </div>
                        </article>
                        </sly>
                    </div>
                    </sly>
                    <sly data-sly-test.popup="${properties.enablepopup}"> <sly data-sly-test="${button}">
                    <div class="ihcl-know-more-btn-wrp" id="pop-up1" onclick="">
                        <a><button class="cm-btn-secondary view-button">${properties.buttontext}</button></a>
                    </div>
                    </sly> </sly>
                    <sly data-sly-test="${!popup}"> <sly data-sly-test="${button}">
                    <div class="ihcl-know-more-btn-wrp">
                        <a href="${properties.buttonurl}.html" target="_blank">
                            <button class="cm-btn-secondary">${properties.buttontext}</button>
                        </a>
                        <div class="disclaimer-text">${properties.disclaimerText @context='html'}</div>
                    </div>
                    </sly> </sly>
                </div>
                <div class="specific-city-carousel-conatiner">
                    <div class="desktop-display-none mr-viewGallery-about-carousel-wrapper">
                        <a class="viewGallery-aboutCarousel" href="#">View Gallery</a>
                    </div>
                    <div class="mr-specific-City-carousel-wrapper">
                        <div class="clearfix">
                            <div class="mr-specific-city-image-carousel-wrapper cm-left about-city-carousel-images-mobile">
                                <div class="mr-each-about-carousel-wrapper">
                                    <sly
                                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.destinationimage,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>


<div class="show-popUp-local-place-details profile-popup">
    <div class="cm-local-details-container mr-profile-popup">
        <div class="cm-local-details-overLay bas-overlay"></div>
        <div class="cm-local-details">
            <div class="loc-details-close-cont">
                <img class="showMap-close" src="/content/dam/tajhotels/icons/style-icons/close-icon-normal.svg"
                    alt="close-icon" />
            </div>
            <div class="loc-details-wrapper row">
                <div class="loc-details-container col-lg-6 col-md-12 col-sm-12">
                    <div class="specific-city-header-wrapper">
                        <div class="specific-city-header">${properties.title}</div>
                        <div class="spec-about-city-subheader">${properties.quote}</div>
                        <article class="ho-overview-description">
                            <P>${properties.descriptionpopup @context= 'html'}</P>

                        </article>
                    </div>
                </div>
                <div class="loc-image-container mr-popup-image col-lg-6 col-md-12 col-sm-12">
                    <div class="mr-inner-popup-container">
                        <sly
                            data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.destinationimage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='about-carousel-images'}" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>