.mr-ihcl-login-details-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.mr-ihcl-login-details-popup-overlay .mr-ihcl-login-details-inner-shadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(74, 74, 74, 0.55);
}

.mr-ihcl-login-details-popup-overlay .mr-ihcl-login-details-details-wrap {
    position: absolute;
    width: 83%;
    background: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}


.mr-ihcl-login-details-popup-overlay .mr-ihcl-login-details-details-wrap .ihcl-login-details-popup-wrapper {
    background-color: #ffffff;
    padding: 0 3rem 3rem 3rem;
}

@media only screen and (max-width: 767px) {
    .mr-ihcl-login-details-popup-overlay .mr-ihcl-login-details-details-wrap .ihcl-login-details-popup-wrapper {
        padding: 0.9375rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-ihcl-login-details-popup-overlay .mr-ihcl-login-details-details-wrap {
        height: 90%;
        top: 6%;
        overflow-x:hidden;
    }
}


/* for terms popup */


.mr-ihcl-terms-wrp-details-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 101;

}

.mr-ihcl-terms-wrp-details-popup-overlay .mr-ihcl-login-details-inner-shadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(74, 74, 74, 0.55);
}

.mr-ihcl-terms-wrp-details-popup-overlay .mr-ihcl-login-details-details-wrap {
    position: absolute;
    width: 83%;
    background: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}


.mr-ihcl-terms-wrp-details-popup-overlay .mr-ihcl-login-details-details-wrap .ihcl-login-details-popup-wrapper {
    background-color: #ffffff;
    padding:2rem;
}

@media only screen and (max-width: 767px) {
    .mr-ihcl-terms-wrp-details-popup-overlay .mr-ihcl-login-details-details-wrap .ihcl-login-details-popup-wrapper {
        padding: 0.9375rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-ihcl-terms-wrp-details-popup-overlay .mr-ihcl-login-details-details-wrap {
        height: 90%;
        top: 6%;
    }
}
.mr-ihcl-login-details-popup-overlay  .cm-page-container .cm-header-label-con{
    margin-bottom: 3rem;
}
.mr-ihcl-login-details-popup-overlay   .term-n-cond-wrp{
    margin-left: 2rem;
}
.ihcl-invalid-email-warning,.ihcl-terms-warning{
display:none;
}
.mr-ihcl-login-details-popup-overlay  .member-signin-form{
width:100%;
}
.mr-ihcl-login-details-popup-overlay .ihcl-terms-and-cond-popup{
text-decoration: underline!important;
color:var(--primaryColor)!important;
}

.mr-ihcl-terms-wrp-details-popup-overlay .mr-ihcl-login-details-details-wrap .ihcl-login-details-close-cont {
    position: absolute;
    top: 16px;
    top: 1rem;
    right: 16px;
    right: 1rem;
    z-index: 10;
}
.ihcl-login-btn-wrp{
    text-align: center;
    width:100%;
}
#ihcl-login-btn{
    margin: 2rem 0;
}
@media only screen and (max-width: 767px) {
    .mr-ihcl-terms-wrp-details-popup-overlay .mr-ihcl-login-details-details-wrap .ihcl-login-details-close-cont {
        top: 0.5rem;
        right: 0.5rem;
    }
    .ihcl-login-btn{
        margin:  0;
    }
}
        .ihcl-terms-warning{
margin-left:-2rem;
            }
    .terms-list-wrp li{
    list-style-type: circle;
    }