.pressCard-container {
    box-shadow: 0 7px 14px 0 #e5e3e3;
}

@media screen and (min-width: 992px) {
    .pressCard-container {
        height: 360px;
    }
}

.pressCard-image-container img {
    height: 100%;
    width: 100%;
}

.pressCard-description-container {
    padding: 13px 20px 30px 20px;
    padding: 0.8125rem 1.25rem 1.875rem 1.25rem;
}

.pressCard-description-container .pressCard-header {
    font-family: Calibri-Bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.25;
    letter-spacing: normal;
    color: #323232;
}

.pressCard-description-container .pressCard-date {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.38;
    color: #999999;
}

.pressCard-description-container .pressCard-desc {
    margin-top: 5px;
    margin-top: 0.3125rem;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.19;
    color: #4a4a4a;
}

.pressCard-description-container .pressCard-desc .read-more {
    cursor: pointer;
}

.pressCard-description-container .pressCard-desc a:hover {
    color: var(--primaryColor) !important;
}

.pressCard-wrapper.cm-card-showmore-spacing {
    display: block;
}

.press-image-carousel .leftArrow {
    left: -5%;
    width: 16px;
    width: 1rem;
}

.press-image-carousel .rightArrow {
    right: 2%;
    width: 16px;
    width: 1rem;
}

.press-image-carousel .mr-specific-City-carousel-wrapper {
    width: 100%;
    height: 100%;
}

.press-image-carousel .mr-each-about-carousel-wrapper {
    height: 100%;
}
.press-image-carousel .mr-each-about-carousel-wrapper img{
	width:100%;
}

.press-image-carousel .news-caption {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    font-style: italic;
    line-height: 40px;
    line-height: 2.5rem;
    color: #1b1b1b;
}

.press-image-carousel .news-description {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.4rem;
    color: #1b1b1b;
    width: 100%;
    margin-bottom: 34px;
    margin-bottom: 2.125rem;
    margin-top: 22px;
    margin-top: 1.375rem;
    text-align: justify;
}

.press-image-carousel .news-description div {
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
}

@media only screen and (max-width: 991px) {
    .press-image-carousel .about-carousel-images {
        width: 100%;
    }

    .press-image-carousel .mr-specific-City-carousel-wrapper {
        width: 100%;
    }

    .press-image-carousel .news-description {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .press-image-carousel .news-description {
        width: 100%;
        line-height: 1.25rem;
    }

    .press-image-carousel .news-caption {
        font-size: 0.75rem;
        line-height: 0.875rem;
        margin-top: 0.5625rem;
    }
}

