
<div data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
	data-sly-use.template="core/wcm/components/commons/v1/templates.html">
		<div>
        	<div class="cm-header-label-con title-decorator-border">
        		<div class="cm-header-label">Offers</div>
            </div>
			<div >
                <ul data-sly-list.listItem="${list.items}">
					<sly  
						data-sly-resource="${ '{0}' @ format=[listItem.path], resourceType='tajhotels/components/content/hotel-offer-list/item'}"></sly>
				</ul>
			</div>
        </div>
</div>