.amaBookingConfirmation{}
.amaBookingConfirmation .amaBookingWrap{
    background:#f6f6f6;
    padding:20px;
    position:relative;
}
.amaBookingConfirmation .confirmation-con .confirmation-header::after {
    border-bottom: 1px solid #979797;
    margin: 0;}
.amaBookingConfirmation{}
.amaBookingConfirmation{}