.cart-selected-rooms-addons-container .cart-addons-container.show-addons {
    padding-left: 30px !important;
    padding-left: 1.875rem !important;
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-addons-container .cart-addons-container.show-addons {
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 991px) {
    .cart-selected-rooms-addons-container {
        padding: 0rem 1rem;
    }

    .cart-selected-rooms-addons-container [class*="col-"] {
        padding: 0 !important;
    }
}

.confirmation-selected-rooms-card {
    position: relative;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

.confirmation-selected-rooms-card:last-child {
    margin-bottom: 0;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header {
    position: relative;
    background-color: rgba(230, 230, 230, 0.65);
    padding: 15px 29px 12px 19px;
    padding: 0.9375rem 1.8125rem 0.75rem 1.1875rem;
}

@media only screen and (max-width: 767px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-header {
        padding: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-header {
        padding: 0.9375rem 0.625rem 0.75rem 0.625rem;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-header::before {
    width: 6px;
    width: 0.375rem;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: var(--linearGradient);
    opacity: 0.3;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-number {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--primaryColor);
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-number {
        font-size: 1.125rem;
        display: block;
        padding: 0.625rem 0.375rem 0.75rem 1rem;
        background-color: #ffffff;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp {
    margin: 0 16px 0 80px;
    margin: 0 1rem 0 5rem;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp {
        display: block;
        width: 100%;
        margin: 0;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp,
.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp {
    padding: 4px 17px 4px;
    padding: 0.25rem 1.0625rem 0.25rem;
    border-right: solid 1px rgba(155, 155, 155, 0.3);
    border-right: solid 0.0625rem rgba(155, 155, 155, 0.3);
    display: inline-block;
    vertical-align: middle;
    min-height: 34px;
    min-height: 2.125rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp,
  .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp {
        margin: 0 0.9375rem;
        padding: 1.125rem 0.5rem !important;
        border-right: none;
        border-bottom: solid 0.0625rem rgba(155, 155, 155, 0.3);
        display: block;
        min-height: 3.6875rem;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-adult-label,
.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-adult-label,
.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-children-label,
.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-children-label {
    position: relative;
    margin-right: 15px;
    margin-right: 0.9375rem;
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri-bold;
    font-size: 14px;
    font-size: 0.875rem;
    color: #323232;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-adult-label,
  .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-adult-label,
  .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-children-label,
  .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-children-label {
        font-family: Calibri;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-adult-label .children-age-limit,
.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-adult-label .children-age-limit,
.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-children-label .children-age-limit,
.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-children-label .children-age-limit {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    font-style: italic;
    line-height: 0.9;
    color: #272727;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-count-wrapper,
.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-count-wrapper {
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-count-wrapper,
  .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-count-wrapper {
        float: right;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-count-wrapper .cart-count-value,
.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-count-wrapper .cart-count-value {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 0.78;
    text-align: center;
    color: #323232;
    min-width: 50px;
    min-width: 3.125rem;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-count-wrapper .cart-decrease-count,
.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-count-wrapper .cart-decrease-count,
.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-adult-count-wrp .cart-count-wrapper .cart-increase-count,
.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-info-wrp .cart-children-count-wrp .cart-count-wrapper .cart-increase-count {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 25px;
    width: 1.5625rem;
    height: 25px;
    height: 1.5625rem;
    border-radius: 0.125rem;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: var(--primaryColor);
    text-align: center;
    cursor: pointer;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type {
    display: inline-block;
    vertical-align: middle;
    border-radius: 0.125rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type {
        min-height: 3.6875rem;
        display: block;
        margin: 0 0.9375rem;
        padding: 1.125rem 0.5rem;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-bed-label {
    display: none;
    font-family: Calibri;
    font-size: 16px;
    color: #323232;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-bed-label {
        display: inline-block;
        vertical-align: middle;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.selected-bed-type {
    background-image: var(--linearGradient);
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.selected-bed-type .cart-room-bed-label {
    color: #ffffff;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.selected-bed-type .default-bed {
    display: none;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.selected-bed-type .default-bed.selected-bed {
    display: block;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed {
    cursor: pointer;
    position: relative;
    background-color: #e7e6e6;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: -5px;
    margin-right: -0.3125rem;
    min-width: 66px;
    min-width: 4.125rem;
    padding: 5px;
    padding: 0.3125rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed {
        float: right;
        margin-top: -0.3rem;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed:hover .cart-room-bed-popup {
    display: block;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-popup {
    z-index: 1;
    border-radius: 0.25rem;
    display: none;
    min-width: 263px;
    min-width: 16.4375rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -ms-transform: translate(-40%, -115%);
    transform: translate(-40%, -115%);
    background-color: #ffffff;
    padding: 20px 25px;
    padding: 1.25rem 1.5625rem;
    box-shadow: 0 7px 14px 0 #272727;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-popup::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.75em;
    bottom: -20px;
    bottom: -1.25rem;
    left: 50%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: #ffffff transparent transparent transparent;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-popup .room-bed-popup-icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    width: 2.625rem;
    height: 22px;
    height: 1.375rem;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-popup .room-bed-popup-text {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.33;
    color: #4a4a4a;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    margin-left: 0.75rem;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-label {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    color: #7b7b7b;
    margin-top: 5px;
    margin-top: 0.3125rem;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .default-bed {
    display: block;
    margin: auto;
    width: 22px;
    width: 1.375rem;
    height: 12px;
    height: 0.75rem;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .default-bed.selected-bed {
    display: none;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.two-twins-bed-wrp .default-bed {
    width: 30px;
    width: 1.875rem;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-bed-king.selected-bed {
    background-image: var(--linearGradient);
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp {
    position: absolute;
    top: 15px;
    top: 0.9375rem;
    right: 29px;
    right: 1.8125rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp {
        top: 0.375rem;
        right: 0.375rem;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost {
    font-family: Calibri-bold;
    font-size: 22px;
    font-size: 1.375rem;
    color: #4a4a4a;
    margin-right: 36px;
    margin-right: 2.25rem;
    display: inline-block;
    vertical-align: middle;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost span.rupee-symbol {
    font-family: RupeeForadian;
    font-weight: normal;
    font-size: 20px;
    font-size: 1.25rem;
}

.confirmation-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-delete-icon {
    width: 22px;
    width: 1.375rem;
    height: 26px;
    height: 1.625rem;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1.5rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-header {
        padding: 0.875rem 0.9375rem;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-content {
    display: table;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    border: 1px solid #e5e3e3;
    border-left: none;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-content {
        display: block;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-content::before {
    width: 6px;
    width: 0.375rem;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: var(--linearGradient);
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-content::before {
        display: none;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities {
    padding: 22px 66px 20px 34px;
    padding: 1.375rem 4.125rem 1.25rem 2.125rem;
    width: 480px;
    width: 30rem;
    display: table-cell;
    vertical-align: top;
}

.confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities::before {
    width: 6px;
    width: 0.375rem;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: var(--linearGradient);
    display: none;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities::before {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities {
        display: block;
        position: relative;
        width: 100%;
        padding: 0.6875rem 1rem 1.3125rem 1.375rem;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-title {
    font-family: Calibri-bold;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04;
    color: #323232;
    margin-bottom: 7px;
    margin-bottom: 0.4375rem;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-title {
        font-size: 1.25rem;
        margin-bottom: 0.3125rem;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-title i {
    position: absolute;
    right: 0;
    top: 5px;
    top: 0.3125rem;
    display: none;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-title img {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-available-wrp {
        display: none;
        margin-top: 0.9375rem;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-description {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #323232;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-description {
        font-size: 1rem;
        font-family: Calibri-bold;
        margin-bottom: 0;
    }
}

.confirmation-selected-rooms-card .cart-selected-rooms-content .cart-selected-info-wrp {
    display: table-cell;
    vertical-align: middle;
    border-left: dashed 1px #272727;
    border-left: dashed 0.0625rem #272727;
    padding: 31px 31px 28px 28px;
    padding: 1.9375rem 1.9375rem 1.75rem 1.75rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .cart-selected-rooms-content .cart-selected-info-wrp {
        display: block;
        width: 100%;
        padding: 1.375rem;
        border-left: none;
        border-top: dashed 0.0625rem #272727;
        display: none;
    }
}

.confirmation-selected-rooms-card .description-cancel-wrp {
    width: 704px;
    width: 44rem;
}

.confirmation-selected-rooms-card .description-cancel-wrp .rate-description {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-selected-rooms-card .description-cancel-wrp {
        width: 100%;
    }
}

.pet-policy {
    margin-top: 20px;
    margin-top: 1.25rem;
}

.confirmation-room-details {
    float: left;
}

.confirmation-room-details .heading {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: Calibri-Bold;
    color: #323232;
}

@media only screen and (max-width: 991px) {
    .confirmation-room-details .heading {
        font-size: 1.25rem;
    }
}

.confirmation-room-details .room-details {
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
    font-family: Calibri;
}

@media only screen and (max-width: 991px) {
    .confirmation-room-details .room-details {
        font-size: 1rem;
    }
}

.confirmation-room-details .room-details .room-details-colored {
    font-family: Calibri-Bold;
    font-size: 20px;
    font-size: 1.25rem;
    color: var(--primaryColor);
}

@media only screen and (max-width: 991px) {
    .confirmation-room-details .room-details .room-details-colored {
        font-size: 1rem;
    }
}

.confirmation-room-details .room-details .room-details-margin {
    border-right: 1px solid #c3c3c3;
    padding-right: 14px;
    padding-right: 0.875rem;
}

.confirmation-room-details .room-details .bed-spec {
    margin-left: 14px;
    margin-left: 0.875rem;
    margin-right: 20px;
    margin-right: 1.25rem;
}

.confirmation-room-details .room-details img {
    margin-right: 7px;
    margin-right: 0.475rem;
}

.confirmation-room-price {
    float: right;
}

.confirmation-room-price .confirmation-price-con {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-top: 0.625rem;
}

.confirmation-room-price .confirmation-price-con span:first-child {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    vertical-align: middle;
}

.confirmation-room-price .confirmation-price-con .rupee-text {
    font-family: RupeeForadian;
    font-size: 24px;
    font-size: 1.5rem;
    margin: 0 5px;
    margin: 0 0.3125rem;
    vertical-align: middle;
}

.confirmation-room-price .confirmation-price-con span:last-child {
    font-family: Calibri-Bold;
    font-size: 28px;
    font-size: 1.75rem;
    vertical-align: middle;
}

@media only screen and (max-width: 374px) {
    .confirmation-room-price .confirmation-price-con span:last-child {
        font-size: 1.25rem;
    }
}

.confirmation-room-price .confirmation-banner {
    display: inline-block;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .confirmation-room-price .confirmation-banner .total-price-deal-section {
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .confirmation-room-price .confirmation-banner .total-price-deal-section {
        margin-right: 0;
    }
}

.confirmation-room-price .confirmation-banner .best-deal-banner {
    background: none;
    top: 0;
    position: relative;
    max-width: unset;
    text-align: center;
}

.confirmation-room-price .confirmation-banner .best-deal-banner img {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.confirmation-room-price .confirmation-banner .best-deal-banner span {
    position: relative;
    font-size: 14px;
    font-size: 0.875rem;
    top: 1px;
}

@media only screen and (max-width: 415px) {
    .confirmation-room-price .confirmation-banner .best-deal-desc {
        max-width: 7rem;
    }
}