    .mr-gift-card-popup .cm-local-details{
    background-color:#FFF;
    padding: 2rem 4rem 2rem 3.5rem; 
    }
.mr-gift-card-popup .gift-card-wrp .conf-msg {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 1rem;
}
    .mr-gift-card-popup .gift-card-wrp .about-gift-card{
        color: #000;
        font-size: 1rem;
        margin-bottom: 1.6rem;
        line-height: 1.1;
    }
    .mr-gift-card-popup .gift-card-wrp .about-gift-card a{
        color: var(--primaryColor);
        text-decoration: underline;
    }
    .mr-filterCheckBox-label{
        margin:0 0 1rem 2rem;
    }
    .gift-card-submit-btn-wrp {
        text-align: right;
        /* margin-top: 2rem; */
    }
    .mr-gift-card-popup .gift-card-wrp .mr-sub-form .sub-form-input-element:disabled{
            background-color: rgb(235, 235, 228);
            color:#000;
                cursor: not-allowed;
    }
    .mr-gift-card-popup .selectSubContainer{
        width: 100%;
    }

.cm-local-details-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 100;
    overflow: auto;
}

.cm-local-details-container .active {
    display: block !important;
}

.cm-local-details-container .cm-local-details-overLay.bas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(74, 74, 74, 0.55);
}

.mr-gift-card-popup.cm-local-details-container .cm-local-details {
    position: absolute;
    width: 83%;
    height: 88%;
    background: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container .cm-local-details {
        width: 90%;
        top: 5%;
        height: 95%;
    }
}

.cm-local-details-container .cm-local-details .loc-details-close-cont {
    height: 14px;
    height: 1rem;
    width: 100%;
}

.cm-local-details-container .cm-local-details .loc-details-close-cont .showMap-close {
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    position: fixed;
    top: 11%;
    right: 10%;
    z-index: 1;
    cursor: pointer;
}
@media only screen and (max-width: 991px) {

    .cm-local-details-container .cm-local-details .loc-details-close-cont .showMap-close {
    right: 6%;
}
}

.cm-local-details-container .cm-local-details .loc-details-wrapper {
    margin: 20px 50px 50px;
    margin: 1.25rem 3.125rem 3.125rem;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper {
        margin: 1.25rem;

    }
}

@media only screen and (max-width: 480px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-details-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (min-width: 992px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-details-container {
        padding-right: 0.375rem;
    }
}

@media only screen and (max-width: 480px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mr-gift-card-popup .cm-local-details {
    background-color: #FFF;
    padding: 1rem 1.5rem;
}
.mr-gift-card-popup .gift-card-wrp .conf-msg{
font-size: 1.25rem;
}
}

.enroll-con.gift-card-btn-wrp{
    display: flex;
    margin-top:1rem; 
    align-items: center;
}
.enroll-con.gift-card-btn-wrp .enroll-text-con{
    float: unset;
    flex-shrink: 2;
    padding-right: 1rem;
}
.enroll-con.gift-card-btn-wrp .gift-card-btn{
    min-width: 14rem;
    margin-right: 1rem;
    line-height: 2;
}
.enroll-con.gift-card-btn-wrp .enroll-text-con span:last-child{
font-family: Calibri;
}
/* .email-checkbox{
margin-top: 1rem;
} */
@media only screen and (max-width: 991px) {
    .enroll-con.gift-card-btn-wrp .enroll-text-con{
        padding-right: 0;
    }
.enroll-con.gift-card-btn-wrp{
    flex-direction: column;
}
.enroll-con.gift-card-btn-wrp .gift-card-btn{
    line-height: 3;
    margin-top: 1rem;
    margin-right: 0;
    width: 100%;
}
}
.enroll-con.gift-card-btn-wrp #total-amount ,.enroll-con.gift-card-btn-wrp #amount-to-be-paid{
        font-family: Calibri-Bold;

}


