.cart-final-prize-con {
    position: relative;
}

.carts-book-now {
    float: right;
    width: 181px;
    width: 11.3125rem;
    margin-top: 6px;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .carts-book-now {
        width: 7.125rem;
    }
}

.total-prize-con {
    float: right;
    font-size: 24px;
    font-size: 1.5rem;
    font-family: Calibri;
    color: #272727;
    margin-right: 14px;
    margin-right: 0.875rem;
}

.total-prize-con div {
    float: left;
}

.total-prize-con div:first-child {
    margin-top: 6px;
}

.total-prize-con div:last-child {
    position: relative;
}

.total-prize-con span.cart-final-price {
    margin-left: 0px !important;
}

.total-prize-con span {
    font-family: Calibri-Bold;
    font-size: 32px;
    font-size: 2rem;
    color: #4a4a4a;
    margin: 0 12px;
    margin: 0 0.75rem;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .total-prize-con span {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 320px) {
    .total-prize-con span {
        font-size: 1.25rem;
        margin: 0 0.5rem;
    }
}

.total-prize-con span:first-child {
    font-family: RupeeForadian;
    font-size: 28px;
    font-size: 1.75rem;
    margin-right: 0;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .total-prize-con span:first-child {
        font-size: 1.25rem;
    }
}

.total-prize-con span:last-child {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    color: #323232;
    position: absolute;
    right: -6px;
    top: 0;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .total-prize-con span:last-child {
        top: -5px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .total-prize-con {
        font-size: 1rem;
        line-height: 20px;
        margin-right: 0;
        position: relative;
    }
}

.total-price-deal-section {
    float: right;
    margin-right: 14px;
    margin-right: 0.875rem;
    position: relative;
}

.total-price-deal-section .best-deal-banner {   
    height: 25px;
    line-height: 30px;
    color: #fff;
    max-width: 130px;
    max-width: 8.125rem;
    position: absolute;
    right: 0;
    top: -16px;
}

.total-price-deal-section .best-deal-banner div {
    position: absolute;
    top: 4px;
    top: 0.3rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
}

.total-price-deal-section .best-deal-desc {
    margin-top: 17px;
    max-width: 176px;
    max-width: 11rem;
    text-align: right;
    color: #272727;
    font-family: Calibri;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.48;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .total-price-deal-section {
        display: none;
    }
}

.total-price-back {
    color: var(--primaryColor);
    font-family: Calibri-Bold;
    cursor: pointer;
    padding-top: 13px;
    float: left;
}
.total-price-back a{
    color:var(--primaryColorDark) ; 
}

.carts-add-room {
    width: 223px;
    width: 13.9375rem;
    margin-top: 6px;
    position: absolute;
    left: 0;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .carts-add-room {
        width: auto;
        border: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .carts-add-room {
        font-size: 0.75rem;
    }
}

.tic-room-redemption-fix .total-prize-con span.cart-final-price,
.tic-room-redemption-fix .cart-layout .cart-footer-fixed-total-price .total-prize-con .cart-tic-points {
	font-size: 1.25rem;
	line-height: 1.75;
}

.tic-room-redemption-fix .total-prize-con .cart-tic-points {
	margin-top: 0;
}

@media only screen and (max-width: 767px) {
	.tic-room-redemption-fix .total-prize-con span.cart-final-price,
	.tic-room-redemption-fix .cart-layout .cart-footer-fixed-total-price .total-prize-con .cart-tic-points {
		font-size: 1rem;
		line-height: 1.5;
	}
}

@media only screen and (max-width: 375px) {
	.tic-room-redemption-fix .total-prize-con span.cart-final-price,
	.tic-room-redemption-fix .cart-layout .cart-footer-fixed-total-price .total-prize-con .cart-tic-points {
		font-size: 0.75rem;
		line-height: 1.3;
	}
	.tic-room-redemption-fix .carts-book-now {
		width: 6rem;
	}
}
.cm-btn-primary{color: var(--primaryColorDark)}

.ihcl-theme .cart-layout .cart-footer-fixed-total-price {
	z-index: 3;
}

@media only screen and (max-width: 767px) {
	.ihcl-theme .cart-footer-fixed-total-price .carts-add-room {
        border: none !important;
        color: #084b77 !important;
	}
	.ihcl-theme .cart-footer-fixed-total-price .astrick-symbol {
        display: none;
	}
	.ihcl-theme .cart-footer-fixed-total-price .carts-book-now {
        border-radius: 2px;
	} 
	.ihcl-theme .cart-layout .cart-footer-fixed-total-price .total-prize-con div:first-child {
	   white-space: nowrap;
	}
	.ihcl-theme .cart-layout .cart-footer-fixed-total-price {
	   padding-bottom: 1.4rem;
	}
}