<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.bookings'}" />

<div class="cart-selected-rooms-addons-container cm-content-blocks row">
			<div data-sly-use.multiItems="com.ihcl.core.models.WarningPopupModel" style="display : none; ">
				<div data-sly-repeat.head="${multiItems.getMultiFieldItems}">
					<span data-warning-heading="${head.getWarningHeading}" 
							data-warning-description="${head.getWarningDescription}"
							data-warning-type="${head.getWarningPopupType}"></span>
				</div>
			</div>
	<div class="cart-selected-rooms-container col-12 col-md-12 col-lg-12">
		<div class="cm-header-label-con title-decorator-border">
			<h2 class="cm-header-label">Selected rooms</h2>
		</div>
		<div class="cart-selected-rooms-card-container">
			<div class="cart-selected-rooms-card">
				<div class="cart-selected-rooms-header">
					<div class="cart-room-details">
						<div class="cart-room-number">Room</div>
						<div class="cart-room-info-wrp">
							<div class="cart-adult-count-wrp">
								<div class="cart-adult-label">Adults</div>
								<div class="cart-count-wrapper">
									<!-- <div class="cart-decrease-count">-</div> -->
									<div class="cart-count-value">0</div>
									<!-- <div class="cart-increase-count">+</div> -->
								</div>
							</div>
							<div class="cart-children-count-wrp">
								<div class="cart-children-label">
									Children
									<div class="children-age-limit">Age: 0-12 years</div>
								</div>
								<div class="cart-count-wrapper">
									<!-- <div class="cart-decrease-count">-</div> -->
									<div class="cart-count-value">0</div>
									<!-- <div class="cart-increase-count">+</div> -->
								</div>
							</div>
						</div>
						<div class="cart-room-bed-type">
							<div class="cart-bed-label">Bed</div>
							<div data-bed-type="king" class="cart-room-bed king-bed-wrp cm-hide" tabindex = "0">
								<img class="default-bed selected-bed"
									src="/content/dam/tajhotels/icons/style-icons/king-size-bed-selected.svg"
									alt="king bed selected icon" /><img class="default-bed"
									src="/content/dam/tajhotels/icons/style-icons/king-size-bed-not-selected.svg"
									alt="king bed icon" />
								<div class="cart-room-bed-label">King</div>
								<div class="cart-room-bed-popup">
									<img class="room-bed-popup-icon"
										src="/content/dam/tajhotels/icons/style-icons/king-size-bed-not-selected.svg"
										alt="king bed icon" />
									<div class="room-bed-popup-text">Select your bed type</div>
								</div>
							</div>
                            <div data-bed-type="double" class="cart-room-bed king-bed-wrp cm-hide" tabindex = "0">
                                <img class="default-bed selected-bed"
                                    src="/content/dam/tajhotels/icons/style-icons/king-size-bed-selected.svg"
                                    alt="double bed selected icon" /><img class="default-bed"
                                    src="/content/dam/tajhotels/icons/style-icons/king-size-bed-not-selected.svg"
                                    alt="double bed icon" />
                                <div class="cart-room-bed-label">Double</div>
                                <div class="cart-room-bed-popup">
                                    <img class="room-bed-popup-icon"
                                        src="/content/dam/tajhotels/icons/style-icons/king-size-bed-not-selected.svg"
                                        alt="double bed icon" />
                                    <div class="room-bed-popup-text">Select your bed type</div>
                                </div>
                            </div>
							<div data-bed-type="queen" class="cart-room-bed king-bed-wrp cm-hide" tabindex = "0">
								<img class="default-bed selected-bed"
									 src="/content/dam/tajhotels/icons/style-icons/king-size-bed-selected.svg"
									 alt="queen bed selected icon" /><img class="default-bed"
													   src="/content/dam/tajhotels/icons/style-icons/king-size-bed-not-selected.svg"
													   alt="queen bed icon" />
								<div class="cart-room-bed-label">Queen</div>
								<div class="cart-room-bed-popup">
									<img class="room-bed-popup-icon"
										 src="/content/dam/tajhotels/icons/style-icons/king-size-bed-not-selected.svg"
										 alt="queen bed icon" />
									<div class="room-bed-popup-text">Select your bed type</div>
								</div>
							</div>
							<div data-bed-type="twin" class="cart-room-bed two-twins-bed-wrp cm-hide"
							tabindex = "0">
								<img class="default-bed selected-bed"
									src="/content/dam/tajhotels/icons/style-icons/two-twins-bed-selected.svg"
									alt="twin bed selected icon" /><img class="default-bed"
									src="/content/dam/tajhotels/icons/style-icons/two-twins-bed-not-selected.svg"
									alt="twin bed icon" />
								<div class="cart-room-bed-label">Twin</div>
								<div class="cart-room-bed-popup">
									<img class="room-bed-popup-icon"
										src="/content/dam/tajhotels/icons/style-icons/two-twins-bed-not-selected.svg"
										alt="twin bed icon" />
									<div class="room-bed-popup-text">Select your bed type</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cart-room-cost-wrp">
                        <div class="cart-room-cost">
                            <span class="cart-currency-symbol rupee-symbol"></span>
                            <span class="room-amount"></span >
                            <span class="astrik-sign" >*</span>
                        </div>
                        <button class="cart-room-delete-icon icon-delete-icon inline-block btn-only-focus" aria-label = "delete icon" data-dialog-btn = "WarningBox">
                        </button>
					</div>
				</div>
				<div class="cart-selected-rooms-content">
					<div class="cart-selected-rooms-amenities">
						<h3 class="cart-amenities-title"></h3>
						<div class="cart-amenities-description"></div>
						<div class="cart-available-wrp">
								<!--<div class="amenities-avail-list">
										<img class="amenities-list-icon"
											src="/content/dam/tajhotels/icons/style-icons/room-amenity-bed.svg" alt="icon" />
										<div class="amenities-list-label">Breakfast Included</div>
									</div>
									<div class="amenities-avail-list">
										<img class="amenities-list-icon"
											src="/content/dam/tajhotels/icons/style-icons/room-amenity-bed.svg" alt="icon" />
										<div class="amenities-list-label">Breakfast Included</div>
									</div>-->
						</div>
					</div>
					<div class="cart-selected-info-wrp">
						<div class="description-cancel-wrp">
							<div class="rate-description">
								<span class="bold-title"></span><span></span> <span
									class="show-more-option"></span>
							</div>
							<div class="cancel-policy">
								<span class="bold-title"></span><span> </span><span
									class="show-more-option"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

