.ama-family{
	display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0px;
}

.ama-family-icon {
    padding: 14px;
    text-align: center;
}

.ama-family-icon-container{
    height: 76px;
}

.ama-family-icon img{
    height: 60px;
    margin: 5px 0px 4px 0px;
}

.ama-family-icon p{
    width: 320px;
    min-height: 60px;
    font-weight: 600;
    font-size: 16px;
}

@media only screen and (max-width: 768px){
	.joinAmaFmly .ama-family {
        display: block;}
  	.ama-family-icon p {
        min-height: auto;}
    .joinAmaFmly{padding-bottom:20px;}
}
