.banner-image-con {
    position: relative;
    text-align: center;
    color: #fff;
  /*height: 510px;*/
    height: 510px;
    height: 31.875rem;
}

@media only screen and (max-width: 991px) {
    .banner-image-con {
        height: auto;
    }
}

.cm-banner-image {
    width: 100%;
    height: 510px;
}

.cm-banner-image img {
    height: 100%;
}

.banner-titles {
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-family: Calibri;
}

.banner-titles .cm-header-label-con {
    display: inline-block !important;
    position: relative;
    margin-bottom: 30px !important;
}

.banner-titles .cm-header-label-con.title-decorator-border::after {
    left: 50%;
    margin-left: -50px;
}

.banner-titles .cm-header-label {
    color: #fff;
    font-size: 40px;
    text-shadow: 1px 5px 10px #000000;
}

.banner-titles .banner-label-below-title-lg {
    font-size: 40px;
}

.banner-titles .banner-label-below-title-sm {
    font-size: 20px;
    text-shadow: 1px 5px 10px #000000;
}

@media only screen and (max-width: 480px) {
    .offerbanner {
        display: none;
    }

    .banner-label-below-title-lg {
        display: none;
    }

    .banner-label-below-title-sm {
        display: none;
    }

    .banner-titles {
        position: initial;
        height: initial;
        margin-top: 35px;
    }

    .banner-titles .cm-header-label {
        font-size: 30px;
        font-family: "Calibri-Bold";
        color: #4a4a4a;
        text-shadow: none;
    }

    .banner-titles .cm-header-label-con.title-decorator-border::after {
        left: 50%;
        margin-left: -50px;
        -ms-transform: none;
        transform: none;
    }

    .banner-titles .cm-header-label-con {
        margin-bottom: 0 !important;
    }
}


.title-decorator-border {
    position: relative;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.title-decorator-border::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100px;
    background-color: var(--primaryColor);
    left: 0;
    bottom: -10px;
}

@media only screen and (max-width: 767px) {
    .title-decorator-border {
        text-align: center;
        font-size: 20px;
    }

    .title-decorator-border::after {
        left: 50%;
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }
}

.banner-image-tint {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    /*background-image: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.3));*/
	/*background-image: linear-gradient(-164deg, transparent 0%, #000000 126%);*/
	background: #000;
	opacity: 0.3;
}

@media only screen and (max-width: 767px) {
	.offerbanner .banner-image-tint {
		display: none;
	}
}
