<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.tajhotels.profilelistpage'}" />
<div data-sly-test="${wcmmode.edit}">Individual Profile List
	Component</div>
<sly data-sly-test.three="${properties.numberofcards=='3'}">
<div class="profile-card-carousel-wrp">
	<div data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
		data-sly-list.listItem="${list.items}" class="row">
		<sly
			data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/individual-profile-card' }"></sly>
	</div>
</div>
</sly>
<sly data-sly-test.four="${properties.numberofcards=='4'}">
<div class="retail-services-carousel-wrp">
	<div data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
		data-sly-list.listItem="${list.items}" class="row">
		<sly
			data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/individual-profile-card' }"></sly>
	</div>
</div>
</sly>
<sly data-sly-test="${!three && !four}">
<div class="executive-leader-profile-card-carousel-wrp">
	<div data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
		data-sly-list.listItem="${list.items}"
		class="row ihcl-leadership-wrap">
		<div class="col-lg-4 col-md-6 col-sm-12">
			<sly
				data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/individual-profile-card' }"></sly>
		</div>
	</div>
</div>
</sly>
