   .brand-card-component {
      width: 30%;
      border: none;
      box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
      display: inline-block;
      margin-right: 30px;
      .brand-image-wrapper {
          background-image: url(../../../assets/images/ic-taj-brand@2x.png);
          width: 106%;
          height: 379px;
          background-size: 100%;
          margin-left: -10px;
          background-position: 0;
          background-repeat: no-repeat;
      }
      .brand-name-wrapper {
          text-align: center;
          position: absolute;
          bottom: 146px;
          width: 100%;
          background-color: #080808;
          opacity: 0.7;
          color: white;
          .brand-icon {
              width: 80px;
          }
      }

      .footer {
          padding: 11px 30px 19px 30px;
          .brand-description {
              font-family: SunSans;
              font-size: 18px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.28;
              letter-spacing: normal;
              text-align: left;
              color: #9b9b9b;
              margin: 0;
              padding: 0;
          }
      }
  }

