.contact-btn-wrp{
text-align:right;
}
.contact-btn{
width:300px;
margin-right:2.5rem;
}
@media only screen and (max-width: 767px) {
    .contact-btn-wrp{
text-align:center;
}
.contact-btn{
margin-right:0rem;
}
}
