<div data-sly-test="${wcmmode.edit}">AMP Link Button</div>

<section class="link-button background-${properties.bgColor}">
    <div class="link-container container">

        <a href="${properties.linkPath}">${properties.linkText @ context='html'}</a>

    </div>
</section>