<div data-sly-test="${wcmmode.edit}">
  IHCL Block
</div>


<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihclBlock'}" />


<sly data-sly-use.model="com.ihcl.core.models.ihcl.IhclBlockModel"/>
<div class="loop mr-initiative-card-container">
<div class="row">
<sly data-sly-list.key="${model.list}" >

<div class="mr-initiative-card-wrapper col-lg-4 col-md-6 col-sm-12 show-more-card-element cm-card-showmore-spacing">
    <div class="mr-initiative-inner-wrap">
        <div class="mr-card-top">
            <div class="mr-card-top-details-bold">${key.title}</div>
            <div class="mr-card-top-details">${key.titleAddOn @context='html'}</div>
        </div>


        <div class="mr-card-bottom">
            <div class="desc-section-block">
                <div class="rooms-suites-description">${key.description @context='html'}</div>
                <div class="rooms-suites-description">${key.longdescription @context='html'}</div>
                </div>
        </div>

    </div>
</div>
</div>
</div>
</sly>
