<div data-sly-test="${wcmmode.edit}">
  AMP Direct Best Rate Component
</div>
<!-- Direct Best Rate -->
<div class="direct-rate">
    <h2 style="margin-top:0" class="component-title ${inheritedPageProperties.sitePath}">${properties.shortTitle}</h2>
    <div class="direct-rate-icons-container">
        <div class="direct-rate-icon">
            <div class="direct-rate-img-wrapper">
                <amp-img layout="fill" src="${properties.image1}" alt="${properties.image1Alt}"></amp-img>
            </div>
            <p>${properties.image1Caption}</p>
        </div>
        <div class="direct-rate-icon">
            <div class="direct-rate-img-wrapper">
                <amp-img layout="fill" src="${properties.image2}" alt="${properties.image2Alt}"></amp-img>
            </div>
            <p>${properties.image2Caption}</p>
        </div>
        <div class="direct-rate-icon">
            <div class="direct-rate-img-wrapper">
                <amp-img layout="fill" src="${properties.image3}" alt="${properties.image3Alt}"></amp-img>
            </div>
            <p>${properties.image3Caption}</p>
        </div>
	</div>
	<div class="direct-rate-icons-container">
        <div class="direct-rate-icon">
            <div class="direct-rate-img-wrapper">
                <amp-img layout="fill" src="${properties.image4}" alt="${properties.image4Alt}"></amp-img>
            </div>
            <p>${properties.image4Caption}</p>
        </div>
        <div class="direct-rate-icon">
            <div class="direct-rate-img-wrapper">
                <amp-img layout="fill" src="${properties.image5}" alt="${properties.image5Alt}"></amp-img>
            </div>
            <p>${properties.image5Caption}</p>
        </div>
        <div class="direct-rate-icon">
            <div class="direct-rate-img-wrapper">
                <amp-img layout="fill" src="${properties.image6}" alt="${properties.image6Alt}"></amp-img>
            </div>
            <p>${properties.image6Caption}</p>
        </div>
    </div>
</div>