<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.hotel-filter'}" />
<div data-sly-use.model="com.ihcl.core.models.HolidaySearchFilterTab">
    <div data-dropdown="json" style="display: none;">${model.jsonString}</div>
<input type="hidden" name="filter-json-string" id="filter-json-string" value=${model.jsonString}  aria-hidden = "true" />
</div> 
<div data-sly-test="${wcmmode.edit}">Holiday Search Filter Component</div>
<div class="holiday-outwrapper col-lg-12 col-md-12">
    <div class="holiday-filter-wrapper">
        <div class="filter-searchBar-wrap hide-in-lg">
        	<div class="filter-searchbar-label">What type of a holiday are you looking for?</div>
            <div class="filter-landing-cont"><img src="/content/dam/tajhotels/icons/style-icons/filter-icon.svg" alt = "filter icon"/></div>
        </div>
        <div class="events-filter-subsection">
            <div class="events-filter-back-arrow"><img src="/content/dam/tajhotels/icons/style-icons/leftArrow.svg" alt = "left Arrow"/>
                <div class="events-filter-subheading">Tell us what you are looking for</div>
            </div>
            <div class="filter-wrap-catagory"></div>
            <div class="filter-go-warpper filter-go-container"  data-redirecturl=${properties.redirectLink} onclick="applyFilter()">
                <div class="filter-go-con"><img class="filter-icon" src="/content/dam/tajhotels/icons/style-icons/filter-go.svg" alt="go-icon" />
                <!-- <div class="filter-icon-text hide-in-sm hide-in-md">Click here to search.</div> --><span class="search-icon-aligner"></span></div>
            </div><button class="cm-btn-secondary events-apply-btn cm-holiday-filter" id="holidayFilterSearch" onclick="applyFilter()">SEARCH</button></div>
    </div>
    <div id="holidaysFilterNoResults" class="holidays-filter-no-results" style="display:none">Sorry, No Results found.</div>    
</div>
