<div data-sly-test.edit=${wcmmode.edit}>
	<h1>campaign claim form component</h1>
</div>
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.claimform'}" />

<div class="cm-content-blocks">
	<div class="col-12">
		<div class="best-rate-guar-form-con">
			<div class="best-rate-guar-form-con-mand">Fields marked with *
				are mandatory</div>
			<form class="best-rate-guar-form-section mr-sub-form" action="upload"
				method="post" enctype="multipart/form-data">
				<div class="best-rate-guar-form-section-head">Contact
					Information:</div>
				<div class="best-rate-guar-form-section-details row">
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">First
							Name*</div>
						<input
							class="only-alpha-input best-rate-guar-form-input-element sub-form-input-element sub-form-mandatory"
							type="text" id="contact-info-first-name" aria-label  = "Contact Info FirstName"/>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Last
							Name*</div>
						<input
							class="only-alpha-input best-rate-guar-form-input-element sub-form-input-element sub-form-mandatory"
							type="text" id="contact-info-last-name" aria-label = "Contact Info LastName" />
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Taj
							InnerCircle number (if applicable)</div>
						<input
							class="best-rate-guar-form-input-element sub-form-input-element"
							type="text" id="contact-info-TIC-number" aria-label = "Contact Info TIC Number"/>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Phone
							Number*</div>
						<input
							class="only-numeric-input limit-phone-number best-rate-guar-form-input-element sub-form-input-element sub-form-mandatory"
							type="text" id="contact-info-phone-number"  aria-label = "Contact Info Phone Number"/>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Email
							ID*</div>
						<input
							class="email-input best-rate-guar-form-input-element best-rate-email-input sub-form-input-element sub-form-mandatory"
							type="text" val="Email" id="contact-info-email" aria-label  = "Contact Info Email" />
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Preferred
							Mode of Contact*</div>
						<div class="selectSubContainer best-rate-guar-preferred-mode">
							<select aria-label="Package number of children room 1" class="sub-form-input-element sub-form-mandatory"
								name="best-rate-guar-preferred-mode" id="best-rate-guar-preferred-mode"><option>Phone</option>
								<option>Mail</option></select>
						</div>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
				</div>
			</form>
			<div class="best-rate-guar-form-section mr-sub-form">
				<div class="best-rate-guar-form-section-head">Booking
					Information:</div>
				<div class="best-rate-guar-form-section-details row">
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Booking
							ID*</div>
						<input
							class="best-rate-guar-form-input-element sub-form-input-element sub-form-mandatory"
							type="text" id="booking-info-booking-id" aria-label = "Booking Id"/>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Hotel
							Name*</div>
						<div class="jiva-spa-hotel-input package-input-wrp">
							<input
								class="jiva-spa-mand jiva-spa-mand-input sub-form-input-element sub-form-mandatory "
								placeholder="Search for Hotel or Destination"
								id="searchInputJiva" aria-label = "Jiva Spa Search Input" />
							<div class="sub-form-input-warning"></div>
							<ul class="jiva-spa-search-list"></ul>
						</div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Arrival
							Date*</div>
						<div
							class="jiva-spa-date-section package-check-in-date best-rate-guar-arrival-date-wrp">
							<div class="jiva-spa-date-con enquiry-date-con">
								<input
									class="enquiry-from-value sub-form-input-element sub-form-mandatory best-rate-guar-arrival-date jiva-input-date"
									type="text" aria-label = "Jiva Spa Arrival Date" placeholder="Date" value="" disabled="disabled"
									id="booking-info-arrival-date" />
								<div class="sub-form-input-warning"></div>
								<img src="/content/dam/tajhotels/icons/style-icons/calendar.jpg" alt = "calendar-icon"/>
							</div>
							<div class="cm-fixed-date-picker-width jiva-spa-date"
								id="best-rate-guar-arrival-date"></div>
						</div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Departure
							Date*</div>
						<div
							class="jiva-spa-date-section package-check-in-date best-rate-guar-departure-date-wrp">
							<div class="jiva-spa-date-con enquiry-date-con">
								<input
									class="enquiry-from-value sub-form-input-element sub-form-mandatory best-rate-guar-departure-date jiva-input-date"
									type="text" placeholder="Date" value="" disabled="disabled"
									id="booking-info-departure-date"  aria-label  = "Jiva Spa Departure Date"/>
								<div class="sub-form-input-warning"></div>
								<img src="/content/dam/tajhotels/icons/style-icons/calendar.jpg" alt = "calendar-icon"/>
							</div>
							<div class="cm-fixed-date-picker-width jiva-spa-date"
								id="best-rate-guar-departure-date"></div>
						</div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Special
							Terms if any</div>
						<input
							class="best-rate-guar-form-input-element sub-form-input-element"
							type="text" id="booking-info-special-terms" aria-label = "Special Terms"/>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Booking
							Rate*</div>
						<input
							class="only-numeric-input best-rate-guar-form-input-element sub-form-input-element sub-form-mandatory"
							type="text" id="booking-info-booking-rate" aria-label = "Booking Rate"/>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Rooms*</div>
						<div class="selectSubContainer best-rate-guar-preferred-mode">
							<select aria-label="Number of rooms" class="sub-form-input-element sub-form-mandatory"
								name="best-rate-guar-rooms" id="best-rate-guar-rooms"><option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option></select>
						</div>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Adults
							per Room*</div>
						<div class="selectSubContainer best-rate-guar-preferred-mode">
							<select aria-label="Adults per room" class=" sub-form-input-element sub-form-mandatory"
								name="best-rate-guar-adults-per-room" id="best-rate-guar-adults-per-room"><option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option></select>
						</div>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Children</div>
						<div class="selectSubContainer best-rate-guar-preferred-mode">
							<select aria-label="Children per room" class=" sub-form-input-element"
								name="best-rate-guar-children" id="best-rate-guar-children"><option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option></select>
						</div>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Booking
							Currency*</div>
						<div class="selectSubContainer best-rate-guar-preferred-mode">
							<select aria-label="Booking Currency" class=" sub-form-input-element sub-form-mandatory"
								name="best-rate-guar-booking-currency" id="best-rate-guar-booking-currency"></select>
						</div>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
				</div>
			</div>
			<div class="best-rate-guar-form-section mr-sub-form">
				<div class="best-rate-guar-form-section-head">Lower Price
					Information:</div>
				<div class="best-rate-guar-form-section-details row">
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Lower
							Rate*</div>
						<input
							class="only-numeric-input best-rate-guar-form-input-element sub-form-input-element sub-form-mandatory"
							type="text" id="price-info-lower-rate" aria-label  = "Price Info Lower Rate" />
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Currency*</div>
						<div class="selectSubContainer best-rate-guar-preferred-mode">
							<select aria-label="Currency type" class=" sub-form-input-element sub-form-mandatory"
								name="best-rate-guar-currency" id="best-rate-guar-currency"></select>
						</div>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Approximate
							Date*</div>
						<div
							class="jiva-spa-date-section package-check-in-date best-rate-guar-approximate-date-wrp">
							<div class="jiva-spa-date-con enquiry-date-con">
								<input
									class="enquiry-from-value sub-form-input-element sub-form-mandatory best-rate-guar-approximate-date jiva-input-date"
									type="text" placeholder="Date" value="" disabled="disabled"
									id="price-info-approx-date" aria-label = "Jiva Spa Approximate Date"/>
								<div class="sub-form-input-warning"></div>
								<img src="/content/dam/tajhotels/icons/style-icons/calendar.jpg" alt = "calendar-icon"/>
							</div>
							<div class="cm-fixed-date-picker-width jiva-spa-date"
								id="best-rate-guar-approximate-date"></div>
						</div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Approximate
							Time*</div>
						<div class="selectSubContainer best-rate-guar-preferred-mode">
							<select aria-label="Approximate Time" class=" sub-form-input-element sub-form-mandatory"
								name="best-rate-guar-appr-time" id="best-rate-guar-appr-time"><option
									selected="selected" disabled="disabled" hidden="hidden"
									id="price-info-approx-time">Select Time</option></select>
						</div>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Website
							on which lower rate was found*</div>
						<input
							class="best-rate-guar-form-input-element sub-form-input-element sub-form-mandatory"
							type="text" id="price-info-website-name"  aria-label  = "Website
							on which lower rate was found"/>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-lg-4 col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">URL
							on which lower rate was promised*</div>
						<input
							class="best-rate-guar-form-input-element sub-form-input-element sub-form-mandatory"
							type="text" id="price-info-website-url" aria-label = "URL
							on which lower rate was promised"/>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp file-upload">
						<div class="best-rate-guar-form-label sub-form-input-label">Screenshot
							(With price, dates of stay, room type, number of guests, etc.)*</div>
						<input
							class="sub-form-input-element sub-form-mandatory upload-screenshot"
							type="file"
							accept="image/png, image/gif, image/jpeg, image/doc, image/bmp, image/tiff, image/pdf"
							aria-label = "Price Info Screenshot"
							id="price-info-screenshot" />
						<div class="best-rate-guar-form-format">Supported file types
							are PNG,GIF,JPEG,DOC,BMP,TIFF & PDF</div>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
					<div
						class="col-md-6 col-12 best-rate-guar-form-input-wrap sub-form-input-wrp additional-info-wrp">
						<div class="best-rate-guar-form-label sub-form-input-label">Any
							additional information that will help in claim processing</div>
						<textarea
							class="best-rate-guar-form-text-area sub-form-input-element"
							type="text" id="additional-info"></textarea>
						<div class="best-rate-input-warning sub-form-input-warning"></div>
					</div>
				</div>
			</div>
			<div
				class="best-rate-guar-submit-section mr-sub-form best-rate-form-footer">
				<div
					class="best-rate-guar-form-input-wrap best-rate-guar-form-checkbox">
					<label class="mr-filterCheckBox-label checkbox-inline"> <input
						class="mr-filter-checkbox mr-accept-checkbox" type="checkbox"
						name="terms&amp;conditions" value="terms&amp;conditions"  aria-label = "Terms and conditions Checkbox" tabindex = "0" role = "button"/> <span
						class="mr-inputCustomShape"> </span> I accept the <a href="">Terms
							& Conditions</a>
					</label>
					<div class="sub-form-input-warning">Please accept the terms
						and conditions</div>

				</div>
				
				<div
					data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
				<div class="captcha-warning">Please enter a captcha</div>
				<button class="best-rate-guar-submit-btn cm-btn-secondary pay-now-button">SUBMIT</button>
				<input type="hidden" class="claim-form-conf-link"
					value="${properties.confLink}" aria-hidden = "true"/> <input type="hidden"
					class="claim-form-error-link" value="${properties.errorLink}" aria-hidden = "true" />
			</div>
            <div data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
		</div>
	</div>
</div>
