<div data-sly-use.v1="com.ihcl.core.models.GoogleMapModel">
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='tajhotels.hoteldetails,tajhotels.gallerycarousel, tajhotels.googlemap'}"/>
      
<div data-sly-test="${wcmmode.edit}">
  Google Map Component
</div>
<div class="overview-location-container cm-content-blocks">
<div class="cm-header-label-con title-decorator-border">
               <sly data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly> 
        </div>
        <section class="hotel-location-container">
<div class="specific-hotel-location-container">
 <div class="map-location-wrapper">
 <sly data-sly-use.config="com.ihcl.core.models.config.TajApiKeyConfigModel" >
<iframe width="100%" height="450" id="m1" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?key=${config.getGoogleMapApiKey}&amp;&amp;origin=${properties.source}&amp;destination=${properties.destination}&amp;avoid=tolls|highways" allowfullscreen></iframe>
</sly>
</div>
</div>
</section>
</div>
</div>