
@media only screen and (min-width: 768px) {
.cm-page-container  .row.ihcl-leadership-wrap{
    margin:-1rem;
}
}
.ihcl-leadership-wrap-column{
    padding:1rem !important;
}
.cm-seleqtions{
    padding-left:1rem !important;
	padding-right:1rem !important;
}

.ihcl-leadership-wrap-column .experiences-container.profile-card-wrap {
    width:100%;
    height: 100%;  
}
.cm-local-details-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 100;
    overflow: auto;
}

.cm-local-details-container .active {
    display: block !important;
}

.cm-local-details-container .cm-local-details-overLay.bas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(74, 74, 74, 0.55);
}

.cm-local-details-container .cm-local-details {
    position: absolute;
    width: 83%;
    background: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container .cm-local-details {
        width: 90%;
        top: 5%;
        height: 95%;
    }
}

.cm-local-details-container .cm-local-details .loc-details-close-cont {
    height: 38px;
    height: 2.375rem;
    width: 100%;
}

.cm-local-details-container .cm-local-details .loc-details-close-cont .showMap-close {
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    position: fixed;
    top: 8%;
    right: 10%;
    z-index: 1;
    cursor: pointer;
}
@media only screen and (max-width: 991px) {

    .cm-local-details-container .cm-local-details .loc-details-close-cont .showMap-close {
    right: 6%;
}
}

.cm-local-details-container .cm-local-details .loc-details-wrapper {
    margin: 20px 50px 50px;
    margin: 1.25rem 3.125rem 3.125rem;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper {
        margin: 1.25rem;

    }
}

@media only screen and (max-width: 480px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-details-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (min-width: 992px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-details-container {
        padding-right: 0.375rem;
    }
}

@media only screen and (max-width: 480px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (min-width: 992px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container {
        padding-left: 1.5rem;
    }
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container {
        margin-top: 0.875rem;
    }
}

.cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container img {
    width: 100%;
}

.second-section {
    margin-top: 24px;
    margin-top: 1.5rem;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
}

.second-section.for-mobile {
    display: none;
}

.second-section.for-mobile .second-section-header {
    font-size: 14px;
    font-size: 0.875rem;
}

@media only screen and (max-width: 991px) {
    .second-section.for-mobile {
        width: 100%;
        display: block;
        margin-top: 1.25rem;
    }
}

@media only screen and (max-width: 991px) {
    .second-section.for-desktop {
        display: none;
    }
}

.second-section .second-section-details-wrapper {
    margin-top: 12px;
    margin-top: 0.75rem;
}

.second-section .second-section-details-wrapper .sec-img-cont {
    width: 18%;
    display: inline-block;
}

@media only screen and (max-width: 991px) {
    .second-section .second-section-details-wrapper .sec-img-cont {
        width: 22%;
    }
}

.second-section .second-section-details-wrapper .sec-img-cont img {
    width: 100%;
}

.second-section .second-section-details-wrapper .sec-detail-cont {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: inline-block;
    vertical-align: middle;
    margin-left: 32px;
    margin-left: 2rem;
}

@media only screen and (max-width: 340px) {
    .second-section .second-section-details-wrapper .sec-detail-cont {
        margin-left: 0.75rem;
    }
}

.second-section .second-section-details-wrapper .sec-detail-cont .sec-detail-header {
    font-size: 16px;
    font-size: 1rem;
    color: #4a4a4a;
    font-family: Calibri-Bold;
}

.second-section .second-section-details-wrapper .sec-detail-cont .sec-details-about {
    font-size: 14px;
    font-size: 0.875rem;
    color: #1d1d1d;
    font-family: Calibri;
}

.conceirge-local.ho-mail-to {
    display: inline-block;
}

.conceirge-local.ho-mail-to div {
    margin-top: 10px;
    margin-top: 0.625rem;
}

@media only screen and (max-width: 991px) {
    .conceirge-local.ho-mail-to {
        display: block;
        margin-left: 0;
    }
}

.ho-contact-options-con .conceirge-local.ho-mail-to:after {
    left: -24px;
    content: "";
}

@media only screen and (max-width: 768px) {
    .ho-contact-options-con .conceirge-local.ho-mail-to:after {
        display: none;
    }
}

.ho-contact-options-con .ho-mail-to.local-city:after {
    left: -24px;
    content: "";
}

@media only screen and (max-width: 340px) {
    .ho-contact-options-con .ho-mail-to.local-city {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 767px) {
    .loc-image-container img {
        height: 12.25rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .loc-image-container img {
        height: 26.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .loc-image-container img {
        height: 31.0625rem;
    }
}
.cm-local-details-container.mr-profile-popup .ho-header-description {
    margin: 9px 0 12px;
    margin: 0.5625rem 0 0.75rem;
    font-family: Calibri-bold;
}

.cm-local-details-container.mr-profile-popup .ho-first-section {
    height: 100%;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container.mr-profile-popup .ho-first-section {
        height: initial;
    }
}

.cm-local-details-container.mr-profile-popup .mr-inner-popup-container {
    height: 100%;
    background-color: #ccc;
    margin-left: 24px;
    margin-left: 1.5rem;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container.mr-profile-popup .mr-inner-popup-container {
        margin-left: 0;
    }
}

.cm-local-details-container.mr-profile-popup .cm-local-details {
    top: 6%;
    bottom: 6%;
    overflow: hidden;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container.mr-profile-popup .cm-local-details {
        overflow: auto;
    }
}

.cm-local-details-container.mr-profile-popup .loc-image-container {
    height: 100%;
}

.cm-local-details-container.mr-profile-popup .loc-details-close-cont {
    height: initial !important;
    width: initial;
}

.cm-local-details-container.mr-profile-popup .loc-details-wrapper {
    margin: 0 !important;
    padding: 65px 40px;
    padding: 4.0625rem 2.5rem 2.5rem;
    height: max-content;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container.mr-profile-popup .loc-details-wrapper {
        padding: 1.875rem 1.25rem;
        height: initial;

    }
}

.cm-local-details-container.mr-profile-popup .ho-overview-description {
    font-family: Calibri;
    height: 85%;
    padding-right: 20px;
    padding-right: 1.25rem;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container.mr-profile-popup .ho-overview-description {
        overflow: hidden;
        padding-right: 0;
    }
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container.mr-profile-popup .loc-image-container.mr-popup-image {
        margin-top: 1.25rem;
    }
}
.ho-header {
font-family: Calibri-Bold;
font-size: 36px;
font-size: 2.25rem;
line-height: initial;
margin-bottom:25px;
}
