.press-release-filter-container {
    margin-bottom: 35px;
    margin-bottom: 2.1875rem;
}

@media only screen and (min-width: 992px) {
    .cm-search-with-filter.search-container.pressRoom-filter .filter-catagory {
        width: 33%;
    }
}

.cm-search-with-filter .btn-link {
    text-decoration: none !important;
}

.cm-search-with-filter .filter-wrap-catagory {
    position: relative;
}

.cm-search-with-filter .filter-wrap-catagory::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #979797;
    left: 0px;
    bottom: 0;
}

@media only screen and (max-width: 991px) {
    .cm-search-with-filter .filter-wrap-catagory::after {
        display: none;
    }
}

.cm-search-with-filter .filter-landing-cont-image img {
    float: none;
    vertical-align: -webkit-baseline-middle;
}

@media only screen and (max-width: 991px) {
    .cm-search-with-filter .filter-landing-cont-image {
        display: block;
        height: 100%;
    }
}

.cm-search-with-filter .searchbar-input.hotel-search {
    width: 40% !important;
    padding-left: 24px !important;
    padding-left: 1.5rem !important;
}

@media only screen and (max-width: 768px) {
    .cm-search-with-filter .searchbar-input.hotel-search {
        padding-left: 1rem !important;
    }
}

@media only screen and (max-width: 991px) {
    .cm-search-with-filter .searchbar-input.hotel-search {
        width: 79% !important;
    }
}

.cm-search-with-filter .search-filters-container {
    width: 57% !important;
}

@media only screen and (max-width: 991px) {
    .cm-search-with-filter .search-filters-container {
        width: 18% !important;
    }
}

@media only screen and (max-width: 767px) {
    .cm-search-with-filter .suggestions-wrap .suggestions-container {
        top: 3.125rem !important;
    }
    i.clear-input-icon.icon-close.ihcl-close.show-clear-input{
	font-size:1.115rem !important;
}
}

.cm-search-with-filter .searchBar-wrap::before {
    height: 100% !important;
}

.cm-search-with-filter .holiday-filter-wrapper::before {
    display: none;
}

.cm-search-with-filter .holiday-filter-wrapper {
    position: inherit !important;
}

.cm-search-with-filter .filter-go-warpper .filter-go-con {
    width: 60px;
}
i.clear-input-icon.icon-close.ihcl-close.show-clear-input{
	font-size:1.35rem;
}
.icon-carousel-arrow-coloured-left {
    font-size: 1.15rem;
}