.search-container.mr-stickyScroll .search-row-wrap-mobile {
    display: none !important;
}

@media only screen and (max-width: 991px) {
    .search-container.mr-stickyScroll .filterByMobile {
        display: none !important;
    }
}

.search-container.mr-stickyScroll .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel {
    padding: 0px !important;
}

.search-container {
  /*max-width: 1280px;*/
  /*commented by Nixon*/
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    .search-container.search-hotels-container {
        padding: 0px 12px;
    }

    .search-container.search-hotels-container .suggestions-container {
        top: 50px !important;
        left: 0;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .searchBar-wrap.show-on-map-view ~ .suggestions-wrap {
        margin-top: 50px;
        position: fixed;
        top: 55px;
        left: 0;
        right: 0;
        margin: 0 12px;
        width: auto;
    }
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .filter-dropdown-wrap.filterByMobile {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .searchBar-wrap.show-on-map-view {
        top: 0px;
        margin: 0px;
    }

    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .searchBar-wrap.show-on-map-view ~ .suggestions-wrap {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 992px) {
    .map-container.map-overlay .map-back-icon {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .map-container.map-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: #ffffff;
        height: 100%;
        width: 100%;
    }

    .map-container.map-overlay .map-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .map-container.map-overlay .map-back-icon {
        width: 12px;
        height: 20px;
        position: absolute;
        left: 20px;
        top: 20px;
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .map-container.map-overlay .selected-location-hotels {
        display: none;
        position: absolute;
        bottom: 7px;
        min-height: 154px;
        width: 100%;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .close-icon {
    top: 60px;
    position: absolute;
    right: 12px;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap.show-on-map-view ~ .suggestions-wrap {
    z-index: 3;
    position: absolute;
    left: 0px;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap.show-on-map-view {
    position: fixed;
    margin: 0 12px;
    top: 55px;
    left: 0px;
    right: 0px;
    z-index: 4;
    background-color: #ffffff;
    box-shadow: 2px 10px 12px 0 rgba(0, 0, 0, 0.05);
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap.show-on-map-view .filterByMobile {
    display: none !important;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap {
    z-index: 2;
    background-color: #e6e6e6;
    padding-right: 41px;
    box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap {
        padding-right: 0px;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap::before {
    height: 60px;
    left: 0px;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap::before {
        left: 0px;
        width: 5px;
        height: 50px;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .explore-taj {
    width: 15px;
    height: 26px;
    margin-left: 8px;
    margin-left: 0.5rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-icon {
    top: 22px;
    left: 30px;
    left: 1.9rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-icon {
        left: 1rem;
        width: 18px;
        height: 18px;
        top: 14px;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    height: 60px;
    font-family: Calibri;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.6px;
    color: #4a4a4a;
    width: 47%;
    background: transparent;
    box-shadow: none;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input::-webkit-input-placeholder {
    color: #4a4a4a;
    font-size: 20px;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input::-moz-placeholder {
    color: #4a4a4a;
    font-size: 20px;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input:-ms-input-placeholder {
    color: #4a4a4a;
    font-size: 20px;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input::placeholder {
    color: #4a4a4a;
    font-size: 20px;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input {
        height: 50px;
        font-size: 16px;
        padding-right: 0;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search {
    padding-right: 20px;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search {
        padding-left: 2.8rem;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search {
        padding-right: 40px;
    }

    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search ~ .clear-input-icon {
        margin-left: -40px;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container {
        float: right;
        min-width: 546px;
        position: absolute;
        top: 13px;
        right: 15px;
        z-index: 1;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.country-filter {
    padding-right: 28px;
    padding-right: 1.8rem;
    margin-right: 28px;
    margin-right: 1.8rem;
    border-right: solid 2px #9b9b9b;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.country-filter {
        padding-right: 15px;
        margin-right: 0px;
        border-right: none;
        padding-left: 15px;
        border-left: solid 1px #979797;
    }
}

@media only screen and (max-width: 419px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.country-filter {
        padding-left: 10px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.filterByMobile {
        position: absolute;
        right: 20px;
        top: 72px;
    }

    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.filterByMobile .filter-dropdown-label {
        color: #1b1b1b;
        font-weight: bold;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap {
    display: inline-block;
    padding: 1px 0px;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .filter-dropdown-label {
    font-family: Calibri;
    font-size: 20px;
    line-height: 1;
    color: #1b1b1b;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .filter-dropdown-label {
        font-size: 14px;
        margin-right: 10px;
        color: #4a4a4a;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
    border-bottom: 2px solid rgba(27, 27, 27, 0.3);
    padding-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
    min-width: 150px;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer select {
    display: none;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
        width: 150px;
    }
}

@media only screen and (max-width: 530px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
        min-width: 0px !important;
        width: 100px !important;
    }
}

@media only screen and (max-width: 425px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
        width: 85px !important;
    }
}

@media only screen and (max-width: 360px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
        width: 65px !important;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-container * {
    font-family: Calibri;
    font-size: 16px;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-container * {
        font-size: 14px;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-option-icon-container {
    margin-left: 0px !important;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-container .selectboxit .selectboxit-text {
        font-size: 14px !important;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .search-row-wrap-mobile {
    display: none;
    margin-top: 20px;
    padding-left: 5px;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .search-row-wrap-mobile {
        display: block;
        background: transparent;
    }
}

.clear-input-icon {
    width: 19px;
    height: 19px;
    display: none;
    vertical-align: middle;
    margin-left: -20px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    background-color: transparent;
    padding: 3px;
}

.clear-input-icon.show-clear-input {
    display: inline-block;
}
