<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"> <sly
    data-sly-test="${wcmmode.edit}">AMA Cards</sly> <sly
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.hotels.cards'}"></sly>

<section class="${properties.backgroundColor} pageStrip">
    <div class="container Component-sectoin">
        <div class="title-container col-md-12">
            <sly data-sly-test=${properties.title}>
            <div>
                <h2 class="text-title">${properties.title}</h2>
            </div>
            </sly>
            <sly data-sly-test=${properties.description}>
            <div class="cards-desc">${properties.description @ context="html"}</div>
            </sly>
        </div>
        <sly data-sly-list.list=${resource.children}>
        <div class="row ama-cards-container">
            <sly data-sly-list.listItems=${list.children}>
            <div class="col-md-6 col-12">
                <div class="ama-card">
                    <sly data-sly-test=${listItems.image}>
                    <div class="card-image ">
                        <!--<img src="${listItems.image}" />-->
                        <sly
                            data-sly-call="${imagetemplate.damImageTemplate @ imagePath=listItems.image,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>

                    </div>
                    </sly>
                    <div class="ama-second">
                        <sly data-sly-test=${listItems.logoImage}>
                        <div class="card-logo">
                            <!--<img src="${listItems.logoImage}" />-->
                            <sly
                                data-sly-call="${imagetemplate.damImageTemplate @ imagePath=listItems.logoImage,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>

                        </div>
                        </sly>
                        <sly data-sly-test=${listItems.buttonTitle}>
                        <div class="card-logo-title">${listItems.buttonTitle}</div>
                        </sly>
                        <sly data-sly-test=${listItems.description}>
                        <div class="card-desc">${listItems.description @ context="html"}</div>
                        </sly>
                        <sly data-sly-test=${listItems.buttonLabel}>
                        <div class="card-btn">
                            <sly data-sly-test.red=${listItems.newTab}> <a href="${listItems.buttonUrl}"
                                target="_blank">
                                <div class="cm-btn-secondary">
                                    <buttion class="">${listItems.buttonLabel}</buttion>
                                </div>
                            </a> </sly>
                            <sly data-sly-test.red=${!red}> <a href="${listItems.buttonUrl}">
                                <div class="cm-btn-secondary">
                                    <buttion class="">${listItems.buttonLabel}</buttion>
                                </div>
                            </a> </sly>
                        </div>
                        </sly>
                    </div>
                </div>
            </div>
            </sly>
        </div>
        </sly>
        <div class="viewall-container col-md-12">
            <sly data-sly-test=${properties.viewAll}>
            <div class="viewall-btn">
                <a href="${properties.viewAllUrl}"> <buttion>${properties.viewAll}</buttion>
                </a>
            </div>
            </sly>
        </div>
    </div>
</section>