<template data-sly-template.event="${@ eventDetails}"
          data-sly-use.imageTemplate="tajhotels/components/content/amp/image-template/image-template.html">
	<sly data-sly-test="${pageProperties.sitePath != 'ama'}">
		<div class="event-card">
			<div class="card-header">
				<amp-img  data-sly-test="${pageProperties.sitePath == 'tajHotels'}" height="18px" width="18px" src="/content/dam/tajhotels/icons/style-icons/clock.svg" alt="opening soon"></amp-img>
				<amp-img  data-sly-test="${pageProperties.sitePath == 'vivanta'}" height="18px" width="18px" src="/content/dam/tajhotels/icons/style-icons/clock-icon.png" alt="opening soon"></amp-img>
				<amp-img  data-sly-test="${pageProperties.sitePath == 'seleqtions'}" height="18px" width="18px" src="/content/dam/tajhotels/icons/style-icons/clock-icon-grey.png" alt="opening soon"></amp-img>
                <span class="offer-timings">${eventDetails.eventOpeningDateMob}</span>
			</div>
			<div class="card-image">
				<sly data-sly-call="${imageTemplate.damImageTemplate @ imagePath=eventDetails.eventImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', layout='fill'}"></sly>
			</div>
			<div class="card-footer">
				<div>
					<div class="event-title">${eventDetails.eventTitle}</div>
					<div>${eventDetails.eventLocation}</div>
				</div>
				<div>
					<a href="${eventDetails.eventLinkUrl}.html">
						<button class="cm-btn-secondary ${inheritedPageProperties.sitePath}" tabindex="-1">${eventDetails.eventLinkText}</button>
					</a>
				</div>
			</div>
		</div>
	</sly>
	<sly data-sly-test="${pageProperties.sitePath == 'ama'}">
		<div class="event-card">
			<div class="card-image">
				<sly data-sly-call="${imageTemplate.damImageTemplate @ imagePath=eventDetails.eventImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', layout='fill'}"></sly>
				<div class="event-title">${eventDetails.eventTitle}</div>
			</div>
			<div class="card-footer">
				<div class="event-details">${eventDetails.eventLocation}</div>
				<a href="${eventDetails.eventLinkUrl}.html">
					<button class="cm-btn-secondary ${inheritedPageProperties.sitePath}" tabindex="-1">${eventDetails.eventLinkText}</button>
				</a>
			</div>
		</div>
	</sly>
</template>
