<sly data-sly-use.model="com.ihcl.core.models.UpcomingEvents" data-sly-use.eventTemplate="events-template.html">
    <!-- Upcoming hotels -->
    <div class="upcoming-events">
        <h2 class="component-title ${inheritedPageProperties.sitePath}" data-sly-test="${model.componentTitle}">${model.componentTitle}</h2>
        <div class="events-card-wrapper" data-sly-list="${model.events}">
            <sly data-sly-call="${eventTemplate.event @ eventDetails=item}"></sly>
        </div>
    </div>
</sly>
