<div data-sly-test="${wcmmode.edit}">
  Destination - About Section Component
</div>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.all @ categories='taj.hotels.components.destination-about-section'}" />


<div class="hotels-in-dest-container cm-content-blocks">
  <div class="cm-header-label-con title-decorator-border">
   <sly data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly> 
  </div>
  <div class="row">
    <div class="col-12 placeholder-title-wrap">
      <div class="placeholder-title">${properties.description  @context='html'}</div>
    </div>
  </div>
</div>
