<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='taj.hotels.faq'}" ></sly>
<div data-sly-test="${wcmmode.edit}">FAQ</div>
<div class="cm-content-blocks col-12" data-sly-use.model="com.ihcl.core.models.Faq">
    <div class="tic-help-freq-que-con">
        <div class="tic-help-freq-que-heading">${properties.title}</div>
        <sly data-sly-list.faq="${model.questions}">
            <div class="tic-help-freq-que-section">
                <div class="tic-help-freq-que">${faq.question}</div>
                <div class="tic-help-freq-que-arrow"><span class="icon-tic-arrow-down"></span></div>
                <div class="tic-help-freq-que-ans">${faq.answer @ context='html'}</div>
            </div>
        </sly>
    </div>
</div>