<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.reserveTable'}" />

<sly data-sly-use.urlMap="${'url-map.js' @ reqUrl=properties.diningConfirmationLink}" />
<sly
	data-sly-use.restaurantFilter="com.ihcl.core.models.RestaurantFilter" />
<div
	class="content-wrapper container mr-reserve-a-table-contentWrapper ">
	<div class="specific-hotels-breadcrumb hide-in-sm">
		<span></span> <a href="javascript: history.go(-1)">< Back to
			Dining</a>
	</div>
	<div class="cm-content-blocks reserve-table-form-wrapper">

		<div class="mr-reserve-table-form-container">
			<form class="mr-reserve-table-form form-group mr-sub-form">
				<h4 class="mr-reserve-table-form-header">
					<span class="mr-mobile-back-to-dining hide-in-md hide-in-lg"><a
						href="javascript: history.go(-1)">
							<i class="icon-carousel-arrow-coloured-left"></i>
					</a></span>Reserve a Table
				</h4>
				<div class="hotel-dining-reserve-table-wrap">
					<div class="hotel-dining-reserve-table-container">
						<div class="hoteld-dining-border-decorator"></div>
						<div class="row">
							<div class="col-lg-3 col-12 sub-form-input-wrp mealType-border">
								<div
									class="sub-form-input-label mr-reserveTable-date-styling mr-reserveTable-select-label">Date</div>
								<div
									class="jiva-spa-date-section mr-reserveTable-date-styling mr-reservedTableInputForm">
									<div
										class="jiva-spa-date-con event-quote-date-con mr-reserveTable-dateStyling">
										<input
											class="event-quote-date-value sub-form-input-element mr-date-reserveTable-input"
											type="text" placeholder="Date" aria-label = "ReserveTable Date" value="" disabled="disabled" />
											<i class="icon-calendar-check-availability"></i>
									</div>
									<div
										class="jiva-spa-date dining-reserveTable-Date mr-form-dining-reservation-date"
										id="jiva-spa-date"></div>
								</div>
							</div>
							<div class="col-lg-3 col-12 ">
								<div
									class="mr-reserve-table-select-wrap mr-numberOfPeopleReserveStyling">
									<div class="mr-reserveTable-select-label">Number of
										People</div>
									<div
										class="selectSubContainer mr-reserveTable-select-wrap number-of-people">
										<select aria-label="Number of People" name="mr-reserveTable-number-of-people" id="mr-reserveTable-number-of-people"><option
												selected="selected">1</option></select>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div
									class="mr-reserve-table-select-wrap mealType-no-border mr-numberOfPeopleReserveStyling">
									<div class="mr-reserveTable-select-label">Meal Type</div>
									<div class="selectSubContainer mr-reserveTable-select-wrap">
										<select aria-label="Meal Type" name="mr-reserveTable-meal-type" id="mr-reserveTable-meal-type">
											<sly
												data-sly-list.mealType="${restaurantFilter.mealTypeList}">
											<option>${mealType}</option>
											</sly>
										</select>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-12">
								<div class="mr-reserve-table-button-wrap">

									<button class="cm-btn-secondary mr-reserve-table-button-dining"
										type="button">Check Availability</button>

								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="mr-breakFast-slot-Timing">
										
					<div class="check-wait-spinner taj-loader">
						<div class="taj-loader-circle"></div>
						<div class="taj-loader-circle"></div>
						<div class="taj-loader-circle"></div>
					</div>
					<div class="pg-spinner-con">						
						<div class="taj-loader pg-spinner-wrap">
							<div class="taj-loader-circle"></div>
							<div class="taj-loader-circle"></div>
							<div class="taj-loader-circle"></div>
						</div>
					</div>
					<h5 class="mr-availability-SubTitle-header mr-meal-SubTitle-header"></h5>
					<div class="mr-radio-mealType-wrapper"></div>
					<span class="error">No slots selected</span>
					<div id="dining-details-input-wrapper">
					<h5 class="mr-meal-SubTitle-header">Enter Guest Details</h5>
					<div class="mr-sub-form">
						<div class="row mr-sub-form-row">
							<div class="col-md-4 sub-form-input-wrp">
								<div class="sub-form-input-label">Full Name*</div>
								<input id="fullName"
									class="only-alpha-input sub-form-input-element sub-form-mandatory"
									type="text" aria-label = "Enter FullName"/>
								<div class="sub-form-input-warning"></div>
							</div>
							<div class="col-md-4 sub-form-input-wrp">
								<div class="sub-form-input-label">Email*</div>
								<input id="emailID"
									class="email-input sub-form-input-element sub-form-mandatory"
									type="text" aria-label = "Enter Email Id"/>
								<div class="sub-form-input-warning"></div>
							</div>
							<div class="col-md-4 sub-form-input-wrp">
								<div class="sub-form-input-label">Mobile*</div>
								<div class="row phone-number-row">
									<div class="col-12 ">
										<input id="mobileNumber"
											class="only-numeric-input sub-form-input-element sub-form-mandatory" aria-label = "Enter Mobile Number"
											type="tel" maxlength="15" />
										<div class="sub-form-input-warning"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mr-filter-sort-wrap mr-reserve-table-checkbox-wrap">
						<div class="mr-Filter-checkbox-wrap">
							<label class="mr-filterCheckBox-label checkbox-inline"><input
								class="mr-filter-checkbox" type="checkbox" name="filterCheckbox" aria-label = "Birthday Filter Checkbox"
								value="Birthday" /><span class="mr-inputCustomShape"></span>Birthday</label>
						</div>
						<div class="mr-Filter-checkbox-wrap">
							<label class="mr-filterCheckBox-label checkbox-inline"><input
								class="mr-filter-checkbox" type="checkbox" name="filterCheckbox" aria-label = "Anniversary Filter Checkbox"
								value="Anniversary" /><span class="mr-inputCustomShape"></span>Anniversary</label>
						</div>
					</div>
					<div class="mr-reserve-Table-submit-button hide-in-sm">
						<input type="hidden" class="dining-conf-link"
							value="${urlMap.mappedUrl @ context='text'}" aria-hidden  = "true"/>
						<button class="cm-btn-secondary mr-reservetable-submit"
							type="button">Submit</button>
					</div>
					<div class="mr-reserve-table-mandatory">* Mandatory</div>
					<div class="mr-reserve-Table-submit-button hide-in-md hide-in-lg">
						<input type="hidden" class="dining-conf-link"
							value="${urlMap.mappedUrl @ context='text'}" aria-hidden = "true" />
						<button class="cm-btn-secondary mr-reservetable-submit"
							type="button">Submit</button>
					</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>