<div data-sly-test="${wcmmode.edit}">
  CAmpaign  banner band
</div>


<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.camp-banner-band'}" />


<div class="mr-carousel-foot-label">
                <div class="mr-price-tag">
                    <div class="mr-price-tag-icon mr-price-tag"><img src="/content/dam/tajhotels/campaign/price-icon.svg" alt="First slide"></div>
                    <div class="mr-price-txt">BEST PRICE OFFER</div>
                </div>
                <div class="mr-price-tag">
                    <div class="mr-price-tag-icon mr-experience-tag"><img src="/content/dam/tajhotels/campaign/experience-icon.svg" alt="First slide"></div>
                    <div class="mr-price-txt">EXPERIENCE THE JUNGLE</div>
                </div>
                <div class="mr-price-tag">
                    <div class="mr-price-tag-icon mr-lodge-tag"><img src="/content/dam/tajhotels/campaign/lodges-icon.svg" alt="First slide"></div>
                    <div class="mr-price-txt">LUXURIOUS LODGES</div>
                </div>
            </div>



