<div class="trend-offer-card"
     data-sly-use.offer="com.ihcl.core.models.offers.Offer"
     data-sly-use.imageTemplate="tajhotels/components/content/amp/image-template/image-template.html">
    <div class="card-header">
      <!--   <span class="offer-discount" data-sly-test=${offer.discountValue}>
            ${offer.discountValue}
        </span> -->
        <span data-sly-test=${offer.offerSpecific}>${offer.offerSpecific}</span>
    </div>

	<sly data-sly-test.isSpecificOffer="${offer.SpecificOfferImage}">
    <sly data-sly-test.finalImagePath="${offer.draggedImagePath ? offer.draggedImagePath : offer.SpecificOfferImage}"/></sly>

    <sly data-sly-test="${!isSpecificOffer}">
    <sly data-sly-test.finalImagePath="${offer.draggedImagePath ? offer.draggedImagePath : offer.offerImage}"/>

	<div class="card-image">
        <sly data-sly-call="${imageTemplate.damImageTemplate @ imagePath=finalImagePath, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', layout='fill'}"></sly>
    </div>

    <div class="card-footer">
        <div class="offer-main">
            <div class="offer-title">${offer.offerTitle}</div>
            <div class="offer-description">
                <span>${offer.offerShortDesc}</span>
            </div>
        </div>
        <div class="offer-additional">
            <sly data-sly-test="${offer.validityDate}">
                <div class="offer-validity">
                    Valid till
                    <span class="offer-validity-date">${offer.validityDate}</span>
                </div>
            </sly>
            <sly data-sly-test="${!offer.validityDate}">
                <div class="offer-validity">
                    Round the year
                </div>
            </sly>
            <a href="${offer.resourceURL}.html"><button class="cm-btn-secondary ${pageProperties.sitePath}" tabindex="-1">VIEW DETAILS</button></a>
        </div>
    </div>
</div>