<sly data-sly-test="${wcmmode.edit}">
<p data-sly-unwrap="${properties.headline}"
	data-emptytext="configure ${component.title}"></p>
</sly>
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
			 data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-base-page,tajhotels.titledescription'}" />
<div data-sly-test=${properties.jcr:title} class="cm-content-blocks">
	<div class="cm-header-label-con title-decorator-border">
			 <h2 class="cm-header-label"  data-sly-element="${properties.type}">${properties.jcr:title}</h2>
       <!--  <h2 class="cm-header-label">${properties.jcr:title}</h2> -->
    </div>
</div>
