<sly data-sly-use.proModel="com.ihcl.core.models.ProfilesModel"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.individualProfile'}" />

        <div class="experiences-container profile-card-wrap">
            <div class="recommended-experiences-wrap">
                <div class="mr-experiences-images-wrap">
                    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=proModel.valueDataMap['fileReference'],renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly>
                </div>
                <div class="mr-experiences-description-wrap">
                    <div class="mr-experinces-title"
                            data-sly-use.template="core/wcm/components/commons/v1/templates.html"
                            data-sly-element="${proModel.valueDataMap['type']}"
                            data-sly-test.text="${proModel.valueDataMap['personName']}">${text}</div>
                    <div class="mr-experinces-detailsButton-wrap">
                        <div class="mr-experinces-details-wrap">
                            <div class="mr-experinces-details-location">${proModel.valueDataMap['designation']}</div>
                        </div>
                         <sly data-sly-test.showLatestNews="${!proModel.valueDataMap['learnMore']}">
                        <sly data-sly-test="${proModel.valueDataMap['corporatePath']}">
                        <sly data-sly-test.showLatestNews="${proModel.valueDataMap['corporatePath']}">
                        <div data-sly-test="${proModel.valueDataMap['buttontext']}" class="mr-experinces-Button-wrap">
                            <div class="cm-btn-secondary experience-button-styles">
                                <a class="view-profile-btn" href="${proModel.valueDataMap['corporatePath']}.html">${proModel.valueDataMap['buttontext']}</a><span
                                    class="dummy-to-middle-align"></span>
                            </div>
                        </div>
                        </sly></sly>
                    </div>
                </div>
            </div>
        </div>
</sly>