<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.all @ categories='taj.hotels.components.destination-hotels'}" />
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.all @ categories='taj.hotels.components.hotel-card-full-width'}" />

<div data-sly-test="${wcmmode.edit}">Destination - List of Destination Hotels Component</div>

<sly data-sly-test="${wcmmode.edit}">
	<p data-sly-unwrap="${properties.headline}" data-emptytext="configure ${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-test.pagePath="${currentPage.path}" />
<sly data-sly-test.pageName="${currentPage.name}" />
<sly data-sly-test.websitePath="${inheritedPageProperties.siteConfigHomePath}" />
<sly data-sly-test.otherPaths="${inheritedPageProperties.otherPaths}" />

<div class="mr-listView-layout">
	<div class="row mr-listView-layout-row">
		<div class="col-12">
			<div class="mr-listsMapHotels-Main-Wrapper">
				<div class="mr-lists-view-hotels-Container">

					<sly data-sly-use.footerModel="${'com.ihcl.core.models.DestinationHotels' @currentPagePath=pagePath, currentPageName=pageName, siteConfigHomePath=websitePath, otherWebsitePaths= otherPaths }">
						<sly data-sly-list.website="${footerModel.hotelsMap['website']}">
							<sly data-sly-use.destinationCard="hotel-card-full-width.html" />
							<sly data-sly-unwrap data-sly-call="${destinationCard.website @hotelObject=website}" />
						</sly>

					</sly>
				</div>
			</div>
		</div>
	</div>

	<div class="row mr-listView-layout-row">
		<div class="col-12">
			<div class="mr-listsMapHotels-Main-Wrapper mr-listsMapHotels-Main-Wrapper-others">
				<div class="mr-lists-view-hotels-Container">

					<sly data-sly-use.footerModel="${'com.ihcl.core.models.DestinationHotels' @currentPagePath=pagePath, currentPageName=pageName, siteConfigHomePath=websitePath, otherWebsitePaths= otherPaths }">
						<sly data-sly-test="${footerModel.hotelsMap['others']}">
							<h2 class="cm-page-container cm-header-label-con cm-header-label" style="margin-bottom:30px"> Other IHCL Hotels in ${pageProperties.jcr:title}</h2>
							<sly data-sly-list.others="${footerModel.hotelsMap['others']}">
								<sly data-sly-use.destinationCard="hotel-card-full-width.html" />
								<sly data-sly-unwrap data-sly-call="${destinationCard.website @hotelObject=others}" />
							</sly>
						</sly>
					</sly>
				</div>
			</div>
		</div>
	</div>

</div>