<template data-sly-template.website="${@hotelObject}" xmlns="http://www.w3.org/1999/html"> <sly
    data-sly-test.additionalDetails="${hotelObject.additionaldetails}" />
<div class="list-view-wrapper mr-${hotelObject.hotelType}-typehotel" data-hotelid="${hotelObject.hotelID}"
    data-hotelbrand="${hotelObject.hotelBrand}" data-popularity="${additionalDetails.totalReviews}"
    data-rating="${additionalDetails.reviewScore}" data-hotel-city="${hotelObject.hotelCity}"
    data-state="${hotelObject.state}" data-zipCode="${additionalDetails.pinCode}"
    data-hotelCountry="${hotelObject.hotelCountry}" data-hotelRoomCode="${hotelObject.hotelRoomCode}"
    data-key={brand:${hotelObject.hotelBrand},price:${hotelObject.hotelID},rating:${additionalDetails.reviewScore},popularity:${additionalDetails.totalReviews}}>
    <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

    <div class="row">
        <div class="col-12 col-md-3">
            <div class="mr-list-hotel-image-wrap">
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath= hotelObject.hotelBannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true', styleClass='list-hotel-image'}"></sly>

                <div class="mr-list-hotel-ratings-reviewCount hide-in-mobile-ihclcb">
                    <div class="mr-rating-wrap" data-sly-test="${additionalDetails.reviewScore}">
                        ${additionalDetails.reviewScore}</div>
                    <div class="mr-reviewCount-wrap" data-sly-test="${additionalDetails.totalReviews}">
                        ${additionalDetails.totalReviews} Reviews</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="mr-list-hotel-description-offerwrap">
                <div class="row">
                    <div class="col-12">
                        <div class="mr-list-hotel-title-offer-wrap">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="mr-offer-description-employee">${hotelObject.hotelName}</h2>
                                </div>
                                <div class="col-8">
                                    <h2 class="mr-list-hotel-title">${hotelObject.hotelName}</h2>
                                    <div class="mr-list-hotel-ratings-reviewCount show-only-in-mobile-ihclcb">
                                        <div class="mr-rating-wrap" data-sly-test="${additionalDetails.reviewScore}">
                                            ${additionalDetails.reviewScore}</div>
                                        <div class="mr-reviewCount-wrap" data-sly-test="${additionalDetails.totalReviews}">
                                            ${additionalDetails.totalReviews} Reviews</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mr-list-hotel-offer" style="display: block" data-sly-test="">
                                        <div class="mr-list-hotel-offer-description">
                                            <span class="mr-mobile-display-none">------</span>
                                        </div>
                                        <div class="mr-list-hotel-offer-tag">
                                            <span>----</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mr-list-hotel-description-wrapper">
                            <div class="row">
                                <div class="col-12 col-md-5 col-lg-4">
                                    <div class="mr-list-hotel-description">
                                        <a class="inline-block" target="_blank" itemprop="hasMap"
                                            href="https://www.google.com/maps/search/?api=1&query=${additionalDetails.latitude},${additionalDetails.longitude}">
                                            <div class="mr-hotel-location-address">
                                                <div class="mr-list-location-icon-wrap">
                                                    <i class="mr-list-location-icon icon-location"></i>
                                                </div>
                                                <div class="mr-list-address-wrap">
                                                    <span class="mr-desktop-address mr-mobile-display-none">
                                                        ${additionalDetails.hotelArea}, ${hotelObject.hotelCity} </span>
                                                    <span class="mr-mobile-address mr-desktop-display-none">${additionalDetails.hotelArea},
                                                        ${hotelObject.hotelCity}</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="mr-hotel-distanceFrom-airport">
                                            <div class="mr-list-location-icon-wrap show-only-in-mobile-ihclcb">
                                                <i class="icon-distanceFromAirport"></i>
                                            </div>
                                            <div>${additionalDetails.locationStats}</div>
                                        </div>
                                        <div class="mr-list-hotel-about mr-mobile-display-none">
                                            ${additionalDetails.shortDesc @context='html'}</div>
                                    </div>
                                </div>
                                <div class="mr-list-specs-wrap col-5 col-md-4 col-lg-5">
                                    <div class="mr-list-hotel-specifications">
                                        <div class="row">
                                            <sly data-sly-list.signature="${additionalDetails.hotelAmenities}"> <sly
                                                data-sly-test=${signature}>

                                            <div class="col-12 col-md-12 col-lg-6 ho-each-ameneties-sec">
                                                <div class="image-container">
                                                    <i class="${signature.type}"></i>
                                                </div>
                                                <div class="ho-signature-name inline-block">${signature.signatureFeature}</div>
                                            </div>
                                            </sly> </sly>
                                        </div>
                                    </div>
                                </div>
                                <div class="mr-list-price-wrap col-7 col-md-3 col-lg-3">
                                    <div class="waiting-spinner waiting-spinner-destination-cards waiting-spinner-ihclcb">
                                        <div>Fetching best rates</div>
                                        <div class="taj-loader">
                                            <div class="taj-loader-circle"></div>
                                            <div class="taj-loader-circle"></div>
                                            <div class="taj-loader-circle"></div>
                                        </div>
                                    </div>
                                    <div class="mr-list-hotel-price-tic">
                                        <div class ="mr-list-hotel-price-cont" >
                                            <div class="mr-starting-rate">Starting Rate/Night</div>
                                            <div class="mr-list-current-discounted-rates-wrap">
                                                <del class="mr-list-hotels-delrate">
                                                    <span class="mr-rupee-list-hotel">₹</span>
                                                    <span class="discounted-rate"> ${hotelObject.amountBeforeTax} </span>
                                                </del>
                                                <span class="mr-current-rate-list">
                                                    <span class="mr-rupee-list-hotel">₹ </span>
                                                    <span class="current-rate"> ${hotelObject.amountAfterTax} </span>
                                                    <span class="current-rate-asterisk">*</span>
                                                </span>
                                                <span class="mr-current-tic-epicure">
                                                <span class="tic-points"></span>
                                                <span class="tic">TIC</span>
                                            </span>
                                                <div class="room-rate-unavailable">
                                                    <span>Unavailable</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="${hotelObject.hotelPath}.html">
                                            <button class="cm-btn-secondary mr-list-view-hotels-button" onclick="modifyRoomsURL(this.parentNode);">VIEW HOTEL</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</sly> </template>