<div class="overview-awards-container cm-content-blocks">
	<div class="cm-header-label-con title-decorator-border">
        <h2 role="button" tabindex="0" class="component-title ${inheritedPageProperties.sitePath}">Awards</h2>
    </div>
    <div class="hotel-overview" data-sly-use.model="com.ihcl.core.models.HotelOverview">
    <div class="row">
		<div class="awardscontainer-wrap clearfix">
				<sly data-sly-list.key="${model.hotelAwards}">
				<div class="awards-card">
					<sly data-sly-test="${key.awardImagePath}">
                        <div class="image-container">
                                <amp-img width="50" height="50" src="${key.awardImagePath}" alt = "area image">
                                    </amp-img>
                            </div>
                    </sly>
					<sly data-sly-test="${!key.awardImagePath}">
						<div class="image-container">
                            <amp-img width="50" height="50" src="${properties.logoPath}" alt = "area image">
                                    </amp-img>
                            </div>
					</sly>
					<div class="award-info-wrp">
						<div class="award-title" style="">${key.awardTitle}</div>
						<div [class]="visibleAwardDesc ? 'awardDescMore' : 'awardDesc'" class="awardDesc">${key.awardDesc @context='html'}</div>
                        <p role="button" tabindex="0" class="overviewLink ${inheritedPageProperties.siteurl}" [text]="visibleAwardDesc ? 'Show Less' : 'Show More'" on="tap:AMP.setState({visibleAwardDesc: !visibleAwardDesc})">Show More</p>
					</div>
				</div>
				</sly>
		</div>
	</div>
    </div>
</div>

