<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.package-description'}" />
<div data-sly-test.edit="${wcmmode.edit}">Holidays Package
	Description Component Add Package Description, price and Button label.
</div>

<sly data-sly-list.category="${resource.children}"> 
    <sly data-sly-list.categoryChild="${category.children}">
        <div class="category-details">
            <div class="categoryName" style="display:none" value="${categoryChild.categoryName}">${categoryChild.categoryName}</div>
            <div class="categoryMinNights" style="display:none" value="${categoryChild.categoryMinNights}">${categoryChild.categoryMinNights}</div>
        </div>
    </sly>
</sly>
<div class="rateCode" style="display:none" value="${properties.rateCode}">${properties.rateCode}</div>
<div class="minNights" style="display:none" value="${properties.minNights}">${properties.minNights}</div>
<div class="maxBreak" style="display:none" value="${properties.maxBreak}">${properties.maxBreak}</div>
<div class="cm-page-container holidays-incredible-escape-page">
	<div class="package-properties"
		data-packagename="${properties.packageName}"
		data-destinationname="${properties.destinationName}"></div>

	<div class="row incredible-packages-wrapper unique-row-property">
		<div class="incredible-iternary-night-wrp col-12">
			<div class="incredible-night-text">${properties.packageDescription}</div>
			<div class="incredible-night-cost-wrp">
				<div class="incredible-night-booking-cost">
					₹<span class="amount">${properties.price}</span><span>*</span>
				</div>
				<a href="${properties.enquiryLink}.html">
					<button class="cm-btn-secondary incredible-night-booking-btn"
						onclick="goToEnquiry()">${properties.buttonLabel}</button>
				</a>
			</div>
		</div>
		<div>
			<div
				data-sly-resource="${ @ resourceType='tajhotels/components/content/holidays-packages/package-hotels-list'}"></div>
		</div>
		<div class="incredible-escape-selected-package-wrapper col-12">
			<div class="selected-packages-info">
				<span class="selected-packages-count">0</span> Hotels Selected
			</div>
			<div class="incredible-night-cost-wrp">
				<div class="incredible-night-booking-cost">
					₹<span class="amount">${properties.price}</span><span>*</span>
				</div>
				<a href="${properties.enquiryLink}.html">
					<button
						class="cm-btn-secondary incredible-night-booking-btn go-enquiry-button"
						onclick="goToEnquiry()">${properties.buttonLabel}</button>
				</a>
			</div>
		</div>
	</div>
</div>