.offers {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    color: #323232;
}

.offers-header-wrapper {
    margin-bottom: 34px;
    margin-bottom: 2.125rem;
}

@media only screen and (max-device-width: 767px) {
    .offers-header-wrapper {
        margin-bottom: 21px;
    }
}

.offers-wrapper {
    margin-bottom: 38px;
    margin-bottom: 2.375rem;
}

.offers-rooms {
    color: var(--primaryColor);
    display: inline;
}

@media only screen and (max-device-width: 767px) {
    .offers-rooms {
        font-size: 16px;
    }
}

.offers-rooms_caption {
    font-size: 45px;
    font-size: 2.8125rem;
    line-height: 1;
    display: inline;
}

@media only screen and (max-device-width: 767px) {
    .offers-rooms_caption {
        font-size: 30px;
        display: inherit;
        margin: 10px 0;
    }
}

.offers-rooms_discountWrapper {
    display: inline-block;
    vertical-align: top;
    margin-left: 19px;
    margin-left: 1.1875rem;
}

@media only screen and (max-device-width: 767px) {
    .offers-rooms_discountWrapper {
        display: block;
        margin: 0 0 .5rem;
        position: inherit;
    }
}

.offers-rooms_discount {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #417505;
    margin: 0 15px 15px;
    margin: 0 0.9375rem 0.9375rem;
    font-family: TrajanPro-Regular;
    font-size: 15px;
    font-size: 0.9375rem;
    color: #ffffff;
    padding: 4px 19px 3px;
    padding: 0.25rem 1.1875rem 0.1875rem;
}

@media only screen and (max-device-width: 767px) {
    .offers-rooms_discount {
        font-size: 12px;
        margin: 0 0 10px;
    }
}

.offers-rooms_discount:after {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    right: 0px;
    top: 0;
    content: "";
    border-left: 10px solid #ffffff;
    border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
}

.offers-rooms_customers {
    line-height: 1.14;
    font-size: 25px;
    font-size: 1.5625rem;
}

@media only screen and (max-device-width: 767px) {
    .offers-rooms_customers {
        font-size: 16px;
    }
}

.offers-rooms_desc {
    line-height: 1.39;
    color: #494949;
}

.image-view-offers {
    -o-object-fit: contain;
    object-fit: contain;
    display: inline;
    vertical-align: inherit;
    -ms-transform-origin: center;
    transform-origin: center;
    margin-right: 10px;
    margin-right: 0.625rem;
    margin-bottom: 1px;
}

.validity-line-container {
    display: inline-block;
    margin: 0 26px;
    margin: 0 1.625rem;
    position: relative;
}

.validity-line-container .validity-line-seperator {
    bottom: -17px;
    bottom: -1.0625rem;
    position: absolute;
    height: 55px;
    height: 3.4375rem;
    width: 1px;
    border: solid 0.5px #979797;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
    .validity-line-container {
        display: none;
    }
}

.validity-container {
    font-size: 16px;
    font-size: 1rem;
    display: inline-block;
    font-family: Calibri;
}

.validity-container img {
    padding-right: 5px;
    padding-right: 0.3125rem;
}

.validity-container div:first-child {
    display: inline-block;
    margin-right: 10px;
    margin-right: 0.625rem;
    height: 35px;
    height: 2.1875rem;
    width: 28px;
    width: 1.75rem;
}

.validity-container .validity-heading {
    font-weight: bold;
    display: inline-block;
}

.validity-container .validity-content {
    display: inline-block;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
    .validity-container {
        display: block;
    }
}
