@rem: 16rem;
.ihcl-theme {
    .ihclcb-payment-opt-btn-wrp {
		display: flex;
        flex-wrap: wrap;
    }
    .ihclcb-payment-opt-btn {
		padding: 22/@rem;
       	background-color: rgba(192, 192, 192, 0.24);
        border-radius: 12/@rem;
        margin-right: 14/@rem;
        width: 30%;
        cursor: pointer;
        &:last-child {
//			margin-right: 0;
            margin: 0;
        }
        .radio-button-label {
            cursor: pointer;
        }

        @media only screen and (max-width: 767px) {
			width: 100%;
            margin: 0 0 16/@rem;
            padding: 18/@rem;
            border-radius: 6px;
        }

        .radio-button-wrp {
            @media only screen and (max-width: 767px) {
                margin-bottom: 0 !important;
            }
            div {
                font-size: 14/@rem;
				margin-top: 6/@rem;
            }
        }
    }

    .selected-ihclcb-payment-btn {
		background-image: var(--linearGradient);
        color: #ffffff;
        .radio-button-label {
        	color: #ffffff;
        }

        input[type="radio"]+label:before {
			border-color: #ffffff;
        }

        input[type="radio"]+label:after {
			background-color: #ffffff;
        }
    }
    .ihclcb-card-payment-wrp {
        .ihclcb-payment-notes-text-area {
			border: solid 1px #d8d8d8;
            padding: 10/@rem 6/@rem;
            border-radius: 3px;
        }        
    }

    .ihclcb-form-input-label {
        font-family: "Calibri-bold";
      font-size: 1.5rem;
      line-height: 1.75;
      color: #323232;
        @media only screen and (max-width: 767px) {
            font-size: 18/@rem;
        }
    }
    .credit-card-guarantee-text {
    	font-size: 20/@rem;
    	color: #212529;
    	line-height: 1.2;
    	margin: 1rem 0 1.2rem;
        @media only screen and (max-width: 767px) {
            font-size: 14/@rem;
            margin: 0.8rem 0 1rem;
        }
    }
    .credit-card-payment-heading {
        color: #323232;
    }
    .checkout-enter-details-card .payment-details-wrp .payment-type-radio-wrp .radio-button-wrp:last-child {
        margin-bottom: 0;
    }
}