.credit-card-guarantee-text{	   
   font-family: Calibri;
   font-size: 16px;
   font-size: 1rem;
   color: #4a4a4a;
   margin-bottom: 1rem;
   line-height: normal;	
}
.guarantee-message{
	color: var(--primaryColorDark);
}

.taj-loader.pay-now-spinner {
    font-size: 1.2rem;
    margin: auto;
}
.policy-terms-warning-message{
	font-family: Calibri;
    font-size: 14px;
	color:#f44336;
	display: none;
}
.tic-room-redemption-terms-and-condition .Terms-cond-head-wrapper {
    margin: 0 0 0.5rem;
    cursor: pointer;
}
.policy-terms-external-wrapper{
    margin: 1rem 0 1rem 2rem;
    padding: 0 2rem;
}
.policy-terms-external-link{
	color: #818b92;
	text-decoration: underline;
	padding:3px 0 10px;
}
.checkout-enter-details-card {
    background-color: #ffffff;
}

.checkout-enter-details-card .mr-filter-checkbox + span.mr-inputCustomShape {
    border: solid 1px #979797;
}

.checkout-enter-details-card .checkout-enter-details-header {
    position: relative;
    padding: 37px 80px 33px 37px;
    padding: 2.3125rem 5rem 2.0625rem 2.3125rem;
    border-bottom: solid 1px rgba(151, 151, 151, 0.2);
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .checkout-enter-details-header {
        padding: 1.3125rem 2.1875rem 1.1875rem 2.1875rem;
        background-color: rgba(230, 230, 230, 0.65);
    }
}

.checkout-enter-details-card .checkout-enter-details-header .checkout-form-title {
    display: inline-block;
    font-family: Calibri-bold;
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 0.83;
    color: #1b1b1b;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .checkout-enter-details-header .checkout-form-title {
        font-size: 1.25rem;
    }
}

.checkout-enter-details-card .checkout-enter-details-header .checkout-form-step-wrp {
    position: absolute;
    top: 28px;
    top: 1.75rem;
    right: 80px;
    right: 5rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .checkout-enter-details-header .checkout-form-step-wrp {
        top: 1.125rem;
        right: 2.1875rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container {
    padding: 20px 112px 30px 37px;
    padding: 1.25rem 7rem 1.875rem 2.3125rem;
}

@media only screen and (max-width: 991px) {
    .checkout-enter-details-card .booking-details-wrp .booking-input-fields-container {
        padding: 1.25rem 1.875rem 1.875rem 2.3125rem;
    }
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-input-fields-container {
        padding: 0.6875rem 2.1875rem 1.875rem 2.1875rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp {
    margin: 16px 0 28px;
    margin: 1rem 0 1.75rem;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    letter-spacing: 0px;
    letter-spacing: 0.025rem;
    color: #888888;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp {
        margin: 0.9375rem 0 1.125rem;
        font-size: 1rem;
        line-height: normal;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp .membership-signin {
    text-decoration: underline;
    color: var(--primaryColor);
    letter-spacing: 0px;
    letter-spacing: 0.01875rem;
    font-family: Calibri-bold;
    cursor: pointer;
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp .membership-signin .membership-signin-popup {
    display: none;
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp .membership-signin .membership-signin-popup.show-signin {
    display: block;
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp .membership-signin .membership-signin-popup .membership-sigin-overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(74, 74, 74, 0.55);
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp .membership-signin .membership-signin-popup .membership-sigin-overlay .checkout-member-signin-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-faster-wrp .membership-signin .membership-signin-popup .membership-sigin-overlay .checkout-member-signin-container {
        margin: 1.75rem 1.4375rem;
        display: block;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-for-others-wrp {
    margin-left: 32px;
    margin-left: 2rem;
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-for-others-wrp .mr-filterCheckBox-label {
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 0px;
    letter-spacing: 0.03125rem;
    color: #888888;
    line-height: normal;
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-for-others-wrp .biller-details-wrp {
    margin-left: -32px;
    margin-left: -2rem;
    display: none;
    margin-top: 24px;
    margin-top: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .book-for-others-wrp .biller-details-wrp {
        margin-top: 0.375rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .guest-details-wrp {
    margin-top: 24px;
    margin-top: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-input-fields-container .guest-details-wrp {
        margin-top: 1.875rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .special-flight-wrp {
    margin-bottom: 64px;
    margin-bottom: 4rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .special-flight-wrp {
        margin-bottom: 2.9375rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common {
    padding: 0px 112px 0px 37px;
    padding: 0rem 7rem 0rem 2.3125rem;
    border-bottom: solid 0.5px #dee2e5;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common {
        padding: 0 2.1875rem 0 2.1875rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common:last-child {
    border-bottom: none;
}

.checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common .special-flight-common-header {
    padding: 10px 0;
    padding: 0.625rem 0;
    font-family: Calibri-bold;
    font-size: 22px;
    font-size: 1.375rem;
    letter-spacing: 0.5px;
    color: #888888;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common .special-flight-common-header {
        font-size: 1.25rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common .special-flight-common-header .special-flight-arrow {
    width: 11px;
    width: 0.6875rem;
    height: 17px;
    height: 1.0625rem;
    position: absolute;
    bottom: 23px;
    bottom: 1.4375rem;
    right: 0;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .special-flight-wrp .special-flight-common .special-flight-common-header .special-flight-arrow {
        bottom: 1.125rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper {
    padding: 0px 112px 42px 37px;
    padding: 0rem 7rem 2.625rem 2.3125rem;
    display: table;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper {
        padding: 0 2.1875rem 2.3125rem 2.1875rem;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper .proceed-checkbox-wrapper {
    padding-left: 32px;
    padding-left: 2rem;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper .proceed-checkbox-wrapper {
        display: table-row;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper .proceed-checkbox-wrapper .mr-filterCheckBox-label {
    font-size: 17px;
    font-size: 1.0625rem;
    letter-spacing: 0px;
    letter-spacing: 0.03125rem;
    color: var(--primaryColor);
    margin-right: 64px;
    margin-right: 4rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper .proceed-checkbox-wrapper .mr-filterCheckBox-label {
        margin: 0 0 1.6875rem 2rem;
        font-size: 1rem;
        display: block;
    }
}

.checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper .proceed-button-column {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .booking-details-wrp .booking-details-proceed-wrapper .proceed-button-column {
        text-align: center;
    }
}

.checkout-enter-details-card .payment-details-wrp {
    position: relative;
    display: none;
    padding: 21px 75px 59px 37px;
    padding: 1.3125rem 4.6875rem 3.6875rem 2.3125rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp {
        padding: 1.3125rem 2.1875rem 2.625rem 2.1875rem;
    }
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp {
    margin-left: 32px;
    margin-left: 2rem;
    position: relative;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .mr-filterCheckBox-label {
    font-family: Calibri-bold;
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .mr-filterCheckBox-label {
        font-size: 1rem;
        margin-right: 0;
    }
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row {
    margin-left: 32px;
    margin-left: 2rem;
    margin-top: 10px;
    margin-top: 0.625rem;
    display: none;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row {
        margin-left: 0;
    }
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row .selectboxit-container *,
.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row .selectboxit-text {
    color: #818b92 !important;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row .tic-redeemed-information-wrp {
    text-align: right;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row .tic-redeemed-information-wrp .tic-redeemed-information {
    width: 80%;
    display: inline-block;
    padding: 6px 45px 8px;
    padding: 0.375rem 2.8125rem 0.5rem;
    background-color: var(--primaryColorLighter);
    border: dotted 1px var(--primaryColor);
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    letter-spacing: 0px;
    letter-spacing: 0.05625rem;
    text-align: center;
    color: var(--primaryColorDark);
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row .tic-redeemed-information-wrp .tic-redeemed-information {
        width: 100%;
        line-height: normal;
    }
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .row.tic-redeemed-row .tic-redeemed-information-wrp .tic-redeemed-information .tic-redeemed-bold {
    font-family: Calibri-bold;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .tic-epicure-wrp {
    display: none;
    position: absolute;
    right: 32px;
    right: 2rem;
    top: 32px;
    top: 2rem;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .tic-epicure-wrp .tic-points-info {
    display: inline-block;
    vertical-align: middle;
    border-right: solid 1px #c3c3c3;
    line-height: 1.5;
    padding: 0 10px;
    padding: 0 0.625rem;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .tic-epicure-wrp .tic-points-info:last-child {
    border-right: none;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .tic-epicure-wrp .tic-points-info .tic-label {
    letter-spacing: 0px;
    letter-spacing: 0.05625rem;
    color: #979797;
    line-height: 0.89;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .tic-epicure-wrp .tic-points-info .tic-point-value {
    color: #323232;
    line-height: 0.89;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked {
    margin-left: 0;
    padding: 34px 36px 35px 22px;
    padding: 2.125rem 2.25rem 2.1875rem 1.375rem;
    border-radius: 2px;
    background-color: rgba(242, 242, 242, 0.58);
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked {
        width: 112%;
        margin-left: -6%;
    }
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked .mr-filterCheckBox-label {
    margin-left: 32px;
    margin-left: 2rem;
}

.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked .tic-epicure-wrp {
    display: block;
}



.checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked .row.tic-redeemed-row {
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked .row.tic-redeemed-row .sub-form-input-wrp {
        margin-bottom: 3.75rem;
    }
}

.checkout-enter-details-card .payment-details-wrp .payment-type-radio-wrp {
    margin-top: 28px;
    margin-top: 1.75rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .payment-type-radio-wrp {
        margin-top: 1.375rem;
    }
}

.checkout-enter-details-card .payment-details-wrp .payment-type-radio-wrp .radio-button-wrp {
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
    display: flex;
}

.checkout-enter-details-card .payment-details-wrp .payment-type-radio-wrp .radio-button-wrp:last-child {
    margin-bottom: 0.5rem;
}

.checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .credit-card-payment-heading {
    font-family: Calibri-bold;
    font-size: 24px;
    font-size: 1.5rem;
    color: #4a4a4a;
    margin: 32px 0 0;
    margin: 2rem 0 0;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .credit-card-payment-heading {
        margin: 1.3125rem 0 0;
        font-size: 1.25rem;
        line-height: normal;
        letter-spacing: normal;
    }
}

.checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .credit-card-payment-heading .credit-card-label {
    letter-spacing: 1px;
    letter-spacing: 0.06875rem;
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    padding-right: 0.3125rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .credit-card-payment-heading .credit-card-label {
        letter-spacing: normal;
    }
}

.checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .credit-card-payment-heading .credit-card-amount {
    font-family: Calibri;
    display: inline-block;
    vertical-align: middle;
}

.checkout-enter-details-card .payment-details-wrp .credit-card-payment-wrp .credit-card-payment-heading .credit-card-amount .rupee-symbol {
    font-family: RupeeForadian;
}

.checkout-enter-details-card .payment-details-wrp .pay-now-button-wrp {
    position: relative;
    text-align: right;
    margin-bottom: -12px;
    margin-bottom: -0.75rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .pay-now-button-wrp {
        position: absolute;
        bottom: 1.25rem;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.checkout-enter-details-card .payment-details-wrp .pay-now-button-wrp .pay-now-spinner {
    display: none;
    width: 100px;
    width: 6.25rem;
}

.checkout-enter-details-card .payment-details-wrp .pay-now-button-wrp .pay-now-button {
    min-width: 194px;
    min-width: 12.125rem;
}

.checkout-enter-details-card .payment-details-wrp .pay-now-button-wrp button,
.checkout-enter-details-card .payment-details-wrp .pay-now-button-wrp .pay-now-spinner {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .pay-now-button-wrp button,
  .checkout-enter-details-card .payment-details-wrp .pay-now-button-wrp .pay-now-spinner {
        position: relative;
    }
}

.checkout-enter-details-card .payment-details-wrp .disclaimer-footer {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    color: #818b92;
    margin-top: 39px;
    margin-top: 2.4375rem;
}

@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .disclaimer-footer {
        margin-top: 0rem;
        margin-bottom: 1.25rem;
        line-height: normal;
    }
}

.form-step-wrp .form-step {
    display: inline-block;
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 12px;
    margin-right: 0.75rem;
    background-color: #f2f2f2;
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.7;
    text-align: center;
    color: #979797;
}

@media only screen and (max-width: 767px) {
    .form-step-wrp .form-step {
        width: 1.6875rem;
        height: 1.6875rem;
        font-size: 0.85625rem;
        line-height: 2;
        background-color: #dadada;
    }
}

.form-step-wrp .form-step:last-child {
    margin-right: 0;
}

.form-step-wrp .form-step.active-form-step {
    background-image: var(--linearGradient);
    color: #ffffff;
}

.mandatory-label {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    color: #818b92;
}

@media only screen and (max-width: 767px) {
    .mandatory-label {
        font-size: 0.875rem;
    }
}

.mr-sub-form [class*="col-"] {
    display: inline-block;
}

.mr-sub-form [class*="col-"].sub-form-input-wrp {
    position: relative;
    margin-bottom: 36px;
    margin-bottom: 2.25rem;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form [class*="col-"] {
        padding: 0 !important;
    }

    .mr-sub-form [class*="col-"].sub-form-input-wrp {
        margin-bottom: 1.875rem;
    }
}

.mr-sub-form .row.mr-sub-form-row {
    margin-bottom: -36px;
    margin-bottom: -2.25rem;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .row.mr-sub-form-row {
        margin-bottom: -1.875rem;
    }

    .mr-sub-form .row.mr-sub-form-row.pay-now-row {
        position: relative;
        padding-bottom: 1.875rem;
    }
}

.mr-sub-form .sub-form-input-wrp.col-md-8 {
    padding-right: 30px;
    padding-right: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .sub-form-input-wrp.col-md-4 {
        padding: 0 !important;
    }
}

.mr-sub-form .sub-form-input-wrp.col-md-4:nth-child(3n-2) {
    padding-right: 60px;
    padding-right: 3.75rem;
}

@media only screen and (max-width: 991px) {
    .mr-sub-form .sub-form-input-wrp.col-md-4:nth-child(3n-2) {
        padding-right: 1.25rem;
    }
}

.mr-sub-form .sub-form-input-wrp.col-md-4:nth-child(3n-1) {
    padding: 0 30px;
    padding: 0 1.875rem;
}

@media only screen and (max-width: 991px) {
    .mr-sub-form .sub-form-input-wrp.col-md-4:nth-child(3n-1) {
        padding: 0 0.625rem;
    }
}

.mr-sub-form .sub-form-input-wrp.col-md-4:nth-child(3n) {
    padding-left: 60px;
    padding-left: 3.75rem;
}

@media only screen and (max-width: 991px) {
    .mr-sub-form .sub-form-input-wrp.col-md-4:nth-child(3n) {
        padding-left: 1.25rem;
    }
}

.mr-sub-form .sub-form-input-wrp.col-md-4 .phone-number-code-col {
    z-index: 1;
}

.mr-sub-form .sub-form-input-wrp.col-md-4 .phone-number-code-col .sub-form-input-warning {
    background-color: #ffffff;
    width: 255px;
    white-space: nowrap;
}

.mr-sub-form .sub-form-input-wrp.col-md-4 .phone-number-col {
    padding-left: 13px;
    padding-left: 0.8125rem;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .sub-form-input-wrp.col-md-4 .phone-number-col {
        padding-left: 0.8125rem !important;
    }
}

.mr-sub-form .sub-form-heading {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    letter-spacing: 0px;
    letter-spacing: 0.03125rem;
    color: #000000;
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .sub-form-heading {
        font-family: Calibri-bold;
        font-size: 1.125rem;
        color: #888888;
        margin-bottom: 1rem;
    }
}

.mr-sub-form .sub-form-input-label {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    color: #818b92;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .sub-form-input-label {
        font-size: 1rem;
        margin-bottom: 0.375rem;
    }
}

.mr-sub-form .sub-form-input-element {
    background-color: transparent;
    width: 100%;
    padding: 0 10px 6px;
    padding: 0 0.625rem 0.375rem;
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    color: #000000;
    outline: none;
    border: none;
    border-bottom: solid 1.7px #dee2e5;
}

@media only screen and (max-width: 991px) {
    .mr-sub-form .sub-form-input-element {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .sub-form-input-element {
        font-size: 1rem;
        padding: 0 0.375rem 0.3rem;
    }
}

.mr-sub-form .sub-form-input-element::-webkit-input-placeholder {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #dee2e5;
}

.mr-sub-form .sub-form-input-element::-moz-placeholder {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #dee2e5;
}

.mr-sub-form .sub-form-input-element:-ms-input-placeholder {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #dee2e5;
}

.mr-sub-form .sub-form-input-element::placeholder {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #dee2e5;
}

@media only screen and (max-width: 767px) {
    .mr-sub-form .sub-form-input-element::-webkit-input-placeholder {
        font-size: 0.875rem;
    }

    .mr-sub-form .sub-form-input-element::-moz-placeholder {
        font-size: 0.875rem;
    }

    .mr-sub-form .sub-form-input-element:-ms-input-placeholder {
        font-size: 0.875rem;
    }

    .mr-sub-form .sub-form-input-element::placeholder {
        font-size: 0.875rem;
    }
}

.mr-sub-form .sub-form-input-element.invalid-input {
    border-bottom-color: var(--primaryColor);
}

.mr-sub-form .sub-form-input-element.selectSubContainer .selectboxit-text {
    font-family: Calibri;
    font-size: 20px !important;
    font-size: 1.25rem !important;
    color: #000000;
}

.mr-sub-form .sub-form-input-element.selectSubContainer .selectboxit-option-first {
    display: none;
}

.mr-sub-form .sub-form-input-element.selectSubContainer .selectboxit-container span,
.mr-sub-form .sub-form-input-element.selectSubContainer .selectboxit-container .selectboxit-options a {
    height: auto;
    line-height: normal;
}

.mr-sub-form .invalid-input + .sub-form-input-warning {
    display: block;
}

.mr-sub-form .sub-form-input-warning {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    color: #f44336;
    display: none;
    margin-bottom: -15px;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-ms-clear {
    display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#redeemTicDropdown {
    width: auto !important;
    height: 100% !important;
}

.cm-blink {
    animation: blink-animation 1.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
 input[type="checkbox"].mr-filter-checkbox:checked + span.mr-inputCustomShape {
    background-image: url("/content/dam/tajhotels/icons/style-icons/checkBox-tick.svg");
    background-size: 0.875rem 0.6875rem;
    background-repeat: no-repeat;
    background-position: center;
}

.guest-details-wrp.mr-sub-form .sub-form-input-wrp:last-child {
	display: none;
	pointer-events: none;
}

.sub-form-input-warning.cm-scale-animation.dd-error-msg {
	left: 0px;
    position: relative;
    bottom: -10px;	
}
.guest-details-wrp .sub-form-input-element.selectSubContainer {
	padding-left: 0;
}
.guest-details-wrp .sub-form-input-element.selectSubContainer .selectboxit-options.selectboxit-list {
	min-width: 100% !important;
}

.guest-details-wrp .sub-form-input-element.selectSubContainer .selectboxit-options.selectboxit-list {
	padding: 10px 0;
}
.guest-details-wrp .sub-form-input-element.selectSubContainer .selectboxit-options.selectboxit-list .selectboxit-option .selectboxit-option-anchor {
	white-space: normal;
}.sub-form-input-element.selectSubContainer.tic-points-redemption{
    border: solid 2px #dee2e5 !important;
    background: white;
    padding: 20px 40px;
    margin-top:20px;
    position:relative;
    }
.payment-type{
    display:flex;
    align-items:center;
    position: relative;
   }
.payment-radio-btn::after{
    background-color: #d5213d;
    }
.redeem-input{
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: solid 2px #d5d5d5f3;
    padding: 0px 5px;
}
.sub-form-input-wrp{
margin-top:35px;
}
.sub-form-input-element.selectSubContainer.tic-room-redemption-main-selection{
    border:none!important;
            }
@media only screen and (max-width:767px){
    .redeem-input{
             width:85%;
        }
        .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked{
            padding:34px 20px 35px 22px;
        }
    .tic-points-pay .col-md-5.radio-button-wrp{
            margin-bottom:35px;
        }
.sub-form-input-element.selectSubContainer.tic-points-redemption{
    padding:20px 15px;
            }
    .tic-points-only .tic-points-only{
        display:flex;
        margin-bottom:20px;
       }
    .sub-form-input-wrp{
    margin-top:10px;
    }
.radio-button-wrp .radio-button-label{
    /*display:flex;*/
        }
}
.terms-desc{
    display:none;
   }
.terms-drop-rotate{
    transform:rotate(180deg);
  }
  .Terms-cond-head-wrapper img{
    margin: 0px 5px;    
    vertical-align: baseline;
    width: 16px;
  }
.Terms-cond-header{
    display:inline;
    font-size: 1.5rem;
}
.sub-form-input-element.selectSubContainer.tic-points-redemption.tic-points-pay.tic-room-redemption-points-plus-cash-selection,
.sub-form-input-element.selectSubContainer.tic-room-redemption-main-selection,
.sub-form-input-element.selectSubContainer.tic-points-redemption {
    display: flex;
}
.policy-terms-external-wrapper {
    margin: 1rem 0 1rem 2rem;
    padding-left: 1rem;
}
.points-payment-button-wrp .pay-points-plus-cash {
	    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
.sub-form-input-element.selectSubContainer.tic-points-redemption .pay-points-only-wrp{
	    width: 100%;
    text-align: right;
}

.points-plus-cash-t-and-c-error {
    color: #ff0000;
    font-size: 1rem;
}
.redeem-with-epicure-point-plus-cash-info-bar,.redeem-with-tic-point-plus-cash-info-bar{
    margin-left: 3rem;
    padding: 1rem;
}
.redeem-with-tic-point-plus-cash-info-bar p ,.redeem-with-epicure-point-plus-cash-info-bar p {
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.points-payment-button-wrp{
    text-align: left;
    margin-left: 3rem;
}
@media only screen and (max-width: 767px) {
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp.redeem-points-checked .tic-epicure-wrp {
           top: 0.5rem;
    left: 0;
    right: 0;
    text-align: right;
    line-height: 1;
    }
    .checkout-enter-details-card .payment-details-wrp .redeem-checkbox-wrp .tic-epicure-wrp .tic-points-info{
        font-size: 0.75rem;
    }
    .redeem-with-epicure-point-plus-cash-info-bar, .redeem-with-tic-point-plus-cash-info-bar{
        margin-left:2rem;
        padding: 0;
    }
    .tic-room-redemption-points-plus-cash-selection .policy-terms-external-wrapper {
    margin: 1rem 0 1rem 0rem;
    padding-left: 0rem;
}
.points-plus-cash-t-and-c-error{
        font-size: 0.75rem;
    margin-left:2rem;
}
.points-payment-button-wrp{
    margin-left: 2rem;
}

}

.redeem-input {
    max-width: 75px !important;
    text-align: center;
}

.sub-form-input-element.tic-points-redemption.tic-points-pay.tic-room-redemption-points-plus-cash-selection .card-points-label,
 .sub-form-input-element.tic-points-redemption.tic-points-pay.tic-room-redemption-points-plus-cash-selection .card-input{
     display: inline-block;
     font-size: 1rem;
 }
 
 @media only screen and (max-width: 991px) {
    .sub-form-input-element.tic-points-redemption.tic-points-pay.tic-room-redemption-points-plus-cash-selection .card-points-label{
        font-size:1rem;        
    }
    #redeemEpicureInput,#redeemTicInput{
        width:4rem;
    }
    .sub-form-input-element.tic-points-redemption{
        padding: 20px;
    }
    .sub-form-input-element.tic-room-redemption-main-selection .radio-button-wrp,.payment-type{
        margin-bottom: 5px;
    }
    .sub-form-input-element.tic-points-redemption.tic-points-pay.tic-room-redemption-points-plus-cash-selection {
       padding-bottom: 5rem;
    }
    .points-payment-button-wrp .pay-points-plus-cash{
        right:1rem;
    }
    .redeem-with-tic-point-plus-cash-info-bar p, .redeem-with-epicure-point-plus-cash-info-bar p,.sub-form-input-element.tic-points-redemption.tic-points-pay.tic-room-redemption-points-plus-cash-selection .card-points-label{
        font-size: 0.8rem;
    }
 }
 @media only screen and (max-width: 359px){
    .tic-room-redemption-terms-and-condition .Terms-cond-header{
        font-size: 20px
    }
 }

 @media only screen and (max-width: 767px){
     .tic-room-redemption-terms-and-condition h2{
        font-size: 1.5rem;
     }
 }

#message-for-less-points, #message-for-less-points-and-cash {
	font-family: Calibri;
    font-size: 14px;
    color: #f44336;
        position: absolute;
    bottom: 5px;
}
#tic-lesser-points,#tic-higher-points,#tic-no-points,#tic-half-points,#tic-zero-cash,#epicure-lesser-points,#epicure-higher-points,#epicure-no-points,#epicure-half-points,#epicure-zero-cash{
font-family: Calibri;
   font-size: 14px;
   font-size: 0.875rem;
   color: #f44336;
}

.tic-room-redemption-terms-and-condition h2{
       font-size: 1.5rem;
}
.Terms-cond  .terms-desc li{
	
	    list-style-type: disc;
    margin-left: 2rem;
}
@media only screen and (max-width: 767px){
    .tic-room-redemption-terms-and-condition h2{
       font-size: 1.25rem;
    }
    .Terms-cond  .terms-desc li{
    margin-left: 1rem;
    line-height: 1.2;

}
}

#tap-redeem .sub-form-input-wrp, #tappme-redeem .sub-form-input-wrp{
	margin-top:0px;
}

