.mr-contact-us-wrap {
    background-color: #ffffff;
    box-shadow: 0 7px 14px 0 #e5e3e3;
}

.mr-contact-us-wrap .cont-us-image-cont img {
    height: 100%;
    width: 100%;
}
.mr-contact-us-wrap .cont-us-image-cont{
	height:300px;
}

.mr-contact-us-wrap .cont-us-details-container {
    padding: 15px;
}

.mr-contact-us-wrap .cont-us-details-container .cont-us-details-header {
    font-family: Calibri;
    font-size: 25px;
    line-height: 1;
    color: #323232;
}

.mr-contact-us-wrap .cont-us-details-container .cont-us-contact-wrap {
    margin-top: 9px;
    font-family: Calibri;
    font-size: 16px;
    line-height: 1.19;
    color: #9b9b9b;
}

.mr-contact-us-products-container {
    overflow-x: auto;
}
