<div data-sly-use.model="com.ihcl.core.models.EventModel">
<div data-sly-test="${model.eventName != null}">
    <div class="card-header"> 
		<span><img class="offer-icon" src="/content/dam/tajhotels/in/en/Events/ic-calendar@2x.png" alt="calendar icon"></span>
        <span>${model.convertedDate}</span>
    </div>
	<img style="width:250px; height: 250px;"  src="${model.eventsImage}" alt = "events Image"/>
	<div card-footer>
		<div class="event-info-wrp"> 
			<div class="event-title">${model.eventName}</div> 
            <div class="event-tickets-info">${model.eventLoc} </div>

    	</div>
		<div class="event-info-right">
    			<div class="event-venue">${model.ticketsAvailable} </div> 
				<div> <a href="${model.resourceURL}" class="event-list-button">VIEW DETAILS</a> </div>
		</div>
	</div>
    </div>
</div>