<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.individual-profile'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />    

<div class="cart-empty-back">
    <a href="javascript: history.go(-1)"> < Back</a>
</div>
<div class="about-specific-city cm-content-blocks about-us-details-wrap">
    <div class="about-specific-city-container">
        <div class="specific-city-wrapper clearfix row">
            <div class="specific-city-details-container col-lg-6 col-md-12 col-sm-12">
                <div class="specific-city-header-wrapper">
                    <h1 class="specific-city-header header-tag-style">${properties.personName}</h1>                   
                </div>
                <div class="spec-about-city">
                    <div class="spec-about-city-subheader">${properties.designation}</div>
                    <article>
                        <div class="desc-individual-details">
                            <div class="rooms-suites-description">${properties.description @context='html'}</div>
                            <div class="rooms-suites-description">${properties.longdescription @context='html'}</div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="specific-city-image-conatiner col-lg-6 col-md-12 col-sm-12">
                <div class="image-container-handling">
                    <sly
                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />                   
                </div>
            </div>
        </div>
    </div>
</div>