<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='destination-plan-your-itenerary'}" />

<div data-sly-test.edit=${wcmmode.edit}>
    <h5>Specific Destination Itenerary Card List are configurable in this section</h5>
</div>
<div class="cm-content-blocks holidays-about-plan-your-itinerary-sec">
    <sly data-sly-use.planIternaryObj="com.ihcl.core.models.holidays.explore.ExploreDestinationPropertyFetcher">
    <div data-mapData="json" style="display: none;">${planIternaryObj.iteneraryDataJsonStr}</div>
    <!--    <script type="text/javascript"
    	src="https://maps.googleapis.com/maps/api/js?key=${planIternaryObj.googleApiKey}&libraries=places">
	</script>-->
    <div class="mr-Holidays-destination-about-gridMapSwitch">
        <div class="mr-view-toggler-switch-Container">
            <div class="mr-view-Toggler-wrap">
                <div class="mr-list-switch mr-view-toggler-style mr-Holidays-destination-about-gridMapSwitchStyling">
                    <img class="mr-listMapSwitch-icon" src="/content/dam/tajhotels/icons/style-icons/list-icon.svg"
                        alt="list icon" />
                    <span class="mr-listSwitch-text">Grid</span>
                </div>
                <div class="mr-map-switch mr-Holidays-destination-about-gridMapSwitchStyling" tabindex="0" role="button">
                    <img class="mr-listMapSwitch-icon" src="/content/dam/tajhotels/icons/style-icons/mapview-icon.svg"
                        alt="mapView icon" />
                    <span class="mr-mapSwitch-text">Map</span>
                </div>
            </div>
        </div>
    </div>
    <div class="cm-content-blocks mr-holiday-destination-about-cards-wrapper">
        <div class="iteniary-list-view-wrapper">
            <sly data-sly-test.hasSightSeeingList="${planIternaryObj.sightSeeing}">
            <div class="cm-header-label-con title-decorator-border">
                <h2 class="cm-header-label">Sight Seeing</h2>
            </div>
            </sly>
            <div class="iteniary-list-view">
                <div class="row">
                    <sly data-sly-list.sightSeeingLs=${planIternaryObj.sightSeeing}>
                    <div
                        class="col-lg-4 col-md-6 col-sm-12 mr-holidays-destination-about-card-container cm-card-showmore-spacing">
                        <div class="mr-holidays-destination-about-card-Innercontainer">
                            <div class="mr-holidays-Destination-about-image-wrapper">
                                <picture> <img class="mr-holidays-Destination-about-image"
                                    src="${sightSeeingLs.image}" alt="taj holidays" width="100%" height="100%" /> </picture>
                            </div>
                            <div class="mr-holidays-Destination-about-description-wrapper">
                                <h2 class="mr-holidays-Destination-about-title">${sightSeeingLs.title}</h2>
                                <div class="mr-holidays-Destination-about-description-content">${sightSeeingLs.description}</div>
                                <sly data-sly-test.hasOpeningTime="${sightSeeingLs.openingTime}">
                                <div class="mr-holidays-Destination-about-timing">
                                    <span>Time : ${sightSeeingLs.openingTime}</span>
                                    <sly data-sly-test.hasTime="${iternaryLs.closingTime}"> <span>-
                                        ${sightSeeingLs.closingTime}</span> </sly>
                                </div>
                                </sly>
                            </div>
                        </div>
                    </div>
                    </sly>
                </div>
            </div>
        </div>
        <div class="iteniary-list-view-wrapper">
            <sly data-sly-test.hasActivitiesList="${planIternaryObj.activities}">
            <div class="cm-header-label-con title-decorator-border">
                <h2 class="cm-header-label">Activities To Do</h2>
            </div>
            </sly>
            <div class="iteniary-list-view">
                <div class="row">
                    <sly data-sly-list.activitiesLs=${planIternaryObj.activities}>
                    <div
                        class="col-lg-4 col-md-6 col-sm-12 mr-holidays-destination-about-card-container cm-card-showmore-spacing">
                        <div class="mr-holidays-destination-about-card-Innercontainer">
                            <div class="mr-holidays-Destination-about-image-wrapper">
                                <picture> <img class="mr-holidays-Destination-about-image"
                                    src="${activitiesLs.image}" alt="taj holidays" width="100%" height="100%" /> </picture>
                            </div>
                            <div class="mr-holidays-Destination-about-description-wrapper">
                                <h2 class="mr-holidays-Destination-about-title">${activitiesLs.title}</h2>
                                <div class="mr-holidays-Destination-about-description-content">${activitiesLs.description}</div>
                                <sly data-sly-test.hasOpeningTime="${activitiesLs.openingTime}">
                                <div class="mr-holidays-Destination-about-timing">
                                    <span>Time : ${activitiesLs.openingTime}</span>
                                    <sly data-sly-test.hasTime="${activitiesLs.closingTime}"> <span>-
                                        ${activitiesLs.closingTime}</span> </sly>
                                </div>
                                </sly>
                            </div>
                        </div>
                    </div>
                    </sly>
                </div>
            </div>
        </div>
        <div class="iteniary-list-view-wrapper">
            <sly data-sly-test.hasShoppingList="${planIternaryObj.shopping}">
            <div class="cm-header-label-con title-decorator-border">
                <h2 class="cm-header-label">Shopping</h2>
            </div>
            </sly>
            <div class="iteniary-list-view">
                <div class="row">
                    <sly data-sly-list.shoppingLS=${planIternaryObj.shopping}>
                    <div
                        class="col-lg-4 col-md-6 col-sm-12 mr-holidays-destination-about-card-container cm-card-showmore-spacing">
                        <div class="mr-holidays-destination-about-card-Innercontainer">
                            <div class="mr-holidays-Destination-about-image-wrapper">
                                <picture> <img class="mr-holidays-Destination-about-image"
                                    src="${shoppingLS.image}" alt="taj holidays" width="100%" height="100%" /> </picture>
                            </div>
                            <div class="mr-holidays-Destination-about-description-wrapper">
                                <h2 class="mr-holidays-Destination-about-title">${shoppingLS.title}</h2>
                                <div class="mr-holidays-Destination-about-description-content">${shoppingLS.description}</div>
                                <sly data-sly-test.hasOpeningTime="${shoppingLS.openingTime}">
                                <div class="mr-holidays-Destination-about-timing">
                                    <span>Time : ${shoppingLS.openingTime}</span>
                                    <sly data-sly-test.hasTime="${shoppingLS.closingTime}"> <span>-
                                        ${shoppingLS.closingTime}</span> </sly>
                                </div>
                                </sly>
                            </div>
                        </div>
                    </div>
                    </sly>
                </div>
            </div>
        </div>
    </div>
    <div class="cm-content-blocks mr-holiday-aboutDest-map cm-hide">
        <img class="map-local-back hide-in-lg" src="/content/dam/tajhotels/icons/style-icons/leftArrow.svg" alt="left-icon" />
        <div class="row">
            <div class="mr-map-totalCount col-lg-12 col-md-12"></div>
            <div class="mr-mapView-layout col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="mr-listsMap-aboutDest">
                            <div class="mr-map-view-about-dest"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="mr-google-mapContainer-aboutDest">
                            <div class="destination-map" id="mapDestinationAbout"></div>
                            <div class="mr-mapview-carousel-wrap-aboutDest">
                                <div class="carousel slide" id="mapviewAboutDest" data-ride="carousel">
                                    <div class="carousel-inner card-carousel mr-aboutDest-map-carousel"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </sly>
</div>