<template data-sly-template.website="${@hotelObject}" xmlns="http://www.w3.org/1999/html">
<sly data-sly-test.additionalDetails="${hotelObject.additionaldetails}" />
    <div class="mr-map-view-hotelsLists-wrap mr-map-view-mobile-none mr-${hotelObject.hotelType}-typehotel" 
		 data-hotelid="${hotelObject.hotelID}" data-hotelbrand="${hotelObject.hotelBrandName}" data-hotelRoomCode="${hotelObject.hotelRoomCode}"
		 data-popularity="${additionalDetails.totalReviews}" data-rating="${additionalDetails.reviewScore}" 
		 id=${hotelObject.hotelID} onclick="hotelCardClicked(this)" 
		 data-key={brand:${hotelObject.hotelBrandName},price:${hotelObject.hotelID},rating:${additionalDetails.reviewScore},popularity:${additionalDetails.totalReviews}}>
		 <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />
        <div class="row">
            <div class="col-md-3 col-4">
                <div class="mr-mapHotel-image-wrap">
					<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= hotelObject.hotelBannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true', styleClass='list-hotel-image'}"></sly>
                </div>
            </div>
            <div class="col-md-9 col-8">
                <div class="mr-mapHotel-contents-wrap">
                    <div class="row">
                        <div class="col-12">
                            <div class="maphotel-mainDetails-wrap">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="mapHotel-title">${hotelObject.hotelName}</div>
                                        <div class="mapHotel-location-wrap">
                                            <div class="mapHotel-location-icon">
                                                <img class="mr-mapHotel-location-icon" src="/etc.clientlibs/tajhotels/components/content/destination/destination-hotel-card/clientlibs/resources/images/locationIcon.png" alt="location icon">
                                            </div>
                                            <div class="mapHotel-location-address">${additionalDetails.hotelArea}, ${hotelObject.hotelCity}</div>
                                        </div>
                                        <div class="mapHotel-airport-distance">${additionalDetails.locationStats}</div>
                                        <div class="mapHotel-lan">${additionalDetails.longitude}</div>
                                        <div class="mapHotel-lat">${additionalDetails.latitude}</div>
                                    </div>
                                    <div class="col-2">
                                        <div class="mr-map-overallRating-wrap">
                                            <div class="mr-map-overallRating" data-sly-test="${additionalDetails.reviewScore}">${additionalDetails.reviewScore}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="maphotel-rateDetails-wrap">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="map-card-waiting-spinner">
                                            <img src="/content/dam/tajhotels/icons/style-icons/spinner.gif" alt="spinner icon">
                                        </div>
                                        <div class="mr-map-rating-wrap">
                                            <div class="mapHotels-rateperNightText">Starting Rate / Night</div>
                                            <div class="mapHotels-rate">
                                                <del class="mapHotels-oldRate">
                                                    <span class="mr-mapRupee">â‚¹</span>
													<span class="map-card-discounted-rate">${hotelObject.amountAfterTax}</span>
                                                </del>
                                                <span class="mr-map-Newrate">
													<span class="newRate-rupee">â‚¹</span>
													<span class="map-card-current-rate">${hotelObject.amountBeforeTax}</span>
													<span class="map-card-current-rate-asterisk">*</span>
												</span>
                                                <div class="room-rate-unavailable">
                                                    <span>Unavailable</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="mr-viewHotel-wrap">
                                            <div class="map-last-few-rooms" style="display: block">
                                                Last few rooms available
                                            </div>
                                            <div class="map-viewHotel-button">
                                                <!--/*<button class="cm-btn-secondary">VIEW HOTEL</button>*/-->
                                                <a href="${hotelObject.hotelPath}.html">
                                                    <button class="cm-btn-secondary">VIEW HOTEL</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>