
.experience-warp{
	background-color: #ffffff;
	min-height: 635px;
}
.experience-header{
    text-align:center;
    padding:20px;
}
.experience-header div{
	padding:0 20%;
}

.experience-card{
    height:462px;
}
.experience-img img{
	width :100%;
    height :300px;
}

.experience-card-description{
  width: 60%;
  text-align: center;
  height: auto;
  background-color: #f6f6f6;
  padding: 40px;
  position: absolute;
  left: 20%;
  bottom: 25px;


}

.experience-card-description h3{
  font-size: 20px;
  font-family: var(--themeHeadingFontSemiBold);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
}
.experience-card-description p{
  margin-bottom:0;
}
.ama-theme .carousel-control-next {
    bottom: 15%;
}
.ama-theme .carousel-control-prev {
    bottom: 15%;
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .experience-header div{
    padding:0px;
  }
  h3{
    font-size: 1.5rem;
  }
  .experience-img img{
    height: 230px;
  }
  .experience-card-description{
    width: 90%;
    left: 5%;
    top: 45%;
    padding: 20px;
  }
  .experience-card {
    height: 400px;
 } 
 .specific-hotels-page .experience-card{
   height: auto;
 }
  .specific-hotels-page .experience-card-description {
    width: 90%;
    left: 5%;
    padding: 25px 15px;
    position: relative;
  }
}