.amount{
	font-size: 1.6875rem;
}
.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp {
    margin: 38px 0 18px;
    margin: -0.625rem 0 1.125rem;
    display: table;
    width: 100%;
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp .incredible-night-text {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.75;
    color: #4a4a4a;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp .incredible-night-text {
        font-size: 1rem;
        line-height: 1.38;
        max-width: 13.9375rem;
    }
}

@media only screen and (max-width: 374px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp .incredible-night-text {
        font-size: 0.875rem;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp .incredible-night-text {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.75;
    color: #4a4a4a;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp .incredible-night-text {
        font-size: 1rem;
        line-height: 1.38;
        max-width: 13.9375rem;
    }
}

@media only screen and (max-width: 374px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp .incredible-night-text {
        font-size: 0.875rem;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp {
        vertical-align: bottom;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp .incredible-night-booking-cost {
    font-family: RupeeForadian;    
    font-size: 1.4rem;
    color: #323232;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp .incredible-night-booking-cost {
        display: block;
        margin-bottom: 0.3125rem;        
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp .incredible-night-booking-cost span {
    font-family: Calibri-bold;    
    font-size: 1.6875rem;
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp .incredible-night-booking-btn {
    min-width: 166px;
    min-width: 10.375rem;
    margin-left: 20px;
    margin-left: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp .incredible-night-booking-btn {
        min-width: 7.1875rem;
    }
}

/*--------------------------------------CSS for page level classes-----------------------------------------------------*/

.cm-page-container {
    background: #f5f5f5;
}

.cm-page-container .row {
    margin: auto;
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp {
    margin: 38px 0 18px;
    margin: -0.625rem 0 1.125rem;
    display: table;
    width: 100%;
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp .incredible-night-text {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.75;
    color: #4a4a4a;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp .incredible-night-text {
        font-size: 1rem;
        line-height: 1.38;
        max-width: 13.9375rem;
    }
}

@media only screen and (max-width: 374px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp .incredible-night-text {
        font-size: 0.875rem;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-escape-selected-package-wrapper {
    display: table;
    width: 100%;
   /* margin-top: 29px;
    margin-top: 1.8125rem;*/
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-escape-selected-package-wrapper {
       /* margin-top: 0.625rem;*/
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-escape-selected-package-wrapper .selected-packages-info {
    display: table-cell;
    vertical-align: middle;
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.75;
    color: #4a4a4a;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-escape-selected-package-wrapper .selected-packages-info {
        line-height: normal;
        vertical-align: bottom;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper.unique-row-property{
	margin-top:0;
	padding-top:0;
}
