.hide{
        display: none;
    }

.share-wrap{
	height:80px;
    position: relative;
    width: 60px;

    }
.share-btn{
 margin-top:8px;
}

.cm-btn-primary {
    padding: 0.4rem;
    background:none;
}
.share-icons{
	margin-top:-20px;
    position:relative;
    z-index: 10;
}
.icon-share{
	width: auto;
}
.share-blk{
    margin-top:-223px;
    background:#ffffff;
    border: 1px solid #e6e3e3;
    border-radius: 10px;
    position: relative;
    transition: all 0.2 ease;
    }

.share-blk:after{
    position: absolute;
    width: 10px;
    height: 10px;
    border-top:0px;
    border-right: 1px solid #e6e3e3;
    border-bottom: 1px solid #e6e3e3;
    border-left:0px;
    bottom:-2.5%;
    left: 15%;
    margin-left: -2px;
    content:'';
    transform: rotate(45deg);
    margin-top:-5px;
    background: #ffffff;
}
 .share-blk ul li{
	text-align: center;
}
.symbol{
	padding:4px;
    }
.share-blk.active{
	display: block;

      }

