<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
		data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
		data-sly-call="${clientlib.all @ categories='taj.hotels.components.participating-hotels,taj.hotels.components.hotel-card,taj.hotels.warning.popup'}" />



<div class="hotels-container cm-content-blocks offers-search-wrap">
	<div class="cm-header-label-con title-decorator-border">
		<sly
				data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly>

	</div>
	<div data-sly-use.hotelFilter="com.ihcl.core.models.HotelFilter"
		 class="participating-hotels-search">
		<div class="participating-hotels-search-wrap">
			<div class="search-input-section">
				<img
						src="/content/dam/tajhotels/icons/style-icons/search-icon-hotels.svg" alt="search black icon"/>
				<input type="text" placeholder="Search" id="searchInput" aria-label="Search Bar"/> <img
					class="search-close"
					src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="dropDown icon"/>
				<ul class="search-input-suggestions-list"></ul>
			</div>
			<div class="search-filter-section clearfix">
				<div class="search-filter-section-name">Hotel Type</div>
				<div class="search-filter-section-choose">
					<div class="selectSubContainer">
						<select aria-label="Hotel Type" name="search-filter-section-dropdown" id="search-filter-section-dropdown" class="hotelTypes">
							<option>Choose</option>
							<sly
									data-sly-list.listItem="${hotelFilter.hotelTypes.keySet.iterator}">
								<option value="${listItem}">${hotelFilter.hotelTypes[listItem]}</option>
							</sly>
						</select>
					</div>
				</div>
			</div>
			<div class="search-filter-section clearfix">
				<div class="search-filter-section-name">Sort By</div>
				<div class="search-filter-section-choose">
					<div class="selectSubContainer">
						<select aria-label="Sort By" name="search-sort-section-dropdown" id="search-sort-section-dropdown" class="sortTypes">
							<option>Choose</option>
							<option value="reviewRating">Review Rating</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div id="hide-rates" data-hide-rate-container="${properties.hideRateContainer}"></div>
		<div id="synxis-settings" data-redirecttosynxis="${properties.isSynxis}" data-synxisparam="${properties.paramname}"
			 data-offercode="${properties.offercode}" data-chain="${properties.chain}" data-currency="${properties.currency}"
			 data-level="${properties.level}" data-locale="${properties.locale}" data-sberi="${properties.sberi}"></div>
	</div>
	<!-- Global offers - all hotels list -->
	<div class="participating-hotels fix-participating-hotels"
		 data-sly-test.isGlobal="${properties.global}"
		 data-sly-use.hotelList="com.ihcl.core.models.ParticipatingHotelList">
		<div class="results-warning-text-wrapper">
			<span class="results-success">Showing results <span class="results-warning-value"></span></span>
			<span class="results-failed">Sorry, No results found <span class="results-warning-value"></span></span>
		</div>
		<div class="row participating-hotels-row" data-sly-list.listItem="${hotelList.allHotels}">
			<sly
					data-sly-resource="${ '{0}/jcr:content' @ format=[listItem], resourceType='tajhotels/components/content/hotel-card' }"></sly>

		</div>
	</div>
	<!-- Non Global offers -participating hotels list -->
	<div data-sly-test="${!isGlobal}"
		 class="participating-hotels fix-participating-hotels"
		 data-sly-use.list="com.adobe.cq.wcm.core.components.models.List">
		<div class="results-warning-text-wrapper">
			<span class="results-success">Showing results <span class="results-warning-value"></span></span>
			<span class="results-failed">Sorry, No results found <span class="results-warning-value"></span></span>
		</div>
		<div class="row participating-hotels-row" data-sly-list.listItem="${list.items}">
			<sly
					data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/hotel-card' }"></sly>
		</div>
	</div>

	<div class="participating-hotels-show-more">
		SHOW MORE
		<span class="inline-block icon-drop-down-arrow"></span>
	</div>

</div>