<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}  data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.breadcrumbs'}" />

<div class="specific-hotels-breadcrumb">
    <itemscope itemtype="http://schema.org/BreadcrumbList">
    <sly data-sly-use.breadcrumb="com.adobe.cq.wcm.core.components.models.Breadcrumb"
        data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-list.navItem="${breadcrumb.items}"
        >
    <span class="breadcrumb-item">
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
   <sly data-sly-use.linkgen="${'breadcrumb-link.js' @ navTitle=navItem.title , navURL=navItem.URL }" >
    <meta itemprop="position" content="${navItemList.index}" />
        <a href="${linkgen.newNavLink}" data-sly-unwrap="${navItem.active}">${navItem.title}</a>
        </span>
    </span> </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=breadcrumb.items.size == 0}"></sly>
</sly> 