.text-title {
    line-height: 1.13;
    letter-spacing: 1px;
    font-size: 2rem;
    text-align: center;
    padding: 35px 0;
    padding-bottom: 15px;
    font-family: var(--themeContentFontBold);
    color: var(--primaryTextColor);
    margin-bottom: 0;
   }
   
   .text-desc{
    font-family: var(--themeContentFontRegular);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 1px;
    text-align: center;
    color: #333333;
    text-align: center;
    padding:0px 0px 35px 0;
   }
   p{
    margin: 0;
   }
   .specific-hotels-page .ama-overview-text .text-title{
       padding-top:20px;
   }
   .specific-hotels-page .ama-overview-text .text-desc{
        padding-bottom:25px;
   }
   .ama-experiences .text-title,.ama-destinations .text-title{
        padding: 0;
        padding-bottom: 0; 
   }

@media only screen and (min-width:320px) and (max-width:767px) {
    .text-title{
        font-size: 1.5rem;
    }
   .text-desc{
        padding: 15px;
    }
}   