 @rem: 16rem;
 .cancellation-reason-section-wrap {
     width: 80%;
     background: #fff;
     margin: auto;
     max-width: 950px;
    @media (max-width: 767px) {
        width: 90%;
    }
 }

 .cancellation-reason-heading-section {
     position: relative;
     border-bottom: 1px dashed #979797;
     color: #4a4a4a;
     @media (max-width: 767px) {
         border: none;
     }
 }

 .cancellation-reason-heading {
     font-family: Calibri-Bold;
     font-size: 34/@rem;
 }

 .cancellation-reason-btn-container {
	  @media (max-width: 767px) {
         flex-direction: column;
       	 align-items: center;
     }
 }

 .cancellation-reason-subheading {
     font-size: 20/@rem;
     font-family: Calibri;
     padding: 0 0 30/@rem 48/@rem;
     @media (max-width: 767px) {
         padding: 0;
         font-size: 16/@rem;
     }
 }

 .cancellation-reason-btn-con {
     width: 191/@rem;
     line-height: 2;
     position: relative;
     @media (max-width: 767px) {
         flex-direction: column;
         line-height: 2.8;
         width: 11.75rem;
     }
     @media (max-width: 415px) {
         width: 10rem;
     }
     @media (max-width: 374px) {
         width: 9rem;
     }
     .cancellation-reason-btn {
         width: 100%;
     }
 }

.cancellation-reason-btn-con > div:first-child {
	position: absolute;
    right: 3rem;
    top: 7px;
}

 .cancellation-reason-btn-con:hover {
     text-decoration: none;
 }

 .cancellation-reason-selection-section {
     margin: 39/@rem 0 0 48/@rem;
     padding-bottom: 40/@rem;
     border-bottom: 1px solid #e5e3e3;
     @media (max-width: 767px) {
         margin: 0;
         border: none;
     }
 }

 .cancel-reason-radio-button {
     display: block !important;
     margin-top: 20/@rem;
     input[type='radio']:checked+label {
         font-family: Calibri-Bold;
     }
     input[type='radio']:not(:checked)_label {
         font-family: Calibri;
     }
 }

.cancellation-reason-section {
     @media only screen and (max-width: 767px) {
         padding-left: 15px !important;
         padding-right: 15px !important;
     }
 }

.reservation-popup-container {
	position: fixed;
    z-index: 100000000000;
}

.reservation-popup {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    background: rgba(74, 74, 74, 0.55);
    z-index: 1;
}

#close-cancel-reservation > button {
	 @media only screen and (max-width: 767px) {
         margin-bottom: 1.3rem;
     }
}

.cancellation-reason-section-wrap > div:first-child {
	@media only screen and (max-width: 767px) {
         align-items: center;
     }
}