
<sly data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
	data-sly-use.paginate="${'com.ihcl.core.models.PaginatedList' @ inputList=list.items}"
	data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	class="cmp-list">

	<ul class="paginatedContainer"  data-sly-list.pageitem="${paginate.paginatedList}">
		<div class="paginatedItem">${pageitem.path} </br></div>
	</ul>
	<div data-sly-test=${paginate.more}> <a class="loadMore"
		onclick="loadMore('${currentNode.path @ context='scriptString'}','${paginate.paginationVal @ context='scriptString'}','${paginate.more @ context='scriptString'}')">Load More</a> 
	 </div>