<template data-sly-template.website="${@hotelObject}" xmlns="http://www.w3.org/1999/html">
    <sly data-sly-test.additionalDetails="${hotelObject.additionaldetails}" />
    <div id="${hotelObject.hotelID}" class="carousel-item mr-mapCarousel row" data-hotelid="${hotelObject.hotelID}"
         data-hotelbrand="${hotelObject.hotelBrandName}" data-popularity="${additionalDetails.totalReviews}"
         data-rating="${additionalDetails.reviewScore}" onclick="hotelCardClicked(this)">
        <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />
        <div class="mr-${hotelObject.hotelType}-typehotel">
            <div class="col-lg-6 col-md-12 col-sm-12 hotelCard-container-outer-wrap mr-mapview-mobileOnly card">
                <div class="hotelCard-container-wrap">
                    <div class="hotelCard-container">
                        <div class="rating-container clearfix">
                            <div class="rating">${additionalDetails.reviewScore}</div>
                            <div class="number-of-rating">${additionalDetails.totalReviews}</div>
                        </div>
                        <div class="hotelCard-imageWrap">
                            <div class="hotelCard-image">
                                <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= hotelObject.hotelBannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true', styleClass='list-hotel-image'}"></sly>
                            </div>
                        </div>
                        <div class="hotelCard_hotelDetails clearfix">
                            <div class="hotelDetails-name-wrap clearfix">
                                <div class="hotelDetailsHeading"> ${hotelObject.hotelName}</div>
                            </div>
                            <div class="rate_con">
                                <div class="map-carousel-waiting-spinner">
                                    <img src="/content/dam/tajhotels/icons/style-icons/spinner.gif" alt="spinner icon">
                                </div>
                                <div class="map-carousal-rate">
                                    <div class="hotelDetailsRate">Starting Rate/Night</div>
                                    <div class="bookingButtonContainer">
                                        <div class="price-con">
                                            <div class="hotelDetailsRateStriked mr-list-hotels-delrate"><span class="rate-currency-symbol"></span><span class="discounted-rate">${hotelObject.amountAfterTax}</span></div>
                                            <div class="hotelDetailsRateNew mr-current-rate-list"><span class="rate-currency-symbol"></span><span class="current-rate">${hotelObject.amountBeforeTax}</span><span class="map-current-rate-asterisk">*</span></div>
                                        </div>
                                        <div class="room-rate-unavailable">
                                            <span>Unavailable</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="view-btn-con">
                            <div class="last-room-warning" style="display:block">Last few rooms available</div>
                            <a href="${hotelObject.hotelPath}.html">
                                <button class="cm-btn-secondary">VIEW HOTEL</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>