<div data-sly-test="${wcmmode.edit}">Destination - Hotel Listing with Map Component</div>
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
             data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='taj.hotels.components.hotels-list-wth-map,taj.hotels.components.hotel-card,taj.hotels.components.destination-hotel-card'}" /> 
<sly data-sly-test.pagePath="${currentPage.path}" />
<sly data-sly-test.pageName="${currentPage.name}" />
<sly data-sly-test.websitePath="${inheritedPageProperties.siteConfigHomePath}" />
<sly data-sly-test.otherPaths="${inheritedPageProperties.otherPaths}" />
<div class="mr-mapView-layout">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="mr-listsMapHotels-Main-Wrapper">
                <div class="mr-map-view-hotels-Container">
                   
                    <sly data-sly-use.footerModel="${'com.ihcl.core.models.DestinationHotels' @currentPagePath=pagePath, currentPageName=pageName, siteConfigHomePath=websitePath, otherWebsitePaths= otherPaths }">
                        <sly data-sly-list.website="${footerModel.hotelsMap['website']}">
                            <sly data-sly-use.destinationCard="destination-hotel-card.html" />
                            <sly data-sly-unwrap data-sly-call="${destinationCard.website @hotelObject=website}" />
                        </sly>
                    </sly>
                    
                    <sly data-sly-use.footerModel="${'com.ihcl.core.models.DestinationHotels' @currentPagePath=pagePath, currentPageName=pageName, siteConfigHomePath=websitePath, otherWebsitePaths= otherPaths }">
                        <sly data-sly-test="${footerModel.hotelsMap['others']}">
                            <h2 class="cm-page-container cm-header-label-con cm-header-label"style="margin-bottom:20px"> Other IHCL Hotels in ${pageProperties.jcr:title}</h2>
                            <sly data-sly-list.others="${footerModel.hotelsMap['others']}">
                                <sly data-sly-use.destinationCard="destination-hotel-card.html" />
                                <sly data-sly-unwrap data-sly-call="${destinationCard.website @hotelObject=others}" />
                            </sly>
                        </sly>
                    </sly>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="mr-google-mapContainer">
                <div id="mapDestination"></div>
                <img class="map-back-icon" src="/content/dam/tajhotels/icons/style-icons/leftArrow.svg" alt="left-icon" />
                <div class="mr-mapview-carousel-wrap">
                    <!-- <div class="carousel slide" id="mapviewCarousel" data-ride="carousel">
                        <div class="carousel-inner card-carousel mr-mapView-card-carousel carousel-inner-list"> -->
                            
                            <sly data-sly-use.footerModel="${'com.ihcl.core.models.DestinationHotels' @currentPagePath=pagePath, currentPageName=pageName, siteConfigHomePath=websitePath, otherWebsitePaths= otherPaths }">
                                <sly data-sly-list.website="${footerModel.hotelsMap['website']}">
                                    <sly data-sly-use.destinationCard="destination-carousel-hotel-card.html" />
                                    <sly data-sly-unwrap data-sly-call="${destinationCard.website @hotelObject=website}" />
                                </sly>
                            </sly>
                           
                            <sly data-sly-use.footerModel="${'com.ihcl.core.models.DestinationHotels' @currentPagePath=pagePath, currentPageName=pageName, siteConfigHomePath=websitePath, otherWebsitePaths= otherPaths }">
                                <sly data-sly-test="${footerModel.hotelsMap['others']}">
                                    <!-- <h1 class="cm-page-container cm-header-label-con cm-header-label" style="margin-bottom:20px"> Other IHCL Hotels in ${pageProperties.jcr:title}</h1> -->
                                    <sly data-sly-list.others="${footerModel.hotelsMap['others']}">
                                        <sly data-sly-use.destinationCard="destination-carousel-hotel-card.html" />
                                        <sly data-sly-unwrap data-sly-call="${destinationCard.website @hotelObject=others}" />
                                    </sly>
                                </sly>
                            </sly>
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<sly data-sly-use.config="com.ihcl.core.models.config.TajApiKeyConfigModel"></sly>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>