.specific-city-details-container.aspiration-specific-wrap .specific-city-header {
    font-size: 1.5rem;
}
@media only screen and (max-width: 767px) {
.aspiration-specific-wrap .specific-city-header-wrapper{
	text-align:center;
}
}
@media only screen and (max-width: 767px) {
    .about-hotels-container {
        margin: 0 1rem !important;
    }
}

.about-hotels-container .specific-city-wrapper {
    margin-top: 0;
}

.about-hotels-container .specific-city-wrapper .specific-city-carousel-conatiner {
    margin-top: 24px;
    margin-top: 1.5rem;
}

.about-hotels-container .cm-view-link-tajhotel {
    color: var(--primaryColor);
}
.desktop-display-none {
    display: none;
}
.display-know-more-btn .ihcl-know-more-btn-wrp {
    margin-top: 0.875rem;
    text-align: right;
    padding-right: 4%;
    }
.aboutus-destination-wrapper{
    margin:-20px 0 60px;
    }
.mr-image-middle{
            display:none;
     }

@media only screen and (max-width: 767px) {
    .display-know-more-btn .ihcl-know-more-btn-wrp {
        right: 0;
    position: absolute;
    bottom: -5px;
    padding-right:0;
    }
    .spec-about-city {
        padding-bottom: 3.125rem;
    }
    .mr-image-middle{
            display:block;
            margin:15px 0;
     }
     .mr-image-middle img{
                width:100%;
      }
}
@media only screen and (max-width: 991px) and (min-width: 768px){
.about-specific-city-container .specific-city-wrapper .specific-city-details-container {
    width:49% !important;
}
.about-specific-city-container .specific-city-wrapper .specific-city-details-container {
    padding-right: 20px !important;
}
            }
            .rooms-suites-description p{
   font-family: Calibri;
}


@media only screen and (max-width:767px) {
	.desc-sectionleader {
		padding-bottom: 15px;
	}
}