<div class="content-wrapper container cart-layout">
	<!-- cart header price strip starts -->
		<div class="hide-in-ihclcb">
			<div data-sly-resource="${'price-strip' @  resourceType='tajhotels/components/content/price-strip'}"></div>
		</div>
	<!-- --cart header strip starts ends -->

	<!-- summary cart starts -->
		<div class="cart-hotel-card-container">
			<div data-sly-resource="${'booking-info-card' @  resourceType='tajhotels/components/content/booking-info-card'}"></div>
		</div>
	<!-- summary cart ends -->

	<!-- -room selection details starts -->
		<div>
			<div data-sly-resource="${'cart-selected-rooms' @  resourceType='tajhotels/components/content/cart-selected-rooms'}"></div>
		</div>
	<!-- room selection details ends -->

	<!-- cart footer price strip starts -->
		<div>
			<div data-sly-resource="${'price-strip1' @  resourceType='tajhotels/components/content/price-strip'}"></div>
		</div>
	<!-- cart footer price strip ends -->
</div>