<sly data-sly-test="${wcmmode.edit}">AMA Getting There</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.hotels.getting-there'}"></sly>
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />
<section class="container">
    <div class="ama-getting-there-whole-box col-md-12">
        <div class="row">
            <sly data-sly-list.list=${resource.children}> <sly data-sly-list.listItems=${list.children}>
            <div class="ama-getting-there-first-box  col-md-4">

                <div class="title-row">
                    <sly data-sly-test=${listItems.icon}>
                    <div>
                        <sly
                            data-sly-call="${imagetemplate.damImageTemplate @ imagePath=listItems.icon, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />
                    </div>
                    </sly>
                    <sly data-sly-test=${listItems.title}>
                    <div class="ama-getting-there-heading">${listItems.title}</div>
                    </sly>
                </div>
                <sly data-sly-test=${listItems.description}>
                <div class="ama-getting-there-description">${listItems.description @ context="html"}</div>
                </sly>
            </div>
            </sly> </sly>
        </div>
    </div>
</section>
