@rem: 16rem;
.destination-nav-container {
    width: 32.0625rem;
    height: 40/@rem;
    margin: 30/@rem auto 25/@rem;
    background: #fff;
    font-family: Calibri;
    border-radius: 2px;
    font-size: 1rem;
    @media only screen and (max-device-width: 480px) {
        width: 24.125rem;
    }
    @media only screen and (max-device-width: 375px) {
        width: 22.125rem;
    }
    @media only screen and (max-device-width: 320px) {
        width: 19rem;
        font-size: 0.875rem;
    }
    a {
        width: 25%;
        height: 100%;
        float: left;
        text-align: center;
        line-height: 40px;
        color: #4a4a4a;
        border-right: solid 1px #e2e2e2;
    }
    a:last-child {
        border-right: none;
    }
    a:hover,
    a:active {
        color: #4a4a4a;
        text-decoration: none;
    }
}

.destination-nav-Bar-wrapper {
    display: flex;
    justify-content: center;
}

nav.col-lg-12.clearfix.destination-nav-Bar-wrapper {
    .tab-child-container:nth-child(1),
    .tab-child-container:nth-child(2),
    .tab-child-container:nth-child(3),
    .tab-child-container:nth-child(4) {
        @media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
            display: block;
            width: 25%;
            height: 35/@rem;
            line-height: 35/@rem;
            font-size: 0.8125rem; // text-transform: uppercase;
        }
    }
}