.ama-destinations .destinations-container.background-grey{
    padding: 30px 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-bottom: 40px;

}
.destinations-container{
	margin : 30px 0 0 0;
}

.destinations-container h3{
    text-align:center;
    margin : 10px 0;
    margin-bottom: 20px;
}

.destinations-img img{
	width: 55%;
  	height: 550px; 
}

.destinations-card-description{
    width: 55%;
    position: absolute;
    top: 50%;
    /* left: 0; */
    right: 0;
    transform: translateY(-50%);
    background-color: #fcfcfc;
    padding: 46px;
}
.destinations-card-description p{
    margin-bottom:20px;
}
.destinations-container .align-items{
	text-align:center;
    padding :20px;
	margin: 17px 0px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: 1.56px;
}
.destinations-container .align-items a{
	color:var(--primaryColor);
}
.destinations-container .align-items :hover{
	text-decoration:none;
    color : inherit;
}
.destinations-container .carousel-indicators {
    bottom: -40px;
    margin-bottom:0px;
}
.ama-theme .destinations-container .cm-btn-secondary {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
}
.ama-theme .destinations-container h4{
  font-family: var(--themeHeadingFontSemiBold);
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.67px;
  margin-bottom:15px;
}
@media only screen and (max-width: 767px) {
    .destinations-card-description p {
    	display: -webkit-box;
    	-webkit-line-clamp: 3;
    	-webkit-box-orient: vertical;
    	overflow: hidden;
    	text-overflow: ellipsis;
        min-height: 70px;
     }
}
@media only screen and (min-width:320px) and (max-width:767px) {

    .destinations-img img{
        width: 100%;
        height: 280px;
    }
    .destinations-card{
    }   
    .destinations-card-description{
        position: unset;
        width: 100%;
        height: auto;
        transform: none;
        padding: 20px;
    }
    .ama-theme .destinations-container h4{
        font-size: 20px;
    }
}

