.corporate-gov-title-text {
    font-family: Calibri;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    color: #4a4a4a;
    margin-bottom: 36px;
    margin-bottom: 2.25rem;
}

.corporate-gov-wrap {
    overflow-x: hidden;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .corporate-gov-wrap {
        overflow-x: scroll;
    }
}

.corporateGov-wrap {
    float: left;
  /* width: 15px; */
  /*margin-left: 15/@rem;*/
}

.corporateGov-margin {
    margin-top: 59px;
    margin-top: 3.6875rem;
}

.corporate-gov-tab-director-name {
    font-family: Calibri;
    text-align: center;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.82;
    color: #323232;
}

.corporate-gov-imageContainer {
    padding: 0;
    width: 100%;
    height:12.25rem;
    background-color:#efe7dc;
}

.corporate-gov-imageContainer img {
   width:100%;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .corporate-gov-imageContainer img {
        width: 100%;
        height: 100%;
    }
}