.jiva-spa-rate-value .jiva-spa-rate-value-tax{
	position:relative !important;
	font-size: 1rem !important;
    font-family: Calibri !important;
    right:0 !important;
    top:0 !important;
}
@media only screen and (max-device-width: 767px) {
	.jiva-spa-rate-value .jiva-spa-rate-value-tax{
		font-size: 0.8rem !important;
	}
}
.jiva-spa-card-details-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    z-index: 10;
}


.jiva-spa-card-details-con {
    background-color: #fff;
    position: absolute;
    top: 100px;
    top: 6.25rem;
    padding: 47px 40px 57px 47px;
    padding: 2.9375rem 2.5rem 3.5625rem 2.9375rem;
    display: table;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);
    max-height: 480px;
    max-height: 30rem;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-card-details-con {
        display: block;
        top: 56px;
        max-height: unset;
        position: static;
        padding: 19px 38px 22px 19px;
    }
}

.jiva-spa-details-desc-con {
    display: table-cell;
    width: 52%;
    padding-top: 39px;
    padding-top: 2.4375rem;
    padding-right: 44px;
    padding-right: 2.75rem;
    vertical-align: top;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-desc-con {
        padding: 0;
        display: block;
        width: 100%;
    }
}

.jiva-spa-details-heading {
    font-size: 36px;
    font-size: 2.275rem;
    font-family: Calibri-Bold;
    color: #323232;
}

.jiva-spa-details-loc {
    color: #9b9b9b;
    border-bottom: none;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-loc {
        color: var(--primaryColor);
        border-bottom: 1px solid var(--primaryColor);
    }
}

.jiva-spa-detail-long-desc-detail {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #323232;
    margin-top: 20px;
    margin-top: 1.25rem;
}

.jiva-spa-detail-long-desc-detail p {
    line-height: 1.38;
}

.jiva-spa-detail-long-desc-card {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #323232;
    margin-top: 20px;
    margin-top: 1.25rem;
}

.jiva-spa-detail-long-desc-card p {
    line-height: 1.38;
}


.jiva-spa-details-img-con {
    display: table-cell;
    width: 47%;
    height: 100%;
    position: relative;
}

.jiva-spa-details-img-con img {
    width: 100%;
    height: auto;
    max-height: 480px;
    max-height: 30rem;
}


.jiva-spa-details-view-photos-con {
    position: absolute;
    bottom: 22px;
    bottom: 1.375rem;
    left: 20px;
    left: 1.25rem;
    height: 36px;
    height: 2.25rem;
    width: auto;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 4px 0 9px 10px;
    padding: 0.25rem 0 0.58125rem 0.65rem;
    cursor: pointer;
}

.jiva-spa-details-view-photos-con img {
    height: 15px;
    height: 0.975rem;
    width: 15px;
    width: 0.975rem;
    margin-right: 10px;
    margin-right: 0.625rem;
}

.jiva-spa-details-view-photos-con span {
    color: #fff;
    font-size: 14px;
    font-size: 0.9125rem;
    font-family: Calibri-Bold;
    letter-spacing: 1.8px;
    margin-right: 10px;
    margin-right: 0.625rem;
}

.jiva-spa-recom-heading {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri-Bold;
    color: #323232;
}

.jiva-spa-recom-details {
    margin-top: 8px;
}

.jiva-spa-recom-details div {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
}

@media only screen and (max-device-width: 374px) {
    .jiva-spa-recom-details div {
        font-size: 0.875rem;
    }
}

.jiva-spa-recom-details div:first-child {
    border-right: 1px solid #979797;
    padding-right: 15px;
    padding-right: 0.9375rem;
}

.jiva-spa-recom-details div:last-child {
    color: var(--primaryColorDark);
    margin-left: 10px;
    margin-left: 0.625rem;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-price-con {
        position: relative;
        padding-bottom: 45px;
        padding-top: 35px;
    }
}

.jiva-spa-details-price {
    font-size: 22px;
    font-size: 1.375rem;
    font-family: RupeeForadian;
    position: relative;
    margin-top: 40px;
    margin-top: 2.5rem;
}

.jiva-spa-details-price span {
    font-size: 24px;
    font-size: 1.3rem;
    font-family: RupeeForadian;
    font-weight: bold;
}

.jiva-spa-details-price span:last-child {    
    vertical-align: super;
    position: unset;
    font-size: 1rem;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-price span:last-child {        
    }
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-price {
        text-align: right;
        margin-top: 24px;
    }
}

.jiva-spa-details-book-btn {
    width: 211px;
    width: 13.1875rem;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-book-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.jiva-spa-details-close {
    position: absolute;
    right: 11px;
    right: 0.6875rem;
    top: 10px;
    top: 0.625rem;
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    cursor: pointer;
}

.jiva-spa-details-close img {
    height: 100%;
    width: 100%;
}


.jiva-spa-mobile-photo-gallery {
    display: none;

}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-mobile-photo-gallery {
        display: block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .jiva-spa-mobile-photo-gallery {
        width: 105%;
    }
}



.jiva-spa-mobile-images img {
    height: 100%;
    width: 100%;
}

.jiva-spa-view-gallery {
    color: var(--primaryColor);
    text-decoration: underline;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri-Bold;
    position: absolute;
    right: 0;
    top: 12px;
    top: 0.75rem;
    display: none;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-view-gallery {
        display: block;
    }
}
