.jiva-spa-img-con {
    width: 100%;
    height: 410px;
    height: 25.625rem;
    background: #ccc;
}

.jiva-spa-img-con img {
    width: 100%;
    height: 100%;
}

.jiva-spa-card-con {
    height: 100%;
    background: #fff;
    position: relative;
}

.jiva-spa-details-con {
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    font-family: Calibri;
    padding: 21px 25px 22px 25px;
    padding: 1.3125rem 1.5625rem 1.375rem 1.5625rem;
}

@media only screen and (max-width: 767px) {
    .jiva-spa-details-con {
        padding: 1rem;
    }
}

.jiva-spa-details {
    width: 60%;
    padding-right: 5%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .jiva-spa-details {
        width: 60%;
    }
}

.jiva-spa-heading {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: Calibri-Bold;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

.jiva-spa-card-desc {
    font-size: 16px;
    font-size: 1rem;
    color: #9b9b9b;
    line-height: 1.31;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .jiva-spa-card-desc {
        font-size: 0.875rem;
    }
}

.jiva-spa-rates-con {
    text-align: right;
    /*position: relative;*/
    width: 40%;
    min-height: 112px;
    min-height: 7rem;
}

@media only screen and (max-device-width: 374px) {
    .jiva-spa-rates-con {
        width: 50%;
    }
}

.jiva-spa-card-duration {
    text-align: right;
    font-size: 16px;
    font-size: 1rem;
    color: #323232;
    padding-top: 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .jiva-spa-card-duration {
        font-size: 0.875rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .jiva-spa-card-duration {
        margin-bottom: 5rem;
    }
}

.jiva-spa-cards-btn-con {
    position: absolute;
    bottom: 1.375rem;
    right: 1.5725rem;
}

@media only screen and (max-width: 767px) {
    .jiva-spa-cards-btn-con {
        bottom: 1rem;
    	right: 1rem;
    }
}

.jiva-spa-rate {
    font-size: 22px;
    font-size: 1.375rem;
    position: relative;
    font-family: RupeeForadian;
}

.jiva-spa-rate span {
    font-family: Calibri-Bold;
    font-size: 24px;
    font-size: 1.5rem;
}

.jiva-spa-rate span:last-child {
    position: absolute;
    right: -5px;
    right: -0.3125rem;
    top: -2px;
    top: -0.125rem;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
}

.jiva-spa-view-details-btn {
    line-height: 2;
    width: 140px;
    width: 8.75rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .jiva-spa-view-details-btn {
        width: 7.8rem;
        padding: 0;
    }
}

@media only screen and (max-device-width: 374px) {
    .jiva-spa-view-details-btn {
        width: 7rem;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 991px) {
    .jiva-spa-view-details-btn {
        width: 7rem;
        padding: 0;
    }
}
