.map-location-wrapper {
    width: 100%;
}

.map-location-wrapper .map-location {
    width: 100%;
    height: 500px;
    border: 0;
}

@media only screen and (max-width: 767px) {
    .map-location-wrapper .map-location {
        height: 220px;
    }
}
