<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.taj-air-offer-details'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<div class="sustainability-card-wrap">
    <div class="row">
        <sly data-sly-test="${!properties.rightAlign}">
        <div class="col-md-6 col-12 col-sm-12 sustainability-img-wrap">
            <div class="sustainability-img-con">
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='img-responsive sustainability-img'}" />
            </div>
        </div>
        <div class="col-md-6 col-12 col-sm-12 sustainability-content-wrap offer-content-wrp">
            <div>
                <sly data-sly-test="${properties.fileReference1}"
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference1, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />
                <h2 class="s-card-title">${properties.title}</h2>
                <div class="desc-sectioncorporate">
                    <div class="s-card-content rooms-suites-description">${properties.description @context='html'}</div>
                    <div class="s-card-content rooms-suites-description">${properties.longdescription @context='html'}</div>
                </div>
                <div class="aircraft-desc">${properties.aircraftDescription @context='html'}</div>
                <div class="package-details">${properties.aircraftbaggagedetali @context='html'}</div>
            </div>
            <div class="footer-wrap">
                <div class="rate-details-wrap">
                    <div class="price">${properties.price @context='html'}</div>
                </div>
                <sly data-sly-test="${!enablekeyfigures}"> <sly data-sly-test="${properties.learnMore}">
                <div class="btn-wrap">
                    <a href="${properties.linkUrl}.html">
                        <button class="cm-btn-secondary button-view-details taj-air-offer-booking-btn">${properties.buttontext}</button>
                    </a>
                </div>
                </sly> </sly>
            </div>
        </div>
        </sly>
        <sly data-sly-test="${properties.rightAlign}">
        <div class="col-md-6 col-12 col-sm-12 sustainability-content-wrap offer-content-wrp"
            data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
            <div>
                <sly data-sly-test="${properties.fileReference1}"
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference1, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />
                <h2 class="s-card-title">${properties.title}</h2>
                <div class="desc-sectioncorporate">
                    <div class="s-card-content rooms-suites-description">${properties.description @context='html'}</div>
                    <div class="s-card-content rooms-suites-description">${properties.longdescription @context='html'}</div>
                </div>
                <div class="aircraft-desc">${properties.aircraftDescription @context='html'}</div>
                <div class="package-details">${properties.aircraftbaggagedetali @context='html'}</div>
            </div>
            <div class="footer-wrap">
                <div class="rate-details-wrap">
                    <div class="price">${properties.price @context='html'}</div>
                </div>
                <sly data-sly-test="${!enablekeyfigures}"> <sly data-sly-test="${properties.learnMore}">
                <div class="btn-wrap">
                    <a href="${properties.linkUrl}.html">
                        <button class="cm-btn-secondary button-view-details taj-air-offer-booking-btn">${properties.buttontext}</button>
                    </a>
                </div>
                </sly> </sly>
            </div>
        </div>
        <div class="col-md-6 col-12 col-sm-12 sustainability-img-wrap">
            <div class="sustainability-img-con">
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='img-responsive sustainability-img'}" />
            </div>
        </div>
        </sly>
    </div>
</div>