
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.bst-banner-carousel'}" />

<div data-sly-test.edit="${wcmmode.edit}">Bst Banner Carousel Component</div>


<div id="bannerOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active website-banner">
      <img class="d-block w-100" src="${properties.bannerImage}" alt="${properties.bannerTitle}">
    </div>
    <div class="carousel-item active mobile-banner">
      <img class="d-block w-100" src="${properties.mobileImage}" alt="${properties.bannerTitle}">
    </div>
  </div>
</div>