<template
    data-sly-template.template="${@hotelObject,cardTitleType,hasHotelName,isNearBy,isGlobalDining,isDestinationDining}"
    xmlns="http://www.w3.org/1999/html"> <sly
    data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.dining.details, tajhotels.dining.card, tajhotels.gallerycarousel, tajhotels.hoteldetails'}" />
<!-- <sly class="gallery-carousel-container"> <sly
    data-sly-resource="${ '{0}' @ resourceType='tajhotels/components/content/gallery-carousel' }"></sly> </sly> -->
<div itemscope itemtype="http://schema.org/Restaurant" class="col-12 dining-card-container-main show-more-card-element"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <div class="mr-dining-card-wrapper" data-dining=${hotelObject.diningName} data-area=${hotelObject.hotelArea}
        data-city=${hotelObject.hotelCity} data-country=${hotelObject.hotelCountry} data-brand=${hotelObject.diningBrand}
        data-name=${hotelObject.hotelName} data-cuisine=${hotelObject.diningCuisine}>
        <div class="row">
            <div class="col-md-4 col-12">
                <sly data-sly-test="${hotelObject.numberOfImages > 0}">
                <div class="mr-dining-card-image-wrap">
                    <sly
                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath=hotelObject.galleryImagePaths[0].type.toString, context='html', lazyload='true', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', styleclass='mr-dining-card-image-wrap'}" />
                    <div class="view-photos-container  dining-card-view-photos" tabindex="0"
                        data-gallery-images="${hotelObject.galleryCarousel.toString}" onclick="showGallery(this)"
                        data-dialog-btn="galleryCarousel">
                        <img src="/content/dam/tajhotels/icons/style-icons/lightbox.svg" alt="lightbox-icon">
                        <span>VIEW PHOTOS (${hotelObject.numberOfImages})</span>
                    </div>
                </div>
                </sly>
            </div>
            <div class="col-md-8 col-12">
                <div class="mr-dining-card-content-wrap">
                    <div class="row">
                        <div class="col-12">
                            <div class="dining-details-menu-wrap">
                                <h1 data-sly-element="${properties.type}" class="mr-dining-title"
                                    data-sly-element="${cardTitleType}">
                                    <span itemprop="name">
                                        <sly data-sly-test=" ${isGlobalDining}">${hotelObject.hotelName} - </sly>
                                        ${hotelObject.diningName}
                                    </span>
                                </h1>
                                <sly data-sly-test.hotelCountry=${hotelObject.hotelCountry}>
                                <div class="mr-hotel-location-address mr-dining-hotel-address">
                                    <sly data-sly-test=" ${!isGlobalDining && isDestinationDining}">
                                    <div class="mr-dining-hotel-address">${hotelObject.hotelName}</div>
                                    </sly>
                                    <div class="mr-list-location-icon-wrap">
                                        <span class="icon-location mr-dining-location-description-icons ho-cm-icon"></span>
                                    </div>
                                    <div class="mr-list-address-wrap">

                                        <sly data-sly-test="${hotelObject.restaurantAddress}"> <span
                                            class="mr-desktop-address">
                                            <a
                                                class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-dining-menu-card"
                                                target="_blank"
                                                href="https://www.google.com/maps/search/?api=1&query=${hotelObject.restaurantAddress}">
                                                ${hotelObject.restaurantAddress} </a>
                                        </span> </sly>
                                        <sly data-sly-test="${!hotelObject.restaurantAddress}"> <sly
                                            data-sly-test="${isNearBy}"> <span class="mr-desktop-address">
                                            <a
                                                class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-dining-menu-card"
                                                target="_blank"
                                                href="https://www.google.com/maps/search/?api=1&query=${hotelObject.diningLatitude},${hotelObject.diningLongitude}">
                                                <sly data-sly-test="${!hotelObject.hotelArea}">
                                                ${hotelObject.hotelCity},${hotelObject.hotelPinCode},${hotelObject.hotelCountry}
                                                </sly> <sly data-sly-test=" ${!hotelObject.hotelCity}">
                                                ${hotelObject.hotelArea},${hotelObject.hotelPinCode},${hotelObject.hotelCountry}
                                                </sly> <sly data-sly-test="${!hotelObject.hotelPinCode}">
                                                ${hotelObject.hotelArea},${hotelObject.hotelCity},${hotelObject.hotelCountry}
                                                </sly> <sly data-sly-test="${!diningModel.hotelCountry}">
                                                ${hotelObject.hotelArea},${hotelObject.hotelCity},${hotelObject.hotelPinCode}
                                                </sly> <sly
                                                    data-sly-test="${hotelObject.hotelArea && hotelObject.hotelCity && hotelObject.hotelPinCode && hotelObject.hotelCountry}">
                                                ${hotelObject.hotelArea},${hotelObject.hotelCity},${hotelObject.hotelPinCode},${hotelObject.hotelCountry}
                                                </sly>
                                            </a>
                                        </span> </sly> <sly data-sly-test="${!isNearBy}"> <span class="mr-desktop-address">
                                            <a
                                                class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-dining-menu-card"
                                                target="_blank"
                                                href="https://www.google.com/maps/search/?api=1&query=${hotelObject.diningLatitude},${hotelObject.diningLongitude}">
                                                <sly data-sly-test="${!hotelObject.hotelArea}">
                                                ${hotelObject.hotelCity},${hotelObject.hotelPinCode},${hotelObject.hotelCountry}
                                                </sly> <sly data-sly-test=" ${!hotelObject.hotelCity}">
                                                ${hotelObject.hotelArea},${hotelObject.hotelPinCode},${hotelObject.hotelCountry}
                                                </sly> <sly data-sly-test="${!hotelObject.hotelPinCode}">
                                                ${hotelObject.hotelArea},${hotelObject.hotelCity},${hotelObject.hotelCountry}
                                                </sly> <sly data-sly-test="${!hotelObject.hotelCountry}">
                                                ${hotelObject.hotelArea},${hotelObject.hotelCity},${hotelObject.hotelPinCode}
                                                </sly> <sly
                                                    data-sly-test="${hotelObject.hotelArea && hotelObject.hotelCity && hotelObject.hotelPinCode && hotelObject.hotelCountry}">
                                                ${hotelObject.hotelArea},${hotelObject.hotelCity},${hotelObject.hotelPinCode},${hotelObject.hotelCountry}
                                                </sly>
                                            </a>
                                        </span> </sly> </sly>
                                    </div>
                                </div>
                                </sly>
                                <div class="mr-dining-phno-menu-details-container">
                                    <div class="mr-dining-phone-number-wrap detail-menu-border">
                                        <a class="ho-contact-number hide-in-lg inline-block"
                                            href="tel:${hotelObject.diningPhoneNumber}"> <span
                                                class="icon-phone-enabled ho-cm-icon ho-contact-icon inline-block"></span>
                                            <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">
                                                <span itemprop="telephone">${hotelObject.diningPhoneNumber}</span>
                                            </div>
                                        </a>
                                        <div class="ho-contact-number hide-in-sm hide-in-md inline-block disabled">
                                            <span class="icon-phone-disabled ho-cm-icon ho-contact-icon inline-block"></span>
                                            <div class="inline-block ho-mail-to-txt">${hotelObject.diningPhoneNumber}
                                            </div>
                                        </div>
                                    </div>
                                    <sly data-sly-test="${hotelObject.pathToDownloadFrom}">
                                    <div class="mr-dining-menuDetails-number-wrap detail-menu-border">
                                        <div class="mr-dining-details-table-wrap">
                                            <div class="mr-dining-details-table-cell-wrap">
                                                <span class="icon-menu-icon mr-dining-description-icons ho-cm-icon"></span>
                                            </div>
                                            <a href="${hotelObject.pathToDownloadFrom}" download> <span
                                                    class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-dining-menu-card">
                                                    VIEW MENU</span>
                                            </a>
                                        </div>
                                    </div>
                                    </sly>
                                    <div
                                        class="mr-dining-menuDetails-number-wrap detail-menu-border mr-height-styling dining-no-border-right">
                                        <div>
                                            <a href="${hotelObject.resourceURL}"
                                                class="mr-dining-details-table-cell-wrap mr-dining-MenuDetails mr-viewDetails-anchor">VIEW
                                                DETAILS </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mr-dining-description-wrap">
                                    <div class="mr-dining-description">
                                        <span itemprop="description">${hotelObject.diningDescription @context="html"}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dining-offerprice-wrap">
                                <sly data-sly-test.rateReview=${hotelObject.rateReview}>
                                <div class="mr-dining-rating-wrap hide-in-sm">
                                    <span class="dining-rating-value">${hotelObject.rateReview}</span>
                                </div>
                                </sly>
                                <div class="mr-list-tic-epicure-wrap hide-in-sm">
                                    <sly data-sly-test.offerspecific=${hotelObject.ticPoints}> <span
                                        class="mr-list-tic">
                                        <span class="mr-list-tic-value"> ${hotelObject.ticPoints}</span>
                                        TIC
                                    </span> </sly>
                                    <sly data-sly-test.offerspecific=${hotelObject.epicurePoints}> <span
                                        class="mr-list-epicure">
                                        <span class="mr-list-tic-value"> ${hotelObject.epicurePoints} </span>
                                        Epicure
                                    </span> </sly>
                                </div>
                                <div class="mr-list-hotel-offer">
                                    <sly data-sly-test.offerspecific=${hotelObject.offerSpecifics}>
                                    <div class="mr-list-hotel-offer-description">
                                        <span>${hotelObject.offerSpecifics}</span>
                                    </div>
                                    </sly>
                                    <sly data-sly-test.offerspecific=${hotelObject.discountValue}>
                                    <div class="mr-list-hotel-offer-tag">
                                        <img class="mr-offer-tag-Hotels"
                                            src="/content/dam/tajhotels/icons/style-icons/path-5.svg" alt="path-5-icon" />
                                        <span>${hotelObject.discountValue}</span>
                                    </div>
                                    </sly>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mr-regulations-reserve-a-table-wrap">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="mr-regulations-styling">
                                            <div class="row">
                                                <div class="col-md-6 col-12 mr-regulation-border mr-regulation-each-styles">
                                                    <div class="mr-dining-regulations">
                                                        <span class="mr-regulation-title">Cuisine</span>
                                                        <span class="mr-regulation-seperator">-</span>
                                                        <span class="mr-regulation-answer regulation-answer-cuisine"
                                                            itemprop="servesCuisine">${hotelObject.diningCuisine}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 mr-regulation-each-styles regulation-padding">
                                                    <div class="mr-dining-regulations">
                                                        <span class="mr-regulation-title">Dress code</span>
                                                        <span class="mr-regulation-seperator">-</span>
                                                        <span class="mr-regulation-answer">${hotelObject.dressCode} </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 mr-regulation-border mr-regulation-each-styles">
                                                    <div class="mr-dining-regulations">
                                                        <sly data-sly-test.timings1="${hotelObject.timingslabel1}"> <span
                                                            class="mr-regulation-title">${hotelObject.timingslabel1}</span>
                                                        <span class="mr-regulation-seperator">-</span> <span
                                                            class="mr-regulation-answer style-set-max-width">
                                                            <time itemprop="openingHours">${hotelObject.timingsvalue1}
                                                            </time>
                                                        </span> </sly>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 mr-regulation-each-styles regulation-padding">
                                                    <div class="mr-dining-regulations">
                                                        <sly data-sly-test.timings2="${hotelObject.timingslabel2}"> <span
                                                            class="mr-regulation-title">${hotelObject.timingslabel2}</span>
                                                        <span class="mr-regulation-seperator">-</span> <span
                                                            class="mr-regulation-answer style-set-max-width">

                                                            <time itemprop="openingHours">${hotelObject.timingsvalue2}
                                                            </time>
                                                        </span> </sly>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12 mr-regulation-border mr-regulation-each-styles">
                                                    <div class="mr-dining-regulations">
                                                        <sly data-sly-test.timings1="${hotelObject.timingslabel3}"> <span
                                                            class="mr-regulation-title">${hotelObject.timingslabel3}</span>
                                                        <span class="mr-regulation-seperator">-</span> <span
                                                            class="mr-regulation-answer style-set-max-width">
                                                            <time itemprop="openingHours">${hotelObject.timingsvalue3}
                                                            </time>
                                                        </span> </sly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mr-costFor-two-and-reserve-table-wrap">
                                            <a href="${hotelObject.resourceURL}" target="blank">
                                                <button class="cm-btn-secondary mr-dining-check-availability-btn">
                                                    RESERVE A TABLE</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
