<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
             data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.all @ categories='tajhotels.dining.list'}" />
<sly data-sly-test="${properties.isDestinationDining}">
    <sly data-sly-include="destination-dining-list.html" />
</sly>
<sly data-sly-test="${properties.isGlobalDining}">
    <sly data-sly-include="global-dining-list.html" />
</sly>
<sly data-sly-test="${!properties.isGlobalDining && !properties.isDestinationDining}">
    <sly data-sly-include="hotel-dining-list.html" />
</sly>