<sly data-sly-use.model="${'com.ihcl.core.models.DestinationHotels' @currentPagePath=currentPage.path, currentPageName=currentPage.name, siteConfigHomePath=inheritedPageProperties.siteConfigHomePath}">
    <div class="dining-list-wrapper cm-hide">
        <ul class="list-item cm-content-blocks" data-sly-list.website="${model.restaurantMap['website']}">
            <div class="row unique-dining">
                <sly data-sly-use.diningCard="dining-card.html" />
                <sly data-sly-unwrap data-sly-call="${diningCard.template @ hotelObject=website, cardTitleType=properties.type, hasHotelName=properties.hasHotelName, isGlobalDining=properties.isGlobalDining, isDestinationDining=properties.isDestinationDining}" />
            </div>
        </ul>
        <ul class="list-item cm-content-blocks" data-sly-list.website="${model.restaurantMap['others']}">
            <div class="row unique-dining">
                <sly data-sly-use.diningCard="dining-card.html" />
                <sly data-sly-unwrap data-sly-call="${diningCard.template @ hotelObject=website, cardTitleType=properties.type, hasHotelName=properties.hasHotelName, isGlobalDining=properties.isGlobalDining, isDestinationDining=properties.isDestinationDining}" />
            </div>
        </ul>
    </div>
    <div class="dining-list-fitered-wrapper">
    	<ul class="list-item cm-content-blocks">    	
    	</ul>
    </div>
    <div class="rate-tax-disclaimer" style="display: none;">${properties.ratesexclusive}</div>
    <div class="mr-no-results-title" id="noResults" style="display: none;">No Results Found</div>
</sly>
<div class="gallery-carousel-container">
    <div data-sly-resource="${ '{0}' @ resourceType='tajhotels/components/content/gallery-carousel' }"></div>
</div>
