<template data-sly-template.offercarouselcard="${ @ resourcePath,cardTitleType}">
 <div data-sly-use.offerDataWrapper="${'com.ihcl.core.models.OfferDataWrapper' @ resourcePath=resourcePath}"
    data-sly-test.offer="${offerDataWrapper.offer}"
    class="offers-card-component cm-inner-carousal-cards"
    data-offerType="${offer.offerTypes}"
    data-noOfNights="${offer.noOfNights}"
    data-startsFrom="${offer.offerStartsFrom}"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <div class="offers-card-inner-wrapper">
        <div class="offers-card-header-container">
            <div class="offer-card-header-discount">
                <div class="offers-discount">
                    <div class="discount-both-left-right-clipped">
                        <div data-sly-test=${offer.discountValue} class="discount-text">
                            <!--  <img
                                class="discount-both-left-right-clipped-bg"
                                src="/content/dam/tajhotels/icons/style-icons/discount-both-left-right-clipped@2x.svg"  alt  = "discount-both-left-right-clipped-icon"/>
                            <div class="discount-text-wrp">${offer.discountValue}</div>
                            <div data-sly-test=${offer.offerSpecific}
                                class="offers-header-text">${offer.offerSpecific}</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cm-carousel-offer-cards-image-con">
            <sly data-sly-test.isSpecificOffer="${offer.SpecificOfferImage}">
            <sly data-sly-test.finalImagePath="${offerDataWrapper.draggedImagePath ? offerDataWrapper.draggedImagePath : offer.SpecificOfferImage}"/>
            <sly
                data-sly-call="${imagetemplate.damImageTemplate @ imagePath= finalImagePath ? finalImagePath :'/content/dam/tajhotels/in/en/offers/offerBanner.png',styleClass='offers-card-image',bannerClass='', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly></sly>
             
             <sly data-sly-test="${!isSpecificOffer}">
             <sly data-sly-test.finalImagePath="${offerDataWrapper.draggedImagePath ? offerDataWrapper.draggedImagePath : offer.offerImage}"/>
            <sly
                data-sly-call="${imagetemplate.damImageTemplate @ imagePath= finalImagePath ? finalImagePath :'/content/dam/tajhotels/in/en/offers/offerBanner.png',styleClass='offers-card-image',bannerClass='', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly></sly>
        </div>
        <div class="offers-card-main">
            <div class="offer-main-left">
                <h1 class="offers-card-title" title=${offerDataWrapper.offer.offerTitle} data-sly-element="${cardTitleType}">${offerDataWrapper.offer.offerTitle}</h1>
                <div class="offers-card-description">${offer.offerShortDesc}</div>
                <div data-memberonlyoffer="${offer.memberOnlyOffer}" data-offercategory="${offer.offerCategory}"></div>
            </div>
            <div class="offer-main-right" data-sly-test="${pageProperties.sling:resourceType=='tajhotels/components/structure/tajhotels-rooms-listing-page' || pageProperties.sling:resourceType=='tajhotels/components/structure/dining-list-page'}">
            <sly data-sly-test="${offer.offerEndsOn}">
                <div class="offer-validity">
                    <sly data-sly-test="${offer.offerStartsDate}">
                       	<div class="offer-validity-date">Validity ${'dd MMM yyyy' @ format=offer.offerStartsDate }-${'dd MMM yyyy' @ format=offer.offerEndsDate }</div>
                    </sly>
                    <sly data-sly-test="${!offer.offerStartsDate}">
                         <div class="offer-validity-date">Valid till ${'dd MMM yyyy' @ format=offer.offerEndsDate } </div>
                    </sly>
                </div>
                </sly>
                <sly data-sly-test="${!offer.offerEndsOn}">
                <div class="offer-validity">
                    Round the year
                </div>
                </sly>
               <button
                    onclick="onOfferViewDetailsSelection('${offer.offerPageResourceURL @ context='text'}')"
                    class="cm-btn-secondary button-view-details">VIEW DETAILS</button> 
                
               <button
                    onclick="onOfferSelection('${offer.offerPageResourceURL @ context='text'}', '${offer.offerRateCode @ context='text'}', '${offer.roundTheYearOffer @ context='text'}', '${offer.offerTitle @ context='text'}', '${offer.noOfNights @ context='text'}', '${offer.offerStartsFrom @ context='text'}', '${offer.offerEndsOn @ context='text'}', '${offer.comparableOfferRateCode @ context='text'}')"

                    class="cm-btn-secondary button-view-details">BOOK NOW</button> 
                
            </div>
            
            <div class="offer-main-right" data-sly-test="${pageProperties.sling:resourceType!='tajhotels/components/structure/tajhotels-rooms-listing-page' && pageProperties.sling:resourceType!='tajhotels/components/structure/dining-list-page'}">
            <sly data-sly-test="${offer.offerEndsOn}">
                <div class="offer-validity">
                    <sly data-sly-test="${offer.offerStartsDate}">
                       	<div class="offer-validity-date">Validity ${'dd MMM yyyy' @ format=offer.offerStartsDate }-${'dd MMM yyyy' @ format=offer.offerEndsDate }</div>
                    </sly>
                    <sly data-sly-test="${!offer.offerStartsDate}">
                         <div class="offer-validity-date">Valid till ${'dd MMM yyyy' @ format=offer.offerEndsDate } </div>
                    </sly>
                </div>
                </sly>
                <sly data-sly-test="${!offer.offerEndsOn}">
                <div class="offer-validity">
                    Round the year
                </div>
                </sly>
                <sly data-sly-test="${pageProperties.sling:resourceType=='tajhotels/components/structure/home-page'}">
                <button
                    onclick="onOfferSelection('${offer.offerPageResourceURL @ context='text'}','${offer.offerRateCode @ context='text'}', '${offer.roundTheYearOffer @ context='text'}', '${offer.offerTitle @ context='text'}', '${offer.noOfNights @ context='text'}', '${offer.offerStartsFrom @ context='text'}', '${offer.offerEndsOn @ context='text'}', '${offer.comparableOfferRateCode @ context='text'}')"
                    class="cm-btn-secondary button-view-details">VIEW DETAILS</button>
                 </sly>
                 <sly data-sly-test="${pageProperties.sling:resourceType!='tajhotels/components/structure/home-page'}">
                 <button
                    onclick="onOfferSelection('${offer.offerPageResourceURL @ context='text'}','${offer.offerRateCode @ context='text'}', '${offer.roundTheYearOffer @ context='text'}', '${offer.offerTitle @ context='text'}', '${offer.noOfNights @ context='text'}', '${offer.offerStartsFrom @ context='text'}', '${offer.offerEndsOn @ context='text'}', '${offer.comparableOfferRateCode @ context='text'}')"
                    class="cm-btn-secondary button-view-details">BOOK NOW</button>
                    </sly>
            </div>
            
            
        </div>
    </div>
</div>  
