<sly
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihclHotelCards'}" />
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 events-pg-filter-con">
        <div class="search-container search-hotels-container">
            <div
                class="search-and-suggestions-wrapper search-and-suggestions-wrapper-hotel container disable-input-scroll-top">
                <div class="searchBar-wrap">
                    <img class="search-icon" src="/content/dam/tajhotels/icons/style-icons/search-icon-hotels.svg"
                        alt="search-icon" />
                    <input class="searchbar-input hotel-search" type="text" placeholder="Search by Hotel name, City, Country" aria-label  = "Hotel Search Bar"/>
                    <img class="clear-input-icon hide-in-sm"  tabindex= "0" role = "button" src="/content/dam/tajhotels/icons/style-icons/close.svg"
                        alt="close-icon" />

                    <span class="close-icon display-none">
                        <img class="closeIconImg" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<br> 
<br>
<div class="ichlOfficeCardInnerWrap" id='ihclHotelCardsList'>
<input type="hidden" name="hotelRootPath" id="hotelRootPath" value=${properties.hotelRootPath} aria-hidden = "true"/>
<div class="row" id="ihclHotelCardInnerWrap"></div>
</div>