<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='tajhotels.package-summary'}"/>

<div data-sly-test.edit="${wcmmode.edit}">
    Holidays Package Summary Component
    Add Page and package Titles, descriptions and dates here.
</div>

<div class="cm-content-blocks">
	<div class="cm-header-label-con title-decorator-border">
       <h2 class="cm-header-label" data-sly-element="${properties.type}">${properties.pageTitle}</h2>
    </div>
    <div class="row">
       <div class="col-12 placeholder-title-wrap">
          <div class="placeholder-title">${properties.pageDescription}</div>
       </div>
    </div>
</div>
<div class="minNights" style="display:none" value="${properties.isCityHotel}">${properties.minNights}</div>
<div class="maxBreak" style="display:none" value="${properties.isCityHotel}">${properties.maxBreak}</div>
<div class="rateCode" style="display:none" value="${properties.isCityHotel}">${properties.rateCode}</div>
<div class="cm-content-blocks summary-block">
                <div class="cm-header-label-con title-decorator-border">
                    <h5 class="cm-header-label special-font" >${properties.packageTitle}
                        <div class="header-label-date-wrapper hide-in-sm">
                           <!-- <div class="header-label-date-selected"><img class="date-selected-icon" src="/content/dam/tajhotels/icons/style-icons/calendar-check-availability.svg" alt  = "calendar-check-availability-icon">
                                <div class="date-selected-title"><span>Start: </span>
                                    <div class="jiva-spa-date-section date-selected-value">
                                        <div class="jiva-spa-date-con enquiry-date-con"><input class="enquiry-from-value" type="text" placeholder="select" value="" disabled aria-label = "Enquiry from date"></div>
                                        <div class="enquiry-from-date jiva-spa-date cm-fixed-date-picker-width"></div>
                                    </div>
                                </div>
                                <div class="date-selected-title"><span>End: </span>
                                    <div class="jiva-spa-date-section date-selected-value">
                                        <div class="jiva-spa-date-con enquiry-date-con"><input class="enquiry-to-value" type="text" placeholder="select" value="" disabled aria-label = "Enquiry to date"></div>
                                        <div class="enquiry-to-date jiva-spa-date cm-fixed-date-picker-width"></div>
                                    </div>
                                </div>
                            </div>-->
							
							
                            <div class="header-label-black-out"><img class="date-selected-icon" src="/content/dam/tajhotels/icons/style-icons/calendar-check-availability.svg" alt = "calendar-check-availability-icon">

								<!-- Added for Including Package Dates -->
								<sly data-sly-test.startDate="${properties.packageStartDate}">
								<div class="date-black-out-title"> Package Validity Dates: <span class="date-black-out-value">${properties.packageStartDate} - ${properties.packageEndDate}</span>
								</div>
								</sly>
								<sly data-sly-test.startDate="${properties.blackoutStartDate}">
								<div class="date-black-out-title">Black Out Dates: <span class="date-black-out-value">${properties.blackoutStartDate} - ${properties.blackoutEndDate}</span></div>
								</sly>
                            </div>
							</sly>
                        </div>
                    </h5>
                    <div class="ho-btns-section incredible-page-ho-btns-section">                    	
                        <div class="share-btn-wrapper">
                    		<button class="cm-btn-primary cm-share-btn loc-city share-btn-js icon-share"></button>
							<div id="socials" class="share-options-list"></div>
                        </div>
                    </div>
                </div>
                <div class="header-label-date-wrapper hide-in-md hide-in-lg">
                   <!-- <div class="header-label-date-selected"><img class="date-selected-icon" src="/content/dam/tajhotels/icons/style-icons/calendar-check-availability.svg" alt = "calendar-check-availability-icon">
                        <div class="date-selected-title"><span>Start: </span>
                            <div class="jiva-spa-date-section date-selected-value">
                                <div class="jiva-spa-date-con enquiry-date-con"><input class="enquiry-from-value" type="text" placeholder="select" value="" disabled aria-label = "enquiry from value"></div>
                                <div class="enquiry-from-date jiva-spa-date cm-fixed-date-picker-width"></div>
                            </div>
                        </div>
                        <div class="date-selected-title"><span>End: </span>
                            <div class="jiva-spa-date-section date-selected-value">
                                <div class="jiva-spa-date-con enquiry-date-con"><input class="enquiry-to-value" type="text" placeholder="select" value="" disabled aria-label = "enquiry to label"></div>
                                <div class="enquiry-to-date jiva-spa-date cm-fixed-date-picker-width"></div>
                            </div>
                        </div>
                    </div>-->
                    <div class="header-label-black-out"><img class="date-selected-icon" src="/content/dam/tajhotels/icons/style-icons/calendar-check-availability.svg" alt = "calendar-check-availability-icon">
                        <div class="date-black-out-title">Package Validity Dates: <span class="date-black-out-value">${properties.packageStartDate} - ${properties.packageEndDate}</span></div>
                    </div>
                </div>               
                <div class="row">
                    <div class="col-12 placeholder-title-wrap">
                        <div class="placeholder-title">${properties.packageDescription}</div>
                    </div>
                </div>
			</div>
