
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.banner-carousel'}" />

<div data-sly-test.edit="${wcmmode.edit}">Banner Carousel Component</div>
<div class="banner-container-wrapper">
    <sly data-sly-use.banner="banner-template.html" data-sly-use.model="com.ihcl.core.models.banner.BannerCarousel"
        data-sly-use.hotel="com.ihcl.core.models.hotel.HotelPropertiesFetcher"
        data-sly-use.apiKeyModel="com.ihcl.core.models.config.TajApiKeyConfigModel">
    <section class="hotel-carousel-section" data-sly-call="${banner.template @ model=model, hotel=hotel}"
        data-apikey="${apiKeyModel.openWeatherMapApiKey}"></section>
    <sly data-sly-test.showBookingBar="${properties.unhideBookingBar}"> <sly
        data-sly-resource="${'bookastay' @ resourceType='tajhotels/components/content/hotelbookingdetails'}"></sly> </sly> </sly>
</div>

