.mr-para-wrapper .competitive-strength-header-txt {
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
}

.mr-para-wrapper .competitive-strength-header-txt.mr-para-inclusion {
    margin: 0;
    padding: 0;
}

.mr-legal-download-pdf {
    display: flex !important;
    float: right;
}

@media screen and (max-width: 767px) {
    .mr-legal-download-pdf {
        display: none;
        margin-top: 30px;
    }
}

.mr-legal-download-pdf .mr-download-info-wrapper {
    float: initial;
}

.mr-download-link {
    display: inline-block;
}

.mr-download-info-wrapper {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25625rem;
    color: var(--primaryColor);
    border-bottom: solid 1.4px var(--primaryColor);
}

.mr-download-link:hover {
    text-decoration: none;
}

.mr-privacy-info.cm-content-blocks {
    display: none;
}

@media screen and (max-width: 767px) {
    .mr-privacy-info.cm-content-blocks {
        display: block;
    }
}

.mr-inner-wrapper {
    padding: 17px;
    padding: 1.0625rem;
    background-color: #ffffff;
}

.mr-policy-wrapper {
    display: none;
    margin: 0 15px;
    margin: 0 0.9375rem;
}

@media screen and (max-width: 767px) {
    .mr-policy-wrapper {
        display: block;
    }
}

.mr-inner-wrapper .competitive-strength-header-txt {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

@media screen and (max-width: 767px) {
    .mr-inner-wrapper .competitive-strength-header-txt {
        display: block;
    }
}

.mr-download-btn-info-wrapper {
    text-align: center;
}
