@rem: 16rem;
#mapContactUs .contact-us-hotel-card-wrapper.map-info-window {
    width: 178px;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.2) !important;
    margin: 8px;
    background: #fff !important;
    .cont-us-hotel-image-wrap {
        .image-container {
            height: 101px;
            width: 178px;
            background: #ccc !important;
            position: relative;
            img {
                width: 100%;
            }
            .map-info-window-image-txt {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: transparent !important;
                height: 100%;
                div {
                    background: transparent !important;
                }
                .image-desc-cont {
                    padding: 0.3rem 0.625rem 0.3rem;
                    font-family: Calibri-Bold;
                    color: #fff;

                    .image-desc-header {
                        font-size: 14/@rem;
                        line-height:0.9;
                    }
                    .image-desc-sub-header {
                        font-size: 0.75rem;
                        padding-top: 0.1875rem;
                        line-height: 0.8;
                    }
                }
            }
        }
    }
    .hotel-detaills-cont {
        padding: 10/@rem;
        .hotel-details-address {
            font-family: Calibri-Bold;
            font-size: 12/@rem;
            line-height: 1.17;
            color: var(--primaryColor);
            .map-card-address {
                margin-bottom: 6px;
                letter-spacing: 1px;
            }
            .map-card-contact {
                font-family: Calibri;
            }
            .map-card-tel {
                margin-bottom: 8/@rem;
            }
        }
    }
}

.gm-style-iw+div {
    left: 188px;
    top: 56px !important;
}

.IHCL-section .gm-style .gm-style-iw {
    font-weight: 300;
    font-size: 13px;
    overflow: hidden;
    top: 45px !important;
    left: 18px !important;
    width: 200px !important;
}
.IHCL-section .map-info-window {
   .hotel-details-address {
       color: #002b49 !important;
   }
   .image-container {
       min-height: 50px !important;
       height: auto !important;
       background: #094670!important;
       img {
           display: none;
       }
   }
}

.IHCL-section #mapContactUs .contact-us-hotel-card-wrapper.map-info-window .cont-us-hotel-image-wrap .image-container {
   background: #002b49 !important;
}

.IHCL-section .cluster div {
   color: white !important;
}

.gm-style .gm-style-iw {
    font-weight: 300;
    font-size: 13px;
    overflow: hidden;
    top: -3px !important;
    left: 52px !important;
    width: 200px !important;
}