.contact-us-mob-card {
    padding-right: 0.625rem;
    padding-left: 0.625rem;

    .contact-us-content-wrapper {
        background: #fff;
        display: flex;
    }
    .image-container {
        width: 32%;
        display: inline-block;
        background: #ccc;

        img {
            height: 100%;
            width: 100%;
        }
    }
    .desc-container {
        width: 68%;
        float: right;
        display: inline-block;
        padding: 5px;
        font-family: Calibri-Bold;
        font-size: 14px;
        line-height: 1.5;
        color: #4a4a4a;
        .desc-city {
            text-transform: uppercase;
            line-height: 1.2;
        }
        .each-desc {
            margin-bottom: 5px
        }

        .desc-address {
            color: #9b9b9b;
        }
    }
}