@rem: 16rem;
.contact-us-search-container {
    .search-container.search-hotels-container.contact-us {
        @media only screen and (max-width: 767px) {
            padding:0;
        }
        &.on-moblie-default {
            @media only screen and (max-width: 991px) {
                display: none;
            }
        }

        .searchbar-input.hotel-search {
            width: 56%;
            padding-left: 25/@rem;
            @media only screen and (max-width: 420px) {
                width:46%;
            }
        }
        .search-filters-container.contact-us-filter {
            width: 39%;
            @media only screen and (max-width: 420px) {
                width:46%;
            }
            .events-filter-subsection {
                display: none;
            }
        }
    }
}

//only for mobile view change
.filter-on-mobile {
    display: none;
}


.search-container.contact-us {
    .searchBar-wrap.show-on-map-view {
        .filter-on-mobile {
            display: block;
        }
        .filter-dropdown-wrap.contact-us {
            display: none;
        }
    }
}

#countryMobile {
    width: 100% !important;
}

//on mobile filter layout 
.filter-with-search-wrapper {
    padding: 20/@rem;
    .filter-with-search-header {
        text-align: left;
        margin-bottom: 100px;
        .img-leftArrow {
            display: inline-block;
            width: 4%;
            object-fit: contain;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .filter-subheading {
            display: inline-block;
        }
    }
    .filter-subheading {
        text-align: center;
        font-family: Calibri-Bold;
        font-size: 24/@rem;
        line-height: 1.02;
        color: #323232;
        text-transform: uppercase;
        width: 90%;
    }
}

.filter-seach-container {
    margin-bottom: 44/@rem;
    .filter-dropdown-wrap {
        width: 100%;
    }
    .selectSubContainer.contact-us-mob {
        width: 100% !important;
    }
}

.filter-button-mob-container {
    text-align: center;
    .cm-btn-primary.cm-holiday-filter {
        width: 172px;
        @media screen and (max-width: 390px) {
            width: 110px;
        }
        &.active {
            background-image: var(--linearGradient);
            color: #ffffff;
        }
    }
    .cm-btn-secondary.cm-holiday-filter {
        display: block;
        margin: 45/@rem auto 0;
        width: 9.375rem;
    }
    .btn-mob-wrapper {
        width: 50%;
        display: inline-block;
        &.sales {
            float: right;
        }
    }
}

.filter-go-warpper-mob {
    text-align: center;
    margin-top: 80/@rem;
}