@rem: 16rem;
.contact-us-map-container {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: grey;

    &.map-overlay-contact-us {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: #ffffff;
        height: 100%;
        width: 100%;
        .map-back-icon {
            width: 0.75rem;
            height: 1.25rem;
            position: absolute;
            left: 1.25rem;
            top: 1.25rem;
        }
    }
    @media only screen and (max-width: 991px) {
        height: 250px;
    }
    .map-view-cont {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

#mapContactUs {
    margin: 0;
    padding: 0;
    max-width: none;
    img {
        max-width: none !important;
    }
    div {
        background: transparent !important;
        box-shadow: none !important;
        border: none !important;
    }
}

.contact-us-search-container {
    margin-top: 24/@rem;
    margin-bottom: 18/@rem;
}

.map-with-search-conatiner {
    position: relative;
    .contact-us-buttons-overlay {
        position: absolute;
        height: 100/@rem;
        bottom: 39/@rem;
        z-index: 100;
        background-color: transparent;
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }
    .contact-us-btn-wrapper {
        padding-left: 31/@rem;

        button.cm-btn-secondary {
            width: 151/@rem;
            margin-top: 17/@rem;
            display: block;
            opacity: 0.75;
            &.active {
                opacity: 1;
            }
        }
    }
    .all-card {
        display: none;
    }
}

.cont-us-card-mob-wrap {
    display: none;
    position: absolute;
    bottom: 19px;
    bottom: 1.1875rem;
    width: 100%;
    z-index: 4;
}

.mr-taj-exclusity-map-brand .view-detials-button,
.mr-taj-brands-wrapper .mr-taj-exclusity-map-brand .cm-holiday-filter.sales,
.mr-taj-brands-wrapper .mr-taj-exclusity-map-brand .cm-holiday-filter.hotels {
   display: none !important;
}

.mr-taj-brands-wrapper .mr-taj-exclusity-map .filter-go-warpper-mob {
   margin-top: 0px;
   margin-top: 0rem;
}

//for contact us page
.IHCL-section .mr-cont-us-search-with-map-wrapper {
   .cm-btn-primary {
       color: #0c5d90 !important;
       border: solid 1px #0c5d90 !important;
   }
   .cm-btn-primary.active {
       background-image: linear-gradient(to top, #002b49, #0c5d90) !important;
       color: #fff !important;
   }
}

//for satelite

.display-hide,
.selected-location-hotels,
.gm-style-mtc,
.gm-svpc {
   display: none;
}

.gm-bundled-control-on-bottom {
   .gmnoprint {
       display: none;
   }
}


.IHCL-section {
    .contact-us-map-container {
        .map-view-cont {
            .gm-style {
                .gmnoprint {
                    button[title="Zoom in"] {
						background: #fff !important;
                    }
                    button[title="Zoom out"] {
						background: #fff !important;
                    }
                }
            }
        }
    }
}

.IHCL-section {
    .icon-prev-arrow::before {
    	color: #002b49;
	}
}

.map-back-icon {
		display: none;
    }

@media only screen and (min-width: 992px) {

    .contact-us-map-container {
		background: none;
    }
}


.IHCL-section {
    .contact-us-map-container {
        .map-view-cont {
            .gm-style {
                    button[title="Close"] {
						background: #fff !important;
                        top: 56px !important;
                        right: 46px !important;
                        height: 14px !important;
                        width: 13px !important;
                        img {
							margin: 0 !important;
                        }
                    }
            }
        }
    }
}
.map-no-search-result {
	display: none;
    position: absolute;
    left: 45%;
    bottom: -55px;
    background: #fff;
    z-index: 10;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    font-family: Calibri-Bold;
    border-radius: 5px;
	@media only screen and (max-width: 767px) {
		left: 10%;
    }
}
.map-no-search-result-visible {
	display: block;
}
.contact-us-search-container {
	position: relative;
}