@rem: 16rem;
.events-contact-details {
    display: inline-block;
    width: 25%;
    border-right: 1.8px solid #c1bbbb;
    vertical-align: middle;
    a {
        float: right;
        margin-right: 21/@rem;
    }
}

.events-brochure {
    display: inline-block;
    width: 15.5%;
    text-align: center;
    img {
        margin-left: 7.3/@rem;
        height: 20px;
        width: 20px;
    }
    a {
        div::before {
            content: 'Download Brochure';
            @media only screen and (min-width: 320px) and (max-width: 991px) {
                content: "Brochure";
                font-size: 1rem;
            }
        }
        div {
            @media only screen and (min-width: 481px) and (max-width: 991px) {
                font-size: 16px !important;
            }
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 991px) {
        width: unset;
        display: unset;
        float: left;
        height: 100%;
        line-height: 2.5;
        text-align: left;
    }
}

.events-gallery {
    display: inline-block;
    width: 11%;
    border-left: 1.8px solid #c1bbbb;
    border-right: 1.8px solid #c1bbbb;
    text-align: center;
}

.events-filter-section {
    display: inline-block;
    width: 32%;
    @media only screen and (min-width: 320px) and (max-width: 991px) {
        width: unset;
        display: unset;
        float: left;
        height: 100%;
        line-height: 2.5;
    }
}

.events-request-quote-btn {
    display: inline-block;
    width: 15%;
    text-align: right;
    border-left: 1.8px solid #c1bbbb;
    .cm-btn-secondary {
        width: 10rem;
    }
    @media only screen and (min-width: 320px) and (max-width: 991px) {
        width: auto;
        float: right;
        display: inherit;
        border: none;
        text-align: right;
    }
    @media only screen and (max-width: 375px) {
        padding-left: 0;
    }
}

.events-filter-subheading {
    display: inline-block;
    font-size: 20/@rem;
    color: #1b1b1b;
    margin-left: 23/@rem;
    @media only screen and (max-width: 991px) {
        display: block;
        margin-left: 0;
        margin: 0 10%;
        font-family: Calibri-Bold;
        text-transform: uppercase;
    }
}

.selectSubContainer {
    &.events-size-dropdown {
        display: inline-block;
        width: 120/@rem;
        margin-left: 20/@rem;
        vertical-align: text-bottom;
        border-bottom: 2px dotted rgba(27, 27, 27, 0.3);
        height: 27px;
        @media only screen and (max-width: 991px) {
            display: block;
            margin-left: 0;
            margin: 0 10%;
            width: 80%;
            margin-top: 40px;
            border-bottom: 1.2px solid var(--primaryColor);
        }
    }
    &.events-capacity-dropdown {
        display: inline-block;
        width: 120/@rem;
        margin-left: 41/@rem;
        vertical-align: text-bottom;
        border-bottom: 2px dotted rgba(27, 27, 27, 0.3);
        height: 27px;
        @media only screen and (max-width: 991px) {
            display: block;
            margin-left: 0;
            margin: 0 10%;
            width: 80%;
            margin-top: 45px;
            border-bottom: 1.2px solid var(--primaryColor);
        }
    }
}

.events-filter-icon-mobile {
    display: none;
    padding-right: 16/@rem;
    @media only screen and (max-width: 991px) {
        display: inline-block;
        position: relative;
        margin-right: 20/@rem;
    }
    @media only screen and (max-width: 375px) {
        padding-right: 0.75rem;
        margin-right: 0.75rem;
    }
}

.events-filter-icon-mobile::before {
    height: 115%;
    width: 2px;
    background: #c1bbbb;
    content: '';
    position: absolute;
    right: 0;
    top: -10%;
}

.events-filter-subsection {
    @media only screen and (max-width: 991px) {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #fff;
        overflow-y: auto;
        z-index: 15;
    }
}

.events-filter-back-arrow {
    display: none;
    @media only screen and (max-width: 991px) {
        display: block;
        padding: 28px 0 0 5%;
    }
}

.events-apply-btn {
    display: none;
    @media only screen and (max-width: 991px) {
        display: block;
        margin: 45px auto 0;
        width: 150/@rem;
    }
}

.contact-us .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
	position: unset;
}