// @mobile-view : @media only screen and (max-width: 767px) {}
@rem: 16rem;
.mr-searchBar-HelloText {
    padding-left: 1.5rem;
    font-family: Calibri;
    font-size: (30/@rem);
    font-weight: bold;
    color: #ffffff;
    margin-bottom: (13/@rem);
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.82);
    @media only screen and (max-width: 767px) {
        font-size: (16/@rem);
    }
}

.suggestions-overlay {
    background: rgba(74, 74, 74, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.search-and-suggestions-wrapper.input-scroll-top {
    @media only screen and (max-width: 767px) {
        .searchBar-wrap {
            background-color: #ffffff;
            box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
            position: fixed;
            top: 0;
            right: 0;
            left: 0;

            .searchbar-input {
                background: #ffffff;
            }
        }
    }
}

.search-and-suggestions-wrapper {
    //max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 6;
    &.disable-input-scroll-top {
        @media only screen and (min-width: 768px) {
            position: relative;
        }
    }
    .nav-prelogin-close {
        display: none;
    }
    .searchBar-wrap {
        position: relative;
        z-index: 6;
        &::before {
            width: 10/@rem;
            height: 65/@rem;
            content: "";
            position: absolute;
            left: 0px;
            z-index: 12;
            background-image: var(--linearGradient);
            @media only screen and (max-width: 767px) {
                left: 0px;
            }
        }
        .explore-taj {
            width: 15/@rem;
            height: 26/@rem;
            margin-left: 0.5rem;
            object-fit: contain;
            transform: rotate(-90deg);
        }
        .search-icon {
            width: (20/@rem);
            height: (20/@rem);
            position: absolute;
            top: 24/@rem;
            left: 2rem;
            z-index: 12;
            @media only screen and (max-width: 767px) {
                width: (18/@rem);
                height: (18/@rem);
                left: 15/@rem;
            }
        }
        .searchbar-input {
            font-family: Calibri;
            font-size: 24/@rem;
            font-weight: normal;
            background: rgba(0, 0, 0, 0.7);
            height: 65/@rem;
            padding-left: 4rem;
            color: #ffffff;
            opacity: 0.9;
            width: 100%;
            outline: none; // background-blend-mode: multiply;
            // background-image: linear-gradient(#424242, #424242);
            box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border: none;
            &::-ms-clear {
                display: none;
            }
            &::placeholder {
                font-family: Calibri;
                font-size: 24/@rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal; // line-height: 0.83;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
                text-overflow: ellipsis;
            }
            &::-moz-placeholder {
                opacity: 1;
            }
            @media only screen and (max-width: 767px) {
                font-size: 15/@rem;
                padding-left: 2.8rem;
                padding-right: 2.5rem;
                color: #9b9b9b;
                &::placeholder {
                    font-size: 15/@rem;
                    color: #9b9b9b; // overflow: hidden;
                    // white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
        .explore-taj-content {
            cursor: pointer;
            text-transform: uppercase;
            font-family: Calibri;
            font-size: 22/@rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 2.8px;
            text-align: center;
            color: var(--primaryColor);
            position: absolute;
            right: 3rem;
            top: 1.19rem;
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
    }
    .suggestions-wrap {
        position: relative;
        width: 100%;
        .suggestions-container {
            width: 100%; // height: 580px;
            border-radius: 0px 0px 3px 3px;
            background-color: #ffffff;
            box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
            position: absolute;
            height: 406/@rem;
            overflow: auto;
            top: 0px;
            .trending-suggestions-container,
            .search-suggestions-container {
                .trending-explore {
                    border-bottom: solid 1px #e6e6e6;
                    padding-bottom: 1rem;
                    @media only screen and (max-width: 767px) {
                        padding-bottom: 0;
                    }
                }
                .trending-explore,
                .trending-search {
                    border-bottom: solid 1px #e6e6e6;
                    padding-bottom: 10/@rem; // padding-top: 2rem;
                    // padding: 0.7rem 2rem 2rem;
                    .destination-hotel-icon {
                        margin-right: 1rem;
                        width: 12/@rem;
                        height: 17/@rem;
                    }
                    .trending-search-text {
                        // margin-bottom: 1.4rem;
                        // display: inline-block;
                    }
                    .trending-searches-in-taj {
                        .individual-trends {
                            font-family: Calibri;
                            font-size: 20/@rem;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                            color: #323232;
                            padding: 10/@rem 2rem;
                            display: block;
                            &:hover {
                                text-decoration: none;
                                cursor: pointer;
                                background-color: var(--primaryColorLighter);
                            }
                            @media only screen and (max-width: 767px) {
                                padding: 1rem 2rem;
                                font-size: 16/@rem;
                            }
                        }
                    }
                    .trending-explore-taj-text {
                        font-family: Calibri;
                        font-size: 14/@rem;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: 2px;
                        text-align: left;
                        color: #000000;
                        text-transform: uppercase;
                        @media only screen and (max-width: 767px) {
                            font-size: 16/@rem;
                        }
                    }
                    .explore-heading {
                        margin: 2rem;
                        margin-bottom: 1rem;
                        @media only screen and (max-width: 767px) {
                            margin:1.5rem;
                        }
                    }
                    .explore-taj-categories {
                        margin: 2rem 2rem 1rem;
                        .individual-category-explore {
                            font-family: Calibri;
                            font-size: 20/@rem;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                            color: var(--primaryColor);
                            display: inline-block;
                            margin-right: 2rem;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        @media only screen and (max-width: 767px) {
                            margin: 1rem;
                            .individual-category-explore {
                                font-size: 16/@rem;
                                margin-left: 1rem;
                                margin-right: 2rem;
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
                .trending-search {
                    border-bottom: unset;
                }
                .trending-search.hotels-trending {
                    border-bottom: solid 1px #e6e6e6;
                }
                .search-suggestion-common {
                    border-bottom: solid 1px #e6e6e6;
                    padding-bottom: 10/@rem;
                    .individual-common-suggesion {
                        font-family: Calibri;
                        font-size: 20/@rem;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.2;
                        letter-spacing: normal;
                        text-align: left;
                        color: #4a4a4a;
                        padding: 10/@rem 2rem;
                        display: block;
                        &:hover {
                            background-color: var(--primaryColorLighter);
                            cursor: pointer;
                        }
                    }
                    @media only screen and (max-width: 767px) {
                        .individual-common-suggesion {
                            padding: 1rem 2rem;
                            font-size: 16/@rem;
                        }
                    }
                }
            }
            @media only screen and (max-width: 767px) {
                /*height: 100vh;*/
                /*Commented by Nixon*/
                height: initial;
                position: fixed;
                top: 65/@rem;
                bottom: 0;
                left: 0;
                overflow: auto;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
}

.display-none {
    display: none;
}

.disable-scroll {
    overflow: hidden;
}

.input-scroll-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: initial;
    transition: all 2s;
}

.close-icon {
    display: none;
    @media only screen and (max-width: 767px) {
        position: absolute;
        right: 0;
        top: 1.4rem;
        right: 0.8rem; // display: inline-block;
    }
}

.closeIconImg {
    height: 20/@rem;
    width: 20/@rem;
}

@media only screen and (max-width: 767px) {
    .home-page-layout .searchbar-input {
        box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05) !important;
    }
}