@rem: 16rem;
.search-container.mr-stickyScroll {
    .search-row-wrap-mobile {
        display: none !important;
    }
    @media only screen and (max-width: 991px) {
        .filterByMobile {
            display: none !important;
        }
    }
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel {
        padding: 0/@rem !important;
    }
}

.search-container {
    /*max-width: 1280/@rem;*/
    /*commented by Nixon*/
    width: 100%;
    margin: 0 auto;
}

.search-container.search-hotels-container {
    @media only screen and (max-width: 767px) {
        padding: 0/@rem 12/@rem;
        .suggestions-container {
            top: 50/@rem !important;
            left: 0;
        }
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top {
    @media only screen and (max-width: 991px) and (min-width: 768px) {
        .searchBar-wrap.show-on-map-view~.suggestions-wrap {
            margin-top: 50/@rem;
            position: fixed;
            top: 100/@rem;
            left: 0;
            right: 0;
            margin: 0 12/@rem;
            width: auto;
        }
    }
    @media only screen and (max-width: 991px) {
        .filter-dropdown-wrap.filterByMobile {
            display: none !important;
        }
    }
    @media only screen and (max-width: 767px) {
        .searchBar-wrap.show-on-map-view {
            top: 0/@rem;
            margin: 0/@rem;
        }
        .searchBar-wrap.show-on-map-view~.suggestions-wrap {
            margin-top: 50/@rem;
        }
    }
}

.map-container.map-overlay {
    @media only screen and (min-width: 992px) {
        .map-back-icon {
            display: none;
        }
    }
    @media only screen and (max-width: 991px) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2; //greater than normal and lesser than suggestion wrap
        background: #ffffff;
        height: 100%;
        width: 100%;
        .map-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .map-back-icon {
            width: 12/@rem;
            height: 20/@rem;
            position: absolute;
            left: 20/@rem;
            top: 20/@rem;
        }
        .selected-location-hotels {
            display: none;
            position: absolute;
            bottom: 7/@rem;
            min-height: 154/@rem;
            width: 100%;
        }
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel {
    .close-icon {
        top: 60/@rem;
        position: absolute;
        right: 12/@rem;
    }
    .searchBar-wrap.show-on-map-view~.suggestions-wrap {
        z-index: 3;
        position: absolute;
        left: 0/@rem;
    }
    .searchBar-wrap.show-on-map-view {
        position: fixed;
        margin: 0 12/@rem;
        top: 55/@rem;
        left: 0/@rem;
        right: 0/@rem;
        z-index: 4;
        background-color: #ffffff;
        box-shadow: 2/@rem 10/@rem 12/@rem 0 rgba(0, 0, 0, 0.05);
        .filterByMobile {
            display: none !important;
        }
    }
    .searchBar-wrap {
        z-index: 2;
        background-color: #e6e6e6;
        padding-right: 41/@rem;
        box-shadow: 0/@rem 4/@rem 6/@rem 0 rgba(0, 0, 0, 0.2);
        @media only screen and (max-width: 991px) {
            padding-right: 0/@rem;
        }
        &::before {
            height: 60/@rem;
            left: 0/@rem;
            @media only screen and (max-width: 991px) {
                left: 0/@rem;
                width: 5/@rem;
                height: 50/@rem;
            }
        }
        .explore-taj {
            width: 15/@rem;
            height: 26/@rem;
            margin-left: 0.5rem;
        }
        .search-icon {
            top: 22/@rem;
            left: 1.9rem;
            @media only screen and (max-width: 991px) {
                left: 1rem;
                width: 18/@rem;
                height: 18/@rem;
                top: 14/@rem;
            }
        }
        .searchbar-input {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            z-index: 1;
            height: 60/@rem;
            font-family: Calibri;
            font-size: 20/@rem;
            line-height: 1;
            letter-spacing: 0.6/@rem;
            color: #4a4a4a;
            width: 47%;
            background: transparent;
            box-shadow: none;
            &::placeholder {
                color: #4a4a4a;
                font-size: 20/@rem;
            }
            @media only screen and (max-width: 991px) {
                height: 50/@rem;
                font-size: 16/@rem;
                padding-right: 0;
            }
            &.hotel-search {
                padding-right: 20/@rem;
                @media only screen and (max-width: 991px) {
                    padding-left: 2.8rem;
                }
                @media only screen and (max-width: 1199px) and (min-width: 992px) {
                    padding-right: 40/@rem;
                    &~.clear-input-icon {
                        margin-left: -40/@rem;
                    }
                }
            }
        }
        .search-filters-container {
            text-align: right;
            display: inline-block;
            vertical-align: middle;
            width: 50%; // commented by Dinesh
            // @media only screen and (max-width: 1200px) and (min-width: 992px) {
            //     float: right;
            //     min-width: 546/@rem;
            //     position: absolute;
            //     top: 13/@rem;
            //     right: 15/@rem;
            //     z-index: 1;
            // }
            .filter-dropdown-wrap.country-filter {
                padding-right: 1.8rem;
                margin-right: 1.8rem;
                border-right: solid 2px #9b9b9b;
                @media only screen and (max-width: 991px) {
                    padding-right: 15/@rem;
                    margin-right: 0/@rem;
                    border-right: none;
                    padding-left: 15/@rem;
                    border-left: solid 1px rgb(151, 151, 151, 0.4);
                }
                @media only screen and (max-width: 419px) {
                    padding-left: 10/@rem;
                    padding-right: 5/@rem;
                }
            }
            .filter-dropdown-wrap.filterByMobile {
                @media only screen and (max-width: 991px) {
                    position: absolute;
                    right: 20/@rem;
                    top: 72/@rem;
                    .filter-dropdown-label {
                        color: #1b1b1b;
                        font-weight: bold;
                    }
                }
            }
            .filter-dropdown-wrap {
                display: inline-block;
                padding: 1/@rem 0/@rem;
                .filter-dropdown-label {
                    font-family: Calibri;
                    font-size: 20/@rem;
                    line-height: 1;
                    color: #1b1b1b;
                    margin-right: 20/@rem;
                    display: inline-block;
                    vertical-align: middle;
                    @media only screen and (max-width: 991px) {
                        font-size: 14/@rem;
                        margin-right: 10/@rem;
                        color: #4a4a4a;
                    }
                }
                .selectSubContainer {
                    border-bottom: 2px solid rgba(27, 27, 27, 0.3);
                    padding-bottom: 0/@rem;
                    display: inline-block;
                    vertical-align: middle;
                    min-width: 150/@rem;
                    select {
                        display: none;
                    }
                    @media only screen and (max-width: 991px) {
                        width: 150/@rem;
                    }
                    @media only screen and (max-width: 530px) {
                        min-width: 0/@rem !important;
                        width: 100/@rem !important;
                    }
                    @media only screen and (max-width: 425px) {
                        width: 85/@rem !important;
                    }
                    @media only screen and (max-width: 360px) {
                        width: 65/@rem !important;
                    }
                }
                .selectboxit-container * {
                    font-family: Calibri;
                    font-size: 16/@rem;
                    @media only screen and (max-width: 991px) {
                        font-size: 14/@rem;
                    }
                }
                .selectboxit-option-icon-container {
                    margin-left: 0/@rem !important;
                }
                .selectboxit-container {
                    .selectboxit {
                        .selectboxit-text {
                            @media only screen and (max-width: 991px) {
                                font-size: 14/@rem !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .search-row-wrap-mobile {
        display: none;
        margin-top: 20/@rem;
        padding-left: 5/@rem;
        @media only screen and (max-width: 991px) {
            display: block;
            background: transparent;
        }
    }
}

.clear-input-icon {
    width: 19/@rem;
    height: 19/@rem;
    display: none;
    vertical-align: middle;
    margin-left: -20/@rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
    background-color: transparent;
    padding: 3/@rem;
    &.show-clear-input {
        display: inline-block;
    }
}