<sly
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.error-popup'}" />
<div data-sly-test="${wcmmode.edit}">Error Pop-Up Message</div>
<input type="hidden" name="warning-msg" id="warning-msg" aria-hidden = "true" value=${properties.warningMsg} />
<input type="hidden" name="pop-up-enabled" id="pop-up-enabled" aria-hidden = "true" value=${inheritedPageProperties.isPopUpEnabled} />