<div data-sly-test.edit=${wcmmode.edit}>
    <h1>ihcl toggle component</h1>
</div>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihclTogglecard'}" />
<sly data-sly-use.model="com.ihcl.core.models.ihcl.IhclToggleCardModel" />

 <div class="mr-tajness-card-container the-page-carousel"> 
     <div class="clearfix">
    <sly data-sly-list.key="${model.list}">

<sly data-sly-test.title="${properties.variation=='titletop'}" >

<div class="mr-tajness-whole-wrapper">
    <div class="mr-tajness-inner-wrap">
        <div class="mr-card-top">
            <p class="mr-tajness-value-top">${key.title}</p>
        </div>
        <div class="mr-card-bottom">
            <p class="mr-card-bottom-details">${key.description @ context='html'}</p>
        </div>
    </div>
</div>
</sly>
<sly data-sly-test="${properties.variation=='titlebottom'}" >
<div class="mr-toggle-div">
	<div class="mr-tajness-whole-wrapper">
	    <div class="mr-tajness-inner-wrap">
	       <div class="mr-card-bottom">
	            <div class=" mr-card-bottom-details">
	            ${key.description @ context='html'}
	            </div>
	               </div>
	        <div class="mr-card-top-detail">
	            <p class="mr-tajness-value-top">${key.title}</p>
	        </div>
	        
	    </div>
	</div>
</div>
</sly>

</sly>
</div>
</div>

