<template data-sly-template.layout="${@ model}">
    <div class="carousel slide" id="bannerCarousel" data-ride="carousel" data-login-support=${properties.loginSupport}>
        <ol class="carousel-indicators mr-carousel-dots" data-sly-list="${model.banners}">
            <li data-sly-attribute.class="${itemList.first? 'active': ''}" data-target="#bannerCarousel" data-slide-to="${itemList.index}"></li>
        </ol>
        <div class="carousel-inner mr-carousel-wrap" data-sly-list="${model.banners}">
            <div data-sly-attribute.class="${itemList.first ? 'carousel-item active' : 'carousel-item' }">
                <div class="banner-carousel-each-wrap" style="width:100%" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= item.bannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', mobileImage=item.mobileImage}"></sly>
                    <div class="banner-image-tint" data-sly-test="${!item.tintOpacity}"></div>
                    <div class="banner-image-tint" data-sly-test="${item.tintOpacity}" style="opacity: ${item.tintOpacity @context='scriptString'};"></div>
                    <div class="mr-carousel-image-contents-wrapper">
                        <div class="mr-offers-and-promotions">${item.bannerTitle}</div>
                        <div class="mr-innerCircle-member-offers">
                            <span class="mobile-display-none holidays-selection-text">${item.bannerDescDesk}</span>

                            <span class="desktop-display-none">${item.bannerDescMob}</span>
                            <!-- <span class="tint">${item.tintOpacity}</span> -->
                        </div>
                        <sly data-sly-test.linkText=${item.bannerLinkText}>
                            <a href="${item.bannerLinkUrl}.html"><button class="cm-btn-secondary mr-visit-hotel">${item.bannerLinkText}</button></a>
                        </sly>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev carousel-control" href="#bannerCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next carousel-control" href="#bannerCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <section class="d-none" data-sly-list="${model.tierBanners}">
        <div id="cb-${itemList.count}" class="carousel-item" data-context="${item.context}">
            <div class="banner-carousel-each-wrap" style="width:100%" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= item.bannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', mobileImage=item.mobileImage}"></sly>
                <div class="banner-image-tint" data-sly-test="${!item.tintOpacity}"></div>
                <div class="banner-image-tint" data-sly-test="${item.tintOpacity}" style="opacity: ${item.tintOpacity @context='scriptString'};"></div>
                <div class="mr-carousel-image-contents-wrapper">
                    <div class="mr-offers-and-promotions">${item.bannerTitle}</div>
                    <div class="mr-innerCircle-member-offers">
                        <span class="mobile-display-none holidays-selection-text">${item.bannerDescDesk}</span>

                        <span class="desktop-display-none">${item.bannerDescMob}</span>
                        <!-- <span class="tint">${item.tintOpacity}</span> -->
                    </div>
                    <sly data-sly-test.linkText=${item.bannerLinkText}>
                        <a href="${item.bannerLinkUrl}.html"><button class="cm-btn-secondary mr-visit-hotel">${item.bannerLinkText}</button></a>
                    </sly>
                </div>
            </div>
        </div>
        <script>
        
            registerContextualBanner("cb-${itemList.count @ context='scriptToken'}", "${item.context @ context='text'}");
        </script>
    </section>
</template>