<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.ihclcb.ihclcbbanner-carousel'}" />

<div data-sly-test.edit="${wcmmode.edit}">Banner Carousel Component</div>

<sly data-sly-use.center="center-banner.html" data-sly-use.left="left-banner.html"
    data-sly-use.model="com.ihcl.core.models.banner.BannerCarousel"> <sly
    data-sly-test="${properties.bannerLayout == 'center'}">
<div class="ihclcb-login-page-logo-txt container">
    <img class="ihclcb-logo-image" src="/content/dam/tajhotels/ihcl/IHCL-LOGO-white.png" alt="ihcl logo">
</div>
<section class="hotel-carousel-section ihclcb-banner-carousel-wrp" data-sly-call="${center.layout @ model=model}"></section>

<div class="ihclcb-banner-second-cont container">
    <sly data-sly-test.mode="${properties.showbutton=='showLogin'}">
    <div data-sly-resource="${'ihclcb-login' @ resourceType='tajhotels/components/content/signin'}"></div>
    </sly>
    <sly data-sly-test.mode="${properties.showbutton=='showBookaStay'}">
    <div data-sly-resource="${'book-a-stay' @ resourceType='tajhotels/components/content/ihclcb/ihclcb-book-a-stay'}"></div>
    </sly>
</div>

</sly> <sly data-sly-test="${properties.bannerLayout == 'left'}">
<section class="banner-section" data-sly-call="${left.layout @ model=model}"></section>
</sly> <sly data-sly-test.showBookingBar="${properties.unhideBookingBar}">
<div data-sly-resource="${'bookastay' @ resourceType='tajhotels/components/content/hotelbookingdetails'}"></div>
</sly> </sly>

