<template data-sly-template.layout="${@ model}">
    <div class="carousel slide" id="bannerCarousel" data-ride="carousel" data-login-support=${properties.loginSupport}>
        <div class="tic-carousel-ind">
            <div class="container">
                <ol class="carousel-indicators" data-sly-list="${model.banners}">
                    <li data-sly-attribute.class="${itemList.first? 'active': ''}" data-target="#bannerCarousel" data-slide-to="${itemList.index}"></li>
                </ol>
            </div>
        </div>
        <div class="carousel-inner tic-carousel-wrap" data-sly-list="${model.banners}">
            <div data-sly-attribute.class="${itemList.first ? 'carousel-item active' : 'carousel-item'}">
                <div class="tic-carousel-item-each" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= item.bannerImage,
                    renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg',
                    mobileImage=item.mobileImage,
                    bannerClass='tic-banner-img'}"></sly>
                    <div class="banner-image-tint" data-sly-test="${!item.tintOpacity}"></div>
                    <div class="banner-image-tint" data-sly-test="${item.tintOpacity}" style="opacity:  ${item.tintOpacity @context='scriptString'};"></div>
                    <div class="tic-banner-content-con">
                        <div class="container">
                            <div class="tic-banner-heading">
                            <div class="tic-banner-main-heading">${item.bannerTitle}</div>
                            <div class="tic-banner-sub-heading">${item.bannerSubTitle}</div>
                            <div class="tic-banner-desc">
                                <span class="mobile-display-none">${item.bannerDescDesk}</span>
                                <span class="desktop-display-none">${item.bannerDescMob}</span>
                            </div>
                        </div>
                            <div class="tic-banner-content">
                            <div class="tic-banner-content-heading">${item.bfooterTitle}</div>
                            <div class="tic-banner-content-sub-heading">${item.bfooterDesc}</div>
                            <div class="tic-banner-content-facilities row" data-sly-list="${item.children}">
                                <sly data-sly-list.facility="${item.children}">
                                    <div class="col-2 tic-banner-content-fac">
                                        <div class="tic-banner-content-fac-img-con">
                                            <img src="${facility.linkImg}" alt = "banner image"/>
                                        </div>
                                        <div class="tic-banner-content-fac-name">${facility.linkTitle}</div>
                                    </div>
                                </sly>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev carousel-control" href="#bannerCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next carousel-control" href="#bannerCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span>
        </a>
    </div>
    <section class="d-none" data-sly-list="${model.tierBanners}">
        <div id="cb-${itemList.count}" class="carousel-item" data-context="${item.context}">
            <div class="tic-carousel-item-each" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= item.bannerImage,
                renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg',
                mobileImage=item.mobileImage,
                bannerClass='tic-banner-img'}"></sly>
                <div class="banner-image-tint" data-sly-test="${!item.tintOpacity}"></div>
                <div class="banner-image-tint" data-sly-test="${item.tintOpacity}" style="opacity:  ${item.tintOpacity @context='scriptString'};"></div>
                <div class="tic-banner-content-con">
                    <div class="container">
                        <div class="tic-banner-heading">
                            <div class="tic-banner-main-heading">${item.bannerTitle}</div>
                            <div class="tic-banner-sub-heading">${item.bannerSubTitle}</div>
                            <div class="tic-banner-desc">
                                <span class="mobile-display-none">${item.bannerDescDesk}</span>
                                <span class="desktop-display-none">${item.bannerDescMob}</span>
                            </div>
                        </div>
                        <div class="tic-banner-content">
                            <div class="tic-banner-content-heading">${item.bfooterTitle}</div>
                            <div class="tic-banner-content-sub-heading">${item.bfooterDesc}</div>
                            <div class="tic-banner-content-facilities row" data-sly-list="${item.children}">
                                <sly data-sly-list.facility="${item.children}">
                                    <div class="col-2 tic-banner-content-fac">
                                        <div class="tic-banner-content-fac-img-con">
                                            <img src="${facility.linkImg}" alt = "banner image"/>
                                        </div>
                                        <div class="tic-banner-content-fac-name">${facility.linkTitle}</div>
                                    </div>
                                </sly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            registerContextualBanner("cb-${itemList.count @ context='scriptToken'}", "${item.context @ context='text'}");
        </script>
    </section>
</template>