@rem: 16rem;
.offers-page-card-component {
    margin-bottom: 30/@rem;
    padding: 0/@rem;
    .offers-card-inner-wrapper {
        background-color: #ffffff;
        box-shadow: 0 11/@rem 12/@rem 0 rgba(0, 0, 0, 0.05);
        /*height: 625/@rem;*/
        /*Commented by Nixon*/
        height: 39.0625rem;
    }
    .offers-card-header-container {
        min-height: 50/@rem;
        box-shadow: 0/@rem -5/@rem 12/@rem 0 rgba(0, 0, 0, 0.05);
    }
    .offers-card-image {
        width: 100%;
        /*height: 379/@rem;*/
        /*Commented by Nixon*/
        height: 23.75rem;
    }
    .offers-card-main {
        /*height: 185/@rem;
        padding: 26/@rem 30/@rem 20/@rem;*/
        height: 11.5625rem;
        padding: 1.5rem 1.875rem 1.25rem;
        .offers-card-title {
            font-family: Calibri;
            /*font-size: 25/@rem;*/
            /*Commented By Nixon*/
            font-size: 1.5rem;
            line-height: 1;
            color: #323232;
            margin-bottom: 11/@rem;
        }
        .offers-card-description {
            font-family: Calibri;
            /*font-size: 16/@rem;*/
            /*Commented by Nixon*/
            font-size: 1rem;
            line-height: 1.31;
            color: #9b9b9b;
            /*margin-bottom: 22/@rem;*/
            margin-bottom: 1.375rem;
            /*height: 42/@rem;*/
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            max-height: 3.6rem;
        }
        .offers-card-footer {
            position: relative;
            .button-view-details {
                float: right;
                /*width: 140/@rem;*/
                /*Commented by Nixon*/
                letter-spacing: 1.8/@rem;
            }
            .offer-validity {
                display: inline-block;
                padding-top: 9/@rem;
                font-family: Calibri;
                /*font-size: 16/@rem;*/
                /*Commented by Nixon*/
                font-size: 1rem;
                line-height: 1;
                color: #323232;
                min-height: 35/@rem;
                .offer-validity-date {
                    display: inline-block;
                }
            }
        }
    }
}

@media only screen and (max-width:991px) {
    .offers-page-card-component {
        /*margin-left: 16/@rem;
        margin-right: 16/@rem;*/
        /*commented by Nixon*/
        .offers-card-inner-wrapper {
            height: 600/@rem;
        }
        .offers-card-image {
            height: 370/@rem;
        }
        .offers-card-main {
            padding: 20/@rem 25/@rem 18/@rem;
            .offers-card-title {
                font-size: 24/@rem;
                color: #000000;
            }
            .offers-card-description {
                font-size: 16/@rem;
                margin-bottom: 16/@rem;
            }
        }
    }
}

@media only screen and (max-width: 374px) {
    .offers-page-card-component {
        .offers-card-main {
            padding: 20/@rem 20/@rem 18/@rem;
            .offers-card-title {
                font-size: 22/@rem;
            }
            .offers-card-footer {
                .offer-validity {
                    padding-top: 0;
                    line-height: normal;
                    .offer-validity-date {
                        display: block;
                    }
                }
            }
        }
    }
}