@rem: 16rem;
.offers-card-component {
    flex: 1 1 auto;
    float: left;
    .offers-card-inner-wrapper {
        height: 100%;
        background-color: #ffffff;
        box-shadow: 0 11/@rem 12/@rem 0 rgba(0, 0, 0, 0.05);
        position: relative;
        .rooms-and-suites-image-wrapper{
	       	height: 328/@rem;
	       	background-color: #ccc;    
	       	picture img {
	       		height: 20.5rem;
	       		width: 100%;
	       	}    	
       }
    }
    .offers-card-header-container {
        min-height: 50/@rem;
        box-shadow: 0/@rem -5/@rem 12/@rem 0 rgba(0, 0, 0, 0.05);
    }
    .offers-card-image {
        width: 100%;
        height: 379/@rem;
    }
    .offers-card-main {
        padding: 17/@rem 24/@rem 26/@rem 26/@rem;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        .offer-main-left {
            margin-right: 15/@rem;
            width: 58%;
            @media only screen and (max-width: 991px) {
            	width: 54%;
            }
            .offers-card-title {
                font-family: Calibri;
                font-size: 25/@rem;
                line-height: 1;
                color: #323232;
                margin-bottom: 11/@rem;
            }
            .offers-card-description {
                font-family: Calibri;
                font-size: 16/@rem;
                line-height: 1;
                color: #9b9b9b;
                overflow: hidden;
                line-height: 1.3;
            }
        }
        .offer-main-right {
            align-self: stretch;
            align-items: flex-end;
            .offer-customer-wrapper {
                margin-top: -7/@rem;
                min-width: 165/@rem;
                margin-bottom: 10/@rem;
                text-align: right;
                align-self: flex-start;
                margin-right: -25/@rem;
                .offer-customer-name {
                    display: inline-block;
                    vertical-align: middle;
                    font-family: Calibri;
                    font-size: 13/@rem;
                    line-height: 0.77;
                    color: #9b9b9b;
                }
                .offer-left-clipped {
                    text-align: center;
                    min-width: 88/@rem;
                    height: 31/@rem;
                    margin-left: -7/@rem;
                    display: inline-block;
                    vertical-align: middle;
                    font-family: Calibri-bold;
                    font-size: 14/@rem;
                    color: #ffffff;
                    padding-left: 10/@rem;
                }
            }
            .button-view-details {
                width: 140/@rem;
                position: absolute;
                bottom: 1.625rem;
                right: 1.5rem;
                @media only screen and (max-width: 425px) {
                    /*width: 110/@rem;*/
                    width: auto;
                }
                @media only screen and (max-width: 375px) {
                    width: auto;
                    font-size: 12/@rem;
                }
            }
            .offer-validity {
                margin-top: 6/@rem;
                margin-bottom: 11/@rem;
                font-family: Calibri;
                font-size: 16/@rem;
                line-height: 1;
                color: #323232;
                .offer-validity-date {
                    display: inline-block;
                }
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .offers-card-component {
        .offers-card-main {
            padding: 18/@rem 20/@rem 20/@rem 20/@rem;
            .offer-main-right {
                .offer-customer-wrapper {
                    margin-right: -21/@rem;
                }
            }
        }
    }
}

@media only screen and (max-width:1023px) {
    .offers-card-component:first-child {
        // margin-left: 16/@rem;
    }
    .offers-card-component {
        // width: 406/@rem !important;
        // margin-right: 32/@rem !important;
    }
}

@media only screen and (max-width:767px) {
    .offers-card-component:first-child {
        // margin-left: 16/@rem;
    }
    .offers-card-component {
        // width: 85vw !important;
        // margin-right: 16/@rem !important;
        .offers-card-image {
            height: 278/@rem;
        }
        .offers-card-main {
            padding: 18/@rem 23/@rem 20/@rem 25/@rem;
            flex-direction: column;
            text-align: left;
            .offer-main-left {
                align-self: flex-start;
                .offers-card-title {
                    font-size: 24/@rem;
                    color: #000000;
                    margin-bottom: 7/@rem;
                }
                .offers-card-description {
                    font-size: 16/@rem;
                    margin-bottom: 16/@rem;
                }
            }
            .offer-main-right {
                display: flex;
                justify-content: space-between;
                .offer-validity {
                    margin: 0/@rem;
                    text-align: left;
                    line-height: 1.25;
                    .offer-validity-date {
                        display: block;
                    }
                }
                .offer-customer-wrapper {
                    text-align: left;
                    align-items: flex-end;
                    margin-bottom: 0/@rem;
                    min-width: auto;
                    .offer-left-clipped {
                        display: block;
                        margin-left: 0;
                        text-align: left;
                        padding-right: 12/@rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 424px) {
    .offers-card-component {
        .offers-card-main {
            .offers-card-title {
                font-size: 22/@rem;
            }
            .offer-main-right {
                .offer-validity {
                    font-size: 14/@rem;
                }
            }
        }
    }
}
.room-property-value-container{
margin-bottom:8px;
font-size:1.125 rem;
font-family: calibri-italic;
}

.cm-page-container [class*="col-"].each-room-feature-con {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.room-property-value-container>span {
    line-height: 1.2;
    display: inline-block;
    margin-top: 10px;
}
