@rem : 16rem;
.popularDest-wrap,
.cm-inner-carousal-cards {
    float: left;    
    box-shadow: 0 2px 14px 0 #e5e3e3;// @media only screen and (min-device-width : 320px) and (max-device-width : 760px) {
    // 	margin-right: 16px !important;
    // 	width: 308px !important;	
    // }
    // @media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    // 	margin-right: 16px !important;
    // 	width: 308px !important;	
    // }
}

.popularDest-imageContainer {
    padding: 0;
    width: 100%;
    img {
        width: 100%;
        height: 400/@rem;
    }
}
.popularDest-details-container {
    height: 90/@rem;
    width: 100%;
    background: #ffffff;
    color: #323232;
    font-size: 22/@rem;
    font-family: Calibri;
    padding: 30/@rem 0 36/@rem 25/@rem;
    @media only screen and (min-device-width: 1023px) and (max-device-width: 1100px) {
        height: 70px;
        padding: 20px 0 25px 15px;
    }
    .popularDest-details-name {
        display: inline-block;
        line-height: 20/@rem;
        width: 50%;
        @media only screen and (max-device-width: 374px) {
            width: 40%;
        }
    }
}

.view-detials-button {
    display: inline-block;
    vertical-align: top;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .cm-inner-carousal-cards:first-child {
        margin-left: 0 !important;
    }
}