<div data-sly-test.edit=${wcmmode.edit}>
<h1>ihcl ranking component</h1>
</div>



<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihclRanking'}" />



<sly data-sly-use.model="com.ihcl.core.models.ihcl.IhclRankingModel" />


<div class="row">
    <div class="col-12">
        <div class="ihcl-ranking-card-container clearfix">
        <sly data-sly-list.key="${model.list}">
            <div class="ihcl-ranking-individual-container">
                <div class="ihcl-rank">${key.title}</div>
                <div class="ihcl-rank-description">${key.description @context='html'}</div>
            </div>

        </div>
    </div>
</div>


</sly>