.cm-page-container {
    overflow: auto;
    background: #f5f5f5;
    .row {
        margin: auto;
    }
    .header {
        width: 100%;
        background: #ffffff;
        position: relative;
        .header-nav-prelogin-search {
            display: none;
            position: relative;
            z-index: 7;
            .search-and-suggestions-wrapper {
                position: fixed;
                top: 4.5rem;
                left: 0;
                right: 0;
                bottom: initial;
                @media only screen and (max-width: 767px) {
                    top: 0;
                }
                .searchBar-wrap {
                    &::before {
                        left: 0px;
                    }
                    .explore-taj-content {
                        background: #ffffff;
                        padding-left: 2rem;
                    }
                    .searchbar-input {
                        background: #ffffff;
                        opacity: 1;
                        color: #323232;
                        font-size: 1.5rem;
                        &::placeholder {
                            color: #c9c9c9;
                        }
                    }
                }
                .nav-prelogin-close {
                    display: block;
                    position: absolute;
                    right: -33px;
                    top: 22px;
                    width: 22px;
                    height: 22px;
                    cursor: pointer;
                    @media only screen and (max-width: 767px) {
                        display: none;
                    }
                }
            }
        }
    }
    .banner-container {
        width: 100%;
        position: relative;
        .search-container {
            position: absolute;
            bottom: 25px;
            left: 0;
            right: 0;
            width: 100%;
            @media only screen and (max-width: 767px) {
                bottom: 7px;
                padding: 0px 4px;
            }
        }
    }
    .cm-header-label-con {
        font-size: 30px;
        font-family: Calibri-Bold;
        color: #1b1b1b;
        margin-bottom: 57px;
        position: relative;
        display: block;
        @media only screen and (max-width: 991px) {
            font-size: 20px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 24px;
            text-align: center;
            margin-bottom: 37px;
            display: block;
        }
        .cm-header-label {
            line-height: 1;
            display: inline-block;
            @media only screen and (max-width: 767px) {
                width: 65%;
            }
        }
        .cm-header-sublevel {
            line-height: 1;
            display: inline-block;
            position: absolute;
            right: 0;
            max-width: 476px;
            margin-top: 17px;
            @media only screen and (max-width: 991px) {
                margin-top: 0px;
            }
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
        .cm-header-offers {
            display: inline-block;
            position: absolute;
            right: 0;
            color: var(--primaryColor);
            font-size: 16px;
            border-bottom: 1px solid var(--primaryColorLight);
            line-height: 1;
            letter-spacing: 2px;
            text-transform: uppercase;
            bottom: 0;
            cursor: pointer;
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
    }
    .content-wrapper {
        //max-width: 1280px;
        margin: 65px auto 81px; //width: 100%;
        .cm-content-blocks {
            margin-top: 50px;
            @media only screen and (max-width: 767px) {
                margin-top: 30px;
            }
            &:first-child {
                margin-top: 50px;
                @media only screen and (max-width: 767px) {
                    margin-top: 30px;
                }
            }
        }
        /*@media only screen and (min-device-width : 1025px) and (max-device-width : 1400px) {
            max-width: 960px;
        }
@media only screen and (min-device-width : 960px) and (max-device-width : 1024px) {
    max-width: 900px;
}*/
    }
}