.mr-redeem-form-wrapper {
    margin: 40px 0 50px;
    margin: 2.5rem 0 3.125rem;
}

@media only screen and (max-width: 767px) {
    .mr-redeem-form-wrapper {
        padding: 0 0.9375rem;
    }
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap {
    padding: 40px 90px 40px 30px;
    padding: 2.5rem 5.625rem 2.5rem 1.875rem;
    background-color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .mr-redeem-form-wrapper .mr-redeem-inner-wrap {
        padding: 1.25rem;
    }
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-header {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    line-height: 1.2;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper
    {
    position: relative;    
}
@media only screen and (min-width: 768px) {
  .mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper{
    margin:0 -1rem;
  }  
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input
    {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
    width:100%;
    padding:0 1rem;
}

@media only screen and (max-width: 767px) {
    .mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input
        {
        padding: 0 !important;
    }
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-header
    {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
    color: #373737;
    line-height: 1;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-box
    {

    margin-top: 25px;
    margin-top: 1.5625rem;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-box
        {
        width: 100%;
        margin-top: 0.625rem;
    }
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-box .mr-input-field
    {
    color: #000000;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-box .mr-input-field::-webkit-input-placeholder
    {
    color: #d5d5d5;
    line-height: 2;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-box .mr-input-field::-moz-placeholder
    {
    color: #d5d5d5;
    line-height: 2;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-box .mr-input-field:-ms-input-placeholder
    {
    color: #d5d5d5;
    line-height: 2;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-box .mr-input-field::placeholder
    {
    color: #d5d5d5;
    line-height: 2;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-box .suggestion-division
    {
    position: absolute;
    z-index: 1;
    padding: 10px;
    padding: 0.625rem;
    background-color: #f2f2f2;
    display: none;
    width: 100%;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-box .suggestion-division .suggestion-list
    {
    display: -ms-flexbox;
    display: flex;
    padding: 8px 5px;
    padding: 0.5rem 0.3125rem;
    border-bottom: solid 1px #d5d5d5;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-box .suggestion-division .suggestion-list .mr-select-btn,
    .mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-box .suggestion-division .suggestion-list .mr-address-addition
    {
    color: #d29851;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .input-box .suggestion-division .suggestion-list:last-child
    {
    border: none;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .warning-text,
    .mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .validate-inputs-txt
    {
    display: none;
    font-size: 14px;
    font-size: 0.875rem;
    color: #ff0000;
    margin-top: 5px;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .end-input
    {
    width: 100%;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .mr-input-field
    {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #f5f5f5;
    width:100%;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .choice-input-col
    {
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .mr-input-field:hover
    {
    outline: none;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-form-input .mr-input-field:focus
    {
    outline: none;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper.mr-online-pay-options-wrp
    {
    padding: 2rem;
}

@media only screen and (max-width: 767px) {
    .mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper.mr-online-pay-options-wrp
        {
        padding: 0rem;
    }
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-pay-options
    {
    position: absolute;
    bottom: 30px;
    right: 0;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-pay-options
        {
        position: initial;
        padding: 0 !important;
    }
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-pay-options .pay-btn
    {
    width: 150px;
    width: 9.375rem;
}

@media only screen and (max-width: 991px) {
    .mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-pay-options .pay-btn
        {
        width: 7.25rem;
    }
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-pay-options .cm-btn-secondary
    {
    padding: 0 !important;
    font-size: 14px;
    font-size: 0.875rem;
}

.mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-pay-options .tic-pay-btn
    {
    margin-right: 20px;
    margin-right: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .mr-pay-options .tic-pay-btn
        {
        margin-right: 0.625rem;
    }
    .mr-redeem-form-wrapper .mr-redeem-inner-wrap .mr-form-inputs-whole-wrap .mr-form-input-wrapper .choice-input-col{
        margin-left: 1rem;
    }
}

.warning-display {
    display: block !important;
}

.input-box.selectSubContainer {
    border-bottom: none;
}
.mr-redeem-inner-wrap .selectSubContainer{
    width:100%;
        border-bottom: solid 2px #f5f5f5;
    
}
.sub-form-input-warning{
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    color: #f44336;
    display: none;
    margin-bottom: -15px;
    }
.mr-hide{
    display:none;
}