@media only screen and (max-width: 767px) {
	.mr-product-detalis-wrapper {
		padding: 0 0.9375rem;
	}
}

.mr-product-detalis-wrapper .mr-product-details-wrap {
	background-color: #d5d5d5;
	padding: 30px 20px;
	padding: 1.875rem;
	width: 50%;
}

@media only screen and (max-width: 991px) {
	.mr-product-detalis-wrapper .mr-product-details-wrap {
		width: 80%;
	}
}

@media only screen and (max-width: 767px) {
	.mr-product-detalis-wrapper .mr-product-details-wrap {
		width: 100%;
		padding: 1.2rem;
	}
}

.mr-product-detalis-wrapper .mr-product-details-wrap .mr-details-wrapper
	{
	display: -ms-flexbox;
	display: flex;
	color: #000000;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.2;
	font-family: Calibri;
	margin-bottom: 10px;
	margin-bottom: 0.625rem;
}

.mr-product-detalis-wrapper .mr-product-details-wrap .mr-details-wrapper .mr-detail-heading
	{
	width: 35%;
	font-family: Calibri-bold;
}

.mr-product-detalis-wrapper .mr-product-details-wrap .mr-details-wrapper .mr-detail-value
	{
	margin-left: 15px;
	margin-left: 0.9375rem;
	width: 64%;
}