.dining-details-card-container {
    min-height: 626px;
    min-height: 39.125rem;
    background-color: #fefefe;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);
    padding: 31px 37px;
    padding: 1.9375rem 2.3125rem;
}

.ind-dining-rate-tax-disclaimer{
	color: #323232;
    font-size: 1rem;
    font-family: Calibri;
    margin-top: 21px;
    padding-left: 1rem;
}

.diningAveragePrice{
	font-family: Calibri;
    color: #323232;
}

.dining-details-card-container [class*="col-"] {
    padding-right: 0px ! important;
    padding-left: 0px ! important;
}

.dining-details-card-container .dining-details-menu-wrap {
    display: block;
    width: 100%;
}

.dining-details-card-container .mr-dining-card-content-wrap {
    padding: 0px;
    padding: 0rem;
    padding-right: 48px;
    padding-right: 3rem;
}

@media only screen and (max-width: 991px) {
    .dining-details-card-container .mr-dining-card-content-wrap {
        padding-right: 0rem;
    }
}

.dining-details-card-container .mr-hotel-location-address {
    margin-bottom: 0px;
    margin-bottom: 0rem;
}

@media only screen and (max-width: 991px) {
    .dining-details-card-container .mr-hotel-location-address {
        padding-top: 0rem;
    }
}

.dining-details-card-container .mr-dining-title {
    margin-right: 16px;
    margin-right: 1rem;
    font-family: Calibri;
    font-size: 36px;
    font-size: 2.275rem;
    font-weight: bold;
    line-height: 1;
    color: #323232;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .dining-details-card-container .mr-dining-title {
        font-size: 1.5rem;
    }
}

.dining-details-card-container .mr-regulations-reserve-a-table-wrap {
    margin: 16px 0px;
    margin: 1rem 0rem;
    margin-bottom: 21px;
    margin-bottom: 1.3125rem;
}

.dining-details-card-container .mr-regulations-reserve-a-table-wrap .mr-regulations-styling .regulation-padding {
    padding-left: 48px ! important;
    padding-left: 3rem ! important;
}

@media only screen and (max-width: 991px) {
    .dining-details-card-container .mr-regulations-reserve-a-table-wrap .mr-regulations-styling .regulation-padding {
        padding-left: 0rem ! important;
    }
}

.dining-details-card-container .mr-regulations-reserve-a-table-wrap .mr-regulation-title {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.17;
    color: var(--primaryColor);
    vertical-align: top;
}

@media only screen and (max-width: 991px) {
    .dining-details-card-container .mr-regulations-reserve-a-table-wrap .mr-regulation-title {
        font-size: 0.875rem;
    }
}

.dining-details-card-container .mr-regulations-reserve-a-table-wrap .mr-regulation-answer {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.17;
    letter-spacing: 0px;
    letter-spacing: 0.03125rem;
    color: #323232;
    vertical-align: top;
}

@media only screen and (max-width: 991px) {
    .dining-details-card-container .mr-regulations-reserve-a-table-wrap .mr-regulation-answer {
        font-size: 0.875rem;
    }
}

.dining-details-card-container .placeholder-title {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.38;
    color: #323232;
}

.dining-details-card-container .mr-dining-description-wrap {
    margin-top: 18px;
    margin-top: 1.125rem;
}

@media only screen and (max-width: 991px) {
    .dining-details-card-container {
        width: 100%;
        min-width: 18.125rem;
        padding: 0rem;
    }

    .dining-details-card-container .mobile-styling-dining-details-card-contents {
        padding: 1rem ! important;
    }

    .dining-details-card-container .mr-reserve-table-select-wrap {
        width: 100%;
    }

    .dining-details-card-container .priceBlock-main-container {
        margin: 0rem 1rem;
        width: 100%;
        min-width:auto;
    }

    .dining-details-card-container .priceBlock-main-container .mr-list-tic {
        margin-right: 0.2rem;
    }

    .dining-details-card-container .dining-card-rating {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .dining-details-card-container .mr-dining-phone-number-wrap.detail-menu-border {
        display: inline-block;
        border-right: 1px solid #c3c3c3;
        padding-right: 0.6rem;
    }

    .dining-details-card-container .mr-regulations-reserve-a-table-wrap {
        margin: 0rem 0rem 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .dining-details-card-container .placeholder-title:after {
        background-color: #ffffff;
        bottom: -0.1rem;
    }
}

.dining-details-card-styling {
    margin-bottom: 40px;
    margin-bottom: 2.5rem;
}

.mr-dining-details-card-image-wrapper {
    height: 100%;
    max-width: 580px;
    max-width: 36.25rem;
    max-height: 388px;
    max-height: 24.25rem;
    margin-top: 16px;
    margin-top: 1rem;
    position: relative;
}

.mr-dining-details-card-image-wrapper .mr-dining-details-card-image {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 991px) {
    .mr-dining-details-card-image-wrapper {
        margin-top: 0rem;
        width: 100%;
    }
}

.dining-details-reserve-Table-title {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.25;
    color: #323232;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.dining-details-menu-wrap-heading {
    margin-bottom: 5px;
}

.mr-regulation-seperator{
	margin-right: 10px;
	 display:  inline-block;
	line-height: 1;
	vertical-align:  top;
}
@media only screen and (max-width: 991px) {
	.mr-regulation-seperator{
		margin-right: 0px;
	}
}
