.mr-dining-card-image {
    width: 100%;
    height: 100%;
}

.mr-dining-card-image-wrap {
    position: relative;
    height: 100%;
}

h2.dining-title {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.04;
    color: #323232;
    margin-top: 20px;

}

@media only screen and (max-width: 767px) {
	h2.dining-title {
        text-align : center;
        margin-bottom : 30px;
        display : block;
    }
}

@media only screen and (min-width: 768px) {
	h2.dining-title {
		margin-bottom: -15px!important;
    }
}

.mr-no-results-title {
	font-family: Calibri;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #323232;
}

.mr-dining-hotel-address {
    width: max-content;
    margin-top: 5px;
    font-size: 15px;
    margin-right: 9px;
    font-weight: bold;
    color: #343a40;
}

.dining-card-container-main .mr-dining-card-wrapper {
    background: #fff;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}
.mr-dining-viewMenu {
   display: table-cell;
   vertical-align: top;
  } 

@media only screen and (max-width: 767px) {
    .dining-card-container-main .mr-dining-card-wrapper .row [class*="col-"] {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.dining-card-container-main .mr-dining-card-wrapper .mr-dining-card-content-wrap .mr-list-hotel-offer-tag {
    right: -16px;
    right: -1rem;
}

.mr-dining-card-wrapper {
    width: 100%;
}

.mr-dining-card-wrapper .mr-dining-card-image-wrap {
    height: 286px;
    height: 17.875rem;
    background-color: #ccc;
}

@media only screen and (min-width: 768px){
    .mr-dining-card-wrapper .mr-dining-card-image-wrap {
        height: 100%;
    }
}

.mr-dining-card-wrapper .mr-dining-card-image-wrap picture {
    height: 100%;
}

.mr-dining-card-content-wrap {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 21px 50px 27px 21px;
    padding: 1.3125rem 3.125rem 1.6875rem 1.3125rem;
}

@media only screen and (max-width: 767px) {
    .mr-dining-card-content-wrap {
        padding: 0.875rem 0.875rem 1.3125rem 0.875rem;
        padding-bottom: 0.3125rem;
    }
}

.mr-dining-title {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.04;
    color: #323232;
}

@media only screen and (max-width: 767px) {
    .mr-dining-title {
        font-size: 1.375rem;
        line-height: 1;
        display: inline-block;
    }
}

.mr-rating-wrap.dining-card-rating {
    width: 45px;
    width: 2.8125rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-left: 0.3125rem;
}

.mr-dining-details-table-wrap {
    display: table;
}

.mr-dining-details-table-wrap .mr-dining-details-table-cell-wrap {
    display: table-cell;
}

@media only screen and (max-width: 767px) {
    .mr-list-tic-epicure-wrap.dining-card {
        display: block;
        background-color: #ffffff;
        margin-bottom: 0rem;
        padding: 0.75rem 1.0625rem;
    }
}

.mr-list-epicure-mobile-border {
    border-bottom: 1px solid var(--primaryColor);
    display: inline-block;
    padding-bottom: 3px;
    padding-bottom: 0.2rem;
}
.mr-dining-phno-menu-details-container .mr-dining-menuDetails-number-wrap,.mr-dining-phno-menu-details-container .mr-dining-menuDetails-number-wrap {
min-width: 6rem;
}
.mr-dining-phno-menu-details-container .ho-cm-link-txt{
    width:unset;
    vertical-align: middle;
}


.mr-dining-phno-menu-details-container .detail-menu-border {
    border-right: 1px solid #c3c3c3;
    padding-right: 16px;
    padding-right: 1rem;
}

.mr-dining-phno-menu-details-container .detail-menu-border:last-child {
    border-right: unset;
}
.mr-dining-phno-menu-details-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mr-dining-phno-menu-details-container .mr-dining-phone-number-wrap .icon-phone-enabled:before{
line-height: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .mr-dining-phno-menu-details-container .detail-menu-border {
        padding-right: 0.2rem;
    }
}

.mr-dining-phone-number-wrap.detail-menu-border {
    display: inline-block;
    margin-right: 7px;
    margin-right: 0.4375rem;
    vertical-align: top;
}

@media only screen and (max-width: 767px) {
    .mr-dining-phone-number-wrap.detail-menu-border {
        display: block;
        border-right: unset;
    }
}

.mr-dining-phno {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.41;
    color: #9b9b9b;
}

.mr-dining-menuDetails-number-wrap {
    display: inline-block;
    margin-right: 7px;
    margin-right: 0.4375rem;
}

.mr-dining-MenuDetails {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1;
    color: var(--primaryColorDark);
    text-decoration: underline;
    cursor: pointer;
    font-weight : lighter;
}

@media only screen and (max-width: 767px) {
    .mr-dining-MenuDetails {
        line-height: 1.642;
    }
}

.mr-dining-description {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.31;
    color: #4a4a4a;
}

.mr-dining-location-description-icons {
    width: auto;    
}

.mr-dining-rating-wrap {
    width: 68px;
    width: 4.25rem;
    height: 35px;
    height: 2.1875rem;
    background-color: rgba(210, 152, 81, 0.38);
    text-align: center;
    float: right;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.mr-dining-rating-wrap .dining-rating-value {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #a37333;
    line-height: 2;
}

.dining-offerprice-wrap {
    text-align: right;
}

.dining-offerprice-wrap .mr-list-tic-epicure-wrap {
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
    clear: both;
}

@media only screen and (max-width: 767px) {
    .dining-offerprice-wrap .mr-list-hotel-offer {
        position: absolute;
        right: 0;
        top: 0;
    }

    .dining-offerprice-wrap .mr-list-hotel-offer .mr-list-hotel-offer-description {
        display: block;
        padding-bottom: 0.3rem;
    }
}

.mr-dining-regulations span {
    vertical-align: middle;
}

.mr-regulation-title {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.29;
    color: var(--primaryColorDark);
    display: inline-block;
    min-width: 75px;
    min-width: 4.6875rem;
}
@media only screen and (max-width: 767px) {
	.mr-regulation-title {
        min-width: initial;
	}
}

.mr-regulation-answer {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.29;
    letter-spacing: 0px;
    letter-spacing: 0.025rem;
    color: #323232;
    display: inline-block;
    margin-left: 5px;
    margin-left: 0.3125rem;
    vertical-align: middle;
    max-width: 8.75rem;
}

.mr-regulation-border {
    border-right: 1px solid #c3c3c3;
}

@media only screen and (max-width: 767px) {
    .mr-regulation-border {
        border-right: unset;
    }
}

.mr-costFor-two-and-reserve-table-wrap {
    text-align: right;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .mr-costFor-two-and-reserve-table-wrap {
        bottom: 0.3rem;
        right: 0;
    }
}

.mr-costFor-two-and-reserve-table-wrap a {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.mr-regulations-reserve-a-table-wrap .mr-regulations-styling .regulation-padding {
    padding-left: 16px ! important;
    padding-left: 1rem ! important;
}

@media only screen and (max-width: 767px) {
    .mr-regulations-reserve-a-table-wrap .mr-regulations-styling .regulation-padding {
        padding-left: unset ! important;
    }
}

.mr-cost-for-two-text {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    color: #4a4a4a;
}

.mr-dining-reserve-cost {
    font-family: Calibri;
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: bold;
    text-align: right;
    color: #4a4a4a;
}

@media only screen and (max-width: 767px) {
    .mr-dining-reserve-cost {
        font-size: 1.5rem;
    }
}

.mr-rupee-symbol-font {
    font-family: RupeeForadian;
    font-size: 30px;
    font-size: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .mr-rupee-symbol-font {
        font-size: 1.5rem;
    }
}

.cm-btn-secondary.mr-dining-check-availability-btn {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .cm-btn-secondary.mr-dining-check-availability-btn {
        font-size: 0.79rem;
        padding: 0rem 0.4rem;
    }
}

.mr-dining-card-content-wrap .dining-details-menu-wrap {
    display: inline-block;
    width: 70%;
}

.mr-dining-card-content-wrap .dining-details-menu-wrap .mr-hotel-location-address.mr-dining-hotel-address {
    margin-top: 8px;
    margin-top: 0.5rem;
    margin-bottom: 4px;
    margin-bottom: 0.3rem;
}

.mr-dining-card-content-wrap .dining-details-menu-wrap .mr-hotel-location-address.mr-dining-hotel-address .mr-list-location-icon-wrap {
    width: 3%;
}

.mr-dining-card-content-wrap .dining-details-menu-wrap .mr-hotel-location-address.mr-dining-hotel-address .mr-list-address-wrap {
    width: 97%;
}

@media only screen and (max-width: 767px) {
    .mr-dining-card-content-wrap .dining-details-menu-wrap .mr-hotel-location-address.mr-dining-hotel-address {
        width: 100%;
        padding-bottom: 0.3rem !important;        
    }
}

@media only screen and (max-width: 767px) {
    .mr-dining-card-content-wrap .dining-details-menu-wrap {
        width: 100%;
    }
}

.mr-dining-description-icons {
    width: 13px;
    width: 0.8125rem;
    height: 12px;
    height: 0.75rem;
    margin-right: 6px;
    margin-right: 0.4rem;
}

.dining-offerprice-wrap {
    width: 29%;
    display: inline-block;
    vertical-align: top;
}

.mr-height-styling {
    height: 23px;
    height: 1.4375rem;
}

@media only screen and (min-width: 767px) {
    .detail-menu-border.mr-height-styling.dining-no-border-right {
        border-right: unset;
    }
}

.mr-regulation-each-styles {
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
    .mr-regulation-each-styles {
        margin-bottom: unset;
    }
}

.mr-regulations-styling {
    padding-top: 16px;
    padding-top: 1rem;
}

@media only screen and (max-width: 767px) {
    .mr-regulations-styling {
        padding-top: 0.5rem;
    }
}

.dining-mobile-address {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.3;
    color: #9b9b9b;
}
#mr-reserveTable-number-of-peopleSelectBoxItText{
	max-width:50px !important;
}
.dining-list-fitered-wrapper li.row.unique-dining {
    display: none;
}

.border-style-timing{
	border-right:none !important;
}

.style-set-max-width{
	max-width:none !important;
}
