.list-hotel-image {
	height: 100%;
	width: 100%;
}

.list-view-wrapper {
	min-height: 215px;
	min-height: 13.4375rem;
	margin-bottom: 19px;
	margin-bottom: 1.1875rem;
}

@media only screen and (max-width: 767px) {
	.list-view-wrapper .row [class*="col-"] {
		padding-right: 0px ! important;
		padding-left: 0px ! important;
	}
}

.list-view-wrapper:nth-child(n+6) {
	display: none;
}

@media only screen and (max-width: 767px) {
	.mr-listView-layout .row [class*="col-"] {
		padding-right: 0px ! important;
		padding-left: 0px ! important;
	}
}

.mr-list-view-hotels-button {
	margin-top: 8px;
	margin-top: 0.5rem;
}

.mr-list-hotel-description-offerwrap {
	padding: 21px 26px;
	padding: 1.3125rem 1.625rem;
	padding-right: unset;
	background-color: #ffffff;
	height: 100%;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-description-offerwrap {
		padding: 0.5rem 1.25rem;
		padding-right: unset;
		padding-bottom: 0px;
	}
}

.mr-list-hotel-description-wrapper {
	margin-top: 16px;
	margin-top: 1rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-description-wrapper {
		margin-top: unset;
		margin-bottom: unset;
	}
}

.mr-list-hotel-description {
	margin-right: 16px;
	margin-right: 1rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-description {
		margin-bottom: 1rem;
		display: table;
	}
}

.mr-list-unique-specs {
	font-family: Calibri;
	font-size: 14px;
	font-size: 0.875rem;
	color: #323232;
	margin-right: 4px;
	margin-right: 0.25rem;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-unique-specs {
		margin-bottom: 2rem;
	}
}

.mr-starting-rate {
	font-size: 10px;
	font-size: 0.625rem;
	text-align: right;
	color: #9b9b9b;
}

.mr-list-hotel-price-tic {
	padding-right: 34px;
	padding-right: 2.125rem;
	text-align: right;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-price-tic {
		padding-right: 1rem;
		position: relative;
		bottom: 1rem;
	}
}

.mr-list-hotel-specifications {
	margin-left: 32px;
	margin-left: 2rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-specifications {
		margin-left: unset;
	}
	.mr-list-hotel-specifications .col-3:nth-child(n+4) .mr-list-unique-specs
		{
		margin-bottom: unset;
	}
}

.mr-current-rate-list {
	font-family: Calibri;
	font-size: 27px;
	font-size: 1.6875rem;
	font-weight: bold;
	text-align: right;
	color: #4a4a4a;
}

.mr-current-rate-list .mr-rupee-list-hotel {
	font-size: inherit;
}

@media only screen and (max-width: 767px) {
	.mr-current-rate-list {
		font-size: 1.3rem;
		display: inline-block;
	}
}

.mr-list-tic-epicure-wrap {
	margin-bottom: 26px;
	margin-bottom: 1.625rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-tic-epicure-wrap {
		display: none;
	}
}

.mr-list-tic, .mr-list-epicure {
	font-family: Calibri;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1;
	color: #9b9b9b;
	display: inline-block;
}

.mr-list-tic .mr-list-tic-value, .mr-list-epicure .mr-list-tic-value {
	color: var(--primaryColor);
}

.mr-list-tic {
	padding-right: 8px;
	padding-right: 0.5rem;
	margin-right: 8px;
	margin-right: 0.5rem;
	border-right: 1px solid #c3c3c3;
}

.mr-hotel-location-address {
	font-family: Calibri;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.36;
	color: #979797;
	padding-bottom: 14px;
	padding-bottom: 0.875rem;
	display: table;
	width: 100%;
}

@media only screen and (max-width: 767px) {
	.mr-hotel-location-address {
		padding-bottom: 0rem ! important;
		padding-top: 0.5rem;
		display: table-cell;
		width: 30%;
	}
}

span.mr-rupee-list-hotel {
	font-size: 19px;
	font-size: 1.1875rem;
	font-family: RupeeForadian;
	color: #4a4a4a;
	opacity: 0.58;
}

@media only screen and (max-width: 767px) {
	span.mr-rupee-list-hotel {
		font-size: 1rem;
	}
}

.mr-list-hotels-delrate {
	margin-right: 20px;
	margin-right: 1.25rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotels-delrate {
		margin-right: 0.3rem;
	}
}

.discounted-rate {
	opacity: 0.58;
	font-family: Calibri;
	font-size: 19px;
	font-size: 1.1875rem;
	text-align: center;
	color: #4a4a4a;
}

@media only screen and (max-width: 767px) {
	.discounted-rate {
		font-size: 1rem;
	}
}

.mr-list-hotel-ratings-reviewCount {
	position: absolute;
	bottom: 10px;
	bottom: 0.625rem;
	left: 10px;
	left: 0.625rem;
	height: 28px;
	height: 1.75rem;
	width: 124px;
	width: 7.75rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-ratings-reviewCount {
		line-height: 1.8;
	}
}

.mr-rating-wrap {
	font-family: Calibri;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-image: var(--linearGradient);
	width: 20%;
	line-height: 1.9;
}

.mr-list-location-icon {
	margin-right: 4px;
	margin-right: 0.25rem;
	width: 22px;
	width: 1.375rem;
	height: 22px;
	height: 1.375rem;
}

.mr-reviewCount-wrap {
	font-family: Calibri;
	font-size: 14px;
	font-size: 0.875rem;
	padding: 0px 3px;
	padding: 0rem 0.2rem;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
	width: 80%;
	line-height: 1.9;
}

.mr-list-address-wrap {
	display: table-cell;
	vertical-align: middle;
}

@media only screen and (max-width: 767px) {
	.mr-list-address-wrap {
		padding-left: 5px;
	}
}

.mr-list-location-icon-wrap {
	display: table-cell;
	vertical-align: top;
}

.mr-hotel-distanceFrom-airport {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.36;
	color: #979797;
	margin-bottom: 13px;
	margin-bottom: 0.8125rem;
}

@media only screen and (max-width: 767px) {
	.mr-hotel-distanceFrom-airport {
		display: table-cell;
		vertical-align: middle;
		padding-bottom: 0rem ! important;
		padding-top: 0.5rem;
		width: 55%;
	}
}

.mr-list-hotel-title {
	font-family: Calibri;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 0.92;
	color: #4a4a4a;
	margin-bottom: 0;
}

.mr-list-hotel-about {
	font-family: Calibri;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.25;
	color: #4a4a4a;

	/*Changes By Srikanta
    height: 6rem;
    overflow: scroll;   */
}

.mr-list-hotel-title-offer-wrap {
	margin-bottom: 12px;
	margin-bottom: 0.75rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-title-offer-wrap {
		margin-bottom: unset;
	}
}

.mr-offer-description-employee {
	font-family: Calibri;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.14;
	text-align: right;
	color: #c5c3c6;
	display: none;
	margin-bottom: 5px;
	margin-bottom: 0.3125rem;
	padding-right: 16px;
	padding-right: 1rem;
}

@media only screen and (max-width: 767px) {
	.mr-offer-description-employee {
		display: block;
	}
}

.mr-list-hotel-offer {
	text-align: right;
}

.mr-list-hotel-offer .mr-list-hotel-offer-description {
	font-family: Calibri;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 0.77;
	text-align: right;
	color: #9b9b9b;
	display: inline-block;
}

.mr-list-hotel-offer .mr-list-hotel-offer-tag {
	position: relative;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	display: inline-block;
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 767px) {
}

.mr-mobile-address {
	border-right: 1px solid #999898;
	padding-right: 10px;
	padding-right: 0.625rem;
}

.mr-desktop-display-none {
	display: none;
}

@media only screen and (max-width: 767px) {
	.mr-desktop-display-none {
		display: inline-block;
	}
}

.mr-mobile-display-none {
	display: inline-block;
}

@media only screen and (max-width: 767px) {
	.mr-mobile-display-none {
		display: none;
	}
}

.mr-list-hotel-image-wrap {
	position: relative;
	height: 100%;
}

.mr-ShowMore-hotels-list-view {
	text-align: center;
}

.mr-ShowMore-hotels-list-view .mr-showMore-text-hotelsListView {
	font-family: Calibri;
	font-size: 16px;
	font-size: 1rem;
	letter-spacing: 2px;
	letter-spacing: 0.125rem;
	color: var(--primaryColor);
	padding-bottom: 7px;
	padding-bottom: 0.4375rem;
	margin-right: 7px;
	margin-right: 0.4375rem;
	border-bottom: 1px solid var(--primaryColor);
	cursor: pointer;
}

a.mr-hotels-address-link {
	color: inherit;
	text-decoration: none;
}

.mr-list-hotel-offer-tag img {
	width: 112px;
	width: 7rem;
	height: 32px;
	height: 2rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-offer-tag img {
		width: 4.8rem;
		height: inherit;
	}
}

.mr-list-hotel-offer-tag span {
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-offer-tag span {
		font-size: 0.75rem;
		width: 100%;
	}
}