.priceBlock-main-container {
    min-width: 321px;
    min-width: 20.0625rem;
    height: 80px;
    height: 5rem;
    border-radius: 0.13125rem;
    background-color: #f2f2f2;
    display: table;
    padding: 21px 14px;
    padding: 1.3125rem 0.875rem;
    padding-bottom: 13px;
    padding-bottom: 0.8125rem;
}

.priceBlock-innercircle-img-wrap {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    width: 11%;
}

.priceBlock-details-wrap {
    display: table-cell;
    vertical-align: middle;
    width: 88%;
    padding-left: 12px;
    padding-left: 0.76rem;
}

.priceBlock-details-wrap .priceBlockTicEpicure {
    padding-top: 13px;
    padding-top: 0.8125rem;
}

.priceBlock-details-wrap .priceBlockTicEpicure .mr-list-tic-value {
    padding-left: 4px;
    padding-left: 0.3rem;
}

.priceBlock-innercircle-img {
    width: 26px;
    width: 1.625rem;
    height: 25px;
    height: 1.5625rem;
}

.ticEpicureDetails,
.priceBlock-Price {
    display: inline-block;
}

.priceBlock-Price {
    font-family: Calibri;
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.4;
    color: #323232;
}

.priceBlock-Price .diningAveragePriceSymbol {
    color: #979797;
    font-family: RupeeForadian;
    padding-right: 6px;
    padding-right: 0.4rem;
    font-size: 22px;
    font-size: 1.375rem;
}

.priceBlockText {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    color: #4a4a4a;
}