.rate-card-wrap {
    width: 100%;
    font-family: Calibri;
    margin-top: 28px;
    margin-top: 1.75rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

.rate-card-main-section {
    background: #fff;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-main-section {
        padding: 46px 0 0 !important;
        position: relative;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1024px) {
}
.selectSubContainer .selectboxit-container .selectboxit{    color: var(--primaryColorDark);}
.view-photos-container {
    position: absolute;
    left: 18px;
    left: 1.125rem;
    bottom: 18px;
    bottom: 1.125rem;
    height: 35px;
    height: 2.1875rem;
    line-height: 35px;
    line-height: 2.1875rem;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
    padding-left: 10px;
    padding-left: 0.625rem;
    cursor: pointer;
}

.view-photos-container span {
    color: #fff;
    font-size: 14px;
    font-size: 0.875rem;
    margin-left: 10px;
    margin-left: 0.625rem;
    letter-spacing: 1.6px;
    padding-right: 5px;
    padding-right: 0.3125rem;
}

.rate-card-image-container {
    float: left;
    height: 100%;
    position: relative;
    width: 448px;
    width: 28rem;
}

.rate-card-image-container .rate-card-image {
    height: 100%;
    width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-image-container .rate-card-image {
        width: 100%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-card-image-container .rate-card-image {
        width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-image-container {
        float: none;
        height: 191px;
        width: 100%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-card-image-container {
        width: 18rem;
        height: 18.5rem;
    }
}

.rate-card-details-container {
    float: left;
    width: calc(100% - 28rem);
    height: 100%;
    padding: 20px 25px 26px 23px;
    padding: 1.25rem 1.5625rem 1.625rem 1.4375rem;
    border: 1px solid transparent;
    border-left: none;
    position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-details-container {
        float: none;
        width: 100%;
        position: relative;
        padding: 17px 1rem 19px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-card-details-container {
        width: calc(100% - 18rem);
    }
}

.rate-card-room-details {
    float: left;
    width: 70%;
    height: 100%;
}

.rate-card-room-details .rate-card-room-heading {
    font-weight: bold;
    color: #323232;
    font-size: 28px;
    font-size: 1.75rem;
}

@media only screen and (max-device-width: 320px) {
    .rate-card-room-details .rate-card-room-heading {
        font-size: 1.625rem;
    }
}

.rate-card-room-details .rate-card-room-description {
    color: #4a4a4a;
    font-size: 16px;
    font-size: 1rem;
    width: 80%;
    line-height: 1.25;
    margin-top: 5px;
    margin-top: 0.3125rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .rate-card-room-details .rate-card-room-description {
        width: 100%;
        max-height: 80px;
        overflow: hidden;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-card-room-details .rate-card-room-description {
        width: 100%;
    }
}

.rate-card-room-details .rate-card-room-facilities {
    width: 80%;
    margin-top: 15px;
    margin-top: 0.9375rem;
    line-height: 30px;
    line-height: 1.875rem;
}

.rate-card-room-details .rate-card-room-facilities .room-facilities-heading {
    color: #616161;
    font-size: 14px;
    font-size: 0.875rem;
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-room-details .rate-card-room-facilities .room-facilities-heading {
        display: block;
    }
}

.rate-card-room-details .rate-card-room-facilities span {
    margin-right: 12px;
    margin-right: 0.75rem;
    display: inline-block;
}

.rate-card-room-details .rate-card-room-facilities span img {
    width: 22px;
    width: 1.375rem;
    height: 22px;
    height: 1.375rem;
}

.rate-card-room-details .rate-card-room-facilities span span {
    color: #323232;
    font-size: 14px;
    font-size: 0.875rem;
    margin-left: 9px;
    margin-left: 0.5625rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .rate-card-room-details .rate-card-room-facilities span span {
        display: none;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 991px) {
    .rate-card-room-details .rate-card-room-facilities span {
        margin-right: 2rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .rate-card-room-details .rate-card-room-facilities span {
        margin-right: 0.9375rem;
    }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 767px) {
    .rate-card-room-details .rate-card-room-facilities {
        width: 50%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .rate-card-room-details .rate-card-room-facilities {
        width: 66%;
    }
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1024px) {
    .rate-card-room-details .rate-card-room-facilities {
        width: 85%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-card-room-details .rate-card-room-facilities {
        width: 51%;
        margin-top: 5px;
    }
}

.rate-card-room-details .rate-card-view-detials-container {
    margin-top: 23px;
    margin-top: 1.4375rem;
    width: 152px;
    width: 9.5rem;
    font-size: 14px;
    font-size: 0.875rem;
}

.rate-card-room-details .rate-card-view-detials-container img {
    margin-left: 10px;
}

@media only screen and (max-device-width: 374px) {
    .rate-card-room-details .rate-card-view-detials-container img {
        margin-left: 5px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
    .rate-card-room-details .rate-card-view-detials-container {
        margin-top: 8px;
        width: 8.75rem;
        padding: 0;
    }
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1023px) {
    .rate-card-room-details .rate-card-view-detials-container {
        width: 12.875rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-card-room-details .rate-card-view-detials-container {
        margin-top: 2rem;
    }
}

@media only screen and (max-device-width: 374px) {
    .rate-card-room-details .rate-card-view-detials-container {
        margin-top: 8px;
        width: 8.125rem;
        font-size: 12px;
    }
}

.rate-card-room-details .rate-card-view-detials-container:focus {
    outline: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-room-details {
        float: none;
        height: auto;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-card-room-details {
        width: 65%;
    }
}

.rate-card-room-details .rate-card-view-detials-selected {
    background: var(--primaryColorLighter);
}

.rate-card-room-details .rate-card-view-detials-selected img {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media only screen and (max-device-width: 767px) {
    .room-rate-points-wrap {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.rate-card-room-rate-container {
    float: left;
    width: 30%;
    height: 100%;
    text-align: right;
}

.rate-card-room-rate-container .rate-card-striked-rate {
    float: right;
    font-size: 20px;
    font-size: 1.25rem;
    text-decoration: line-through;
    font-family: RupeeForadian;
    color: #4a4a4a;
    opacity: 0.58;
    line-height: 45px;
    line-height: 2.8125rem;
    margin-right: 20px;
    margin-right: 1.25rem;
}

.rate-card-room-rate-container .rate-card-striked-rate span {
    font-family: Calibri;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .rate-card-room-rate-container .rate-card-striked-rate {
        font-size: 1.2rem;
        margin-right: 5px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-card-room-rate-container .rate-card-striked-rate {
        font-size: 1.1rem;
        margin-right: 5px;
    }
}

.rate-card-room-rate-container .room-rate-wrap {
    position: absolute;
    bottom: 26px;
    bottom: 1.625rem;
    right: 25px;
    right: 1.5625rem;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
    .rate-card-room-rate-container .room-rate-wrap {
        position: absolute;
        right: 1rem;
        bottom: 19px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
    .rate-card-room-rate-container .room-rate-wrap {
        bottom: 1.1875rem;
        right: 0.9375rem;
    }
}

@media only screen and (max-device-width: 320px) {
    .rate-card-room-rate-container .room-rate-wrap {
        min-width: 166px;
    }
}

.rate-card-room-rate-container .rate-card-actual-rate {
    float: right;
    font-size: 30px;
    font-size: 1.875rem;
    font-family: RupeeForadian;
    color: #4a4a4a;
    font-weight: bold;
    margin-right: -10px;
    margin-right: -0.625rem;
}

.rate-card-room-rate-container .rate-card-actual-rate span {
    font-family: Calibri;
}
.ama-theme .rate-card-room-rate-container .rate-card-actual-rate span{
    font-family: var(--themeHeadingFontSemiBold);
}

.rate-card-room-rate-container .rate-card-actual-rate span:nth-child(2) {
    font-size: 16px;
    font-size: 1rem;
    vertical-align: super;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 416px) {
    .rate-card-room-rate-container .rate-card-actual-rate {
        font-size: 1.6rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-card-room-rate-container .rate-card-actual-rate {
        font-size: 1.5rem;
    }
}

.rate-card-room-rate-container .rate-card-text-container {
    color: #9b9b9b;
    font-size: 16px;
    font-size: 1rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-room-rate-container .rate-card-text-container {
        line-height: 10px;
        font-size: 14px;
    }
}

.rate-card-room-rate-container .rate-card-disclaimer span {
    margin-left: 10px;
    margin-left: 0.625rem;
    color: #d0021b;
}

@media only screen and (max-device-width: 320px) {
    .rate-card-room-rate-container .rate-card-disclaimer span {
        margin-left: 0;
    }
}

@media only screen and (max-device-width: 375px) {
    .rate-card-room-rate-container .rate-card-disclaimer {
        font-size: 0.8rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-card-room-rate-container .rate-card-disclaimer {
        font-size: 0.75rem;
    }
}

.rate-card-room-rate-container .more-rates-button {
    margin-top: 24px;
    margin-top: 1.5rem;
    width: 166px;
    width: 10.375rem;
}

.rate-card-room-rate-container .more-rates-button img {
    margin-left: 10px;
    margin-left: 0.625rem;
    vertical-align: baseline;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-room-rate-container .more-rates-button {
        margin-top: 5px;
    }
}

@media only screen and (max-device-width: 375px) {
    .rate-card-room-rate-container .more-rates-button {
        width: 8.8rem;
        font-size: 0.875rem;
    }
}

@media only screen and (max-device-width: 320px) {
    .rate-card-room-rate-container .more-rates-button {
        width: 115px;
        font-size: 10px;
    }
}

.rate-card-room-rate-container .more-rates-button-selected {
    background-color: var(--primaryColorLighter);
    border: solid 1px var(--primaryColor);
    color: var(--primaryColor);
    background-image: none;
    outline: none;
}

.rate-card-room-rate-container .more-rates-button-selected img {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rate-card-room-rate-container .room-rate-points {
    font-size: 16px;
    font-size: 1rem;
    color: #9b9b9b;
}

.rate-card-room-rate-container .room-rate-points span:first-child,
.rate-card-room-rate-container .room-rate-points span:nth-child(3) {
    color: var(--primaryColorDark);
}

.rate-card-room-rate-container .room-rate-points span {
    margin-left: 3px;
    margin-left: 0.2rem;
}

.rate-card-room-rate-container .room-rate-points span:nth-child(2) {
    border-right: 1px solid #c3c3c3;
    padding-right: 8px;
    padding-right: 0.5rem;
}

.rate-card-room-rate-container .room-rate-points span:nth-child(3) {
    margin-left: 8px;
    margin-left: 0.5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-room-rate-container .room-rate-points {
        display: none;
    }
}

.rate-card-room-rate-container .room-rate-discount {
    color: #9b9b9b;
    font-size: 13px;
    font-size: 0.8125rem;
    height: 30px;
    height: 1.875rem;
    line-height: 30px;
    line-height: 1.875rem;
    position: relative;
}

.rate-card-room-rate-container .room-rate-discount span {
    position: absolute;
    right: 80px;
    right: 5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-room-rate-container .room-rate-discount span {
        margin-right: 5px;
        position: unset;
    }
}

.rate-card-room-rate-container .room-rate-discount div {
    color: #fff;
    font-size: 13px;
    font-size: 0.825rem;
    width: 80px;
    width: 5rem;
    position: absolute;
    right: 0;
}

.rate-card-room-rate-container .room-rate-discount div img {
    width: 100%;
}

.rate-card-room-rate-container .room-rate-discount div div {
    right: 11px;
    right: 0.7rem;
    top: 3px;
    top: 0.2rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-room-rate-container .room-rate-discount div div {
        top: -1.6875rem;
        right: 7px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-room-rate-container .room-rate-discount div {
        position: absolute;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-room-rate-container {
        float: none;
        width: 60%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .rate-card-room-rate-container {
        width: 35%;
        margin-top: 14px;
    }
}

@media only screen and (max-device-width: 320px) {
    .rate-card-room-rate-container {
        top: 14px;
    }
}

.room-rate-points-mobile-wrap {
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    width: 100%;
}

.room-rate-points-mobile-wrap .room-rate-points-mobile {
    width: 150px;
    width: 9.4rem;
    display: none;
    font-size: 16px;
    font-size: 1rem;
    color: #9b9b9b;
    border-bottom: solid 1px var(--primaryColor);
}

.room-rate-points-mobile-wrap .room-rate-points-mobile span:first-child,
.room-rate-points-mobile-wrap .room-rate-points-mobile span:nth-child(3) {
    color: var(--primaryColorDark);
}

.room-rate-points-mobile-wrap .room-rate-points-mobile span {
    margin-left: 3px;
    margin-left: 0.2rem;
}

.room-rate-points-mobile-wrap .room-rate-points-mobile span:nth-child(2) {
    border-right: 1px solid #c3c3c3;
    padding-right: 8px;
    padding-right: 0.5rem;
}

.room-rate-points-mobile-wrap .room-rate-points-mobile span:nth-child(3) {
    margin-left: 8px;
    margin-left: 0.5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .room-rate-points-mobile-wrap .room-rate-points-mobile {
        display: block;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .room-rate-points-mobile-wrap {
        padding: 15px 13px 15px 13px;
    }
}

.rate-card-details-section {
    width: 100%;
    background: #fff;
    height: auto;
    margin-top: 10px;
    margin-top: 0.625rem;
    color: #4a4a4a;
    display: none;
}

.rate-card-details-section .rate-card-details-border-box {
    display: table-cell;
    width: 6px;
    width: 0.375rem;
    background-image: var(--linearGradient);
}

.rate-card-details-section .heading {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #323232;
    margin-bottom: 11px;
}

.rate-card-details-section .rate-card-room-details-wrap {
	vertical-align:top;
    width: 41.6%;
    display: table-cell;
    padding: 38px 0 29px 39px;
    padding: 2.375rem 0 1.8125rem 2.4375rem;
    height: 100%;
    border-right: solid 1px #e5e3e3;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-details-section .rate-card-room-details-wrap {
        display: block;
        width: 100%;
        padding-left: 0.875rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-details-section .rate-card-room-details-wrap .content {
        max-height: 78px;
        overflow: hidden;
    }
}

.rate-card-details-section .rate-card-service-details-wrap {
    width: 57.9%;
    display: table-cell;
    padding: 38px 27px 29px 39px;
    padding: 2.375rem 1.6875rem 1.8125rem 2.4375rem;
}

.rate-card-details-section .rate-card-service-details-wrap ul {
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    list-style: none;
    padding-left: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-details-section .rate-card-service-details-wrap .service-details-subsection-container {
        display: none;
    }
}

.rate-card-details-section .rate-card-service-details-wrap .service-details-subsection {
    float: left;
    width: 50%;
    margin-top: 27px;
    margin-top: 1.6875rem;
    padding-right: 12px;
    padding-right: 0.75rem;
}

.rate-card-details-section .rate-card-service-details-wrap .service-details-subsection-show-more {
    display: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--primaryColor);
    margin-top: 10px;
    margin-top: 0.625rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-details-section .rate-card-service-details-wrap .service-details-subsection-show-more {
        display: block;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate-card-details-section .rate-card-service-details-wrap {
        display: block;
        width: 100%;
        padding-top: 0;
        padding-left: 0.875rem;
    }
}

.rate-card-more-rates-section {
    display: none;
}

.visible-table {
    display: table;
}

.select-border {
    border: 1px solid var(--primaryColor);
    border-left: none;
}

.room-details-show-more {
    font-family: Calibri;
    color: var(--primaryColor);
    cursor: pointer;
    font-weight: bold;
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .room-details-show-more {
        display: block;
    }
}

.room-details-show-less {
    font-family: Calibri;
    color: var(--primaryColor);
    cursor: pointer;
    font-weight: bold;
    display: none;
}
