.hotel-dining-reserve-table-wrap {
    cursor: pointer;
}

.mr-reserve-table-select-wrap {
    border-right: 1px solid #9b9b9b;
}

@media only screen and (max-width: 991px) {
    .mr-reserve-table-select-wrap {
        border-right: unset;
        margin-bottom: 1.025rem;
    }
}
.mr-no-restaruant-booking-enabled{
	text-align:center;
}

.hotel-dining-reserve-table-container .row{
	width:100%;
}

.hotel-dining-reserve-table-container {
	position:relative;
    height: 62px;
    height: 3.875rem;
    left: 12px;
    left: 0.75rem;
    background-color: #f2f2f2;
    padding: 13px 33px;
    padding: 0.8125rem 2.0625rem;
    margin-top: 16px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-dining-reserve-table-container .col-lg-3.col-12:nth-child(3) .mr-reserve-table-select-wrap {
    border-right: unset;
}

@media only screen and (max-width: 991px) {
    .hotel-dining-reserve-table-container .col-lg-3.col-12 {
        padding-right: 0px ! important;
        padding-left: 0px ! important;
    }
}

@media only screen and (max-width: 991px) {
    .hotel-dining-reserve-table-container {
        padding: 1.4375rem 1.3125rem;
        width: 100%;
        height: inherit;
        margin: 0 auto;
        left: 0rem;
    }
}

.hoteld-dining-border-decorator {
    position: absolute;
    left: -10px;
    left: -0.625rem;
    top: 0px;
    top: 0rem;
    background: var(--linearGradient);
    width: 10px;
    width: 0.625rem;
    height: 62px;
    height: 3.875rem;
}

@media only screen and (max-width: 991px) {
    .hoteld-dining-border-decorator {
        display: none;
    }
}

.mr-reserveTable-select-label {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.3rem;
    color: #1b1b1b;
}

@media only screen and (max-width: 991px) {
    .mr-reserveTable-select-label {
        display: block;
        font-size: 1rem;
    }
}

.selectSubContainer.mr-reserveTable-select-wrap {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    margin-left: 1rem;
}

@media only screen and (max-width: 991px) {
    .selectSubContainer.mr-reserveTable-select-wrap {
        display: block;
        margin-left: 0rem;
        width: unset;
    }
}

.mr-reserveTable-select-wrap.number-of-people {
    width: 48px;
    width: 3rem;
}

@media only screen and (max-width: 991px) {
    .mr-reserveTable-select-wrap.number-of-people {
        width: unset;
    }
}

.mr-reserve-table-button-wrap {
    text-align: right;
}

@media only screen and (max-width: 991px) {
    .mr-reserve-table-button-wrap {
        text-align: center;
        margin-top: 1rem;
    }
}

.mr-date-reserveTable-input {
    background-color: inherit;
    border-bottom: 2px solid rgba(27, 27, 27, 0.3) ! important;
}

@media only screen and (max-width: 991px) {
    .mr-date-reserveTable-input {
        border-bottom: 1px solid var(--primaryColor) ! important;
    }
}

.jiva-spa-date-con.event-quote-date-con.mr-reserveTable-dateStyling {
    width: 85%;
}

@media only screen and (max-width: 991px) {
    .jiva-spa-date-con.event-quote-date-con.mr-reserveTable-dateStyling {
        width: 100%;
    }
}

.jiva-spa-date-con.event-quote-date-con.mr-reserveTable-dateStyling .mr-date-reserveTable-input-icon {
    top: 8px;
    top: 0.5rem;
}

.mr-reserve-table-select-wrap.mr-numberOfPeopleReserveStyling.mr-mealType {
    border-right: unset;
}
