<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.events'}" />
<div>${properties.eventDate}</div>
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<div>
	<div>
    	<span class="event-name">${properties.eventName}</span>
        <span>${properties.eventLoc}</span>
        <span>${properties.ticketsAvail}</span>


    </div>
	<div>
		<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.eventsImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />
        <div>${properties.eventDescription @context='html'}</div>
	</div>
</div>