<div data-sly-test.edit=${wcmmode.edit}>
	<h1>Edit to Configure the Jiva Spa Treatment Component</h1>
</div>
<div data-sly-test="${properties.treatmentName}" data-sly-unwrap>
	<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
		data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
		data-sly-call="${clientlib.all @ categories='tajhotels.jivaspaTreatment'}" />

	<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
		data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
		data-sly-call="${clientlib.all @ categories='taj.hotels.components.jiva-spa-card'}" />
	<sly
		data-sly-use.JivaSpaList="com.adobe.cq.wcm.core.components.models.List"
		data-sly-use.template="core/wcm/components/commons/v1/templates.html">


	<div class="jiva-spa-details-con cm-content-blocks">
		<div class="jiva-spa-show-more-con">
			<div class="row">
				<sly data-sly-list.listItem="${JivaSpaList.items}">
				<sly
					data-sly-resource="${ '{0}' @ format=[listItem.path], resourceType='tajhotels/components/content/jiva-spa-card' }"></sly>
				</sly>
			</div>
		</div>

	</div>
</div>

