<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ ADOBE CONFIDENTIAL
  ~ __________________
  ~
  ~  Copyright 2014 Adobe Systems Incorporated
  ~  All Rights Reserved.
  ~
  ~ NOTICE:  All information contained herein is, and remains
  ~ the property of Adobe Systems Incorporated and its suppliers,
  ~ if any.  The intellectual and technical concepts contained
  ~ herein are proprietary to Adobe Systems Incorporated and its
  ~ suppliers and are protected by trade secret or copyright law.
  ~ Dissemination of this information or reproduction of this material
  ~ is strictly forbidden unless prior written permission is obtained
  ~ from Adobe Systems Incorporated.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<!--/*
    Template used for including CSS client libraries
*/-->
<template data-sly-template.css="${@ categories='Client Library categories'}">
    <section data-sly-test="${request.getResourceResolver}"
             data-sly-use.clientlib="${'/apps/tajhotels/asyncclientlib/sightly/templates/graniteClientLib.html'}"
             data-sly-call="${clientlib.include @ categories=categories, mode='css'}"
             data-sly-unwrap>
    </section>
</template>

<!--/*
    Template used for including JS client libraries
*/-->
<template data-sly-template.js="${@ categories='Client Library categories'}">
    <section data-sly-test="${request.getResourceResolver}"
             data-sly-use.clientlib="${'/apps/tajhotels/asyncclientlib/sightly/templates/graniteClientLib.html'}"
             data-sly-call="${clientlib.include @ categories=categories, mode='js'}"
             data-sly-unwrap>
    </section>
</template>

<!--/*
    Template used for including ALL client libraries
*/-->
<template data-sly-template.all="${@ categories='Client Library categories'}">
    <section data-sly-test="${request.getResourceResolver}"
             data-sly-use.clientlib="${'/apps/tajhotels/asyncclientlib/sightly/templates/graniteClientLib.html'}"
             data-sly-call="${clientlib.include @ categories=categories}"
             data-sly-unwrap>
    </section>
</template>