@rem: 16rem;
.awards-container {
    width: 100%;
    background: #ffffff;
    @media only screen and (max-width: 767px) {
        background: transparent;
    }
}

.awards-wrap {
    margin: 0 (100 / @rem);
    overflow-x: scroll;
    @media only screen and (max-width: 991px) {
        margin: 0 20 / @rem;
    }

    @media only screen and (max-width: 767px) {
        margin: 0;
        overflow-x: scroll;
        .clearfix {
            .awards-card {
                display: inline-block;
                padding: (24 / @rem) (30 / @rem) (30 / @rem) ! important;
                width: auto ! important;
            }
        }
    }
}

.awards-wrap {
    .clearfix {
        .awards-card.col-md-12 {
            @media only screen and (max-width: 767px) {
                width: 100% ! important;
            }

            @media only screen and (min-width: 768px) {
                text-align: left;
                padding: (34 / @rem) 0 ! important;
                .awards-image {
                    display: inline-block;
                    vertical-align: middle;
                    width: (82 / @rem);
                    height: (108 / @rem);
                    margin-right: (47 / @rem);
                    width: 9.125rem;
                    height: 9.75rem;
                }

                .award-info-wrp {
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                    .awards-description {
                        display: inline-block;
                        max-width: (550 / @rem);
                        text-align: left;
                    }

                    .award-title {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.awards-card {
    background-color: #ffffff;
    padding: (57 / @rem) (52 / @rem) ! important;
    text-align: center;
	
	img{
		width: 10rem;
		height: 6rem;
	}
    .icon-taj-brand-reward{
        font-size: 6rem;
    }
    @media only screen and (max-width: 991px) and (min-width: 768px) {
        padding: 28 / @rem 25 / @rem ! important;
    }

    .awards-image {
        width: (68 / @rem);
        height: (90 / @rem);
    }

    .award-title {
        font-family: Calibri-bold;
        font-size: 20px;
        color: #323232;
        margin: 0 0 0.625rem;
    }

    .awards-description {
        margin: 0 auto;
        font-family: Calibri;
        font-size: (16 / @rem);
        line-height: 1.38;
        text-align: justify;
        color: #323232;
    }
}

