<template data-sly-template.event="${@ eventDetails}">
    <div class="monthly-event-card col-md-6 col-xs-12">
        <div class="monthly-even-card-container">
            <sly data-sly-test="${eventDetails.eventOpeningDateDesk && eventDetails.eventOpeningDateMob }">
            <div class="card-header">
                <i class="offer-icon icon-clock"></i>
                <p class="offer-timings">
                    <span class="offer-timings-regular-text">${eventDetails.eventOpeningDateDesk}</span>
                    <span class="offer-timings-shorter-text">${eventDetails.eventOpeningDateMob}</span>
                </p>
            </div>
            </sly>
            <div class="card-image cm-bg-container"
                 data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                <sly data-sly-call="${imagetemplate.damImageTemplate @
                imagePath=eventDetails.eventImage,
                renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg',
                lazyLoad='true',
                styleClass='cm-bg-image'}"></sly>
            </div>
            <div class="card-footer">
                <div class="event-info-wrp">
                    <div class="event-title">${eventDetails.eventTitle}</div>
                    <div class="event-venue">${eventDetails.eventLocation}</div>
                </div>
                <sly data-sly-test="${eventDetails.eventLinkUrl}">
                    <sly data-sly-use.urlMapEventDetails="${'tajhotels/components/structure/tajhotels-base-page/url-map.js' @ reqUrl=eventDetails.eventLinkUrl}" />
                    <div class="event-info-right">
                        <a href="${urlMapEventDetails.mappedUrl}">
                            <button class="cm-btn-secondary view-details-button" tabindex = "-1">${eventDetails.eventLinkText}</button>
                        </a>
                    </div>
				</sly>
            </div>
        </div>
    </div>
</template>