
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='taj.hotels.upcoming-events'}"></sly> 

<sly data-sly-use.model="com.ihcl.core.models.UpcomingEvents" data-sly-use.eventTemplate="events-template.html">
    <div class="months-hotels-container cm-content-blocks">
        <sly data-sly-resource="${'upcoming-events-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly>
        <div>
            <div class="row" data-sly-list="${model.events}">
                <sly data-sly-call="${eventTemplate.event @ eventDetails=item}"></sly>
            </div>
        </div>
    </div>
</sly>