<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="theme-color" content="#d29751">
<sly data-sly-test="${!properties.isCrawlabel}">
 <meta name="robots" content="noindex">
</sly>
<meta data-sly-test.keywords="${properties.seoKeywords}" name="keywords" content="${properties.seoKeywords}"/>
<meta data-sly-test.description="${properties.seoDescription}" name="description" content="${properties.seoDescription}"/>
<sly data-sly-test.hrefLangTags="${properties.seoMetaTag}" >
    ${properties.seoMetaTag @context="unsafe"}
</sly>
<meta data-sly-test.googleSiteVerification="${properties['jcr:google-site-verification']}" name="google-site-verification" content="${googleSiteVerification}"/>
<meta data-sly-test.canonical="${properties.canonical}" name="canonical" content="${properties.canonical}"/>
<!-- google webmaster code and bing webmaster code (will be included only for home page -->
<div data-sly-test.googleWebmasterCode="${properties.googlewmc}" data-sly-unwrap>
   ${googleWebmasterCode @context="unsafe"}
</div>
<div data-sly-test.bingWebmasterCode="${properties.bingwmc}" data-sly-unwrap>
  ${bingWebmasterCode @context="unsafe"}
</div>

