<div class="hotel-overview breadcrumb">

    <a class="breadcrumbLink ${inheritedPageProperties.sitePath}" href="/en-in.html">${currentPage.parent.parent.properties.pageTitle}</a> > ${currentPage.title}
</div>