<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='tajhotels.redeem-reward-form'}"/>
<div class="redeem-reward-form">
    <div class="cm-content-blocks">
        <div class="card-redemption-succesfull cart-empty-state-con visible">
            <div class="cart-empty-state-wrap">
                <div class="cart-empty-state-inner-wrap">
                    <div class="cart-empty-title-text success">
                        ${properties.successHeading}
                    </div>
                    <div class="cart-empty-detail-text success">
                        ${properties.successMessage}
                    </div>
                    <div class="cart-empty-detail-text">
                        ${properties.buttonDescription}
                    </div>
                    <a href="${properties.redeemRedirect}.html">
                        <button class="cm-btn-secondary">
                            ${properties.ctaText}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
