@rem: 16rem;
 .concierge-Recommends {
     overflow-y: hidden;
 }

 .concierge-Recommends-wrapper {
     display: inline-block;
 }
.conceirge-button-wrap {
     .conceirge-local {
         @media only screen and (max-width: 991px) {
             font-size: 13/@rem;
         }
         @media only screen and (max-width: 575px) {
             font-size: 10/@rem;
         }
     }
 }

 .conceirge-local-button {
     position: relative;
     bottom: 0;
 }

 .show-popUp-local-place-details {
     display: none;
 }

 .mr-experinces-title.conceirge-title {
     @media only screen and (max-width: 991px) {
         font-size: 20/@rem;
     }
 }

 .mr-experinces-detailsButton-wrap.conceirge-button-wrap {
     position: absolute;
     left: 32/@rem;
     right: 32/@rem;
     bottom: 19/@rem;
     @media only screen and (max-width: 991px) {

         left: 16/@rem;
         right: 16/@rem;
         bottom: 16/@rem;
     }
 }

 .concierge-local .mr-experinces-details-wrap,
 .concierge-local .mr-experinces-Button-wrap {
     vertical-align: middle;
 }

 .concierge-local .mr-experiences-images-wrap {
     background: #ccc;
 }

 .concierge-local .recommended-experiences-wrap {
     position: relative;
     height: 100%;
     background-color: #ffffff;
     
     .mr-experinces-sub-title {
      font-family: Calibri;
     font-size: 1rem;
     color: rgba(123, 122, 122, 0.98);
         padding-bottom: 45/@rem;
         @media only screen and (max-width: 991px) {
             padding-bottom: 75/@rem;
         }
     }
 }