.hotel-overview-container {
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    min-height: 500px;
    .mr-carousel-Content-wrap {
        display: block;
    }
    @media only screen and (max-width: 991px) {
        margin-left: 0;
        margin-right: 0;
    }
    @media only screen and (max-width: 767px) {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.hotel-overview-wrapper {
    width: 96%;
    padding-top: 25px;
    padding-bottom: 35px;
}

.ho-single-img-con {
    margin-bottom: 26px !important;
}

.ho-multi-image img {
    height: 15.0625rem; //width: 11.4375rem;
}

.overview-images-section {
    @media only screen and (max-width: 991px) {
        display: none;
    }
}

.overview-images-section [class*="col-"] {
    padding-right: 0.8125rem !important;
    padding-left: 0.8125rem !important;
}

.ho-services-show-all-con,
.ho-services-show-less-con {
    @media only screen and (max-width: 767px) {
        display: none;
    }
}

.ho-services-show-txt {
    display: table;
}

.ho-services-each-wrap {
    display: table;
    width: 100%;
}

.ho-service-icon {
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
}

.view-photo-link-con {
    text-align: right;
    padding-right: 0.8125rem !important;
    margin-bottom: 16px;
}

.ho-btns-section {
    margin-top: 16px;
    .add-to-wishlist-btn {
        margin-right: 16px;
        vertical-align: top;
    }
}

.ho-overview-description {
    color: #323232;
    font-size: 1rem;
    font-family: Calibri;
    @media only screen and (max-width: 320px) {
        font-size: 0.75rem;
    }
}

.ho-header {
    font-family: Calibri-Bold;
    font-size: 2.25rem;
    line-height: initial;
    @media only screen and (max-width: 991px) {
        font-size: 1.5rem;
    }
}

.ho-cm-link-txt {
    font-size: 0.875rem;
    letter-spacing: normal;
    text-transform: none;
    margin-top: 0.25rem;
    font-family: calibri;
    @media only screen and (max-width: 375px) {
        font-size: 0.75rem;
    }
}

.ho-cm-icon {
    margin-right: 3px;
    @media only screen and (max-width: 375px) {
        height: 14px;
        width: 14px;
    }
}

.ho-contact-options-con {
    margin: 12px 0;
    .ho-contact-number {
        padding: 3px 0 2px;
        position: relative;
        margin-right: 3rem;
        @media only screen and (max-width: 340px) {
            margin-right: 1rem;
        }
    }
    .ho-contact-number:after {
        content: "";
        position: absolute;
        height: 20px;
        width: 1px;
        background-color: #c3c3c3;
        right: -24px;
        bottom: 2px;
        @media only screen and (max-width: 320px) {
            right: -10px;
        }
    }
}

.ho-header-small {
    font-family: Calibri-Bold;
    color: #323232;
    font-size: 1.25rem;
    margin-top: 25px;
    margin-bottom: 10px;
    line-height: initial;
    @media only screen and (max-width: 991px) {
        font-size: 1.125rem;
    }
    @media only screen and (max-width: 320px) {
        font-size: 0.875rem;
    }
}

.ho-items-list {
    padding-left: 0;
    .ho-each-items {
        width: 32.5%;
        margin-bottom: 15px;
        vertical-align: top;
        @media only screen and (max-width: 991px) {
            //width: initial;
            width: 49%; //margin-right: 26px;
            &:last-child {
                margin-right: 1.625rem;
            }
        }
        @media only screen and (max-width: 320px) {
            //margin-right: 22px;
            width: 100%;
        }
    }
    .ho-service-name {
        font-family: Calibri;
        color: #323232;
        margin-left: 0.625rem;
        font-size: 0.875rem;
        display: table-cell;
        vertical-align: middle;
        padding-right: 5px;
        width: 80%;
        @media only screen and (max-width: 320px) {
            width: 85%;
        }
    }
}

.ho-hotel-policies-con {
    .ho-each-policy-list {
        font-family: Calibri;
        color: #323232;
        font-size: 1rem;
        @media only screen and (max-width: 320px) {
            font-size: 0.75rem;
        }
    }
}

.ho-hotel-essentials-con {
    .ho-each-essential-item.normal-txt {
        font-size: 1rem;
        font-family: Calibri;
        color: #000;
        position: relative;
        border: none;
        padding-right: 0;
        margin-right: 0;
        @media only screen and (max-width: 991px) {
            font-size: 0.875rem;
        }
    }
    .ho-each-essential-item {
        border-right: 1px solid #000;
        padding-right: 0.5rem;
        line-height: 1;
        margin-right: 0.25rem;
        @media only screen and (max-width: 991px) {
            font-size: 0.75rem;
        }
    }
    /*.ho-each-essential-item:after {
        content: "";
        position: absolute;
        height: 20px;
        width: 1px;
        background-color: #c3c3c3;
        right: -25px;
        bottom: 2px;
    };*/
}

.ho-inner-carousal-cards {
    height: 12.1875rem;
}

.hotel-overview-carousel-wrap {
    .cm-inner-carousal-cards:first-child {
        margin-left: 0 !important;
    }
}

.ho-third-section {
    margin-top: 25px;
}

.ho-view-gallery-txt {
    margin-top: 14px;
}

.disabled .ho-mail-to-txt {
    color: #9b9b9b;
    font-size: 0.875rem;
}