 @rem: 16rem;
 .cm-local-details-container {
     position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     display: none;
     z-index: 100;
  
     .active {
         display: block !important;
     }
     .cm-local-details-overLay.bas-overlay {
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         background: rgba(74, 74, 74, 0.55);
     }
     .cm-local-details {
         position: absolute;
         width: 83%;
         background: #ffffff;
         box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
         top: 10%;
         left: 0;
         right: 0;
         margin: auto;
         @media only screen and (max-width: 991px) {
             width: 90%;
             top: 3%;
             height:94%;
         }
         
         @media only screen and (min-width: 768px) and (max-width: 991px) {
         	height: 90%;
         }
         .loc-details-close-cont {
             height: 38/@rem;
             width: 100%;
             .showMap-close {
                 width: 24/@rem;
                 height: 24/@rem;
                 position: absolute;
                 top: 20/@rem;
                 right: 20/@rem;                 
             }
         }
         .loc-details-wrapper {
             margin: 20/@rem 50/@rem 50/@rem;
             @media only screen and (max-width: 991px) {
                 margin: 0;
                 padding: 20px;
                 padding: 1.25rem;
                 max-height:85%;
                 overflow:auto;
             }
             .loc-details-container {
                 @media only screen and (max-width: 480px) {
                     padding-left: 0 !important;
                     padding-right: 0 !important;
                 }
                 @media only screen and (min-width: 992px) {
                     padding-right: 16px;
                     padding-right: 1.5rem;
                 }
             }
             .loc-image-container {
          		 height: 26.5rem;
           		 background: #ccc;
                 @media only screen and (max-width: 480px) {
                     padding-left: 0 !important;
                     padding-right: 0 !important;
                 }
                 @media only screen and (min-width: 992px) {
                     /*padding-left: 24/@rem;*/
                 }
                 @media only screen and (max-width: 991px) {
                     margin-top: 14/@rem;
                 }
                 @media only screen and (max-width: 991px) {
                     height: 12.25rem;
                 }
                 img {
                     width: 100%;
                 }
             }
         }
     }
     .local-details-close {
		    width: 1.5rem;
    	height: 1.5rem;
    	position: absolute;
    	top: 0.625rem;
    	right: 0.625rem;
    	cursor: pointer;
    }
 }

 .second-section {
     margin-top: 24/@rem;
     font-family: Calibri;
     font-size: 1rem;

     &.for-mobile {
         display: none;
         .second-section-header {
             font-size: 0.875rem;
         }
         @media only screen and (max-width: 991px) {
             width: 100%;
             display: block;
             margin-top: 20/@rem;
         }
     }
     &.for-desktop {
         @media only screen and (max-width: 991px) {
             display: none;
         }
     }
     .second-section-details-wrapper {
         margin-top: 12/@rem;
         .sec-img-cont {
             width: 18%;
             display: inline-block;
             @media only screen and (max-width: 991px) {
                 width: 22%;
             }
             img {
                 width: 100%;
             }
         }
         .sec-detail-cont {
             width: max-content;
             display: inline-block;
             vertical-align: middle;
             margin-left: 2rem;
             @media only screen and (max-width: 340px) {
                 margin-left: 12/@rem;
             }
             .sec-detail-header {
                 font-size: 1rem;
                 color: #4a4a4a;
                 font-family: Calibri-Bold
             }
             .sec-details-about {
                 font-size: 0.875rem;
                 color: #1d1d1d;
                 font-family: Calibri;
             }
         }
     }
 }

 .conceirge-local.ho-mail-to {
     display: inline-block;
     div {
         margin-top: 10/@rem;
     }
     @media only screen and (max-width: 991px) {
         display: block;
         margin-left: 0 !important;
     }
 }

 .ho-contact-options-con .conceirge-local.ho-mail-to:after {
    //  left: -24px;
    //  content: "";
    //  @media only screen and (max-width: 768px) {
         display: none;
    //  }
 }

 .ho-contact-options-con .ho-contact-number:after {
     right: -24px;
     content: "";
     @media only screen and (max-width: 768px) {
         display: none;
     }
 }

 .ho-contact-options-con .ho-mail-to.local-city:after {
     right: -24px;
     content: "";
     @media only screen and (max-width: 768px) {
        display: none;
    }
 }


 .ho-contact-options-con .ho-mail-to.local-city {
     @media only screen and (max-width: 340px) {
         margin-left: 0rem;
     }
 }


 .loc-image-container {
     img {

         @media only screen and (max-width: 767px) {
             height: 196/@rem;
         }
         @media only screen and (min-width: 768px) and (max-width: 991px) {
             height: 26.5rem;
         }
         @media only screen and (min-width: 992px) {
             /*height: 497/@rem;*/
             height: 100%;
         }
     }
 }
 //for small icon
 .ho-cm-icon{
object-fit:contain; }