@rem : 16rem;
.recom-experiences-wrap {
    float: left;
}

.recom-experiences-wrap:first-child {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        margin-left: 0!important;
    }
}

.mr-experiences-image-recommended {
    width: 100%;
    height: 25rem;
}

.mr-experiences-description-wrap {
    min-height: 7.125rem;
    padding: 1.1875rem 2rem;
    background-color: #ffffff;
    @media only screen and (max-width: 991px) {
        padding:1rem;
    }
}

.mr-experinces-title {
    font-family: Calibri;
    font-size: 1.5rem;
    line-height: 0.92;
    text-align: left;
    color: #323232;
    padding-bottom: 0.625rem;
   
}

.mr-experinces-details-location {
    font-family: Calibri;
    font-size: 1rem;
    line-height: 1.25;
    text-align: left;
    color: #9b9b9b;
    .conceirge-local {
        font-size: 0.75rem;
    }
}

.mr-experinces-details-wrap,
.mr-experinces-Button-wrap {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.experience-button-styles {
    float: right;
    @media only screen and (max-width: 767px) {
        font-size: 0.75rem;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding: 0 0.3rem;
    }
}