<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.contact-us-miscellaneous'}" />
<div class="mr-contact-us-miscellaneous cm-content-blocks">
	<div class="cm-header-label-con title-decorator-border">
		<sly
			data-sly-use.model="com.ihcl.core.models.ContactUsMiscellaneousModel">
		<h2 class="cm-header-label">Miscellaneous</h2>
	</div>
	<div class="contact-us-miscellaneous-wrapper">

		<sly data-sly-list.misc="${model.misc}">
		<div class="contact-us-container">
			<div class="contact-us-miscellaneous-header-wrapper">
				<div class="contact-us-miscellaneous-header">${misc.MiscellaneousType}</div>
				<img class="image-view"
					src="/content/dam/tajhotels/icons/style-icons/dropDown.svg" alt = "dropdown-icon"/>
			</div>
			<div class="contact-us-miscellaneous-details-wrapper">
				<div class="details-header">${misc.HotelName}</div>
				<div class="details-address">
					<span class="highlight">Address :</span><span>${misc.Address}</span>
				</div>
				<div class="details-contact">
					<span class="highlight">Contact :</span><span>${misc.ContactNumber}</span>
				</div>
			</div>
		</div>
	</div>
	</sly>
	</sly>
</div>