<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihclcb.ResetUserDetails'}" />
<div class="ihclcb-reset-booking-overlay">
    <div class="ihclcb-reset-booking-container">
        <img class="ihclcb-reset-booking-popup-close-icon" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg"
            alt="Close icon">
        <div class="ihclcb-reset-booking-confirm-wrapper">
            <div class="ihclcb-reset-booking-heading">${properties.resetBookingTitle}</div>
            <div class="ihclcb-reset-booking-desc">${properties.resetBookingSubtitle}</div>

            <div class="ihclcb-reset-booking-btn-cont">
                <button class="cm-btn-primary ihclcb-reset-booking-back-btn" type="button">${properties.cancelButtonTitle}</button>
                <button class="cm-btn-secondary ihclcb-reset-booking-confirm-btn" type="button">${properties.proceedButtonText}</button>
            </div>
        </div>
    </div>
</div>

