<sly data-sly-template.itemTemplate="">

	<template type="amp-mustache" id="searchResultItemNew">
    <div   [hidden]="'{{destinations}}' ? false: true">
            <p  class="category-header ama-result-item" style="display:block">
                <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                <span>Destinations</span>
            </p>

            {{#destinations}}
            <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
                 tabindex="0"
                 role="search-result">
                <span>{{title}}</span>
            </div>
            {{/destinations}}

	</div>

    <div  [hidden]="'{{hotels.website}}' ? false: true">
            <p  class="category-header ama-result-item" style="display: block">
                <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                <span>Our Hotels</span>
            </p>

            {{#hotels.website}}
            <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
                 tabindex="0"
                 role="search-result">
                <span>{{title}}</span>
            </div>
            {{/hotels.website}}

	</div>
    <div  [hidden]="'{{hotels.others}}' ? false: true">
            <p  class="category-header ama-result-item" style="display:block">
                <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                <span>Other IHCL Hotels</span>
            </p>

            {{#hotels.others}}
            <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
                 tabindex="0"
                 role="search-result">
                <span>{{title}}</span>
            </div>
            {{/hotels.others}}

	</div>
    </template>

    <template type="amp-mustache" id="searchResultItemNewRestaurant">
    <div  [hidden]="'{{restaurants.website}}' ? false: true">
            <p  class="category-header ama-result-item" style="display:block">
                <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                <span>Our Restaurants</span>
            </p>

            {{#restaurants.website}}
            <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
                 tabindex="0"
                 role="search-result">
                <span>{{title}}</span>
            </div>
            {{/restaurants.website}}

	</div>

    <div  [hidden]="'{{restaurants.others}}' ? false: true">
            <p  class="category-header ama-result-item" style="display: block">
                <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                <span>Other IHCL Restaurants</span>
            </p>

            {{#restaurants.others}}
            <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
                 tabindex="0"
                 role="search-result">
                <span>{{title}}</span>
            </div>
            {{/restaurants.others}}

	</div>
    </template>

    <template type="amp-mustache" id="searchResultItemNewExperiences">
    <div id="dest-results" [hidden]="'{{experiences.website}}' ? false: true">
            <p  class="category-header ama-result-item" style="display:block">
                <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                <span>Our Experiences</span>
            </p>

            {{#experiences.website}}
            <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
                 tabindex="0"
                 role="search-result">
                <span>{{title}}</span>
            </div>
            {{/experiences.website}}

	</div>

    <div [hidden]="'{{experiences.others}}' ? false: true">
            <p  class="category-header ama-result-item" style="display: block">
                <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                <span>Other IHCL Experiences</span>
            </p>

            {{#experiences.others}}
            <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
                 tabindex="0"
                 role="search-result">
                <span>{{title}}</span>
            </div>
            {{/experiences.others}}

	</div>
    </template>



	<!-- newely added 

    <template type="amp-mustache" id="searchResultItem">
        <sly data-sly-test="{{title}}">
            <p class="category-header ama-result-item">
                <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                <span>Destination</span>
            </p>
            <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
                 tabindex="0"
                 role="search-result">
                <span>{{title}}</span>
            </div>
        </sly>
    </template>


	<template type="amp-mustache" id="searchResultItem1">
   	   <sly data-sly-test="{{title}}">
        <p class="category-header ama-result-item">
            <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
            <span>Our Hotel</span>
        </p>
        <div data-sly-test="{{title}}" class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
             tabindex="0"
             role="search-result">
            <span>{{title}}</span>
        </div>
        </sly>
    </template>
    <template type="amp-mustache" id="searchResultItem2">
        <sly data-sly-test="{{title}}">
        <p class="category-header ama-result-item">
            <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
            <span>Other IHCL hotel</span>
        </p>
        <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
             tabindex="0"
             role="search-result">
            <span>{{title}}</span>
        </div>
        </sly>
    </template>
    <template type="amp-mustache" id="searchResultItem3">
    	<sly data-sly-test="{{title}}">
        <p class="category-header ama-result-item">
            <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
            <span>OUR RESTAURANTS</span>
        </p>
        <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
             tabindex="0"
             role="search-result">
            <span>{{title}}</span>
        </div>
        </sly>
    </template>
    <template type="amp-mustache" id="searchResultItem4">
    	<sly data-sly-test="{{title}}">
        <p class="category-header ama-result-item" >
            <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
            <span>OTHER IHCL RESTAURANTS</span>
        </p>
        <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
             tabindex="0"
             role="search-result">
            <span>{{title}}</span>
        </div>
        </sly>
    </template>
    <template type="amp-mustache" id="searchResultItem5">
    	<sly data-sly-test="{{title}}">
        <p class="category-header ama-result-item">
            <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
            <span>OUR EXPERIENCES</span>
        </p>
        <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
             tabindex="0"
             role="search-result">
            <span>{{title}}</span>
        </div>
        </sly>
    </template>
    <template type="amp-mustache" id="searchResultItem6">
        <sly data-sly-test="{{title}}">
        <p class="category-header ama-result-item">
            <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
            <span>OTHER IHCL EXPERIENCES</span>
        </p>
        <div class="search-result-item" on="tap: AMP.navigateTo(url='{{path}}')"
             tabindex="0"
             role="search-result">
            <span>{{title}}</span>
        </div>
        </sly>
    </template>
    -->
</sly>