<sly data-sly-template.explore="${@ exploreTajTitle, exploreTajLinks, trendingSearches}">
    <amp-lightbox id="exploreTaj" layout="nodisplay" scrollable="true" class="search-results-container" [open]="searchActive && !searchUrl">
        <div class="category-wrapper">
            <div class="search-result-category explore-taj">
                <p class="category-header-placeholder">
                    <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/search-suggestions-destination-icon.svg"></amp-img>
                    <span style="text-transform: uppercase">EXPLORE ${inheritedPageProperties.siteurl} </span>
                </p>
                <div class="explore-links-wrapper" data-sly-list.exploreLink="${exploreTajLinks}">
                    <a class="explore-links ${inheritedPageProperties.sitePath}"
                       href="${exploreLink.link}.html">${exploreLink.title}</a>
                </div>
            </div>
            <div class="search-result-category">
                <p class="category-header-placeholder">
                    <amp-img width="12" height="17" src="/content/dam/tajhotels/icons/style-icons/location.svg"></amp-img>
                    <span>Trending Searches</span>
                </p>
                <div data-sly-list.trending="${trendingSearches}">
                    <a class="search-result-item" href="${trending.link}.html">${trending.title}</a>
                </div>
            </div>
        </div>
    </amp-lightbox>
</sly>