<div data-sly-test="${wcmmode.edit}">AMP Search Bar Component</div>
<!-- Search -->
<div id="home-search" class="search-container"
     data-sly-use.searchModel="com.ihcl.core.models.SearchBar"
     data-sly-use.resultCategory="search-result.html"
     data-sly-use.resultCategory1="search-result-restaurant.html"
     data-sly-use.resultCategory2="search-result-experiance.html"
     data-sly-use.resultItem="result-item.html"
     data-sly-use.placeholder="search-placeholder.html">
	<div class ="urlsearch" data-sly-test.sitePath="${properties.sitePath}"></div>
	<p style="color: white; font-weight: bold; margin:0">Hi there, Where would you like to go?</p>
    <div  class="search-bar-wrapper ${inheritedPageProperties.sitePath}" [class]="searchActive? 'search-bar-wrapper active': 'search-bar-wrapper ${inheritedPageProperties.sitePath}'">
        <amp-img height="18" width="18" class="search-icon" src="/content/dam/tajhotels/icons/style-icons/search-icon.svg" alt="search-icon"></amp-img>
        <sly data-sly-test="${sitePath =='tajhotels'}">
			<input on="tap:AMP.setState({searchActive: true});input-debounced:AMP.setState({searchUrl: '/bin/search.data/:tajhotels/:seleqtions_:vivanta/' + event.value + '/result/searchCache.json'})"
				   class="searchbar-input"
				   type="text"
				   aria-label  = "${searchModel.helloText}"
				   placeholder="Search for Hotels, Restaurant, Destinations and more.."
				   role="search"
				   tabindex="0"/>
	    </sly>
		<sly data-sly-test="${sitePath=='seleqtions'}">
            <input on="tap:AMP.setState({searchActive: 'true'});input-debounced:AMP.setState({searchUrl: '/bin/search.data/:seleqtions/:tajhotels_:vivanta/' + event.value + '/result/searchCache.json'})"
				   class="searchbar-input"
				   type="text"
				   aria-label  = "${searchModel.helloText}"
				   placeholder="${searchModel.searchPlaceholder}"
				   role="search"
				   tabindex="0"/>
	    </sly>
		<sly data-sly-test="${sitePath=='vivanta'}">
			<input on="tap:AMP.setState({searchActive: true});input-debounced:AMP.setState({searchUrl: '/bin/search.data/:vivanta/:seleqtions_:tajhotels/' + event.value + '/result/searchCache.json'})"
				   class="searchbar-input"
				   type="text"
				   aria-label  = "${searchModel.helloText}"
				   placeholder="${searchModel.searchPlaceholder}"
				   role="search"
				   tabindex="0"/>
	    </sly>
        <span class="display-none"
              on="tap:AMP.setState({searchActive: false})"
              [class]="searchActive? 'cancel-icon': 'display-none'"
              role="exit-search"
              tabindex="0">
            <amp-img height="18" width="18" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon"></amp-img>
        </span>
         <div [hidden]="searchActive && searchUrl" style="padding: 0 5px;">
         	<!--<p style="color: white;margin:0">Your recent searches</p>-->
            <!--<ul data-sly-list.trending="${searchModel.trendingSearches}" style="padding:0;margin:0;">
            	<li style="margin-top: 5px;list-style-type: none;color: white;font-size: 13px;padding: 5px;display: inline-block;background: rgba(0, 0, 0, 0.7);"> 
            	<a href="${trending.link}.html" style="color:white;">${trending.title}</a></li>
            </ul>-->
         </div>
        <amp-lightbox id="searchResults" layout="nodisplay" scrollable="true" class="search-results-container" [hidden]="!searchActive">
            <div class="category-wrapper">
				<div class="destinationBar ${inheritedPageProperties.sitePath}">
				  <div class="destChild open" [class]="myState.activeTab == 1 || myState.activeTab == undefined ?'destChild open':'destChild'" id="hotels" on="tap:AMP.setState({myState:{activeTab:1}}),searchAmpList.changeToLayoutContainer()" role="button" tabindex="">Hotels</div>
				  <div class="destChild" [class]="myState.activeTab == 2 ? 'destChild open':'destChild'" id="restaurants" on="tap:AMP.setState({myState:{activeTab:2}}),searchAmpList1.changeToLayoutContainer()" role="button" tabindex="">Restaurants</div>
				  <div class="destChild" [class]="myState.activeTab == 3 ? 'destChild open':'destChild'" id="experiences" on="tap:AMP.setState({myState:{activeTab:3}}),searchAmpList2.changeToLayoutContainer()" role="button" tabindex="">Experiences</div>
				</div>	

<!--

				<amp-selector class="tabs-with-selector"
                  role="tablist"
                  on="select:myTabPanels.toggle(index=event.targetOption, value=true)"
                  keyboard-select-mode="focus">
                  <div id="sample3-tab1"
                    role="tab"
                    aria-controls="sample3-tabpanel1"
                    option="0"
                    selected>Tab one</div>
                  <div id="sample3-tab2"
                    role="tab"
                    aria-controls="sample3-tabpanel2"
                    option="1">Tab two</div>
                  <div id="sample3-tab3"
                    role="tab"
                    aria-controls="sample3-tabpanel3"
                    option="2">Tab three</div>
            	</amp-selector>


                <amp-selector id="myTabPanels"
                  class="tabpanels">
                  <div id="sample3-tabpanel1"
                    role="tabpanel"
                    aria-labelledby="sample3-tab1"
                    option
                    selected>

<sly data-sly-call="${resultCategory.category @ items='destinations', items1='hotels.website', items2='hotels.others'}"></sly>

                    </div>
                  <div id="sample3-tabpanel2"
                    role="tabpanel"
                    aria-labelledby="sample3-tab2"
                    option>

<sly data-sly-call="${resultCategory1.category @ items3='restaurants.website', items4='restaurants.others'}"></sly>

                    </div>
                  <div id="sample3-tabpanel3"
                    role="tabpanel"
                    aria-labelledby="sample3-tab3"
                    option>

<sly data-sly-call="${resultCategory2.category @ items5='experiences.website', items6='experiences.others'}"></sly>

                    </div>
                </amp-selector>

-->

				<div [hidden]="myState.activeTab == 1 || myState.activeTab == undefined? false : true">
					<!--
                    <sly data-sly-call="${resultCategory.category @ categoryTitle=searchModel.destinationResultsTitle, items='destinations'}"></sly>
                    <sly data-sly-call="${resultCategory.category @ categoryTitle=searchModel.websiteHotelResultsTitle, items='hotels.website'}"></sly>
                    <sly data-sly-call="${resultCategory.category @ categoryTitle=searchModel.otherHotelResultsTitle, items='hotels.others'}"></sly>
					-->
                    <!--newely added -->
                    <sly data-sly-call="${resultCategory.category @ items='destinations', items1='hotels.website', items2='hotels.others'}"></sly>

				</div>				
				<div [hidden]="myState.activeTab == 2 || myState.activeTab == undefined? false : true" 
                [class]="myState.activeTab == undefined ? 'vishide': ''">
				<!--
                    <sly data-sly-call="${resultCategory.category @ categoryTitle='OUR RESTAURANTS', items='restaurants.website'}"></sly>
                    <sly data-sly-call="${resultCategory.category @ categoryTitle='OTHER IHCL RESTAURANTS', items='restaurants.others'}"></sly>
                -->
                    <!--newely added -->
                    <sly data-sly-test="myState.activeTab == 2" data-sly-call="${resultCategory1.category @ items3='restaurants.website', items4='restaurants.others'}"></sly>
                </div>
				<div [hidden]="myState.activeTab == 3 || myState.activeTab == undefined? false : true"
                [class]="myState.activeTab == undefined ? 'vishide': ''">
                <!--
                    <sly data-sly-call="${resultCategory.category @ categoryTitle='OUR EXPERIENCES', items='experiences.website'}"></sly>
                    <sly data-sly-call="${resultCategory.category @ categoryTitle='OTHER IHCL EXPERIENCES', items='experiences.others'}"></sly>
                -->
                <!-- newely added -->
                	<sly data-sly-call="${resultCategory2.category @ items5='experiences.website', items6='experiences.others'}"></sly>
				</div>

            </div>
        </amp-lightbox>

        <sly data-sly-call="${placeholder.explore @ exploreTajTitle=searchModel.exploreTajTitle, exploreTajLinks=searchModel.exploreTajLinks, 
        trendingSearches=searchModel.trendingSearches}"></sly>
    </div>
</div>
<sly data-sly-call="${resultItem.itemTemplate}"></sly>