<sly data-sly-template.category="${@ items, items1, items2}">

	<div class="search-result-category">
        <amp-list id="searchAmpList" [src]="searchUrl"  width="auto" class="category-results" height="500"
                  layout="fixed-height"
                  template="searchResultItemNew" items="." single-item>
            <div overflow role="button" aria-label="Show more" class="list-overflow ampstart-btn caps">
			Show More
            </div>
        </amp-list>
    </div>

<!--
	<sly data-sly-test="{{items}}">
    <div class="search-result-category">
        <amp-list id="searchAmpList" [src]="searchUrl" items="${items}" width="auto" class="category-results" height="85"
                  layout="fixed-height"
                  template="searchResultItem">
            <div overflow role="button" aria-label="Show more" class="list-overflow ampstart-btn caps">
			Show More
            </div>
        </amp-list>
    </div>
    </sly>


    <sly data-sly-test="{{items1}}">
    <div class="search-result-category">
        <amp-list id="searchAmpList1" [src]="searchUrl" items="${items1}" width="auto" class="category-results"
                   height="85" 
                  layout="fixed-height"
                  template="searchResultItem1">
            <div overflow role="button" aria-label="Show more" class="list-overflow ampstart-btn caps">
			Show More
            </div>
        </amp-list>
    </div>
	</sly>

	<sly data-sly-test="{{items2}}">
    <div class="search-result-category">
        <amp-list id="searchAmpList2" [src]="searchUrl" items="${items2}" width="auto" class="category-results"
                   height="85" 
                  layout="fixed-height"
                  template="searchResultItem2">
            <div overflow role="button" aria-label="Show more" class="list-overflow ampstart-btn caps">
			Show More
            </div>
        </amp-list>
    </div>
    </sly>
-->
</sly>