<sly data-sly-template.category="${@ items5, items6}">
<div class="search-result-category">
        <amp-list id="searchAmpList" [src]="searchUrl"  width="auto" class="category-results" height="500"
                  layout="fixed-height"
                  template="searchResultItemNewExperiences" items="." single-item>
            <div overflow role="button" aria-label="Show more" class="list-overflow ampstart-btn caps">
			Show More
            </div>
        </amp-list>
    </div>

<!--
	<sly data-sly-test="{{items5}}">
    <div class="search-result-category">
        <amp-list id="searchAmpList" [src]="searchUrl" items="${items5}" width="auto" class="category-results"
                  height="95" style="min-height: 1px;"
                  layout="fixed-height"
                  template="searchResultItem5">
            <div overflow role="button" aria-label="Show more" class="list-overflow ampstart-btn caps">
			Show More
            </div>
        </amp-list>
    </div>
	</sly>

	<sly data-sly-test="{{items6}}">
    <div class="search-result-category">
        <amp-list id="searchAmpList" [src]="searchUrl" items="${items6}" width="auto" class="category-results"
                  height="95"
                  layout="fixed-height"
                  template="searchResultItem6">
            <div overflow role="button" aria-label="Show more" class="list-overflow ampstart-btn caps">
			Show More
            </div>
        </amp-list>
    </div>
	</sly>
-->
</sly>