<sly data-sly-template.category="${@ items3, items4}">

	<div class="search-result-category">
        <amp-list id="searchAmpList" [src]="searchUrl"  width="auto" class="category-results" height="500"
                  layout="fixed-height"
                  template="searchResultItemNewRestaurant" items="." single-item>
            <div overflow role="button" aria-label="Show more" class="list-overflow ampstart-btn caps">
			Show More
            </div>
        </amp-list>
    </div>


<!--

	<sly data-sly-test="{{items4}}">
    <div class="search-result-category">
        <amp-list id="searchAmpList" [src]="searchUrl" items="${items4}" width="auto" class="category-results"
                  height="85"
                  layout="fixed-height"
                  template="searchResultItem4">
            <div overflow role="button" aria-label="Show more" class="list-overflow ampstart-btn caps">
			Show More
            </div>
        </amp-list>
    </div>
	</sly>


	<sly data-sly-test="{{items3}}">
    <div class="search-result-category">
        <amp-list id="searchAmpList" [src]="searchUrl" items="${items3}" width="auto" class="category-results"
                  height="85"
                  layout="fixed-height"
                  template="searchResultItem3">
            <div overflow role="button" aria-label="Show more" class="list-overflow ampstart-btn caps">
			Show More
            </div>
        </amp-list>
    </div>
	</sly>
-->
</sly>