.package-name-wrp {
    padding: 1rem;
}
.package-from-to{
    font-family: Calibri-bold;
    font-size: 30px;
    color: #282828;
    float: left;
}
.pakage-details-wrp{
    background-color: #f1f1f1;
    font-family: Calibri;
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
    color: #896633;
    padding: 1rem;
}
.another-offer{
    float: right;
}
.taj-air-package-cnt{
    background-color: white;
    padding: 1rem;
}
.pakage-details-wrp [class*='col-']{
	padding-right:1rem;
} 
@media only screen and (max-width: 767px) {
    .pakage-details-wrp{
	padding:1rem 0;
 	}
   	.package-name-wrp{
        padding:1rem 0;
    }
    .package-from-to{
		font-size:1.5rem;
	}
    .taj-air-package-cnt{
	    margin:0 1rem;
    }
}