<sly data-sly-use.list="com.ihcl.core.models.jivaspa.LocateJivaSpaService" />
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.jivaspabooking'}" />

<sly data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher" />
<sly data-sly-use.confLink="${'url-map.js' @ reqUrl=properties.confLink}" />
<sly data-sly-use.errorLink="${'url-map.js' @ reqUrl=properties.errorLink}" />

<div class="generic-back-link">
    <a href="javascript: history.go(-1)"> < Back</a>
</div>
<div class="cm-content-blocks">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="jiva-spa-lead-gen-con">
                <div class="jiva-spa-lead-gen-inner-con">
                    <div class="jiva-spa-lead-gen-heading">Book An Appointment</div>
                    <div class="jiva-spa-form-con mr-sub-form">
                        <div class="jiva-spa-form-row">
                            <div class="jiva-spa-form-hotel-details sub-form-input-wrp">
                                <div class="jiva-spa-form-heading sub-form-input-label">Hotel*</div>
                                <!-- <sly data-sly-test.hotelName=${hotelProperties.name}> -->
                                <div class="jiva-spa-hotel-input">
                                    <input type="hidden" id="hotel-email-id" aria-hidden="true">
                                    <input
                                        class="jiva-spa-mand  sub-form-mandatory jiva-spa-mand-input mr-hotel-level hotel-name-input-field "
                                        id=searchInputJiva value="${hotelProperties.name}"
                                        data-email-id="${hotelProperties.hotelEmail}" disabled
                                        aria-label="Jiva Spa Search bar">
                                    <ul class="jiva-spa-search-list"></ul>
                                </div>
                                <div class="selectSubContainer searchInputJivaDropDown" id="searchInputJivaDropDown">
                                    <select aria-label="hotels list" name="hotel-names-dropdown" id="hotel-names-dropdown"
                                        class="jiva-spa-mand  sub-form-mandatory">
                                        <option value="">Choose</option>
                                        <sly data-sly-list.listItem="${list.hotelList}">
                                        <option value="${listItem.hotelName}" data-hotel-city=${listItem.hotelCity}
                                            data-email-id=${listItem.hotelEmail}>${listItem.hotelName}</option>
                                        </sly>
                                    </select>
                                </div>
                                <div class="sub-form-input-warning"></div>
                            </div>
                            <div class="jiva-spa-form-right-section jiva-spa-date-time-wrp">
                                <div class="sub-form-input-wrp">
                                    <div class="jiva-spa-form-heading sub-form-input-label">Preferred Date*</div>
                                    <div class="jiva-spa-date-section">
                                        <div class="jiva-spa-date-con">
                                            <i class="icon-calendar-check-availability"></i>
                                            <input class="jiva-spa-date-value jiva-spa-mand  sub-form-mandatory"
                                                placeholder="Date" disabled aria-label="Enter Preferred Date" />

                                            <div class="sub-form-input-warning"></div>
                                        </div>
                                        <div class="jiva-spa-date" id="jiva-spa-date"></div>
                                    </div>
                                </div>
                                <div class="sub-form-input-wrp">
                                    <div class="jiva-spa-form-heading sub-form-input-label">Preferred Start Time</div>
                                    <div class="jiva-spa-start-time-dropdown dropdown selectSubContainer">
                                        <select aria-label="Spa Preferred Start Time" name="jiva-spa-start-time"
                                            id="jiva-spa-start-time">
                                            <option>08:00 AM</option>
                                            <option>09:00 AM</option>
                                            <option>10:00 AM</option>
                                            <option>11:00 AM</option>
                                            <option>12:00 PM</option>
                                            <option>01:00 PM</option>
                                            <option>02:00 PM</option>
                                            <option>03:00 PM</option>
                                            <option>04:00 PM</option>
                                            <option>05:00 PM</option>
                                            <option>06:00 PM</option>
                                            <option>07:00 PM</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="sub-form-input-wrp">
                                    <div class="jiva-spa-form-heading sub-form-input-label">City*</div>
                                    <div>
                                        <sly data-sly-test="${hotelProperties.hotelCity}"> <input
                                            class="jiva-spa-mand  sub-form-mandatory jiva-spa-mand-input"
                                            placeholder="${hotelProperties.hotelCity}"
                                            aria-label="${hotelProperties.hotelCity}" id="jiva-spa-city"
                                            data-hotel-city="${hotelProperties.hotelCity}"
                                            value="${hotelProperties.hotelCity}" disabled /> </sly>
                                        <sly data-sly-test="${!hotelProperties.hotelCity}"> <input
                                            class="jiva-spa-mand  sub-form-mandatory jiva-spa-mand-input" placeholder=""
                                            value="" aria-label="Jiva spa city" id="jiva-spa-city"> </sly>
                                        <div class="sub-form-input-warning"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jiva-spa-form-row">
                            <div class="jiva-spa-form-name-details sub-form-input-wrp">
                                <div class="jiva-spa-form-heading sub-form-input-label">Full Name*</div>
                                <div>
                                    <input class="jiva-spa-mand  sub-form-mandatory jiva-spa-mand-input" placeholder=""
                                        id="customer-name" aria-label="Enter Cutomer Name">
                                    <div class="sub-form-input-warning"></div>
                                </div>
                            </div>
                            <div class="jiva-spa-form-right-section">
                                <div class="jiva-spa-form-gender-details sub-form-input-wrp">
                                    <div class="jiva-spa-form-heading sub-form-input-label">Gender*</div>
                                    <div class="jiva-spa-gender-dropdown dropdown">
                                        <select aria-label="Gender" name="jiva-spa-gender" id="jiva-spa-gender">
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="jiva-spa-form-mobile-details">
                                    <div class="jiva-spa-form-heading">Mobile</div>
                                    <div>
                                        <input class="only-numeric-input  limit-phone-number" placeholder=""
                                            id="phone-Number" aria-label="Enter Phone Number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jiva-spa-form-row spa-details-row">
                            <div class="jiva-spa-form-name-details sub-form-input-wrp spa-name-input">
                                <div class="jiva-spa-form-heading sub-form-input-label">Spa name*</div>
                                <div>
                                    <input class="jiva-spa-mand  sub-form-mandatory jiva-spa-mand-input mr-hotel-level"
                                        placeholder="" id="spa-name" value="" disabled aria-label="Enter Spa Name" />
                                </div>
                            </div>
                            <div class="jiva-spa-form-right-section">
                                <div class="jiva-spa-form-name-details sub-form-input-wrp">
                                    <div class="jiva-spa-form-heading sub-form-input-label">Spa Duration</div>
                                    <div>
                                        <input placeholder="" id="spa-duration" value="" disabled aria-label="Spa Duration" />
                                    </div>
                                </div>
                                <div class="jiva-spa-form-name-details sub-form-input-wrp">
                                    <div class="jiva-spa-form-heading sub-form-input-label">Spa amount (rate + taxes)</div>
                                    <div>
                                        <input placeholder="" id="spa-amount" value="" disabled aria-label="Spa Amount" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jiva-spa-form-row">
                            <div class="jiva-spa-form-email-details sub-form-input-wrp">
                                <div class="jiva-spa-form-heading sub-form-input-label">Email id*</div>
                                <div>
                                    <input class="jiva-spa-email jiva-spa-mand  sub-form-mandatory" placeholder=""
                                        id="customer-email-id" aria-label="Enter Customer Name">
                                    <div class="sub-form-input-warning"></div>
                                </div>
                            </div>
                            <div class="jiva-spa-form-time-details">
                                <div class="jiva-spa-form-heading">Best Time to Contact</div>
                                <div class="jiva-spa-gender-dropdown dropdown">
                                    <select aria-label="Best Time to Contact" name="jiva-spa-best-time"
                                        id="jiva-spa-best-time">
                                        <option>Afternoon (12:00pm to 4:00pm)</option>
                                        <option>Forenoon (9:00am to 12:00pm)</option>
                                        <option>Early Morning (6:00am to 9:00am)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="jiva-spa-form-btn-details clearfix">
                                <input type="hidden" class="jiva-spa-conf-link" value="${confLink.mappedUrl}"
                                    aria-hidden="true" />
                                <input type="hidden" class="jiva-spa-error-link" value="${errorLink.mappedUrl}"
                                    aria-hidden="true" />
                                <button class="cm-btn-secondary jiva-spa-form-btn pay-now-button">SUBMIT</button>
                                <div class="taj-loader check-wait-spinner">
                                    <div class="taj-loader-circle"></div>
                                    <div class="taj-loader-circle"></div>
                                    <div class="taj-loader-circle"></div>
                                </div>
                                <div class="pg-spinner-con">
                                    <div class="taj-loader pg-spinner-wrap">
                                        <div class="taj-loader-circle"></div>
                                        <div class="taj-loader-circle"></div>
                                        <div class="taj-loader-circle"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="jiva-spa-lead-gen-disclaimer"></div>
                </div>
                <div data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
            </div>
        </div>
    </div>
</div>