<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.benaras-tableform'}" />
<div class="content-wrapper container">
	<section class="cm-content-blocks">
		
			<div class="standalone-wrapper">
				<div class="table-standalone-wrapper">
					${properties.tableData1
						@context='html'}
				</div>
			</div>


</section>
</div>