.ama-theme .ama-service .cm-btn-secondary {
    font-family: var(--themeHeadingFontBold);
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    outline: none !important;
    height: 35px !important;
    line-height: 35px;
    padding: 0 20px;
}

.ama-theme .ama-service {
    position: relative;
}

.ama-theme .ama-service .owl-stage-outer {}

.ama-theme .ama-service .service-wrap {
    padding-bottom: 50px;
}

.ama-theme .ama-service .serviceSingle {
    box-shadow: 0 20px 25px -10px rgba(0, 0, 0, 0.11);
}

.ama-theme .ama-service .serviceSingleImg {
    height: 280px;
    position: relative;
}

.ama-theme .ama-service .serviceSingleImg img {
    height: 280px;
    object-fit: cover;
}

.ama-theme .ama-service h3 {
    padding: 1.5rem 1.875rem 1.25rem;
    position: absolute;
    bottom: 0%;
    font-size: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: var(--themeHeadingFontSemiBold);
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

.ama-theme .ama-service .serviceSingleDesc {
    padding: 1.5rem 1.875rem 1.25rem;
}

.ama-theme .ama-service .serviceSingleDesc h4 {
    font-family: var(--themeContentFontRegular);
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    margin-bottom: 5px;
}

.ama-theme .ama-service .serviceSingleDesc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ama-theme .ama-service .serviceSingleDesc p {
    font-family: var(--themeContentFontRegular);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
}

.ama-theme .ama-service .serviceSingleDesc p:first-of-type {
    display: block;
}

.ama-theme .ama-service .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5%;
}

.ama-theme .ama-service .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(180deg);
    right: -5%;
}

.ama-theme .ama-service .owl-dots{
    position: absolute;
    width: 100%;
    bottom: 5px;
}