<div class="jiva-spa-card-container col-lg-4 col-md-6 col-sm-12 cm-card-showmore-spacing"
    data-sly-use.jivaSpaModel="com.ihcl.core.models.jivaspa.JivaSpaListModel">
    <sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} 
    	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='taj.hotels.components.jiva-spa-card,tajhotels.jivaspa,
         tajhotels.structure.page.tajhotels-base-page,tajhotels.gallerycarousel'}" />
    <sly data-sly-test.jivaSpaBookingUrl="${inheritedPageProperties.siteConfigContentPath}/en-in/spa/spa-booking.html?jivaSpaName=" />
    <sly data-sly-use.urlMap="${'url-map.js' @ reqUrl=jivaSpaBookingUrl}" />

    <sly data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher" />

    <div class="jiva-spa-card-con">
        <div class="jiva-spa-child-con">
        	<div class="jiva-spa-img-con" data-sly-test.draggedPathImage="${jivaSpaModel.draggedImagePath}" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=draggedPathImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyLoad=true}">
            	</sly>
        	</div>
        
            <div class="jiva-spa-img-con" data-sly-test="${!draggedPathImage}">
                <sly data-sly-list.imagePath="${jivaSpaModel.galleryImagePaths.toString}"
                    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"> <sly
                    data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=imagePath}"
                    data-sly-list="${firstImage.options}"> <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=item, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyLoad=true}"></sly>
                </sly> </sly>
            </div>
            <div class="jiva-spa-details-con">
                <div class="jiva-spa-details">
                    <div class="jiva-spa-heading">${jivaSpaModel.spaName}</div>
                    <div class="jiva-spa-detail-long-desc-card">${jivaSpaModel.spaShortDescription @context='html'}</div>
                </div>
                <div class="jiva-spa-rates-con">
                    <div class="jiva-spa-card-duration" data-sly-test.spaDuration=${jivaSpaModel.spaDuration}>Duration
                        - ${jivaSpaModel.spaDuration}</div>
                    <div class="jiva-spa-cards-btn-con">
                        <div data-sly-test.spaName=${jivaSpaModel.spaAmount}>
                            <div class="jiva-spa-rate">
                                ${jivaSpaModel.spaCurrency}
                                <span class="spaAmount">${jivaSpaModel.spaAmount}</span>
                                <span>*</span>
                            </div>
                        </div>
                        <button class="cm-btn-secondary jiva-spa-view-details-btn" data-spa-id=${jivaSpaModel.spaId}
                            onclick="jivaSpaClickHandler(this)" data-dialog-btn =  "jivaSpaCard">VIEW DETAILS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-carousel-container">
        <div data-sly-resource="${ '{0}' @  resourceType='tajhotels/components/content/gallery-carousel' }"></div>
    </div>
    <!-- Details part -->
    <div id=${jivaSpaModel.spaId}>
        <div class="jiva-spa-card-details-wrap dummy-class" data-dialog-modal =  "jivaSpaCard">
            <!-- <div data-sly-test.spaName=${jivaSpaModel.spaName}> -->
            <div class="jiva-spa-card-details-con">
                <div class="jiva-spa-details-close">
                    <span class="icon-close" tabindex = "0" data-dialog-close =  "jivaSpaCard"></span>
                </div>
                <div class="jiva-spa-details-desc-con-outer">
                <div class="jiva-spa-details-desc-con">
                    <div class="jiva-spa-details-heading">${jivaSpaModel.spaName}</div>
                    <div class="jiva-spa-detail-long-desc-detail">${jivaSpaModel.spaLongDescription @ context='html'}</div>
                    <div class="jiva-spa-details-recom-con">
                        <div data-sly-test.checkRecommendedFor="${jivaSpaModel.spaRecommendedFor}" class="jiva-spa-recom-heading">Recommended for</div>
                        <div class="jiva-spa-recom-details">
                            <div>${jivaSpaModel.spaRecommendedFor}</div>
                            <div data-sly-test.checkDurationValue="${jivaSpaModel.spaDuration}">
                                Duration -
                                <span class="spa-duration">${jivaSpaModel.spaDuration}</span>
                            </div>
                        </div>
                        </div>
                        <div class="jiva-spa-mobile-photo-gallery">
                        <div class="jiva-spa-mobile-photo-con clearfix">
                        <sly>
                            <div class="jiva-spa-mobile-images">
                            	 <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />
                            	 
                            	 <sly data-sly-test.draggedPathImage="${jivaSpaModel.draggedImagePath}">
				                    <sly
				                    	data-sly-call="${imagetemplate.damImageTemplate @ imagePath=draggedPathImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyLoad=true}">
				            	</sly></sly>
                    <sly data-sly-test="${!draggedPathImage}">        	 
                    <sly data-sly-list.images="${jivaSpaModel.galleryImagePaths.toString}">
						<sly data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=images}" data-sly-list="${firstImage.options}">
                            <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=item, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyLoad=true}"></sly>
                        </sly>
                    </sly> </sly>
                            </div>
                           </sly>
                        </div>
                    </div>
                    <div class="jiva-spa-details-price-con">
                    	<div class="jiva-spa-view-gallery" data-gallery-images=${jivaSpaModel.galleryImagePaths.toString} onclick="showGallery(this)">VIEW GALLERY<span>(${jivaSpaModel.numberOfImages})</span></div>
                        <div class="jiva-spa-details-price">
                            <div data-sly-test.spaName=${jivaSpaModel.spaAmount}>
                                <div>
                                 <div>
                                <span class="spaCurr">${jivaSpaModel.spaCurrency} </span> <span class="spaAmount">${jivaSpaModel.spaAmount}</span>
                                  <span>*</span>
                                </div>
                                </div>
                            </div>
                        </div>
                       
                        <div data-sly-test.notJivaSpa="${jivaSpaModel.isNonJivaSpa}">
                            <!-- <a href="${urlMap.mappedUrl}${jivaSpaModel.spaName}"> -->
                                <button onClick="goToBookingPage('${urlMap.mappedUrl @ context='text'}${jivaSpaModel.spaName @ context='text'}')" class="cm-btn-secondary jiva-spa-details-book-btn">BOOK AN APPOINTMENT</button>
                            <!-- </a> -->
                        </div> 
                    </div>
                </div>
                <div class="jiva-spa-details-img-con hide-in-sm hide-in-md">
                    <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />
                    
                    <sly data-sly-test.draggedPathImage="${jivaSpaModel.draggedImagePath}">
	                    <sly
	                    	data-sly-call="${imagetemplate.damImageTemplate @ imagePath=draggedPathImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyLoad=true}">
	            	</sly></sly>
                    <sly data-sly-test="${!draggedPathImage}">
                    <sly data-sly-list.images="${jivaSpaModel.galleryImagePaths.toString}"> <sly
                        data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=images}"
                        data-sly-list="${firstImage.options}"> <sly
                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath=item, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyLoad=true}"></sly>
                    </sly> </sly> </sly>

                    <div class="jiva-spa-details-view-photos-con"
                        data-gallery-images=${jivaSpaModel.galleryImagePaths.toString} onclick="showGallery(this)" tabindex = "0" data-dialog-btn= "galleryCarousel">
                        <img src="/content/dam/tajhotels/icons/style-icons/lightbox.svg" alt  = "lightbox-icon">
                        <span>VIEW PHOTOS (${jivaSpaModel.numberOfImages})</span>
                    </div>
                </div>
                </div>
                <span class="hotel-name" hidden>${hotelProperties.name}</span>
                <span class="hotel-city" hidden>${hotelProperties.hotelCity}</span>
                <span class="hotel-email-id" hidden>${hotelProperties.hotelEmail}</span>
            </div>
        </div>
    </div>
</div>
