<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} 
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientLib.all @ categories='tajhotels.incredible-escapes'}" />

<sly
    data-sly-use.destinationsList="com.adobe.cq.wcm.core.components.models.List"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"/>

<div data-sly-test.edit="${wcmmode.edit}">
   Holidays Incredile Escapes Component<br>
   To get the Cards, configure Incredible Escape properties in the child pages properties tab.
</div>
<div class="discover-more-wrapper">
   <div class="clearfix" data-sly-list.listItem="${destinationsList.items}">
          <sly data-sly-resource="${'{0}' @ format=[listItem.path], resourceType='/apps/tajhotels/components/content/holidays/incredible-escapes/incredible-escapes-card'}"></sly>
   </div>
</div>