.mr-global-carousel-image img {
	-o-object-fit: contain;
	object-fit: contain;
	width: 100%;
	height: 75px;
	height: 4.6875rem;
}

.mr-global-carousel-image.jaguar-logo img {
	height: 9rem;
	margin-top: -1.3rem;
	margin-left: -3rem;
}

.mr-global-carousel-image.tata-service-logo img {
	height: 9rem;
	margin-top: -1.5rem;
	width: 250px;
}

.mr-global-carousel-image.tata-housing-logo img {
	height: 83px;
	height: 5.2rem;
	width: 200px;
	margin-left: 32px;
	margin-left: 2rem;
}

.mr-global-carousel-image.tata-motors-logo img {
	height: 6rem;
	width: 125px;
	margin-left: 3.2rem;
}

.mr-global-carousel-image.titan-logo img {
	height: 6.5rem;
	object-fit: cover;
	margin-left: -2rem;
	width: 195px;
}

.mr-global-carousel-image.tata-steel-logo img {
	height: 8rem;
	margin-top: -0.8rem;
	margin-left: -2rem;
	width: 190px;
}

.mr-global-carousel-image.tenley-logo img {
	height: 5.7rem;
	margin-left: 2rem;
}

.mr-global-carousel-image.tenley-logo.end-logo img {
	margin-left: 56px;
	margin-left: 3.5rem;
}

.mr-global-carousel-image.voltas-logo img {
	height: 6.5rem;
	width: 280px;
	margin-left: -3rem;
}

.ihcl-image-carousel-wrp .ihcl-section-carousel-image img {
	-o-object-fit: contain;
	object-fit: contain;
	height: 48px;
	height: 3rem;
}

.ihcl-image-carousel-wrp .ihcl-section-carousel-image {
	text-align: center;
}

@media only screen and (max-width: 991px) {
	.ihcl-image-carousel-wrp .ihcl-section-carousel-image {
		width: 9.6875rem !important;
	}
}

.ihcl-image-carousel-wrp .clearfix {
	-ms-flex-align: center;
	align-items: center;
	padding: 16px 0;
	padding: 1rem 0;
	max-width: -webkit-min-content;
	max-width: -moz-min-content;
	max-width: min-content;
}

.ihcl-image-carousel-wrp .seleqtion-img-wrp img {
	margin-bottom: -10px;
	margin-bottom: -0.625rem;
	margin-left: -160px;
	margin-left: -10rem;
}

.ihcl-image-carousel-wrp .ginger-img-wrp img {
	width: 77%;
	height: 24px;
	height: 1.5rem;
	margin-left: -112px;
	margin-left: -7rem;
}

.ihcl-image-carousel-wrp .expressions-img-wrp img {
	height: 24px;
	height: 1.5rem;
	width: 85%;
	margin-left: -96px;
	margin-left: -6rem;
}

.ihcl-image-carousel-wrp .tajsats-img-wrp img {
	position: relative;
	top: -5px;
	height: 52px;
	height: 3.25rem;
	margin-left: -80px;
	margin-left: -5rem;
}

@media only screen and (max-width: 991px) {
	.ihcl-image-carousel-wrp .tajsats-img-wrp img {
		height: 2.5rem;
	}
}

.ihcl-image-carousel-wrp .vivanta-img-wrp img {
	height: 24px;
	height: 1.5rem;
	width: 83%;
	margin-left: -64px;
	margin-left: -4rem;
}

.ihcl-image-carousel-wrp .taj-img-wrp {
	text-align: left;
}

@media only screen and (max-width: 991px) {
	.ihcl-image-carousel-wrp .taj-img-wrp {
		margin-right: 1rem;
	}
}

@media only screen and (max-width: 991px) {
	.ihcl-image-carousel-wrp .taj2-img-wrp {
		margin-left: 3rem !important;
		margin-right: 2rem;
	}
}

.ihcl-image-carousel-wrp .taj-img-wrp img {
	margin-top: -8px;
	margin-top: -0.5rem;
}

.ihcl-image-carousel-wrp .gateway-img-wrp img {
	height: 24px;
	height: 1.5rem;
	width: 100%;
	margin-left: -16px;
	margin-left: -1rem;
}

.ihcl-image-carousel-container .rightArrow {
	width: 24px;
	width: 1.5rem;
	height: 40px;
	height: 2.5rem;
	right: -3%;
	bottom: 45%;
}

.ihcl-image-carousel-container .leftArrow {
	width: 24px;
	width: 1.5rem;
	height: 40px;
	height: 2.5rem;
	left: -3%;
	bottom: 45%;
}

@media only screen and (max-width: 767px) {
	.mr-global-carousel-image {
		text-align: center;
	}
	.mr-global-carousel-image.tenley-logo img {
		margin-left: 0;
	}
	.mr-global-carousel-image.voltas-logo img, .mr-global-carousel-image.jaguar-logo img,
		.mr-global-carousel-image.tata-motors-logo img {
		margin-left: 0rem;
	}
	.mr-global-carousel-image.titan-logo img {
		margin-left: 0rem;
		width: 137px;
		margin-top: 0.25rem;
	}
	/*.mr-global-carousel-image.voltas-logo img {
		margin-right: 2rem;
	}*/
	.ihcl-image-carousel-wrp-legacy {
		margin: 0 2rem;
		overflow-x: hidden;
	}
	.leftArrowMob {
		position: absolute;
		left: 2%;
		bottom: 55%;
		z-index: 1;
		height: 2rem;
		width: 1rem;
		cursor: pointer;
	}
	.rightArrowMob {
		position: absolute;
		cursor: pointer;
		right: 4%;
		bottom: 55%;
		height: 2rem;
		width: 1rem;
	}
	.mr-global-carousel-image img {
		width: 210px;
	}
	.mr-global-carousel-image.tata-service-logo img,
		.mr-global-carousel-image.voltas-logo img {
		width: 210px;
	}
	.mr-global-carousel-image.tata-steel-logo img {
		width: 142px;
		margin-top: -0.5rem;
	}
}