<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientLib.all @ categories='taj.hotels.itinerary.tab'}" />
<div data-sly-test="${wcmmode.edit}">Itinerary Tab component</div>



<ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="checkAvailability-tab" data-toggle="tab" href="#checkAvailability" role="tab" aria-controls="checkAvailability" aria-selected="true">Check Availability</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="room-list-tab" data-toggle="tab" href="#room-list" role="tab" aria-controls="room-list" aria-selected="false">Room List Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="boking-cart-tab" data-toggle="tab" href="#boking-cart" role="tab" aria-controls="boking-cart" aria-selected="false">Booking Cart</a>
      </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="checkAvailability" role="tabpanel" aria-labelledby="checkAvailability-tab">
		<div data-sly-resource="${'checkAvailability' @ resourceType='wcm/foundation/components/parsys'}"></div>
  </div>
  <div class="tab-pane fade" id="room-list" role="tabpanel" aria-labelledby="room-list-tab">
		<div data-sly-resource="${'room-list' @ resourceType='wcm/foundation/components/parsys'}"></div>
  </div>
  <div class="tab-pane fade" id="boking-cart" role="tabpanel" aria-labelledby="boking-cart-tab">
		<div data-sly-resource="${'boking-cart' @ resourceType='wcm/foundation/components/parsys'}"></div>
  </div>
</div>
