<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.footer'}"></sly>
<!--footer component markup-->
<sly data-sly-test.rootPath="${inheritedPageProperties.siteConfigContentPath}" />
<footer class="footer" data-sly-use.footerModel="${'com.ihcl.core.models.Footer' @ rootPath=rootPath}"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <div class="footer-component">
        <div class="container">
            <!-- Loyalty Section on top -->
            <div class="row" data-sly-test="${properties.lsShowOnTop}">
                <div class="col-12">
                    <div>
                        <div class="footer-tic-heading">
                            ${properties.loyaltySectionHeader}
                            <span class="footer-tic-expand-button">
                                <button class="btn-only-focus">${properties.lsExpanded? '-': '+'}</button>
                            </span>
                        </div>
                        <ul
                            data-sly-attribute.class="${properties.lsExpanded? 'footer-brands-list expanded-on-load': 'footer-brands-list'}"
                            data-sly-list="${footerModel.policyLinks}">
                            <li class="footer-link">
                                <a href="${item.path}.html" rel="${item.policyNofollow ? 'nofollow' : ''}">${item.label}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Destinations Footer-->
            <div class="row">
                <div class="col-12">
                    <div class="footer-destination-section"
                        data-sly-test.showDestinationsList="${!properties.hideDestinationsList}">
                        <div class="footer-destination-heading">
                            ${properties.destinationsTitle}
                            <span class="footer-destination-expand-button" tabindex="0">
                                <button class="btn-only-focus">+</button>
                            </span>
                        </div>
                        <sly data-sly-test="${!properties.holidaysFooter}">
                        <ul class="footer-destination-list">
                            <sly data-sly-list.city="${footerModel.destinations}">
                            <li class="footer-destination">
                                <a href="${footerModel.destinations[city]}.html">${city}</a>
                            </li>
                            </sly>
                        </ul>
                        </sly>
                        <sly data-sly-test="${properties.holidaysFooter}"> <sly
                            data-sly-use.holidaysfooterModel="com.ihcl.core.models.holiday.footer.HolidayFooter">
                        <ul class="footer-destination-list">
                            <sly data-sly-list.indiaCity="${holidaysfooterModel.CountryMap['India']}">
                            <li class="footer-destination">
                                <a href="${indiaCity.DestinationPath}.html">${indiaCity.DestinationName}</a>
                            </li>
                            </sly>
                            <sly data-sly-list.exceptIndiaCity="${holidaysfooterModel.CountryMap['except_india']}">
                            <li class="footer-destination">
                                <a href="${exceptIndiaCity.DestinationPath}.html">${exceptIndiaCity.DestinationName}</a>
                            </li>
                            </sly>
                        </ul>
                        </sly> </sly>
                    </div>
                </div>
            </div>
            <div class="row footer-about-section">
                <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                    <ul data-sly-list="${footerModel.footerLinks}" class="footer-links-list">
                        <li class="footer-link">
                            <a href="${item.path}" rel="${item.nofollow ? 'nofollow' : ''}">${item.label}</a>
                        </li>
                    </ul>
                    <sly data-sly-test="${!properties.hideloyaltysection}">
                    <div class="footer-tic-section" data-sly-test="${!properties.lsShowOnTop}">
                        <div class="footer-tic-heading">
                            ${properties.loyaltySectionHeader}
                            <span class="footer-tic-expand-button">
                                <button class="btn-only-focus">${properties.lsExpanded? '-': '+'}</button>
                            </span>
                        </div>
                        <ul
                            data-sly-attribute.class="${properties.lsExpanded? 'footer-brands-list expanded-on-load': 'footer-brands-list'}"
                            data-sly-list="${footerModel.policyLinks}">
                            <sly data-sly-test="${item.externalUrl}">
                            <li class="footer-link">
                                <a href="${item.path}" target="_blank" rel="${item.policyNofollow ? 'nofollow' : ''}">${item.label}</a>
                            </li>
                            </sly>
                            <sly data-sly-test="${!item.externalUrl}">
                            <li class="footer-link">
                                <a href="${item.path}.html" target="_blank" rel="${item.policyNofollow ? 'nofollow' : ''}">${item.label}</a>
                            </li>
                            </sly>
                        </ul>
                    </div>
                    </sly>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 footer-email-section">
                    <sly data-sly-test="${properties.subscribe}">
                    <p class="label-footer-input">${properties.newsletter}</p>
                    <div class="subscription-box">
                        <!-- <input class="email-input v-middle footer-email" type="email" placeholder="${properties.email}" aria-label = "Email Id Input" id="newsLetterEmailId" name="newsLetterEmailId"/> -->
                        <sly data-sly-test="${!properties.ticFooter}"> <a href="${properties.newsletterURL}.html">
                            <button class="btn cm-btn-secondary subscribe-btn tajhotel-subscribe-btn"
                                data-dialog-btn="subscribeBox">${properties.subscribe}</button>
                        </a> </sly>
                        <sly data-sly-test="${properties.ticFooter}"> <a href="${properties.newsletterURL}.html">
                            <button
                                class="btn cm-btn-secondary subscribe-btn tic-subscribe-btn $text-caps newsletter-subscribe-btn"
                                data-dialog-btn="subscribeBox">${properties.subscribe}</button>
                        </a>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 footer-ihcl-logo-con">
                            <a href="${properties.footerLogoURL}"><img class="logo" src="${properties.linkURL}"
                                alt="taj logo" /></a>
                            <div class="footer-disclaimer" style="margin-top: 10px;">${properties.footerDisclaimer}</div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 brand-logos-section clearfix">
                            <div class="footer-brands-logo-inner-wrap">
                                <div>${properties.brandsTitle}</div>
                                <div class="brand-logos-carousal-band" data-sly-list="${footerModel.brandLinks}">
                                    <a href="${item.path}" rel="${item.brandNofollow ? 'nofollow' : ''}"><img
                                        class="brand-icon" border="0" src="${item.label}" alt="brand logo" /></a>
                                </div>
                            </div>
                        </div>
                        </sly>
                    </div>
                    </sly>
                    <div class="footer-promotion-icons-container clearfix">
                        <sly data-sly-test="${!properties.hideSocialMediaLinks}">
                        <div class="footer-media-section">
                            <div>${properties.socialMediaTitle}</div>
                            <div class="footer-social-media-con">
                                <a class="facebook-redirect" target="_blank" href="${properties.facebookredirectpath}"
                                    rel="${properties.facebooklinkNofollow ? 'nofollow' : ''}"><img class="share-icon"
                                    border="0" src="${properties.facebookimagepath @ context='html'}" alt="facebook icon" /></a>
                                <a class="instagram-redirect" target="_blank" href="${properties.instagramredirectpath}"
                                    rel="${properties.instagramlinkNofollow ? 'nofollow' : ''}"><img class="share-icon"
                                    border="0" src="${properties.instagramimagepath @ context='html'}" alt="instagram icon" /></a>
                                <sly data-sly-test="${properties.twitterimagepath}"> <a class="twitter-redirect"
                                    target="_blank" href="${properties.twitterredirectpath}"
                                    rel="${properties.twitterlinkNofollow ? 'nofollow' : ''}"><img class="share-icon"
                                    border="0" src="${properties.twitterimagepath @ context='html'}" alt="twitter icon" /></a>
                                </sly>
                                <a class="youtube-redirect" target="_blank" href="${properties.youtuberedirectpath}"
                                    rel="${properties.youtubelinkNofollow ? 'nofollow' : ''}"><img class="share-icon"
                                    border="0" src="${properties.youtubeimagepath @ context='html'}" alt="YouTube icon" /></a>
                            </div>
                        </div>
                        </sly>
                        <sly data-sly-test="${!properties.hideDownloadAppLinks}">
                        <div class="footer-app-section">
                            <div>${properties.downloadTitle}</div>
                            <div>
                                <a href="${properties.downloadLink1}"><img class="download-icon" border="0"
                                    src="${properties.downloadImg1 @ context='html'}" alt="App store icon"
                                    rel="${properties.downloadLinkNofollow1 ? 'nofollow' : ''}" /></a> <a
                                    href="${properties.downloadLink2}"><img class="download-icon" border="0"
                                    src="${properties.downloadImg2 @ context='html'}" alt="Google Play Store icon"
                                    rel="${properties.downloadLinkNofollow2 ? 'nofollow' : ''}" /></a>
                            </div>
                        </div>
                        </sly>
                    </div>
                </div>
            </div>
            <sly data-sly-test="${!properties.ticFooter}">
            <div class="row footer-brand-details-section">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 footer-ihcl-logo-con">
                    <a href="${properties.footerLogoURL}"> <sly
                            data-sly-call="${imagetemplate.damImageTemplate @ imagePath= properties.linkURL ? properties.linkURL :'/content/dam/tajhotels/icons/style-icons/ihcl-logo.svg', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.png', styleClass='logo' }">
                        </sly>
                    </a>
                    <div class="footer-disclaimer" style="margin-top: 10px;">${properties.footerDisclaimer}</div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 brand-logos-section clearfix">
                    <div class="footer-brands-logo-inner-wrap">
                        <div>${properties.brandsTitle}</div>
                        <div class="brand-logos-carousal-band" data-sly-list="${footerModel.brandLinks}">
                            <a href="${item.path}" rel="${item.brandNofollow ? 'nofollow' : ''}"> <sly
                                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath= item.label ? item.label :'', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', styleClass=item.cssClassName }">
                                </sly>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </sly>
        </div>
    </div>
</footer>