.mr-map-view-hotelsLists-wrap {
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.mr-listsMapHotels-Main-Wrapper {
    margin-top: 16px;
    margin-top: 1rem;
}

@media only screen and (max-width: 767px) {
    .mr-mapview-carousel-wrap .hotelCard-container-wrap {
        margin: 0rem;
        border: unset;
    }
}

.mr-mapCarousel [class*="col-"] {
    padding-left: 0px ! important;
    padding-right: 0px ! important;
}

.mr-map-view-hotels-Container {
    overflow: auto;
    height: 612px;
    height: 38.25rem;
}

@media only screen and (max-width: 767px) {
    .mr-map-view-hotels-Container {
        display: none;
    }
}

.mr-map-totalCount {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.19;
    color: #979797;
    margin-top: 35px;
    margin-top: 2.1875rem;
}

.mapHotel-title {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5125rem;
    line-height: 0.92;
    color: #4a4a4a;
}

.mapHotel-location-wrap {
    display: table;
    width: 100%;
    margin-top: 0.625rem;
    margin-bottom: 0.375rem;
}

.mapHotel-location-wrap .mapHotel-location-icon {
    display: table-cell;
    width: 4%;
    vertical-align: top;
}

.mapHotel-location-wrap .mapHotel-location-icon .mr-mapHotel-location-icon {
    width: 10px;
    
    height: 14px;
    
    vertical-align: unset;
}

.map-card-waiting-spinner img {
	width: 5rem;
}

.mapHotel-location-wrap .mapHotel-location-address {
    display: table-cell;
    width: 96%;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1.00625rem;
    line-height: 1.19;
    color: #979797;
}

.mapHotel-airport-distance {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1.00625rem;
    line-height: 1.19;
    color: #979797;
}

.mr-map-Hotel-image {
    width: 155px;
    width: 9.6875rem;
    height: 155px;
    height: 9.6875rem;
}

.mr-mapHotel-contents-wrap {
    background-color: #ffffff;
    padding: 21px 26px;
    padding: 1.325rem 1.625rem;
}

@media only screen and (max-width: 767px) {
    .mr-mapHotel-contents-wrap {
        padding: 0.875rem;
    }
}

.maphotel-mainDetails-wrap {
    position: relative;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
    .mr-map-view-mobile-none {
        display: none;
    }
}

.mr-mapview-carousel-wrap {
    position: fixed;
    bottom: 8px;
    bottom: 0.5rem;
    padding: 0 8px;
    padding: 0 0.5rem;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .mr-mapview-carousel-wrap {
        display: none;
        z-index: 1000;
    }
}

.mr-map-overallRating-wrap {
    position: absolute;
    top: 0;
    right: 0;
}

.mr-map-overallRating {
    width: 29px;
    width: 1.8125rem;
    height: 28px;
    height: 1.75rem;
    font-family: Calibri;
    font-size: 11px;
    font-size: 0.7375rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-image: var(--linearGradient);
    line-height: 2.3;
}

.mapHotels-rateperNightText {
    font-family: Calibri;
    font-size: 10px;
    font-size: 0.625rem;
    color: #9b9b9b;
}

.mr-mapRupee,
.newRate-rupee {
    font-family: RupeeForadian;
}

.mapHotels-oldRate {
    opacity: 0.58;
    font-family: Calibri;
    font-size: 19px;
    font-size: 1.1875rem;
    text-align: center;
    color: #4a4a4a;
    padding-right: 12px;
    padding-right: 0.8rem;
}

.mr-map-Newrate {
    font-family: Calibri;
    font-size: 27px;
    font-size: 1.6875rem;
    font-weight: bold;
    text-align: right;
    color: #4a4a4a;
}

.map-last-few-rooms {
    font-family: Calibri;
    font-size: 11px;
    font-size: 0.7375rem;
    line-height: 1.29;
    text-align: right;
    color: #d0021b;
    padding-bottom: 5px;
    padding-bottom: 0.36875rem;
}

.mr-viewHotel-wrap {
    text-align: right;
}

.mr-mapHotel-image-wrap {
    height: 100%;
    background: #ccc;
}

.mr-mapHotel-image-wrap img {
    height: 100%;
    width: 100%;
}

#mapDestination {
    height: 100%;
}

.mr-google-mapContainer {
    height: 100%;
    width: 100%;
    padding: 16px;
    padding: 1rem;
    padding-bottom: unset;
}

.mr-google-mapContainer .map-back-icon {
    display: none;
}

@media only screen and (max-width: 767px) {
    .mr-google-mapContainer .map-back-icon {
        width: 0.75rem;
        height: 1.25rem;
        position: absolute;
        left: 1.25rem;
        top: 1.25rem;
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .mr-google-mapContainer {
        padding: unset;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100000;
    }
    .mr-mapCarousel{
        display: none;
    }
    .active{
        display: block;
    }
}

.mr-map-view-hotelsLists-wrap.active {
    border: 2px solid var(--primaryColor);
}

.mr-listsMapHotels-Main-Wrapper [class*="col-"] {
    padding-left: 0px ! important;
    padding-right: 0px ! important;
}
.display-hide,
.selected-location-hotels,
.gm-style-mtc,
.gm-svpc {
    display: none;
}
.gm-bundled-control-on-bottom .gmnoprint {
        display: none;
    
}
.carousel-inner-list{
    display: flex;
}
