  .locationMap {
    height: 500px;
    width: 100%;
  }

  .locationMap .gm-style .gm-style-iw-c {
    border-radius: 0;
  }

  .locationMap .gm-style .gm-style-iw-c .maplocationInfo {
    padding: 20px 15px;
    line-height: 1.8;
    font-size: 16px;
    max-width: 250px;
  }

  .locationMap .gm-ui-hover-effect {
    top: 0 !important;
    right: 0 !important;
  }

  .locationMap .gm-ui-hover-effect img {
    transform: scale(1.5);
  }
  
.ama-google-map{
    margin-top: 30px;
}