.amaHeader {
	-webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
	background: #fff;
	width: 100%;
}

.amaHeader .navbar-brand {
	padding: 0;
}

.mobNavLink {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	z-index: 999;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.mobNavLink.menuBoxIn {
	left: 0;
}

.mobNavLink .blkOvrly {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	pointer-events: none;
	z-index: -1;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.mobNavLink.menuBoxIn .blkOvrly {
	pointer-events: all;
	opacity: 1;
}

.mobNavLink .navLinkList {
	background: #fff;
	width: 80%;
	height: 100vh;
}

.mobNavLink .navLinkList ul {
	padding: 0 20px;
	padding-top: 70px;
}

.mobNavLink .navLinkList ul li {
	margin-bottom: 15px;
}

.mobNavLink .navLinkList ul li a {
	font-size: 18px;
}

.mobNavLink .navCloseBtn {
	height: 30px;
	width: 30px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.mobNavLink .navCloseBtn:before {
	content: "";
	position: absolute;
	left: 0;
	top: 15px;
	height: 1px;
	width: 100%;
	background: #000;
	transform: rotate(45deg);
}

.mobNavLink .navCloseBtn:after {
	content: "";
	position: absolute;
	left: 0;
	top: 15px;
	height: 1px;
	width: 100%;
	background: #000;
	transform: rotate(-45deg);
}

.amaHeader .mainmenu a {
	padding: 0;
	font-size: 12px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.68px;
	font-family: var(--themeContentFontBold);
	color: var(--primaryTextColor);
}

.amaHeader .dropdown-toggle::after {
	display: none;
}

.amaHeader .navbar-nav>li {
	margin-left: 1.5rem;
	line-height: 80px;
}
@media only screen and (max-width: 1024px) {
    .amaHeader .navbar-nav>li {
		margin-left: 0.6rem;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .amaHeader .navbar-nav>li {
          margin-left: 0.8rem;
     }
}


.amaHeader .bookNowBtn {
	background-color: var(--primaryColor);
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	line-height: 1;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	letter-spacing: 1px;
	cursor: pointer;
}

.dropdown-menu {
	padding: 0;
	margin: 0;
	border: 0 solid transition !important;
	border: 0 solid rgba(0, 0, 0, .15);
	border-radius: 0;
	-webkit-box-shadow: none !important;
	box-shadow: none !important
}

.mainmenu a, .navbar-default .navbar-nav>li>a, .mainmenu ul li a,
	.navbar-expand-lg .navbar-nav .nav-link {
	font-size: 16px;
	text-transform: capitalize;
	padding: 16px 15px;
	display: block !important;
}

.mainmenu .active a, .mainmenu .active a:focus, .mainmenu .active a:hover,
	.mainmenu li a:hover, .mainmenu li a:focus, .navbar-default .navbar-nav>.show>a,
	.navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover
	{
	color: var(--primaryColor);
	outline: 0;
	text-decoration: none;
}

.amaHeader .mainmenu .collapse ul ul li {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 40px;
	padding-left: 20px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.amaHeader .mainmenu .collapse ul ul li a {
	color: #fff;
}

.amaHeader .mainmenu .collapse ul ul li:hover {
	background: var(--primaryColor);
	padding-left: 25px;
}

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu {
	background-color: var(--primaryColorDark);
}

.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu
	{
	background: var(--primaryColor);
}

.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu
	{
	background: var(--primaryColor);
}

.mainmenu .collapse ul ul ul li {
	width: 50%;
}

/******************************Drop-down menu work on hover**********************************/
.mainmenu {
	background: none;
	border: 0 solid;
	margin: 0;
	padding: 0 15px;
	min-height: 20px;
	width: 100%;
}

.ama-theme.cart-layout #menu_area .book-stay-btn,
.ama-theme.checkout-layout #menu_area .book-stay-btn,
.ama-theme.checkout-confirmation-layout #menu_area .book-stay-btn {
	display: none !important;
}

@media only screen and (min-width: 767px) {
	.mainmenu .collapse ul li:hover>ul {
		display: block
	}
	.mainmenu .collapse ul ul {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 250px;
		display: none
	}

	/*******/
	.mainmenu .collapse ul ul li {
		position: relative
	}
	.mainmenu .collapse ul ul li:hover>ul {
		display: flex;
		min-width: 450px;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.mainmenu .collapse ul ul li:hover>ul.sub-menu-layout1 {
		min-width: 250px;
	}
	.mainmenu .collapse ul ul ul.sub-menu-layout1 li {
		width: 100%;
	}
	.mainmenu .collapse ul ul li:hover>ul:after {
		content: "";
		width: 1px;
		height: 70%;
		top: 50%;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		background: rgba(255, 255, 255, 0.5);
	}
	.mainmenu .collapse ul ul li:hover>ul.sub-menu-layout1:after {
		display: none;
	}
	.mainmenu .collapse ul ul ul {
		position: absolute;
		top: 0;
		left: 100%;
		min-width: 250px;
		display: none
	}

	/*******/
	.mainmenu .collapse ul ul ul li {
		position: relative
	}
	.mainmenu .collapse ul ul ul li:hover ul {
		display: block
	}
	.mainmenu .collapse ul ul ul ul {
		position: absolute;
		top: 0;
		left: -100%;
		min-width: 250px;
		display: none;
		z-index: 1
	}
	.selectedHeader {
		color: var(--primaryColor) !important;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-nav .show .dropdown-menu .dropdown-menu>li>a {
		padding: 16px 15px 16px 35px
	}
	.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu>li>a {
		padding: 16px 15px 16px 45px
	}
	.amaHeader .navbar-light .navbar-toggler {
		border: 0;
		outline: none !important;
		padding: 0;
		margin-right: 11px;
		outline: none;
	}
	.amaHeader {
		/* padding: 0 15px; */
		position: relative;
	}
	.amaHeader .mainmenu {
		display: block;
	}
	.amaHeader .bookNowBtn {
		background-color: var(--primaryColor);
		color: #fff;
		display: inline-block;
		padding: 10px 20px;
		line-height: 1;
		font-size: 12px;
		margin-top: 0;
		text-transform: uppercase;
		border: none;
		letter-spacing: 1px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
	}
	.amaHeader .navbar-collapse {
		display: none;
	}
}

.ama-header .nav-item {
	margin-left: 1rem;
}
.ama-header .header-profile-wrp {
	height: 80px;
}
@media only screen and (max-width: 991px){
    .ama-header .header-profile-wrp {
        height: auto;
    }
	.ama-header .nav-item{
		margin-left: 0;
	}
}
.user-details-margin {
	margin: 0 -1rem;
}
.mob-user-card {
	background: #000;
} 