
<sly
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.find-reservation'}" />
<div class="cm-content-blocks">
                <div class="row">
                    <div class="col-12">
                        <div class="find-reservation-con">
                            <div class="find-reserve-heading">${properties.findReservationLabel}</div>
                            <div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 find-reserve-cat">
                                        <div class="find-reserve-name"><span class="find-reserve-name-text">Confirmation Number/ ItineraryNumber</span><span>*</span></div>
                                        <div class="find-reserve-val"><input id="confirmation-number" class="find-reserve-input sub-form-mandatory confirmation-num-input" aria-label = "Confirmation Number Input">
                                            <div class="sub-form-input-warning"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 find-reserve-cat">
                                        <div class="find-reserve-name"><span class="find-reserve-name-text">Email id</span><span>*</span></div>
                                        <div class="find-reserve-val"><input id="email" class="find-reserve-input email-input sub-form-mandatory" aria-label = "Email Id Input">
                                            <div class="sub-form-input-warning"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 clearfix find-reserve-cat find-reserve-btn">
                                        <button id="asasa" class="cm-btn-secondary find-reserve-btn-con" type="reset">FIND RESERVATION</button>
                                        <div class="taj-loader" style="display:none">
                                            <div class="taj-loader-circle"></div>
                                            <div class="taj-loader-circle"></div>
                                            <div class="taj-loader-circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 find-reserve-no-confirm-num">
                                    <div class="find-reserve-no-confirm-no-heading">${properties.findReservationHeading}</div>
                                    ${properties.findReservationDesc @context='html'}
                                    <input type="hidden" name="varname" id="redirectUrl" value=${properties.url} aria-hidden = "true"/>
									<input type="hidden" name="hotel-chain-code" id="chainCode" value=${properties.hotelChainCode} aria-hidden = "true" />
                                    <input type="hidden" name="hotel-substring" id="hotelsubstring" value=${properties.hotelsubstring} aria-hidden = "true"/>
                                    <input type="hidden" name="root-content-path" id="rootcontentpath" value=${inheritedPageProperties.siteConfigContentPath} aria-hidden = "true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>