<div data-sly-test="${wcmmode.edit}">
    AMP Footer
</div>
<!-- Footer -->
<footer class="footer" data-sly-use.footerModel="com.ihcl.core.models.holiday.footer.HolidayFooter">
    <div class="footer-component">
        <!-- Destinations -->
        <amp-accordion animate disable-session-states>
            <section class="footer-destination-section">
                <header class="footer-destination-heading">${properties.destinationsTitle}<span class="footer-destination-expand-button" tabindex = "0">+</span></header>
                <ul class="footer-links-two-col">
                    <sly data-sly-list.indiaCity="${footerModel.CountryMap['India']}">
                        <li class="footer-destination"><a
                                href="${indiaCity.DestinationPath}.html">${indiaCity.DestinationName}</a></li>
                    </sly>
                    <sly data-sly-list.exceptIndiaCity="${footerModel.CountryMap['except_india']}">
                        <li class="footer-destination"><a
                                href="${exceptIndiaCity.DestinationPath}.html">${exceptIndiaCity.DestinationName}</a></li>
                    </sly>
                </ul>
            </section>
        </amp-accordion>
        <div class="footer-links-section">
            <ul data-sly-list="${footerModel.footerLinks}" class="footer-links-two-col">
                <li class="footer-link"> <a href="${item.path}.html">${item.label}</a></li>
            </ul>
            <ul class="footer-links-one-col tic-links" data-sly-list="${footerModel.policyLinks}">
                <li class="footer-link"> <a href="${item.path}">${item.label}</a></li>
            </ul>
        </div>
        <div class="footer-media-section">
            <div>Connect with us:</div>
            <div class="footer-social-media-con">
                <a target="_blank" href="${properties.facebookredirectpath}">
                    <amp-img height="40px" width="40px" class="share-icon" src="${properties.facebookimagepath}" alt="facebook icon"></amp-img>
                </a>
                <a target="_blank" href="${properties.instagramredirectpath}">
                    <amp-img height="40px" width="40px" class="share-icon" src="${properties.instagramimagepath}" alt="instagram icon"></amp-img>
                </a>
                <a target="_blank" href="${properties.twitterredirectpath}">
                    <amp-img height="40px" width="40px" class="share-icon" src="${properties.twitterimagepath}" alt="twitter icon"></amp-img>
                </a>
                <a target="_blank" href="${properties.youtuberedirectpath}">
                    <amp-img height="40px" width="40px" class="share-icon" src="${properties.youtubeimagepath}" alt="YouTube icon"></amp-img>
                </a>
            </div>
        </div>
        <div class="footer-brand-details-section">
            <div class="brand-logos-section">
                <div>${properties.brandsTitle}</div>
                <div class="brand-logos-carousal-band" data-sly-list="${footerModel.brandLinks}">
                    <a href="${item.path}">
                        <amp-img height="16px" class="brand-icon" src="${item.label}" alt="brand logo"></amp-img>
                    </a>
                </div>
            </div>
            <div class="footer-ihcl-logo-con">
                <amp-img class="logo" width="90" height="30" src="${properties.linkURL}" alt="taj logo"></amp-img>
                <div class="footer-disclaimer">${properties.footerDisclaimer}</div>
            </div>
        </div>
    </div>
</footer>