.cm-page-container:not(.ihcl-theme).cart-layout .generic-back-link.checkout-page-back-link{
    display:none;
}
.summary-card-wrap {
    display: table;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 767px) {
    .summary-card-wrap {
        display: block;
        margin: 0 15px !important;
        padding:0 !important;
    }
}

.nightly-rates, .all-type-of-taxes{
	padding: 0rem 0rem 0rem 0.7rem;
	display:none;
}

/* ihclcb style */
.ihcl-theme .all-entity {
	font-size: 12px;                                    
	display: none;
	margin-top: 10px;     

}    
.ihcl-theme .all-entity .entity-title:after {
	display: none;
}
.ihcl-theme .all-entity .ihclcb-entity-list-wrp span {
	margin-left: auto;
}

.ihcl-theme .ihclcb-font-size .summary-charges-item-name,
.ihcl-theme .ihclcb-font-size .summary-charges-item-value {
	font-size: 1.5rem;
}

.ihcl-theme .summary-charges-item-value span.entity-details-start-ind {
	font-family: "Calibri-bold";	
	font-size: 1.125rem;
	color: #4a4a4a;
}

/* ihclcb style ends*/

.room-info{
	font-family: Calibri;
	font-size: 1.055rem;
}

.soldout-room-info, .soldout-summary-info {
	font-family: Calibri;
    font-size: 1.055rem;
}

.ind-nightly-rate, .ind-tax-Details{
	font-family: Calibri;
    font-size: 12px;
    padding: 0rem 0rem 0rem 1rem;    
}
    
.ind-nightly-rate .cart-currency-symbol{
	float:right;
}

.ind-nightly-rate .ind-night-rate, .ind-tax-Details .ind-tax-amount{
	float:right;
}

.summary-room-details {
    display: table-cell;
    width: 61.8%;
    background: #fff;
    padding: 24px 32px 38px 34px;
    padding: 1.5rem 2rem 2.375rem 2.125rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-room-details {
        display: block;
        width: 100%;
        padding: 21px 1rem 21px 1rem;
    }
}

.summary-room-title {
    font-size: 35px;
    font-size: 2.1875rem;
    font-family: Calibri;
    color: #323232;
    position: relative;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.ihcl-theme .summary-room-title {
	font-family: "Calibri-Bold";
}

.summary-room-title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 73px;
    background-color: var(--primaryColor);
    left: 5px;
    bottom: -10px;
}

.summary-room-title i {
    position: absolute;
    right: 12px;
    right: 0.8rem;
    top: 20px;
    top: 1.25rem;
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-room-title i {
        display: block;
    }
}

.summary-room-title .expanded {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.summary-room-mobile {
    color: var(--primaryColorDark);
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
    display: none;
}

.summary-room-mobile span {
    border-right: 1px solid var(--primaryColorDark);
    margin-right: 10px;
    margin-right: 0.525rem;
    padding-right: 10px;
    padding-right: 0.525rem;
}

.summary-room-mobile span:last-child {
    border-right: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-room-mobile {
        display: none !important;
    }
}

@media only screen and (max-device-width: 320px) {
    .summary-room-mobile {
        font-size: 0.875rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-room-exp {
        display: block;
    }
}

.check-in-details,
.check-out-details {
    float: left;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
    color: #4a4a4a;
    min-width: 170px;
    min-width: 10.625rem;
}

.check-in-details div:first-child,
.check-out-details div:first-child {
    color: #272727;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .check-in-details,
  .check-out-details {
        min-width: 8rem;
    }
}

.selected-rooms-details .selected-room-detail {
    letter-spacing: 1px;
    margin-top: 26px;
    margin-top: 1.625rem;
    color: #4a4a4a;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
}

.selected-rooms-details .selected-room-detail img {
    width: 30px;
    width: 1.875rem;
    margin-right: 18px;
    margin-right: 1.125rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .selected-rooms-details .selected-room-detail img {
        margin-right: 0.3125rem;
    }
}

.selected-rooms-details .selected-room-detail .number-of-room {
    color: var(--primaryColorDark);
    letter-spacing: 0.9px;
    padding: 0 0.3rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .selected-rooms-details .selected-room-detail {
        font-size: 0.875rem;
        letter-spacing: 0.7px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .selected-rooms-details .selected-room-detail {
        font-size: 0.75rem;
    }
}

.summary-charges {
    display: table-cell;
    width: 38.2%;
    background: #fbf9f7;
    padding: 24px 44px 38px 31px;
    padding: 1.5rem 2.75rem 2.375rem 1.9375rem;
}

.summary-soldout-message{
	display: table-cell;
    width: 38.2%;
    background: #fbf9f7;
    padding: 24px 44px 38px 31px;
    padding: 1.5rem 2.75rem 2.375rem 1.9375rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges {
        display: block;
        width: 100%;
        padding: 24px 0.7625rem 29.8px 0.844rem;
    }
}

.summary-charges-heading {
    font-family: Calibri-Bold;
    font-size: 24px;
    font-size: 1.5rem;
    color: #4a4a4a;
}

.summary-charges-item-con {
    width: 100%;
    position: relative;
    margin-top: 25px;
    margin-top: 1.5625rem;
}

.summary-charges-item-con .summary-charges-item-name, .ihcl-theme .summary-charges-item-value .star-india-txt {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri-Bold;
    color: #4a4a4a;
}
.summary-charges-item-con .btn-only-focus{
    width: 100%;
}
.soldout-room-name, .soldout-apologize{
	font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri-Bold;
    color: #4a4a4a;
}

.summary-charges-item-con .summary-charges-item-name .coupon-code-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri-Bold;
    color: #4a4a4a;
}

@media only screen and (max-width: 991px) {
    .summary-charges-item-con .summary-charges-item-name .coupon-code-label {
        font-size: 1rem;
    }
}

.summary-charges-item-con .summary-charges-item-name .coupon-code-input-con {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 575px) {
    .summary-charges-item-con .summary-charges-item-name .coupon-code-input-con {
        position: relative;
        display: block;
        margin-top: 0.75rem;
    }
}

.summary-charges-item-con .summary-charges-item-name .coupon-code-input-con .coupon-code {
    width: 288px;
    width: 18rem;
    margin-left: 0;
    font-size: 19px;
    font-size: 1.2rem;
    height: 35px !important;
    height: 2.1875rem !important;
}

@media only screen and (max-width: 575px) {
    .summary-charges-item-con .summary-charges-item-name .coupon-code-input-con .coupon-code {
        width: 100%;
    }
}

.summary-charges-item-con .summary-charges-item-name .coupon-code-input-con .coupon-code-clear-input {
    width: 12px;
    width: 0.75rem;
    height: 12px;
    height: 0.75rem;
    position: absolute;
    top: 11px;
    top: 0.6875rem;
    right: 85px;
    right: 5.3125rem;
    z-index: 1;
    display: none;
    cursor: pointer;
}

.summary-charges-item-con .summary-charges-item-name .coupon-code-input-con .apply-coupon-code-btn {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    height: 35px !important;
    height: 2.1875rem !important;
    width: 80px;
    width: 5rem;
    cursor: pointer;
}

.summary-charges-item-con .summary-charges-item-name .coupon-code-input-con .couponcode-status-text {
    position: relative;
    margin-bottom: -30px;
    margin-bottom: -1.875rem;
    min-height: 30px;
    min-height: 1.875rem;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #4a4a4a;
    margin-top: 3px;
    margin-top: 0.1875rem;
}

.summary-charges-item-con .summary-charges-item-name span {
    color: #272727;
    font-family: Calibri;
    margin-left: 5px;
    margin-left: 0.3125rem;
}
@media only screen and (max-width: 767px) {
	.summary-charges-item-con .summary-charges-item-name span {
		letter-spacing:-1px;
	}		
}
.summary-charges-item-con .summary-charges-item-name div {
    color: #272727;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 10px;
    line-height: 0.625rem;
}

.summary-charges-item-con .summary-charges-item-name input {
    border: solid 1px var(--primaryColorDark);
    height: 35px;
    height: 2.1875rem;
    line-height: 35px;
    width: 136px;
    width: 8.5rem;
    margin-left: 9px;
    margin-left: 0.5625rem;
    padding-left: 5px;
    padding-left: 0.3125rem;
    font-size: 14px;
    font-size: 0.875rem;
    color: #b1b1b1;
    font-family: Calibri;
    background: #fbf9f7;
}

.summary-charges-item-con .summary-charges-item-name input:focus {
    outline: none;
}

.summary-charges-item-con .summary-charges-item-name .input-disabled {
    border: dashed 1px var(--primaryColor);
    font-size: 18px;
    font-size: 1.125rem;
    color: var(--primaryColor) !important;
    background-color: #fff;
    width: 80px;
    width: 5rem;
    pointer-events: none;
}

.summary-charges-item-con .summary-charges-item-name .input-disabled::-webkit-input-placeholder {
    color: var(--primaryColor);
}

.summary-charges-item-con .summary-charges-item-name .input-disabled::-moz-placeholder {
    color: var(--primaryColor);
}

.summary-charges-item-con .summary-charges-item-name .input-disabled:-ms-input-placeholder {
    color: var(--primaryColor);
}

.summary-charges-item-con .summary-charges-item-name .input-disabled::placeholder {
    color: var(--primaryColor);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-item-name {
        font-size: 1rem;
    }
}

.summary-charges-item-con .summary-charges-item-value {
    position: absolute;
    right: 0;
    top: -3px;
    top: -0.1875rem;
    font-family: RupeeForadian;
    font-size: 20px;
    font-size: 1.25rem;
}

.summary-charges-item-con .summary-charges-item-value span {
    font-family: Calibri;
    font-size: 22px;
    font-size: 1.375rem;
    margin-left: 5px;
    margin-left: 0.3125rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-item-value span {
        font-size: 1.125rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-item-value {
        font-size: 1.09rem;
    }
}

.summary-charges-item-con .summary-charges-discount-value {
  /*display: none;*/
    position: absolute;
    right: 0;
    top: -3px;
    top: -0.1875rem;
    font-family: RupeeForadian;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primaryColor);
}

.summary-charges-item-con .summary-charges-discount-value span {
    font-family: Calibri-Bold;
    font-size: 22px;
    font-size: 1.375rem;
    margin-left: 5px;
    margin-left: 0.3125rem;
    color: var(--primaryColor);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-discount-value span {
        font-size: 1.125rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-discount-value {
        font-size: 1.09rem;
    }
}

.summary-applied-coupn {
    font-family: Calibri;
    color: var(--primaryColor) !important;
    padding: 4px 10px;
    padding: .25rem 0.625rem;
    border: 1px dashed var(--primaryColor);
    display: inline-block;
    margin-left: 4px;
    margin-left: 0.25rem;
}

.summary-charges-item-con:last-child .summary-charges-item-value span {
    font-family: Calibri-Bold;
}

.summary-charges-item-con:first-child {
    margin-top: 30px;
    margin-top: 1.875rem;
}
.cart-empty-state-con{
	box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    min-height: 368px;
    min-height: 23rem;
    text-align: center;
    display: none;
    background: #fff;
    position: relative;
}

.cart-price-diff-bar {
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
	text-align: center;
    display: none;
    background: #fff;
    position: relative;
    border: solid 1.4px var(--primaryColor);
    margin-bottom: 1.5rem !important;
}

.cart-empty-state-con.active, .cart-price-diff-bar.active {
    display: block;
}

@media only screen and (max-width: 767px) {
    .cart-empty-state-con, .cart-price-diff-bar {
        margin: 0 15px;
    }
}

.cart-empty-state-inner-wrap {
    display: inline-block;
    /*position: absolute;*/
    margin: auto;
    width: 60%;
    padding:2rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*height: 70%;*/
}

.cart-price-diff-bar-inner-wrap{
	text-align: left;
    padding: 1rem 1rem;
    margin-bottom: 1px;
}

@media only screen and (max-width: 767px) {
    .cart-empty-state-inner-wrap, .cart-price-diff-bar-inner-wrap {
        width: 90%;
    }
}

.cart-empty-title-text {
    font-family: Calibri-Bold;
    margin: 15px 0 5px;
    margin: 0.9375rem 0 0.3125rem;
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: center;
    color: var(--primaryColor);
}

.cart-price-diff-detail-text{
	font-family: Calibri;
    color: #4a4a4a;
    line-height: 1.38;
    text-align: center;
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
}

.price-warning-box-close{
	position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    margin: auto;
    display: table;
}

.cart-empty-detail-text {
    font-family: Calibri;
    color: #4a4a4a;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.38;
    text-align: center;
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
}

.cart-empty-icon {
    width: 102px;
    width: 6.375rem;
    height: 86px;
    height: 5.375rem;
}

.cart-empty-back {
    color: var(--primaryColor);
    font-family: Calibri-Bold;
    cursor: pointer;
    float: initial;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    padding-top: 0;
}

.cart-empty-back a {
    color: var(--primaryColor);
}

@media only screen and (max-width: 767px) {
    .cart-empty-back {
        margin: 0 15px 0.5rem;
    }
}

.tic-room-redemption-fix .summary-charges-item-con:last-child .summary-charges-item-value .cart-total-price,
.tic-room-redemption-fix .summary-charges-item-con .summary-charges-item-value .cart-room-price {
	display: inline-block;
	text-align: right;
}

@media only screen and (max-width: 767px) {
	.tic-room-redemption-fix .summary-charges .summary-charges-item-con .summary-charges-item-value {
		position: unset;
		text-align: right;
		margin-top: -1.5rem;
	}
}

@media only screen and (max-width: 767px) {
	.tic-room-redemption-fix .summary-charges-item-con .summary-charges-item-value span {
		font-size: 0.9rem;
	}
}

@media only screen and (max-width: 374px) {
	.tic-room-redemption-fix .summary-charges .summary-charges-item-con .summary-charges-item-value {
		margin-top: 0rem;
	}
}

#inclusive-taxes {
	margin-top: 15px;
}

.tic-room-redemption-fix #summary-charges-total-price.summary-charges-item-con .summary-charges-item-name{
	margin-bottom:1.5rem;
}


.ihcl-theme .summary-card-wrap {
	border-radius: 4px;
	overflow: hidden;
}
.ihcl-theme .summary-charges-div .icon-drop-down-arrow::before {
    /*font-size: 0.6rem;*/
    color: var(--secondaryColor);
}
.ihcl-theme .check-in-details div:first-child, 
.ihcl-theme .check-out-details div:first-child {
	font-size: 0.9rem;
}
.ihcl-theme .check-in-details div:last-child, 
.ihcl-theme .check-out-details div:last-child {
    font-size: 1.5rem;
    color: #212529;
}
.ihcl-theme .summary-charges {
	background-color: rgba(168, 180, 187, 0.24);
}
@media only screen and (max-width: 767px) {
	.ihcl-theme .summary-charges,
	.ihcl-theme .summary-room-details {
	   padding: 1rem;
	}
	
	.ihcl-theme .check-in-details div:last-child, 
	.ihcl-theme .check-out-details div:last-child {
	    font-size: 0.85rem;
	}
		
	.ihcl-theme .summary-room-title,
	.ihcl-theme .summary-charges-heading {
		font-size: 1.2rem;
		color: #1b1b1b;
		position: relative;
	}
	.ihcl-theme .check-in-details, .check-out-details,
	.ihcl-theme .room-info {
	   font-size: 1rem;
	}	
	.ihcl-theme .summary-room-details:not(.ihclcb-open-checkout-accordion) .summary-room-title {
	   margin-bottom: 0;
	}
	.ihcl-theme .summary-room-title::before,
    .ihcl-theme .summary-charges-heading::after {
        content: "\e928";
        position: absolute;
        right: 0;
        color: #0b5a8c;
        font-family: "icomoon";
        font-size: 0.6rem;
        background-color: transparent;
        top: 0;
        bottom: 0;
        left: auto;
        width: auto;
        margin: auto;
        height: 10px;   
        transition: all ease 0.3s;   
    }
    
    .ihcl-theme .ihclcb-open-checkout-accordion .summary-room-title::after,
    .ihcl-theme .ihclcb-open-checkout-accordion .summary-charges-heading::after {
        transform: rotate(180deg);
    }
    
	.ihcl-theme .ihclcb-font-size #inclusive-taxes,
	.ihcl-theme .summary-room-exp,
	.ihcl-theme #summary-charges-total-price,
	.ihcl-theme #summary-taxes-charges,
	.ihcl-theme #entity-details-summary {
	   display: none;
	}
	
	.ihcl-theme .summary-charges-item-con .summary-charges-item-name {
       font-family: "Calibri";
       font-size: 0.9rem;
    }
    
	.ihcl-theme .ihclcb-font-size .summary-charges-item-name,
	.ihcl-theme .ihclcb-font-size .summary-charges-item-value,
	.ihcl-theme .summary-charges-item-con.ihclcb-font-size .summary-charges-item-name span,
	.ihcl-theme .summary-charges-item-con .summary-charges-item-value span {
	    font-size: 0.9rem;
	    color: #000000;
	    font-family: "Calibri-Bold";
	}
		
	.ihcl-theme .ihclcb-open-checkout-accordion .summary-room-exp,
    .ihcl-theme .ihclcb-open-checkout-accordion #summary-charges-total-price,
    .ihcl-theme .ihclcb-open-checkout-accordion #summary-taxes-charges,
    .ihcl-theme .ihclcb-open-checkout-accordion #entity-details-summary {
	   display: block;
	}
	
	.ihcl-theme .all-entity {
	   padding-left: 0.7rem;
	}
	.ihcl-theme .summary-charges-item-con .ihclcb-entity-list-wrp {
	   font-size: 12px;
	}
	
}
