<sly data-sly-use.twitterCard="com.ihcl.core.models.TwitterCardModel" >
        <!--  Twitter card data-->
        <meta data-sly-test.twitterCard="${properties.twitterCard ? properties.twitterCard :'product'}"  name="twitter:card" content="${twitterCard}"/>
        <meta data-sly-test.twitterSite="${properties.twitterSite ? properties.twitterSite :'@taj_team_build'}" name="twitter:site" content="${twitterSite}"/>
        <meta data-sly-test.twitterDescription="${properties.twitterDescription}" name="twitter:description" content="${twitterDescription}"/>
        <meta data-sly-test.twitterTitle="${properties.twitterTitle ? properties.twitterTitle :properties['jcr:title']}" name="twitter:title" content="${twitterTitle}"/>
        <meta data-sly-test.twitterImage="${properties.twitterImageURL ? properties.twitterImageURL :twitterCard.imageURL}" name="twitter:image" content="${twitterImage}"/>
        <!-- OG Graph card data -->
        <meta data-sly-test.ogTitle="${properties.ogTitle ? properties.ogTitle :properties['jcr:title']}" name="og:title" content="${ogTitle}"/>
        <meta data-sly-test.ogType="${properties.ogType ? properties.ogType :'website'}"  name="og:type" content="${ogType}"/>
        <meta data-sly-test.ogURL="${properties.ogURL ? properties.ogURL :twitterCard.requestURL}" name="og:url" content="${ogURL}"/>
        <meta data-sly-test.ogDescription="${properties.ogDescription}"  name="og:description" content="${ogDescription}"/>
        <meta data-sly-test.ogImageURL="${properties.ogImageURL ? properties.ogImageURL :twitterCard.imageURL}" name="og:image" content="${ogImageURL}" />
        <meta data-sly-test.ogSitename="${properties.ogSitename ? properties.ogSitename :'Taj'}"  name="og:site_name" content="${ogSitename}"/>
    
    </sly> 