<div data-sly-test.edit=${wcmmode.edit}>
    <h1>ihcl ihclImageDescription component</h1>
</div>
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihclImageDescription'}" />
<sly data-sly-test.button="${properties.enablebutton}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<div class="about-specific-hotel cm-content-blocks ${properties.showappostrophe?'appostro':''}">
    <div class="conciege-local-city-wrapper">
        <div class="conciege-local-city-container clearfix">
            <sly data-sly-test="${properties.showImage}">
            <div class="conceige-image-conatainer">
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly>
            </div>
            <sly data-sly-test="${properties.showappostrophe}">
            <p class="quotation-marks">
                <img class="quotaion-img" src="/content/dam/tajhotels/ihcl/quotation-marks.png" alt=" &quot; &quot; " />
            </p>
            </sly>
            <div class="conceige-details-container">
                <article class="concierge-det">

                    <div class="desc-section-imagedesc">
                        <div class="rooms-suites-description">${properties.description @context='html'}</div>
                        <div class="rooms-suites-description">${properties.longdescription @context='html'}</div>
                    </div>
                </article>
            </div>
            </sly>

            <sly data-sly-test="${!properties.showImage}">
            <div class="title-warpper" style='width: 100%;'>
                <sly data-sly-test.titletop="${properties.titlevariation=='titletop'}"> <sly
                    data-sly-test="${properties.showtitle}">
                <div class="conceige-header">${properties.heading}</div>
                </sly> </sly>
            </div>
            <div class="conceige-details-container" style='width: 100%;'>
                <article class="concierge-det">
                    <div class="desc-section-imagedesc">
                        <div class="rooms-suites-description">${properties.description @context='html'}</div>
                        <div class="rooms-suites-description">${properties.longdescription @context='html'}</div>
                    </div>
                </article>
            </div>
            </sly>

            <div class="title-warpper">
                <sly data-sly-test.titletop="${!titletop}"> <sly data-sly-test="${properties.showtitle}">
                <div class="conceige-header">${properties.heading}</div>
                </sly> <sly data-sly-test="${properties.showsubheading}">
                <div class="conceige-sub-header">${properties.subheading}</div>
                </sly> </sly>
            </div>

            <sly data-sly-test="${properties.showbutton}"> <sly data-sly-test.popup="${properties.enablepopup}">
            <sly data-sly-test="${button}">
            <div class="ihcl-know-more-btn-wrp" id="pop-up" onclick="">
                <a><button class="cm-btn-secondary button-view-details pop-up ">${properties.buttontext}</button></a>
            </div>
            </sly> </sly> <sly data-sly-test="${!popup}"> <sly data-sly-test="${button}"> <a
                href="${properties.buttonurl}.html" target="_blank">
                <div class="ihcl-know-more-btn-wrp">
                    <button class="cm-btn-secondary button-view-details">${properties.buttontext}</button>
                </div>
            </a></sly> </sly> </sly>
            <!--   <a
             href="${properties.buttonurl}.html" target="_blank">
            <div class="btn-wrap"><button class="cm-btn-secondary button-view-details">${properties.button}</button></div>
            </a> -->
        </div>
    </div>
</div>
<!-- pop up for murthy ji -->
<div class="show-popUp-local-place-details profile-popup2">
    <div class="cm-local-details-container mr-profile-popup2">
        <div class="cm-local-details-overLay bas-overlay"></div>
        <div class="cm-local-details">
            <div class="loc-details-close-cont">
                <img class="showMap-close imageDispClose" tabindex="0" role="button"
                    src="/content/dam/tajhotels/icons/style-icons/close-blue.svg" alt="close-blue-icon" />
            </div>
            <div class="loc-details-wrapper row">
                <div class="loc-details-container col-lg-6 col-md-12 col-sm-12">
                    <div class="specific-city-header-wrapper">
                        <div class="specific-city-header">${properties.heading}</div>
                        <div class="spec-about-city-subheader">${properties.subheading}</div>
                        <article class="rooms-suites-description">
                            <P>${properties.descriptionpopup @context= 'html'}</P>
                        </article>
                    </div>
                </div>
                <div class="loc-image-container mr-popup-image col-lg-6 col-md-12 col-sm-12">
                    <div class="mr-inner-popup-container">
                        <sly
                            data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='about-carousel-images'}" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
