<sly data-sly-test = "${wcmmode.edit}">AMA Hotel Policies</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='ama.hotels.ama-hotel-policies'}"></sly>


<section class="${properties.backgroundColor}">
  <div class="container">
	<div class="row hotel-policies-container">
    		<sly data-sly-test=${properties.title}>
				<div class="col-md-4 hotel-policies-title"><h3>${properties.title}</h3></div>
            </sly>
            <sly data-sly-test=${properties.description}>
				<div class="col-md-8 hotel-policies-desc">${properties.description @ context="html"}</div>
            </sly>
	</div>
  </div>
</section>

