<div data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
	data-sly-use.template="core/wcm/components/commons/v1/templates.html">
    <sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.eventlist'}" />
	<div>
		<div >At Taj This Month</div>
		<div>
			<ul data-sly-list.listItem="${list.items}">
				<sly data-sly-resource="${'{0}' @ format=[listItem.path], resourceType='/apps/tajhotels/components/content/event-list/item' }"></sly>
   	 		</ul>
		</div>
	</div>
</div>