<sly data-sly-test="${wcmmode.edit}">
	 <h4 style="text-align:center">Rich Text</h4>
</sly> 

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.ihclrich'}" />


<sly data-sly-test="${properties.text}">
<div id="show-more-settings" data-selected=${properties.showMoreOption} data-chars=${properties.characterLimit}></div>
<div id="${properties.anchorid}" 
    class="richtext-font col-12">
	
    	${properties.text @ context='html'}
      <sly data-sly-test="${properties.enableCloseButton}">
    <a class="btn btn--link-primary btn--variation" href="#" ng-click="cancel()">Close</a>
    </sly>      
</div>
</sly>
<div class="clearfix"></div>
<div data-sly-test.author="${wcmmode.edit || wcmmode.design}">
	<div class="clear clearfix"></div>
</div>