<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientLib.all @ categories='taj.hotels.signin , tajhotels.components.room-list,tajhotels.gallerycarousel'}" />
<div data-sly-test.edit=${wcmmode.edit}>
    <p>Room listing can be configured by editing this section.</p>
</div>

<div class="synxis-configurations" data-sly-use.synxisConfig="com.ihcl.core.services.booking.SynixsDowntimeConfigurationService">
    <a class="redirect-page-path" href="${synxisConfig.getRedirectPagePath}.html">Guest Rooms</a>
</div>


<Section class="container">
    <div id="room-list" class="rooms-suites-container" data-tax="${properties.tax}">
        <div class="cm-header-label-con title-decorator-border">
            <sly data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}">
            </sly>
        </div>
        <div class="row" data-sly-test="${properties.description }">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <article class="rooms-suites-description">
                    <p>${properties.description @ context='html'}</p>
                </article>
            </div>
        </div>
    </div>
    <div class="room-selection-data cm-content-blocks">
        <span>Select Room 1 </span>
        <span>for 1 adults and 0 child</span>
    </div>
    <div class="rate-tab-container cm-content-blocks">
        <div class="row">
            <div id="rate-tab-container" class="col-lg-12 col-md-12 col-sm-12 rate-tab-wrap clearfix">
                <sly data-sly-test="${request.requestParameterMap['offerRateCode']}">
                    <div data-offer-rate-code="${request.requestParameterMap['offerRateCode'][0].toString}"
                        class="rate-tab">
                        <div>OFFER RATES</div>
                        <div class="starting-from" style="visibility:hidden">
                            <p style="display: inline; color: #9b9b9b;">From
                                <div data-rate-filter-price style="display: inline;"></div>
                                <span data-injector-key="currency-string"> </span> <span class="per-night-text">per night</span> </p>
                        </div>
                    </div>
                </sly>
                <sly>
                    <div data-rate-tic-filter-code="TIC ROOM REDEMPTION RATES"
                        class="tic-room-redemption-tier rate-tab d-none">
                        <div id="member-rate-title">TIC ROOM REDEMPTION RATES</div>
                        <div class="rate-tab-per-night-info starting-from" style="min-height:1.2rem;">
                            <p style="display: inline; color: #9b9b9b;">
                                <div style="display: inline;"></div>
                            </p>
                        </div>
                    </div>
                    <div data-offer-rate-flip-code="H00M"
                        class="tic-room-redemption-rates tic-room-redemption-tier-copper-flip d-none">
                    </div>
                    <div data-offer-rate-code="NTCC"
                        class="tic-room-redemption-rates tic-room-redemption-tier-copper d-none">
                    </div>

                    <div data-offer-rate-flip-code="H00N"
                         class="tic-room-redemption-rates tic-room-redemption-tier-silver-flip d-none">
                    </div>
                    <div data-offer-rate-code="NTMS"
                        class="tic-room-redemption-rates tic-room-redemption-tier-silver d-none">
                    </div>

                    <div data-offer-rate-code="NTMG"
                        class="tic-room-redemption-rates tic-room-redemption-tier-gold d-none"></div>
                    <div data-offer-rate-flip-code="H00O"
                        class="tic-room-redemption-rates tic-room-redemption-tier-gold-flip d-none"></div>

                    <div data-offer-rate-code="NTMP"
                        class="tic-room-redemption-rates tic-room-redemption-tier-platinum d-none">
                    </div>
                    <div data-offer-rate-flip-code="H00P"
                        class="tic-room-redemption-rates tic-room-redemption-tier-platinum-flip d-none">
                    </div>

                    <div data-offer-rate-code="NTAP"
                        class="tic-room-redemption-rates tic-room-redemption-tier-tap d-none">
                    </div>
                    <div data-offer-rate-flip-code="XO9"
                        class="tic-room-redemption-rates tic-room-redemption-tier-tap-flip d-none">
                    </div>

                    <div data-offer-rate-code="NTAP"
                        class="tic-room-redemption-rates tic-room-redemption-tier-tappme d-none">
                    </div>
                    <div data-offer-rate-flip-code="XO9"
                        class="tic-room-redemption-rates tic-room-redemption-tier-tappme-flip d-none">
                    </div>

                    <div data-offer-rate-code="NTMH"
                        class="tic-room-redemption-rates tic-room-redemption-tier-hoilday-redemption d-none">
                    </div>
                    <div data-offer-rate-flip-code="H0SN"
                        class="tic-room-redemption-rates tic-room-redemption-hoilday-redemption-flip d-none">
                    </div>
                </sly>

                <sly data-sly-use.rateFiltersModel="com.ihcl.core.models.room.RateFiltersModel" >
                <sly data-sly-list.rateFilter="${rateFiltersModel.rateFilters}">
                    <div data-rate-filter-code="${rateFilter.rateFilterCode}" class="rate-tab" tabindex="0"
                        role="button">
                        <div>${rateFilter.rateFilterDisplayName}</div>
                        <div class="rate-tab-per-night-info starting-from" style="visibility:hidden">
                            <p style="display: inline; color: #9b9b9b;">From
                                <div data-rate-filter-price style="display: inline;"></div>
                                <span data-injector-key="currency-string"> </span> <span class="per-night-text"> per night</span></p>
                        </div>
                    </div>
                    </sly>
                </sly>
            </div>
        </div>
    </div>
    <sly data-sly-use.roomsList="com.adobe.cq.wcm.core.components.models.List"
        data-sly-use.template="core/wcm/components/commons/v1/templates.html">
        <div class="rate-cards-container cm-content-blocks">
            <sly data-sly-test="${inheritedPageProperties.websiteid=='taj-inner-circle'}">
                <!--<sly data-sly-use.configuration="com.ihcl.core.models.config.PointRedemptionMessageConfigModelImpl">
-		<div class="points-redeemption-msg" style="display: none">
-	      ${configuration.msgForRoomAndSuitesPointRedemption}
-	    </div>
-    </sly>-->

            </sly>
            <div style="margin-top: 40px; font-size: 15px; color: red; display: none;"
                data-injector-key="warningerrors"></div>
            <div class="row cm-room-options rate-type-one">
                <sly data-sly-list.listItem="${roomsList.items}">
                    <sly
                        data-sly-use.roomProperties="${'com.ihcl.core.models.room.RoomPropertiesFetcher' @ path=listItem.path}">
                        <div class="col-lg-12 col-md-12 col-sm-12 rate-card-wrap" data-component-id="room-card"
                            data-room-type-name="${roomProperties.roomTypeName}" data-room-type="${roomProperties.roomType}"
                            data-bed-room-map="${roomProperties.roomCodeBedTypeMapString}">
                            <sly data-sly-use.roomDescriptionLib="/apps/tajhotels/components/content/room-component-template-library/room-description.html"
                                data-sly-call="${roomDescriptionLib.roomDescription @ roomProperties=roomProperties}" />
                            <sly data-sly-use.roomDetailsLib="/apps/tajhotels/components/content/room-component-template-library/room-details.html"
                                data-sly-call="${roomDetailsLib.roomDetails @ roomProperties=roomProperties}" />
                        </div>
                    </sly>
                </sly>
            </div>
        </div>
        </div>
        <div class="rate-class-disclaimer">
            <p data-sly-test="${properties.tax}">*Rates Inclusive of taxes</p>
            <p data-sly-test="${!properties.tax}">*Rates Exclusive of taxes</p>
        </div>
    </sly>
    <sly
        data-sly-use.ratePlanTemplateLib="/apps/tajhotels/components/content/room-component-template-library/room-rate-plan-template.html" />
    <sly data-sly-unwrap data-sly-call="${ratePlanTemplateLib.ratePlan}" />
    <div class="gallery-carousel-container">
        <div data-sly-resource="${ '{0}' @ resourceType='tajhotels/components/content/gallery-carousel' }"></div>
    </div>

    <div id="sold-out" class="cm-sold-out-wrap">
        <div class="cm-overlay bas-overlay"></div>
        <div class="cm-bas-content-con" style="max-height: 624.15px;">
            <span class="room-list-close icon-close"></span>
            <section class="dest-bas-search search-result-cnt">
                <div class="hotel-view-details-wrp">
                    <!--
                    <div class="hotel-soldout">Looks like <span class="hotel-name"></span> is sold out.</div>
                    -->
                    <div class="hotel-soldout mb-1">There are no rooms available matching your search criteria. Please try selecting alternate dates, modifying your search option, or choosing an alternate property.</div>
                    <div class="hotel-soldout">Would you like to view other hotels in <span
                            class="destination-name"></span> ?</div>
                </div>
                <div class="hotels-under-destination empty"></div>
            </section>
        </div>
    </div>
</Section>

<input class="check-in-time" type="hidden" value="${properties.checkIn}">
<input class="check-out-time" type="hidden" value="${properties.checkOut}">
<input id="lowestRoomCode" type="hidden" value="${properties.lowestRoomCode}">
<input id="bungalowCode" type="hidden" value="${properties.bungalowCode}">