.sitemap-category {
    width: 100%;
    margin-top: 30px;
    margin-top: 1.875rem;
    position: relative;
}

.sitemap-category .sitemap-category-heading {
    font-family: Calibri-Bold;
    font-size: 18px;
    font-size: 1.125rem;
    color: #1b1b1b;
    cursor: pointer;
}

.sitemap-category:first-child {
    margin-top: 0;
}

.sitemap-category-details {
    padding-left: 10px;
    padding-left: 0.625rem;
    display: none;
}

.sitemap-category-details a {
    color: #002b49;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: Calibri;
    letter-spacing: 0.9;
}

.sitemap-category-expand-btn {
    color: #002b49;
    font-size: 21px;
    font-size: 1.3125rem;
    margin-left: 10px;
    margin-left: 0.625rem;
    vertical-align: middle;
}

.sitemap-category::after {
    position: absolute;
    bottom: -10px;
    bottom: -0.625rem;
    left: 0;
    height: 1px;
    width: 100%;
    background: #979797;
    content: '';
    opacity: 0.5;
}