@rem:16rem;
.tic-help-contact-con {
	background: #e6e6e6;
	position: relative;
	padding: 14/@rem 40/@rem 16/@rem 50/@rem;
	@media only screen and (min-width:320px) and (max-width:767px) {
		padding: 14/@rem 10/@rem 16/@rem 12/@rem;
	}
}
.tic-help-contact-con::before {
	content:"";
	position: absolute;
	left: 0;
	top: 0;
	background: var(--primaryColor);
	height: 100%;
	width: 10px;
}
.tic-help-contact-heading  {
	font-family: Calibri;
	font-size: 20/@rem;
	color: #1b1b1b;
}
&.tic-help-contact-section {
	margin: 0;
	.ho-tel-desktop {
		color: #4a4a4a;
		font-size: 16/@rem;
		letter-spacing: 1px;
	}
	.cm-view-link-txt, .cm-view-txt {
		border-bottom: none;
	}
	.ho-mail-to-txt {
		margin-left: 20/@rem;
		font-size: 18/@rem;
		@media only screen and (min-width:320px) and (max-width:767px) {
			margin-left: 5/@rem;
		}
		@media only screen and (max-width:415px) {
			margin-left: 1rem;
		}
	}
	.icon-phone-disabled {
		margin-right: 15/@rem;
	}
	.ho-mail-to {
	    margin-left: 40/@rem;
        position: relative;
	}
	.ho-mail-to::after {
		@media only screen and (min-width:320px) and (max-width:767px) {
			background-color: transparent;
		}
	}
}
.additional-num-seperator  {
	margin-left: 5/@rem;
	@media only screen and (min-width:320px) and (max-width:767px) {
		color: var(--primaryColor);
	}
}


.ho-contact-options-con .ho-mail-to:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: #c3c3c3;
    left: -25px;
    bottom: 2px;
    @media only screen and (min-width:320px) and (max-width:767px) {
        bottom: 4px;
    }

}
.ho-contact-options-con{
    text-align:right;
    @media only screen and (min-width:320px) and (max-width:767px) {
        padding-top: 6/@rem;
    }
}

