<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.hotels.components.abstract-experience-card'}" />


<div class="row">
	<div class="col-md-4 col-12 experiences-container">
		<div class="recom-experiences-wrap">
			<div class="mr-experiences-images-wrap">
				<sly class="banner-image-con"
					data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
				<sly
					data-sly-call="${imagetemplate.damImageTemplate @ imagePath= properties.fileReference ? properties.fileReference :'/content/dam/tajhotels/in/en/offers/offerBanner.png', lazyload='true'}"></sly>
				</sly>
			</div>
			<div class="mr-experiences-description-wrap">
				<div class="mr-experinces-title">${properties.heading}</div>
				<div class="mr-experinces-detailsButton-wrap">
					<div class="mr-experinces-details-wrap">
						<div class="mr-experinces-details-location">${properties.shortDescription  @context='html'}</div>
					</div>
					<div class="mr-experinces-Button-wrap">
						<a href="${properties.redirectLinkURL}.html">
							<button class="cm-btn-secondary experience-button-styles">VIEW
								DETAILS</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- java code debugging lines please do not delete -->
<!-- 
<div
    data-sly-use.expModel="com.ihcl.core.models.FetchExperienceServiceModel">
    <div>
    <img src="${expModel.experience['experiencePageImage']}" alt="Experience image " /></div>
    <div>Name : ${expModel.experience['experienceName']}</div>
    <div>Description: ${expModel.experience['experienceShortDescription']}</div>
    <div><a href="${expModel.experience['experiencePageLink']}" target="_blank">VIEW DETAILS</a></div>
</div>
 -->


<!-- authoring mode debugging -->
<!-- 
<div>
	<div>
		<img src="${properties.fileReference}" alt=" card image" />
		<div>
			<div>
				<div>
					<h2>${properties.heading}</h2>
				</div>
				<div>${properties.shortDescription}</div>
			</div>
			<div>
				<a href="${properties.redirectLinkURL}.html" target="_blank">
					<button class="cm-btn-secondary button-view-details">VIEW
						DETAILS</button>
				</a>
			</div>
		</div>
	</div>
</div>
 -->