<sly data-sly-test="${wcmmode.edit}">AMA Activities list</sly>

<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"> <sly
    data-sly-use.model="com.ihcl.core.models.ActivityList" /> <sly
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.activities.list'}"></sly>
<section class="pageStrip activityPage">
    <div class="container">
        <sly data-sly-test="${properties.showFilter}">
        <div class="filter-activity-wrap">
            <div class="filter-activity">
                <span class="actFilterHeading">Activities at:</span>
                <div class="selectSubContainer">
                    <select aria-label="Filter by" name="actFilterBy" id="actfilterBy">
                        <option value="all">All Destinations</option>
                        <sly data-sly-list.tagValues="${model.allDestinations}">
                        <option value="${tagValues}">${tagValues}</option>
                        </sly>
                    </select>
                </div>
            </div>
        </div>
        </sly>
        <sly data-sly-test="${properties.activityTitle}">
        <h1 data-sly-element="${properties.type}" class="text-title">${properties.activityTitle}</h1>
        </sly>
    </div>
</section>

<section class="pageStrip">
    <div class="container">
        <div class="our-activities">
            <div class="act-container act-space">
                <div class="row act-cards-container">
                    <sly data-sly-list.activity="${model.activityList}">
                    <div class="combo-div col-md-6 col-12">
                        <div class="card-wrapper" data-destination-type="${activity.tags}">
                            <div class="card-image">
                                <sly
                                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=activity.image,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>
                            </div>
                            <div class="description-wrap">
                                <div>
                                    <h3 class="card-heading">${activity.title}</h3>
                                </div>
                                <div class="card-content actCardContent">${activity.description @context='html'}</div>
                                <div class="card-button">
                                    <button class="view-details-button cm-btn-secondary" onclick="popUpActivityList(this)">${activity.viewDetails}</button>
                                </div>
                            </div>
                        </div>
                        <div class="cm-local-details-container mr-profile-popup taj-brand-popup">
                            <div class="cm-local-details-overLay bas-overlay"></div>
                            <div class="cm-local-details">
                                <div class="loc-details-close-cont">
                                    <img class="showMap-close imageDispClose" tabindex="0" role="button"
                                        src="/content/dam/tajhotels/icons/style-icons/close-blue.svg" alt="close-blue-icon" />
                                </div>
                                <div class="loc-details-wrapper">
                                    <div class="specific-city-header">${activity.title}</div>
                                    <div class="loc-image-container mr-popup-image">
                                        <div class="mr-inner-popup-container">
                                            <sly
                                                data-sly-call="${imagetemplate.damImageTemplate @ imagePath=activity.image, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>
                                        </div>
                                    </div>
                                    <div class="loc-details-container">
                                        <div class="specific-city-header-wrapper">
                                            <article class="rooms-suites-description">
                                                <P>${activity.description @context='html'}</P>
                                            </article>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </sly>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="jiva-spa-show-more activities-show-more no-display-show-more">
    <span>SHOW MORE</span>
    <i id class="icon-drop-down-arrow"></i>
</div>