
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.corporate-card-details,tajhotels.structure.page.tajhotels-base-page'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<div class="sustainability-card-wrap">
    <div class="row">
        <div class="col-md-4 col-12 col-sm-12 sustainability-img-wrap">
            <div class="sustainability-img-con">
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='img-responsive sustainability-img'}" />
            </div>
        </div>
        <div class="col-md-8 col-12 col-sm-12 sustainability-content-wrap">
            <div>
                <sly data-sly-test="${properties.fileReference1}">
                <div class="sustainability-content-wrap-img">
                    <sly
                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference1, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='img-responsive'}" />
                </sly>
            </div>

            <h2 class="s-card-title" data-sly-use.template="core/wcm/components/commons/v1/templates.html"
                data-sly-element="${properties.type}" data-sly-test.text="${properties.title}">${text}</h2>
            <p class="so-card-subtitle">${properties.enrichOffer}</p>
            <div class="desc-sectioncorporate">
                <div class="s-card-content rooms-suites-description">${properties.description @context='html'}</div>
                <div class="s-card-content rooms-suites-description">${properties.longdescription @context='html'}</div>
            </div>
        </div>
        <sly data-sly-test.enablekeyfigures="${properties.keyfigures}" />
        <sly data-sly-test="${enablekeyfigures}">
        <div class="sustainability-footer">
            <div class="ihcl-key-figure">
                <sly data-sly-resource="${'par_3' @ resourceType='tajhotels/components/content/ihcl/ihclkeyfigures'}"></sly>
            </div>
            <sly data-sly-test="${properties.learnMore}"> <a href="${properties.linkUrl}.html">
                <div class="btn-wrap">
                    <button class="cm-btn-secondary button-view-details">${properties.buttontext}</button>
                </div>
            </a> </sly>
        </div>
        </sly>
        <sly data-sly-test="${!enablekeyfigures}"> <sly data-sly-test="${properties.learnMore}"> <a
            href="${properties.linkUrl}.html">
            <div class="btn-wrap">
                <button class="cm-btn-secondary button-view-details">${properties.buttontext}</button>
            </div>
        </a> </sly> </sly>
    </div>
</div>
</div>
