<div data-sly-test.edit=${wcmmode.edit}>
	<h1>Chef Speak Component</h1>
</div>
<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.chef-speak'}" />
<div class="about-specific-hotel cm-content-blocks">
	<div class="conciege-local-city-wrapper">
		<div class="conciege-local-city-container clearfix">
			<div class="conceige-image-conatainer">
				<img src="${properties.fileReference}" alt  = "conceige image"/>
			</div>

			<div class="title-warpper">

				<sly data-sly-test="${properties.title}">
				<div class="conceige-header">${properties.title}</div>
				</sly>
				<sly data-sly-test="${properties.subheading}">
				<div class="conceige-sub-header">${properties.subheading}</div>
				</sly>
			</div>

			<div class="conceige-details-container">
				<article class="concierge-det">

					<div class="desc-section-imagedesc">
						<div class="rooms-suites-description">${properties.description
							@context='html'}</div>
					</div>

					<div class="desc-section-imagedesc">
						<div class="rooms-suites-description">
							<span>Contact: </span>${properties.title}
						</div>
					</div>

					<div class="desc-section-imagedesc">
						<div class="rooms-suites-description">
							<span>Email: </span>${properties.emailID @context='html'}
						</div>
					</div>
				</article>
			</div>

		</div>
	</div>
</div>