@rem: 16rem;
.mr-overlay-carousel-images {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#mr-menu-carousel {
    ol.carousel-indicators {
        align-items: center;
        li {
            width: 6px;
            height: 6px;
            opacity: 0.9;
            background-color: rgba(155, 155, 155, 0.3);
            border-radius: 48%;
            display: none;
        }
        li:nth-child(-n+3) {
        	display: list-item;
        }
        li.active {
            background-color: #9b9b9b;
            width: 10px;
            height: 10px;
        }
        li.cm-minimise-bullets {
        	width: 6px;
            height: 6px;
        }
    }
}


/* carousel css from UI development*/
@rem: 16rem;
.mr-menu-carousel-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); // display: none;
    z-index: 10000;
    overflow: auto;
    .carousel-indicators {
        margin: 0 auto;
    }
}


.mr-overlay-initial-none {
    display: none;
}

.menu-carousel-container {
    width: (860/@rem); // min-height: (900/@rem);
    background-color: #ffffff;
    border: solid 1px #979797;
    position: absolute;
    margin: 0 auto;
    top: 5%;
    right: 0;
    bottom: 5%;
    left: 0;
    @media only screen and (max-width: 991px) {
        width: 80%;
        top: 10%;
        bottom: 10%;
    }
    @media only screen and (max-width: 767px) {
        max-width: (384/@rem);
        width: 96%;
        max-height: (612/@rem);
        top: 3%;
        bottom: 3%;
    }
}

.mr-carousel-leftArrow {
    background-image: none !important;
    width: (30/@rem);
    height: (50/@rem);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    &:hover{
    	color: transparent;
    }
}

.mr-carousel-rightArrow {
    background-image: none !important;
    width: (30/@rem);
    height: (50/@rem);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    &:hover{
    	color: transparent;
    }
}

.mr-carousel-images-wrap {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 30rem;
    @media only screen and (max-width: 991px) {
        font-size: (24/@rem);
        min-height: 25rem;
        height: 100%;
    }
}

.mr-carousel-leftArrow-container {
    width: 10%;
    text-align: right;
    position: absolute;
    top: 50%;
    left: -2rem;
    @media only screen and (max-width: 991px) {
         display: none;
    }
}

.mr-carousel-rightArrow-container {
    width: 10%;
    text-align: left;
    position: absolute;
    top: 50%;
    right: -2rem;
    @media only screen and (max-width: 991px) {
        display: none;
    }
}

.mr-carousel-MainCarousel-container {
    width: 85%;
    height: 100%;
    margin: auto;
    @media only screen and (max-width: 767px) {
        max-width: (300/@rem);
    }
}

.menu-carousel-container {
    .carousel.slide {
        height: 100%;
    }
    .carousel-inner {
        height: 100%;
        overflow-x: hidden;
    }
    .carousel-item {
        height: 95%;
    }
}

.mr-carousel-inner-wrap {
    width: 100%; //padding: (120/@rem);
    padding: 2.5rem;
    padding-bottom: 3rem;
    height: 100%;
    @media only screen and (max-width: 991px) {
        padding: 0rem;
    }
    position: relative;
}

.mr-carousel-title-wrap {
    font-family: Calibri;
    font-size: (34/@rem);
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 1rem;
    @media only screen and (max-width: 991px) {
        font-size: (24/@rem); //margin-left: (15/@rem);
        margin-bottom: (13/@rem);
    }
}

.mr-carousel-Content-wrap {
    font-family: Calibri;
    font-size: 1rem;
    line-height: 1.25;
    color: #4a4a4a;
    margin-bottom: (17/@rem);
}

.mr-menu-carousel-indicators {
    bottom: -2rem;
    position: absolute;
    width: 100%;
    @media only screen and (max-width: 991px) {
        bottom: 0;
    }
    ol.carousel-indicators {
    	height: 10px;
        li {
            width: (7/@rem);
            height: (7/@rem);
            opacity: 0.9;
            background-color: rgba(155, 155, 155, 0.3);
            border-radius: 50%;
            @media only screen and (max-width: 991px) {
                width: (5.6/@rem);
                height: (6/@rem);
            }
        }
        li.active {
            background-color: #9b9b9b
        }
    }
    ol.carousel-indicators.mr-carousel-indicators-overlay {
        bottom: -3.5rem;
        position: unset;
    }
}

.carouselCount-current-wrap {
    font-family: Calibri;
    font-size: (22/@rem);
    font-weight: bold;
    text-align: center;
    color: #7d7c7d;
    width: 100%;
    display: none;
    @media only screen and (max-width: 991px) {
        font-size: (18/@rem);
        display: none;
    }
}

.mr-carousel-close-icon-wrap {
    position: absolute;
    right: (27/@rem);
    top: (21/@rem);
    z-index: 11;
    cursor: pointer;
    img.mr-carousel-close-icon {
        width: (27/@rem);
        height: (27/@rem);
        @media only screen and (max-width: 991px) {
            width: (18/@rem);
            height: (18/@rem);
        }
    }
    @media only screen and (max-width: 991px) {
        right: (12/@rem);
        top: (12/@rem);
    }
    @media only screen and (max-width: 991px) {
        right: (10/@rem);
        top: (8/@rem);
    }
}
@media only screen and (max-width: 991px) {
	.menu-carousel-container .carousel-inner {
		margin-bottom: 0 !important;
	}
}