<sly data-sly-test = "${wcmmode.edit}">AMA Google Map</sly>

<sly data-sly-use.config="com.ihcl.core.models.config.TajApiKeyConfigModel" >
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.css @ categories='ama.hotels.google-map'}"></sly>


<section class="${properties.backgroundColor}">
	<div class="container">
    	<div class="locationMap">
    		<div id="map" style="height:100%;"></div>
  		</div>
	</div>
</section>

<script> 
   var lat = ${properties.latitude @context='scriptString'};
   var lon = ${properties.longitude @context='scriptString'};
   var googleKey = "${config.getGoogleMapApiKey @context='scriptString'}";
   var icn = "${properties.image @context='scriptString'}";
   var phone = "${properties.phone @context='scriptString'}";
   var address = "${properties.address @context='scriptString'}";
	var phoneNumbers = "";
	var phonearr = phone.split("/");
	phonearr.forEach(printPhone);
	function printPhone(item, index){
	phoneNumbers += "<a href='tel:"+item.trim()+"'>"+item+"</a> /";
	}
	phoneNumbers=phoneNumbers.substring(0, phoneNumbers.length - 1);
   console.log("phone number :" , phonearr);
	console.log("phone numbers :" , phoneNumbers);
   console.log("googleKey: "+googleKey);
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7HtopLBECeEWREu2jwu80j0lSydqsCDI&libraries=places&callback=initMap">
    </script>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.js @ categories='ama.hotels.google-map'}"></sly>
