<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.press-release-card'}" />
<sly data-sly-use.pressReleaseCard="com.ihcl.core.models.PressReleaseCard">
<div class="pressCard-wrapper col-lg-4 col-md-6 col-sm-12 cm-card-showmore-spacing cm-card-showmore-spacing-wedding"
    data-year=${pressReleaseCard.year} data-theme=${pressReleaseCard.theme} data-brand=${pressReleaseCard.brand}
    data-key='{"Brand":"${pressReleaseCard.brand}","Theme":"${pressReleaseCard.theme}","Year":"${pressReleaseCard.year}","date":"${pressReleaseCard.date}","name":"${pressReleaseCard.title}"}'>
    <a href="${pressReleaseCard.urlPath}" target="_blank">
        <div class="pressCard-container">
            <div class="pressCard-image-container" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                <div class="pressCard-image-container">
                    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=pressReleaseCard.imagePath, context='html', lazyload='true', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"/>
                </div>
            </div>
            <div class="pressCard-description-container">
                <div class="pressCard-header">${pressReleaseCard.title}</div>
                <div class="pressCard-date">${pressReleaseCard.date}</div>
                <div class="pressCard-desc">
                    <a class="read-more" href="${pressReleaseCard.urlPath}" target="_blank">Read More</a>
                </div>
            </div>
        </div>
    </a>
</div>
</sly>