<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientLib.all @ categories='taj.hotels.press-release-card, tajhotels.structure.page.tajhotels-base-page'}" />
<div data-sly-test="${wcmmode.edit}">Press Release Card List</div>
<div class="press-releases cm-content-blocks">
	<sly data-sly-test.showLatestNews="${!properties.showLatestNews}">
	<div class="press-releases-wrapper">
		<div class="press-release-cards-container">
			<div class="row cm-cards-spacing">
				<sly
					data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
					data-sly-list.listItem="${list.items}"> <sly
					data-sly-resource="${ '{0}' @ format=[listItem.path], resourceType='/apps/tajhotels/components/content/press-release-card/press-related-news.html' }">
				</sly> </sly>
			</div>
		</div>
	</div>
	</sly>
	<sly data-sly-test.showLatestNews="${properties.showLatestNews}">
	<div class="press-releases-wrapper">
		<div class="press-release-cards-container-without-search">
			<div class="row">
				<sly
					data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
					data-sly-list.listItem="${list.items}"> <sly
					data-sly-resource="${  '{0}' @ format=[listItem.path], resourceType='/apps/tajhotels/components/content/press-release-card/press-related-news.html' }">

				</sly> </sly>
			</div>
		</div>
	</div>
	</sly>
</div>

