<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.hotel-card-campaign'}" />

<sly data-sly-use.hService="com.ihcl.core.models.FetchHotelsServiceModel" data-sly-test="${hService.hotel.hotelName!= null}">
<!--hotelCard component markup-->
<div class="col-lg-12 col-md-12 col-sm-12 hotelCard-container-outer-wrap packages-hotelCard-container-outer-wrap"
    data-hoteltypes="${hService.hotel.hotelTypes}" data-hotelid="${hService.hotel.hotelId}"
    data-hotelcity="${hService.hotel.hotelCity}" data-hotelstate="${hService.hotel.state}"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <div class="hotelCard-container-wrap">
        <div class="hotelCard-container">
            <div class="rating-container clearfix">
                <div class="rating">${hService.hotel.reviewScore}</div>
                <div class="number-of-rating">${hService.hotel.totalReview} Reviews</div>
            </div>
            <div class="hotelCard-imageWrap">
                <div class="hotelCard-image">
                    <sly
                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath= hService.hotel.imageUrl, lazyload='true'}"></sly>
                </div>
            </div>
            <div class="hotelCard_hotelDetails clearfix">
                <div class="hotelDetails-name-wrap clearfix">
                    <h3 class="hotelDetailsHeading">${hService.hotel.hotelName}</h3>
                    <div class="hotelDetailsLocation">
                        ${hService.hotel.hotelArea},${hService.hotel.hotelCity},${hService.hotel.hotelPinCode}</div>
                    <div class="hotelDetailsLocation-mobile">${hService.hotel.hotelArea},${hService.hotel.hotelCity},${hService.hotel.hotelPinCode}
                    </div>
                    <div data-sly-test="${hService.hotel.locationStats}" class="hotelDetailsDistance">${hService.hotel.locationStats}</div>
                </div>
                <div class="rate_con">
                    <div class="hotelDetailsRate">Starting Rate/Night</div>
                    <div class="bookingButtonContainer">
                        <div class="price-con">
                            <div class="hotelDetailsRateStriked">
                                <span class="rate-currency-symbol"></span>
                                <span class="discount-rate"></span>
                            </div>
                            <div class="hotelDetailsRateNew">
                                <span class="rate-currency-symbol"></span>
                                <span class="current-rate"> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hotel-details-img-con">
                    <img src="/content/dam/tajhotels/campaign/rooms.svg" alt="rooms-icon"><img
                        src="/content/dam/tajhotels/campaign/rooms.svg" alt="rooms-icon"><img
                        src="/content/dam/tajhotels/campaign/rooms.svg" alt="rooms-icon"><img
                        src="/content/dam/tajhotels/campaign/rooms.svg" alt="rooms-icon">
                </div>
            </div>
            <div class="view-btn-con">
                <button class="cm-btn-secondary view-button"
                    onclick="onOfferDetailsHotelSelection('${hService.hotel.hotelPath @ context='text'}')">VIEW
                    HOTEL</button>
            </div>

        </div>
    </div>
</div>
</sly>
