.participating-hotels-search-wrap {
    width: 100%;
    height: 50px;
    height: 3.125rem;
    background: #e6e6e6;
    position: relative;
}

.participating-hotels-search-wrap .search-input-section {
    display: inline-block;
    width: 55%;
    line-height: 43px;
    line-height: 2.6875rem;
    position: relative;
    height: 100%;
}

.participating-hotels-search-wrap .search-input-section img {
    height: 18px;
    height: 1.125rem;
    width: 18px;
    width: 1.125rem;
    margin-left: 17px;
    margin-left: 1.0625rem;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .participating-hotels-search-wrap .search-input-section img {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
    .participating-hotels-search-wrap .search-input-section img {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .participating-hotels-search-wrap .search-input-section img {
        height: 12px;
        width: 12px;
        margin-left: 10px;
    }
}

.participating-hotels-search-wrap .search-input-section input {
    background: transparent;
    border: none;
    padding-left: 16px;
    padding-left: 1rem;
    width: 70%;
    font-size: 18px;
    font-size: 1.125rem;
    height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .participating-hotels-search-wrap .search-input-section input {
        width: 80%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .participating-hotels-search-wrap .search-input-section input {
        font-size: 16px;
    }
}

.participating-hotels-search-wrap .search-input-section input:focus {
    outline: none;
}

.participating-hotels-search-wrap .search-input-section .search-close {
    position: absolute;
    right: 5px;
    right: 0.3125rem;
    top: 35%;
    cursor: pointer;
    display: none;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .participating-hotels-search-wrap .search-input-section {
        width: 46%;
    }
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
    .participating-hotels-search-wrap .search-input-section {
        width: 50%;
    }
}

@media only screen and (max-width: 375px) {
    .participating-hotels-search-wrap .search-input-section {
        width: 46%;
    }
}

@media only screen and (max-width: 374px) {
    .participating-hotels-search-wrap .search-input-section {
        width: 40%;
    }
}

.participating-hotels-search-wrap .search-filter-section {
    display: inline-block;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    vertical-align: middle;
    padding-left: 15px;
    padding-left: 0.9375rem;
    border-left: 1px solid rgba(151, 151, 151, 0.4);
    width:30%;
}
.offers-search-wrap .participating-hotels-search{
	width:70% ;
}
.participating-hotels-search-wrap .search-filter-section .search-filter-section-name {
    float: left;
    color: #4a4a4a;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .participating-hotels-search-wrap .search-filter-section .search-filter-section-name {
        padding-top: 0.5rem;
        width:inherit;
    }
   
}

.participating-hotels-search-wrap .search-filter-section .search-filter-section-choose {
    float: left;
    color: #9b9b9b;
    margin-left: 10px;
    margin-left: 0.625rem;
    width: 120px;
    width: 7.5rem;
}

.participating-hotels-search-wrap .search-filter-section .search-filter-section-choose .selectSubContainer {
    width: 100%;
}

.participating-hotels-search-wrap .search-filter-section .search-filter-section-choose .selectSubContainer .selectboxit-text {
    max-width: 250px;
    max-width: 15.625rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .participating-hotels-search-wrap .search-filter-section .search-filter-section-choose .selectSubContainer .selectboxit-text {
        font-size: 14px !important;
    }
    .participating-hotels-search-wrap .search-filter-section{
    
    width:100%;
    border:none;
    margin:10px 0;
    }
    .participating-hotels-search-wrap .search-input-section{
    width:100%;}
    .participating-hotels-search-wrap .search-filter-section .search-filter-section-name{
    width:40%;}
    .offers-search-wrap .participating-hotels-search-wrap{
	display:block;
	height:100%;
}
 .offers-search-wrap .participating-hotels-search{
 position:relative;
 top:0;}
 .offers-search-wrap .participating-hotels-search-wrap::before{
 height:100%;}
 .fix-participating-hotels{
 padding-top:10px;}
 
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .participating-hotels-search-wrap .search-filter-section .search-filter-section-choose {
        width: 180px;
    }
    .participating-hotels-search-wrap{
	bottom:20px;
	}
	.participating-hotels-search-wrap .search-filter-section {
    display: flex;
    margin-right: 10px;
    width: 33%;
}
	 .offers-search-wrap .participating-hotels-search{
	width:100% ;
}
	
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .participating-hotels-search-wrap .search-filter-section .search-filter-section-choose {
        width: 50%;
    }
    	 .offers-search-wrap .participating-hotels-search{
	width:92% ;
}
	
}


.participating-hotels-search-wrap::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    height: 3.125rem;
    width: 5px;
    width: 0.3125rem;
    content: "";
    background-image: var(--linearGradient);
}

.search-input-suggestions-list {
    position: absolute;
    left: 0;
    top: 50px;
    top: 3.125rem;
    width: 101%;
    background: #fff;
    z-index: 10;
    list-style-type: none;
    color: #323232;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    box-shadow: 0 7px 14px 0 #9b9b9b;
    display: none;
    padding: 0;
}

.search-input-suggestions-list li {
    height: 49px;
    height: 3.0625rem;
    line-height: 49px;
    line-height: 3.0625rem;
}

.search-input-suggestions-list li label {
    margin: 0 12px;
    margin: 0 0.75rem;
    width: 94%;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-input-suggestions-list li:last-child label {
    border-bottom: none;
}

.search-input-suggestions-list li:hover,
.search-input-suggestions-list li:active {
    background: var(--primaryColorLighter);
}

.results-warning-text-wrapper{
	font-family: Calibri;
	font-size: 0.8rem;
	color: #950f0f;	
	margin: 0.5rem 0;
}
@media only screen and (max-width: 767px) {
	.results-warning-text-wrapper{
		margin: 0.5rem 15px;
	}
}
.results-warning-text-wrapper .results-success,
.results-warning-text-wrapper .results-failed{
	display: none;
}
.participating-hotels-search-wrap{
	display:flex;
	align-items:center;
	}
@media only screen and (min-width: 992px){
	.row.participating-hotels-row {
	    margin: 0 -7px;
	}
	.row.participating-hotels-row  .hotelCard-container-outer-wrap{
	    padding: 0 7px;
	}

}
.selectboxit .selectboxit-arrow-container .selectboxit-arrow{
	top:25%;
}