@media only screen and (min-width: 768px) and (max-width: 991px) {
    .fix-participating-hotels {
        padding-top: 70px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .fix-participating-hotels {
        padding-top: 80px;
    }
}
.hotels-container {
    margin-top: 24px;
    width: 100%;
    position: relative;
    min-height: 300px;
}

.hotels-container .cm-header-label-con {
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    .hotels-container {
        margin-top: 30px;
        margin-bottom: 0px;
        height: auto;
        min-height: auto;
    }
}

.participating-hotels-show-more,
.dining-hotels-show-more {
    text-align: center;
    font-size: 16px;
    color: var(--primaryColor);
    font-weight: bold;
    font-family: Calibri;
    margin-top: 30px;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2px;
}

.participating-hotels-show-more img,
.dining-hotels-show-more img {
    margin-left: 10px;
    vertical-align: baseline;
}

@media only screen and (min-width: 992px) {
    .row.participating-hotels-row .hotelCard-container-outer-wrap {
		padding: 0 !important;
	}
	.row.participating-hotels-row .hotelCard-container-outer-wrap:nth-child(even) {
		padding-left: 0.625rem !important;
    }
    .row.participating-hotels-row .hotelCard-container-outer-wrap:nth-child(odd) {
		padding-right: 0.625rem !important;
    }
}
