<div data-sly-test.edit=${wcmmode.edit}>
    <h1>Tajhotels Events list component</h1>
</div>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.all @ categories='tajhotels.taj.events.list'}" />
<sly data-sly-use.model="com.ihcl.core.models.events.EventsListModel" />

<!-- <div class="row">
    <div class="col-12 tic-filter-image">
        <img src="/content/dam/tic/filter-icon.svg" alt="Filter icon" />
    </div>
    <div class="col-12 tic-calender">
        <div class="tic-event-calender-overlay" id="calender">
            <div class="tic-events-calender-container clearfix">
                <div class="tic-close">
                    <img src="/content/dam/tic/close.svg" alt="Close Icon" />
                </div>
                <div class="tic-month-content">
                    <div class="selectSubContainer">
                        <select id="eventsCalendarMonthDropDown" aria-label="Events Calender Month Dropdown">
                        </select>
                    </div>
                </div>
                <ul class="tic-date-container">
                    <div class="no-events-indication">No Events</div>
                </ul>
                <div class="tic-location-container">
                    <div class="tic-location-image">
                        <img src="/content/dam/tic/location.svg" alt="Location Icon" />
                    </div>
                    <div class="selectSubContainer">
                        <select id="eventsCalendarLocationDropDown" aria-label="Events Calendar Location DropDown">
                            <option selected="">City</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="tic-events-calender-outer-cont col-12">
                <img class="calender-close" src="/content/dam/tic/close.svg" alt="Close Icon" />
                <div class="tic-events-calender-inner-cont"></div>
            </div>
        </div>
    </div>
</div> -->
<div class="calender-events-cnt">
    <div id="eventsid" class="tic-event-month-card calender-events-wrap">
        <div class="clearfix">
            <sly data-sly-list.event="${model.eventList}">
                <div class="tic-monthly-event-card" data-event-month="${event.propertyCode}" data-event-city="${event.city}" data-event-productName="${event.productName}">
                    <div class="monthly-event-card">
                        <div class="monthly-even-card-container">
                            <div class="card-header">
                                <img class="offer-icon" src="/content/dam/tic/calendar.jpg" alt="calendar icon" />
                                <p class="offer-timings">
                                    <span class="offer-timings-regular-text">${event.startDate} - ${event.endDate}</span>
                                    <span class="offer-timings-shorter-text">${event.startDate} - ${event.endDate}</span>
                                </p>
                                <div class="ticket-info-mobile">${event.ticketsAvailable}</div>
                            </div>
                            <div class="card-image cm-bg-container">
                                <source type="image/jpeg" media="(max-width: 799px)" srcset="${event.imagePath}" />
                                <source type="image/jpeg" media="(min-width: 800px)" srcset="${event.imagePath}" />
                                <img class="cm-bg-image" src="${event.imagePath}" alt="calendar icon" />
                            </div>
                            <div class="card-footer">
                                <div class="event-info-wrp">
                                    <div class="event-title">${event.title}</div>
                                    <div class="event-venue">${event.location}</div>
                                </div>
                                <div class="event-info-right">
                                    <div class="event-tickets-info">
                                        <span class="event-ticket-count">${event.ticketsAvailable}</span>
                                        <span class="event-ticket-text">tickets left</span>
                                    </div>
                                    <a href=${event.eventUrl}><button class="cm-btn-secondary view-details-button">${properties.buttonText}</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </sly>
        </div>
        <div class="event-response-msg-wrp d-none">
            <div class="response-msg"></div>
        </div>
    </div>