
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.Announcemnet'}" />
<div data-sly-test="${wcmmode.edit}">
  Announcemnet Component
</div>

<div class="pp-announcement">
<div class="col-12 Appointments-text-heading">${properties.heading}</div>

<div class="col-12 Appointments-text" data-sly-unwrap>${properties.itext @context='html'} </div>
<div class="richTextClass col-12 Appointment-link" data-sly-unwrap> ${properties.linktext @context='html'}</div>

</div>
