<sly
	data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='ama.offers-card'}" />

<sly data-sly-test.path="${inheritedPageProperties.siteConfigHomePath}" />
<section class="container">

	<sly
		data-sly-use.list="${'com.ihcl.core.models.offers.OfferList' @ homePagePath=path,hotelPath=properties.hotelPath}"
		data-sly-use.urlMap="${'url-map.js' @ reqUrl=properties.hotelPath}">
	<sly
		data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly>


	<!-- <div class="no-offers-found">Sorry, No offers found.</div> --> <sly
		data-sly-test="${!properties.isCarousel}">
	<div class="offers-container cm-content-blocks ama-offers-not-car"
	
		data-sly-attribute.data-hotel-path="${urlMap.mappedUrl}"
		data-sly-use.amaOfferList="/apps/tajhotels/components/content/ama/ama-offer-card/ama-offer-card.html">
		<div class="row">
			<sly data-sly-list.listItem="${list.offerList}"> <sly
				 data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/ama/ama-offer-card' }"></sly>
			</sly>
		</div>

	</div>
	</sly> 
	 <sly data-sly-test="${properties.isCarousel}">
	<div class="offers-container cm-content-blocks ama-offer-card-wth-car"
		data-sly-attribute.data-hotel-path="${urlMap.mappedUrl}">
		<div class="row">
			<div class="offers-and-deals-wrap">
				<div class="clearfix">
					<sly data-sly-list.listItem="${list.offerList}"> <sly
						 data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/ama/ama-offer-card' }"></sly>
					</sly>
				</div>
			</div>
		</div>
	</div>
	</sly>
	<sly data-sly-test="${properties.showFilters}">
	<div class="align-items">
		<sly data-sly-test="${properties.linkName}"> <a
			href="${properties.linkRedirectPath}.html">
			${properties.linkName} ></a> </sly>
	</div>
	</sly>
	</sly>
</section>











