<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.hoteldetails.award'}" /> 

<div data-sly-use.multiItems="com.ihcl.core.models.HotelAwards"
	class="overview-awards-container cm-content-blocks">
	<div class="cm-header-label-con title-decorator-border">
        <h2 class="cm-header-label">Awards</h2>
    </div>
    <div>
		<div class="awardscontainer-wrap">
			<div class="clearfix">
				<sly data-sly-list.head="${multiItems.getMultiFieldItems}">
				<div class="awards-card">
					<sly data-sly-test="${head.awardImagePath}">
                        <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                            <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=head.awardImagePath, lazyload='true'}"></sly>
                        </sly>
                    </sly>
					<sly data-sly-test="${!head.awardImagePath}">
						<i class="icon-taj-brand-reward"></i>
					</sly>
					<div class="award-info-wrp">
						<div class="award-title" style="">${head.awardTitle}</div>
						<div class="awards-description cm-awards-description">${head.awardDesc @context='html'}</div>
					</div>
				</div>
				</sly>
			</div>
		</div>
	</div>
</div>