
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.legal'}" />
<div data-sly-test="${wcmmode.edit}">Legal Component</div>

<div class="mr-gst-info cm-content-blocks col-12">
    <div class="cm-header-label-con title-decorator-border">
        <h2 class="cm-header-label">${properties.header}</h2>

        <sly data-sly-test.showButton="${properties.showAsButton}">
	        <div class="mr-legal-download-pdf">
	            <a class="mr-download-link"
	                href="${properties.pathToDownloadFrom}"  target="_blank" download="download">
	                <button class="cm-btn-secondary button-view-details">${properties.downloadText}</button>
	            </a>
	        </div>
        </sly>
        
        <sly data-sly-test="${!showButton}">
        <div class="mr-legal-download-pdf">
            <img src="/content/dam/tajhotels/icons/style-icons/download-pdf.svg" alt  = "download-pdf-icon"/> <a class="mr-download-link"
                href="${properties.pathToDownloadFrom}" target="_blank" download="download">
                <div class="mr-download-info-wrapper">${properties.downloadText}</div>
            </a>
        </div>
        </sly>
    </div>

    <div class="mr-para-wrapper">${properties.text @context='html'}</div>
</div>