<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='taj.hotels.components.banner-cta'}" />
<div data-sly-test.edit="${wcmmode.edit}">
    Banner Call to action
</div>
<div class="tic-banner-mem-ben-con">
    <div class="row">
        <div class="col-7">${properties.accompanyText}</div>
        <div class="col-5">
            <sly data-sly-test="${properties.buttonAction == 'link'}">
                <a href="${properties.buttonLink}.html">
                    <button class="cm-btn-secondary tic-banner-mem-ben-con-btn">
                        ${properties.buttonLabel}
                    </button>
                </a>
            </sly>
            <sly data-sly-test="${properties.buttonAction == 'event'}">
                <button class="cm-btn-secondary tic-banner-mem-ben-con-btn" data-trigger-event="${properties.buttonEvent}">
                    ${properties.buttonLabel}
                </button>
            </sly>
        </div>
    </div>
</div>

