<div data-sly-test="${wcmmode.edit}">
  Campaign Tabs
</div>


<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.camp-summer-tab'}" />


<sly data-sly-use.model="com.ihcl.core.models.campaigns.CampaignSummerTabModel"/>

<div class="cm-content-blocks">
    <div class="mr-packages-tabs-tab-wrp">
        <div class="mr-packages-tab row">
            <div class="mr-reports-wrap col-12 rate-tab-wrap">
                <sly data-sly-list.key="${model.list}">
                <div class="rate-tab ">${key.tabName}</div>
                </sly>
            </div>
            <div class="package-rate-tab-content-wrapper col-12">
                <sly data-sly-list.link="${model.list}">
                <div class="package-rate-tab-content" data-sly-resource="${link.tabtextlink}"></div>
                </sly>
            </div>

        </div>
    </div>
</div>