.cm-page-container [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}
.cm-page-container .row {
    margin: auto;
}
ul.list-item
{
    padding-left:0px;
}
.show-more
{
    border: none !important;
    text-transform: none;
    letter-spacing: normal;
    color: var(--primaryColor) !important;
    display: inline-block;
}
.show-less
{
     border: none !important;
    text-transform: none;
    letter-spacing: normal;
    color: var(--primaryColor) !important;
}


.location-details-loc {
    font-size:0.8rem;
    color: #9b9b9b;
    border-bottom: none;
}

.ho-cm-link-txt {
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: normal;
    text-transform: none;
    margin-top: 4px;
    margin-top: 0.25rem;
    font-family: calibri;
}
.dining-card-container-main.show-more-card-element{
display:block;
&:nth-of-type(n+6){

    display:none;
    }
}
li.row.unique-dining {
    display: none;
}