<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.tajhotels.experiencelistpage'}" />

<sly data-sly-test="${wcmmode.edit}">
	<p data-sly-unwrap="${properties.headline}"
	   data-emptytext="Configure ${component.title}" class="cq-placeholder"></p>
</sly>

<div data-sly-use.experienceCardList="tajhotels/components/content/experience-card/experience-card.html"
	data-sly-use.list="com.ihcl.core.models.experiences.ExperienceListModel">
	<div class="all-experiences-list cm-content-blocks">
		<div class="row">
			<sly data-sly-list.listItem="${list.ExperienceList}" > 
			  <sly  data-sly-call="${experienceCardList.experiencecard @ resourcePath=listItem,cardTitleType=properties.type}"/> 
			 <sly
				data-sly-resource="${ '{0}/jcr:content' @ format=[listItem], resourceType='tajhotels/components/content/experience-card' }"></sly>
			</sly> 
		</div>
	</div>
</div>


