.mr-tajness-card-container{
	margin-top:1rem;
}
.mr-tajness-whole-wrapper .mr-tajness-inner-wrap {
    height: 100%;
    background-color: #ffffff;
    position: relative;
}

.mr-tajness-whole-wrapper .mr-tajness-inner-wrap .mr-card-top {
    border-radius: 3px 3px 0 0;
    background-color: #012f4e;
    color: #ffffff;
    padding: 24px 55px;
    padding: 1.5rem 3.4375rem ;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .mr-tajness-whole-wrapper .mr-tajness-inner-wrap .mr-card-top {
        padding: 1.5rem 2.1875rem;
    }
}

.mr-tajness-whole-wrapper .mr-tajness-inner-wrap .mr-card-top .mr-tajness-value-top {
    font-family: Calibri-bold;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}

.mr-tajness-whole-wrapper .mr-tajness-inner-wrap .mr-card-bottom {
    border-radius: 0 0 3px 3px;
    background-color: #ffffff;
    padding: 24px 30px 29px 25px;
    padding: 1.5rem 1.875rem 1.8125rem 1.625rem;
}
.mr-toggle-div .mr-tajness-whole-wrapper{
	height:100%;
}
.mr-toggle-div .mr-tajness-inner-wrap .mr-card-bottom{
	padding: 43px 50px 90px ;
	padding:2.6875rem 3.125rem 5.625rem;
} 
.mr-toggle-div .mr-tajness-inner-wrap .mr-card-bottom p{
	margin-bottom:0;
}
.mr-tajness-whole-wrapper .mr-tajness-inner-wrap .mr-card-top-detail {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 60px;
    height: 3.75rem;
    border-radius: 0 0 3px 3px;
    background-color: #012f4e;
    padding: 14px 70px;
    padding: 0.875rem 4.375rem;
    text-align: center;
    color: #ffffff;
}
@media only screen and (max-width: 767px) {
	.mr-toggle-div .mr-tajness-inner-wrap .mr-card-bottom{
    padding: 28px 28px 85px ;
    padding: 1.75rem 1.75rem 5.3125rem;
} 
.mr-toggle-div  .mr-tajness-inner-wrap .mr-card-top-detail{
	padding: 14px 32px;
	padding:0.875rem 2rem;
}
}
.mr-tajness-whole-wrapper .mr-tajness-inner-wrap .mr-card-top-detail .mr-tajness-value-top {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.46;
    font-family: Calibri-bold;
    margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
	.mr-tajness-whole-wrapper .mr-tajness-inner-wrap .mr-card-top-detail .mr-tajness-value-top {
    font-size: 18px;
    font-size: 1.125rem;
}
}
.mr-card-bottom-details p,.mr-card-bottom-details h2{
	word-wrap: break-word;
    word-break: break-all;
}
.mr-card-bottom li{
	list-style:unset;
}

