<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.offerdetails'}" />
<div data-sly-test="${properties.showHtml != 'false'}">
<div class="offers-room-container cm-content-blocks"
	data-offer-rate-code=${pageProperties.offerRateCode}
    data-comparable-offer-rate-code=${pageProperties.comparableOfferRateCode}
	data-offer-title=${properties.offerType}
	data-offer-no-of-nights=${pageProperties.nights}
    data-offer-round-the-year=${pageProperties.roundTheYearOffer}
    data-offer-starts-from="${'yyyy-MM-dd HH:mm:ss.SSSZ' @ format=pageProperties.offerStartsFrom }"
    data-offer-ends-on="${'yyyy-MM-dd HH:mm:ss.SSSZ' @ format=pageProperties.offerEndsOn }"
    data-offer-member-only=${pageProperties.memberOnlyOffer}
	data-offer-category = ${pageProperties.offerCategory}>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 offers">
            <sly data-sly-test="${!properties.campvalid}">
                <div class="offers-header-wrapper">
					<sly data-sly-test.isBackLinkExist="${properties.backLinkToNavigate}">
						<a href="${properties.backLinkToNavigate}.html">
					</sly>
					<sly data-sly-test="${!properties.backLinkToNavigate}">
						<a href="${currentPage.parent.path}.html">
					</sly>
					<i data-sly-test="${!properties.campvalid}" class="image-view-offers icon-carousel-arrow-coloured-left"></i>
                    <div class="offers-rooms">Back to All Offers</div>
					</a>
            </div>
			<div class="offers-wrapper">
			 <sly data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly>
					<div class="offers-rooms_discountWrapper">
					<div data-sly-test=${properties.discountValue}>
						<div class="discount-right-clipped-wrapper">
							<div class="discount-right-clipped cm-bg-container">
								<img class="cm-bg-image"
									src="/content/dam/tajhotels/icons/style-icons/discount-right-clipped-red.svg" alt = "discount-right-clipped-red-icon" />
								<div class="cm-bg-relative-content">${properties.discountValue}</div>
							</div>
							<div class="discount-customer-name">${properties.offerSpecifics}</div>
						</div>
					</div>

				</div>
				<div class="validity-line-container">
					<div class="validity-line-seperator"></div>
				</div>
				<div class="validity-container">
					<i class="icon-clock"></i>					
                    <div class="validity-heading">${properties.validityText}</div>
					<div data-sly-test=${pageProperties.roundTheYearOffer} class="validity-content">Round
                        the year
					</div>
					<div data-sly-test=${!pageProperties.roundTheYearOffer} class="validity-content">
						<sly data-sly-test="${pageProperties.offerStartsFrom}">
							${'dd MMM yyyy' @ format=pageProperties.offerStartsFrom } - ${'dd MMM yyyy' @ format=pageProperties.offerEndsOn } ${properties.validityMsg}
                        </sly>
                        <sly data-sly-test="${!pageProperties.offerStartsFrom}">
							${'dd MMM yyyy' @ format=pageProperties.offerEndsOn } ${properties.validityMsg}
                        </sly>
					</div>
				</div>
			</div></sly>
            
            <sly data-sly-test="${properties.campvalid}">
            <div class="offers-wrapper">
             
                <div class="validity-container">
                    <img src="/content/dam/tajhotels/icons/style-icons/validity.svg" alt  = "validity-icon"/>
                    <div class="validity-heading">Validity</div>
					<div data-sly-test=${pageProperties.roundTheYearOffer} class="validity-content">Round
                        the year
					</div>
					<div data-sly-test=${!pageProperties.roundTheYearOffer} class="validity-content">
						<sly data-sly-test="${pageProperties.offerStartsFrom}">
							${'dd MMM yyyy' @ format=pageProperties.offerStartsFrom } - ${'dd MMM yyyy' @ format=pageProperties.offerEndsOn } ${properties.validityMsg}
                        </sly>
                        <sly data-sly-test="${!pageProperties.offerStartsFrom}">
							${'dd MMM yyyy' @ format=pageProperties.offerEndsOn } ${properties.validityMsg}
                        </sly>
					</div>
                    
                </div>
            </div></sly>
            
			<div class="offers-rooms_desc">
				<p>${properties.offerDescription @context='html'}</p>
			</div>
		</div>
	</div>
</div>
</div>