<div data-sly-test="${wcmmode.edit}">Destination - Offer Carousel
	Component</div>

<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.hotels.components.destination-offer-carousel'}" />
<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.hotels.offers-carousel-card'}" />

<div
	data-sly-use.offerList="${'com.ihcl.core.models.offers.OfferList' @destination='${pageProperties.city}'}">
	<div class="offers-deals-container cm-content-blocks">
	  <div class="cm-header-label-con title-decorator-border">
	   <sly
				data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly> 
	    <div class="cm-header-offers">view all offers</div>
	  </div>
	  <div>
	    <div class="dest-hotels-offers-and-deals-con">
	      <div class="offers-and-deals-wrap">
	        <div class="clearfix">
	
				<sly data-sly-list.listItem="${offerList.getOfferList}"
							data-sly-unwrap>
					<sly
							data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/offer-carousel-card' }"></sly>
				</sly>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="offers-button-wrapper">
			<button class="cm-btn-primary offers-button" type="button">VIEW ALL OFFERS</button>
		</div>
	</div>
</div>
