.about-us-details-wrap {
    margin-top: 0 !important;
    .about-specific-city-container .specific-city-wrapper .specific-city-image-conatiner {
        height: 100%;
    }
    .specific-city-wrapper {
        margin-top: 0;
    }
}

.cart-empty-back {
    color: var(--primaryColor);
    font-family: Calibri-Bold;
    cursor: pointer;
    float: initial;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    padding-top: 0;
}

.cart-empty-back a {
    color: var(--primaryColor);
}