<div data-sly-test="${wcmmode.edit}">
    AMP Card Carousel Component
</div>

<!--"${properties.width}"   "${properties.height}"-->
<div class="card-carousel-wrap" style="${properties.cardwrapperStyle @ context='html'};">
	<amp-carousel width="200px" height="${properties.height}" layout="responsive" autoplay delay="5000" type="slides" id="carousal-slide">
		<sly data-sly-list="${resource.children}" data-sly-use.imageTemplate="tajhotels/components/content/amp/image-template/image-template.html">
			<sly data-sly-list="${item.children}">
				<sly data-sly-test.design="${properties.design}"></sly>
				<sly data-sly-test="${design == 'experience'}">
					<div class="card-carousel-item ${design}">
						<div class="card-carousel-image">
							<sly data-sly-call="${imageTemplate.damImageTemplate @ imagePath=item.itemImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', layout='fill'}">
							</sly>
						</div>
						<div class="card-carousel-details">
							<span class="card-title">${item.itemTitle}</span>
							<p>${item.itemDesc}</p>
							<sly data-sly-test="${item.itemLinkText}">
								<a class="carousel-btn" href="${item.itemLinkUrl}.html">
									<button class="cm-btn-secondary ${inheritedPageProperties.sitePath}" tabindex="-1">${item.itemLinkText}</button>
								</a>
							</sly>
						</div>
					</div>
				</sly>
				<sly data-sly-test="${design == 'destination' || design == 'featurestays' }">
					<div class="destination-item ${design}">
						<div class="destination-image">
							<sly data-sly-call="${imageTemplate.damImageTemplate @ imagePath=item.itemImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', layout='fill'}">
							</sly>
						</div>
						<div class="destination-details">
							<span class="destination-title">${item.itemTitle}</span>
							<p>${item.itemDesc}</p>
							<sly data-sly-test="${item.itemLinkText}">
								<a class="destination-btn" href="${item.itemLinkUrl}.html">
									<button class="cm-btn-secondary ${inheritedPageProperties.sitePath}" tabindex="-1">${item.itemLinkText}</button>
								</a>
							</sly>
						</div>
					</div>
				</sly>
			</sly>
		</sly>
	</amp-carousel>
    <!--<p class="dots">
          <span [class]="selected.slide == 0 ? 'current' : ''" class="current" on="tap:carousal-slide.goToSlide(index=0)"></span>
          <span [class]="selected.slide == 1 ? 'current' : ''" on="tap:carousal-slide.goToSlide(index=1)"></span>
          <span [class]="selected.slide == 2 ? 'current' : ''" on="tap:carousal-slide.goToSlide(index=2)"></span>
    </p>-->
</div>

