<div data-sly-test="${wcmmode.edit}">
    AMP Footer
</div>
<!-- Footer -->

<div class="footer" data-sly-use.footerModel="${'com.ihcl.core.models.Footer' @ rootPath=inheritedPageProperties.siteConfigContentPath}">
    <div class="footer-component">
        <!-- Destinations -->
        <amp-accordion animate disable-session-states>
            <section class="footer-destination-section">
                <header class="footer-destination-heading">
					${properties.destinationsTitle}
					<span class="footer-destination-expand-button expand-button ${inheritedPageProperties.sitePath}" tabindex="0" role = "button">+</span>
					<span class="footer-destination-expand-button contract-button ${inheritedPageProperties.sitePath}" tabindex="0" role = "button">-</span>
				</header>
                <ul class="footer-links-two-col">
                    <sly data-sly-list.city="${footerModel.destinations}">
                     <li class="footer-destination"><a
                        href="${footerModel.destinations[city]}.html">${city}</a></li>
                  </sly>
                </ul>
            </section>
        </amp-accordion>
        <div class="footer-links-section">
            <ul data-sly-list="${footerModel.footerLinks}" class="footer-links-two-col">
                <li class="footer-link"> <a href="${item.path}.html">${item.label}</a></li>
            </ul>
			<amp-accordion animate disable-session-states data-sly-test="${properties.loyaltySectionHeader}">
                <section class="footer-destination-section">
                    <header class="footer-destination-heading">
                        ${properties.loyaltySectionHeader}
                        <span class="footer-destination-expand-button expand-button ${inheritedPageProperties.sitePath}" tabindex="0" role = "button">+</span>
                        <span class="footer-destination-expand-button contract-button ${inheritedPageProperties.sitePath}" tabindex="0" role = "button">-</span>
                    </header>
					<div>
                    <ul class="footer-links-one-col tic-links" data-sly-list="${footerModel.policyLinks}">
                        <li class="footer-link"> <a href="${item.path}">${item.label}</a></li>
                    </ul></div>
                </section>
       		 </amp-accordion>
        </div>
        <div class="news-letter-spacing">
            <sly data-sly-test="${properties.newsletter}">
        		${properties.newsletter}
			</sly>
		</div>
        <button data-sly-test="${properties.subscribe}" class="cm-btn-secondary ${inheritedPageProperties.sitePath}" tabindex="-1" ><a href="/en-in/newsletter/" id="subscribe">
             ${properties.subscribe}
		</a></button>
        <div class="footer-media-section">
            <div>Connect with us:</div>
            <div class="footer-social-media-con">
                <a target="_blank" href="${properties.facebookredirectpath}">
                    <amp-img height="40px" width="40px" class="share-icon" src="${properties.facebookimagepath}" alt="facebook icon"></amp-img>
                </a>
                <a target="_blank" href="${properties.instagramredirectpath}">
                    <amp-img height="40px" width="40px" class="share-icon" src="${properties.instagramimagepath}" alt="instagram icon"></amp-img>
                </a>
                <a target="_blank" href="${properties.twitterredirectpath}">
                    <amp-img height="40px" width="40px" class="share-icon" src="${properties.twitterimagepath}" alt="twitter icon"></amp-img>
                </a>
                <a target="_blank" href="${properties.youtuberedirectpath}">
                    <amp-img height="40px" width="40px" class="share-icon" src="${properties.youtubeimagepath}" alt="YouTube icon"></amp-img>
                </a>
            </div>
        </div>
        <div class="footer-brand-details-section">
            <div class="brand-logos-section">
                <div>${properties.brandsTitle}</div>
                <div class="brand-logos-carousal-band" data-sly-list="${footerModel.brandLinks}">
                    <a href="${item.path}">
                        <amp-img height="1.9rem" class="brand-icon" src="${item.label}" alt="brand logo"></amp-img>
                    </a>
                </div>
            </div>
            <div class="footer-ihcl-logo-con">
             <a href="${properties.linkHref}">
                <amp-img class="logo" width="90" height="30" src="${properties.linkURL}" alt="taj logo"></amp-img></a>
                <div class="footer-disclaimer">${properties.footerDisclaimer}</div>
            </div>
        </div>
    </div>
</div>