.ama-hotel-policies {
  padding-bottom: 25px;
}

.hotel-policies-container {
  background-color: #f2f2f2;
}

.hotel-policies-title {
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 1px;
  color: #0f0f0f;
  margin: auto;
}

.hotel-policies-title h3 {
  text-align: center;
}

.hotel-policies-desc ul {
  margin: 28px 0 0 0;
  padding: 0 0 0 15px;
}

.hotel-policies-desc li {
  position: relative;
  padding: 5px 0;
  padding-left: 20px;
}

.hotel-policies-desc ul li::before {
  content: "\25CF";
  color: var(--primaryColor);
  font-weight: bold;
  width: 1.7em;
  left: 0;
  display: inline-block;
  position: absolute;
}

.hotel-policies-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.18px;
  color: #333333;
  padding: 0 0 20px 0;
  background-color: #f6f6f6;
}

@media only screen and (max-width:767px) {
  .hotel-policies-title {
    background: #f6f6f6;
    padding-top: 25px;
  }
  .hotel-policies-desc ul {
    margin: 0;
  }
}