<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='taj.hotels.components.meetings-list'}"/>
<div class="col-lg-12 col-md-12 col-sm-12 events-card-wrap">
    <div class="events-card-container clearfix">
        <div class="events-img-con">
            <sly data-sly-use.galleryModel="com.ihcl.core.models.gallery.GalleryImageSelector"/>
            <sly data-sly-list.imagePath="${galleryModel.imagePaths.toString}">
            <sly data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=imagePath}" data-sly-list="${firstImage.options}">
                <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"/>
                <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= item, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true'}"></sly> 
            </sly>
            </sly>
            <div class="events-view-photos" tabindex = "0" data-dialog-btn = "galleryCarousel" onclick="showGallery(this)"
                 data-gallery-images="${galleryModel.imagePaths.toString}">
                <img src="/content/dam/tajhotels/icons/style-icons/lightbox.svg" alt = "lightbox-icon"/>
                <span>VIEW PHOTOS  (${galleryModel.totalNumberOfImages})</span>
            </div>
        </div>
        <div class="events-details-con">
            <div class="events-card-heading-section clearfix">
                <div class="events-card-heading">${properties.roomTitle}</div>
                <div class="events-card-capacity">Max Capacity : ${properties.roomCapacity}</div>
            </div>
            <div class="events-card-theme">"${properties.roomTheme}"</div>
            <div class="events-card-desc">${properties.roomLongDescription  @context='html'}</div>
            <div class="events-card-details-section clearfix">
                <div class="events-card-dimension-con">
                    <div><span class="heading">Built:</span> <span class="details">${properties.roomBuilt}</span> <span
                            class="sperator">|</span> <span class="heading">Renovated:</span> <span
                            class="details">${properties.roomRenovated}</span> <span class="seperator">|</span> <span
                            class="heading">Distance from Airport:</span> <span
                            class="details">${properties.airportDistance}</span></div>
                    <div><span class="heading">Dimension:</span> <span
                            class="details">${properties.roomDimension} </span> <span class="sperator">|</span> <span
                            class="heading">Area:</span> <span class="details">${properties.roomArea}</span> <span
                            class="sperator">|</span> <span class="heading">Height:</span> <span
                            class="details">${properties.roomHeight}</span>
                        <div><span class="heading">Guest Entry Point:</span> <span
                                class="details">${properties.guestEntry}</span></div>
                    </div>
                </div>
                <div class="events-card-other-details-con">
                    <div class="event-card-other-heading-con clearfix">
                        <div class="event-card-other-heading">SEATING STYLE</div>
                        <div class="events-card-other-show-more"> Show More<img
                                src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt  = "drop-down-arrow-icon"/></div>
                    </div>
                    <div class="events-card-other-details clearfix">
                        <div class="events-card-other-sub">
                            <div><img src="/content/dam/tajhotels/icons/style-icons/rooms-amenity-bed.svg" alt  = "rooms-amenity-bed-icon"/> <span>Theatre : ${properties.theatreCapacity}</span>
                            </div>
                            <div><img src="/content/dam/tajhotels/icons/style-icons/rooms-amenity-bed.svg" alt  = "rooms-amenity-bed-icon"/> <span>Circular : ${properties.circularCapacity}</span>
                            </div>
                        </div>
                        <div class="events-card-other-sub">
                            <div><img src="/content/dam/tajhotels/icons/style-icons/rooms-amenity-bed.svg" alt  = "rooms-amenity-bed-icon"/> <span>U Shaped : ${properties.uCapacity}</span>
                            </div>
                            <div><img src="/content/dam/tajhotels/icons/style-icons/rooms-amenity-bed.svg" alt  = "rooms-amenity-bed-icon"/> <span>Boardroom : ${properties.boardroomCapacity}</span>
                            </div>
                        </div>
                        <div class="events-card-other-sub events-card-other-sub-mob">
                            <div><img src="/content/dam/tajhotels/icons/style-icons/rooms-amenity-bed.svg" alt  = "rooms-amenity-bed-icon"/> <span>Classroom : ${properties.classroomCapacity}</span>
                            </div>
                            <div><img src="/content/dam/tajhotels/icons/style-icons/rooms-amenity-bed.svg" alt  = "rooms-amenity-bed-icon"/> <span>Reception : ${properties.reception}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events-card-button-section clearfix">
                <div class="cm-btn-primary events-cards-view-amenities-btn" tabindex="0" data-view-all-amentities = "open"> VIEW ALL AMENITIES<img
                        src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt  = "drop-down-arrow-icon"/></div>
                <a class="events-cards-request-btn" href="${properties.pagePath}?venueName=${properties.roomTitle}&maxCapacity=${properties.roomCapacity}">
                    <button class="cm-btn-secondary">REQUEST QUOTE</button>
                </a></div>
        </div>
    </div>
    <div class="event-expansion-con">
        <sly data-sly-use.serviceAmenitiesModel="${'com.ihcl.core.models.serviceamenity.GroupedServiceAmenitiesFetcher' }"/>
        <div class="events-services-entertainment-section">
            <div data-sly-test="${serviceAmenitiesModel.getSizeOfBedAndBathAmenities > 0 }">
                <div class="heading">BED & BATH</div>
                <div class="detials">
                    <sly data-sly-list.bedAmenity="${serviceAmenitiesModel.BedAndBathAmenities}">
                        <sly data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=bedAmenity}"/>
                        <ul>
                            <li>- ${serviceAmenitiesProperties.name}</li>
                        </ul>
                    </sly>
                </div>
            </div>
            <div data-sly-test="${serviceAmenitiesModel.getSizeOfOtherConveniences > 0 }">
                <div class="heading">OTHER CONVENIENCES</div>
                <div class="details">
                    <sly data-sly-list.otherAmenity="${serviceAmenitiesModel.OtherConveniences}">
                        <sly data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=otherAmenity}"/>
                        <ul>
                            <li>- ${serviceAmenitiesProperties.name}</li>
                        </ul>
                    </sly>
                </div>
            </div>
            <div data-sly-test="${serviceAmenitiesModel.getSizeOfWellnessAmenities > 0 }">
                <div class="heading">WELNESS AMENITIES</div>
                <div class="details">
                    <sly data-sly-list.wellnessAmenity="${serviceAmenitiesModel.WellnessAmenities}">
                        <sly data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=wellnessAmenity}"/>
                        <ul>
                            <li>- ${serviceAmenitiesProperties.name}</li>
                        </ul>
                    </sly>
                </div>
            </div>
            <div data-sly-test="${serviceAmenitiesModel.getSizeOfSuiteFeatures > 0 }">
                <div class="heading">SUITE FEATURES</div>
                <div class="details">
                    <sly data-sly-list.suiteFeatures="${serviceAmenitiesModel.SuiteFeatures}">
                        <sly data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=suiteFeatures}"/>
                        <ul>
                            <li>- ${serviceAmenitiesProperties.name}</li>
                        </ul>
                    </sly>
                </div>
            </div>
            <div data-sly-test="${serviceAmenitiesModel.getSizeOfHotelFacilities > 0 }">
                <div class="heading">HOTEL FACILITIES</div>
                <div class="details">
                    <sly data-sly-list.hotelFacilities="${serviceAmenitiesModel.HotelFacilities}">
                        <sly data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=hotelFacilities}"/>
                        <ul>
                            <li>- ${serviceAmenitiesProperties.name}</li>
                        </ul>
                    </sly>
                </div>
            </div>
        </div>
        <div class="events-exp-show-more">Show More</div>
    </div>
    <div style="display: none;" class="size">${properties.size}</div>
    <div style="display: none;" class="capacity">${properties.capacity}</div>
</div>
<div class="gallery-carousel-container">
    <div data-sly-resource="${ '{0}' @  resourceType='tajhotels/components/content/gallery-carousel' }"></div>
</div>
