@rem : 16rem;


.instagram-feeds-card{

height: 955px;
}

.col{

    background: black;
    column-count: 4;
  column-gap: 15px;
  column-fill: balance;
  column-width: 250px;

}

.mr-card-wrap {
    padding-top:50px;
    margin-left:5px;
    float: left;
	min-width: 200px;

    width: 50%;
    max-width: 250px;
    padding-bottom: 20px;
}

.custom-feed-img {
	width: 100%;
    height: 250px;
    border-radius:0px;

}
.contents-wrp {
	flex-wrap: nowrap;
}
.instagram-feeds-card {
    overflow: hidden;
    background: linear-gradient(to bottom right, white 70%, #fbe7eb);

}
.feeds-card {

    width: 290px;
    margin-bottom: -40px;
	overflow: hidden;
    box-sizing: border-box;
    border-radius:0px;
    border: 2px solid tranparent;
    border-image: linear-gradient(to top right, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90% );
    border-image-slice: 1;
}
p.card-text {
    min-height: 70px;
    max-height: 70px;
    overflow: hidden;
	text-align: center;
    font-size: 15px;
    margin-bottom:0;
}
.feed-heading {
	font-size: 1.8rem;
}

.card-with-border-radius{
    
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
}

.card-link a{
	color: white;


}
.ho-img{
background-size: cover;
}

.ho-block{
	display: flex;
}

.ho-icon img{
height: 41px;
    margin-left: 20px;
    margin-top: -6px;
}

.ho-icon img:hover{
 cursor:pointer;
}
@media only screen and (max-device-width:
    767px) {

    .feed-heading {
			font-size: 1.5rem;
	}
}
