<sly data-sly-test="${wcmmode.edit}">
    <p data-sly-unwrap="${properties.headline}" data-emptytext="configure ${component.title}"
       class="cq-placeholder"></p>
</sly>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='taj.hotels.components.ListMap'}"/>
<div class="hotels-in-dest-container cm-content-blocks">
    <div>
        <div class="row">
            <div class="col-12">
                <div class="mr-view-toggler-switch-Container">
                    <div class="mr-view-Toggler-wrap">
                        <div class="mr-list-switch mr-view-toggler-style">
                            <img class="mr-listMapSwitch-icon"
                                 src="/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/list-icon.svg" alt  = "list-icon">
                            <span class="mr-listSwitch-text">List</span>
                        </div>
                        <div class="mr-map-switch">
                            <img class="mr-listMapSwitch-icon"
                                 src="/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/mapview-icon.svg" alt = "mapview-icon">
                            <span class="mr-mapSwitch-text">Map </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="mr-map-totalCount"> <!-- Showing 1 of 5 --> </div>
 <div class="mr-listView-layout">
    <div class="row">
        <div class="col-12">
            <div class="mr-listsMapHotels-Main-Wrapper">
                <div class="mr-lists-view-hotels-Container">
                    <sly data-sly-resource="${'parlist' @ resourceType='wcm/foundation/components/responsivegrid'}"/>
                </div>
            </div>
        </div>
    </div>
</div>
                <div class="mr-mapView-layout">
                <div class="row">
    <div class="col-12">
      <div class="mr-listsMapHotels-Main-Wrapper">
        <div class="mr-map-view-hotels-Container">
          <sly data-sly-resource="${'parmap' @ resourceType='wcm/foundation/components/responsivegrid'}"/>
        </div>
      </div>
    </div>
    
  </div>
  </div>
</div>
            </div>
        </div>
    </div>
</div>