<!-- <div class="offers-card-component col-lg-4 col-md-6 col-xs-12" data-sly-use.model="com.ihcl.core.models.AllOffers">
    <div class="offers-card-inner-wrapper">
        <div class="offers-card-header-container">
            <div class="offer-card-header-additional-points">
                <div class="offers-header-text">${model.offerValue} ${model.offerTypeSelect} <span class="additional-points-text">${model.offerSpecific}</span></div>
            </div>
        </div><img class="offers-card-image" src="/content/dam/tajhotels/in/en/offers/offers-card-image-1@2x.png" alt="offer card image" />
        <div class="offers-card-main">
            <div class="offers-card-title">${model.offerTitle}</div>
            <div class="offers-card-description"> ${model.longDescription}</div>
            <div class="offers-card-footer"><button class="btn button-view-details">VIEW DETAILS</button>
                <div class="offer-validity"> Valid till ${model.offerSpecific}
                    <div class="offer-validity-date">${model.validDate}</div>
                </div>
            </div>
        </div>
    </div>
</div> -->

 <div class="offers-card-component col-lg-4 col-md-6 col-xs-12">
    <div class="offers-card-inner-wrapper">
        <!--<div class="offers-card-header-container">
            <div class="offer-card-header-additional-points">
                <div class="offers-header-text">10% Discount <span class="additional-points-text">ICIC Bank Users</span></div>
            </div>
        </div>-->
        <img class="offers-card-image" src="/content/dam/tajhotels/in/en/offers/offers-card-image-1@2x.png" alt="offer card image" />
        <div class="offers-card-main">
            <div class="offers-card-title">Staycation</div>
            <div class="offers-card-description"> Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco}</div>
            <div class="offers-card-footer"><button class="btn button-view-details">VIEW DETAILS</button>
                <div class="offer-validity"> Valid till
                    <div class="offer-validity-date">02/02/2019</div>
                </div>
            </div>
        </div>
    </div>
</div>
