.jiva-spa-lead-gen-con {
	background-color: #fefefe;
	width: 100%;
	box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);
	padding: 43px 79px 22px 66px;
	padding: 2.6875rem 4.9375rem 1.375rem 4.125rem;
	font-family: Calibri;
}

.jiva-spa-lead-gen-con input {
	border: none;
	border-bottom: 1px solid #dee2e5;
	width: 100%;
	color: #b6b6b6;
	padding-left: 5px;
	padding-left: 0.3125rem;
	background-color: #fefefe;
	font-size: 16px;
	font-size: 1rem;
	height: 30px;
}

.jiva-spa-lead-gen-con input:focus {
	outline: none;
}

.jiva-spa-lead-gen-con input::-webkit-input-placeholder {
	color: #b6b6b6;
}

.jiva-spa-lead-gen-con input::-moz-placeholder {
	color: #b6b6b6;
}

.jiva-spa-lead-gen-con input:-ms-input-placeholder {
	color: #b6b6b6;
}

.jiva-spa-lead-gen-con input::placeholder {
	color: #b6b6b6;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.jiva-spa-lead-gen-con {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 50;
		padding: 17px 1.5rem 26px 1.5625rem;
		overflow-y: scroll;
	}
}

.jiva-spa-lead-gen-con .jiva-spa-not-valid {
	border-bottom: 2px solid var(--primaryColor);
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.jiva-spa-lead-gen-inner-con {
		height: auto;
	}
}

.jiva-spa-form-heading {
	font-size: 18px;
	font-size: 1.125rem;
	color: #818b92;
}

.jiva-spa-form-heading.sub-form-input-label {
	margin-bottom: 0 !important;
}

.jiva-spa-lead-gen-heading {
	font-size: 30px;
	font-size: 1.875rem;
	color: #282828;
	font-family: Calibri-Bold;
	margin-bottom: 44px;
	margin-bottom: 2.75rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.jiva-spa-lead-gen-heading {
		margin-bottom: 23px;
	}
}

@media only screen and (max-device-width: 374px) {
	.jiva-spa-lead-gen-heading {
		font-size: 1.75rem;
	}
}

.jiva-spa-form-con {
	width: 100%;
}

.jiva-spa-form-row {
	display: table;
	width: 100%;
	margin-bottom: 63px;
	margin-bottom: 3.9375rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.jiva-spa-form-row {
		display: block;
		width: 100%;
		margin-bottom: 0;
	}
}

.jiva-spa-form-hotel-details, .jiva-spa-form-name-details {
	display: table-cell;
	width: 45%;
	padding-right: 40px;
	padding-right: 2.5rem;
	vertical-align: top;
	padding-bottom: 15px;
	margin-bottom: -15px;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.jiva-spa-form-hotel-details, .jiva-spa-form-name-details {
		display: block;
		width: 100%;
		margin-bottom: 46px;
	}
}

.jiva-spa-form-right-section {
	display: table-cell;
	width: 55%;
	vertical-align: top;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.jiva-spa-form-right-section {
		display: block;
		width: 100%;
		margin-bottom: 46px;
	}
}

.jiva-spa-form-date-details {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	padding-right: 15px;
	padding-right: 0.9375rem;
}

.jiva-spa-form-city-details {
	display: inline-block;
	width: 49%;
	padding-left: 15px;
	padding-left: 0.9375rem;
}

.jiva-spa-form-gender-details {
	display: inline-block;
	width: 35%;
	padding-right: 15px;
	padding-right: 0.9375rem;
}

.jiva-spa-form-mobile-details {
	display: inline-block;
	width: 63%;
	padding-left: 15px;
	padding-left: 0.9375rem;
	vertical-align: bottom;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.jiva-spa-form-mobile-details {
		vertical-align: bottom;
	}
}

.jiva-spa-form-email-details {
	display: table-cell;
	padding-right: 15px;
	padding-right: 0.9375rem;
	vertical-align: top;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.jiva-spa-form-email-details {
		display: block;
		width: 100%;
		margin-bottom: 46px;
	}
}

.jiva-spa-form-time-details {
	display: table-cell;
	width: 32%;
	padding: 0 15px;
	padding: 0 0.9375rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.jiva-spa-form-time-details {
		display: block;
		width: 100%;
		padding: 0;
		margin-bottom: 46px;
	}
}

.jiva-spa-date-con {
	position: relative;
	cursor: pointer;
	color: #b6b6b6;
	padding-left: 5px;
	padding-left: 0.3125rem;
	font-size: 16px !important;
	font-size: 1rem !important;
}

.jiva-spa-date-con i {
	position: absolute;
	right: 10px;
	right: 0.625rem;
	display: table;
	top: 0;
	bottom: 0.3rem;
	margin: auto;
	font-size: 1.2rem;
}

.jiva-spa-form-btn-details {
	display: table-cell;
	width: 32%;
	position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.jiva-spa-form-btn-details {
		display: block;
		width: 100%;
	}
}

.jiva-spa-form-btn {
	width: 128px;
	width: 8rem;
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 2;
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	991px) {
	.jiva-spa-form-btn {
		position: unset;
		float: right;
		line-height: 2.8;
	}
}

.jiva-spa-lead-gen-disclaimer:before {
	content: '*Mandatory';
	color: #818b92;
	font-size: 12px;
	font-size: 0.75rem;
}

@media only screen and (max-width: 991px) {
	.jiva-spa-lead-gen-disclaimer:before {
		content: '* All Fields Mandatory';
	}
}

.jiva-spa-form-heading {
	font-size: 18px;
	font-size: 1.125rem;
	color: #818b92;
}

.dropdown .selectboxit-container * {
	font-family: Calibri;
}

.dropdown .selectboxit-container {
	width: 100%;
	font-family: Calibri;
}

.dropdown .selectboxit-container .selectboxit {
	width: 100% ! important;
	border: none;
	border-radius: 0;
	color: #b2b2b2;
	font-size: 16px ! important;
	font-size: 1rem ! important;
	font-family: Calibri;
}

.dropdown .selectboxit-container .selectboxit-option-icon-container {
	margin-left: 0px !important;
}

.dropdown .selectboxit-arrow-container {
	display: none !important;
}

.dropdown .selectboxit-option, .dropdown .selectboxit-optgroup-header {
	text-indent: 3px;
}

.dropdown .selectboxit-text {
	font-size: 16px !important;
	font-size: 1rem !important;
	font-family: Calibri;
}

@media only screen and (max-width: 991px) {
	.dropdown .selectboxit-text {
		font-size: 16px !important;
	}
}

.dropdown .selectboxit-list>.selectboxit-focus>.selectboxit-option-anchor
	{
	background: var(--primaryColorLighter);
	color: #4a4a4a;
	margin: 0 -7px;
	margin: 0 -0.4375rem;
	padding: 0 9px;
	padding: 0 0.5625rem;
}

.dropdown .selectboxit-list a {
	font-size: 16px !important;
	font-size: 1rem !important;
	color: #4a4a4a;
	font-family: Calibri;
	border-bottom: solid 1px #ebebeb;
}

.dropdown .selectboxit-options a {
	height: 40px;
	height: 2.5rem;
	line-height: 40px;
	line-height: 2.5rem;
}

.dropdown .selectboxit-option-first {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.dropdown .selectboxit-option-last {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.dropdown .selectboxit-container {
	font-family: Calibri;
	font-size: 16px;
	font-size: 1rem;
	color: var(--primaryColor);
}

.dropdown .selectboxit-container .selectboxit-options {
	border-radius: 0;
	box-shadow: 0 7px 14px 0 #9b9b9b;
	padding: 0 7px;
	padding: 0 0.4375rem;
	width: 100%;
}

.jiva-spa-gender-dropdown {
	border-bottom: 1px solid #dee2e5;
	width: 100%;
	display: inline-block;
}

.jiva-spa-hotel-input {
	position: relative;
}

.jiva-spa-hotel-input input {
	border-bottom: 1px solid #dee2e5;
}

@media only screen and (max-width: 374px) {
	.jiva-spa-hotel-input input {
		padding-right: 23px;
	}
}

.jiva-search-close {
	position: absolute;
	right: 5px;
	right: 0.3125rem;
	top: 20%;
	display: none;
	height: 15px;
	height: 0.9375rem;
	width: 15px;
	width: 0.9375rem;
	cursor: pointer;
}

.jiva-spa-search-list {
	position: absolute;
	left: 0;
	width: 101%;
	background: #fff;
	z-index: 10;
	list-style-type: none;
	color: #323232;
	font-family: Calibri;
	font-size: 18px;
	font-size: 1.125rem;
	box-shadow: 0 7px 14px 0 #9b9b9b;
	display: none;
	padding: 0;
}

.jiva-spa-search-list li {
	height: 49px;
	height: 3.0625rem;
	line-height: 49px;
	line-height: 3.0625rem;
}

.jiva-spa-search-list li label {
	margin: 0 12px;
	margin: 0 0.75rem;
	width: 94%;
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.jiva-spa-search-list li:last-child label {
	border-bottom: none;
}

.jiva-spa-search-list li:hover, .jiva-spa-search-list li:active {
	background: var(--primaryColorLighter);
}

.jiva-spa-date-section {
	position: relative;
}

.jiva-spa-date {
	display: none;
	position: absolute;
	left: 0;
	top: 22.5px;
	width: 100%;
	z-index: 1;
	background-color: #fff;
}

.jiva-spa-date .datepicker {
	padding: 0;
}

.jiva-spa-date .datepicker-inline {
	width: auto;
}

.jiva-spa-date .datepicker-days {
	border: solid 0.5px #e0dfdf;
}

.jiva-spa-date .table-condensed {
	margin: 0 19px 19px;
	margin: 0 1.21875rem 19px;
	font-size: 10px;
	font-size: 0.625rem;
	font-family: Calibri;
	margin: auto;
	margin-bottom: 19px;
}

.jiva-spa-date td {
	height: 26.5px;
	border: solid 0.5px #e0dfdf;
	border-radius: 0;
}

.jiva-spa-date tr:nth-child(2) th {
	height: 35px;
	font-size: 14px;
	font-size: 0.875rem;
}

.jiva-spa-date tr:last-child th {
	height: 26.5px;
	border: solid 0.5px #e0dfdf;
	color: rgba(52, 72, 94, 0.54);
}

@media only screen and (max-device-width: 767px) {
	.jiva-spa-date {
		width:auto;
		z-index: 9999991;
	}
}