.mr-mealTime-radio-label {
    margin-right: 11px;
    margin-right: 0.6875rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    display: inline-block;
}

@media only screen and (max-device-width: 767px) {
    .mr-mealTime-radio-label {
        margin-right: 1%;
    }
}

.mr-mealTime-radio-label label {
    display: inline-block;
    border-radius: 4px;
    border: solid 1px #818b92;
    width: 85px;
    width: 5.3125rem;
    height: 30px;
    height: 1.875rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: inherit;
}

input[type="radio"].mr-mealType-radio {
    display: none;
}

input[type="radio"].mr-mealType-radio:checked + label {
    border: solid 1.6px var(--primaryColor);
    color: var(--primaryColor);
    font-weight: bold;
}

.mr-reserve-table-form-header {
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: bold;
    color: #282828;
}

@media only screen and (max-width: 767px) {
    .mr-reserve-table-form-header {
        font-size: 1.5rem;
        margin-bottom: 1.125rem;
    }
}

.mr-meal-SubTitle-header {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #282828;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
    margin-top: 30px;
    margin-top: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .mr-meal-SubTitle-header {
        font-size: 1.25rem;
        margin-bottom: 1.125rem;
    }
}

.mr-reserveTabel-Guest-input-Label {
    font-size: 18px;
    font-size: 1.125rem;
    color: #818b92;
}

@media only screen and (max-width: 767px) {
    .mr-reserveTabel-Guest-input-Label {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

.mr-radio-mealType-wrapper {
    width: 65%;
}

.mr-breakFast-slot-Timing .error{
	visibility:hidden;
	color:red;
}

.mr-breakFast-slot-Timing.error .error{
	visibility:visible;
}

@media only screen and (max-width: 767px) {
    .mr-radio-mealType-wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .mr-reserve-Table-submit-button {
        text-align: center;
        margin-top: 3.125rem;
    }
}

.mr-reserve-Table-submit-button .mr-reservetable-submit {
    float: right;
    width: 126px;
    width: 7.875rem;
    height: 45px;
    height: 2.8125rem;
}

@media only screen and (max-width: 767px) {
    .mr-reserve-Table-submit-button .mr-reservetable-submit {
        float: unset;
    }
}

.mr-reserveTabel-Guest-inputField {
    border: none;
    outline: none;
    border-bottom: solid 1.7px #dee2e5;
    width: 100%;
}

.mr-reserve-table-checkbox-wrap {
    margin-top: 36px;
    margin-top: 2.25rem;
}

.mr-reserve-table-checkbox-wrap .mr-Filter-checkbox-wrap {
    display: inline-block;
    margin-right: 38px;
    margin-right: 2.375rem;
}

.mr-reserve-table-checkbox-wrap .mr-Filter-checkbox-wrap .mr-filterCheckBox-label {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11;
    color: #818b92;
    left: 32px;
    left: 2rem;
}

@media only screen and (max-width: 767px) {
    .mr-reserve-table-checkbox-wrap .mr-Filter-checkbox-wrap .mr-filterCheckBox-label {
        font-size: 0.875rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-reserve-table-checkbox-wrap .mr-Filter-checkbox-wrap {
        display: block;
    }
}

.mr-reserveTable-each-input-wrapper:nth-child(3n) {
    padding-left: 15px;
    padding-left: 0.9375rem;
}

.mr-reserveTable-each-input-wrapper:nth-child(3n-1) {
    padding-right: 15px;
    padding-right: 0.9375rem;
    padding-left: 15px;
    padding-left: 0.9375rem;
}

.mr-reserveTable-each-input-wrapper:nth-child(3n-2) {
    padding-right: 15px;
    padding-right: 0.9375rem;
}

@media only screen and (max-width: 767px) {
    [class*="col-"].mr-reserveTable-each-input-wrapper {
        padding: 0px ! important;
        margin-bottom: 1.875rem;
    }
}

.mr-reserve-table-mandatory {
    margin-top: 38px;
    margin-top: 2.375rem;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    color: #818b92;
}

.mr-mobile-back-to-dining-icon {
    height: 23px;
    height: 1.4375rem;
    width: 14px;
    width: 0.875rem;
}
.mr-mobile-back-to-dining .icon-carousel-arrow-coloured-left{
    font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
    .mr-mobile-back-to-dining {
        margin-right: 1.5625rem;
        display: inline-block;
    }
}

.mr-reserveTable-date-styling {
    display: inline-block;
}

@media only screen and (max-width: 991px) {
    .mr-reserveTable-date-styling {
        display: block;
        width: 100% !important;
    }
}

.mr-reserve-table-select-wrap.mealType-no-border {
    border-right: 0px;
}

.mealType-border {
    border-right: 1px solid #9b9b9b;
}

@media only screen and (max-width: 991px) {
    .mealType-border {
        border-right: unset;
    }
}

.number-ofpeople-reserveTable {
    padding-left: 32px ! important;
    padding-left: 2rem ! important;
    padding-right: 16px ! important;
    padding-right: 1rem ! important;
}

@media only screen and (max-width: 991px) {
    .number-ofpeople-reserveTable {
        padding-left: 0rem ! important;
        padding-right: 0rem ! important;
    }
}

.mr-numberOfPeopleReserveStyling {
    padding-left: 16px;
    padding-left: 1rem;
}

@media only screen and (max-width: 991px) {
    .mr-numberOfPeopleReserveStyling {
        padding-left: unset;
    }
}

.hotel-dining-reserve-table-container .jiva-spa-date-section {
    width: 85%;
}