<div data-sly-test="${wcmmode.edit}">Campaign Block</div>


<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.camp-image-carousel'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />


<sly data-sly-use.model="com.ihcl.core.models.campaigns.CampaignCarouselModel" />
<div class="mr-global-leaders-wrapper">
	<div class="clearfix">
		<sly data-sly-list.key="${model.list}">
			<div class="mr-global-carousel-image">
				<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=key.imagePath, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='about-carousel-images'}" />
			</div>
		</sly>
	</div>
</div>




