<div data-sly-test="${wcmmode.edit}">
	AMP Brand List Component
</div>
<!-- Brands -->
<div class="brands-container">
	<h2 data-sly-test="${properties.brandTitle}" class="component-title ${inheritedPageProperties.sitePath}">${properties.brandTitle}</h2>
	<div class="brand-card-wrapper">
		<sly data-sly-resource="${'brand-one' @ resourceType='tajhotels/components/content/amp/brand-card', decorationTagName='div', cssClassName='brand-card'}"></sly>
		<sly data-sly-resource="${'brand-two' @ resourceType='tajhotels/components/content/amp/brand-card', decorationTagName='div', cssClassName='brand-card'}"></sly>
		<sly data-sly-resource="${'brand-three' @ resourceType='tajhotels/components/content/amp/brand-card', decorationTagName='div', cssClassName='brand-card'}"></sly>
		<sly data-sly-test="${pageProperties.sitePath == 'ama'}">
			<sly data-sly-resource="${'brand-four' @ resourceType='tajhotels/components/content/amp/brand-card', decorationTagName='div', cssClassName='brand-card'}"></sly>
		</sly>
	</div>
</div>