<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='taj.hotels.components.brands-list'}" />
<div class="brands-container cm-content-blocks">
    <sly data-sly-resource="${'brands-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly>
    <div class="mr-our-brands-container">
        <div class="mr-our-brands-container-inner">
        	<div class="clearfix">
	            <div class="mr-our-brands-wrapper">
	                <div class="brand-card-wrapper-card1">
	                    <sly data-sly-resource="${'brand-one' @ resourceType='tajhotels/components/content/customimage', decorationTagName='div', cssClassName='brand-card-component card'}"></sly>
	                </div>
	            </div>
	            <div class="mr-our-brands-wrapper">
	                <div class="brand-card-wrapper-card2">
	                    <sly data-sly-resource="${'brand-two' @ resourceType='tajhotels/components/content/customimage', decorationTagName='div', cssClassName='brand-card-component card'}"></sly>
	                </div>
	            </div>
	            <div class="mr-our-brands-wrapper">
	                <div class="brand-card-wrapper-card3">
	                    <sly data-sly-resource="${'brand-three' @ resourceType='tajhotels/components/content/customimage', decorationTagName='div', cssClassName='brand-card-component card'}"></sly>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
</div>