.rooms-suites-header {
    font-size: 30px;
    font-size: 1.875rem;
    font-family: Calibri-Bold;
    color: #000000;
}

.rooms-suites-description {
    color: #323232;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
}

.show-more-ell,
.show-less {
    font-family: Calibri-Bold;
    color: var(--primaryColor);
    cursor: pointer;
}
.show-more-ell.cm-view-txt, .show-less.cm-view-txt {
    text-transform: capitalize;
    letter-spacing: normal;
}
/*---------------------common.css--------------------------------------*/
.cm-view-link-txt,
.cm-view-txt {
    display: inline-block;
    color: var(--primaryColor);
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri-Bold;
    border-bottom: 1px solid var(--primaryColorLight);
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0;
    cursor: pointer;
}

.cm-view-txt {
    border: none !important;
    text-transform: none;
    letter-spacing: normal;
    color: var(--primaryColor);
}

.cm-view-link-txt,
.cm-view-txt {
    display: inline-block;
    color: var(--primaryColor);
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri-Bold;
    border-bottom: 1px solid var(--primaryColorLight);
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0;
    cursor: pointer;
}

