.placeholder-title {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.22;
    color: #323232;
    position: relative;
    overflow: hidden;
}

.placeholder-title .mr-showmore-placeHolder-title {
    padding-left: 5px;
    padding-left: 0.3125rem;
}

.placeholder-title .mr-showmore-placeHolder-title a {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--primaryColor);
}

.placeholder-title .mr-showmore-placeHolder-title a:hover {
    text-decoration: none;
}

.summary-block .cm-header-label-con .ho-btns-section.incredible-page-ho-btns-section {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0px;
    margin-top: 0rem;
}

/*------------------------CSS for cm page level classes ----------------------------------------*/

.summary-block .cm-header-label-con .ho-btns-section.incredible-page-ho-btns-section {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0px;
    margin-top: 0rem;
}

.summary-block .cm-header-label-con .ho-btns-section.incredible-page-ho-btns-section .add-to-wishlist-btn,
.summary-block .cm-header-label-con .ho-btns-section.incredible-page-ho-btns-section .cm-share-btn {
    display: inline-block;
    vertical-align: middle;
}

.cm-share-btn.local-area {
    right: 0;
    position: absolute;
}

@media only screen and (max-width: 480px) {
    .cm-share-btn.local-area {
        right: 1rem;
    }
}

.ho-btns-section .add-to-wishlist-btn {
    margin-right: 16px;
    vertical-align: top;
}

.cm-share-btn {
    width: 36px;
    width: 1.25rem;
    zoom: 0.8;
    margin-left: -11px;
}
.date-black-out-title{
border-left: solid 1px #979797;
        padding-left: 0.3125rem ;
}

@media only screen and (max-width: 767px) {
	.summary-block .cm-header-label-con .ho-btns-section.incredible-page-ho-btns-section{
		top:45px;
	    left: 26px;
    	right: initial;
	} 	
	.incredible-page-ho-btns-section .cm-share-btn{
		padding: 0;
    	width: 2.5rem;
	}
}

.special-font{
	font-size:14px;
}