.cm-specific-showMap-con {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 100;
}

.cm-specific-showMap-con .active {
    display: block !important;
}

.cm-specific-showMap-con .active .local-city-card-wrap {
    border: 2px solid var(--primaryColor);
}

.cm-specific-showMap-con .cm-specific-showMap-overLay.bas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(74, 74, 74, 0.55);
}

.cm-specific-showMap-con .cm-specific-showMap {
    position: absolute;
    width: 83%;
    background: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    height:auto;
}

.cm-specific-showMap-con .cm-specific-showMap .loc-showMap-close-cont {
    width: 100%;
}

.cm-specific-showMap-con .cm-specific-showMap .loc-showMap-close-cont .showMap-close {
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    position: absolute;
    top: 10px;
    top: 0.625rem;
    right: 10px;
    right: 0.625rem;
    cursor: pointer;
}

.cm-specific-showMap-con .cm-specific-showMap .loc-showMap {
    padding: 50px;
    padding: 3.125rem;
}

.cm-specific-showMap-con .cm-specific-showMap .loc-showMap .loc-showMap-header-wrap {
    margin-bottom: 21px;
    margin-bottom: 1.3125rem;
}

@media only screen and (max-width: 991px) {
    .cm-specific-showMap-con .cm-specific-showMap .loc-showMap .loc-showMap-header-wrap {
        z-index: 500;
        position: fixed;
        background: white;
        width: 90%;
        top: 6.5625rem;
        left: 5%;
        padding: 0.625rem;
        margin: 0;
    }
}

.cm-specific-showMap-con .cm-specific-showMap .loc-showMap .loc-showMap-header-wrap .local-showmap-header {
    display: inline-block;
    font-family: Calibri-bold;
    font-size: 24px;
    font-size: 1.5rem;
    color: #1b1b1b;
    vertical-align: -webkit-baseline-middle;
}

@media only screen and (max-width: 991px) {
    .cm-specific-showMap-con .cm-specific-showMap .loc-showMap .loc-showMap-header-wrap .local-showmap-header {
        font-size: 1rem;
        width: 55%;
    }
}

.cm-specific-showMap-con .cm-specific-showMap .loc-showMap .loc-showMap-header-wrap .local-showMap-filter {
    display: inline-block;
    float: right;
    width: 20%;
}

@media only screen and (max-width: 991px) {
    .cm-specific-showMap-con .cm-specific-showMap .loc-showMap .loc-showMap-header-wrap .local-showMap-filter {
        width: 44%;
    }
}

.cm-specific-showMap-con .cm-specific-showMap .loc-showMap .loc-showMap-header-wrap .local-showMap-filter .filter-dropdown-label {
    display: inline;
}

.cm-specific-showMap-con .cm-specific-showMap .loc-showMap .loc-showMap-subHeader-wrap {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    color: #979797;
}

.cm-specific-showMap-con .cm-specific-showMap .loc-showMap .loc-showMap-container {
    margin-top: 10px;
    margin-top: 0.625rem;
    height: 500px;
    height: 31.25rem;
}

.cm-specific-showMap-con .cm-specific-showMap .loc-showMap .loc-showMap-container .loc-showMap-cards-wrap {
    display: inline-block;
    padding-right: 10px !important;
}

.cm-specific-showMap-con .cm-specific-showMap .loc-showMap .loc-showMap-container .loc-showMap-cards-wrap .loc-showMap-cards {
    overflow: auto;
    height: 500px;
    height: 31.25rem;
    background-color: #d8d8d8;
}

.loc-showMap-map-warp {
    display: inline-block;
    float: right;
    padding-left: 23px !important;
    padding-left: 1.4375rem !important;
    height: 100%;
}

.loc-showMap-map-warp .map-container-loc {
    height: 100%;
    width: 100%;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .loc-showMap-map-warp .map-container-loc {
        position: fixed;
        right: 0;
        bottom: 0;
    }
}

.loc-showMap-map-warp .map-container-loc .map-local-back {
    width: 12px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
}

@media only screen and (min-width: 992px) {
    .loc-showMap-map-warp .map-container-loc .map-local-back {
        display: none;
    }
}

.loc-showMap-map-warp .map-container-loc .local-showMap {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loc-showMap-map-warp .map-container-loc .selected-location-hotels.local-places {
    display: none;
    position: absolute;
    bottom: 19px;
    bottom: 1.1875rem;
    min-height: 154px;
    min-height: 9.625rem;
    width: 100%;
    height: 186px;
    height: 11.625rem;
}

@media only screen and (min-width: 992px) {
    .loc-showMap-map-warp .map-container-loc .selected-location-hotels.local-places .hotel-wrapper {
        padding-right: 1rem;
    }
}

@media only screen and (max-width: 991px) {
    .loc-showMap-map-warp .map-container-loc .selected-location-hotels.local-places .hotel-parent {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }
}

@media only screen and (max-width: 991px) {
    .loc-showMap-map-warp .map-container-loc .selected-location-hotels.local-places {
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .loc-showMap-map-warp .map-container-loc .selected-location-hotels.local-places {
        bottom: 5.5rem;
    }
}

.loc-cards-wrapper {
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

.selectSubContainer.local-area-filter {
    width: 47%;
    vertical-align: middle;
}
