@media only screen and (max-width: 991px) {
    .cm-specific-showMap-con .cm-specific-showMap.spec-city-timeTable {
        width: 95%;
        top: 10%;
        height: 90%;
        overflow: auto;      
    }
}


.spec-city-timeTable-con {
    padding: 20px;
    padding: 1.25rem;
    margin-bottom: 55px;
    margin-bottom: 3.4375rem;
    margin-top: 60px;
    margin-top: 3.75rem;
}

.time-table-wrapper {
    overflow-x: auto;
}

table {
    background-color: #ffffff;
    border: solid 0.8px #a5a6a8;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    table {
        font-size: 1rem;
        width: 50rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    table {
        font-size: 1rem;
        width: 80%;
    }
}

table,td {
    padding: 20px;
    padding: 1.25rem;
    background-color:#ffff;
    text-align: left;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri;
}

@media only screen and (max-width: 991px) {
    table,td {
        padding: 0.9375rem;
    }
}

table,tr {
    background-color: #f4f4f4;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri-Bold;
}

@media only screen and (max-width: 991px) {
    .table .tr {
        font-size: 1.125rem;
    }
}

table,tr,th:first-child {
    text-align: left;
}

table,th {
    background-color: #e9e9e9;
    text-align: left;
    font-size: 24px;
    font-size: 1.5rem;
    font-family: Calibri-Bold;
    text-align:center;
    width: auto;
    margin: auto;
}
th,td {
     padding:1.25rem;
}

@media only screen and (max-width: 991px) {
     table,th{
        font-size: 1.125rem;
    }
}
