.specific-city-fitness-wrapper {
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
}

.specific-city-fitness-wrapper .spec-fitness-container {
    padding: 25px 25px 25px 32px;
    padding: 1.5625rem 1.5625rem 1.5625rem 2rem;
    background-color: #ffffff;
}

@media only screen and (max-width: 991px) {
    .specific-city-fitness-wrapper .spec-fitness-container {
        padding: 1.1875rem;
    }
}

.specific-city-fitness-wrapper .spec-fitness-container .about-spec-fit-cont {
    padding-right: 10px;
    padding-right: 0.625rem;
    float: left;
    width: 50%;
}

@media only screen and (max-width: 991px) {
    .specific-city-fitness-wrapper .spec-fitness-container .about-spec-fit-cont {
        width: 100%;
    }
}

.specific-city-fitness-wrapper .spec-fitness-container .about-spec-fit-cont .spec-fitness-desc {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #4a4a4a;
    margin-top: 10px;
    margin-top: 0.625rem;
}

@media only screen and (max-width: 991px) {
    .specific-city-fitness-wrapper .spec-fitness-container .about-spec-fit-cont .spec-fitness-desc {
        margin-top: 1.375rem;
    }
}

.specific-city-fitness-wrapper .spec-fitness-container .spec-fit-image-cont {
    padding-left: 10px;
    padding-left: 0.625rem;
    float: right;
    width: 50%;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .specific-city-fitness-wrapper .spec-fitness-container .spec-fit-image-cont {
        padding-left: 0;
        margin-top: 0.625rem;
        width: 100%;
    }
}

.specific-city-fitness-wrapper .spec-fitness-container .spec-fit-image-cont .spec-fit-image {
    background: gray;
    height: 332px;
}

.specific-city-fitness-wrapper .spec-fitness-container .spec-fit-image-cont .spec-fit-image img {
    height: 100%;
}

@media only screen and (max-width: 480px) {
    .specific-city-fitness-wrapper .spec-fitness-container .spec-fit-image-cont .spec-fit-image {
        height: 200px;
    }
}

.ho-third-sect-fitness .ho-timing-list {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.29;
}

@media only screen and (max-width: 360px) {
    .ho-third-sect-fitness .ho-timing-list {
    font-size:13px;}
}


.ho-third-sect-fitness .ho-timing-list .ho-timing {
    color: #323232;
    width: 49%;
    display: inline-block;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

.ho-third-sect-fitness .ho-timing-list .ho-timing span:first-child {
    margin-right: 10px;
    margin-right: 0.625rem;
}

@media only screen and (max-width: 991px) {
    .ho-third-sect-fitness .ho-timing-list .ho-timing {
        width: 100%;
    }
}

.ho-third-sect-fitness .ho-timing-list .ho-timing .ho-timing-header {
    color: var(--primaryColorDark);
}

.ho-timing-sec {
    position: relative;
}

.ho-timing-sec ::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: #c3c3c3;
    left: -15px;
    bottom: -2px;
}

@media only screen and (max-width: 991px) {
    .ho-timing-sec ::after {
        display: none;
    }
}

.ho-fourth-sect-fitness {
    margin-top: 8px;
    margin-top: 0.5rem;
    display: inline-block;
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    .ho-fourth-sect-fitness {
        float: right;
    }
}

.ho-fourth-sect-fitness .gym-detail-fitness {
    font-family: Calibri-Bold;
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: 1.8px;
    color: var(--primaryColor);
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    .ho-contact-options-con .ho-mail-to.on-mobile {
        margin-left: 0;
        display: block;
    }

    .ho-contact-options-con .ho-mail-to.on-mobile:after {
        display: none;
    }
}

.fitness-view-photos-con {
    position: absolute;
    bottom: 22px;
    bottom: 1.375rem;
    left: 20px;
    left: 1.25rem;
    height: 36px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 4px 0 9.3px 10px;
    padding: 4px 0 9.3px 0.65rem;
    cursor: pointer;
    display: flex;
}

.fitness-view-photos-con span {
    color: #fff;
    font-size: 14px;
    font-size: 0.9125rem;
    font-family: Calibri-Bold;
    letter-spacing: 1.8px;
    margin-right: 10px;
    margin-right: 0.625rem;
    white-space: nowrap;
    margin-left: 5px;
}
.ho-cm-icon{
	object-fit:contain;
	min-width: 25px;
    text-align: center;
}