.taj-holidays-tic-offer-container {
    margin-bottom: 1rem;
}
h5.holidays-tic-offer-heading {
   padding: 0.5rem 0;   
   font-family: Calibri-bold;
   font-size: 1.8rem;
   color: #000000;
   margin-bottom: 0rem;
}
.hotel-offer-hotel-card{
   box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
   background-color: #ffffff;   
   position: relative;
}
.hotel-offer-inclusions-show-more{
  color: var(--primaryColor);
  cursor: pointer;
  font-family: Calibri-bold;
}
.hotel-offer-inclusions-popup{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  padding: 1.5rem 1rem;
  overflow: scroll;
}
.hotel-offer-inclusions-popup .hotel-offer-inclusions-list-item{
  font-size: 1rem;
  font-family: Calibri;
  margin: 0.5rem 0;
}
.hotel-offer-inclusions-popup .hotel-offer-inclusions-list-item img{
  width: 1.9375rem;
  height: 1.5125rem;
  margin-right: 0.5rem;
}
.hotel-offer-inclusion-close{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.2rem;
  cursor: pointer;
}
.hotel-offer-hotel-card-content{
  padding: 1rem;
  height: calc(100% - 328px);
}
.hotel-offer-hotel-name{
   font-family: Calibri;   
   font-size: 1.5rem;
   line-height: 1.04;
   color: #323232;
   margin: 0 0 0.5rem;
}
.hotel-offer-inclusions{
   margin: 0.4rem 0;
}
.hotel-offer-inclusions-title{
   font-family: Calibri-Bold;
   font-size: 0.875rem;
   margin: 0 0 0.2rem;   
}
.hotel-offer-inclusions-list-item{
   font-size: 1rem;
   color: #4a4a4a;
   font-family: Calibri;
   margin: 0.3rem 0;
}
.hotel-offer-starting-rate-label{
   font-family: Calibri;   
   font-size: 0.9rem;   
   color: #9b9b9b;
}
.hotel-offer-starting-rate-value{
   font-family: RupeeForadian;
   line-height: normal;
   font-size: 24px;
   font-size: 1.5rem;   
   color: #4a4a4a;
   margin-bottom: 9px;
   margin-bottom: 0.5625rem;
}
.hotel-offer-rates.row {
    width: 100%;    
    margin-bottom: 0;
}
.hotel-offer-nightly-rates.col-6 {    
    padding: 0 !important;
}
.hotel-offer-nightly-rates.col-6:nth-child(1){
  text-align: right;
}
.hotel-offer-nightly-rates.col-6:nth-child(2){
  text-align: left;
}
.hotel-offer-inclusions-list-item img{
   display: inline;
   vertical-align: top;
   width: 23px;
   width: 1.4375rem;
   height: 21px;
   height: 1.3125rem;
   object-fit: contain;
   margin-right: 0.3rem; 
}
.hotel-offer-hotel-image{
  min-height: 328px;
  width: 100%;
}
@media only screen and (max-width: 767px){
  h5.holidays-tic-offer-heading{
    padding: 0.5rem 0;
  }
  .hotel-offer-hotel-card:first-child {
    margin-left: 0 !important;
  }
  .hotel-offer-hotel-image{
    min-height: 280px;
  }
  .hotel-offer-hotel-card-content{  
    height: calc(100% - 280px);
  }
  .hotel-offer-hotel-name{
    font-size: 1.2rem;
    margin: 0;
  }
  .hotel-offer-inclusions-list-item{
    padding: 0 !important;
    font-size: 0.8rem;
  }
  .hotel-offer-inclusions-list-item img{
    width: 1rem;
    height: 1.2rem;
  }
  .hotel-offer-starting-rate-label{
    font-size: 0.7rem;
  }
  .hotel-offer-starting-rate-value{
    font-size: 1rem;
  }
  button.cm-btn-secondary.starting-rate-btn {
    font-size: 12px;
    height: auto !important;
    padding: 0.3rem 0.5rem;
  }
}

.hotel-blackout-date {
 margin: 0.3rem 0;
}
.hotel-blackout-date img.date-seleted-icon {
 width: 1rem;
 margin-right: 5px;
 object-fit: contain;
}
.hotel-blackout-date .date-seleted-title {
 font-size: 1rem;
 text-decoration: underline;
}