@rem: 16rem;
@color: #212529;
.ihcl-theme .ihclcb-booking-details-card {
	@media only screen and (max-width: 767px) {
		padding:0 15px;
	}
}
.ihcl-theme .ihcl-past-bookings-outer-wrap , .ihcl-theme .ihcl-upcoming-bookings-outer-wrap {
	.ihclcb-booking-details-card-wrap {
		margin:0 0 16/@rem !important;
		.ihclcb-booking-details-wrp:before {
			@media only screen and (max-width:480px) {
				content: "";
				background-image: linear-gradient(to top, #002b49, #0c5d90), linear-gradient(to bottom, #c0c0c0, #c0c0c0);
			    height: 20px;
			    width: 2px;
			    position: absolute;
			    left: 0;
			}
		}
	}
	.holder {
		margin: 15px 0;
		text-align:center;
		a {
			display:inline-block;
			width:40px;
			height:35px;
			margin:0 5px;
			background-color:#c0c0c0;
			line-height:35px;
			text-align:center;
			font-family: "Calibri";
  			font-size: 14/@rem;
  			color:#ffffff;
  			cursor:pointer;
		}
		.jp-disabled {
			cursor:not-allowed;
		}
		.jp-current {
			background-image: linear-gradient(to top, #002b49, #0c5d90), linear-gradient(to bottom, #c0c0c0, #c0c0c0);
		}
	}
	.ihclcb-noresults-container {
		margin:40px 0;
		h2 {
			font-family:"Calibri";
			font-weight:bold;
			color:#1b1b1b;
			text-align:center;
		}
	}
}

.ihcl-theme .ihclcb-booking-details-card-wrap {
    padding: 16/@rem;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    border: solid 0 #212529;
    background-color: #ffffff;
    .ihclcb-edit-booking-icon {
    	outline:none;
    	border:none;
    	background:none;
    	cursor:pointer;
    }
    @media only screen and (max-width: 480px) {
        padding: 16/@rem 0 ;
    }

    .ihclcb-label {
        font-family: "Calibri";
        font-size: 14/@rem;
        line-height: 1.14;
        color: @color;
        margin-bottom: 8px;
        position:relative;
        .copyText {
        	margin-left:3px;
        	cursor:pointer;
        }
        .copy-tootip {
        	position:absolute;
        	bottom:100%;
        	right:0;
        	left:0;
        	margin:auto;
        	width: 45px;
        	z-index: 1;
        	font-size:10/@rem;
        	font-family:"Calibri";
        	display:none;
        	padding:5px;
        	background-color:rgba(11, 90, 140, 0.2);
        	color:#fff;
        	@media only screen and (max-width: 767px) {
        		right: 75px;
        	}
        }
    }
    
    .ihclcb-accordion-data {
        font-family: "Calibri";
        font-size: 24/@rem;
        line-height: 1;
        color: @color;
        padding-right: 10/@rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @media only screen and (max-width: 767px) {
            font-size: 16/@rem;
            padding-right: 0;
        }
    }
    
   
    .ihclcb-booking-details-img-cont, .ihclcb-booking-details-img-cont img {
        background-color: #ccc;
        border-radius: 4px;
        height: 100%;
        width: 100%;
    }
    .ihclcb-accordion-data-ind {
        margin-top: 30/@rem;
        padding: 0 !important;
        @media only screen and (max-width: 767px) {
            &:nth-child(even) {
                text-align: right;
            }
        }              
    }
    
    .ihclcb-btn-cnt {
        display: flex;
        align-items: center;
        .ihclcb-cancel-booking-btn {
            display: none;
            margin-right: 40/@rem;
            @media only screen and (max-width: 767px) {
                margin: 0;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
            }
        }
    }
    
    .ihclcb-booking-details-data-cont {
        padding: 16/@rem 16/@rem 16/@rem 40/@rem;
        @media only screen and (max-width: 767px) {
            padding: 0;
        }
        
        .ihclcb-accordion-data-cont {
            display: none;
        }
        .ihclcb-hotel-heading-cont {
            display: flex;
            justify-content: space-between;
            .ihclcb-hotel-heading {
                font-family: "Calibri-bold";
                font-size: 24/@rem;
                line-height: 1;
//                color: var(--primaryColor);
                color: #082a49;
                margin-bottom: 12px;
                @media only screen and (max-width: 767px) {
                	margin-bottom: 6px;
                	font-size: 18/@rem;
                }
            }
        }
        
        .ihclcb-guest-shortnd span {
            &:first-child::after {
                content: ':';
            }
            &:last-child {
                margin: 0 5px;
            }
        }
        
        .ihclcb-price-info {
            font-family: Calibri;
            font-size: 14/@rem;          
            line-height: 1.14;
            color: @color;
            text-align: right;
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
        
        .ihclcb-price {
            font-family: "Calibri-bold";
            font-size: 1.875rem;       
            line-height: 1;        
            color: var(--primaryColor);
            text-align: right;
            padding-right: 0;
            @media only screen and (max-width: 767px) {
                font-size: 20/@rem;
            }
        }     
        
        .ihclcb-add-right-arrow {
            padding-right: 20/@rem;
            &::after {
                content: '';
                background: url('/content/dam/tajhotels/ic_arrow.svg') no-repeat;
                position: absolute;
                right: 20/@rem;
                height: 16/@rem;
                width: 30/@rem;
                @media only screen and (max-width: 991px) and (min-width: 768px) {
                	display: none;
                }
                @media only screen and (max-width: 767px) {
                	right:-10/@rem;
                	width: 20/@rem;
                }
            }
        }
        .ihclcb-checkin-data-cont {
            .ihclcb-accordion-data-ind:last-child {
                .ihclcb-label {
                    text-align: right;
                }
            }
            @media only screen and (max-width: 767px) {
                margin-bottom: 25/@rem;
            }
        }
    }
    .ihclcb-show-more-cont {
        text-align: center;
        .show-more-text {
            text-align: center;
            text-decoration: underline;
            cursor: pointer;
            font-size: 14/@rem;
            margin-right: 4px;            
        }
        .icon-drop-down-arrow::before {
            font-size: 0.6rem;
        }
    }
    
    .ihclcb-booking-details-wrp-open {
        .ihclcb-accordion-data-cont {
            display: flex;
        }
        .ihclcb-cancel-booking-btn {
            display: block;
        }
        .ihclcb-guest-shortnd {
            display: none;
        }
        .icon-drop-down-arrow {
            transform: rotate(180deg);            
        }
        .ihclcb-booking-details-data-cont {
            @media only screen and (max-width: 767px) {
                padding-bottom: 40/@rem;
                position: relative;
                margin-bottom: 20/@rem;
            }
        }
    }
    
   @media only screen and (max-width: 767px) {
       .ihclcb-desktop-only {
           display: none;
       }
   }
}

.ihcl-theme .cm-nav-tab-con .selected::after,
.ihcl-theme .ihcl-upcoming-bookings-outer-wrap {
    display: none;
}
