@rem: 16rem;
.ihcl-theme .ihclcb-book-a-stay-cont {
    border-radius: 4px;
    background-color: rgba(62, 69, 79, 0.56);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 760/@rem;
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
   
    .ihclcb-book-stay-btn {
        height: 83/@rem !important;
        width: 50%;
        @media only screen and (max-width: 767px) {
            border-radius: 4px;
            height: 4rem !important;
            width: 100%;
        }
    }
    
    .ihclcb-show {
        display: block !important;
    }
    
    input::placeholder {
        color: rgba(53, 59, 68, 0.4);
    }
    
    .ihclcb-wid-100 {
        width: 100%;
    }
    
    .ihclcb-checkbox-cont {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20/@rem;
        width: 50%;
        @media only screen and (max-width: 767px) {
            border-radius: 4px;
            margin-bottom: 8px;
            width: 100%;            
        }
        .mr-filterCheckBox-label {
            margin: 0;
        }
        
        input[type="checkbox"].mr-filter-checkbox:checked + span.mr-inputCustomShape {
            background-color: var(--primaryColor);
            &:after {
                color: #ffffff;                
            }
        }
    
        .ihclcb-checkbox-label-text {
            font-family: "Calibri-bold";
            font-size: 16/@rem;           
            line-height: 1.5;
            color: #053d63;
        }
    }
    
    .ihclcb-daterange-cont {
        width: 66.66%;
        @media only screen and (max-width: 767px) {
            width: 100%;
        }
        .ihclcb-book-a-stay-inner-wrp {
            width: 50%;           
        }
    }
}

.ihcl-theme .ihclcb-book-a-stay-inner-wrp {
    padding: 16/@rem 15/@rem 16/@rem 50/@rem;
    position: relative;
    background-color: #ffffff;
    width: 33.33%;
    margin-bottom: 8px;
    @media only screen and (max-width: 767px) {
        width: 50%;
        padding-left: 35/@rem;
    }

    & > label {
        font-family: "Calibri";
        font-size: 16/@rem;
        color: #81abc6;
    }

    .ihclcb-search-icon {
        position: absolute;
        left: -30/@rem;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 20/@rem;
        height: 20/@rem;
        @media only screen and (max-width: 767px) {
            left: -25/@rem;
            height: 1rem;
            width: 1rem;
        }
    }  
//    search bar style change
    .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input {
        box-shadow: none;
        padding-left: 0;   
        height: 35/@rem;
        &::placeholder {
            color: rgba(53, 59, 68, 0.4);
        }
    }
    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap {
        border-left: 0 !important;
    }
//  search bar style change ends
        

    .ihclcb-selected-data-cont {
        position: relative;
        &.icon-drop-down-arrow:before {
            position: absolute;
            right: 0;
            top: 9px;
        }
        .ihclcb-calender-container1, .ihclcb-calender-container2 {
            position: relative;
        }
        .bas-no-of-adults .input-group:after {
            padding: 0;
            border: 0;
        }
        .ihclcb-selected-data {
            border: 0;
            font-family: "Calibri";
            font-size: 20/@rem;         
            color: #353b44 !important;
            width: 100%;
            font-weight: normal;
            padding-right: 0;
            text-align: left;
        }
           
        .datepicker.datepicker-dropdown {
            width: 300/@rem !important;
            padding: 10/@rem;
            z-index: 1;
            background-color: #ffffff;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
            &:before {              
                left: 0;
                right: 0;
                margin: auto;
                /*border-bottom-color: #ffffff;*/
                width: 5px;
            }   
            &:after {
                display: none;
            }
        }
        
        .datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
            background-color: #f3f3f3;
            background-image: none;
        }
        .datepicker td, .datepicker th {
            font-family: "Calibri";
            height: 35/@rem;
        }
    }
}


.ihcl-theme .ihclcb-dropdown-wrp {
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    width: 100%;
}

.ihcl-theme .ihclcb-guest-dropdown-cont {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 8px 72px 0 rgba(1, 4, 6, 0.32);
    padding: 16/@rem;
    position: absolute;
    right: 0;
    top: 95%;
    z-index: 1;
    width: 270px;
    display: none;
    &::after {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        margin: auto;
        border-bottom: 15px solid #ffffff;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        width: 5px;
    }   
    
    .ihclcb-indiv-li {
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
        label span {
            font-family: Calibri;
            font-size: 16/@rem;
            color: #002b49;
            margin-left: 10px;
        }
        
        .form-control {
            border: 0;
        }
        .input-group-btn {
            margin: 0 5px;
            .quantity-left-minus, .quantity-right-plus {
                border: 1px solid var(--primaryColor);
                background-color: #ffffff;
                width: 25px;
                height: 25px;
                padding: 0px;
            }
            .quantity-left-minus:hover, .quantity-right-plus:hover {
                background-color: var(--primaryColor);
                color: #ffffff !important;            
            }
        }       
    }
}

