<div data-sly-test.edit=${wcmmode.edit}>
    <h1>Click here to Modify the button Component</h1>
</div>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.button'}" />

<div class="cm-content-blocks">
    <div class="contact-btn-wrp"> 
    	<a href="${properties.redirection}.html">
        <button type="button" class="cm-btn-secondary submit-button contact-btn" style="">${properties.label}</button>
        </a>
    </div>
</div>
