<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='ama.destination-hotels'}"></sly>
<div data-sly-test="${wcmmode.edit}">Destination - List of Destination Hotels Component</div>

<sly data-sly-test="${wcmmode.edit}">
	<p data-sly-unwrap="${properties.headline}" data-emptytext="configure ${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-test.pagePath="${currentPage.path}" />
<sly data-sly-test.pageName="${currentPage.name}" />
<sly data-sly-test.websitePath="${inheritedPageProperties.siteConfigHomePath}" />
<div class="mr-listView-layout">
				<div class="mr-lists-view-hotels-Container container">
					<div class="row">
					<sly data-sly-use.footerModel="${'com.ihcl.core.models.DestinationHotels' @currentPagePath=pagePath, currentPageName=pageName, siteConfigHomePath=websitePath}">
						<sly data-sly-list.website="${footerModel.hotelsMap['website']}">
							<sly data-sly-use.destinationCard="hotel-card-full-width.html" />
							<sly data-sly-unwrap data-sly-call="${destinationCard.website @hotelObject=website}" />
						</sly>

					</sly>
                    </div>
				</div>

</div>