<template data-sly-template.website="${@hotelObject}" xmlns="http://www.w3.org/1999/html">
    <sly data-sly-test.additionalDetails="${hotelObject.additionaldetails}" >
        <div class="col-md-4 list-view-wrapper mr-${hotelObject.hotelType}-typehotel"
            data-hotelid="${hotelObject.hotelID}" data-hotelbrand="${hotelObject.hotelBrand}"
            data-popularity="${additionalDetails.totalReviews}" data-rating="${additionalDetails.reviewScore}"
            data-hotel-city="${hotelObject.hotelCity}" data-state="${hotelObject.state}"
            data-zipCode="${additionalDetails.pinCode}" data-hotelCountry="${hotelObject.hotelCountry}"
            data-hotelRoomCode="${hotelObject.hotelRoomCode}" data-price="${hotelObject.staticRate}"
            data-key={brand:${hotelObject.hotelBrand},price:${hotelObject.hotelID},rating:${additionalDetails.reviewScore},popularity:${additionalDetails.totalReviews}}>
            <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />
            <div class="card-wrapper">
                <div class="card-wrapper-image">
                    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= hotelObject.hotelBannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', lazyload='true', styleClass='list-hotel-image'}"></sly>

                    <h3 class="card-wrapper-title">${hotelObject.hotelName}</h3>
                </div>
                <div class="card-wrapper-descritpion">
                    <h3 class="card-wrapper-title-only-mob">${hotelObject.hotelName}</h3>
                    <div class="bungalow-desc">
                        ${hotelObject.amaShortDescription @context='html'}
                    </div>
                    <div class="bungalow-rooms">
                        <span>${hotelObject.maximumNoOfGuests}</span> | <span>${hotelObject.numberOfBeds}</span>
                    </div>
                    <div class="">
                        <div class="waiting-spinner waiting-spinner-destination-cards">
                            <div>Fetching best rates</div>
                            <div class="taj-loader">
                                <div class="taj-loader-circle"></div>
                                <div class="taj-loader-circle"></div>
                                <div class="taj-loader-circle"></div>
                            </div>
                        </div>
                        <div class="mr-list-hotel-price-tic">

                            <div class="mr-list-current-discounted-rates-wrap">
                                <sly data-sly-test="${hotelObject.amountAfterTax}">
									<del class="mr-list-hotels-delrate">
										<span class="mr-rupee-list-hotel">₹</span>
										<span class="discounted-rate"> ${hotelObject.amountBeforeTax} </span>
									</del>
								</sly>
								<sly data-sly-test="${hotelObject.staticRate}">
									<div class="room-rates-wrap static-rates">
										<span class="mr-rupee-list-hotel ama-rupee-symbol"><span class="room-rate-per-night-text">Starting from</span> <span class="ama-rupee">₹</span> <span class="ama-static-rate">${hotelObject.staticRate}</span><span class="room-rate-per-night-text"> Per Night</span></span>
									</div>
								</sly>

                                <div class="room-rate-unavailable">
                                    <span>Unavailable</span>
                                </div>
                            </div>
                            <sly data-sly-use.urlMap="${'url-map.js' @ reqUrl=hotelObject.hotelPath}"/>
                            <div class="room-rates-exclude-text">Excluding Taxes & Fees</div>
                            <a href="${urlMap.mappedUrl}">
                                <button class="cm-btn-secondary mr-list-view-hotels-button">VIEW DETAILS</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sly>
</template>