.show-only-in-mobile-ihclcb, .show-only-in-ihclcb {
    display: none !important;
}

.ihcl-theme {
    .hide-in-ihclcb{
        display:none !important;
    }
    .show-only-in-ihclcb {
        display: block !important;
    }
    @media only screen and (max-width: 767px) {    
        .show-only-in-mobile-ihclcb {
            display: block !important;
        }
        .hide-in-mobile-ihclcb {
            display: none !important;
        }
    }
    
    .icon-drop-down-arrow:before,
    .icon-drop-down-arrow.inline-block:before{
        font-size: 0.6rem;
        color: var(--secondaryColor);
    }
}

a{
    color: black;
}
.press-release.section a {
    font-weight: bold;
    color: black;
}


.press-release.section a:hover {
    color: #007bff; 
}