<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
		data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
		data-sly-call="${clientlib.all @ categories='taj.hotels.components.offers-list,taj.hotels.components.offers-card'}"/> 

<sly data-sly-test.path="${inheritedPageProperties.siteConfigHomePath}" />

<sly
		data-sly-use.list="${'com.ihcl.core.models.offers.OfferList' @ homePagePath=path,hotelPath=properties.hotelPath}"
		data-sly-use.urlMap="${'url-map.js' @ reqUrl=properties.hotelPath}">
	<sly data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly>

	<div data-sly-test="${properties.showFilters}"
		 class="filter-by-container cm-content-blocks">
		<div class="row">
			<!--filter component markup-->
			<div class="filter-component-container col-lg-12 col-md-12 col-sm-12">
				<div class="filterSectionButton">
					<img src="/content/dam/tajhotels/icons/style-icons/filter-icon.svg" alt  = "filter-icon"/>
				</div>
				<div class="filter_mobileView">
					<div class="overlay_container">
						<div class="filter-content-MobileWrap">
							<div class="filterBackArrow">
								<img src="/content/dam/tajhotels/icons/style-icons/leftArrow.svg" alt  = "leftArrow-icon"/>
							</div>
							<div class="filter-component-heading-MobileView">${properties.filterTitle}
								<div class="taj-loader offer-filter-loader cm-hide">
									<div class="taj-loader-circle"></div>
									<div class="taj-loader-circle"></div>
									<div class="taj-loader-circle"></div>
								</div>
							</div>
							<div class="filter-component">
								<div class="row filter-component-wrap">
									<div class="col-lg-3 col-md-12 col-sm-12 selectContainer">
										<div class="select-name">Country</div>
										<div class="selectSubContainer">
											<select aria-label="Country" id="countryDropdown" class="countryDrop"
													name="Country">
												<option value="taj:destination">Worldwide</option>
												<sly
														data-sly-list.listItem="${list.countryMap.keySet.iterator}">
													<option value="${listItem}">${list.countryMap[listItem]}</option>
												</sly>
											</select>
										</div>
									</div>
									<div class="col-lg-3 col-md-12 col-sm-12 selectContainer">
										<div class="select-name">City</div>
										<div class="selectSubContainer">
											<select aria-label="City" id="cityDropdown" name="Destination"
													class="destinationDrop">
												<option value="">Select</option>
												<sly
														data-sly-list.listItem="${list.destinationMap.keySet.iterator}">
													<option value="${listItem}">${list.destinationMap[listItem]}</option>
												</sly>
											</select>
										</div>
									</div>
									<div class="col-lg-3 col-md-12 col-sm-12 selectContainer">
										<div class="select-name">Hotel</div>
										<div class="selectSubContainer">
											<select aria-label="Hotel" id="hotelDropdown" name="Hotel" class="hotelsDrop">
												<option value="">Select</option>
												<sly
														data-sly-list.listItem="${list.hotelMap.keySet.iterator}">
													<option value="${list.hotelMap[listItem]}">${listItem}</option>
												</sly>
											</select>
										</div>
									</div>
									<div class="col-lg-3 col-md-12 col-sm-12 selectContainer">
										<div class="select-name">Category</div>
										<div class="selectSubContainer">
											<select aria-label="Category" name="suitsDropdown" id="suitsDropdown" class="offersTypeDrop">
												<option value="">Select</option>
												<sly
														data-sly-list.listItem="${list.offerTypes.keySet.iterator}">
													<option value="${listItem}">${list.offerTypes[listItem]}</option>
												</sly>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="filter-button-wrap">
								<button class="filter-button cm-btn-secondary" type="button">APPLY
									FILTER</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="no-offers-found">Sorry, No offers found.</div>
	<div class="offers-container cm-content-blocks container"
		 data-sly-attribute.data-hotel-path="${urlMap.mappedUrl}">
		<div class="row">
			<sly data-sly-list.listItem="${list.offerList}"> <sly
					data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/offer-card' }"></sly>
			</sly>
		</div>
	</div>
</sly>