.ama-rooms{
	display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px;
    flex-wrap: wrap;
}
.ama-theme .ama-rooms p{
    letter-spacing: 1px;
}
.text-row{
	display: flex;

}

.ama-theme .ama-rooms-text-title{
  height: auto;
  font-family: Montserrat-Regular;
  font-size: 34px !important;
  letter-spacing: 0.75px;
  text-align: center;
  padding: 5px 0px 0px 0px;
  color: var(--primaryColor);
}

.ama-getting-there-icon {
  font-family: Montserrat-Regular;
    font-weight: 400;
    line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}

.ama-rooms-icon img{
    height: 30px;
    margin: 5px 0px 20px 0px;
}

.ama-rooms-icon {
    padding: 14px;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width:767px) {
  .ama-rooms-icon-box{
    flex : 0 0 50%;
  }
}