
<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.press-release-main'}" />
<div data-sly-test="${wcmmode.edit}">Press Release main</div>

<section class="taj-news-section">
	<div class="news-press-wrapper">
		<div class="row">
			<div class="offset-lg-2 col-lg-8 col-12">
				<div>
					<sly
						data-sly-resource="${'par_1' @ resourceType='foundation/components/parsys'}"></sly>
				</div>


			</div>
 
		</div>
	</div>
</section>