.ihcl-work-global-leader-card {
    padding-bottom: 11px!important;
    padding-bottom: .6875rem!important;
    margin-right: 32px;
    margin-right: 2rem;
}

@media only screen and (max-width: 767px) {
    .ihcl-work-global-leader-card {
        margin-right: 0;
    }
}

.ihcl-work-global-leader-card .offers-card-inner-wrapper .offers-card-main .offers-card-title {
    word-wrap: break-word;
    /* word-break: break-all; */
}

@media only screen and (max-width: 767px) {
    .ihcl-work-global-leader-card .offers-card-inner-wrapper .offers-card-main .offers-card-title {
        width: 75%;
        font-size: 1.25rem;
    }
}

.ihcl-work-global-leader-card .offers-card-inner-wrapper {
    box-shadow: unset!important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ihcl-work-global-leader-card .offers-card-main {
    position: relative;
    //min-height: 16.3125rem;
}

.ihcl-work-global-leader-card .ihcl-work-card-footer {
    position: absolute;
    bottom: 20px;
    bottom: 1.25rem;
    right: 30px;
    right: 1.875rem;
}

.ihcl-work-global-leader-card .ihcl-work-global-leader-card-image {
    //height: 410px;
    //height: 25.625rem;
    width: 100%;
    background-color: white;
}

@media only screen and (max-width: 767px) {
    .ihcl-work-global-leader-card .ihcl-work-global-leader-card-image {
        height: unset;
    }
}

.ihcl-work-global-leader-card .ihcl-work-global-leader-card-image img {
    width: 100%;
    height: 100%;
}

.ihcl-work-global-leader-card .ihcl-work-discreption {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.33;
    color: #9b9b9b;
    margin-bottom: 0;
    padding-bottom: 88px;
    padding-bottom: 5.5rem;
    min-height: 157px;
    min-height: 9.8125rem;
    word-wrap: break-word;
    word-break: break-all;
}

@media only screen and (max-width: 767px) {
    .ihcl-work-global-leader-card .ihcl-work-discreption {
        font-size: 0.875rem;
        margin-bottom: 2rem;
        color: #4a4a4a;
        min-height: unset;
    }
    .desc-section-workwithglobal {
                            padding-bottom: 45px;
                            padding-bottom: 3.5rem;
                            line-height: 1.2;
                        }
}

.ihclworkgloballeader .offers-page-card-component {
    margin-bottom: 0;
    height: 100%;
}

                @media only screen and (min-width:768px) {
                    .desc-section-workwithglobal {
                            padding-bottom: 45px;
                            padding-bottom: 2.8125rem;
                        }
                     .ihcl-work-global-leader-card {
                        padding-bottom: 0 !important;
                     }
                            .ihcl-guest-speak-card-alignment {
								height: 100%;
                             }
                                .ihclGuestSpeakHome {
									height: 100%;
                                 }
                                .guest-speak-card-only-comment {
                                    height: 50%;
                                  }
                                        .guest-speak-card-only-comment:first-child {
                                    padding-bottom:2%;
                                  }
                                                .guest-speak-card-only-comment:last-child {
                                    padding-top:2%;
                                  }
                                 .guest-individual-card-backFront-wrapper {
										height: 100%;
                                  }
                                            .guest-card-component {
												height: 100%;
                                                }
                        }

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .guest-card-component {
	height: 100% !important;
    }
}

