<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-base-page,tajhotels.5yearComparison'}" />
<div class="content-wrapper container">
	<section class="cm-content-blocks">
		<div class="cm-header-label-con title-decorator-border">
			<h2 class="cm-header-label">5 Year Comparison</h2>
		</div>
		<div>
			<div class="corp-comparison-tab">
				<div class="col-lg-12 col-md-12 col-sm-12 rate-tab-wrap clearfix">
					<div class="rate-tab tab-click tab-selected" tabindex="0" role = "button">
						<div class="tab-label">${properties.titleName1}</div>
					</div>
					<div class="rate-tab tab-click" role="button" tabindex="0">
						<div class="tab-label">${properties.titleName2}</div>
					</div>
				</div>
			</div>
			</div>
			<div class="standalone-wrapper">
				<div class="table-standalone-wrapper">
					${properties.tableData1
						@context='html'}
				</div>
			</div>

		<div class="consolidate-wrapper">
			<div class="table-standalone-wrapper">
				${properties.tableData2
					@context='html'}
			</div>
		</div>
        <div class="comparion-description">
                    <div class="hotel-overview-section cm-content-blocks">
                        <div class="hotel-overview-container description-content">
                            <div class="hotel-overview-wrapper">
                                <div>${properties.description}</div>
                                <div class="button-wrapper">
                                	<a class="mr-download-link" href="${properties.pdfsourcepath}" target="_blank" download="download">
                                	<button class="cm-btn-secondary">${properties.label}</button>
                                    </a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
</div>