.videoDisplay{
height:100%;
width:100%;
}


@rem: 16rem;
.hotels-gallery-component {

    .gallery-images-wrapper {
        display: block;
    }
    .gallery-videos-wrapper {
        display: none;
    }
}

// common styles for radio input
.gallery-nav-radio-element {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30/@rem;
    @media only screen and (max-width: 991px) {
        margin-right: 20/@rem;
    }
    &:last-child {
        margin-right: 0;
    }
    input[type="radio"].gallery-nav-radio-input {
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        width: 20px;
        margin-right: 10/@rem;
        visibility: hidden;
        &:before {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
            background-color: #ffffff;
            border: solid 1px #979797;
            top: 0;
            left: 0;
            position: absolute;
            background-color: #ffffff;
            content: '';
            display: inline-block;
            visibility: visible;
        }
        &:after {
            margin: 4px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: transparent;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background-color: transparent;
            content: '';
            display: inline-block;
            visibility: visible;
            border: none;
        }
    }
    input[type="radio"].gallery-nav-radio-input:checked {
        &:before {
            border: solid 1px var(--primaryColor);
        }
        &:after {
            background-image: none;
            border-radius: 100px;
            background-color: var(--primaryColor);
        }
    }
    .gallery-nav-radio-label {
        display: inline-block;
        vertical-align: middle;
        font-family: Calibri;
        font-size: 18/@rem;
        line-height: 1.11;
        color: #1b1b1b;
    }
}

// Hotels gallery carousel overlay
.hotels-gallery-component {
    .mr-carousel-Content-wrap {
        display: block;
        color: #323232;
    }
}

// Removed from local scoping
.hotels-gallery-nav-wrapper {
    position: relative;
    background-color: #e6e6e6;
    padding: 21/@rem 48/@rem 21/@rem 60/@rem;
    margin-bottom: 26/@rem;
    @media only screen and (max-width: 991px) {
        background-color: transparent;
        margin: 0 15px 20/@rem;
        padding: 0;
    }
    &:before {
        width: 10px;
        height: 100%;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-image: var(--linearGradient);
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }
    .gallery-nav-option-list {
        display: inline-block;
        vertical-align: middle;
        @media only screen and (max-width: 991px) {
            display: none;
            position: fixed;
            z-index: 2;
            overflow: scroll;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #ffffff;
            padding: 30/@rem 15/@rem 70px;
        }
        .gallery-done-wrp {
            display: none;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 8px 0 16px;
            background-color: #ffffff;
            @media only screen and (max-width: 991px) {
                display: block;
            }
            .gallery-filter-done-btn {
                margin: auto;
                min-width: 120/@rem;
            }
        }
        .gallery-filter-back {
            display: none;
            margin-bottom: 20/@rem;
            @media only screen and (max-width: 991px) {
                display: block;
            }
        }
        .gallery-filter-title {
            display: none;
            color: #000000;
            font-family: Calibri-Bold;
            font-size: 20/@rem;
            margin: 0 10/@rem 10/@rem;
            @media only screen and (max-width: 991px) {
                display: block;
            }
        }
        .gallery-nav-option {
            display: inline-block;
            vertical-align: middle;
            font-family: Calibri;
            font-size: 16/@rem;
            letter-spacing: 2.2/@rem;
            color: #4a4a4a;
            margin-right: 57/@rem;
            cursor: pointer;
            @media only screen and (max-width: 991px) {
                display: block;
                margin: 0 10/@rem 16/@rem;
            }
            &.gallery-nav-option-selected {
                color: var(--primaryColor);
                font-family: Calibri-bold;
            }
            &:last-child {
                margin-right: 0;
            }            
        }
    }
    .gallery-nav-radio-btns-container {
        position: absolute;
        right: 48/@rem;
        top: 21/@rem;
        @media only screen and (max-width: 991px) {
            position: relative;
            left: 0;
            top: 0;
        }
        .gallery-filter-icon {
            display: none;
            width: 25/@rem;
            height: 21/@rem;
            margin: auto;
            position: absolute;
            right: 0;
            bottom: 0;
            @media only screen and (max-width: 991px) {
                display: block;
            }
        }
    }
}

@rem: 16rem;
.hotels-gallery-images {
    @media only screen and (max-width: 991px) {
        overflow: hidden;
        padding: 0 15px;
    }
    .hotels-gallery-images-container {
        margin: 0;
        .row {
            position: relative;
            margin-left: -12/@rem;
            margin-right: -12/@rem;
            @media only screen and (max-width: 991px) {
                margin-left: -6/@rem;
                margin-right: -6/@rem;
            }
            .col-lg-12{
                 height:450px !important;
                 @media only screen and (max-width: 767px) {
                 	height: 200px !important;
                 }
            }
            .col-lg-6 {
            	height: 400px;
            	@media only screen and (max-width: 991px) {
            		height: 250px;
            	}
            	@media only screen and (max-width: 767px) {
            		height: 150px;
            	}
            }
            .col-lg-4 {
            	height: 315px;
            	@media only screen and (max-width: 767px) {
            		height: 150px;
            	}
            }
            &.gallery-show-more {
                display: none;
                &.gallery-show-more-active {
                    display: flex;
                }
            }
            [class*="col-"] {
                position: relative;
                padding: 12/@rem !important;
                @media only screen and (max-width: 991px) {
                    padding: 6/@rem !important;
                    &.col-6 {
                        /*order: 1;*/
                    }
                }
                .gallery-image-element {
                    position: relative;
                    height: 100%;
                    picture {
                        position: relative;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            @media only screen and (max-width: 991px) {
                                /*min-height: 182/@rem;*/
                            }
                        }
                    }
                    .gallery-image-option {
                        position: absolute;
                        bottom: 12/@rem;
                        left: 19/@rem;
                        cursor: pointer;
                        background: transparent;
                        @media only screen and (max-width: 991px) {
                            bottom: 8/@rem;
                            left: 10/@rem;
                        }
                    }
                }
            }
        }
    }
}