<sly
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-base-page,tajhotels.individual-profile-relations'}"/>
<div class="inverstor-content-wrap">
 <div class="cm-header-label-con title-decorator-border">
        <h2 class="cm-header-label">${properties.headerTitle}</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>${properties.description @context='html'}</p>
        
        </div>
        <!-- <div class="col-md-2">
            <div class="btn-wrap btn-view"><button class="cm-btn-secondary button-view-details">VIEW MORE</button></div>
        </div> -->
    </div> 
     <div class="btn-wrap btn-view"><a class="cm-buttton-1 button-view-details" href="/content/tajhotels/en-in/about-us/5year-comparison.html">5 YEAR COMPARISON</a></div>
    <div class="btn-wrap btn-view"><a class="cm-buttton-1 button-view-details" href="/content/tajhotels/en-in/about-us/Amalgamation.html">AMALGAMATION</a></div>
     <div class="btn-wrap btn-view"><a class="cm-buttton-1 button-view-details" href="/content/tajhotels/en-in/about-us/corporate-governance.html">CORPORATE GOVERNANCE</a></div>
     <div class="btn-wrap btn-view"><a class="cm-buttton-1 button-view-details" href="/content/tajhotels/en-in/about-us/Corporate-Structure.html">CORPORATE STRUCTURE</a></div>
</div>