<div data-sly-test.edit=${wcmmode.edit}>
    <h1>ihcl location component</h1>
</div>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihclGlobalLeaderCarousel'}" />

<div class="ihcl-image-carousel-wrap">
    <div class="ihcl-image-carousel-container">
        <div class="ihcl-image-carousel-wrp-legacy the-page-carousel">
            <div class="clearfix">
            	<div class="mr-global-leaders-wrapper">
                    <div class="mr-global-carousel-image tata-service-logo">
                        <picture>
                        <img src="/content/dam/tajhotels/ihcl/tata-services.png" alt="Global leaders Image " /></picture>
                    </div>
                </div>
                <div class="mr-global-leaders-wrapper">
                    <div class="mr-global-carousel-image tenley-logo">
                        <picture>
                        <img src="/content/dam/tajhotels/ihcl/tenley.png" alt="Global leaders Image " /></picture>
                    </div>
                </div>
                <div class="mr-global-leaders-wrapper">
                    <div class="mr-global-carousel-image tata-motors-logo">
                        <picture>
                        <img src="/content/dam/tajhotels/ihcl/legacy/tata-motors-logo.svg" alt="Global leaders Image " /></picture>
                    </div>
                </div>
                <div class="mr-global-leaders-wrapper">
                    <div class="mr-global-carousel-image jaguar-logo">
                        <picture>
                        <img src="/content/dam/tajhotels/ihcl/jaguar.png" alt="Global leaders Image " /></picture>
                    </div>
                </div>
                <div class="mr-global-leaders-wrapper">
                    <div class="mr-global-carousel-image tata-steel-logo">
                        <picture>
                        <img src="/content/dam/tajhotels/ihcl/legacy/Tata_Steel_Logo.svg" alt="Global leaders Image " /></picture>
                    </div>
                </div>  
                <div class="mr-global-leaders-wrapper">
                    <div class="mr-global-carousel-image titan-logo">
                        <picture>
                        <img src="/content/dam/tajhotels/ihcl/legacy/titan.png" alt="Global leaders Image " /></picture>
                    </div>
                </div>                
                <div class="mr-global-leaders-wrapper">
                    <div class="mr-global-carousel-image voltas-logo">
                        <picture>
                        <img src="/content/dam/tajhotels/ihcl/legacy/Tata_Chemicals_Logo.svg" alt="Global leaders Image " /></picture>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

