.book-jiva-spa-global-page{
	color: #1b1b1b;
    font-size: 15px;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    position: relative;
    z-index: 100 !important;
    float: right;
}

.contact-us-link-jiva-spa{
    padding-right:25px;
    color: var(--primaryColorDark);
}
.jiva-spa-booking-global{
    position: relative;
    }

.jiva-spa-booking-global .book-jiva-spa-global-page .jiva-spa-details-book-btn{
	 position: initial;

}
@media only screen and (max-width:767px){
    .book-jiva-spa-global-page{
    	display: flex;
        justify-content: center;
        align-items: center;
        position: inherit;
        }
}