@rem: 16rem;

.pos-relative {
    position: relative;
}

.check-avblty-container {
    padding: 1rem 1rem 2rem;
    background-color: #f6f6f6;
    
      .dropdown {
      width: 250px;
      display: inline-block;
      background-color: transparent;
      transition: all .5s ease;
      position: relative;
      font-size: 14px;
      height: 100%;
      text-align: left;
      color: #000000;
      height: auto;
    }    
    .select:focus,.dropdown:focus{
        outline:none;
    }
    .dropdown .select {
        cursor: pointer;
        display: block;
        padding: 5px;
        border-bottom:1px solid #b3b3b3;
        font-family: var(--themeContentFontRegular);
        font-size: 16px;
        font-weight: 500;
    }
    .dropdown .select > i {
        font-size: 13px;
        color: #888;
        cursor: pointer;
        transition: all .3s ease-in-out;
        float: right;
        line-height: 20px
    }
    .dropdown:active {
        background-color: #f8f8f8
    }
    .dropdown.active:hover,
    .dropdown.active {
        border-radius: 5px 5px 0 0;
        background-color: #f8f8f8
    }
    .dropdown.active .select > i {
        transform: rotate(-180deg)
    }
    .dropdown .dropdown-menu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        margin-top: 1px;
        box-shadow: 0px 5px 5px #b3b3b3 !important;
        border-radius: 0 1px 5px 5px;
        overflow: hidden;
        display: none;
        max-height: 250px;
        overflow-y: auto;
        z-index: 9
    }
    .dropdown .dropdown-menu li {
        padding: 10px;
        transition: all .2s ease-in-out;
        cursor: pointer
    } 
    .dropdown .dropdown-menu {
        padding: 0;
        list-style: none
    }
    .dropdown .dropdown-menu li:hover {
        background-color: #f2f2f2
    }
    .dropdown .dropdown-menu li:active {
        background-color: #e2e2e2
    }
    .dest-item {
        font-family: var(--themeContentFontRegular);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.33px;
    }
    .hotel-title{
        font-family: Montserrat-Regular;
    }
    .circular-container{
        cursor: pointer;
    }

}

@media only screen and (max-width: 767px) {
    .check-avblty-container {
        padding: 1rem;           
    }
    .home-page-layout .check-avblty-container {
        .guests-dropdown-wrap {
            color: #000000;
        }
    }
    .ama-theme .banner-image-con img {
        height: 20rem;
    } 
}


.check-avblty-wrap .selectSubContainer{
    width: 200px;
}

.check-avblty-wrap input.check-avblty-input{
    border: none;
    background: transparent;
    outline:none;
}

.check-avblty-btn{
    color: white;
    background: var(--primaryColor);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    opacity: 0.5;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--themeHeadingFontBold);
    pointer-events: none;
    &.enabled{
        pointer-events: all;
        cursor: pointer;
        opacity: 1;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
}


.check-avblty-wrap .selectboxit .selectboxit-arrow-container .selectboxit-arrow{
    top: 15px;
}

.check-avblty-input-wrap .input-group{
    display: block;
}
.arrow-icon-right{
   position: absolute;
   right: 40px;
   transform: rotate(180deg);
   cursor: pointer;
}

.check-in-check-out-input-wrap {
    display: flex;
    border-bottom: 2px solid #b3b3b3;
    padding-top: 8px;
    font-size: 1rem;
    position: relative;
    font-family: var(--themeContentFontRegular);
}

.check-avblty-input-wrap .input-daterange input[readonly]{
    padding-bottom: 5px;
}

.input-group .date-picker-img{
    position: absolute;
    right: 5%;
    bottom: 11px;
    cursor: pointer;
}
.input-group .check-avblty-input-cal-wrap:first-child .date-picker-img {
    right: 12px;
    top: 0;
} 

.check-avblty-title{
    width: 21%;
    color: #ffffff;
    font-size: 2rem;
    padding-bottom: 20px;
}

.ama-theme .icon-drop-down-arrow:before{
    font-size: 0.6rem;
}

.dropdown-child-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4px 8px 4px 8px;
}

.incr-dec-wrap{
    text-align: end;
    display: flex;
    align-items: center;
    color: var(--primarycolor);
}

.circular-container{
    width: 17px;
    height: 17px;
    background: #f0f1ee;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    margin: 0px 4px;
}

.check-avblty-guests-input{
    width: 210px;
    display: flex;
    border-bottom: 2px solid #b3b3b3;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 8px;
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
}

.guests-dropdown-wrap{
    background: #ffffff;
    position: absolute;
    width: 210px;
    box-shadow: 0 20px 48px -10px rgba(0, 0, 0, 0.11);
    display: none;
    z-index: 10;
    left: 1rem;
    @media only screen and (max-width: 767px) {
        left: 10px;
        right: 10px;
        width: auto;
    }
}

.check-avblty-guests-wrap{
    position: relative;
}

.display-block{
    display: block;
}

.bas-calander-container-ama{
    display: none;
    background: #ffffff;
    box-shadow: 0px 5px 5px #b3b3b3;
    position: absolute;
    width: 250px;
    z-index: 10;
}

.bas-left-date-wrap-ama, .bas-right-date-wrap-ama{
    display: flex;
    width: 50%;
}

.date-title-style{
    color: #b3b3b3;
    margin-right: 15px;
    width: fit-content;
    padding: 5px 0px 3px;
}

.bas-single-wrap.active .date-title-style{
    color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
}

.bas-calander-container-ama.active{
    display: flex;
}

.bas-left-date-wrap-ama{
    justify-content: flex-end;
}

.bas-right-date-wrap-ama{
    justify-content: flex-start;;    
}

.check-avblty-btn-wrap{
    display: flex;
    justify-content: center;
    min-height: 60px;
    align-items: center;
}

.specific-hotels-page .check-avblty-container {
    bottom: 45px;   
}

.ama-theme .check-avblty-wrap input.check-avblty-input, .ama-theme .check-avblty-guests-input{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 4px;
    font-family: var(--themeContentFontRegular);
    color: #000000;
}

.rotate-arrow{
    transform: rotate(180deg);
}
.ama-theme {
    &.specific-hotels-page{
        .check-avblty-container .dropdown,.check-in-check-out-input-wrap,.dropdown .dropdown-menu,.bas-calander-container-ama,.check-avblty-input-wrap .datepicker-dropdown {
                width:220px;
            }
    }
    .check-avblty-container .dropdown .dropdown-menu li{
        font-size: 12px;
        font-family: var(--themeContentFontRegular);
        padding: 5px 10px;
        &.dest-item{
            font-size: 12px;
            font-family: var(--themeHeadingFontSemiBold);  
        }
    }
    .check-avblty-wrap {
            display: flex;    
            flex-wrap: wrap;                                               
            .check-avblty-input-wrap {
                flex: 1;  
                @media only screen and (max-width: 767px) {
                   flex: auto;
                   &.check-avblty-btn-wrap {
                        width: 100%;                    
                   }
                }
            }                   
    }
    .check-avblty-input-wrap {
        padding: 1rem;
        @media only screen and (max-width: 767px) {
            padding: 10px;
        }
       
        .addRoomBtnText{
            cursor: pointer;
        }
        .roomHeading{
            background: #efefef;
            padding: 10px 14px;
            position: relative;
            font-size: 14px;  
            .noOfPeople{
                font-size: 10px;
                line-height: 18px;
                padding-left: 5px;
            }
        }
        .close-current-room{
            float: right;
            cursor: pointer;
        }
        .guest-room-header{
            &.hideDiv{
                .incDecMain{
                    display: none;
                }
                .arrow-icon-right{
                    transform: rotate(0deg);
                }
            }
        }
        .dropdown-child-wrap{
            font-size: 14px;
            padding: 5px 14px;
            &.adult-wrap{padding-top: 10px;}
            &:last-of-type{padding-bottom: 10px;}
        }
        .incr-dec-wrap{
            span{
                color: var(--primaryColor);
            }
        }
        .add-room-button{
            background: #efefef;
            padding: 12px 14px;
            float: none;
            margin-left: 0;
            .addRoomBtnText{
                height: 35px;
                line-height: 35px;
                text-align: center;
                width: 100%;
                color: var(--primaryColor);
                text-transform: uppercase;
                border: 1px var(--primaryColor) solid;
                font-family: var(--themeHeadingFontBold);
                font-size: 12px;
            }
        }
    }
    .add-room-button-remove {
        display:none !important;
    }
    .ama-check-availability {
        position: relative;
        .form-control {
           font-size: 14px;
        }
         @media only screen and (max-width: 767px) {
            .container {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
    .check-avblty-input-label{letter-spacing: 0.39px;}
    
    &.home-page-layout {
        .radio-container {
            margin-bottom: 12px;
        }
       
        .check-avblty-container {                                                        
            @media only screen and (min-width: 768px) {
                 background-color: rgba(0,0,0,0.8);
                color: #ffffff;
                border-radius: 4px;
                position: absolute; 
                width: 300px;
                padding: 20/@rem 0;                  
                right: 0;
                bottom: 50px;
                .radio-button {
                    padding: 0 1rem;
                }
                .check-avblty-input-wrap {
                    flex: auto;
                }
                .dropdown:not(.active), .input-daterange input, .check-avblty-guests-input {
                    color: #ffffff;
                }
            }
                                   
            .guests-dropdown-wrap {
                color: #000000;               
            }
            
        }       
    }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  
    .check-in-check-out-input-wrap, .check-avblty-input-label, .check-avblty-guests-input, .check-avblty-container .dropdown, .bas-calander-container-ama {
        width: 100%;
    }
       
    .check-avblty-btn-wrap{
        padding-top: 1rem;
    }
    .input-daterange .check-in-check-out-input-wrap input{
        padding-right: 0px;
    }
    .ama-theme .check-avblty-title{
        width: 95%;
        font-size: 1.5rem;
    }
    .check-avblty-input-wrap .input-daterange input{
        font-size: 16px !important;
    }
    .check-avblty-guests-details {
        position : relative;
        font-size: 16px;
        display: none;
    }
  
}

@media only screen and (min-width:768px) and (max-width:927px) {
    .ama-theme .check-avblty-title{
        width: 38%;
    }
    .check-avblty-container .dropdown, .check-avblty-guests-input, .check-in-check-out-input-wrap, .guests-dropdown-wrap, .bas-calander-container-ama{
        width: 100%;
    }
    .input-group .date-picker-img{
        font-size: 1rem;
    }
    .check-avblty-input-wrap .input-daterange input{
        font-size: 1rem;
    }
    .select-dest-placeholder{
        font-size: 1rem;
    }
    .ama-theme .check-avblty-wrap input.check-avblty-input, .ama-theme .check-avblty-guests-input{
        font-size: 1rem;
        line-height: 21px;
        padding-bottom: 1px;
        margin-bottom: 2px;
    }
    .check-avblty-container .dropdown .select{
        padding: 5px 0px 0px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 320px){
    .ama-theme {
        &.specific-hotels-page{
        .check-avblty-container .dropdown,.check-in-check-out-input-wrap,.dropdown .dropdown-menu,.bas-calander-container-ama,.check-avblty-input-wrap .datepicker-dropdown {
                width:100%;
            }            
        }             
    }    
}

.check-avblty-container .dropdown .select{
    font-family: var(--themeContentFontRegular);
    display: flex;
    justify-content: space-between;
}
.check-avblty-input-wrap .input-daterange input{
    font-family: var(--themeContentFontRegular);
    padding: 2px 0px 6px;
}
.check-avblty-input-cal-wrap{
    position: relative;
}
.check-avblty-container {
    .radio-container input[checked='checked'] ~ .checkmark:after {
        background-color:  var(--primaryColor);
    }
}

@media only screen and (min-width: 767px) {
     .check-avblty-guests-details {
        position : absolute;
        font-size: 16px;
    }
}
@media only screen and (max-width: 991px) and (min-width: 320px) {
    .add-room-button {
        font-size: 0.75rem;
        position: relative !important;
        right: 0 !important;
    }
}

.ama-theme .disable-radiobtn {
    pointer-events: none;
    opacity: 0.3;
} 