.datepicker {
	padding: 4px;
	border-radius: 4px;
	direction: ltr;
}

.datepicker-inline {
	width: 220px;
}

.datepicker-rtl {
	direction: rtl;
}

.datepicker-rtl.dropdown-menu {
	left: auto;
}

.datepicker-rtl table tr td span {
	float: right;
}

.check-avblty-input-wrap .datepicker-dropdown {
	top: 72px !important;
	left: 0px !important;
	border: none;
	border-radius: 0px;
	box-shadow: 0px 5px 5px #b3b3b3 !important;
	width: 250px;
}

.input-box-wrapper-ama .datepicker-days table.table-condensed {
	width: 100%;
}

.check-avblty-input-wrap .datepicker-dropdown:before {
	display: none;
}

.check-avblty-input-wrap .datepicker-dropdown:after {
	display: none;
}

.check-avblty-input-wrap .datepicker .datepicker-days td, .datepicker .datepicker-days th
	{
	width: 29px !important;
	height: 29px !important;
	border-radius: 50% !important;
}

.check-avblty-input-wrap .selected {
	line-height: 30px !important;
}

.check-avblty-input-wrap .selected::after {
	display: none;
}

.datepicker-dropdown.datepicker-orient-left:before {
	left: 6px;
}

.datepicker-dropdown.datepicker-orient-left:after {
	left: 7px;
}

.datepicker-dropdown.datepicker-orient-right:before {
	right: 6px;
}

.datepicker-dropdown.datepicker-orient-right:after {
	right: 7px;
}

.datepicker-dropdown.datepicker-orient-bottom:before {
	top: -7px;
}

.datepicker-dropdown.datepicker-orient-bottom:after {
	top: -6px;
}

.datepicker-dropdown.datepicker-orient-top:before {
	bottom: -7px;
	border-bottom: 0;
	border-top: 7px solid #999;
}

.datepicker-dropdown.datepicker-orient-top:after {
	bottom: -6px;
	border-bottom: 0;
	border-top: 6px solid #fff;
}

.datepicker table {
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.datepicker table tr {
	width: 500px;
}

.datepicker td, .datepicker th {
	text-align: center;
	width: 70px;
	height: 43px;
	border-radius: 4px;
	border: none;
}

.table-striped .datepicker table tr td, .table-striped .datepicker table tr th
	{
	background-color: transparent;
}

.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
	background: #eee;
	cursor: pointer;
}

.datepicker table tr td.old, .datepicker table tr td.new {
	color: #999;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover
	{
	background: none;
	color: #999;
	cursor: default;
}

.datepicker table tr td.highlighted {
	background: #d9edf7;
	border-radius: 0;
}

.datepicker table tr td.today, .datepicker table tr td.today:hover,
	.datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover
	{
	background-color: #fde19a;
	background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a',
		endColorstr='#fdf59a', GradientType=0);
	border-color: #fdf59a #fdf59a #fbed50;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #000;
}

.datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover,
	.datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover,
	.datepicker table tr td.today:active, .datepicker table tr td.today:hover:active,
	.datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active,
	.datepicker table tr td.today.active, .datepicker table tr td.today:hover.active,
	.datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active,
	.datepicker table tr td.today.disabled, .datepicker table tr td.today:hover.disabled,
	.datepicker table tr td.today.disabled.disabled, .datepicker table tr td.today.disabled:hover.disabled,
	.datepicker table tr td.today[disabled], .datepicker table tr td.today:hover[disabled],
	.datepicker table tr td.today.disabled[disabled], .datepicker table tr td.today.disabled:hover[disabled]
	{
	background-color: #fdf59a;
}

.datepicker table tr td.today:active, .datepicker table tr td.today:hover:active,
	.datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active,
	.datepicker table tr td.today.active, .datepicker table tr td.today:hover.active,
	.datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active
	{
	background-color: #fbf069 \9;
}

.datepicker table tr td.today:hover:hover {
	color: #000;
}

.datepicker table tr td.today.active:hover {
	color: #fff;
}

.datepicker table tr td.range, .datepicker table tr td.range:hover,
	.datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover
	{
	background: #eee;
	border-radius: 0;
}

.datepicker table tr td.range.today, .datepicker table tr td.range.today:hover,
	.datepicker table tr td.range.today.disabled, .datepicker table tr td.range.today.disabled:hover
	{
	background-color: #f3d17a;
	background-image: linear-gradient(to bottom, #f3c17a, #f3e97a);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a',
		endColorstr='#f3e97a', GradientType=0);
	border-color: #f3e97a #f3e97a #edde34;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-radius: 0;
}

.datepicker table tr td.range.today:hover, .datepicker table tr td.range.today:hover:hover,
	.datepicker table tr td.range.today.disabled:hover, .datepicker table tr td.range.today.disabled:hover:hover,
	.datepicker table tr td.range.today:active, .datepicker table tr td.range.today:hover:active,
	.datepicker table tr td.range.today.disabled:active, .datepicker table tr td.range.today.disabled:hover:active,
	.datepicker table tr td.range.today.active, .datepicker table tr td.range.today:hover.active,
	.datepicker table tr td.range.today.disabled.active, .datepicker table tr td.range.today.disabled:hover.active,
	.datepicker table tr td.range.today.disabled, .datepicker table tr td.range.today:hover.disabled,
	.datepicker table tr td.range.today.disabled.disabled, .datepicker table tr td.range.today.disabled:hover.disabled,
	.datepicker table tr td.range.today[disabled], .datepicker table tr td.range.today:hover[disabled],
	.datepicker table tr td.range.today.disabled[disabled], .datepicker table tr td.range.today.disabled:hover[disabled]
	{
	background-color: #f3e97a;
}

.datepicker table tr td.range.today:active, .datepicker table tr td.range.today:hover:active,
	.datepicker table tr td.range.today.disabled:active, .datepicker table tr td.range.today.disabled:hover:active,
	.datepicker table tr td.range.today.active, .datepicker table tr td.range.today:hover.active,
	.datepicker table tr td.range.today.disabled.active, .datepicker table tr td.range.today.disabled:hover.active
	{
	background-color: #efe24b \9;
}

.datepicker table tr td.selected, .datepicker table tr td.selected:hover,
	.datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover
	{
	background-color: var(--primaryColorDark);
	background-image: linear-gradient(to bottom, var(--primaryColorDark),
		var(--primaryColorDark));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--primaryColorDark)',
		endColorstr='var(--primaryColorDark)', GradientType=0);
	border-color: var(--primaryColorDark) var(--primaryColorDark)
		var(--primaryColorDark);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td.selected:hover, .datepicker table tr td.selected:hover:hover,
	.datepicker table tr td.selected.disabled:hover, .datepicker table tr td.selected.disabled:hover:hover,
	.datepicker table tr td.selected:active, .datepicker table tr td.selected:hover:active,
	.datepicker table tr td.selected.disabled:active, .datepicker table tr td.selected.disabled:hover:active,
	.datepicker table tr td.selected.active, .datepicker table tr td.selected:hover.active,
	.datepicker table tr td.selected.disabled.active, .datepicker table tr td.selected.disabled:hover.active,
	.datepicker table tr td.selected.disabled, .datepicker table tr td.selected:hover.disabled,
	.datepicker table tr td.selected.disabled.disabled, .datepicker table tr td.selected.disabled:hover.disabled,
	.datepicker table tr td.selected[disabled], .datepicker table tr td.selected:hover[disabled],
	.datepicker table tr td.selected.disabled[disabled], .datepicker table tr td.selected.disabled:hover[disabled]
	{
	background-color: #808080;
}

.datepicker table tr td.selected:active, .datepicker table tr td.selected:hover:active,
	.datepicker table tr td.selected.disabled:active, .datepicker table tr td.selected.disabled:hover:active,
	.datepicker table tr td.selected.active, .datepicker table tr td.selected:hover.active,
	.datepicker table tr td.selected.disabled.active, .datepicker table tr td.selected.disabled:hover.active
	{
	background-color: #666666 \9;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover,
	.datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover
	{
	background-color: #006dcc;
	background-image: linear-gradient(to bottom, var(--primaryColorDark),
		var(--primaryColorDark));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--primaryColorDark)',
		endColorstr='var(--primaryColorDark)', GradientType=0);
	border-color: var(--primaryColorDark) var(--primaryColorDark)
		var(--primaryColorDark);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover,
	.datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover,
	.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active,
	.datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active,
	.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active,
	.datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active,
	.datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled,
	.datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled,
	.datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled],
	.datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled]
	{
	background-color: var(--primaryColorDark);
}

.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active,
	.datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active,
	.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active,
	.datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active
	{
	background-color: #003399 \9;
}

.datepicker table tr td span {
	display: block;
	width: 23%;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 1%;
	cursor: pointer;
	border-radius: 4px;
}

.datepicker table tr td span:hover, .datepicker table tr td span.focused
	{
	background: #eee;
}

.datepicker table tr td span.disabled, .datepicker table tr td span.disabled:hover
	{
	background: none;
	color: #999;
	cursor: default;
}

.datepicker table tr td span.active, .datepicker table tr td span.active:hover,
	.datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover
	{
	background-color: #006dcc;
	background-image: linear-gradient(to bottom, var(--primaryColorDark),
		var(--primaryColorDark));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--primaryColorDark)',
		endColorstr='var(--primaryColorDark)', GradientType=0);
	border-color: var(--primaryColorDark) var(--primaryColorDark) #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover,
	.datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover,
	.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active,
	.datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active,
	.datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active,
	.datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active,
	.datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled,
	.datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled,
	.datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled],
	.datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled]
	{
	background-color: var(--primaryColorDark);
}

.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active,
	.datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active,
	.datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active,
	.datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active
	{
	background-color: #003399 \9;
}

.datepicker table tr td span.old, .datepicker table tr td span.new {
	color: #999;
}

.datepicker .datepicker-switch {
	width: 145px;
}

.datepicker .datepicker-switch, .datepicker .prev, .datepicker .next,
	.datepicker tfoot tr th {
	cursor: pointer;
}

.datepicker .datepicker-switch:hover, .datepicker .prev:hover,
	.datepicker .next:hover, .datepicker tfoot tr th:hover {
	background: #eee;
}

.datepicker .prev.disabled, .datepicker .next.disabled {
	visibility: hidden;
}

.datepicker .cw {
	font-size: 10px;
	width: 12px;
	padding: 0 2px 0 5px;
	vertical-align: middle;
}

.input-append.date .add-on, .input-prepend.date .add-on {
	cursor: pointer;
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
	margin-top: 3px;
}

.ama-theme .input-daterange input {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    background-color: transparent;
    padding: 0;
    letter-spacing: 0;
    color: #000;
    border: none;
}

@media only screen and (max-width: 767px) {
	.ama-theme .input-daterange input {
		padding-right: calc(1.6rem);
	}
}

.input-daterange input[readonly] {
	background-color: transparent;
}

.input-daterange input:last-child {
	border: none;
}

.input-daterange .add-on {
	display: inline-block;
	width: auto;
	min-width: 16px;
	height: 18px;
	padding: 4px 5px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	vertical-align: middle;
	background-color: #eee;
	border: 1px solid #ccc;
	margin-left: -5px;
	margin-right: -5px;
}

.form-control:focus {
	color: var(--primaryColor);
	box-shadow: none;
	background-color: transparent;
}

@media only screen and (min-width:320px) and (max-width:767px) {
	.check-avblty-input-wrap .datepicker .datepicker-days td, .datepicker .datepicker-days th
		{
		width: 33px !important;
	}
}

.ama-theme .check-avblty-input-wrap .selected {
	float: unset;
	position: initial;
}

@media only screen and (min-width:768px) and (max-width:927px) {
	.check-avblty-input-wrap .datepicker-dropdown {
		width: 150px;
	}
}

@media only screen and (min-width:320px) and (max-width:767px) {
	.check-avblty-input-wrap .datepicker-dropdown {
		width: 100%;
	}
	.check-avblty-container .check-avblty-input-wrap .datepicker-dropdown {
		top: 75px !important;
		left: 0px !important;
	}
}