
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.press-release'}" />
<div data-sly-test="${wcmmode.edit}">Press Release</div>
<sly data-sly-test="${properties.prologueText}">
<div class="news-description">${properties.prologueText @context='html'}</div>
</sly>
<div class="press-image-carousel"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <div class="specific-city-carousel-conatiner" data-sly-use.carouselObj="com.ihcl.core.models.PressCarousel">

	<div data-sly-test="${properties.displayImage != 'false'}">
        <div class="mr-specific-City-carousel-wrapper">
            <div class="clearfix" data-sly-list.child=${carouselObj.getImagePathLs}>
                <div class="mr-specific-city-image-carousel-wrapper about-city-carousel-images-mobile">
                    <div class="mr-each-about-carousel-wrapper">
                        <sly
                            data-sly-call="${imagetemplate.damImageTemplate @ imagePath=child, context='html', lazyload='true', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', styleclass='about-carousel-images'}" />
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="news-caption"></div>
    <div class="news-description">${properties.text @context='html'}</div>
</div>