
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.social-media-share'}" />

<div data-sly-test.edit="${wcmmode.edit}" >Social Media Share Component</div>
<div style="${properties.wrapperDivStyle @ context='html'};">
<!--<h3 style="${properties.headingStyle @ context='html'};">${properties.shareTitle}</h3>-->
<div class="share-wrap">

<div class="share-icons hide">
<div class="share-blk hide">
<ul>
<li>
<div class="${properties.twitter ? '' :'hide'} symbol">
   <a  href="https://twitter.com/intent/tweet?text=${properties.prefill}&url=${properties.link}&via=${properties.taggedusername}&hashtags=${properties.hashtag}" target="_blank" ><img width="35px" src="/content/dam/Social%20Media/icons/iconfinder_twitter_834708.png"></a> 
  </div>
</li>

 <li>
  <div class="${properties.facebook ? '' :'hide'} symbol">
    <a href="https://www.facebook.com/sharer/sharer.php?u=${properties.link}" target="_blank" >
      <img src="/content/dam/Social%20Media/icons/iconfinder_facebook_834722.png" width="35px">
    </a>
  </div>
  </li>

	<li>
   <div class="${properties.linkedin ? '' :'hide'} symbol">
     <a href="https://www.linkedin.com/sharing/share-offsite/?url=${properties.link}"  target="_blank">
		<img src="/content/dam/Social%20Media/icons/iconfinder_linkedin_1233018.png" width="35px"></a>
  </div>
</li>
	<li>
  <div class="${properties.whatsapp ? '' :'hide'} symbol">
    <a href="https://api.whatsapp.com/send?text=${properties.link}" target="_blank">
		<img src="/content/dam/Social%20Media/icons/iconfinder_whatsapp_287520.png" width="35px"></a>
  </div>
  </li>
 </ul>

</div>
</div>
<button class="share-btn cm-btn-primary icon-share" style="border: 1px solid #e6e3e3 !important;color: #6d6d6d !important; " aria-label="share icon">${properties.shareTitle}</button>
</div>
</div>
