<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-base-page,tajhotels.jivaspabooking'}" />

<div class="generic-back-link">
	<a href="javascript: history.go(-1)"> < Back</a>
</div>
<div class="cm-content-blocks">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="jiva-spa-lead-gen-con">
				<div class="jiva-spa-lead-gen-inner-con">
					<div class="jiva-spa-lead-gen-heading">ENQUIRY FORM</div>
					<div>If you are an owner or developer interested in building hotels, please fill in the enquiry form below:</div>
			
			</div>
		</div>
	</div>
</div>
