@rem: 16rem;
.holidays-dest-package-card-outer-wrap {
    margin-bottom: 36/@rem;
}

.holidays-dest-package-card-wrap {
    background: #fff;
    @media only screen and (max-width: 767px) {
        background: transparent;
    }
}

.holidays-dest-more-packages {
    .more-rate-card-container {
        margin-top: 14/@rem;
    }
}

.holidays-dest-package-card-img-con {
    float: left;
    height: 215/@rem;
    width: 218/@rem;
    picture {
        height: 100%;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        height: 21.6rem;
        width: 23.625rem;
    }
    @media only screen and (max-width: 767px) {
        float: unset;
        height: 250/@rem;
        width: 100%;
    }
}

.holidays-dest-package-card-sub-con {
    float: left;
    padding: 21/@rem 33/@rem 19/@rem 26/@rem;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding-right: 0;
    }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
        min-height: 320/@rem;
    }
    @media only screen and (max-width: 767px) {
        float: unset;
        width: 100%;
        padding: 25/@rem 10/@rem 23/@rem;
        background: #fff;
    }
}

.holidays-dest-package-card-details-con {
    float: left;
    width: 455/@rem;
    .holidays-dest-package-card-subheading {
        color: #979797;
        font-size: 14/@rem;
        font-family: Calibri;
        margin-top: 5/@rem;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        float: unset;
        width: 32.6rem;
    }
    @media only screen and (max-width: 767px) {
        float: unset;
        width: 100%;
    }
}

.holidays-dest-package-card-heading {
    font-size: 24/@rem;
    font-family: Calibri;
    color: #4a4a4a;
    line-height: 0.92;
}

.holidays-dest-package-card-desc {
    font-size: 1rem;
    font-family: Calibri;
    color: #4a4a4a;
    margin-top: 3/@rem;
    line-height: 20px;
}

.holidays-dest-package-card-inclusions-con {
    float: left;
    padding-left: 35/@rem;
    position: relative;
    width: 331/@rem;
    @media only screen and (max-width: 991px) {
        padding-left: 0;
    }
    @media only screen and (max-width: 767px) {
        margin-top: 10/@rem;
    }
}

.holidays-dest-package-card-inclusions-heading {
    font-size: 14/@rem;
    font-family: Calibri-Bold;
    color: #616161;
}

.holidays-dest-package-card-inclusions-content {
    position: absolute;
    left: 35/@rem;
    background: #f5f5f5;
    padding: 18/@rem 14/@rem 15/@rem 24/@rem;
    margin-top: 5/@rem;
    width: 296/@rem;
    box-shadow: 0 1px 2px 0 #9b9b9b;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        width: 110%;
        left: 0;
        padding: 10/@rem 14/@rem 10/@rem 20/@rem;
    }
    @media only screen and (max-width: 767px) {
        left: 0;
        width: 192/@rem;
        padding-left: 0;
        padding-right: 0;
    }
    @media only screen and (max-width: 415px) {
        width: 11rem;
    }
    @media only screen and (max-width: 374px) {
        width: 130px;
    }
}

.holidays-dest-package-card-inclusions-each {
    font-size: 14/@rem;
    font-family: Calibri-Bold;
    color: #4a4a4a;
    margin-bottom: 25/@rem;
    display: inline-block;
    width: 49%;
    .holidays-dest-package-card-inclusions-img-con {
        display: inline-block;
        width: auto;
        margin-right: 5/@rem;
    }
    .holidays-dest-package-card-inclusions-detail {
        display: inline-block;
        font-family: Calibri;
        font-size: 12/@rem;
        width: auto;
        .holidays-dest-package-card-inclusions-desc {
            display: none;
        }
    }
    img {
        height: 21/@rem;
        width: 23/@rem;
        margin-right: 5/@rem;
        @media only screen and (max-width: 767px) {
            margin-right: 0;
        }
    }
    @media only screen and (max-width: 767px) {
        width: 26%;
        padding-right: 0 !important;
        padding-left: 10/@rem !important;
        .holidays-dest-package-card-inclusions-detail {
            display: none;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 7px;
    }
    @media only screen and (max-width: 415px) {
        width: 24%
    }
}

.holidays-inclusions-on-show {
    z-index: 1;
    .holidays-dest-package-card-inclusions-content {
        z-index: 1;
        .holidays-dest-package-card-inclusions-each {
            width: 100%;
            display: block;
            @media only screen and (max-width: 767px) {
                padding-left: 24/@rem !important;
            }
            @media only screen and (max-width: 374px) {
                padding-left: 16/@rem !important;
            }
            .holidays-dest-package-card-inclusions-img-con {
                width: 14%;
                img {
                    vertical-align: super;
                    height: 30/@rem;
                    width: 33/@rem;
                }
                @media only screen and (max-width: 767px) {
                    width: 10%;
                    img {
                        height: 40/@rem;
                        width: 40/@rem;
                    }
                }
                @media only screen and (max-width: 374px) {
                    width: 14%;
                }
            }
            .holidays-dest-package-card-inclusions-detail {
                width: 82%;

                @media only screen and (max-width: 767px) {
                    display: inline-block;
                }
                .holidays-dest-package-card-inclusions-desc {
                    display: block;
                    @media only screen and (max-width: 767px) {
                        font-size: 1rem;
                    }
                    @media only screen and (max-width: 374px) {
                        font-size: 14/@rem;
                    }
                }
            }
        }
        .holidays-dest-package-card-inclusions-each:nth-child(7) {
            margin-bottom: 25/@rem;
        }
        .holidays-dest-package-card-inclusions-each:nth-child(6) {
            @media only screen and (max-width: 767px) {
                margin-bottom: 25/@rem;
            }
        }
        .holidays-dest-package-card-inclusions-each:nth-child(n+8) {
            display: inline-block;
        }
        .holidays-dest-package-card-inclusions-show-more {
            display: none;
        }
        .holidays-dest-package-card-inclusions-close {
            display: block;
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
        @media only screen and (max-width: 767px) {
            width: 100%;
            margin-top: 0;
        }
    }
    .holidays-dest-package-card-inclusions-mobile-heading {
        @media only screen and (max-width: 767px) {
            display: block;
        }
    }
    @media only screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: unset;
        margin-top: 0;
        overflow-y: scroll;
    }
}

.holidays-dest-package-card-inclusions-mobile-heading {
    display: none;
    font-size: 24/@rem;
    font-family: Calibri-Bold;
    color: #323232;
    margin-bottom: 22/@rem;
    img {
        margin-left: 24/@rem;
        margin-right: 40/@rem;
        height: 20/@rem;
    }
}

.holidays-dest-package-card-inclusions-close {
    display: none;
    img {
        cursor: pointer;
        float: right;
    }
}

.holidays-dest-package-card-inclusions-each:nth-child(7) {
    margin-bottom: 0;
}

.holidays-dest-package-card-inclusions-each:nth-child(6) {
    @media only screen and (max-width: 767px) {
        margin-bottom: 0;
    }
}

.holidays-dest-package-card-inclusions-each:nth-child(n+8) {
    display: none;
}

.holidays-dest-package-card-inclusions-content::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-image: var(--linearGradient);
    content: " ";
}

.holidays-dest-package-card-rates-con {
    float: left;
    width: 215/@rem;
    text-align: right;
    padding-top: 40/@rem;
    position: relative;
    min-height: 175/@rem;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        float: right;
        padding-top: 0;
        min-height: 8.8rem;
    }
    @media only screen and (max-width: 767px) {
        float: right;
        padding-top: 36/@rem;
        min-height: 9rem;
        width: auto;
    }
    @media only screen and (max-width: 480px) {
        float: right;
        padding-top: 0;
        min-height: 114/@rem;
        width: auto;
    }
}

.holidays-dest-package-card-inclusions-show-more {
    font-size: 14/@rem;
    font-family: Calibri-Bold;
    color: var(--primaryColor);
    cursor: pointer;
    display: inline-block;
    width: 45%;
    @media only screen and (max-width: 767px) {
        width: 43%;
        padding-right: 0!important;
    }
    @media only screen and (max-width: 374px) {
        line-height: 0.9;
        vertical-align: bottom;
        padding-left: 0.625rem !important
    }
}

.holidays-dest-package-card-rate-ind {
    font-size: 10/@rem;
    color: #9b9b9b;
    font-family: Calibri;
}

.holidays-dest-package-card-rate-actual {
    color: #4a4a4a;
    display: inline-block;
    vertical-align: middle;
    .currency {
        font-family: RupeeForadian;
        font-size: 24/@rem;
        @media only screen and (max-width: 767px) {
            font-size: 16/@rem;
        }
    }
    .amount {
        font-size: 27/@rem;
        font-family: Calibri-Bold;
        @media only screen and (max-width: 767px) {
            font-size: 24/@rem;
        }
    }
}

.holidays-dest-package-card-rate-striked {
    color: #4a4a4a;
    text-decoration: line-through;
    opacity: 0.58;
    display: inline-block;
    vertical-align: middle;
    .currency {
        font-family: RupeeForadian;
        font-size: 16/@rem;
        vertical-align: middle;
    }
    .amount {
        font-size: 19/@rem;
        font-family: Calibri;
        vertical-align: middle;
        @media only screen and (max-width: 767px) {
            font-size: 16/@rem;
        }
    }
}

.holidays-dest-package-card-points {
    font-size: 1rem;
    font-family: Calibri;
    color: var(--primaryColor);
    display: inline-block;
    .type {
        color: #9b9b9b;
        margin-left: 5/@rem;
    }
}

.holidays-dest-package-card-points:first-child {
    border-right: 1px solid #9b9b9b;
    line-height: 1;
    padding-right: 5/@rem;
}

&.holidays-dest-package-card-btn {
    width: 145/@rem;
    line-height: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        line-height: 2.8;
        width: 9.5rem;
    }
    @media only screen and (max-width: 767px) {
        line-height: 2.8;
    }
    @media only screen and (max-width: 374px) {
        width: 130px;
        padding: 0 7px;
    }
}

.holidays-dest-package-card-points-con {
    @media only screen and (max-width: 767px) {
        display: none;
    }
}

.holidays-dest-package-card-points-mobile {
    display: none;
    background: #fff;
    width: 100%;
    background: #fff;
    padding: 5/@rem 0 10/@rem 17/@rem;
    position: relative;
    @media only screen and (max-width: 767px) {
        display: block;
    }
}

.holidays-dest-package-card-points-mobile::after {
    position: absolute;
    content: " ";
    height: 1px;
    width: 40%;
    background: var(--primaryColor);
    bottom: 10/@rem;
    left: 17/@rem;
}

.holidays-dest-more-packages {
    display: none;
}

.holidays-dest-package-card-outer-wrap{
display:none;
}

.mr-list-hotel-specifications {
    margin-left: 32px;
    margin-left: 2rem;
}

.mr-list-hotel-specifications .ho-each-ameneties-sec {
	display: table;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 767px) {
    .mr-list-hotel-specifications {
        margin-left: unset;
    }

    .mr-list-hotel-specifications .col-3:nth-child(n+4) .mr-list-unique-specs {
        margin-bottom: unset;
    }
}
.image-container{
	display : table-cell;
	height: 20px;
	width: 20px;
	margin-right: 2px;
	margin-bottom:8px;
	vertical-align: top;
    padding-right: 0.5rem;
}
.image-container img{
	height: 100%;
	width: 100%;
	object-fit:contain;
}
.ho-signature-name {
    font-family: Calibri;
    color: #323232;
    margin-left: 0.625rem;
    font-size: 1rem;
    vertical-align: top;
    padding-right: 5px;
    width: 80%;
    line-height: 1;
    display: table-cell;
}
@media only screen and (max-width: 767px) {
    .ho-signature-name {
        width: 85%;
        margin-left: 0.125rem;
    }
}

.mr-hotel-distanceFrom-airport {

    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.36;
    color: #979797;
    margin-bottom: 17px;

}