<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.about-destination-local-area'}" /> 
<div class="about-specific-city cm-content-blocks">
	<div class="about-specific-city-container">
		<div class="specific-city-header-wrapper">
			<h1 class="specific-city-header">${properties.title}</h1>
			<div class="specific-city-show-map local-city">
				<button class="cm-btn-primary specific-city-local-show-map" data-dialog-btn = "showMapPopUp">
					<span class="ho-location-icon ho-cm-icon inline-block icon-location"></span>SHOW MAP
				</button>
			</div>
		</div>
		<div data-sly-unwrap>
			<sly
				data-sly-resource="${'showmapcontent' @ resourceType='tajhotels/components/content/showmap' }"></sly>
		</div>
		<div class="specific-city-wrapper clearfix row">
			<div
				class="specific-city-details-container col-lg-6 col-md-12 col-sm-12">
				<div class="spec-about-city">
					<div class="spec-about-city-subheader">${properties.quote}</div>
					<article class="spec-city-desc">
						<P>${properties.description @context='html'}</P>
					</article>
					<div class="share-btn-wrapper" data-share-text="${properties.sharetext}">
                         <button class="icon-share cm-btn-primary cm-share-btn loc-city share-btn-js" aria-label = "icon share"></button>
                         <div id="socials" class="share-options-list">
                         </div>
                    </div>
					<div class="spec-city-options">
						<div class="ho-btns-section">
							<button class="cm-btn-primary cm-map-btn loc-city" aria-label = "city location"><span class="icon-location"></span></button>
						</div>
					</div>
				</div>
			</div>
			<div
				class="specific-city-image-conatiner col-lg-6 col-md-12 col-sm-12">
				<div class="image-container">
				<sly
					data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
					<sly data-sly-test.finalImagePath="${properties.fileReference ? properties.fileReference : properties.destinationimage}"/>
				<sly
					data-sly-call="${imagetemplate.damImageTemplate @ imagePath= finalImagePath ? finalImagePath :'/content/dam/tajhotels/logos/taj-logos/img-taj@2x.png',renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true'}"></sly>
				</sly>
				</div>
			</div>
		</div>
	</div>
</div>