<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.meeting-filter-selection, tajhotels.hoteldetails'}" />
<sly data-sly-use.meetingFilter="com.ihcl.core.models.MeetingFilter" />
<sly data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher" />
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 events-pg-filter-con">
        <sly data-sly-test="${properties.enablesearchbar}">
        <div class="search-container search-hotels-container">
            <div
                class="search-and-suggestions-wrapper search-and-suggestions-wrapper-hotel container disable-input-scroll-top">
                <div class="searchBar-wrap">
                    <img class="search-icon" src="/content/dam/tajhotels/icons/style-icons/search-icon-hotels.svg"
                        alt="search-icon" />
                    <input class="searchbar-input hotel-search" type="text"
                        placeholder="Search by country , city , hotel or venue name " aria-label="Hotel Search Bar" />
                    <img class="clear-input-icon hide-in-sm" tabindex="0" role="button"
                        src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
                    <div class="search-filters-container">
                        <div class="filter-dropdown-wrap filterByMobile">
                            <div class="filter-dropdown-label">Filter by</div>
                            <div class="selectSubContainer">
                                <select aria-label="Filter Meeting By" name="meetingFilterBy" id="filterBy">
                                    <sly data-sly-test="${properties.isWeddingFilter}">
                                    <option value="all">Wedding Theme</option>
                                    <sly data-sly-list.eventType="${meetingFilter.weddingEventTypeList}">
                                    <option value="${eventType.value}">${eventType.title}</option>
                                    </sly> </sly>
                                    <sly data-sly-test="${!properties.isWeddingFilter}">
                                    <option value="all">Event Type</option>
                                    <sly data-sly-list.eventType="${meetingFilter.meetingEventTypeList}">
                                    <option value="${eventType.value}">${eventType.title}</option>
                                    </sly> </sly>
                                </select>
                            </div>
                        </div>
                        <div class="filter-dropdown-wrap filterByMobile">
                            <div class="filter-dropdown-label"></div>
                            <div class="selectSubContainer">
                                <select aria-label="Capacity" name="capacityDropdown" id="capacityDropdown">
                                    <option value="Capacity">Capacity</option>
                                    <sly data-sly-list.capacityType="${meetingFilter.meetingCapacityList}">
                                    <option value="${capacityType.value}">${capacityType.title}</option>
                                    </sly>
                                </select>
                            </div>
                        </div>
                    </div>
                    <span class="close-icon display-none">
                        <img class="closeIconImg" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
                    </span>
                </div>
            </div>
        </div>
        </sly>

        <div class="events-pg-filter-inner-wrap">
            <sly data-sly-test="${!properties.disablegallery}">
            <div class="events-contact-details hide-in-sm hide-in-md clearfix">
                <sly data-sly-test="${properties.phoneNumber}">
                <div class="ho-contact-number hide-in-sm hide-in-md inline-block disabled">
                    <span class="icon-phone-disabled ho-cm-icon ho-contact-icon inline-block"></span>
                    <div class="inline-block ho-mail-to-txt">${properties.phoneNumber}</div>
                </div>
                </sly>
            </div>
            <!-- <sly data-sly-test="${properties.inspirationUrl}">
            <div class="events-gallery hide-in-sm hide-in-md">
                <a class="ho-mail-to inline-block" href="${properties.inspirationUrl}.html">
                    <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">Inspiration Gallery</div>
                </a>
            </div>
            </sly> --> </sly>
            <sly data-sly-test="${!properties.disablegallery}">
            <div class="events-filter-section">
                <div class="events-filter-subsection clearfix">
                    <div class="events-mobile-filter-title-wrap clearfix">
                        <div class="events-filter-back-arrow">
                            <span class="icon-prev-arrow" tabindex="0" role="button"></span>
                        </div>
                        <div class="events-filter-subheading">Filter By</div>
                    </div>
                    <!-- <div class="events-size-dropdown selectSubContainer">
                        <select aria-label="Meeting size" name="sizeDropdown" id="sizeDropdown"><option selected="" disabled=""
                                hidden="">Size</option>
                            <sly data-sly-list.sizeType="${meetingFilter.meetingSizeList}">
                            <option>${sizeType}</option>
                            </sly></select>
                    </div> -->
                    <div class="selectSubContainer events-capacity-dropdown">
                        <select aria-label="Capacity" name="capacityDropdownlp" id="capacityDropdownlp"><option
                                hidden="">Capacity</option>
                            <sly data-sly-list.capacityType="${meetingFilter.meetingCapacityList}">
                            <option value="${capacityType.value}">${capacityType.title}</option>
                            </sly>
                        </select>
                    </div>
                </div>
            </div>
            </sly>

            <sly data-sly-test="${!properties.disablegallery}">
            <div class="events-request-quote-btn">
                <div class="events-filter-icon-mobile" tabindex="0" role="button">
                    <span class="icon-filter-icon"></Span>
                </div>
                <a href="${inheritedPageProperties.meetingRequestQuotePath}.html"><button
                        class="cm-btn-secondary meeting-request-quote-btn" onclick="setSessionRequestQuoteFilter()">REQUEST
                        QUOTE</button></a>
            </div>
            </sly>
            <span class="request-quote-email-id" hidden>${hotelProperties.requestQuoteEmail}</span>
        </div>
    </div>
</div>
