.mr-ihcl-develop-carousel .mr-carousel-whole-wrapper {
    padding: 21px 73px 14px 110px;
    padding: 1.3125rem 4.5625rem 0.875rem 6.875rem;
}

@media only screen and (max-width: 767px) {
    .mr-ihcl-develop-carousel .mr-carousel-whole-wrapper {
        padding: 0.5rem 2.0625rem  0.5rem;
    }
}

.mr-ihcl-develop-carousel .carousel-control-prev.carousel-control {
    width: 2%;
}

@media only screen and (max-width: 767px) {
    .mr-ihcl-develop-carousel .carousel-control-prev.carousel-control {
        display: block !important;
        top: 33%;
        width: 6%;
    }
}

.mr-ihcl-develop-carousel .carousel-control-next.carousel-control {
    width: 5%;
}

@media only screen and (max-width: 767px) {
    .mr-ihcl-develop-carousel .carousel-control-next.carousel-control {
        display: block !important;
        top: 33%;
        width: 7%;
        right:3%;
    }
}

@media only screen and (max-width: 767px) {
    .mr-ihcl-develop-carousel .carousel-control-prev-icon,
  .mr-ihcl-develop-carousel .carousel-control-next-icon {
        width: 0.875rem;
    }
}

.mr-ihcl-develop-carousel .carousel-item .mr-carousel-inner.row {
    min-height: 105px;
    min-height: 6.5625rem;
}

@media only screen and (max-width: 767px) {
    .mr-ihcl-develop-carousel .carousel-item .mr-carousel-inner.row .mr-carousel-img {
        padding: 0 !important;
    }
}
@media only screen and (min-width: 319px) and (max-width: 414px) {
	.mr-ihcl-develop-carousel .carousel-item .mr-carousel-inner.row .mr-carousel-details .mr-carousel-title {
    font-size: 0.875rem!important;
    padding: 1rem 0.625rem 0.5rem 0 !important;
}
	
}
.mr-ihcl-develop-carousel .carousel-item .mr-carousel-inner.row .mr-carousel-picture-wrapper {
    width: 100%;
    height: 100%;
    background: #ccc;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.33);
}

.mr-ihcl-develop-carousel .carousel-item .mr-carousel-inner.row .mr-carousel-picture-wrapper img {
    height: 100%;
}

.mr-ihcl-develop-carousel .carousel-item .mr-carousel-inner.row .mr-carousel-details .mr-carousel-para {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri;
    color: #494949;
    padding: 24px 10px 24px 39px;
    padding: 0 0.625rem 1.5rem 2.4375rem;
    line-height: normal;
    margin-bottom: 0;
}
.mr-ihcl-develop-carousel .carousel-item .mr-carousel-inner.row .mr-carousel-details .mr-carousel-title {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri;
    color: #494949;
    padding: 24px 10px 24px 39px;
    padding: 1.5rem 0.625rem 0.5rem 2.4375rem;
    line-height: normal;
    margin-bottom: 0;
    font-weight: 700;
}

@media only screen and (max-width: 767px) {
    .mr-ihcl-develop-carousel .carousel-item .mr-carousel-inner.row .mr-carousel-details .mr-carousel-para {
        font-size: 0.875rem;
        padding: 0 0 0 0.5625rem;
        margin: 0;
        display:none;                                               

    }
   .mr-ihcl-develop-carousel .carousel-item .mr-carousel-inner.row .mr-carousel-picture-wrapper {
    width: 100%;
    height: 75%;
    margin-top: 10%;
    background: #ccc;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.33);
}
.mr-ihcl-develop-carousel .carousel-item .mr-carousel-inner.row .mr-carousel-details .mr-carousel-title {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri;
    color: #494949;
    padding: 24px 10px 24px 39px;
    padding: 0.5rem 0.625rem 0.5rem 0;
    line-height: normal;
    margin-bottom: 0;
    font-weight: 700;
}

}
.mr-ihcl-develop-carousel .carousel-control-next-icon{
	    background-image: url(/content/dam/tajhotels/ihcl/Logos/ihcl-arrow-left.svg);
}
.mr-ihcl-develop-carousel .carousel-control-prev-icon{
	    background-image: url(/content/dam/tajhotels/ihcl/Logos/ihcl-arrow-left.svg);
	    transform: rotate(180deg);
}
.mr-ihcl-devcarousel .mr-carousel-inner{
	height:100%;
}
.mr-carousal-details-card {
    background-color: #FFFFFF;
    }
.mr-dots-ihcl {
    margin-bottom: -9px !important;
        }
}

