.comparion-description {
    display: none;
}

.button-wrapper {
    text-align: right;
    margin-top: 22px;
    margin-top: 1.375rem;
}

@media only screen and (max-width: 767px) {
    .comparion-description {
        display: block;
    }

    .comparion-description .description-content {
        min-height: unset;
        padding-left: 0.9375rem;
        font-family: calibri;
    }
}


