<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.hotel-card-full-width'}" />
<sly data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher" />
<sly data-sly-use.hService="com.ihcl.core.models.FetchHotelsServiceModel" data-sly-test="${hService.hotel.hotelName!= null}">
<sly data-sly-test.hotelData="${hService.hotel}" />
<div class="list-view-wrapper mr-${hotelData.hotelType}-typehotel" data-hotelid="${hotelData.hotelId}"
    data-hotelbrand="${hotelData.hotelBrand}" data-popularity="${hotelData.totalReview}"
    data-rating="${hotelData.reviewScore}" data-hotel-city="${hotelData.hotelCity}"
    data-state="${hotelData.state}" data-zipCode="${hotelData.hotelPinCode}"
    data-hotelCountry="${hotelData.hotelCountry}"
    data-key={brand:${hotelData.hotelBrand},price:${hotelData.hotelId},rating:${hotelData.reviewScore},popularity:${hotelData.totalReview}}>
    <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />
    
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="mr-list-hotel-image-wrap">
                <sly
			data-sly-call="${imagetemplate.damImageTemplate @ imagePath= hotelData.imageUrl, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true', styleClass='list-hotel-image'}"></sly>
			
                <div class="mr-list-hotel-ratings-reviewCount">
                    <div class="mr-rating-wrap" data-sly-test="${hotelData.reviewScore}">
                        ${hotelData.reviewScore}</div>
                    <div class="mr-reviewCount-wrap" data-sly-test="${hotelData.totalReview}">
                        ${hotelData.totalReview} Reviews</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="mr-list-hotel-description-offerwrap">
                <div class="row">
                    <div class="col-12">
                        <div class="mr-list-hotel-title-offer-wrap">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="mr-offer-description-employee">${hotelData.hotelName}</h2>
                                </div>
                                <div class="col-8">
                                    <h2 class="mr-list-hotel-title">${hotelData.hotelName}</h2>
                                </div>
                                <div class="col-4">
                                    <div class="mr-list-hotel-offer" style="display: block" data-sly-test="">
                                        <div class="mr-list-hotel-offer-description">
                                            <span class="mr-mobile-display-none">------</span>
                                        </div>
                                        <div class="mr-list-hotel-offer-tag">
                                            <span>----</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mr-list-hotel-description-wrapper">
                            <div class="row">
                                <div class="col-12 col-md-5 col-lg-4">
                                    <div class="mr-list-hotel-description">
                                        <a class="inline-block" target="_blank" itemprop="hasMap"
                                            href="https://www.google.com/maps/search/?api=1&query=${hotelData.lat},${hotelData.lng}">
                                            <div class="mr-hotel-location-address">
                                                <div class="mr-list-location-icon-wrap">
                                                    <i class="mr-list-location-icon icon-location"></i>
                                                </div>
                                                <div class="mr-list-address-wrap">
                                                    <span class="mr-desktop-address mr-mobile-display-none">
                                                        ${hotelData.hotelArea}, ${hotelData.hotelCity} </span>
                                                    <span class="mr-mobile-address mr-desktop-display-none">${hotelData.hotelArea},
                                                        ${hotelData.hotelCity}</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="mr-hotel-distanceFrom-airport">${hotelData.locationStats}</div>
                                        <div class="mr-list-hotel-about mr-mobile-display-none">
                                            ${hService.hotelDetails['hotelShortDesc'] @context='html'}</div>
                                    </div>
                                </div>
                                <div class="mr-list-specs-wrap col-5 col-md-4 col-lg-5">
                                    <div class="mr-list-hotel-specifications">
                                        <div class="row">
                                            <sly data-sly-list.signature="${hotelProperties.signatureModel}"> <sly
                                                data-sly-test=${signature.groupIconPath}>
                                            <div class="col-12 col-md-12 col-lg-6 ho-each-ameneties-sec">
                                                <div class="image-container">
                                               	  <i class="${signature.groupIconPath}"></i> 
                                                </div>
                                                <div class="ho-signature-name inline-block">${signature.signatureFeatureValue}</div>
                                            </div>
                                            </sly> </sly>
                                        </div>
                                    </div>
                                </div>
                                <div class="mr-list-price-wrap col-7 col-md-3 col-lg-3">
                                    <div class="waiting-spinner waiting-spinner-destination-cards">
                                        <div>Fetching best rates</div>
                                        <div class="taj-loader">
                                            <div class="taj-loader-circle"></div>
                                            <div class="taj-loader-circle"></div>
                                            <div class="taj-loader-circle"></div>
                                        </div>
                                    </div>
                                    <div class="mr-list-hotel-price-tic">
                                        <div class="mr-starting-rate">Starting Rate/Night</div>
                                        <div class="mr-list-current-discounted-rates-wrap">
                                            <del class="mr-list-hotels-delrate">
                                                <span class="mr-rupee-list-hotel">₹</span>
                                                <span class="discounted-rate"> ${hotelData.amountBeforeTax} </span>
                                            </del>
                                            <span class="mr-current-rate-list">
                                                <span class="mr-rupee-list-hotel">₹ </span>
                                                <span class="current-rate"> ${hotelData.amountAfterTax} </span>
                                                <span class="current-rate-asterisk">*</span>
                                            </span>
                                            <span class="mr-current-tic-epicure">
                                                <span class="tic-points"></span>
                                                <span class="tic">TIC</span>
                                            </span>
                                            <div class="room-rate-unavailable">
                                                <span>Unavailable</span>
                                            </div>
                                        </div>
                                           <a  href="${hotelData.hotelPath}">
                                            <button class="cm-btn-secondary mr-list-view-hotels-button">VIEW HOTEL</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</sly>