.popularDest-wrap,
.cm-inner-carousal-cards {
    float: left;
    box-shadow: 0 2px 14px 0 #e5e3e3;
    background-color: #ffffff;
}

.popularDest-imageContainer {
    padding: 0;
    width: 100%;
    height: 400px;
    height: 25rem;
    background-color: #ccc;
}

.popularDest-imageContainer img {
    width: 100%;
    height: 100%;
}

.popularDest-details-container {
    width: 100%;
    background: #ffffff;
    color: #323232;
    font-size: 22px;
    font-size: 1.375rem;
    font-family: Calibri;
    padding: 30px 0 36px 25px;
    padding: 1.875rem 0 2.25rem 1.5625rem;
}

@media only screen and (min-device-width: 1023px) and (max-device-width: 1100px) {
    .popularDest-details-container {
        padding: 20px 0 25px 15px;
    }
}

@media only screen and (max-device-width: 575px) {
    .popularDest-details-container {
        padding: 1.5rem 0 1.5rem 1rem;
    }
}

.popularDest-details-container .popularDest-details-name {
    display: inline-block;
    line-height: 20px;
    line-height: 1.25rem;
    width: 50%;
    vertical-align: middle;
    word-wrap: break-word;
}

@media only screen and (max-device-width: 374px) {
    .popularDest-details-container .popularDest-details-name {
        width: 40%;
    }
}

.view-detials-button {
    display: inline-block;
    vertical-align: top;
}

.popularDest-details-container .view-detials-button {
    vertical-align: top;
}

@media only screen and (min-device-width: 351px) and (max-device-width: 768px) {
    .popularDest-details-container .view-detials-button {
        margin-left: 20px;
    }
}

@media only screen and (max-device-width: 350px) {
    .popularDest-details-container .view-detials-button {
        margin-left: 5px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .cm-inner-carousal-cards:first-child {
        margin-left: 0 !important;
    }
}

