
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.header'}" />
<sly data-sly-test.ihclClass="${properties.enableihcl?'ihcl-header':'taj-header'}" />
<header class="header ${ihclClass}">
    <sly data-sly-use.header="com.ihcl.core.models.header.Header" />
    <div class="header-warpper container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 header-inner-wrap">
                <nav class="navbar navbar-expand-lg navbar-light ${properties.brandCustomClass}">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"> </span>
                    </button>
                    <div class="navbar-brand ${properties.tajSatsHeaderClass} ${properties.chambersHeaderClass}">
                        <a aria-label="Navigate to Home Page" class="navbar-brand-anchor"
                            href="${properties.brandLinkUrl}.html" rel="${properties.brandLinkNofollow ? 'nofollow' : ''}">
                            <sly data-sly-test="${inheritedPageProperties.customLogoPath}">
                            <div class="brand-logo-wrapper custom-logo">
                                <img class="taj-image ${properties.chambersLogoImage} ${properties.holidayLogoImage}"
                                    src="${inheritedPageProperties.customLogoPath}" alt="${properties.brandImgAlt}" />
                            </div>
                            </sly> <sly data-sly-test="${!inheritedPageProperties.customLogoPath}">
                            <div class="brand-logo-wrapper is-taj-logo">
                                <img class="taj-image" src="/content/dam/tajhotels/icons/style-icons/logo-taj@2x.png"
                                    alt="${properties.brandImgAlt}" />
                            </div>
                            <div class="brand-logo-wrapper is-vivanta-logo">
                                <img class="taj-image" src="/content/dam/vivanta/vivanta-logo-test.png"
                                    alt="${properties.brandImgAlt}" />
                            </div>
                            <div class="brand-logo-wrapper is-gateway-logo">
                                <img class="taj-image" src="/content/dam/tajhotels/icons/style-icons/logo-gateway@2x.png"
                                    alt="${properties.brandImgAlt}" />
                            </div>
                            <div class="brand-logo-wrapper is-seleqtions-logo">
                                <img class="taj-image"
                                    src="/content/dam/tajhotels/icons/style-icons/seleqtions-brand-icon.png"
                                    alt="${properties.brandImgAlt}" />
                            </div>
                            <div class="brand-logo-wrapper is-holiday-logo">
                                <img class="taj-image" src="/content/dam/holidays/homepage/logo/Taj-Holidays-Logo-01-1.png"
                                    alt="${properties.brandImgAlt}" />
                            </div>
                            <div class="brand-logo-wrapper is-khazana-logo" style="display: none;">
                                <img class="taj-image" src="/content/dam/tajhotels/logos/taj-logos/Khazana-Logo gold.png"
                                    alt="${properties.brandImgAlt}" />
                            </div>
                            <div class="brand-logo-wrapper is-air-logo">
                                <img class="taj-image" src="/content/dam/tajhotels/taj-air/tajairlogo1.png"
                                    alt="${properties.brandImgAlt}" />
                            </div>
                            <div class="brand-logo-wrapper is-sats-logo" style="display: none;">
                                <img class="taj-image" src="/content/dam/tajhotels/taj-sats/taj_sats-01.png"
                                    alt="${properties.brandImgAlt}" />
                            </div>
                            </sly>
                        </a>
                        <span class="profile-username show-only-in-mobile-ihclcb">...</span>
                    </div>


                    <sly data-sly-test="${properties.bookingBtnLabel}">
                    <button data-sly-test="${!properties.bookingBtnRedirection}" class="cm-btn-secondary book-stay-btn"
                        data-dialog-btn="bookAStay" data-isRedirect="${properties.bookingBtnRedirection}"
                        data-redirectUrl="${properties.bookingBtnRedirectionUrl}">${properties.bookingBtnLabel}</button>

                    <a class="book-stay-btn" data-sly-test="${properties.bookingBtnRedirection}"
                        href="${properties.bookingBtnRedirectionUrl}"><button class="cm-btn-secondary book-stay-btn"
                            data-dialog-btn="bookAStay" data-isRedirect="${properties.bookingBtnRedirection}"
                            data-redirectUrl="${properties.bookingBtnRedirectionUrl}">
                            ${properties.bookingBtnLabel}</button></a> </sly>

                    <sly data-sly-test="${properties.tajAirQuote}">
                    <button class="cm-btn-secondary quick-quote-btn">${properties.tajAirQuote}</button>
                    </sly>
                    <div
                        class="collapse navbar-collapse  ${properties.chambersHeaderNavClass} ${properties.tajSatsHeaderNavClass}"
                        id="navbarSupportedContent">
                        <div class="navbar-collapse-inner">
                            <div class="navbar-heading clearfix">
                                <span class="header-mobile-back-btn icon-prev-arrow"></span>
                                <sly data-sly-test="${inheritedPageProperties.customLogoPath}"> <img
                                    alt="custom log icon" class="header-taj-icon-mobile custom-logo"
                                    src="${inheritedPageProperties.customLogoPath @ context='html'}" /> </sly>
                                <sly data-sly-test="${!inheritedPageProperties.customLogoPath}"> <img
                                    class="header-taj-icon-mobile" src="${properties.brandImg}"
                                    alt="${properties.brandImgAlt}" /> <img class="header-ihcl-icon-mobile"
                                    src="/content/dam/tajhotels/icons/style-icons/ihcl-logo.svg" alt="IHCL-logo" /> </sly>
                                <a class="header-taj-link" aria-label="header taj link"
                                    href="${inheritedPageProperties.siteConfigHomePath}.html"
                                    rel="${properties.brandLinkNofollow ? 'nofollow' : ''}">${inheritedPageProperties.websiteName}</a>
                            </div>
							
                            <sly data-sly-test.isSigninDisabled=${!properties.isSigninDisabled}>
                            <div id="header-profile"
                                class="header-profile nav-item header-profile-wrp cm-hide hide-in-md hide-in-lg ${properties.brandCustomClass}">
                                <div class="profile-name-wrp cm-align-table">
                                    <div class="cm-align-table-cell">
                                        <span class="profile-hi-text">Hi, </span>
                                        <span class="profile-username"></span>
                                        <img class="inline-block header-dropdown-image last-image"
                                            src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg"
                                            alt="drop down arrow" />
                                    </div>
                                </div>
                                <div class="profile-options">
                                    <div id="points-cont" class="points-cont profile-tic-options d-none">
                                        <div id="tic-tier" class="tic-tier prof-tic-header">
                                            <span class="tic-platinum-title"></span>
                                        </div>
                                        <div class="prof-tic-content">
                                            <div class="prof-content-wrp row">
                                                <div class="prof-content-title col-6">${properties.ticPtsLabel}</div>
                                                <div id="tic-points" class="tic-points prof-content-value col-6"></div>
                                            </div>
                                            <div class="prof-content-wrp row">
                                                <div class="prof-content-title col-6">${properties.tapPtsLabel}</div>
                                                <div id="tap-points" class="tap-points prof-content-value col-6"></div>
                                            </div>
                                            <div class="prof-content-wrp row">
                                                <div class="prof-content-title col-6">${properties.tappmePtsLabel}</div>
                                                <div id="tappme-points" class="tappme-points prof-content-value col-6"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-default-options profile-enrol-btn">
                                        <a data-component-id="enrol-btn" href="${properties.enrolRedirectLink}"><div
                                                class="profile-default-option">${properties.loggedInEnrollLabel}</div></a>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="profile-default-options" data-sly-test="${properties.profileBtnLabel}">
                                            <a href="${properties.profileBtnLink}.html">
                                                <div class="profile-default-option my-profile-default-option">${properties.profileBtnLabel}</div>
                                            </a>
                                        </div>
                                        <div class="profile-default-options" data-sly-test="${properties.signOutBtnLabel}">
                                            <div id="logout-btn" data-redirect-link="${properties.signOutRedirectLink}"
                                                class="logout-btn profile-default-option">${properties.signOutBtnLabel}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </sly>
                            <sly data-sly-test="${header.headers}">
                            <div class="navbar-nav mr-auto" data-sly-list.tabs="${header.headers}">

                                <sly data-sly-test="${tabs.link}"> <sly data-sly-test="${tabs.externalLink}">
                                <div class="nav-item">
                                    <a class="nav-link text-caps" href="${tabs.link}"
                                        rel="${tabs.headerNofollowStatus ? 'nofollow' : ''}"
                                        target="${tabs.redirectToNewTab}" onclick="return stopAnchorPropNav(this)">${tabs.headerLabel} </a>
                                </div>
                                </sly> <sly data-sly-test="${!tabs.externalLink}">
                                <div class="nav-item">
                                    <a class="nav-link text-caps" href="${tabs.link}.html"
                                        rel="${tabs.headerNofollowStatus ? 'nofollow' : ''}"
                                        target="${tabs.redirectToNewTab}" onclick="return stopAnchorPropNav(this)">${tabs.headerLabel}</a>
                                </div>
                                </sly> </sly>
                                <sly data-sly-test="${!tabs.link}"> <sly
                                    data-sly-test.subHeaderEmpty="${!tabs.subHeader}" /> <sly
                                    data-sly-test="${!subHeaderEmpty}">
                                <div class="nav-item clearfix nav-item-with-arrow">
                                    <div class="nav-link text-caps cm-header-dropdowns nav-others">
                                        <div class="ihcl-hamburger-changes">
                                            ${tabs.headerLabel}
                                            <span class="inline-block header-dropdown-image icon-drop-down-arrow"></span>
                                        </div>
                                        <div class="box-with-top-arrow cm-header-dd-options-con header-others-options">
                                            <ul class="cm-header-dd-list-con" data-sly-list.subHeaders="${tabs.subHeader}">
                                                <li class="cm-each-header-dd-item">
                                                    <a href="${subHeaders.link}.html"
                                                        rel="${subHeaders.subHeaderNofollowStatus ? 'nofollow' : ''}"
                                                        target="${subHeaders.redirectToNewTab}">${subHeaders.headerLabel}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                </sly> </sly>


                            </div>
                            </sly>

                            <div class="form-inline my-2 my-lg-0 header-form-mobile-view">
                                <div class="navbar-quick-quote">
                                    <sly data-sly-test="${properties.tajAirQuote}">
                                    <button class="cm-btn-secondary quick-quote-btn">${properties.tajAirQuote}</button>
                                    </sly>
                                </div>
                                <div class="navbar-nav">
                                    <div class="nav-item book-a-stay-con">
                                        <sly data-sly-test="${properties.pageScope}">
                                        <div id="page-scope" data-pagescope="Taj Holidays"></div>
                                        </sly>
                                        <sly data-sly-test="${!properties.pageScope}">
                                        <div id="page-scope" data-pagescope="Taj Hotels"></div>
                                        </sly>

                                        <sly data-sly-test="${properties.bookingBtnLabel}">
                                        <button data-sly-test="${!properties.bookingBtnRedirection}"
                                            class="cm-btn-secondary book-stay-btn" data-dialog-btn="bookAStay"
                                            data-isRedirect="${properties.bookingBtnRedirection}"
                                            data-redirectUrl="${properties.bookingBtnRedirectionUrl}">
                                            ${properties.bookingBtnLabel}</button>
                                        <a data-sly-test="${properties.bookingBtnRedirection}"
                                            href="${properties.bookingBtnRedirectionUrl}"><button
                                                class="cm-btn-secondary book-stay-btn" data-dialog-btn="bookAStay"
                                                data-isRedirect="${properties.bookingBtnRedirection}"
                                                data-redirectUrl="${properties.bookingBtnRedirectionUrl}">
                                                ${properties.bookingBtnLabel}</button></a> </sly>
                                        <span class="middle-allignment"> </span>
                                    </div>

                                    <sly data-sly-test="${properties.disablecurrency && properties.disablelanguage}">
                                    <div class="nav-item line-separator-con" style="display: none;">
                                    </sly>
                                    <sly data-sly-test="${!properties.disablecurrency || !properties.disablelanguage}">
                                    <div class="nav-item line-separator-con">
                                    </sly>
                                    <div class="line-separator"></div>
                                    <span class="middle-allignment"> </span>
                                </div>
                                <div class="nav-item" data-sly-test="${properties.showEnrolBtn}">
                                    <a class="nav-link text-caps log-spacing" data-component-id="enrol-btn"
                                        href="${properties.enrolRedirectLink}">${properties.enrolBtnLabel}</a>
                                    <span class="middle-allignment"></span>
                                </div>
                                <sly data-sly-test.isSigninDisabled=${!properties.isSigninDisabled}>
                                   
                                <div id="sign-in-btn" class="nav-item generic-signin-btn sign-in-btn ml-md-3">
                                    <a data-sly-test="${properties.signInBtnLabel}" class="nav-link text-caps log-spacing"
                                        href="#">${properties.signInBtnLabel}</a>
                                    <span class="middle-allignment"></span>
                                </div>
                                <div id="header-profile"
                                    class="header-profile nav-item header-profile-wrp cm-hide hide-in-sm px-md-0">
                                    <div class="profile-name-wrp cm-align-table">
                                        <div class="cm-align-table-cell">
                                            <span class="profile-hi-text">Hi, </span>
                                            <span class="profile-username"></span>
                                            <img class="inline-block header-dropdown-image last-image"
                                                src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg"
                                                alt="drop down arrow" />
                                        </div>
                                    </div>
                                    <div class="profile-options">
                                        <div id="points-cont" class="points-cont profile-tic-options d-none">
                                            <div id="tic-tier" class="tic-tier prof-tic-header">
                                                <span class="tic-platinum-title"></span>
                                            </div>
                                            <div class="prof-tic-content">
                                                <div class="prof-content-wrp row">
                                                    <div class="prof-content-title col-6">${properties.ticPtsLabel}</div>
                                                    <div id="tic-points" class="tic-points prof-content-value col-6"></div>
                                                </div>
                                                <div class="prof-content-wrp row">
                                                    <div class="prof-content-title col-6">${properties.tapPtsLabel}</div>
                                                    <div id="tap-points" class="tap-points prof-content-value col-6"></div>
                                                </div>
                                                <div class="prof-content-wrp row">
                                                    <div class="prof-content-title col-6">${properties.tappmePtsLabel}</div>
                                                    <div id="tappme-points" class="tappme-points prof-content-value col-6"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="profile-default-options profile-enrol-btn"
                                            data-sly-test="${properties.loggedInEnrollLabel}">
                                            <a data-component-id="enrol-btn" href="${properties.enrolRedirectLink}"><div
                                                    class="profile-default-option">${properties.loggedInEnrollLabel}</div></a>
                                        </div>
                                        <div class="profile-default-options" data-sly-test="${properties.profileBtnLabel}">
                                            <a href="${properties.profileBtnLink}.html">
                                                <div class="profile-default-option my-profile-default-option">${properties.profileBtnLabel}</div>
                                            </a>
                                        </div>
                                        <div class="profile-default-options" data-sly-test="${properties.signOutBtnLabel}">
                                            <div id="logout-btn" data-redirect-link="${properties.signOutRedirectLink}"
                                                class="logout-btn profile-default-option">${properties.signOutBtnLabel}</div>
                                        </div>
                                    </div>
                                </div>
                                </sly>
                                <sly data-sly-test="${properties.disablelanguage}">
                                <div class="nav-item" style="display: none;">
                                </sly>
                                <sly data-sly-test="${!properties.disablelanguage}">
                                <div class="nav-item">
                                </sly>
                                <div class="nav-link text-caps log-spacing cm-header-dropdowns" tabindex="0" role="button">
                                    <img class="inline-block selected-flag"
                                        src="${properties.selectedLangImg @ context='html'}" alt="Website Language Flag" />
                                    <span class="inline-block selected-txt">${properties.selectedLangLabel}</span>
                                    <span class="inline-block header-dropdown-image last-image icon-drop-down-arrow"></span>
                                    <span class="inline-block middle-allignment"> </span>
                                    <div class="box-with-top-arrow cm-header-dd-options-con header-language-options">
                                        <ul class="cm-header-dd-list-con" data-sly-list.language="${header.languageLinks}">
                                            <li class="cm-each-header-dd-item">
                                                <a class="inline-block" href="${language.link}"> <img
                                                    class="inline-block header-dd-option-img"
                                                    src="${language.img @ context='html'}" alt="${language.title} flag" />
                                                    <div class="inline-block header-dd-option-text">${language.title}</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <span class="middle-allignment"> </span>
                            </div>
                            <sly data-sly-test.mode="${properties.disablecurrency}">
                            <div class="nav-item" style="display: none;">
                            </sly>
                            <sly data-sly-test.mode="${!properties.disablecurrency}">
                            <div class="nav-item">
                            </sly>
                            <div class="nav-link text-caps log-spacing cm-header-dropdowns">
                                <sly data-sly-list="${header.currencyOptions}"> <sly data-sly-test="${itemList.first}">
                                <span class="selected-currency inline-block" data-selected-currency="${item.id}"
                                    data-inject-key="currencySymbol"> </span> <span class="selected-txt inline-block"
                                    data-inject-key="currency"> </span></sly> </sly>
                                <span class="inline-block header-dropdown-image last-image icon-drop-down-arrow"></span>
                                <span class="middle-allignment inline-block"> </span>
                                <div class="box-with-top-arrow cm-header-dd-options-con header-currency-options">
                                    <ul class="cm-header-dd-list-con" data-sly-list.currency="${header.currencyOptions}">
                                        <li class="cm-each-header-dd-item" data-currency-id="${currency.id}">
                                            <a class="inline-block">
                                                <div class="inline-block header-dd-option-currency">${currency.img}</div>
                                                <div class="inline-block header-dd-option-text">${currency.title}</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="middle-allignment"> </span>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </nav>
    </div>
    </div>
    </div>
    <div>
        <sly data-sly-test="${!properties.bookingBtnRedirection}"> <sly
            data-sly-resource="${'hotel-book' @ resourceType='tajhotels/components/content/book-a-stay'}" /> </sly>
        <sly data-sly-test="${properties.tajAirPage}"> <sly
            data-sly-resource="${'hotel-book' @ resourceType='tajhotels/components/content/taj-air-quotation'}" /> </sly>

        <div id="corporate-ihclcb-resetpopup" data-sly-test=${properties.ihclcbResetPopup}>
            <div data-sly-resource="${'par' @ resourceType='tajhotels/components/content/ihclcb/ihclcb-reset-userdetails'}">
            </div>
        </div>
</header>

 



