<div data-sly-test.edit=${wcmmode.edit}>
<h1>ihcl guest Speak component</h1>
</div>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihclGuestSpeak'}" />
<sly data-sly-use.model="com.ihcl.core.models.ihcl.IhclGuestSpeakModel" />
<div class="mr-employee-container the-page-carousel">
    <div class="clearfix">

  <sly data-sly-list.key="${model.list}">
  
<div class="guest-speak-card-only-comment" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
  <div class="guest-individual-card-backFront-wrapper guest-card3">
        <div class="guest-card-component card back-side-card">
            <div class="card-header">
                <div class="guest-quote">${key.description @context='html'}</div>
            </div>
            <div class="line"></div>
            <div class="card-footer guest-card-footer">
                <div class="guest-photo"><sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=key.image,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly></div><small>${key.name}</small><a class="social-media-link">${key.designation}</a></div>
        </div>
    </div>
</div>
</sly>
</div>
</div>
