<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" 
	data-sly-call="${clientlib.all @ categories='holidays-destination-explore'}" />

<div data-sly-test.edit=${wcmmode.edit}>
    <h5>Specific Itinerary Details are configurable in this section</h5></div>

