.ama-cards-container{
  align-content: space-between;
padding: 0px 0px 20px 0px;
}
/* .ama-card:nth-child(odd) {
  margin-right: 15px;
  margin-right: 0.9375rem;
}

.ama-card:nth-child(even) {
  margin-left: 15px;
  margin-left: 0.9375rem;
} */

/* .ama-card:nth-last-child(1),
.ama-card:nth-last-child(2) {
  margin-bottom: 0px;
  margin-bottom: 0rem;
} */

.cards-title{
 height: 29px;
 font-family: var(--themeContentFontRegular);
 font-size: 2rem;
 font-weight: 600;
 color: #000000;
 text-align: center;
 margin: 40px 0px 10px 0px;
}

.cards-desc{
font-family: var(--themeContentFontRegular);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.18px;
text-align: center;
color: #333333;
text-align: center;
margin: 10px 0px 20px 0px;
}

.ama-card {
height: auto;
box-shadow: 0 20px 48px -10px rgba(0, 0, 0, 0.11);
background-color: #ffffff;
position: relative;
margin-bottom: 30px;
}

.ama-cards .cards-title{
  margin-bottom: 20px;
}
.ama-cards .cm-btn-secondary{
  padding:9px 20px 0 20px;
  width: max-content;
}
.ama-second {
  padding: 35px 60px 30px 40px;
  background: #ffffff;
}
.ama-card .card-image{
height: auto;
}
.card-image img{
width: 100%;
height: 280px;
}

.card-logo img{
height: 50px;
margin-bottom: 15px;
max-width: fit-content;
object-fit: contain;
}

.card-logo-title {
height: 24px;
font-size: 20px;
letter-spacing: 0.56px;
color: #000000;
}
.card-desc {
width: 100%;
min-height: 140px;
font-family: var(--themeContentFontRegular);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.6px;
color: #333333;
}

.viewall-container {
font-family: var(--headingFont);
font-size: 14px;
font-weight: bold;
line-height: 1.79;
letter-spacing: 1.56px;
color: var(--primaryColor);
text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width:767px) {
  .ama-card{
    max-width: 100%;
    margin-bottom: 1rem !important;
    padding: 0px !important;
  }
  .ama-card:nth-child(odd),.ama-card:nth-child(even){
    margin: 0rem;
  }
  .ama-second{
    padding: 20px;
  }
  .ama-card .card-image {
    height: 240px;
  } 
  .card-desc {
    min-height: auto;
    margin-bottom: 15px;
  }
}