.tic-room-redemption-fix .ckeckout-details{
    margin-left:5.5rem;
}
.tic-room-redemption-fix .ckeckout-details .ckeckout-details-amount{
font-size: 1rem;
}
.tic-room-redemption-fix .total-prize-con span{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    display: inline-block;
}
.tic-room-redemption-fix .summary-charges-item-con .summary-charges-item-value span{
    font-size: 1rem;
}

@media only screen and (max-width: 767px) {
    .tic-room-redemption-fix .summary-charges .summary-charges-item-con .summary-charges-item-value{
        position:unset;
    }
    .tic-room-redemption-fix .summary-charges-item-con .summary-charges-item-value span{
        font-size: 1rem;
    }
    .tic-room-redemption-fix .checkout-image .checkout-num{
        position: absolute;
        top: 0.8125rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        line-height: 1.5rem;
        left: 1.59375rem;
        font-size: 0.875rem;
    }
    .tic-room-redemption-fix .checkout-image img{
        width: 35px;
    }
    .tic-room-redemption-fix .ckeckout-details .ckeckout-details-text{
        text-align: right;
    }
    .tic-room-redemption-fix .ckeckout-details{
        top:0.75rem;
    }
    .tic-room-redemption-fix .rate-card-room-rate-container .rate-card-actual-rate{
        font-size:1rem;
    }
}
