.conciege-local-city-wrapper {
	padding: 17px;
	padding: 1.0625rem;
	background-color: #ffffff;
	box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
	font-family: Calibri-bold;
	color: #323232;
}

@media only screen and (max-width: 480px) {
	.conciege-local-city-wrapper {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

.conciege-local-city-wrapper .conciege-local-city-container .title-warpper
	{
	width: 80%;
	display: block;
	float: right;
}

@media only screen and (max-width: 767px) {
	.conciege-local-city-wrapper .conciege-local-city-container .title-warpper
		{
		width: 60%;
		margin-top: 5%;
	}
}

.conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer
	{
	width: 17%;
	display: block;
	float: left;
	height: 223px
}

@media only screen and (max-width: 767px) {
	.conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer
		{
		width: 100%;
	}
}

.conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer img
	{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.conciege-local-city-wrapper .conciege-local-city-container .conceige-details-container
	{
	width: 80%;
	float: right;
	margin-top: 20px;
	margin-top: 1.25rem;
	font-size: 16px;
	font-size: 1rem;
	font-family: Calibri;
	line-height: 1.38;
}

@media only screen and (max-width: 767px) {
	.conciege-local-city-wrapper .conciege-local-city-container .conceige-details-container
		{
		width: 100%;
	}
}

.conciege-local-city-wrapper .conciege-local-city-container .conceige-header
	{
	font-size: 22px;
	font-size: 1.375rem;
}

@media only screen and (max-width: 767px) {
	.conciege-local-city-wrapper .conciege-local-city-container .conceige-header
		{
		font-size: 1.375rem;
	}
}

.conciege-local-city-wrapper .conciege-local-city-container .conceige-sub-header
	{
	font-size: 16px;
	font-size: 1rem;
}

.appostro .conciege-local-city-wrapper .conciege-local-city-container .title-warpper,
	.appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-details-container
	{
	width: 78%;
}

.appostro .quotation-marks {
	width: 3%;
	float: left;
}

@media only screen and (max-width: 767px) {
	.appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer
		{
		width: 100%;
		text-align: center;
	}
	.appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer img
		{
		width: 27%;
	}
	.appostro .quotation-marks {
		display: block;
		width: 100%;
		margin-bottom: 0;
	}
	.appostro .quotation-marks img {
		display: block;
	}
	.appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-details-container,
		.appostro .conciege-local-city-wrapper .conciege-local-city-container .title-warpper
		{
		width: 100%;
	}
	.appostro .conciege-local-city-wrapper .conciege-local-city-container .title-warpper .conceige-header,
		.appostro .conciege-local-city-wrapper .conciege-local-city-container .title-warpper .conceige-sub-header
		{
		text-align: center;
	}
	.appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-details-container
		{
		padding-left: 31px;
		margin-top: 0;
	}
}

.concierge-det p {
	text-align: justify;
}

.rooms-suites-description span {
	font-weight: bold;
}