#bannerCarousel .position-abs {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#bannerCarousel .mr-banner-btn-anc {
	display: inline-block;
	width: 100%;
}

.mr-carousel-wrap .banner-carousel-each-wrap video {
	object-fit: cover;
}

@media all and (-ms-high-contrast:none), all and  (-ms-high-contrast:active) {
	.mr-carousel-wrap .banner-carousel-each-wrap video,
    .mr-carousel-wrap .banner-carousel-each-wrap iframe {
        transform: scale(1.7);
    }
}

.mr-carousel-wrap .banner-carousel-each-wrap.video-banner {
	height: 36rem;
}

.banner-video-cont {
	position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    /*padding-top: 25px;*/
    height: 0;
}

.banner-video-cont iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media only screen and (max-width: 767px) {
	.banner-video-cont {
	   height: 100%;
	   padding: 0;
	}
    .mr-carousel-wrap .banner-carousel-each-wrap.video-banner {
        height: 14rem;
    }
    
    .mr-carousel-wrap .banner-carousel-each-wrap.video-banner .mr-carousel-image-contents-wrapper {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .mr-carousel-wrap .banner-carousel-each-wrap.video-banner {
        height: 11rem;
    }
}

.mr-carousel-wrap {
	position: relative;
	font-family: 'SunSans-Demi';
}

.mr-carousel-wrap img.img-hotel,
.mr-carousel-wrap .banner-carousel-each-wrap,
.mr-carousel-wrap .banner-carousel-each-wrap img {
	height: 31.875rem;
}

.mr-carousel-wrap .banner-carousel-each-wrap img {
	min-height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.mr-carousel-wrap .banner-carousel-each-wrap,
	.mr-carousel-wrap .banner-carousel-each-wrap img {
		height: 36.0625rem;
	}
}

.tic-banner-content-fac {
	cursor: pointer;
	margin-right: 2.1875rem;
}

.tic-banner-content-sub-heading {
	width: 55%;
}

@media only screen and (max-width: 767px) {
	.mr-carousel-wrap img.img-hotel,
	.mr-carousel-wrap .banner-carousel-each-wrap,
	.mr-carousel-wrap .banner-carousel-each-wrap img {
		height: 25rem;
	}
}

.mr-carousel-wrap .mr-carousel-image-contents-wrapper {
	position: absolute;
	width: 100%;
	top: 34%;
}

@media only screen and (max-width: 767px) {
	.mr-carousel-wrap .mr-carousel-image-contents-wrapper {
		padding: 0 20px;
		text-align: center;
	}
}

.mr-carousel-wrap .mr-visit-hotel {
	min-width: 8.75rem;
	box-shadow: 0px 0px 10px 0px #000000;
}

.mr-carousel-wrap .mr-offers-and-promotions {
	text-shadow: 1px 5px 10px #000000;
	font-family: Calibri-bold;
	font-size: 2.25rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

@media only screen and (max-width: 767px) {
	.mr-carousel-wrap .mr-offers-and-promotions {
		font-size: 1.75rem;
	}
}

.mr-carousel-wrap .mr-horizontal-line {
	width: 30%;
	margin: 1rem auto;
	height: 0.125rem;
	background-color: #d6bc94;
}

.mr-carousel-wrap .mr-innerCircle-member-offers {
	text-shadow: 1px 5px 10px #000000;
	font-family: Calibri;
	font-size: 1.25rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	color: #ffffff;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

@media only screen and (max-width: 767px) {
	.mr-carousel-wrap .mr-innerCircle-member-offers {
		font-size: 1.25rem;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}
}

.mr-carousel-wrap .mr-save-offer {
	margin: 8px 0px;
	margin: 0.5rem 0rem;
	font-family: SunSans-Demi;
	font-size: 1.25rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: normal;
	color: #ffffff;
}

@media only screen and (max-width: 767px) {
	.mr-carousel-wrap .mr-save-offer {
		font-size: 0.875rem;
	}
}

.carousel-control-next, .carousel-control-prev {
	width: 10%;
}

@media only screen and (max-width: 767px) {
	.carousel-control-next, .carousel-control-prev {
		display: none;
	}
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	width: 1.5625rem;
	height: 2.8125rem;
}

.mr-carousel-dots {
	margin-bottom: auto;
	z-index: 1;
}

.hotel-carousel-section .carousel-indicators li {
	width: 0.625rem;
	height: 0.625rem;
	border-radius: 50%;
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
	cursor: pointer;
}

.hotel-carousel-section .carousel-item .carousel-caption {
	top: 30%;
}

.hotel-carousel-section .carousel-item .carousel-caption .header {
	margin: 0;
	font-family: TrajanPro;
	font-size: 2.5rem;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

.hotel-carousel-section .carousel-item .carousel-caption .description {
	font-family: SunSans;
	font-size: 1.25rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	width: 70%;
	position: relative;
	left: 15%;
}

.hotel-carousel-section .carousel-item .carousel-caption .btn-view-hotels
	{
	font-family: SunSans-Demi;
	font-size: 1.125rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	text-align: center;
	color: #ffffff;
	border-color: var(--primaryColor);
	background-color: var(--primaryColor);
	border-radius: 0;
	padding: 0.8125rem 1.25rem;
	margin-top: 1.4375rem;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.hotel-carousel-section .carousel-item .carousel-caption {
		top: 7%;
	}
	.hotel-carousel-section .carousel-item .carousel-caption .header {
		font-size: 1.25rem;
	}
	.hotel-carousel-section .carousel-item .carousel-caption .description {
		font-size: 1rem;
		width: 100%;
		left: 0;
	}
	.hotel-carousel-section .carousel-item .carousel-caption .btn-view-hotels
		{
		font-size: 0.875rem;
		margin-top: 0.1875rem;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.hotel-carousel-section .carousel-item .carousel-caption {
		top: 18%;
	}
	.hotel-carousel-section .carousel-item .carousel-caption .header {
		font-size: 1.875rem;
	}
	.hotel-carousel-section .carousel-item .carousel-caption .description {
		font-size: 1.125rem;
		width: 92%;
		left: 3%;
	}
	.hotel-carousel-section .carousel-item .carousel-caption .btn-view-hotels
		{
		font-size: 1.125rem;
		margin-top: 0.8125rem;
	}
}

.desktop-display-none {
	display: none;
}

.mobile-display-none {
	display: block;
}

@media only screen and (max-width: 767px) {
	.desktop-display-none {
		display: block;
	}
	.mobile-display-none {
		display: none;
	}
}

.banner-image-tint {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	background: #000;
	opacity: 0.3;
}

.tic-banner-img {
	width: 100%;
}

.tic-banner-img img {
	width: 100%;
	height: 31.9375rem;
	display: block;
}

@media only screen and (max-width: 767px) {
	.tic-banner-img img {
		height: 36.5625rem;
	}
}

.tic-banner-main-heading {
	font-family: Calibri-Bold;
	font-size: 2.5rem;
	color: #fff;
}

@media only screen and (max-width: 767px) {
	.tic-banner-main-heading {
		font-size: 1.5rem;
	}
}

.tic-banner-sub-heading {
	font-family: Calibri;
	font-size: 1.5625rem;
	color: #fff;
}

@media only screen and (max-width: 767px) {
	.tic-banner-sub-heading {
		font-size: 1.25rem;
	}
}

.tic-banner-desc {
	font-family: Calibri;
	width: 50%;
	font-size: 1rem;
	color: #fff;
}

.tic-carousel-ind {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	bottom: 40%;
}

.tic-carousel-ind li {
	width: 7px;
	height: 7px;
	border-radius: 3.5px;
	z-index: 1;
}

.tic-carousel-ind ol {
	padding: 0;
	display: -ms-flexbox;
	display: flex;
}

.tic-carousel-ind .container {
	position: relative;
	width: 100%;
}

.tic-carousel-ind .carousel-indicators {
	position: unset;
	margin: 0;
	-ms-flex-pack: normal;
	justify-content: normal;
}

@media only screen and (max-width: 767px) {
	.tic-carousel-ind {
		left: 15px;
		bottom: 35%;
	}
}

.tic-banner-content {
	position: absolute;
	left: 0;
	bottom: 10%;
	color: #fff;
	font-family: Calibri;
	font-size: 1rem;
}

@media only screen and (max-width: 767px) {
	.tic-banner-content {
		bottom: 3.125rem;
	}
}

.tic-banner-content-heading {
	font-size: 1.875rem;
}

.tic-banner-content-con {
	position: absolute;
	left: 0;
	right: 0;
	top: 2.3125rem;
	bottom: 0;
	z-index: 100;
}

.tic-banner-content-con .container {
	position: relative;
	height: 100%;
}

@media only screen and (max-width: 767px) {
	.tic-banner-content-con {
		padding: 0 15px;
		top: 3.0625rem;
	}
}

.tic-banner-content-fac-img-con {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 1.25rem;
	background: #fff;
	margin: 0 auto;
}

.tic-banner-content-fac-img-con img {
	margin: 0 auto;
	display: block;
	padding-top: 0.625rem;
	height: 1.875rem;
	width: 1.75rem;
	-o-object-fit: contain;
	object-fit: contain;
}

.tic-banner-content-fac-name {
	text-align: center;
}

.tic-banner-content-facilities {
	margin-top: 0.625rem !important;
}

.tic-banner-content-facilities [class*="col-"] {
	cursor: pointer;
}

@media only screen and (max-width: 767px) {
	.tic-banner-content-facilities [class*="col-"] {
		padding: 0 !important;
	}
}

.tic-banner-content-fac {
	cursor: pointer;
	margin-right: 2.1875rem;
}

.tic-banner-content-sub-heading {
	width: 93%;
}
#bannerCarousel .carousel-item {
	background: rgba(0,0,0,0.9);
}
