<sly data-sly-test = "${wcmmode.edit}">Join AMA Family</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='ama.hotels.room-amenities'}"></sly>

<section class="${properties.backgroundColor} joinAmaFmly ">
<div class="container">
  <div class="ama-family">
      <sly data-sly-list.list=${resource.children}>
        <sly data-sly-list.listItems=${list.children}>
	      <div class="ama-family-icon-box">
            	<sly data-sly-test=${listItems.icon}>
					<div class="ama-family-icon">
						<div class="ama-family-icon-container"><img src="${listItems.icon}"/></div>
						<p>${listItems.description  @ context="html"}</p>
					</div>
                </sly>
	      </div>
        </sly>
      </sly>
  </div>
</div>
</section>	
