<sly
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-base-page, taj.hotels.components.amalgamation-list'}"/>
<sly
        data-sly-use.amalgamationProperties="com.ihcl.core.models.financialReports.AmalgamationReportsFetcher"/>

<div class="mr-arrangement-wrapper cm-content-blocks">
    <div class="row"
         data-sly-list.tifco="${amalgamationProperties.tifco}">
        <sly data-sly-use.AmalgamationInformationLib="amalgamation-card.html"/>
        <sly data-sly-unwrap
             data-sly-call="${AmalgamationInformationLib.AmalgamationInformation @ amalgInfo=tifco}"/>
    </div>
</div>


