.ihcl-image-carousel-wrp .ihcl-section-carousel-image img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 48px;
    height: 3rem;
}

.ihcl-image-carousel-wrp .ihcl-section-carousel-image {
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .ihcl-image-carousel-wrp .ihcl-section-carousel-image {
        width: 9.6875rem!important;
    }
}

.ihcl-image-carousel-wrp .clearfix {
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 0;
    padding: 1rem 0;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
}

.ihcl-image-carousel-wrp .seleqtion-img-wrp img {
    margin-bottom: -10px;
    margin-bottom: -0.625rem;
    margin-left: -160px;
    margin-left: -10rem;
}

.ihcl-image-carousel-wrp .ginger-img-wrp img {
    width: 77%;
    height: 24px;
    height: 1.5rem;
    margin-left: -112px;
    margin-left: -7rem;
}

.ihcl-image-carousel-wrp .expressions-img-wrp img {
    height: 24px;
    height: 1.5rem;
    width: 85%;
    margin-left: -96px;
    margin-left: -6rem;
}

.ihcl-image-carousel-wrp .tajsats-img-wrp img {
    position: relative;
    top: -5px;
    height: 52px;
    height: 3.125rem;
    margin-left: -80px;
    margin-left: -5rem;
}

@media only screen and (max-width: 991px) {
    .ihcl-image-carousel-wrp .tajsats-img-wrp img {
        height: 2.5rem;
    }
}

.ihcl-image-carousel-wrp .vivanta-img-wrp img {
    height: 24px;
    height: 1.5rem;
    width: 83%;
    margin-left: -64px;
    margin-left: -7rem;
}

.ihcl-image-carousel-wrp .taj-img-wrp {
    text-align: left;
}

@media only screen and (max-width: 991px) {
    .ihcl-image-carousel-wrp .taj-img-wrp {
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 991px) {
    .ihcl-image-carousel-wrp .taj2-img-wrp {
        margin-left: 3rem!important;
        margin-right: 2rem;
    }
}

.ihcl-image-carousel-wrp .taj-img-wrp img {
    margin-top: -8px;
    margin-top: -0.5rem;
}

@media only screen and (min-width: 992px) {
   .ihcl-image-carousel-wrp .taj-img-wrp img {
        height: 46px;
        height: 2.875;
    }
    .ihcl-section-carousel-image .ihcl-image-carousel-wrp .seleqtion-img-wrp {
    	height: 49px;
    	height: 3.0625;
    }
    
    .ihcl-section-carousel-image .ihcl-image-carousel-wrp .tajsats-img-wrp {
    	height: 50px;
    	height: 3.125;
    }
}

.ihcl-image-carousel-wrp .gateway-img-wrp img {
    height: 24px;
    height: 1.8rem;
    width: 100%;
    margin-left: -16px;
    margin-left: -1rem;
}

.ihcl-image-carousel-container .rightArrow {
    width: 24px;
    width: 1.5rem;
    height: 40px;
    height: 2.5rem;
    right: -3%;
}

.ihcl-image-carousel-container .leftArrow {
    width: 24px;
    width: 1.5rem;
    height: 40px;
    height: 2.5rem;
    left: -3%;
}
