<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.taj-air-request-quote,taj.hotels.components.taj-air-quotation'}" />
<div class="hotels-event-request-quote taj-air-event-request-quote">
    <form class="event-request-quote-form mr-sub-form">
        <div class="personal-dtl-wrp">
            <div class="request-quote-form-title">Personal Details</div>
            <div class="row mr-sub-form-row personl-details-form">
                <div class="col-md-6 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">Full Name*</div>
                    <input
                        class="customer-name-real only-alpha-input sub-form-input-element sub-form-mandatory form-fullName"
                        type="text" id="customer-name-real" />
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="col-md-6 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">Country*</div>
                    <input class="country-name only-alpha-input sub-form-input-element form-country sub-form-mandatory"
                        type="text" id="country-name" />
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="col-md-6 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">Organization*</div>
                    <input
                        class="organization-name only-alpha-input sub-form-input-element form-organization sub-form-mandatory"
                        type="text" id="organization-name" />
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="col-md-6 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">Email ID*</div>
                    <input class="customer-email-id email-input sub-form-input-element sub-form-mandatory form-email"
                        type="text" id="customer-email-id" />
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="col-md-6 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">Mobile Number*</div>
                    <div class="phone-number-row">
                        <div class="col-12 phone-number-col">
                            <input
                                class="phone-Number only-numeric-input limit-phone-number sub-form-input-element sub-form-mandatory form-mob-no"
                                type="tel" id="phone-Number" />
                            <div class="sub-form-input-warning"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">Office Phone Number</div>
                    <div class="phone-number-row">
                        <div class="col-12 office-phone-number-col">
                            <input class="only-numeric-input limit-phone-number sub-form-input-element form-office-no"
                                type="tel" id="office-phone-Number" />
                            <div class="sub-form-input-warning"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">Number of Passengers*</div>
                    <input
                        class="only-numeric-input limit-no-of-guest sub-form-input-element sub-form-mandatory form-no-of-pass meeting-events-guest-value"
                        type="number" id="meeting-events-guest-value" />
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="col-md-6 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">Any Non-Indians among passengers?*</div>
                    <div class="selectSubContainer">
                        <select class="nonIndians sub-form-input-element sub-form-mandatory form-non-indian" id="nonIndians">
                            <option value="">Select</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <div class="sub-form-input-warning"></div>
                </div>

                <!--<div class="col-md-4 col-12 sub-form-input-wrp">
            <div class="sub-form-input-label">You are specifying the time as*</div>
            <div class="selectSubContainer">
                <select class="customer-time-standards sub-form-input-element sub-form-mandatory form-timing" type="text"
                    id="customer-time-standards" />
                <option value="">Select</option>
                <option value="UTC">UTC</option>
                <option value="IST">IST</option>
                </select>
            </div>
            <div class="sub-form-input-warning"></div>
        </div> -->
                <div class="col-md-12 col-12 sub-form-input-wrp">
                    <div class="sub-form-input-label">Any Comments</div>
                    <input class="customer-name-comments only-alpha-input sub-form-input-element form-comments" type="text"
                        id="customer-name-comments" />
                    <div class="sub-form-input-warning"></div>
                </div>
            </div>
            <div class="recap-wrp">
                <div data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
            </div>
            <div class="request-quote-submit-wrapper">
                <input type="hidden" class="request-quote-conf-link" value="${properties.meetingLeadGenLink}" />
                <input type="hidden" class="request-quote-error-link" value="${properties.meetingLeadGenErrorLink}" />
                <button class="cm-btn-secondary request-quote-submit-btn pay-now-button" type="button">REQUEST
                    QUOTE</button>
                <div class="pg-spinner-con">
                    <div class="taj-loader pg-spinner-wrap">
                        <div class="taj-loader-circle"></div>
                        <div class="taj-loader-circle"></div>
                        <div class="taj-loader-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</sly>