.dining-details-search-wrap {
	width: 100%;
	height: 50px;
	background: #e6e6e6;
	/* border-left: 5px solid var(--primaryColor); */
}

.dining-details-search-wrap .search-input-section {
	display: inline-block;
	width: 55%;
	line-height: 43px;
	position: relative;
}

.dining-details-search-wrap .search-input-section img {
	height: 18px;
	width: 18px;
	margin-left: 17px;
}

.reset-dropdown-arrow-align i.selectboxit-arrow {
    position:unset !important;
 }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.dining-details-search-wrap .search-input-section img {
		margin-left: 10px;
	}
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
	.dining-details-search-wrap .search-input-section img {
		margin-left: 10px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
	.dining-details-search-wrap .search-input-section img {
		height: 12px;
		width: 12px;
		margin-left: 5px;
	}
}

.dining-details-search-wrap .search-input-section input {
	background: transparent;
	border: none;
	padding-left: 16px;
	width: 85%;
	font-size: 18px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.dining-details-search-wrap .search-input-section input {
		font-size: 16px;
	}
}

.dining-details-search-wrap .search-input-section input:focus {
	outline: none;
}

.dining-details-search-wrap .search-input-section .search-close {
	position: absolute;
	right: 5px;
	right: 0.3125rem;
	top: 35%;
	cursor: pointer;
	display: none;
}

.dining-details-search-wrap .search-input-section .search-input-suggestions-list
	{
	position: absolute;
	left: -5px;
	top: 50px;
	width: 103%;
	background: #fff;
	z-index: 10;
	list-style-type: none;
	color: #323232;
	font-family: Calibri;
	font-size: 18px;
	box-shadow: 0 7px 14px 0 #9b9b9b;
	display: none;
	padding: 0;
}

.dining-details-search-wrap .search-input-section .search-input-suggestions-list li
	{
	height: 49px;
	line-height: 49px;
}

.dining-details-search-wrap .search-input-section .search-input-suggestions-list li label
	{
	margin: 0 12px;
	width: 94%;
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dining-details-search-wrap .search-input-section .search-input-suggestions-list li:last-child label
	{
	border-bottom: none;
}

.dining-details-search-wrap .search-input-section .search-input-suggestions-list li:hover,
	.dining-details-search-wrap .search-input-section .search-input-suggestions-list li:active
	{
	background: var(--primaryColorLighter);
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.dining-details-search-wrap .search-input-section {
		width: 46%;
	}
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
	.dining-details-search-wrap .search-input-section {
		width: 50%;
	}
}

@media only screen and (max-width: 375px) {
	.dining-details-search-wrap .search-input-section {
		width: 55%;
	}
}

@media only screen and (max-width: 320px) {
	.dining-details-search-wrap .search-input-section {
		width: 41%;
	}
}

.dining-details-search-wrap .search-filter-section {
	display: inline-block;
	font-family: Calibri;
	font-size: 18px;
	vertical-align: middle;
	padding-left: 15px;
	border-left: 1px solid rgba(151, 151, 151, 0.4);
}

.dining-details-search-wrap .search-filter-section .search-filter-section-name
	{
	float: left;
	color: #4a4a4a;
}

.dining-details-search-wrap .search-filter-section .search-filter-section-choose
	{
	float: left;
	color: #9b9b9b;
	margin-left: 10px;
	width: 120px;
}

.dining-details-search-wrap .search-filter-section .search-filter-section-choose .selectSubContainer
	{
	width: 100%;
}

.dining-details-search-wrap .search-filter-section .search-filter-section-choose .selectSubContainer .selectboxit-text
	{
	max-width: 250px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.dining-details-search-wrap .search-filter-section .search-filter-section-choose .selectSubContainer .selectboxit-text
		{
		font-size: 14px !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.dining-details-search-wrap .search-filter-section .search-filter-section-choose
		{
		width: 180px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.dining-details-search-wrap .search-filter-section .search-filter-section-choose
		{
		width: 70px;
	}
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
	.dining-details-search-wrap .search-filter-section .search-filter-section-choose
		{
		width: 70px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
	.dining-details-search-wrap .search-filter-section .search-filter-section-choose
		{
		width: 43px;
	}
}

.fix-dining-detail-search {
	width: 100%;
	height: 50px;
	height: 3.125rem;
	background: #e6e6e6;
	position: relative;	
}

.fix-dining-detail-search .search-input-section {
	display: inline-block;
	width: 55%;
	line-height: 43px;
	line-height: 2.6875rem;
	position: relative;
	height: 100%;
}

.fix-dining-detail-search .search-input-section img {
	height: 18px;
	height: 1.125rem;
	width: 18px;
	width: 1.125rem;
	margin-left: 17px;
	margin-left: 1.0625rem;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.fix-dining-detail-search .search-input-section img {
		margin-left: 10px;
	}
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
	.fix-dining-detail-search .search-input-section img {
		margin-left: 10px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
	.fix-dining-detail-search .search-input-section img {
		height: 12px;
		width: 12px;
		margin-left: 10px;
	}
}

.fix-dining-detail-search .search-input-section input {
	background: transparent;
	border: none;
	padding-left: 16px;
	padding-left: 1rem;
	width: 70%;
	font-size: 18px;
	font-size: 1.125rem;
	height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.fix-dining-detail-search .search-input-section input {
		width: 80%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.fix-dining-detail-search .search-input-section input {
		font-size: 16px;
	}
}

.fix-dining-detail-search .search-input-section input:focus {
	outline: none;
}

.fix-dining-detail-search .search-input-section .search-close {
	position: absolute;
	right: 5px;
	right: 0.3125rem;
	top: 35%;
	cursor: pointer;
	display: none;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.fix-dining-detail-search .search-input-section {
		width: 46%;
	}
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
	.fix-dining-detail-search .search-input-section {
		width: 50%;
	}
}

@media only screen and (max-width: 375px) {
	.fix-dining-detail-search .search-input-section {
		width: 46%;
	}
}

@media only screen and (max-width: 374px) {
	.fix-dining-detail-search .search-input-section {
		width: 40%;
	}
}

.fix-dining-detail-search .search-filter-section {
	display: inline-block;
	font-family: Calibri;
	font-size: 18px;
	font-size: 1.125rem;
	vertical-align: middle;
	padding-left: 15px;
	padding-left: 0.9375rem;
	border-left: 1px solid rgba(151, 151, 151, 0.4);
}

.fix-dining-detail-search .search-filter-section .search-filter-section-name
	{
	float: left;
	color: #4a4a4a;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.fix-dining-detail-search .search-filter-section .search-filter-section-name
		{
		padding-top: 0.5rem;
	}
}

.fix-dining-detail-search .search-filter-section .search-filter-section-choose
	{
	float: left;
	color: #9b9b9b;
	margin-left: 10px;
	margin-left: 0.625rem;
	width: 120px;
	width: 7.5rem;
}

.fix-dining-detail-search .search-filter-section .search-filter-section-choose .selectSubContainer
	{
	width: 100%;
}

.fix-dining-detail-search .search-filter-section .search-filter-section-choose .selectSubContainer .selectboxit-text
	{
	max-width: 250px;
	max-width: 15.625rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.fix-dining-detail-search .search-filter-section .search-filter-section-choose .selectSubContainer .selectboxit-text
		{
		font-size: 14px !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.fix-dining-detail-search .search-filter-section .search-filter-section-choose
		{
		width: 180px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.fix-dining-detail-search .search-filter-section .search-filter-section-choose
		{
		width: 90px;
	}
}

@media only screen and (max-width: 320px) {
	.fix-dining-detail-search .search-filter-section .search-filter-section-choose
		{
		width: 80px;
	}
}

.fix-dining-detail-search::before {
	position: absolute;
	left: 0;
	top: 0;
	height: 50px;
	height: 3.125rem;
	width: 5px;
	width: 0.3125rem;
	content: "";
	background-image: var(--linearGradient);
}

.search-input-suggestions-list {
	position: absolute;
	left: 0;
	top: 50px;
	top: 3.125rem;
	width: 101%;
	background: #fff;
	z-index: 10;
	list-style-type: none;
	color: #323232;
	font-family: Calibri;
	font-size: 18px;
	font-size: 1.125rem;
	box-shadow: 0 7px 14px 0 #9b9b9b;
	display: none;
	padding: 0;
}

.search-input-suggestions-list li {
	height: 49px;
	height: 3.0625rem;
	line-height: 49px;
	line-height: 3.0625rem;
}

.search-input-suggestions-list li label {
	margin: 0 12px;
	margin: 0 0.75rem;
	width: 94%;
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.search-input-suggestions-list li:last-child label {
	border-bottom: none;
}

.search-input-suggestions-list li:hover, .search-input-suggestions-list li:active
	{
	background: var(--primaryColorLighter);
}

.fix-dining-detail-search {
	display: flex;
}

.fix-dining-detail-search .search-input-section {
	flex: 2;
}

.fix-dining-detail-search .search-filter-section {
	margin: 0.3rem 0.5rem 0.625rem 0;
	float: none;
}
@media only screen and (max-width: 767px) {
	.fix-dining-detail-search .search-filter-section {
		margin:0.5rem 0.2rem 0.5rem 0 !important;
	}
}
.fix-dining-detail-search  .selectSubContainer .selectboxit-container .selectboxit-options
	{
	width: 12.5rem !important;
	min-width: 12.5rem !important;
}

.fix-dining-detail-search  .search-filter-section-name,
	.fix-dining-detail-search .search-filter-section-choose {
	float: none !important;
	display: inline-block !important; 
	vertical-align: middle !important;
}

/*brands filter styles*/
.filter-by-brands-toggle-switch {
	font-family: "Calibri-Bold";
	display: flex;
	align-items: center;
	margin-right: 0.9375rem;
}

.filter-by-brands-toggle-switch .brands-toggle-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 14px;
	margin: 0 6px;
}

.filter-by-brands-toggle-switch .brands-toggle-slider {
    position: absolute;
	cursor: pointer;
	border-radius: 18px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--primaryColorLight);
}
.filter-by-brands-toggle-switch .brands-toggle-slider::before {
    position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	border-radius: 50%;
	left: 0;
	top: -3px;
	background-image: var(--linearGradient);
	/*transition: .1s;*/
}
/*.filter-by-brands-toggle-switch input:checked + .brands-toggle-slider {
    background-color: var(--primaryColorLight);
}*/
.filter-by-brands-toggle-switch input:focus + .brands-toggle-slider {
    box-shadow: 0 0 1px #2196F3;
}
input.brands-toggle-switch-checkbox:checked + .brands-toggle-slider:before {
    transform: translateX(20px);
}

.filter-by-brands-toggle-switch .current-hotel {
	text-transform: capitalize;
}
.filter-by-brands-toggle-switch .not-active-hotel {
	opacity: 0.5;
}

@media only screen and (max-width: 767px) {
	#dining-search {
	   margin-top: 50px;
	}
	
	.filter-by-brands-toggle-switch {
	   position: absolute;
	   left: 0;
	   top: -32px;
	}
}