<div class="aboutus-destination-wrapper">
	<h2 class="component-title">Leaders Speak</h2>
	<section>
		<div
			class="about-specific-city-container about-destination-city-container-wrapper about-hotels-container"
			style="margin-top: 60px;">
			<div class="specific-city-header-wrapper">
				<h3 class="specific-city-header"
					data-sly-use.template="core/wcm/components/commons/v1/templates.html"
					data-sly-element="${properties.type}"
					data-sly-test.text="${properties.title}">${text}</h3>
			</div>
			<div class="spec-about-city">
				<div class="spec-about-city-subheader">${properties.designation}</div>
				<div>
					<amp-img height="14rem" class="about-carousel-images"
						src="${properties.destinationimage}" alt="leaders speak image"></amp-img>
				</div>
				<article class="mr-description-expansion">
					<div class="desc-individual-details">
						<div class="rooms-suites-description">${properties.description
							@context='html'}</div>
						<div class="rooms-suites-description">${properties.longdescription
							@context='html'}</div>
					</div>
				</article>
			</div>
		</div>
</div>
</section>
