<div data-sly-test.edit=${wcmmode.edit}>
    <h1>ihcl banner component</h1>
</div>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihclBanner'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />
<div class="hotel-banner-image-con banner-image-con banner-about-us-container">
    <div class="banner-image-tint"></div>
    <sly
        data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.image, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', lazyload='true', styleClass='cm-banner-image'}" />
    <div class="banner-titles">
        <div class="cm-header-label-con">
            <h1 class="cm-header-label">${properties.title}</h1>
        </div>
        <div class="banner-about-us-content">${properties.description @context='html'}</div>
        <sly data-sly-test="${properties.showbutton}"> <a href="${properties.buttonurl}.html" target="_blank"><button
                class="cm-btn-secondary mr-visit-hotel">${properties.buttontext}</button></a> </sly>
    </div>
</div>