<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.hotels.components.corporate-banner'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />
	
<div data-sly-test="${wcmmode.edit}">
    Corporate Banner Component
</div>
<div class="banner-container">
   <div class="hotel-banner-image-con banner-image-con hide-in-sm hide-in-md banner-about-us-container">
   	<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.bannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg'}" />
       <div class="banner-titles">
           <div class="cm-header-label-con">
               <h1 class="cm-header-label">${properties.title}</h1>
           </div>
           <div class="banner-about-us-content">${properties.description}</div>
       </div>
   </div>
</div>