.hotelCard-container-outer-wrap:nth-child(odd) .hotelCard-container-wrap {
    margin-right: 16px;
}

@media only screen and (max-device-width: 991px) {
    .hotelCard-container-outer-wrap:nth-child(odd) .hotelCard-container-wrap {
        margin-right: 0;
    }
}

.hotelCard-container-outer-wrap:nth-child(even) .hotelCard-container-wrap {
    margin-left: 16px;
}

@media only screen and (max-device-width: 991px) {
    .hotelCard-container-outer-wrap:nth-child(even) .hotelCard-container-wrap {
        margin-left: 0;
    }
}

.hotelCard-container-wrap {
    padding: 0;
    margin-bottom: 15px;
    height: 154px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard-container-wrap {
        height: 191px;
    }
}

.hotelCard-container-wrap:hover,
.hotelCard-container-wrap:active {
    border: 2px solid var(--primaryColor);
}

.hotelCard-container {
    font-family: Calibri;
    margin: 0;
    background: #fafafa;
    position: relative;
    box-shadow: 0 11px 17px 0 rgba(0, 0, 0, 0.05);
    height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard-container {
        background: #fff;
        height: 187px;
    }
}

.rating-container {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: Calibri;
    left: 17px;
    bottom: 14px;
    position: absolute;
}

.rating-container .rating {
    float: left;
    height: 28px;
    width: 29px;
    line-height: 28px;
    font-weight: bold;
    background: var(--linearGradient);
}

.rating-container .number-of-rating {
    float: left;
    height: 28px;
    line-height: 28px;
    width: 90px;
    background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-device-width: 320px) {
    .rating-container .number-of-rating {
        width: 80px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .rating-container {
        left: 10px;
    }
}

@media only screen and (max-device-width: 320px) {
    .rating-container {
        left: 5px;
        font-size: 12px;
    }
}

.hotelCard-imageWrap {
    float: left;
    width: 30%;
    height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard-imageWrap {
        width: 40%;
    }
}

.hotelCard-imageWrap .hotelCard-image {
    padding: 0;
    height: 100%;
    width: 100%;
}

.hotelCard-imageWrap .hotelCard-image img {
    height: 100%;
    width: 100%;
}

.hotelCard_hotelDetails {
    position: relative;
    float: left;
    width: 70%;
    padding: 20px 0 0 20px;
    height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard_hotelDetails {
        display: inline-block;
        padding-left: 10px;
        width: 60%;
        padding-top: 17px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .hotelCard_hotelDetails {
        padding-left: 12px;
    }
}

.hotelCard_hotelDetails .hotelDetails-name-wrap {
    line-height: initial;
}

.hotelCard_hotelDetails .hotelDetailsHeading {
    font-size: 24px;
    font-size: 1.5125rem;
    color: #4a4a4a;
}

@media only screen and (max-device-width: 320px) {
    .hotelCard_hotelDetails .hotelDetailsHeading {
        font-size: 1.4375rem;
    }
}

.hotelCard_hotelDetails .hotelDetailsLocation {
    background-image: url('/etc.clientlibs/tajhotels/components/structure/tajhotels-base-page/clientlib/resources/images/location.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    font-size: 16.1px;
    color: #979797;
    padding-left: 20px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard_hotelDetails .hotelDetailsLocation {
        display: none;
    }
}

.hotelCard_hotelDetails .hotelDetailsLocation-mobile {
    font-size: 16.1px;
    color: #979797;
    display: none;
    word-break: break-word;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard_hotelDetails .hotelDetailsLocation-mobile {
        display: block;
        float: left;
        word-break: break-word;
    }
}

@media only screen and (max-device-width: 320px) {
    .hotelCard_hotelDetails .hotelDetailsLocation-mobile {
        font-size: 13px;
    }
}

.hotelCard_hotelDetails .hotelDetailsDistance {
    font-size: 16.1px;
    color: #979797;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard_hotelDetails .hotelDetailsDistance {
        font-size: 14px;
        float: left;
        margin-left: 5px;
        line-height: 20px;
        margin-top: 10px;
    }
}

@media only screen and (max-device-width: 320px) {
    .hotelCard_hotelDetails .hotelDetailsDistance {
        font-size: 13px;
        margin-left: 0px;
        line-height: 16px;
    }
}

.rate_con {
    position: absolute;
    right: 20px;
    top: 25px;
}

.rate_con .hotelDetailsRate {
    font-family: SunSans-Regular;
    text-align: right;
    font-size: 14px;
    color: #9b9b9b;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate_con .hotelDetailsRate {
        top: 12px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate_con {
        position: unset;
        text-align: right;
        margin: 8px 20px 0 0;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .rate_con {
        right: 15px;
    }
}

.hotel-details-img-con {
    position: absolute;
    bottom: 21.5px;
    width: 100%;
}

.hotel-details-img-con img {
    margin-right: 5%;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .hotel-details-img-con img {
        margin-right: 4%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotel-details-img-con {
        display: none;
    }
}

.bookingButtonContainer {
    height: 39px;
    padding-bottom: 14px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .bookingButtonContainer {
        padding-bottom: 10px;
        line-height: 23px;
    }
}

.bookingButtonContainer .price-con {
    line-height: 20px;
}

.bookingButtonContainer .hotelDetailsRateStriked {
    font-family: RupeeForadian;
    font-size: 16px;
    text-decoration: line-through;
    display: inline-block;
    color: #4a4a4a;
    vertical-align: middle;
    opacity: 0.58;
}

.bookingButtonContainer .hotelDetailsRateStriked span {
    font-family: Calibri;
}

.bookingButtonContainer .hotelDetailsRateNew {
    font-family: RupeeForadian;
    display: inline-block;
    font-size: 24px;
    color: #4a4a4a;
    margin-left: 1vw;
    vertical-align: middle;
    font-weight: bold;
}

.bookingButtonContainer .hotelDetailsRateNew span {
    font-family: Calibri;
}

@media only screen and (max-device-width: 320px) {
    .bookingButtonContainer .hotelDetailsRateNew {
        font-size: 22px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .bookingButtonContainer .hotelDetailsRateNew {
        margin-left: 0.6vw;
    }
}

.view-btn-con {
    position: absolute;
    bottom: 13.4px;
    right: 20px;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .view-btn-con {
        padding-left: 15px;
    }
}

.last-room-warning {
    color: #d0021b;
    font-size: 11.8px;
    text-align: right;
    font-family: Calibri;
    font-weight: normal;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .last-room-warning {
        display: none;
    }
}

.view-button {
    color: #fff;
    font-family: Calibri-Bold;
    font-size: 14.8px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    background: var(--linearGradient);
    cursor: pointer;
    width: 131px;
    margin-top: 3px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .view-button {
        font-size: 12px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .view-button {
        width: 110px;
        height: 35px;
        line-height: 35px;
        margin-left: 10px;
    }
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
}
