.our-hotel-wrapper {
    width: 100%;
    min-height: 500px;
    min-height: 31.25rem;
}

@media only screen and (max-width: 480px) {
    .our-hotel-wrapper {
        min-height: auto;
    }
}

h1.other-ihcl-hotels {
    display: inline-block;
    font-family: Calibri-Bold;
    color: #4a4a4a;
    position: relative;
    font-size: 17px;
    margin-bottom: 8px;
}
.selectboxit-text{color: var(--primaryColorDark)}
.selectboxit .selectboxit-arrow-container .selectboxit-arrow{margin-top: -8px;}
.our-hotel-wrapper .our-hotels-container {
    height: 100%;
    width: 100%;
    display: inline-block;
}

h1.destinations-title {
    display: inline-block;
    font-family: Calibri-bold;
    color: #4a4a4a;
    position: relative;
    font-size: 16px;
    margin-left: 8px;
    margin-top: 8px;
}

.our-hotels-container.inner.website-brand, .our-hotels-container.inner.other-brand {
	height: auto !important;
    width: 100%;
    display: inline-block;
}

.our-hotel-wrapper .our-hotels-container .card-wrapper {
    padding: 12px 15px 0 10px;
    padding: 0.75rem 0.9375rem 0 0.625rem;
}

@media only screen and (max-width: 480px) {
    .our-hotel-wrapper .our-hotels-container .card-wrapper {
        padding: 0.75rem 1.875rem 0 0.75rem;
    }
}

.our-hotel-wrapper .our-hotels-container .card-wrapper.clicked {
    background-color: rgba(230, 230, 230, 0.9);
    transition: all 200ms;
}

@media only screen and (max-width: 480px) {
    .our-hotel-wrapper .our-hotels-container .card-wrapper.clicked {
        width: 108%;
        margin-left: -15px;
    }
}

@media only screen and (max-width: 480px) {
    .our-hotel-wrapper .our-hotels-container .card-wrapper.clicked .hotel-location-container .hotel-image-container {
        margin-left: 0.875rem;
    }
}

.our-hotel-wrapper .our-hotels-container .card-wrapper.clicked .hotel-location-container .arrow-container img {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media only screen and (max-width: 480px) {
    .our-hotel-wrapper .our-hotels-container .card-wrapper.clicked .hotel-properties-container {
        margin-left: 0.9375rem;
    }
}

@media only screen and (max-width: 480px) {
    .our-hotel-wrapper .our-hotels-container .card-wrapper.clicked .hotel-properties-container .hotel-image-container {
        width: 27.5%;
    }
}

@media only screen and (max-width: 480px) {
    .our-hotel-wrapper .our-hotels-container .card-wrapper.clicked .hotel-details-container {
        width: 62%;
    }
}

@media only screen and (max-width: 991px) {
    .our-hotel-wrapper .our-hotels-container .card-wrapper {
        width: 100%;
    }
}

.our-hotel-wrapper .our-hotels-container .hotel-container {
    height: 70px;
    height: 4.375rem;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

@media only screen and (max-width: 991px) {
    .our-hotel-wrapper .our-hotels-container .hotel-container {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .our-hotel-wrapper .our-hotels-container .hotel-container {
        height: 6.875rem;
    }
}

.our-hotel-wrapper .our-hotels-container .hotel-container.expand-hotels {
    background: #ffffff;
    display: inline-block;
}

.our-hotel-wrapper .our-hotels-container .hotel-container.expand-hotels:hover {
    border: 1px solid var(--primaryColor);
}

.our-hotel-wrapper .our-hotels-container .hotel-image-container {
    width: 15%;
    height: 100%;
}

@media only screen and (max-width: 991px) {
    .our-hotel-wrapper .our-hotels-container .hotel-image-container {
        width: 27%;
    }
}

.our-hotel-wrapper .our-hotels-container .hotel-details-container {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 83%;
    position: relative;
    padding: 6px 15px;
    padding: 0.375rem 0.9375rem;
    font-family: Calibri-Bold;
    font-size: 20px;
    font-size: 1.25rem;
    text-align: left;
    color: #4a4a4a;
}

@media only screen and (max-width: 991px) {
    .our-hotel-wrapper .our-hotels-container .hotel-details-container {
        width: 69%;
    }
}

.our-hotel-wrapper .our-hotels-container .hotel-details-container.card {
    font-family: Calibri;
}

.our-hotel-wrapper .our-hotels-container .hotel-details-container .hotel-details {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.our-hotel-wrapper .our-hotels-container .hotel-details-container .hotel-details.card-info {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .our-hotel-wrapper .our-hotels-container .hotel-details-container .hotel-details.card-info {
        font-size: 1.25rem;
    }
}

.our-hotel-wrapper .our-hotels-container .hotel-details-container .property-container {
    font-family: Calibri;
    font-size: 12px;
    font-size: 0.75rem;
    color: #585656;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .our-hotel-wrapper .our-hotels-container .hotel-details-container .property-container {
        font-size: 1rem;
    }
}

.our-hotel-wrapper .our-hotels-container .hotel-details-container .arrow-container {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 16px;
    top: 1rem;
}

.our-hotel-wrapper .our-hotels-container .hotel-details-container .arrow-container img {
    margin-left: 11px;
    margin-left: 0.6875rem;
}

.our-hotel-wrapper .map-container {
    background-color: grey;
    height: 31.25rem;
    width: 48%;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

@media only screen and (max-width: 991px) {
    .our-hotel-wrapper .map-container {
        display: none;
    }
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.hotel-properties-container {
    display: none;
    padding: 1rem;
}

@media only screen and (max-width: 480px) {
    .hotel-properties-container {
        margin-left: 0.625rem;
    }
}

.display-hide,
.selected-location-hotels,
.gm-style-mtc,
.gm-svpc {
    display: none;
}

@media only screen and (max-width: 991px) {
    .selected-location-hotels {
        display: block;
    }
}

.gm-bundled-control-on-bottom .gmnoprint {
    display: none;
}

.focused {
    border: 1px solid var(--primaryColor);
}

.hotel-allContent-wrapper {
    display: inline-block;
    width: 50%;
     height: 31.25rem;
    overflow:auto;
}

@media only screen and (max-width: 991px) {
    .hotel-allContent-wrapper {
        width: 100%;
        height:auto;
    }
}

.show-more-imageUnderline {
    text-align: center;
    color: var(--primaryColor);
    font-family: Calibri-Bold;
    font-size: 20px;
    font-size: 1.25rem;
    padding: 26px 0;
    padding: 1.625rem 0;
    text-decoration: underline;
}

.show-more-imageUnderline div {
    display: inline;
    cursor: pointer;
}

.show-more-imageUnderline img {
    margin-left: 7px;
    margin-left: 0.4375rem;
}

@media only screen and (max-width: 991px) {

    .show-more-imageUnderline {
        font-size: 0.875rem;
    }
}
            @media only screen and (max-width: 991px){
    .hotels-container.hide-map {
    margin-top:4rem;
}
            }

.image-cont {
    display: inline;
}

.com-hide {
    display: none;
}

@media only screen and (min-width: 481px) and (max-width: 991px) {
    .hotel-wrapper .hotelCard-container-outer-wrap {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 991px) {
    .hotel-wrapper .hotelCard-container-outer-wrap .view-btn-con {
        right: 0.8125rem;
    }
}

div[onselectstart].markerlabels {
    display: none !important;
}

.carousel-data-cards {
    display: none;
}

a.hotel-details {
    color: #4a4a4a !important;
}

.hotel-allContent-wrapper.full-width {
    width: 100%;
}