.mr-searchBar-HelloText {
    padding-left: 24px;
    padding-left: 1.5rem;
    font-family: Calibri;
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 13px;
    margin-bottom: 0.8125rem;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.82);
}

@media only screen and (max-width: 767px) {
    .mr-searchBar-HelloText {
        font-size: 1rem;
    }
}

.suggestions-overlay {
    background: rgba(74, 74, 74, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper.input-scroll-top .searchBar-wrap {
        background-color: #ffffff;
        box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
    }

    .search-and-suggestions-wrapper.input-scroll-top .searchBar-wrap .searchbar-input {
        background: #ffffff;
    }
}

.search-and-suggestions-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 6;
}

@media only screen and (min-width: 768px) {
    .search-and-suggestions-wrapper.disable-input-scroll-top {
        position: relative;
    }
}

.search-and-suggestions-wrapper .nav-prelogin-close {
    display: none;
}

.search-and-suggestions-wrapper .searchBar-wrap {
    position: relative;
    z-index: 6;
}

.search-and-suggestions-wrapper .searchBar-wrap::before {
    width: 10px;
    height: 65px;
    content: "";
    position: absolute;
    left: 0px;
    z-index: 12;
    background-image: var(--linearGradient);
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .searchBar-wrap::before {
        left: 0px;
    }
}

.search-and-suggestions-wrapper .searchBar-wrap .explore-taj {
    width: 15px;
    height: 26px;
    margin-left: 8px;
    margin-left: 0.5rem;
}

.search-and-suggestions-wrapper .searchBar-wrap .search-icon {
    width: 20px;
    width: 1.25rem;
    height: 20px;
    height: 1.25rem;
    position: absolute;
    top: 24px;
    left: 32px;
    left: 2rem;
    z-index: 12;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .searchBar-wrap .search-icon {
        width: 1.125rem;
        height: 1.125rem;
        left: 15px;
    }
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input {
    font-family: Calibri;
    font-size: 24px;
    font-weight: normal;
    background: rgba(0, 0, 0, 0.7);
    height: 65px;
    padding-left: 64px;
    padding-left: 4rem;
    color: #ffffff;
    opacity: 0.9;
    width: 100%;
    outline: none;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-ms-clear {
    display: none;
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-webkit-input-placeholder {
    font-family: Calibri;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-overflow: ellipsis;
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-moz-placeholder {
    font-family: Calibri;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-overflow: ellipsis;
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input:-ms-input-placeholder {
    font-family: Calibri;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-overflow: ellipsis;
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::placeholder {
    font-family: Calibri;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-overflow: ellipsis;
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-moz-placeholder {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input {
        font-size: 15px;
        padding-left: 2.8rem;
        padding-right: 2.5rem;
        color: #9b9b9b;
    }

    .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-webkit-input-placeholder {
        font-size: 15px;
        color: #9b9b9b;
        text-overflow: ellipsis;
    }

    .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-moz-placeholder {
        font-size: 15px;
        color: #9b9b9b;
        text-overflow: ellipsis;
    }

    .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input:-ms-input-placeholder {
        font-size: 15px;
        color: #9b9b9b;
        text-overflow: ellipsis;
    }

    .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::placeholder {
        font-size: 15px;
        color: #9b9b9b;
        text-overflow: ellipsis;
    }
}

.search-and-suggestions-wrapper .searchBar-wrap .explore-taj-content {
    cursor: pointer;
    text-transform: uppercase;
    font-family: Calibri;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.8px;
    text-align: center;
    color: var(--primaryColor);
    position: absolute;
    right: 48px;
    right: 3rem;
    top: 19px;
    top: 1.19rem;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .searchBar-wrap .explore-taj-content {
        display: none;
    }
}

.search-and-suggestions-wrapper .suggestions-wrap {
    position: relative;
    width: 100%;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container {
    width: 100%;
    border-radius: 0px 0px 3px 3px;
    background-color: #ffffff;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
    position: absolute;
    height: 406px;
    overflow: auto;
    top: 0px;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore {
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 16px;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore {
        padding-bottom: 0;
    }
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search {
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 10px;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .destination-hotel-icon,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .destination-hotel-icon,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .destination-hotel-icon,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .destination-hotel-icon {
    margin-right: 16px;
    margin-right: 1rem;
    width: 12px;
    height: 17px;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .trending-searches-in-taj .individual-trends,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .trending-searches-in-taj .individual-trends,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .trending-searches-in-taj .individual-trends,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .trending-searches-in-taj .individual-trends {
    font-family: Calibri;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    padding: 10px 32px;
    padding: 10px 2rem;
    display: block;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .trending-searches-in-taj .individual-trends:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .trending-searches-in-taj .individual-trends:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .trending-searches-in-taj .individual-trends:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .trending-searches-in-taj .individual-trends:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--primaryColorLighter);
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .trending-searches-in-taj .individual-trends,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .trending-searches-in-taj .individual-trends,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .trending-searches-in-taj .individual-trends,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .trending-searches-in-taj .individual-trends {
        padding: 1rem 2rem;
        font-size: 16px;
    }
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .trending-explore-taj-text,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .trending-explore-taj-text,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .trending-explore-taj-text,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .trending-explore-taj-text {
    font-family: Calibri;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .trending-explore-taj-text,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .trending-explore-taj-text,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .trending-explore-taj-text,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .trending-explore-taj-text {
        font-size: 16px;
    }
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-heading,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-heading,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-heading,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-heading {
    margin: 32px;
    margin: 2rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-heading,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-heading,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-heading,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-heading {
        margin: 1.5rem;
    }
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-taj-categories,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-taj-categories,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-taj-categories,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-taj-categories {
    margin: 32px 32px 16px;
    margin: 2rem 2rem 1rem;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-taj-categories .individual-category-explore,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-taj-categories .individual-category-explore,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-taj-categories .individual-category-explore,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-taj-categories .individual-category-explore {
    font-family: Calibri;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--primaryColor);
    display: inline-block;
    margin-right: 32px;
    margin-right: 2rem;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-taj-categories .individual-category-explore:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-taj-categories .individual-category-explore:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-taj-categories .individual-category-explore:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-taj-categories .individual-category-explore:hover {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-taj-categories,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-taj-categories,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-taj-categories,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-taj-categories {
        margin: 1rem;
    }

    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-taj-categories .individual-category-explore,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-taj-categories .individual-category-explore,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-taj-categories .individual-category-explore,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-taj-categories .individual-category-explore {
        font-size: 16px;
        margin-left: 1rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search {
    border-bottom: unset;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search.hotels-trending,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search.hotels-trending {
    border-bottom: solid 1px #e6e6e6;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .search-suggestion-common,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .search-suggestion-common {
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 10px;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .search-suggestion-common .individual-common-suggesion,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .search-suggestion-common .individual-common-suggesion {
    font-family: Calibri;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    padding: 10px 32px;
    padding: 10px 2rem;
    display: block;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .search-suggestion-common .individual-common-suggesion:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .search-suggestion-common .individual-common-suggesion:hover {
    background-color: var(--primaryColorLighter);
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .search-suggestion-common .individual-common-suggesion,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .search-suggestion-common .individual-common-suggesion {
        padding: 1rem 2rem;
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container {
    /*height: 100vh;*/
    /*Commented by Nixon*/
        height: initial;
        position: fixed;
        top: 65px;
        bottom: 0;
        overflow: auto;
    }
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper {
        width: 100%;
    }
}

.display-none {
    display: none;
}

.disable-scroll {
    overflow: hidden;
}

.input-scroll-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;a
    bottom: initial;
    transition: all 2s;
}

.close-icon {
    display: none;
}

@media only screen and (max-width: 767px) {
    .close-icon {
        position: absolute;
        right: 0;
        top: 1.4rem;
        right: 0.8rem;
    }
}

.closeIconImg {
    height: 20px;
    width: 20px;
}

@media only screen and (max-width: 767px) {
    .home-page-layout .searchbar-input {
        box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05) !important;
    }
}
