.search-container.mr-stickyScroll .search-row-wrap-mobile {
    display: none !important;
}

@media only screen and (max-width: 991px) {
    .search-container.mr-stickyScroll .filterByMobile {
        display: none !important;
    }
}

.search-container.mr-stickyScroll .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel {
    padding: 0px !important;
    padding: 0rem !important;
}

.search-container {
  /*max-width: 1280/@rem;*/
  /*commented by Nixon*/
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    .search-container.search-hotels-container {
        padding: 0rem 0.75rem;
    }

    .search-container.search-hotels-container .suggestions-container {
        top: 3.125rem !important;
        left: 0;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .searchBar-wrap.show-on-map-view ~ .suggestions-wrap {
        margin-top: 3.125rem;
        position: fixed;
        top: 6.25rem;
        left: 0;
        right: 0;
        margin: 0 0.75rem;
        width: auto;
    }
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .filter-dropdown-wrap.filterByMobile {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .searchBar-wrap.show-on-map-view {
        top: 0rem;
        margin: 0rem;
    }

    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .searchBar-wrap.show-on-map-view ~ .suggestions-wrap {
        margin-top: 3.125rem;
    }
}

@media only screen and (min-width: 992px) {
    .map-container.map-overlay .map-back-icon {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .map-container.map-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: #ffffff;
        height: 100%;
        width: 100%;
    }

    .map-container.map-overlay .map-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .map-container.map-overlay .map-back-icon {
        width: 0.75rem;
        height: 1.25rem;
        position: absolute;
        left: 1.25rem;
        top: 1.25rem;
    }

    .map-container.map-overlay .selected-location-hotels {
        display: none;
        position: absolute;
        bottom: 0.4375rem;
        min-height: 9.625rem;
        width: 100%;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .close-icon {
    top: 60px;
    top: 3.75rem;
    position: absolute;
    right: 12px;
    right: 0.75rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap.show-on-map-view ~ .suggestions-wrap {
    z-index: 3;
    position: absolute;
    left: 0px;
    left: 0rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap.show-on-map-view {
    position: fixed;
    margin: 0 12px;
    margin: 0 0.75rem;
    top: 55px;
    top: 3.4375rem;
    left: 0px;
    left: 0rem;
    right: 0px;
    right: 0rem;
    z-index: 4;
    background-color: #ffffff;
    box-shadow: 0.125rem 0.625rem 0.75rem 0 rgba(0, 0, 0, 0.05);
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap.show-on-map-view .filterByMobile {
    display: none !important;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap {
    z-index: 2;
    background-color: #e6e6e6;
    padding-right: 41px;
    padding-right: 2.5625rem;
    box-shadow: 0rem 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap {
        padding-right: 0rem;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap::before {
    height: 60px;
    height: 3.75rem;
    left: 0px;
    left: 0rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap::before {
        left: 0rem;
        width: 0.3125rem;
        height: 50px;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .explore-taj {
    width: 15px;
    width: 0.9375rem;
    height: 26px;
    height: 1.625rem;
    margin-left: 8px;
    margin-left: 0.5rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-icon {
    top: 22px;
    top: 1.375rem;
    left: 30px;
    left: 1.9rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-icon {
        left: 1rem;
        width: 1.125rem;
        height: 1.125rem;
        top: 0.875rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-icon {
        top: 17px;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    height: 60px;
    height: 3.75rem;
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1;
    letter-spacing: 0px;
    letter-spacing: 0.0375rem;
    color: #4a4a4a;
    width: 47%;
    background: transparent;
    box-shadow: none;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input::-webkit-input-placeholder {
    color: #4a4a4a;
    font-size: 20px;
    font-size: 1.25rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input::-moz-placeholder {
    color: #4a4a4a;
    font-size: 20px;
    font-size: 1.25rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input:-ms-input-placeholder {
    color: #4a4a4a;
    font-size: 20px;
    font-size: 1.25rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input::placeholder {
    color: #4a4a4a;
    font-size: 20px;
    font-size: 1.25rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input {
        height: 50px;
        font-size: 1rem;
        padding-right: 0;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search {
    padding-right: 20px;
    padding-right: 1.25rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search {
        padding-left: 2.8rem;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search {
        padding-right: 2.5rem;
    }

    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search ~ .clear-input-icon {
        margin-left: -2.5rem;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.country-filter {
    padding-right: 28px;
    padding-right: 1.8rem;
    margin-right: 28px;
    margin-right: 1.8rem;
    border-right: solid 2px #9b9b9b;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.country-filter {
        padding-right: 0rem;
        margin-right: 0rem;
        border-right: none;
        position: absolute;
        top: 0.5625rem;
        right: 0.3rem;
        padding-left: 0.9375rem;
        border-left: solid 1px #979797;
    }
}

@media only screen and (max-width: 419px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.country-filter {
        padding-left: 0.625rem;
    }
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.filterByMobile {
        position: absolute;
        top: 4.5rem;
        right: 0.3rem;
    }

    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.filterByMobile .filter-dropdown-label {
        color: #1b1b1b;
        font-weight: bold;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap {
    display: inline-block;
    padding: 1px 0px;
    padding: 0.0625rem 0rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .filter-dropdown-label {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1;
    color: #1b1b1b;
    margin-right: 20px;
    margin-right: 1.25rem;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .filter-dropdown-label {
        font-size: 0.875rem;
        margin-right: 0.625rem;
        color: #4a4a4a;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
    border-bottom: 2px solid rgba(27, 27, 27, 0.3);
    padding-bottom: 0px;
    padding-bottom: 0rem;
    display: inline-block;
    vertical-align: middle;
    min-width: 150px;
    min-width: 9.375rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer select {
    display: none;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
        width: 9.375rem;
    }
}

@media only screen and (max-width: 530px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
        min-width: 0rem !important;
        width: 6.25rem !important;
    }
}

@media only screen and (max-width: 425px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
        width: 5.3125rem !important;
    }
}

@media only screen and (max-width: 360px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
        width: 4.0625rem !important;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-container * {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-container * {
        font-size: 0.875rem;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-option-icon-container {
    margin-left: 0px !important;
    margin-left: 0rem !important;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-container .selectboxit .selectboxit-text {
        font-size: 0.875rem !important;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .search-row-wrap-mobile {
    display: none;
    margin-top: 20px;
    margin-top: 1.25rem;
    padding-left: 5px;
    padding-left: 0.3125rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .search-row-wrap-mobile {
        display: block;
        background: transparent;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .search-row-wrap-desktop {
    display: block;
    margin-top: 20px;
    margin-top: 1.25rem;
    padding-left: 5px;
    padding-left: 0.3125rem;
    background: transparent;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .search-row-wrap-desktop {
        display: none;
    }
}

.clear-input-icon {
    width: 19px;
    width: 1.1875rem;
    height: 19px;
    height: 1.1875rem;
    display: none;
    vertical-align: middle;
    margin-left: -20px;
    margin-left: -1.25rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
    background-color: transparent;
    padding: 3px;
    padding: 0.1875rem;
}

.clear-input-icon.show-clear-input {
    display: inline-block;
}