<template data-sly-template.roomSuiteCard="${@roomProperties}">
<div data-component-id="room-suites-card" data-bed-room-map="${roomProperties.roomCodeBedTypeMapString}"
    class="rooms-and-suites-card offers-card-component cm-inner-carousal-cards"
    data-sly-use.imagetemplate="tajhotels/components/content/amp/image-template/image-template.html">
    <div class="offers-card-inner-wrapper">
        <div class="rooms-and-suites-image-wrapper">
        <sly data-sly-test.finalImagePath="${roomProperties.draggedImagePath ? roomProperties.draggedImagePath : roomProperties.highightImagePath}"/>
            <amp-img width="240" height="225" src="${finalImagePath}" alt = "room image">
                                    </amp-img>
        </div>
        <div class="rooms-and-suites-content">
            <div class="room-title">${roomProperties.roomTypeName}</div>
            <div class="room-description" [class]="HotelDesc ? 'display-block' : 'room-description'">${roomProperties.description @context='html'}</div>
            <p role="button" tabindex="0" class="overviewLink ${inheritedPageProperties.sitePath}" [text]="HotelDesc ? 'Show Less' : 'Show More'" on="tap:AMP.setState({HotelDesc: !HotelDesc})">Show More</p>
            <div class="room-content-footer">
                <div>
                <!-- DraggedImagePath : ${roomProperties.draggedImagePath} -->
                    <!-- class="room-amenities-wrapper" -->
                    <div class="row">
                        <div class="col-12 each-room-feature-con" style="margin-bottom: 10px;">
                            <sly data-sly-test.area="${roomProperties.area}">
                            <div class="image-container">
                                <amp-img width="23" height="23" src="/content/dam/tajhotels/icons/room-property/area.png" alt = "area image">
                                    </amp-img>
                            </div>
                            </sly>
                            <span role="button" tabindex="0" style="margin-left: 5px;">${roomProperties.area}</span>
                        </div>
                        <div class="col-12 each-room-feature-con" style="margin-bottom: 10px;">
                            <sly data-sly-test.wifi="${roomProperties.wifi}">
                            <div class="image-container">
                                <amp-img width="23" height="23" src="/content/dam/tajhotels/icons/room-property/wifi.png" alt = "wifi icon">
                                    </amp-img>
                            </div>
                            </sly>
                            <span role="button" tabindex="0" style="margin-left: 5px;">${roomProperties.wifi}</span>
                        </div>
                        <div class="col-12 each-room-feature-con" style="margin-bottom: 10px;">
                            <sly data-sly-test.maxOccupancy="${roomProperties.maxOccupancy}">
                            <div class="image-container">
                                <amp-img width="23" height="23" src="/content/dam/tajhotels/icons/room-property/maximumOccoumpany.png" alt = "maximum  Occupancy image">
                                    </amp-img>
                            </div>
                            </sly>
                            <span role="button" tabindex="0" style="margin-left: 5px;">${roomProperties.maxOccupancy}</span>
                        </div>
                        <div class="col-12 each-room-feature-con" style="margin-bottom: 10px;">
                            <sly data-sly-test.bedType="${roomProperties.bedType}">
                            <div class="image-container">
                                <amp-img width="23" height="23" src="/content/dam/tajhotels/icons/room-property/bedType.png" alt = "bed type image">
                                    </amp-img>
                            </div>
                            </sly>
                            <span role="button" tabindex="0" style="margin-left: 5px;">${roomProperties.bedType}</span>
                        </div>
                        <div class="col-12 each-room-feature-con" style="margin-bottom: 10px;">
                            <div class="room-property-value-container">
                                <span role="button" tabindex="0">${roomProperties.signatureFeatureOfRoom}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="room-cost-card-wait-spinner">
                    <div class="taj-loader">
						<div class="taj-loader-circle"></div>
						<div class="taj-loader-circle"></div>
						<div class="taj-loader-circle"></div>
					</div>
                </div>
                <div class="room-rate-unavailable cm-hide">
                    <span role="button" tabindex="0">Unavailable</span>
                </div>
                <div class="room-cost-wrapper">
                    <div class="room-cost-title">Starting Rate/Night</div>
                    <div class="room-cost-rupees">
                        <span role="button" tabindex="0" class="room-price-symbol"> </span>
                        <span role="button" tabindex="0"class="room-prices"></span>
                        <span role="button" tabindex="0" class="room-prices-asterisk">*</span>
                    </div>
                    </div>
                    -->
                    <a href="${properties.parentPage}.html?room-name=${roomProperties.roomTypeName}" target="_top" class="view-details">
                        <button class="view-details cm-btn-secondary ${inheritedPageProperties.sitePath}" tabindex = "-1">VIEW DETAILS</button>
                    </a>

            </div>
        </div>
    </div>
</div>
</template>