<div data-sly-test.edit=${wcmmode.edit}>
    <h1>ihcl news update component</h1>
</div>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihclNewsUpdate'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<div class=" mr-press-release-hide row">
    <div class="col-lg-8 col-md-6">
        <div class="related-news mr-image-with-comments-card related-news-large">
            <div class="guest-individual-card-backFront-wrapper">
                <div class="related-news-banner">
                    <div class="card-img-top guests-speak-hotel-img related-news-banner-img">
                        <sly
                            data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.image, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />
                    </div>
                </div>
                <div class="related-news-footer">
                    <div class="related-news-label">${properties.title}</div>
                    <div class="related-news-date">${properties.date}</div>
                    <div class="desc-section-newsupdate">
                        <div class="rooms-suites-description">${properties.description @context='html'}</div>
                        <div class="rooms-suites-description">${properties.longdescription @context='html'}</div>
                        <a style="position: absolute; bottom: 1.5rem; right: 1.5rem;"
                            href=${properties.viewNewsRedirection}.html><button class="cm-btn-secondary">${properties.buttonLabel}</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 corp-related-news-small-card">
        <div class="ihcl-news-smallcard-wrap">
            <sly class="x-content-wrapper " data-sly-resource="${'par_3' @ resourceType='foundation/components/parsys'}"></sly>
        </div>
    </div>
</div>
</sly>
