<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.hotels.content.offer.banner'}" />
<div class="banner-image-con"
	data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
	<sly
		data-sly-call="${imagetemplate.damImageTemplate @ imagePath= properties.bannerImage ? properties.bannerImage :'/content/dam/tajhotels/in/en/offers/offerBanner.png', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg', bannerClass='cm-banner-image',mobileImage=properties.mobileImage ? properties.mobileImage :'/content/dam/tajhotels/in/en/offers/offerBanner.png'}"></sly>
	<div class="banner-image-tint"></div>
	<div class="banner-titles">
		<div class="cm-header-label-con title-decorator-border">
			<div class="cm-header-label">OFFERS AND PROMOTIONS</div>
		</div>
		<div class="banner-label-below-title-lg"
			data-sly-test="${!properties.offerTitle}">${pageProperties.offerTitle}</div>
		<div class="banner-label-below-title-lg"
			data-sly-test="${properties.offerTitle && pageProperties.cq:template!='/conf/tajhotels/settings/wcm/templates/all-offers'} ">${properties.offerTitle}</div>
		<!-- <div class="banner-label-below-title-sm"
			data-sly-test="${!properties.offerTitle}">${pageProperties.offerShortDesc}</div> -->
		<div class="banner-label-below-title-sm"
			data-sly-test="${properties.offerTitle && pageProperties.cq:template!='/conf/tajhotels/settings/wcm/templates/all-offers'} ">${properties.offerShortDesc}</div>
	</div>
</div>