.jiva-spa-detail-long-desc-detail {
    overflow-y: scroll;
}

.jiva-spa-details-recom-con{
	margin-top:10px;
}

@media only screen and (min-width: 991px){
	.jiva-spa-details-recom-con{
		margin-bottom:5rem;
	}
}

.jiva-spa-card-details-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; 
     background-color: rgba(0,0,0,0.55) !important;
    /*  width:60%;
     max-height:10px; */
     margin-left:auto;
     margin-right:auto;
     height: 100%;
     width: 100%;
     z-index: 100;
}


.jiva-spa-card-details-con { 
    background-color: #fff; 
    padding: 47px 40px 57px 47px;
    padding: 47px 2.5rem 57px 2.9375rem;
    margin:auto;
    display: table;
    position:relative !important;
   	height: 75%;
    width: 85%;
    overflow-y: hidden;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-card-details-con {
        display: block;
        top: 3% !important;
        height: 94% !important;
        margin-top: 0 !important;
        width: 90%;
        padding: 2.5rem 0 1.5rem 1.5rem;
        overflow-y:scroll; 
    }
}

.jiva-spa-details-desc-con {
    display: table-cell;
    width: 52%;
    padding-top: 0px !important;;
    padding-right: 44px;
    padding-right: 2.75rem;
    vertical-align: top;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-desc-con {
        padding: 0;
        display: block;
        width: 98%;
    }
    .jiva-spa-details-desc-con-outer {
    	height: 100%;
    	overflow-y: scroll;
    	padding-right: 1rem;
    }
}

.jiva-spa-details-heading {
    font-size: 36px;
    font-size: 2.275rem;
    font-family: Calibri-Bold;
    color: #323232;
}

.jiva-spa-details-loc {
	font-size:0.8rem;
    color: #9b9b9b;
    border-bottom: none;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-loc {
        color: var(--primaryColor);
        border-bottom: 1px solid var(--primaryColor); 
    }
    .jiva-spa-details-heading {
	    line-height: 1;
	}
}

.jiva-spa-detail-long-desc-detail {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #323232;
    margin-top: 20px;
    margin-top: 1.25rem;
}

.jiva-spa-detail-long-desc-detail p {
    line-height: 1.38;
}
.jiva-spa-details-img-con {
    display: table-cell;
    width: 47%;
    height: 100%;
    position: relative;
    background: #ccc;
}

.jiva-spa-details-img-con img {
    width: 100%;
    height: 100%;
}

.jiva-spa-details-view-photos-con {
    position: absolute;
    bottom: 22px;
    bottom: 1.375rem;
    left: 20px;
    left: 1.25rem;
    height: 36px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 4px 0 9.3px 10px;
    padding: 4px 0 9.3px 0.65rem;
    cursor: pointer;
}

.jiva-spa-details-view-photos-con img {
    height: 15.6px !important;
    width: 15.6px !important;
    margin-right: 10px;
    margin-right: 0.625rem;
}

.jiva-spa-details-view-photos-con span {
    color: #fff;
    font-size: 14px;
    font-size: 0.9125rem;
    font-family: Calibri-Bold;
    letter-spacing: 1.8px;
    margin-right: 10px;
    margin-right: 0.625rem;
}

.jiva-spa-recom-heading {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri-Bold;
    color: #323232;
}

.jiva-spa-recom-details {
    margin-top: 0	px;
}

.jiva-spa-recom-details div {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
}

@media only screen and (max-device-width: 374px) {
    .jiva-spa-recom-details div {
        font-size: 0.8rem;
    }
}

.jiva-spa-recom-details div:first-child {
    border-right: 1px solid #979797;
    padding-right: 15px;
    padding-right: 0.9375rem;
}

.jiva-spa-recom-details div:last-child {
    color: var(--primaryColorDark);
    margin-left: 10px;
    margin-left: 0.625rem;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-price-con {
        position: relative;
        padding-bottom: 45px;
        padding-top: 35px;
    }
    .jiva-spa-details-price-con.jiva-spa-details-price-con-aem{
    	padding-top: 0px;
    }
}

.jiva-spa-details-price {
	color:#323232;
    font-size: 22px;
    font-size: 1.375rem;
    font-family: RupeeForadian;
    position: relative;
    margin-top: 40px;
}

.jiva-spa-details-price span {
    font-size: 24px;
    font-size: 1.3rem;
    font-family: RupeeForadian;
    font-weight: bold;
}

.jiva-spa-details-price span:last-child {    
    vertical-align: super;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-price span:last-child {
        
    }
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-price {
        text-align: right;
        margin-top: 24px;
    }
}

.jiva-spa-details-book-btn {
    width: 211px;
    width: 13.1875rem;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-details-book-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.jiva-spa-details-close {
    position: absolete; 
    right: 11px;
    top: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.jiva-spa-details-close img {
    height: 100%;
    width: 100%;
}

.jiva-spa-mobile-photo-gallery {
   display: none;
    margin-top: 20px;
    height: 12.5rem;
    background: #ccc;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-mobile-photo-gallery {
        display: block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .jiva-spa-mobile-photo-gallery {
        width: 105%;
    }
}



.jiva-spa-mobile-images img {
    height: 200px !important;
    width: 100%;
}

.jiva-spa-view-gallery {
    color: var(--primaryColor);
    text-decoration: underline;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri-Bold;
    /* position: absolute; */
    right: 0;
    top: 12px;
    display: none;
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-view-gallery {
        display: block;
    }
}

@media only screen and (max-device-width: 767px){
	.jiva-spa-details-img-con img {
		height:12.25rem;
	}
}

.rate-card-image-container {
    float: left;
    height: 100%;
    position: relative;
    width: 28rem;
}
 .jiva-spa-mobile-images picture {
	width: 100%;
 }
 
 .rate-card-image-container .rate-card-image {
        height: 100%;
        width: 100%;
        
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    	 .rate-card-image-container .rate-card-image {
            width: 100%;
        }
    }
    
@media only screen and (max-width:991px) {
	.jiva-spa-detail-long-desc-detail {
		margin-top: 0;
		max-height: unset;
	}
}

@media only screen and (min-width:992px) {
	.jiva-spa-detail-long-desc-detail {
		max-height: 196px;
	}
	.jiva-spa-details-price-con {
		position: absolute;
		bottom: 0;
	}
	.jiva-spa-details-desc-con {
		position: relative;
	}	
	.jiva-spa-recom-details {
		margin-top: 0;
	}
	.jiva-spa-details-desc-con-outer {
    	position: relative;
    	height: 100%;
    	display: table;
        width: 100%;
    }
}

@media only screen and  (min-device-width: 768px) and (max-device-width: 991px) {
    .jiva-spa-details-desc-con {
        width: 96%;
    }
    .jiva-spa-card-details-con {
    	padding-left: 2.5rem;
    }
    .jiva-spa-details-desc-con-outer {
    	padding-right: 2rem;
    }
    .jiva-spa-details-close {
    	right: 15px;
    	top: 15px;
    }
    .jiva-spa-detail-long-desc-detail {
    	margin-top: 6px;
    }
}