<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} 
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientLib.all @ categories='tajhotels.holidays-popular-destinations'}" />
<sly
    data-sly-use.destinationsList="com.adobe.cq.wcm.core.components.models.List"/>


<div data-sly-test.edit="${wcmmode.edit}">
   Holidays Popular Destinations Component<br>
   To get the Cards, configure Destination properties in the child pages properties tab.
</div>

	<div class="popular-destination-wrap">
   		<div class="clearfix" data-sly-list.listItem="${destinationsList.items}">
       		<sly data-sly-resource="${'{0}' @ format=[listItem.path], resourceType='tajhotels/components/content/holidays/holidays-popular-destinations/holidays-popular-destination-card'}"></sly>
		</div>
	</div>
