<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='tajhotels.hoteldetails,tajhotels.gallerycarousel'}"/>
     
<div data-component-id="rooms-suites-list" class="overview-roomsNsuits-container cm-content-blocks"
     data-rate-filter="${properties.rateFilter}">
    <div class="cm-header-label-con title-decorator-border">
        <sly data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly>
        <a href="${properties.parentPage}.html">
            <div class="cm-header-offers">SEE MORE</div>
        </a>
    </div>
    <div>
        <div class="row">
            <div class="overview-page-rooms-carousel">
                <div class="clearfix">
                    <sly data-sly-use.roomsList="com.adobe.cq.wcm.core.components.models.List"
                         data-sly-use.template="core/wcm/components/commons/v1/templates.html">
                        <sly data-sly-list.listItem="${roomsList.items}">
                            <sly data-sly-use.roomProperties="${'com.ihcl.core.models.room.RoomPropertiesFetcher' @ path=listItem.path}"/>
                            <sly data-sly-use.roomSuiteCardLib="rooms-and-suites-card.html"/>
                            <sly data-sly-unwrap
                                 data-sly-call="${roomSuiteCardLib.roomSuiteCard @ roomProperties=roomProperties}"/>
                        </sly>
                    </sly>
                </div>
            </div>
        </div>
    </div>
    <div class="rate-class-disclaimer">
        <p data-sly-test="${properties.tax}">*Rates Inclusive of taxes</p>
        <p data-sly-test="${!properties.tax}">*Rates Exclusive of taxes</p>
    </div>
</div>
