<template data-sly-template.roomSuiteCard="${@roomProperties}"> 
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.rooms-and-suites-card'}" />
<div data-component-id="room-suites-card" data-bed-room-map="${roomProperties.roomCodeBedTypeMapString}"
    class="rooms-and-suites-card offers-card-component cm-inner-carousal-cards"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <div class="offers-card-inner-wrapper">
        <div class="rooms-and-suites-image-wrapper">
        <sly data-sly-test.finalImagePath="${roomProperties.DraggedImagePath ? roomProperties.DraggedImagePath : roomProperties.highightImagePath}"/>
            <sly
                data-sly-call="${imagetemplate.damImageTemplate @ imagePath= finalImagePath, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true'}"></sly>
        </div>
        <div class="rooms-and-suites-content">
            <div class="room-title">${roomProperties.roomTypeName}</div>
            <div class="room-description">${roomProperties.description @context='html'}</div>
            <div class="room-content-footer">
                <div>
                    <!-- class="room-amenities-wrapper" -->
                    <div class="row">
                        <div class="col-12 each-room-feature-con">
                            <sly data-sly-test.area="${roomProperties.area}">
                            <div class="image-container">
                                <img src="/content/dam/tajhotels/icons/room-property/area.png" alt = "area image">
                            </div>
                            </sly>
                            <span>${roomProperties.area}</span>
                        </div>
                        <div class="col-12 each-room-feature-con">
                            <sly data-sly-test.wifi="${roomProperties.wifi}">
                            <div class="image-container">
                                <img src="/content/dam/tajhotels/icons/room-property/wifi.png" alt = "wifi icon">
                            </div>
                            </sly>
                            <span>${roomProperties.wifi}</span>
                        </div>
                        <div class="col-12 each-room-feature-con">
                            <sly data-sly-test.maxOccupancy="${roomProperties.maxOccupancy}">
                            <div class="image-container">
                                <img src="/content/dam/tajhotels/icons/room-property/maximumOccoumpany.png" alt = "maximum  Occupancy image">
                            </div>
                            </sly>
                            <span>${roomProperties.maxOccupancy}</span>
                        </div>
                        <div class="col-12 each-room-feature-con">
                            <sly data-sly-test.bedType="${roomProperties.bedType}">
                            <div class="image-container">
                                <img src="/content/dam/tajhotels/icons/room-property/bedType.png" alt = "bed type image">
                            </div>
                            </sly>
                            <span>${roomProperties.bedType}</span>
                        </div>
                        <div class="col-12 each-room-feature-con">
                            <div class="room-property-value-container">
                                <span>${roomProperties.signatureFeatureOfRoom}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="room-cost-card-wait-spinner">
                    <div class="taj-loader">
						<div class="taj-loader-circle"></div>
						<div class="taj-loader-circle"></div>
						<div class="taj-loader-circle"></div>
					</div>
                </div>
                <div class="room-rate-unavailable cm-hide">
                    <span>Unavailable</span>
                </div>
                <div class="room-cost-wrapper">
                    <div class="room-cost-title">Starting Rate/Night</div>
                    <div class="room-cost-rupees">
                        <span class="room-price-symbol"> </span>
                        <span class="room-prices"></span>
                        <span class="room-prices-asterisk">*</span>
                    </div>
                    <a href="${properties.parentPage}.html?room-name=${roomProperties.roomTypeName}">
                        <button class="cm-btn-secondary" tabindex = "-1">VIEW DETAILS</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>