
<template data-sly-template.profileDescription="${@profileValue}">

<sly  data-sly-use.profile="com.ihcl.core.models.ihcl.InvestorProfileListModel"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">

<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihclProfile,taj.hotels.components.individualProfile'}" />

<div class="cm-content-blocks executive-leader-profile-card-carousel-wrp">
<div class="row ihcl-leadership-wrap">
<sly data-sly-list.key="${profile.profileList}">

<div class="offers-page-card-component col-lg-4 col-md-6 col-12 show-more-card-element cm-card-showmore-spacing cm-seleqtions">
            <div class="experiences-container profile-card-wrap">
                <div class="recommended-experiences-wrap">
                    <div class="mr-experiences-images-wrap">
                        <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=key.image,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>
                    </div>
                    <div class="mr-experiences-description-wrap">
                        <div class="mr-experinces-title">${key.name}</div>
                        <div class="mr-experinces-detailsButton-wrap">
                            <div class="mr-experinces-details-wrap">
                                <div class="mr-experinces-details-location">${key.designation}</div>
                            </div>


                            <button class="cm-btn-secondary button-view-details" data-spa-id=${key.id} onclick="popUpIhcl(this)">VIEW DETAILS</button>
                        </div>
                    </div>
                </div>
            </div>

                    <div class="cm-local-details-container mr-profile-popup taj-brand-popup">
                        <div class="cm-local-details-overLay bas-overlay"></div>
                        <div class="cm-local-details">
                            <div class="loc-details-close-cont"><img class="showMap-close" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg" alt  = "close-blue-icon"/></div>
                            <div class="loc-details-wrapper row">
                                <div class="loc-details-container col-lg-6 col-md-12 col-sm-12">
                                    <div class="ho-first-section">
                                        <div class="ho-header">${key.name}</div>
                                        <div class="ho-overview-description"> ${key.description @context='html' }</div>
                                    </div>
                                </div>
                                <div class="loc-image-container mr-popup-image col-lg-6 col-md-12 col-sm-12">
                                    <source type="image/jpeg" media="(max-width: 911px)" srcset="${key.image}" />
                                    <source type="image/jpeg" media="(min-width: 922px)" srcset="${key.image}" /><img src="${key.image}" alt="local area details" width="100%" /></div>
                            </div>
                        </div>

            </div>
        </div>


</sly>
</div>
</div>
  </sly>
</template>

