
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.tajhotels.profilelistpage,tajhotels.ihclProfile'}" />
<div data-sly-test="${wcmmode.edit}">Individual Profile List
	Component</div>
<sly data-sly-test.three="${properties.numberofcards=='3'}">
<div class="profile-card-carousel-wrp">
	<div data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
		data-sly-list.listItem="${list.items}" class="row">
		<sly
			data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/individual-profile-card' }"></sly>
	</div>
</div>
</sly>
<sly data-sly-test.four="${properties.numberofcards=='4'}"> <sly
	data-sly-use.profileTemp="individual-profile-card-retail-template.html" />
<sly data-sly-unwrap
	data-sly-call="${profileTemp.profileNumber @ profileValue=four}" /> </sly>

<sly data-sly-test="${!three && !four && !properties.enablelightbox}">
<div class="cm-content-block">
	<div data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
		data-sly-list.listItem="${list.items}"
		class="row ihcl-leadership-wrap">
		<div class="col-12 col-md-6 col-lg-4 ihcl-leadership-wrap-column">
			<sly
				data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/individual-profile-card'}"></sly>

		</div>
	</div>
</div>
</sly>

<sly data-sly-test="${properties.enablelightbox}"> <sly
	data-sly-test.enablelight="${properties.enablelightbox}" /> <sly
	data-sly-use.profileDescriptionLib="individual-profile-card-template.html" />
<sly data-sly-unwrap
	data-sly-call="${profileDescriptionLib.profileDescription @ profileValue=enablelight}" />
</sly>



