.footer-component {
    padding: 40px 20px;
    padding: 2.5rem 1.25rem;
    font-family: Calibri;
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.06;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
    text-align: left;
    color: #1b1b1b;
    background-color: #efeeee;
}

.footer-component a {
    color: #1b1b1b;
    font-size: 15px;
    font-size: 0.9375rem;
    letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
    .footer-component a {
        font-size: 0.9375rem;
    }
}

.footer-component .footer-logo-wrapper {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.footer-component .logo {
    width: 91px;
    width: 5.6875rem;
    height: auto;
}

.footer-component .subscription-box {
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
}

.footer-component .email-input {
    width: 60%;
    border-radius: 0.125rem;
    background-color: #ffffff;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0);
    padding: 0 15px;
    padding: 0 0.9375rem;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ffff;
    outline: none;
    color: black;
    letter-spacing: 1px;
    letter-spacing: 0.0625rem;
}

.footer-component .subscribe-btn {
    width: 40%;
}

.footer-component .footer-links-list {
    list-style-type: none;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-count: 3;
    padding: 0;
}

@media screen and (max-width: 991px) {
    .footer-component .footer-links-list {
        -moz-column-count: 2;
        column-count: 2;
    }
}

.footer-component .share-icon {
    width: 40px;
    width: 2.5rem;
    margin-right: 15px;
    margin-right: 0.9375rem;
}

.footer-component .download-icon {
    margin-right: 15px;
    margin-right: 0.9375rem;
    width: 78px;
    width: 4.875rem;
    height: 26px;
    height: 1.625rem;
}

.footer-component .brand-icon {
    margin-right: 15px;
    margin-right: 0.9375rem;
    width: auto;
    height: 10px;
    height: 0.625rem;
}

@media screen and (max-width: 991px) {
    .footer-component {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }

    .label-footer-input {
        margin-top: 2.5rem;
        margin-bottom: 0.3125rem;
    }
}

.footer-destination-heading {
    font-size: 17px;
    font-size: 1.0625rem;
    color: #1b1b1b;
    font-family: Calibri;
}

@media screen and (max-width: 767px) {
    .footer-destination-heading {
        font-size: 0.875rem;
    }
}

.footer-destination-expand-button {
    color: var(--primaryColor);
    font-family: Calibri-Bold;
    font-size: 21px;
    font-size: 1.3125rem;
    margin-left: 5px;
    cursor: pointer;
}

.footer-destination-list {
    list-style-type: none;
    column-count: 5;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    padding: 0;
    display: none;
}

@media screen and (max-width: 767px) {
    .footer-destination-list {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        font-size: 0.875rem;
    }
}

.footer-destination-section {
    position: relative;
    overflow: visible;
}

.footer-destination-section::after {
    position: absolute;
    left: 0;
    bottom: -14px;
    bottom: -0.875rem;
    width: 100%;
    height: 1px;
    background: #979797;
    content: ' ';
    opacity: 0.5;
}

.footer-about-section {
    margin-top: 20px ! important;
    margin-top: 1.25rem ! important;
    position: relative;
    font-size: 15px;
    font-size: 0.9375rem;
}

.footer-about-section::after {
    position: absolute;
    left: 0;
    bottom: -14px;
    bottom: -0.875rem;
    width: 100%;
    height: 1px;
    background: #979797;
    content: ' ';
    opacity: 0.5;
}

@media screen and (max-width: 767px) {
    .footer-about-section::after {
        display: none;
    }
}

.footer-media-section {
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .footer-media-section {
        position: relative;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .footer-media-section::after {
        position: absolute;
        left: 0;
        bottom: -1.25rem;
        width: 100%;
        height: 1px;
        background: #979797;
        content: ' ';
        opacity: 0.5;
    }
}

.footer-app-section {
    padding-left: 53px;
    padding-left: 3.3125rem;
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .footer-app-section {
        padding-left: 0;
        display: none;
    }
}

.footer-brand-details-section {
    margin-top: 20px ! important;
    margin-top: 1.25rem ! important;
    position: relative;
    font-size: 15px;
    font-size: 0.9375rem;
}

@media screen and (max-width: 767px) {
    .footer-brand-details-section {
        margin-top: 1.5625rem !important;
    }
}

.footer-disclaimer {
    color: #4a4a4a;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: Calibri;
    margin-top: 71px;
    margin-top: 4.4375rem;
}

@media screen and (max-width: 767px) {
    .footer-disclaimer {
        display: none;
    }
}

.footer-brands-list {
    list-style-type: none;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-count: 3;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .footer-brands-list {
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer-brands-list {
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media screen and (max-width: 767px) {
    .brand-logos-section {
        margin-top: 1.125rem;
    }
}

@media screen and (max-width: 416px) {
    .brand-logos-section a:nth-child(4) {
        margin-right: 4.375rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer-email-section {
        padding-left: 4rem !important;
    }
}

.footer-email {
    height: 35px;
    height: 2.1875rem;
    line-height: 35px;
    line-height: 2.1875rem;
    border: none;
}
