.header-warpper {
    margin: auto;
}

.header-warpper .navbar {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: 2.3px;
    text-align: left;
    color: #4a4a4a;
    padding: 8px 0;
    padding: .5rem 0;
    height: 80px;
    padding: 0;
    height: 45px;
}

.header-warpper .brand-logo-wrapper {
    position: absolute;
    top: -11px;
    right: -16px;
    right: -1rem;
    display: none;
}

.header-warpper .brand-logo-wrapper.active {
    display: block;
}

.header-warpper .is-gateway-logo .taj-image {
    width: 75px;
    height: auto;
}

@media only screen and (max-width: 991px) {
    .header-warpper .is-gateway-logo {
        display: none !important;
    }
}

.header-warpper .is-vivanta-logo .taj-image {
    width: 75px;
    height: auto;
}

@media only screen and (max-width: 991px) {
    .header-warpper .is-vivanta-logo {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .header-warpper .is-taj-logo {
        display: none !important;
    }
}

.header-warpper .taj-image {
    width: 39px;
    height: 34px;
}

.header-warpper .is-holiday-logo .taj-image {
    width: 75px;
    height: auto;
}

@media only screen and (max-width: 991px) {
    .header-warpper .is-holiday-logo {
        display: none !important;
    }
}

.header-warpper .book-stay-btn {
    display: none;
    font-size: 14px;
    font-size: 0.875rem;
}

.header-warpper .header-dropdown-image {
    margin-bottom: 3px;
    width: 12px;
    width: 0.75rem;
    margin-left: 4px;
    margin-left: 0.25rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-warpper .header-dropdown-image {
        width: 15px;
    }
}

.header-warpper .navbar-nav .book-stay-btn {
    display: inline-block;
} 

.header-warpper .navbar-nav .line-separator {
    margin-left: 24px;
    margin-left: 1.5rem;
    height: 27px;
    border-right: solid 1px #979797;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .header-warpper .navbar-nav {
        width: 100%;
    }
}

.header-warpper .last-elem-wrapper {
    position: relative;
}

.header-warpper .selected-flag {
    width: 17px;
    height: 10px;
    background: red;
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
}

.header-warpper .selected-txt {
    vertical-align: middle;
}

.gb-search-con {
  /*position: absolute;
    right: -80px;
    top: 0;*/
}

.gb-search-con .gb-search-wrapper {
  /*position: absolute;*/
    text-align: center;
  /*width: 80px;
        height: 80px;*/
    width: 45px;
    height: 45px;
    background-image: var(--linearGradient);
    cursor: pointer;
}

.gb-search-con .gb-search-icon {
    display: inline-block;
    vertical-align: middle;
}

.gb-search-con .search-icon-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.last-item {
    position: absolute;
    top: 4px;
}

@media only screen and (max-width: 991px) {
    .last-item {
        position: inherit;
        left: 0;
    }
}

.navbar {
    position: unset !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  /*padding-right: 10px;
    padding-left: 10px;*/
    padding-right: 9px;
    padding-right: 0.6rem;
    padding-left: 9px;
    padding-left: 0.6rem;
    cursor: pointer;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        letter-spacing: 0.9px;
        border-bottom: 1px solid rgba(151, 151, 151, 0.4);
        font-size: 1rem;
        font-family: Calibri;
        color: #4a4a4a;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 1.3rem;
    }
}

.navbar-expand-lg .navbar-nav .nav-link.log-spacing {
  /*padding: 0 10px;*/
    padding: 0 9px;
    padding: 0 0.6rem;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .nav-link.log-spacing {
        padding: 0.5rem;
    }
}

.navbar-expand-lg .navbar-nav .nav-item .middle-allignment {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.navbar-light .navbar-brand {
  /*margin-right: 30px;*/
    margin-right: 30px;
    margin-right: 1.875rem;
    position: relative;
  /*height: 2px;
    width: 2px;*/
}

.dropdown-image.last-image {
  /*position: absolute;
    bottom: 14px;*/
}

.nav-item {
    position: relative;
}

.cm-header-dd-options-con {
    padding: 16px;
    padding: 1rem;
    font-size: 16px;
    font-size: 1rem;
    display: none;
    z-index: 100;
}

.cm-header-dd-options-con.active {
    display: block;
}

.cm-header-dd-options-con .cm-each-header-dd-item {
    border-bottom: solid 1px rgba(151, 151, 151, 0.4);
    padding: 8px 0.625em;
    padding: 0.5rem 0.625em;
    word-wrap: break-word;
}

.cm-header-dd-options-con .cm-each-header-dd-item:first-child {
    padding-top: 0;
}

.cm-header-dd-options-con .cm-each-header-dd-item:last-child {
    border: none;
    padding-bottom: 0;
}

.cm-header-dd-options-con .cm-each-header-dd-item a {
    color: rgba(74, 74, 74, 0.8);
    font-family: Calibri;
}

.cm-header-dd-options-con .cm-each-header-dd-item a:hover {
    color: #4a4a4a;
    text-decoration: none;
}

@media only screen and (max-width: 991px) {
    .cm-header-dd-options-con {
        display: none;
        padding: 0 !important;
    }
}

.header-tic-options,
.header-others-options,
.header-language-options,
.header-currency-options {
    width: 150px;
    width: 9.375rem;
    top: 44px;
    box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.3);
}

.header-tic-options::after,
.header-others-options::after,
.header-language-options::after,
.header-currency-options::after {
    border-top: 20px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #fff;
    border-left: 10px solid transparent;
    top: -40px;
}

@media only screen and (max-width: 991px) {
    .header-tic-options,
  .header-others-options,
  .header-language-options,
  .header-currency-options {
        box-shadow: none;
    }
}

.header-tic-options {
    left: 30%;
}

.header-tic-options::after {
    left: 67%;
}

.header-others-options {
    left: 6%;
}

.header-language-options {
    width: 208px;
    width: 13rem;
    right: -26%;
    top: 40px;
}

.header-language-options::after {
    left: 80%;
}

.header-currency-options {
    width: 136px;
    width: 8.5rem;
    top: 40px;
    left: -8%;
}

.header-dd-option-text {
    margin-left: 4px;
    margin-left: 0.25rem;
}

.selected-currency {
    font-size: 16px;
    font-size: 1rem;
    font-family: RupeeForadian;
    display: inline-block;
    margin-right: 4px;
    margin-right: 0.25rem;
    vertical-align: middle;
}

.header-dd-option-currency {
    font-size: 16px;
    font-size: 1rem;
    font-family: RupeeForadian;
    color: #cf9650;
    display: table-cell;
    width: 40%;
    padding-right: 10px;
    padding-right: 0.625rem;
}

.cm-header-dd-options-con.header-currency-options .cm-each-header-dd-item a {
    display: table;
    width: 100%;
}

.cm-header-dd-options-con.header-currency-options .cm-each-header-dd-item a .header-dd-option-text {
    display: table-cell;
    width: 65%;
}

@media only screen and (max-width: 991px) {
    .header-warpper {
        background: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    /*.taj-image {
            width: 39px;
            height: 34px;
        }*/
    }

    .header-warpper .navbar {
        height: 56px;
        -ms-flex-pack: initial;
        justify-content: initial;
    }

    .header-warpper .navbar-toggler {
        -ms-flex-order: 1;
        order: 1;
        border-color: transparent;
        padding: 0 0 0 4px;
        margin-right: 25px;
    }

    .header-warpper .navbar-light .navbar-brand {
        margin-right: 29%;
        -ms-flex-order: 2;
        order: 2;
    }

    .header-warpper .book-stay-btn {
        -ms-flex-order: 3;
        order: 3;
        display: inline-block;
        font-size: 1rem;
    /*padding: 8px 11px;*/
        margin-right: 13px;
    }

    .header-warpper .navbar-nav .book-stay-btn {
        display: none;
    }

    .header-warpper .btn-primary.book-stay-btn {
        padding: 0;
        width: 106px;
        height: 30px;
        margin-right: 0;
    }

    .gb-search-con {
        position: absolute;
        right: 0px;
        top: 0;
        width: 56px;
        height: 56px;
    }

    .gb-search-con .gb-search-wrapper {
        position: absolute;
        text-align: center;
        width: 56px;
        height: 56px;
    }

    .gb-search-con .gb-search-icon {
        height: 23px;
        width: 23px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-warpper .navbar-light .navbar-brand {
        margin-right: 58%;
        -ms-flex-order: 2;
        order: 2;
    }

    .header-warpper .navbar-toggler {
        margin-left: 10px;
    }

    .header-warpper.container {
        max-width: initial;
    }
}

@media only screen and (max-width: 375px) {
    .header-warpper .navbar-light .navbar-brand {
        margin-right: 22%;
    }
}

@media only screen and (max-width: 320px) {
    .header-warpper .navbar-light .navbar-brand {
        margin-right: 9%;
    }

    .banner-titles .cm-header-label {
        font-size: 20px;
    }
}

.navbar-collapse-inner {
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (max-width: 991px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
    }

    .navbar-collapse-inner {
        display: block;
        background: #fff;
        width: 90%;
        height: 100%;
        padding-left: 2.625rem;
        padding-right: 1.6875rem;
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navbar-light .navbar-brand {
        margin-right: 10px;
    }

    .gb-search-con .gb-search-wrapper {
        width: 35px;
    }
}

.header-profile-wrp {
    margin: 0 16px;
    margin: 0 1rem;
    min-width: 167px;
    min-width: 10.4375rem;
}

.header-profile-wrp .profile-name-wrp {
    text-align: center;
    min-height: 55px;
    min-height: 3.4375rem;
    background-color: #f8f8f8;
    padding: 0px 25px 0px 23px;
    padding: 0rem 1.5625rem 0rem 1.4375rem;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: 2px;
    letter-spacing: 0.125rem;
    color: #4a4a4a;
    cursor: pointer;
}

.header-profile-wrp .profile-options {
    z-index: 1;
    display: none;
    position: absolute;
    top: 53px;
    top: 3.3125rem;
    left: 0;
    width: 100%;
}

.header-profile-wrp .profile-options .profile-default-options {
    background-color: #eeeeee;
    padding: 0 18px 0 15px;
    padding: 0 1.125rem 0 0.9375rem;
}

.header-profile-wrp .profile-options .profile-default-options .profile-default-option {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 2.64;
    color: #4a4a4a;
    padding: 8px 0;
    padding: 0.5rem 0;
    border-bottom: solid 1px #dcdcdc;
    cursor: pointer;
}

.header-profile-wrp .profile-options .profile-default-options .profile-default-option:last-child {
    border-bottom: none;
}

.header-profile-wrp .profile-options .profile-default-options .profile-default-option:hover {
    font-family: Calibri-bold;
}

.header-profile-wrp .profile-options .profile-tic-options {
    background-color: #1b1b1b;
}

.header-profile-wrp .profile-options .profile-tic-options .prof-tic-header {
    padding: 13px;
    padding: 0.8125rem;
    text-align: center;
    border-bottom: dashed 0.5px #bdeaef;
}

.header-profile-wrp .profile-options .profile-tic-options .prof-tic-header .tic-platinum-icon {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    height: 2rem;
    width: 30px;
    width: 1.875rem;
}

.header-profile-wrp .profile-options .profile-tic-options .prof-tic-header .tic-platinum-title {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri-bold;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.23;
    color: #bdeaef;
}

.header-profile-wrp .profile-options .profile-tic-options .prof-tic-content {
    padding: 10px 14px 11px;
    padding: 0.625rem 0.875rem 0.6875rem;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.07;
    color: #ffffff;
}

.header-profile-wrp .profile-options .profile-tic-options .prof-tic-content .prof-content-wrp:nth-child(2) .prof-content-title,
.header-profile-wrp .profile-options .profile-tic-options .prof-tic-content .prof-content-wrp:nth-child(2) .prof-content-value {
    padding-bottom: 10px;
    padding-bottom: 0.625rem;
}

.header-profile-wrp .profile-options .profile-tic-options .prof-tic-content .prof-content-wrp .prof-content-title {
    padding-top: 10px;
    padding-top: 0.625rem;
    border-right: solid 1px rgba(151, 151, 151, 0.3);
}

.header-profile-wrp .profile-options .profile-tic-options .prof-tic-content .prof-content-wrp .prof-content-value {
    padding-top: 10px;
    padding-top: 0.625rem;
    text-align: right;
    letter-spacing: 0px;
    letter-spacing: 0.05rem;
}

.header-profile-wrp .profile-options .profile-tic-options .prof-tic-content .prof-content-value-wrp {
    display: inline-block;
    width: 49%;
    padding-bottom: 10px;
    padding-bottom: 0.625rem;
}

.header-profile-wrp .profile-options .profile-tic-options .prof-tic-content .point-summary-btn {
    margin-top: 10px;
    margin-top: 0.625rem;
    width: 100%;
    font-size: 14px;
    font-size: 0.875rem;
}

.navbar-heading {
    display: none;
    margin-top: 11px;
    margin-top: 0.6875rem;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
}

.navbar-heading .header-taj-icon-mobile {
    height: 34px;
    height: 2.125rem;
    width: 39px;
    width: 2.4375rem;
    margin-left: 28px;
    margin-left: 1.75rem;
}

.navbar-heading .header-mobile-back-btn {
    height: 22px;
    height: 1.375rem;
    margin-left: -13px;
    margin-left: -0.8125rem;
}

.navbar-heading .header-taj-link {
    color: #d59d5a;
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    line-height: 0.8;
    float: right;
    border-bottom: 1px solid #d59d5a;
    padding-top: 15px;
    padding-top: 0.9375rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-heading .header-taj-link {
        font-size: 16px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-heading {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .nav-others {
        border-bottom: 1px solid var(--primaryColor) !important;
    }
}

@media only screen and (max-width: 991px) {
    .book-a-stay-con {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .line-separator-con {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .header-form-mobile-view {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width: 991px) {
    .nav-item-with-arrow img {
        float: right;
        padding-top: 0.5rem;
    }
}

.header-dropdown-image-selected {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media only screen and (max-width: 991px) {
    .header-dropdown-image-selected {
        padding-bottom: 0.5rem;
        padding-top: 0;
    }
}

@media only screen and (max-width: 991px) {
    .cm-header-dropdowns .box-with-top-arrow {
        position: unset;
        width: 100%;
    }

    .cm-header-dropdowns .box-with-top-arrow .cm-each-header-dd-item {
        margin: 0 -0.6rem;
        padding-right: 0;
        border-bottom: none;
        border-top: 1px solid rgba(151, 151, 151, 0.4);
    }

    .cm-header-dropdowns .box-with-top-arrow .cm-each-header-dd-item:first-child {
        padding-top: 0.5rem;
        margin-top: 0.5rem;
    }

    .cm-header-dropdowns .box-with-top-arrow::after {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cm-header-dropdowns .cm-each-header-dd-item {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 991px) {
    .log-spacing .header-dropdown-image {
        padding-bottom: 0 !important;
    }
}

@media only screen and (max-width: 991px) {
    .nav-link-expanded {
        font-family: Calibri-Bold !important;
    }
}
