.search-container.mr-stickyScroll {
    position: fixed ! important;
    width: 100% !important;
    top: 0 !important;
    bottom: initial !important;
    z-index: 6 !important;
}

.cm-page-container {
    overflow: auto;
    height: 100vh;
    background: #f5f5f5;
}

.cm-page-container .row {
    margin: auto;
}

.cm-page-container [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.cm-page-container .header {
    width: 100%;
    background: #ffffff;
    position: relative;
}

.cm-page-container .header .header-nav-prelogin-search {
    display: none;
    position: relative;
    z-index: 7;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper {
    position: fixed;
    top: 72px;
    top: 4.5rem;
    left: 0;
    right: 0;
    bottom: initial;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper {
        top: 0;
    }
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap::before {
    left: 0px;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .explore-taj-content {
    background: #ffffff;
    padding-left: 32px;
    padding-left: 2rem;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input {
    background: #ffffff;
    opacity: 1;
    color: #323232;
    font-size: 24px;
    font-size: 1.5rem;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-webkit-input-placeholder {
    color: #c9c9c9;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-moz-placeholder {
    color: #c9c9c9;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input:-ms-input-placeholder {
    color: #c9c9c9;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::placeholder {
    color: #c9c9c9;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .nav-prelogin-close {
    display: block;
    position: absolute;
    right: -33px;
    top: 22px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .nav-prelogin-close {
        display: none;
    }
}

.cm-page-container .banner-container {
    width: 100%;
    position: relative;
}

.cm-page-container .banner-container .search-container {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .banner-container .search-container {
        bottom: 7px;
        padding: 0px 4px;
    }
}

.cm-page-container .cm-header-label-con {
    font-size: 30px;
    font-family: Calibri-Bold;
    color: #1b1b1b;
    margin-bottom: 57px;
    position: relative;
    display: block;
}

@media only screen and (max-width: 991px) {
    .cm-page-container .cm-header-label-con {
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .cm-page-container .cm-header-label-con {
        font-size: 24px;
        text-align: center;
        margin-bottom: 37px;
        display: block;
    }
}

.cm-page-container .cm-header-label-con .cm-header-label {
    line-height: 1;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .cm-header-label-con .cm-header-label {
        width: 90%;
    }
}

.cm-page-container .cm-header-label-con .cm-header-sublevel {
    line-height: 1;
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 476px;
    margin-top: 17px;
}

@media only screen and (max-width: 991px) {
    .cm-page-container .cm-header-label-con .cm-header-sublevel {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .cm-page-container .cm-header-label-con .cm-header-sublevel {
        display: none;
    }
}

.cm-page-container .cm-header-label-con .cm-header-offers {
    display: inline-block;
    position: absolute;
    right: 0;
    color: var(--primaryColorDark);
    font-size: 16px;
    border-bottom: 1px solid var(--primaryColorDark);
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .cm-header-label-con .cm-header-offers {
        display: none;
    }
}

.cm-page-container .content-wrapper {
    margin: 65px auto 81px;
  /*@media only screen and (min-device-width : 1025px) and (max-device-width : 1400px) {
max-width: 960px;
}
@media only screen and (min-device-width : 960px) and (max-device-width : 1024px) {
max-width: 900px;
}*/
}

.cm-page-container .content-wrapper .cm-content-blocks {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .content-wrapper .cm-content-blocks {
        margin-top: 30px;
    }
}

.cm-page-container .content-wrapper .cm-content-blocks:first-child {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .content-wrapper .cm-content-blocks:first-child {
        margin-top: 30px;
    }
}

.cm-page-container .footer {
    width: 100%;
    background-color: #efeeee;
}

@media only screen and (max-width: 480px) {
    .cm-page-container .content-wrapper {
        margin: 30px auto 58px;
        max-width: 100%;
    }
}

.title-decorator-border {
    position: relative;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.title-decorator-border::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100px;
    background-color: var(--primaryColor);
    left: 0;
    bottom: -10px;
}

@media only screen and (max-width: 767px) {
    .title-decorator-border {
        text-align: center;
        font-size: 20px;
    }

    .title-decorator-border::after {
        left: 50%;
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }
}

.offers-button-wrapper {
    display: none;
    margin-top: 30px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .offers-button-wrapper {
        display: block;
    }
}

.leftArrow {
    position: absolute;
    left: -5%;
    bottom: 38%;
    z-index: 1;
    height: 80px;
    height: 5rem;
    width: 48px;
    width: 3rem;
    cursor: pointer;
}

.leftArrow img {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .leftArrow {
        height: 4rem;
        width: 2rem;
        left: -3%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .leftArrow {
        display: none;
    }
}

.rightArrow {
    position: absolute;
    cursor: pointer;
    right: -5%;
    bottom: 38%;
    height: 80px;
    height: 5rem;
    width: 48px;
    width: 3rem;
}

.rightArrow img {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .rightArrow {
        height: 4rem;
        width: 2rem;
        right: -3%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .rightArrow {
        display: none;
    }
}

::-webkit-scrollbar {
    display: none;
}

.popular-destination-wrap,
.offers-and-deals-wrap,
.cm-inner-carousel-wrap,
.confirmation-experiences-wrap,
.profile-card-carousel-wrp {
    overflow-x: hidden;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .popular-destination-wrap,
  .offers-and-deals-wrap,
  .cm-inner-carousel-wrap,
  .confirmation-experiences-wrap,
  .profile-card-carousel-wrp {
        overflow-x: scroll;
    }
}

@media only screen and (min-device-width: 550px) and (max-device-width: 960px) {
    .popular-destination-wrap,
  .offers-and-deals-wrap,
  .cm-inner-carousel-wrap,
  .confirmation-experiences-wrap,
  .profile-card-carousel-wrp {
        overflow-x: scroll;
    }
}

.signature-experiences-cards-wrap,
.spa-indulgences-cards-wrap,
.body-scrubs-cards-wrap {
    overflow-x: hidden;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .signature-experiences-cards-wrap,
  .spa-indulgences-cards-wrap,
  .body-scrubs-cards-wrap {
        overflow-x: scroll;
    }
}

@media only screen and (min-device-width: 550px) and (max-device-width: 960px) {
    .signature-experiences-cards-wrap,
  .spa-indulgences-cards-wrap,
  .body-scrubs-cards-wrap {
        overflow-x: scroll;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.hotels-container {
    margin-top: 24px;
    width: 100%;
    position: relative;
    min-height: 300px;
}

.hotels-container .cm-header-label-con {
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    .hotels-container {
        margin-top: 30px;
        margin-bottom: 0px;
        height: auto;
        min-height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .cm-page-container {
        background: #f5f5f5;
    }

    .offers-container {
        margin-top: 29px !important;
    }
}

@media only screen and (max-width: 767px) {
    .cm-page-container {
        background: #f5f5f5;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .participating-hotels {
        padding-top: 70px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .participating-hotels {
        padding-top: 80px;
    }
}

.generic-show-more img.rotate-show-more-icon {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.card-show-more-button,
.generic-show-more,
.participating-hotels-show-more,
.dining-hotels-show-more {
    text-align: center;
    font-size: 16px;
    font-size: 1rem;
    color: var(--primaryColor);
    font-family: Calibri-bold;
    margin-top: 30px;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2px;
    letter-spacing: 0.125rem;
    outline: none;
}

.card-show-more-button img,
.generic-show-more img,
.participating-hotels-show-more img,
.dining-hotels-show-more img {
    margin-left: 10px;
    margin-left: 0.625rem;
    vertical-align: baseline;
}

.jiva-spa-show-more {
    text-align: center;
    font-size: 16px;
    font-size: 1rem;
    color: var(--primaryColor);
    font-family: Calibri-bold;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2px;
    letter-spacing: 0.125rem;
}

.jiva-spa-show-more img {
    margin-left: 10px;
    margin-left: 0.625rem;
    vertical-align: baseline;
}

.jiva-spa-show-more .show-more-inverted {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.participating-hotels-search {
    position: absolute;
    right: 0;
    top: 21px;
    width: 43.2%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .participating-hotels-search {
        width: 100%;
        top: 96px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .participating-hotels-search {
        width: 92%;
        top: 96px;
        margin: 0 4%;
    }
}

.specific-hotels-page .content-wrapper,
.global-dining-layout .content-wrapper {
    margin-top: 30px;
    margin-bottom: 80px;
}

.specific-hotels-page .content-wrapper .cm-content-blocks:first-child,
.global-dining-layout .content-wrapper .cm-content-blocks:first-child {
    margin-top: 26px;
}

.specific-hotels-page .content-wrapper .cm-content-blocks,
.global-dining-layout .content-wrapper .cm-content-blocks {
    margin-top: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-page .content-wrapper .cm-content-blocks,
  .global-dining-layout .content-wrapper .cm-content-blocks {
        margin-top: 26px;
    }
}

.specific-hotels-page .specific-hotels-breadcrumb,
.global-dining-layout .specific-hotels-breadcrumb {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.specific-hotels-page .specific-hotels-breadcrumb a,
.global-dining-layout .specific-hotels-breadcrumb a {
    font-weight: bold;
    color: var(--primaryColor);
    text-decoration: underline;
}

.specific-hotels-page .specific-hotels-breadcrumb span,
.global-dining-layout .specific-hotels-breadcrumb span {
    color: #4a4a4a;
    margin: 0 5px;
    margin: 0 0.3125rem;
}

.specific-hotels-page .specific-hotels-breadcrumb span:last-child,
.global-dining-layout .specific-hotels-breadcrumb span:last-child {
    margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-page .specific-hotels-breadcrumb,
  .global-dining-layout .specific-hotels-breadcrumb {
        display: none;
    }
}

.specific-hotels-page .specific-hotels-breadcrumb.mobile-view-visible,
.global-dining-layout .specific-hotels-breadcrumb.mobile-view-visible {
    display: block;
    background-color: #efeeee;
    margin-bottom: -24px;
    margin-bottom: -1.5rem;
    mix-blend-mode: multiply;
    padding-left: 25px;
    padding-left: 1.6rem;
    margin-top: 24px;
    margin-top: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .specific-hotels-page .specific-hotels-breadcrumb.mobile-view-visible,
  .global-dining-layout .specific-hotels-breadcrumb.mobile-view-visible {
        display: none;
    }
}

.specific-hotels-page .specific-hotels-main-tab-container,
.global-dining-layout .specific-hotels-main-tab-container {
    width: 100%;
}

.specific-hotels-page .room-selection-data,
.global-dining-layout .room-selection-data {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: Calibri;
}

.specific-hotels-page .room-selection-data span:first-child,
.global-dining-layout .room-selection-data span:first-child {
    color: var(--primaryColor);
    font-weight: bold;
}

.specific-hotels-page .room-selection-data span:nth-child(2),
.global-dining-layout .room-selection-data span:nth-child(2) {
    color: #8d8d8d;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .specific-hotels-page .room-selection-data,
  .global-dining-layout .room-selection-data {
        margin-left: 15px;
        font-size: 1.25rem;
    }
}

@media only screen and (max-device-width: 320px) {
    .specific-hotels-page .room-selection-data,
  .global-dining-layout .room-selection-data {
        font-size: 1rem;
    }
}

.specific-hotels-page .rate-tab-container,
.global-dining-layout .rate-tab-container {
    padding-right: 63px;
    padding-right: 3.9375rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .specific-hotels-page .rate-tab-container,
  .global-dining-layout .rate-tab-container {
        padding-right: 0;
    }
}

.specific-hotels-page .rate-tax-disclaimer,
.global-dining-layout .rate-tax-disclaimer {
    color: #323232;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    margin-top: 21px;
    padding-left: 10px;
    padding-left: 0.625rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-page .rate-tax-disclaimer,
  .global-dining-layout .rate-tax-disclaimer {
        margin-left: 1rem;
        margin-top: 41px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-page .rate-cards-container,
  .global-dining-layout .rate-cards-container {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-page .rooms-suites-container,
  .global-dining-layout .rooms-suites-container {
        display: none;
    }
}

.specific-hotels-page .offers-header-wrapper,
.global-dining-layout .offers-header-wrapper {
    display: none;
}


.destination-layout .destination-layout-breadcrumb {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.destination-layout .destination-layout-breadcrumb a {
    font-weight: bold;
    color: var(--primaryColor);
    text-decoration: underline;
}

.destination-layout .destination-layout-breadcrumb span {
    color: #4a4a4a;
    margin: 0 5px;
    margin: 0 0.3125rem;
}

.destination-layout .destination-layout-breadcrumb a:last-child {
    margin: 0;
    color: #4a4a4a;
    text-decoration: none;
    font-weight: normal;
    cursor: auto;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .destination-layout .destination-layout-breadcrumb {
        display: none;
    }
}

.destination-layout .content-wrapper {
    margin-top: 25px;
}

.destination-layout .mr-view-toggler-switch-Container {
    width: 130px;
    width: 8.125rem;
    height: 35px;
    height: 2.1875rem;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .destination-layout .mr-view-toggler-switch-Container {
        width: 6.25rem;
    }
}

.destination-layout .mr-Filter-checkbox-wrap {
    display: inline-block;
    margin-right: 30px;
    margin-right: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .destination-layout .mr-Filter-checkbox-wrap {
        display: none;
    }
}

.destination-layout .mr-filter-sort-wrap {
    display: inline-block;
    float: right;
    width: 578px;
    width: 36.125rem;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .destination-layout .mr-filter-sort-wrap {
        width: 10.5rem;
        text-align: left;
        display: table;
    }
}

.destination-layout .mr-sortBy-wrap {
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .destination-layout .mr-sortBy-wrap {
        display: table-cell;
        vertical-align: middle;
        padding-left: 0.5rem;
    }
}

.destination-layout .mr-filterIconWrap {
    display: none;
}

@media only screen and (max-width: 767px) {
    .destination-layout .mr-filterIconWrap {
        display: table-cell;
        vertical-align: middle;
        width: 10%;
        padding-right: 0.5rem;
        border-right: 1px solid #979797;
    }

    .destination-layout .mr-filterIconWrap img {
        width: 1.6875rem;
        height: 1.4375rem;
    }
}

.destination-layout .mr-sortByFilterLablel {
    display: inline-block;
}

.destination-layout .selectcontainerSortBy {
    width: 130px;
    width: 8.125rem;
}

@media only screen and (max-width: 767px) {
    .destination-layout .selectcontainerSortBy {
        font-size: 1rem;
    }
}

.specific-hotels-back-con {
    margin-top: 26px;
}

.specific-hotels-back-con a {
    font-family: Calibri-Bold;
    color: var(--primaryColor);
    font-size: 16px;
    font-size: 1rem;
}

.specific-hotels-back-con a:hover {
    text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-back-con {
        display: none;
    }
}

.specific-hotels-offer-content {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #323232;
    margin-bottom: 57px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-offer-content {
        margin: 0 15px 26px;
    }
}

.specific-hotels-offers {
    margin-bottom: 42px !important;
}

.book-ind-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10;
    bottom: 0;
    display: none;
}

.cart-layout {
    background: #f5f5f5;
}

.cart-layout .content-wrapper {
    margin-top: 20px !important;
}

.cart-layout .cart-hotel-card-container {
    margin-top: 35px !important;
}

.cart-layout .total-price-header .carts-add-room {
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .cart-layout .total-price-header {
        display: none;
    }
}

.cart-layout .cart-selected-rooms-addons-container {
    margin-bottom: 88px;
}

.cart-layout .cart-selected-rooms-addons-container .cart-addons-container {
    display: none;
    margin-bottom: 19px;
}

.cart-layout .cart-selected-rooms-addons-container .cart-addons-container.show-addons {
    display: block;
}

.cart-layout .cart-selected-rooms-addons-container .rates-tax-text {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.38;
    color: #323232;
    margin: 16px 0 8px;
    margin: 1rem 0 0.5rem;
}

.cart-layout .cart-footer-fixed-total-price {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #ffffff;
    padding-top: 22px;
    padding-top: 1.4rem;
    min-height: 88px;
    min-height: 5.5rem;
    text-align: center;
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.05);
}

.cart-layout .cart-footer-fixed-total-price .total-price-back {
    display: none;
}

.cart-layout .cart-footer-fixed-total-price .total-prize-con {
    position: relative;
    margin-top: -12px;
    line-height: 1;
}

.cart-layout .cart-footer-fixed-total-price .total-prize-con div {
    float: none;
}

.cart-layout .cart-footer-fixed-total-price .total-prize-con div:first-child {
    font-size: 14px;
    font-size: 0.875rem;
    position: absolute;
    right: 9px;
}

.cart-layout .cart-footer-fixed-total-price .total-prize-con div:last-child {
    margin-top: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .cart-layout .cart-footer-fixed-total-price .total-prize-con div:last-child {
        margin-top: 22px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .cart-layout .cart-footer-fixed-total-price .total-prize-con {
        margin-top: 0;
    }
}

.cart-layout .cart-footer-fixed-total-price .best-deal-desc {
    line-height: unset;
}

.specific-hotels-content-wrap .about-specific-city {
    min-height: 450px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-content-wrap .about-specific-city {
        min-height: 448px;
    }
}

.specific-hotels-content-wrap .about-specific-hotel {
    min-height: 230px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-content-wrap .about-specific-hotel {
        min-height: 241px;
    }
}

.specific-hotels-content-wrap .advertisement-specific-hotel {
    height: 200px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-content-wrap .advertisement-specific-hotel {
        height: 143px;
    }
}

.visible {
    display: block !important;
}

.hidden {
    display: none !important;
}

.checkout-layout .coupon-hide-on-checkout-page {
    display: none;
}

.cart-layout .header-warpper .book-stay-btn,
.checkout-layout .header-warpper .book-stay-btn {
    display: none !important;
}

@media only screen and (min-width: 768px) {
    .home-page-layout main .banner-container .search-container .search-and-suggestions-wrapper.input-scroll-top {
        position: relative;
    }
}

.confirmation-main {
    position: relative;
}

.confiramtion-wrap {
    padding-top: 29px;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .confiramtion-wrap {
        padding-top: 0;
    }
}

.confiramtion-wrap .confirmation-background-banner {
    position: absolute;
    top: -65px;
    left: 0;
}

@media only screen and (max-width: 767px) {
    .offers-page .banner-container.offer-details-banner-container {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .offers-page .content-wrapper.offer-details-content-wrapper {
        margin-top: 2rem;
    }
}

.selectSubContainer {
    border-bottom: 2px solid rgba(27, 27, 27, 0.3);
    width: 60%;
    display: inline-block;
}

.selectSubContainer .selectboxit-container * {
    font-family: Calibri;
}

.selectSubContainer .selectboxit-container {
    width: 100%;
    font-family: Calibri;
}

.selectSubContainer .selectboxit-container .selectboxit {
    width: 100% ! important;
    border: none;
    border-radius: 0;
    color: var(--primaryColor);
    font-size: 20px ! important;
    font-family: Calibri;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .selectSubContainer .selectboxit-container .selectboxit {
        color: #9e9e9e;
        font-size: 20px !important;
    }
}

.selectSubContainer .selectboxit-container .selectboxit-option-icon-container {
    margin-left: 0px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .selectSubContainer .selectboxit-container .selectboxit-option-icon-container {
        margin-left: 5px !important;
    }
}

.selectSubContainer .selectboxit-arrow-container {
    display: none !important;
}

.selectSubContainer .selectboxit-option,
.selectSubContainer .selectboxit-optgroup-header {
    text-indent: 3px;
}

.selectSubContainer .selectboxit-text {
    font-size: 16px !important;
    font-family: Calibri;
}

@media only screen and (max-width: 991px) {
    .selectSubContainer .selectboxit-text {
        font-size: 20px !important;
    }
}

.selectSubContainer .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
    background: var(--primaryColorLighter);
    color: #4a4a4a;
    margin: 0 -7px;
    padding: 0 9px;
}

.selectSubContainer .selectboxit-list a {
    font-size: 16px !important;
    font-size: 1rem !important;
    color: #4a4a4a;
    font-family: Calibri;
    border-bottom: solid 1px #ebebeb;
}

.selectSubContainer .selectboxit-options a {
    height: 40px;
    line-height: 40px;
}

.selectSubContainer .selectboxit-option-first {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.selectSubContainer .selectboxit-option-last {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.selectSubContainer .selectboxit-container {
    font-family: Calibri;
    font-size: 16px;
    color: var(--primaryColor);
}

.selectSubContainer .selectboxit-container .selectboxit-options {
    border-radius: 0;
    box-shadow: 0 7px 14px 0 #9b9b9b;
    padding: 0 7px;
    padding: 0 0.4375rem;
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .selectSubContainer .selectboxit-container {
        font-size: 14px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .selectSubContainer {
        width: 100%;
        border-bottom: 1px solid var(--primaryColor);
    }
}

@media only screen and (max-width: 767px) {
    .specific-hotels-gallery-page .hotels-gallery-guest-speaks {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow: scroll;
    }

    .specific-hotels-gallery-page .hotels-gallery-guest-speaks .col-12 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}

.specific-hotels-gallery-page .hotels-gallery-guest-speaks [class*="col-"] .guest-individual-card-backFront-wrapper {
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .specific-hotels-gallery-page .hotels-gallery-guest-speaks [class*="col-"] {
        padding: 0 !important;
        margin-left: 15px !important;
    }

    .specific-hotels-gallery-page .hotels-gallery-guest-speaks [class*="col-"].hide-in-sm.mr-image-with-comments-card {
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media only screen and (min-width: 768px) {
    .specific-hotels-gallery-page .hotels-gallery-guest-speaks [class*="col-"]:nth-child(3n) .guest-individual-card-backFront-wrapper {
        padding-left: 1.25rem !important;
        padding-right: 0 !important;
    }

    .specific-hotels-gallery-page .hotels-gallery-guest-speaks [class*="col-"]:nth-child(3n-1) .guest-individual-card-backFront-wrapper {
        padding: 0 0.625rem !important;
    }

    .specific-hotels-gallery-page .hotels-gallery-guest-speaks [class*="col-"]:nth-child(3n-2) .guest-individual-card-backFront-wrapper {
        padding-right: 1.25rem !important;
        padding-left: 0 !important;
    }
}

.cm-share-container {
    display: inline-block;
    float: right;
}

.rate-tax-disclaimer.local-area-tax {
    display: none;
}

@media only screen and (max-width: 767px) {
    .rate-tax-disclaimer.local-area-tax {
        display: block;
        margin-left: 1rem;
        margin-top: 41px;
    }
}

.guests-speak-container > div {
    display: inline-block;
}

@media only screen and (max-width: 991px) {
    .guests-speak-container > div {
        display: inline;
    }
}

.about-destination-city {
    padding: 0px 15px;
    padding: 0rem 0.9375rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-destination-city {
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .destination-experiences-nav-component {
        margin-top: 3rem ! important;
    }
}

.jiva-spa-details-back-link {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: Calibri;
    margin: 20px 0;
    display: none;
}

.jiva-spa-details-back-link a {
    color: var(--primaryColor);
}

@media only screen and (max-device-width: 991px) {
    .jiva-spa-detail-container {
        padding: 0 15px;
    }
}

.generic-breadcrumb {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    color: #4a4a4a;
    margin-bottom: 24px !important;
}

.generic-breadcrumb a {
    color: var(--primaryColor);
    font-family: Calibri-Bold;
}

.generic-breadcrumb a:hover {
    outline: none;
}

.generic-breadcrumb span {
    margin: 0 5px;
}

.generic-breadcrumb span:last-child {
    margin: 0;
}

@media only screen and (max-device-width: 991px) {
    .generic-breadcrumb {
        display: none;
    }
}

.jiva-spa-lead-gen-page .content-wrapper {
    margin-top: 30px;
}

.jiva-spa-lead-gen-page .cm-content-blocks {
    margin-top: 0!important;
}

.generic-back-link {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    margin: 24px 0;
}

.generic-back-link.checkout-page-back-link {
    margin: 0 0 13px;
    margin: 0 0 0.8125rem;
}

.generic-back-link a {
    color: var(--primaryColor) !important;
    font-family: Calibri-Bold;
}

.generic-back-link a:hover {
    outline: none;
}

@media only screen and (max-device-width: 991px) {
    .generic-back-link {
        display: none;
    }
}

.signature-exp-wrap,
.spa-indulgence-wrap,
.body-scrub-wrap,
.confirmation-exp-wrap {
    overflow-y: hidden;
}

.cm-share-btn.local-area {
    right: 0;
    position: absolute;
}

@media only screen and (max-width: 480px) {
    .cm-share-btn.local-area {
        right: 1rem;
    }
}

.confirmation-view-exp a {
    color: var(--primaryColor);
}

.confirmation-view-exp a:hover {
    text-decoration: none;
}

.confirmation-show-more {
    text-align: center;
    font-size: 16px;
    font-size: 1rem;
    color: var(--primaryColor);
    font-family: Calibri-bold;
    margin-top: 30px;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2px;
    letter-spacing: 0.125rem;
    display: none;
}

@media only screen and (max-device-width: 767px) {
    .confirmation-show-more {
        display: block;
    }
}

.confirmation-show-more:focus,
.confirmation-show-more:hover {
    color: var(--primaryColor);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mr-our-brands-container {
        overflow-x: auto;
    }

    .mr-our-brands-container .mr-our-brands-container-inner {
        height: inherit;
        width: 950px;
    }
}

@media only screen and (max-width: 480px) {
    .hotel-nearBy-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.mr-destination-dining-search,
.mr-specific-dining-search {
    width: 100%;
}

.mr-destination-dining-search .participating-hotels-search-wrap .search-input-section,
.mr-specific-dining-search .participating-hotels-search-wrap .search-input-section {
    width: 82%;
}

@media only screen and (max-width: 480px) {
    .mr-destination-dining-search .participating-hotels-search-wrap .search-input-section,
  .mr-specific-dining-search .participating-hotels-search-wrap .search-input-section {
        width: 40%;
    }

    .mr-destination-dining-search .participating-hotels-search-wrap .search-input-section input,
  .mr-specific-dining-search .participating-hotels-search-wrap .search-input-section input {
        padding-left: 0.5rem;
    }

    .mr-destination-dining-search .participating-hotels-search-wrap .search-input-section img,
  .mr-specific-dining-search .participating-hotels-search-wrap .search-input-section img {
        margin-left: 0.625rem;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .mr-destination-dining-search .participating-hotels-search-wrap .search-input-section,
  .mr-specific-dining-search .participating-hotels-search-wrap .search-input-section {
        width: 64%;
    }
}

.mr-destination-dining-search .participating-hotels-search-wrap .search-filter-section,
.mr-specific-dining-search .participating-hotels-search-wrap .search-filter-section {
    float: right;
    margin-top: 5px;
    margin-top: 0.3125rem;
    margin-right: 8px;
    margin-right: 0.5rem;
}

@media only screen and (max-width: 767px) {
    .mr-destination-dining-search .participating-hotels-search-wrap .search-filter-section,
  .mr-specific-dining-search .participating-hotels-search-wrap .search-filter-section {
        margin-top: 0.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .mr-destination-dining-search .participating-hotels-search-wrap .search-filter-section .search-filter-section-name,
  .mr-specific-dining-search .participating-hotels-search-wrap .search-filter-section .search-filter-section-name,
  .mr-destination-dining-search .participating-hotels-search-wrap .search-filter-section .search-filter-section-choose,
  .mr-specific-dining-search .participating-hotels-search-wrap .search-filter-section .search-filter-section-choose {
        display: inline-block;
        vertical-align: middle;
        float: none;
        padding-top: 0;
    }
}

@media only screen and (max-width: 767px) {
    .mr-destination-dining-search,
  .mr-specific-dining-search {
        padding: 0px 0.9375rem;
    }
}

@media only screen and (max-width: 767px) {
    .guests-speaks-container [class*="col-"] {
        padding: 0 15px;
    }
}

.guest-speak.local-area {
    overflow-y: hidden;
}

.guest-speak.local-area .col-lg-4.col-md-6.col-sm-12 {
    float: left;
}

.global-dining-layout .cm-header-label-con.title-decorator-border.global-dining-header-label {
    margin-bottom: 40px;
    margin-bottom: 2.5rem;
}

.global-dining-layout .dining-hotels-show-more {
    margin-top: 0;
}

.global-dining-layout .global-dining-specific-hotel .rate-tax-disclaimer {
    margin-top: 0;
}

@media only screen and (min-width: 992px) {
    .global-dining-layout .global-dining-specific-hotel.global-dining-related-contents .global-dining-specific-hotel-row .dining-card-container-main:nth-child(3) {
        display: none;
    }
}

.global-dining-layout .global-dining-specific-hotel .global-dining-specific-hotel-row .dining-card-container-main {
    display: none;
}

@media only screen and (min-width: 320px) {
    .global-dining-layout .global-dining-specific-hotel .global-dining-specific-hotel-row .dining-card-container-main:nth-child(1) {
        display: -ms-flexbox;
        display: flex;
    }
}

@media only screen and (min-width: 768px) {
    .global-dining-layout .global-dining-specific-hotel .global-dining-specific-hotel-row .dining-card-container-main:nth-child(2) {
        display: -ms-flexbox;
        display: flex;
    }
}

@media only screen and (min-width: 992px) {
    .global-dining-layout .global-dining-specific-hotel .global-dining-specific-hotel-row .dining-card-container-main:nth-child(3) {
        display: -ms-flexbox;
        display: flex;
    }
}

.concierge-local.cm-inner-carousal-cards {
    margin-bottom: 32px;
    margin-bottom: 2rem;
    box-shadow: none;
}

.concierge-local.cm-inner-carousal-cards .recommended-experiences-wrap {
    box-shadow: 0 7px 14px 0 #e5e3e3;
    height: 100%;
    background: #ffffff;
}

.cm-card-showmore-spacing {
    display: none;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

@media only screen and (min-device-width: 992px) {
    .cm-card-showmore-spacing:nth-child(3n-1) {
        padding: 0 0.70625rem;
    }

    .cm-card-showmore-spacing:nth-child(3n) {
        padding-left: 1.4125rem;
    }

    .cm-card-showmore-spacing:nth-child(3n-2) {
        padding-right: 1.4125rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .cm-card-showmore-spacing:nth-child(odd) {
        padding-right: 1rem;
    }

    .cm-card-showmore-spacing:nth-child(even) {
        padding-left: 1rem;
    }
}

.offers-card-show-more-wrapper.show-more-card-wrapper .show-more-card-element {
    display: none;
}

@media only screen and (min-width: 320px) {
    .offers-card-show-more-wrapper.show-more-card-wrapper .show-more-card-element:nth-child(-n+3) {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .offers-card-show-more-wrapper.show-more-card-wrapper .show-more-card-element:nth-child(-n+4) {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .offers-card-show-more-wrapper.show-more-card-wrapper .show-more-card-element:nth-child(-n+6) {
        display: block;
    }
}

.reserve-table-form-wrapper,
.reserveTable-confirmation-wrapper {
    background-color: #ffffff;
    padding: 23px 66px;
    padding: 1.4375rem 4.125rem;
}

@media only screen and (max-width: 767px) {
    .reserve-table-form-wrapper,
  .reserveTable-confirmation-wrapper {
        padding: 1.0625rem 1.25rem;
    }
}

.specific-hotels-breadcrumb.mr-reserve-a-table-breadcrumb .mr-reserve-table-pagenav {
    font-weight: bold;
    color: var(--primaryColor);
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {
    .specific-hotels-page.cm-page-container.dining-details-layoutSpecific .content-wrapper.container.mr-reserve-a-table-contentWrapper {
        margin: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .specific-hotels-page.cm-page-container.dining-details-layoutSpecific .content-wrapper.container.mr-reserve-a-table-contentWrapper .cm-content-blocks.reserve-table-form-wrapper,
  .specific-hotels-page.cm-page-container.dining-details-layoutSpecific .content-wrapper.container.mr-reserve-a-table-contentWrapper .cm-content-blocks.reserveTable-confirmation-wrapper {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .events-text-section {
        display: none;
    }
}

.specific-hotels-events-page .content-wrapper {
    margin-bottom: 42px;
}

.specific-hotels-events-page .generic-show-more {
    margin-top: 0;
}

.holidays-dest-package-page .holidays-destination-desc .cm-header-label-con {
    margin-bottom: 25px;
    margin-bottom: 1.5625rem;
}

.holidays-dest-package-page .filter-search-result {
    display: inline-block !important;
    width: 25%;
    font-size: 14px;
    font-size: 0.875rem;
    font-family: Calibri;
}

.holidays-dest-package-page .filter-search-result .text {
    display: inline-block;
}

.holidays-dest-package-page .filter-search-result .filter-search-result-number,
.holidays-dest-package-page .filter-search-result .filter-search-criteria {
    display: inline-block;
    font-family: Calibri-Bold;
}

@media only screen and (max-width: 991px) {
    .holidays-dest-package-page .filter-search-result {
        display: none;
    }
}

.holidays-dest-package-page .filter-wrap-catagory {
    width: 50%;
    display: inline-block;
}

.holidays-dest-package-page .filter-wrap-catagory .filter-catagory:first-child {
    display: none;
}

.holidays-dest-package-page .filter-wrap-catagory .filter-catagory:nth-child(3) {
    display: none;
}

.holidays-dest-package-page .filter-wrap-catagory .filter-catagory {
    width: 30%;
}

@media only screen and (max-width: 991px) {
    .holidays-dest-package-page .filter-wrap-catagory .filter-catagory {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .holidays-dest-package-page .filter-wrap-catagory {
        width: 100%;
    }
}

.cm-room-options {
    display: none;
}

.cm-room-options.cm-active {
    display: block;
}

@media only screen and (min-width: 768px) {
    .holidays-page main .banner-container .search-container .search-and-suggestions-wrapper.input-scroll-top {
        position: relative;
    }
}

.mr-view-Toggler-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.mr-view-Toggler-wrap .mr-list-switch,
.mr-view-Toggler-wrap .mr-map-switch {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.mr-list-switch.mr-view-toggler-style,
.mr-map-switch.mr-view-toggler-style {
    border-radius: 0.125rem;
    background-image: var(--linearGradient);
}

.mr-list-switch.mr-view-toggler-style .mr-listSwitch-text,
.mr-map-switch.mr-view-toggler-style .mr-listSwitch-text,
.mr-list-switch.mr-view-toggler-style .mr-mapSwitch-text,
.mr-map-switch.mr-view-toggler-style .mr-mapSwitch-text {
    color: #ffffff;
}

.mr-map-switch,
.mr-list-switch {
    background-color: #e7e6e6;
}

.mr-listSwitch-text,
.mr-mapSwitch-text {
    padding-left: 5px;
    padding-left: 0.3125rem;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 0.71;
    letter-spacing: 0px;
    letter-spacing: 0.0375rem;
    color: #c3c3c3;
}

@media only screen and (max-width: 767px) {
    .mr-listSwitch-text,
  .mr-mapSwitch-text {
        display: none;
    }
}

.mr-view-Toggler-wrap {
    cursor: pointer;
}

.mr-destination-about-itinerary-plan-wrapper {
    display: table;
    width: 100%;
}

.mr-destination-about-itinerary-plan-wrapper .destination-about-itinerary-plan {
    width: 90%;
    display: table-cell;
    vertical-align: middle;
    padding-right: 35px;
    padding-right: 2.1875rem;
}

.mr-destination-about-itinerary-plan-wrapper .mr-Holidays-destination-about-gridMapSwitch {
    display: table-cell;
    width: 10%;
    vertical-align: middle;
}

.mr-destination-about-itinerary-plan-wrapper .mr-Holidays-destination-about-gridMapSwitchStyling {
    padding: 5px;
    padding: 0.3125rem;
}

@media only screen and (max-width: 767px) {
    .holidays-about-dest.cm-page-container .overview-page-guest-speak-section .specific-hotels-guests-speaks-and-review-wrapper .row .col-lg-8.col-12 {
        display: none;
    }

    .holidays-about-dest.cm-page-container .mr-holidays-abt-dest-mobile-toggler {
        margin-left: 0.9375rem;
    }

    .holidays-about-dest.cm-page-container .mr-holidays-abt-dest-mobile-toggler .mr-view-Toggler-wrap {
        display: inline-block;
        width: inherit;
    }

    .holidays-about-dest.cm-page-container .mr-holidays-abt-dest-mobile-toggler .mr-view-Toggler-wrap .mr-list-switch,
  .holidays-about-dest.cm-page-container .mr-holidays-abt-dest-mobile-toggler .mr-view-Toggler-wrap .mr-map-switch {
        padding: 0.375rem 0.75rem;
    }
}

.holiday-popularDest-wrap,
.holiday-international-wrap {
    overflow-x: auto;
}

@media only screen and (max-width: 991px) {
    .rating-guestSpeak .col-lg-8 {
        display: none;
    }
}

.cm-breadcrumb-wrapper {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.cm-breadcrumb-wrapper a {
    font-weight: bold;
    color: var(--primaryColor);
    text-decoration: underline;
}

.cm-breadcrumb-wrapper span {
    color: #4a4a4a;
    margin: 0 5px;
    margin: 0 0.3125rem;
}

.cm-breadcrumb-wrapper span:last-child {
    margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .cm-breadcrumb-wrapper {
        display: none;
    }
}

.cm-breadcrumb-wrapper.mobile-view-visible {
    display: block;
    background-color: #efeeee;
    margin-bottom: -24px;
    margin-bottom: -1.5rem;
    mix-blend-mode: multiply;
    padding-left: 25px;
    padding-left: 1.6rem;
    margin-top: 24px;
    margin-top: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .cm-breadcrumb-wrapper.mobile-view-visible {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .holidays-explore-page .holidays-explore-desc {
        display: none;
    }
}

.holidays-explore-page .holidays-explore-desc-mobile {
    display: none;
}

@media only screen and (max-width: 767px) {
    .holidays-explore-page .holidays-explore-desc-mobile {
        display: block;
    }
}

.holidays-explore-page .holidays-explore-desc .cm-header-label-con {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .holidays-explore-page.inspiring-journeys-header {
        margin-bottom: 0.625rem !important;
    }
}

.cm-page-container.holidays-incredible-escape-page .content-wrapper {
    margin-top: 30px;
    margin-top: 1.875rem;
}

.cm-page-container.holidays-incredible-escape-page .content-wrapper .cm-content-blocks:first-child {
    margin-top: 40px;
    margin-top: 2.5rem;
}

.cm-page-container.holidays-incredible-escape-page .generic-breadcrumb {
    margin-bottom: 20px !important;
    margin-bottom: 1.25rem !important;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .placeholder-title {
        font-size: 1rem;
        max-height: initial;
        margin: 0.625rem 0;
    }
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .incredible-packages-rate-tax.rate-tax-disclaimer {
        padding: 0 15px !important;
        margin-top: 0.625rem;
    }
}

.cm-page-container.holidays-incredible-escape-page .cm-header-label-con {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .cm-header-label-con .cm-header-label {
        font-size: 1.375rem;
        width: 100%;
    }
}

.cm-page-container.holidays-incredible-escape-page .cm-header-label-con .ho-btns-section.incredible-page-ho-btns-section {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0px;
    margin-top: 0rem;
}

.cm-page-container.holidays-incredible-escape-page .cm-header-label-con .ho-btns-section.incredible-page-ho-btns-section .add-to-wishlist-btn,
.cm-page-container.holidays-incredible-escape-page .cm-header-label-con .ho-btns-section.incredible-page-ho-btns-section .cm-share-btn {
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .incredible-page-ho-btns-section {
        padding: 0 15px !important;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper {
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    padding: 22px 37px 34px 33px;
    padding: 1.375rem 2.3125rem 2.125rem 2.0625rem;
    margin-top: 27px;
    margin-top: 1.6875rem;
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper {
        padding: 1.375rem 0.6875rem;
        margin: 0 15px;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp {
    margin: 38px 0 18px;
    margin: 2.375rem 0 1.125rem;
    display: table;
    width: 100%;
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp .incredible-night-text {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.75;
    color: #4a4a4a;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp .incredible-night-text {
        font-size: 1rem;
        line-height: 1.38;
        max-width: 13.9375rem;
    }
}

@media only screen and (max-width: 374px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-iternary-night-wrp .incredible-night-text {
        font-size: 0.875rem;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp {
        vertical-align: bottom;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp .incredible-night-booking-cost {
    font-family: RupeeForadian;
    font-size: 27px;
    font-size: 1.6875rem;
    color: #323232;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp .incredible-night-booking-cost {
        display: block;
        margin-bottom: 0.3125rem;
        font-size: 1.5rem;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp .incredible-night-booking-cost span {
    font-family: Calibri-bold;
    font-size: 30px;
    font-size: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp .incredible-night-booking-cost span {
        font-size: 1.5rem;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp .incredible-night-booking-btn {
    min-width: 166px;
    min-width: 10.375rem;
    margin-left: 20px;
    margin-left: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-night-cost-wrp .incredible-night-booking-btn {
        min-width: 7.1875rem;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-escape-selected-package-wrapper {
    display: table;
    width: 100%;
    margin-top: 29px;
    margin-top: 1.8125rem;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-escape-selected-package-wrapper {
        margin-top: 0.625rem;
    }
}

.cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-escape-selected-package-wrapper .selected-packages-info {
    display: table-cell;
    vertical-align: middle;
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.75;
    color: #4a4a4a;
}

@media only screen and (max-width: 767px) {
    .cm-page-container.holidays-incredible-escape-page .row.incredible-packages-wrapper .incredible-escape-selected-package-wrapper .selected-packages-info {
        line-height: normal;
        vertical-align: bottom;
    }
}

.header-label-date-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-left: 0.625rem;
    line-height: 0.5;
}

@media only screen and (max-width: 767px) {
    .header-label-date-wrapper {
        display: block;
        padding: 0 15px !important;
        margin: 0;
    }
}

.header-label-date-wrapper .date-selected-icon {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    width: 0.91875rem;
    height: 13px;
    height: 0.8125rem;
}

.header-label-date-wrapper .header-label-date-selected {
    display: inline-block;
    vertical-align: middle;
    border-right: solid 1px #979797;
    padding-right: 10px;
    padding-right: 0.625rem;
    margin-right: 6px;
    margin-right: 0.375rem;
}

@media only screen and (max-width: 767px) {
    .header-label-date-wrapper .header-label-date-selected {
        margin-bottom: 0.625rem;
        border-right: none;
    }
}

.header-label-date-wrapper .header-label-date-selected .date-selected-title {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri-bold;
    font-size: 14px;
    line-height: normal;
    color: #4a4a4a;
}

.header-label-date-wrapper .header-label-date-selected .date-selected-title .date-selected-value {
    display: inline-block;
    vertical-align: text-bottom;
}

.header-label-date-wrapper .header-label-date-selected .date-selected-title .date-selected-value input {
    outline: none;
    border: none;
    font-family: Calibri;
    font-size: 14px;
    width: 70px;
    width: 4.375rem;
    background: transparent;
    padding: 0;
}

@media only screen and (max-width: 767px) {
    .header-label-date-wrapper .header-label-date-selected .date-selected-title .date-selected-value .enquiry-from-date {
        left: -3rem;
    }
}

@media only screen and (max-width: 767px) {
    .header-label-date-wrapper .header-label-date-selected .date-selected-title .date-selected-value .enquiry-to-date {
        left: -7rem;
    }
}

.header-label-date-wrapper .header-label-black-out {
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .header-label-date-wrapper .header-label-black-out {
        display: block;
    }
}

.header-label-date-wrapper .header-label-black-out .date-black-out-title {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri-bold;
    font-size: 14px;
    line-height: normal;
    color: #4a4a4a;
    margin-right: 5px;
    margin-right: 0.3125rem;
}

.header-label-date-wrapper .header-label-black-out .date-black-out-title .date-black-out-value {
    font-family: Calibri;
}

.header-label-date-wrapper .header-label-black-out .black-out-dropdown-icon {
    width: 12px;
    width: 0.75rem;
    height: 8px;
    height: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}

.rate-tax-disclaimer {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.38;
    color: #323232;
}

.holidays-dest-package-page .holidays-destination-desc {
    margin-top: 34px !important;
    margin-top: 2.125rem !important;
}

@media only screen and (max-width: 767px) {
    .holidays-dest-package-page .holidays-destination-desc {
        display: none;
    }
}

.holidays-dest-package-page .content-wrapper {
    margin-top: 43px;
    margin-top: 2.6875rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .holidays-dest-package-page .holidays-dest-package-filter {
        margin-top: 0.3125rem !important;
    }
}

@media only screen and (max-width: 480px) {
    .holidays-dest-package-page .holidays-dest-package-filter {
        padding: 0 0.9375rem;
    }
}

@media only screen and (max-width: 991px) {
    .holidays-dest-package-page .destination-package-card-container {
        margin-top: 0.3125rem;
    }
}

.holidays-specific-destination-page .content-wrapper {
    margin-top: 21px;
    margin-top: 1.3125rem;
}

.holidays-specific-destination-page .content-wrapper .cm-content-blocks {
    margin-top: 14px;
    margin-top: 0.875rem;
}

@media only screen and (max-width: 991px) {
    .holidays-specific-destination-page .holidays-dest-package-filter {
        margin-top: 0 !important;
    }
}

@media only screen and (max-width: 991px) {
    .holidays-specific-destination-page .specific-dest-card-con {
        margin-top: 0 !important;
    }
}

.holidays-specific-destination-page .filter-search-result {
    display: inline-block !important;
    width: 25%;
    font-size: 14px;
    font-size: 0.875rem;
    font-family: Calibri;
}

.holidays-specific-destination-page .filter-search-result .text {
    display: inline-block;
}

.holidays-specific-destination-page .filter-search-result .filter-search-result-number,
.holidays-specific-destination-page .filter-search-result .filter-search-criteria {
    display: inline-block;
    font-family: Calibri-Bold;
}

@media only screen and (max-width: 991px) {
    .holidays-specific-destination-page .filter-search-result {
        display: none;
    }
}

.holidays-specific-destination-page .filter-wrap-catagory {
    width: 70%;
    display: inline-block;
}

.holidays-specific-destination-page .filter-wrap-catagory .filter-catagory:last-child {
    display: none;
}

.holidays-specific-destination-page .filter-wrap-catagory .filter-catagory {
    width: 25%;
}

@media only screen and (max-width: 991px) {
    .holidays-specific-destination-page .filter-wrap-catagory .filter-catagory {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .holidays-specific-destination-page .filter-wrap-catagory {
        width: 100%;
    }
}

.holidays-similar-destination-wrap {
    overflow-x: auto;
}

.holidays-similar-destination-wrap .popularDest-details-name {
    width: 60% !important;
}

@media only screen and (max-width: 767px) {
    .holidays-similar-destination-wrap .popularDest-details-name {
        width: 50% !important;
    }
}

.specific-hotels-page .rate-tab-container {
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .specific-hotels-page .rate-tab-container {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .specific-hotels-page .rate-tab-container {
        margin-bottom: 4.6875rem;
    }
}

.specific-hotels-page .floating-ind-container {
    position: absolute;
    top: 25px;
    top: 1.5625rem;
    right: 0;
    z-index: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .specific-hotels-page .floating-ind-container {
        top: 4.75rem;
    }
}

@media only screen and (max-width: 767px) {
    .specific-hotels-page .floating-ind-container {
        right: 15px;
        top: 5.9375rem;
    }
}

@media only screen and (min-width: 769px) {
    .holiday-landing-search-wrapper .filter-catagory {
        width: 24%;
    }
}

input::-ms-clear {
    display: none;
}

.about-us-privacy-policy-page .policy-detais-wrap {
    margin-top: 0px !important;
}

@media only screen and (max-width: 767px) {
    .about-us-privacy-policy-page .policy-detais-wrap {
        display: none;
    }
}

.about-us-privacy-policy-page .policy-detais-wrap .policy-details,
.about-us-privacy-policy-page .policy-detais-wrap .policy-list-item {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #4a4a4a;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.about-us-privacy-policy-page .policy-detais-wrap .policy-odered-list {
    padding-left: 16px;
    padding-left: 1rem;
}

.about-us-privacy-policy-page .policy-detais-wrap .policy-odered-list .policy-list-item {
    list-style: decimal;
}

.about-us-privacy-policy-page .policy-detais-wrap-m {
    display: none;
}

@media only screen and (max-width: 767px) {
    .about-us-privacy-policy-page .policy-detais-wrap-m {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .about-us-privacy-policy-page .privacy-heading {
        margin-bottom: 0;
    }
}

.card-show-more-button.amalgamation-mobile {
    display: none;
}

@media only screen and (max-width: 991px) {
    .card-show-more-button.amalgamation-mobile {
        display: block;
    }
}

.mr-rate-disclaimer.rate-tax-disclaimer {
    padding: 40px 15px 0;
    padding: 2.5rem 0.9375rem 0;
    display: none;
}

@media only screen and (max-width: 991px) {
    .mr-rate-disclaimer.rate-tax-disclaimer {
        display: block;
    }
}

.competitive-strength-header-txt {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 47px;
    margin-bottom: 2.9375rem;
}

@media only screen and (max-width: 767px) {
    .competitive-strength-header-txt {
        display: none;
    }
}

.mr-competitive-mobile-txt {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    padding: 0 15px;
    padding: 0 0.9375rem;
    display: none;
}

@media only screen and (max-width: 767px) {
    .mr-competitive-mobile-txt {
        display: block;
    }
}

.mr-sustainability-card-inclusion .btn-wrap {
    display: none;
}

.site-map-page .sitemap-category {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-top: 1.875rem;
}

.site-map-page .sitemap-category:first-child {
    margin-top: 0;
}

.site-map-page .sitemap-category::after {
    position: absolute;
    bottom: -10px;
    bottom: -0.625rem;
    left: 0;
    height: 1px;
    width: 100%;
    background: #979797;
    content: '';
    opacity: 0.5;
}

.site-map-page .sitemap-category-heading {
    font-family: Calibri-Bold;
    font-size: 18px;
    font-size: 1.60rem;
    color: #1b1b1b;
    cursor: pointer;
}

.site-map-page .sitemap-category-heading span {
    color: var(--primaryColor);
    font-size: 21px;
    font-size: 1.3125rem;
    margin-left: 10px;
    margin-left: 0.625rem;
    vertical-align: middle;
}

.site-map-page .sitemap-category-details {
    display: none;
    padding-left: 10px;
    padding-left: 0.625rem;
}

.site-map-page .sitemap-category-details a {
    color: var(--primaryColor);
    font-size: 12px;
    font-size: 1rem;
    font-family: Calibri;
    letter-spacing: 0.9;
}

.site-map-page .sitemap-category-details-heading {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1.35rem;
}

.site-map-page .sitemap-category-details-heading a {
    display: block;
    margin-left: 5px;
    margin-left: 0.3125rem;
    text-decoration: underline;
}

.site-map-page .sitemap-country-name {
    font-family: Calibri-Bold;
    font-size: 14px;
    font-size: 1.2rem;
    margin: 10px 0 5px;
    margin: 0.625rem 0 0.3125rem;
}

.site-map-page .sitemap-country-name ul {
    -moz-column-count: 3;
    column-count: 3;
}

.site-map-page .sitemap-country-name .sitemap-country-location {
    font-size: 12px;
    font-size: 1.10rem;
    font-family: Calibri;
    color: #4a4a4a;
}

.site-map-page .sitemap-country-name .sitemap-country-location a {
    display: block;
    text-decoration: underline;
}

.site-map-page .sitemap-main-link {
    font-size: 16px !important;
    font-size: 1rem !important;
    display: block;
    text-decoration: underline;
}

.sitemap-destination-font {
	color: #4d4d4d !important;
}
