media only screen and (max-width: 767px) {
    .terms-cond-incredible-escapes {
        padding: 0 15px;
    }
}

.terms-cond-incredible-escapes .cm-header-label-con .cm-header-label {
    font-size: 20px;
    font-size: 1.25rem;
}

.terms-cond-incredible-escapes .terms-ul .terms-li {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.38;
    color: #323232;
}

@media only screen and (max-width: 767px) {
    .terms-cond-incredible-escapes .terms-ul .terms-li {
        font-size: 0.9375rem;
        display: none;
        line-height: 1.47;
    }

    .terms-cond-incredible-escapes .terms-ul .terms-li:nth-child(-n+4) {
        display: block;
    }

    .terms-cond-incredible-escapes .terms-ul .terms-li.terms-li-active {
        display: block;
    }
}

.terms-cond-incredible-escapes .terms-ul .terms-li .terms-li-show {
    font-family: Calibri-bold;
    color: var(--primaryColor);
}