img.image-crop-selector {
    max-width: 99%;
}

/*
.multifieldwrapper {
    .coral-Textfield {
        display: inline-block ! important;
    }

    .multifield-item {
        display: inline-block ! important;
        width: 25%;
        label {
            display: inline-block ! important;
            width: 10%;
            text-align: right;
            padding:6px;
        }

        input {
            display: inline-block ! important;
            width: 25% ! important;
        }
    }
}
*/

.b {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: calc(25% - 10px);
    height: 50px;
    background-color: lightgrey;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: relative;
}
