<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} 
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientLib.all @ categories='tajhotels.holidays-trending-offers'}" />

<div data-sly-test.edit="${wcmmode.edit}">
   Holidays Offers List Component<br>
   To get the Cards, add destination package page or individual package page path.
</div>
<div class="holidays-land-trendingOffers cm-content-blocks">
    <div class="holiday-trending-offers-wrapper"
        data-sly-use.model="com.ihcl.core.models.holidays.offers.IHolidaysOffersDetailsFetcher">
        <div class="clearfix" data-sly-list.listItem="${model.allHolidaysOffers}">
            <div class="rooms-and-suites-card offers-card-component col-lg-4 col-md-6 col-sm-12 holiday-trending">
                <div class="offers-card-inner-wrapper">
                    <img class="offers-card-image" src="${listItem.OfferImage}/jcr:content/renditions/cq5dam.web.756.756.jpeg" alt="hotel image" />
                    <div class="rooms-and-suites-content">
                        <div class="room-title">${listItem.OfferTitle}</div>
                        <a class="link-text" target="_blank" href="${listItem.hotelLink}.html" target="_blank">${listItem.HotelName}, ${listItem.HotelCity}</a>
                        <div class="contact-details-mobile mob-show">
                            <!--<div class="hold-phone">
                                <a class="ho-contact-number hide-in-lg inline-block" href="tel:022-28765643"><img
                                    class="ho-cm-icon ho-contact-icon inline-block"
                                    src="/content/dam/tajhotels/icons/style-icons/phone-enabled.svg" alt = "phone-enabled-icon" />
                                    <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">${listItem.HotelPhone}</div></a>
                                <div class="ho-contact-number hide-in-sm hide-in-md inline-block disabled"><img
                                    class="ho-cm-icon ho-contact-icon inline-block"
                                    src="/content/dam/tajhotels/icons/style-icons/phone-disabled.svg" alt  = "phone-disabled-icon" />
                                    <div class="inline-block ho-mail-to-txt">${listItem.HotelPhone}</div> </div>
                            </div>
                            <div class="holi-mail">
                                <a class="ho-mail-to inline-block local-city" href="mailto:${listItem.HotelEmail @context='html'}"></a><img
                                    class="ho-mail-to-icon ho-cm-icon inline-block"
                                    src="/content/dam/tajhotels/icons/style-icons/envelope.svg"  alt  = "envelope-icon/>
                                <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt email-link">${listItem.HotelEmail}</div>
                            </div>-->
                        </div>
                        <div class="room-description holiday-desc">
                            <span>${listItem.OfferDescription}</span>
                        </div>
                        <div class="room-content-footer clearfix">
                           <div class="room-amenities-wrapper holiday-trend" data-sly-test="${listItem.ListOfUserSellingPoints}">
                                <div class="room-amenities-title">Highlights</div>
                                <div class="room-available-amenities">
                                    <div class="inclusion-wrapper">
                                        <sly data-sly-list.listInclusions=${listItem.ListOfUserSellingPoints} >
                                        <sly data-sly-test="${listInclusionsList.count <= 2}">
                                        <div class="inclusion-con">
                                            <i class="room-amenities-icon ${listInclusions.SignatureFeatureIcon}"></i>
                                            <span>${listInclusions.SignatureFeaturePoint}</span>
                                        </div>
                                        </sly> </sly>
                                        <div class="inclusion-con cm-show-more-inclusion" tabindex="0" role = "button">Show more</div>
                                    </div>
                                </div>
                            </div>
                            <div class="room-cost-wrapper">
                                <div class="room-cost-title">Starting Rate/Night</div>
                                <div class="room-cost-rupees">
                                    <span>${listItem.CurrencySymbol} ${listItem.OfferPrice}</span>
                                </div>
                      	<!-- <a href="${listItem.HotelGuestRoomLink}.html?offerRateCode=${listItem.OfferCode}&offerTitle=${listItem.OfferTitle}" target="_blank">
								<button class="cm-btn-secondary" onclick="addToSession('${listItem.NoOfNights @ context='text'}')">VIEW DETAILS</button>
							</a>-->
							<a href="${listItem.offerpageLink}.html" target="_blank">
								<button class="cm-btn-secondary" tabindex = "-1">VIEW DETAILS</button>
							</a>
                            </div>
                            <div class="holiday-contact desk-show">
                                <!--<div class="hold-phone">
                                    <a class="ho-contact-number hide-in-lg inline-block" href="tel:022-28765643"><img
                                        class="ho-cm-icon ho-contact-icon inline-block"
                                        src="/content/dam/tajhotels/icons/style-icons/phone-enabled.svgg" alt  = "phone-enabled-icon" />
                                        <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">${listItem.HotelPhone}</div></a>
                                    <div class="ho-contact-number hide-in-sm hide-in-md inline-block disabled"><img
                                        class="ho-cm-icon ho-contact-icon inline-block"
                                        src="/content/dam/tajhotels/icons/style-icons/phone-disabled.svg" alt = "phone-disabled-icon" />
                                        <div class="inline-block ho-mail-to-txt">${listItem.HotelPhone}</div> </div>
                                </div>
                                <div class="holi-mail">
                                    <a class="ho-mail-to inline-block local-city" href="mailto:${listItem.HotelEmail @context='html'}"></a><img
                                        class="ho-mail-to-icon ho-cm-icon inline-block"
                                        src="/content/dam/tajhotels/icons/style-icons/envelope.svg"  alt = "envelope-icon/>
                                    <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt apply-float">${listItem.HotelEmail}</div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inclusion-popUp-wrapper">
                    <div class="inlcusion-wrapper">
                        <div class="inclusion-container-space">
                            <div class="inclusion-close-btn clearfix desk-show">
                                <img class="inclusion-close" tabindex = "0" role = "button" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt = "close-icon"/>
                            </div>
                            <div class="inclusion-container">                                
                                <sly data-sly-list.listInclusions=${listItem.ListOfUserSellingPoints}>
                                <div class="inclusion-con">
                                    <div class="inclusion-image-cont">
                                        <i class="room-amenities-icon ${listInclusions.SignatureFeatureIcon}"></i>
                                    </div>
                                    <div class="inclusion-desc">
                                        <div class="inclusion-header">
                                            <span>${listInclusions.SignatureFeaturePoint}</span>
                                        </div>
                                        <!--<div class="about-inclusion"></div>-->
                                    </div>
                                </div>
                                </sly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

