
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.experiencelistpage , tajhotels.experience-navigation,tajhotels.inspirationGallery'}" /> 

<div data-sly-use.multiItems="com.ihcl.core.models.NavigationTab">
	<div data-sly-use.radioItems="com.ihcl.core.models.NavigationRadioTab">


		<div class="cm-content-blocks">
			<div class="hotels-gallery-nav-wrapper">
				<div class="gallery-nav-option-list">
					<div data-sly-list.tab="${multiItems.getMultiFieldTabList}">
						<div tabindex="0" role="button" class="gallery-nav-option" id="expericenceType"
							value=${tab.tabtextlink}  data-nav-link="${tab.tabtext}" onclick="navigationTabChanged(this)">${tab.tabtextlink}</div>
					</div>
					<div class="gallery-nav-radio-btns-container "
						data-sly-list.radiTab="${radioItems.getMultiFieldTabList}" >
						<div class="gallery-nav-radio-element">
							<label class="gallery-nav-radio-label" for="galleryFilterImages">
								<span data-format-selector=${radiTab.format} onclick="radioButtonChanged(this)"> 
								    <div class="radio-inner-fill"> </div>
								    <sly data-sly-test="${radiTabList.count <= 1}">
									    <div class="radio-inner-fill visible" ></div>
									</sly>  
                                </span>
								${radiTab.radioButtonText}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>