.amenities-container{
    padding: 0px 0px 15px 0px;
}

.amenities-title {
  font-family: var(--themeHeadingFontSemiBold);
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px 0;
}

.Child-Friendly {
  width: 107px;
  height: 18px;
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #000000;
}

.amenities-cell{ display: flex; }
.amenities-icon{margin-right: 10px; height: 16px;}
.amenities-icon img{height: 100%;}

@media only screen and (max-width: 768px) {
  .amenities-text {
    padding: 5px 0;
  }
  .amenities-icon img{margin-top: 5px;}
}

