.more-rate-card-container {
    margin-top: 14px;
}

@media only screen and (max-width: 767px) {
    .more-rate-card-container {
        margin: 14px 0 0;
    }
}

.more-rate-card {
    display: table;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .more-rate-card {
        display: block;
    }
}

.more-rate-card::before {
    width: 6px;
    width: 0.375rem;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    background-image: var(--linearGradient);
}

.more-rate-card .more-rate-amenities {
    width: 448px;
    width: 28rem;
    display: table-cell;
    vertical-align: top;
    padding: 26px 66px 26px 34px;
    padding: 1.625rem 4.125rem 1.625rem 2.125rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-amenities {
        padding: 1.125rem 1rem 1.1875rem 1.25rem;
        width: 65%;
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-amenities {
        width: 18rem;
    }
}

.more-rate-card .more-rate-amenities .more-rate-title {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #323232;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-amenities .more-rate-title {
        font-size: 1rem;
        line-height: 1.33;
        color: #000000;
    }
}

.more-rate-card .more-rate-amenities .more-rate-available-wrp {
    margin-top: 18px;
    margin-top: 1.125rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-amenities .more-rate-available-wrp {
        margin-top: 0.6875rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list {
        display: block;
        width: 100%;
        text-align: left !important;
        margin-bottom: 0.875rem !important;
    }

    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:last-child {
        margin-bottom: 0 !import ant;
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list {
        display: none;
        width: 100%;
        text-align: left !important;
        margin-bottom: 0.59375rem;
    }

    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:nth-child(1),
  .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:nth-child(2),
  .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:nth-child(3) {
        display: block;
    }

    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:nth-child(3) {
        margin-bottom: 0;
    }
}

.more-rate-card .more-rate-info-wrp {
    display: table-cell;
    vertical-align: top;
    width: calc(100% - 29rem);
    padding: 23px 28px 37px;
    padding: 1.4375rem 1.75rem 2.3125rem;
    border-left: dashed 1px rgba(155, 155, 155, 0.6);
    border-left: dashed 0.09375rem rgba(155, 155, 155, 0.6);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-info-wrp {
        width: calc(100% - 19rem);
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp {
        width: 100%;
        border-left: none;
        border-top: dashed 0.09375rem rgba(155, 155, 155, 0.6);
        padding: 0.875rem 1.375rem 1.125rem;
        display: inline-block;
    }
}

.more-rate-card .more-rate-info-wrp .description-cancel-wrp {
    width: 477px;
    width: 29.8125rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-info-wrp .description-cancel-wrp {
        width: 57%;
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .description-cancel-wrp {
        width: 100%;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp {
    position: absolute;
    top: 13px;
    top: 0.8125rem;
    right: 16px;
    right: 1rem;
    float: right;
    text-align: right;
}

@media only screen and (max-width: 375px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp {
        top: 1.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .hide-on-mobile {
        display: none;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-info-label {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #9b9b9b;
    margin-bottom: 7px;
    margin-bottom: 0.4375rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-info-label {
        font-size: 0.875rem;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .last-few-rooms {
    margin-bottom: 22px;
    margin-bottom: 1.375rem;
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .last-few-rooms .last-few-rooms-icon {
    width: 22px;
    width: 1.375rem;
    height: 12px;
    height: 0.75rem;
    display: inline-block;
    vertical-align: middle;
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .last-few-rooms .last-few-room-text {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.29;
    color: #d0021b;
    margin-left: 4px;
    margin-left: 0.25rem;
}

@media only screen and (max-width: 480px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .more-rates-select-btn {
        width: 7.5rem;
    }
}

@media only screen and (max-width: 375px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .more-rates-select-btn {
        width: 7rem;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked {
    display: inline-block;
    vertical-align: middle;
    text-decoration: line-through;
    opacity: 0.58;
    font-family: RupeeForadian;
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
    padding-right: 5px;
    padding-right: 0.3125rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked {
        display: block;
        font-size: 0.98125rem;
        line-height: normal;
        padding-right: 0;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked span {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked span {
        font-size: 1.125rem;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate {
    display: inline-block;
    vertical-align: middle;
    font-family: RupeeForadian;
    font-size: 28px;
    font-size: 1.75rem;
    color: #4a4a4a;
    margin-right: -8px;
    margin-right: -0.5rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate {
        font-size: 1.53125rem;
        line-height: normal;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate span {
    font-family: Calibri-bold;
    font-size: 30px;
    font-size: 1.875rem;
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate .rate-asterik {
    font-size: 16px;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
}

.amenities-avail-list {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-bottom: 11px;
    margin-bottom: 0.6875rem;
}

.amenities-avail-list:nth-last-child(1),
.amenities-avail-list:nth-last-child(2) {
    margin-bottom: 0;
}

.amenities-avail-list:nth-child(even) {
    text-align: right;
}

.amenities-avail-list .amenities-list-icon {
    width: 22px;
    width: 1.375rem;
    height: 22px;
    height: 1.375rem;
    display: inline-block;
    vertical-align: middle;
    -o-object-fit: contain;
    object-fit: contain;
}

.amenities-avail-list .amenities-list-label {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    color: #323232;
    margin-left: 5px;
    margin-left: 0.3125rem;
    width: calc(100% - 2rem);
    text-align: left;
}

.description-cancel-wrp {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #4a4a4a;
    display: inline-block;
    vertical-align: top;
    width: 771px;
    width: 48.1875rem;
}

@media only screen and (max-width: 767px) {
    .description-cancel-wrp {
        width: 100%;
    }
}

.description-cancel-wrp .rate-description {
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.description-cancel-wrp .bold-title {
    font-family: Calibri-bold;
}

.description-cancel-wrp .show-more-option {
    font-family: Calibri-bold;
    color: var(--primaryColor);
    cursor: pointer;
}
