@rem: 16rem;
.holidays-dest-package-card-outer-wrap {
    margin-bottom: 36/@rem;
}

.holidays-dest-package-card-wrap {
    background: #fff;
    @media only screen and (min-width: 768px){
        display: flex;
        .holidays-dest-package-card-img-con{
            height: auto !important; 
        }
    }
    @media only screen and (max-width: 767px) {
        background: transparent;
        box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.05);
    }
}

.holidays-dest-more-packages {
    .more-rate-card-container {
        margin-top: 14/@rem;
        width:100%;
    }
}

.holidays-dest-package-card-img-con {
    float: left;
    height: 215/@rem;
    width: 218/@rem;
    picture {
        height: 100%;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        height: 21.6rem;
        width: 23.625rem;
    }
    @media only screen and (max-width: 767px) {
        float: unset;
        height: 250/@rem;
        width: 100%;
    }
}

.holidays-dest-package-card-sub-con {
    float: left;
     background:white;
    padding: 21/@rem 33/@rem 19/@rem 26/@rem;
    @media only screen and (min-width: 992px){
    	display: flex;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding-right: 0;
    }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
        min-height: 320/@rem;
    }
    @media only screen and (max-width: 767px) {
        float: unset;
        width: 100%;
        padding: 25/@rem 10/@rem 23/@rem;
        background: #fff;
        &.hide-in-md,
        &.hide-in-lg{
            padding-top: 1rem;
            padding-bottom: 0.8rem;   
        }
    }
}

.holidays-dest-package-card-details-con {
    float: left;
    width: 455/@rem;    
    .holidays-dest-package-card-subheading {
        color: #979797;
        font-size: 14/@rem;
        font-family: Calibri;
        margin-top: 5/@rem;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        float: unset;
        width: 32.6rem;
    }
    @media only screen and (max-width: 767px) {
        float: unset;
        width: 100%;        
    }
}

.holidays-dest-package-card-heading {
    font-size: 24/@rem;
    font-family: Calibri;
    color: #4a4a4a;
    line-height: 0.92;
}

.holidays-dest-package-card-desc {
    font-size: 1rem;
    font-family: Calibri;
    color: #4a4a4a;
    margin: 3/@rem 0 10/@rem;
    line-height: 20px;
    p {
	    margin-bottom: 0;
	    display: inline;
    }
}

.holidays-dest-package-card-inclusions-con {
    float: left;
    padding-left: 0;
    position: relative;
    width: 331/@rem;
    display: flex;
    flex-direction: column;
    .mr-list-hotel-spec-title{
        font-family: Calibri-bold;
        font-size: 1rem;
        margin: 0.3rem 0;
    }
    .mr-list-hotel-specifications{
        background: #efeeee;
        margin: 0;
        padding: 1rem 1.3rem;
        position: relative;
        @media only screen and (max-width: 767px) {
            padding: 0.6rem 0.3rem;
        }
        &:before {
            width: 0.375rem;
            height: 100%;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-image: var(--linearGradient);
        }
    }    
    @media only screen and (max-width: 991px) {
        padding-left: 0;
    }
    @media only screen and (max-width: 767px) {
        margin: 10/@rem 0;
        width: auto;
    }
}

.holidays-dest-package-card-inclusions-heading {
    font-size: 14/@rem;
    font-family: Calibri-Bold;
    color: #616161;
}

.holidays-dest-package-card-inclusions-content {
    z-index: 1;
    position: absolute;
    left: 35/@rem;
    background: #f5f5f5;
    padding: 18/@rem 14/@rem 15/@rem 24/@rem;
    margin-top: 5/@rem;
    width: 296/@rem;
    box-shadow: 0 1px 2px 0 #9b9b9b;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        width: 20rem;
        left: 16px;
        padding: 10/@rem 14/@rem 10/@rem 20/@rem;
    }
    @media only screen and (max-width: 767px) {
        position: relative;
        margin: 0;
        left: 0;
        width: auto;
        padding-left: 0;
        padding-right: 0;        
    }
}

.holidays-dest-package-card-inclusions-each {
    font-size: 14/@rem;
    font-family: Calibri-Bold;
    color: #4a4a4a;
    margin-bottom: 25/@rem;
    display: inline-block;
    width: 49%;
    .holidays-dest-package-card-inclusions-img-con {
        display: inline-block;
        vertical-align: top;
        width: auto;
        margin-right: 5/@rem;
    }
    .holidays-dest-package-card-inclusions-detail {
        display: inline-block;
        font-family: Calibri;
        font-size: 12/@rem;
        width: auto;
        .holidays-dest-package-card-inclusions-desc {
            display: none;
        }
    }
    img {
        height: 21/@rem;
        width: 23/@rem;
        margin-right: 5/@rem;
        @media only screen and (max-width: 767px) {
            margin-right: 0;
        }
    }
    @media only screen and (max-width: 767px) {
        width: 26%;
        padding-right: 0 !important;
        padding-left: 10/@rem !important;
        .holidays-dest-package-card-inclusions-detail {
            display: none;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 7px;
    }
    @media only screen and (max-width: 415px) {
        width: 24%
    }
}

.holidays-inclusions-on-show {
    @media only screen and (max-width: 767px) {
        z-index: 8;
    }
    .holidays-dest-package-card-inclusions-content {
        @media only screen and (max-width: 767px) {
            z-index: 9;
        }
        .holidays-dest-package-card-inclusions-each {
            width: 100%;
            display: block;
            @media only screen and (max-width: 767px) {
                padding-left: 24/@rem !important;
            }
            @media only screen and (max-width: 374px) {
                padding-left: 16/@rem !important;
            }
            .holidays-dest-package-card-inclusions-img-con {
                width: 14%;
                img {
                    vertical-align: super;
                    height: 30/@rem;
                    width: 33/@rem;
                }
                @media only screen and (max-width: 767px) {
                    width: 10%;
                    img {
                        height: 40/@rem;
                        width: 40/@rem;
                    }
                }
                @media only screen and (max-width: 374px) {
                    width: 14%;
                }
            }
            .holidays-dest-package-card-inclusions-detail {
                width: 82%;

                @media only screen and (max-width: 767px) {
                    display: inline-block;
                }
                .holidays-dest-package-card-inclusions-desc {
                    display: block;
                    @media only screen and (max-width: 767px) {
                        font-size: 1rem;
                    }
                    @media only screen and (max-width: 374px) {
                        font-size: 14/@rem;
                    }
                }
            }
        }
        .holidays-dest-package-card-inclusions-each:nth-child(7) {
            margin-bottom: 25/@rem;
        }
        .holidays-dest-package-card-inclusions-each:nth-child(6) {
            @media only screen and (max-width: 767px) {
                margin-bottom: 25/@rem;
            }
        }
        .holidays-dest-package-card-inclusions-each:nth-child(n+8) {
            display: inline-block;
        }
        .holidays-dest-package-card-inclusions-show-more {
            display: none;
        }
        .holidays-dest-package-card-inclusions-close {
            display: block;
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
        @media only screen and (max-width: 767px) {
            width: 100%;
            margin-top: 0;
            z-index: 8;
            height: auto; 
            min-height: 100%;           
        }
    }
    .holidays-dest-package-card-inclusions-mobile-heading {
        @media only screen and (max-width: 767px) {
            display: block;
        }
    }
    @media only screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: unset;
        margin-top: 0;
        overflow-y: scroll;
    }
}

.holidays-dest-package-card-inclusions-mobile-heading {
    display: none;
    font-size: 24/@rem;
    font-family: Calibri-Bold;
    color: #323232;
    margin-bottom: 22/@rem;
    img {
        margin-left: 24/@rem;
        margin-right: 40/@rem;
        height: 20/@rem;
    }
}

.holidays-dest-package-card-inclusions-close {
    display: none;
    img {
        cursor: pointer;
        float: right;
    }
}

.holidays-dest-package-card-inclusions-each:nth-child(7) {
    margin-bottom: 0;
}

.holidays-dest-package-card-inclusions-each:nth-child(6) {
    @media only screen and (max-width: 767px) {
        margin-bottom: 0;
    }
}

.holidays-dest-package-card-inclusions-each:nth-child(n+8) {
    display: none;
}

.holidays-dest-package-card-inclusions-content::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-image: var(--linearGradient);
    content: " ";
}

.holidays-dest-package-card-rates-con {
    float: left;
    width: 215/@rem;
    text-align: right;
    padding-top: 40/@rem;
    position: relative;
    min-height: 175/@rem;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        float: right;
        padding-top: 0;
        min-height: 8.8rem;
    }
    @media only screen and (max-width: 767px) {
        float: right;
        padding-top: 36/@rem;
        min-height: 9rem;
        width: auto;
    }
    @media only screen and (max-width: 480px) {
        float: right;
        padding-top: 0;
        min-height: 114/@rem;
        width: auto;
    }
}

.holidays-dest-package-card-inclusions-show-more {
    font-size: 14/@rem;
    font-family: Calibri-Bold;
    color: var(--primaryColor);
    cursor: pointer;
    display: inline-block;
    width: 45%;
    @media only screen and (max-width: 767px) {
        width: 43%;
        padding-right: 0!important;
    }
    @media only screen and (max-width: 374px) {
        line-height: 0.9;
        vertical-align: bottom;
        padding-left: 0.625rem !important
    }
}

.holidays-dest-package-card-rate-ind {
    font-size: 10/@rem;
    color: #9b9b9b;
    font-family: Calibri;
}

.holidays-dest-package-card-rate-actual {
    color: #4a4a4a;
    display: inline-block;
    vertical-align: middle;
    .currency {
        font-family: RupeeForadian;
        font-size: 24/@rem;
        @media only screen and (max-width: 767px) {
            font-size: 20/@rem;
        }
    }
    .amount {
        font-size: 27/@rem;
        font-family: Calibri-Bold;
        @media only screen and (max-width: 767px) {
            font-size: 24/@rem;
        }
    }
}

.holidays-dest-package-card-rate-striked {
    color: #4a4a4a;
    text-decoration: line-through;
    opacity: 0.58;
    display: inline-block;
    vertical-align: middle;
    .currency {
        font-family: RupeeForadian;
        font-size: 16/@rem;
        vertical-align: middle;
    }
    .amount {
        font-size: 19/@rem;
        font-family: Calibri;
        vertical-align: middle;
        @media only screen and (max-width: 767px) {
            font-size: 16/@rem;
        }
    }
}

.holidays-dest-package-card-points {
    font-size: 1rem;
    font-family: Calibri;
    color: var(--primaryColor);
    display: inline-block;
    .type {
        color: #9b9b9b;
        margin-left: 5/@rem;
    }
}

.holidays-dest-package-card-points:first-child {
    border-right: 1px solid #9b9b9b;
    line-height: 1;
    padding-right: 5/@rem;
}

&.holidays-dest-package-card-btn {
    width: auto;
    line-height: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        line-height: 2.8;
        width: 9.5rem;
    }
    @media only screen and (max-width: 767px) {
        line-height: normal;
        white-space: nowrap;
    }
    @media only screen and (max-width: 374px) {
        width: 130px;
        padding: 0 7px;
    }
}

.holidays-dest-package-card-points-con {
    @media only screen and (max-width: 767px) {
        display: none;
    }
}

.holidays-dest-package-card-points-mobile {
    display: none;
    background: #fff;
    width: 100%;
    background: #fff;
    padding: 5/@rem 0 10/@rem 17/@rem;
    position: relative;
    @media only screen and (max-width: 767px) {
        display: block;
    }
}

.holidays-dest-package-card-points-mobile::after {
    position: absolute;
    content: " ";
    height: 1px;
    width: 40%;
    background: var(--primaryColor);
    bottom: 10/@rem;
    left: 17/@rem;
}

.holidays-dest-more-packages {
    display: none;
}

.holidays-dest-package-card-outer-wrap{
display:none;
}

.mr-list-hotel-specifications {
    margin-left: 32px;
    margin-left: 2rem;
}

.mr-list-hotel-specifications .ho-each-ameneties-sec {	
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 767px) {
    .mr-list-hotel-specifications {
        margin-left: unset;
    }

    .mr-list-hotel-specifications .col-3:nth-child(n+4) .mr-list-unique-specs {
        margin-bottom: unset;
    }
}
.image-container{
	display : table-cell;
	height: 20px;
	width: 20px;
	margin-right: 2px;
	margin-bottom:8px;
	vertical-align: top;
    padding-right: 0.5rem;
}
.image-container img{
	height: 100%;
	width: 100%;
	object-fit:contain;
}
.ho-signature-name {
    font-family: Calibri;
    color: #323232;
    margin-left: 0.625rem;
    font-size: 1rem;
    vertical-align: top;
    padding-right: 5px;
    width: 80%;
    line-height: 1;
    display: table-cell;
}
img.ho-location-icon.ho-cm-icon.inline-block {
    height: 14px;
    vertical-align: top;
}
a.inline-block.ho-hotel-location-link {
    width: 100%;
    margin: 0.2rem 0;
}
span.inline-block.ho-location-address.cm-view-link-txt.ho-cm-link-txt {
    width: calc(~'100% - 21px');
    vertical-align: top;
    display: inline-block;
    margin: 0;
    line-height: 14px;
}
@media only screen and (max-width: 767px) {
    .ho-signature-name {
        width: 85%;
        margin-left: 0.125rem;
    }    
}

.mr-hotel-distanceFrom-airport {

    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.36;
    color: #979797;
    margin-bottom: 17px;

}


.terms-list {
   list-style-type: disc;
   list-style-position: inside;
   display: none;
}

.list-show {
   font-size: 16px;
   font-size: 1rem;
   font-family: Calibri-Bold;
   color: var(--primaryColor);
   cursor: pointer;
   display: none;
}


.show-list {
   display: list-item;
}


.rate-description-content-second{
    margin:0;
}
.holidays-dest-package-card-inclusions-content {
           margin-top: 15px;
           box-shadow: initial;
           padding: 0;
           background-color: #ffffff;

           &:before {
               content: none;
           }
       }

       .holidays-inclusions-on-show {
           .holidays-dest-package-card-inclusions-content {
               background-color: #f5f5f5;
               padding: 10px;
               box-shadow: 0 1px 2px 0 #9b9b9b;
               z-index: 2;
           }
       }
.holidays-dest-package-card-inclusions-img-con img{
    object-fit:contain;
}
.rotate-arrow{
    transform:rotate(-180deg);
}