<div>
    <nav class="cm-nav-tab-con">
        <sly data-sly-use.multiItems="com.ihcl.core.models.NavigationTab">
            <sly data-sly-list="${multiItems.getMultiFieldTabList}">
                <div class="more-tab-child-container ${inheritedPageProperties.sitePath}" data-sly-test="${itemList.index < 2}">
                	<a id=${item.tabtext} class="tab-child-container" href="${item.tabtextlink}.html">${item.tabtext}</a>
                </div>
            </sly>
            <div class="more-container-mobile">
                <span role="button" tabindex="0" class="more-container-mobile-container" on="tap:quote-navigation">More</span>
                <span role="button" tabindex="0" class="more-arrow icon-drop-down-arrow"></span>
            </div>
            <amp-lightbox class="amenities-background" id="quote-navigation" layout="nodisplay">
  				<blockquote>
                <h2 class="text-centre">${currentPage.title}</h2>
                <ul>
					<div class="more-content-options" data-sly-list ="${multiItems.getMultiFieldTabList}">
                        <div class="more-tab-child-container-lightbox" data-sly-test="${itemList.index > 1}">
                            <li><a class="hotelMoreNav" id=${item.tabtext} href="${item.tabtextlink}.html">${item.tabtext}</a></li>
                        </div>
                    </div>
                </ul>
                </blockquote>
                 <button class="amenities-close" on="tap:quote-navigation.close">X</button>
			</amp-lightbox>

        </sly>
    </nav>
</div>
