<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.bookStay'}" />

<div id="book-a-stay" class="cm-bas-con" role="dialog" data-dialog-modal="bookAStay" data-theme="${properties.themeClass}">
    <div class="cm-overlay bas-overlay"></div>
    <div class="cm-bas-content-con">
        <section class="header-bas-container">
            <div class="header-bas-sub-section bas-direct-best">
                <span class="bas-mobile"> Book </span>
                <br class="bas-mobile" />
                Taj Direct &nbsp
                <span class="bas-desktop"> Best </span>
                <span class="bas-desktop">Rate Guarantee</span>
                <div class="bas-line"></div>
            </div>
            <div class="header-bas-sub-section">
                <span class="icon-taj-brand-reward bas-brand-value-icon"></span>
                <div class="bas-header-content">Best rate guaranteed!</div>
            </div>
            <div class="header-bas-sub-section bas-rel">
                <!-- <span class="icon-rewards-memberRates bas-brand-value-icon rewards-icon"></span> -->
                <img class="inline-block innercircle-logo"
                    src="/content/dam/tajhotels/logos/taj-logos/taj-innercircle-logo.png" alt="taj innercircle logo" />
                <div class="bas-header-content innercircle-logo-content">Member rates</div>
            </div>
            <span class="bas-close icon-close" role="button" tabindex="0" data-dialog-close="bookAStay"></span>
        </section>
        <section id="booking-search" class="dest-bas-search">
            <sly data-sly-test="${properties.themeClass != 'ama-theme'}">
            <div class="search-and-suggestions-wrapper container">
                <div class="searchBar-wrap">
                    <img class="search-icon" src="/content/dam/tajhotels/icons/style-icons/search-icon.svg"
                        alt="search-icon" />
                    <input class="searchbar-input" type="text" aria-label="search bar"
                        placeholder="${properties.placeholderText}" />
                    <span class="explore-taj-content">
                        ${properties.exploreTitle}<img class="explore-taj"
                            src="/content/dam/tajhotels/icons/style-icons/dropDown.svg" alt="explore-taj" />
                    </span>
                    <span class="close-icon display-none">
                        <img class="closeIconImg" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
                    </span>
                </div>
                <div class="suggestions-wrap display-none">
                    <div class="suggestions-overlay cm-overlay"></div>
                    <div class="suggestions-container">
                        <div class="no-results-found" id="NoResults">${properties.noResultsTitle}</div>
                        <div class="trending-suggestions-container display-none">
                            <div class="trending-explore">
                                <p class="explore-heading">
                                    <img class="destination-hotel-icon"
                                        src="/content/dam/tajhotels/icons/style-icons/search-suggestions-destination-icon.svg"
                                        alt="hotel-icon" />
                                    <span class="trending-explore-taj-text">${properties.exploreTitle}</span>
                                </p>
                            </div>
                        </div>
                        <div class="search-suggestions-container display-none">
                            <div id="dest-result-cont" class="trending-search">
                                <sly data-sly-test="${!properties.hideDestinationName}">
                                <p class="explore-heading">
                                    <img class="destination-hotel-icon"
                                        src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                    <span class="trending-explore-taj-text trending-search-text">${properties.destinationTitle}</span>
                                </p>
                                <div id="dest-result" class="trending-searches-in-taj"></div>
                                </sly>
                            </div>
                            <div id="holiday-result-cont" class="trending-search holiday-trending">
                                <p class="explore-heading">
                                    <img class="destination-hotel-icon"
                                        src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                    <span class="trending-explore-taj-text trending-search-text">${properties.holidayDestinationTitle}</span>
                                </p>
                                <div id="holiday-result" class="trending-searches-in-taj"></div>
                            </div>
                            <div id="holiday-hotel-result-cont" class="trending-search holiday-hotel-trending">
                                <p class="explore-heading">
                                    <img class="destination-hotel-icon"
                                        src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                    <span class="trending-explore-taj-text trending-search-text">${properties.holidayHotelTitle}</span>
                                </p>
                                <div id="holiday-hotel-result" class="trending-searches-in-taj"></div>
                            </div>
                            <div id="hotel-result-cont" class="trending-search hotels-trending">
                                <sly data-sly-test="${properties.websiteHoteltitle}">
                                <p class="explore-heading website-result">
                                    <img class="destination-hotel-icon"
                                        src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                    <span class="trending-explore-taj-text trending-search-text">${properties.websiteHoteltitle}</span>
                                </p>
                                <div id="website-hotel-result" class="trending-searches-in-taj"></div>
                                </sly>
                                <sly data-sly-test="${properties.otherHotelTitle}">
                                <p class="explore-heading others-result">
                                    <img class="destination-hotel-icon"
                                        src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                    <span class="trending-explore-taj-text trending-search-text">${properties.otherHotelTitle}</span>
                                </p>
                                <div id="others-hotel-result" class="trending-searches-in-taj"></div>
                                </sly>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <img class="nav-prelogin-close" src="/content/dam/tajhotels/icons/style-icons/close-icon-white.svg"
                alt="close-icon-white" /> </sly>
            <sly data-sly-test="${properties.themeClass == 'ama-theme'}">
            <div class="search-and-suggestions-wrapper container">
                <a class="search-bar-wrapper-container">
                    <div class="searchBar-wrap">
                        <div id="dest" class="dropdown-input select-input-arrow select-dest-placeholder">Select
                            Destinations/Bungalows</div>
                    </div>
                </a>
                <div class="suggestions-wrap" style="display: none;">
                    <div id='select-results' class='results-container'></div>
                </div>
            </div>
            </sly>
        </section>
        <section class="bas-date-container-main-wrap">
            <section class="bas-date-container-main">
                <div class="bas-datepicker-container" id="date-picker-wrap">
                    <div class="trip-date-wrap">
                        <div class="input-daterange input-group" id="datepicker">
                            <div class="bas-left-date-wrap active">
                                <div class="date-title-style">From</div>
                                <div class="input-box-wrapper">
                                    <span class="calendar-image icon-calendar-check-availability"></span>
                                    <input class="form-control input-box date-explore" id="input-box1"
                                        aria-label="check availability for from date" type="text" name="start"
                                        readonly="true" />
                                </div>
                            </div>
                            <div class="bas-right-date-wrap">
                                <div class="date-title-style">To</div>
                                <div class="input-box-wrapper hidden-sm hidden-xs">
                                    <span class="calendar-image icon-calendar-check-availability"></span>
                                    <input class="form-control input-box date-explore" id="input-box2" type="text"
                                        name="end" aria-label="check availability for to date" readonly="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bas-calander-container"></div>
                </div>
            </section>
            <sly data-sly-test="${properties.bungalowCheckbox}">
            <section class="radio-button book-stay-popup-radio-btn">
                <label class="radio-container">
                    Book Room
                    <input type="radio" id="onlyRoomBtn" name="amaRoomTypePopup" class="activeRadioButton">
                    <span class="checkmark"></span>
                </label>
                <label class="radio-container">
                    Book Entire Bungalow
                    <input type="radio" id="onlyBungalowBtn" name="amaRoomTypePopup">
                    <span class="checkmark"></span>
                </label>
            </section>
            </sly>
            <section class="bas-hotel-details-container">
                <div class="bas-datepicker-container"></div>
                <div class="bas-room-details-container">
                    <div class="bas-room-header bas-mobile">Rooms</div>
                    <ul class="bas-about-room-container clearfix">
                        <li class="bas-room-no bas-active" id="room1">
                            <button class="btn-only-focus" aria-label="bas room">
                                <span class="bas-room bas-desktop">Room &nbsp;</span>
                                <span class="bas-span-room-no">1</span>
                            </button>
                            <div class="bas-room-delete-close">
                                <i class="icon-close cm-hide">
                                    <button class="btn-only-focus" aria-label="close icon"></button>
                                </i>
                            </div>
                        </li>
                        <li class="bas-add-room">
                            <button class="btn-only-focus">
                                +
                                <span class="addroom">ADD ROOM</span>
                            </button>
                        </li>
                    </ul>
                    <ul class="bas-room-details bas-rel" id="room1Details">
                        <li class="bas-adult-no-container">
                            Adults
                            <div class="bas-no-of-adults">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="quantity-left-minus btn btn-default btn-number" type="button"
                                            data-type="minus" data-field="">
                                            <span>-</span>
                                        </button>
                                    </span>
                                    <input class="form-control input-number bas-quantity" id="quantityA" type="text"
                                        aria-label="number of adults" name="quantity" value="1" min="1" max="6"
                                        tabindex="-1" />
                                    <span class="input-group-btn">
                                        <button class="quantity-right-plus quantity-right-plus1 btn btn-default btn-number"
                                            type="button" data-type="plus" data-field="">
                                            <span>+</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="bas-child-no-container bas-rel">
                            <div class="label-children-con">
                                <span>Children</span>
                                <span class="child-age-limit">(Age: 0-12)</span>
                            </div>
                            <div class="bas-no-of-child">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="quantity-left-minus btn btn-default btn-number" type="button"
                                            data-type="minus" data-field="">
                                            <span>-</span>
                                        </button>
                                    </span>
                                    <input class="form-control input-number bas-quantity" id="quantityB" type="text"
                                        name="quantity" aria-label="number of child" value="1" min="1" max="6" tabindex="-1" />
                                    <span class="input-group-btn">
                                        <button class="quantity-right-plus btn btn-default btn-number" type="button"
                                            data-type="plus" data-field="">
                                            <span>+</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="bas-specialcode-container">
                <div class="special-code-wrap clearfix">
                    <h2>Use a special code</h2>
                    <div class="bas-aroow-btn arrow-btn"></div>
                </div>
                <div class="bas-code-wrap clearfix">
                    <div class="bas-have-promo-code">
                        <span>Corporate Access </span>
                        <span class="trigger-promo-code-input cm-view-txt">
                            <button class="btn-only-focus">Click Here!</button>
                        </span>
                    </div>
                    <div class="promo-code-wrap clearfix">
                        <div class="promo-code-label-con">
                            <label class="v-middle">Enter: </label>
                        </div>
                        <div class="promo-code-input-con">
                            <input class="promo-code v-middle" type="text" aria-label="access/promo code input"
                                placeholder="Promo/Access Code" />
                            <span class="icon-close promo-code-clear-input cm-hide"></span>
                            <div class="promocode-status-text"></div>
                        </div>
                        <div class="rate-code-input-con">
                            <input class="rate-code v-middle" type="text" aria-label="rate code input"
                                placeholder="Rate Code" />
                            <span class="icon-close rate-code-clear-input cm-hide"></span>
                            <div class="ratecode-status-text"></div>
                        </div>
                        <div class="rate-code-input-con">
                            <input class="agency-id v-middle" type="text" aria-label="agency id input"
                                placeholder="Agency Id" />
                            <span class="icon-close rate-code-clear-input cm-hide"></span>
                            <div class="ratecode-status-text"></div>
                        </div>
                    </div>
                </div>
            </section>


            <sly data-sly-test.mode="${properties.show=='showIHCLCorporateBookingEntityDetails'}">
            <section class="ihclcb-book-stay-entity-drpdwn-cont ">

                 <div class="ihclcb-book-a-stay-inner-wrp">
                    <span class="entity-category-title">Entity Type</span>
                    <div class="ihclcb-selected-data-cont ">
                        <div class="ihclcb-selected-data entity-dropdown-disabled" data-drpdwn-caller="entity-type-ref"
                            id="entityTypeDropdownMenu" data-entity-category="entityType" aria-haspopup="true">Entity Type</div>
                    </div>
                </div>
                <div class="ihclcb-book-a-stay-inner-wrp ">
                    <span class="entity-category-title">Entity City</span>
                    <div class="ihclcb-selected-data-cont ">

                        <div class="ihclcb-selected-data ihclcb-mandetory-field " id="entityCityDropdownMenu"
                            data-entity-category="entityCity" data-drpdwn-caller="entity-city-ref" aria-haspopup="true">Entity
                            City</div>
                    </div>
                </div>
                <div class="ihclcb-book-a-stay-inner-wrp">
                    <span class="entity-category-title">Entity Name</span>
                    <div class="ihclcb-selected-data-cont pr-0">

                        <div class="ihclcb-selected-data ihclcb-mandetory-field entity-dropdown-disabled"
                            data-drpdwn-caller="entity-name-ref" id="entityNameDropdownMenu"
                            data-entity-category="entityName" aria-haspopup="true">Entity Name</div>

                    </div>
                </div>
                <div class="ihclcb-book-a-stay-inner-wrp ihclcb-mob-wid-100">
                    <span class="entity-category-title">GSTIN NO.</span>
                    <div class="ihclcb-selected-data-cont ">

                        <div class="ihclcb-selected-data entity-dropdown-disabled" data-drpdwn-caller="gstin-ref"
                            id="gstinDropdownMenu" data-entity-category="gstinNo" aria-haspopup="true">GSTIN NO.</div>
                    </div>
                </div>

               <!--  <div class="ihclcb-book-a-stay-inner-wrp ihclcb-mob-wid-100">
                    <span class="entity-category-title">IATA NO.</span>
                    <div class="ihclcb-selected-data-cont icon-drop-down-arrow ">
                        <div class="ihclcb-selected-data entity-dropdown-disabled" data-drpdwn-caller="iata-ref"
                            id="iataDropdownMenu" data-entity-category="iataNo" aria-haspopup="true">IATA NO.</div>
                    </div>
                </div>-->

                <div class="entity-dropdown-cnt-cont ">
                
                       
                    <div class=" entity-dropdown-container entity-type-dropdown" data-drpdwn-target="entity-type-ref"
                        aria-labelledby="enityTypeDropdownMenu">
            
                        <div id="entity-result-cont" class="entity-dropdown">
                            <p class="entity-explore-heading">
                                <img class="entity-dropdown-icon" src="/content/dam/tajhotels/icons/style-icons/location.svg"
                                    alt="Location icon">
                                <span class="entity-category-title">Entity Type</span>
                            </p>
                            <div class="entity-results" id="entityTypeDetails"></div>
                        </div>
            
                    </div>
                
                    <div class=" entity-dropdown-container entity-city-dropdown" data-drpdwn-target="entity-city-ref"
                        aria-labelledby="entityCityDropdownMenu">

                        <div id="entity-result-cont" class="entity-dropdown">
                            <p class="entity-explore-heading">
                                <img class="entity-dropdown-icon"
                                    src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon">
                                <span class="entity-category-title">Entity City</span>
                            </p>
                            <div class="entity-results" id="entityDetailsCity"></div>
                        </div>

                    </div>
                    <div class=" entity-dropdown-container entity-name-dropdown" data-drpdwn-target="entity-name-ref"
                        aria-labelledby="entityNameDropdownMenu">

                        <div id="entity-result-cont" class="entity-dropdown">
                            <p class="entity-explore-heading">
                                <img class="entity-dropdown-icon"
                                    src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon">
                                <span class="entity-category-title">Entity Name</span>
                            </p>
                            <div class="entity-results" id="entityDetailsPartyName"></div>
                        </div>

                    </div>

                    <div class=" entity-dropdown-container gstin-dropdown" data-drpdwn-target="gstin-ref"
                        aria-labelledby="gstinDropdownMenu">

                        <div id="entity-result-cont" class="entity-dropdown">
                            <p class="entity-explore-heading">
                                <img class="entity-dropdown-icon"
                                    src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon">
                                <span class="entity-category-title">GSTIN NO</span>
                            </p>
                            <div class="entity-results" id="entityDetailsGST"></div>
                        </div>

                    </div>

                    <!--   <div class=" entity-dropdown-container iata-dropdown" data-drpdwn-target="iata-ref"
                        aria-labelledby="iataDropdownMenu">
            
                        <div id="entity-result-cont" class="entity-dropdown">
                            <p class="entity-explore-heading">
                                <img class="entity-dropdown-icon" src="/content/dam/tajhotels/icons/style-icons/location.svg"
                                    alt="Location icon">
                                <span class="entity-category-title">IATA NO</span>
                            </p>
                            <div class="entity-results" id="entityDetailsIATA"></div>
                        </div>            
                    </div> -->
                </div>
            </section>
            </sly>
        </section>

        <section class="bas-best-available-rate-container clearfix">
            <sly data-sly-test="${properties.themeClass != 'ama-theme'}">
            <div class="bas-final-detail-wrap">
                <span class="final-date-plan">Select date</span>
                <span class="room-border">1 Room</span>
                <span class="bas-count-of-adults">1 Guest</span>
            </div>
            </sly>
            <div class="mr-right best-avail-rate cm-btn-secondary">
                <a class="best-avail-rate-anchor" id="global-re-direct" tabindex="0" role="button">${properties.checkAvailability}</a>
                <span class="dummy-to-middle-align"></span>
            </div>
            <span id="hotelIdFromSearch" style="display: none;"></span>
        </section>
    </div>
</div>
<input type="hidden" id="contentRootPath" aria-hidden="true" value="${inheritedPageProperties.siteConfigContentPath}" />
<input type="hidden" id="basOtherWebsitePath" value="${properties.otherWebsitePath}" aria-hidden="true" />
<input type="hidden" id="appendDestName" aria-hidden="true" value="${properties.appendDestName}" />
<div style="display: none;">
    <div id="promo-rate-tab-name">${properties.promoTabName}</div>
    <div data-sly-use.promoObj="com.ihcl.core.models.PromoCode">
        <div data-promo-code="${promoObj.promoCodesString}"></div>
    </div>
</div>