<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.taj-air-quotation'}" />
<div class="quickQuoteMain" id="quickQuoteMain" style="z-index: 5000; display: none;">
    <i class="fa-remove icon-close quick-quote-close"></i>
    <div id="quoteDiv" class="cm-ui-form">
        <div class="getQuote row cm-ui-form-row single-flight-journey-detail-wrp">
            <div class="col-12 col-md-6 cm-ui-form-col sub-form-input-wrp">
                <label class="cm-ui-form-label sub-form-input-label">${properties.departureFrom}</label>
                <div class="form-input custom departure-place-tajaironline">
                    <div class="selectSubContainer">
                        <select aria-label="${properties.departureFrom}"
                            class=" sub-form-input-element sub-form-mandatory departure-city-from" name="mquery" id="mquery">
                            <option value="">SELECT</option>
                            <option value="ABUDHABI [OMAA]">ABUDHABI [OMAA]</option>
                            <option value="ADAMPUR [VIAX]">ADAMPUR [VIAX]</option>
                            <option value="AGARTALA [VEAT]">AGARTALA [VEAT]</option>
                            <option value="AGRA [AGR]">AGRA [AGR]</option>
                            <option value="AHMEDABAD [AMD]">AHMEDABAD [AMD]</option>
                            <option value="AIZOL, LENGPUI [VELP]">AIZOL, LENGPUI [VELP]</option>
                            <option value="AKOLA [VAAK]">AKOLA [VAAK]</option>
                            <option value="AL-FUJAIRAH [FJR]">AL-FUJAIRAH [FJR]</option>
                            <option value="ALLAHABAD [IXD]">ALLAHABAD [IXD]</option>
                            <option value="AMBALA (VIAM)">AMBALA (VIAM)</option>
                            <option value="AMRITSAR [ATQ]">AMRITSAR [ATQ]</option>
                            <option value="AURANGABAD [IXU]">AURANGABAD [IXU]</option>
                            <option value="BAGDOGRA [IXB]">BAGDOGRA [IXB]</option>
                            <option value="BANGALORE [BLR]">BANGALORE [BLR]</option>
                            <option value="BANGKOK [BKK]">BANGKOK [BKK]</option>
                            <option value="BAREILLY [VIBY]">BAREILLY [VIBY]</option>
                            <option value="BASEL [LFSB]">BASEL [LFSB]</option>
                            <option value="BEIJING [PEK]">BEIJING [PEK]</option>
                            <option value="BELGAUM [IXG]">BELGAUM [IXG]</option>
                            <option value="BHAVNAGAR [BHU]">BHAVNAGAR [BHU]</option>
                            <option value="BHOPAL [BHO]">BHOPAL [BHO]</option>
                            <option value="BHUBANESWAR [BBI]">BHUBANESWAR [BBI]</option>
                            <option value="BHUJ [BHJ]">BHUJ [BHJ]</option>
                            <option value="BIDAR [VOBR]">BIDAR [VOBR]</option>
                            <option value="BIKANER [VIBK]">BIKANER [VIBK]</option>
                            <option value="CAIRO [HECA]">CAIRO [HECA]</option>
                            <option value="CALICUT [CCJ]">CALICUT [CCJ]</option>
                            <option value="CHANDIGARH [IXC]">CHANDIGARH [IXC]</option>
                            <option value="CHENNAI [MAA]">CHENNAI [MAA]</option>
                            <option value="COIMBATORE [CJB]">COIMBATORE [CJB]</option>
                            <option value="COLOMBO [CMB]">COLOMBO [CMB]</option>
                            <option value="DAMAN [VADN]">DAMAN [VADN]</option>
                            <option value="DEHRADUN [VIDN]">DEHRADUN [VIDN]</option>
                            <option value="DELHI [DEL]">DELHI [DEL]</option>
                            <option value="DHAKA [DAC]">DHAKA [DAC]</option>
                            <option value="DIBRUGARH [VEMN]">DIBRUGARH [VEMN]</option>
                            <option value="DIU [DIU]">DIU [DIU]</option>
                            <option value="DUBAI [DXB]">DUBAI [DXB]</option>
                            <option value="DUSSELDORF [EDDL]">DUSSELDORF [EDDL]</option>
                            <option value="FURSATGANJ (RAIBARELY) [VIRB]">FURSATGANJ (RAIBARELY) [VIRB]</option>
                            <option value="GAYA (BODHGAYA) [GAY]">GAYA (BODHGAYA) [GAY]</option>
                            <option value="GOA [GOI]">GOA [GOI]</option>
                            <option value="GONDIA [VAGD]">GONDIA [VAGD]</option>
                            <option value="GORAKHPUR [VEGK]">GORAKHPUR [VEGK]</option>
                            <option value="GUWAHATI [VEGT]">GUWAHATI [VEGT]</option>
                            <option value="GWALIOR [GWL]">GWALIOR [GWL]</option>
                            <option value="HALWARA [VIHX]">HALWARA [VIHX]</option>
                            <option value="HUBLI [HBX]">HUBLI [HBX]</option>
                            <option value="HYDERABAD (SHAMSHABAD) [HYD]">HYDERABAD (SHAMSHABAD) [HYD]</option>
                            <option value="IMPHAL [VEIM]">IMPHAL [VEIM]</option>
                            <option value="INDORE [IDR]">INDORE [IDR]</option>
                            <option value="JABALPUR [JLR]">JABALPUR [JLR]</option>
                            <option value="JAIPUR [JAI]">JAIPUR [JAI]</option>
                            <option value="JAISALMER [VIJR]">JAISALMER [VIJR]</option>
                            <option value="JAKARTA [WIII]">JAKARTA [WIII]</option>
                            <option value="JAMNAGAR [JGA]">JAMNAGAR [JGA]</option>
                            <option value="JEDDAH [OEJN]">JEDDAH [OEJN]</option>
                            <option value="JESSORE">JESSORE</option>
                            <option value="JODHPUR [JDH]">JODHPUR [JDH]</option>
                            <option value="JORHAT [JRH]">JORHAT [JRH]</option>
                            <option value="KALAIKUNDA [VEDX]">KALAIKUNDA [VEDX]</option>
                            <option value="KANDLA [IXY]">KANDLA [IXY]</option>
                            <option value="KANPUR [VICX]">KANPUR [VICX]</option>
                            <option value="KARACHI [KHI]">KARACHI [KHI]</option>
                            <option value="KATHMANDU [KTM]">KATHMANDU [KTM]</option>
                            <option value="KHAJURAHO [VAKJ]">KHAJURAHO [VAKJ]</option>
                            <option value="KOCHI (COCHIN) [COK]">KOCHI (COCHIN) [COK]</option>
                            <option value="KOLKATA [CCU]">KOLKATA [CCU]</option>
                            <option value="KOPAL, HOSPET [VOHP]">KOPAL, HOSPET [VOHP]</option>
                            <option value="KUNMING [KMG]">KUNMING [KMG]</option>
                            <option value="LATUR [VO55]">LATUR [VO55]</option>
                            <option value="LILABARI [VELR]">LILABARI [VELR]</option>
                            <option value="LONDON [LTN]">LONDON [LTN]</option>
                            <option value="LUCKNOW [LKO]">LUCKNOW [LKO]</option>
                            <option value="MACAU [VMMC]">MACAU [VMMC]</option>
                            <option value="MADURAI [IXM]">MADURAI [IXM]</option>
                            <option value="MALE [VRMM]">MALE [VRMM]</option>
                            <option value="MANGALORE [VOML]">MANGALORE [VOML]</option>
                            <option value="MEDAN, INDONESIA [MES]">MEDAN, INDONESIA [MES]</option>
                            <option value="MOSCOW [SVO]">MOSCOW [SVO]</option>
                            <option value="MUMBAI [BOM]">MUMBAI [BOM]</option>
                            <option value="MUNDRA">MUNDRA</option>
                            <option value="MUNICH [EDDM]">MUNICH [EDDM]</option>
                            <option value="MYSORE [VOMY]">MYSORE [VOMY]</option>
                            <option value="NAGPUR [VANP]">NAGPUR [VANP]</option>
                            <option value="NAIROBI [HKJK]">NAIROBI [HKJK]</option>
                            <option value="NANDED [VAND]">NANDED [VAND]</option>
                            <option value="OZAR [VAOZ]">OZAR [VAOZ]</option>
                            <option value="PANAGARH [VEPH]">PANAGARH [VEPH]</option>
                            <option value="PARIS [CDG]">PARIS [CDG]</option>
                            <option value="PARO [PBH]">PARO [PBH]</option>
                            <option value="PATHANKOT [IXP]">PATHANKOT [IXP]</option>
                            <option value="PATNA [PAT]">PATNA [PAT]</option>
                            <option value="PHUKET [HKT]">PHUKET [HKT]</option>
                            <option value="PONDICHERRY [VOPC]">PONDICHERRY [VOPC]</option>
                            <option value="PORT BLAIR [VOPB]">PORT BLAIR [VOPB]</option>
                            <option value="PUNE [PNQ]">PUNE [PNQ]</option>
                            <option value="PURNEA [VEPU]">PURNEA [VEPU]</option>
                            <option value="PUTTAPARTHI [VOPN]">PUTTAPARTHI [VOPN]</option>
                            <option value="RAIPUR [RPR]">RAIPUR [RPR]</option>
                            <option value="RAJAHMUNDRY [VORY]">RAJAHMUNDRY [VORY]</option>
                            <option value="RAJKOT [RAJ]">RAJKOT [RAJ]</option>
                            <option value="RANCHI [IXR]">RANCHI [IXR]</option>
                            <option value="ROURKELA [VERK]">ROURKELA [VERK]</option>
                            <option value="SAIFAI">SAIFAI</option>
                            <option value="SARSAWA [VISP]">SARSAWA [VISP]</option>
                            <option value="SHANGHAI [ZSPD]">SHANGHAI [ZSPD]</option>
                            <option value="SILCHAR [VEKU]">SILCHAR [VEKU]</option>
                            <option value="SINGAPORE [XSP]">SINGAPORE [XSP]</option>
                            <option value="SRINAGAR [SXR]">SRINAGAR [SXR]</option>
                            <option value="SURAT [VASU]">SURAT [VASU]</option>
                            <option value="SURATGARH [VI43]">SURATGARH [VI43]</option>
                            <option value="TEL AVIV [LLBG]">TEL AVIV [LLBG]</option>
                            <option value="THANJAVUR [VOTJ]">THANJAVUR [VOTJ]</option>
                            <option value="TIRUCHIRAPALLY [TRZ]">TIRUCHIRAPALLY [TRZ]</option>
                            <option value="TIRUPATI [TIR]">TIRUPATI [TIR]</option>
                            <option value="TOKYO [NRT]">TOKYO [NRT]</option>
                            <option value="TRIVANDRUM [TRV]">TRIVANDRUM [TRV]</option>
                            <option value="UDAIPUR [UDR]">UDAIPUR [UDR]</option>
                            <option value="UDHAMPUR [VIUX]">UDHAMPUR [VIUX]</option>
                            <option value="UTTARLAI (BARMER) [VIUT]">UTTARLAI (BARMER) [VIUT]</option>
                            <option value="VADODARA [BDQ]">VADODARA [BDQ]</option>
                            <option value="VARANASI [VNS]">VARANASI [VNS]</option>
                            <option value="VENICE [LIPZ]">VENICE [LIPZ]</option>
                            <option value="VIDYANAGAR/VIJAYANAGAR [VOJV]">VIDYANAGAR/VIJAYANAGAR [VOJV]</option>
                            <option value="VIJAYAWADA [VGA]">VIJAYAWADA [VGA]</option>
                            <option value="VISHAKAPATNAM [VTZ]">VISHAKAPATNAM [VTZ]</option>
                            <option value="VLADIVOSTOK [UHWW]">VLADIVOSTOK [UHWW]</option>
                            <option value="ZURICH [ZRH]">ZURICH [ZRH]</option>
                        </select>

                    </div>
                    <div class="sub-form-input-warning"></div>
                </div>

            </div>
            <div class="col-12 col-md-6 cm-ui-form-col">
                <label class="cm-ui-form-label sub-form-input-label">${properties.to}</label>
                <div class="form-input custom selectSubContainer">
                    <select aria-label="${properties.to}" name="squery" id="squery" class="form-control cm-ui-form-element">
                        <option value="SELECT">SELECT</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 cm-ui-form-col journey-radio">
                <label class="cm-ui-form-label" for="journey">${properties.journey}</label>
                <div class="form-input custom selectSubContainer">
                    <select aria-label="${properties.journey}" class="form-control cm-ui-form-element" name="journey"
                        id="journey">
                        <option value="oneway" id="oneRadio" selected="">ONE-WAY</option>
                        <option value="return" id="returnRadio">RETURN</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 cm-ui-form-col align-self-end">
                For multicity/Unlisted Destinations <a href="${properties.linkUrl}.html" target="_blank">CLICK HERE</a>
            </div>
            <div class="col-12 cm-ui-form-col text-center">
                <button alt="Get Quote" src="" class="getQuoteBtn cm-btn-secondary" id="getQuoteBtn">Get Quote</button>
                <button alt="Reset" src="" class="resetBtn cm-btn-secondary" onclick="Resetfn();">Reset</button>
            </div>
        </div>
        <div class="travelDetails " style="display: none;">
            <div class="pricing-expl" data-sly-test="${properties.pricingExplanationLabel}">${properties.pricingExplanationLabel}</div>
            <div id="resultDiv"></div>
            <div class="tncLinks text-right">
                <div class="distermsLinks">
                    <a href="${properties.linkUrl}.html" target="_blank"><button class="bookajet cm-btn-secondary"
                            id="bookajet">Book Jet</button></a>
                    <input type="hidden" name="dollarRate" id="dollarRate" disabled="true" value="${properties.dollarRate}"
                        aria-hidden="true">
                </div>
            </div>
        </div>

    </div>
    <div id="princingdetailspopup">
        <div class="pricing-card-details-wrap" style="z-index: 9000;">
            <div class="pricing-card-details-con">
                <div class="pricing-details-close">
                    <span class="icon-close"></span>
                </div>
                <div class="pricing-details-desc-con">
                    <div class="pricing-details-heading">${properties.pricingExplanationLabel}</div>
                    <div class="text-desc">${properties.detailedPricingExplanation @ context="html"}</div>
                </div>
            </div>
        </div>
    </div>
</div>
