<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="/apps/tajhotels/asyncclientlib/sightly/templates/clientlib.html"
     data-sly-call="${clientLib.all @ categories='tajhotels.gallerycarousel'}"/>
<div class="mr-menu-carousel-overlay mr-overlay-initial-none" role = "dialog" data-dialog-modal = "galleryCarousel">
    <div class="menu-carousel-container">
        <div class="mr-carousel-close-icon-wrap">
            <span class="icon-close mr-carousel-close-icon" tabindex="0" role = "button" data-dialog-close = "galleryCarousel"></span>
        </div>
        <div class="mr-carousel-inner-wrap">
            <div class="mr-carousel-leftArrow-container">
                <a class="left carousel-control mr-carousel-leftArrow" href="#mr-menu-carousel" data-slide="prev">
                    <span class="icon-carousel-arrow-coloured-left glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
            </div>
            <div class="mr-carousel-MainCarousel-container">
                <div class="carousel slide" id="mr-menu-carousel" data-ride="carousel">
                    <div class="mr-menu-carousel-indicators">
                        <div class="carouselCount-current-wrap">
                            <span class="mr-currentCarousel"></span>
                            <span class="divider">/</span>
                            <span class="mr-carouselTotalCount"></span>
                        </div>
                        <ol class="carousel-indicators mr-carousel-indicators-overlay"></ol>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <div class="mr-carousel-images-wrap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mr-carousel-rightArrow-container">
                <a class="right carousel-control mr-carousel-rightArrow" href="#mr-menu-carousel" data-slide="next">
                    <span class="icon-carousel-arrow-coloured-right glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
