<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.itinerary-filter'}" />
<div class="mr-itinerary-plan-filter-container">    
    <div class="itinerary-filter-heading">FILTER BY</div>
    <div class="gallery-nav-radio-btns-container itinerary-plan-radio-btn-con">
<div class="gallery-nav-radio-element itinerary-plan-radio-btn"><input class="gallery-nav-radio-input" id="full-day-itinerary" type="radio" name="itinerary-day-type" checked="checked" value="full-day" aria-label  = "Full day-itinerary" /><label class="gallery-nav-radio-label" for="full-day-itinerary"> <span> <div class="radio-inner-fill"></div></span>Full-Day Itinerary</label></div>
        <div
            class="gallery-nav-radio-element itinerary-plan-radio-btn"><input class="gallery-nav-radio-input" id="half-day-itinerary" type="radio" name="itinerary-day-type" value="half-day" aria-label = "Half day-itinerary" /><label class="gallery-nav-radio-label" for="half-day-itinerary"><span> <div class="radio-inner-fill"></div></span>Half-Day Itinerary</label></div>
</div> 
<div class="mr-filter-sort-wrap mr-itinerary-plan-filter-checkbox cm-hide">
    <div class="mr-itinerary-plan-filter-checkbox-innerWrap">
        <div class="mr-Filter-checkbox-wrap itinerary-category-checkbox"><label class="mr-filterCheckBox-label checkbox-inline"><input class="mr-filter-checkbox" type="checkbox" name="filterCheckbox" value="Sight Seeing" checked="checked"/><span class="mr-inputCustomShape" aria-label  = "Sight Seeing itinerary Checkbox"></span>Sight Seeing</label></div>
        <div
            class="mr-Filter-checkbox-wrap itinerary-category-checkbox"><label class="mr-filterCheckBox-label checkbox-inline"><input class="mr-filter-checkbox" type="checkbox" name="filterCheckbox" value="Activities" checked="checked" aria-label  = "Activities itinerary Checkbox"/><span class="mr-inputCustomShape"></span>Activities</label></div>
    <div class="mr-Filter-checkbox-wrap itinerary-category-checkbox"><label class="mr-filterCheckBox-label checkbox-inline"><input class="mr-filter-checkbox" type="checkbox" name="filterCheckbox" value="Shopping" checked="checked" aria-label = "Shopping itinerary Checkbox"/><span class="mr-inputCustomShape"></span>Shopping</label></div>
</div>
</div>
</div>

