<div data-sly-test="${wcmmode.edit}">AMP IHCL Footer</div>
<!--footer component markup-->
<footer class="footer"
	data-sly-use.footerModel="com.ihcl.core.models.Footer">
	<div class="footer-component-ihcl container">

		<div class="row ihcl-footer-about-section">
			<div class="col-12">
				<ul class="ihcl-footer-links-list">
					<li class="footer-link"><a href="/content/tajhotels/ihcl.html">${properties.category_home}</a>
						<ul data-sly-list="${footerModel.homeLinks}"
							class="footer-link-content-list">
							<li class="footer-link-content-item"><a
								href="${item.path}.html">${item.label}</a></li>
						</ul></li>
					<li class="footer-link"><a>${properties.category_brand}</a>
						<ul data-sly-list="${footerModel.ourBrandLinks}"
							class="footer-link-content-list">
							<li class="footer-link-content-item"><a
								href="${item.path}.html">${item.label}</a></li>
						</ul></li>
					<li class="footer-link"><a>${properties.category_company}</a>
						<ul data-sly-list="${footerModel.companyLinks}"
							class="footer-link-content-list">
							<li class="footer-link-content-item"><a
								href="${item.path}.html">${item.label}</a></li>
						</ul></li>
					<li class="footer-link"><a>${properties.category_investors}</a>
						<ul data-sly-list="${footerModel.investorsLinks}"
							class="footer-link-content-list">
							<li class="footer-link-content-item"><a
								href="${item.path}.html">${item.label}</a></li>
						</ul></li>
					<li class="footer-link"><a>${properties.category_development}</a>
						<ul data-sly-list="${footerModel.developmentLinks}"
							class="footer-link-content-list">
							<li class="footer-link-content-item"><a
								href="${item.path}.html">${item.label}</a></li>
						</ul></li>
					<li class="footer-link"><a>${properties.category_responsibility}</a>
						<ul data-sly-list="${footerModel.responsibilityLinks}"
							class="footer-link-content-list">
							<li class="footer-link-content-item"><a
								href="${item.path}.html">${item.label}</a></li>
						</ul></li>
					<li class="footer-link"><a>${properties.category_career}</a>
						<ul data-sly-list="${footerModel.careerLinks}"
							class="footer-link-content-list">
							<li class="footer-link-content-item"><a
								href="${item.path}.html">${item.label}</a></li>
						</ul></li>
					<li class="footer-link"><a>${properties.category_newsRoom}</a>
						<ul data-sly-list="${footerModel.newsRoomLinks}"
							class="footer-link-content-list">
							<li class="footer-link-content-item"><a
								href="${item.path}.html">${item.label}</a></li>
							<li class="footer-link-content-item"><a
								href="https://clientservices.vfmii.com/pdl/Main.html?company=taj"
								target="_blank">Media Library</a></li>
						</ul></li>
					<li class="footer-link"><a>${properties.category_contact}</a>
						<ul data-sly-list="${footerModel.contactLinks}"
							class="footer-link-content-list">
							<li class="footer-link-content-item"><a
								href="${item.path}.html">${item.label}</a></li>
						</ul></li>
				</ul>
			</div>
			<div class="col-12 ihcl-footer-content-section">
				<ul data-sly-list="${footerModel.footerLinks}"
					class="ihcl-footer-content-links">
					<li class="footer-link"><a href="${item.path}.html">${item.label}</a></li>
				</ul>
			</div>
			<div class="footer-media-section">
				<div>Connect with us:</div>
				<div class="footer-social-media-con">
					<a target="_blank" href="${properties.facebookredirectpath}"> <amp-img
							height="40px" width="40px" class="share-icon"
							src="${properties.facebookimagepath}" alt="facebook icon"></amp-img>
					</a> <a target="_blank" href="${properties.instagramredirectpath}">
						<amp-img height="40px" width="40px" class="share-icon"
							src="${properties.instagramimagepath}" alt="instagram icon"></amp-img>
					</a> <a target="_blank" href="${properties.twitterredirectpath}"> <amp-img
							height="40px" width="40px" class="share-icon"
							src="${properties.twitterimagepath}" alt="twitter icon"></amp-img>
					</a> <a target="_blank" href="${properties.youtuberedirectpath}"> <amp-img
							height="40px" width="40px" class="share-icon"
							src="${properties.youtubeimagepath}" alt="YouTube icon"></amp-img>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-brand-details-section">
		<div class="brand-logos-section">
			<div>${properties.brandsTitle}</div>
			<div class="brand-logos-carousal-band"
				data-sly-list="${footerModel.brandLinks}">
				<a href="${item.path}"> <amp-img height="16px"
						class="brand-icon" src="${item.label}" alt="brand logo"></amp-img>
				</a>
			</div>
		</div>
		<div class="footer-ihcl-logo-con">
			<amp-img class="logo" width="90" height="30"
				src="${properties.linkURL}" alt="taj logo"></amp-img>
			<div class="footer-disclaimer">${properties.footerDisclaimer}</div>
		</div>
	</div>
</footer>