<div class="content-wrapper container checkout-layout">
	<!-- summary checkout cart starts -->
		<div class="checkout-hotel-card-container">
			<div data-sly-resource="${'booking-info-card' @  resourceType='tajhotels/components/content/booking-info-card'}"></div>
		</div>
	<!-- summary cart ends -->

	<!-- checkout-payment-details starts -->
		<div>
			<div data-sly-resource="${'checkout-payment-details' @  resourceType='tajhotels/components/content/checkout-payment-details'}"></div>
		</div>
	<!-- checkout-payment-details ends -->
</div>