<template data-sly-template.experiencecard="${ @ resourcePath,cardTitleType}">
<div class="col-md-4 col-12 experiences-container"
    data-sly-use.expModelWrapper="${'com.ihcl.core.models.ExperienceModelWrapper' @ resourcePath=resourcePath }"
    data-sly-test.expModel="${expModelWrapper.experiencesModel}"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">

    <sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='taj.hotels.components.experience-card'}" />

    <div class="recommended-experiences-wrap">
        <div class="mr-experiences-images-wrap">
            <sly
                data-sly-test.finalImagePath="${expModel.draggedImagePath ? expModel.draggedImagePath : expModel.imagepath}" />
            <sly
                data-sly-call="${imagetemplate.damImageTemplate @ imagePath= finalImagePath,styleClass='mr-experiences-image', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true'}"></sly>
        </div>
        <div class="mr-experiences-description-wrap">
            <h2 class="mr-experinces-title" data-sly-element="${cardTitleType}">${expModel.experienceName}</h2>
            <div class="mr-experinces-detailsButton-wrap">
                <div class="mr-experinces-details-wrap">
                    <!-- <div class="mr-experinces-details-location">${expModel.experienceAddress}</div> -->
                    <div class="experience-details-short-desc">${expModel.description @context='html'}</div>
                </div>
                <button class="cm-btn-secondary experience-button-styles" data-experience-name=${expModel.experienceId}
                    onclick="myFunction(this)">VIEW DETAILS</button>
            </div>
        </div>
        <div style="display: none;" class="experienceType">${expModel.experienceType}</div>
    </div>

    <!--  Card details -->
    <div id=${expModel.experienceId}>
        <div class="experience-card-details-wrap">
            <sly data-sly-test.experienceName=${expModel.experienceName}>
            <div class="experience-card-details-con">
                <div class="experience-details-close">
                    <span class="icon-close"></span>
                </div>
                <div class="experience-details-desc-con">
                    <div class="experience-details-heading">${expModel.experienceName}</div>
                    <div data-sly-test.experienceAddress=${expModel.experienceAddress}>
                        <div class="ho-map-link">
                            <a class="inline-block ho-hotel-location-link" target="_blank"> <img
                                class="ho-location-icon ho-cm-icon inline-block conf-loc-img"
                                src="/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg" alt="location icon" />
                                <span
                                    class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt conf-loc-text experience-details-loc">${expModel.experienceAddress}</span>
                            </a>
                        </div>
                    </div>
                    <div class="experience-details-desc">${expModel.experienceLongDescription @context='html'}</div>
                </div>
                <div class="experience-details-img-con">
                    <sly
                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath = expModel.draggedImagePath ? expModel.draggedImagePath : expModel.imagepath, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>
                </div>
            </div>
            </sly>
        </div>
    </div>
</div>
</template>