.conciege-local-city-wrapper {
    padding: 17px;
    padding: 1.0625rem;
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    font-family: Calibri-bold;
    color: #323232;
}

@media only screen and (max-width: 480px) {
    .conciege-local-city-wrapper {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.conciege-local-city-wrapper .conciege-local-city-container .title-warpper {
    width: 80%;
    display: block;
    float: right;
}

@media only screen and (max-width: 767px) {
    .conciege-local-city-wrapper .conciege-local-city-container .title-warpper {
        width: 100%;
        margin-top: 5%;
    }
}

.conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer {
    width: 17%;
    display: block;
    float: left;
    /* height: 223px */
}

@media only screen and (max-width: 767px) {
    .conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer {
        width: 100%;
    }
    .conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer img {
  
   height: 100%; 
}
}

.conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer img {
    width: 100%;
   /*  height: 100%; */
    border-radius: 100%;
}

.conciege-local-city-wrapper .conciege-local-city-container .conceige-details-container {
    width: 80%;
    float: right;
    margin-top: 20px;
    margin-top: 1.25rem;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    line-height: 1.38;
}

@media only screen and (max-width: 767px) {
    .conciege-local-city-wrapper .conciege-local-city-container .conceige-details-container {
        width: 100%;
    }
     .conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer img {
        border-radius: 50%;
    }
}

.conciege-local-city-wrapper .conciege-local-city-container .conceige-header {
    font-size: 22px;
    font-size: 1.375rem;
}
@media only screen and (max-width: 767px) and (min-width:501px){
    .appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer img{
    width:72%;
    }
}
@media only screen and (max-width: 340px) and (min-width:320px){
	.appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer img{
	width:91%!important;
	}
}
@media only screen and (max-width: 380px) and (min-width:341px){
    .appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer img{
    width:75%;
    }
}
@media only screen and (max-width: 420px) and (min-width:381px){
    .appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer img{
    width:65%;
    }
}
@media only screen and (max-width: 500px) and (min-width:421px){
    .appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer img{
    width:48%;
    }
}
@media only screen and (max-width: 767px) {
    .conciege-local-city-wrapper .conciege-local-city-container .conceige-header {
        font-size: 1.375rem;
    }
}

.conciege-local-city-wrapper .conciege-local-city-container .conceige-sub-header {
    font-size: 16px;
    font-size: 1rem;
}
.appostro .conciege-local-city-wrapper .conciege-local-city-container .title-warpper,
.appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-details-container{
	width:78%;
	
}

.appostro .quotation-marks{
	width:3%;
	float:left;
}
@media only screen and (max-width: 767px) {
.appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer{
	width:100%;
	text-align:center;
}
/* .appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-image-conatainer img{
	width:72%;
} */
.appostro .quotation-marks{
	display : block;
	width:100%;
	margin-bottom: 0;
}
.appostro .quotation-marks img{
		display : block;
}
.appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-details-container,
.appostro .conciege-local-city-wrapper .conciege-local-city-container .title-warpper {
		width:100%;
}
.appostro .conciege-local-city-wrapper .conciege-local-city-container .title-warpper .conceige-header,
.appostro .conciege-local-city-wrapper .conciege-local-city-container .title-warpper .conceige-sub-header{
	text-align:center;
}
.appostro .conciege-local-city-wrapper .conciege-local-city-container .conceige-details-container{
    padding-left: 31px;
    margin-top: 0;
}
}
.concierge-det p{
	word-wrap: break-word;
   /* word-break: break-all; */
}
.ihcl-know-more-btn-wrp .pop-up {
   float: left;
   margin-left: 2.5rem;
   margin-top: 1rem;
}
       @media only screen and (max-width: 991px) and (min-width:768px){
.ihcl-know-more-btn-wrp .pop-up {

   margin-left: 20%;

                   }
               }
                     @media only screen and (max-width: 767px) {
                       .appostro .conciege-local-city-wrapper .conciege-local-city-container .title-warpper .conceige-sub-header{
text-align:left;
       padding-left:31px;
   }
.ihcl-know-more-btn-wrp .pop-up {

   margin-left: 0rem;

}
       }