
<sly data-sly-use.DEvelopModel="com.ihcl.core.models.TajAirCardsListModel"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">

<div class="sustainability-card-wrap">
    <div class="row">
        <div class="col-md-6 col-12 col-sm-12 sustainability-img-wrap">
            <div class="sustainability-img-con">
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=DEvelopModel.valueMap['fileReference'], renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='img-responsive sustainability-img'}" />
            </div>
        </div>
        <div class="col-md-6 col-12 col-sm-12 sustainability-content-wrap"
            data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
            <div>
                <sly data-sly-test="${properties.fileReference1}"
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.fileReference1, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='img-responsive sustainability-img'}" />
                <h2 class="s-card-title">${DEvelopModel.valueMap['title']}</h2>
                <div class="desc-sectioncorporate">
                    <div class="s-card-content rooms-suites-description">${DEvelopModel.valueMap['description']
                        @context='html'}</div>
                    <div class="s-card-content rooms-suites-description">${DEvelopModel.valueMap['longdescription']
                        @context='html'}</div>
                </div>
                <div class="aircraft-desc">${DEvelopModel.valueMap['aircraftDescription'] @context='html'}</div>
                <div class="package-details">${DEvelopModel.valueMap['aircraftbaggagedetali'] @context='html'}</div>

            </div>
            <div class="footer-wrap">
                <div class="rate-details-wrap">
                    <div class="rate-subheading">Strating From</div>
                    <div class="price">
                        &#x20b9; ${properties.price}<sup>*</sup>
                    </div>
                </div>
                <sly data-sly-test="${!enablekeyfigures}"> <sly data-sly-test="${properties.learnMore}">
                <div class="btn-wrap">
                    <a href="${properties.linkUrl}.html">
                        <button class="cm-btn-secondary button-view-details">${properties.buttontext}</button>
                    </a>
                </div>
                </sly>
            </div>
        </div>
</sly>
