<sly
	data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.ihclcb.booking'}" />

<!--div classs ="container">


    <div><span id="entityname" style="color:blue">Entityname:</span></div>
    <div><span id="city" style="color:blue">City:</span>
    <div><span id="gstin" style="color:blue">GSTIN No:</span></div>


</div>-->


<div class="entity-details-show">


	<div class="ihclcb-entity-list-wrp cart-entity-details">
		<div class="entity-title">Entity Name</div>
		<span class="entityname"></span>


	</div>

	<div class="ihclcb-entity-list-wrp cart-city-details">
		<div class="entity-title">City.</div>
		<span class="cityname"></span>
	</div>



	<div class="ihclcb-entity-list-wrp cart-gstin-details">
		<div class="entity-title">GSTIN NO.</div>
		<span class="gstinname"></span>
	</div>




</div>

