<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.service-amenity'}" />
<sly data-sly-test.edit="${!properties.name && wcmmode.edit}">
<h6>Add details to the Service Amenity Component</h6>
</sly>
<div class="ho-each-items inline-block">
    <div class="ho-services-each-wrap">
        <img class="ho-service-icon" src="${properties.image}" alt="service Amenity icon">
        <div class="ho-service-name inline-block">${properties.name}</div>
    </div>
</div>