.holiday-theme {
    .is-holiday-icon {
        display: inline;
    }
    .is-taj-icon {
        display: none;
    }
    .brand-logo-wrapper.is-holiday-logo {
        display: block;
    }
    .header-warpper .is-taj-logo.brand-logo-wrapper {
        display: none
    }
    .header-warpper .brand-logo-wrapper img {
		width: 2.75rem;
        height: 2.5rem;
    }
}
