.ihcl-theme {
    .cookie-sticky-details-wrap{
        background-color: rgba(0, 43, 73,0.4) !important;
    }
    .sticky-wrap-text p>a{
        color: #35576e !important;
    }
    .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities::before,  
    .form-step-wrp .form-step.active-form-step,
    .cart-selected-rooms-header::before,
    .cart-selected-rooms-content::before,
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.selected-bed-type,
    .cart-selected-rooms-card .cart-selected-rooms-content .cart-selected-rooms-amenities::before,
    .fix-dining-detail-search::before,
    .event-expansion-con::before,
    .datepicker table tr td.active,
    .mr-rating-wrap,
    .participating-hotels-search-wrap::before,
    .more-rate-card::before,
    .selected,
    .floating-ind-wrap .price-check-btn-con,
    .filter-go-warpper .filter-go-con,
    .search-and-suggestions-wrapper .searchBar-wrap::before,
    .gb-search-con .gb-search-wrapper,
    .cm-btn-secondary,
    .rating-container .rating,
    .hotels-gallery-nav-wrapper:before,
    .rate-card-details-section .rate-card-details-border-box,
    .checkout-container,
    .hoteld-dining-border-decorator {
        background-image: linear-gradient(to top, #002b49, #0c5d90) !important;
    }
    
    [class^="icon-"] [class^="path"]:before, 
    [class^="icon-"]:before,
    [class*=" icon-"]:before,    
    .show-more, 
    .show-less,
    .cart-empty-title-text,
    .confirmation-con .special-request-section .wifi-text,
    .confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-heading,
    .room-details-colored,
    .confirmation-con .mini-footer-section a,
    .confirmation-con .confirmation-header .confirmation-text-con .text-con .confirmation-text,
    .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-number,
    .selected-rooms-details .selected-room-detail .number-of-room,
    .total-price-back,
    .total-price-back a,    
    .jiva-spa-date tr:nth-child(2) .prev,
    .jiva-spa-date tr:nth-child(2) .next,
    .events-exp-show-more,
    .cm-header-label-link,
    .header-dd-option-currency,
    .hotels-gallery-nav-wrapper .gallery-nav-option-list .gallery-nav-option.gallery-nav-option-selected,
    .cm-bas-con .bas-room-details-container .bas-about-room-container .bas-add-room,
    .input-daterange input,
    .mr-overHidingWhiteSpace:after,
    .mr-dining-rating-wrap .dining-rating-value,
    .mr-list-tic-value,
    .mr-regulation-title,
    .mr-dining-MenuDetails,
    .cm-header-offers,
    .footer-destination-expand-button,
    .additional-points-text,
    .cm-btn-primary,
    .specific-hotels-breadcrumb a,
    .room-selection-data span:first-child,
    .mr-investors-contact-details .mr-investor-contact-txt,
    .selectSubContainer .selectboxit-container .selectboxit,
    .jiva-spa-show-more,
    .filter-catagory .filter-dropDD .dropdown-toggle:after,
    .filter-catagory .filter-dropDD .multiselect-selected-text,
    .cm-view-link-txt,
    .cm-view-txt,
    .show-more-ell,
    .show-less,
    .read-more,
    .quantity-right-plus,
    .quantity-left-minus,
    .mr-showLess-dining,
    .card-show-more-button,
    .generic-show-more,
    .participating-hotels-show-more,
    .dining-hotels-show-more,
    .specific-hotels-back-con a,
    .Terms-cond-header,
    .jiva-spa-recom-details div:last-child,
    .generic-breadcrumb a,
    .generic-back-link a,
    .events-card-theme,
    .events-card-other-show-more,
    .ho-fourth-sect-fitness .gym-detail-fitness,
    .ho-third-sect-fitness .ho-timing-list .ho-timing .ho-timing-header,
    .navbar-heading .header-taj-link,
    .room-rate-points-mobile-wrap .room-rate-points-mobile span:first-child,
    .room-rate-points-mobile-wrap .room-rate-points-mobile span:nth-child(3),
    .room-details-show-more,
    .room-details-show-less,
    .rate-card-details-section .rate-card-service-details-wrap .service-details-subsection-show-more,
    input[type="radio"].mr-mealType-radio:checked+label,
    .footer-tic-expand-button,
    .rendered-as-warning .cm-warning-box-heading-text {
        color: #35576e !important;
    }
    .selected:after {
        border-top: 3px solid #35576e !important;
    }
    .datepicker .selected.day:after{
        border-top: 3px solid #002b49 !important;
    }

    .Terms-cond-header,
    .cm-header-offers,
    .room-rate-points-mobile-wrap .room-rate-points-mobile,
    .mr-list-epicure-mobile-border {
        border-bottom: 1px solid #002b49 !important;
    }

    .selectSubContainer,
    .mr-date-reserveTable-input,
    .nav-others {
        @media only screen and (max-width: 991px) {
            border-bottom: 1px solid #002b49 !important;
        }
    }
    
    .taj-loader-circle,
    .summary-room-title::after,
    .gallery-nav-radio-element .gallery-nav-radio-label span .radio-inner-fill,
    .guest-card-component .line,
    .cm-bas-con .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-start::after,
    .cm-bas-con .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-start::after,
    .cm-bas-con .bas-datepicker-container .bas-calander-container .datepicker td.active.selected.day.range-end::after,
    .cm-bas-con .bas-datepicker-container .bas-calander-container .datepicker td.selected.day.range-end::after,
    .title-decorator-border::after {
        background-color: #002b49 !important;
    }
    .tab-selected {
        border-bottom: 3px solid #002b49 !important;
    }
    .cm-bas-con .bas-room-details-container .bas-about-room-container .bas-active,
    .cm-bas-con .bas-datepicker-container .bas-right-date-wrap.active,
    .cm-bas-con .bas-datepicker-container .bas-left-date-wrap.active {
        border-top: 3px solid #002b49 !important;
    }

    .summary-charges-item-con .summary-charges-item-name input,
    .rate-card-room-rate-container .more-rates-button-selected,
    .mr-filter-checkbox+span.mr-inputCustomShape,
    .gallery-nav-radio-element input[type='radio'].gallery-nav-radio-input:checked+.gallery-nav-radio-label span,
    .cm-bas-con .bas-specialcode-container .bas-code-wrap .promo-code-wrap input,
    .cm-btn-primary,
    .select-border,
    .bic-info-selected-rooms {
        border: 1px solid #002b49 !important;
    }
    .cm-specific-showMap-con .active .local-city-card-wrap {
        border: 2px solid #002b49 !important;
    }

    .rate-card-room-rate-container .more-rates-button-selected {
        color: #ffffff !important;
    }
    .dest-bas-search .search-and-suggestions-wrapper .searchBar-wrap {
        border-left: 10px solid #002b49!important;
    }
    .cm-bas-con .header-bas-container .bas-direct-best .bas-line {
        border: solid 1.7px #002b49 !important;
    }
    .mr-sub-form .sub-form-input-element.invalid-input,
    .jiva-spa-lead-gen-con .jiva-spa-not-valid {
        border-bottom: 2px solid #002b49 !important;
    }
    input[type="radio"].mr-mealType-radio:checked+label {
        border: 1.6px solid #002b49 !important;
    }
    .is-vivanta-icon {
        display: inline;
    }
    .is-taj-icon {
        display: none;
    }
    .header-warpper .is-taj-logo.brand-logo-wrapper {
        display: none;
    }
    /*.brand-logo-wrapper.is-vivanta-logo {
        display: block;
    }*/
    .rate-card-room-rate-container .more-rates-button-selected{
        background-color: var(--primaryColorLighter) !important;
        border: solid 1px #002b49 !important;
        color: #002b49 !important;
        background-image: none !important;
        .icon-drop-down-arrow-white.inline-block {
            &:before{
                color: #002b49 !important;
            }
        }
    }
    .datepicker .datepicker-months table tr td  span.month.focused.active{
        background-image: linear-gradient(to top, #002b49, #0c5d90) !important;
        background-color: transparent !important;           
    }
    .icon-confirmation-tick .path2:before {
        color: rgb(255, 255, 255) !important;
    }
    .icon-golden-flower .path8:before {
        color: #f2f2f2 !important;
    }
    .header-taj-icon-mobile{
        display: none;
    }
}