body {
	overflow-x: hidden;
}
.taj-comp-loader{
		z-index: 9999;
    }

.ama-theme {
	background-color: #ffffff ! important;
	font-family: var(--themeContentFontRegular) ;
	color: var(--primaryTextColor) ;
	&.prevent-page-scroll {
		height: auto;
		overflow: auto;
		overflow-x: hidden;
	}
	.summary-charges-item-con .summary-charges-item-name .coupon-code-label,.summary-charges-item-con .summary-charges-item-name .coupon-code-input-con{
		display: none;
	}
	.eNone{
		pointer-events: none;
	}
	.check-avblty-title {
		width: 28%;
	}

	.carousel-item {
		background-color: #ffffff;
	}

	.background-grey {
		background-color: #f6f6f6;
		.carousel-item {
			background-color: transparent;
		}
	}

	.mr-listView-layout {
		background-color: #f6f6f6;
	}

	&.cm-page-container {
		background-color: #ffffff;
		padding-top: 80px;
		.row {
			margin: 0 -15px;
		}

		.content-wrapper {
			margin: 30px auto 10px;
			.cm-content-blocks{
				margin-top: 0px;
			}
		}

		[class *= "col-"] {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	h1 , h2 , h3 , h4 , h5 , h6 {
		font-family: var(--themeContentFontBold) ;
		color: var(--primaryTextColor) ;
	}

	.ama-rooms {
		margin-bottom: 25px;
		padding-bottom: 20px;
	}

	.rate-cards-container {
		.room-rate-wrap {
			font-family: var(--themeContentFontRegular) ;
			.rate-card-actual-rate {
				color: var(--primaryColor) ;
			}
		}
	}

	p {
		font-family: var(--themeContentFontRegular) ;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
	}

	.rate-card-room-rate-container {
		.more-rates-button-selected {
			color: #ffffff;
			.icon-drop-down-arrow-white.inline-block:before {
				color: #ffffff ! important;
			}
		}
	}

	.rate-card-main-section {
		background: #fcfcfc;
		&.select-border {
			border: 1px transparent solid;
		}
	}

	.more-rate-card {
		background-color: #fcfcfc;
		&:before {
			display: none;
		}

		.more-rate-amenities {
			.more-rate-title {
				font-family: var(--themeHeadingFontSemiBold) ;
			}
		}

		.description-cancel-wrp {
			.bold-title {
				font-family: var(--themeHeadingFontSemiBold) ;
			}
		}

		.rate-info-wrp {
			.room-rate-wrap {
				.rate-card-actual-rate {
					color: var(--primaryColor) ;
				}
			}

			.present-rate {
				color: var(--primaryColor)  ! important;
			}

			.rate-info-label , .last-few-rooms-text {
				font-family: var(--themeContentFontRegular)  ! important;
			}
		}

		.rate-plan-description-txt , .rate-description-content-second {
			font-family: var(--themeContentFontRegular) ;
			line-height: 1.5;
			font-size: 14px;
		}
	}

	.room-feature-wrapper p {
		font-family: var(--themeHeadingFontSemiBold) ;
	}

	.more-rate-card ::before {
		background-image: none;
	}

	.footer-component {
		font-family: var(--themeContentFontBold) ;
		.footer-disclaimer {
			font-family: var(--themeContentFontRegular) ;
		}
		.footer-destination-heading {
		    font-family: var(--themeContentFontBold);
		}
	}

	.mr-check-availability-container {
		display: none;
	}

	.destination-page-nav-menu {
		padding-top: 20px;
		padding-bottom: 35px;
	}

	.destination-nav-Bar-wrapper {
		box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.08);
		width: 50%;
		&[class *= "col-"] {
			padding-left: 0px;
			padding-right: 0px;
		}

		.tab-child-container {
			font-family: var(--themeContentFontRegular) ;
			padding: 0px 20px 0px 20px;
			width: fit-content;
		}
	}

	.cm-btn-secondary {
		font-family: var(--themeHeadingFontBold) ;
		letter-spacing: 1px;
		font-size: 12px;
		text-transform: uppercase;
		outline: none ! important;
		height: 35px ! important;
		width: fit-content;
	}

	.cm-btn-secondary:focus , .book-stay-btn:focus {
		outline: none ! important;
	}

	.carousel-indicators {
		bottom: -30px;
	}

	.banner-carousel .carousel-indicators {
		bottom: 35px;
	}

	.rate-card-details-section {
		font-family: Montserrat-Regular;
	}

	.carousel-indicators li {
		width: 8px ! important;
		height: 8px ! important;
		border-radius: 50%;
		margin-right: 8px ! important;
		margin-left: 8px ! important;
		background-color: #afafaf;
	}

	.banner-carousel .carousel-indicators .active {
		background-color: #ffffff
	}

	.carousel-indicators .active {
		background-color: var(--primaryColor) ;
	}

	.carousel-control-next-icon , .carousel-control-prev-icon {
		display: inline-block;
		width: 30px;
		height: 60px;
	}

	.carousel-control-next , .carousel-control-prev {
		width: inherit;
	}

	.carousel-control-prev {
		left: -5%;
		opacity: 1;
	}

	.carousel-control-next {
		right: -5%;
		opacity: 1;
	}

	.banner-carousel .carousel-control-prev {
		left: 2%;
	}

	.banner-carousel .carousel-control-next {
		right: 2%;
	}

	.carousel-control-next-icon {
		background-image: url(/content/dam/tajhotels/icons/ama/arrow-left.png);
		transform: rotate(180deg);
	}

	.carousel-control-prev-icon {
		transform: rotate(0deg);
		background-image: url(/content/dam/tajhotels/icons/ama/arrow-left.png);
	}

	#book-a-stay {
		.cm-bas-content-con {
			.rotate-arrow .select-input-arrow::after {
				transform: rotate(180deg);
			}

			.header-bas-sub-section {
				font-family: var(--themeContentFontBold) !important;
				font-size: 1.2rem;
				font-weight: inherit;
			}

			.header-bas-sub-section.check-title {
				padding-left: 2rem;
			}

			.bas-room-details-container {
				.bas-adult-no-container , .bas-child-no-container {
					font-family:  var(--themeContentFontRegular)! important;
				}
			}
			.bas-date-container-main-wrap{
				padding: 15px 0;
				.book-stay-popup-radio-btn {
				    margin: 1.25rem 2rem;
				    @media only screen and (max-width: 767px) {
				        margin: 1.25rem 1rem;    
				    }
				}
			}
			.search-bar-wrapper-container {
				cursor: pointer;
			}

			.bas-datepicker-container {
				.date-title-style {
					font-family:  var(--themeContentFontRegular)! important;
				}

				.checkbox-wrapper {
					margin-top: 0.5rem;
					display: block;
					position: relative;
					padding-left: 45px;
					margin-bottom: 12px;
					cursor: pointer;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					input {
						position: absolute;
						opacity: 0;
						cursor: pointer;
						height: 0;
						width: 0;
					}

					input:checked ~ .checkmark:after {
						display: block;
					}

					.checkmark:after {
						left: 0px;
						top: 0;
						bottom: 0;
						right: 0px;
						width: 14px;
						height: 14px;
						margin: auto;
						background-color: var(--primaryColor) ;
					}
				}

				.checkmark {
					position: absolute;
					top: 5px;
					left: 0;
					bottom: 0;
					margin: auto;
					height: 20px;
					width: 20px;
					border: 2px solid var(--primaryColor) ;
				}

				.checkmark:after {
					content: "";
					position: absolute;
					display: none;
				}

				.input-box.date-explore {
					font-family: var(--themeContentFontRegular) ! important;
					font-size: 20px;
					color: var(--primaryColor);
				}

			}

			.searchBar-wrap {
				-webkit-box-shadow: 3px 15px 10px -9px rgba(0, 0, 0, 0.25);
				-moz-box-shadow: 3px 15px 10px -9px rgba(0, 0, 0, 0.25);
				box-shadow: 3px 15px 10px -9px rgba(0, 0, 0, 0.25);
				z-index: 3;
				.dropdown-input {
					height: 4rem;
					padding: 0rem 2rem;
					font-size: 14px;
					position: relative;
					color: #000000;
					letter-spacing: 0.12rem;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				.select-input-arrow::after {
					float: right;
					font-family: 'icomoon' ! important;
					content: "\e928";
					color: var(--primaryColor) ;
					transition: all ease 0.3s;
				}
			}

			.results-container {
				padding: 1rem 0rem 1rem 4rem;
				background-color: #f9f9f9;
				z-index: 5;
				-webkit-box-shadow: 3px 15px 10px -9px rgba(0, 0, 0, 0.25);
				-moz-box-shadow: 3px 15px 10px -9px rgba(0, 0, 0, 0.25);
				box-shadow: 3px 15px 10px -9px rgba(0, 0, 0, 0.25);
				li.dest-item {
					padding: 0.5rem 0 0.25rem 0;
					font-size: 1.25rem;
					font-weight: bold;
					border-top: 2px solid rgba(160, 160, 160, 0.7);
					width: 90%;
					&:first-child {
						border-top: 0;
					}
				}

				li.hotel-item {
					padding: 0.25rem 0 0.25rem 0;
					font-size: 1.25rem;
					width: 50%;
					display: inline-block;
					opacity: 0.8;
				}

				.select-result-item {
					color: var(--primaryColor)  ! important;
					cursor: pointer;
				}
			}

			.bas-have-promo-code {
				font-family: var(--themeContentFontRegular)  ! important;
				.trigger-promo-code-input {
					font-family: var(--themeHeadingFontSemiBold)  ! important;
				}
			}
		}
	}

	.bas-about-room-container {
		display: none;
	}

	.cm-bas-con .bas-datepicker-container {
		margin-top: 0px;
	}
	.form-control{
		font-size: 18px;
	}

	.bas-no-of-adults .quantity-right-plus, .bas-no-of-adults .quantity-left-minus,.bas-no-of-child .quantity-left-minus,.bas-no-of-child .quantity-right-plus{
		color: var(--primaryColor);
		width: 25px;
		height: 25px;
		line-height: 25px;
		border-radius: 50%;
		text-align: center;
		font-size: 12px;
	}
	.cm-bas-con .bas-datepicker-container .bas-left-date-wrap.active,.bas-datepicker-container .bas-right-date-wrap.active {
		background: #f2f2f2 !important;
	}
	.cm-bas-con .bas-datepicker-container .bas-right-date-wrap,.cm-bas-con .bas-datepicker-container .bas-left-date-wrap{
		border-top: solid 0.9px #e0dfdf;
	}
	.radio-button {
		display: flex;
		/*padding-left: 30px;
		padding-right: 30px;
		padding-top: 15px;*/
		.radio-container {
			display: block;
			position: relative;
			padding-left: 35px;
			padding-right: 25px;
			padding-top: 2px;
			cursor: pointer;
			font-size: 18px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.radio-container input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}

		.checkmark {
			position: absolute;
			top: 5px;
			left: 0;
			height: 20px;
			width: 20px;
			border-radius: 50%;
			border: 1px solid var(--primaryColor);
		}

		.ama-theme:not(.home-page-layout) .radio-container:hover input ~ .checkmark {
			background-color: #fff;
		}

		.ama-theme:not(.home-page-layout) .radio-container input:checked ~ .checkmark {
			background-color: #fff ;
		}

		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}

		.radio-container .checkmark:after {
			display: block;
		}

		.radio-container .checkmark:after {
			top: 5px;
			left: 5px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
		}
		.radio-container input:checked ~ .checkmark:after {
			background-color:  var(--primaryColor);
		}
	}

	header {
		-webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		position: fixed;
		top: 0;
		z-index: 99;
	}

	.specific-hotels-breadcrumb {
		font-family: var(--themeContentFontRegular) ;
		font-size: 12px;
		text-transform: capitalize;
		letter-spacing: 1px;
	}

	a {
		text-decoration: none ! important;
		color: var(--primaryColor) ;
	}

	.rate-card-room-rate-container .more-rates-button {
		width: inherit;
	}

	.rate-card-room-rate-container .more-rates-button-selected {
		color: #fff;
		i.icon-drop-down-arrow-white.inline-block.cm-rotate-icon-180::before {
			color: #fff ! important;
		}
	}

	.rate-card-wrap .rate-card-room-description {
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: normal;
		font-family: var(--themeContentFontRegular);
	}

	.cmp-breadcrumb {
		padding-top: 40px;
	}

	&.specific-hotels-page {
		.experience-warp {
			background-color: #ffffff;
			min-height: auto;
		}

		.content-wrapper {
			margin-bottom: 30px;
		}
	}

	.rate-class-disclaimer {
		display: none;
	}

	.check-avblty-wrap input.check-avblty-input , .check-avblty-guests-input {
		font-size: 14px;
		line-height: 28px;
	}

	.selectSubContainer .selectboxit-text {
		font-size: 14px ! important;
		line-height: 28px;
		font-family: Montserrat-Regular;
	}

	.specific-hotels-breadcrumb span {
		margin: 0;
	}

	.specific-hotels-breadcrumb a {
		font-weight: inherit;
	}

	.tab-child-container {
		color: var(--primaryTextColor) ;
	}

	.tab-child-container:hover {
		color: var(--primaryColor) ;
	}

	.selected {
		background-image: linear-gradient(to bottom, var(--primaryColor), var(--primaryColor) 49%, var(--primaryColor))  !important ;
	}

	.selected:after {
		border-top: solid 5px var(--primaryColor) ;
	}

	.footer-padding-for-cart-info {
		padding: 0;
	}

	.hotel-banner {
		position: relative;
	}

	.specific-hotels-breadcrumb span.breadcrumb-item:last-of-type a {
		pointer-events: none;
		color: var(--primaryTextColor) ;
	}

	.checkout-anchor {
		color: #fff;
	}

	.booking-ind-inner-wrap , .confirmation-con .confirmation-header .confirmation-text-con .text-con .confirmation-text div:first-child {
		font-family: var(--themeHeadingFontSemiBold) ;
		.message-banner {
			display: none;
		}

		.message-container .message-text {
			max-width: initial;
		}

		.fc-add-package-con {
			width: initial;
			height: auto;
		}
		
		@media only screen and (max-width:991px) {
            .checkout-image .checkout-num {
                height: 1.6rem;
                width: 1.6rem;
                font-size: 14px;
                top: 18px;
            }
		}

		.ckeckout-details {
            @media only screen and (max-width:991px) {
                right: 0.8rem;             
            }
            .ckeckout-details-amount span, .ckeckout-details-text {
                font-family: var(--themeHeadingFontSemiBold) ;
                font-size: 1rem;
                @media only screen and (max-width:991px) {
                    font-size: 12px;			 
                }
            }
		}

		.confirmation-header .confirmation-text-con .text-con .confirmation-text div:first-child {
			font-family: var(--themeHeadingFontSemiBold) ;
		}
	}

	.booking-ind-outer-wrap {
		box-shadow: none;
    }

    .ama-header .book-stay-btn{
		font-family: var(--themeHeadingFontBold);
    }
    .summary-charges-heading,.description-cancel-wrp .bold-title,.total-price-deal-section .best-deal-desc,.confirmation-room-details .room-details,.confirmation-room-details .room-details .room-details-colored,.confirmation-room-details .heading,.confirmation-con .confirmation-heading,.itinerary-number,.confirmation-con .confirmation-header .identification-container .iden-heading,.ho-mail-to-txt,.ho-cm-link-txt,.confirmation-con .confirmation-details-con .heading{
		font-family: var(--themeHeadingFontSemiBold);
    }
    .description-cancel-wrp,.confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-description,.confirmation-con .confirmation-header .identification-container .iden-content,.confirmation-con .confirmation-details-con .guest-details-con .content{
		font-family: var(--themeContentFontRegular);
    }
    .ind-tax-Details,.room-info,.ind-nightly-rate,.confirmation-con .payment-details-section .summary-section .position .summary-charges-item-value span,.summary-charges-item-con .summary-charges-item-value span,.summary-charges-item-con .summary-charges-item-name span,.confirmation-con .payment-details-section .summary-section .summary-charges-item-con .summary-charges-item-name{
        font-family: var(--themeHeadingFontSemiBold);
    }
    .confirmation-con .confirmation-details-con .heading{
        font-size: 24px;
    }
    .ho-mail-to-txt{
        font-size: 12px;
        text-decoration: none;
    }
    .confirmation-con .confirmation-details-con .content .conf-loc-text{
        width: 90%;
        line-height: 1.5;
        max-width: inherit;
        text-decoration: none;
    }

    .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-title,.confirmation-con .confirmation-details-con .chk-in-out-con .ckn-out-con div:first-child,.confirmation-con .confirmation-details-con .chk-in-out-con .ckn-in-con div:first-child,.confirmation-con .confirmation-details-con .chk-in-out-con .ckn-in-con div:last-child,.confirmation-con .confirmation-details-con .chk-in-out-con .ckn-out-con div:last-child{
        font-family: var(--themeHeadingFontSemiBold);
        font-size: 16px;
    }
    .confirmation-selected-rooms-card .cart-selected-rooms-content::before,.special-request-section,.confirmation-selected-rooms-card .cart-selected-rooms-header::before,.confirmation-room-price .confirmation-banner .best-deal-banner{
        display: none;
    }
    .confirmation-room-price .confirmation-price-con span:last-child{
        vertical-align: bottom;

    }
    .confirmation-con .payment-details-section .summary-section .disclaimer{
        font-family: var(--themeContentFontRegular);
        font-style: inherit;
    }
    .icon-envelope{
        position: relative;
        top: 2px;
    }
    #hotelPhoneNo{
        color:var(--primaryColor);
        font-size: 12px;
    }
    /* .rate-tab-container,.each-selling-point-container,.rate-card-details-container .rate-card-view-detials-container{
        display:none;
     }*/
    .cm-nav-tab-con{
        display: flex;
        width: 60%;
        margin: 0 auto;
        box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.08);
        margin-bottom: 25px;
    }
    .more-content-wrap{
        z-index: 999;
    }
    .check-avblty-container {
        z-index: 1;
    }
    .ama-hotel-policies .container{
        padding:0 15px !important;
    }
    .cm-bas-con .bas-datepicker-container .bas-calander-container .datepicker table tr td{
        height: unset;
        width: unset;
    }

	.ama-header .book-stay-btn {
		font-family: var(--themeHeadingFontBold) ;
	}

	.inclusions-heading,.summary-charges-heading , .description-cancel-wrp .bold-title , .total-price-deal-section .best-deal-desc , .confirmation-room-details .room-details , .confirmation-room-details .room-details .room-details-colored , .confirmation-room-details .heading , .confirmation-con .confirmation-heading , .itinerary-number , .confirmation-con .confirmation-header .identification-container .iden-heading , .ho-mail-to-txt , .ho-cm-link-txt , .confirmation-con .confirmation-details-con .heading {
		font-family: var(--themeHeadingFontSemiBold) ;
	}

	.description-cancel-wrp , .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-description , .confirmation-con .confirmation-header .identification-container .iden-content , .confirmation-con .confirmation-details-con .guest-details-con .content {
		font-family: var(--themeContentFontRegular) ;
	}

	.ind-tax-Details , .room-info , .ind-nightly-rate , .confirmation-con .payment-details-section .summary-section .position .summary-charges-item-value span , .summary-charges-item-con .summary-charges-item-value span , .summary-charges-item-con .summary-charges-item-name span , .confirmation-con .payment-details-section .summary-section .summary-charges-item-con .summary-charges-item-name {
		font-family: var(--themeHeadingFontSemiBold) ;
	}

	.confirmation-con .confirmation-details-con .heading {
		font-size: 24px;
	}

	.ho-mail-to-txt {
		font-size: 12px;
		text-decoration: none;
	}

	.confirmation-con .confirmation-details-con .content .conf-loc-text {
		width: 90%;
		line-height: 1.5;
		max-width: inherit;
		text-decoration: none;
	}

	.confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-title , .confirmation-con .confirmation-details-con .chk-in-out-con .ckn-out-con div:first-child , .confirmation-con .confirmation-details-con .chk-in-out-con .ckn-in-con div:first-child , .confirmation-con .confirmation-details-con .chk-in-out-con .ckn-in-con div:last-child , .confirmation-con .confirmation-details-con .chk-in-out-con .ckn-out-con div:last-child {
		font-family: var(--themeHeadingFontSemiBold) ;
		font-size: 16px;
	}

	.confirmation-selected-rooms-card .cart-selected-rooms-content::before , .special-request-section , .confirmation-selected-rooms-card .cart-selected-rooms-header::before , .confirmation-room-price .confirmation-banner .best-deal-banner {
		display: none;
	}

	.confirmation-room-price .confirmation-price-con span:last-child {
		vertical-align: bottom;
	}

	.hotelCard-container,.validity-container,.offer,.Terms-cond,.confirmation-con .payment-details-section .summary-section .disclaimer {
		font-family: var(--themeContentFontRegular) ;
		font-style: inherit;
	}

	.icon-envelope {
		position: relative;
		top: 2px;
	}

	#hotelPhoneNo {
		color: var(--primaryColor) ;
		font-size: 12px;
	}

	.cm-nav-tab-con {
		display: flex;
		width: 60%;
		margin: 0 auto;
		box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.08);
		margin-bottom: 25px;
	}

	.more-content-wrap {
		z-index: 999;
	}


	.ama-hotel-policies .container {
		padding: 0 15px ! important;
	}

	.room-rates-wrap.static-rates{
		display: none;
	}
	.offers-wrapper{
		margin-left: 150px;
	}
	.participating-hotels-show-more{
		    font-family: var(--themeHeadingFontSemiBold);
			text-decoration: none;
			letter-spacing: 1px;
			font-size: 12px;
	}
	.view-btn-con .view-button{
		width: 100%;
	}
	.brand-logos-section .brand-logos-carousal-band>a:nth-child(3) img{
		height: 10px;
	}
	.brand-logos-section .brand-logos-carousal-band>a:nth-child(4) img{
		height: 14px;
	}
	.brand-logos-section .brand-logos-carousal-band>a:nth-child(5) img{
		height: 12px;
	}
	.selectSubContainer .selectboxit-container .selectboxit-options{
		box-shadow: none;
	}
	.selectSubContainer .selectboxit-list a{
		border-bottom:none;
		color:#333;
	}
	.selectSubContainer .selectboxit-container *{
		font-family: var(--themeContentFontRegular);
	}
	.selectSubContainer .selectboxit-options a{
		font-size: 16px !important;
	}
	.check-in-details, .check-out-details{
		font-size: 16px;
	}
}

.ama-theme .message-text {
	padding: 0 10px;
	margin-top: 10px;
}

.ama-theme .message-container {
	height: 100%;
	width: 120px;
	background: #fff;
	right: 12.8rem;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.ama-theme .room-selected-options-container {
	width: 0px;
	white-space: nowrap;
}

.ama-theme.home-page-layout .pageStrip {
	position: relative;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background: url(/content/dam/ama/amaStrip.svg) no-repeat top center / 100%;
		left: 0;
		top: 50px;
	}
}
.ama-theme .footer-component .brand-icon.footer-brand-seleqtions {
		height: 1.6rem !important;

}

.ama-theme {
	.room-selection-data.cm-content-blocks, .each-selling-point-container, .view-photos-container, .rate-card-view-detials-container, .rate-class-disclaimer{
		display: none ! important;
	}
	.room-feature-wrapper {
		display: block ! important;
    }
}

.ama-theme .rate-tab-container.cm-content-blocks {
    margin: 30px 0px 30px 0px !important;
} 

.mobile {
	display: none;
}
.ama-theme .confirmation-con .confirmation-details-con .chk-in-out-con .ckn-in-con div:first-child ,.ama-theme .confirmation-con .confirmation-details-con .chk-in-out-con .ckn-out-con div:first-child{
	font-size:12px;
}
@media only screen and (max-width: 767px) {
	.mobile {
		display: block;
	}
	.ama-theme .offers-wrapper{
		margin-left: 0px;
	}
	.ama-theme .container {
		padding-left: 15px ! important;
		padding-right: 15px ! important;
		margin-left: 0;
	}

	.ama-theme {
		&.cm-page-container {
			padding-top: 55px;
			overflow-x: hidden;
		}

		.container,.stay-container {
			padding-left: 15px ! important;
			padding-right: 15px ! important;
		}
		.stay-container div:first-child{
			height: fit-content;
		}
		.cm-btn-secondary {
			height: 35px ! important;
		}

		.cm-nav-tab-con {
			padding: 0;
			width: auto;
			margin-left: 15px;
			margin-right: 15px;
		}

		.sitemap-ama-acc .content ul {
			width: 100%;
			padding-left: 0;
			li {
				width: 100%;
			}
		}

		.sitemap-ama-acc .content ul:first-of-type:after {
			display: none;
		}
        .rate-cards-container .rate-card-wrap .soldOut {
            padding-top: 0 !important;
        }
        .rate-cards-container .rate-card-wrap .soldOut:before {
            top: 50%;
            transform: translateY(-50%);
            left: initial;
            right: 0;
		}
		.radio-button .radio-container .checkmark:after{
			top:4px;
			left:4px;
		}
		.rate-cards-container .rate-card-wrap .soldOut:after{
			width: 100%;
			left:15px;
		}
		.rate-card-room-details .rate-card-room-heading{
			font-size: 24px;
		}
		.cm-bas-con .bas-datepicker-container .bas-left-date-wrap.active,.bas-datepicker-container .bas-right-date-wrap.active {
			border-top: 0.7px solid var(--primaryColorDark) !important;
		}
		.ho-contact-number{
			display:block;
		}
			
		.ho-contact-options-con {   
			display: block !important;
		}
			
		.ho-contact-options-con .ho-mail-to {    
			margin: 15px 0;
			margin-left: 0;
			display: block;
		}
		.ho-contact-options-con .ho-mail-to:after{
			display:none;
		}
		.ho-mail-to-txt {
			margin-left: 5px;
		}
		.room-details-wrap-mobile {
			padding-top: 20px;
			width: 100%;
		}
		
		.bic-rooms {
			font-size: 12px;
		}
		.ckeckout-details .ckeckout-details-amount span {
			font-size: 12px;
		}
		.checkout-image img {
			width: 40px;
			@media only screen and (max-width: 767px) {
                width: 36px;
			}
		}
		.participating-hotels{
			padding-top: 0px;
		}		
		
	}

	.ama-theme #book-a-stay .cm-bas-content-con .searchBar-wrap .dropdown-input {
		padding: 0rem 1rem;
	}

	.ama-theme #book-a-stay .cm-bas-content-con .bas-datepicker-container .date-title-style {
		font-size: 12px;
		padding-left: 0px;
		padding-right: 4px;
	}

	.ama-theme #book-a-stay .cm-bas-content-con .bas-datepicker-container .input-box.date-explore {
		padding-right: 0rem;
		text-align: left;
		padding-left: 1rem;
	}

	.ama-theme #book-a-stay .cm-bas-content-con .bas-datepicker-container .checkbox-wrapper {
		margin-left: 1rem;
		margin-right: 1rem;
		font-size: 16px;
		padding-left: 35px;
	}

	.ama-theme #book-a-stay .cm-bas-content-con .results-container {
		padding: 1rem 0rem 0rem 1rem;
	}

	.ama-theme #book-a-stay .cm-bas-content-con .results-container li.hotel-item {
		width: 100%;
	}

	.ama-theme .cm-bas-con .bas-date-container-main-wrap {
		top: 130px;
	}

	.ama-theme {
		.radio-button {
			padding-left: 15px;
			padding-right: 15px;
			.radio-container {
				padding-left: 25px;
				padding-right: 10px;
				font-size: 14px;
			}

			.checkmark {
				height: 18px;
				width: 18px;
			}
		}
		.brand-logos-section .brand-logos-carousal-band>a:nth-child(1) img{
			height: 16px;
			margin-top: -4px;
		}
		.brand-logos-section .brand-logos-carousal-band>a:nth-child(2) img{
			height: 1.2rem !important;
			margin-top: 3px;
		}
		.brand-logos-section .brand-logos-carousal-band>a:nth-child(3) img{
			height: 7px;
		}
		.brand-logos-section .brand-logos-carousal-band>a:nth-child(4) img{
			height: 10px;
		}
		.brand-logos-section .brand-logos-carousal-band>a:nth-child(5) img{
			height: 10px;
		}
		.brand-logos-section .brand-logos-carousal-band>a:nth-child(6) img{
			height: 13px;
    		margin-top: -1px;
		}
		.brand-logos-section .brand-logos-carousal-band>a img{
			margin-right: 0.4rem;
		}
	}
}

@media only screen and (max-width: 374px) {
    .ama-theme #book-a-stay .cm-bas-content-con .bas-datepicker-container .input-box.date-explore{
        padding-left: 0rem;
    }
}

.ama-theme .rate-card-image-container {
   max-height: 360px;
}

@media only screen and (max-width: 991px) and (min-width: 320px){
	.ama-theme{
		.room-selected-options-container{
			display: flex;
			flex-direction: column;
		}
		.room-details-wrap{
			bottom: -300px;
		}
	}
}