.taj-khazana-theme {
    .is-holiday-icon {
        display: none;
    }
    .is-taj-icon {
        display: none;
    }
    .header-warpper .is-holiday-logo.brand-logo-wrapper {
        display: none;
    }
    .brand-logo-wrapper.is-holiday-logo {
        display: none;
    }
    .is-taj-air-icon {
		display:inline;
    }
     .brand-logo-wrapper.is-taj-air-logo {
        display: block;
    }
    .line-separator-con{
		dispaly : none;
    }
    .my-2 .navbar-nav {
		display : none;
    }
    .nav-item .book-a-stay-con{
		display : none;
    }
    .header-warpper .brand-logo-wrapper.is-taj-logo{
display : none;
    }
     .header-warpper .brand-logo-wrapper.is-khazana-logo {
display : block!important;
    }
}
