.taj-air-theme {
    .is-holiday-icon {
        display: none;
    }
    .is-taj-logo {
        display: none;
    }
    .header-warpper .is-holiday-logo.brand-logo-wrapper {
        display: none;
    }
    .brand-logo-wrapper.is-holiday-logo {
        display: none;
    }
    .is-air-logo {
                display:inline;
    }
     .brand-logo-wrapper.is-air-logo {
        display: block;
    }
    .header-warpper .is-taj-logo.brand-logo-wrapper {
        display: none
    }
    .line-separator-con{
                dispaly : none;
    }
    .my-2 .navbar-nav {
                display : none;
    }
}