<template data-sly-template.ratePlan>
    <div style="display: none">
        <div class="rate-card-more-rates-section" data-injection-container="rate-plan-cards-container">
            <div class="more-rate-card-container" data-injection-container="rate-plan-card">
                <div class="more-rate-card">
                    <div class="more-rate-amenities">
                        <div class="more-rate-title" data-injector-key="rate-plan-title"></div>
                        <div class="more-rate-available-wrp" data-injection-container="rate-plan-amenities">
                        </div>
                    </div>
                    <div class="more-rate-info-wrp">
                        <div class="description-cancel-wrp">
                            <div class="rate-description">
                                <span class="bold-title">Rate description: </span>
                                <span class="rate-description-content-first">
                                <span class="rate-plan-description-txt" data-injector-key="rate-description"></span>
                            </span>
                            </div>
                            <div class="cancel-policy">
                                <span class="bold-title">Cancellation policy: </span>
                                <span class="rate-description-content-second"
                                      data-injector-key="cancellation-policy"> </span>
                            </div>
                        </div>
                        <div class="rate-info-wrp">
                            <div>
                                <div class="rate-striked rate-card-striked-rate">
                                    <span class="rc-selected-currency" data-injector-key="currency-symbol" ></span>
                                    <span class="rc-bid-amount" data-injector-key="price"></span>
                                </div>
                                <div class="present-rate">
                                    <span style="font-size:1.4rem;" class="d-none" id="redeem-voucher-room">Redeem Voucher</span>
                                    <span class="rc-selected-currency" data-injector-key="currency-symbol"></span>
                                    <span class="rc-total-amount" data-injector-key="discounted-price"></span>
                                    <span class="rate-asterik">*</span>
                                    <!-- TIC FLOW STARTS-->

                                    <div>
                                        <span class="tic-points hidden"></span>
                                        <span class="tic hidden">TIC Points </span>
                                    </div>

                                    <span class="tap-points hidden"></span>
                                    <span class="tap hidden" >&nbsp;TAP</span>
                                    <span class="tappme-points hidden"></span>
                                    <span class="tappme hidden" >&nbsp;TAPPMe</span>
                                    <!-- TIC FLOW ENDS -->
                                </div>
                                <span class="rate-tax-info" data-injector-key="tax" style="display:none"></span>
                                <span class="rate-base-price" data-injector-key="base-price" style="display:none"></span>
                                <span class="rate-taxes-info" data-injector-key="taxes" style="display:none"></span>
                                <span class="nightly-rates-info" data-injector-key="nightly-rates" style="display:none"></span>
                                <span class="discounted-nightly-rates-info" data-injector-key="discounted-nightly-rates" style="display:none"></span>
                                <span class="room-avg-taxes-info" data-injector-key="avg-taxes" style="display:none"></span>
                                <span class="guarantee-code-info" data-injector-key="guarantee-code" style="display:none"></span>
                                <span class="credit-card-required" data-injector-key="credit-card-required" style="display:none"></span>
                                <span class="guarantee-amount-info" data-injector-key="guarantee-amount" style="display:none"></span>
                                <span class="guarantee-percentage-info" data-injector-key="guarantee-percentage" style="display:none"></span>
                                <span class="guarantee-description-info" data-injector-key="guarantee-description" style="display:none"></span>
                                <span class="guarantee-amount-tax-inclusive-info" data-injector-key="guarantee-amount-tax-inclusive" style="display:none"></span>
                            </div>
                            <div class="rate-info-label">Starting Rate/Night</div>
                            <div class="last-few-rooms hide-on-mobile hidden" data-injector-key="availability-expression">
                                <img class="last-few-rooms-icon"
                                     src="/content/dam/tajhotels/icons/style-icons/last-few-rooms.svg" alt="icon">
                                <div class="last-few-room-text">Last few rooms available</div>
                            </div>
                            <button class="cm-btn-secondary more-rates-select-btn">
                                SELECT
                                <span class="hide-on-mobile">ROOM </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>