<template data-sly-template.roomDetails="${@roomProperties}">
<div class="rate-card-details-section clearfix">
    <div class="rate-card-details-border-box"></div>
    <div class="rate-cards-detials">
        <div class="rate-card-room-details-wrap">
            <div class="heading">ROOM DETAILS</div>
            <div class="content">${roomProperties.description @context='html'}</div>
            <div data-sly-test="${roomProperties.area}">
                <div class="heading">SIZE</div>
                <div class="content">${roomProperties.area}</div>
            </div>
            <div data-sly-test="${roomProperties.signatureFeatureOfRoom }">
                <div class="heading">SIGNATURE FEATURE</div>
                <div class="content">${roomProperties.signatureFeatureOfRoom}</div>
            </div>
            
            <div data-sly-test="${roomProperties.getMaxOccupancyDetails }">
                <div class="heading">Occupancy Details</div>
                <div class="content">${roomProperties.getMaxOccupancyDetails}</div>
            </div>
            
        </div>
        <div class="rate-card-service-details-wrap">
            <div class="clearfix service-details-subsection-container">
                <div class="service-details-subsection" data-sly-test="${roomProperties.BedAndBathAemenities}">
                    <div>
                        <div class="heading" >BED & BATH</div>
                        <ul
                            data-sly-list.bedAndBathAemenities="${roomProperties.BedAndBathAemenities}">
                            <sly
                                data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=bedAndBathAemenities}" />
                            <li>${serviceAmenitiesProperties.name}</li>
                        </ul>
                    </div>
                </div>
                <div class="service-details-subsection" data-sly-test="${roomProperties.otherConveniences}">
                    <div>
                        <div class="heading">OTHER CONVENIENCES</div>
                        <ul
                            data-sly-list.otherConveniences="${roomProperties.OtherConveniences}">
                            <sly
                                data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=otherConveniences}" />
                            <li>${serviceAmenitiesProperties.name}</li>
                        </ul>
                    </div>
                </div>
                <div class="service-details-subsection" data-sly-test="${roomProperties.entertainment}">
                    <div >
                        <div class="heading">Entertainment</div>
                        <div class="details">
                            <sly
                                data-sly-list.entertainment="${roomProperties.Entertainment}">
                            <sly
                                data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=entertainment}" />
                            <ul>
                                <li>- ${serviceAmenitiesProperties.name}</li>
                            </ul>
                            </sly>
                        </div>
                    </div>
                </div>
                <div class="service-details-subsection" data-sly-test="${roomProperties.wellnessAmenity}">
                    <div>
                        <div class="heading">WELNESS AMENITIES</div>
                        <div class="details">
                            <sly
                                data-sly-list.wellnessAmenity="${roomProperties.WellnessAmenities}">
                            <sly
                                data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=wellnessAmenity}" />
                            <ul>
                                <li>- ${serviceAmenitiesProperties.name}</li>
                            </ul>
                            </sly>
                        </div>
                    </div>
                </div>
                <div class="service-details-subsection" data-sly-test="${roomProperties.suiteFeatures}">
                    <div>
                        <div class="heading">SUITE FEATURES</div>
                        <div class="details">
                            <sly
                                data-sly-list.suiteFeatures="${roomProperties.SuiteFeatures}">
                            <sly
                                data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=suiteFeatures}" />
                            <ul>
                                <li>- ${serviceAmenitiesProperties.name}</li>
                            </ul>
                            </sly>
                        </div>
                    </div>
                </div>
                <div class="service-details-subsection" data-sly-test="${roomProperties.hotelFacilities}">
                    <div>
                        <div class="heading">HOTEL FACILITIES</div>
                        <div class="details">
                            <sly
                                data-sly-list.hotelFacilities="${roomProperties.HotelFacilities}">
                            <sly
                                data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=hotelFacilities}" />
                            <ul>
                                <li>- ${serviceAmenitiesProperties.name}</li>
                            </ul>
                            </sly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-details-subsection-show-more">Show More</div>
        </div>
    </div>
</div>
</template>
