<template data-sly-template.roomDescription="${@roomProperties}">
    <div class="rate-card-main-section clearfix" itemscope itemtype="http://schema.org/HotelRoom">
        <div class="room-rate-points-mobile-wrap">
            <div data-sly-test="${roomProperties.ticPoints!='' || roomProperties.epicurePoints!=''}" class="room-rate-points-mobile">
                <sly data-sly-test="${roomProperties.ticPoints!=''}"> <span>${roomProperties.ticPoints}</span>
                    <span>TIC Points</span> </sly>
                    <sly data-sly-test="${roomProperties.epicurePoints!=''}"> <span>${roomProperties.epicurePoints}</span>
                    <span>Epicure Points</span> </sly>
            </div>
        </div>
        <div class="rate-card-image-container">
            <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" itemscope
                 itemtype="http://schema.org/ImageObject"/>
            <sly data-sly-list.imagePath="${roomProperties.galleryImagePaths.toString}">

                <sly data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=imagePath}" data-sly-list="${firstImage.options}">
                    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=item, styleClass='rate-card-image', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true'}"/>
                </sly>
                <div class="view-photos-container hide-in-mobile-ihclcb" tabindex="0" role="button" onclick="showGallery(this)" data-dialog-btn = "galleryCarousel"
                     data-gallery-images=${roomProperties.galleryImagePaths.toString}>
                    <img src="/content/dam/tajhotels/icons/style-icons/lightbox.svg" alt = "lightbox icon">
                    <span>VIEW PHOTOS (${roomProperties.galleryImagePaths.size})</span>
                </div>
            </sly>
        </div>
        <div class="rate-card-details-container">
            <div class="rate-card-room-details">
                <h2 class="rate-card-room-heading">
                    <span itemprop="name">${roomProperties.roomTypeName}</span>
                </h2>
				<div class="room-feature-wrapper" style="display:none;">
					<p>${roomProperties.maximumNoOfGuests}  |  ${roomProperties.numberOfBeds}</p>
				</div>
                <div class="ihclcb-view-photos-container show-only-in-mobile-ihclcb" tabindex="0" role="button" onclick="showGallery(this)" data-dialog-btn = "galleryCarousel"
                     data-gallery-images=${roomProperties.galleryImagePaths.toString}>
                    <div>
                        <img src="/content/dam/tajhotels/icons/style-icons/lightbox.svg" alt = "lightbox icon">
                    </div>
                    <span>VIEW PHOTOS (${roomProperties.galleryImagePaths.size})</span>
                </div>
                <div class="rate-card-room-description">
                    <span itemprop="description">${roomProperties.description @ context='html'}</span>
                </div>
                <div class="row">
                    <div class="col-6 each-selling-point-container hide-in-mobile-ihclcb" data-sly-test.area="${roomProperties.area}">      
                        <div class="image-container">
                            <img src="${roomProperties.areaImage ? roomProperties.areaImage : '/content/dam/tajhotels/icons/room-property/area.png'}" alt = "area image">
                        </div>                        
                        <span class="room-selling-point-label">${roomProperties.area}</span>
                    </div>
                    <div class="col-6 each-selling-point-container hide-in-mobile-ihclcb" data-sly-test.wifi="${roomProperties.wifi}">            
                        <div class="image-container">
                            <img src="${roomProperties.wifiImage ? roomProperties.wifiImage : '/content/dam/tajhotels/icons/room-property/wifi.png'}" alt = "wifi icon">
                        </div>                        
                        <span class="room-selling-point-label">${roomProperties.wifi}</span>
                    </div>
                    <div class="col-6 each-selling-point-container" data-sly-test.maxOccupancy="${roomProperties.maxOccupancy}">
                        <div class="image-container">
                            <img src="${roomProperties.maxOccupancyImage ? roomProperties.maxOccupancyImage : '/content/dam/tajhotels/icons/room-property/maximumOccoumpany.png'}" alt = "maximum Occoupancy image">
                        </div>
                        <span class="room-selling-point-label">${roomProperties.maxOccupancy}</span>
                    </div>
                    <div class="col-6 each-selling-point-container" data-sly-test.bedType="${roomProperties.bedType}">
                        <div class="image-container">
                            <img src="${roomProperties.bedTypeImage ? roomProperties.bedTypeImage : '/content/dam/tajhotels/icons/room-property/bedType.png'}" alt = "bed type image">
                        </div>
                        <span class="room-selling-point-label">${roomProperties.bedType}</span>
                    </div>
					<div class="col-6 each-selling-point-container" data-sly-test.others="${roomProperties.otherAmenity}">
                        <div class="image-container">
                            <img src="${roomProperties.otherAmenityImage}" alt = "additional amenities image">
                        </div>
                        <span class="room-selling-point-label">${roomProperties.otherAmenity}</span>
                    </div>
                    <div class="col-12 selling-point-signature-feature-value" data-sly-test.signatureExperience="${roomProperties.signatureFeatureOfRoom}">
                        <div class="room-property-value-container">
                            <div class="image-container">
                                <img src="/content/dam/tajhotels/icons/room-property/star.png" alt = "star icon">
                            </div>
                            <span>${roomProperties.signatureFeatureOfRoom}</span>
                        </div>
                    </div>
                </div>
                <button class="cm-btn-primary rate-card-view-detials-container" data-room-details = "open"> ROOM DETAILS <i
                        class="inline-block icon-drop-down-arrow"> </i></button>
            </div>
            <div class="rate-card-room-rate-container clearfix" data-online-booking-available="${roomProperties.bookableOnline}" data-min-days-for-booking="${roomProperties.minimumDaysSelectionForBooking}">
                <div class="room-rate-points-wrap">
                    <div class="room-rate-points">
                        <sly data-sly-test.hasTicPoints="${roomProperties.ticPoints}">
                            <span>${roomProperties.ticPoints}</span>
                            <span>TIC Points</span>
                        </sly>
                        <sly data-sly-test.hasEpicurePoints="${roomProperties.epicurePoints}">
                            <span>${roomProperties.epicurePoints}</span>
                            <span>Epicure Points</span>
                        </sly>
                    </div>
                    <div class="room-rate-discount">
                        <sly data-sly-test.mode="${roomProperties.offerSpecifics}">
                            <span>${roomProperties.discountValue}</span>
                            <div>
                                <img src="/content/dam/tajhotels/icons/style-icons/discount-left-clipped.svg" alt  = "discount left clipped icon">
                                <div>${roomProperties.offerSpecifics} OFF</div>
                            </div>
                        </sly>
                    </div>
                </div>
                <div class="rate-card-wait-spinner">
                    <div>Fetching best rates</div>
                    <div class="taj-loader">
                        <div class="taj-loader-circle"></div>
                        <div class="taj-loader-circle"></div>
                        <div class="taj-loader-circle"></div>
                    </div>                    
                </div>
                <div class="rate-card-wait-spinner room-rate-unavailable hidden">
                    <span>There are no rooms available matching your search criteria.Please try selecting alternate dates, modifying your search options, or choosing an alternate property.</span>
                </div>
                <div class="room-card-msg-con minimum-booking-days hidden">
                    <span>This room can be booked for ${roomProperties.minimumDaysSelectionForBooking} days or above. Please modify search criteria</span>
                </div>
                <div class="room-card-msg-con online-booking-unavailable hidden">
                    <sly data-sly-test="${roomProperties.onlineUnavailableMessage==''}"> 
                        <span>Online booking unavailable for this room. Please call the hotel.</span>
                    </sly>
                    <sly data-sly-test="${roomProperties.onlineUnavailableMessage}"> 
                        <span>${roomProperties.onlineUnavailableMessage}</span>
                    </sly>
                </div>
                <div class="room-rate-wrap" itemprop="priceSpecification" itemscope
                     itemtype="http://schema.org/UnitPriceSpecification">
                    <div class="clearfix">
                        <div class="rate-card-actual-rate">
                            <span class="current-currency-symbol actual-rate"
                                  data-injector-key="currency-symbol"> </span>
                        	<span style="font-size:1.4rem;" class="d-none" id="redeem-voucher">Redeem Voucher</span>

                        	<span class="current-currency-value actual-rate"
                                  data-injector-key="lowest-discounted-price"> </span>
                            <span class="rate-highlight">*</span>
                            <!-- TIC FLOW STARTS-->
                            <div class="tic-point-details">
                                <span class="tic-points hidden"></span>
                                <span class="tic hidden"> TIC Points </span>
                            </div>
                            <span class="tap-points hidden"></span>
                            <span class="tap hidden"> TAP</span>
                            <span class="tappme-points hidden"></span>
                            <span class="tappme hidden"> TAPPMe</span>
                            <!-- TIC FLOW ENDS -->
                        </div>
                        <div class="rate-card-striked-rate">
                            <span class="current-currency-symbol actual-rate"
                                  data-injector-key="currency-symbol"> </span>
                            <span class="current-currency-value striked-rate" data-injector-key="lowest-price"> </span>
                        </div>
                </div>
                    <div class="rate-card-text-container">
                        <div itemprop="unitCode" content="Night">Starting Rate/Night</div>
                    </div>
                    <div class="rate-card-disclaimer hidden" data-injector-key="availability-expression">
                        <img src="/content/dam/tajhotels/icons/style-icons/last-room.svg" alt = "last room icon">
                        <span>Last few rooms available</span>
                    </div>
                    <button class="more-rates-button cm-btn-secondary" data-view-details = "open"> VIEW RATES <i
                            class="icon-drop-down-arrow-white inline-block"> </i></button>
                </div>
            </div>
        </div>
    </div>
</template>