<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
			 data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.hotelnavigation'}" />

<div data-sly-test.edit=${wcmmode.edit}>
	<h10>Edit to Configure the Navigation Component</h10>
</div>

<div class="destination-page-nav-menu">
	<nav class="col-lg-12 clearfix destination-nav-Bar-wrapper">
		<sly data-sly-use.multiItems="com.ihcl.core.models.NavigationTab">
		<sly data-sly-list.tab="${multiItems.getMultiFieldTabList}"> <a
			id=${tab.tabtext} class="tab-child-container"
			href="${tab.tabtextlink}.html">${tab.tabtext}</a> </sly>
		</sly>
	</nav>
</div>
