
.ihcl-specific-wrap .aspiration-specific-wrap .specific-city-header{

     font-size:1.25rem;	
     font-family:Calibri-Bold;
}

@media only screen and (max-width: 480px) {
    .about-destination-city-container-wrapper.about-specific-city-container {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.about-specific-city-container {
    padding: 38px 26px 38px 38px;
    padding: 2.375rem 1.625rem 1.875rem 2.375rem;
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .about-specific-city-container {
        padding: 1.3125rem;
    }
}

.about-specific-city-container .specific-city-header-wrapper {
    font-family: Calibri-bold;
    font-size: 35px;
    font-size: 2.1875rem;
    color: #323232;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .about-specific-city-container .specific-city-header-wrapper {
        font-size: 1.5rem;
    }
}

.about-specific-city-container .specific-city-header-wrapper .specific-city-header {
    display: inline;
    word-wrap: unset;
    
}

.about-specific-city-container .specific-city-wrapper {
    margin-top: 17px;
    margin-top: 1.0625rem;
    margin-top: 1.0625rem! important;
    display: table;
}

.about-specific-city-container .specific-city-wrapper .specific-city-details-container {
    display: table-cell;
    width: 50%;
    position: relative;
    vertical-align: top;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-details-container {
        width: 100%;
    }
}

.about-specific-city-container .specific-city-wrapper .specific-city-details-container .spec-about-city {
    font-size: 16px;
    font-size: 1rem;
    color: #4a4a4a;
    font-family: Calibri;
    padding-bottom:2rem;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-details-container .spec-about-city{
        padding-bottom:1rem;
    }
}
.about-specific-city-container .specific-city-wrapper .specific-city-details-container .spec-about-city .spec-about-city-subheader {
    font-family: Calibri-bold;
    margin-bottom: 9px;
    margin-bottom: 0.5625rem;
    word-wrap: break-word;
    word-break: break-all;
}

.about-specific-city-container .specific-city-wrapper .specific-city-details-container .spec-about-city .destination-city-desc {
    line-height: 1.25;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-details-container {
        width: 41%;
    }
}

.about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner {
    position: relative;
    vertical-align: top;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner {
        width: 100%;
        display: block;
        float: none;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

.about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner .about-carousel-images {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner .about-carousel-images {
        width: 100%;
    }
}

.about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner .leftArrow {
    top: 50%;
    margin-top: -16px;
    margin-top: -1rem;
    left: -7%;
}

.about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner .leftArrow img {
    width: 17px;
    width: 1.0625rem;
    height: 32px;
    height: 2rem;
}

.about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner .rightArrow {
    top: 50%;
    margin-top: -16px;
    margin-top: -1rem;
}

.about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner .rightArrow img {
    width: 17px;
    width: 1.0625rem;
    height: 32px;
    height: 2rem;
}

.mr-specific-City-carousel-wrapper {
    overflow-x: hidden;
    padding:0 4%;
    
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .mr-specific-City-carousel-wrapper {
        width: 100%;
        overflow: auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .about-city-carousel-images-mobile:first-child {
        margin-left: 0 ! important;
    }
}

.mr-viewGallery-about-carousel-wrapper {
    position: absolute;
    right: 0;
    top: -3.3125rem;
}

.viewGallery-aboutCarousel {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: var(--primaryColor);
    text-decoration: underline;
    font-weight: bold;
}

.viewGallery-aboutCarousel:hover {
    color: var(--primaryColor);
}

/*.mr-each-about-carousel-wrapper {
    height: 326px;
    height: 20.375rem;
}*/

.mr-each-about-carousel-wrapper picture {
    height: 100%;
    width: 100%;
}
/*.mr-each-about-carousel-wrapper img {
    object-fit: contain;
}*/

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .mr-each-about-carousel-wrapper {
        height: initial;
    }
}

.cm-local-details-container.mr-profile-popup .ho-header-description {
    margin: 9px 0 12px;
    margin: 0.5625rem 0 0.75rem;
    font-family: Calibri-bold;
}

.cm-local-details-container.mr-profile-popup .ho-first-section {
    height: 100%;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container.mr-profile-popup .ho-first-section {
        height: initial;
    }
}

.cm-local-details-container.mr-profile-popup .mr-inner-popup-container {
    min-height:27rem;
    background-color: #ccc; 
    margin-left: 24px;
    margin-left: 1.5rem;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container.mr-profile-popup .mr-inner-popup-container {
        margin-left: 0;
    }
}
@media only screen and (max-width: 767px) {
    .cm-local-details-container.mr-profile-popup .mr-inner-popup-container {
     min-height:12rem;
    }
}

.cm-local-details-container.mr-profile-popup .cm-local-details {
    top: 6%;
  /*  bottom: 6%; */
    overflow: hidden;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container.mr-profile-popup .cm-local-details {
        overflow: auto;
    }
}

.cm-local-details-container.mr-profile-popup .loc-image-container {
    height: 100%;
}

.cm-local-details-container.mr-profile-popup .loc-details-close-cont {
    height: initial !important;
    width: initial;
}

.cm-local-details-container.mr-profile-popup .loc-details-wrapper {
    margin: 0 !important;
    padding: 65px 40px;
    padding: 4.0625rem 2.5rem;
    height: 100%;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container.mr-profile-popup .loc-details-wrapper {
        padding: 1.875rem 1.25rem;
        height: initial;
    }
}

.cm-local-details-container.mr-profile-popup .ho-overview-description {
    font-family: Calibri;
    height: 75%;
    overflow: auto;
    padding-right: 20px;
    padding-right: 1.25rem;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container.mr-profile-popup .ho-overview-description {
        overflow: hidden;
        padding-right: 0;
    }
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container.mr-profile-popup .loc-image-container.mr-popup-image {
        margin-top: 1.25rem;
    }
}

.cm-local-details-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 100;
    overflow: auto;
}

.cm-local-details-container .active {
    display: block !important;
}

.cm-local-details-container .cm-local-details-overLay.bas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(74, 74, 74, 0.55);
}

.cm-local-details-container .cm-local-details {
    position: absolute;
    width: 50%;
    background: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container .cm-local-details {
        width: 90%;
        top: 5%;
        height: 95%;
    }
}

.cm-local-details-container .cm-local-details.mr-sub-form .loc-details-close-cont {
    height: 38px;
    height: 2.375rem;
    width: 100%;
}

.cm-local-details-container .cm-local-details .loc-details-close-cont .showMap-close {
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    position: absolute;
    top: 20px;
    top: 0.5rem;
    right: 20px;
    right: 1.25rem;
}

.cm-local-details-container .cm-local-details .loc-details-wrapper {
    margin: 20px 50px 50px;
    margin: 1.25rem 3.125rem 3.125rem;
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper {
        margin: 1.25rem;
    }
}

@media only screen and (max-width: 480px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-details-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (min-width: 992px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-details-container {
        padding-right: 0.375rem;
    }
}

@media only screen and (max-width: 480px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (min-width: 992px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container {
        padding-left: 1.5rem;
    }
}

@media only screen and (max-width: 991px) {
    .cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container {
        margin-top: 0.875rem;
    }
}

.cm-local-details-container .cm-local-details .loc-details-wrapper .loc-image-container img {
    width: 100%;
}

.second-section {
    margin-top: 24px;
    margin-top: 1.5rem;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
}

.second-section.for-mobile {
    display: none;
}

.second-section.for-mobile .second-section-header {
    font-size: 14px;
    font-size: 0.875rem;
}

@media only screen and (max-width: 991px) {
    .second-section.for-mobile {
        width: 100%;
        display: block;
        margin-top: 1.25rem;
    }
}

@media only screen and (max-width: 991px) {
    .second-section.for-desktop {
        display: none;
    }
}

.second-section .second-section-details-wrapper {
    margin-top: 12px;
    margin-top: 0.75rem;
}

.second-section .second-section-details-wrapper .sec-img-cont {
    width: 18%;
    display: inline-block;
}

@media only screen and (max-width: 991px) {
    .second-section .second-section-details-wrapper .sec-img-cont {
        width: 22%;
    }
}

.second-section .second-section-details-wrapper .sec-img-cont img {
    width: 100%;
}

.second-section .second-section-details-wrapper .sec-detail-cont {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: inline-block;
    vertical-align: middle;
    margin-left: 32px;
    margin-left: 2rem;
}

@media only screen and (max-width: 340px) {
    .second-section .second-section-details-wrapper .sec-detail-cont {
        margin-left: 0.75rem;
    }
}

.second-section .second-section-details-wrapper .sec-detail-cont .sec-detail-header {
    font-size: 16px;
    font-size: 1rem;
    color: #4a4a4a;
    font-family: Calibri-Bold;
}

.second-section .second-section-details-wrapper .sec-detail-cont .sec-details-about {
    font-size: 14px;
    font-size: 0.875rem;
    color: #1d1d1d;
    font-family: Calibri;
}

.conceirge-local.ho-mail-to {
    display: inline-block;
}

.conceirge-local.ho-mail-to div {
    margin-top: 10px;
    margin-top: 0.625rem;
}

@media only screen and (max-width: 991px) {
    .conceirge-local.ho-mail-to {
        display: block;
        margin-left: 0;
    }
}

.ho-contact-options-con .conceirge-local.ho-mail-to:after {
    left: -24px;
    content: "";
}

@media only screen and (max-width: 768px) {
    .ho-contact-options-con .conceirge-local.ho-mail-to:after {
        display: none;
    }
}

.ho-contact-options-con .ho-mail-to.local-city:after {
    left: -24px;
    content: "";
}

@media only screen and (max-width: 340px) {
    .ho-contact-options-con .ho-mail-to.local-city {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 767px) {
    .loc-image-container img {
        height: 12.25rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .loc-image-container img {
        height: 26.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .loc-image-container img {
        height: 31.0625rem;
    }
}

.specific-city-header {
        font-size: 1.75rem;
        font-family: Calibri-bold;
        
}

.spec-about-city-subheader {
    font-family: Calibri-bold;
    margin-bottom: 9px;
    margin-bottom: 0.5625rem;
}

.about-city-carousel-images-mobile {
    width: 100%;
}

