.chk-in-out-con .modify-booking-link{
	position: absolute;
    right: 0.5rem;
    top: 0.3rem;
}
.cancelled-room-style .cost-with-commas{
    text-decoration: line-through;
}
.confirmation-buttons-container{
    z-index: 1;
    position: absolute;
    right: 0;
    top: 20px;
    top: 1.25rem;
}
@media only screen and (max-width: 767px) {
    .mini-footer-section .confirmation-buttons-container{
        position: relative;
        top: 0;
        display: flex;
        flex-wrap: wrap;
    } 
    .mini-footer-section .confirmation-buttons-container .cm-btn-primary {
        margin: 0.5rem 1rem 0.5rem 0;
        line-height: normal;
        height: auto !important;
        padding: 0.5rem;
        font-size: 1rem;
    }
}
.confirmation-buttons-container a{
    text-decoration: none;
}
.confirmation-buttons-container a:hover{
    text-decoration: none;
}
.confirmation-room-details .heading .cancel-indication{
	vertical-align: middle;
}
.summary-charges-item-con .summary-charges-item-name .cancel-indication {
	line-height: normal;
	color: #fff;                
}
.cancel-indication {
    color: #fff;
    font-size: 14px;
    font-size: 0.875rem;
    display: inline-block;    
    padding: 0.3rem 0.6rem;
    background: var(--primaryColor);
    text-align: center;
    vertical-align: top;
    line-height: normal;
    margin: 0 0.8rem; 
}       
.modify-booking-link {
    text-decoration: none;
    font-family: Calibri;
    color: var(--primaryColor);
    font-size: 1rem;
	cursor: pointer;                
}
a.modify-booking-link:hover{
	color: var(--primaryColor);
    text-decoration: none;
}
.modify-booking-link i.icon-edit {
    display: inline-block !important;
    vertical-align: middle;
	position: relative !important;
    top: 0 !important;            
}
.summary-coupon-applied{
    display:inline-block !important;
    width:auto !important;
    padding:0.5rem !important;
    margin-left:0.3rem !important;
}

.itinerary-number{
	font-family: Calibri-Bold;
    font-size: 19px;
    margin: 1rem 0 0 0;
    font-size: 1.5885rem;
    color: #4a4a4a;
}

.redeemed-voucher-number{
    font-size: 18px;
    font-size: 1.3rem;
    color: #4a4a4a;
}

.nightly-rates, .all-type-of-taxes{
	padding: 0rem 0rem 0rem 0.7rem;
	display:none;
}

.room-info{
	font-family: Calibri;
	font-size: 1.055rem;
}

.ind-tax-Details{
	font-family: Calibri;
    font-size: 12px;
    padding: 0rem 0rem 0rem 1rem;    
}

.ind-nightly-rate{
	font-family: Calibri;
    font-size: 12px;   
}
    
.ind-nightly-rate .cart-currency-symbol{
	float:right;
}

.ind-nightly-rate .ind-night-rate, .ind-tax-Details .ind-tax-amount{
	float:right;
}

.checkout-confirmation-layout .banner-container .hotel-banner-image-con .banner-titles{
    display:none;
}
.checkout-confirmation-layout .check-availability-main-wrap{
    display:none;
}                        
.confirmation-con {
    margin-top:4rem;
    background: #fff;
    padding: 0 53px 0 48px;
    padding: 0 3.3125rem 0 3rem;
    position: relative;
    overflow:hidden;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .confirmation-con {
        background: transparent;
        padding: 0 0.8125rem 0 0.9375rem;
    }
}

.confirmation-con .confirmation-heading {
    color: #4a4a4a;
    font-family: Calibri-Bold;
    font-size: 30px;
    font-size: 1.875rem;
    margin: 23px 0;
    margin: 1.4375rem 0;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .explore-more-btn {
        line-height: 2.8125rem;
    }
}

@media only screen and (max-width: 991px) {
    .confirmation-con .explore-more-btn {
        display: none;
    }
}

.confirmation-con .edit-bkng-btn,
.confirmation-con .cancel-bkng-btn,
.confirmation-con .explore-more-btn {	   
    line-height: 35px;
    line-height: 2.1875rem;
    margin-left:  1rem;
    font-family: Calibri-bold;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .edit-bkng-btn {
        line-height: 2.8125rem;
    }
}

@media only screen and (max-width: 991px) {
    .confirmation-con .edit-bkng-btn {
        display: none;
    }
}


@media only screen and (max-width: 991px) {
    .confirmation-con .cancel-bkng-btn {
        line-height: 2.8125rem;
    }
}

@media only screen and (max-width: 991px) {
    .confirmation-con .cancel-bkng-btn {
        display: none;
    }
}

.confirmation-con .confirmation-header {
    padding: 20px 0 26px;
    padding: 1.25rem 0 1.625rem;
    position: relative;    
}
@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header {
        padding-top:35px;
    }
}

.confirmation-con .confirmation-header .confirmation-text-con {
    position: relative;
}
@media only screen and (min-width: 992px) {
    .confirmation-con .confirmation-header .confirmation-text-con{
        padding-top:2.2rem;
    }
}
.confirmation-con .confirmation-header .confirmation-text-con .expan-img {
    display: none;
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header .confirmation-text-con .expan-img {
        display: block;
        margin-top:-35px;
    }
}

.confirmation-con .confirmation-header .confirmation-text-con .img-con {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 29px;
    margin-right: 1.8125rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header .confirmation-text-con .img-con {
        height: 60px;
        width: 3.75rem;
        margin-right: 0.8125rem;
    }
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header .confirmation-text-con .img-con img {
        height: 100%;
        width: 100%;
    }
}

.confirmation-con .confirmation-header .confirmation-text-con .text-con {
    display: inline-block;
    line-height: 35px;
    line-height: 2.1875rem;
}

.confirmation-con .confirmation-header .confirmation-text-con .text-con .confirmation-text {
    color: var(--primaryColor);
    font-size: 30px;
    font-size: 1.875rem;
}

.confirmation-con .confirmation-header .confirmation-text-con .text-con .confirmation-text div {
    display: inline-block;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header .confirmation-text-con .text-con .confirmation-text div {
        display: block;
    }
}

.confirmation-con .confirmation-header .confirmation-text-con .text-con .confirmation-text div:first-child {
    font-family: Calibri-Bold;
    margin-right: 8px;
    margin-right: 0.5rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header .confirmation-text-con .text-con .confirmation-text {
        font-size: 1.5rem;
    }
}

.confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options div {
    /* display: none; */
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options div {
        height: 43px;
        line-height: 43px;
        font-size: 0.875rem;
        color: #272727;
        border-bottom: 1px solid #e6e6e6;
        display: none;
    }
}

.confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options div img {
    margin-right: 8px;
    margin-right: 0.5rem;
    height: 20px;
    height: 1.25rem;
    width: 20px;
    width: 1.25rem;
}

.confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options div span {
    margin-right: 43px;
    margin-right: 2.6875rem;
}
.cm-content-blocks .confirmation-con{	
	overflow: initial;
}
.download-options .share-btn-js{
	margin-right:0 !important;
} 
@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options div span {
        margin-right: 0;
    }
}

.confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options .download-options-print {
    display: inline-block;
    cursor:pointer;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options .download-options-print {
        display: block;
    }
}


.confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options div:last-child img {
    height: 18px;
    height: 1.125rem;
    width: 18px;
    width: 1.125rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options div:last-child {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options {
        display: none;
        position: absolute;
        right: 0;
        top: 0px;
        background: #fff;
        width: 9.5rem;
        padding: 0 0.3125rem;
        z-index: 1;
    }
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header .confirmation-text-con .text-con {
        line-height: 30px;
    }
}

.confirmation-con .confirmation-header .identification-container {
    margin-top: 26px;
    margin-top: 1.625rem;
}

.confirmation-con .confirmation-header .identification-container .iden-heading {
    color: #4a4a4a;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri-Bold;
}

.confirmation-con .confirmation-header .identification-container .iden-content {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    color: #4a4a4a;
}

.confirmation-con .confirmation-header .identification-container .iden-content div {
    margin-left: 4px;
    margin-left: 0.25rem;
    float: left;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .confirmation-con .confirmation-header .identification-container .iden-content div {
        margin-left: 0;
    }
}

.confirmation-con .confirmation-header .identification-container .iden-content div:first-child {
    margin-left: 0;
}

@media only screen and (max-width: 416px) {
    .confirmation-con .confirmation-header .identification-container .iden-content .container-mobile-align {
        margin-left: 0;
    }

    .confirmation-con .confirmation-header .identification-container .iden-content .container-mobile-align div:first-child {
        margin-right: 3rem;
    }

    .confirmation-con .confirmation-header .identification-container .iden-content .container-mobile-align div:nth-child(2) {
        margin-left: 0;
    }
}

.confirmation-con .confirmation-header .identification-container .iden-content .dimmed-text {
    color: #272727;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-header .identification-container .iden-content .dimmed-text {
        margin-left: 0;
    }
}

.confirmation-con .confirmation-header::after,
.ihcl-theme .confirmation-con .payment-details-section::after,
.ihcl-theme .confirmation-con .special-request-section::after {
    height: 1px;
    content: '';
    left:0;
    right:0;
    border-bottom: 1px dashed #979797;
    position: absolute;
    bottom: 0;
    margin: 0 -53px 0 -48px;
    margin: 0 -3.3125rem 0 -3rem;
}
@media only screen and (max-width: 991px) {
	.confirmation-con .confirmation-header::after,
	.ihcl-theme .confirmation-con .payment-details-section::after,
    .ihcl-theme .confirmation-con .special-request-section::after {
		margin:auto;
	}
}

.confirmation-con .confirmation-details-con {
    margin: 18px 0 27px;
    margin: 1.125rem 0 1.6875rem;
    display: table;
    width: 100%;
}

.confirmation-con .confirmation-details-con .chk-in-out-con {
    position: absolute;
    right: 0;
    top: 25px;
    top: 1.5625rem;
    background: #efefef;
    padding: 26px 35px 23px 33px;
    padding: 1.95rem 2.1875rem 1.4375rem 2.0625rem;
    width: 371px;
    width: 23.1875rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-details-con .chk-in-out-con {
        left: 1.125rem;
        bottom: 20px;
        top: initial;
        width: 90%;
        padding: 18px 2.1875rem 17px 2.0625rem;
    }
}

@media only screen and (max-width: 375px) {
    .confirmation-con .confirmation-details-con .chk-in-out-con {
        padding: 18px 1.25rem 17px 1.25rem;
    }
}

.confirmation-con .confirmation-details-con .chk-in-out-con .ckn-in-con {
    float: left;
}

.confirmation-con .confirmation-details-con .chk-in-out-con .ckn-in-con div:first-child {
    font-size: 18px;
    font-size: 1.125rem;
    color: #272727;
    font-family: Calibri;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-details-con .chk-in-out-con .ckn-in-con div:first-child {
        font-size: 1rem;
    }
}

.confirmation-con .confirmation-details-con .chk-in-out-con .ckn-in-con div:last-child {
    font-size: 24px;
    font-size: 1.5rem;
    color: #4a4a4a;
    font-family: Calibri-Bold;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-details-con .chk-in-out-con .ckn-in-con div:last-child {
        font-size: 1.125rem;
    }
}

.confirmation-con .confirmation-details-con .chk-in-out-con .ckn-out-con {
    float: right;
}

.confirmation-con .confirmation-details-con .chk-in-out-con .ckn-out-con div:first-child {
    font-size: 18px;
    font-size: 1.125rem;
    color: #272727;
    font-family: Calibri;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-details-con .chk-in-out-con .ckn-out-con div:first-child {
        font-size: 1rem;
    }
}

.confirmation-con .confirmation-details-con .chk-in-out-con .ckn-out-con div:last-child {
    font-size: 24px;
    font-size: 1.5rem;
    color: #4a4a4a;
    font-family: Calibri-Bold;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-details-con .chk-in-out-con .ckn-out-con div:last-child {
        font-size: 1.125rem;
    }
}

.confirmation-con .confirmation-details-con .guest-details-con {
    display: table-cell;
    width: 30%;
}

.confirmation-con .confirmation-details-con .guest-details-con .content {
    color: #4a4a4a;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
}

.confirmation-con .confirmation-details-con .guest-details-con .content span {
    color: #272727;
    font-size: 18px;
    font-size: 1.125rem;
    margin-left: 5px;
    margin-left: 0.3125rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-details-con .guest-details-con .content div {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-details-con .guest-details-con {
        display: none;
        width: 100%;
        background-color: #fff;
        padding: 0.8125rem 0 28px 0.9375rem;
        border-bottom: 1px solid #e5e3e3;
        border-top: 1px solid #e5e3e3;
    }
}

.confirmation-con .confirmation-details-con .hotel-details-con {
    padding-left: 18px;
    padding-left: 1.125rem;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-details-con .hotel-details-con {
        display: none;
        background-color: #fff;
        padding: 17px 0 122px 1.125rem;
    }
}

.confirmation-con .confirmation-details-con .hotel-details-con::before {
    position: absolute;
    left: 0;
    width: 1px;
    height: 95%;
    background-color: #e5e3e3;
    content: '';
    margin-top: 10px;
    margin-top: 0.625rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-details-con .hotel-details-con::before {
        display: none;
    }
}

.confirmation-con .confirmation-details-con .heading {
    font-size: 30px;
    font-size: 1.875rem;
    font-family: Calibri-Bold;
    color: #4a4a4a;
    line-height:1;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-details-con .heading {
        font-size: 1.25rem;
    }
}

.confirmation-con .confirmation-details-con .content .ho-map-link img {
    vertical-align: top;
}

.confirmation-con .confirmation-details-con .content .ho-cm-icon {
    margin-right: 10px;
    margin-right: 0.625rem;
}

.confirmation-con .confirmation-details-con .content .conf-loc-text {
    border-bottom: none;
    text-decoration: underline;
    max-width: 240px;
    max-width: 15rem;
}

.confirmation-con .confirmation-details-con .booking-details-mobile {
    padding: 13px 18px 15px 16px;
    padding: 0.8125rem 1.125rem 0.9375rem 1rem;
    background-color: #fff;
    display: none;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .confirmation-details-con .booking-details-mobile {
        display: block;
    }
}

.confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-heading {
    font-size: 20px;
    font-size: 1.25rem;
    color: var(--primaryColor);
    font-family: Calibri-Bold;
    position: relative;
}

.confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-heading i {
    position: absolute;
    right: 0;
    top: 35%;
}

.confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-heading .inverted {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-con .content {
    padding: 17px 0;
    padding: 1.0625rem 0;
    border-bottom: 1px solid #e5e3e3;
}

.confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-con .content span:first-child {
    margin-right: 80px;
    margin-right: 5rem;
}

@media only screen and (max-width: 374px) {
    .confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-con .content span:first-child {
        margin-right: 3rem;
    }
}

.confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-con .heading {
    margin: 16px 0 7px;
    margin: 1rem 0 0.4375rem;
}

.confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-con .chk-con .ckn-in-con {
    display: inline-block;
}

.confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-con .chk-con .ckn-in-con div:first-child {
    font-size: 16px;
    font-size: 1rem;
    color: #272727;
    font-family: Calibri;
    margin-right: 64px;
    margin-right: 4rem;
}

@media only screen and (max-width: 415px) {
    .confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-con .chk-con .ckn-in-con div:first-child {
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 350px) {
    .confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-con .chk-con .ckn-in-con div:first-child {
        margin-right: 1rem;
    }
}

.confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-con .chk-con .ckn-in-con div:last-child {
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
    font-family: Calibri-Bold;
}

.confirmation-con .special-request-section {
    font-family: Calibri;
    color: #4a4a4a;
    padding: 18px 0 43px;
    padding: 1.125rem 0 2.6875rem;
    border-bottom: solid 1px #e5e3e3;
}

@media only screen and (max-width: 767px) {
    .confirmation-con .special-request-section {
        border: none;
        background-color: #fff;
        padding: 16px 0 26px 16px;
        margin-top: 20px;
    }
}

.confirmation-con .special-request-section .heading {
    font-size: 30px;
    font-size: 1.875rem;
    letter-spacing: 1px;
    font-family: Calibri-Bold;
    margin-bottom: 11px;
    margin-bottom: 0.6875rem;
}

@media only screen and (max-width: 767px) {
    .confirmation-con .special-request-section .heading span {
        display: none;
    }
}

.confirmation-con .special-request-section .special-request {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-bottom: 0.3125rem;
}

.confirmation-con .special-request-section .disclaimer {
    color: #272727;
    font-style: italic;
    margin: 15px 0 10px;
    margin: 0.9375rem 0 0.625rem;
    font-size: 14px;
    font-size: 0.875rem;
}

.confirmation-con .special-request-section .wifi-text {
    color: var(--primaryColor);
    font-size: 18px;
    font-size: 1.125rem;
}

.confirmation-con .special-request-section .wifi-text img {
    margin-right: 20px;
    margin-right: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .confirmation-con .special-request-section .wifi-text {
        font-size: 1rem;
    }
}

.confirmation-con .mini-footer-section {
    color: var(--primaryColor);
    font-size: 14px;
    font-size: 0.875rem;
    position: relative;
    padding: 23px 0 41px;
    padding: 1.4375rem 0 2.5625rem;
}

.confirmation-con .mini-footer-section a {
    color: var(--primaryColor);
    text-decoration: underline;
}
.confirmation-con .mini-footer-section .confirmation-buttons-container a{
    text-decoration: none;
}

.confirmation-con .mini-footer-section span {
    margin: 0 10px;
    margin: 0 0.625rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .mini-footer-section .explore-more-btn,
  .confirmation-con .mini-footer-section .edit-bkng-btn,
  .confirmation-con .mini-footer-section .cancel-bkng-btn {
        display: block;
    }
}

.confirmation-con .mini-footer-section .explore-more-btn {
    right: 0;
}

.confirmation-con .mini-footer-section .edit-bkng-btn {
    right: 157px;
    right: 9.8125rem;
}

.confirmation-con .mini-footer-section .cancel-bkng-btn {
    right: 278px;
    right: 20.8125rem;
}

.confirmation-con .payment-details-section {
    padding: 29px 0 33px 0;
    padding: 1.8125rem 0 2.0625rem 0;
    border-bottom: 1px solid #e5e3e3;
}

.confirmation-con .payment-details-section .summary-section {
    float: right;
    width: 54%;
    padding-left: 30px;
    padding-left: 1.875rem;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .payment-details-section .summary-section {
        float: none;
        width: 100%;
        background-color: #fff;
        padding: 14px 0.625rem 22px 0.9375rem;
    }
}

.confirmation-con .payment-details-section .summary-section .summary-charges-item-con {
    margin-top: 10px;
    margin-top: 0.625rem;
}

.confirmation-con .payment-details-section .summary-section .summary-charges-item-con .summary-charges-item-name {
    font-family: Calibri;
}

.confirmation-con .payment-details-section .summary-section .summary-charges-item-con .summary-charges-item-value {
    font-size: 16px;
    font-size: 1rem;
}

.confirmation-con .payment-details-section .summary-section .summary-charges-item-con .summary-charges-item-value span {
    font-size: 18px;
    font-size: 1.125rem;
}

.confirmation-con .payment-details-section .summary-section .position {
    position: relative;
}

.confirmation-con .payment-details-section .summary-section .position .summary-charges-item-value {
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
}

.confirmation-con .payment-details-section .summary-section .position .summary-charges-item-value span {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri-Bold;
}

.confirmation-con .payment-details-section .summary-section .position .total-charge-asterik {
    font-family: Calibri;
    position: absolute;
    right: -10px;
    right: -0.625rem;
    top: -3px;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .payment-details-section .summary-section .position .total-charge-asterik {
        display: none;
    }
}

.confirmation-con .payment-details-section .summary-section .summary-charges-discount-value {
    display: block;
    font-weight: normal;
}

.confirmation-con .payment-details-section .summary-section .summary-charges-discount-value span {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
}

.confirmation-con .payment-details-section .summary-section .summary-charges-discount-value span:nth-child(2) {
    font-family: RupeeForadian;
    font-size: 16px;
    font-size: 1rem;
}

.confirmation-con .payment-details-section .summary-section .disclaimer {
    font-style: italic;
    color: #272727;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    margin-top: 22px;
    margin-top: 1.375rem;
    width: 70%;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .payment-details-section .summary-section .disclaimer {
        display: none;
    }
}

.confirmation-con .payment-details-section .payment-section {
    float: left;
    width: 46%;
    padding-right: 50px;
    padding-right: 3.125rem;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .payment-details-section .payment-section {
        float: none;
        width: 100%;
        background-color: #fff;
        margin-top: 20px;
        padding: 14px 0.625rem 22px 0.9375rem;
    }
}

.confirmation-con .payment-details-section .payment-section .guarantee-details {
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
    margin-top: 10px;
    margin-top: 0.625rem;
    font-family: Calibri;
}

.confirmation-con .payment-details-section .payment-section .guarantee-details span:first-child {
    font-family: Calibri-Bold;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .payment-details-section .payment-section .guarantee-details {
        display: none;
    }
}

.confirmation-con .payment-details-section .payment-section .payment-details {
    position: relative;
}

.confirmation-con .payment-details-section .payment-section .payment-dropdown {
    display: none;
    position: absolute;
    right: 5px;
    right: 0.3125rem;
    top: 30%;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .payment-details-section .payment-section .payment-dropdown {
        display: inline-block;
    }
}

.confirmation-con .payment-details-section .payment-section .payment-dropdown-inverted {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.confirmation-con .payment-details-section .payment-section .payment-detials-con {
    margin-top: 22px;
    margin-top: 1.375rem;
}

.confirmation-con .payment-details-section .payment-section .payment-detials-con .payment-detials-sub-con:first-child {
    width: 43%;
}

@media only screen and (max-width: 991px) {
    .confirmation-con .payment-details-section .payment-section .payment-detials-con-mob {
        display: none;
    }
}

.confirmation-con .payment-details-section .payment-section .payment-detials-sub-con {
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
}

.confirmation-con .payment-details-section .payment-section .payment-detials-sub-con div:first-child {
    color: #272727;
}

.confirmation-con .payment-details-section .summary-section::before {
    content: '';
    height: 100%;
    width: 1px;
    background-color: #e5e3e3;
    position: absolute;
    left: 0;
    top: 0;
}

.payment-details-section-on-online-paytment .payment-section {
    display: none;
}

.payment-details-section-on-online-paytment .summary-section {
    width: 100% !important;
    float: left !important;
    padding-left: 0 !important;
}

@media only screen and (max-width: 991px) {
    .payment-details-section-on-online-paytment .summary-section {
        padding: 14px 0.625rem 22px 0.9375rem !important;
    }
}

.payment-details-section-on-online-paytment .summary-section::before {
    display: none;
}

@media only screen and (max-width: 767px) {
    .summary-section .summary-charges-item-name {
        width: 70%;
    }
}
.flight-details-section {
    margin-top: -38px;
    margin-top: 0.600rem;
    font-family: Calibri;
    color: #4a4a4a;
    padding: 18px 0 43px;
    padding: 1.125rem 0 2.6875rem;
    display: none;
}

@media only screen and (max-width: 767px) {
    .flight-details-section {
        border: none;
        background-color: #fff;
        padding: 16px 0 26px 16px;
        margin-top: 20px;
    }
}

.flight-details-section .heading {
    font-size: 30px;
    font-size: 1.875rem;
    letter-spacing: 1px;
    font-family: Calibri-Bold;
    margin-bottom: 11px;
    margin-bottom: 0.6875rem;
}

@media only screen and (max-width: 767px) {
    .flight-details-section .heading .heading-star {
        display: none;
    }
}

.flight-details-section .special-request {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-bottom: 0.3125rem;
}

.flight-details-section .pickup-details {
    font-size: 18px;
    font-size: 1.125rem;
    color: var(--primaryColor);
}

@media only screen and (min-width: 992px) {
   .confirmation-con .confirmation-details-con .heading {
       width: 54%;
   }
}

@media only screen and (min-width: 992px) {
   .confirmation-con .confirmation-details-con .content {
       width: 54%;
   }
}

@media only screen and (min-width: 992px) {
	.icon-golden-flower-wrapper{
		margin-right: 1rem;	
		vertical-align: middle;
	}
}

/*.ihcl-theme .confirmation-con .special-request-section .wifi-text .icon-wifi {
	display: none;
}*/
.ihcl-theme .confirmation-text-con .icon-confirmation-tick .path1:before {
	color: #5eb600;
}
.ihcl-theme span.icon-confirmation-tick.inline-block {
	font-size: 3rem;
}
.ihcl-theme span.icon-confirmation-tick.inline-block .path2 {
	position: absolute;
}
.ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con .img-con {
	vertical-align: top;
}
.ihcl-theme .confirmation-text-con .text-con .download-options {
	font-size: 0.85rem;
}
.ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options div span {
	margin-right: 1.5rem;
}
.ihcl-theme .confirmation-con .confirmation-header .identification-container .iden-heading {
	font-size: 0.9rem;
	margin-bottom: 6px;
	color: #000000;
}
.ihcl-theme .confirmation-con .confirmation-details-con .heading,
.ihcl-theme .confirmation-con .confirmation-heading,
.ihcl-theme .confirmation-con .special-request-section .heading,
.ihcl-theme .summary-charges-heading {
	font-size: 1.25rem;
	letter-spacing: normal;
	color: #000000 !important;
}
.ihcl-theme .confirmation-room-details .heading {
	font-size: 16px;
}
.ihcl-theme .confirmation-con .special-request-section .disclaimer {
	font-style: normal;
}
.ihcl-theme .confirmation-con .special-request-section .wifi-text span {
	color: #084b77;
}
.ihcl-theme .itinerary-number {
	font-size: 16px;
	margin-top: 2rem;
}
.ihcl-theme .confirmation-con .payment-details-section,
.ihcl-theme .confirmation-con .special-request-section,
.ihcl-theme .best-deal-banner {
	border: none;
	position: relative;
}
.ihcl-theme .confirmation-con .mini-footer-section a {
	font-size: 0.9rem;
	color: #084b77 !important;
}

.ihcl-theme .confirmation-con .payment-details-section .summary-section {
	float: none !important;
}
.ihcl-theme .confirmation-con .confirmation-details-con .guest-details-con .content span {
	margin-left: 0;
}
.ihcl-theme .confirmation-con .confirmation-details-con .guest-details-con .content {
	margin-top: 8px;
}
.ihcl-theme .confirmation-room-details .room-details .room-details-colored {
	color: var(--secondaryColor);
}
.ihcl-theme .reservation-number-ihclcb {
	font-family: "Calibri";
	font-size: 16px;
	line-height: 1.25;
	color: #323232;
	margin-bottom: 1rem;
}

.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp,
.ihcl-theme .best-deal-cont-ihclcb {
	display: flex;
}
.ihcl-theme .best-deal-cont-ihclcb .best-deal-desc {
	width: 200px;
	font-size: 13px;
	color: #9b9b9b;
	text-align: right;
}
.ihcl-theme .total-price-deal-section-ihclcb .icon-left-right-clipped{
	font-size: 2.5rem;
}
.ihcl-theme .total-price-deal-section-ihclcb .best-deal-banner > span:last-child {
	position: absolute;
    top: 9px;
    left: 0;
    color: #ffffff;
    right: 0;
    margin: auto;
    text-align: center;
}
.ihcl-theme .icon-left-right-clipped .path1:before,
.ihcl-theme .icon-left-right-clipped .path2:before {
	color: var(--primaryColor);
}
.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.selected-bed-type {
	border-radius: 4px;
}

.ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost {
    margin: 0 1rem;
    padding: 5px 0;
}
.ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options .share-btn-wrapper #socials {
	z-index: 11;
}
@media only screen and (max-width: 991px) {
    .ihcl-theme .best-deal-cont-ihclcb {
        display: none;
    }
}
@media only screen and (max-width: 767px) {	
	.ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con,
	.ihcl-theme .ihclcb-center-align-mob,
	.ihcl-theme .confirmation-con .mini-footer-section {
	   text-align: center;
	}
	.ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con .text-con {
	   width: 100%;
	}
	.ihcl-theme #thank-you {
	   font-size: 1rem;
	   color: #000000;
	}
	.ihcl-theme .confirmation-con .confirmation-header,
	.ihcl-theme .confirmation-con .mini-footer-section,
	.ihcl-theme .confirmation-con .confirmation-details-con .guest-details-con,
	.ihcl-theme .confirmation-con .confirmation-details-con .hotel-details-con {
	   background-color: #ffffff;
	   padding: 1rem;
	}
	.ihcl-theme .confirmation-con .mini-footer-section .cm-btn-primary {
	   border-radius: 3px;
	}
	.ihcl-theme .confirmation-con .payment-details-section .summary-section {
	   background-color: #ffffff;
	}

	.ihcl-theme .confirmation-con .confirmation-details-con .chk-in-out-con {
        position: static;
	    width: 100%;
	}	
	.ihcl-theme #summaryTotalCharges {
	   font-family: "Calibri-Bold";
	}
	.ihcl-theme .confirmation-con .special-request-section .disclaimer,
	.ihcl-theme .icon-envelope:before {
	   font-size: 12px;
	}
	.ihcl-theme .confirmation-con .payment-details-section .summary-section.open-con-drpdwn {
	   background-color: rgba(168, 180, 187, 0.24);
	}
	.ihcl-theme .ho-contact-options-con {
	   flex-direction: column;
	}
	.ihcl-theme .ho-contact-options-con .ho-mail-to {
	   margin-left: 0;
	   margin-top: 10px;
	}
	.ihcl-theme .confirmation-con .payment-details-section .summary-section .summary-charges-item-con {
	   margin-top: 1.2rem;
	}
	.ihcl-theme .mob-drpdwn-cont-ihclcb .add-drpdwn-arrow-ihclcb,
	.ihcl-theme .confirmation-con .special-request-section {
	   position: relative;
	   margin-top: 0;
	}
	.ihcl-theme .mob-drpdwn-cont-ihclcb .add-drpdwn-arrow-ihclcb::after {
	   content: "\e928";
	   font-family: "icomoon";
	   font-size: 0.6rem;
	   color: var(--secondaryColor);
	   transition: all ease 0.3s;
	   position: absolute;
	   right: 0;
	   top: 8px;	   
	}
	.ihcl-theme .open-con-drpdwn .add-drpdwn-arrow-ihclcb::after {
	   transform: rotate(180deg);
	}		
    .ihcl-theme .confirmation-buttons-container {
        top: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
    }
    .ihcl-theme .confirmation-con .explore-more-btn {
        margin-left: 0;
        line-height: 2.8125rem;
    }
    .ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con {
        padding-bottom: 5rem;
    }
    .ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options {
        position: static;
        display: flex !important;
        justify-content: center;
        width: 100%;
    }
    .ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options div,
    .ihcl-theme .confirmation-con .confirmation-details-con .guest-details-con,
    .ihcl-theme .confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-con .content {
        border: none;
    }
    .ihcl-theme .itinerary-number {
        font-size: 0.85rem;
        margin-top: 1rem;
    }
    .ihcl-theme .mob-drpdwn-cont-ihclcb:not(.identification-container),
    .ihcl-theme .entity-acc-mob-ihclcb {
        padding: 1rem !important;
        background-color: #ffffff;
    }
    .ihcl-theme .mob-drpdwn-cont-ihclcb:not(.open-con-drpdwn) .add-drpdwn-arrow-ihclcb,
    .ihcl-theme .mob-drpdwn-cont-ihclcb,
    .ihcl-theme .confirmation-con .confirmation-details-con,
    .ihcl-theme .confirmation-con .confirmation-details-con .guest-details-con .content div,
    .ihcl-theme.checkout-confirmation-layout .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed .cart-room-bed-label,
    .ihcl-theme .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-cost-wrp .cart-room-cost,
    .ihcl-theme .confirmation-con .confirmation-details-con .guest-details-con .content {
        margin: 0;
    }
    .ihcl-theme.checkout-confirmation-layout .cart-selected-rooms-card .cart-selected-rooms-header .cart-room-details .cart-room-bed-type .cart-room-bed.selected-bed-type {
       margin-top: -0.6rem;
    }
    .ihcl-theme .confirmation-con .payment-details-section {
        padding: 0;
    }
    .ihcl-theme .confirmation-con .confirmation-details-con .booking-details-mobile .booking-details-heading i {
        top: 2px;
        right: -2px;
    }
    .ihcl-theme .share-btn-wrapper .share-options-list,
    .ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options div {
        height: auto;
    }
    .ihcl-theme .confirmation-con .mini-footer-section .edit-bkng-btn,
    .ihcl-theme .confirmation-con .confirmation-header::after,
    .ihcl-theme .ho-contact-options-con .ho-mail-to::after,
    .ihcl-theme .mob-drpdwn-cont-ihclcb > div:not(.add-drpdwn-arrow-ihclcb),
    .ihcl-theme .entity-acc-mob-ihclcb,
    .ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options > div:last-child,
    .ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options .share-options-list {
       display: none;
    }
    .ihcl-theme .mob-drpdwn-cont-ihclcb.open-con-drpdwn > div,
    .ihcl-theme .confirmation-selected-rooms-card .cart-selected-rooms-content .cart-selected-info-wrp,
    .ihcl-theme .confirmation-buttons-container .explore-more-btn,
    .ihcl-theme .confirmation-con .cancel-bkng-btn,
    .ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options .download-options-email,
    .ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options .share-btn-wrapper,
    .ihcl-theme .confirmation-con .confirmation-header .confirmation-text-con .text-con .download-options .share-btn-wrapper .jssocials-share {
       display: block;
    }	
}

