
.enroll-con {
    background-color: var(--primaryColorLighter);
    border-radius: 2px;
    padding: 25px 0 19px 0;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .enroll-con {
        text-align: center;
    }
}

.enroll-text-con {
    float: left;
    color: #4a4a4a;
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    margin-left: 32px;
    margin-left: 2rem;
}

.enroll-text-con div {
    display: inline-block;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .enroll-text-con div:last-child {
        vertical-align: middle;
        max-width: 16rem;
    }
}

@media only screen and (max-width: 375px) {
    .enroll-text-con div:last-child {
        max-width: 15rem;
    }
}

@media only screen and (max-width: 320px) {
    .enroll-text-con div:last-child {
        max-width: 12rem;
    }
}

.enroll-text-con img {
    height: 52px;
    width: 52px;
    margin-right: 12px;
    margin-right: 0.75rem;
}

.enroll-text-con .rupee-text {
    font-family: RupeeForadian;
}

.enroll-text-con span:last-child {
    font-family: Calibri-Bold;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .enroll-text-con {
        float: none;
        font-size: 1.25rem;
        margin-left: 0;
    }
}

@media only screen and (max-width: 375px) {
    .enroll-text-con {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 320px) {
    .enroll-text-con {
        font-size: 0.9375rem;
    }
}

.enroll-button {
    float: right;
    width: 348px;
    width: 12rem;
    margin-right: 25px;
    margin-right: 1rem;
    margin-top: 8px;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .enroll-button {
        float: none;
        margin-right: 0;
        margin-top: 26px;
        width: 100% !important;
    }
}

@media only screen and (max-width: 375px) {
    .enroll-button {
        width: 19.75rem;
    }
}

@media only screen and (max-width: 320px) {
    .enroll-button {
        width: 16.5rem;
    }
}