.hotel-overview-container {
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    min-height: 500px;
}

.hotel-overview-container .mr-carousel-Content-wrap {
    display: block;
}

@media only screen and (max-width: 991px) {
    .hotel-overview-container {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .hotel-overview-container {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.hotel-overview-wrapper {
    width: 96%;
    padding-top: 25px;
    padding-bottom: 35px;
}

.ho-single-img-con {
    margin-bottom: 26px !important;
}

.ho-multi-image img {
    height: 241px;
    height: 15.0625rem;
}

@media only screen and (max-width: 991px) {
    .overview-images-section {
        display: none;
    }
}

.overview-images-section [class*="col-"] {
    padding-right: 13px !important;
    padding-right: 0.8125rem !important;
    padding-left: 13px !important;
    padding-left: 0.8125rem !important;
}

@media only screen and (max-width: 767px) {
    .ho-services-show-all-con,
  .ho-services-show-less-con {
        display: none;
    }
}

.ho-services-show-txt {
    display: table;
}

.ho-services-each-wrap {
    display: table;
    width: 100%;
}

.ho-service-icon {
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
}

.view-photo-link-con {
    text-align: right;
    padding-right: 13px !important;
    padding-right: 0.8125rem !important;
    margin-bottom: 16px;
}

.ho-btns-section {
    margin-top: 16px;
}

.ho-btns-section .add-to-wishlist-btn {
    margin-right: 16px;
    vertical-align: top;
}

.ho-overview-description {
    color: #323232;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
}

@media only screen and (max-width: 320px) {
    .ho-overview-description {
        font-size: 0.75rem;
    }
}

.ho-header {
    font-family: Calibri-Bold;
    font-size: 36px;
    font-size: 2.25rem;
    line-height: initial;
}

@media only screen and (max-width: 991px) {
    .ho-header {
        font-size: 1.5rem;
    }
}

.ho-cm-link-txt {
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: normal;
    text-transform: none;
    margin-top: 4px;
    margin-top: 0.25rem;
    font-family: calibri;
}

@media only screen and (max-width: 375px) {
    .ho-cm-link-txt {
        font-size: 0.75rem;
    }
}

.ho-cm-icon {
    margin-right: 3px;
}

@media only screen and (max-width: 375px) {
    .ho-cm-icon {
        height: 14px;
        width: 14px;
    }
}

.ho-contact-options-con {
    margin: 12px 0;
    word-break: break-word;
}

.ho-contact-options-con .ho-mail-to {
    padding: 3px 5px 2px;
    position: relative;
    margin-left: 48px;
    margin-left: 3rem;
}

@media only screen and (max-width: 340px) {
    .ho-contact-options-con .ho-mail-to {
        margin-left: 2rem;
    }
}

.ho-contact-options-con .ho-mail-to:after {
    content: "";
    position: absolute;
    top: 8%;
    bottom: 8%;
    width: 1px;
    background-color: #c3c3c3;
    left: -25px;    
}

@media only screen and (max-width: 320px) {
    .ho-contact-options-con .ho-mail-to:after {
        left: -10px;
    }
}

.ho-header-small {
    font-family: Calibri-Bold;
    color: #323232;
    font-size: 20px;
    font-size: 1.25rem;
    margin-top: 25px;
    margin-bottom: 10px;
    line-height: initial;
}

@media only screen and (max-width: 991px) {
    .ho-header-small {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 320px) {
    .ho-header-small {
        font-size: 0.875rem;
    }
}

.ho-items-list {
    padding-left: 0;
}

.ho-items-list .ho-each-items {
    width: 32.5%;
    margin-bottom: 15px;
    vertical-align: top;
}

@media only screen and (max-width: 991px) {
    .ho-items-list .ho-each-items {
        width: 49%;
    }

    .ho-items-list .ho-each-items:last-child {
        margin-right: 1.625rem;
    }
}

@media only screen and (max-width: 320px) {
    .ho-items-list .ho-each-items {
        width: 100%;
    }
}

.ho-items-list .ho-service-name {
    font-family: Calibri;
    color: #323232;
    margin-left: 10px;
    margin-left: 0.625rem;
    font-size: 14px;
    font-size: 0.875rem;
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
    width: 80%;
}

@media only screen and (max-width: 320px) {
    .ho-items-list .ho-service-name {
        width: 85%;
    }
}

.ho-hotel-policies-con .ho-each-policy-list {
    font-family: Calibri;
    color: #323232;
    font-size: 16px;
    font-size: 1rem;
}

@media only screen and (max-width: 320px) {
    .ho-hotel-policies-con .ho-each-policy-list {
        font-size: 0.75rem;
    }
}

.ho-hotel-essentials-con {
  /*.ho-each-essential-item:after {
        content: "";
        position: absolute;
        height: 20px;
        width: 1px;
        background-color: #c3c3c3;
        right: -25px;
        bottom: 2px;
    };*/
}

.ho-hotel-essentials-con .ho-each-essential-item.normal-txt {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    color: #000;
    position: relative;
    border: none;
    padding-right: 0;
    margin-right: 0;
}

@media only screen and (max-width: 991px) {
    .ho-hotel-essentials-con .ho-each-essential-item.normal-txt {
        font-size: 0.875rem;
    }
}

.ho-hotel-essentials-con .ho-each-essential-item {
    border-right: 1px solid #000;
    padding-right: 8px;
    padding-right: 0.5rem;
    line-height: 1;
    margin-right: 4px;
    margin-right: 0.25rem;
}

@media only screen and (max-width: 991px) {
    .ho-hotel-essentials-con .ho-each-essential-item {
        font-size: 0.75rem;
    }
}

.ho-inner-carousal-cards {
    height: 195px;
    height: 12.1875rem;
}

.hotel-overview-carousel-wrap .cm-inner-carousal-cards:first-child {
    margin-left: 0 !important;
}

.ho-third-section {
    margin-top: 25px;
}

.ho-view-gallery-txt {
    margin-top: 14px;
}

.disabled .ho-mail-to-txt {
    color: #272727;
    font-size: 14px;
    font-size: 0.875rem;
}

//cart-final-prize

.cart-final-prize-con {
    position: relative;
}

.carts-book-now {
    float: right;
    width: 181px;
    width: 11.3125rem;
    margin-top: 6px;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .carts-book-now {
        width: 7.125rem;
    }
}

.total-prize-con {
    float: right;
    font-size: 24px;
    font-size: 1.5rem;
    font-family: Calibri;
    color: #979797;
    margin-right: 14px;
    margin-right: 0.875rem;
}

.total-prize-con div {
    float: left;
}

.total-prize-con div:first-child {
    margin-top: 6px;
}

.total-prize-con div:last-child {
    position: relative;
}

.total-prize-con span {
    font-family: Calibri-Bold;
    font-size: 32px;
    font-size: 2rem;
    color: #4a4a4a;
    margin: 0 12px;
    margin: 0 0.75rem;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .total-prize-con span {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 320px) {
    .total-prize-con span {
        font-size: 1.25rem;
        margin: 0 0.5rem;
    }
}

.total-prize-con span:first-child {
    font-family: RupeeForadian;
    font-size: 28px;
    font-size: 1.75rem;
    margin-right: 0;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .total-prize-con span:first-child {
        font-size: 1.25rem;
    }
}

.total-prize-con span:last-child {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    color: #323232;
    position: absolute;
    right: -6px;
    top: 0;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .total-prize-con span:last-child {
        top: -5px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .total-prize-con {
        font-size: 1rem;
        line-height: 20px;
        margin-right: 0;
        position: relative;
    }
}

.total-price-deal-section {
    float: right;
    margin-right: 14px;
    margin-right: 0.875rem;
    position: relative;
}

.total-price-deal-section .best-deal-banner {
    height: 25px;
    line-height: 30px;
    color: #fff;
    max-width: 130px;
    max-width: 8.125rem;
    position: absolute;
    right: 0;
    top: -16px;
}

.total-price-deal-section .best-deal-banner div {
    position: absolute;
    top: 4px;
    top: 0.3rem;
    width: 100%;
    text-align: center;
}

.total-price-deal-section .best-deal-desc {
    margin-top: 14px;
    max-width: 176px;
    max-width: 11rem;
    text-align: left;
    color: #272727;
    font-family: Calibri;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.15;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .total-price-deal-section {
        display: none;
    }
}

.total-price-back {
    color: var(--primaryColor);
    font-family: Calibri-Bold;
    cursor: pointer;
    padding-top: 13px;
    float: left;
}

.carts-add-room {
    width: 223px;
    width: 13.9375rem;
    margin-top: 6px;
    position: absolute;
    left: 0;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .carts-add-room {
        width: auto;
        border: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .carts-add-room {
        font-size: 0.75rem;
    }
}

//more-rate

.more-rate-card-container {
    margin-top: 14px;
}

@media only screen and (max-width: 767px) {
    .more-rate-card-container {
        margin: 14px 0 0;
    }
}

.more-rate-card {
    display: table;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .more-rate-card {
        display: block;
    }
}

.more-rate-card::before {
    width: 6px;
    width: 0.375rem;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    background-image: var(--linearGradient);
}

.more-rate-card .more-rate-amenities {
    width: 448px;
    width: 28rem;
    display: table-cell;
    vertical-align: top;
    padding: 26px 66px 26px 34px;
    padding: 1.625rem 4.125rem 1.625rem 2.125rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-amenities {
        padding: 1.125rem 1rem 1.1875rem 1.25rem;
        width: 65%;
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-amenities {
        width: 18rem;
    }
}

.more-rate-card .more-rate-amenities .more-rate-title {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #323232;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-amenities .more-rate-title {
        font-size: 1rem;
        line-height: 1.33;
        color: #000000;
    }
}

.more-rate-card .more-rate-amenities .more-rate-available-wrp {
    margin-top: 18px;
    margin-top: 1.125rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-amenities .more-rate-available-wrp {
        margin-top: 0.6875rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list {
        display: block;
        width: 100%;
        text-align: left !important;
        margin-bottom: 0.875rem !important;
    }

    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:last-child {
        margin-bottom: 0 !import ant;
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list {
        display: none;
        width: 100%;
        text-align: left !important;
        margin-bottom: 0.59375rem;
    }

    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:nth-child(1),
  .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:nth-child(2),
  .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:nth-child(3) {
        display: block;
    }

    .more-rate-card .more-rate-amenities .more-rate-available-wrp .amenities-avail-list:nth-child(3) {
        margin-bottom: 0;
    }
}

.more-rate-card .more-rate-info-wrp {
    display: table-cell;
    vertical-align: top;
    width: calc(100% - 29rem);
    padding: 23px 28px 37px;
    padding: 1.4375rem 1.75rem 2.3125rem;
    border-left: dashed 1px rgba(155, 155, 155, 0.6);
    border-left: dashed 0.09375rem rgba(155, 155, 155, 0.6);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-info-wrp {
        width: calc(100% - 19rem);
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp {
        width: 100%;
        border-left: none;
        border-top: dashed 0.09375rem rgba(155, 155, 155, 0.6);
        padding: 0.875rem 1.375rem 1.125rem;
        display: inline-block;
    }
}

.more-rate-card .more-rate-info-wrp .description-cancel-wrp {
    width: 477px;
    width: 29.8125rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-info-wrp .description-cancel-wrp {
        width: 57%;
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .description-cancel-wrp {
        width: 100%;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp {
    position: absolute;
    top: 13px;
    top: 0.8125rem;
    right: 16px;
    right: 1rem;
    float: right;
    text-align: right;
}

@media only screen and (max-width: 375px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp {
        top: 1.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .hide-on-mobile {
        display: none;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-info-label {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #272727;
    margin-bottom: 7px;
    margin-bottom: 0.4375rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-info-label {
        font-size: 0.875rem;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .last-few-rooms {
    margin-bottom: 22px;
    margin-bottom: 1.375rem;
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .last-few-rooms .last-few-rooms-icon {
    width: 22px;
    width: 1.375rem;
    height: 12px;
    height: 0.75rem;
    display: inline-block;
    vertical-align: middle;
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .last-few-rooms .last-few-room-text {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.29;
    color: #d0021b;
    margin-left: 4px;
    margin-left: 0.25rem;
}

@media only screen and (max-width: 480px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .more-rates-select-btn {
        width: 7.5rem;
    }
}

@media only screen and (max-width: 375px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .more-rates-select-btn {
        width: 7rem;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked {
    display: inline-block;
    vertical-align: middle;
    text-decoration: line-through;
    opacity: 0.58;
    font-family: RupeeForadian;
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
    padding-right: 5px;
    padding-right: 0.3125rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked {
        display: block;
        font-size: 0.98125rem;
        line-height: normal;
        padding-right: 0;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked span {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .rate-striked span {
        font-size: 1.125rem;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate {
    display: inline-block;
    vertical-align: middle;
    font-family: RupeeForadian;
    font-size: 28px;
    font-size: 1.75rem;
    color: #4a4a4a;
    margin-right: -8px;
    margin-right: -0.5rem;
}

@media only screen and (max-width: 767px) {
    .more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate {
        font-size: 1.53125rem;
        line-height: normal;
    }
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate span {
    font-family: Calibri-bold;
    font-size: 30px;
    font-size: 1.875rem;
}

.more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate .rate-asterik {
    font-size: 16px;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
}

.amenities-avail-list {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-bottom: 11px;
    margin-bottom: 0.6875rem;
}

.amenities-avail-list:nth-last-child(1),
.amenities-avail-list:nth-last-child(2) {
    margin-bottom: 0;
}

.amenities-avail-list:nth-child(even) {
    text-align: right;
}

.amenities-avail-list .amenities-list-icon {
    width: 22px;
    width: 1.375rem;
    height: 22px;
    height: 1.375rem;
    display: inline-block;
    vertical-align: middle;
}

.amenities-avail-list .amenities-list-label {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    color: #323232;
    margin-left: 5px;
    margin-left: 0.3125rem;
    width: calc(100% - 2rem);
    text-align: left;
}

.description-cancel-wrp {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #4a4a4a;
    display: inline-block;
    vertical-align: top;
    width: 771px;
    width: 48.1875rem;
}

@media only screen and (max-width: 767px) {
    .description-cancel-wrp {
        width: 100%;
    }
}

.description-cancel-wrp .rate-description {
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.description-cancel-wrp .bold-title {
    font-family: Calibri-bold;
}

.description-cancel-wrp .show-more-option {
    font-family: Calibri-bold;
    color: var(--primaryColor);
    cursor: pointer;
}

//cart-summary-card

.summary-card-wrap {
    display: table;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
}

.summary-room-details {
    display: table-cell;
    width: 61.8%;
    background: #fff;
    padding: 24px 32px 38px 34px;
    padding: 1.5rem 2rem 2.375rem 2.125rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-room-details {
        display: block;
        width: 100%;
        padding: 21px 1rem 21px 1rem;
    }
}

.summary-room-title {
    font-size: 35px;
    font-size: 2.1875rem;
    font-family: Calibri;
    color: #323232;
    position: relative;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.summary-room-title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 73px;
    background-color: var(--primaryColor);
    left: 5px;
    bottom: -10px;
}

.summary-room-title img {
    position: absolute;
    right: 12px;
    right: 0.8rem;
    top: 20px;
    top: 1.25rem;
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-room-title img {
        display: block;
    }
}

.summary-room-title .expanded {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.summary-room-mobile {
    color: #8d734a;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
    display: none;
}

.summary-room-mobile span {
    border-right: 1px solid #8d734a;
    margin-right: 10px;
    margin-right: 0.625rem;
    padding-right: 10px;
    padding-right: 0.625rem;
}

.summary-room-mobile span:last-child {
    border-right: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-room-mobile {
        display: block;
    }
}

@media only screen and (max-device-width: 320px) {
    .summary-room-mobile {
        font-size: 0.875rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-room-exp {
        display: none;
    }
}

.check-in-details,
.check-out-details {
    float: left;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
    color: #4a4a4a;
    min-width: 170px;
    min-width: 10.625rem;
}

.check-in-details div:first-child,
.check-out-details div:first-child {
    color: #272727;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .check-in-details,
  .check-out-details {
        min-width: 8rem;
    }
}

.selected-rooms-details .selected-room-detail {
    letter-spacing: 1px;
    margin-top: 26px;
    margin-top: 1.625rem;
    color: #4a4a4a;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
}

.selected-rooms-details .selected-room-detail img {
    width: 30px;
    width: 1.875rem;
    margin-right: 18px;
    margin-right: 1.125rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .selected-rooms-details .selected-room-detail img {
        margin-right: 0.3125rem;
    }
}

.selected-rooms-details .selected-room-detail .number-of-room {
    color: #b88d58;
    letter-spacing: 0.9px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .selected-rooms-details .selected-room-detail {
        font-size: 0.875rem;
        letter-spacing: 0.7px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .selected-rooms-details .selected-room-detail {
        font-size: 0.75rem;
    }
}

.summary-charges {
    display: table-cell;
    width: 38.2%;
    background: #fbf9f7;
    padding: 24px 44px 38px 31px;
    padding: 1.5rem 2.75rem 2.375rem 1.9375rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges {
        display: none;
        width: 100%;
        padding: 24px 0.7625rem 29.8px 0.844rem;
    }
}

.summary-charges-heading {
    font-family: Calibri-Bold;
    font-size: 24px;
    font-size: 1.5rem;
    color: #4a4a4a;
}

.summary-charges-item-con {
    width: 100%;
    position: relative;
    margin-top: 25px;
    margin-top: 1.5625rem;
}

.summary-charges-item-con .summary-charges-item-name {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri-Bold;
}

.summary-charges-item-con .summary-charges-item-name span {
    color: #272727;
    font-family: Calibri;
    margin-left: 5px;
    margin-left: 0.3125rem;
}

.summary-charges-item-con .summary-charges-item-name div {
    color: #272727;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 10px;
    line-height: 0.625rem;
}

.summary-charges-item-con .summary-charges-item-name input {
    border: solid 1px var(--primaryColorDark);
    height: 35px;
    height: 2.1875rem;
    line-height: 35px;
    width: 136px;
    width: 8.5rem;
    margin-left: 9px;
    margin-left: 0.5625rem;
    padding-left: 5px;
    padding-left: 0.3125rem;
    font-size: 14px;
    font-size: 0.875rem;
    color: #b1b1b1;
    font-family: Calibri;
    background: #fbf9f7;
}

.summary-charges-item-con .summary-charges-item-name input:focus {
    outline: none;
}

.summary-charges-item-con .summary-charges-item-name .input-disabled {
    border: dashed 1px var(--primaryColor);
    font-size: 18px;
    font-size: 1.125rem;
    color: var(--primaryColor) !important;
    background-color: #fff;
    width: 80px;
    width: 5rem;
    pointer-events: none;
}

.summary-charges-item-con .summary-charges-item-name .input-disabled::-webkit-input-placeholder {
    color: var(--primaryColor);
}

.summary-charges-item-con .summary-charges-item-name .input-disabled::-moz-placeholder {
    color: var(--primaryColor);
}

.summary-charges-item-con .summary-charges-item-name .input-disabled:-ms-input-placeholder {
    color: var(--primaryColor);
}

.summary-charges-item-con .summary-charges-item-name .input-disabled::placeholder {
    color: var(--primaryColor);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-item-name {
        font-size: 1rem;
    }
}

.summary-charges-item-con .summary-charges-item-value {
    position: absolute;
    right: 0;
    top: -3px;
    top: -0.1875rem;
    font-family: RupeeForadian;
    font-size: 20px;
    font-size: 1.25rem;
}

.summary-charges-item-con .summary-charges-item-value span {
    font-family: Calibri;
    font-size: 22px;
    font-size: 1.375rem;
    margin-left: 5px;
    margin-left: 0.3125rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-item-value span {
        font-size: 1.125rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-item-value {
        font-size: 1.09rem;
    }
}

.summary-charges-item-con .summary-charges-discount-value {
    display: none;
    position: absolute;
    right: 0;
    top: -3px;
    top: -0.1875rem;
    font-family: RupeeForadian;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primaryColor);
}

.summary-charges-item-con .summary-charges-discount-value span {
    font-family: Calibri-Bold;
    font-size: 22px;
    font-size: 1.375rem;
    margin-left: 5px;
    margin-left: 0.3125rem;
    color: var(--primaryColor);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-discount-value span {
        font-size: 1.125rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-discount-value {
        font-size: 1.09rem;
    }
}

.summary-charges-item-con:last-child .summary-charges-item-value span {
    font-family: Calibri-Bold;
}

.summary-charges-item-con:first-child {
    margin-top: 30px;
    margin-top: 1.875rem;
}