.global-warning {
	background: #ff0;
	font-size: 1.25rem;
	color: #666;
	line-height: 4rem;
	text-align: centre;
}

.confirm-fail-banner {
	color: #a52e34;
	font-size: 1rem;
	font-family: Calibri-Bold;
	text-align: centre;
}