<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.hotel-card-campaign,taj.hotels.components.participating-hotels-campaign,taj.hotels.warning.popup'}" />

<div class="package-rate-tab-content container">
    <div data-sly-use.hotelFilter="com.ihcl.core.models.HotelFilter">
        <div class="cm-content-blocks">
            <div class="participating-hotels-search-wrap search-package-hotels-container">
                <div class="search-input-section">
                    <input class="search-package-destination" type="text" placeholder="Search by City or State"
                        aria-label="Input Serach bar">
                    <div class="search-icon-wrap">
                        <img src="/content/dam/tajhotels/icons/style-icons/search-svg.svg" alt="search-icon">
                        <span class="search-icon-aligner-package"></span>
                    </div>
                    <ul class="search-input-suggestions-list"></ul>
                </div>
            </div>
        </div>
    </div>
    <!-- hotels list -->
    <div class="participating-hotels fix-participating-hotels cm-content-blocks"
        data-sly-use.hotelList="com.ihcl.core.models.campaigns.ParticipatingHotelListCampaign">
        <div class="row package-offer-hotel-details-blocks-wrp" data-sly-list.listItem="${hotelList.getHotelListMapData}">
            <div class="col-lg-6 offer-hotel-details-wrp">
                <div class="title-decorator-border cm-header-label-con">
                    <h2 class="cm-header-label">${listItem}</h2>
                </div>
                <div class="offer-hotel-details-cnt">
                    <div class="row package-offer-details-card-wrp"
                        data-sly-list.childlist="${hotelList.getHotelListMapData[listItem]}">
                        <sly
                            data-sly-resource="${ '{0}/jcr:content' @ format=[childlist], resourceType='tajhotels/components/content/campaign/hotel-card' }">
                        </sly>
                    </div>
                </div>
                <div class="jiva-spa-show-more package-hotel-card-show-more">
                    SHOW MORE <img
                        src="/etc.clientlibs/tajhotels/components/structure/tajhotels-base-page/clientlib/resources/images/dropDown.svg"
                        alt="dropdown-icon" />
                </div>
            </div>
        </div>
    </div>
</div>