 <sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.meetings-list'}" />
<sly
            data-sly-use.serviceAmenitiesModel="${'com.ihcl.core.models.serviceamenity.GroupedServiceAmenitiesFetcher' @ componentPath='tajhotels/components/content/meeting-event-details'}" />

<div class="col-lg-12 col-md-12 col-sm-12 events-card-wrap"
    data-sly-use.model="com.ihcl.core.models.MeetingEventModel"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" data-location=${model.location} data-venuetypes=${model.venueTypes} data-capacity=${model.roomCapacity} >
    <div class="events-card-container clearfix">
        <div class="events-img-con">
            <sly data-sly-list.galleryImages="${model.galleryImagePaths.toString}">
                <sly data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=galleryImages}" data-sly-list="${firstImage.options}">
                    <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"/>
                    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=item, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true'}"></sly>
                </sly>
            </sly>

            <div class="events-view-photos" tabindex = "0" data-dialog-btn = "galleryCarousel" onclick="showGallery(this)"
                data-gallery-images="${model.galleryImagePaths.toString}">
                <img src="/content/dam/tajhotels/icons/style-icons/lightbox.svg" alt = "lightbox icon"/>
                <span>VIEW PHOTOS (${model.galleryImagePaths.size})</span>
            </div>
        </div>

        <div class="events-details-con">
            <div class="events-card-heading-section clearfix">
                <div class="events-card-heading"><h2>${model.roomTitle}</h2>
				<p style="font-size: 18px;">~${model.hotelName}</p>
                </div>
                <div class="events-card-capacity">Max Capacity :
                    ${model.roomCapacity}</div>
            </div>
            
            <sly data-sly-test="${model.roomTheme}">
                   <div class="events-card-theme">"${model.roomTheme}"</div>
             </sly>
            
            <!-- <div class="events-card-theme">"${model.roomTheme}"</div> -->
            <div class="events-card-desc">${model.roomLongDescription}</div>
            <div class="events-card-details-section clearfix">
                <div class="events-card-dimension-con">
                    <div data-sly-test="${model.roomBuilt || model.roomRenovated || model.airportDistance}">
                        <sly data-sly-test="${model.roomBuilt}">
                        <span class="heading">Built:</span> <span class="details">${model.roomBuilt}</span>
                        <span class="sperator">|</span>
                            </sly>
                        <sly data-sly-test="${model.roomRenovated}">    
                        <span class="heading" >Renovated:</span>
                        <span class="details">${model.roomRenovated}</span> <span
                            class="seperator" >|</span>
                        </sly>
                        <sly  data-sly-test="${model.airportDistance}">
                            <span class="heading">Distance
                            from Airport:</span> <span class="details">${model.airportDistance}</span>
                        </sly>
                    </div>
                    <div>
                        
                        <span class="heading">Dimension:</span> <span class="details">${model.roomDimension ? model.roomDimension : 'NA'}
                        </span> <span class="sperator">|</span>
                        
                        <span class="heading">Area:</span>
                        <span class="details">${model.roomArea ? model.roomArea : 'NA'}</span>
                        <span
                            class="sperator">|</span> <span class="heading">Height:</span> <span
                            class="details">${model.roomHeight ? model.roomHeight : 'NA'}</span>
                        
                        <div>
                            <span class="heading">Guest Entry Point:</span> <span
                                class="details">${model.guestEntry ? model.guestEntry : 'NA'}</span>
                        </div>
                        
                    </div>
                </div>
                <div class="events-card-other-details-con">
                    <div class="event-card-other-heading-con clearfix">
                        <div class="event-card-other-heading">SEATING STYLE</div>
					<sly  data-sly-test="${model.moreSeating != 'NA'}">
                        <button class="cm-btn-primary" type="button" id="showMoreSeating" >Show more<i class="inline-block icon-drop-down-arrow"></i></button>
                        <div id="displayContent" style="display:none"></div>
                        <div id="moreSeatingContent" class="events-card-other-details-sub moreSeatingContent" style="display:none">
                            <div class="events-card-other-details clearfix">
                                ${model.moreSeating @ context = 'html'}
                            </div>
                        </div>
					</sly>
<!--
                        <div class="events-card-other-show-more">
                            <span class="events-card-other-show-more-text">Show More</span><span class="events-card-other-show-more-text cm-hide">Show Less</span><i class="inline-block icon-drop-down-arrow"></i>
                        </div>
-->
                    </div>
                    <div class="events-card-other-details clearfix">

                            <div class="events-card-other-details-sub">
                                <i class="icon-seating-theatre"></i>                                
                                <span>Theatre : ${model.theatreCapacity}</span>
                            </div>
                            <div class="events-card-other-details-sub">
                                <i class="icon-seating-circular"></i>
                                <span>Circular : ${model.circularCapacity}</span>
                            </div>
                                               
                            <div class="events-card-other-details-sub">
                                <i class="icon-seating-u"></i>
                                <span>U Shaped : ${model.uCapacity}</span>
                            </div>
                            <div class="events-card-other-details-sub">
                                <i class="icon-seating-boardroom"></i>
                                <span>Boardroom : ${model.boardroomCapacity}</span>
                            </div>
                            <div class="events-card-other-details-sub">
                                <i class="icon-seating-classroom"></i>
                                <span>Classroom : ${model.classroomCapacity}</span>
                            </div>
                            <div class="events-card-other-details-sub">
                                <i class="icon-seating-reception"></i>                                
                                <span>Reception : ${model.reception}</span>
                        	</div>
                    </div>
                </div>
            </div>
            <div class="events-card-button-section clearfix">
                <sly data-sly-test="${serviceAmenitiesModel.getSizeOfOtherConveniences > 0  || serviceAmenitiesModel.getSizeOfBedAndBathAmenities > 0 || serviceAmenitiesModel.getSizeOfWellnessAmenities > 0 || serviceAmenitiesModel.getSizeOfSuiteFeatures > 0 || serviceAmenitiesModel.getSizeOfHotelFacilities > 0}">
                    <button class="cm-btn-primary events-cards-view-amenities-btn" tabindex="0" data-view-all-amentities = "open">
                        VIEW DETAILS<i class="inline-block icon-drop-down-arrow"></i>
                    </button>
                </sly>
                <a class="events-cards-request-btn" href="${inheritedPageProperties.meetingRequestQuotePath}.html?hotelName=${model.urlParamHotelName}&venueName=${model.roomTitle}&requestQuoteMailId=${model.requestQuoteEmailId}" onclick="setRequestQuoteSessionObj('${model.roomTitle @ context='scriptString'}','${model.hotelName @ context='scriptString'}','${model.roomCapacity @ context='scriptString'}','${model.requestQuoteEmailId @ context='scriptString'}')">
                    <button class="cm-btn-secondary">REQUEST QUOTE</button>
                </a>
            </div>
        </div>
    </div>
    <div class="event-expansion-con">
        
        <!-- <div class="events-services-section">
            <div
                data-sly-test="${serviceAmenitiesModel.getSizeOfAllAmenities > 0 }">
                <div class="heading">ALL AMENITIES</div>
                <ul class="details"
                    data-sly-list.allAmenity="${serviceAmenitiesModel.AllAmenities}">
                    <sly
                        data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=allAmenity}" />

                    <li>- ${serviceAmenitiesProperties.name}</li>
                </ul>
            </div> -->
            <div
                data-sly-test="${serviceAmenitiesModel.getSizeOfOtherConveniences > 0 }">
                <div class="heading">OTHER CONVENIENCES</div>
                <div class="details">
                    <sly
                        data-sly-list.otherAmenity="${serviceAmenitiesModel.OtherConveniences}">
                    <sly
                        data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=otherAmenity}" />

                    <ul>
                        <li>- ${serviceAmenitiesProperties.name}</li>
                    </ul>
                    </sly>
                </div>
            </div>
        <div class="events-services-entertainment-section">
            <div
                data-sly-test="${serviceAmenitiesModel.getSizeOfBedAndBathAmenities > 0 }">
                <div class="heading">BED & BATH</div>
                <div class="detials">
                    <sly
                        data-sly-list.bedAmenity="${serviceAmenitiesModel.BedAndBathAmenities}">
                    <sly
                        data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=bedAmenity}" />

                    <ul>
                        <li>- ${serviceAmenitiesProperties.name}</li>
                    </ul>
                    </sly>
                </div>
            </div>
            <div
                data-sly-test="${serviceAmenitiesModel.getSizeOfWellnessAmenities > 0 }">
                <div class="heading">WELNESS AMENITIES</div>
                <div class="details">
                    <sly
                        data-sly-list.wellnessAmenity="${serviceAmenitiesModel.WellnessAmenities}">
                    <sly
                        data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=wellnessAmenity}" />

                    <ul>
                        <li>- ${serviceAmenitiesProperties.name}</li>
                    </ul>
                    </sly>
                </div>
            </div>
            <div
                data-sly-test="${serviceAmenitiesModel.getSizeOfSuiteFeatures > 0 }">
                <div class="heading">SUITE FEATURES</div>
                <div class="details">
                    <sly
                        data-sly-list.suiteFeatures="${serviceAmenitiesModel.SuiteFeatures}">
                    <sly
                        data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=suiteFeatures}" />

                    <ul>
                        <li>- ${serviceAmenitiesProperties.name}</li>
                    </ul>
                    </sly>
                </div>
            </div>
            <div
                data-sly-test="${serviceAmenitiesModel.getSizeOfHotelFacilities > 0 }">
                <div class="heading">HOTEL FACILITIES</div>
                <div class="details">
                    <sly
                        data-sly-list.hotelFacilities="${serviceAmenitiesModel.HotelFacilities}">
                    <sly
                        data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=hotelFacilities}" />

                    <ul>
                        <li>- ${serviceAmenitiesProperties.name}</li>
                    </ul>
                    </sly>
                </div>
            </div>
        </div>
        <sly data-sly-test="${(serviceAmenitiesModel.getSizeOfHotelFacilities > 0) || (serviceAmenitiesModel.getSizeOfSuiteFeatures > 0 ) || (serviceAmenitiesModel.getSizeOfWellnessAmenities > 0 ) || (serviceAmenitiesModel.getSizeOfBedAndBathAmenities > 0)}">
        <div class="events-exp-show-more">Show More</div>
        </sly>
    </div>
    <div style="display: none;" class="size">${model.size}</div>
    <div style="display: none;" class="capacity">${model.capacity}</div>
    <div style="display: none;" class="location">${model.location}</div>
</div>
