<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.genericrequestquote'}" />
<sly data-sly-use.urlMapLeadGen="${'url-map.js' @ reqUrl=properties.meetingLeadGenLink}" />
<sly data-sly-use.urlMapLeadError="${'url-map.js' @ reqUrl=properties.meetingLeadGenErrorLink}" />

<input type="hidden" id="adminEmail" value="${properties.adminEmail}">
<input type="hidden" id="contentPath" value="${inheritedPageProperties.siteConfigHomePath}">
<input type="hidden" id="isGeneric" value="true">

<div class="hotels-event-request-quote">
    <div class="generic-back-link">
        <a href="javascript: history.go(-1)"> < Back</a>
    </div>
    <form class="generic-req-quote-form event-request-quote-form mr-sub-form">
        <div class="request-quote-form-title">Request for Quote</div>
        <div class="row mr-sub-form-row generic-form">
            <div class="col-md-4 col-12 sub-form-input-wrp" id="typeDropDown">
                <div class="sub-form-input-label">Destination*</div>
                <div class="selectSubContainer">
                    <select aria-label="Select Destination of the Event" name="event-type" id="event-type"
                        class="sub-form-input-element">
                        <option value="">Any Destination</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp" id="itemDropDown">
                <div class="sub-form-input-label">Hotel</div>
                <div class="selectSubContainer">
                    <select aria-label="Select Hotel of the Event" name="event-items" id="event-items"
                        class="sub-form-input-element">
                        <option value="">Any Hotel</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Event Type</div>
                <div class="selectSubContainer">
                    <select class="only-numeric-input sub-form-input-element" aria-label="Enter Number of Guests"
                        id="meeting-events-type">
                        <option value="Social Event">Social Event</option>
                        <option value="Business">Business</option>
                        <option value="Wedding">Wedding</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Preferred Arrival Date*</div>
                <div class="jiva-spa-date-section preferred-date-input-wrp">
                    <div class="jiva-spa-date-con event-quote-date-con">
                        <input class="event-quote-arrival-date-value sub-form-input-element sub-form-mandatory" type="text"
                            placeholder="Arrival Date" aria-label="Enter Preferred Arrival Date" value=""
                            disabled="disabled" id="event-quote-arrival-date-value" />
                        <div class="sub-form-input-warning"></div>
                        <span class="icon-calendar-check-availability preferred-date-calendar-icon"></span>
                    </div>
                    <div class="jiva-spa-date" id="meeting-events-arrival-date"></div>
                </div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Preferred Departure Date*</div>
                <div class="jiva-spa-date-section preferred-date-input-wrp">
                    <div class="jiva-spa-date-con event-quote-date-con">
                        <input class="event-quote-departure-date-value sub-form-input-element sub-form-mandatory"
                            type="text" placeholder="Departure Date" aria-label="Enter Preferred Departure Date" value=""
                            disabled="disabled" id="event-quote-departure-date-value" />
                        <div class="sub-form-input-warning"></div>
                        <span class="icon-calendar-check-availability preferred-date-calendar-icon"></span>
                    </div>
                    <div class="jiva-spa-date" id="meeting-events-departure-date"></div>
                </div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp">
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Full Name*</div>
                <input class="only-alpha-input sub-form-input-element sub-form-mandatory" type="text" id="customer-name"
                    aria-label="Enter Full Name" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Mobile*</div>
                <div class="row phone-number-row">
                    <div class="col-12 phone-number-col">
                        <input class="only-numeric-input limit-phone-number sub-form-input-element sub-form-mandatory"
                            aria-label="Enter Phone Number" type="tel" id="phone-Number" />
                        <div class="sub-form-input-warning"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Email*</div>
                <input class="email-input sub-form-input-element sub-form-mandatory" type="text" id="customer-email-id"
                    aria-label="Enter Email" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Number of Rooms*</div>
                <input class="only-numeric-input limit-no-of-guest sub-form-input-element sub-form-mandatory" type="number"
                    aria-label="Enter Number of Rooms" id="meeting-events-rooms" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Number of Guests*</div>
                <div class="selectSubContainer">
                    <select class="only-numeric-input limit-no-of-guest sub-form-input-element"
                        aria-label="Enter Number of Guests" id="meeting-events-guest">
                        <option value="0 - 50">0 - 50</option>
                        <option value="50 - 100">50 - 100</option>
                        <option value="100 - 200">100 - 200</option>
                        <option value="More than 200">More than 200</option>
                    </select>
                </div>
            </div>
            <!--<div class="col-md-4 col-6 sub-form-input-wrp">
                <div class="sub-form-input-label">Number of Single Rooms</div>
                <input class="only-numeric-input limit-no-of-guest sub-form-input-element" type="number"
                    aria-label="Enter Number of Single Rooms" id="meeting-events-single-rooms" />
            </div>
            <div class="col-md-4 col-6 sub-form-input-wrp">
                <div class="sub-form-input-label">Number of Double Rooms</div>
                <input class="only-numeric-input limit-no-of-guest sub-form-input-element" type="number"
                    aria-label="Enter Number of Double Rooms" id="meeting-events-double-rooms" />
            </div>
            <div class="col-md-4 col-6 sub-form-input-wrp">
                <div class="sub-form-input-label">Number of Triple Rooms</div>
                <input class="only-numeric-input limit-no-of-guest sub-form-input-element" type="number"
                    aria-label="Enter Number of Triple Rooms" id="meeting-events-triple-rooms" />
            </div>
              <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Tentative Budget Indication*</div>
                <input class="sub-form-input-element sub-form-mandatory" type="text" id="tentative-budget"
                    aria-label="Enter Tentative Indication" />
                <div class="sub-form-input-warning"></div>
            </div> -->
            <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Special Requests (Optional)</div>
                <input class="sub-form-input-element" type="text" id="special-requests" aria-label="Special Requests" />
            </div>
        </div>
        <div class="request-quote-submit-wrapper">
            <div class="mandatory-text">* Mandatory</div>
            <div data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
            <input type="hidden" class="request-quote-conf-link" value="${urlMapLeadGen.mappedUrl @ context='text'}"
                aria-hidden="true" />
            <input type="hidden" class="request-quote-error-link" value="${urlMapLeadError.mappedUrl @ context='text'}"
                aria-hidden="true" />
            <button class="cm-btn-secondary request-quote-submit-btn pay-now-button" type="button">SUBMIT</button>
            <div class="pg-spinner-con">
                <div class="taj-loader pg-spinner-wrap">
                    <div class="taj-loader-circle"></div>
                    <div class="taj-loader-circle"></div>
                    <div class="taj-loader-circle"></div>
                </div>
            </div>
        </div>
    </form>
</div>