<sly data-sly-test="${properties.isGeneric}">
    <sly data-sly-include="generic-meeting-request-quote.html" />
</sly>
<sly data-sly-test="${!properties.isGeneric}">
    <sly data-sly-include="venue-meeting-request-quote.html" />
</sly>