<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.meetingrequestquote'}" />
<sly data-sly-use.urlMapLeadGen="${'url-map.js' @ reqUrl=properties.meetingLeadGenLink}" />
<sly data-sly-use.urlMapLeadError="${'url-map.js' @ reqUrl=properties.meetingLeadGenErrorLink}" />
<input type="hidden" id="adminEmail" value="${properties.adminEmail}">
<div class="hotels-event-request-quote">
    <div class="generic-back-link">
        <a href="javascript: history.go(-1)"> < Back</a>
    </div>
    <form class="event-request-quote-form mr-sub-form">
        <div class="request-quote-form-title">
            Request for Quote <a class="request-quote-close-btn" href="javascript: history.go(-1)"> <i
                class="icon-close"></i>
            </a>
        </div>
        <div class="row mr-sub-form-row">
            <div class="col-md-6 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Venue*</div>
                <div class="venue-search-input-wrp">
                    <input type="hidden" id="hotel-email-id" aria-hidden="true" />
                    <input class="venue-search-input sub-form-input-element sub-form-mandatory" type="text"
                        placeholder="Search for Hotel or City" id=searchInputEvents aria-label="Hotel Serach Bar" readonly />
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="venue-search-suggestions-wrp">
                    <ul class="meeting-events-search-list jiva-spa-search-list"></ul>
                </div>
            </div>
            <div class="col-md-3 col-6 sub-form-input-wrp">
                <div class="sub-form-input-label">Preferred Date*</div>
                <div class="jiva-spa-date-section preferred-date-input-wrp">
                    <div class="jiva-spa-date-con event-quote-date-con">
                        <input class="event-quote-date-value sub-form-input-element sub-form-mandatory" type="text"
                            placeholder="Date" aria-label="Enter Preferred Date" value="" disabled="disabled"
                            id="event-quote-date-value" />
                        <div class="sub-form-input-warning"></div>
                        <span class="icon-calendar-check-availability preferred-date-calendar-icon"></span>
                    </div>
                    <div class="jiva-spa-date" id="meeting-events-date"></div>
                </div>
            </div>
            <div class="col-md-3 col-6 sub-form-input-wrp">
                <div class="sub-form-input-label">Number of Guests*</div>
                <input class="only-numeric-input limit-no-of-guest sub-form-input-element sub-form-mandatory" type="number"
                    aria-label="Enter Number of Guests" id="meeting-events-guest" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Full Name*</div>
                <input class="only-alpha-input sub-form-input-element sub-form-mandatory" type="text" id="customer-name"
                    aria-label="Enter Full Name" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Mobile*</div>
                <div class="row phone-number-row">
                    <div class="col-12 phone-number-col">
                        <input class="only-numeric-input limit-phone-number sub-form-input-element sub-form-mandatory"
                            aria-label="Enter Phone Number" type="tel" id="phone-Number" />
                        <div class="sub-form-input-warning"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Email*</div>
                <input class="email-input sub-form-input-element sub-form-mandatory" type="text" id="customer-email-id"
                    aria-label="Enter Email" />
                <div class="sub-form-input-warning"></div>
            </div>
            <div class="col-md-3 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Time of the Event*</div>
                    <div class="selectSubContainer" style="width: 154px;">
                        <select aria-label="Enter Time of the Event" name="event-time-slot" id="event-time-slot" class="timeslot-input sub-form-input-element">
                        <!--    <option value="">Select</option>-->
                            <option value="0900 to 1800 hrs">0900 to 1800 hrs</option>
                            <option value="1900 to 2345 hrs">1900 to 2345 hrs</option>
                            <option value="0900 to 2345 hrs">0900 to 2345 hrs</option>
                        </select>
                    </div>
                <div class="sub-form-input-warning"></div>
            </div>

            <div class="col-md-3 col-12 sub-form-input-wrp">
                <div class="sub-form-input-label">Purpose of the Event*</div>
                    <div class="selectSubContainer" style="width: 154px;">
                        <select aria-label="Enter Purpose of the Event" name="event-purpose" id="event-purpose" class="purpose-input sub-form-input-element">
                            <!--<option>Select</option>-->
                            <option>Wedding</option>
                            <option>Conference</option>
                            <option>Social event</option>
                            <option>Meeting</option>
                        </select>
                    </div>
                <div class="sub-form-input-warning"></div>
            </div>

        </div>
        <div class="request-quote-submit-wrapper">
            <div class="mandatory-text">* Mandatory</div>
            <input type="hidden" class="request-quote-conf-link" value="${urlMapLeadGen.mappedUrl @ context='text'}"
                aria-hidden="true" />
            <input type="hidden" class="request-quote-error-link" value="${urlMapLeadError.mappedUrl @ context='text'}"
                aria-hidden="true" />
            <button class="cm-btn-secondary request-quote-submit-btn pay-now-button" type="button">SUBMIT</button>
            <div class="pg-spinner-con">
                <div class="taj-loader pg-spinner-wrap">
                    <div class="taj-loader-circle"></div>
                    <div class="taj-loader-circle"></div>
                    <div class="taj-loader-circle"></div>
                </div>
            </div>
        </div>
        <div data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
    </form>
</div>