<div data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
	data-sly-use.template="core/wcm/components/commons/v1/templates.html">
	<div data-sly-test="${wcmmode.edit}">Holiday Destinations</div>
	<div class="destination-container cm-content-blocks">
		<div class="popu-dest-cont-wrapper">
			<!--<div class="no-results-found" id="dest-no-result">No Results Found</div>-->
			<div data-sly-list.listItem="${list.items}">
				<sly data-sly-resource="${'{0}/jcr:content' @ format=[listItem.path], resourceType='/apps/tajhotels/components/content/amp/holidays/holiday-destinations/holiday-destination-card'}"></sly>
			</div>
		</div>
	</div>
	</div>
</div>
