<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='tajhotels.package-hotel-list'}"/>
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">

<div class="gallery-carousel-container">
	<div data-sly-resource="${ '{0}' @  resourceType='tajhotels/components/content/gallery-carousel' }"></div>
</div>

<sly  data-sly-use.model="com.ihcl.core.models.holidays.packages.IHolidayPackages"/>
<div class="incredible-escape-hotel-card-container" data-sly-list.listItem="${model.hotelDetails}">

<div class="incredible-escape-hotel-card col-12" >
    <sly data-sly-test.galleryModel="${listItem.HotelImages.toString}"/>
    	<div class="incredible-escape-hotel-view-all" data-gallery-images=${galleryModel} onclick="showGallery(this)">VIEW ALL</div>

<div class="isCityHotel" style="display:none" value="${listItem.isCityHotel}">${listItem.isCityHotel}</div>
<div class="hotelId" style="display:none" value="${listItem.hotelId}">${listItem.hotelId}</div>
<div class="requiredHotel" style="display:none" value="${listItem.requiredHotel}">${listItem.requiredHotel}</div>
<div class="roomCode" style="display:none" value="${listItem.roomCode}">${listItem.roomCode}</div>
<div class="category" style="display:none" value="${listItem.category}">${listItem.category}</div>

    <div class="incredible-escape-hotel-card-title">${listItem.HotelName}, ${listItem.HotelCity}</div>
    <div class="row">
        <div class="col-12 col-md-6 incredible-escape-hotel-content">
            <div class="incredible-hotel-destination"><img class="destination-icon" src="/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg" alt = "location-icon-brown" /><a target="_blank" itemprop="hasMap" href="https://www.google.com/maps/search/?api=1&amp;query=${listItem.hotelLatitude},${listItem.hotelLongitude}"><span class="link-text">${listItem.HotelAreaName}, ${listItem.StateName}</span></a></div>
            <div class="incredible-hotel-phone-number"><img class="phone-ic" src="/content/dam/tajhotels/icons/style-icons/phone-enabled.svg" alt  = "phone-enabled-icon"/><span>${listItem.PhoneStdCode} ${listItem.HotelPhone}</span></div>
            <div class="incredible-hotel-email-id"><img class="email-ic" src="/content/dam/tajhotels/icons/style-icons/envelope.svg" alt  = "envelope-icon"/><a href="mailto:${listItem.HotelEmail}" class="emailhref">${listItem.HotelEmail}</a></div>
            <div class="incredible-superior-info">${listItem.RoomTitle}</div>
            <div class="row incredible-hotel-description">
                <div class="placeholder-title-wrap">
                    <div class="placeholder-title">${listItem.HotelDescription}</div>
                </div>
            </div>
            <div class="incredible-hotel-select-package-wrp">
                <div class="mr-Filter-checkbox-wrap">
                    <label class="mr-filterCheckBox-label checkbox-inline">
                        <input class="mr-filter-checkbox" type="checkbox" name="select-package-checkbox" value="${listItem.HotelName} (${listItem.HotelCity})" onclick="addDetails()" aria-label = "Select Hotel Package"/>
                        <span class="mr-inputCustomShape"></span>Select Hotel</label>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 incredible-escape-hotel-photos">
			<div class="row incredible-escape-photos-row" data-sly-list.galleryImages="${listItem.firstThreeImages}">
				<div class="col-10 col-md-4 incredible-escape-photos-col">
                   <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=galleryImages,  lazyload='true', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"/>
                </div>
             </div>
        </div>
    </div>
</div>
</div>