<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.bookHotelConfirmation'}" />

<div class="cm-content-blocks">
    <div class="confirmation-con"> 
    <input type="hidden" id="siteId" value="${inheritedPageProperties.websiteid}" aria-hidden = "true"/>
    <input type="hidden" id="hotelChainCode" value="${properties.hotelChainCode}" aria-hidden = "true"/>
    <input type="hidden" id="hotelSubstring" value="${properties.hotelSubstring}" aria-hidden = "true"/>  
    <input type="hidden" id="paidGuaranteeAmountLabel" value=${properties.paidGuaranteeAmountLabel} aria-hidden = "true"/>
    <input type="hidden" id="toBePaidAtHotelAmountLabel" value="${properties.toBePaidAtHotelLabel}" aria-hidden = "true"/>
             
        <div class="confirmation-header">
            <div class="confirmation-text-con">
                <div class="expan-img">
                    <i class="icon-expan-icon inline-block" ></i>
                </div>
                <div id="tickstatus" class="img-con">                    
                    <span class="icon-confirmation-tick inline-block">
                        <span class="path1"></span><span class="path2"></span>
                    </span>
                </div>
                <div class="text-con">
                    <div class="confirmation-text">
                        <div id="bookingStatus" class="hide-in-find-reservation"></div>
                        <div id='thank-you'>
                            <span class="hide-in-find-reservation">Thank you</span>
                            <span id="title"></span><span id="name"></span><span class="show-in-find-reservation" style="display:none">, Your Itinerary.</span>                            
                        </div>
                        </div>
                    <div class="download-options">
                        <div class="download-options-email inline-block pointer">
                            <i class="icon-envelope" ></i>
                            <span>Email</span>
                        </div>
                        <div class="download-options-print" onclick="window.print()">
                            <i class="icon-print inline-block"></i>
                            <span>Print</span>
                        </div>
                        <div style="display: none;">
                            <i class="icon-calendar-check-availability inline-block"></i>
                            <span>Add to calendar</span>
                        </div>
                        <div class="share-btn-wrapper" data-share-text="${properties.sharetext}">
                            <span class="share-btn-js">
                                <i class="icon-share inline-block"></i>
                                <span>Share</span>
                            </span>  
                            <div id="socials" class="share-options-list  share-btn-list-with-label">
                             </div>                          
                        </div>
                        <div class="hide-in-lg">
                            <i class="icon-edit inline-block"></i>
                            <span>Edit Booking</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="identification-container">
                <div class="iden-heading">IDENTIFICATION REQUIRED</div>
                <div class="iden-content clearfix">
                    <div>
                        <div>Driving License |</div>
                        <div>Voter ID Card |</div>
                        <div>Aadhaar Card |</div>
                    </div>
                    <div class="container-mobile-align">
                        <div>Bank Pass Book with Photograph |</div>
                        <div>Passport and valid visa</div>
                        <div class="dimmed-text">(mandatory for foreign nationals)</div>
                    </div>
                </div>
            </div>
            <div class="confirmation-buttons-container">
                <div class="inline-block cm-btn-primary edit-bkng-btn modify-booking-link modify-redirect-to-hotel-room" data-modify="modifyAddRoom" tabindex="0" role = "button">ADD ROOM</div>
                <a class="inline-block" data-redirect="exploremore" href=""><div class="cm-btn-primary explore-more-btn">EXPLORE MORE</div></a>        
                <div class="inline-block open-cancel-reservation"><div class="cm-btn-primary cancel-bkng-btn">CANCEL BOOKING</div></div>
            </div> 
        </div>
        <div class="confirmation-details-con">
            <div class="booking-details-mobile">
                <div class="booking-details-heading">
                    <div>Booking Details</div>
                    <i class="icon-drop-down-arrow"></i>
                </div>
                <div class="booking-details-con">
                    <div class="content">
                        <span id="sm-guestname"></span>
                        <span id="sm-guestphone"></span>
                    </div>
                    <div class="heading">
                        <span id="sm-hotelName"></span>
                    </div>
                    <div class="chk-con">
                        <span class="modify-booking-link modify-redirect-to-hotel-room" data-modify="modifyDate" tabindex="0" role = "button"><i class="icon-edit"></i> Edit</span>                        
                        <div class="ckn-in-con">
                            <div class="checkInTime">Check-in(2pm)</div>
                            <div id="sm-checkin-date"></div>
                        </div>
                        <div class="ckn-in-con">
                            <div class="checkOutTime">Check-out(12pm)</div>
                            <div id="sm-checkout-date"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="guest-details-con">
                <div class="heading">Guest Details</div>
                <div class="content">
                    <div>
                        <span id="guestname"></span>
                    </div>
                    <div>
                        <span id="email"></span>
                    </div>
                    <div>
                        <span id="mobile"></span>
                    </div>
                    <div id="membershipNumberSection" class="d-none">
                        <span id="guestMembershipNumber"></span>
                        <span>(Membership No.)</span>
                    </div>
                    <a class="modify-booking-link" data-modify="modifyGuest" href="/content/tajhotels/en-in/booking-checkout.html"><i class="icon-edit"></i> Edit</a>                    
                </div>
            </div>
            <div class="hotel-details-con">
                <div class="heading">
                    <span id="hotelName"></span>
                </div>
                <div class="content">
                    <div class="ho-contact-options-con d-flex">
                        <a class="ho-contact-number hide-in-lg" href="" id="hotelPhoneHRef">
                            <i class="icon-phone-enabled ho-cm-icon ho-contact-icon inline-block"></i>
                            <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" id="sm-hotelphone">
                                </div>
                        </a>
                        <div class="ho-contact-number hide-in-sm hide-in-md disabled"> 
                            <i class="ho-cm-icon ho-contact-icon inline-block icon-phone-disabled"></i>
                            <div class="inline-block ho-mail-to-txt">
                                <span id="hotelPhoneNo"></span>
                            </div>
                        </div> 
                        <a class="ho-mail-to" href="#" id="hotelEmailHRef"> 
                            <i class="icon-envelope ho-mail-to-icon ho-cm-icon inline-block"></i>
                            <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">
                                <span id="hotelEmail"></span>
                            </div>
                        </a>
                    </div>
                    <div class="ho-map-link">
                        <a class="inline-block ho-hotel-location-link" target="_blank" href=""> 
                        <i class="icon-location ho-location-icon ho-cm-icon inline-block conf-loc-img"></i>
                        <span
                                class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt conf-loc-text"></span>
                        </a>
                    </div>
                </div>
                <div class="chk-in-out-con clearfix">
                    <span class="modify-booking-link modify-redirect-to-hotel-room" data-modify="modifyDate"><i class="icon-edit"></i> Edit</span>
                    <div class="ckn-in-con">                        
                        <div class="checkInTime">Check-in(2pm)</div>
                        <div>
                            <span id="check-in"></span>
                        </div>

                    </div>
                    <div class="ckn-out-con">
                        <div class="checkOutTime">Check-out(12pm)</div>
                        <div>
                            <span id="check-out"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-sly-test="${properties.enrollCheckbox}" class="col-lg-12 col-md-12 col-sm-12 enroll-con clearfix" id="conformEnrollCon">
            <div class="enroll-text-con">
                <div class="icon-golden-flower-wrapper">                    
                    <span class="icon-golden-flower">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span>
                    </span>
                </div>
                <div>
                    <span>You can earn <span id="ticPoints"></span> TIC points worth </span>
                    <span class="cart-currency-symbol rupee-text"></span>
                    <span><span id="worthAount"></span> !</span>
                </div>
            </div>
            <a data-redirect="enrollButton" href=><button class="cm-btn-secondary enroll-button">ENROL</button></a>
        </div>
        <div data-sly-test="${properties.ecardCheckbox}" class="col-lg-12 col-md-12 col-sm-12 enroll-con gift-card-btn-wrp" id="">
            <div class="enroll-text-con">
                <span>${properties.ecardLabelText}<br/> E-Card Value: <span class="cart-currency-symbol rupee-symbol"></span> <span id="total-amount"></span> | Amount to be paid: <span class="cart-currency-symbol rupee-symbol"></span> <span id="amount-to-be-paid"></span> </span>
                <span class="clearfix data-ecard-details" data-ecard-min-value="${properties.minValue}" data-ecard-max-value="${properties.maxValue}"
                data-ecard-defaultValueIncPct="${properties.defaultValueIncPct}" data-ecard-purchaseValuePct="${properties.purchaseValuePct}"></span>
            </div>
            <div class="cm-btn-secondary gift-card-btn">Avail Special Offer</div>
        </div>
        <div class="itinerary-number">
            <span class="itinerary-number-label">Itinerary number : </span>
            <span id="itineraryNumber"></span>
        </div>
        <div class="tic-room-redemption-info d-none"></div>
    <div class="redeemed-voucher-number"></div>
        <div class="selected-room-details">
            <div class="confirmation-heading">Room Details</div>
            <div id="reservationIdsList"></div>

        </div>
        <div class="payment-details-section clearfix payment-details-section-on-online-paytment">
            <div class="summary-section">
                <h2 class="summary-charges-heading">Summary Charges</h2>
            </div>
            <div class="payment-section">
                <h2 class="summary-charges-heading payment-details">
                    Payment Details<i class="payment-dropdown icon-drop-down-arrow"></i>
                </h2>
                <div class="guarantee-details">
                    <span>Guarantee Policy:</span>
                    <span>Your credit card will serve as a guarantee to hold the room.</span>
                </div>
                <div class="payment-detials-con">
                    <div class="payment-detials-sub-con">
                        <div>Credit Card Owner</div>
                        <div>
                            <span id="nameOnCard"></span>
                        </div>
                    </div>
                    <div class="payment-detials-sub-con">
                        <div>Card Type</div>
                        <div>
                            <span id="cardType"></span>
                        </div>
                    </div>
                </div>
                <div class="payment-detials-con payment-detials-con-mob">
                    <div class="payment-detials-sub-con">
                        <div>Card Number</div>
                        <div id="cardNumber"></div>
                    </div>
                    <div class="payment-detials-sub-con">
                        <div>Expiry Date</div>
                        <div id="expiryMonth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="special-request-section">
            <div class="heading">
                Special Requests
                <span>*</span>
            </div>
            <div class="special-request"></div>

            <div class="disclaimer">* Subject to availablity</div>
            <div class="wifi-text">
                <i class="icon-wifi inline-block"></i>
                <span>Enjoy free Wifi at Taj Hotels worldwide</span>
            </div>
        </div>
<div class="flight-details-section">
    <h2 class="heading">Flight Details<span class="heading-star">*</span></h2>
</div>

        <div class="mini-footer-section clearfix">
            <div class="confirmation-buttons-container">
                <div class="inline-block cm-btn-primary edit-bkng-btn modify-booking-link modify-redirect-to-hotel-room" data-modify="modifyAddRoom" tabindex="0" role = "button">ADD ROOM</div>
                <a class="inline-block" data-redirect="exploremore" href=""><div class="cm-btn-primary explore-more-btn">EXPLORE MORE</div></a>        
                <div class="inline-block open-cancel-reservation" data-redirect="cancelTopBtn"><div class="cm-btn-primary cancel-bkng-btn">CANCEL BOOKING</div></div>
            </div>
            <div>
                <a href="${properties.termsOfUseLink}.html">${properties.termsOfUseLabel}</a>
                <span>|</span>
                <a href="${properties.privacyPolicyLink}.html">${properties.privacyPolicyLabel}</a>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="edit-btn" id="editBtnPath" aria-hidden = "true" value=${properties.editbuttonpath} />
<input type="hidden" name="cancel-btn" id="cancelBtnPath" aria-hidden = "true" value=${properties.cancelpagepath} />
<div class="cm-local-details-container  mr-gift-card-popup">
    <div class="cm-local-details-overLay bas-overlay"></div>
    <div class="cm-local-details">
        <div class="loc-details-close-cont">
            <img class="showMap-close"  alt = "close icon" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg" />
        </div>
        <div class="gift-card-wrp">
                <div class="conf-msg">${properties.ecardPopupHeading}</div>
                <div class="about-gift-card">${properties.ecardPopupDesc}
                    <a href="${properties.ecardTermsAndCondURL}" target="_blank">${properties.ecardTermsAndCondLabel}</a>
                </div>
                <div class="gift-card-details-wrp">
                    <form class="gift-card-form mr-sub-form">
                        <div class="row mr-sub-form-row">
                            <div class="col-12 col-md-4 sub-form-input-wrp">
                                <div class="sub-form-input-label">Title</div>
                                <div class="selectSubContainer">
                                    <select id="giftcardCustomerTitle" class="sub-form-input-element sub-form-mandatory" placeholder="">
                                        <option selected="selected" value="Mr.">Mr.</option>
                                        <option value="Mrs.">Mrs.</option>
                                        <option value="Ms.">Ms.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-12 sub-form-input-wrp">
                                <div class="sub-form-input-label">First Name*</div>
                                <input name="customerFirstName"
                                    class="only-alpha-input sub-form-input-element sub-form-mandatory"
                                    type="text">
                                <div class="sub-form-input-warning"></div>
                            </div>
                            <div class="col-md-4 col-12 sub-form-input-wrp">
                                <div class="sub-form-input-label">Last Name*</div>
                                <input name="customerLastName"
                                    class="only-alpha-input sub-form-input-element sub-form-mandatory"
                                    type="text">
                                <div class="sub-form-input-warning"></div>
                            </div>
                            <div class="col-md-4 col-12 sub-form-input-wrp">
                                <div class="sub-form-input-label">Phone Number*</div>
                                <input name="customerPhoneNumber"
                                    class="limit-phone-number only-numeric-input sub-form-input-element sub-form-mandatory"
                                    type="text">
                                <div class="sub-form-input-warning"></div>
                            </div>
                            <div class="col-md-4 col-12 sub-form-input-wrp">
                                <div class="sub-form-input-label">Email-Id*</div>
                                <input name="customerEmail"
                                    class="email-input sub-form-input-element sub-form-mandatory"
                                    type="text">
                                <div class="sub-form-input-warning"></div>
                            </div>
                            <div class="col-md-4 col-12 sub-form-input-wrp">
                                <div class="sub-form-input-label">E-Card Value (INR)*</div>
                                <input name="customerAmount"
                                    class="only-numeric-input sub-form-input-element sub-form-mandatory"
                                    type="text">
                                <div class="sub-form-input-warning"></div>
                                <div class="sub-form-input-warning-min-amount"></div>
                            </div>
                            <div class="col-md-4 col-12 sub-form-input-wrp">
                                <div class="sub-form-input-label">Payable Amount (INR)*</div>
                                <input name="customerPayableAmount"
                                    class="only-numeric-input sub-form-input-element sub-form-mandatory"
                                    type="text" disabled>
                                <div class="sub-form-input-warning"></div>
                            </div>
                            <div data-sly-test=${properties.ecardEmailConfirmCheckLabel} class="col-12 email-checkbox" >
                                <label class="mr-filterCheckBox-label checkbox-inline">
                                    <input class="mr-filter-checkbox" data-form-id="email-confirmation" type="checkbox" name=""/>
                                    <span class="mr-inputCustomShape"></span>
                                    <span>${properties.ecardEmailConfirmCheckLabel}</span>
                                    <div class="sub-form-input-warning">${properties.ecardEmailConfirmCheckWarning}</div>
                                </label>
                            </div>
                            <div data-sly-test=${properties.ecardTermsAcceptCheckLabel} class="col-12 " >
                                <label class="mr-filterCheckBox-label checkbox-inline">
                                    <input class="mr-filter-checkbox" data-form-id="terms-and-cond" type="checkbox" name=""/>
                                    <span class="mr-inputCustomShape"></span>
                                    <span>${properties.ecardTermsAcceptCheckLabel}</span>
                                    <div class="sub-form-input-warning">${properties.ecardTermsAcceptCheckWarning}</div>
                                </label>
                            </div>
                            <span id="gift-card-phone-number" style="display: none;"></span>
                            <div data-sly-test=${properties.ecardProceedButtonLabel} class=" col-12 sub-form-input-wrp gift-card-submit-btn-wrp">
                                <button id="submitButton" data-submitlink=""
                                    class="cm-btn-secondary gift-card-submit-btn"
                                        type="button">${properties.ecardProceedButtonLabel}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

    </div>
</div>

<!-- Email share popup -->
 <div class="email-share-popup show-popUp-local-place-details profile-popup">

    <div class="cm-local-details-container mr-profile-popup">
        <div class="cm-local-details-overLay bas-overlay"></div>
        <div class="cm-local-details mr-sub-form">
            <div class="loc-details-close-cont">
                <img class="showMap-close"
                    src="/content/dam/tajhotels/icons/style-icons/close.svg" alt = "close icon"/>
            </div>
            <div class="loc-details-wrapper row mr-sub-form-row">
                <div class="loc-details-container col-lg-12 col-md-12 col-sm-12">
                    <div class="specific-city-header-wrapper row">
                        <div class="sub-form-input-wrp userEmailForShare col-md-6 col-lg-6">
                            <div class="sub-form-input-label">${properties.shareEmailLabel}</div>
                            <input name="userEmailForShare" class="email-input sub-form-input-element sub-form-mandatory"
                                type="text">
                            <div class="sub-form-input-warning"></div>
                        </div>
                        <div class="btn-email-share-wrp col-md-6">
                            <input class="cm-btn-secondary button-view-details view-button" type="button" value="Submit"
                                name="submit" id="btn-email-share">
                        </div>
                        <div class="taj-loader pay-now-spinner">
                            <div class="taj-loader-circle"></div>
                            <div class="taj-loader-circle"></div>
                            <div class="taj-loader-circle"></div>
                        </div>
                    </div>
                    <div class="share-email-success d-none">
                        <span>${properties.shareEmailSuccessMsg} <span id="recipient-email-id"></span></span>
                    </div>
                    <div class="share-email-fail d-none">
                        <span>${properties.shareEmailFailMsg}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="edit-btn" id="editBtnPath" value=${properties.editbuttonpath} />
<input type="hidden" name="cancel-btn" id="cancelBtnPath" value=${properties.cancelpagepath} />
