.placeholder-title {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.22;
    color: #323232;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
}

.placeholder-title .mr-showmore-placeHolder-title {
    padding-left: 5px;
    padding-left: 0.3125rem;
}

.placeholder-title .mr-showmore-placeHolder-title a {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--primaryColor);
}

.placeholder-title .mr-showmore-placeHolder-title a:hover {
    text-decoration: none;
}


 .show-view{
	display: inline-block;
    position: absolute;
    right:1rem;
    color: #c7904c;
    font-size: 16px;
    border-bottom: 1px solid #c7904c;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0;
    cursor: pointer;
}

@media only screen and (max-width: 425px) {
    .show-view {
    	bottom: 7px;
	}
}
