@rem:16rem;
.page-notes {
    background: #e5e5e5;
    padding: 20/@rem 0;
    font-family: Calibri;
    font-size: 16px;
    line-height: 1.33;
    color: #323232;
    p {
        margin: 0;
    }

    a {
        color: var(--primaryColor);
    }
}