.hotelCard-container-outer-wrap:nth-child(odd) .hotelCard-container-wrap {
    margin-right: 16px;
    margin-right: 1rem;
}

@media only screen and (max-device-width: 991px) {
    .hotelCard-container-outer-wrap:nth-child(odd) .hotelCard-container-wrap {
        margin-right: 0;
    }
}

.hotelCard-container-outer-wrap:nth-child(even) .hotelCard-container-wrap {
    margin-left: 16px;
    margin-left: 1rem;
}

@media only screen and (max-device-width: 991px) {
    .hotelCard-container-outer-wrap:nth-child(even) .hotelCard-container-wrap {
        margin-left: 0;
    }
}

.hotelCard-container-wrap {
    padding: 0;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
    height: 154px;
    height: 9.625rem;
    box-sizing: border-box;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard-container-wrap {
        height: 191px;
    }
}

.hotelCard-container-wrap:hover .hotelCard-imageWrap,
.hotelCard-container-wrap:active .hotelCard-imageWrap {
    border: 2px solid var(--primaryColor);
    border-right: none;
}

.hotelCard-container-wrap:hover .hotelCard_hotelDetails,
.hotelCard-container-wrap:active .hotelCard_hotelDetails {
    border: 2px solid var(--primaryColor);
    border-left: none;
}

.hotelCard-container {
    font-family: Calibri;
    margin: 0;
    background: #fafafa;
    position: relative;
    box-shadow: 0 11px 17px 0 rgba(0, 0, 0, 0.05);
    height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard-container {
        background: #fff;
        height: 195px;
    }
}

.rating-container {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
    font-family: Calibri;
    left: 17px;
    left: 1.0625rem;
    bottom: 14px;
    bottom: 0.875rem;
    position: absolute;
}

.rating-container .rating {
    float: left;
    height: 28px;
    height: 1.75rem;
    width: 29px;
    width: 1.8125rem;
    line-height: 28px;
    line-height: 1.75rem;
    font-family: Calibri-Bold;
    background: var(--linearGradient);
}

.rating-container .number-of-rating {
    float: left;
    height: 28px;
    height: 1.75rem;
    line-height: 28px;
    line-height: 1.75rem;
    width: 90px;
    width: 5.625rem;
    background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-device-width: 320px) {
    .rating-container .number-of-rating {
        width: 80px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .rating-container {
        left: 10px;
    }
}

@media only screen and (max-device-width: 320px) {
    .rating-container {
        left: 5px;
        font-size: 12px;
    }
}

.hotelCard-imageWrap {
    float: left;
    width: 30%;
    height: 100%;
    border: 2px solid transparent;
    border-right: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard-imageWrap {
        width: 40%;
    }
}

.hotelCard-imageWrap .hotelCard-image {
    padding: 0;
    height: 100%;
    width: 100%;
    background: #ccc;
}

.hotelCard-imageWrap .hotelCard-image img {
    height: 100%;
    width: 100%;
}

.hotelCard_hotelDetails {
    position: relative;
    float: left;
    width: 70%;
    padding: 20px 0 0 20px;
    padding: 1.25rem 0 0 1.25rem;
    height: 100%;
    border: 2px solid transparent;
    border-left: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard_hotelDetails {
        display: inline-block;
        padding-left: 10px;
        width: 60%;
        padding-top: 17px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .hotelCard_hotelDetails {
        padding-left: 12px;
    }
}

.hotelCard_hotelDetails .hotelDetails-name-wrap {
    line-height: initial;
    padding-bottom:10px;
}

.hotelCard_hotelDetails .hotelDetailsHeading {
    font-size: 20px;
    font-size: 1.3rem;
    color: #4a4a4a;
    margin-bottom: 0;
}

@media only screen and (max-device-width: 320px) {
    .hotelCard_hotelDetails .hotelDetailsHeading {
        font-size: 1.4375rem;
    }
}

.hotelCard_hotelDetails .hotelDetailsLocation {
    font-size: 16px;
    font-size: 1.00625rem;
    color: #979797;
    padding-left: 20px;
    padding-left: 1.25rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard_hotelDetails .hotelDetailsLocation {
        display: none;
    }
}

.hotelCard_hotelDetails .hotelDetailsLocation-mobile {
    font-size: 16px;
    font-size: 1.00625rem;
    color: #979797;
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard_hotelDetails .hotelDetailsLocation-mobile {
        display: block;
        float: left;
        word-break: break-word;
    }
}

@media only screen and (max-device-width: 320px) {
    .hotelCard_hotelDetails .hotelDetailsLocation-mobile {
        font-size: 13px;
    }
}

.hotelCard_hotelDetails .hotelDetailsDistance {
    font-size: 16px;
    font-size: 1.00625rem;
    color: #979797;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotelCard_hotelDetails .hotelDetailsDistance {
        font-size: 14px;
        float: left;
        margin-left: 5px;
        line-height: 20px;
    }
}

@media only screen and (max-device-width: 320px) {
    .hotelCard_hotelDetails .hotelDetailsDistance {
        font-size: 13px;
        margin-left: 0px;
        line-height: 16px;
    }
}

.rate_con {
    position: absolute;
    right: 20px;
    right: 1.25rem;
    top: 25px;
    top: 1.5625rem;
}

.rate_con .hotelDetailsRate {
    font-family: SunSans-Regular;
    text-align: right;
    font-size: 14px;
    font-size: 0.875rem;
    color: #9b9b9b;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate_con .hotelDetailsRate {
        top: 12px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .rate_con {
        position: unset;
        text-align: right;
        margin: 8px 20px 0 0;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .rate_con {
        right: 15px;
    }
}

.hotel-details-img-con {
    position: absolute;
    bottom: 21px;
    bottom: 1.34375rem;
    width: 100%;
}

.hotel-details-img-con img {
    margin-right: 5%;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .hotel-details-img-con img {
        margin-right: 4%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .hotel-details-img-con {
        display: none;
    }
}

.bookingButtonContainer {
    height: 39px;
    height: 2.4375rem;
    padding-bottom: 14px;
    padding-bottom: 0.875rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .bookingButtonContainer {
        padding-bottom: 10px;
        line-height: 23px;
    }
}

.bookingButtonContainer .price-con {
    line-height: 20px;
    line-height: 1.25rem;
}

.bookingButtonContainer .hotelDetailsRateStriked {
    font-family: RupeeForadian;
    font-size: 16px;
    font-size: 1rem;
    text-decoration: line-through;
    display: inline-block;
    color: #4a4a4a;
    vertical-align: middle;
    opacity: 0.58;
}

.bookingButtonContainer .hotelDetailsRateStriked span {
    font-family: Calibri;
}

.bookingButtonContainer .hotelDetailsRateNew {
    font-family: RupeeForadian;
    display: inline-block;
    font-size: 24px;
    font-size: 1.5rem;
    color: #4a4a4a;
    margin-left: 1vw;
    vertical-align: middle;
    font-weight: bold;
}

.bookingButtonContainer .hotelDetailsRateNew span {
    font-family: Calibri-Bold;
    font-weight: normal;
}

@media only screen and (max-device-width: 320px) {
    .bookingButtonContainer .hotelDetailsRateNew {
        font-size: 22px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .bookingButtonContainer .hotelDetailsRateNew {
        margin-left: 0.6vw;
    }
}

.view-btn-con {
    position: absolute;
    bottom: 13px;
    bottom: 0.8375rem;
    right: 20px;
    right: 1.25rem;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .view-btn-con {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 767px) {
	.view-btn-con {
		right: 1rem;
		text-align: right;
	}
}

.map-carousel-waiting-spinner img {
	width: 4rem;
}

.last-room-warning {
    color: #d0021b;
    font-size: 12px;
    font-size: 0.75rem;
    text-align: right;
    font-family: Calibri;
    font-weight: normal;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .last-room-warning {
        display: none;
    }
}

.view-button {
    width: 131px;
    width: 8.1875rem;
    line-height: 2;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .view-button {
        width: 6.875rem;
    }
}

@media only screen and (max-device-width: 991px) {
    .view-button {
        line-height: 2.7;
    }
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
}
 

.mapHotel-lan, .mapHotel-lat {
    display: none;
}
 