<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
			 data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.all @ categories='taj.hotels.components.destination-hotels,taj.hotels.components.hotel-card-full-width'}" />

<div data-sly-test="${wcmmode.edit}">Destination - List of
	Destination Hotels Component</div>

<sly data-sly-test="${wcmmode.edit}">
<p data-sly-unwrap="${properties.headline}"
	data-emptytext="configure ${component.title}" class="cq-placeholder"></p>
</sly>

<div class="mr-listView-layout">
	<div class="row mr-listView-layout-row">
		<div class="col-12">
			<div class="mr-listsMapHotels-Main-Wrapper">
				<div class="mr-lists-view-hotels-Container">
					<sly
						data-sly-use.list="com.adobe.cq.wcm.core.components.models.List">
					<sly data-sly-list.listItem="${list.items}">
					<sly
						data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/hotel-card-full-width' }"></sly>
						
					</sly> </sly>
				</div>
			</div>
		</div>
	</div>
</div>