<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihclContactUs-writetous'}" />

<div class="ihcl-contact-us-form col-12">
    <form class="contact-us mr-sub-form">
        <div class="row contact-us-form-cont">
            <div class="contact-form-left col-md-12 col-sm-12 col-lg-6">
                <div class="sub-form-input-wrp">
                    <div class="sub-form-input-label">Full Name*</div>
                    <input id="form-name" class="only-alpha-input sub-form-input-element sub-form-mandatory" type="text"
                        aria-label="Full name" />
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="sub-form-input-wrp">
                    <div class="sub-form-input-label">Mobile Number*</div>
                    <div class="phone-number-row">
                        <div class="phone-number-col">
                            <input id="form-phone"
                                class="limit-phone-number only-numeric-input sub-form-input-element sub-form-mandatory"
                                type="tel" maxlength="15" aria-label="Phone Number " />
                            <div class="sub-form-input-warning"></div>
                        </div>
                    </div>
                </div>
                <div class="sub-form-input-wrp">
                    <div class="sub-form-input-label">Email*</div>
                    <input id="form-email" class="email-input sub-form-input-element sub-form-mandatory" type="text"
                        aria-label="Email Id" />
                    <div class="sub-form-input-warning"></div>
                </div>
                <sly data-sly-test.isTajhotels="${properties.isTajhotels =='true'}">
                <div class="sub-form-input-wrp">
                    <div class="sub-form-input-label">Hotel Name</div>
                    <input id="form-hotelname" class="only-alpha-input sub-form-input-element" type="text"
                        aria-label="Hotel Name" />
                    <div class="sub-form-input-warning"></div>
                </div>
                <div class="sub-form-input-wrp">
                    <div class="sub-form-input-label">City</div>
                    <input id="form-city" class="only-alpha-input sub-form-input-element" type="text" aria-label="City" />
                    <div class="sub-form-input-warning"></div>
                </div>
                </sly>
            </div>
            <div class="contact-form-right col-md-12 col-sm-12 col-lg-6">
                <div data-sly-test.isTajhotels="${properties.isTajhotels =='true'}">
                    <div class="jiva-spa-form-date-details sub-form-input-wrp">
                        <div class="jiva-spa-form-heading sub-form-input-label">Check-in Date</div>
                        <div class="jiva-spa-date-section">
                            <div class="jiva-spa-date-con">
                                <img src="/content/dam/tajhotels/icons/style-icons/calendar.jpg" alt="calendar-icon">
                                <input id="contact-form-check-in" class="only-alpha-input sub-form-input-element"
                                    placeholder="Date" aria-label="Check In Date" />
                                <div class="cm-datepicker-container" id="contact-form-check-in-container"></div>
                            </div>
                        </div>
                    </div>
                    <div class="jiva-spa-form-date-details sub-form-input-wrp">
                        <div class="jiva-spa-form-heading sub-form-input-label">Check-out Date</div>
                        <div class="jiva-spa-date-section">
                            <div class="jiva-spa-date-con">
                                <img src="/content/dam/tajhotels/icons/style-icons/calendar.jpg" alt="calendar-icon">
                                <input id="contact-form-check-out" class="only-alpha-input sub-form-input-element"
                                    placeholder="Date" aria-label="Check Out Date" />
                                <div class="cm-datepicker-container" id="contact-form-check-out-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-form-input-wrp">
                    <div class="sub-form-input-label">Feedback</div>
                    <textarea id="form-feedback" class="sub-form-text-area" name="description" form="usrform"></textarea>
                </div>
            </div>
            <div data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
            <div class="request-quote-submit-wrapper">
                <div class="mandatory-text">* Mandatory</div>
                <button class="cm-btn-secondary request-quote-submit-btn pay-now-button" type="button">SUBMIT</button>
            </div>
    </form>
    <div class="hotels-event-confirmation-popup">
        <div class="hotels-event-confirmation-overlay">
            <div class="hotels-event-confirmation-container">
                <div class="hotels-event-confirmation-inner-wrp container">
                    <img class="event-confirmation-close-icon" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg"
                        alt="close-blue-icon" />
                    <div class="cm-warning-box-logo-con">
                        <i class="toaster-logo icon-STAR-TAJ"></i>
                        <div class="warning-icon-con">
                            <img class="icon-warning" src="/content/dam/tajhotels/icons/style-icons/icon-warning.svg"
                                alt="warning-icon">
                        </div>
                    </div>
                    <div class="event-confirmation-title">Thank you for your Request</div>
                    <div class="event-confirmation-descripion">Thank you for your interest. We will get back to you
                        within 48 hours</div>
                    <button class="cm-btn-secondary event-confirmation-close-btn" type="button">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="hotels-event-error-popup">
        <div class="hotels-event-error-overlay">
            <div class="hotels-event-error-container">
                <div class="hotels-event-error-inner-wrp container">
                    <img class="event-error-close-icon" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg"
                        alt="close-blue-icon" />
                    <div class="cm-warning-box-logo-con">
                        <i class="toaster-logo icon-STAR-TAJ"></i>
                        <div class="warning-icon-con">
                            <img class="icon-warning" src="/content/dam/tajhotels/icons/style-icons/icon-warning.svg"
                                alt="warning-icon">
                        </div>
                    </div>
                    <div class="event-error-title">500</div>
                    <div class="event-error-descripion">Server responded with a 500 Error, Kindly Check back later</div>
                    <button class="cm-btn-secondary event-confirmation-close-btn" type="button">CLOSE</button>
                </div>
            </div>
        </div>
        <div class="spinner-con">
            <img class="spinner-wrap" src="/content/dam/tajhotels/ihcl/newcontentimages/loader-ihcl-blue.gif"
                alt="loader-ihcl-blue-icon">
        </div>
    </div>