.ihcl-benefits-title {
 font-family: Montserrat-Regular;
 font-size: 2rem;
 font-weight: 600;
 color: #000000;
 text-align: center;
 margin: 40px 0px 20px 0px;
}

.ihcl-benefits-image img{
  width: 95%;
}

.ama-theme.cm-page-container .row.ihcl-benefits-cards-container{
	margin-bottom:40px;
}

.ihcl-benefits-desc {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 1px;
  color: #333333;
}

.ihcl-benefits-third{
    display: flex;
    margin: 0px 0px 20px 0px;
}

.ihcl-benefits-logo img{
  width: 30px;
}

.strip-desc {
    width: 100%;
    font-family: Montserrat-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.5;
    letter-spacing: 1px;
    color: #333333;
    margin: 0px 0px 0px 15px;
    padding: 5px 0 0 0;
}
@media only screen and (max-width: 768px){
    .ihcl-benefits-image img{width:100%;
        margin-bottom:20px;}
    .ihcl-benefits-second .ihcl-benefits-third:last-of-type{margin-bottom:0;}
	.ama-family {
        display: block;}
}