<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.direct-best-rate'}" />
<div data-sly-test="${wcmmode.edit}">Direct Best Rate Component</div>
<div class="rate-guarantee-container cm-content-blocks">
    <div class="row">
        <div class="taj-brand-info-component container-fluid">
            <div class="row brand-info-wrapper">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-7">
                    <p class="header-text-taj-brand-info title-decorator-border">
                        <span class="mr-mobile-display-none">${properties.title}</span>
                        <span class="mr-desktop-display-none">${properties.shortTitle}</span>
                    </p>
                    <p class="description mr-mobile-display-none">${properties.description @context='html'}</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 center mr-mobile-margin-top">
                    <div class="brand-value center">
                        <div class="mr-brand-icon-wrap">
                            <img class="brand-value-image" src="${properties.image1}" alt="${properties.image1Alt}" />
                        </div>
                        <p class="brand-value-text">${properties.image1Caption}</p>
                    </div>
                    <div class="brand-value center mr-mobile-display-none">
                        <div class="mr-brand-icon-wrap">
                            <img class="brand-value-image tic-logo-brand-value-image" src="${properties.image2}"
                                alt="${properties.image2Alt}" />
                        </div>
                        <p class="brand-value-text">${properties.image2Caption}</p>
                    </div>
                    <div class="brand-value center mr-mobile-display-none">
                        <div class="mr-brand-icon-wrap">
                            <img class="brand-value-image" src="${properties.image3}" alt="${properties.image3Alt}" />
                        </div>
                        <p class="brand-value-text">${properties.image3Caption}</p>
                    </div>
                    <div class="brand-value center brand-value-new mr-desktop-display-none">
                        <div class="mr-brand-icon-wrap mobile-brandIcon-styling">
                            <img class="brand-value-image" src="${properties.image3}" alt="${properties.image3Alt}" />
                        </div>
                        <p class="brand-value-text">${properties.image3Caption}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>