<div data-sly-test.edit=${wcmmode.edit}>
	<h1>ihcl tab component</h1>
</div>
<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihclkeyfigures'}" />
<sly data-sly-use.model="com.ihcl.core.models.ihcl.IhclKeyFiguresModel" />
<sly data-sly-test.blue="${properties.listvariation=='bluebg'}"> 
<div class="key-figure-home">
	<div class="key-figure-wrap">
<sly data-sly-list.key="${model.keyFiguresList}"> 
		<div class="key-figure-item-wrp">
			<div class="key-figure-item">
				<div class="key-figure-item-no">${key.numberKeys}</div>
				<div class="key-figure-item-lacs">${key.currency}</div>
				<div class="key-figure-item-name">${key.entity}</div>
			</div>
		</div>
</sly>
	</div>
</div>
</sly> 
<sly data-sly-test="${!blue}">

<div class="key-figure-wrap margin-wrap">
	<sly data-sly-list.key="${model.keyFiguresList}">
	<div class="key-figure-item-wrp">
		<div class="key-figure-item">
			<div class="key-figure-item-no">${key.numberKeys}</div>
			<div class="key-figure-item-lacs">${key.currency}</div>
			<div class="key-figure-item-name">${key.entity}</div>
		</div>
	</div>
	</sly>
</div>
</sly>