.enquiry-form-header-wrapper {
    background-color: #ffffff;
    margin: 2rem 0;
}

.enquiry-form-header-wrapper .title-wrapper {
    padding: 50px 30px 30px;
    padding: 3.125rem 1.875rem 1.875rem;
    border-bottom: solid 2px #d5d5d5;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .title-wrapper {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
    .enquiry-form-header-wrapper {    
        margin: 1rem;
    }
}

.enquiry-form-header-wrapper .title-wrapper .mr-enquiry-title {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: Calibri-bold;
    color: var(--primaryColor);
    position: relative;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

.enquiry-form-header-wrapper .title-wrapper .mr-enquiry-title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 145px;
    width: 9.0625rem;
    background-color: var(--primaryColor);
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    bottom: -10px;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .title-wrapper .mr-enquiry-title::after {
        width: 8.125rem;
    }
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .title-wrapper .mr-enquiry-title {
        font-size: 1.375rem;
    }
}

.enquiry-form-header-wrapper .title-wrapper .mr-visit-para,
.enquiry-form-header-wrapper .title-wrapper .mr-travel-specialist {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .title-wrapper .mr-visit-para,
  .enquiry-form-header-wrapper .title-wrapper .mr-travel-specialist {
        font-size: 1rem;
    }
}

.enquiry-form-header-wrapper .mr-your-details-wrapper {
    padding: 40px 50px;
    padding: 2.5rem 3.125rem;
    border-bottom: solid 2px #d5d5d5;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .mr-your-details-wrapper {
        padding: 1.875rem 0.9375rem;
    }
}

.enquiry-form-header-wrapper .mr-your-details-wrapper .mr-your-detail-title {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri-bold;
}

.enquiry-form-header-wrapper .mr-your-details-wrapper .mr-mantatory-desc {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.enquiry-form-header-wrapper .input-header {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
}

.enquiry-form-header-wrapper .selectSubContainer {
    border-bottom: solid 2px #d5d5d5 !important;
    width: 85%;
}

.enquiry-form-header-wrapper .mr-input-field {
    border: none;
    background-color: transparent;
    border-bottom: solid 2px #d5d5d5;
    width: 100%;
    height: 30px;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    outline: none;
}

.enquiry-form-header-wrapper .validate-inputs-txt,
.enquiry-form-header-wrapper .warning-txt {
    display: none;
    font-size: 14px;
    font-size: 14px;
    font-size: 0.875rem;
    color: #ff0000;
    margin-top: 5px;
}

.enquiry-form-header-wrapper .mr-form-input {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .mr-form-input {
        padding: 0 !important;
    }
}

.enquiry-form-header-wrapper .input-box {
    width: 90%;
    margin-top: 25px;
    margin-top: 25px;
    margin-top: 1.5625rem;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .input-box {
        width: 100%;
    }
}

.enquiry-form-header-wrapper .comments-input {
    height: initial;
}

.enquiry-form-header-wrapper #firstnameinput,
.enquiry-form-header-wrapper #lastnameinput {
    width: 95%;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper #firstnameinput,
  .enquiry-form-header-wrapper #lastnameinput {
        width: 100%;
    }
}

.enquiry-form-header-wrapper .mr-info-details-wrapper {
    padding: 40px 50px;
    padding: 2.5rem 3.125rem;
    border-bottom: solid 2px #d5d5d5;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .mr-info-details-wrapper {
        padding: 1.875rem 0.9375rem;
    }
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .booking-details-proceed-wrapper .mr-lodge-checkbox {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .booking-details-proceed-wrapper .proceed-checkbox-wrapper {
    margin-left: 35px;
    margin-left: 2.1875rem;
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .booking-details-proceed-wrapper .proceed-checkbox-wrapper .mr-filterCheckBox-label {
    margin-right: 80px;
    margin-right: 5rem;
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .mr-other-info-wrapper .mr-info-title {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri-bold;
    margin-top: 15px;
    margin-top: 0.9375rem;
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .mr-other-info-wrapper .mr-info-desc {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    margin: 15px 0 20px;
    margin: 0.9375rem 0 1.25rem;
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .mr-other-info-wrapper .comments-txtbox {
    border: solid 2px #d5d5d5;
    width: 60%;
    height: 200px;
    height: 12.5rem;
    resize: none;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .mr-info-details-wrapper .mr-other-info-wrapper .comments-txtbox {
        width: 100%;
    }
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .mr-other-info-wrapper .mr-planning-title {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .mr-other-info-wrapper .mr-planning-dates-wrapper {
    margin-top: 20px;
    margin-top: 1.25rem;
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .mr-other-info-wrapper .mr-planning-dates-wrapper .mr-date-title {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .mr-other-info-wrapper .mr-planning-dates-wrapper .mr-date-input {
    position: relative;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .mr-info-details-wrapper .mr-other-info-wrapper .mr-planning-dates-wrapper .mr-date-input {
        padding: 0;
    }
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .mr-other-info-wrapper .mr-planning-dates-wrapper .mr-date-input img {
    position: absolute;
    width: 20px;
    right: 40px;
    bottom: 5px;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .mr-info-details-wrapper .mr-other-info-wrapper .mr-planning-dates-wrapper .mr-date-input img {
        top: 3px;
        right: 2px;
        height: 1.25rem;
    }
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .mr-other-info-wrapper .mr-members-wrapper {
    margin-top: 30px;
    margin-top: 1.875rem;
}

.enquiry-form-header-wrapper .mr-info-details-wrapper #from-date,
.enquiry-form-header-wrapper .mr-info-details-wrapper #to-date {
    width: 90%;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .mr-info-details-wrapper #from-date,
  .enquiry-form-header-wrapper .mr-info-details-wrapper #to-date {
        width: 100%;
    }
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .jiva-spa-date {
    width: 90% !important;
    top: 75px;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .mr-info-details-wrapper .jiva-spa-date {
        width: 100%;
    }
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .mr-submit-button-wrapper {
    text-align: center;
    margin-top: 20px;
    margin-top: 1.25rem;
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .mr-submit-button-wrapper .enquiry-btn {
    width: 140px;
    width: 8.75rem;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .mr-info-details-wrapper .mr-submit-button-wrapper .enquiry-btn {
        width: 7.1875rem;
    }
}

.enquiry-form-header-wrapper .mr-info-details-wrapper .mr-submit-button-wrapper .submitbtn {
	margin-top:21px;
    margin-right: 15px;
    margin-right: 0.9375rem;
}

.enquiry-form-header-wrapper .mr-taj-reservations {
    padding: 40px 50px;
    padding: 2.5rem 3.125rem;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .mr-taj-reservations {
        padding: 1.875rem 0.9375rem;
    }
}

.enquiry-form-header-wrapper .mr-taj-reservations .mr-reservation-title {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .mr-taj-reservations .mr-reservation-title {
        font-size: 1.125rem;
    }
}

.enquiry-form-header-wrapper .mr-taj-reservations .mr-reservation-numbers-wrapper {
    width: 40%;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    .enquiry-form-header-wrapper .mr-taj-reservations .mr-reservation-numbers-wrapper {
        width: 60%;
    }
}

@media only screen and (max-width: 767px) {
    .enquiry-form-header-wrapper .mr-taj-reservations .mr-reservation-numbers-wrapper {
        width: 100%;
    }
}

.enquiry-form-header-wrapper .mr-taj-reservations .mr-reservation-numbers-wrapper .mr-reservation-desc-wrapper {
    display: -ms-flexbox;
    display: flex;
}

.enquiry-form-header-wrapper .mr-taj-reservations .mr-reservation-numbers-wrapper .mr-reservation-desc-wrapper .mr-country-title {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    width: 50%;
}

.enquiry-form-header-wrapper .mr-taj-reservations .mr-reservation-numbers-wrapper .mr-reservation-desc-wrapper .mr-country-value {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    width: 50%;
}

.warning-display {
    display: block !important;
}

.plan-dates {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .plan-dates {
        padding: 0 !important;
    }
}

.captcha-warning {
	float:left;
    color: #f44336;
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: -15px;
    font-family: Calibri;
    display: none;
}

