<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihclCardOfficeCards'}" />

<sly data-sly-use.model="com.ihcl.core.models.ihcl.IhclOfficeCardModel" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<div data-sly-test.finalDivElement="${properties.removeShowMore ? 'divWithoutShowMore' :'ichlOfficeCardInnerWrap'}"
    class="${finalDivElement}">
    <div class="row">
        <sly data-sly-list.key="${model.cardList}">
        <div class="offers-page-card-component col-lg-4 col-md-6 col-12 show-more-card-element cm-card-showmore-spacing">
            <div class="mr-contact-us-wrap">
                <div class="cont-us-image-cont mr-contact-hide-card-image">
                    <sly
                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath='/content/dam/tajhotels/in/en/holidays/holidays-destination/goa/taj-fort-aguada/bitmap@3x.jpg', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />
                </div>
                <div class="cont-us-details-container" data-showMoreOption="${properties.removeShowMore}">
                    <div class="cont-us-details-header">${key.title}</div>
                    <div class="cont-us-contact-wrap">
                        <div class="cont-us-phone-number">
                            <div>
                                <!-- <h5>TAJ WEST END</h5>
                                <div>Race Course Road, Bangalore, Karnataka 560 001, India</div> -->
                                <div>${key.description @context='html'}</div>

                                <div class="ho-contact-options-con">
                                    <div data-sly-test="${key.phoneNumber}">
                                        <a class="ho-contact-number hide-in-lg inline-block" href="tel:${key.phoneNumber}"><span>Phone:-</span>
                                            <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt"
                                                itemprop="telephone">${key.phoneNumber}</div> </a>
                                    </div>
                                    <sly data-sly-test="${key.phoneNumber}">
                                    <div class="inline-block ho-mail-to-txt hide-in-sm hide-in-md">Phone:-
                                        ${key.phoneNumber}</div>
                                    </sly>
                                    <div data-sly-test="${key.emailId}">
                                        <a class="ho-mail-to inline-block" href="mailto:${key.emailId}"><span>Email
                                                :-</span>
                                            <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">${key.emailId}</div>
                                        </a>
                                    </div>
                                    <!--  <div data-sly-test="${key.fax}">
                                     Fax :-
                                                        <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" itemprop="telephone">${key.fax}</div>
                                                    </a>
                                                     <a class="ho-contact-number hide-in-sm hide-in-md inline-block disabled"><span>Fax:-</span>
                                                        <div class="inline-block ho-mail-to-txt" itemprop="telephone">${key.fax}</div>
                                                    </a>
                                                    </div>
                                            </div> -->
                                    <div data-sly-test="${key.fax}">Fax :- ${key.fax}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </sly>
    </div>
</div>