<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='taj.hotels.destination-offer-carousel,taj.hotels.offers-carousel-card'}"/>

<div data-sly-test="${wcmmode.edit}">
    Offer and Deals for Destination
</div>

<sly data-sly-test.destinationCity = "${pageProperties.destinationPath ? pageProperties.destinationPath : currentPage.path}"/>
<div 
data-sly-use.offerList="${'com.ihcl.core.models.offers.OfferList' @ destinationPage=destinationCity}"
     class="offers-deals-container cm-content-blocks container">
    <div class="cm-header-label-con title-decorator-border">
       <sly data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly> 
        <a href="/content/tajhotels/en-in/offers.html" data-sly-test = ${properties.viewAllTitle}>
            <div class="cm-header-offers">${properties.viewAllTitle}</div>
        </a>
    </div>
    <div>
        <div class="dest-hotels-offers-and-deals-con">
            <div class="offers-and-deals-wrap">
                <div class="clearfix" data-sly-list.listItem="${offerList.getOfferList}" data-sly-use.offerCaroursel="tajhotels/components/content/offer-carousel-card/offer-carousel-card.html">
				   <sly  data-sly-call="${offerCaroursel.offercarouselcard @ resourcePath=listItem.path,cardTitleType=properties.type}"/> 
                  <!--  <sly data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/offer-carousel-card' }"></sly>-->
                </div>
            </div>
        </div>
    </div>
    <div class="offers-button-wrapper">
        <a href="${properties.viewAllLinkUrl}.html">
            <button class="cm-btn-primary offers-button" type="button">
                ${properties.viewAllTitle}
            </button>
        </a>
    </div>
</div>
