<sly data-sly-test="${wcmmode.edit}">AMA Accordion</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.hotels.accordion'}"></sly>




<section class="accordion-container ${properties.sitemapAma?'sitemap-ama-acc':''}">

    <div class="container"> 
    <sly data-sly-list.list=${resource.children}>
        <sly data-sly-test="${list.name == 'accordian'}">
            <sly data-sly-list.listItems=${list.children}>
                <div class="set">
                    <div class="description-heading">
                        ${listItems.title}
                        <span class="down-arrow"></span>
                    </div>
                    <div class="content">
                        ${listItems.description @ context="html"}
                    </div>
                </div>
            </sly>
        </sly>
    </sly>
    </div>
</section>
