<sly data-sly-use.config="com.ihcl.core.models.config.TajApiKeyConfigModel" />
<script src="https://maps.googleapis.com/maps/api/js?key=${config.getGoogleMapApiKey}&libraries=places">
    var eventdate = '${properties.eventstartDate @ context="scriptString"}';
</script>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.taj.events.detail'}" />
<sly data-sly-use.eventsdata="${'com.ihcl.loyalty.services.impl.EventsDateFormatter'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />


<div style="display: none;" id="eventpath">${properties.eventUrl}</div>
<div style="display: none;" id="productname">${properties.productName}</div>
<div style="display: none;" id="currency">${properties.currency}</div>
<div style="display: none;" id="propertycode">${properties.propertyCode}</div>
<div style="display: none;" id="maxSeats">${properties.maxSeats}</div>
<div style="display: none;" id="subAccountId" data-sub-account-id="${properties.subAccountId}"></div>
<div class="back-btn-wrp">
    <a class="back-btn" href="${properties.backUrl}.html">&lt BACK</a>
</div>
<div class="cm-header-label-con title-decorator-border">
    <h2 class="cm-header-label">${properties.eventTitle}</h2>
</div>
<div class="col-12 placeholder-title-wrap">
    <div class="placeholder-title">${properties.description @context='html'}</div>
</div>
<div class="tic-event-booking-wrp ${properties.freepoint?'member-free-booking-wrap':'' }">

    <div class="tic-event-details-n-points-wrp">
        <div class="event-details-date-venue-wrp">
            <div class="event-date-wrp">
                <span class="date-title title">Date & Time - &nbsp;</span>
                <span class="date-details details">${eventsdata.convertedDate}</span>
            </div>
            <div class="event-venue-wrp">
                <span class="venue-title title">Venue - &nbsp;</span>
                <span class="venue-details details"> ${properties.eventDetailedLocation}</span>
                <a class="veiw-map" target="_blank" href="">VIEW ON MAP</a>
            </div>
            <div class="event-venue-wrp">
                <span class="venue-details details"> ${properties.venueDisclaimer}</span>
            </div>
        </div>
        <div class="event-price-details-wrp ">
            <div class="ticket-title">
                <img class="logo" src="/content/dam/tic/page-1.svg" alt="logo icon" />${properties.ticketTitle}
            </div>
            <div class="points-and-price-details-wrp free-booking-hide">
                <span class="price-title title">&#8377;</span>
                <span class="actual-price details">${properties.actualPrice} + TAXES</span>
                <span class="price-title title">&#8377;</span>
                <span class="price-details details">${properties.eventPrice}</span>
            </div>
        </div>
    </div>
    <div class="event-details-wrp row">
        <div class="col-md-5 event-card-img-wrp">
            <sly
                data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.eventsImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />
        </div>
        <div class="col-md-7 event-booking-form">
            <div class="baseTicPoints d-none" data-ticPoints="${properties.eventPrice}"></div>
            <div class="event-title">${properties.eventTitle}</div>
            <div class="event-info-wrp">
                <div class="event-name-wrp">
                    <span class="title">Event Name:</span>
                    <span class="details">${properties.eventTitle}</span>
                </div>
                <div class="event-points-wrp free-booking-hide" id="pointsid">
                    <span class="title">Total Amount : &#8377;</span>
                    <span class="details" id="pointsidTIC">${properties.eventPrice}</span>
                </div>

                <div class="event-available-wrp">
                    <span class="title">Available Seats:</span>
                    <span id="availableTicket" class="details">${properties.ticketsAvail}</span>
                </div>

            </div>
            <form>
                <div class="mr-sub-form">
                    <div class="sub-form-input-wrp">
                        <div class="sub-form-input-label">Name*</div>
                        <input id="customerName" class="only-alpha-input sub-form-input-element sub-form-mandatory"
                            type="text" aria-label="Customer Name" />
                        <div class="sub-form-input-warning"></div>
                    </div>
                    <div class="sub-form-input-wrp">
                        <div class="sub-form-input-label">Email Id*</div>
                        <input id="customerEmail" class="email-input sub-form-input-element sub-form-mandatory" type="text"
                            aria-label="Customer Email" />
                        <div class="sub-form-input-warning"></div>
                    </div>
                    <div class="sub-form-input-wrp">
                        <div class="sub-form-input-label">Mobile Number*</div>
                        <input id="customerMobile"
                            class="limit-phone-number only-numeric-input sub-form-input-element sub-form-mandatory"
                            type="text" aria-label="Customer Phone Number" />
                        <div class="sub-form-input-warning"></div>
                    </div>
                    <div class="no-of-tickets-wrp">
                        <div class="sub-form-input-label label">${properties.ticketCountTitle}</div>
                        <div class="no-of-tickets">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="quantity-left-minus decrement-tickets btn btn-default btn-number"
                                        type="button" data-type="minus" data-field="">
                                        <span>-</span>
                                    </button>
                                </span>
                                <input class="form-control input-number bas-quantity tic-ticket-count" id="quantityC"
                                    type="number" aria-label="Number of tickets" name="quantity" value="1" min="1" max="6" />
                                <span class="input-group-btn">
                                    <button class="quantity-right-plus increment-tickets btn btn-default btn-number"
                                        type="button" data-type="plus" data-field="">
                                        <span>+</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="no-of-tickets-wrp">
                        <div class="sub-form-input-label label">${properties.ticketDisclaimer}</div>
                    </div>
                    <div class="submit-btn-wrp">
                        <button class="cm-btn-secondary booking-submit-btn" type="button">${properties.viewDetailButton}</button>
                        <div class="booking-submit-loader inline-block" style="display: none;">
                            <div class="taj-loader">
                                <div class="taj-loader-circle"></div>
                                <div class="taj-loader-circle"></div>
                                <div class="taj-loader-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>