<sly data-sly-test = "${wcmmode.edit}">AMA IHCL Benefits</sly>

<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">


<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='ama.hotels.ihcl-benefits'}"></sly>


<section class="container">
<div class="${properties.backgroundColor}">
	<div class="ihcl-benefits-title-container">
    		<sly data-sly-test=${properties.title}>
				<h2 data-sly-element="${properties.type}" class="text-title">${properties.title}</h2>
            </sly>
	</div>

		<div class="row align-items-center ihcl-benefits-cards-container">

			<div class="col-md-5 ihcl-benefits-image-container">
            	<sly data-sly-test=${properties.image}>
					<div class="ihcl-benefits-image ">
						<!--<img src="${properties.image}"/>-->
<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.image,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>

					</div>
                </sly>
			</div>
		  	  <div class="col-md-7 ihcl-benefits-second">
                <sly data-sly-test=${properties.description}>
					<div class="ihcl-benefits-desc">${properties.description @ context="html"}</div>
            	</sly>
		<sly data-sly-list.list=${resource.children}>
        	<sly data-sly-list.listItems=${list.children}>
                <div class="ihcl-benefits-third">
                	<sly data-sly-test=${listItems.logoImage}>
						<div class="ihcl-benefits-logo">
							<!--<img src="${listItems.logoImage}"/>-->
<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=listItems.logoImage,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.144.144.jpeg'}"></sly>

						</div>
            	    </sly>
                	<sly data-sly-test=${listItems.description}>
						<div class="strip-desc">
							${listItems.description  @ context="html"}
						</div>
            	    </sly>
				</div>
			  </div>
            </sly>
        </sly>
			</div>
		</div>
</div>
</section>