<div data-sly-test="${wcmmode.edit}">
    Itinerary check Availability component
  </div>
  
  
  <sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
      data-sly-call="${clientlib.all @ categories='tajhotels.itinerary.checkavailability'}" />
  
  <section class="cm-content-blocks">
              <div class="package-search-check-availability-wrp mr-sub-form">
                  <div id="pakage-details-wrp package-search-form" class="pakage-details-wrp package-search-form mr-sub-form-row">
                      <button id="addHotelTemp" onclick="addHotel()" disabled>Add Hotel</button>
                      <div id="multipleHotel" class = "row multipleHotel">
                      <div class="col-lg-4 col-12 d-flex flex-wrap flex-md-nowrap">
                          <div id="booking-search-campaign" class="search-and-suggestions-wrapper package-hotel-search-wrp package-input-container sub-form-input-wrp">
                              <div class="searchBar-wrap">
                                  <div class="package-hotel-search-label package-label sub-form-input-label">${properties.hotelLabel}</div>
                                  <div onclick="populateHotels($(this))" class="jiva-spa-hotel-input package-input-wrp search-comp-container">
                                      <input id="check-availaility-searchbar-input" autocomplete="false" class="searchbar-input jiva-spa-mand jiva-spa-mand-input sub-form-input-element sub-form-mandatory" aria-label  = "${properties.hotelLabel}" placeholder="Search for Hotel" disabled/>
                                      <div class="sub-form-input-warning"></div>
                                      <div id="check-availaility-search-results-itinerary" class="search-comp-results-container-itinerary">
                                          <div class="search-comp-no-results" style="display:none">Sorry, no results found.</div>
                                          <div class="search-comp-results-sub-container website">
                                          <div class="search-results-heading">
                                              <img src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon">
                                              <span class="search-results-heading-text">OUR HOTELS</span>                             
                                          </div>
                                          <ul id="check-availaility-search-results-hotels" class="search-comp-results-list website search-destination"></ul>
                                      </div>
                                  </div>
                                  </div>
                              </div>                        
                          </div>
                      </div>
                      <div class="from-to-datepicker-con package-check-in-date-wrp package-input-container col-lg-2 col-12 sub-form-input-wrp">
                          <div class="package-check-in-date-label package-label sub-form-input-label">${properties.checkinLabel}</div>
                          <div class="jiva-spa-date-section package-check-in-date package-input-wrp">
                              <div class="jiva-spa-date-con enquiry-date-con"><input class="enquiry-from-value sub-form-input-element sub-form-mandatory check-in-date" type="text" placeholder="Date" aria-label = "${properties.checkinLabel}" value="" disabled="disabled" />
                                  <div class="sub-form-input-warning"></div><img src="/content/dam/tajhotels/icons/style-icons/calendar-check-availability.svg" tabindex="0" alt  = "calendar-check-availability-icon"/></div>
                              <div class="jiva-spa-date cm-fixed-date-picker-width" id="enquiry-from-date"></div>
                          </div>
                      </div>
                      <div class="from-to-datepicker-con package-check-out-date-wrp package-input-container col-lg-2 col-12 sub-form-input-wrp">
                          <div class="package-check-out-date-label package-label sub-form-input-label">${properties.checkoutLabel}</div>
                          <div class="jiva-spa-date-section package-check-out-date package-input-wrp">
                              <div class="jiva-spa-date-con enquiry-date-con"><input class="enquiry-to-value sub-form-input-element sub-form-mandatory check-out-date" type="text" placeholder="Date" aria-label = "${properties.checkoutLabel}" value="" disabled="disabled" />
                                  <div class="sub-form-input-warning"></div><img src="/content/dam/tajhotels/icons/style-icons/calendar-check-availability.svg" alt = "calendar-check-availability-icon"/></div>
                              <div class="jiva-spa-date cm-fixed-date-picker-width" id="enquiry-to-date"></div>
                          </div>
                      </div>
                  </div>

                      
                  </div>
                  <div class="col-lg-4 col-12 packages-dropdwn-wrp">
                    <div class="row">
                        <div class="package-no-of-rooms-wrp package-input-container col-lg-4 col-12">
                            <div class="package-no-of-rooms-label package-label padding-zero">${properties.roomsLabel}</div>
                            <div class="selectSubContainer package-no-of-rooms package-input-wrp">
                                <select aria-label="Package number of rooms" class="sub-form-input-element" name="packageNoOfRooms" id="packageNoOfRooms">
                                    <option value=1>1</option><option value=2>2</option><option value=3>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12 package-occupancy-count-row-wrapper">
                            <div class="row package-occupancy-count-row">
                                <div class="package-no-of-adults-wrp col-lg-6 col-12">
                                    <div class="package-no-of-adults-label package-label padding-zero">${properties.adultsLabel}</div>
                                    <div>
                                        <div class="selectSubContainer package-no-of-adults package-input-wrp">
                                            <select aria-label="Package number of adults room 1" class="sub-form-input-element" name="packageNoOfAdults1" id="packageNoOfAdults1">
                                                <option value=1>1</option>
                                                <option value=2>2</option>
                                                <option value=3>3</option>
                                                <option value=4>4</option>
                                                <option value=5>5</option>
                                                <option value=6>6</option>
                                                <option value=7>7</option>
                                            </select></div>
                                        <div class="selectSubContainer package-no-of-adults package-input-wrp" style="display:none">
                                            <select aria-label="Package number of adults room 2" class="sub-form-input-element" name="packageNoOfAdults2" id="packageNoOfAdults2">
                                                <option value=1>1</option>
                                                <option value=2>2</option>
                                                <option value=3>3</option>
                                                <option value=4>4</option>
                                                <option value=5>5</option>
                                                <option value=6>6</option>
                                                <option value=7>7</option>
                                            </select>
                                        </div>
                                        <div class="selectSubContainer package-no-of-adults package-input-wrp" style="display:none">
                                            <select aria-label="Package number of adults room 3" class="sub-form-input-element" name="packageNoOfAdults3" id="packageNoOfAdults3">
                                                <option value=1>1</option>
                                                <option value=2>2</option>
                                                <option value=3>3</option>
                                                <option value=4>4</option>
                                                <option value=5>5</option>
                                                <option value=6>6</option>
                                                <option value=7>7</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="package-no-of-children-wrp col-lg-6 col-12">
                                    <div class="package-no-of-children-label package-label padding-zero">${properties.childrenLabel}</div>
                                    <div>
                                        <div class="selectSubContainer package-no-of-children package-input-wrp">
                                            <select aria-label="Package number of children room 1" class="sub-form-input-element" name="packageNoOfChildren1" id="packageNoOfChildren1">
                                                <option value=0>0</option><option value=1>1</option><option value=2>2</option>	
                                            </select>
                                        </div>
                                        <div class="selectSubContainer package-no-of-children package-input-wrp" style="display:none">
                                            <select aria-label="Package number of children room 2" class="sub-form-input-element" name="packageNoOfChildren2" id="packageNoOfChildren2">
                                                <option value=0>0</option><option value=1>1</option><option value=2>2</option>
                                            </select>
                                        </div>
                                        <div class="selectSubContainer package-no-of-children package-input-wrp" style="display:none">
                                            <select aria-label="Package number of children room 3" class="sub-form-input-element" name="packageNoOfChildren3" id="packageNoOfChildren3">
                                                <option value=0>0</option><option value=1>1</option><option value=2>2</option>
                                            </select>
                                        </div>
                                    </div>		                                
                                </div>
                            </div>                            	
                        </div>                            
                    </div>
                </div>
                  <div class="package-availabality-check-btn-travel-wrp clearfix">
                  <sly data-sly-test="${properties.isCorporateAccess}">
                              <div class="rate-code">
                                  <div class="jiva-spa-hotel-input search-comp-container sub-form-input-wrp">
                                    <div class="package-hotel-search-label package-label sub-form-input-label">Rate Code</div>
                                    <input id="check-availaility-rate-code-input" class="jiva-spa-mand jiva-spa-mand-input sub-form-input-element" aria-label = "Check Availaility Rate Code" placeholder="Enter Rate code" />
                                    <div class="sub-form-input-warning package-input-wrp"></div>                                 
                                  </div>
                              </div>  
                          </sly> 
                   <sly data-sly-test="${properties.promocode}">
                              <div class="promo-code">
                                  <div class="jiva-spa-hotel-input search-comp-container sub-form-input-wrp">
                                    <div class="package-hotel-search-label package-label sub-form-input-label">Promo/Access Code</div>
                                    <input id="check-availaility-promo-code-input" class="jiva-spa-mand jiva-spa-mand-input sub-form-input-element" aria-label = "Check Availaility Promo Code" placeholder="Enter Promo/Access Code" />
                                    <div class="sub-form-input-warning package-input-wrp"></div>                                 
                                  </div>
                              </div>  
                          </sly>   
                  <div id="offerCode" style="display:none;">${properties.offercode}</div>
                  <sly data-sly-test.codeLabel="${properties.codelabel ? properties.codelabel : 'offerRateCode'}">
                  <div id="codelabel" style="display:none;">${codeLabel}</div>
                  <div id="paramName" style="display:none">${properties.paramname}</div>
                  <div id="isSynxis" style="display:none;">${properties.isSynxis}</div>
                  <div id="isCorporateAccess" style="display:none;">${properties.isCorporateAccess}</div>
                  <div id="promocode" style="display:none;">${properties.promocode}</div>
                  <div id="chain" style="display:none;">${properties.chain}</div>
                  <div id="currency" style="display:none;">${properties.currency}</div>
                  <div id="locale" style="display:none;">${properties.locale}</div>
                  <div id="level" style="display:none;">${properties.level}</div>
                  <div id="sberi" style="display:none;">${properties.sberi}</div>
                  <a class="package-check-availaility" id="ca-global-re-direct"><button class="cm-btn-secondary itinerary-submit-btn">${properties.button}</button></a></div>
                  <input type="hidden" id="isAuthorable" value="${properties.isAuthorableDates}"  aria-hidden = "true"/>
                  <input type="hidden" id="checkinDate" value="${'dd/MM/yyyy' @ format=properties.checkinDate}"  aria-hidden = "true"/>
                  <input type="hidden" id="checkoutDate" value="${'dd/MM/yyyy' @ format=properties.checkoutDate}"  aria-hidden = "true"/>
                  <input type="hidden" id="searchPath" value="${inheritedPageProperties.siteConfigContentPath}"  aria-hidden = "true"/>
                  <input type="hidden" id="voucherRedemption" value="${properties.voucherRedemption}"  aria-hidden = "true"/>
                  <input type="hidden" id="checkAvailOtherPath" value="${inheritedPageProperties.otherWebsitePath}"  aria-hidden = "true"/>
              </div>

              <div class="d-none" tabindex="-1" id="availability-template">

                  <div class="row multipleHotel" id="hotelElement"><div class="col-lg-4 col-12 d-flex flex-wrap flex-md-nowrap"><div id="booking-search-campaign" class="search-and-suggestions-wrapper package-hotel-search-wrp package-input-container sub-form-input-wrp"><div class="searchBar-wrap"><div class="package-hotel-search-label package-label sub-form-input-label">Hotel or Destination</div><div onclick="populateHotels($(this));" class="jiva-spa-hotel-input package-input-wrp search-comp-container"><input id="check-availaility-searchbar-input" autocomplete="false" class="searchbar-input jiva-spa-mand jiva-spa-mand-input sub-form-input-element sub-form-mandatory" aria-label="${properties.hotelLabel}" placeholder="Search for Hotel" disabled=""><div class="sub-form-input-warning"></div><div id="check-availaility-search-results-itinerary" class="search-comp-results-container-itinerary"><div class="search-comp-no-results" style="display:none">Sorry, no results found.</div><div class="search-comp-results-sub-container website"><div class="search-results-heading"><img src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon"><span class="search-results-heading-text">OUR HOTELS</span></div><ul id="check-availaility-search-results-hotels" class="search-comp-results-list website search-destination"></ul></div></div></div></div></div></div><div class="from-to-datepicker-con package-check-in-date-wrp package-input-container col-lg-2 col-12 sub-form-input-wrp"><div class="package-check-in-date-label package-label sub-form-input-label">Check-in Date</div><div class="jiva-spa-date-section package-check-in-date package-input-wrp"><div class="jiva-spa-date-con enquiry-date-con"><div class="input-parent" onclick="addFromDatePicker($(this));"><input class="enquiry-from-value sub-form-input-element sub-form-mandatory check-in-date" type="text" placeholder="Date" aria-label="${properties.checkinLabel}" value="" disabled="disabled"></div><div class="sub-form-input-warning"></div><img src="/content/dam/tajhotels/icons/style-icons/calendar-check-availability.svg" tabindex="0" alt="calendar-check-availability-icon"></div><div class="jiva-spa-date-itinerary cm-fixed-date-picker-width" id="enquiry-from-date"></div></div></div><div class="from-to-datepicker-con package-check-out-date-wrp package-input-container col-lg-2 col-12 sub-form-input-wrp"><div class="package-check-out-date-label package-label sub-form-input-label">Check-out Date</div><div class="jiva-spa-date-section package-check-out-date package-input-wrp"><div class="jiva-spa-date-con enquiry-date-con"><div class="input-parent" onclick="addToDatePicker($(this));"><input class="enquiry-to-value sub-form-input-element sub-form-mandatory check-out-date" type="text" placeholder="Date" aria-label="${properties.checkoutLabel}" value="" disabled="disabled"></div><div class="sub-form-input-warning"></div><img src="/content/dam/tajhotels/icons/style-icons/calendar-check-availability.svg" alt="calendar-check-availability-icon"></div><div class="jiva-spa-date-itinerary cm-fixed-date-picker-width" id="enquiry-to-date"></div></div></div><div class="bas-room-delete-close col-lg-3"><i onclick="removeElement($(this))" class="icon-close"><button class="btn-only-focus" aria-label="close icon"></button></i></div></div>

              </div>

          </section>