.jiva-spa-lead-gen-conf-con {
    background-color: #fefefe;
    width: 100%;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);
    padding: 61px 0 77px;
    padding: 3.8125rem 0 4.8125rem;
    font-family: Calibri;
}

.jiva-spa-lead-gen-conf-heading {
    margin: 0 auto;
    text-align: center;
}

.jiva-spa-lead-gen-conf-heading div {
    font-size: 30px;
    font-size: 1.875rem;
    color: var(--primaryColor);
    font-family: Calibri-Bold;
    margin-top: 10px;
    margin-top: 0.625rem;
}

i.icon-STAR-TAJ {
    font-size: 5rem;
}

.jiva-spa-lead-gen-conf-details {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-size: 1.25rem;
    color: #282828;
    font-family: Calibri;
}

@media only screen and (max-device-width: 767px) {
    .jiva-spa-lead-gen-conf-details div {
        display: none;
    }
}

.jiva-spa-lead-gen-conf-details-mobile {
    display: none;
}

@media only screen and (max-device-width: 767px) {
    .jiva-spa-lead-gen-conf-details-mobile {
        display: block !important;
        font-size: 1rem;
    }
}

.jiva-spa-lead-gen-conf-btn {
    margin: 0 auto;
    text-align: center;
    margin-top: 37px;
    margin-top: 2.3125rem;
    width: 121px;
    width: 7.5625rem;
}

.jiva-spa-lead-gen-conf-btn a {
    width: 100%;
}

.jiva-spa-lead-gen-conf-btn a button {
    width: 100%;
}

@media only screen and (max-device-width: 767px) {
    .jiva-spa-lead-gen-conf-btn {
        margin-top: 1.5625rem;
    }
}
