.inclusions-heading {
    font-weight: bold;
    font-size: 28px;
    font-size: 1.75rem;
    color: #323232;
    font-family: Calibri;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}
.stay-container {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: Calibri;
    color: #323232;
    width:38%;
    margin-bottom: 1.25rem;
}
.stay-img-con{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    min-width: 3.5rem;
}
.stay-img-con [class^="icon-"], 
.stay-img-con [class*=" icon-"]{    
    font-size: 2.5rem;
}
.stay-container div:first-child {
    margin-right: 16px;
    margin-right: 1rem;
    display: inline-block;
    height: 53px;
    height: 3.3125rem;
    width: 59px;
    width: 3.6875rem;
}

.stay-container .inclusions-stay-heading {
    display: inline-block;
    font-weight: bold;
    vertical-align: text-top;
}

.stay-container div:nth-child(3) {
    display: inline-block;
}

 .inclusions-stay-content {
    display: inline-block;
    vertical-align: text-top;
    width:68%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .inclusions-stay-content{
		display: block !important;
        width:auto;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .stay-container {
        display: block;
        padding: 0!important;
        margin: 0 0 1rem !important;
    }
}

.inclusions-line-separator-container {
    display: inline-block;
    position: relative;
    margin: 0 40px;
    margin: 0 2.5rem;
}

.inclusions-line-separator-container .line-seperator {
    bottom: -20px;
    bottom: -1.25rem;
    position: absolute;
    height: 55px;
    height: 3.4375rem;
    width: 2px;
    width: 0.125rem;
    border: solid 1px #979797;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .inclusions-line-separator-container {
        display: none;
    }
}

.conveniences-container {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: Calibri;
    color: #323232;
    width:55%;
    margin-bottom: 1.25rem;
}

.stay-container div:first-child {
    margin-right: 16px;
    margin-right: 1rem;
    display: inline-block;
    height: 53px;
    height: 3.3125rem;
    width: 59px;
    width: 3.6875rem;
}

.icon-validity:before {
	content: "\ea95";
	color: var(--primaryColor);
}

.ama-theme .icon-stay:before {
	content: "\ea12"
}

.ama-theme .inclusions-heading {
    text-transform: uppercase;	
}

.stay-container div:nth-child(3) {
    display: inline-block;
}

@media only screen and (min-device-width: 376px) and (max-device-width: 767px) {
    .stay-container .inclusions-conveniences-content {
        width: 40%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
    .stay-container {
        margin-top: 35px;
    }
}

@media only screen and (min-width:992px) {
    .stay-container:nth-child(odd) {
        border-right: 1px solid #979797;
        padding-right: 1.25rem;
    }
    .stay-container:nth-child(even) {
        padding-left: 1.25rem !important;
    }
    .stay-container:last-child {
        border-right: 0;
    }
    .inclusions-container .stay-container:nth-child(odd) {
        border-right:none;
        padding-right:0;
    }
}
.stay-details-text-con { 
    display: inline-block;
    width: calc(100% - 5rem);
    vertical-align: middle;
    padding-left: 1rem;
}
@media only screen and (max-width:767px) {
.stay-details-text-con {
	padding-left:0;
    vertical-align: top;
}
}