
<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.partnersandpromotion'}" />
<sly data-sly-use.model="com.ihcl.core.models.PartnerPromotionModel" />
<div data-sly-test="${wcmmode.edit}">Partners And Promotion</div>
<div >
	<div class="row">
		<sly data-sly-list.key="${model.partnerPromotionList}">
		<div
			class="col-12 col-lg-4 col-md-4 flying-partner-container-col-three-wrap">
			<div class="flying-partner-small-wrap">
				<div class="flying-partner-imageContainer">
					<img src="${key.logoImagePath}" alt="Image of the destination">
					<div id="flying-logo-inside">
						<div class="flying-partner-details-name">${key.title}</div>
					</div>
				</div>
				<div class="flying-partner-details-container">
					<div class="flying-partner-details-name">${key.title}</div>
					<a class="pp-card-btn-con" href="${key.partnerResourceUrl}.html"><button
							class="cm-btn-secondary view-details-button-flight">VIEW
							DETAILS</button></a>
				</div>
			</div>
		</div>
		</sly>
	</div>
</div>




