<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-base-page,tajhotels.fitness,tajhotels.gallerycarousel'}" />
<sly data-sly-use.gallery="com.ihcl.core.models.gallery.GalleryImageSelector" />
<sly data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher" />
<div class="gallery-carousel-container">
    <div data-sly-resource="${ '{0}' @  resourceType='tajhotels/components/content/gallery-carousel' }"></div>
</div>

<div data-sly-test.edit=${wcmmode.edit}>
    <h1>Edit to Configure the Fitness Component</h1>
</div>
<div data-sly-test="${properties.fitnessName}" data-sly-unwrap>
    <div class="specific-city-fitness cm-content-blocks">
        <div class="row">
            <div class="specific-city-fitness-wrapper col-12">
                <div class="spec-fitness-container clearfix">
                    <div class="about-spec-fit-cont">
                        <div class="ho-first-section">
                            <h1 class="ho-header">${properties.fitnessName}</h1>
                            <div class="ho-contact-options-con">
                                <a class="ho-contact-number hide-in-lg inline-block"
                                    href="tel:${hotelProperties.hotelStdCode}${hotelProperties.hotelPhoneNumber}"> <i
                                    class="ho-cm-icon ho-contact-icon inline-block icon-phone-enabled"></i>
                                    <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">${hotelProperties.hotelStdCode}${hotelProperties.hotelPhoneNumber}</div>
                                </a>
                                <div data-sly-test="${hotelProperties.hotelPhoneNumber}"
                                    class="ho-contact-number hide-in-sm hide-in-md inline-block disabled">
                                    <i class="ho-cm-icon ho-contact-icon inline-block icon-phone-disabled"></i>
                                    <div class="inline-block ho-mail-to-txt">${hotelProperties.hotelStdCode}-${hotelProperties.hotelPhoneNumber}</div>
                                </div>
                                <a data-sly-test="${hotelProperties.hotelEmail}" class="ho-mail-to inline-block on-mobile"
                                    href="mailto:${hotelProperties.hotelEmail @context='html'}"> <i
                                    class="ho-mail-to-icon ho-cm-icon inline-block icon-envelope"></i>
                                    <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">${hotelProperties.hotelEmail}</div>
                                </a>
                                <div class="spec-fitness-desc">${properties.fitnessDescription @context='html'}</div>
                            </div>
                        </div>

                        <div class="ho-second-section">
                            <div class="ho-services-n-amenities-con">
                                <div class="ho-header-small clearfix">
                                    <span class="inline-block cm-left">Gym Amenities</span>
                                </div>

                                <ul class="ho-items-list ho-services-collapsed">
                                    <sly
                                        data-sly-use.serviceAmenitiesModel="com.ihcl.core.models.serviceamenity.GroupedServiceAmenitiesFetcher">
                                    <sly data-sly-list.allAmenity="${serviceAmenitiesModel.allAmenities }"> <sly
                                        data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=allAmenity}" />
                                    <sly data-sly-test="${allAmenityList.count <= 5}">
                                    <li class="ho-each-items inline-block">
                                        <div class="ho-services-each-wrap">
                                            <img class="ho-service-icon" src="${serviceAmenitiesProperties.imagePath}"
                                                alt="service Amenities image">
                                            <div class="ho-service-name inline-block">${serviceAmenitiesProperties.name}</div>
                                        </div>
                                    </li>
                                    </sly> <sly data-sly-test="${allAmenityList.count == 6}">
                                    <li class="ho-each-items inline-block ho-services-show-all-con">
                                        <span class="cm-view-txt ho-services-show-all ho-services-show-txt">
                                            Show all <i class="show-all-arrow icon-drop-down-arrow inline-block"></i>
                                        </span>
                                    </li>
                                    </sly> </sly> </sly>
                                </ul>
                                <ul class="ho-items-list ho-services-expanded cm-hide">
                                    <sly
                                        data-sly-use.serviceAmenitiesModel="com.ihcl.core.models.serviceamenity.GroupedServiceAmenitiesFetcher">
                                    <sly data-sly-list.allAmenity="${serviceAmenitiesModel.AllAmenities}"> <sly
                                        data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=allAmenity}" />
                                    <li class="ho-each-items inline-block">
                                        <div class="ho-services-each-wrap">
                                            <img class="ho-service-icon" src="${serviceAmenitiesProperties.imagePath}"
                                                alt="service Amenities image">
                                            <div class="ho-service-name inline-block">${serviceAmenitiesProperties.name}</div>
                                        </div>
                                    </li>
                                    </sly> </sly>
                                    <li class="ho-each-items inline-block ho-services-show-less-con">
                                        <span class="cm-view-txt ho-services-show-less ho-services-show-txt">
                                            Show less <i
                                                class="show-less-arrow icon-drop-down-arrow inline-block cm-rotate-icon-180"></i>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="ho-third-sect-fitness">
                            <ui class="ho-timing-list">
                            <li data-sly-test="${properties.weekdays}" class="ho-timing">
                                <span class="ho-timing-header">Monday to Friday -</span>
                                <span>${properties.weekdays}</span>
                            </li>
                            <li data-sly-test="${properties.holidays}" class="ho-timing ho-timing-sec">
                                <span class="ho-timing-header">Saturday to Sunday -</span>
                                <span>${properties.holidays}</span>
                            </li>
                            <li data-sly-test="${properties.weekend}" class="ho-timing">
                                <span class="ho-timing-header">Bank Holidays -</span>
                                <span>${properties.weekend}</span>
                            </li>
                            </ui>
                        </div>
                        <div class="ho-fourth-sect-fitness" data-sly-test.timeTable="${properties.tableData}">
                            <div class="gym-detail-fitness">VIEW GYM TIME TABLE</div>
                        </div>
                    </div>
                    <div class="spec-fit-image-cont"
                        data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                        <div class="spec-fit-image">
                            <sly data-sly-list.imagePath="${gallery.imagePaths.toString}"> <sly
                                data-sly-use.firstImage="${'/apps/tajhotels/components/content/server-side-js-library/getFirstImagePath.js' @ imagePaths=imagePath}"
                                data-sly-list="${firstImage.options}"> <sly
                                data-sly-call="${imagetemplate.damImageTemplate @ imagePath= item ? item :'/content/dam/tajhotels/logos/taj-logos/img-taj@2x.png',styleClass='mr-experiences-image',renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true'}"></sly>
                            </sly> </sly>
                            <div class="fitness-view-photos-con" data-gallery-images=${gallery.imagePaths.toString}
                                onclick="showGallery(this)" data-dialog-btn="galleryCarousel" tabindex="0" role="button">
                                <img class="light-box-image" src="/content/dam/tajhotels/icons/style-icons/lightbox.svg"
                                    alt="lightbox-icon">
                                <span>VIEW PHOTOS (${gallery.numberOfImages})</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="specCity-timeTable-popUp-wrap">
                    <div class="cm-specific-showMap-con spec-city-timeTable" style="display: none">
                        <div class="cm-specific-showMap-overLay bas-overlay"></div>
                        <div class="cm-specific-showMap spec-city-timeTable">
                            <div class="loc-showMap-close-cont">
                                <i class="showMap-close icon-close inline-block"></i>
                            </div>
                            <div class="spec-city-timeTable-con">
                                <div class="time-table-wrapper">${properties.tableData @context='html'}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
