<sly data-sly-use.offer="com.ihcl.core.models.offers.Offer" >
<sly data-sly-test="${offer.offerCategory}">
    <div class="offers-page-card-component col-lg-4 col-md-6 col-xs-12" data-offerType="${offer.offerCategory}"
    data-noOfNights="${offer.noOfNights}"
    data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    <div class="offers-card-inner-wrapper">
         <!--<div class="offers-card-header-container" data-sly-test=${offer.discountValue}>
            <div class="offer-card-header-additional-points">
                <div data-sly-test=${offer.discountValue} class="offers-header-text">
                    Earn <span class="additional-points-text">${offer.discountValue}
                    </span> ${offer.offerSpecific}
                </div>
            </div>
        </div> -->
        <!-- src="/content/dam/tajhotels/english/our-hotels/mumbai/taj-mahal-palace/offers-card-image-1@2x.png" -->
    <sly data-sly-test="${pageProperties.hotelBookingEngineId}">
    <sly data-sly-test.finalImagePath="${offer.draggedImagePath ? offer.draggedImagePath : offer.SpecificOfferImage}"/>
    <sly 
    data-sly-call="${imagetemplate.damImageTemplate @ imagePath= finalImagePath ? finalImagePath :'/content/dam/tajhotels/in/en/offers/offerBanner.png',styleClass='offers-card-image', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly></sly>
    <sly data-sly-test="${!pageProperties.hotelBookingEngineId}">
    <sly data-sly-test.finalImagePath="${offer.draggedImagePath ? offer.draggedImagePath : offer.offerImage}"/>
    <sly 
    data-sly-call="${imagetemplate.damImageTemplate @ imagePath= finalImagePath ? finalImagePath :'/content/dam/tajhotels/in/en/offers/offerBanner.png',styleClass='offers-card-image', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly></sly>
    <sly data-sly-test="${offer.offerTitle}">
        <div class="offers-card-main hotel-offers-card-main" data-sly-test="${pageProperties.hotelBookingEngineId} ">
            <div class="offers-card-title">${offer.offerTitle}</div>
            <div class="offers-card-description">${offer.offerShortDesc}</div>
            
            <div class="offers-card-footer clearfix" >
                <div class="offer-validity">
                    <sly data-sly-test="${offer.roundTheYearOffer}">
                       <div class="offer-validity-date">Round the year</div>
                    </sly>
                    <sly data-sly-test="${!offer.roundTheYearOffer}">
                       <sly data-sly-test="${offer.offerStartsDate}">
                       		<div class="offer-validity-date">Valid from  ${'dd MMM yy' @ format=offer.offerStartsDate } till ${'dd MMM yy' @ format=offer.offerEndsDate } </div>
                         </sly>
                         <sly data-sly-test="${!offer.offerStartsDate}">
                             <sly data-sly-test="${offer.offerEndsDate}">
                                 <div class="offer-validity-date">Valid till ${'dd MMM yyyy' @ format=offer.offerEndsDate } </div>
                              </sly>
                              <sly data-sly-test="${!offer.offerEndsDate}">
                                  <div class="offer-validity-date">Valid till
                                  <span class="offer-validity-offerendson d-none">${offer.offerEndsOn}</div>
                             </sly>
                         </sly>
                    </sly>
                </div>
                <div>  
                    <div class="offer-view-details button-view-details">
                        <button onclick="onViewDetailsOfferSelection(''+'${offer.offerPageResourceURL @ context='text'}')"
                            class="cm-btn-secondary">VIEW DETAILS</button>
                    </div>                
                    <sly data-sly-test="${offer.offerType != 'nonStay'}">
                        <div class="offer-view-details button-view-details">
                            <button onclick="onOfferSelection('${offer.offerPageResourceURL @ context='text'}', '${offer.offerRateCode @ context='text'}', '${offer.roundTheYearOffer @ context='text'}', '${offer.offerTitle @ context='text'}', '${offer.noOfNights @ context='text'}', '${offer.offerStartsFrom @ context='text'}', '${offer.offerEndsOn @ context='text'}', '${offer.comparableOfferRateCode @ context='text'}', '${offer.offerCategory @ context='text'}', '${offer.memberOnlyOffer @ context='text'}')"
                                class="cm-btn-secondary">BOOK NOW</button>
                        </div>
                    </sly>
                </div>
            </div>        
        </div>

        <div class="offers-card-main" data-sly-test="${!pageProperties.hotelBookingEngineId} ">
            <div class="offers-card-title">${offer.offerTitle}</div>
            <div class="offers-card-description">${offer.offerShortDesc}</div>
            <div class="offers-card-footer clearfix" >
                <div class="offer-validity">
                    <sly data-sly-test="${offer.roundTheYearOffer}">
                       <div class="offer-validity-date">Round the year</div>
                    </sly>
                    <sly data-sly-test="${!offer.roundTheYearOffer}">
                    	<sly data-sly-test="${offer.offerStartsDate}">
                       		<div class="offer-validity-date">Valid from  ${'dd MMM yyyy' @ format=offer.offerStartsDate } till ${'dd MMM yyyy' @ format=offer.offerEndsDate } </div>
                         </sly>
                         <sly data-sly-test="${!offer.offerStartsDate}">
                       		<div class="offer-validity-date">Valid till ${'dd MMM yyyy' @ format=offer.offerEndsDate } </div>
                         </sly>
                    </sly>
                </div>  
                
                <div class="offer-view-details button-view-details">
                    <button onclick="onOfferSelection('${offer.offerPageResourceURL @ context='text'}', '${offer.offerRateCode @ context='text'}', '${offer.roundTheYearOffer @ context='text'}', '${offer.offerTitle @ context='text'}', '${offer.noOfNights @ context='text'}', '${offer.offerStartsFrom @ context='text'}', '${offer.offerEndsOn @ context='text'}', '${offer.comparableOfferRateCode @ context='text'}', '${offer.offerCategory @ context='text'}', '${offer.memberOnlyOffer @ context='text'}')"
                        class="cm-btn-secondary">VIEW DETAILS</button>
                </div>
            </div> 
        </div>

        </sly>
		
    </div>
</div>
</sly>
</sly>


