<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.meeting-filter-selection, tajhotels.hoteldetails'}" />
<sly data-sly-use.meetingFilter="com.ihcl.core.models.MeetingFilter" />
<sly data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher" />
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 events-pg-filter-con">
        <div class="search-container search-hotels-container search-comp-container search-hotels-container-mob-style">
            <div
                class="search-and-suggestions-wrapper search-and-suggestions-wrapper-hotel container disable-input-scroll-top">
                <div class="searchBar-wrap">
                    <img class="search-icon" src="/content/dam/tajhotels/icons/style-icons/search-icon-hotels.svg"
                        alt="search-icon" />
                    <input id="search-venue-input" class="searchbar-input hotel-search" type="text"
                        placeholder="${properties.searchBarInputText}" aria-label="Hotel Search Bar" />
                    <img class="clear-input-icon hide-in-sm" tabindex="0" role="button"
                        src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
                    <div class="sub-form-input-warning" style="display: none;"></div>
                    <div class="search-filters-container">
                        <div class="filter-dropdown-wrap filterByMobile">
                            <div class="filter-dropdown-label">Filter by</div>
                            <div class="selectSubContainer">
                                <select aria-label="Filter Meeting By" name="meetingFilterBy" id="filterBy">
                                    <option value="all">Wedding Theme</option>
                                    <sly data-sly-list.eventType="${meetingFilter.weddingEventTypeList}">
                                    <option value="${eventType.value}">${eventType.title}</option>
                                    </sly>
                                </select>
                            </div>
                        </div>
                        <div class="filter-dropdown-wrap filterByMobile">
                            <div class="filter-dropdown-label"></div>
                            <div class="selectSubContainer">
                                <select aria-label="Capacity" name="capacityDropdown" id="capacityDropdown">
                                    <option value="Capacity">Capacity</option>
                                    <sly data-sly-list.capacityType="${meetingFilter.meetingCapacityList}">
                                    <option value="${capacityType.value}">${capacityType.title}</option>
                                    </sly>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="venue-filter-go" class="filter-go-warpper filter-go-container"
                        data-redirecturl=${properties.redirectLink} onclick="redirectToResultPage()">
                        <div class="filter-go-con">
                            <img class="filter-icon" src="/content/dam/tajhotels/icons/style-icons/filter-go.svg"
                                alt="go-icon" />
                            <span class="search-icon-aligner"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wedding-check-availaility-search-results" class="search-comp-results-container" style="display: none;">
                <div class="search-comp-no-results" style="display: none">Sorry, no results found.</div>
                <div class="search-comp-results-sub-container website">
                    <div class="search-results-heading">
                        <img src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon">
                        <span class="search-results-heading-text">${properties.searchResultsDestinationContainerHeading}</span>
                    </div>
                    <ul id="check-availaility-search-results-destinations"
                        class="search-comp-results-list website search-destination"></ul>
                    <div class="search-results-heading">
                        <img src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon">
                        <span class="search-results-heading-text">${properties.searchResultsHotelContainerHeading}</span>
                    </div>
                    <ul id="check-availaility-search-results-hotels"
                        class="search-comp-results-list website search-destination"></ul>
                </div>
            </div>
        </div>
        <button class="cm-btn-secondary venues-apply-btn cm-holiday-filter weddings-search-btn" id="holidayFilterSearch"
            onclick="redirectToResultPage()">SEARCH</button>
    </div>
</div>