<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.destination-offer-card'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />
<div class="offers-card-component cm-inner-carousal-cards"
    data-sly-use.model="com.ihcl.core.models.destination.DestinationOffer">
    <div class="offers-card-inner-wrapper">
        <div class="offers-card-header-container">
            <div class="offer-card-header-discount">
                <div class="offers-discount">
                    <div class="discount-both-left-right-clipped">10% discount</div>
                </div>
                <div class="offers-header-text">when using points</div>
            </div>
        </div>
        <sly
            data-sly-call="${imagetemplate.damImageTemplate @ imagePath=model.offerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='offers-card-image'}" />
        <div class="offers-card-main">
            <div class="offer-main-left">
                <div class="offers-card-title">${model.getOfferTitle}</div>
                <div class="offers-card-description">${model.offerShortDesc}</div>
            </div>
            <div class="offer-main-right">
                <div class="offer-validity" data-sly-test="${model.validityDate}">
                    Valid till
                    <div class="offer-validity-date">${model.validityDate}</div>
                </div>
                <button class="cm-btn-secondary button-view-details">VIEW DETAILS</button>
            </div>
        </div>
    </div>
</div>