.booking-ind-outer-wrap {
    width: 100%;
    min-height: 90px;
    min-height: 5.625rem;
    background: #fff;
    box-shadow: 0 -2px 12px 0 #e5e3e3;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .booking-ind-outer-wrap {
        height: 80px;
    }
}

.booking-ind-inner-wrap {
    height: 100%;
    position: relative;
    font-family: Calibri;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
}

.checkout-container {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    min-height: 89px;
    min-height: 5.5625rem;
    width: 207px;
    width: 12.9375rem;
    background-image: var(--linearGradient);
    color: #fff;
    padding: 14px 19px 27px 15px;
    padding: 14px 1.1875rem 27px 0.9375rem;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .checkout-container {
        padding-right: 0.3125rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .checkout-container {
        height: 79px;
        width: 9.6875rem;
        padding: 22px 0.5rem 18px 0.75rem;
        right: 15px;
    }
}

.checkout-image {
    float: left;
}

.checkout-image img {
    margin-top: 9px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .checkout-image img {
        margin-top: 0;
    }
}

.checkout-image .checkout-num {
    position: absolute;
    top: 13px;
    top: 0.8125rem;
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
    border-radius: 15px;
    background: #6e1200;
    text-align: center;
    line-height: 30px;
    line-height: 1.875rem;
    left: 41px;
    left: 2.59375rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .checkout-image .checkout-num {
        top: 12px;
    }
}

.ckeckout-details {
    position: absolute;
    right: 19px;
    right: 1.1875rem;
    margin-left: 24px;
    margin-left: 1.5rem;
}

.ckeckout-details .ckeckout-details-amount {
    font-family: RupeeForadian;
    font-size: 24px;
    font-size: 1.5rem;
}

.ckeckout-details .ckeckout-details-amount span {
    font-family: Calibri;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .ckeckout-details .ckeckout-details-amount {
        font-size: 1rem;
        text-align: right;
    }
}

.ckeckout-details .ckeckout-details-text {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri-Bold;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .ckeckout-details .ckeckout-details-text {
        text-transform: capitalize;
    }
}

.message-container {
    position: absolute;
    top: 0;
    right: 220px;
    right: 13.8rem;
    padding-top: 5px;
    padding-top: 0.3125rem;
}

.message-container.add-shadow {
    box-shadow: -26px 0px 41px 1px rgba(0, 0, 0, 0.3);
    height: 100%;
    border-left: 1px solid #ccc;
    border-left: 2px solid #bbb;
}

.message-container .message-banner {
    height: 25px;
    height: 1.5625rem;
    color: #fff;
    max-width: 98px;
    max-width: 6.125rem;
    position: absolute;
    right: -5px;
    right: -0.3125rem;
}

.message-container .message-banner img {
    width: 100%;
}

.message-container .message-banner .best-deal {
    position: absolute;
    width: 100%;
    top: 4px;
    top: 0.3rem;
    text-align: center;
}

.message-container .message-text {
    color: #9b9b9b;
    text-align: right;
    font-size: 13px;
    font-size: 0.8125rem;
    margin-top: 25px;
    margin-top: 1.5625rem;
    max-width: 110px;
    max-width: 6.875rem;
}

.ama-theme .message-container .message-text {
    margin-top: 0.5625rem;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .message-container {
        display: none;
    }
}

.add-room-button {
    float: left;
    font-size: 18px;
    font-size: 1.125rem;
    color: var(--primaryColor);
    line-height: 90px;
    line-height: 5.625rem;
    font-family: Calibri-Bold;
    margin-left: 23px;
    margin-left: 1.4375rem;
    cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .add-room-button {
        font-size: 0.75rem;
        position: absolute;
        right: 16rem;
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    .add-room-button {
        right: 12rem;
        line-height: 80px;
    }
}

@media only screen and (max-width: 320px) {
    .add-room-button {
        right: 11rem;
        line-height: 80px;
    }
}

.room-details-wrap-mobile {
    float: left;
    display: none;
    color: #272727;
    font-size: 16px;
    font-size: 1rem;
    line-height: 90px;
    line-height: 5.625rem;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .room-details-wrap-mobile {
        display: block;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .room-details-wrap-mobile {
    /*max-width: 4rem;*/
        display: block;
        line-height: unset;
        padding-top: 14px;
    }
}

.room-details-wrap {
    float: left;
    padding-top: 12px;
    padding-top: 0.75rem;
    overflow: auto;
    width: 73%;
}

.room-details-wrap .room-details-container {
    position: relative;
    width: 100%;
  /*display: inline-block;*/
    float: left;
    text-align: left;
  /*border-right: 1px solid #e5e3e3;
        padding: 0 3.0625rem 0 1.4375rem;*/
  /*padding: 0 0 0 1.4375rem;
        width: 12.5rem;*/
  /*@media only screen and (min-width: 320px) and (max-width: 767px) {*/
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .room-details-wrap .room-details-container {
        width: 90%;
        margin: auto;
        float: none;
        padding: 0.5rem 0;
        border-bottom: 1px solid #e9e9e9;
    }

    .room-details-wrap .room-details-container:last-child {
        border: none;
    }
}

.room-details-wrap .fc-room-cards-con {
    border-right: 1px solid #e5e3e3;
    padding: 0 49px 0 23px;
    padding: 0 3.0625rem 0 1.4375rem;
}

.room-details-wrap .room-details-container:first-child .fc-room-cards-con {
    padding-left: 0;
}

.room-details-wrap .room-details-heading {
    font-size: 18px;
    font-size: 1.125rem;
    color: #272727;
    white-space: nowrap;
    width:100%;    
    overflow: hidden;
    text-overflow: ellipsis;    
}
@media only screen and (min-width: 320px) and (max-width: 991px) {
	.room-details-wrap .room-details-heading {
		padding-right: 3rem;
		white-space: normal;
	}		
}

.room-details-wrap .room-details-rate {
    color: #9b9b9b;
    font-size: 14px;
    font-size: 0.875rem;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .room-details-wrap .room-details-rate {
        display: inline-block;
    }
}

.room-details-wrap .room-details-desc {
    color: #9b9b9b;
    font-size: 14px;
    font-size: 0.875rem;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .room-details-wrap .room-details-desc {
        display: inline-block;
    }

    .room-details-wrap .room-details-desc:before {
        content: "|";
        margin-left: 6px;
        margin-right: 4px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .room-details-wrap {
    /*display: none;*/
        position: absolute;
        left: 0;
        right: 0;
    /*bottom: 80px;*/
        bottom: -200px;
        background: #fff;
        width: 100%;
        box-shadow: inset 0px -1px 6px 0px #e5e3e3;
        transition: all 300ms linear;
        z-index: -1 !important;
        padding-top: 0;
    }

    .room-details-wrap.active {
        bottom: 80px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .room-details-wrap {
        position: fixed;
    }

    .room-details-wrap.active {
        bottom: 67px;
    }
}

.checkout-anchor {
  /*pointer-events: none;*/
    color: #fff;
    display: inline-block;
    width: 100%;
}

a.checkout-anchor:hover {
    color: #fff;
}

.selection-delete {
    position: absolute;
    top: 5%;
    right: 4%;
    height: 24px;
    height: 1.5rem;
    cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .selection-delete {
        top: 25%;
    }
}

.room-selected-options-container {
    /*min-width: 130% !important;*/ 
    min-width: 100% !important;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .room-selected-options-container {
        width: 100% !important;
        min-width: 100% !important;
    }
}

.room-details-wrap .room-details-container:last-child .fc-room-cards-con {
    border-right: none;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .room-details-wrap .room-details-container .fc-room-cards-con {
        width: 92%;
        border: none;
        padding: 0;
        margin: auto;
    }
}

.bic-arrow-con {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
/*.bic-arrow {
    display: none;
}

.bic-arrow.active {
    display: inline-block;
}

.invert-arrow {
    transform: rotate(180deg);
}*/
.bic-arrow {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.bic-rooms {
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    color: #272727;
}

.bic-info-selected-rooms {
    display: table;
    width: 100px;
    padding: 10px;
    border: 1px solid var(--primaryColor);
    margin-left: 15px;
    cursor: pointer;
}

.bic-info-selected-rooms.active .bic-arrow {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.fc-add-package-con {
	/*float: left;*/
	/*height: 5.625rem;*/
	min-height: 5.625rem;
	width: 15rem;
	display: inline-block;
    vertical-align: middle;
}

.fc-add-package-con.active {
	box-shadow: inset 0px 0px 4px 1px #ccc;
}

.fc-add-package-wrap {
	margin-top: 1rem;
    border-right: 1px solid #e5e3e3;
    text-align: center;
    margin-bottom: 1rem;
}

.fc-add-package-con:last-child .fc-add-package-wrap {
	border-right: none;
}

.fc-add-btn-con {
	border: dashed 1px #9b9b9b;
    font-family: Calibri-bold;
    color: #9b9b9b;
    padding: 1rem;
    display: inline-block;
}

.fc-add-package-con.active .fc-add-btn-con {
	border: 2px solid var(--primaryColor);
}

.room-details-wrap {
	padding-top: 0;
}

.room-selection-data span {
	color: #8d8d8d;
    font-family: Calibri;
    font-size: 1.125rem;
}

.room-selection-data .sel-ins-Select-room {
	color: var(--primaryColorDark);
    font-family: Calibri-bold;
    font-size: 1.125rem;
}

@media only screen and (max-width: 767px) {
	.fc-add-package-con {
		width: 100%;
		min-height: auto;
		border-bottom: 1px solid #e5e3e3;
	}
	
	.fc-add-package-con .fc-add-package-wrap {
		border-right: none;
	}
	
	.checkout-container {
		right: 0;
	}
	
	.room-details-wrap .room-details-container .fc-room-cards-con {
		width: 100%;
	}
}
@media only screen and (min-width:320px) and (max-width:767px) {
	.specific-hotels-page .rooms-suites-container {
	   display: block !important;
	}
}

.tic-room-redemption-fix .checkout-container{
	width:16.5rem;
}
@media only screen and (max-width: 767px){
	.tic-room-redemption-fix .checkout-container{
	width:11.5rem;
	}
}
.tic-room-redemption-fix .message-container{
	right:17.5rem;
}
.cart-total-price{
	text-align:right;
}
@media only screen and (max-width: 767px){
	.tic-room-redemption-fix .checkout-container .ckeckout-details {
    margin-left:3.5rem
}
.tic-room-redemption-fix .ckeckout-details .ckeckout-details-amount {
    font-size: 0.75rem;
}
}
@media only screen and (max-width: 767px){
	.tic-room-redemption-fix .ckeckout-details .ckeckout-details-text {
        font-size: 0.9rem;
}
}
.tic-room-redemption-fix .checkout-image .checkout-num {  
    top: 24px;
    top: 2rem;
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    line-height: 24px;
    line-height: 1.5rem;
    left: 46px;
}
@media only screen and (max-width: 991px){
.tic-room-redemption-fix .checkout-image .checkout-num { 
	top: 13px;
    top: 0.8125rem;
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    line-height: 24px;
    line-height: 1.5rem;
    left: 3.7rem;
}
}
@media only screen and (max-width: 767px){
.tic-room-redemption-fix .checkout-image .checkout-num {
    top: 1.2rem;
    left: 2.2rem;
    font-size: 0.8rem;
}
}
@media only screen and (max-width: 991px) and (min-width: 320px){
                           .tic-room-redemption-fix .room-details-wrap .room-details-rate{
text-align:right;
                                    }
.tic-room-redemption-fix .room-details-wrap .room-details-desc {
    display:block;
}
.tic-room-redemption-fix .room-details-wrap .room-details-desc:before {
    content: "";
    margin-left: 6px;
    margin-right: 4px;
}
}


.ihcl-theme .icon-delete-icon.selection-delete::before {
	color: #e02020;	
}
.ihcl-theme .checkout-image .checkout-num {
	background: #ffffff;
	color: #012f4e;        
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
	.ihcl-theme .bic-info-selected-rooms{
        border: none;
    }
    .ihcl-theme .room-details-wrap .room-details-desc {
        display: block;
    }
    .ihcl-theme .room-details-wrap .room-details-desc::before {
        display: none;
    }   
}