<sly data-sly-use.holidayModel="com.ihcl.core.models.HolidaysPopularDestinationsModel">
	<div class="popularDest-wrap" data-sly-test="${holidayModel.destinationCity}">
		<div class="popularDest-imageContainer"><img src="${holidayModel.destinationImage}/jcr:content/renditions/cq5dam.web.756.756.jpeg" alt="Image of the destination" />
        </div>
    	<div class="popularDest-details-container">
        	<div class="popularDest-details-name">
        		<div>${holidayModel.destinationCity}</div>
        	</div>
    	 	<a href="${holidayModel.destinationPath}.html">
        		<button class="cm-btn-secondary view-detials-button" tabindex="-1">VIEW DETAILS</button>
        	</a>
    	</div>
	</div>
</sly>

