@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ut9p4p');
  src:  url('fonts/icomoon.eot?ut9p4p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ut9p4p') format('truetype'),
    url('fonts/icomoon.woff?ut9p4p') format('woff'),
    url('fonts/icomoon.svg?ut9p4p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-direction:before {
  content: "\eaa5";
}
.icon-animal-paw-print:before {
  content: "\ea90";
}
.icon-area:before {
  content: "\ea91";
}
.icon-bathtub:before {
  content: "\ea92";
}
.icon-black-plane:before {
  content: "\ea93";
}
.icon-burguer:before {
  content: "\ea94";
}
.icon-clock:before {
  content: "\ea95";
  color: #d29851;
}
.icon-dumbell:before {
  content: "\ea96";
}
.icon-hotel-amenities:before {
  content: "\ea97";
}
.icon-maximumOccoumpany:before {
  content: "\ea98";
}
.icon-meditation:before {
  content: "\ea99";
}
.icon-others:before {
  content: "\ea9a";
}
.icon-seating-boardroom:before {
  content: "\ea9b";
  color: #876637;
}
.icon-seating-circular:before {
  content: "\ea9c";
  color: #876637;
}
.icon-seating-classroom:before {
  content: "\ea9d";
  color: #876637;
}
.icon-seating-reception:before {
  content: "\ea9e";
  color: #876637;
}
.icon-seating-theatre:before {
  content: "\ea9f";
  color: #876637;
}
.icon-seating-u:before {
  content: "\eaa0";
  color: #876637;
}
.icon-spa:before {
  content: "\eaa1";
}
.icon-star:before {
  content: "\eaa2";
}
.icon-suite-amenities:before {
  content: "\eaa3";
}
.icon-tree:before {
  content: "\eaa4";
}
.icon-avatar:before {
  content: "\e900";
}
.icon-bestbrand-icon:before {
  content: "\e901";
  color: #d29851;
}
.icon-border:before {
  content: "\e902";
  color: #e5e3e3;
}
.icon-breifcase:before {
  content: "\e903";
  color: #d5b56f;
}
.icon-brochure:before {
  content: "\e904";
  color: #d19751;
}
.icon-cal-chk-availability .path1:before {
  content: "\e905";
  color: rgb(0, 0, 0);
}
.icon-cal-chk-availability .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cal-chk-availability .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(210, 152, 81);
}
.icon-cal-chk-availability .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(210, 152, 81);
}
.icon-cal-chk-availability .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(210, 152, 81);
}
.icon-calendar-check-availability:before {
  content: "\e90a";
  color: #d29851;
}
.icon-cance .path1:before {
  content: "\e90b";
  color: rgb(0, 0, 0);
}
.icon-cance .path2:before {
  content: "\e90c";
  margin-left: -2.7998046875em;
  color: rgb(110, 18, 0);
}
.icon-cancellation-tick:before {
  content: "\e90d";
}
.icon-carousel-arrow:before {
  content: "\e90e";
  color: #fff;
}
.icon-carousel-arrow-coloured-left:before {
  content: "\e90f";
  color: #d29851;
}
.icon-carousel-arrow-coloured-right:before {
  content: "\e910";
  color: #d29851;
}
.icon-cart:before {
  content: "\e911";
  color: #fff;
}
.icon-cart-empty:before {
  content: "\e912";
  color: #d5b56f;
}
.icon-checkBox-tick:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e914";
  color: #d29851;
}
.icon-close-blue:before {
  content: "\e915";
}
.icon-close-icon-normal:before {
  content: "\e916";
  color: #d29751;
}
.icon-close-icon-white:before {
  content: "\e917";
  color: #fff;
}
.icon-confirmation-tick .path1:before {
  content: "\e918";
  color: rgb(172, 123, 62);
}
.icon-confirmation-tick .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-convenience:before {
  content: "\e91a";
  color: #d5b56f;
}
.icon-corporate-flow .path1:before {
  content: "\e91b";
  color: rgb(255, 255, 255);
}
.icon-corporate-flow .path2:before {
  content: "\e91c";
  margin-left: -1.66796875em;
  color: rgb(255, 255, 255);
}
.icon-corporate-flow .path3:before {
  content: "\e91d";
  margin-left: -1.66796875em;
  color: rgb(210, 152, 81);
}
.icon-delete-icon:before {
  content: "\e91e";
  color: #d5b56f;
}
.icon-discount-both-left-right-clipped2x .path1:before {
  content: "\e91f";
  color: rgb(0, 0, 0);
}
.icon-discount-both-left-right-clipped2x .path2:before {
  content: "\e920";
  margin-left: -4.828125em;
  color: rgb(110, 18, 0);
}
.icon-discount-left-clipped .path1:before {
  content: "\e921";
  color: rgb(0, 0, 0);
}
.icon-discount-left-clipped .path2:before {
  content: "\e922";
  margin-left: -2.8388671875em;
  color: rgb(110, 18, 0);
}
.icon-discount-right-clipped-red .path1:before {
  content: "\e923";
  color: rgb(0, 0, 0);
}
.icon-discount-right-clipped-red .path2:before {
  content: "\e924";
  margin-left: -5.2880859375em;
  color: rgb(110, 18, 0);
}
.icon-dollar-incircle:before {
  content: "\e925";
  color: #d29851;
}
.icon-download-pdf:before {
  content: "\e926";
  color: #d19751;
}
.icon-dropDown:before {
  content: "\e927";
}
.icon-drop-down-arrow:before {
  content: "\e928";
  color: #d29851;
}
.icon-drop-down-arrow-white:before {
  content: "\e929";
  color: #fff;
}
.icon-DROPS:before {
  content: "\e92a";
  color: #4a4a4a;
}
.icon-EDIT-SVG-TAJ:before {
  content: "\e92b";
  color: #c7904c;
}
.icon-edit:before {
  content: "\e92c";
  color: #d29851;
}
.icon-enroll:before {
  content: "\e92d";
  color: #ac7b3e;
}
.icon-envelope:before {
  content: "\e92e";
  color: #d29751;
}
.icon-expan-icon .path1:before {
  content: "\e92f";
  color: rgb(228, 228, 228);
}
.icon-expan-icon .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(210, 152, 81);
}
.icon-expan-icon .path3:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(210, 152, 81);
}
.icon-expan-icon .path4:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(210, 152, 81);
}
.icon-experience-icon:before {
  content: "\e933";
}
.icon-exploreTaj:before {
  content: "\e934";
  color: #d29851;
}
.icon-expressions-colour:before {
  content: "\e935";
}
.icon-facebook .path1:before {
  content: "\e936";
  color: rgb(239, 238, 238);
}
.icon-facebook .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(59, 89, 152);
}
.icon-facebook .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-fill-1:before {
  content: "\e939";
  color: #d29851;
}
.icon-filter-applied .path1:before {
  content: "\e93a";
  color: rgb(210, 152, 81);
}
.icon-filter-applied .path2:before {
  content: "\e93b";
  margin-left: -1.0771484375em;
  color: rgb(110, 18, 0);
}
.icon-filter-go:before {
  content: "\e93c";
}
.icon-filter-icon:before {
  content: "\e93d";
  color: #d29851;
}
.icon-flower .path1:before {
  content: "\e93e";
  color: rgb(172, 123, 62);
}
.icon-flower .path2:before {
  content: "\e93f";
  margin-left: -0.9140625em;
  color: rgb(172, 123, 62);
}
.icon-flower .path3:before {
  content: "\e940";
  margin-left: -0.9140625em;
  color: rgb(172, 123, 62);
}
.icon-flower .path4:before {
  content: "\e941";
  margin-left: -0.9140625em;
  color: rgb(172, 123, 62);
}
.icon-flower .path5:before {
  content: "\e942";
  margin-left: -0.9140625em;
  color: rgb(172, 123, 62);
}
.icon-flower .path6:before {
  content: "\e943";
  margin-left: -0.9140625em;
  color: rgb(172, 123, 62);
}
.icon-flower .path7:before {
  content: "\e944";
  margin-left: -0.9140625em;
  color: rgb(172, 123, 62);
}
.icon-flower .path8:before {
  content: "\e945";
  margin-left: -0.9140625em;
  color: rgb(172, 123, 62);
}
.icon-flower .path9:before {
  content: "\e946";
  margin-left: -0.9140625em;
  color: rgb(172, 123, 62);
}
.icon-flower .path10:before {
  content: "\e947";
  margin-left: -0.9140625em;
  color: rgb(26, 26, 26);
}
.icon-flower .path11:before {
  content: "\e948";
  margin-left: -0.9140625em;
  color: rgb(172, 123, 62);
}
.icon-flower .path12:before {
  content: "\e949";
  margin-left: -0.9140625em;
  color: rgb(172, 123, 62);
}
.icon-folder:before {
  content: "\e94a";
}
.icon-gallery-images-option:before {
  content: "\e94b";
  color: #fff;
}
.icon-gallery-images-option-360:before {
  content: "\e94c";
  color: #fff;
}
.icon-gateway .path1:before {
  content: "\e94d";
  color: rgb(0, 0, 0);
}
.icon-gateway .path2:before {
  content: "\e94e";
  margin-left: -0.775390625em;
  color: rgb(142, 116, 75);
}
.icon-gateway .path3:before {
  content: "\e94f";
  margin-left: -0.775390625em;
  color: rgb(255, 255, 255);
}
.icon-gatewayLarge .path1:before {
  content: "\e950";
  color: rgb(0, 0, 0);
}
.icon-gatewayLarge .path2:before {
  content: "\e951";
  margin-left: -0.76171875em;
  color: rgb(210, 152, 81);
}
.icon-gatewayLarge .path3:before {
  content: "\e952";
  margin-left: -0.76171875em;
  color: rgb(255, 255, 255);
}
.icon-gateway-logo:before {
  content: "\e953";
}
.icon-ginger-logo:before {
  content: "\e954";
}
.icon-golden-flower .path1:before {
  content: "\e955";
  color: rgb(210, 152, 81);
}
.icon-golden-flower .path2:before {
  content: "\e956";
  margin-left: -1.0400390625em;
  color: rgb(210, 152, 81);
}
.icon-golden-flower .path3:before {
  content: "\e957";
  margin-left: -1.0400390625em;
  color: rgb(210, 152, 81);
}
.icon-golden-flower .path4:before {
  content: "\e958";
  margin-left: -1.0400390625em;
  color: rgb(210, 152, 81);
}
.icon-golden-flower .path5:before {
  content: "\e959";
  margin-left: -1.0400390625em;
  color: rgb(210, 152, 81);
}
.icon-golden-flower .path6:before {
  content: "\e95a";
  margin-left: -1.0400390625em;
  color: rgb(210, 152, 81);
}
.icon-golden-flower .path7:before {
  content: "\e95b";
  margin-left: -1.0400390625em;
  color: rgb(210, 152, 81);
}
.icon-golden-flower .path8:before {
  content: "\e95c";
  margin-left: -1.0400390625em;
  color: rgb(242, 242, 242);
}
.icon-golden-flower .path9:before {
  content: "\e95d";
  margin-left: -1.0400390625em;
  color: rgb(210, 152, 81);
}
.icon-golden-flower .path10:before {
  content: "\e95e";
  margin-left: -1.0400390625em;
  color: rgb(210, 152, 81);
}
.icon-golden-flower .path11:before {
  content: "\e95f";
  margin-left: -1.0400390625em;
  color: rgb(26, 26, 26);
}
.icon-golden-flower .path12:before {
  content: "\e960";
  margin-left: -1.0400390625em;
  color: rgb(210, 152, 81);
}
.icon-golden-flower .path13:before {
  content: "\e961";
  margin-left: -1.0400390625em;
  color: rgb(210, 152, 81);
}
.icon-icon-warning .path1:before {
  content: "\e962";
  color: rgb(0, 0, 0);
}
.icon-icon-warning .path2:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(197, 36, 36);
}
.icon-icon-warning .path3:before {
  content: "\e964";
  margin-left: -1em;
  color: none;
}
.icon-ic-voucher-count2x:before {
  content: "\e965";
  color: #d0021b;
}
.icon-ihcl-arrow-left:before {
  content: "\e966";
}
.icon-ihcl-logo:before {
  content: "\e967";
}
.icon-inclusion-image:before {
  content: "\e968";
  color: #d29851;
}
.icon-king-size-bed-not-selected:before {
  content: "\e969";
  color: #9b9b9b;
}
.icon-king-size-bed-selected:before {
  content: "\e96a";
  color: #fff;
}
.icon-last-few-rooms:before {
  content: "\e96b";
  color: #d0021b;
}
.icon-last-room:before {
  content: "\e96c";
  color: #d0021b;
}
.icon-leftArrow:before {
  content: "\e96d";
}
.icon-left-right-clipped .path1:before {
  content: "\e96e";
  color: rgb(0, 0, 0);
}
.icon-left-right-clipped .path2:before {
  content: "\e96f";
  margin-left: -3.43359375em;
  color: rgb(110, 18, 0);
}
.icon-lightbox:before {
  content: "\e970";
  color: #fff;
}
.icon-list-icon:before {
  content: "\e971";
  color: #fff;
}
.icon-location:before {
  content: "\e972";
}
.icon-locationIcon:before {
  content: "\e973";
}
.icon-location-icon-brown:before {
  content: "\e974";
}
.icon-lodges-icon:before {
  content: "\e975";
  color: #fff;
}
.icon-login-password:before {
  content: "\e976";
  color: #4a4a4a;
}
.icon-login-user:before {
  content: "\e977";
  color: #4a4a4a;
}
.icon-mapview-icon:before {
  content: "\e978";
}
.icon-marker_local .path1:before {
  content: "\e979";
  color: rgb(0, 0, 0);
}
.icon-marker_local .path2:before {
  content: "\e97a";
  margin-left: -0.775390625em;
  color: rgb(145, 120, 80);
}
.icon-marker_local .path3:before {
  content: "\e97b";
  margin-left: -0.775390625em;
  color: rgb(255, 255, 255);
}
.icon-marker_localLarge .path1:before {
  content: "\e97c";
  color: rgb(0, 0, 0);
}
.icon-marker_localLarge .path2:before {
  content: "\e97d";
  margin-left: -0.76171875em;
  color: rgb(210, 152, 81);
}
.icon-marker_localLarge .path3:before {
  content: "\e97e";
  margin-left: -0.76171875em;
  color: rgb(255, 255, 255);
}
.icon-menu-icon:before {
  content: "\e97f";
  color: #d29751;
}
.icon-namaste:before {
  content: "\e980";
  color: #d29851;
}
.icon-next-arrow:before {
  content: "\e981";
  color: #d29851;
}
.icon-offer-left-clipped2x .path1:before {
  content: "\e982";
  color: rgb(0, 0, 0);
}
.icon-offer-left-clipped2x .path2:before {
  content: "\e983";
  margin-left: -2.8388671875em;
  color: rgb(110, 18, 0);
}
.icon-path-5 .path1:before {
  content: "\e984";
  color: rgb(0, 0, 0);
}
.icon-path-5 .path2:before {
  content: "\e985";
  margin-left: -2.7998046875em;
  color: rgb(110, 18, 0);
}
.icon-person .path1:before {
  content: "\e986";
  color: rgb(0, 0, 0);
}
.icon-person .path2:before {
  content: "\e987";
  margin-left: -0.8056640625em;
  color: rgb(255, 255, 255);
}
.icon-person .path3:before {
  content: "\e988";
  margin-left: -0.8056640625em;
  color: none;
}
.icon-person .path4:before {
  content: "\e989";
  margin-left: -0.8056640625em;
  color: none;
}
.icon-person-avatar:before {
  content: "\e98a";
  color: #d29851;
}
.icon-phone-disabled:before {
  content: "\e98b";
  color: #9b9b9b;
}
.icon-phone-enabled:before {
  content: "\e98c";
  color: #d29751;
}
.icon-PILLOW:before {
  content: "\e98d";
  color: #4a4a4a;
}
.icon-prev-arrow:before {
  content: "\e98e";
  color: #d29851;
}
.icon-price-check-icon:before {
  content: "\e98f";
  color: #fff;
}
.icon-price-icon:before {
  content: "\e990";
  color: #fff;
}
.icon-print:before {
  content: "\e991";
  color: #d29851;
}
.icon-rewards-memberRates:before {
  content: "\e992";
  color: #d29851;
}
.icon-right_arrow_carousel_navy:before {
  content: "\e993";
}
.icon-room-amenity-bed:before {
  content: "\e994";
}
.icon-room-amenity-bed-d29851:before {
  content: "\e995";
  color: #d29851;
}
.icon-rooms:before {
  content: "\e996";
}
.icon-rooms-amenity-bed:before {
  content: "\e997";
}
.icon-rooms-colored:before {
  content: "\e998";
  color: #d29751;
}
.icon-scrollArrowRight:before {
  content: "\e999";
  color: #d29851;
}
.icon-search-black:before {
  content: "\e99a";
}
.icon-search-icon:before {
  content: "\e99b";
  color: #9b9b9b;
}
.icon-search-icon-hotels:before {
  content: "\e99c";
}
.icon-search-suggestions-destination-icon:before {
  content: "\e99d";
}
.icon-search-svg:before {
  content: "\e99e";
  color: #fff;
}
.icon-services-shower:before {
  content: "\e99f";
}
.icon-services-spa:before {
  content: "\e9a0";
  color: #4a4a4a;
}
.icon-shape:before {
  content: "\e9a1";
  color: #d29851;
}
.icon-share:before {
  content: "\e9a2";
  color: #d29851;
}
.icon-single-bed:before {
  content: "\e9a3";
  color: #d29851;
}
.icon-spinner:before {
  content: "\e9a4";
  color: #774023;
}
.icon-STAR-TAJ:before {
  content: "\e9a5";
  color: #ac7b3e;
}
.icon-stay:before {
  content: "\e9a6";
  color: #d5b56f;
}
.icon-taj-dinding-menu-Artboard-2:before {
  content: "\e9a7";
  color: #d29751;
}
.icon-taj-exclamation-Artboard-2 .path1:before {
  content: "\e9a8";
  color: rgb(197, 36, 36);
}
.icon-taj-exclamation-Artboard-2 .path2:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-taj .path1:before {
  content: "\e9aa";
  color: rgb(0, 0, 0);
}
.icon-taj .path2:before {
  content: "\e9ab";
  margin-left: -0.775390625em;
  color: rgb(142, 116, 75);
}
.icon-taj .path3:before {
  content: "\e9ac";
  margin-left: -0.775390625em;
  color: rgb(255, 255, 255);
}
.icon-taj-brand-reward:before {
  content: "\e9ad";
  color: #d29851;
}
.icon-Taj-icon:before {
  content: "\e9ae";
}
.icon-tajLarge .path1:before {
  content: "\e9af";
  color: rgb(0, 0, 0);
}
.icon-tajLarge .path2:before {
  content: "\e9b0";
  margin-left: -0.76171875em;
  color: rgb(210, 152, 81);
}
.icon-tajLarge .path3:before {
  content: "\e9b1";
  margin-left: -0.76171875em;
  color: rgb(255, 255, 255);
}
.icon-taj-sats-logo:before {
  content: "\e9b2";
}
.icon-the-folder:before {
  content: "\e9b3";
}
.icon-the-tick:before {
  content: "\e9b4";
  color: #d29751;
}
.icon-tic-accounts-special-preferences1 .path1:before {
  content: "\e9b5";
  color: rgb(247, 247, 247);
}
.icon-tic-accounts-special-preferences1 .path2:before {
  content: "\e9b6";
  margin-left: -1.25em;
  color: rgb(74, 74, 74);
}
.icon-tic-accounts-special-preferences1 .path3:before {
  content: "\e9b7";
  margin-left: -1.25em;
  color: rgb(74, 74, 74);
}
.icon-tic-accounts-special-preferences2 .path1:before {
  content: "\e9b8";
  color: rgb(0, 0, 0);
}
.icon-tic-accounts-special-preferences2 .path2:before {
  content: "\e9b9";
  margin-left: -0.8330078125em;
  color: rgb(255, 255, 255);
}
.icon-tic-accounts-special-preferences2 .path3:before {
  content: "\e9ba";
  margin-left: -0.8330078125em;
  color: rgb(247, 247, 247);
}
.icon-tic-accounts-special-preferences2 .path4:before {
  content: "\e9bb";
  margin-left: -0.8330078125em;
  color: rgb(74, 74, 74);
}
.icon-tic-accounts-special-preferences2 .path5:before {
  content: "\e9bc";
  margin-left: -0.8330078125em;
  color: rgb(74, 74, 74);
}
.icon-tic-arrow-down:before {
  content: "\e9bd";
  color: #d29751;
}
.icon-tic-attach:before {
  content: "\e9be";
  color: #d29851;
}
.icon-tic-bed-icon:before {
  content: "\e9bf";
}
.icon-tic-benefits:before {
  content: "\e9c0";
  color: #d5b56f;
}
.icon-tic-benefits-business-centres:before {
  content: "\e9c1";
  color: #d5b56f;
}
.icon-tic-benefits-copper .path1:before {
  content: "\e9c2";
  color: rgb(203, 153, 102);
}
.icon-tic-benefits-copper .path2:before {
  content: "\e9c3";
  margin-left: -2.1240234375em;
  color: rgb(62, 46, 22);
  opacity: 0.2;
}
.icon-tic-benefits-copper .path3:before {
  content: "\e9c4";
  margin-left: -2.1240234375em;
  color: rgb(203, 153, 102);
}
.icon-tic-benefits-copper .path4:before {
  content: "\e9c5";
  margin-left: -2.1240234375em;
  color: rgb(72, 42, 20);
}
.icon-tic-benefits-copper .path5:before {
  content: "\e9c6";
  margin-left: -2.1240234375em;
  color: rgb(72, 42, 20);
}
.icon-tic-benefits-copper .path6:before {
  content: "\e9c7";
  margin-left: -2.1240234375em;
  color: rgb(72, 42, 20);
}
.icon-tic-benefits-copper .path7:before {
  content: "\e9c8";
  margin-left: -2.1240234375em;
  color: rgb(203, 153, 102);
}
.icon-tic-benefits-copper .path8:before {
  content: "\e9c9";
  margin-left: -2.1240234375em;
  color: rgb(72, 42, 20);
}
.icon-tic-benefits-copper .path9:before {
  content: "\e9ca";
  margin-left: -2.1240234375em;
  color: rgb(72, 42, 20);
}
.icon-tic-benefits-copper .path10:before {
  content: "\e9cb";
  margin-left: -2.1240234375em;
  color: rgb(26, 26, 26);
}
.icon-tic-benefits-copper .path11:before {
  content: "\e9cc";
  margin-left: -2.1240234375em;
  color: rgb(72, 42, 20);
}
.icon-tic-benefits-gold .path1:before {
  content: "\e9cd";
  color: rgb(153, 123, 71);
}
.icon-tic-benefits-gold .path2:before {
  content: "\e9ce";
  margin-left: -2.1240234375em;
  color: rgb(62, 46, 22);
  opacity: 0.2;
}
.icon-tic-benefits-gold .path3:before {
  content: "\e9cf";
  margin-left: -2.1240234375em;
  color: rgb(62, 47, 22);
}
.icon-tic-benefits-gold .path4:before {
  content: "\e9d0";
  margin-left: -2.1240234375em;
  color: rgb(62, 47, 22);
}
.icon-tic-benefits-gold .path5:before {
  content: "\e9d1";
  margin-left: -2.1240234375em;
  color: rgb(62, 47, 22);
}
.icon-tic-benefits-gold .path6:before {
  content: "\e9d2";
  margin-left: -2.1240234375em;
  color: rgb(62, 47, 22);
}
.icon-tic-benefits-gold .path7:before {
  content: "\e9d3";
  margin-left: -2.1240234375em;
  color: rgb(62, 47, 22);
}
.icon-tic-benefits-gold .path8:before {
  content: "\e9d4";
  margin-left: -2.1240234375em;
  color: rgb(62, 47, 22);
}
.icon-tic-benefits-gold .path9:before {
  content: "\e9d5";
  margin-left: -2.1240234375em;
  color: rgb(62, 47, 22);
}
.icon-tic-benefits-gold .path10:before {
  content: "\e9d6";
  margin-left: -2.1240234375em;
  color: rgb(153, 123, 71);
}
.icon-tic-benefits-gold .path11:before {
  content: "\e9d7";
  margin-left: -2.1240234375em;
  color: rgb(62, 47, 22);
}
.icon-tic-benefits-gold .path12:before {
  content: "\e9d8";
  margin-left: -2.1240234375em;
  color: rgb(62, 47, 22);
}
.icon-tic-benefits-gold .path13:before {
  content: "\e9d9";
  margin-left: -2.1240234375em;
  color: rgb(26, 26, 26);
}
.icon-tic-benefits-gold .path14:before {
  content: "\e9da";
  margin-left: -2.1240234375em;
  color: rgb(62, 47, 22);
}
.icon-tic-benefits-internet:before {
  content: "\e9db";
  color: #d5b56f;
}
.icon-tic-benefits-jivaspa:before {
  content: "\e9dc";
  color: #fff;
}
.icon-tic-benefits-laundry:before {
  content: "\e9dd";
  color: #d5b56f;
}
.icon-tic-benefits-platinum .path1:before {
  content: "\e9de";
  color: rgb(17, 24, 32);
}
.icon-tic-benefits-platinum .path2:before {
  content: "\e9df";
  margin-left: -2.1240234375em;
  color: rgb(148, 145, 142);
}
.icon-tic-benefits-platinum .path3:before {
  content: "\e9e0";
  margin-left: -2.1240234375em;
  color: rgb(148, 145, 142);
}
.icon-tic-benefits-platinum .path4:before {
  content: "\e9e1";
  margin-left: -2.1240234375em;
  color: rgb(148, 145, 142);
}
.icon-tic-benefits-platinum .path5:before {
  content: "\e9e2";
  margin-left: -2.1240234375em;
  color: rgb(148, 145, 142);
}
.icon-tic-benefits-platinum .path6:before {
  content: "\e9e3";
  margin-left: -2.1240234375em;
  color: rgb(148, 145, 142);
}
.icon-tic-benefits-platinum .path7:before {
  content: "\e9e4";
  margin-left: -2.1240234375em;
  color: rgb(148, 145, 142);
}
.icon-tic-benefits-platinum .path8:before {
  content: "\e9e5";
  margin-left: -2.1240234375em;
  color: rgb(148, 145, 142);
}
.icon-tic-benefits-platinum .path9:before {
  content: "\e9e6";
  margin-left: -2.1240234375em;
  color: rgb(17, 24, 32);
}
.icon-tic-benefits-platinum .path10:before {
  content: "\e9e7";
  margin-left: -2.1240234375em;
  color: rgb(148, 145, 142);
}
.icon-tic-benefits-platinum .path11:before {
  content: "\e9e8";
  margin-left: -2.1240234375em;
  color: rgb(148, 145, 142);
}
.icon-tic-benefits-platinum .path12:before {
  content: "\e9e9";
  margin-left: -2.1240234375em;
  color: rgb(26, 26, 26);
}
.icon-tic-benefits-platinum .path13:before {
  content: "\e9ea";
  margin-left: -2.1240234375em;
  color: rgb(148, 145, 142);
}
.icon-tic-benefits-platinum .path14:before {
  content: "\e9eb";
  margin-left: -2.1240234375em;
  color: rgb(148, 145, 142);
  opacity: 0.2;
}
.icon-tic-benefits-silver .path1:before {
  content: "\e9ec";
  color: rgb(98, 95, 94);
}
.icon-tic-benefits-silver .path2:before {
  content: "\e9ed";
  margin-left: -2.1240234375em;
  color: rgb(98, 95, 94);
}
.icon-tic-benefits-silver .path3:before {
  content: "\e9ee";
  margin-left: -2.1240234375em;
  color: rgb(181, 181, 181);
}
.icon-tic-benefits-silver .path4:before {
  content: "\e9ef";
  margin-left: -2.1240234375em;
  color: rgb(181, 181, 181);
}
.icon-tic-benefits-silver .path5:before {
  content: "\e9f0";
  margin-left: -2.1240234375em;
  color: rgb(181, 181, 181);
}
.icon-tic-benefits-silver .path6:before {
  content: "\e9f1";
  margin-left: -2.1240234375em;
  color: rgb(181, 181, 181);
}
.icon-tic-benefits-silver .path7:before {
  content: "\e9f2";
  margin-left: -2.1240234375em;
  color: rgb(98, 95, 94);
}
.icon-tic-benefits-silver .path8:before {
  content: "\e9f3";
  margin-left: -2.1240234375em;
  color: rgb(181, 181, 181);
}
.icon-tic-benefits-silver .path9:before {
  content: "\e9f4";
  margin-left: -2.1240234375em;
  color: rgb(181, 181, 181);
}
.icon-tic-benefits-silver .path10:before {
  content: "\e9f5";
  margin-left: -2.1240234375em;
  color: rgb(181, 181, 181);
}
.icon-tic-benefits-silver .path11:before {
  content: "\e9f6";
  margin-left: -2.1240234375em;
  color: rgb(48, 48, 48);
  opacity: 0.3;
}
.icon-tic-benefits-telephone:before {
  content: "\e9f7";
  color: #d5b56f;
}
.icon-tic-buy-now:before {
  content: "\e9f8";
}
.icon-tic-calender:before {
  content: "\e9f9";
  color: #cc934e;
}
.icon-tic-call:before {
  content: "\e9fa";
  color: #4a4a4a;
}
.icon-tic-car-icon:before {
  content: "\e9fb";
  color: #4a4a4a;
}
.icon-tic-cart:before {
  content: "\e9fc";
  color: #fff;
}
.icon-tic-charity:before {
  content: "\e9fd";
  color: #d5b56f;
}
.icon-tic-copper-tiers .path1:before {
  content: "\e9fe";
  color: rgb(203, 153, 102);
}
.icon-tic-copper-tiers .path2:before {
  content: "\e9ff";
  margin-left: -2.41015625em;
  color: rgb(62, 46, 22);
  opacity: 0.2;
}
.icon-tic-copper-tiers .path3:before {
  content: "\ea00";
  margin-left: -2.41015625em;
  color: rgb(203, 153, 102);
}
.icon-tic-copper-tiers .path4:before {
  content: "\ea01";
  margin-left: -2.41015625em;
  color: rgb(72, 42, 20);
}
.icon-tic-copper-tiers .path5:before {
  content: "\ea02";
  margin-left: -2.41015625em;
  color: rgb(72, 42, 20);
}
.icon-tic-copper-tiers .path6:before {
  content: "\ea03";
  margin-left: -2.41015625em;
  color: rgb(72, 42, 20);
}
.icon-tic-copper-tiers .path7:before {
  content: "\ea04";
  margin-left: -2.41015625em;
  color: rgb(203, 153, 102);
}
.icon-tic-copper-tiers .path8:before {
  content: "\ea05";
  margin-left: -2.41015625em;
  color: rgb(72, 42, 20);
}
.icon-tic-copper-tiers .path9:before {
  content: "\ea06";
  margin-left: -2.41015625em;
  color: rgb(72, 42, 20);
}
.icon-tic-copper-tiers .path10:before {
  content: "\ea07";
  margin-left: -2.41015625em;
  color: rgb(26, 26, 26);
}
.icon-tic-copper-tiers .path11:before {
  content: "\ea08";
  margin-left: -2.41015625em;
  color: rgb(72, 42, 20);
}
.icon-tic-discount-banner .path1:before {
  content: "\ea09";
  color: rgb(0, 0, 0);
}
.icon-tic-discount-banner .path2:before {
  content: "\ea0a";
  margin-left: -2.7998046875em;
  color: rgb(110, 18, 0);
}
.icon-tic-dollar:before {
  content: "\ea0b";
  color: #d29851;
}
.icon-tic-events-independent-banner:before {
  content: "\ea0c";
  color: #f5f5f5;
}
.icon-tic-filter:before {
  content: "\ea0d";
  color: #d29851;
}
.icon-tic-food-beverages:before {
  content: "\ea0e";
  color: #d5b56f;
}
.icon-tic-footer-logo .path1:before {
  content: "\ea0f";
  color: rgb(239, 238, 238);
}
.icon-tic-footer-logo .path2:before {
  content: "\ea10";
  margin-left: -0.9404296875em;
  color: rgb(172, 123, 62);
}
.icon-tic-giftcard:before {
  content: "\ea11";
  color: #d5b56f;
}
.icon-tic-gift-voucher:before {
  content: "\ea12";
  color: #d5b56f;
}
.icon-tic-gold:before {
  content: "\ea13";
}
.icon-tic-golden-flower .path1:before {
  content: "\ea14";
  color: rgb(153, 123, 71);
}
.icon-tic-golden-flower .path2:before {
  content: "\ea15";
  margin-left: -0.9140625em;
  color: rgb(62, 47, 22);
}
.icon-tic-golden-flower .path3:before {
  content: "\ea16";
  margin-left: -0.9140625em;
  color: rgb(62, 47, 22);
}
.icon-tic-golden-flower .path4:before {
  content: "\ea17";
  margin-left: -0.9140625em;
  color: rgb(62, 47, 22);
}
.icon-tic-golden-flower .path5:before {
  content: "\ea18";
  margin-left: -0.9140625em;
  color: rgb(62, 47, 22);
}
.icon-tic-golden-flower .path6:before {
  content: "\ea19";
  margin-left: -0.9140625em;
  color: rgb(62, 47, 22);
}
.icon-tic-golden-flower .path7:before {
  content: "\ea1a";
  margin-left: -0.9140625em;
  color: rgb(62, 47, 22);
}
.icon-tic-golden-flower .path8:before {
  content: "\ea1b";
  margin-left: -0.9140625em;
  color: rgb(62, 47, 22);
}
.icon-tic-golden-flower .path9:before {
  content: "\ea1c";
  margin-left: -0.9140625em;
  color: rgb(153, 123, 71);
}
.icon-tic-golden-flower .path10:before {
  content: "\ea1d";
  margin-left: -0.9140625em;
  color: rgb(62, 47, 22);
}
.icon-tic-golden-flower .path11:before {
  content: "\ea1e";
  margin-left: -0.9140625em;
  color: rgb(62, 47, 22);
}
.icon-tic-golden-flower .path12:before {
  content: "\ea1f";
  margin-left: -0.9140625em;
  color: rgb(26, 26, 26);
}
.icon-tic-golden-flower .path13:before {
  content: "\ea20";
  margin-left: -0.9140625em;
  color: rgb(62, 47, 22);
}
.icon-tic-golden-flower2 .path1:before {
  content: "\ea21";
  color: rgb(172, 123, 62);
}
.icon-tic-golden-flower2 .path2:before {
  content: "\ea22";
  margin-left: -1.0419921875em;
  color: rgb(172, 123, 62);
}
.icon-tic-golden-flower2 .path3:before {
  content: "\ea23";
  margin-left: -1.0419921875em;
  color: rgb(172, 123, 62);
}
.icon-tic-golden-flower2 .path4:before {
  content: "\ea24";
  margin-left: -1.0419921875em;
  color: rgb(172, 123, 62);
}
.icon-tic-golden-flower2 .path5:before {
  content: "\ea25";
  margin-left: -1.0419921875em;
  color: rgb(172, 123, 62);
}
.icon-tic-golden-flower2 .path6:before {
  content: "\ea26";
  margin-left: -1.0419921875em;
  color: rgb(172, 123, 62);
}
.icon-tic-golden-flower2 .path7:before {
  content: "\ea27";
  margin-left: -1.0419921875em;
  color: rgb(172, 123, 62);
}
.icon-tic-golden-flower2 .path8:before {
  content: "\ea28";
  margin-left: -1.0419921875em;
  color: rgb(242, 242, 242);
}
.icon-tic-golden-flower2 .path9:before {
  content: "\ea29";
  margin-left: -1.0419921875em;
  color: rgb(172, 123, 62);
}
.icon-tic-golden-flower2 .path10:before {
  content: "\ea2a";
  margin-left: -1.0419921875em;
  color: rgb(172, 123, 62);
}
.icon-tic-golden-flower2 .path11:before {
  content: "\ea2b";
  margin-left: -1.0419921875em;
  color: rgb(26, 26, 26);
}
.icon-tic-golden-flower2 .path12:before {
  content: "\ea2c";
  margin-left: -1.0419921875em;
  color: rgb(172, 123, 62);
}
.icon-tic-golden-flower2 .path13:before {
  content: "\ea2d";
  margin-left: -1.0419921875em;
  color: rgb(172, 123, 62);
}
.icon-tic-gold-tires .path1:before {
  content: "\ea2e";
  color: rgb(153, 123, 71);
}
.icon-tic-gold-tires .path2:before {
  content: "\ea2f";
  margin-left: -2.5693359375em;
  color: rgb(62, 46, 22);
  opacity: 0.2;
}
.icon-tic-gold-tires .path3:before {
  content: "\ea30";
  margin-left: -2.5693359375em;
  color: rgb(62, 47, 22);
}
.icon-tic-gold-tires .path4:before {
  content: "\ea31";
  margin-left: -2.5693359375em;
  color: rgb(62, 47, 22);
}
.icon-tic-gold-tires .path5:before {
  content: "\ea32";
  margin-left: -2.5693359375em;
  color: rgb(62, 47, 22);
}
.icon-tic-gold-tires .path6:before {
  content: "\ea33";
  margin-left: -2.5693359375em;
  color: rgb(62, 47, 22);
}
.icon-tic-gold-tires .path7:before {
  content: "\ea34";
  margin-left: -2.5693359375em;
  color: rgb(62, 47, 22);
}
.icon-tic-gold-tires .path8:before {
  content: "\ea35";
  margin-left: -2.5693359375em;
  color: rgb(62, 47, 22);
}
.icon-tic-gold-tires .path9:before {
  content: "\ea36";
  margin-left: -2.5693359375em;
  color: rgb(62, 47, 22);
}
.icon-tic-gold-tires .path10:before {
  content: "\ea37";
  margin-left: -2.5693359375em;
  color: rgb(153, 123, 71);
}
.icon-tic-gold-tires .path11:before {
  content: "\ea38";
  margin-left: -2.5693359375em;
  color: rgb(62, 47, 22);
}
.icon-tic-gold-tires .path12:before {
  content: "\ea39";
  margin-left: -2.5693359375em;
  color: rgb(62, 47, 22);
}
.icon-tic-gold-tires .path13:before {
  content: "\ea3a";
  margin-left: -2.5693359375em;
  color: rgb(26, 26, 26);
}
.icon-tic-gold-tires .path14:before {
  content: "\ea3b";
  margin-left: -2.5693359375em;
  color: rgb(62, 47, 22);
}
.icon-tic-hotel-stays:before {
  content: "\ea3c";
  color: #d5b56f;
}
.icon-tick-_-nixon-today:before {
  content: "\ea3d";
  color: #d29751;
}
.icon-tick:before {
  content: "\ea3e";
  color: #ac7b3e;
}
.icon-tickets:before {
  content: "\ea3f";
  color: #d0021b;
}
.icon-tic-location:before {
  content: "\ea40";
}
.icon-tic-location-brown:before {
  content: "\ea41";
}
.icon-tic-locationC:before {
  content: "\ea42";
}
.icon-tic-mail:before {
  content: "\ea43";
  color: #4a4a4a;
}
.icon-tic-member-progress-sinceYear:before {
  content: "\ea44";
}
.icon-tic-merchandise:before {
  content: "\ea45";
}
.icon-tic-message-icon:before {
  content: "\ea46";
  color: #4a4a4a;
}
.icon-tic-pdf:before {
  content: "\ea47";
  color: #d19751;
}
.icon-tic-pen .path1:before {
  content: "\ea48";
  color: rgb(0, 0, 0);
}
.icon-tic-pen .path2:before {
  content: "\ea49";
  margin-left: -0.8330078125em;
  color: rgb(255, 255, 255);
}
.icon-tic-pen .path3:before {
  content: "\ea4a";
  margin-left: -0.8330078125em;
  color: rgb(199, 144, 76);
}
.icon-tic-phone-brown-icon:before {
  content: "\ea4b";
  color: #d29751;
}
.icon-tic-phone-grey-icon:before {
  content: "\ea4c";
  color: #9b9b9b;
}
.icon-tic-platinum .path1:before {
  content: "\ea4d";
  color: rgb(189, 234, 239);
}
.icon-tic-platinum .path2:before {
  content: "\ea4e";
  margin-left: -0.9375em;
  color: rgb(189, 234, 239);
}
.icon-tic-platinum .path3:before {
  content: "\ea4f";
  margin-left: -0.9375em;
  color: rgb(189, 234, 239);
}
.icon-tic-platinum .path4:before {
  content: "\ea50";
  margin-left: -0.9375em;
  color: rgb(189, 234, 239);
}
.icon-tic-platinum .path5:before {
  content: "\ea51";
  margin-left: -0.9375em;
  color: rgb(189, 234, 239);
}
.icon-tic-platinum .path6:before {
  content: "\ea52";
  margin-left: -0.9375em;
  color: rgb(189, 234, 239);
}
.icon-tic-platinum .path7:before {
  content: "\ea53";
  margin-left: -0.9375em;
  color: rgb(189, 234, 239);
}
.icon-tic-platinum .path8:before {
  content: "\ea54";
  margin-left: -0.9375em;
  color: rgb(26, 26, 26);
}
.icon-tic-platinum .path9:before {
  content: "\ea55";
  margin-left: -0.9375em;
  color: rgb(189, 234, 239);
}
.icon-tic-platinum .path10:before {
  content: "\ea56";
  margin-left: -0.9375em;
  color: rgb(26, 26, 26);
}
.icon-tic-platinum .path11:before {
  content: "\ea57";
  margin-left: -0.9375em;
  color: rgb(189, 234, 239);
}
.icon-tic-platinum .path12:before {
  content: "\ea58";
  margin-left: -0.9375em;
  color: rgb(26, 26, 26);
}
.icon-tic-platinum .path13:before {
  content: "\ea59";
  margin-left: -0.9375em;
  color: rgb(189, 234, 239);
}
.icon-tic-platinum .path14:before {
  content: "\ea5a";
  margin-left: -0.9375em;
  color: rgb(26, 26, 26);
}
.icon-tic-platinum .path15:before {
  content: "\ea5b";
  margin-left: -0.9375em;
  color: rgb(189, 234, 239);
}
.icon-tic-platinum-tiers .path1:before {
  content: "\ea5c";
  color: rgb(153, 123, 71);
}
.icon-tic-platinum-tiers .path2:before {
  content: "\ea5d";
  margin-left: -1.111328125em;
  color: rgb(62, 46, 22);
  opacity: 0.2;
}
.icon-tic-platinum-tiers .path3:before {
  content: "\ea5e";
  margin-left: -1.111328125em;
  color: rgb(17, 24, 32);
}
.icon-tic-platinum-tiers .path4:before {
  content: "\ea5f";
  margin-left: -1.111328125em;
  color: rgb(148, 145, 142);
}
.icon-tic-platinum-tiers .path5:before {
  content: "\ea60";
  margin-left: -1.111328125em;
  color: rgb(148, 145, 142);
}
.icon-tic-platinum-tiers .path6:before {
  content: "\ea61";
  margin-left: -1.111328125em;
  color: rgb(148, 145, 142);
}
.icon-tic-platinum-tiers .path7:before {
  content: "\ea62";
  margin-left: -1.111328125em;
  color: rgb(148, 145, 142);
}
.icon-tic-platinum-tiers .path8:before {
  content: "\ea63";
  margin-left: -1.111328125em;
  color: rgb(148, 145, 142);
}
.icon-tic-platinum-tiers .path9:before {
  content: "\ea64";
  margin-left: -1.111328125em;
  color: rgb(148, 145, 142);
}
.icon-tic-platinum-tiers .path10:before {
  content: "\ea65";
  margin-left: -1.111328125em;
  color: rgb(148, 145, 142);
}
.icon-tic-platinum-tiers .path11:before {
  content: "\ea66";
  margin-left: -1.111328125em;
  color: rgb(17, 24, 32);
}
.icon-tic-platinum-tiers .path12:before {
  content: "\ea67";
  margin-left: -1.111328125em;
  color: rgb(148, 145, 142);
}
.icon-tic-platinum-tiers .path13:before {
  content: "\ea68";
  margin-left: -1.111328125em;
  color: rgb(148, 145, 142);
}
.icon-tic-platinum-tiers .path14:before {
  content: "\ea69";
  margin-left: -1.111328125em;
  color: rgb(26, 26, 26);
}
.icon-tic-platinum-tiers .path15:before {
  content: "\ea6a";
  margin-left: -1.111328125em;
  color: rgb(148, 145, 142);
}
.icon-tic-platinum-tiers .path16:before {
  content: "\ea6b";
  margin-left: -1.111328125em;
  color: rgb(148, 145, 142);
  opacity: 0.2;
}
.icon-tic-platinum-tiers .path17:before {
  content: "\ea6c";
  margin-left: -1.111328125em;
  color: rgb(17, 24, 32);
}
.icon-tic-point-summary-loyality:before {
  content: "\ea6d";
  color: #d5b56f;
}
.icon-tic-point-voucher-remaining:before {
  content: "\ea6e";
  color: #d0021b;
}
.icon-tic-seamless-earning-redemption:before {
  content: "\ea6f";
  color: #d5b56f;
}
.icon-tic-sea-view-icon:before {
  content: "\ea70";
  color: #4a4a4a;
}
.icon-tic-share-icon:before {
  content: "\ea71";
  color: #d29851;
}
.icon-tic-silver-tiers .path1:before {
  content: "\ea72";
  color: rgb(98, 95, 94);
}
.icon-tic-silver-tiers .path2:before {
  content: "\ea73";
  margin-left: -2.5693359375em;
  color: rgb(98, 95, 94);
}
.icon-tic-silver-tiers .path3:before {
  content: "\ea74";
  margin-left: -2.5693359375em;
  color: rgb(48, 48, 48);
}
.icon-tic-silver-tiers .path4:before {
  content: "\ea75";
  margin-left: -2.5693359375em;
  color: rgb(48, 48, 48);
}
.icon-tic-silver-tiers .path5:before {
  content: "\ea76";
  margin-left: -2.5693359375em;
  color: rgb(48, 48, 48);
}
.icon-tic-silver-tiers .path6:before {
  content: "\ea77";
  margin-left: -2.5693359375em;
  color: rgb(48, 48, 48);
}
.icon-tic-silver-tiers .path7:before {
  content: "\ea78";
  margin-left: -2.5693359375em;
  color: rgb(98, 95, 94);
}
.icon-tic-silver-tiers .path8:before {
  content: "\ea79";
  margin-left: -2.5693359375em;
  color: rgb(48, 48, 48);
}
.icon-tic-silver-tiers .path9:before {
  content: "\ea7a";
  margin-left: -2.5693359375em;
  color: rgb(48, 48, 48);
}
.icon-tic-silver-tiers .path10:before {
  content: "\ea7b";
  margin-left: -2.5693359375em;
  color: rgb(26, 26, 26);
}
.icon-tic-silver-tiers .path11:before {
  content: "\ea7c";
  margin-left: -2.5693359375em;
  color: rgb(48, 48, 48);
}
.icon-tic-silver-tiers .path12:before {
  content: "\ea7d";
  margin-left: -2.5693359375em;
  color: rgb(48, 48, 48);
  opacity: 0.3;
}
.icon-tic-view-photos-icon:before {
  content: "\ea7e";
  color: #d29751;
}
.icon-tic-welcome:before {
  content: "\ea7f";
  color: #f5f5f5;
}
.icon-twitter .path1:before {
  content: "\ea80";
  color: rgb(239, 238, 238);
}
.icon-twitter .path2:before {
  content: "\ea81";
  margin-left: -1em;
  color: rgb(85, 172, 238);
}
.icon-twitter .path3:before {
  content: "\ea82";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-two-twins-bed-not-selected:before {
  content: "\ea83";
  color: #9b9b9b;
}
.icon-two-twins-bed-selected:before {
  content: "\ea84";
  color: #fff;
}
.icon-validity:before {
  content: "\ea85";
}
.icon-view-photos:before {
  content: "\ea86";
  color: #d29751;
}
.icon-vivanta .path1:before {
  content: "\ea87";
  color: rgb(0, 0, 0);
}
.icon-vivanta .path2:before {
  content: "\ea88";
  margin-left: -0.79296875em;
  color: rgb(142, 116, 75);
}
.icon-vivanta .path3:before {
  content: "\ea89";
  margin-left: -0.79296875em;
  color: rgb(255, 255, 255);
}
.icon-vivantaLarge .path1:before {
  content: "\ea8a";
  color: rgb(0, 0, 0);
}
.icon-vivantaLarge .path2:before {
  content: "\ea8b";
  margin-left: -0.76171875em;
  color: rgb(210, 152, 81);
}
.icon-vivantaLarge .path3:before {
  content: "\ea8c";
  margin-left: -0.76171875em;
  color: rgb(255, 255, 255);
}
.icon-vivanta-logo:before {
  content: "\ea8d";
}
.icon-voucher-count-black2x:before {
  content: "\ea8e";
  color: #4a4a4a;
}
.icon-wifi:before {
  content: "\ea8f";
  color: #d29751;
}
