<sly data-sly-test="${wcmmode.edit}">AMA Text</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='ama.hotels.ama-text'}"></sly>


<section class="${properties.backgroundColor} ama-overview-text">
	<div class="text-container container">
    		<sly data-sly-test=${properties.title}>
                <h2 data-sly-element="${properties.type}" class="text-title">${properties.title}</h2>
            </sly>
            <sly data-sly-test=${properties.description}>
				<div class="text-desc">${properties.description @ context="html"}</div>
            </sly>
	</div>
</section>

