@media only screen and (max-width: 767px) {
    .tic-event-booking-wrp {
        margin: 0 1rem;
    }
}

.tic-event-booking-wrp .veiw-map {
    color: #ac7b3e;
    font-size: 16px;
    font-size: 1rem;
    text-decoration: underline;
    padding-left: 0.5rem;
    font-weight: bold;
    display: inline-block;
}

.tic-event-booking-wrp .tic-event-details-n-points-wrp {
    margin: 32px 0 48px 0;
    margin: 2rem 0 3rem 0;
}

@media only screen and (max-width: 767px) {
    .tic-event-booking-wrp .tic-event-details-n-points-wrp {
        margin: 1rem 0 1rem 0;
    }
}

.tic-event-booking-wrp .event-details-wrp {
    background-color: #FFFFFF;
     box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.05);
}

.tic-event-booking-wrp .event-booking-form {
    padding: 32px 32px 48px 32px;
    padding: 2rem 2rem 3rem 2rem;
}

.tic-event-booking-wrp .event-booking-form .event-title {
    font-family: Calibri-Bold;
    color: #1b1b1b;
    font-size: 24px;
    font-size: 1.5rem;
}

.tic-event-booking-wrp .event-booking-form .event-info-wrp {
    display: inline-block;
    padding: 16px;
    padding: 1rem;
    background-color: #f5f5f5;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.tic-event-booking-wrp .event-booking-form .event-info-wrp .title {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #323232;
}

.tic-event-booking-wrp .event-booking-form .event-info-wrp .details {
    font-family: Calibri-Bold;
    font-size: 16px;
    font-size: 1rem;
    padding:0 0.3125rem;
}

.tic-event-booking-wrp .event-booking-form .sub-form-input-wrp {
    height: 94px;
    height: 5.875rem;
}

.tic-event-booking-wrp .event-booking-form .submit-btn-wrp {
    text-align: right;
}

.tic-event-booking-wrp .event-booking-form .quantity-left-minus,
.tic-event-booking-wrp .event-booking-form .quantity-right-plus {
    color: #d29851;
    width: 25px;
    height: 25px;
    padding: 0px;
    box-shadow: none;
}

.tic-event-booking-wrp .event-booking-form .bas-quantity {
    border: none !important;
    height: 25px;
    width: 50px !important;
    text-align: center !important;
}

.tic-event-booking-wrp .event-booking-form .no-of-tickets-wrp {
    margin: 32px 0 16px 0;
    margin: 2rem 0 1rem 0;
}

.tic-event-booking-wrp .event-booking-form .no-of-tickets-wrp .label,
.tic-event-booking-wrp .event-booking-form .no-of-tickets-wrp .no-of-tickets {
    margin-right: 16px;
    margin-right: 1rem;
    display: inline-block;
}

.tic-event-booking-wrp .event-details-date-venue-wrp {
    margin-right: 16px;
    margin-right: 1rem;
    display: inline-block;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.tic-event-booking-wrp .event-details-date-venue-wrp .title {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1;
    color: #ac7b3e;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .tic-event-booking-wrp .event-details-date-venue-wrp .title {
        font-size: 1rem;
        display: block;
    }
}

.tic-event-booking-wrp .event-details-date-venue-wrp .details {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0.5px;
    color: #323232;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .tic-event-booking-wrp .event-details-date-venue-wrp .details {
        font-size: 1rem;
    }
}

.tic-event-booking-wrp .event-price-details-wrp {
    display: inline-block;
    background-color: #fff;
    max-width: 352px;
    max-width: 22rem;
    padding: 20px;
    padding: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .tic-event-booking-wrp .event-price-details-wrp {
        margin-bottom: 1.5rem;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
}

.tic-event-booking-wrp .ticket-title {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    color: #4a4a4a;
}

.tic-event-booking-wrp .logo {
    margin-right: 16px;
    margin-right: 1rem;
}

.tic-event-booking-wrp .points-and-price-details-wrp .title {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 0.89;
    letter-spacing: 0.9px;
    color: #9e9e9e;
    margin-right: 8px;
    margin-right: 0.5rem;
    margin-left: 8px;
    margin-left: 0.5rem;
}

@media only screen and (max-width: 767px) {
    .tic-event-booking-wrp .points-and-price-details-wrp .title {
        font-size: 0.875rem;
    }
}

.tic-event-booking-wrp .points-and-price-details-wrp .title:first-child {
    margin-left: 0;
}

.tic-event-booking-wrp .points-and-price-details-wrp .details {
    font-family: Calibri;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 0.73;
    color: #323232;
    padding-right: 8px;
    padding-right: 0.5rem;
    border-right: solid 1px #c3c3c3;
}

@media only screen and (max-width: 767px) {
    .tic-event-booking-wrp .points-and-price-details-wrp .details {
        font-size: 1rem;
    }
}

.tic-event-booking-wrp .points-and-price-details-wrp .details:last-child {
    border-right: none;
}

.tic-event-booking-wrp .event-card-img-wrp {
    overflow: hidden;
    min-height: 80px;
    min-height: 5rem;
    background-color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .tic-event-booking-wrp .event-card-img-wrp {
        padding: 0!important;
    }
}

.tic-event-booking-wrp .event-card-img-wrp picture {
    height: 100%;
}

.tic-event-booking-wrp .event-card-img-wrp img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.placeholder-title {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.22;
    color: #323232;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
}

.placeholder-title .mr-showmore-placeHolder-title {
    padding-left: 5px;
    padding-left: 0.3125rem;
}

.placeholder-title .mr-showmore-placeHolder-title a {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #d29751;
}

.placeholder-title .mr-showmore-placeHolder-title a:hover {
    text-decoration: none;
}

.hide-warn-symbol .icon-warning{
display:none;
}
.placeholder-title p:nth-child(n+3) {
    display: none;
}

.placeholder-title-display-all p:nth-child(n+3) {
    display: block !important;
}
.sub-form-input-label{
    color:#323232!important;
}

.event-price-details-wrp .logo{
    width: 20px;
}
.points-type-wrp{
    width: 100%;
    border-bottom: solid 1.7px #dee2e5;
}
.points-type-wrp .selectboxit .selectboxit-arrow-container .selectboxit-arrow{
    top: 30%;
}
.back-btn-wrp .back-btn{
    color: #ac7b3e;
    font-size: 16px;
    font-size: 1rem;
}
.free-booking-show{
    display: none;
    font-weight:bold;
}
.member-free-booking-wrap .free-booking-show{
    display: block;
}
.member-free-booking-wrap .free-booking-hide{
    display: none;
}
.monthly-even-card-container .cm-bg-container .cm-bg-image{
	    object-fit: unset;
}
.mr-sub-form .sub-form-input-element:disabled {
    cursor: not-allowed;
}