.ama-destination-page .row {
    margin: 0 -15px;
}

.ama-destination-page .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.ama-destination-page .col-md-3 .ama-destinations-cards-single {
    box-shadow: 0 20px 48px -10px rgba(0, 0, 0, 0.11);
    margin-bottom: 30px;
}

.ama-destination-page .col-md-3 .ama-destinations-cards-single .card-desc {
    margin: 20px 0;
    min-height: 120px;
}

.ama-destination-page .ama-second {
    padding: 20px;
}

.ama-destination-page .card-desc p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.card-logo-title{
    font-family: var(--themeHeadingFontSemiBold);
}
.ama-destinations-cards-single .cm-btn-secondary{
    padding-top: 10px;    
}