<template data-sly-template.AmalgamationInformation="${@amalgInfo}">
<div class="mr-audit-statement-template col-lg-4 col-md-6 col-sm-12 show-more-card-element cm-card-showmore-spacing">
    <div class="mr-audit-statement-template-inner">
        
        <div class="mr-audit-statement-description-wrapper">
            <p class="mr-audit-statement-text">${amalgInfo.title}</p>
            <a href="${amalgInfo.pdfPath}" target="_blank">
                <div class="mr-download-btn-wrapper"><button class="mr-download-pdf cm-btn-secondary">DOWNLOAD PDF</button></div>
            </a>
        </div>
    </div>
</div>
</template>