<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='taj.hotels.components.pdf-list'}"/>
<sly
        data-sly-use.amalgamationProperties="com.ihcl.core.models.financialReports.AmalgamationReportsFetcher"/>


<div class="mr-arrangement-wrapper cm-content-blocks">
    <div class="mr-audit-statement-wrapper show-more-card-wrapper row show-more-card-container"
         data-sly-list.tifco="${amalgamationProperties.tifco}">
        <sly data-sly-use.AmalgamationInformationLib="pdf-getter-card.html"/>
        <sly data-sly-unwrap
             data-sly-call="${AmalgamationInformationLib.AmalgamationInformation @ amalgInfo=tifco}"/>
    </div>
    <div class="card-show-more-button no-display-show-more-btn" tabindex="1">
        <span>SHOW MORE</span>
        <img src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg"alt = "drop down arrow icon"/>
    </div>
</div>

