
.ama-theme .card-wrapper.soldOut{
    position:relative;
    overflow:hidden;

}
.ama-theme .card-wrapper.soldOut:before{
    content: "Sold Out";
    position: absolute;
    top: -20px;
    right: -15px;
    width: 120px;
    height: 120px;
    background: #edeaea;
    border-radius: 50%;
    border: 1px solid #da4a30;
    line-height: 120px;
    /* text-align: center; */
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    color: #da4a30;
    font-size: 14px;
    padding-left: 15px;
    z-index: 1;
    /* letter-spacing: 0px; */
}
.ama-theme .card-wrapper.soldOut .card-wrapper-image{
	opacity:0.5;
    filter: grayscale(1);
    pointer-events: none;
}
.ama-theme .card-wrapper.soldOut .card-wrapper-descritpion{
    position:relative;
}
.ama-theme .card-wrapper.soldOut .card-wrapper-descritpion *{
	opacity:0.5;
    filter: grayscale(1);
	pointer-events: none;

}
.ama-theme .card-wrapper.soldOut .card-wrapper-descritpion .soldOut-text{
	opacity:1;
    filter: grayscale(0);

}
.ama-theme .card-wrapper.soldOut .mr-list-current-discounted-rates-wrap a{
	pointer-events: none;
}
.ama-theme .card-wrapper.soldOut .soldOut-text{
	color: #da4a30;
    position: absolute;
    top: -130px;
}

.ama-theme .mr-list-hotel-price-tic,.waiting-spinner{
     position: inherit;
     padding:0; 
     text-align: left;
 }


.ama-theme .card-wrapper{
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;

}

.ama-theme .card-wrapper img{
    width: 100%;
    height: 100%;
    background: #ccc;
}
.ama-theme .card-wrapper-image{
	height: 20rem;
    background: #ccc;
    position:relative;                                                    
}
.card-wrapper-title{
    padding: 1.5rem 1.875rem 1.25rem;
    position: absolute;
    bottom: 0%;
    font-size: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: var(--themeHeadingFontSemiBold);
    letter-spacing: 0.5px;
    margin-bottom: 0;                                      
}
.card-wrapper-descritpion{
    padding: 1.5rem 1.875rem 1.25rem;
}
.card-wrapper-descritpion .bungalow-desc{
  font-family: var(--themeContentFontRegular);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
}    

.card-wrapper-descritpion .bungalow-rooms{
    font-family: var(--themeContentFontRegular);
  font-size: 14px;
  letter-spacing: 0.41px;
  font-weight: 800;
}
.card-wrapper-descritpion .mr-starting-rate{
    text-align:left;
     font-family: Montserrat-Regular;
  font-size: 12px;
  letter-spacing: 0.35px;
  color: #333333;
            margin-bottom:5px;
}
.room-rates-wrap{
    color: var(--primaryColor);
    font-size: 20px;
    font-family: var(--themeHeadingFontSemiBold);
}
.bungalow-desc p{
        display : none;
    }
.bungalow-desc p:first-of-type{
		 display : block;
        display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom:10px;

}
.mr-listView-layout .list-view-wrapper{margin-bottom;}
.list-view-wrapper .cm-btn-secondary {
    padding: 0 20px;
    font-size: 12px;
}

.card-wrapper-title-only-mob{
    display: none;
}
.destination-layout .hotel-navigation{display:none;}

@media only screen and (min-width: 320px) and (max-width: 767px){
    .card-wrapper-title{
        display: none;
    }
    .card-wrapper-title-only-mob{
        display: block;
        font-size: 18px;
        width: 100%;
        background-color: #ffffff;
        font-family: Montserrat-SemiBold !important;
        letter-spacing: 0.5px;
    }
    .card-wrapper-descritpion .bungalow-rooms{
        font-size: 14px;
        font-family: Montserrat-Regular;
    }
    .room-rates-wrap{
        font-size: 1rem;
    }
	.destination-layout .specific-hotels-breadcrumb {
    margin-bottom: 0;}
    .destination-layout .mr-listView-layout .row [class*="col-"]{
        padding-right: 15px ! important;
    	padding-left: 15px ! important;
        margin-bottom:0;

	}
    .destination-layout .activities-show-more{margin-top:0;}
}
.ama-theme .room-rate-per-night-text{
    color: var(--primaryTextColor);
    font-size: 16px;
    font-family: var(--themeContentFontRegular);
    font-weight: 800;
}
.ama-theme .ama-rupee-symbol{
    color: var(--primaryColor);
    opacity: 1;
    font-size: 20px;
}
.room-rates-exclude-text{
    font-size: 12px;
}