.cm-page-container{
	background-color:#ffffff;
}
h1,h2,h3,h4,h5,h6{

	font-family:Montserrat-Regular;
    font-weight: 600;
}

p{
	font-family:Montserrat-Regular;
	    font-size: 15px;
}
.cm-btn-secondary{
font-family: Montserrat-Regular;
    font-weight: 600;
}
.carousel-indicators{
bottom: -20px;

}
.carousel-indicators li {
	width:10px;
        height : 10px;
        border-radius:50%;

}

.carousel-indicators li{
		background-color:#afafaf;
}
.carousel-indicators .active{
	background-color:var(--primaryColor);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 30px;
    height: 60px;
}
    .carousel-control-next, .carousel-control-prev{
	width : inherit;
}
.carousel-control-prev {
    left: -2%;
        opacity: 1;
}
.carousel-control-next{
    right: -2%;
        opacity: 1;
}
.carousel-control-next-icon {
    background-image: url(/content/dam/tajhotels/icons/ama/arrow-left.png);
    transform: rotate(180deg);
}    
.carousel-control-prev-icon {
	transform: rotate(0deg);
    background-image: url(/content/dam/tajhotels/icons/ama/arrow-left.png);
    }