<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
   data-sly-call="${clientlib.all @ categories='tajhotels.reason-cancellation'}" />
<sly data-sly-use.reasonObj="com.ihcl.core.models.ReasonForCancellation">
   <input type="hidden" name="varname" id="redirectUrl" value=${properties.urlcancel} aria-hidden = "true"/>
   <div class="cm-content-block row reservation-popup-container d-none" id="confirmReservationCancel">
      <div class="col-12 cancellation-reason-section reservation-popup">
         <div class="cancellation-reason-section-wrap px-5 py-5">
            <div class="d-flex flex-column">
               <div class="cancellation-reason-heading p-0 m-auto">${properties.heading}</div>
               <div class="cancellation-reason-subheading px-0 py-3">${properties.subheading}</div>
            </div>
            <div class="cancellation-reason-selection-section m-0 pb-4">
               <sly data-sly-list.reasons="${reasonObj.reasonsForCancellation}">
                  <div class="gallery-nav-radio-element cancel-reason-radio-button">
                     <input class="gallery-nav-radio-input" type="radio" checked name="cancellation-reason" id="cancellation-reason-${reasons.count}" aria-label = "${reasons}">
                     <label class="gallery-nav-radio-label" for="cancellation-reason-1">
                        <span>
                           <div class="radio-inner-fill"></div>
                        </span>
                        ${reasons}
                     </label>
                  </div>
               </sly>
            </div>
            <div class="cancellation-reason-btn-container pt-md-3 pb-0 px-0 d-flex justify-content-md-end">
               <a class="cancellation-reason-btn-con mr-md-4" id="close-cancel-reservation">
               <button onclick="handleClosePopup()" class="cm-btn-primary cancellation-reason-btn">DON'T CANCEL</button>
               </a>
               <a class="cancellation-reason-btn-con" data-cancel-redirect="${properties.urlcancel}">
                  <div class="taj-loader" style="display:none">
                     <div class="taj-loader-circle"></div>
                     <div class="taj-loader-circle"></div>
                     <div class="taj-loader-circle"></div>
                  </div>
                  <button class="cm-btn-secondary cancellation-reason-btn cancel-reason-proceed-button" id="proceed-button" onClick="cancelReservation()">CANCEL BOOKING</button>             
               </a>
            </div>
         </div>
      </div>
   </div>
</sly>
<sly data-sly-use.clientLib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientLib.all @ categories='granite.csrf.standalone'}" data-sly-unwrap/>
