<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.experience.details'}" />
	
<div data-sly-test.experienceName=${properties.experienceName}>
		<div class="experience-card-details-con">
			<div class="experience-details-desc-con">
				<div class="experience-details-heading">${properties.experienceName}</div>
				<div data-sly-test.experienceAddress=${properties.experienceAddress}>
					<div class="ho-map-link">
						<a class="inline-block ho-hotel-location-link" target="_blank">
							<img
							class="ho-location-icon ho-cm-icon inline-block conf-loc-img"
							src="/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg" alt = "location-icon-brown"/>
							<span
							class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt conf-loc-text experience-details-loc">${properties.experienceAddress}</span>
						</a>
					</div>
				</div>
				<div class="experience-details-short-desc">${properties.experienceDescription @context='html'}</div>
				<div class="experience-details-desc">${properties.experienceLongDescription @context='html'}</div>
			</div>
			<div class="experience-details-img-con"  data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
			  <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= properties.fileReference ? properties.fileReference : properties.experienceImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly>
			</div>
		</div>
	</div>