.image-container{
display : inline-block;
height: 20px;
width: 20px;
margin-right: 20px;
margin-bottom:8px;
}
.image-container, .img{
height: 100%;
width: 100%;
object-fit:contain;}
}

@media only screen and (max-width: 991px) {
	.gallery-section-wrapper .carousel-images-container	.carousel-image-holder{
		height: 170px;	
	}
}
.hotel-overview-container {
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    min-height: 500px;
}

li {
    list-style: none;
}

.cm-view-link-txt, .cm-view-txt{
	display: inline-block;
    color: var(--primaryColor);
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri-Bold;
    border-bottom: 1px solid var(--primaryColorLight);
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0;
    cursor: pointer;
}

.inline-block {
    display: inline-block !important;
}

.cm-share-btn {
    width: 36px;
    width: 1.25rem;
    zoom: 0.8;
    margin-left: -11px;
}

.ho-header-small {
    font-family: Calibri-Bold;
    color: #323232;
    font-size: 20px;
    font-size: 1.25rem;
    margin-top: 25px;
    margin-bottom: 10px;
    line-height: initial;
}
.hotel-overview-container .mr-carousel-Content-wrap {
    display: block;
}

.row {
    margin-left: 35px !important;
    margin-right: -15px !important;
}

@media only screen and (max-width: 991px) {
    .hotel-overview-container {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .hotel-overview-container {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.hotel-overview-wrapper {
    width: 96%;
    padding-top: 25px;
    padding-bottom: 35px;
}

.ho-single-img-con {
    margin-bottom: 26px !important;
}

.ho-multi-image img {
    height: 241px;
    height: 15.0625rem;
}

@media only screen and (max-width: 991px) {
    .overview-images-section {
       
    }
}

.overview-images-section [class*="col-"] {
    padding-right: 13px !important;
    padding-right: 0.8125rem !important;
    padding-left: 13px !important;
    padding-left: 0.8125rem !important;
}

@media only screen and (max-width: 991px) {
    .ho-services-show-all-con,
  .ho-services-show-less-con {
        display: none;
    }
}

.ho-services-show-txt {
    display: table;
}

.ho-services-each-wrap {
    display: table;
    width: 100%;
}

.ho-service-icon {
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
}

.view-photo-link-con {
    text-align: right;
    padding-right: 13px !important;
    padding-right: 0.8125rem !important;
    margin-bottom: 16px;
}

.ho-btns-section {
    margin-top: 16px;
}

.ho-btns-section .add-to-wishlist-btn {
    margin-right: 20px;
    vertical-align: top;
}

.ho-overview-description {
    color: #323232;
    font-size: 14px !important;
    font-size: 1rem;
    font-family: Calibri;
}

@media only screen and (max-width: 320px) {
    .ho-overview-description {
        font-size: 0.75rem;
    }
}

.ho-header {
   font-family: Calibri !important;
    font-size: 36px !important ;
    font-size: 2.25rem !important;
    line-height: initial important; 
    font-weight: bold;
}

@media only screen and (max-width: 991px) {
    .ho-header {
        font-size: 1.5rem;
    }
}

.ho-cm-link-txt {
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: normal;
    text-transform: none;
    margin-top: 4px;
    margin-top: 0.25rem;
    font-family: calibri;
   
}

@media only screen and (max-width: 375px) {
    .ho-cm-link-txt {
        font-size: 0.75rem;
    }
}

.ho-cm-icon {
    margin-right: 3px;
}

@media only screen and (max-width: 375px) {
    .ho-cm-icon {
        height: 14px;
        width: 14px;
    }
}

.ho-contact-options-con {
    margin: 12px 0;
    position: absolute;
    bottom: 1rem
}

.ho-contact-options-con .ho-mail-to {
    padding: 3px 0 2px;
    position: relative;
    margin-left: 48px;
    margin-left: 3rem;
}

@media only screen and (max-width: 320px) {
    .ho-contact-options-con .ho-mail-to {
        margin-left: 1rem;
    }
}

.ho-contact-options-con .ho-mail-to:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: #c3c3c3;
    left: -25px;
    bottom: 2px;
}

@media only screen and (max-width: 320px) {
    .ho-contact-options-con .ho-mail-to:after {
        left: -10px;
    }
}

.ho-header-small {
    font-family: Calibri-Bold;
    color: #323232;
    font-size: 20px;
    font-size: 1.25rem;
    margin-top: 25px;
    margin-bottom: 10px;
    line-height: initial;
}

@media only screen and (max-width: 991px) {
    .ho-header-small {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 320px) {
    .ho-header-small {
        font-size: 0.875rem;
    }
}

.ho-items-list {
    padding-left: 0;
}

.ho-items-list .ho-each-items {
    width: 32.5%;
    margin-bottom: 15px;
    vertical-align: top;
}

@media only screen and (max-width: 991px) {
    .ho-items-list .ho-each-items {
        width: 49%;
    }

    .ho-items-list .ho-each-items:last-child {
        margin-right: 1.625rem;
    }
}

@media only screen and (max-width: 320px) {
    .ho-items-list .ho-each-items {
        width: 100%;
    }
}

.ho-items-list .ho-service-name {
    font-family: Calibri;
    color: #323232;
    margin-left: 10px;
    margin-left: 0.625rem;
    font-size: 14px;
    font-size: 0.875rem;
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
    width: 80%;
}

@media only screen and (max-width: 320px) {
    .ho-items-list .ho-service-name {
        width: 85%;
    }
}

.ho-hotel-policies-con .ho-each-policy-list {
    font-family: Calibri;
    color: #323232;
    font-size: 14px !important;
    font-size: 1rem;
    margin-left: -39px;
}

@media only screen and (max-width: 320px) {
    .ho-hotel-policies-con .ho-each-policy-list {
        font-size: 0.75rem;
    }
}

.ho-hotel-essentials-con {
  /*.ho-each-essential-item:after {
        content: "";
        position: absolute;
        height: 20px;
        width: 1px;
        background-color: #c3c3c3;
        right: -25px;
        bottom: 2px;
    };*/
}

.ho-hotel-essentials-con .ho-each-essential-item.normal-txt {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    color: #000;
    position: relative;
    border: none;
    padding-right: 0;
    margin-right: 0;
}

@media only screen and (max-width: 991px) {
    .ho-hotel-essentials-con .ho-each-essential-item.normal-txt {
        font-size: 0.875rem;
    }
}

.ho-hotel-essentials-con .ho-each-essential-item {
    border-right: 1px solid #000;
    padding-right: 8px;
    padding-right: 0.5rem;
    line-height: 1;
    margin-right: 4px;
    margin-right: 0.25rem;
}

@media only screen and (max-width: 991px) {
    .ho-hotel-essentials-con .ho-each-essential-item {
        font-size: 0.75rem;
    }
}

.ho-inner-carousal-cards {
    height: 195px;
    height: 12.1875rem;
}

.hotel-overview-carousel-wrap .cm-inner-carousal-cards:first-child {
    margin-left: 0 !important;
}

.ho-third-section {
    margin-top: 25px;
}

.ho-view-gallery-txt {
    margin-top: 14px;
}

.disabled .ho-mail-to-txt {
    color: #585656;
    font-size: 13px !important ;
}

.service-amenity .service-amenity-name {
    font-family: Calibri;
    font-weight: 0.875rem;
    height: 22px;
    font-size: 14px;
}

.ho-ameneties-blocks-con .ho-each-ameneties-sec {
   display: none;
}

.ho-ameneties-blocks-con .ho-each-ameneties-sec:nth-child(-n+4) {
   display: block;
}

@media only screen and (max-width: 767px) {
	.ho-ameneties-blocks-con .ho-each-ameneties-sec {
	   display: none;
	}
	
	.ho-ameneties-blocks-con .ho-each-ameneties-sec:nth-child(-n+2) {
       display: block;
    }
}

.show-more-less-cta-con {
	display: none;
}

.cta-sellings-show-less {
	display: none;
}

.active .cta-sellings-show-less {
	display: block;
}

.active .cta-sellings-show-more {
    display: none;
}