<script>
   // IZooto Code Integrations
   //Below line only for debug purpose only can be removed, if not in use
   var izootoBrandTheme = "${inheritedPageProperties.brandTheme  @ context='unsafe'}"
</script>
<sly data-sly-test="${inheritedPageProperties.brandTheme == 'taj'}">
   <script>
      window._izq = window._izq || [];
      window._izq.push([ "init" ]);
   </script>
   <script src="https://cdn.izooto.com/scripts/f2e3b03a46f3366e422724d205eba3b8bd47e1e1.js"></script> 
</sly>
<sly data-sly-test="${inheritedPageProperties.brandTheme == 'seleqtions-theme'}">
   <script>
      window._izq = window._izq || [];
      window._izq.push([ "init" ]);
   </script>
   <script src="https://cdn.izooto.com/scripts/f79060ef3f1729df647b891f20e4a6fc1a4292be.js"></script> 
</sly>
<sly data-sly-test="${inheritedPageProperties.brandTheme == 'vivanta-theme'}">
   <script>
      window._izq = window._izq || [];
      window._izq.push([ "init" ]);
   </script>
   <script src="https://cdn.izooto.com/scripts/f55df15ba14e510e2698dfa01ad58bbffc468db5.js"></script> 
</sly>
<sly data-sly-test="${inheritedPageProperties.brandTheme == 'ama-theme'}">
   <script>
      window._izq = window._izq || [];
      window._izq.push([ "init" ]);
   </script>
   <script src="https://cdn.izooto.com/scripts/d0de4f48c062bfd2d81868f8ec097dfd715680b4.js"></script> 
</sly>