.package-search-check-availability-wrp {
    background-color: #e7e7e7;
    padding: 30px 30px 30px 24px;
    padding: 1.875rem 1.875rem 1.875rem 1.5rem;
}


#booking-search-campaign{
    display: flex;
    margin-bottom:1rem;
	width: 100%;
}

#check-availaility-search-results {
    z-index: 10;
}

@media only screen and (max-width: 767px) {
    .package-search-check-availability-wrp {
        padding: 1rem;
        margin: 1.5rem;
    }
    #booking-search-campaign{
    display: block;
}
}

.package-search-check-availability-wrp .pakage-details-wrp {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.package-search-check-availability-wrp .package-label {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.16;
    color: #1b1b1b;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}

.package-search-check-availability-wrp .package-input-container {
    padding: 0 16px!important;
    padding: 0 1rem!important;
}

.package-search-check-availability-wrp .package-input-container:first-child {
    padding-left: 0!important;
}

.package-search-check-availability-wrp .package-input-container:last-child {
    padding-right: 0!important;
}

@media only screen and (max-width: 991px) {
    .package-search-check-availability-wrp .package-label {
        width: 100%;
        font-size: 1rem;
    }
    .package-search-check-availability-wrp .package-input-container{
        padding: 0 !important;
        margin-bottom: 0 !important;
    }
}

.package-search-check-availability-wrp .package-input-wrp {
    height: 30px;
    height: 1.875rem;
}
.package-search-check-availability-wrp .jiva-spa-hotel-input .jiva-spa-mand-input{
    height: 1.875rem ;
}
.package-search-check-availability-wrp .searchBar-wrap::before{
        background-image: none;
}
@media only screen and (max-width: 991px) {
    .package-search-check-availability-wrp .package-input-wrp {
        width: 100%;
        margin-bottom: 1.75rem;
    }
}

.package-search-check-availability-wrp .selectSubContainer {
    height: 33px;
    height: 2.0625rem;
    width: 100%;
    position: relative;
    z-index:0;
}

@media only screen and (max-width: 991px) {
    .package-search-check-availability-wrp .selectSubContainer {
        border-bottom: 2px solid rgba(27, 27, 27, 0.3);
    }
}

.package-search-check-availability-wrp .jiva-spa-hotel-input .jiva-spa-mand-input {
    border: none;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.19;
    letter-spacing: 0.5px;
    color: var(--primaryColor);
    background-color: transparent;
    border-bottom: 2px solid rgba(27, 27, 27, 0.3);    
    padding:0 0.5rem 0.5rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: none;    
}

@media only screen and (max-width: 991px) {
    .package-search-check-availability-wrp .jiva-spa-hotel-input .jiva-spa-mand-input {
        font-size: 1rem;
    }
}

.package-search-check-availability-wrp .jiva-spa-hotel-input .jiva-spa-mand-input:focus {
    outline: none;
}

.package-search-check-availability-wrp .jiva-spa-date-con img {
    width: 12px;
    width: 0.75rem;
    top: 8px;
    top: 0.5rem;
}

@media only screen and (max-width: 767px) {
    .package-search-check-availability-wrp .jiva-spa-date-con img {
        width: 1rem;
    }
}

.package-search-check-availability-wrp .check-in-date::-webkit-input-placeholder,
.package-search-check-availability-wrp .check-out-date::-webkit-input-placeholder,
.package-search-check-availability-wrp .jiva-spa-hotel-input .jiva-spa-mand-input::-webkit-input-placeholder {
    color: var(--primaryColor)!important;
    font-size: 14px;
    font-size: 0.875rem;
}

.package-search-check-availability-wrp .check-in-date::-moz-placeholder,
.package-search-check-availability-wrp .check-out-date::-moz-placeholder,
.package-search-check-availability-wrp .jiva-spa-hotel-input .jiva-spa-mand-input::-moz-placeholder {
    color: var(--primaryColor)!important;
    font-size: 14px;
    font-size: 0.875rem;
}

.package-search-check-availability-wrp .check-in-date:-ms-input-placeholder,
.package-search-check-availability-wrp .check-out-date:-ms-input-placeholder,
.package-search-check-availability-wrp .jiva-spa-hotel-input .jiva-spa-mand-input:-ms-input-placeholder {
    color: var(--primaryColor)!important;
    font-size: 14px;
    font-size: 0.875rem;
}

.package-search-check-availability-wrp .check-in-date::placeholder,
.package-search-check-availability-wrp .check-out-date::placeholder,
.package-search-check-availability-wrp .jiva-spa-hotel-input .jiva-spa-mand-input::placeholder {
    color: var(--primaryColor)!important;
    font-size: 14px;
    font-size: 0.875rem;
}

.package-search-check-availability-wrp .check-in-date.sub-form-input-element,
.package-search-check-availability-wrp .check-out-date.sub-form-input-element {
    border: none;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.19;
    letter-spacing: 0.5px;
    color: var(--primaryColor)!important;
    background-color: transparent;
    border-bottom: 2px solid rgba(27, 27, 27, 0.3) !important;
    padding-bottom: 8px;
    padding-bottom: 0.5rem;
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .package-search-check-availability-wrp .check-in-date.sub-form-input-element,
  .package-search-check-availability-wrp .check-out-date.sub-form-input-element {
        font-size: 1rem;
    }
}

.package-search-check-availability-wrp .packages-dropdwn-wrp {
    padding: 0!important;
}

.package-search-check-availability-wrp .packages-dropdwn-wrp .row {
    margin-left: 16px;
    margin-left: 1rem;
}

@media only screen and (max-width: 991px) {
    .package-search-check-availability-wrp .packages-dropdwn-wrp .row {
        margin-left: 0rem;
    }
}

@media only screen and (max-width: 991px) {
    .package-search-check-availability-wrp .packages-dropdwn-wrp .package-input-container {
        padding: 0;
    }
}

.package-search-check-availability-wrp .package-availabality-check-btn-travel-wrp {
    margin-top: 32px;
    margin-top: 2rem;
}

@media only screen and (max-width: 991px) {
    .package-search-check-availability-wrp .package-availabality-check-btn-travel-wrp {
        padding: 0;
    }
}

.package-search-check-availability-wrp .packages-dropdwn-wrp .selectboxit-container .selectboxit .selectboxit-text{
    font-size: 14px!important;
    font-size: 0.875rem!important;
}

@media only screen and (max-width: 991px) {
    .package-search-check-availability-wrp #packageNoOfAdultsSelectBoxItText,
  .package-search-check-availability-wrp #packageNoOfchildrenSelectBoxItText,
  .package-search-check-availability-wrp #packageNoOfRoomsSelectBoxItText {
        color: var(--primaryColor);
        font-size: 1rem;
    }
}

.package-search-check-availability-wrp .col-6.from-to-datepicker-con:nth-child(even) {
    padding-left: 16px!important;
    padding-left: 1rem!important;
}

.package-search-check-availability-wrp .mandatory-text {
    display: none;
    font-family: Calibri;
    font-size: 14px;
    font-size: 14px;
    font-size: 0.875rem;
    color: #f44336;
}

.package-search-check-availability-wrp .disp-mandatory-text .mandatory-text {
    display: block;
}

.package-search-check-availability-wrp .package-check-availaility {
    float: right;
}

.package-search-check-availability-wrp .travel-agency {
    display: none;
    float: left;
    margin-top: 8px;
    margin-top: 0.5rem;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #1b1b1b;
}

.package-search-check-availability-wrp .travel-agency img {
    height: 8px;
    height: 0.5rem;
    margin-left: 8px;
    margin-left: 0.5rem;
}

.package-search-check-availability-wrp .invalid-input {
    border-bottom: 1px solid var(--primaryColorLight)!important;
}

.re-direct-disabled{
    pointer-events:none;
    opacity: 0.4;   
}
.package-search-check-availability-wrp .packages-dropdwn-wrp .row.package-occupancy-count-row{
    margin:0;
}
@media only screen and (min-width: 992px) {
    .row.package-occupancy-count-row .package-no-of-adults-wrp{
        padding-right: 0.5rem;
    }
    .row.package-occupancy-count-row .package-no-of-children-wrp{
        padding-left: 0.5rem;
    }
}
.selectSubContainer.package-no-of-children.package-input-wrp,
.selectSubContainer.package-no-of-adults.package-input-wrp {
    margin-bottom: 1rem;
}
.package-search-check-availability-wrp .search-and-suggestions-wrapper .searchBar-wrap{
    
        flex: 1;
    margin-right: 1rem;
}
@media only screen and (max-width: 767px) {
  .package-search-check-availability-wrp .search-and-suggestions-wrapper .searchBar-wrap{
    margin-right: 0rem;
}
}

#ca-global-re-direct{
	margin-top: 25px;
}

.promo-code{
    display:inline-block;
    width:15%;
    margin:0px 25px;
}

.rate-code{
	display:inline-block;
	width:15%;

}
@media only screen and (max-width: 992px) {
	.rate-code{
	width:100%;
    display: block;
}

.promo-code{
    width: 100%;
    display: block;
    margin:0;
    padding:15px 0px;
}
}

.selectable-input {
	right: 5px;
    position: absolute;
    top: 0;
    height: 10px;
    width: 11px;
    border-style: solid;
    border-color: var(--primaryColor);
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
}
