@import 'core/_fonts.less';
html {
   font-family:Calibri;
   font-size: 16px;
}

body {
   font-family:Calibri;
   //color: blue;
   //transition: 2s all;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.center {
    text-align: center;
}

.v-middle {
    vertical-align: middle;
}

.text-caps {
    text-transform: uppercase;
}

.hide {
    display: none;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector