img {
    object-fit: cover;
}
[class*="object-fit"]{
    display: table;   
    background-position: center;
}
.object-fit-cover{
    background-size: cover;
}
.object-fit-contain{
    background-size: 100% 100%;
}
.display-block {
    display: inline-block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.cm-left {
    float: left;
}

.cm-hide {
    display: none !important;
}

.cm-right {
    float: right;
}

.cm-inner-carousel-con {
    overflow-x: auto;
}

.cm-datepicker-container {
    position: relative;
}

.cm-datepicker-container .datepicker {
    padding: 1rem;
    top: 0.1rem !important;
}

.cm-view-link-txt {
    display: inline-block;
    color: var(--primaryColor);
    font-size: 1rem;
    font-family: Calibri-Bold;
    text-decoration: underline;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0;
    cursor: pointer;
}

.cm-view-txt {
    border: none !important;
    text-transform: none;
    letter-spacing: normal;
    color: var(--primaryColor);
    text-decoration: none;
    &:extend(.cm-view-link-txt);
}

.the-page-carousel {
    padding-bottom: 1rem;
}

//break when heading will start collapse
.cm-break-visible {
    display: none;
    @media only screen and (max-width: 380px) {
        display: inline;
    }
}

//common class for background image
.cm-bg-container {
    position: relative;
    .cm-bg-image {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .cm-bg-relative-content {
        position: relative;
    }
}

.cm-align-table {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    .cm-align-table-cell {
        display: table-cell;
        vertical-align: middle;
    }
}

// rotate only on mobile
.cm-rotate-on-mobile {
    @media only screen and (max-width: 767px) {
        transform: rotate(180deg);
    }
}

// common styles for checkbox
.mr-filterCheckBox-label {
    font-family: Calibri;
    font-size: 1.125rem;
    line-height: 1.11;
    color: #1b1b1b;
    position: relative;
    margin-right: 2rem;
    cursor: pointer;
}

.mr-filter-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.mr-filter-checkbox+span.mr-inputCustomShape {
    background-color: #ffffff;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    content: ' ';
    left: -2rem;
    border: 1px solid var(--primaryColor);
    margin-right: 1.25rem;
}

// disable rotate
.cm-disable-rotate {
    transform: rotate(0deg) !important;
}

.show-more-card-wrapper {
    .show-more-card-element {
        &.show-more-card-element-active {
            display: block;
        }
    }
}

.cm-rotate-show-more-icon {
    transform: rotate(180deg);
}

.cm-fixed-date-picker-width {
    width: 16rem !important;
}

//cmn class to show and hide
.mob-show {
    display: none;
    @media only screen and (max-width: 768px) {
        display: block;
    }
}

.desk-show {
    display: none;
    @media only screen and (min-width: 769px) {
        display: block;
    }
}
body {
    font-family:Calibri;
   //color: blue;
   //transition: 2s all;
}
//btn disabled class
.cm-btn-disabled {
    background-color: rgb(196, 196, 196);
    background-image: none !important;
    cursor: not-allowed !important;
}

//for title in map
.markerlabels {
    background-color: transparent;
    text-align: left;
    line-height: 12px;
    overflow: hidden;
    font-family: Calibri;
    font-size: 12px;
    color: #8e734a;
    padding: 7px;
    pointer-events: none;
    max-width: 120px;
    background-color: #ffffff;
    width: max-content;
    min-width: 100px;
}


/* --Adding webkit scroll - page level:STARTS-- */

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    /*background-color:  #fff;*/
    background-color: transparent;
    opacity: 0.1;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    /*background-color: #F5F5F5;*/
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    opacity: 0.5;
}


/* --Adding webkit scroll - page level:ENDS-- */

.markerlabels.active {
    border: 1px solid #8e734a;
    font-family: Calibri-Bold;
}

.ho-cm-link-txt {
    font-size: 0.875rem;
    letter-spacing: normal;
    text-transform: none;
    margin-top: 0.25rem;
    font-family: calibri;
}
.cm-rotate-neg-180deg{
    transform: rotate(-180deg);
}
.cm-rotate-icon-180 {
    transform: rotate(180deg);
}

.cm-font-calibri{
    font-family: Calibri;
}
body {
    font-family:Calibri;
   //color: blue;
   //transition: 2s all;
}

/*  
    Common table style for taj
*/
.richtext-font table,
table.generic-table{   
    width: 100%;
    border: 1px solid #f7f7f7; 
    tr{
        border: 1px solid #f7f7f7;
    }
    th {
        background: #f7f7f7;
        font-size: 1rem;
        color: #4a4a4a;                        
        position: relative;
        &::after {
            position: absolute;
            content: "";
            background: #979797;
            width: 2px;
            height: 50%;
            top: 25%;
            right: 0;
            opacity: 0.35;
        }
        &:last-child::after {
            background: transparent;
        }
    }
    td, th {
        padding: 0.5rem;
        text-align: center !important; 
        &:first-child{            
            text-align: left !important; 
        }
    }
}