.home-page {
    color: gray;
    background-color: #d8d8d8;
}

.home-page .offers-card-container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.home-page .taj-brand-info {
    background: transparent;
    margin-top: 43px;
    margin-bottom: 61px;
}

.home-page .taj-brand-info .container {
    background-color: #efeeee;
    padding: 22px 30px 10px 30px;
}

.home-page .taj-brand-info .header {
    margin: 0;
    text-transform: uppercase;
    font-family: TrajanPro;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.home-page .taj-brand-info .line-separator {
    display: inline-block;
    width: 94px;
    height: 2px;
    border: solid 3px var(--primaryColor);
    margin: 10px auto 14px auto;
}

.home-page .taj-brand-info .description {
    font-family: SunSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.home-page .taj-brand-info .submit-claim {
    font-family: SunSans-Demi;
    color: var(--primaryColor);
    display: inline;
    text-decoration: none;
}

.home-page .taj-brand-info .brand-value {
    width: 110px;
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
}

.home-page .taj-brand-info .brand-value .brand-value-image {
    width: 66.8px;
}

.home-page .taj-brand-info .brand-value .brand-value-text {
    font-family: SunSans-Demi;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.5px;
    text-align: center;
    color: #4a4a4a;
    margin: 0;
}

.home-page .taj-brand-info .brand-value:nth-child(2) .brand-value-text,
.home-page .taj-brand-info .brand-value:nth-child(3) .brand-value-text {
    margin-top: 16px;
}

.home-page .taj-brand-info .brand-value:last-child {
    width: 80px;
    margin-right: 0;
}

.home-page .brands,
.home-page .latest-updates,
.home-page .vouchers {
    margin: 10px auto 74px auto;
}

.home-page .brands .header,
.home-page .latest-updates .header,
.home-page .vouchers .header {
    margin: 0;
    text-transform: uppercase;
    font-family: TrajanPro;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #1b1b1b;
}

.home-page .brands .line-separator,
.home-page .latest-updates .line-separator,
.home-page .vouchers .line-separator {
    display: inline-block;
    width: 94px;
    height: 2px;
    border: solid 3px var(--primaryColor);
    margin: 10px auto 40px auto;
}

.home-page .guest-speak {
    margin: 10px auto 74px auto;
}

.home-page .guest-speak .header {
    margin: 0;
    text-transform: uppercase;
    font-family: TrajanPro;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #1b1b1b;
}

.home-page .guest-speak .line-separator {
    display: inline-block;
    width: 94px;
    height: 2px;
    border: solid 3px var(--primaryColor);
    margin: 10px auto 40px auto;
}

.home-page .header-container {
    background-color: #ffffff;
}

.home-page .footer-container {
    background-color: #efeeee;
}

.filter-container {
    max-width: 1280px;
    margin: auto;
}

@media only screen and (max-width: 576px) {
    .home-page .brands,
  .home-page .latest-updates,
  .home-page .vouchers {
        text-align: center;
    }

    .home-page .brands .header,
  .home-page .latest-updates .header,
  .home-page .vouchers .header {
        text-align: center;
    }
}
