.about-specific-city-container {
    padding: 38px 26px 38px 38px;
    padding: 2.375rem 1.625rem 2.375rem 2.375rem;
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 991px) {
    .about-specific-city-container {
        padding: 1.25rem;
    }
}

@media only screen and (max-width: 480px) {
    .about-specific-city-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.about-specific-city-container .specific-city-showMap-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 100;
}

.about-specific-city-container .specific-city-header-wrapper {
    font-family: Calibri-bold;
    font-size: 30px;
    font-size: 1.88rem;
    color: #323232;
}

@media only screen and (max-width: 991px) {
    .about-specific-city-container .specific-city-header-wrapper {
        font-size: 1.5rem;
    }
}

.about-specific-city-container .specific-city-header-wrapper .specific-city-header {
    display: inline;
    word-wrap: break-word;
}

.about-specific-city-container .specific-city-header-wrapper .specific-city-show-map {
    display: inline;
    float: right;
    position: relative;
    bottom: 21px;
    bottom: 1.3125rem;
}

@media only screen and (max-width: 991px) {
    .about-specific-city-container .specific-city-header-wrapper .specific-city-show-map.local-city {
        display: none;
    }
}

.about-specific-city-container .specific-city-wrapper {
    margin-top: 17px;
    margin-top: 1.0625rem;
    position: relative;
}



.about-specific-city-container .specific-city-wrapper .specific-city-details-container {
    padding-right: 20px;
    padding-right: 1.25rem;
    padding-left: 0;
}

@media only screen and (max-width: 991px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-details-container {
        padding-right: 0;
    }
}

@media only screen and (max-width: 480px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-details-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.about-specific-city-container .specific-city-wrapper .specific-city-details-container .spec-about-city {
    font-size: 16px;
    font-size: 1rem;
    color: #4a4a4a;
    font-family: Calibri;
}

.about-specific-city-container .specific-city-wrapper .specific-city-details-container .spec-about-city .spec-about-city-subheader {
    font-family: Calibri-bold;
    margin-bottom: 9px;
    margin-bottom: 0.5625rem;
}

.about-specific-city-container .specific-city-wrapper .specific-city-details-container .spec-about-city .spec-city-desc {
    line-height: 1.25;
}

.about-specific-city-container .specific-city-wrapper .specific-city-image-conatiner {
    padding-left: 20px;
    padding-left: 1.25rem;
    padding-right: 0;
    height: 340px;
    height: 21.25rem;
}

@media only screen and (max-width: 767px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-image-conatiner {
        margin-top: 1rem;
        height: 12.25rem;
        padding-left: 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-image-conatiner {
        height: 30rem;
        padding-left: 0px;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-image-conatiner {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.about-specific-city-container .specific-city-wrapper .specific-city-image-conatiner img {
    height: 100%;
    width: 100%;
}

.cm-map-btn {
    width: 36px;
    width: 2.25rem;
    margin-left: 16px;
    margin-left: 1rem;
    display: none;
}

@media only screen and (max-width: 991px) {
    .cm-map-btn {
        display: inline;
    }
}

@media only screen and (max-width: 479px) {
    .cm-map-btn {
        margin-left: 0.8125rem;
    }
}

@media only screen and (max-width: 340px) {
    .cm-map-btn {
        margin-left: 0.25rem;
    }
}

@media only screen and (max-width: 340px) {
    .add-to-wishlist-btn.loc-city {
        margin-right: 0.3125rem !important;
    }
}

.specific-city-showMap-mobileView {
    display: none;
}
