<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.hotels.components.corporate-cards-list,tajhotels.ihclkeyfigures'}" />
<div data-sly-test="${wcmmode.edit}">Corporate Cards List
	Component</div>
<div class="sustainability-container sustainability-container-show-more-wrapper" style="margin-top:35px;">
		<div data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
			data-sly-list.listItem="${list.items}" class="sustainability-wrap">
			<sly
				data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/corporate-card' }"></sly>

		</div>
</div>
