<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-base-page, taj.hotels.components.pdf-finacial'}" />

<div data-sly-test.edit=${wcmmode.edit}>
    <h5>Aggregated Financial Reports are configurable in this section by specifying the DAM path</h5>
</div>

<div style="display: none" data-dam-path=${properties.pdfDamPath} />

<!-- HTML code for the searchFilter starts here  -->

<div class="filter-landing-cont-image">
    <img class="only-icon" tabindex="0" role="button" src="/content/dam/tajhotels/icons/style-icons/filter-icon.svg"
        alt="filter-icon" />
</div>
</div>
<span class="close-icon display-none">
    <img class="closeIconImg" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
</span>
</div>
<div
    class="search-container responsibility-filter pressRoom-filter holiday-outwrapper cm-search-with-filter col-lg-12 col-md-12 col-sm-12">
    <div class="search-and-suggestions-wrapper search-and-suggestions-wrapper-hotel container disable-input-scroll-top">
        <div class="searchBar-wrap">
            <input class="searchbar-input hotel-search" type="text" placeholder="Search for Report"
                aria-label="Hotel Search Bar" />
            <img class="clear-input-icon" tabindex="0" role="button"
                src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
            <div class="search-filters-container">
                <div class="press-room-filter-wrapper">
                    <div class="holiday-filter-wrapper">
                        <div class="events-filter-subsection">
                            <div class="events-filter-back-arrow">
                                <img src="/content/dam/tajhotels/icons/style-icons/leftArrow.svg" alt="leftArrow-icon" />
                                <div class="events-filter-subheading">Tell us what you are looking for</div>
                            </div>
                            <div class="filter-wrap-catagory"></div>
                            <div class="filter-go-warpper">
                                <div id="filter-search" class="filter-go-con">
                                    <img class="filter-icon" tabindex="0" role="button"
                                        src="/content/dam/tajhotels/icons/style-icons/search-svg.svg" alt="search-icon" />
                                    <span class="search-icon-aligner"></span>
                                </div>
                            </div>
                            <button class="cm-btn-secondary events-apply-btn cm-press-room-filter">SEARCH</button>
                        </div>
                    </div>
                </div>
                <div class="filter-landing-cont-image">
                    <img class="only-icon" tabindex="0" role="button"
                        src="/content/dam/tajhotels/icons/style-icons/filter-icon.svg" alt="filter-icon" />
                </div>
            </div>
            <span class="close-icon display-none">
                <img class="closeIconImg" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
            </span>
        </div>
        <div class="suggestions-wrap display-none">
            <div class="suggestions-overlay cm-overlay" tabindex="0" role="button"></div>
            <div class="suggestions-container">
                <div class="trending-suggestions-container"></div>
            </div>
        </div>
    </div>
</div>


<!-- HTML code for the searchFilter ends here  -->


<div class="mr-arrangement-wrapper cm-content-blocks">
    <div class="mr-pdf-container">
        <div class="mr-audit-statement-wrapper  row">
            <sly data-sly-use.reportListObj="com.ihcl.core.models.investor.InvestorReportFetcher"> <sly
                data-sly-list.pdfLs=${reportListObj.pdfList}>
            <div class="mr-audit-statement-template col-lg-4 col-md-6 col-sm-12 " data-title=${pdfLs.pdfPath}>
                <div class="mr-audit-statement-template-inner">
                    <div class="mr-audit-icon-holder">
                        <img src="/content/dam/tajhotels/icons/style-icons/folder.svg" alt="folder-icon" />
                    </div>
                    <div class="mr-audit-statement-description-wrapper">
                        <p class="mr-audit-statement-text">${pdfLs.title}</p>
                        <a href="${pdfLs.pdfPath}" class="mr-anchor-download" target="_blank" download="download">
                            <div class="mr-download-btn-wrapper">
                                <button class="mr-download-pdf cm-btn-secondary">DOWNLOAD PDF</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </sly> </sly>
        </div>
    </div>
</div>