<template data-sly-template.damImageTemplate="${ @ imagePath, styleClass, renditionPathSuffix, height, width, layout}"
	data-sly-use.image="${'com.ihcl.core.models.DAMImageWrapper' @ imageReference=imagePath,renditionPathSuffix=renditionPathSuffix }">
	<amp-img height="${height}"
			 width="${width}"
			 layout="${layout}"
			 class="${styleClass}"
			 src="${image.renditionPath}"
			 alt="${image.alternateText}"
			 title="${image.title}"></amp-img>
</template>