.flying-partner-small-wrap {
    /*float: left;*/
    box-shadow: 0 0.125rem 0.875rem 0 #e5e3e3;
    margin-right: 15px;
    margin-right: 0.9375rem;
    width: 100%;
    /*margin-bottom: 32px;
    margin-bottom: 2rem;*/
    position: relative;
}

@media only screen and (min-width: 768px) {
    .flying-partner-small-wrap {
        height: 100%;
        background: #fff;
    }
}

.flying-partner-container-col-three-wrap {
    /*display: none;*/
}

.flying-partner-container-col-two-wrap {
    /*display: none;*/
}

.flying-partner-small-imageContainer {
    padding: 0;
    width: 100%;
    position: relative;
    height: 25rem;
    background: #ccc;
}

.flying-partner-small-imageContainer img {
    width: 100%;
    height: 400px;
    height: 25rem;
}

.flying-partner-small-details-container {
    height: 90px;
    height: 5.625rem;
    width: 100%;
    background: #ffffff;
    color: #323232;
    font-size: 22px;
    font-size: 1.375rem;
    font-family: Calibri;
    padding: 30px 0 36px 25px;
    padding: 1.875rem 0 2.25rem 1.5625rem;
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
    .flying-partner-small-details-container {
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 361px) and (max-width: 415px) {
    .flying-partner-small-details-container {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .flying-partner-small-details-container {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1100px) {
    .flying-partner-small-details-container {
        height: 4.375rem;
        padding: 1.25rem 0 1.5625rem 0.9375rem;
        font-size: 1rem;
    }
}

.flying-partner-small-details-container .flying-partner-small-details-name {
    display: inline-block;
    line-height: 20px;
    line-height: 1.25rem;
    width: 50%;
}

@media only screen and (max-width: 415px) {
    .flying-partner-small-details-container .flying-partner-small-details-name {
        width: 43%;
    }
}

#flying-logo {
    position: absolute;
    border-bottom: 45px solid white;
    border-bottom: 2.8125rem solid white;
    height: 0;
    width: 100px;
    width: 6.25rem;
    bottom: -1px;
    bottom: -0.0625rem;
    padding: 5px;
    padding: 0.3125rem;
    border-right: 14px solid transparent;
    border-right: 0.875rem solid transparent;
    width: 205px;
    width: 12.8125rem;
    height: 36px;
    height: 2.25rem;
}

#flying-logo img {
    width: 157px;
    width: 9.8125rem;
    height: 54px;
    height: 3.375rem;
    margin-top: 6px;
    margin-top: 0.375rem;
    margin-left: 12px;
    margin-left: 0.75rem;
    -o-object-fit: contain;
    object-fit: contain;
}

.view-detials-button-flight {
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 30px;
    margin-right: 1.875rem;
}

.partner-cards-outer-margin {
    margin-bottom: 20px;
}

.cm-page-container .flying-partner-container-col-three-wrap {
    /*padding: 0.8rem;*/
    padding-bottom: 2rem;
}

.cm-page-container .flying-partner-container-col-three-wrap:nth-child(3n-2) {
	padding-right: 1.4125rem;
}

.cm-page-container .flying-partner-container-col-three-wrap:nth-child(3n-1) {
	padding: 0 0.70625rem 2rem 0.70625rem;
}

.cm-page-container .flying-partner-container-col-three-wrap:nth-child(3n) {
	padding-left: 1.4125rem;
}

.cm-full-height {
    height: 100%;
}

.cm-full-height>.partnersandpromotion {
    height: 100%;
}

@media only screen and (max-width: 415px) {
    .view-detials-button-flight {
        margin-right: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .view-detials-button-flight {
        margin-right: 0.5625rem;
    }
}

@media only screen and (min-width: 768px)
.row.flying-partner-container-row {
   margin: -0.8rem;
}
}