.flying-partner-wrap {
    float: left;
    box-shadow: 0 2px 14px 0 #e5e3e3;
    width: 100%;
   /* margin-bottom: 70px;
    margin-bottom: 4.375rem; */
}

@media only screen and (min-width: 768px) {
    .flying-partner-wrap {
        width: 95%;
        height: 100%;
        background: #fff;
    }
}

.flying-partner-imageContainer {
    padding: 0;
    width: 100%;
    position: relative;
    background: #fff;
}

.pp-card-btn-con {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
}

.flying-partner-imageContainer img {
    width: 100%;
    height: 240px;
    height: 15rem;
    padding: 1rem;
    object-fit: contain;
}

.flying-partner-container-col-two-wrap {
    display: none;
}

.flying-partner-details-container {
    /*height: 90px;
    height: 5.625rem;*/
    width: 100%;
    background: #ffffff;
    color: #323232;
    font-size: 22px;
    font-size: 1.375rem;
    font-family: Calibri;
    /*padding: 30px 0 36px 25px;
    padding: 1.875rem 0 1.5rem 1.5625rem;*/
    padding: 2rem 1rem 1rem 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
    .flying-partner-details-container {
        /*font-size: 0.75rem;*/
    }
}

@media only screen and (min-width: 361px) and (max-width: 415px) {
    .flying-partner-details-container {
        /*font-size: 1rem;*/
    }
}

@media only screen and (min-device-width: 1023px) and (max-device-width: 1100px) {
    .flying-partner-details-container {
        height: 4.375rem;
        padding: 20px 0 25px 15px;
    }
}

.flying-partner-details-name {
        margin-left: 0.75rem;
    margin-top: 0.875rem;
    font-family: Calibri-bold;
    line-height: 1.2;
}

.flying-partner-details-container .flying-partner-details-name {
    display: inline-block;
    line-height: 20px;
    line-height: 1.2;
    width: 50%;
    padding-right: 5px;
    margin-left: 0;
    margin-top: 0;
    font-family: Calibri;
    word-break: break-word;
}

@media only screen and (max-device-width: 415px) {
    .flying-partner-details-container .flying-partner-details-name {
        width: 44%;
        line-height: 1;
        /*width: 100%;
        padding-bottom: 64px;
        padding-bottom: 4rem;*/
    }
}

#flying-logo-inside {
    position: absolute;
    border-bottom: 45px solid white;
    border-bottom: 2.8125rem solid white;
    height: 0;
    width: 100px;
    width: 6.25rem;
    bottom: -1px;
    bottom: -0.0625rem;
    padding: 5px;
    padding: 0.3125rem;
    border-right: 14px solid transparent;
    border-right: 0.875rem solid transparent;
    width: 205px;
    width: 12.8125rem;
    height: 36px;
    height: 2.25rem;
    display: none;
}

#flying-logo-inside img {
    width: 157px;
    width: 9.8125rem;
    height: 54px;
    height: 3.375rem;
    margin-top: 6px;
    margin-top: 0.375rem;
    margin-left: 12px;
    margin-left: 0.75rem;
}

