<sly
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-base-page, taj.hotels.components.related-image-list'}" />
<sly
    data-sly-use.imageList="com.adobe.cq.wcm.core.components.models.List"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"/>

<div class="cm-content-blocks">
    <div class="corporate-gov-wrap">
        <div class="clearfix" >
            <sly data-sly-list.listItem="${imageList.items}"> 
            <sly
                data-sly-resource="${ '{0}/jcr:content/root' @ format=[listItem.path], resourceType='tajhotels/components/content/related-image-list/item' }"></sly>
            </sly>
        </div>
    </div>
</div>