<div data-sly-test="${properties.hotelPath}">
Ama Amp model
<div class="hotel-overview" data-sly-use.model="com.ihcl.core.models.AmaHotelOverview">
<h1 class="component-title">${model.hotelName}</h1>

<div><a class="hotel-info-strip" href="https://www.google.com/maps/search/?api=1&query=${model.address}" target="_blank"><div class="icon-location"></div>${model.address}</a></div>
<div class="hotel-info-strip"><div class="icon-call"></div>${model.email}</div>
<div class="hotel-info-strip"><div class="icon-mail"></div>${model.hotelPhoneNo}</div>
<div class="ama-banner"><amp-img height="300" src="${model.bannerImage}">
  </amp-img></div>
<p>${model.hotelDescription @context='html'}</p>
<p>${model.roomAmenitiesList}</p>
<p>${model.noOfRooms}</p>
<p>${model.noOfGuests}</p>
<div data-sly-list.key="${model.roomAmenitiesList}">
<div class="ho-each-ameneties-sec">
	<div class="ho-signature-name inline-block">key : ${model.roomAmenitiesList[key]}</div>
</div>
</div>
</div>
<p>${model.experienceImagePath}</p>
<p>${model.experienceDescription}</p>
<p>${model.experienceHeading}</p>
<p>${model.amaHotelPoliciesDescription}</p>
<p>${model.amaHotelPoliciesTitle}</p>
<p>${model.serviceDescription}</p>