.popularDest-wrap, .cm-inner-carousal-cards {
	float: left;
	box-shadow: 0 2px 14px 0 #e5e3e3;
	background-color: #ffffff;
	position: relative;
}

.popularDest-imageContainer {
	padding: 0;
	width: 100%;
	height: 25rem;
	background-color: #ccc;
}

@media only screen and (max-width: 767px) {
	.popularDest-imageContainer {
		height: 16rem;
	}
}

.popularDest-imageContainer img {
	width: 100%;
	height: 100%;
}

.popularDest-details-container {
	width: 100%;
	background: #ffffff;
	color: #323232;
	font-size: 22px;
	font-size: 1.375rem;
	font-family: Calibri;
	padding: 16px;
	padding: 1.5rem 1rem 1rem;
}

.popularDest-details-container a {
	display: inline-block;
	vertical-align: bottom;
	text-align: right;
	width: 49%;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}

@media only screen and (min-device-width: 1023px) and (max-device-width: 1100px) {
	.popularDest-details-container {
		padding: 20px 0 25px 15px;
	}
}

@media only screen and (max-device-width: 575px) {
	.popularDest-details-container {
		padding: 1.5rem 0 1.5rem 1rem;
	}
}

.popularDest-details-container .popularDest-details-name {
	display: inline-block;
	vertical-align: top;
	line-height: 1.2;
	width: 49%;
	word-wrap: break-word;
}

@media only screen and (max-device-width: 374px) {
	.popularDest-details-container .popularDest-details-name {
		width: 40%;
	}
}

.view-detials-button {
	display: inline-block;
	vertical-align: top;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
	.cm-inner-carousal-cards:first-child {
		margin-left: 0 !important;
	}
}