<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihclCards'}" />
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.js @ categories='tajhotels.vue'}" />
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientLib.all @ categories='taj.hotels.generic-card-carousel-component'}" />
<div data-sly-test="${wcmmode.edit}">Generic Cards Component</div>

<div>
    <div class="generic-card-component-root-carousel ${properties.uniqueId}" data-unique-id="${properties.uniqueId}"
        data-fetch-from="${properties.fetchFrom}" data-num-of-cards="${properties.numOfCardsDesktop}">
        <div class="clearfix">
            <template v-for="card in cards">
            <div class="popularDest-wrap">
                <div>
                    <picture> <img :src="card.imagePath" width="100%"> </picture>
                </div>
                <div class="popularDest-details-container">
                    <div class="popularDest-details-name">{{card.title}}</div>
                    <a :href="card.redirectUrl">
                        <button class="cm-btn-secondary view-detials-button" tabindex="-1">VIEW DETAILS</button>
                    </a>
                </div>
            </div>
            </template>
        </div>
    </div>
</div>
