<div data-sly-test="${wcmmode.edit}">
  Destination - Page Container Component
</div>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.all @ categories='taj.hotels.components.page-container'}" />


<div class="content-wrapper container">
  <div data-sly-resource="${ @ path='section-navigation', resourceType='tajhotels/components/content/destination/section-navigation'}" data-sly-unwrap></div>
  <!--          <div  data-sly-resource="${ @ path='hotels-in-destination-parsys', resourceType='wcm/foundation/components/parsys'}" ></div>	 -->
  
  <div  data-sly-resource="${ @ path='hotels-in-destination-parsys', resourceType='wcm/foundation/components/parsys'}" ></div>
  <!--   <div data-sly-resource="${ @ path='hotels-in-destination-parsys', resourceType='tajhotels/components/content/destination/hotels-in-destination'}" data-sly-unwrap></div> -->
</div>
