.hotel-banner-image-con .dest-banner-titles {
    position: absolute;
    top: 122px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-family: Calibri;
}

.hotel-banner-image-con .dest-banner-titles .dest-banner-header-label-con {
    margin-bottom: 8px !important;
    line-height: initial;
    font-size: 40px;
    font-size: 2.5rem;
    font-family: Calibri-Bold;
    color: #fff;
    text-shadow: 0px 0px 20px #000;
}

.hotel-banner-image-con .dest-banner-titles .banner-label-below-title-sm {
    text-shadow: 0px 0px 20px #000;
    font-size: 20px;
    font-size: 1.25rem;
}

.hotel-banner-image-con .dest-banner-header-label-con {
    margin-bottom: 8px !important;
    line-height: initial;
}

.hotel-banner-image-con .banner-btn-con {
    margin-top: 25px;
}

.hotel-banner-date {
    border-right: 2px solid #fff;
    padding-right: 12px;
    padding-right: 0.75rem;
    line-height: 1.1;
    margin-right: 5px;
}

.cm-degree {
    height: 4px;
    width: 4px;
    display: inline-block;
    background: #fff;
    border-radius: 4px;
    vertical-align: text-top;
    margin: 2px;
    box-shadow: 0px 0px 15px 1px #000000;
}

.hotel-banner-btn {
    box-shadow: 0px 0px 10px 0px #000000;
}

.banner-label-hotel-details {
    margin-top: 25px;
    font-size: 20px;
    font-size: 1.25rem;
}

.banner-label-hotel-details .banner-label-hotel-name {
    font-family: Calibri-Bold;
    letter-spacing: 2.9px;
    text-decoration: underline;
    text-underline-position: under;
    text-shadow: 0px 0px 15px 1px #000000;
}

.banner-label-hotel-details .banner-label-hotel-loc {
    margin-top: 5px;
    letter-spacing: 2px;
}



/*added by sarath*/

@media only screen and (max-width: 767px) {
	.ihcl-theme .hotel-banner-image-con {
		display: none;
	}
}