.hotel-banner-header {
	font-size: 50px;
}

.hero-image {
	height: 500px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: center;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.hotel-banner-rating-text {
	color: white;
	border: 2px solid green;
	background-color: green;
}

.hotel-banner-review-text {
	color: white;
	border: 2px transparent;
	background-color: transparent;
}

.banner-image-con {
	position: relative;
	text-align: center;
	color: #fff;
	/*height: 510px;*/
	height: 510px;
	height: 31.875rem;
}

@media only screen and (max-width: 991px) {
	.banner-image-con {
		height: auto;
	}
	.ama-theme .banner-image-con img {
        height: 16rem;
    }	
}

.cm-banner-image {
	width: 100%;
	height: 510px;
}

.banner-titles {
	height: 180px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	font-family: Calibri;
}

.banner-titles .cm-header-label-con {
	display: inline-block !important;
	position: relative;
	margin-bottom: 30px !important;
}

.banner-titles .cm-header-label-con.title-decorator-border::after {
	left: 50%;
	margin-left: -50px;
}

.banner-titles .cm-header-label {
	color: #fff;
	font-size: 40px;
	text-shadow: 1px 5px 10px #000000;
}

.banner-titles .banner-label-below-title-lg {
	font-size: 40px;
}

.banner-titles .banner-label-below-title-sm {
	font-size: 20px;
	text-shadow: 1px 5px 10px #000000;
}

@media only screen and (max-width: 480px) {
	.cm-banner-image {
		display: none;
	}
	.banner-label-below-title-lg {
		display: none;
	}
	.banner-label-below-title-sm {
		display: none;
	}
	/* .banner-titles {
		position: initial;
		height: initial;
		margin-top: 35px;
	} */
	.banner-titles .cm-header-label {
		font-size: 30px;
		font-family: "Calibri-Bold";
		color: #fff;
	}
	.banner-titles .cm-header-label-con.title-decorator-border::after {
		left: 50%;
		margin-left: -50px;
		-ms-transform: none;
		transform: none;
	}
	.banner-titles .cm-header-label-con {
		margin-bottom: 0 !important;
	}
}

.hotel-banner-btn {
	box-shadow: 0px 0px 10px 0px #000000;
	margin-right: 10px;
}

.hotel-banner-image-con .cm-banner-image img {
    height: 100%;
}

@media only screen and (max-width: 767px) {
	/*.holiday-theme .banner-titles{
		position:absolute;
	    margin: auto;
	    display: table;
    	width: 100%;
	}*/
	.holiday-theme .banner-titles .cm-header-label-con .cm-header-label{
		color: #ffffff;
	}	
	.holiday-theme .banner-titles .banner-label-below-title-sm{
		display:block;
	}
}

.mr-offers-and-promotions {
    margin-bottom: 2rem;
    }

.mr-carousel-dots li {
    width: 10px;
    width: 0.625rem;
    height: 10px;
    height: 0.625rem;
    border-radius: 50%;
    margin-left: 5px;
    margin-left: 0.3125rem;
    margin-right: 5px;
    margin-right: 0.3125rem;
    cursor: pointer;
	}

.carousel-control-next-icon {
    width: 25px;
    width: 1.5625rem;
    height: 45px;
    height: 2.8125rem;
}

.carousel-banner-date {
    font-size: 20px;
    text-shadow: 1px 5px 10px #000000;
    font-family: Calibri;
    color: #fff;
	margin-bottom: 1rem;
    }

.carousel-description-hotel-banner {
     font-size: 20px;
    text-shadow: 1px 5px 10px #000000;
    font-family: Calibri-bold;
    color: #fff;
	margin-bottom: 1rem;
        }