<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='tajhotels.offerinclusions'}"/>
 <sly data-sly-test.mode="${properties.stayInclusions || properties.convenience}">
    <div class="offers-room-container cm-content-blocks">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="inclusions-heading">Inclusions</div>
                <div class="row">
                    <sly data-sly-test.mode="${properties.stay}">
                        <div class="col-12 col-lg-6 col-md-6 col-sm-12 stay-container">
                            <div class="stay-img-con">                                
                                <i class="icon-stay"></i>
                            </div>
                            <div class="stay-details-text-con">
                                <span class="inclusions-stay-heading">Stay</span>
                                <span class="stay-hiphen-con">-</span>
                                <div class="inclusions-stay-content">${properties.stay @context='html'}</div>
                            </div>
                        </div>
                    </sly>
                    <sly data-sly-test.mode="${properties.validity}">
                        <div class="col-12 col-lg-6 col-md-6 col-sm-12 stay-container">
                            <div class="stay-img-con">                                
                                <i class="icon-validity"></i>
                            </div>
                            <div class="stay-details-text-con">
                                <span class="inclusions-stay-heading">Validity</span>
                                <span class="stay-hiphen-con">-</span>
                                <div class="inclusions-stay-content">${properties.validity @context='html'}</div>
                            </div>
                        </div>
                    </sly>
                    <sly data-sly-test.mode="${properties.convenience}">
                        <div class="col-12 col-lg-6 col-md-6 col-sm-12 stay-container">
                            <div class="stay-img-con">                                
                                <i class="icon-convenience"></i>
                            </div>
                            <div class="stay-details-text-con">
                                <span class="inclusions-stay-heading">Conveniences</span>
                                <span class="stay-hiphen-con">-</span>
                                <div class="inclusions-stay-content">${properties.convenience @context='html'}</div>
                            </div>
                        </div>
                    </sly>
                    <sly data-sly-test.mode="${properties.spa}">
                        <div class="col-12 col-lg-6 col-md-6 col-sm-12 stay-container">
                            <div class="stay-img-con">  
                                <i class="icon-tic-benefits-jivaspa"></i>
                            </div>                            
                            <div class="stay-details-text-con">
                                <span class="inclusions-stay-heading">Spa</span>
                                <span class="stay-hiphen-con">-</span>
                                <div class="inclusions-stay-content">${properties.spa @context='html'}</div>
                            </div>
                        </div>
                    </sly>
                    <sly data-sly-test.mode="${properties.sightseeing}">
                        <div class="col-12 col-lg-6 col-md-6 col-sm-12 stay-container">
                            <div class="stay-img-con">
                                <i class="icon-breifcase"></i>
                            </div>
                            <div class="stay-details-text-con">
                                <span class="inclusions-stay-heading">Sight Seeing</span>
                                <span class="stay-hiphen-con">-</span>
                                <div class="inclusions-stay-content">${properties.sightseeing @context='html'}</div>
                            </div>
                        </div>
                    </sly>
                    <sly data-sly-test.mode="${properties.dining}">
                        <div class="col-12 col-lg-6 col-md-6 col-sm-12 stay-container">
                            <div class="stay-img-con">
                                <i class="icon-tic-food-beverages"></i>
                            </div>
                            <div class="stay-details-text-con">
                                <span class="inclusions-stay-heading">Dining</span>
                                <span class="stay-hiphen-con">-</span>
                                <div class="inclusions-stay-content">${properties.dining @context='html'}</div>
                            </div>
                        </div>
                    </sly>
                </div>
            </div>
        </div>
    </div>
</sly>