			.mr-carousel-foot-label {
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #000000;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.5;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 11px 0;
    padding: 0.6875rem 0;
}

.mr-carousel-foot-label .mr-price-tag-icon {
    display: inline-block;
}

.mr-carousel-foot-label .mr-price-tag-icon img {
    -o-object-fit: contain;
    object-fit: contain;
}

.mr-carousel-foot-label .mr-price-tag-icon.mr-price-tag img {
    width: 48px;
    width: 3rem;
    height: 58px;
    height: 3.625rem;
}

@media only screen and (max-width: 767px) {
    .mr-carousel-foot-label .mr-price-tag-icon.mr-price-tag img {
        width: 2.1875rem;
        height: 2.6875rem;
    }
}

.mr-carousel-foot-label .mr-price-tag-icon.mr-experience-tag img {
    width: 65px;
    width: 4.0625rem;
    height: 53px;
    height: 3.3125rem;
}

@media only screen and (max-width: 767px) {
    .mr-carousel-foot-label .mr-price-tag-icon.mr-experience-tag img {
        width: 3rem;
        height: 2.6875rem;
    }
}

.mr-carousel-foot-label .mr-price-tag-icon.mr-lodge-tag img {
    width: 45px;
    width: 2.8125rem;
    height: 54px;
    height: 3.375rem;
}

@media only screen and (max-width: 767px) {
    .mr-carousel-foot-label .mr-price-tag-icon.mr-lodge-tag img {
        width: 2.4375rem;
        height: 2.6875rem;
    }
}

.mr-carousel-foot-label .mr-price-txt {
    font-family: Calibri-bold;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.17;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    margin-left: 0.5rem;
}

@media only screen and (max-width: 767px) {
    .mr-carousel-foot-label .mr-price-txt {
        display: none;
    }
}