<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.tajAir-take-a-tour'}" />

<div data-sly-test.edit=${wcmmode.edit}>
    <h10>Edit Or Configure the Take A Tour Component</h10>
</div>

<div>
    <div class="generic-back-link">
        <a href="javascript: history.go(-1)"> < Back</a>
    </div>
    <div class="take-a-tour-cnt">
        <div class="tat-header-cnt">
            <div class="cm-header-label-con title-decorator-border title">
                <h2 class="cm-header-label">TAKE A TOUR</h2>
                <nav class="cm-nav-tab-con">
                    <div id="step1" class="tab-child-container selected">Step 1</div>
                    <div id="step2" class="tab-child-container">Step 2</div>
                    <div id="step3" class="tab-child-container">Step 3</div>
                </nav>
            </div>
        </div>
        <div class="tat-discp-cnt">
            <div class="tat-discription row tab-selected" id="step1-description">
                <div class="col-md-6 col-12">
                    <div class="step-title">${properties.title1}</div>
                    <div class="step-disp">${properties.description1}</div>
                </div>
                <div class="tat-step-img-cnt col-md-6 col-6">
                    <div class="step-img-desp-wrp">
                        <img src="${properties.brandImg11}" alt="1">
                        <div class="step-img-desp">${properties.brandImgAlt11}</div>
                    </div>
                    <div class="step-img-desp-wrp">
                        <img src="${properties.brandImg12}" alt="2">
                        <div class="step-img-desp">${properties.brandImgAlt12}</div>
                    </div>
                    <div class="step-img-desp-wrp">
                        <img src="${properties.brandImg13}" alt="3">
                        <div class="step-img-desp">${properties.brandImgAlt13}</div>
                    </div>
                </div>
            </div>
            <div class="tat-discription row" id="step2-description">
                <div class="col-md-6 col-12">
                    <div class="step-title">${properties.title2}</div>
                    <div class="step-disp">${properties.description2}</div>
                </div>
                <div class="tat-step-img-cnt col-md-6 col-6">
                    <div class="step-img-desp-wrp">
                        <img src="${properties.brandImg21}" alt="1">
                        <div class="step-img-desp">${properties.brandImgAlt21}</div>
                    </div>
                    <div class="step-img-desp-wrp">
                        <img src="${properties.brandImg22}" alt="2">
                        <div class="step-img-desp">${properties.brandImgAlt22}</div>
                    </div>
                    <div class="step-img-desp-wrp">
                        <img src="${properties.brandImg23}" alt="3">
                        <div class="step-img-desp">${properties.brandImgAlt23}</div>
                    </div>
                </div>
            </div>
            <div class="tat-discription row" id="step3-description">
                <div class="col-md-6 col-12">
                    <div class="step-title">${properties.title3}</div>
                    <div class="step-disp">${properties.description3}</div>
                </div>
                <div class="tat-step-img-cnt col-md-6 col-6">
                    <div class="step-img-desp-wrp">
                        <img src="${properties.brandImg31}" alt="1">
                        <div class="step-img-desp">${properties.brandImgAlt31}</div>
                    </div>
                    <div class="step-img-desp-wrp">
                        <img src="${properties.brandImg32}" alt="2">
                        <div class="step-img-desp">${properties.brandImgAlt32}</div>
                    </div>
                    <div class="step-img-desp-wrp">
                        <img src="${properties.brandImg33}" alt="3">
                        <div class="step-img-desp">${properties.brandImgAlt33}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>