<div data-sly-test.edit=${wcmmode.edit}>
	<h1>ihcl guest Speak component</h1>
</div>
<sly data-sly-use.model="com.ihcl.core.models.ihcl.IhclGuestSpeakModel" />

<sly data-sly-list.key="${model.list}">

<div class="col-12 col-lg-4 col-md-4 guest-speak-card-only-comment">
	<div class="guest-individual-card-backFront-wrapper guest-card3">
		<div class="guest-card-component card back-side-card">
			<div class="card-header">
				<div class="guest-quote">${key.description @context='html'}</div>
			</div>
			<div class="line"></div>
			<div class="card-footer guest-card-footer">
				<div class="guest-photo">
					<amp-img width="2.875rem" height="2.875rem"
						class="about-carousel-images" src="${key.image}"
						alt="guest speak image"></amp-img>
				</div>
				<small>${key.name}</small> <a class="social-media-link">${key.designation}</a>
			</div>
		</div>
	</div>
</div>
</sly>
