<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihclOtherServicesCards,taj.hotels.components.individualProfile'}" />
<sly
    data-sly-use.model="com.ihcl.core.models.ihcl.IhclOtherServicesCards" />

<div class="discover-more-wrapper">
    <div class="clearfix">

        <sly data-sly-list.key="${model.cardList}">
        <div class="other-services-wrap">
            <div
                class="concierge-local cm-inner-carousal-cards holiday-landing-dis">

                <div class="recommended-experiences-wrap">
                    <div class="mr-experiences-images-wrap" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
                        <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=key.imageCard,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>
                    </div>
                    <div class="mr-experiences-description-wrap">
                        <!-- <div class="mr-experinces-detailsButton-wrap"> -->
                            <div class="mr-experinces-details-wrap">
                            <h2 class="mr-experinces-title conceirge-title" data-sly-element="${properties.type}">${key.title}</h2>
                                <div class="mr-experinces-details-location hold-trend-desc">
                                    <div class="desc-section-otherservices">
                                        <div class="rooms-suites-description">${key.description
                                            @context='html'}</div>
                                    </div>
                                </div>
                            </div>
                            <sly data-sly-test="${properties.showbutton!='hide'}">
                            <div class="mr-experinces-Button-wrap">
                                <a href="${key.buttonurl}.html" target="" data-title = "${key.title}" onclick="return stopAnchorProp(this);"><button
                                    class="cm-btn-secondary experience-button-styles conceirge-local-button brand-card-details-btn" >${key.buttontext}</button></a>
                            </div>
                            </sly>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </sly>
</div>