<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.imagecropselector'}" />


<div data-sly-use.iCropper="com.ihcl.core.models.ImageCropSelector">
    <div data-sly-test="${iCropper.bannerImage =='No Image selected'}">Please Select an Image and then Try again.</div>
    <div data-sly-test="${iCropper.bannerImage!= 'No Image selected'}">
        Click on the Image to Crop !
        <div>
            <img id="image-crop-selector-${iCropper.suffix}" class="image-crop-selector" src="${iCropper.bannerImage}" alt = "Banner Image"
                data-suffix="${iCropper.suffix}" data-aspect="${iCropper.aspect}"
                onload="return letsCrop(this,${iCropper.cropBoxData['xAxis'] @ context='number'},${iCropper.cropBoxData['yAxis'] @ context='number'}, ${iCropper.cropBoxData['width'] @ context='number'}, ${iCropper.cropBoxData['height'] @ context='number'})"
                onclick="return letsCrop(this,${iCropper.cropBoxData['xAxis'] @ context='number'},${iCropper.cropBoxData['yAxis'] @ context='number'}, ${iCropper.cropBoxData['width'] @ context='number'}, ${iCropper.cropBoxData['height'] @ context='number'})">
        </div>
    </div>
    <br />


    <div data-sly-test="${iCropper.isCropped}">Image is already cropped , to crop again select orginal image which is
        ${iCropper.path}</div>
    <div class="coral-Form-fieldwrapper multifieldwrapper">
        <div data-sly-test="${!iCropper.isCropped}">


            <div class="multifield-item b">
                <label class="coral-Form-fieldlabel">X</label>
                <input class="coral-Form-field coral-Textfield" type="text" id="xaxis-${iCropper.suffix}" readonly aria-label = "">
            </div>
            <div class="multifield-item b">
                <label class="coral-Form-fieldlabel">Y</label>
                <input class="coral-Form-field coral-Textfield" type="text" id="yaxis-${iCropper.suffix}" readonly>
            </div>
            <div class="multifield-item b">
                <label class="coral-Form-fieldlabel">Width</label>
                <input class="coral-Form-field coral-Textfield" type="text" id="width-${iCropper.suffix}" readonly />
            </div>
            <div class="multifield-item b">
                <label class="coral-Form-fieldlabel">Height</label>
                <input class="coral-Form-field coral-Textfield" type="text" id="height-${iCropper.suffix}" readonly />
            </div>


            <div class="multifield-item  ">
                <input type="button" id="submit" value="Crop" class="button" onclick="ajaxCropServlet(this);"
                    data-suffix="${iCropper.suffix}"
                    href="/bin/crop/requestedImage?incomingImageUrl=/content/dam/tajhotels/english/our-hotels/mumbai/taj-mahal-palace/offerBanner.png&x=20&y=20&width=200&height=200">
            </div>
            <br>
            <br>


        </div>
        <div class="coral-Form-fieldwrapper" id="addLink">
            <label class="coral-Form-fieldlabel">${iCropper.label}</label>
            <span class="coral-PathBrowser" data-init="pathbrowser" data-root-path="/content/dam" style="width:100%"
                data-picker-src="/libs/wcm/core/content/common/pathbrowser/column.html/content/dam">
                <div class="coral-InputGroup coral-InputGroup--block">
                    <input is="coral-textfield" class="coral-InputGroup-input js-coral-pathbrowser-input "
                        name="${iCropper.name}" placeholder="Enter the Path" value="${iCropper.bannerImage}"
                        id="link-${iCropper.suffix}">
                    <span class="coral-InputGroup-button">
                        <button is="coral-button" class="js-coral-pathbrowser-button" icon="select" title="Browse"></button>
                    </span>
                </div>
            </span>
        </div>
    </div>


</div>



