.summary-card-wrap {
    display: table;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
}

.summary-room-details {
    display: table-cell;
    width: 61.8%;
    background: #fff;
    padding: 24px 32px 38px 34px;
    padding: 1.5rem 2rem 2.375rem 2.125rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-room-details {
        display: block;
        width: 100%;
        padding: 21px 1rem 21px 1rem;
    }
}

.summary-room-title {
    font-size: 35px;
    font-size: 2.1875rem;
    font-family: Calibri;
    color: #323232;
    position: relative;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.summary-room-title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 73px;
    background-color: var(--primaryColor);
    left: 5px;
    bottom: -10px;
}

.summary-room-title img {
    position: absolute;
    right: 12px;
    right: 0.8rem;
    top: 20px;
    top: 1.25rem;
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-room-title img {
        display: block;
    }
}

.summary-room-title .expanded {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.summary-room-mobile {
    color: #8d734a;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
    display: none;
}

.summary-room-mobile span {
    border-right: 1px solid #8d734a;
    margin-right: 10px;
    margin-right: 0.625rem;
    padding-right: 10px;
    padding-right: 0.625rem;
}

.summary-room-mobile span:last-child {
    border-right: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-room-mobile {
        display: block;
    }
}

@media only screen and (max-device-width: 320px) {
    .summary-room-mobile {
        font-size: 0.875rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-room-exp {
        display: none;
    }
}

.check-in-details,
.check-out-details {
    float: left;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
    color: #4a4a4a;
    min-width: 170px;
    min-width: 10.625rem;
}

.check-in-details div:first-child,
.check-out-details div:first-child {
    color: #9b9b9b;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .check-in-details,
  .check-out-details {
        min-width: 8rem;
    }
}

.selected-rooms-details .selected-room-detail {
    letter-spacing: 1px;
    margin-top: 26px;
    margin-top: 1.625rem;
    color: #4a4a4a;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
}

.selected-rooms-details .selected-room-detail img {
    width: 30px;
    width: 1.875rem;
    margin-right: 18px;
    margin-right: 1.125rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .selected-rooms-details .selected-room-detail img {
        margin-right: 0.3125rem;
    }
}

.selected-rooms-details .selected-room-detail .number-of-room {
    color: #b88d58;
    letter-spacing: 0.9px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .selected-rooms-details .selected-room-detail {
        font-size: 0.875rem;
        letter-spacing: 0.7px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .selected-rooms-details .selected-room-detail {
        font-size: 0.75rem;
    }
}

.summary-charges {
    display: table-cell;
    width: 38.2%;
    background: #fbf9f7;
    padding: 24px 44px 38px 31px;
    padding: 1.5rem 2.75rem 2.375rem 1.9375rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges {
        display: none;
        width: 100%;
        padding: 24px 0.7625rem 29.8px 0.844rem;
    }
}

.summary-charges-heading {
    font-family: Calibri-Bold;
    font-size: 24px;
    font-size: 1.5rem;
    color: #4a4a4a;
}

.summary-charges-item-con {
    width: 100%;
    position: relative;
    margin-top: 25px;
    margin-top: 1.5625rem;
}

.summary-charges-item-con .summary-charges-item-name {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri-Bold;
}

.summary-charges-item-con .summary-charges-item-name span {
    color: #9b9b9b;
    font-family: Calibri;
    margin-left: 5px;
    margin-left: 0.3125rem;
}

.summary-charges-item-con .summary-charges-item-name div {
    color: #9b9b9b;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 10px;
    line-height: 0.625rem;
}

.summary-charges-item-con .summary-charges-item-name input {
    border: solid 1px var(--primaryColorDark);
    height: 35px;
    height: 2.1875rem;
    line-height: 35px;
    width: 136px;
    width: 8.5rem;
    margin-left: 9px;
    margin-left: 0.5625rem;
    padding-left: 5px;
    padding-left: 0.3125rem;
    font-size: 14px;
    font-size: 0.875rem;
    color: #b1b1b1;
    font-family: Calibri;
    background: #fbf9f7;
}

.summary-charges-item-con .summary-charges-item-name input:focus {
    outline: none;
}

.summary-charges-item-con .summary-charges-item-name .input-disabled {
    border: dashed 1px var(--primaryColor);
    font-size: 18px;
    font-size: 1.125rem;
    color: var(--primaryColor) !important;
    background-color: #fff;
    width: 80px;
    width: 5rem;
    pointer-events: none;
}

.summary-charges-item-con .summary-charges-item-name .input-disabled::-webkit-input-placeholder {
    color: var(--primaryColor);
}

.summary-charges-item-con .summary-charges-item-name .input-disabled::-moz-placeholder {
    color: var(--primaryColor);
}

.summary-charges-item-con .summary-charges-item-name .input-disabled:-ms-input-placeholder {
    color: var(--primaryColor);
}

.summary-charges-item-con .summary-charges-item-name .input-disabled::placeholder {
    color: var(--primaryColor);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-item-name {
        font-size: 1rem;
    }
}

.summary-charges-item-con .summary-charges-item-value {
    position: absolute;
    right: 0;
    top: -3px;
    top: -0.1875rem;
    font-family: RupeeForadian;
    font-size: 20px;
    font-size: 1.25rem;
}

.summary-charges-item-con .summary-charges-item-value span {
    font-family: Calibri;
    font-size: 22px;
    font-size: 1.375rem;
    margin-left: 5px;
    margin-left: 0.3125rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-item-value span {
        font-size: 1.125rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-item-value {
        font-size: 1.09rem;
    }
}

.summary-charges-item-con .summary-charges-discount-value {
  /*display: none;*/
    position: absolute;
    right: 0;
    top: -3px;
    top: -0.1875rem;
    font-family: RupeeForadian;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primaryColor);
}

.summary-charges-item-con .summary-charges-discount-value span {
    font-family: Calibri-Bold;
    font-size: 22px;
    font-size: 1.375rem;
    margin-left: 5px;
    margin-left: 0.3125rem;
    color: var(--primaryColor);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-discount-value span {
        font-size: 1.125rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .summary-charges-item-con .summary-charges-discount-value {
        font-size: 1.09rem;
    }
}

.summary-applied-coupn {
    font-family: Calibri;
    color: var(--primaryColor) !important;
    padding: 4px 10px;
    padding: .25rem 0.625rem;
    border: 1px dashed var(--primaryColor);
    display: inline-block;
    margin-left: 4px;
    margin-left: 0.25rem;
}

.summary-charges-item-con:last-child .summary-charges-item-value span {
    font-family: Calibri-Bold;
}

.summary-charges-item-con:first-child {
    margin-top: 30px;
    margin-top: 1.875rem;
}
