<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.css @ categories='tajhotels.booking'}" />
<div class="cm-content-blocks">
	<div class="generic-back-link checkout-page-back-link">
	    <a href="${properties.cartPageURL}.html">&lt; Back</a>
	</div>
    <div class="cart-price-diff-bar">
            <div class="cart-price-diff-bar-inner-wrap">
            <span class="cart-price-diff-detail-text">${properties.priceDiffMessage}</span>
            <div class="price-warning-box-close"><span class="warning-box-close-icon icon-close" tabindex="0" role = "button"></span></div>
            </div>
        </div>
    </div>
	<div class="cart-empty-state-con">
		<div class="cart-empty-state-wrap">
			<div class="cart-empty-state-inner-wrap">
				<i class="cart-empty-icon icon-cart-empty"></i>
				<div class="cart-empty-title-text">Your Cart is Empty!</div>
				<div class="cart-empty-detail-text">Please go back to rooms
					list and select your rooms.</div>
				<a class="cart-redirect-url" href="${properties.emptyCartBookNowURL}.html"><button
						class="cm-btn-secondary">Book Now</button></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="summary-card-wrap col-lg-12 col-md-12 col-sm-12 clearfix">
			<div class="summary-room-details">
				<h1 class="summary-room-title">
				</h1>
	<div class="summary-room-mobile">
		<span> <div class="summary-checkin-date inline-block">loading... </div></span>	
		<span> <div class="inline-block summary-checkout-date">loading...</div></span>
		<span> <div class="inline-block summary-rooms-count">loading...</div>
		<div class="inline-block">- Room</div><div class="inline-block summary-rooms-count-suffix">s</div></span>
	</div>
					
				<div class="summary-room-exp">
					<div class="check-in-out-details clearfix">
						<div class="check-in-details">
							<div class="checkInTime">Check-in(2pm)</div>
							<div class="cart-checkin-date"></div>
						</div>
						<div class="check-out-details">
							<div class="checkOutTime">Check-out(12pm)</div>
							<div class="cart-checkout-date"></div>
						</div>
					</div>
			<div id="corporate-summary" data-corporate-summary=${properties.ihclcbdetails}></div>
				<div class="selected-rooms-details"></div>
				<div
					data-sly-resource="${'par' @ resourceType='tajhotels/components/content/ihclcb/ihclcb-entity-details'}"></div>
				</div>
			</div>
			<div class="summary-charges">
                <div class="summary-charges-div">
    				<h2 class="summary-charges-heading">Summary Charges</h2>
    				<div id="summary-charges-total-price" class="summary-charges-item-con">
                        <button class = "btn-only-focus" aria-label = "summary charge price">
        					<div class="summary-charges-item-name">
        						Price<span>( <span class="summary-card-rooms-count"></span>
        							Room<label class="summary-card-rooms-count-suffix">s </label> x <span
        							class="summary-card-nights-count"></span> Night<label
        							class="summary-card-nights-count-suffix">s </label> )
        						</span><i class="nightly-rates-dropdown-image inline-block icon-drop-down-arrow"></i>
        					</div>
        					<div class="summary-charges-item-value">
                                <span class="cart-currency-symbol"></span>
        						<span class="cart-room-price"></span>
        					</div>
        					<div class="nightly-rates" id="nightly-rates">
        					</div>
                        </button>
    				</div>
    				<div id="summary-taxes-charges" class="summary-charges-item-con summary-charges-tax-con">
                        <button class = "btn-only-focus" aria-label = "taxes and fees">
        					<div class="summary-charges-item-name">Taxes and fees
        						<i class="taxes-dropdown-image inline-block icon-drop-down-arrow"></i>
        					</div>
        					<div class="summary-charges-item-value">
                                <span class="cart-currency-symbol"></span>
        						<span class="cart-total-tax"></span>
        					</div>
        					<div class="all-type-of-taxes"></div>
					</button>
        					</div>
        					<div id="entity-details-summary" class="summary-charges-item-con">
					<button class="btn-only-focus" aria-label="taxes and fees">
						<div class="summary-charges-item-name">
							Entity Details <i
								class="entity-dropdown-image inline-block icon-drop-down-arrow "></i>
						</div>
                        <div class="summary-charges-item-value cart-entity-details">
                            <span class="entityname star-india-txt"></span>
                        </div>
						<div class="all-entity">
							<div class="entity-details-show">

								<div class="ihclcb-entity-list-wrp cart-entity-details">
									<div class="entity-title">Entity Name</div>
									<span class="entityname" ></span>

								</div>

								<div class="ihclcb-entity-list-wrp cart-city-details">
									<div class="entity-title">City</div>
									<span class="cityname" ></span>
								</div>

								<div class="ihclcb-entity-list-wrp cart-gstin-details">
									<div class="entity-title">GSTIN NO.:</div>
									<span class="gstinname"></span>
								</div>

							</div>
						</div>
        					
                        </button>
    				</div>
    				<div
    					class="summary-charges-item-con cm-hide coupon-show-on-checkout-page tic-coupon-code">
    					<div class="summary-charges-item-name">Coupon Code Selected</div>
    					<div class="summary-charges-item-value">
    						<span class="summary-applied-coupn"></span>
    					</div>
    				</div>
    				<div class="summary-charges-item-con coupon-hide-on-checkout-page tic-coupon-code ihclcb-coupon-hide">
    					<div class="summary-charges-item-name d-none">

    						<div class="coupon-code-label">Apply Coupon</div>
    						<div class="coupon-code-input-con">
    							<input class="coupon-code v-middle" type="text"
    								placeholder="Enter coupon code" aria-label = "Coupon Code Input"/>
    								    <button class="coupon-code-clear-input btn-only-focus icon-close" aria-label = "close icon"></button>
    							<button class="cm-btn-secondary apply-coupon-code-btn">Apply</button>
    							<div class="couponcode-status-text"></div>
    						</div>
    					</div>
    				</div>
    				<div class="summary-charges-item-con ihclcb-font-size">
    					<div class="summary-charges-item-name">
    						Total<span>( </span><span class="summary-card-rooms-count"></span>
    						Room<label class="summary-card-rooms-count-suffix">s </label> x <span
    							class="summary-card-nights-count"></span> Night<label
    							class="summary-card-nights-count-suffix">s </label> )</span>
    					</div>
    					<div class="summary-charges-item-value">
                            <span class="cart-currency-symbol"></span>
    						<span class="cart-total-price"></span>
    					</div>
                        <div id="inclusive-taxes">Inclusive of all taxes.</div>
    				</div>
    			</div>
                <div class="summary-soldout-message">
                    <div class="summary-of-soldout-rooms"></div>
                    <div class="soldout-room-info">${properties.soldoutMessage}<br><br></div>
                    <div class="soldout-summary-info">${properties.soldoutSuggestion}<br><br></div>
                    <div class="soldout-apologize">${properties.apologizeMessage}<br><br></div>
                    <div class="sold-out-addRoom" onclick="addAnotherRoom()">
                    <a href="#">
                        <button class="cm-btn-primary sold-out-add-room-button">${properties.anotherRoomButtonName}</button>
                    </a>
                </div>
            </div>
		</div>
	</div>
</div>
