@rem:16rem;
.tic-banner-mem-ben-con {
	width: 620/@rem;
	background: rgba(0,0,0,0.5);
	padding: 24/@rem 30/@rem;
	color: #fff;
	font-family: Calibri;
	font-size: 18/@rem;
	line-height: 1;
	float: right;
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		width: 33.75rem;
	}
}
.tic-banner-mem-ben-con-btn {
	line-height: 2.1875rem;
	@media only screen and (max-width: 991px) {
        line-height: 2.8125rem;
    }
}