
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.safariEnquiryForm'}" />
<div class="enquiry-form-header-wrapper">
    <div class="title-wrapper">
        <div class="mr-enquiry-title">CONTACT TAJ SAFARIS</div>
        <div class="mr-visit-para">Thank you for visiting Taj Safaris.</div>
        <div class="mr-travel-specialist">One of our Indian travel specialists will contact you to plan an
            unforgettable trip to India.</div>
    </div>
    <div class="mr-your-details-wrapper">
        <div class="mr-your-detail-title">YOUR DETAILS :</div>
        <div class="mr-mantatory-desc">Fields marked with an * are mandatory</div>
        <div class="mr-form-input-wrapper row">
            <div class="mr-form-input title-input col-12 col-md-4">
                <div class="input-header">TITLE</div>
                <div class="input-box selectSubContainer">
                    <select aria-label="user title" class="mr-input-field mr-selectbox" name="safari-enquiry-form-title" id="safari-enquiry-form-title"><option>Mr.</option>
                        <option>Ms.</option>
                        <option>Mrs.</option></select>
                </div>
            </div>
            <div class="mr-form-input fname-input col-12 col-md-4">
                <div class="input-header">FIRST NAME *</div>
                <div class="input-box end-input">
                    <input class="only-alpha-input mr-input-field" type="text" id="firstnameinput"  aria-label = "Enter FirstName"/>
                    <div class="validate-inputs-txt">* Please Enter Valid Input</div>
                </div>
            </div>
            <div class="mr-form-input lname-input col-12 col-md-4">
                <div class="input-header">LAST NAME *</div>
                <div class="input-box end-input">
                    <input class="only-alpha-input mr-input-field" type="text" id="lastnameinput" aria-label = "Enter Lastname" />
                    <div class="validate-inputs-txt">* Please Enter Valid Input</div>
                </div>
            </div>
        </div>
        <div class="mr-form-input-wrapper row">
            <div class="mr-form-input nationality-input col-12 col-md-6">
                <div class="input-header">NATIONALITY</div>
                <div class="input-box selectSubContainer">
                    <select aria-label="user nationality" class="mr-input-field mr-selectbox" name="safari-enquiry-form-nationality" id="safari-enquiry-form-nationality"><option>INDIA
                        </option>
                        <option>UNITED KINGDOM</option>
                        <option>SINGAPORE</option></select>
                </div>
            </div>
            <div class="mr-form-input fname-input col-12 col-md-6">
                <div class="input-header">EMAIL *</div>
                <div class="input-box end-input">
                    <input class="mr-input-field" type="text" id="emailinput" aria-label = "Enter Email"/>
                    <div class="validate-inputs-txt">* Please Enter Valid Input</div>
                    <div class="warning-txt">* Invalid EmailId</div>
                </div>
            </div>
        </div>
        <div class="mr-form-input-wrapper row">
            <div class="mr-form-input altmail-input col-12 col-md-6">
                <div class="input-header">ALTERNATE EMAIL</div>
                <div class="input-box end-input">
                    <input class="mr-input-field" type="text" id="alter-emailinput" aria-label = "Enter Alternate Email" />
                    <div class="warning-txt">* Invalid EmailId</div>
                </div>
            </div>
            <div class="mr-form-input conatct-input col-12 col-md-6">
                <div class="input-header">CONTACT NO *</div>
                <div class="input-box end-input">
                    <input class="only-numeric-input mr-input-field" type="text" id="contactinput" aria-label = "Enter Contact Number" />
                    <div class="validate-inputs-txt">* Please Enter Valid Input</div>
                </div>
            </div>
        </div>
    </div>
    <div class="mr-info-details-wrapper">
        <div class="booking-details-proceed-wrapper">
            <div class="mr-lodge-checkbox">Which Of Our Lodges Would You Like To Visit?</div>
            <div class="proceed-checkbox-wrapper">
                <label class="mr-filterCheckBox-label checkbox-inline">
                    <input class="mr-filter-checkbox mr-checkbox-field" type="checkbox" name="bookingOthersCheckbox" value="Mahua Kothi" aria-label = "Booking For Others Mahua Kothi" />
                    <span class="mr-inputCustomShape"></span>
                    Mahua Kothi
                </label>
                <label class="mr-filterCheckBox-label checkbox-inline">
                    <input class="mr-filter-checkbox mr-checkbox-field" type="checkbox" name="bookingOthersCheckbox" value="Baghvan" aria-label = "Booking For Others Baghvan"/>
                    <span class="mr-inputCustomShape"></span>
                    Baghvan
                </label>
                <label class="mr-filterCheckBox-label checkbox-inline">
                    <input class="mr-filter-checkbox mr-checkbox-field" type="checkbox" name="bookingOthersCheckbox" value="Banjaar Tola" aria-label = "Booking For Others Banjaar Tola" />
                    <span class="mr-inputCustomShape"></span>
                    Banjaar Tola
                </label>
                <label class="mr-filterCheckBox-label checkbox-inline">
                    <input class="mr-filter-checkbox mr-checkbox-field" type="checkbox" name="bookingOthersCheckbox" value="Pashan Garh" aria-label = "Booking For Others Pashan Garh" />
                    <span class="mr-inputCustomShape"></span>
                    Pashan Garh
                </label>
                <label class="mr-filterCheckBox-label checkbox-inline">
                    <input class="mr-filter-checkbox mr-checkbox-field" type="checkbox" name="bookingOthersCheckbox" aria-label = "Booking For Others Meghauli Serai" />
                    <span class="mr-inputCustomShape"></span>
                    Meghauli Serai
                </label>
            </div>
        </div>
        <div class="mr-other-info-wrapper">
            <div class="mr-info-title">OTHER INFORMATION :</div>
            <div class="mr-info-desc">Please provide us with as much information as possible to assist us in
                tailormaking your trip to India</div>
            <div class="mr-form-input lname-input col-12">
                <div class="input-header">Your Comments </div>
                <div class="input-box end-input comments-input">
                    <textarea class="mr-input-field comments-txtbox" type="textarea" id="comments-input"></textarea>
                </div>
            </div>
            <div class="mr-planning-title">When are you planning to travel?</div>
            <div class="mr-planning-dates-wrapper row">
                <div class="mr-from-date-wrapper plan-dates col-12 col-md-4">
                    <div class="mr-date-title input-header">FROM</div>
                    <div class="search-filter-date-wrap search-filter-from-date mr-date-input jiva-spa-date-con">
                        <input class="mr-input-field" type="text" id="from-date" placeholder="Start Date" value="" aria-label = "From Date"
                            disabled="disabled" />
                        <img src="/content/dam/tajhotels/icons/style-icons/calendar.jpg" alt = "calendar-icon" />
                    </div>
                    <div class="selected-start-date jiva-spa-date cm-fixed-date-picker-width" id="from-date-cal"></div>
                </div>
                <div class="mr-to-date-wrapper plan-dates col-12 col-md-4">
                    <div class="mr-date-title input-header">TO</div>
                    <div class="search-filter-date-wrap search-filter-to-date mr-date-input jiva-spa-date-con">
                        <input class="mr-input-field" type="text" id="to-date" placeholder="End Date" value="" aria-label = "To Date"
                            disabled="disabled" />
                        <img src="/content/dam/tajhotels/icons/style-icons/calendar.jpg" alt = "calendar-icon"/>
                    </div>
                    <div class="selected-end-date jiva-spa-date cm-fixed-date-picker-width" id="to-date-cal"></div>
                </div>
            </div>
            <div class="mr-members-wrapper row">
                <div class="mr-form-input adults-input col-12 col-md-4">
                    <div class="input-header">How many adults will be travelling?</div>
                    <div class="input-box selectSubContainer">
                        <select aria-label="number of adults" class="mr-input-field mr-selectbox" name="number-of-adults" id="number-of-adults"><option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option></select>
                    </div>
                </div>
                <div class="mr-form-input children-input col-12 col-md-4">
                    <div class="input-header">How many childrens will be travelling?</div>
                    <div class="input-box selectSubContainer">
                        <select aria-label="number of children" class="mr-input-field mr-selectbox" name="number-of-children" id="number-of-children"><option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="mr-submit-button-wrapper">
            <input type="hidden" class="safari-enquiry-conf-link" value="${properties.confLink}" aria-hidden = "true" />
            <input type="hidden" class="safari-enquiry-error-link" value="${properties.errorLink}" aria-hidden = "true" />
         
                <div
                    data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}"></div>
                <div class="captcha-warning">Please enter a captcha</div>
            
            <button class="cm-btn-secondary submitbtn enquiry-btn pay-now-button">SUBMIT</button>
            <button class="cm-btn-secondary clrbtn enquiry-btn">CLEAR</button>
        </div>
    </div>
    <div class="mr-taj-reservations">
        <div class="mr-reservation-title">TAJ RESERVATIONS WORLDWIDE:</div>
        <div class="mr-reservation-numbers-wrapper">
            <div class="mr-reservation-desc-wrapper">
                <div class="mr-country-title">Tollfree numbers:</div>
                <div class="mr-country-value">Taj Reservations Worldwide</div>
            </div>
            <div class="mr-reservation-desc-wrapper">
                <div class="mr-country-title">India:</div>
                <div class="mr-country-value">1 800 111 825 (non-MTNL/BSNL customers call +91 22 660 11825</div>
            </div>
            <div class="mr-reservation-desc-wrapper">
                <div class="mr-country-title">USA & Canada:</div>
                <div class="mr-country-value">1 866 969 1825</div>
            </div>
            <div class="mr-reservation-desc-wrapper">
                <div class="mr-country-title">Brazil:</div>
                <div class="mr-country-value">0 800 038 1422</div>
            </div>
            <div class="mr-reservation-desc-wrapper">
                <div class="mr-country-title">Egypt:</div>
                <div class="mr-country-value">0 800 000 0485</div>
            </div>
            <div class="mr-reservation-desc-wrapper">
                <div class="mr-country-title">United Arab Emirates (UAE):</div>
                <div class="mr-country-value">8 000 357 02467</div>
            </div>
            <div class="mr-reservation-desc-wrapper">
                <div class="mr-country-title">Rest of the World:</div>
                <div class="mr-country-value">00 800 4588 1825</div>
            </div>
            <div class="mr-reservation-desc-wrapper">
                <div class="mr-country-title">Fax:</div>
                <div class="mr-country-value">+91 22 6702 1825</div>
            </div>
        </div>
    </div>
</div>