<sly data-sly-use.list="${'com.ihcl.core.models.meeting.MeetingListModel'  @ searchPath=inheritedPageProperties.siteConfigHomePath, isWeddingList=properties.isWeddingList, allWebsitePaths=properties.allWebsitePaths}"/>

<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
        data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
        data-sly-call="${clientlib.all @ categories='taj.hotels.components.meetings-list'}" />  
    <div>
        <div class="cm-content-blocks">
            <div class="event-card-container ${pageProperties.weddingClassName}">
                <div class="row">
                    <sly data-sly-list.listItem="${list.meetingList}"><sly
                        data-sly-resource="${ '{0}' @ format=[listItem], resourceType='tajhotels/components/content/meeting-event-list/item' }"></sly>
                    </sly>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gallery-carousel-container">
    <div data-sly-resource="${ '{0}' @  resourceType='tajhotels/components/content/gallery-carousel' }"></div>
</div>


