<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} 
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientLib.all @ categories='tajhotels.incredible-escapes'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
    

<div data-sly-use.model="com.ihcl.core.models.IncredibleEscapesModel">
	<div class="concierge-local cm-inner-carousal-cards holiday-landing-discover-card">
    	<div class="recommended-experiences-wrap">
       		<div class="mr-experiences-images-wrap">
               <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=model.destinationImage,  lazyload='true', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', styleclass='mr-experiences-image'}"/>
           	</div>
           	<div class="mr-experiences-description-wrap">
           		<div class="mr-experinces-title conceirge-title">
               		${model.destinationName}
               	</div>
               	<div class="mr-experinces-detailsButton-wrap">
	              	<div class="mr-experinces-details-wrap">
	                   	<div class="mr-experinces-details-location hold-trend-desc">
                        	<P>${model.destinationDescription}</P>
       	                </div>
           	        </div>
               	    <div class="mr-experinces-Button-wrap">
                        <a href="${resource.getPath}.html">
	   	               	   <button class="cm-btn-secondary experience-button-styles conceirge-local-button">VIEW DETAILS</button>
                        </a>
                   </div>
       	       </div>
       		</div>
       	</div>
    </div>
</div>