#bannerCarousel .position-abs {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#bannerCarousel .mr-banner-btn-anc {
    display: inline-block;
    width: 100%;
}

.mr-carousel-wrap .banner-carousel-each-wrap video {
    object-fit: cover;
}

.carousel-indicators li:only-child{
	display:none;
}
.display-none{
	display:none;
}
.imageFill img{
	object-fit: fill;
}
.full-height-carousal .carousel,.full-height-carousal .carousel, .full-height-carousal .mr-carousel-wrap, .full-height-carousal .mr-carousel-wrap .banner-carousel-each-wrap .bannerImage img,
.full-height-carousal .mr-carousel-wrap .banner-carousel-each-wrap, 
.full-height-carousal .mr-carousel-wrap img.img-hotel, .full-height-carousal .banner-carousel>.full-height-carousal .banner-container-wrapper>.full-height-carousal .hotel-carousel-section .carousel-item {
    height: 95vh;
}

@media all and (-ms-high-contrast:none), all and  (-ms-high-contrast:active) {
    .mr-carousel-wrap .banner-carousel-each-wrap video,
    .mr-carousel-wrap .banner-carousel-each-wrap iframe {
        transform: scale(1.7);
    }
}

.mr-carousel-wrap .banner-carousel-each-wrap.video-banner {
    height: 36rem;
}

.banner-video-cont {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.banner-video-cont iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media only screen and (max-width: 767px) {
    .banner-video-cont {
       height: 100%;
       padding: 0;
    }
    .mr-carousel-wrap .banner-carousel-each-wrap.video-banner {
        height: 14rem;
    }
    .mr-carousel-wrap .banner-carousel-each-wrap.video-banner .mr-carousel-image-contents-wrapper {
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    .mr-carousel-wrap .banner-carousel-each-wrap.video-banner {
        height: 11rem;
    }
}

.mr-carousel-wrap {
	position: relative;
	font-family: 'SunSans-Demi';
}

.mr-carousel-wrap img.img-hotel,
.mr-carousel-wrap .banner-carousel-each-wrap {
	height: 510px;
	height: 31.875rem;
}

.mr-carousel-wrap .banner-carousel-each-wrap img {
	min-height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.mr-carousel-wrap .banner-carousel-each-wrap {
		height: 36.0625rem;
	}
}

@media only screen and (max-width: 767px) {
	.mr-carousel-wrap img.img-hotel,
	.mr-carousel-wrap .banner-carousel-each-wrap {
		height: 25rem;
	}	
}

.mr-carousel-wrap .mr-carousel-image-contents-wrapper {
	position: absolute;
	top: 34%;
	left: 50%;
	-ms-transform: translate(-50%, -35%);
	transform: translate(-50%, -35%);
	text-align: center;
	width: 100%;
}

.mr-carousel-wrap .mr-visit-hotel {
	min-width: 140px;
	min-width: 8.75rem;
	box-shadow: 0px 0px 10px 0px #000000;
}

@media only screen and (max-width: 767px) {
	.mr-carousel-wrap .mr-carousel-image-contents-wrapper {
		width: 90%;
	}
	.mr-carousel-wrap .mr-visit-hotel {
		min-width: 10rem;
	}
}

.mr-carousel-wrap .mr-offers-and-promotions {
	text-shadow: 1px 5px 10px #000000;
	font-family: Calibri-bold;
	font-size: 40px;
	font-size: 2.25rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

.campaign-banner-content{
    position: relative;
    animation: mymove 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    top: 1000px;
}

.card-with-border-radius{
    border-radius: 25px;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
}

.o-auto{
        overflow:auto;
    }  



@keyframes mymove {
  from {top: 1000px; }
  to {top: 0px; }
}



@media only screen and (max-width: 767px) {
	.mr-carousel-wrap .mr-offers-and-promotions {
		font-size: 1.75rem;
	}
}

.mr-carousel-wrap .mr-horizontal-line {
	width: 30%;
	margin: 16px auto;
	margin: 1rem auto;
	height: 2px;
	height: 0.125rem;
	background-color: #d6bc94;
}

.mr-carousel-wrap .mr-innerCircle-member-offers {
	text-shadow: 1px 5px 10px #000000;
	font-family: Calibri;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	margin-top: 16px;
	margin-top: 1rem;
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}

@media only screen and (max-width: 767px) {
	.mr-carousel-wrap .mr-innerCircle-member-offers {
		font-size: 1.25rem;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}
}

.mr-carousel-wrap .mr-save-offer {
	margin: 8px 0px;
	margin: 0.5rem 0rem;
	font-family: SunSans-Demi;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

@media only screen and (max-width: 767px) {
	.mr-carousel-wrap .mr-save-offer {
		font-size: 0.875rem;
	}
}

.carousel-control-next, .carousel-control-prev {
	width: 10%;
}

@media only screen and (max-width: 767px) {
	.carousel-control-next, .carousel-control-prev {
		display: none;
	}
}

.carousel-control-next-icon {
	width: 25px;
	width: 1.5625rem;
	height: 45px;
	height: 2.8125rem;
}

.carousel-control-prev-icon {
	width: 25px;
	width: 1.5625rem;
	height: 45px;
	height: 2.8125rem;
}

.mr-carousel-dots {
	/*display: none;*/
	margin-bottom: auto;
}

.hotel-carousel-section .carousel-indicators li {
	width: 10px;
	width: 0.625rem;
	height: 10px;
	height: 0.625rem;
	border-radius: 50%;
	margin-left: 5px;
	margin-left: 0.3125rem;
	margin-right: 5px;
	margin-right: 0.3125rem;
	cursor: pointer;
}

.hotel-carousel-section .carousel-item .carousel-caption {
	top: 30%;
}

.hotel-carousel-section .carousel-item .carousel-caption .header {
	margin: 0;
	font-family: TrajanPro;
	font-size: 40px;
	font-size: 2.5rem;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

.hotel-carousel-section .carousel-item .carousel-caption .description {
	font-family: SunSans;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	width: 70%;
	position: relative;
	left: 15%;
}

.hotel-carousel-section .carousel-item .carousel-caption .btn-view-hotels
	{
	font-family: SunSans-Demi;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	text-align: center;
	color: #ffffff;
	border-color: var(--primaryColor);
	background-color: var(--primaryColor);
	border-radius: 0;
	padding: 13px 20px;
	padding: 0.8125rem 1.25rem;
	margin-top: 23px;
	margin-top: 1.4375rem;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.hotel-carousel-section .carousel-item .carousel-caption {
		top: 7%;
	}
	.hotel-carousel-section .carousel-item .carousel-caption .header {
		font-size: 1.25rem;
	}
	.hotel-carousel-section .carousel-item .carousel-caption .description {
		font-size: 1rem;
		width: 100%;
		left: 0;
	}
	.hotel-carousel-section .carousel-item .carousel-caption .btn-view-hotels
		{
		font-size: 0.875rem;
		margin-top: 0.1875rem;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.hotel-carousel-section .carousel-item .carousel-caption {
		top: 18%;
	}
	.hotel-carousel-section .carousel-item .carousel-caption .header {
		font-size: 1.875rem;
	}
	.hotel-carousel-section .carousel-item .carousel-caption .description {
		font-size: 1.125rem;
		width: 92%;
		left: 3%;
	}
	.hotel-carousel-section .carousel-item .carousel-caption .btn-view-hotels
		{
		font-size: 1.125rem;
		margin-top: 0.8125rem;
	}
}

.desktop-display-none {
	display: none;
}

.mobile-display-none {
	display: block;
}
.title-font{
    	font-size: 1.8rem;
    }
.large-font-2{
font-size: 1.8rem;
}

@media only screen and (max-width: 767px) {
	.desktop-display-none {
		display: block;
	}
	.mobile-display-none {
		display: none;
	}
    .large-font-2{
    	font-size: 1.8rem;
    }
	.full-width-mobile{
		width: 100% !important;
	}
	.title-font{
    	font-size: 1.4rem;
    }
}


.banner-image-tint {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	opacity: 0.1 !important;
}

.mr-campaign-btn {
	margin-right: 20px;
}

.display-flex{
	display: flex !important;
}

.absolute{
	position: absolute;
}
.z-10{
    z-index: 10;
}
.border-radius-circle{
    border-radius: 50% !important;
}
.margin-right-desktop{
    margin-right: 20px;
}

.height-auto{
	height: auto !important;
}
@media only screen and (max-width: 767px) {
	.mr-campaign-btn {
		min-width: 6rem !important;
		margin-right: 7px !important;
	}
    .margin-right-desktop{
        margin-right: 0px;
    }
}
.img-contain{
	object-fit: contain;
}



/*
.container-transition{
  position: relative;
}
.animation-element {
  position: relative;
  width: 30%;
  margin: 0% 1.33 2.66% 1.33%;
  float: left;
}

.bounce-up {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.bg-image-wrapper{
	position: relative;
}


*/