<div class="exp-card" style="${properties.cardStyle @ context='html'};" data-sly-use.imageTemplate="tajhotels/components/content/amp/image-template/image-template.html">
    <div class="exp-img">
        <sly data-sly-call="${imageTemplate.damImageTemplate @ imagePath= properties.bgImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', layout='fill'}"></sly>
    </div>
    <div class="exp-details">
    	<div class="exp-details-wrap">
            <div class="exp-name"><span>${properties.cardTitle}</span></div>
            <div class="exp-description">
                ${properties.description @context="html"}
            </div>
        </div>
        <div class="exp-details-wrap-right">
            <!--<a href="${properties.buttonLink}.html">-->
                <button data-sly-test="${properties.lightboxid == 'lb1'}" class="cm-btn-secondary ${pageProperties.sitePath}" on="tap:lb1">${properties.buttonText}</button>
                <button data-sly-test="${properties.lightboxid == 'lb2'}" class="cm-btn-secondary ${pageProperties.sitePath}" on="tap:lb2">${properties.buttonText}</button>
                <button data-sly-test="${properties.lightboxid == 'lb3'}" class="cm-btn-secondary ${pageProperties.sitePath}" on="tap:lb3">${properties.buttonText}</button>
                <button data-sly-test="${properties.lightboxid == 'lb4'}" class="cm-btn-secondary ${pageProperties.sitePath}" on="tap:lb4">${properties.buttonText}</button>
                <button data-sly-test="${properties.lightboxid == 'lb5'}" class="cm-btn-secondary ${pageProperties.sitePath}" on="tap:lb5">${properties.buttonText}</button>
                <button data-sly-test="${properties.lightboxid == 'lb6'}" class="cm-btn-secondary ${pageProperties.sitePath}" on="tap:lb6">${properties.buttonText}</button>

                <amp-lightbox data-sly-test="${properties.lightboxid}" id="${properties.lightboxid}" layout="nodisplay" style="background: rgba(74, 74, 74, 0.55);overflow: auto;">
					<div class="lightbox-container-div" style="background: white;margin: 15% 20px 15%; padding: 20px;">
                        <amp-img role="button" width="20px" tabindex="0" height="20px" style="position: absolute;right: 40px;" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg" on="tap:lb1.close,lb2.close,lb3.close,lb4.close,lb5.close,lb6.close"></amp-img>
                        <div class="lightbox-content-div">
                        	<h1>${properties.cardTitle}</h1>
                            <amp-img width="100px" height="200" style="width: 100%;height: 200px;" src="${properties.bgImage}" layout="intrinsic"></amp-img>
                            <p style="line-height: 1.4">${properties.lightboxDescription @context='html'}</p>
                        </div>
                    </div>
                </amp-lightbox>
            <!--</a>-->
			<a data-sly-test="${properties.buttonLink}" href="${properties.buttonLink}.html">
            <button class="cm-btn-secondary ${pageProperties.sitePath}" data-sly-test="${properties.buttonLink}">${properties.buttonText}</button>
            </a>

        </div>
    </div>
</div>