<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='taj.hotels.contact-us-info'}" ></sly>
<div data-sly-test="${wcmmode.edit}">Contact Us Info</div>
<div class="cm-content-blocks col-12">
    <div class="tic-help-contact-con">
            <div class="row">
                <div class="col-lg-5 col-md-3 col-sm-6 col-6 tic-help-contact-heading">${properties.title}</div>
                <div class="col-lg-7 col-md-9 col-sm-6 col-6">
                    <div class="ho-contact-options-con tic-help-contact-section">
                        <sly data-sly-list="${properties.phNumber}">
                        <a class="ho-contact-number hide-in-lg inline-block" href="tel:${item}" data-sly-test="${itemList.first}">
                            <i class="icon-phone-enabled ho-cm-icon ho-contact-icon inline-block"></i>
                        </a>
                        </sly>
                        <div class="ho-contact-number hide-in-sm hide-in-md inline-block disabled">
                            <i class="ho-cm-icon ho-contact-icon inline-block icon-phone-disabled"></i>
                            <sly data-sly-list="${properties.phNumber}">
                                <span class="additional-num-seperator" data-sly-test="${!itemList.first}">,</span>
                                <div class="inline-block ho-tel-desktop" itemprop="telephone">${item}</div>
                            </sly>
                        </div>
                        <a class="ho-mail-to inline-block" href="mailto:${properties.contactEmail}">
                            <i class="icon-envelope ho-mail-to-icon ho-cm-icon inline-block"></i>
                            <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt hide-in-md hide-in-sm">${properties.contactEmail}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>