<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-base-page,tajhotels.committee-board'}" />
<div class="cm-content-blocks">

	<div class="cm-header-label-con title-decorator-border">
		<h2 class="cm-header-label corporateGov-margin">Committees of The
			Board</h2>
	</div>
	<div class="corporate-gov-tab">
		<button class="tablinks corporate-gov-audit active"
			onclick="openCity(event, 'AUDIT')">${properties.titleName1}</button>
		<button class="tablinks corporate-gov-stake"
			onclick="openCity(event, 'STAKEHOLDERS')">${properties.titleName2}</button>
		<button class="tablinks corporate-gov-nomination"
			onclick="openCity(event, 'NOMINATION')">${properties.titleName3}</button>
		<button class="tablinks corporate-gov-corporate"
			onclick="openCity(event, 'CORPORATE')">
			<div>
				<div class="csr-text-mob">${properties.titleName4}</div>
				<div class="csr-text-desk">${properties.titleName4}</div>
			</div>
		</button>
	</div>
	<div class="corporate-gov-tabcontent active" id="AUDIT"
		style="display: block;">
		<p class="corporate-gov-title-text">${properties.auditDescription
			@context="html"}</p>
	</div>
	<div class="corporate-gov-tabcontent" id="STAKEHOLDERS">
		<p class="corporate-gov-title-text">${properties.stakeholderDescription
			@context="html"}</p>
	</div>
	<div class="corporate-gov-tabcontent" id="NOMINATION">
		<p class="corporate-gov-title-text">${properties.renumerationDescription
			@context="html"}</p>
	</div>
	<div class="corporate-gov-tabcontent" id="CORPORATE">
		<p class="corporate-gov-title-text">${properties.csrDescription
			@context="html"}</p>
	</div>
</div>