<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.investors'}" />

<sly data-sly-use.financeProperties="com.ihcl.core.models.financialReports.FinancialReportsFetcher" />
<div class="mr-investors-financial-reports">
    <div data-sly-test.edit=${wcmmode.edit}>
        <h1>Edit to Configure the Reports Component</h1>
    </div>
    <div data-sly-test="${properties.quarterPath}" data-sly-unwrap>
        <div class="mr-financial-reports-tab row">
            <div class="mr-reports-wrap col-12 rate-tab-wrap" id="mr-reports-wrapper-id">
                <div class="rate-tab tab-selected" role="button" tabindex="0">
                    <div>Quarterly Reports</div>
                </div>
                <div class="rate-tab" role="button" tabindex="0">
                    <div>Annual Reports</div>
                </div>
                <div class="rate-tab" role="button" tabindex="0">
                    <div>Analyst Meet</div>
                </div>
            </div>

            <div style="display: none">
                <div data-dam-path=${properties.quarterPath}></div>
                <div data-dam-path=${properties.annualPath}></div>
                <div data-dam-path=${properties.analystPath}></div>
            </div>

            <!-- HTML code for the searchFilter starts here  -->

        </div>
        <span class="close-icon display-none" tabindex="0">
            <img class="closeIconImg" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
        </span>
    </div>
    <div class="search-container pressRoom-filter holiday-outwrapper cm-search-with-filter col-lg-12 col-md-12 col-sm-12">
        <div class="search-and-suggestions-wrapper search-and-suggestions-wrapper-hotel container disable-input-scroll-top">
            <div class="searchBar-wrap">
                <input class="searchbar-input hotel-search" type="text" aria-label="hotels search bar"
                    placeholder="Search for Report" />
                <img class="clear-input-icon" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
                <div class="search-filters-container">
                    <div class="press-room-filter-wrapper">
                        <div class="holiday-filter-wrapper">
                            <div class="events-filter-subsection">
                                <div class="events-filter-back-arrow">
                                    <img src="/content/dam/tajhotels/icons/style-icons/leftArrow.svg" alt="leftArrow-icon" />
                                    <div class="events-filter-subheading">Tell us what you are looking for</div>
                                </div>
                                <div class="filter-wrap-catagory"></div>
                                <div class="filter-go-warpper">
                                    <div id="filter-search" class="filter-go-con" tabindex="0" role="button">
                                        <img class="filter-icon"
                                            src="/content/dam/tajhotels/icons/style-icons/search-svg.svg" alt="search-icon" />
                                        <span class="search-icon-aligner"></span>
                                    </div>
                                </div>
                                <button class="cm-btn-secondary events-apply-btn cm-press-room-filter">SEARCH</button>
                            </div>
                        </div>
                    </div>
                    <div class="filter-landing-cont-image" tabindex="0" role="button">
                        <img class="only-icon" src="/content/dam/tajhotels/icons/style-icons/filter-icon.svg"
                            alt="filter-icon" />
                    </div>
                </div>
                <span class="close-icon display-none">
                    <img class="closeIconImg" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
                </span>
            </div>
            <div class="suggestions-wrap display-none">
                <div class="suggestions-overlay cm-overlay" tabindex="0" role="button"></div>
                <div class="suggestions-container">
                    <div class="trending-suggestions-container"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- HTML code for the searchFilter ends here  -->

    <div class="mr-investors-report-documents-wrapper col-12 content-active">
        <div class="mr-investors-share-documents-wrapper">
            <div class="mr-investors-share-head-wrapper">
                <h2 class="mr-investors-share-header">The Indian Hotel Company Limited (IHCL) Results</h2>
            </div>
            <div class="mr-investors-share-documents show-more-card-wrapper row">
                <div class="row mr-audit-statement-template-row"
                    data-sly-list.ihclQuarterReport="${financeProperties.quarterihcl}">
                    <sly data-sly-use.FinanceInformationLib="about-Investors-card.html" />
                    <sly data-sly-unwrap
                        data-sly-call="${FinanceInformationLib.FinanceInformation @ FinanceInfo=ihclQuarterReport}" />
                </div>
            </div>
            <div class="card-show-more-button amalgamation-mobile card-show-more" tabindex="1">
                <span>SHOW MORE</span>
                <img src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt="dropdown-arrow-icon" />
            </div>
        </div>

        <div class="mr-investors-share-documents-wrapper">
            <div class="mr-investors-share-head-wrapper">
                <h2 class="mr-investors-share-header">Distrubution of Shareholding</h2>
            </div>
            <div class="mr-investors-share-documents show-more-card-wrapper row">

                <div class="row mr-audit-statement-template-row"
                    data-sly-list.shareQuarterReport="${financeProperties.quartershare}">
                    <sly data-sly-use.FinanceInformationLib="about-Investors-card.html" />
                    <sly data-sly-unwrap
                        data-sly-call="${FinanceInformationLib.FinanceInformation @ FinanceInfo=shareQuarterReport}" />

                </div>


            </div>
            <div class="card-show-more-button amalgamation-mobile card-show-more" tabindex="1">
                <span>SHOW MORE</span>
                <img src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt="dropdown-arrow-icon" />
            </div>

        </div>
    </div>
    <div class="mr-investors-report-documents-wrapper col-12">
        <div class="mr-investors-share-documents-wrapper">
            <div class="mr-investors-share-head-wrapper">
                <h2 class="mr-investors-share-header">The Indian Hotel Company Limited (IHCL) Results</h2>
            </div>
            <div class="mr-investors-share-documents show-more-card-wrapper">
                <div class="row mr-audit-statement-template-row"
                    data-sly-list.ihclAnnualReport="${financeProperties.annualihcl}">
                    <sly data-sly-use.FinanceInformationLib="about-Investors-card.html" />
                    <sly data-sly-unwrap
                        data-sly-call="${FinanceInformationLib.FinanceInformation @ FinanceInfo=ihclAnnualReport}" />
                </div>
            </div>
            <div class="card-show-more-button amalgamation-mobile card-show-more" tabindex="1">
                <span>SHOW MORE</span>
                <img src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt="dropdown-arrow-icon" />
            </div>

        </div>
        <div class="mr-investors-share-documents-wrapper">
            <div class="mr-investors-share-head-wrapper">
                <h2 class="mr-investors-share-header">Distrubution of Shareholding</h2>
            </div>
            <div class="mr-investors-share-documents show-more-card-wrapper">

                <div class="row mr-audit-statement-template-row"
                    data-sly-list.shareAnnualReport="${financeProperties.annualshare}">
                    <sly data-sly-use.FinanceInformationLib="about-Investors-card.html" />
                    <sly data-sly-unwrap
                        data-sly-call="${FinanceInformationLib.FinanceInformation @ FinanceInfo=shareAnnualReport}" />
                </div>

            </div>
            <div class="card-show-more-button amalgamation-mobile card-show-more" tabindex="1">
                <span>SHOW MORE</span>
                <img src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt="dropdown-arrow-icon" />
            </div>

        </div>
    </div>
    <div class="mr-investors-report-documents-wrapper col-12">
        <div class="mr-investors-share-documents-wrapper">
            <div class="mr-investors-share-head-wrapper">
                <h2 class="mr-investors-share-header">The Indian Hotel Company Limited (IHCL) Results</h2>
            </div>
            <div class="mr-investors-share-documents show-more-card-wrapper">

                <div class="row mr-audit-statement-template-row"
                    data-sly-list.ihclAnalystReport="${financeProperties.analystihcl}">
                    <sly data-sly-use.FinanceInformationLib="about-Investors-card.html" />
                    <sly data-sly-unwrap
                        data-sly-call="${FinanceInformationLib.FinanceInformation @ FinanceInfo=ihclAnalystReport}" />
                </div>

            </div>
            <div class="card-show-more-button amalgamation-mobile card-show-more" tabindex="1">
                <span>SHOW MORE</span>
                <img src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt="dropdown arrow icon" />
            </div>

        </div>
        <div class="mr-investors-share-documents-wrapper">
            <div class="mr-investors-share-head-wrapper">
                <h2 class="mr-investors-share-header">Distrubution of Shareholding</h2>
            </div>
            <div class="mr-investors-share-documents show-more-card-wrapper">
                <div class="row mr-audit-statement-template-row"
                    data-sly-list.shareAnalystReport="${financeProperties.analystshare}">
                    <sly data-sly-use.FinanceInformationLib="about-Investors-card.html" />
                    <sly data-sly-unwrap
                        data-sly-call="${FinanceInformationLib.FinanceInformation @ FinanceInfo=shareAnalystReport}" />
                </div>

            </div>
            <div class="card-show-more-button amalgamation-mobile card-show-more" tabindex="1">
                <span>SHOW MORE</span>
                <img src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt="dropdown-arrow-icon" />
            </div>

        </div>
    </div>
</div>
</div>


