<template data-sly-template.FinanceInformation="${@FinanceInfo}">
<div class="mr-audit-statement-template col-lg-4 col-md-6 col-sm-12 show-more-card-element show-cm-card" data-title=${FinanceInfo.title}>
    <div class="mr-audit-statement-template-inner">
        <div class="mr-audit-icon-holder"><img src="/content/dam/tajhotels/icons/style-icons/folder.svg" alt = "folder-icon"/></div>
        <div class="mr-audit-statement-description-wrapper">
            <p class="mr-audit-statement-text">${FinanceInfo.title}</p>
            <a href="${FinanceInfo.pdfPath}" class="mr-anchor-download" target="_blank" download="download">
                <div class="mr-download-btn-wrapper"><button class="mr-download-pdf cm-btn-secondary">DOWNLOAD PDF</button></div>
            </a>
        </div>
    </div>
</div>
</template>