<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='taj.hotels.offers-carousel-card , taj.hotels.specific-hotel-offer-carousel'}"/> 

 
<div data-sly-test="${wcmmode.edit}">
    Specific Hotel Offers Configurations
</div>
<sly data-sly-test.hotelPagePath="${properties.hotelPath}" />
<div data-sly-use.offerList="${'com.ihcl.core.models.offers.OfferList' @ hotelPath=hotelPagePath}"
     class="offers-deals-container cm-content-blocks container"
     data-sly-use.urlMap="${'url-map.js' @ reqUrl=hotelPagePath}">
    <div class="cm-header-label-con title-decorator-border">
       <sly data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly> 
        
        <sly data-sly-test="${hotelPagePath}">
            <a href="${hotelPagePath}/offers-and-promotions.html">
            <div class="cm-header-offers">${properties.viewAllTitle}</div>
        </a>
        </sly>
        <sly data-sly-test="${!hotelPagePath}">
            <a href="${inheritedPageProperties.siteConfigHomePath}/offers.html">
            <div class="cm-header-offers">${properties.viewAllTitle}</div>
        </a>
        </sly>

    </div>
    <div>
        <div class="row">
            <div class="offers-and-deals-wrap" data-sly-attribute.data-hotel-path="${urlMap.mappedUrl}">
                <div class="clearfix" data-sly-list.listItem="${offerList.getOfferList}"  data-sly-use.offerCaroursel="tajhotels/components/content/offer-carousel-card/offer-carousel-card.html">
                  <sly  data-sly-call="${offerCaroursel.offercarouselcard @ resourcePath=listItem.path,cardTitleType=properties.type}"/> 
                
                   <!--  <sly data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='tajhotels/components/content/offer-carousel-card' }"></sly>
 -->                </div>
            </div>
        </div>
    </div>
    <!-- <div class="offers-button-wrapper">
        <a href="/content/tajhotels/en-in/offers">
            <button class="cm-btn-primary offers-button" type="button">
                ${properties.viewAllTitle}
            </button>
        </a>
    </div> -->
</div>