.hotel-info-strip{
   padding-bottom: 10px;
}
.info-strip-card{
    padding: 10px 15px 15px 0px;

}
.icon-tic-location{
   font-size: 21px;
   }
.icon-tic-location:before {
   color : var(--primaryColor);
}
.info-strip-description{
   font-family: Montserrat-Regular;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.6px;
   color: var(--primaryColor);
   padding-left:10px;
   letter-spacing: 2;
}

.info-strip-card a, .phone-number{
   display:flex;
}
.info-strip-card.phone-number a{
    display:initial;
}
            .info-strip-description span:last-of-type{display:none;}