<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='tajhotels.hoteldetails,tajhotels.gallerycarousel'}"/>

<sly data-sly-use.hotelProperties="com.ihcl.core.models.hotel.HotelPropertiesFetcher"/>


<div class="gallery-carousel-container">
    <div data-sly-resource="${ '{0}' @  resourceType='tajhotels/components/content/gallery-carousel' }"></div>
</div>
<section class="hotel-overview-container cm-content-blocks">
    <div class="hotel-overview-container" >
        <div class="hotel-overview-wrapper row">
            <div class="col-lg-6 col-md-12 col-sm-12 overview-contents-section">
                <div class="ho-section-wrapper">
                    <div class="ho-first-section">
                        <h1 class="ho-header">
                            <span>${hotelProperties.name}</span>
                            <sly data-sly-test="${properties.showBookStayLink}">
                                <a class="cm-view-link-txt" href="${properties.hotelBookingLink}" role="button">${properties.hotelBookingtext}</a>
                            </sly>
                        </h1>
                        <h2 class="ho-header-small" data-sly-test=${pageProperties.subtitle}>
                            <span>${pageProperties.subtitle}</span>
                        </h2>
                        <div class="ho-map-link">
                            <a class="ho-hotel-location-link" target="_blank"
                               href="https://www.google.com/maps/search/?api=1&query=${hotelProperties.hotelLatitude},${hotelProperties.hotelLongitude}">
                                <span class="icon-location ho-location-icon ho-cm-icon inline-block"></span>
                                <span
                                        class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt">
                                    <span >${hotelProperties.hotelArea}</span>
                                    ,
                                    <span >${hotelProperties.hotelCity}</span>
                                    ,
                                    <span >${hotelProperties.hotelPinCode}</span>
                                </span>
                            </a>
                        </div>
                        <div class="ho-contact-options-con">
                            <a class="hide-in-lg"
                               href="tel:${hotelProperties.hotelStdCode @context='html'}${hotelProperties.hotelPhoneNumberList.first @context='html'}">
                                <i class="icon-phone-enabled hide-in-lg ho-cm-icon ho-contact-icon"></i>
                            </a>
                            <sly data-sly-list.mobphone=${hotelProperties.hotelPhoneNumber}>
                            <a class="ho-contact-number hide-in-lg"
                               href="tel:${hotelProperties.hotelStdCode @context='html'}${mobphone @context='html'}">
                                <span class="ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">
                                    ${hotelProperties.hotelStdCode}-${mobphone}
                                </span>
                            </a>
                            <sly data-sly-test="${hotelProperties.hotelPhoneNumber.size > 1 && !mobphoneList.last}"><span class="add-comma-mob hide-in-lg cm-view-link-txt cm-view-txt">,</span></sly>
                            </sly>
                            <div class="ho-contact-number hide-in-sm hide-in-md inline-block disabled">
                                <i class="ho-cm-icon ho-contact-icon inline-block icon-phone-disabled"></i>
                                <sly data-sly-list.deskphone=${hotelProperties.hotelPhoneNumber}>
                                    <span class="inline-block ho-mail-to-txt">
                                    ${hotelProperties.hotelStdCode}-${deskphone}
                                    </span>
                                    <sly data-sly-test="${hotelProperties.hotelPhoneNumber.size > 1 && !deskphoneList.last}"><span class="add-comma-mob hide-in-sm disabled ho-mail-to-txt">,</span></sly>
                                </sly>
                            </div>
                            <a class="ho-mail-to inline-block"
                               href="mailto:${hotelProperties.hotelEmail @context='html'}">
                                <i class="icon-envelope ho-mail-to-icon ho-cm-icon inline-block"></i>
                                 <div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt">
                                    ${hotelProperties.hotelEmail}
                                </div>
                            </a>
                        </div>
                        <div class="ho-overview-description">
                            <span class="ho-description-txt" onclick="setGallerySectionHeight()">${properties.hotelLongDesc
                                @context="html"}</span>
                        </div>
                        <div class="ho-btns-section">
                            <button class="cm-btn-primary add-to-wishlist-btn" style="display: none;">ADD TO
                                WISHLIST
                            </button>

                            <div class="share-btn-wrapper" data-share-text="${properties.sharetext}">
                                <button class="cm-btn-primary cm-share-btn loc-city share-btn-js icon-share" aria-label = "share icon"></button>
                                <div id="socials" class="share-options-list"></div>
                            </div>
                        </div>
                    </div>

                    <span class="ho-header-small ho-services-show-all ho-services-show-txt hotel-usp-header">Hotel
                        Highlights</span>
                    <div class="row ho-ameneties-blocks-con hotel-usp-container">
                        <sly data-sly-list.signature="${hotelProperties.signatureModel}">
                            <sly data-sly-test=${signature.groupIconPath}>
                                <div class="col-6 ho-each-ameneties-sec">
                                    <div class="image-container">
                                        <i class="ho-signature-icon ${signature.groupIconPath}"></i>
                                    </div>
                                    <div class="ho-signature-name inline-block">${signature.signatureFeatureValue}</div>
                                </div>
                            </sly>
                        </sly>
                        <div class="col-6 show-more-less-cta-con">
                            <span class="cm-view-txt cta-selling-sec cta-sellings-show-more">Show More</span>
                            <span class="cm-view-txt cta-selling-sec cta-sellings-show-less">Show Less</span>
                        </div>
                    </div>

                    <div class="inline-block ho-services-show-all-con" tabindex="0" role = "button">
                        <span class="cm-view-txt ho-services-show-txt hotel-amenities-link"
                              onclick="showAllAmenitiesClickHandler()">Amenities</span>
                    </div>
                    <div class="row gallery-con-non-lg-device">
                        <div class="col-lg-6 col-md-12 col-sm-12 overview-images-section hide-in-lg">
                            <sly data-sly-use.galleryModel="com.ihcl.core.models.gallery.GalleryImageSelector"/>
                            <div class="top-label-con">
                                <div class="view-photo-link-con">
                                    <div class="ho-photo-carousel-link inline-block">
                                        <img class="view-photo-icon"
			                                 src="/content/dam/tajhotels/icons/style-icons/view-photos.svg" alt = "view-photos-icon">
                                        <div class="view-photo-text cm-view-link-txt"
                                             data-gallery-images=${galleryModel.imagePaths.toString}
                                             onclick="showGallery(this)" data-dialog-btn = "galleryCarousel" tabindex="0" role = "button">
                                            <span>VIEW PHOTOS (${galleryModel.getTotalNumberOfImages})</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-section-wrapper">
                                <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"/>
                                <div class="carousel-images-container">
                                    <sly data-sly-list.imagesJson="${galleryModel.imagePaths.toString}">
                                        <sly data-sly-use.imagePathsJs="${'/apps/tajhotels/components/content/server-side-js-library/image-paths.js' @ imagesJson=imagesJson}"
                                             data-sly-list.imagePath="${imagePathsJs.imagePaths}">
                                            <div class="carousel-image-holder">
                                                <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=imagePath ? imagePath :'/content/dam/tajhotels/logos/taj-logos/img-taj@2x.png', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true'}"/>
                                            </div>
                                        </sly>
                                    </sly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ho-fourth-section">
                        <div class="ho-hotel-policies-con">
                            <div class="ho-header-small">${properties.hotelPolicies}</div>
                            <sly data-sly-use.policyObj="com.ihcl.core.models.HotelPolicy">
                                <ul class="ho-policy-items-list" data-sly-list.policy="${policyObj.policyList}">
                                    <li class="ho-each-policy-list">${policy}</li>
                                </ul>
                            </sly>
                        </div>
                        <div class="ho-hotel-essentials-con">
                            <div class="ho-header-small"
                                 data-sly-use.essentialObj="com.ihcl.core.models.HotelEssential">
								 <sly data-sly-test="${essentialObj.getHotelEssentialBean}">
                                Hotel Essentials
                                <ul class="ho-essentials-items-list"
                                    data-sly-list.essentialChild="${essentialObj.getHotelEssentialBean}">
                                    <li class="inline-block ho-each-essential-item">
                                        <sly data-sly-test=${essentialChild.pathToDownloadPdfFrom}>
                                            <a
                                                    class="mr-download-link"
                                                    href="${essentialChild.pathToDownloadPdfFrom}" download>
                                                <span class="cm-view-link-txt ho-cm-link-txt">${essentialChild.hotelEssentialDesc}</span>
                                            </a>
                                        </sly>
                                        <sly data-sly-test="${!essentialChild.pathToDownloadPdfFrom}">
                                            <span>${essentialChild.hotelEssentialDesc}</span>
                                        </sly>
                                    </li>
                                </ul>
								</sly>
                            </div>
                        </div>
                        <div class="ho-hotel-policies-con"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 overview-images-section img-section-lg hide-in-sm hide-in-md">
                <sly data-sly-use.galleryModel="com.ihcl.core.models.gallery.GalleryImageSelector"/>
                <div class="top-label-con">
                    <div class="view-photo-link-con">
                        <div class="ho-photo-carousel-link inline-block">
                            <i class="view-photo-icon icon-view-photos"></i>
                            <div class="view-photo-text cm-view-link-txt"
                                 data-gallery-images=${galleryModel.imagePaths.toString}
                                 onclick="showGallery(this)"  tabindex = "0" role = "button" data-dialog-btn =  "galleryCarousel">
                                <span>VIEW PHOTOS (${galleryModel.getTotalNumberOfImages})</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gallery-section-wrapper">
                    <sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"/>
                    <div class="carousel-images-container">
                        <sly data-sly-list.imagesJson="${galleryModel.imagePaths.toString}">
                            <sly data-sly-use.imagePathsJs="${'/apps/tajhotels/components/content/server-side-js-library/image-paths.js' @ imagesJson=imagesJson}"
                                 data-sly-list.imagePath="${imagePathsJs.imagePaths}">
                                <div class="carousel-image-holder">
                                    <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=imagePath ? imagePath :'/content/dam/tajhotels/logos/taj-logos/img-taj@2x.png', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg'}"/>
                                </div>
                            </sly>
                        </sly>
                    </div>
                </div>
            </div>
        </div>


        <div class="all-amenities-details-wrap">
            <div class="all-amenities-details-con">
                <div class="all-amenities-details-close">
                    <i class="icon-close" tabindex="0" role = "button"></i>
                </div>
                <div class="ho-second-section">
                    <!--  <div class="ho-services-n-amenities-con" onclick="setGallerySectionHeight()">
                         <div class="ho-header-small clearfix">
                            <span class="inline-block cm-left">ALL AMENITIES</span>
                        </div> -->
                    <div class="ho-items-list ho-services-expanded">
                        <sly
                                data-sly-use.serviceAmenitiesModel="com.ihcl.core.models.serviceamenity.GroupedServiceAmenitiesFetcher">

                            <ul class="row overview-ameneties-wrapper">
                                <sly data-sly-list.allAmenity="${serviceAmenitiesModel.allAmenities}">
                                    <sly
                                            data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=allAmenity}"/>
                                    <li class="col-12 col-lg-6 col-md-6 ho-each-items overview-ameneties-each-elem inline-block">
                                        <div class="ho-services-each-wrap">
                                            <div class="ho-service-icon-con">
                                            	<img class="ho-service-icon-img" src="${serviceAmenitiesProperties.imagePath}" alt = "serviceAmenities icon">
                                            </div>
                                            <div class="ho-service-name inline-block">
                                                ${serviceAmenitiesProperties.name}
                                            </div>
                                        </div>
                                    </li>
                                </sly>


                            </ul>
                        </sly>
                    <!--     </sly> -->
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

