.ihcl-ranking-card-container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: #e5e5e5;
    padding: 37px 56px 43px 56px;
    padding: 2.3125rem 3.5rem 2.6875rem 3.5rem;
}

@media only screen and (max-width: 767px) {
    .ihcl-ranking-card-container {
        height: 100%;
        display: block;
    }
}

.ihcl-rank {
    font-family: Calibri;
    font-size: 60px;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.2;
    color: #002b49;
    text-align: center;
}

.ihcl-rank-description {
    width: 150px;
    width: 9.375rem;
    margin-left: auto;
    font-family: Calibri;
    font-size: 17px;
    font-size: 1.08125rem;
    line-height: 1.27;
    text-align: center;
    color: #0d0d0d;
    margin-right: auto;
}

.ihcl-ranking-individual-container {
    width: 33%;
    border-right: 1px solid #979797;
    border-right: 0.0625rem solid #979797;
}

@media only screen and (max-width: 767px) {
    .ihcl-ranking-individual-container {
        width: 100%;
        border-right: none;
        border-bottom: 0.0625rem solid #979797;
        padding: 1rem 0rem;
    }
}

.ihcl-ranking-individual-container:last-child {
    border-right: none;
}

@media only screen and (max-width: 767px) {
    .ihcl-ranking-individual-container:last-child {
        border-bottom: none;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
   .ihcl-rank {
padding:1rem
    }
.ihcl-ranking-card-container{
	padding: 2.3125rem 2.5rem 2.6875rem 2.5rem;
}
  }