<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.backNavigation'}" />

<div class="back-nav-room-container cm-content-blocks">
    <div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
            <div class="back-nav-header-wrapper">
    			<sly data-sly-test="${!properties.backLinkToNavigate}">
    				<a href="${currentPage.parent.path}.html">
    			</sly>
                <sly data-sly-test="${properties.backLinkToNavigate}">
                    <a href="${properties.backLinkToNavigate}.html">
                </sly>
    			<i class="image-view-back-nav icon-carousel-arrow-coloured-left"></i>
                <div data-sly-test=${properties.backLinkName} class="back-nav-name">${properties.backLinkName}</div>
                <div data-sly-test=${!properties.backLinkName} class="back-nav-name">Back</div>
    			</a>
            </div>
        </div>
	</div>
</div>