.holidayLand-memorable-wrapper .memorable-descriptin {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    letter-spacing: normal;
    color: #323232;
}

.holidayLand-memorable-wrapper .memorable-image-container {
    margin-top: 30px;
    margin-top: 1.875rem;
}

.holidayLand-memorable-wrapper .memorable-image-container img {
    height: 100%;
    width: 100%;
}

.specific-hotels-page .holidayLand-memorable-wrapper {
	margin-top: 26px;
}