
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.taj-air-offer-book,tajhotels.structure.page.tajhotels-base-page'}" />

<div class="cm-header-label-con title-decorator-border ">
        <h2 class="cm-header-label"> Your Itinerary </h2>
</div>
<div class="taj-air-package-cnt">
    <div class="package-title">
            <h2 class="cm-header-label ">  Package Details</h2>
    </div>
    <div class="package-name-wrp clearfix">
        <div class="package-from-to">
                Delhi-Agra(1night)-Jaipur(2 nights)-Delhi
        </div>
        <button class="cm-btn-secondary another-offer">CHOOSE ANOTHER OFFER</button>
    </div>
    <div class="row pakage-details-wrp">
        <div class="col-md-3 jet-name">
                Falcon 2000LX Super Midsize Jet
        </div>
        <div class="col-md-2 package-cst-wrp">
                Package cost: 
                <span>34,22,000*</span>
        </div>
        <div class="col-md-3 package-price-wrp">
                Price per person: 
            <span>4,27,750*</span>
        </div>
        <div class="col-md-2 package-baggage-wrp">
                Baggage per person: 
            <span>50 kgs</span>
        </div>
        <div class="col-md-2 package-no-of-person">
                No. of persons:
                <span>8</span>
        </div>        
    </div>
</div>