<sly data-sly-use.clientlib="/apps/tajhotels/asyncclientlib/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='cq.authoring.dialog'}"/>
<sly data-sly-use.gallerySelection="${'com.ihcl.core.models.dialog.gallery.DialogGallerySelectionFetcherService' @ nodeName=properties.name}"/>
<div class="gallery-image-selector">
    <div class="coral-Form-fieldwrapper">
        <label class="coral-Form-fieldlabel">Images source</label>
        <coral-tooltip placement="right" target="_prev">Source of Images using which gallery will be populated
        </coral-tooltip>

        <coral-select class="coral-Form-field" data-name="./${properties.name}/./galleryImageSource"
                      onchange="gallerySourceSelectionChanged(this)" onready="gallerySourceSelectionReady">
            <sly data-sly-test.staticSource="${gallerySelection.sourceSelection == 'static'}">
                <coral-select-item value="children">List of Images Under a Directory In Dam</coral-select-item>
                <coral-select-item value="static" selected=true>Select individual images</coral-select-item>
            </sly>
            <sly data-sly-test="${!staticSource}">
                <coral-select-item value="children" selected=true>List of Images Under a Directory In Dam
                </coral-select-item>
                <coral-select-item value="static">Select individual images</coral-select-item>
            </sly>
        </coral-select>
    </div>

    <sly data-sly-use.staticSelection="static-selection.html"/>
    <sly data-sly-call="${staticSelection.staticSelection @ staticSource=staticSource, gallerySelection=gallerySelection, properties=properties}"/>

    <sly data-sly-use.listSelection="list-selection.html"/>
    <sly data-sly-call="${listSelection.listSelection @ gallerySelection=gallerySelection}"/>

</div>
