<template data-sly-template.listSelection="${@gallerySelection}">
    <div id="gallery-image-selector-list-option" style="display: none">

        <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel">Parent Path</label>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S"></coral-icon>
            <coral-tooltip target="_prev" placement="left">Choose the path under which images exist</coral-tooltip>

            <foundation-autocomplete class="coral-Form-field" role="combobox" name=./${properties.name}/./parentPath
                                     pickersrc="/mnt/overlay/granite/ui/content/coral/foundation/form/pathfield/picker.html?_charset_=utf-8&amp;root=%2fcontent&amp;filter=hierarchyNotFile&amp;selectionCount=single">

                <coral-taglist foundation-autocomplete-value name=./${properties.name}/./parentPath>
                    <coral-tag value="${gallerySelection.parentPath}">${gallerySelection.parentPath}</coral-tag>
                </coral-taglist>

            </foundation-autocomplete>

        </div>

        <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel">Depth</label>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S"></coral-icon>
            <coral-tooltip target="_prev" placement="left">Number of levels to recurse in search of images in the
                specified directory.
            </coral-tooltip>

            <coral-numberinput class="coral-Form-field" name=./${properties.name}/./depth value="${gallerySelection.depth}">
            </coral-numberinput>
        </div>
    </div>
</template>
