<template data-sly-template.imageItem="${@imagePath, properties}">

    <coral-multifield-item>
        <foundation-autocomplete class="coral-Form-field" role="combobox" name="./${properties.name}/./images"
                                 pickersrc="/mnt/overlay/granite/ui/content/coral/foundation/form/pathfield/picker.html?_charset_=utf-8&amp;root=%2fcontent&amp;filter=hierarchyNotFile&amp;selectionCount=single">

            <coral-taglist foundation-autocomplete-value name="./${properties.name}/./images">
                <coral-tag value="${imagePath}">${imagePath}</coral-tag>
            </coral-taglist>

        </foundation-autocomplete>
    </coral-multifield-item>
</template>


