<template data-sly-template.staticSelection="${@staticSource, gallerySelection, properties}">

    <div id="gallery-image-selector-static-option" class="coral-Form-fieldwrapper" style="display: none">
        <label class="coral-Form-fieldlabel">Add images</label>
        <coral-multifield class="coral-Form-field">
            <template coral-multifield-template="">
                <foundation-autocomplete name=./${properties.name}/./images
                                         pickersrc="/mnt/overlay/granite/ui/content/coral/foundation/form/pathfield/picker.html{value}?_charset_=utf-8&amp;root=%2fcontent&amp;filter=hierarchyNotFile&amp;selectionCount=single"
                                         data-foundation-validation="">
                    <coral-taglist foundation-autocomplete-value=""
                                   name=./${properties.name}/./images>
                        <coral-tag value=""></coral-tag>
                    </coral-taglist>
                </foundation-autocomplete>
            </template>

            <sly data-sly-test="${staticSource}">
                <sly data-sly-use.imageItemLib="static-selection-multifield-item.html"/>
                <sly data-sly-list.staticImage="${gallerySelection.getSelectedStaticImagePaths}">
                    <sly data-sly-unwrap data-sly-call="${imageItemLib.imageItem @ imagePath=staticImage, properties=properties}"/>
                </sly>
            </sly>
            <button type="button" is="coral-button" coral-multifield-add=""
                    class="coral-Button coral-Button--secondary"
                    size="M" variant="secondary">
                <coral-button-label>Add</coral-button-label>
            </button>
        </coral-multifield>

    </div>
</template>
