<div
        data-sly-use.offer="com.ihcl.core.models.PartnerPromotionOfferModel"
        class="offers-page-card-component col-lg-4 col-md-6 col-xs-12"
        data-offerType="${offer.offerTypes}"
        data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
        <div class="offers-card-inner-wrapper">

                <!-- src="/content/dam/tajhotels/english/our-hotels/mumbai/taj-mahal-palace/offers-card-image-1@2x.png" -->

                <sly
                        data-sly-call="${imagetemplate.damImageTemplate @ imagePath= offer.offerImage ? offer.offerImage :'/content/dam/tajhotels/in/en/offers/offerBanner.png',styleClass='offers-card-image', lazyload='true'}"></sly>
                <div class="offers-card-main">
                        <div class="offers-card-title">${offer.offerTitle}</div>
                        <div class="offers-card-description">${offer.offerShortDesc}</div>
                        <div class="offers-card-footer clearfix">
                                <div data-sly-test=${offer.validityDate} class="offer-validity">
                                        Valid till
                                        <div class="offer-validity-date">${offer.validityDate}</div>
                                </div>
                                <a class="offer-view-details button-view-details" href="${offer.resourceURL}">
                                        <button
                                                class="cm-btn-secondary">BOOK NOW</button>
                                </a>
                        </div>
                </div>
        </div>
</div>
