<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='holidays-hotellist'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />


<div data-sly-test.edit=${wcmmode.edit}>
<h5>Aggregated Campaign Hotel List are configurable in this section</h5></div>

<div class="cm-content-blocks destination-package-card-container">
<div class="row">
<sly data-sly-use.hotelList="com.adobe.cq.wcm.core.components.models.List"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html">
     <sly data-sly-list.listItem="${hotelList.items}">
        <sly data-sly-use.hotelProperties="${'com.ihcl.core.models.holidays.hotel.HolidaysHotelPropertyFetcher' @ path=listItem.path}">
<div class="col-lg-12 col-md-12 col-sm-12 holidays-dest-package-card-outer-wrap">
    <div class="clearfix holidays-dest-package-card-wrap">
        <div class="holidays-dest-package-card-points-mobile">
            <div class="holidays-dest-package-card-points">
                <sly data-sly-test.hasTicPoints="${hotelProperties.hotelDetails.ticPoints!=''}">
                    <span class="value">${hotelProperties.hotelDetails.ticPoints}</span>
                    <span class="type">TIC</span>
                </sly>
            </div>
            <div class="holidays-dest-package-card-points">
                <sly data-sly-test.hasEpicurePoints="${hotelProperties.hotelDetails.epicurePoints!=''}">
                    <span class="value">${hotelProperties.hotelDetails.epicurePoints}</span>
                    <span class="type">Epicure</span>
                </sly>
            </div>
        </div>
        <div class="holidays-dest-package-card-img-con">
        	<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=hotelProperties.hotelDetails.hotelImagePath, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />
        </div>
        <div class="holidays-dest-package-card-sub-con clearfix">
            <div class="holidays-dest-package-card-details-con">
                <div class="holidays-dest-package-card-heading">${hotelProperties.hotelDetails.hotelName}</div>
                <div class="ho-map-link">
                    <a class="inline-block ho-hotel-location-link" target="_blank" href="https://www.google.com/maps/search/?api=1&amp;query=${hotelProperties.hotelDetails.hotelLatitude},${hotelProperties.hotelDetails.hoteLongitude}">
                    <img class="ho-location-icon ho-cm-icon inline-block" src="/content/dam/tajhotels/icons/style-icons/location-icon-brown.svg" alt = "location icon"/>
                    <span class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt">${hotelProperties.hotelDetails.hotelArea},${hotelProperties.hotelDetails.hotelCity}</span>
                    </a>
                    <div class="mr-hotel-distanceFrom-airport">${hotelProperties.hotelDetails.hotelLocationStat}</div>
                </div>
            <div class="holidays-dest-package-card-desc">${hotelProperties.hotelDetails.hotelDescription @context='html'}</div>
            </div>
            <div class="holidays-dest-package-card-inclusions-con">
                <div class="mr-list-hotel-specifications" data-sly-test.hasUSPs=${hotelProperties.hotelDetails.uspLs}>
                    <div class="row">
                        <sly data-sly-list.uspList=${hotelProperties.hotelDetails.uspLs}>
                        <div class="col-6 col-md-12 col-lg-6 ho-each-ameneties-sec">
                            <div class="image-container">
                                 <i class="ho-signature-icon ${uspList.signatureFeatureIcon}"></i> 
                            </div>
                            <div class="ho-signature-name inline-block">${uspList.signatureFeaturePoint}</div>
                        </div>
                        </sly>
                    </div>
                </div>
            </div>
        <div class="holidays-dest-package-card-rates-con">
            <div class="holidays-dest-package-card-rate-ind">${hotelProperties.hotelDetails.ratePerNightlabel}</div>
            <div>
                <div class="holidays-dest-package-card-rate-actual"><span class="currency">${hotelProperties.hotelDetails.currencySymbol}</span><span class="amount">${hotelProperties.hotelDetails.hotelDiscountedRate}</span></div>
            </div>
            <div class="holidays-dest-package-card-points-con">
            </div>
            <a href="${hotelProperties.hotelDetails.hotelRoomsPath}?from=${properties.packageValidityStartDate}&nights=${properties.nights}&rateTab=PKG" target="_blank">
            <button class="cm-btn-secondary campaigns-dest-package-card-btn">EXPLORE</button>
            </a>
        </div>
        </div>
    </div>
</div>
        </sly>
     </sly>
</sly>
</div>
</div>

