<template
        data-sly-template.damImageTemplate="${ @ imagePath,styleClass,bannerClass,renditionPathSuffix,lazyLoad,mobileImage, mobileRenditionPathSuffix, heightAuto}"
        data-sly-use.image="${'com.ihcl.core.models.DAMImageWrapper' @ imageReference=imagePath,renditionPathSuffix=renditionPathSuffix, mobileImageReference=mobileImage, mobileRenditionPathSuffix=mobileRenditionPathSuffix, encodeImagePath=true }"
        xmlns="http://www.w3.org/1999/html">
<sly data-sly-test.concatenated="${[styleClass, heightAuto ? 'height-auto' : ''] @ join = ' '}"/>
    <picture class="${bannerClass || 'bannerImage'}">
        <source type="image/jpeg" media="(max-width: 767px)"
                srcset="${!lazyload &&image.mobileRenditionPath}"
                data-src="${lazyLoad && image.mobileRenditionPath}"
                alt="${image.mobileAlternateText ? image.mobileAlternateText : 'alternate text for image'}"
                title="${image.mobileTitle}"
        />

        <source type="image/jpeg" media="(min-width: 768px)"
                srcset="${!lazyload && image.renditionPath}"
                data-src="${lazyload && image.renditionPath}"
                alt="${image.alternateText ? image.alternateText : 'alternate text for image'}"
                title="${image.title}"
        />
        <img class="${concatenated}"
             src="${lazyLoad? '/content/dam/tajhotels/greyplaceholder.png':image.renditionPath}"
             data-src="${lazyLoad && image.renditionPath}"
             alt="${image.alternateText ? image.alternateText : 'alternate text for image'}"
             title="${image.title}"
             width="100%"/>
    </picture>
</template>