.banner-about-us-content {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
    width: 450px;
    width: 28.125rem;
    margin: auto;
}

.banner-about-us-container .cm-header-label {
    text-shadow: none;
}


.banner-image-con {
    position: relative;
    text-align: center;
    color: #fff;
  /*height: 510px;*/
    height: 510px;
    height: 31.875rem;
}

@media only screen and (max-width: 991px) {
    .banner-image-con {
        height: auto;
    }
}

.cm-banner-image {
    width: 100%;
    height: 510px;
}

.cm-banner-image img {
    height: 100%;
}

.banner-titles {
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-family: Calibri;
}

.banner-titles .cm-header-label-con {
    display: inline-block !important;
    position: relative;
    margin-bottom: 30px !important;
}

.banner-titles .cm-header-label-con.title-decorator-border::after {
    left: 50%;
    margin-left: -50px;
}

.banner-titles .cm-header-label {
    color: #fff;
    font-size: 40px;
    text-shadow: 1px 5px 10px #000000;
}

.banner-titles .banner-label-below-title-lg {
    font-size: 40px;
}

.banner-titles .banner-label-below-title-sm {
    font-size: 20px;
    text-shadow: 1px 5px 10px #000000;
}

@media only screen and (max-width: 480px) {
    .cm-banner-image {
        display: none;
    }

    .banner-label-below-title-lg {
        display: none;
    }

    .banner-label-below-title-sm {
        display: none;
    }

    .banner-titles {
        position: initial;
        height: initial;
        margin-top: 35px;
    }

    .banner-titles .cm-header-label {
        font-size: 30px;
        font-family: "Calibri-Bold";
        color: #4a4a4a;
        text-shadow: none;
    }

    .banner-titles .cm-header-label-con.title-decorator-border::after {
        left: 50%;
        margin-left: -50px;
        -ms-transform: none;
        transform: none;
    }

    .banner-titles .cm-header-label-con {
        margin-bottom: 0 !important;
    }
}

