<sly data-sly-test="${wcmmode.edit}">
    <p data-sly-unwrap="${properties.headline}" data-emptytext="Configure ${component.title}"
       class="cq-placeholder"></p>
</sly>
<sly data-sly-use.imageTemplate="tajhotels/components/content/amp/image-template/image-template.html">
	<sly data-sly-test="${pageProperties.sitePath != 'ama'}">
		<div class="brand-image-wrapper">
			<div class="brand-logo">
				<div class="brand-img" data-sly-test.image="${properties.brandImage @ context='html'}">
					<sly data-sly-call="${imageTemplate.damImageTemplate @ imagePath=image , renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', layout='fill'}"></sly>
				</div>
				<amp-img layout="fill" src="${properties.imgMob}"></amp-img>
			</div>
		</div>
		<div class="brand-description">
			<p class="description-text-brand">${properties.description @context="html"}</p>
		</div>
	</sly>
	<sly data-sly-test="${pageProperties.sitePath == 'ama'}">
		<div class="brand-image" data-sly-test.image="${properties.brandImage @ context='html'}">
			<sly data-sly-call="${imageTemplate.damImageTemplate @ imagePath=image, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', layout='fill'}"></sly>
		</div>
		<div class="brand-logo">
			<sly data-sly-call="${imageTemplate.damImageTemplate @ imagePath=properties.imgMob, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', layout='fill'}"></sly>
		</div>
		<div class="brand-description">${properties.description @context="html"}</div>
		<div class="brand-link">
			<a href="${properties.buttonLink}">
				<button class="cm-btn-secondary ${pageProperties.sitePath}">${properties.buttonText}</button>
			</a>
		</div>
	</sly>
</sly>