@rem: 16rem;
.about-specific-city-container {
    padding: 38/@rem 26/@rem 38/@rem 38/@rem;
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    @media only screen and (max-width: 991px) {
        padding: 20/@rem;
    }
    @media only screen and (max-width: 480px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .specific-city-showMap-popup {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;
        z-index: 100;
    }
    .specific-city-header-wrapper {
        font-family: Calibri-bold;
        font-size: 1.88rem;
        color: #323232;
        @media only screen and (max-width: 991px) {
            font-size: 24/@rem;
        }
        .specific-city-header {
            display: inline;
        }
        .specific-city-show-map {
            display: inline;
            float: right;
            position: relative;
            bottom: 21/@rem;
            &.local-city {
                @media only screen and (max-width: 991px) {
                    display: none;
                }
            }
        }
    }
    .specific-city-wrapper {
        margin-top: 17/@rem;
        .specific-city-details-container {
            padding-right: 20/@rem;
            padding-left: 0;

            @media only screen and (max-width: 991px) {
                padding-right: 0;
            }
            @media only screen and (max-width: 480px) {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            .spec-about-city {
                font-size: 1rem;
                color: #4a4a4a;
                font-family: Calibri;
                .spec-about-city-subheader {
                    font-family: Calibri-bold;
                    margin-bottom: 9/@rem;
                     @media only screen and (max-width: 767px) {
                     line-height:1.2;
                     }
                }
                .spec-city-desc {
                    line-height: 1.25;
                }
            }
        }
        .specific-city-image-conatiner {
            padding-left: 20/@rem;
            padding-right: 0;
            .image-container {
                background: #ccc;
                height: 287px;
                @media only screen and (max-width: 767px) {
                    height: 196/@rem;
                }
                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    height: 30rem;
                }
            }


            @media only screen and (max-width: 767px) {
                margin-top: 1rem;
                padding-left: 0px;
            }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                padding-left: 0px;
                margin-top: 1rem;
            }
            @media only screen and (max-width: 480px) {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

.cm-map-btn {
    @media only screen and(max-width: 991px) {
        display: inline;
    }
    width: 2.25rem;
    margin-left: 1rem;
    display: none;
    @media only screen and (max-width: 479px) {
        margin-left: 13/@rem;
    }
    @media only screen and (max-width: 340px) {
        margin-left: 4/@rem;
    }
}

.add-to-wishlist-btn {
    &.loc-city {
        @media only screen and (max-width: 340px) {
            margin-right:5/@rem !important;
        }
    }
}

.specific-city-showMap-mobileView {
    display: none;
}