.about-specific-city-container {
    padding: 38px 26px 38px 38px;
    padding: 2.375rem 1.625rem 2.375rem 2.375rem;
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .about-specific-city-container {
        padding: 1.3125rem;
    }
}

.about-specific-city-container .specific-city-showMap-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 100;
}

.about-specific-city-container .specific-city-header-wrapper {
    font-family: Calibri-bold;
    font-size: 35px;
    font-size: 2.1875rem;
    color: #323232;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .about-specific-city-container .specific-city-header-wrapper {
        font-size: 1.5rem;
    }
}

.about-specific-city-container .specific-city-header-wrapper .specific-city-header {
    display: inline;
}

.about-specific-city-container .specific-city-header-wrapper .specific-city-show-map {
    display: inline;
    float: right;
    position: relative;
    bottom: 21px;
    bottom: 1.3125rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .about-specific-city-container .specific-city-header-wrapper .specific-city-show-map.local-city {
        display: none;
    }
}

.about-specific-city-container .specific-city-wrapper {
    margin-top: 17px;
    margin-top: 1.0625rem;
}

.about-specific-city-container .specific-city-wrapper .specific-city-details-container {
    display: inline-block;
    width: 43%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-details-container {
        width: 100%;
    }
}

.about-specific-city-container .specific-city-wrapper .specific-city-details-container .spec-about-city {
    font-size: 16px;
    font-size: 1rem;
    color: #4a4a4a;
    font-family: Calibri;
}

.about-specific-city-container .specific-city-wrapper .specific-city-details-container .spec-about-city .spec-about-city-subheader {
    font-family: Calibri-bold;
    margin-bottom: 9px;
    margin-bottom: 0.5625rem;
}

.about-specific-city-container .specific-city-wrapper .specific-city-details-container .spec-about-city .spec-city-desc {
    line-height: 1.25;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-details-container {
        width: 41%;
    }
}

.about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner {
    width: 51%;
    display: inline-block;
    float: right;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner {
        width: 100%;
        display: block;
        float: none;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

.about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner .about-carousel-images {
    width: 100%;
    height: 100%;
}

.about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner .leftArrow {
    top: 50%;
    margin-top: -16px;
    margin-top: -1rem;
    left: -7%;
}

.about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner .leftArrow img {
    width: 17px;
    width: 1.0625rem;
    height: 32px;
    height: 2rem;
}

.about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner .rightArrow {
    top: 50%;
    margin-top: -16px;
    margin-top: -1rem;
    right: 0;
}

.about-specific-city-container .specific-city-wrapper .specific-city-carousel-conatiner .rightArrow img {
    width: 17px;
    width: 1.0625rem;
    height: 32px;
    height: 2rem;
}

.cm-map-btn {
    background: none;
    width: 36px;
    width: 2.25rem;
    margin-left: 19px;
    margin-left: 1.1875rem;
    display: none;
    padding: 0;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .cm-map-btn {
        display: inline;
    }
}

.specific-city-showMap-mobileView {
    display: none;
}

.mr-specific-City-carousel-wrapper {
    overflow-x: hidden;
    width: 580px;
    width: 36.25rem;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .mr-specific-City-carousel-wrapper {
        width: 100%;
        overflow: auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .about-city-carousel-images-mobile:first-child {
        margin-left: 0 ! important;
    }
}

.mr-viewGallery-about-carousel-wrapper {
    text-align: right;
}

.viewGallery-aboutCarousel {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: var(--primaryColor);
    text-decoration: underline;
    font-weight: bold;
}

.viewGallery-aboutCarousel:hover {
    color: var(--primaryColor);
}

.mr-each-about-carousel-wrapper {
    height: 326px;
    height: 20.375rem;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .mr-each-about-carousel-wrapper {
        height: initial;
    }
}
