@rem: 16rem;
.local-city-card-wrap {
    background-color: #fafafa;
    height: 186/@rem;
    @media only screen and (min-width: 992px) {
        height: 170/@rem;
    }
    .local-city-image-cont {
        width: 40%;
        display: inline-block;
        height: 100%;
        @media only screen and (min-width: 992px) {
            width: 27%
        }
        img {
            height: 100%;
            width: 100%;
        }
    }
    .local-city-details-cont {
        width: 59%;
        float: right;
        display: inline-block;
        font-family: Calibri;
        color: #4a4a4a;
        @media only screen and (min-width: 992px) {
            width: 71%;
            
        }
        @media only screen and (max-width: 991px) {
            padding-top: 0;
            margin-top: 15/@rem;
        }
        .loc-city-header {
            font-size: 1.375rem;
            @media only screen and (max-width: 991px) {
                line-height: 0.83;
            }
        }
        .loc-city-location {
            font-size: 1rem;
            color: #9b9b9b;
            display: table;
            @media only screen and (max-width: 991px) {
                font-size: 0.875rem;
                line-height: normal;
                display: table;
                width: 100%;
                margin-top: 5/@rem;
            }
            img {
                display: table-cell;
                vertical-align: middle;
            }
            div {
                display: table-cell;
                vertical-align: middle;
                line-height: 1;
            }
        }
        .loc-city-contact {
            font-size: 0.875rem;
            color: #9b9b9b;
            margin-top: 5/@rem;
        }
        .loc-city-time-activity-cont {
            
            .loc-city-time {
                display: inline;
                color: #979797;
                font-size: 0.875rem;
                @media only screen and (max-width: 991px) {
                    display: none;
                }
            }
            .loc-city-activity {
                @media only screen and (min-width: 992px) {
                    display: inline;
                    vertical-align: text-bottom;
                }
            }
        }
    }
}

.mr-experinces-Button-wrap.local-city-card {
    width: 65%;
    float: right;
    @media only screen and (max-width: 450px) {
        width: 73%;
    }
}