@rem: 16rem;
.cm-specific-showMap-con {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 100;
    .active {
        display: block !important;
        .local-city-card-wrap {
            border: 2px solid var(--primaryColor);
        }
    }
    .cm-specific-showMap-overLay.bas-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(74, 74, 74, 0.55);
    }
    .cm-specific-showMap {
        position: absolute;
        width: 83%;
        background: #ffffff;
        box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
        top: 10%;
        left: 0;
        right: 0;
        margin: auto;
        .loc-showMap-close-cont {
            width: 100%;
            .showMap-close {
                width: 24/@rem;
                height: 24/@rem;
                position: absolute;
                top: 10/@rem;
                right: 10/@rem;
                cursor: pointer;
            }
        }
        .loc-showMap {
            padding: 50/@rem;
            .loc-showMap-header-wrap {
                margin-bottom: 21/@rem;
                @media only screen and (max-width: 991px) {
                    z-index: 500;
                    position: fixed;
                    background: white;
                    width: 90%;
                    top: 105/@rem;
                    left: 5%;
                    padding: 10/@rem;
                    margin: 0;
                }
                .local-showmap-header {
                    display: inline-block;
                    font-family: Calibri-bold;
                    font-size: 24/@rem;
                    color: #1b1b1b;
                    vertical-align: -webkit-baseline-middle;
                    @media only screen and (max-width: 991px) {
                        font-size: 1rem;
                        width: 40%;
                    }
                }
                .local-showMap-filter {
                    display: inline-block;
                    float: right;
                    width: 20%;
                    @media only screen and (max-width: 991px) {
                        width: 60%;
                    }
                    .filter-dropdown-label {
                        display: inline;
                    }
                }
            }

            .loc-showMap-subHeader-wrap {
                font-family: Calibri;
                font-size: 14/@rem;
                color: #979797;
            }
            .loc-showMap-container {
                margin-top: 10/@rem;
                height: 500/@rem;
                .loc-showMap-cards-wrap {
                    display: inline-block;
                    padding-right: 10px !important;
                    .loc-showMap-cards {
                        overflow: auto;
                        height: 500/@rem;
                        background-color: #d8d8d8;
                    }
                }
            }
        }
    }
}



.loc-showMap-map-warp {
    display: inline-block;
    float: right;
    padding-left: 23/@rem !important;
    height: 100%;
    .map-container-loc {
        height: 100%;
        width: 100%;
        position: relative;
        @media only screen and (max-width: 991px) {
            position: fixed;
            right: 0;
            bottom: 0;
        }
        .map-local-back {
            width: 12px;
            height: 20px;
            position: absolute;
            left: 20px;
            top: 20px;
            @media only screen and (min-width: 992px) {
                display: none;
            }
        }
        .local-showMap {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        .selected-location-hotels.local-places {
            display: none;
            position: absolute;
            bottom: 19/@rem;
            min-height: 154/@rem;
            width: 100%;
            .hotel-wrapper {
                @media only screen and (min-width: 992px) {
                    padding-right: 16/@rem
                }
            }

            .hotel-parent {
                @media only screen and (max-width: 991px) {
                    padding-right: 10/@rem;
                    padding-left: 10/@rem;
                }
            }
            @media only screen and (max-width: 991px) {
                display: block;
            }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                bottom: 5.5rem;
            }
        }
    }
}

.loc-cards-wrapper {
    margin-bottom: 10/@rem;
}

.selectSubContainer.local-area-filter {
    width: 47%;
    vertical-align: middle;
}

/* Fixes by Nixon */
.about-specific-city {
	.cm-specific-showMap-con .cm-specific-showMap {
		bottom: 10%;
		.loc-showMap {
			height: 100%;
			.loc-showMap-subHeader-wrap {
				display: none;
			}
			.loc-showMap-container {
				height: 90%;
				.loc-showMap-cards-wrap {
					height: 100%;
					.loc-showMap-cards {
						height: 100%;
						.local-city-card-wrap {
							height: auto;
							min-height: 11.625rem;
							display: flex;
							.local-city-image-cont {
								background: #ccc;
								height: auto;
							}
							.loc-city-activity {
								margin-top: 5px;
							}
						}
						.loc-city-header {
							line-height: 1;
							margin-bottom: 0.5rem;
						}
					}
				}
			}
			.loc-showMap-header-wrap .local-showMap-filter {
				.filter-dropdown-wrap {
					text-align: right;
				}
			}
		}
	}
	@media only screen and (max-width: 991px) {
		.cm-map-btn {
    		display: inline;
    		margin-left: 0;
		}
	}
}

.display-hide,
.gm-style-mtc,
.gm-svpc {
    display: none;
}
.gm-bundled-control-on-bottom {
    .gmnoprint {
        display: none;
    }
}
@media only screen and (max-device-width: 991px) and (min-device-width: 320px){
.local-showMap-filter .selectSubContainer .selectboxit-container .selectboxit-option-icon-container{
margin-left: 0px !important;
}
}