.mr-stickyScroll {
    position: fixed ! important;
    width: 100% !important;
    top: 0 !important;
    bottom: auto !important;
    z-index: 6 !important;
}

.cm-page-container {
    background: #d8d8d8;
}

.cm-page-container .row {
    margin: auto;
}

.cm-page-container [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.cm-page-container .header {
    width: 100%;
    background: #ffffff;
}

.cm-page-container .header .header-nav-prelogin-search {
    display: none;
    position: relative;
    z-index: 7;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper {
    position: fixed;
    top: 72px;
    top: 4.5rem;
    left: 0;
    right: 0;
    bottom: initial;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper {
        top: 0;
    }
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap::before {
    left: 0px;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .explore-taj-content {
    background: #ffffff;
    padding-left: 32px;
    padding-left: 2rem;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input {
    background: #ffffff;
    opacity: 1;
    color: #323232;
    font-size: 24px;
    font-size: 1.5rem;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-webkit-input-placeholder {
    color: #c9c9c9;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-moz-placeholder {
    color: #c9c9c9;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input:-ms-input-placeholder {
    color: #c9c9c9;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::placeholder {
    color: #c9c9c9;
}

.cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .nav-prelogin-close {
    display: block;
    position: absolute;
    right: -33px;
    top: 22px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .header .header-nav-prelogin-search .search-and-suggestions-wrapper .nav-prelogin-close {
        display: none;
    }
}

.cm-page-container .banner-container {
    width: 100%;
    position: relative;
}

.cm-page-container .banner-container .search-container {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .banner-container .search-container {
        bottom: 7px;
        padding: 0px 4px;
    }
}

.cm-page-container .cm-header-label-con {
    font-size: 30px;
    font-family: Calibri-Bold;
    color: #1b1b1b;
    margin-bottom: 57px;
    position: relative;
    display: block;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .cm-header-label-con {
        font-size: 24px;
        text-align: center;
        margin-bottom: 37px;
        display: block;
    }
}

.cm-page-container .cm-header-label-con .cm-header-label {
    line-height: 1;
    display: inline-block;
}

.cm-page-container .cm-header-label-con .cm-header-sublevel {
    line-height: 1;
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 476px;
    margin-top: 17px;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .cm-header-label-con .cm-header-sublevel {
        display: none;
    }
}

.cm-page-container .cm-header-label-con .cm-header-offers {
    display: inline-block;
    position: absolute;
    right: 0;
    color: var(--primaryColorDark);
    font-size: 16px;
    border-bottom: 1px solid var(--primaryColorDark);
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .cm-header-label-con .cm-header-offers {
        display: none;
    }
}

.cm-page-container .content-wrapper {
    margin: 65px auto 81px;
  /*@media only screen and (min-device-width : 1025px) and (max-device-width : 1400px) {
            max-width: 960px;
        }
        @media only screen and (min-device-width : 960px) and (max-device-width : 1024px) {
            max-width: 900px;
        }*/
}

.cm-page-container .content-wrapper .cm-content-blocks {
    margin-top: 50px;
}

.cm-page-container .content-wrapper .cm-content-blocks:first-child {
    margin-top: 75px;
}

@media only screen and (max-width: 767px) {
    .cm-page-container .content-wrapper .cm-content-blocks:first-child {
        margin-top: 40px;
    }
}

.cm-page-container .footer {
    width: 100%;
    background-color: #efeeee;
}

@media only screen and (max-width: 480px) {
    .cm-page-container .content-wrapper {
        margin: 30px auto 58px;
        max-width: 100%;
    }
}

.title-decorator-border {
    position: relative;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.title-decorator-border::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100px;
    background-color: var(--primaryColor);
    left: 0;
    bottom: -10px;
}

@media only screen and (max-width: 767px) {
    .title-decorator-border {
        text-align: center;
        font-size: 20px;
    }

    .title-decorator-border::after {
        left: 50%;
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }
}

.offers-button-wrapper {
    display: none;
    margin-top: 30px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .offers-button-wrapper {
        display: block;
    }
}

.leftArrow {
    position: absolute;
    left: -5%;
    bottom: 38%;
    z-index: 1;
    cursor: pointer;
}

.leftArrow img {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .leftArrow {
        display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 960px) {
    .leftArrow {
        display: none;
    }
}

.rightArrow {
    position: absolute;
    cursor: pointer;
    right: -5%;
    bottom: 38%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .rightArrow {
        display: none;
    }
}

@media only screen and (min-device-width: 550px) and (max-device-width: 960px) {
    .rightArrow {
        display: none;
    }
}

::-webkit-scrollbar {
    display: none;
}

.popular-destination-wrap,
.offers-and-deals-wrap,
.cm-inner-carousel-wrap {
    overflow-x: hidden;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .popular-destination-wrap,
  .offers-and-deals-wrap,
  .cm-inner-carousel-wrap {
        overflow-x: scroll;
    }
}

@media only screen and (min-device-width: 550px) and (max-device-width: 960px) {
    .popular-destination-wrap,
  .offers-and-deals-wrap,
  .cm-inner-carousel-wrap {
        overflow-x: scroll;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.hotels-container {
    margin-top: 24px;
    margin-bottom: 240px;
    width: 100%;
    position: relative;
    padding-top: 20px;
    min-height: 500px;
}

@media only screen and (max-width: 767px) {
    .hotels-container {
        margin-top: 30px;
        margin-bottom: 0px;
        height: auto;
        min-height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .cm-page-container {
        background: #f5f5f5;
    }

    .offers-container {
        margin-top: 29px !important;
    }
}

@media only screen and (max-width: 767px) {
    .cm-page-container {
        background: #f5f5f5;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .participating-hotels {
        padding-top: 50px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .participating-hotels {
        padding-top: 80px;
    }
}

.participating-hotels-show-more,
.dining-hotels-show-more {
    text-align: center;
    font-size: 16px;
    color: var(--primaryColor);
    font-weight: bold;
    font-family: Calibri;
    margin-top: 30px;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2px;
}

.participating-hotels-show-more img,
.dining-hotels-show-more img {
    margin-left: 10px;
    vertical-align: baseline;
}

.participating-hotels-search {
    position: absolute;
    right: 0;
    top: 40px;
    width: 43.2%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .participating-hotels-search {
        width: 100%;
        top: 96px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .participating-hotels-search {
        width: 92%;
        top: 96px;
        margin: 0 4%;
    }
}

.specific-hotels-page .content-wrapper {
    margin-bottom: 16px;
}

.specific-hotels-page .content-wrapper .cm-content-blocks:first-child {
    margin-top: 26px;
}

.specific-hotels-page .content-wrapper .cm-content-blocks {
    margin-top: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-page .content-wrapper .cm-content-blocks {
        margin-top: 26px;
    }
}

.specific-hotels-page .specific-hotels-breadcrumb {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.specific-hotels-page .specific-hotels-breadcrumb a {
    font-weight: bold;
    color: var(--primaryColor);
    text-decoration: underline;
}

.specific-hotels-page .specific-hotels-breadcrumb span {
    color: #4a4a4a;
    margin: 0 5px;
    margin: 0 0.3125rem;
}

.specific-hotels-page .specific-hotels-breadcrumb span:last-child {
    margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-page .specific-hotels-breadcrumb {
        display: none;
    }
}

.specific-hotels-page .specific-hotels-breadcrumb.mobile-view-visible {
    display: block;
    background-color: #efeeee;
    margin-bottom: -24px;
    margin-bottom: -1.5rem;
    mix-blend-mode: multiply;
    padding-left: 25px;
    padding-left: 1.6rem;
    margin-top: 24px;
    margin-top: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .specific-hotels-page .specific-hotels-breadcrumb.mobile-view-visible {
        display: none;
    }
}

.specific-hotels-page .specific-hotels-main-tab-container {
    width: 100%;
}

.specific-hotels-page .room-selection-data {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: Calibri;
}

.specific-hotels-page .room-selection-data span:first-child {
    color: var(--primaryColor);
    font-weight: bold;
}

.specific-hotels-page .room-selection-data span:nth-child(2) {
    color: #8d8d8d;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .specific-hotels-page .room-selection-data {
        margin-left: 15px;
        font-size: 1.25rem;
    }
}

@media only screen and (max-device-width: 320px) {
    .specific-hotels-page .room-selection-data {
        font-size: 1rem;
    }
}

.specific-hotels-page .rate-tab-container {
    padding-right: 63px;
    padding-right: 3.9375rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .specific-hotels-page .rate-tab-container {
        padding-right: 0;
    }
}

.specific-hotels-page .rate-tax-disclaimer {
    color: #323232;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    margin-top: 71px;
    padding-left: 10px;
    padding-left: 0.625rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-page .rate-tax-disclaimer {
        margin-left: 1rem;
        margin-top: 41px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-page .rate-cards-container {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-page .rooms-suites-container {
        display: none;
    }
}

.specific-hotels-page .offers-header-wrapper {
    display: none;
}

.specific-hotels-page .footer {
    margin-bottom: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-page .footer {
        margin-bottom: 80px;
    }
}

.destination-layout .destination-layout-breadcrumb {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.destination-layout .destination-layout-breadcrumb a {
    font-weight: bold;
    color: var(--primaryColor);
    text-decoration: underline;
}

.destination-layout .destination-layout-breadcrumb span {
    color: #4a4a4a;
    margin: 0 5px;
    margin: 0 0.3125rem;
}

.destination-layout .destination-layout-breadcrumb a:last-child {
    margin: 0;
    color: #4a4a4a;
    text-decoration: none;
    font-weight: normal;
    cursor: auto;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .destination-layout .destination-layout-breadcrumb {
        display: none;
    }
}

.destination-layout .content-wrapper {
    margin-top: 25px;
}

.destination-layout .mr-view-toggler-switch-Container {
    width: 130px;
    width: 8.125rem;
    height: 35px;
    height: 2.1875rem;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .destination-layout .mr-view-toggler-switch-Container {
        width: 6.25rem;
    }
}

.destination-layout .mr-Filter-checkbox-wrap {
    display: inline-block;
    margin-right: 30px;
    margin-right: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .destination-layout .mr-Filter-checkbox-wrap {
        display: none;
    }
}

.destination-layout .mr-filter-sort-wrap {
    display: inline-block;
    float: right;
    width: 578px;
    width: 36.125rem;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .destination-layout .mr-filter-sort-wrap {
        width: 10.5rem;
        text-align: left;
        display: table;
    }
}

.destination-layout .mr-sortBy-wrap {
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .destination-layout .mr-sortBy-wrap {
        display: table-cell;
        vertical-align: middle;
        padding-left: 0.5rem;
    }
}

.destination-layout .mr-filterIconWrap {
    display: none;
}

@media only screen and (max-width: 767px) {
    .destination-layout .mr-filterIconWrap {
        display: table-cell;
        vertical-align: middle;
        width: 10%;
        padding-right: 0.5rem;
        border-right: 1px solid #979797;
    }

    .destination-layout .mr-filterIconWrap img {
        width: 1.6875rem;
        height: 1.4375rem;
    }
}

.destination-layout .mr-sortByFilterLablel {
    display: inline-block;
}

.destination-layout .selectcontainerSortBy {
    width: 130px;
    width: 8.125rem;
}

@media only screen and (max-width: 767px) {
    .destination-layout .selectcontainerSortBy {
        font-size: 1rem;
    }
}

.destination-layout .mr-filterCheckBox-label {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11;
    color: #1b1b1b;
    position: relative;
    margin-right: 32px;
    margin-right: 2rem;
    cursor: pointer;
}

.destination-layout .mr-filter-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.destination-layout .mr-filter-checkbox + span.mr-inputCustomShape {
    background-color: #ffffff;
    width: 20px;
    width: 1.25rem;
    height: 20px;
    height: 1.25rem;
    position: absolute;
    content: ' ';
    left: -32px;
    left: -2rem;
    border: 1px solid var(--primaryColor);
    margin-right: 10px;
    margin-right: 0.625rem;
}

.destination-layout input[type="checkbox"].mr-filter-checkbox:checked + span.mr-inputCustomShape {
    background-image: url(../../../assets/images/checkBox-tick.svg);
    background-size: 0.875rem 0.6875rem;
    background-repeat: no-repeat;
    background-position: center;
}

.destination-layout .mr-view-Toggler-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.destination-layout .mr-view-Toggler-wrap .mr-list-switch,
.destination-layout .mr-view-Toggler-wrap .mr-map-switch {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.destination-layout .mr-list-switch.mr-view-toggler-style,
.destination-layout .mr-map-switch.mr-view-toggler-style {
    border-radius: 0.125rem;
    background-image: var(--linearGradient);
}

.destination-layout .mr-list-switch.mr-view-toggler-style .mr-listSwitch-text,
.destination-layout .mr-map-switch.mr-view-toggler-style .mr-listSwitch-text,
.destination-layout .mr-list-switch.mr-view-toggler-style .mr-mapSwitch-text,
.destination-layout .mr-map-switch.mr-view-toggler-style .mr-mapSwitch-text {
    color: #ffffff;
}

.destination-layout .mr-map-switch,
.destination-layout .mr-list-switch {
    background-color: #e7e6e6;
}

.destination-layout .mr-listSwitch-text,
.destination-layout .mr-mapSwitch-text {
    padding-left: 5px;
    padding-left: 0.3125rem;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 0.71;
    letter-spacing: 0px;
    letter-spacing: 0.0375rem;
    color: #c3c3c3;
}

@media only screen and (max-width: 767px) {
    .destination-layout .mr-listSwitch-text,
  .destination-layout .mr-mapSwitch-text {
        display: none;
    }
}

.destination-layout .mr-view-Toggler-wrap {
    cursor: pointer;
}

.specific-hotels-back-con {
    margin-top: 26px;
}

.specific-hotels-back-con a {
    font-family: Calibri-Bold;
    color: var(--primaryColor);
    font-size: 16px;
    font-size: 1rem;
}

.specific-hotels-back-con a:hover {
    text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-back-con {
        display: none;
    }
}

.specific-hotels-offer-content {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    color: #323232;
    margin-bottom: 57px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-offer-content {
        margin: 0 15px 26px;
    }
}

.specific-hotels-offers {
    margin-bottom: 42px !important;
}

.book-ind-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10;
    bottom: 0;
}

.cart-layout {
    background: #f5f5f5;
}

.cart-layout .content-wrapper {
    margin-top: 20px !important;
}

.cart-layout .cart-hotel-card-container {
    margin-top: 35px !important;
}

.cart-layout .total-price-header .carts-add-room {
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .cart-layout .total-price-header {
        display: none;
    }
}

.cart-layout .cart-selected-rooms-addons-container {
    margin-bottom: 88px;
}

.cart-layout .cart-selected-rooms-addons-container .cart-addons-container {
    display: none;
    margin-bottom: 19px;
}

.cart-layout .cart-selected-rooms-addons-container .cart-addons-container.show-addons {
    display: block;
}

.cart-layout .cart-selected-rooms-addons-container .rates-tax-text {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.38;
    color: #323232;
    margin: 16px 0 8px;
    margin: 1rem 0 0.5rem;
}

.cart-layout .cart-footer-fixed-total-price {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    padding-top: 22px;
    padding-top: 1.4rem;
    min-height: 88px;
    min-height: 5.5rem;
    text-align: center;
}

.cart-layout .cart-footer-fixed-total-price .total-price-back {
    display: none;
}

.cart-layout .cart-footer-fixed-total-price .total-prize-con {
    position: relative;
    margin-top: -12px;
    line-height: 1;
}

.cart-layout .cart-footer-fixed-total-price .total-prize-con div {
    float: none;
}

.cart-layout .cart-footer-fixed-total-price .total-prize-con div:first-child {
    font-size: 14px;
    font-size: 0.875rem;
    position: absolute;
    right: 9px;
}

.cart-layout .cart-footer-fixed-total-price .total-prize-con div:last-child {
    margin-top: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .cart-layout .cart-footer-fixed-total-price .total-prize-con {
        margin-top: 0;
    }
}

.cart-layout .cart-footer-fixed-total-price .best-deal-desc {
    line-height: unset;
}

.specific-hotels-content-wrap .about-specific-city {
    min-height: 450px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-content-wrap .about-specific-city {
        min-height: 448px;
    }
}

.specific-hotels-content-wrap .about-specific-hotel {
    min-height: 230px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-content-wrap .about-specific-hotel {
        min-height: 241px;
    }
}

.specific-hotels-content-wrap .advertisement-specific-hotel {
    height: 200px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .specific-hotels-content-wrap .advertisement-specific-hotel {
        height: 143px;
    }
}

.visible {
    display: block !important;
}

.hidden {
    display: none;
}

.cart-layout .header-warpper .navbar-nav .book-stay-btn,
.checkout-layout .header-warpper .navbar-nav .book-stay-btn {
    display: none;
}
