<script>

function checkTheFlow(hotelContainerId,resourcePath){
	//debugger;
	//Please dont try to move this function to JS as this has sightly tags involved, which needs server side resolution
	var isRedirectToRoomAndSuits = '${properties.redirectToRoomSuits @ context="html" }';
	var typeOfFlow = '${properties.membershipType @ context="html" }';
	var newHostValue = '${properties.newHostValue @ context="html"}';
	if(newHostValue === '') {
		newHostValue = 'tajhotels';
	}

	var isOpenLinkInSametab = '${properties.openLinkInSameTab @ context="html" }';
	if(isOpenLinkInSametab) {
		$('#' + hotelContainerId).attr("target", "_self");
	}

	if(window.location.port) {
		currentHostValue = window.location.hostname + ':' + window.location.port;
	} else {
		currentHostValue = window.location.hostname;
	}

	var finalHrefValue = resourcePath;
	if (window.location.href.includes('www.tajinnercircle.com') && (window.location.href.indexOf('/en-in/participating-hotels/') === -1 || 
			window.location.href.indexOf('/en-in/taj-alliance-preferred-partner-membership/participating-hotels/') === -1 || 
			window.location.href.indexOf('/en-in/taj-advantage-plus/participating-hotels/') === -1)) {
		if(resourcePath.includes('www.tajhotels.com')) {
			finalHrefValue = resourcePath.replace('tajhotels', 'tajinnercircle')
		} else if(resourcePath.includes('www.seleqtionshotels.com')) {
			finalHrefValue = resourcePath.replace('seleqtionshotels', 'tajinnercircle')
		} else if(resourcePath.includes('www.vivantahotels.com')) {
			finalHrefValue = resourcePath.replace('vivantahotels', 'tajinnercircle')
		}
		$('#' + hotelContainerId).attr("href", finalHrefValue);
	}

	var bookingOptionsSessionData = dataCache.session.getData("bookingOptions");
	var userDetails = getUserData();
	if (bookingOptionsSessionData && userDetails && userDetails.card && userDetails.card.tier) {
		bookingOptionsSessionData.flow = typeOfFlow;
		if (isRedirectToRoomAndSuits) {
			if (typeOfFlow === 'taj-holiday-redemption') {
				roomsAndSuitesResourcePath = finalHrefValue + "/rooms-and-suites?taj-holiday-redemption";
			} else if(typeOfFlow === 'ticRoomRedemption' || typeOfFlow === 'tap' || typeOfFlow === 'tappme' || typeOfFlow === 'tic' || typeOfFlow === 'all') {
				roomsAndSuitesResourcePath = finalHrefValue + "/rooms-and-suites";
				if (roomsAndSuitesResourcePath.indexOf(currentHostValue) != -1) {
					roomsAndSuitesResourcePath = roomsAndSuitesResourcePath.replace(currentHostValue, 'www.'+newHostValue+'.com');
				}
			}
			else {
				roomsAndSuitesResourcePath = finalHrefValue + "/rooms-and-suites";
				if (roomsAndSuitesResourcePath.indexOf(currentHostValue) != -1) {
					roomsAndSuitesResourcePath = roomsAndSuitesResourcePath.replace(currentHostValue, 'www.'+newHostValue+'.com');
				}
			}
			$('#' + hotelContainerId).attr("href", getCorrectedURL(roomsAndSuitesResourcePath));
		} else {
			if (typeOfFlow === 'taj-holiday-redemption') {
				$('#' + hotelContainerId).attr("href", finalHrefValue + "?taj-holiday-redemption");
			} else {
				$('#' + hotelContainerId).attr("href", finalHrefValue);
			}
		}
		dataCache.session.setData("bookingOptions", bookingOptionsSessionData);
	} else if (isRedirectToRoomAndSuits === "true") {
		if(typeOfFlow === 'ticRoomRedemption' || typeOfFlow === 'tap' || typeOfFlow === 'tappme' || typeOfFlow === 'taj-holiday-redemption' || typeOfFlow === 'tic' || typeOfFlow === 'all') {
			roomsAndSuitesResourcePath = finalHrefValue + "/rooms-and-suites";
		}
		$('#' + hotelContainerId).attr("href", getCorrectedURL(roomsAndSuitesResourcePath));
	} else {
		$('#' + hotelContainerId).attr("href", finalHrefValue);
	}
	return true;
}

</script>

<!-- TIC ROOM REEMPTION/  TAJ HOLIDAYS REDEMPTION FLOW -->
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
		data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
		data-sly-call="${clientlib.all @ categories='taj.hotels.components.our-hotels'}" />

<div data-sly-test.contentPath="${inheritedPageProperties.siteConfigHomePath}" />
<sly data-sly-test.otherPaths="${pageProperties.otherPaths}" />

<div class="our-hotels-attribs" data-sly-use.list="${'com.ihcl.core.models.DestinationsList' @ siteConfigContentPath = contentPath, otherWebsitePaths= otherPaths }"
	 data-redirectToRoomSuits='${properties.redirectToRoomSuits @ context="html" }'
	 data-membershipType='${properties.membershipType @ context="html" }'
	 data-newHostValue='${properties.newHostValue @ context="html"}'
	 data-openLinkInSameTab='${properties.openLinkInSameTab @ context="html" }'
>
	<sly data-sly-use.searchTmpl="search/search.html"
		 data-sly-call="${searchTmpl.search @ list=list}"></sly>
	<div data-sly-attribute.class="${properties.hideMap ? 'hide-map hotels-container' : 'hotels-container'}">
		<div class="our-hotel-wrapper">
			<div data-sly-attribute.class="${properties.hideMap ? 'hotel-allContent-wrapper full-width' : 'hotel-allContent-wrapper'}">
				<sly data-sly-test="${properties.membershipType =='all'}" >
					<div class="our-hotels-container inner website-brand">
						<h1 class="destinations-title">${properties.brandDestinationTitle}</h1>
						<sly data-sly-list.website="${list.destinationHotelsBean}">
							<sly data-sly-test="${website.websiteHotelsCount != 0}">
								<sly data-sly-use.hotelCard="our-hotel-card.html" />
								<sly data-sly-test.websiteId="${inheritedPageProperties.dataLayerHierarchyName}" />
								<sly data-sly-unwrap data-sly-call="${hotelCard.website @hotelObject=website, websiteName=websiteId}" />

							</sly>
						</sly>
					</div>
					<div class="our-hotels-container inner other-brand">
						<h1 class="destinations-title">${properties.otherDestinationTitle}</h1>
						<sly data-sly-list.website="${list.destinationHotelsBean}">
							<sly data-sly-test="${website.websiteHotelsCount == 0 && website.otherHotelsCount != 0}">
								<sly data-sly-use.hotelCard="our-hotel-card.html" />
								<sly data-sly-test.websiteId="${inheritedPageProperties.dataLayerHierarchyName}" />
								<sly data-sly-unwrap data-sly-call="${hotelCard.website @hotelObject=website, websiteName=websiteId}" />

							</sly>
						</sly>
					</div>
					</sly>
					<sly data-sly-test="${properties.membershipType !='all'}">

					<div class="our-hotels-container inner website-brand">
					
						<sly data-sly-test="${properties.membershipType=='tic'}">
							<sly data-sly-list.website="${list.ticHotelsList}">
								<sly data-sly-test="${website.totalHotelsCount != 0}">
									<sly data-sly-use.hotelCard="tic-hotel-card.html" />
									<sly data-sly-test.websiteId="${inheritedPageProperties.dataLayerHierarchyName}" />
									<sly data-sly-unwrap data-sly-call="${hotelCard.website @hotelObject=website, websiteName=websiteId}" />

								</sly>
							</sly>
						</sly>
						<sly data-sly-test="${properties.membershipType=='ticRoomRedemption'}">

							<sly data-sly-list.website="${list.ticRoomRedemptionList}">
                                
								<sly data-sly-test="${website.totalHotelsCount != 0}">
									<sly data-sly-use.hotelCard="tic-hotel-card.html" />
									<sly data-sly-test.websiteId="${inheritedPageProperties.dataLayerHierarchyName}" />
									<sly data-sly-unwrap data-sly-call="${hotelCard.website @hotelObject=website, websiteName=websiteId}" />

								</sly>
							</sly>
						</sly>
						<sly data-sly-test="${properties.membershipType=='tap'}">

							<sly data-sly-list.website="${list.ticTapHotelsList}">
                                
								<sly data-sly-test="${website.totalHotelsCount != 0}">
									<sly data-sly-use.hotelCard="tic-hotel-card.html" />
									<sly data-sly-test.websiteId="${inheritedPageProperties.dataLayerHierarchyName}" />
									<sly data-sly-unwrap data-sly-call="${hotelCard.website @hotelObject=website, websiteName=websiteId}" />

								</sly>
							</sly>
						</sly>
						<sly data-sly-test="${properties.membershipType=='tappme'}">
							<sly data-sly-list.website="${list.ticTapMeHotelsList}">
								<sly data-sly-test="${website.totalHotelsCount != 0}">
									<sly data-sly-use.hotelCard="tic-hotel-card.html" />
									<sly data-sly-test.websiteId="${inheritedPageProperties.dataLayerHierarchyName}" />
									<sly data-sly-unwrap data-sly-call="${hotelCard.website @hotelObject=website, websiteName=websiteId}" />

								</sly>
							</sly>
						</sly>
						<sly data-sly-test="${properties.membershipType=='taj-holiday-redemption'}">
							<sly data-sly-list.website="${list.tajholidaysTicHotelsList}">
								<sly data-sly-test="${website.totalHotelsCount != 0}">
									<sly data-sly-use.hotelCard="tic-hotel-card.html" />
									<sly data-sly-test.websiteId="${inheritedPageProperties.dataLayerHierarchyName}" />
									<sly data-sly-unwrap data-sly-call="${hotelCard.website @hotelObject=website, websiteName=websiteId}" />

								</sly>
							</sly>
						</sly>
					</div>
					
				</sly>
				
			</div>
			<div class="map-container map-overlay" data-sly-test="${!properties.hideMap}">
				<div id="map"></div><img class="map-back-icon" src="/content/dam/tajhotels/icons/style-icons/exploreTaj.svg" alt="search-icon" />
				<div class="selected-location-hotels">
					<div class="hotel-list">
						<div class="carousel slide" id="hotels-carousel" data-ride="carousel">
							<div class="carousel-inner card-carousel">
							</div>
						</div>
						<div class="carousel-data-cards" data-sly-list="${list.destinations}">
							<sly data-sly-resource="${ '{0}/jcr:content' @ format=[item], resourceType='tajhotels/components/content/our-hotels/destination-carousel-item' }"></sly>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<sly data-sly-use.config="com.ihcl.core.models.config.TajApiKeyConfigModel" >
	<!--<script src="https://maps.googleapis.com/maps/api/js?key=${config.getGoogleMapApiKey}&amp;libraries=places"></script>-->
</sly>