<template data-sly-template.website="${@hotelObject, websiteName}" xmlns="http://www.w3.org/1999/html">
   <sly data-sly-test.destinations="${hotelObject.destinationDetails}" />
	   <div class="card-wrapper" id="dest-${destinations.destinationId}" onclick="changePosition(event)" data-city="${destinations.destinationCityTag}" data-title="${destinations.destinationTitle}">
		  <div class="hotel-location-container">
			 <div class="hotel-container">
				<div class="image-cont" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
				   <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= destinations.destinationImage ? destinations.destinationImage :'/content/dam/tajhotels/logos/taj-logos/img-taj@2x.png',styleClass='hotel-image-container',renditionPathSuffix='/jcr:content/renditions/cq5dam.web.141.141.jpeg'}"></sly>
				</div>
				<div class="hotel-details-container">
				   <div class="hotel-details"> <a class="hotel-details">${destinations.destinationTitle}</a></div>
				   <div class="arrow-container"><img src="/content/dam/tajhotels/icons/style-icons/dropDown.svg" alt="dropDown icon"></div>
				  <sly data-sly-test.otherhotels="${hotelObject.totalHotelsCount > 1 ? 'Hotels' : 'Hotel'}" />
				   <div data-sly-test="${hotelObject.totalHotelsCount >= 1}" class="destination-property property-container">${hotelObject.totalHotelsCount} ${otherhotels} </div>

				  
				</div>
			 </div>
		  </div>
		  <div class="hotel-properties-container">
			 <sly data-sly-test.hotelItems="${hotelObject.hotelsMap['website']}">
				<sly data-sly-list.hotels="${hotelItems.hotelsList}">
				   <sly data-sly-use.urlMap="${'hotel-card/url-map.js' @ reqUrl=hotels.hotelPath, isTajhotelsHost=properties.newHostValue=='tajhotels'}"/>
				   <sly  data-sly-test="${hotels.hotelName!= null}">
					  <a class="hotel-container expand-hotels" id="hotel-${hotels.hotelID}" href="${hotels.hotelPath}.html"
						 onclick="return checkTheFlow('hotel-${hotels.hotelID @context='scriptToken' }','${urlMap.mappedUrl @context='html'}');"
						 target="_blank"
						 data-lat=${hotels.additionaldetails.latitude} data-lng=${hotels.additionaldetails.longitude}
						 data-hotelTypes=${hotels.additionaldetails.hotelTypes} data-location=${hotels.additionaldetails.hotelLocation}
						 data-title=${hotels.hotelName} data-brand=${hotels.hotelBrandName}>
						 <div class="image-cont" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
							<sly
							   data-sly-call="${imagetemplate.damImageTemplate @ imagePath= hotels.hotelBannerImage ? hotels.hotelBannerImage :'/content/dam/tajhotels/logos/taj-logos/img-taj@2x.png',styleClass='hotel-image-container',renditionPathSuffix='/jcr:content/renditions/cq5dam.web.141.141.jpeg'}"></sly>
						 </div>
						 <div class="hotel-details-container hotel-card">
							<div class="hotel-details card-info">${hotels.hotelName}</div>
							<div class="property-container">${hotels.additionaldetails.hotelArea}</div>
						 </div>
				   </sly>
				   </a>
				</sly>
			 </sly>
			 </sly>
			 <sly data-sly-test.otherHotelItems="${hotelObject.hotelsMap['others']}">
			 
				<sly data-sly-list.hotels="${otherHotelItems.hotelsList}">
				   <sly data-sly-use.urlMap="${'hotel-card/url-map.js' @ reqUrl=hotels.hotelPath, isTajhotelsHost=properties.newHostValue=='tajhotels'}"/>
				   <sly  data-sly-test="${hotels.hotelName!= null}">
					  <a class="hotel-container expand-hotels" id="hotel-${hotels.hotelID}" href="${hotels.hotelPath}.html"
						 onclick="return checkTheFlow('hotel-${hotels.hotelID @context='scriptToken' }','${urlMap.mappedUrl @context='html'}');"
						 target="_blank"
						 data-lat=${hotels.additionaldetails.latitude} data-lng=${hotels.additionaldetails.longitude}
						 data-hotelTypes=${hotels.additionaldetails.hotelTypes} data-location=${hotels.additionaldetails.hotelLocation}
						 data-title=${hotels.hotelName} data-brand=${hotels.hotelBrandName}>
						 <div class="image-cont" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
							<sly
							   data-sly-call="${imagetemplate.damImageTemplate @ imagePath= hotels.hotelBannerImage ? hotels.hotelBannerImage :'/content/dam/tajhotels/logos/taj-logos/img-taj@2x.png',styleClass='hotel-image-container',renditionPathSuffix='/jcr:content/renditions/cq5dam.web.141.141.jpeg'}"></sly>
						 </div>
						 <div class="hotel-details-container hotel-card">
							<div class="hotel-details card-info">${hotels.hotelName}</div>
							<div class="property-container">${hotels.additionaldetails.hotelArea}</div>
						 </div>
				   </sly>
				   </a>
				</sly>
			 </sly> 
			 </sly>
			 <div class="show-more-imageUnderline com-hide" onclick="showMore(event)">
				<div>Show More</div>
			 </div>
		  </div>
	   </div>
</template>