.tic-monthly-event-card .monthly-event-card:nth-child(odd) .monthly-even-card-container {
    margin-right: 15px;
    margin-right: 0.9375rem;
}

.tic-monthly-event-card .monthly-event-card:nth-child(even) .monthly-even-card-container {
    margin-left: 15px;
    margin-left: 0.9375rem;
}

.tic-monthly-event-card .monthly-event-card:nth-last-child(1),
.tic-monthly-event-card .monthly-event-card:nth-last-child(2) {
    margin-bottom: 0px;
    margin-bottom: 0rem;
}

.tic-monthly-event-card .monthly-event-card {
    padding: 0px;
    padding: 0rem;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
    height: 100%;
}
.tic-monthly-event-card .monthly-event-card img{
            object-fit: unset;
        }
@media only screen and (max-width: 767px) {
    .tic-monthly-event-card .monthly-event-card {
        display: none;
    }

    .tic-monthly-event-card .monthly-event-card:first-child {
        display: block;
    }
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container {
    height: 100%;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 0.625rem 0.75rem 0 rgba(0, 0, 0, 0.05);
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header {
    padding-top: 18px;
    padding-top: 1.125rem;
    padding-bottom: 16px;
    padding-bottom: 1rem;
    background-color: #ffffff;
    border: none;    
    display:flex;
    justify-content: center;
    box-shadow: 0 -0.625rem 0.75rem 0 rgba(0, 0, 0, 0.05);
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header .offer-icon {
    width: 18px;
    width: 1.125rem;
    height: 18px;
    height: 1.125rem;
    vertical-align: middle;
    margin-right: 7px;
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header .offer-timings {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-left: 0.3125rem;
    margin-bottom: 0;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 0.89;
    color: #323232;
    margin-top:2px;
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header .offer-timings .offer-timings-shorter-text {
    display: none;
}

@media only screen and (max-width: 767px) {
	.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header .offer-icon{
	margin-right:0;
	width:1rem;
	height:1rem;
	}
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header .offer-timings .offer-timings-regular-text {
        display: none;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header .offer-timings .offer-timings-shorter-text {
        display: inline;
    }
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header .ticket-info-mobile {
    display: none;
    float: right;
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #d0021b;
    margin-top: 6px;
    margin-top: 0.375rem;
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-image {
    width: 100%;
    height: 410px;
    height: 25.625rem;
    background-color: gray;
    position: relative;
}
.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-image:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.009);
}

@media only screen and (max-width: 991px) {
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-image {
        height: 18.3125rem;
    }
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer {
    padding: 30px;
    padding: 1.875rem;
    border: none;
    background-color: #ffffff;
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 991px) {
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer {
        padding: 0.875rem 1.25rem 2.25rem 0.75rem;
    }
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: 5px;
    margin-right: 0.3125rem;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp {
        width: 40%;
    }
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-title {
    font-family: Calibri;
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 1;
    color: #323232;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

@media only screen and (max-width: 991px) {
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-title {
        font-size: 1.25rem;
        margin-bottom: 0.3125rem;
    }
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-venue {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #323232;
    text-transform: capitalize;
}

@media only screen and (max-width: 375px) {
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-venue {
    /*Added by Nixon*/
        font-size: 0.75rem;
        width: auto;
    }
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-right {
    display: inline-block;
    float: right;
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-right {
        padding-bottom: 1.25rem;
        width: 45%;
        text-align: right;
    }
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .event-tickets-info {
    display: block;
    vertical-align: middle;
    font-family: Calibri-italic;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: #d0021b;    
    padding: 0.375rem 0rem;
    min-width: 100px;
    min-width: 6.25rem;
    text-align: right;
    border-left: none;
}

@media only screen and (max-width: 991px) {
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .event-tickets-info {
        position: relative;
        font-size: 0.875rem;
        text-align: right;
    }
}

.tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .view-details-button {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
    letter-spacing: 0.1125rem;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .view-details-button {
        font-size: 0.775rem;
        height: 1.875rem !important;
        position: relative;
    }
}

@media only screen and (max-width: 425px) {
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .view-details-button {
    /*width: 120/@rem;*/
    /*Commented by nixon*/
    }
}

@media only screen and (max-width: 375px) {
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .view-details-button {
    /*Added by Nixon*/
        font-size: 0.75rem;
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .tic-monthly-event-card .monthly-event-card:nth-last-child(2) {
        margin-bottom: 1.25rem;
    }

    .tic-monthly-event-card .monthly-event-card:nth-child(odd) .monthly-even-card-container {
        margin-right: 0rem;
    }

    .tic-monthly-event-card .monthly-event-card:nth-child(even) .monthly-even-card-container {
        margin-left: 0rem;
    }

    .tic-monthly-event-card .monthly-event-card {
        margin-left: 0rem;
        margin-right: 0rem;
        margin-bottom: 1.25rem;
        padding: 0rem !important;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header {
        padding: 0.9375rem 0.8125rem 1.0625rem;
        text-align: left;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header .offer-timings {
        font-size: 1rem;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header .ticket-info-mobile {
        display: block;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-image {
        height: 17.375rem;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer {
        padding: 1rem 0.75rem 1.25rem 1.1875rem;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-title {
        font-size: 1.375rem;
        margin-bottom: 0.375rem;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-right {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        position: relative;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .event-tickets-info {
        padding: 0.3rem 0.3125rem;
        position: relative;
    }
}

@media only screen and (max-width: 767px) {
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header {
        text-align: left;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        position: relative;
        padding: 0.9375rem 1rem 1.0625rem;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header .offer-timings {
        font-size: 0.8125rem;
        text-align: left;
        line-height: 1.2;
        margin-left: 0.53125rem;

    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-header .ticket-info-mobile {
        display: none;
        margin-top: 0rem;
        line-height: 1.2;
        position: absolute;
        right: 0.8125rem;
        top: 0.9375rem;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer {
        padding: 1rem 1rem 1.25rem 1rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-title {
        font-size: 1.4375rem;
        margin-bottom: 0.375rem;
    }

    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-right .event-tickets-info {
        display: block;
    }
}

@media only screen and (max-width: 375px) {
    .tic-monthly-event-card .monthly-event-card .monthly-even-card-container .card-footer .event-info-wrp .event-title {
        font-size: 1.125rem;
    }
}
.free-booking-show{
    display: none;
}
div[data-tic="0"] .free-booking-show{
    display: block;
}
div[data-tic="0"] .free-booking-hide{
    display: none;
}
.event-price-details-wrp .logo{
    width: 20px;
}
.event-response-msg-wrp{
    height: 10rem;
    width: 100%;
        box-shadow: 0 0.625rem 0.75rem 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.event-response-msg-wrp .response-msg{
        color:#d29851;
    font-size: 1.5rem;
    font-weight: bold;
}
.d-none{
    display: none;
}

.taj-loader{
	display : block;
}