.carousel-images-container {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    padding: 0.75rem;
    .carousel-image-holder {
        width: 98.5%;
        padding: 0.25rem;
        + .carousel-image-holder {
            width: 49%;
            display: inline-table;
        }

        img {
            width: 100%;
            height:100%;
        }
        @media only screen and (max-width: 991px) {
		    flex: 0 0 43.333333%;
    		max-width: 43.333333%;
    		padding: 0;
    		padding-right: 0.25rem;
	    }
        @media only screen and (max-width: 767px) {
		    flex: 0 0 83.333333%;
    		max-width: 83.333333%;
    		
	    }
    }
    @media only screen and (max-width: 991px) {
	    display: flex;
    	flex-wrap: nowrap;
    	padding: 0;
    }
}

.top-label-con {
    padding-left: .75rem;
    padding-right: .75rem;
    @media only screen and (max-width: 991px) {
    	position: absolute;
    	bottom: 0;
    	right: 0;
    	padding: 0;
    }
}

