.image-container{
	display : inline-block;	
	width: 1.5rem;
	margin-bottom:8px;
	vertical-align: top;
    i{
        font-size: 1.5rem;
    }
	img{
		height: 100%;
		width: 100%;
		object-fit:contain;
	}
}

.ho-each-ameneties-sec .image-container i.ho-signature-icon.icon-seaView {
    font-size: 0.8rem;
}

.hotel-usp-header{
margin-top:2rem;
}

.hotel-usp-container{
margin-top:1rem !important;
}
.all-amenities-details-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    z-index: 10;
    overflow:auto;
}

.all-amenities-details-con {
    background-color: #fff;
    position: absolute;
    top:10%;
    bottom:10%;
    padding: 47px 40px 57px 47px;
    padding: 2.9375rem 2.5rem 3.5625rem 2.9375rem;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.07);
    overflow:hidden;
    margin:0 50px;
    left:0;
    right:0;
     @media only screen and (max-width: 767px) {
        padding: 2.5rem 1rem;
        width: 90%;
        margin: auto;
    }
}
.ho-second-section,.ho-services-n-amenities-con,.ho-items-list .ho-services-expanded{
    height:100%;
}
.ho-items-list{
    height:100%;
    overflow: auto;
        @media only screen and (max-width: 767px) {
         height:100%;
    }
}

.all-amenities-details-close {
    position: absolute;
    right: 11px;
    right: 0.6875rem;
    top: 10px;
    top: 0.625rem;
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    cursor: pointer;
}

.overview-contents-section{
    @media only screen and (max-width: 991px) {
        padding:0 !important;
    }
}
.gallery-section-wrapper{
    @media only screen and (max-width: 991px) {
        ::-webkit-scrollbar-thumb{
            background-color: transparent;
        }
    }   
}
.hotel-overview-container {
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    min-height: 500px;
    .mr-carousel-Content-wrap {
        display: block;
    }
    @media only screen and (max-width: 991px) {
        margin-left: 0;
        margin-right: 0;
        
    }
    @media only screen and (max-width: 767px) {
        margin-left: 16px;
        margin-right: 16px;
        box-shadow: none;
    }
}

.hotel-overview-wrapper {
    width: 96%;
    padding-top: 25px;
    padding-bottom: 35px;
}

.ho-single-img-con {
    margin-bottom: 26px !important;
}

.ho-multi-image img {
    height: 15.0625rem; 
}

.overview-images-section {
    position:relative;
    @media only screen and (max-width: 991px) {
        padding:0 0 20px !important;
        .gallery-section-wrapper{
            height: auto !important;
        }
    }
    
}

.overview-images-section [class*="col-"] {
    padding-right: 0.8125rem !important;
    padding-left: 0.8125rem !important;
}

.ho-services-show-all-con,
.ho-services-show-less-con {
    @media only screen and (max-width: 767px) {
        display: none;
    }
}

.ho-services-show-txt {
    display: table;
}

.ho-services-each-wrap {
    display: table;
    width: 100%;
}

.ho-service-icon {
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
}

.ho-service-icon-con {
	display: table-cell;
    vertical-align: top;
    width: 4%;
    padding-right: 5px;
}

.ho-service-icon-con img {
	height: 20px;
	width: 20px;
}

@media only screen and (max-width: 991px) {
	.ho-items-list .overview-ameneties-each-elem.ho-each-items:last-child {
		margin-right: 0;
	}
}

.view-photo-link-con {
    text-align: right;
    padding-right: 0.8125rem !important;
    margin-bottom: 16px;
    @media only screen and (max-width: 991px) {
        padding: 0 !important;
        margin-bottom: 0;
    }
}

.ho-btns-section {
    margin-top: 16px;
    .add-to-wishlist-btn {
        margin-right: 16px;
        vertical-align: top;
    }
}

.ho-overview-description {
    color: #323232;
    font-size: 1rem;
    font-family: Calibri;
    @media only screen and (max-width: 320px) {
        font-size: 0.75rem;
    }
}

.ho-header {
    font-family: Calibri-Bold;
    font-size: 2.25rem;
    line-height: initial;
    @media only screen and (max-width: 991px) {
        font-size: 1.5rem;
    }
}
a.ho-contact-number.hide-in-lg.inline-block{
    @media only screen and (max-width: 767px) {
        display: block;
    }
}

.ho-cm-link-txt {
    font-size: 0.875rem;
    letter-spacing: normal;
    text-transform: none;
    margin-top: 0;
    font-family: Calibri;
    vertical-align: bottom;
    border-bottom: none;
    text-decoration: underline;
    line-height: normal;
    word-break: break-word;
    @media only screen and (max-width: 767px) {
        font-size: 0.75rem;
       vertical-align: sub;
    }
}

.ho-cm-icon {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 3px;
    object-fit:contain;
    width: auto !important;
    @media only screen and (max-width: 375px) {        
        width: 25px;
        height:14px;
        text-align: center;
    }
}
span.ho-location-icon.ho-cm-icon.inline-block.icon-location {
    font-size: 1.5rem;
    vertical-align: top;
}
span.icon-phone-disabled.ho-cm-icon.ho-contact-icon.inline-block {
    font-size: 1.5rem;
    vertical-align: text-bottom;
}
.ho-map-link {
    @media only screen and (max-width: 767px) { 
        margin-bottom: 5px;
    }
}

.ho-contact-options-con {
    margin: 12px 0;
    @media only screen and (max-width: 767px) { 
        margin:0 0 6px;
    }
    .ho-contact-number{
        vertical-align: middle;
        position: relative;
        border-right: 1px solid #c3c3c3;
        line-height: 1.5;
        @media only screen and (max-width: 991px) {   
            line-height: normal;
            border-right: none;
        }
    }
    .ho-mail-to {     
        display: block;   
        position: relative;
        margin-left: 0;
        line-height: normal;
        vertical-align: middle;
        @media only screen and (max-width: 767px) {
            margin-left: 0;
            display: block;            
        }
    }    
}

.ho-header-small {
    font-family: Calibri-Bold;
    color: #323232;
    font-size: 1.25rem;
    margin-top: 25px;
    margin-bottom: 10px;
    line-height: initial;
    @media only screen and (max-width: 991px) {
        font-size: 1.125rem;
    }
    @media only screen and (max-width: 320px) {
        font-size: 0.875rem;
    }
}

.gallery-con-non-lg-device {
	@media only screen and (max-width: 991px) {
		padding-top: 1.75rem;
	}
}
.hotel-amenities-link {
	text-decoration: underline;
	@media only screen and (max-width: 991px) {
		margin-top: 20px;
	}
}

.ho-items-list {
    padding-left: 0;
    .ho-each-items {
        width: 32.5%;
        margin-bottom: 15px;
        vertical-align: top;
        @media only screen and (max-width: 991px) {
            width: 100%;
            &:last-child {
                margin-right: 1.625rem;
            }
        }
        @media only screen and (max-width: 320px) {
            width: 100%;
        }
    }
    .ho-each-items.overview-ameneties-each-elem {
    	.ho-service-name {
    		padding-right: 10px;
    	}
    	@media only screen and (max-width: 767px) {
    		padding: 0 !important;
    	}
    }
    .ho-service-name {
        font-family: Calibri;
        color: #323232;
        margin-left: 0.625rem;
        font-size: 0.875rem;
        display: table-cell;
        vertical-align: middle;
        padding-right: 5px;
        width: 80%;
        @media only screen and (max-width: 320px) {
            width: 85%;
        }
    }
}

.ho-hotel-policies-con {
    .ho-each-policy-list {
        font-family: Calibri;
        color: #323232;
        font-size: 1rem;
        @media only screen and (max-width: 320px) {
            font-size: 0.75rem;
        }
    }
}

.ho-hotel-essentials-con {
    .ho-each-essential-item.normal-txt {
        font-size: 1rem;
        font-family: Calibri;
        color: #000;
        position: relative;
        border: none;
        padding-right: 0;
        margin-right: 0;
        @media only screen and (max-width: 991px) {
            font-size: 0.875rem;
        }
    }
    .ho-each-essential-item {
        border-right: 1px solid #000;
        padding-right: 0.5rem;
        line-height: 1;
        margin-right: 0.25rem;
        @media only screen and (max-width: 991px) {
            font-size: 0.75rem;
        }
    }
    .ho-each-essential-item:last-child {
        border-right: 0;
        font-size: 1rem;
        @media only screen and (max-width: 991px) {
            font-size: 0.875rem;
        }
    }
}

.ho-inner-carousal-cards {
    height: 12.1875rem;
}

.hotel-overview-carousel-wrap {
    .cm-inner-carousal-cards:first-child {
        margin-left: 0 !important;
    }
}

.ho-third-section {
    margin-top: 25px;
}

.ho-view-gallery-txt {
    margin-top: 14px;
}

.disabled .ho-mail-to-txt {
    color: #585656;
    font-size: 0.875rem;
}

.ho-signature-icon {
    
    vertical-align: middle;
    padding-right: 5px;
}

 .ho-signature-name {
    font-family: Calibri;
    color: #323232;
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    width: ~'calc(100% - 2rem)';
    line-height: 1.2;
    word-break: break-word;
    @media only screen and (max-width: 767px) {        
        font-size:1rem;
    }
}

.cm-page-container .row .ho-ameneties-blocks-con {
    margin-top: 2rem;
}
@media only screen and (min-width: 768px) {
    .ho-ameneties-blocks-con .ho-each-ameneties-sec:nth-child(-n+4) {
        display: inline-block;
    }

    .ho-ameneties-blocks-con.active .ho-each-ameneties-sec {
        display: inline-block;
    }

    .ho-ameneties-blocks-con .ho-each-ameneties-sec {
        display: none;
    }
}

.cta-sellings-show-less {
    display: none;
}

@media only screen and (max-width: 767px) {
    .ho-ameneties-blocks-con .ho-each-ameneties-sec {
       display: none;
    }
    
    .cm-page-container [class*="col-"].ho-each-ameneties-sec {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .ho-ameneties-blocks-con .ho-each-ameneties-sec:nth-child(-n+2) {
       display: inline-block;
    }
    
    .ho-ameneties-blocks-con.active .ho-each-ameneties-sec {
        display: inline-block;
    }
    
    .ho-services-show-all-con, .ho-services-show-less-con {
        display: block;
        margin-top: 0.5rem;
    }
}

button.cm-btn-primary.cm-share-btn.loc-city {
    padding: 0.4rem;
    background: none;
}

.gallery-section-wrapper {
	.carousel-images-container {
		.carousel-image-holder {
			img {
				height: 12.5rem;
				@media only screen and (max-width: 991px) {
					min-height: auto;
					/*height: 265px;*/
				}
				@media only screen and (max-width: 767px) {
					min-height: auto;
					height: 182px;
				}
			}
			&:first-child img {
				height: 16.5625rem;
				@media only screen and (max-width: 991px) {
					height: 12.5rem;
				}
				@media only screen and (max-width: 767px) {
					min-height: auto;
					height: 182px;
				}
			}
		}
	}
}

.ho-each-ameneties-sec{
	margin-bottom:15px;
}

span.add-comma-mob.hide-in-lg.cm-view-link-txt.cm-view-txt {
   vertical-align: bottom;
}

.ho-contact-number.hide-in-sm.hide-in-md.inline-block.disabled {
    padding-right: 1rem;
}