@import (once) "/etc/clientlibs/wcm/foundation/grid/grid_base.less";

/* maximum amount of grid cells to be provided */
@max_col: 12;


/* example configuration *//* default breakpoint */
.aem-Grid {
 .generate-grid(lg, @max_col);
}


/* add gutter in the grid */
.aem-GridColumn {
}


/* Desktop breakpoint */
@media (max-width: 1200px) {
   .aem-Grid {
       .generate-grid(lg, @max_col);
   }
}

/* Tablet breakpoint */
@media (max-width: 992px) {
   .aem-Grid {
       .generate-grid(md, @max_col);
   }
}

/* Phone breakpoint */
@media (max-width: 768px) {
   .aem-Grid {
       .generate-grid(sm, @max_col);
   }
}

