.service-amenity {
    font-weight: 0.875rem;
    img {
        width: 22px;
        height: 22px;
    }
}

.service-amenity {
    .service-amenity-name {
        font-family: Calibri;
        font-weight: 0.875rem;
        height: 22px;
    }
}

