.ama-theme .feature-stay.background-grey {
    padding-bottom: 20px;}
.feature-stay-card-warp{
	width:1040px;
}
.feature-stay-card{
	min-height: 500px;
}
.feature-stay-card img{
	    width: 100%;
    height: 300px;
}
.bungalow-header{
	    font-family: var(--themeHeadingFontSemiBold);
    font-size: 20px;
}

.feature-stay-description{
    width: 60%;
    position: absolute;
    top: 55%;
    background: #ffffff;
    left: 20%;
	padding: 25px;

    }
.feature-stay-description p{
    margin-bottom:20px;
}
.feature-stay-description h6{
    font-family: var(--themeHeadingFontSemiBold);
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.67px;
}
.ama-theme .feature-stay-description .cm-btn-secondary{
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
}
.feature-stay-container .owl-item {
	opacity : 0.3;

}
.feature-stay .owl-theme .owl-dots .owl-dot{outline:none;}
.feature-stay .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 8px;
                }

.feature-stay-container .owl-item.center {
	opacity : 1;

}

.feature-stay-container .owl-next{
    position : absolute;
   	top: 23%;
    right: 10%;
	transform : rotate(180deg);
}

.feature-stay-container .owl-prev{
    position : absolute;
   	top: 23%;
    left: 10%;
}

.owl-theme .owl-nav [class*='owl-']:hover{
 		background: inherit; 
}
.owl-theme .owl-nav [class*='owl-']:focus{
 		outline : none !important; 
}

.align-items {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.79;
    letter-spacing: 1.56px;
}

.align-items a {
    color: var(--primaryColor);
}
.align-items :hover {
    text-decoration: none;
    color: inherit;
}
.owl-theme .owl-dots .owl-dot.active span{
	background : var(--primaryColor);    
}
@media only screen and (max-width: 767px) {
    .feature-stay-container .owl-nav{display:none;}
.feature-stay-description p {
    	display: -webkit-box;
    	-webkit-line-clamp: 2;
    	-webkit-box-orient: vertical;
    	overflow: hidden;
    	text-overflow: ellipsis;
        min-height: 45px;
     }
    .feature-stay-container .owl-stage-outer{padding-bottom: 20px;}
.feature-stay-description h6 {
    min-height: 46px;}

}
@media only screen and (min-width:320px) and (max-width:767px) {
    .feature-stay-card{
        display: flex;
        flex-direction: column;
    }
    .feature-stay-container .owl-nav{display:none;}
    .feature-stay-description{
        position: unset;
        width: 100%;
    }
    .ama-feature-stay{
        background: #f6f6f6;
    }
    .ama-theme .feature-stay.background-grey{
        padding: 0px 15px;
        padding-bottom: 20px;
    }
	.feature-stay-card-warp{
		width:100%;
	}
    .feature-stay-container .owl-item {
        opacity: 1;
    }

}

