
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.ihcl-DevSupport-tabs'}"></sly>



    <div class="mr-content-whole-wrapper">
    <div class="mr-tab-switch-wrapper" id="mr-tab-id">
        <div class="mr-switch-content tab-switch-active">
            <p class="mr-tab-desc"><span class="mr-tab-content">${properties.developmentassistanceTitle}</p>
            <p class="mr-tab-dsc-mobile">${properties.developmentassistanceTitle}</p>
        </div>
        <div class="mr-switch-content">
            <p class="mr-tab-desc"><span class="mr-tab-content">${properties.maretialsgroupTitle}</p>
            <p class="mr-tab-dsc-mobile">${properties.maretialsgroupTitle}</p>
        </div>
        <div class="mr-switch-content">
            <p class="mr-tab-desc"><span class="mr-tab-content">${properties.preopeningsupportTitle}</p>
            <p class="mr-tab-dsc-mobile">${properties.preopeningsupportTitle}</p>
        </div>
        <div class="mr-switch-content">
            <p class="mr-tab-desc"><span class="mr-tab-content">${properties.ownerprivilagesTitle}</p>
            <p class="mr-tab-dsc-mobile">${properties.ownerprivilagesTitle}</p>
        </div>
    </div>
    <div class="mr-content-wrapper">
        <div class="mr-content-description-wrap mr-active-content">
${properties.descriptionAssistance @context='html'}
        </div>
        <div class="mr-content-description-wrap">
${properties.descriptionMaterialgroup @context='html'}
        </div>
        <div class="mr-content-description-wrap">
${properties.descriptionpreopening @context='html'}
        </div>
        <div class="mr-content-description-wrap">
${properties.descriptionownerprivilages @context='html'}
        </div>
    </div>
</div>
