
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page'}" />
	<sly data-sly-test="${properties.isCareer}">
    	<iframe src="${properties.iframeUrl}" name="myFrame"
		style="border: 0; width: 100%; height: 100vh"></iframe>
    </sly>
	<sly data-sly-test="${!properties.isCareer}">
    	<iframe src="${properties.iframeUrl}" name="myFrame"
		style="border: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100vh"></iframe>
    </sly>
