<template data-sly-template.item>
    <sly data-sly-use.serviceAmenitiesModel="com.ihcl.core.models.serviceamenity.DialogGroupedServiceAmenitiesFetcher">
    <sly data-sly-list.allAmenity="${serviceAmenitiesModel.allAmenities}">
        <sly data-sly-use.serviceAmenitiesProperties="${'com.ihcl.core.models.serviceamenity.ServiceAmenityPropertiesFetcher' @ path=allAmenity}"/>
        <coral-multifield-item>
            <input hidden readonly is="coral-textfield" placeholder="${placeholder}" name="${properties.name}/./${serviceAmenitiesProperties.group}"
                   value="${serviceAmenitiesProperties.path}">
            <label class="coral-Form-fieldlabel">${serviceAmenitiesProperties.name}</label>
        </coral-multifield-item>
    </sly>
</template>

