<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='cq.authoring.dialog'}"/>
<sly data-sly-use.multiValueTextModel="com.ihcl.core.models.dialog.text.MultiValueTextModel"/>
<sly data-sly-use.serviceAmenititesFetcher="com.ihcl.core.services.serviceamenity.IAllAvailableServiceAmenitiesFetcher"/>
<div>
    <div class="coral-Form-fieldwrapper">
        <label class="coral-Form-fieldlabel">${properties.label}</label>
        <coral-multifield class="coral-Form-field">
            <template coral-multifield-template="">
                <coral-select data-name="${properties.name}">
                    <sly data-sly-list.amenities="${serviceAmenititesFetcher.getServiceAmenities}">
                        <coral-select-item value="${amenities.path}" data-name="${amenities.group}">${amenities.name}
                        </coral-select-item>
                    </sly>
                </coral-select>
            </template>

            <sly  data-sly-unwrap data-sly-use.itemLib="selected-amenity-view.html"
                 data-sly-call="${itemLib.item}"/>

            <input class="foundation-field-related" type="hidden" name="${properties.name}@Delete">

            <button type="button" is="coral-button" coral-multifield-add=""
                    class="coral-Button coral-Button--secondary"
                    size="M" variant="secondary">
                <coral-button-label>Add</coral-button-label>
            </button>
        </coral-multifield>
    </div>

</div>
