<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.taj-air-request-quote,taj.hotels.components.taj-air-quotation'}" />


<div class="hotels-event-request-quote taj-air-event-request-quote">
    <form class="event-request-quote-form mr-sub-form">
        <div class="mr-sub-form-row">
            <div class="flight-journey-details-cnt">
                <div class="flight-journey-details-wrp">
                    <div class="label-heading row">
                        <div class="col-md-3 sub-form-input-label">Departure Date</div>
                        <div class="col-md-3 sub-form-input-label">Departure Time</div>
                        <div class="col-md-3 sub-form-input-label">From</div>
                        <div class="col-md-3 sub-form-input-label to-label">To</div>
                        <div class="col-md-3 sub-form-input-label cm-hide">Return Date</div>
                        <div class="col-md-3 sub-form-input-label cm-hide">Return Time</div>
                    </div>
                    <div class="row flight-journey-details  single-flight-journey-detail-wrp">
                        <div class="col-md-3 col-12 sub-form-input-wrp book-a-jet-departure-date">
                            <div class="sub-form-input-label mr-hide">Departure Date*</div>
                            <div class="jiva-spa-date-section preferred-date-input-wrp">
                                <div class="jiva-spa-date-con event-quote-date-con">
                                    <input
                                        class="event-quote-date-value sub-form-input-element sub-form-mandatory departure-date"
                                        type="text" placeholder="Departure Date" aria-label="Departure Date" value=""
                                        disabled="disabled" id="event-quote-date-value0" />
                                    <div class="sub-form-input-warning"></div>
                                    <span class="icon-calendar-check-availability preferred-date-calendar-icon"></span>
                                </div>
                                <div class="jiva-spa-date" id="meeting-events-date0"></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 sub-form-input-wrp">
                            <div class="sub-form-input-label mr-hide">time*</div>

                            <input id=customer-departure-time name="customer-time" type=time min="0:00" max="100:59"
                                aria-label="Time" class=" sub-form-input-element sub-form-mandatory departure-time" />


                            <div class="sub-form-input-warning"></div>
                        </div>
                        <div class="col-md-3 col-12 sub-form-input-wrp">
                            <div class="sub-form-input-label mr-hide">Departure City 1*</div>
                            <input
                                class="event-quote-date-value sub-form-input-element sub-form-mandatory departure-city-from"
                                type="text" placeholder="From city" aria-label="City name" />
                            <div class="sub-form-input-warning"></div>
                        </div>
                        <div class="col-md-3 col-12 sub-form-input-wrp ">
                            <div class="sub-form-input-label mr-hide">To City *</div>
                            <input
                                class="event-quote-date-value sub-form-input-element sub-form-mandatory departure-city-to"
                                type="text" placeholder="To city" aria-label="City name" />
                            <div class="sub-form-input-warning"></div>
                        </div>
                        <div class="col-md-3 col-12 sub-form-input-wrp return-package-display">
                            <div class="sub-form-input-label">Return Date*</div>
                            <div class="jiva-spa-date-section preferred-date-input-wrp">
                                <div class="jiva-spa-date-con event-quote-date-con">
                                    <input
                                        class="event-quote-date-value sub-form-input-element sub-form-mandatory return-date"
                                        type="text" placeholder="Return Date" value="" disabled="disabled"
                                        id="event-quote-date-value1" aria-label="Return Date" />
                                    <div class="sub-form-input-warning"></div>
                                    <span class="icon-calendar-check-availability preferred-date-calendar-icon"></span>
                                </div>
                                <div class="jiva-spa-date meeting-events-date1"></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 sub-form-input-wrp return-package-display">
                            <div class="sub-form-input-label">Return Time*</div>

                            <input id="customer-return-time-journey" name="customer-return-time" type=time min="0:00"
                                max="100:59" aria-label="Time"
                                class=" sub-form-input-element sub-form-mandatory return-time" />

                            <div class="sub-form-input-warning"></div>
                        </div>
                        <div class="col-md-3 col-12 sub-form-input-wrp specify-time-select">
                            <div class="sub-form-input-label">You are specifying the time as*</div>
                            <div class="selectSubContainer">
                                <select
                                    class="customer-time-standards sub-form-input-element sub-form-mandatory form-timing"
                                    id="customer-time-standards">
                                    <option value="">Select</option>
                                    <option value="UTC">UTC</option>
                                    <option value="IST">IST</option>
                                </select>
                            </div>
                            <div class="sub-form-input-warning"></div>
                        </div>
                        <div class="col-md-3 col-12"></div>
                    </div>

                </div>
                <div class="add-remove-destination-wrap multi-city-display">

                    <button class="cm-btn-secondary add-city-btn " type="button">ADD CITY</button>
                    <button class="cm-btn-primary remove-city-btn " type="button">REMOVE</button>

                </div>
            </div>
        </div>
    </form>
    <div class="hotels-event-confirmation-popup">
        <div class="hotels-event-confirmation-overlay">
            <div class="hotels-event-confirmation-container">
                <div class="hotels-event-confirmation-inner-wrp container">
                    <img class="event-confirmation-close-icon" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg"
                        alt="close blue icon" />
                    <div class="cm-warning-box-logo-con">
                        <i class="toaster-logo icon-STAR-TAJ"></i>
                        <!-- <div class="warning-icon-con">
                            <img class="icon-warning" src="/content/dam/tajhotels/icons/style-icons/icon-warning.svg" alt = "warning icon">
                        </div> -->
                    </div>
                    <div class="event-confirmation-title">Thank you for your Request</div>
                    <div class="event-confirmation-descripion">Thank you for your interest. We will get back to you
                        within 48 hours</div>
                    <button class="cm-btn-secondary event-confirmation-close-btn" type="button">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="hotels-event-error-popup">
        <div class="hotels-event-error-overlay">
            <div class="hotels-event-error-container">
                <div class="hotels-event-error-inner-wrp container">
                    <img class="event-error-close-icon" src="/content/dam/tajhotels/icons/style-icons/close-blue.svg"
                        alt="close blue icon" />
                    <div class="cm-warning-box-logo-con">
                        <i class="toaster-logo icon-STAR-TAJ"></i>
                        <div class="warning-icon-con">
                            <img class="icon-warning" src="/content/dam/tajhotels/icons/style-icons/icon-warning.svg"
                                alt="warning icon">
                        </div>
                    </div>
                    <div class="event-error-title">500</div>
                    <div class="event-error-descripion">Server responded with a 500 Error, Kindly Check back later</div>
                    <button class="cm-btn-secondary event-confirmation-close-btn" type="button">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="spinner-con">
        <div class="taj-loader pg-spinner-wrap">
            <div class="taj-loader-circle"></div>
            <div class="taj-loader-circle"></div>
            <div class="taj-loader-circle"></div>
        </div>
    </div>

</div>


