<div data-sly-test.edit="${wcmmode.edit}">Holidays Offers List Component</div>
<div class="holidays-land-trendingOffers cm-content-blocks">
    <div class="holiday-trending-offers-wrapper"
        data-sly-use.model="com.ihcl.core.models.holidays.offers.IHolidaysOffersDetailsFetcher">
        <sly data-sly-list.listItem="${model.allHolidaysOffers}">
        <div class="rooms-and-suites-card offers-card-component col-lg-4 col-md-6 col-sm-12 holiday-trending">
            <div class="offers-card-inner-wrapper">
                <img class="offers-card-image" src="${listItem.OfferImage}" alt="hotel image" />
                <div class="rooms-and-suites-content">
                    <div class="room-title">${listItem.OfferTitle}</div>
                    <a class="link-text" target="_blank" href="${listItem.hotelLink}">${listItem.HotelName},
                        ${listItem.HotelCity}</a>
                    <div class="room-description holiday-desc">
                        <span>${listItem.OfferDescription}</span>
                    </div>
                    <div class="room-content-footer clearfix">
                        <div class="room-amenities-wrapper holiday-trend"
                            data-sly-test="${listItem.ListOfUserSellingPoints}">
                            <div class="room-amenities-title">Highlights</div>
                            <div class="room-available-amenities">
                                <div class="inclusion-wrapper">
                                    <sly data-sly-list.listInclusions=${listItem.ListOfUserSellingPoints}>
                                    <div class="inclusion-con">
                                        <img class="room-amenities-icon" src="${listInclusions.SignatureFeatureIcon}"
                                            alt="icon" />
                                        <span>${listInclusions.SignatureFeaturePoint}</span>
                                    </div>
                                    </sly>
                                </div>
                            </div>
                        </div>
                        <div class="room-cost-wrapper">
                            <div class="room-cost-title">Starting Rate</div>
                            <div class="room-cost-rupees">
                                <span>₹${listItem.OfferPrice}</span>
                            </div>
                            <a href="${listItem.offerpageLink}.html" target="_blank">
                                <button class="cm-btn-secondary" tabindex="-1">VIEW DETAILS</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </sly>
    </div>
</div>

