<sly
	data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.paymentOptions'}" />

<div class="checkout-enter-details-header payment cm-hide">
	<h2 class="checkout-form-title">${properties.detailsLabel}</h2>
	<div class="checkout-form-step-wrp form-step-wrp">
		<span> <span class="form-step">1</span> <span
			class="sub-form-heading">Guest Details</span>
		</span> <span> <span class="form-step active-form-step">2</span> <span
			class="sub-form-heading">Payment Details</span>
		</span>
	</div>
</div>
<div class="payment-details-wrp form-step-content">
    <div class="redeem-checkbox-wrp">
        <div id="tic-redeem">
            <label class="mr-filterCheckBox-label checkbox-inline d-none">
                <input class="mr-filter-checkbox redeem-points-checkbox" type="checkbox" name="redeemTicOrEpicurePoints" aria-label = "${properties.redeemTICEpicurePointsLabel}"/>
                <span class="mr-inputCustomShape"></span>
                ${properties.redeemTICEpicurePointsLabel}
            </label>
            <div class="tic-epicure-wrp">
                <div class="tic-points-info">
                    <span class="tic-label">Available TIC Points</span>
                    <span id="ticValue" class="tic-point-value"></span>
                </div>
            </div>

			<div class="row tic-redeemed-row mr-sub-form d-none">
				<div class="col-md-12 sub-form-input-wrp">
					<div
						class="sub-form-input-element row selectSubContainer tic-room-redemption-main-selection">
						<div class="col-md-6 radio-button-wrp">
							<input class="room-redeemption" id="redeem-with-point"
								type="radio" name="room-redeemption"
								value="Redeem with point only" aria-label="Redeem with point" />
							<label class="radio-button-label" for="redeem-with-point">
								<span>
									<div class="radio-inner-fill"></div>
							</span> Points
							</label>
						</div>
						<div class="col-md-6 radio-button-wrp">
							<input class="room-redeemption" id="redeem-with-point-plus-cash"
								type="radio" name="room-redeemption"
								value="Redeem with Point+Cash "
								aria-label="Redeem with Point Plus Cash" /> <label
								class="radio-button-label" for="redeem-with-point-plus-cash">
								<span>
									<div class="radio-inner-fill"></div>
							</span> Points + Cash
							</label>
						</div>
					</div>

                    <div
                        class="sub-form-input-element selectSubContainer row tic-points-redemption tic-points-only tic-room-redemption-points-selection">
                        <div class="col-md-6 radio-button-wrp">
                            <input class="redeem-with-point" id="redeem-with-tic-point" type="radio"
                                name="redeem-with-point" value="TIC" onchange="validatePointsRequiredForBooking()" aria-label = "Redeem with tic point"/>
                            <label class="radio-button-label" for="redeem-with-point">
                                <span>
                                    <div class="radio-inner-fill"></div>
                                </span>
                                <span class="tic-point-value-redeemable">1</span>
                                TIC Points
                            </label>
                        </div>
                        <div class="sub-form-input-wrp pay-points-only-wrp">
                            <button class="pay-points-only cm-btn-secondary" type="button">Pay Points</button>
                        </div>
						<div id="message-for-less-points"></div>
					</div>

					<div
						class="sub-form-input-element row selectSubContainer tic-points-redemption tic-points-pay tic-room-redemption-points-plus-cash-selection d-none row">
						<div class="col-md-6 radio-button-wrp">
							<div class="payment-type">
								<input class="payment-radio-btn"
									id="redeem-with-tic-point-plus-cash" type="radio"
									name="redeem-with-point-plus-cash" value="TIC-Point-Cash"
									onchange="validatePointsAndCashBooking()"
									aria-label="Redeem with tic Point Plus Cash" /> <label
									class="radio-button-label"
									for="redeem-with-tic-point-plus-cash"> <span>
										<div class="radio-inner-fill"></div>
								</span> <span>TIC</span>
								</label>
							</div>
							<div class="redeem-with-tic-point-plus-cash-info-bar d-none">
								<p
									class="d-flex justify-content-between flex-wrap align-items-center">
									<span>${properties.ticPointsRequiredLabel} : </span> <span
										class="required-tic"></span>
								</p>
								<p>
								<div
									class="d-flex justify-content-between flex-wrap align-items-center">
									<div class="card-points-label">${properties.ticPointsRedeemLabel}
										:</div>

									<div class="card-input">
										<div class="input-group">
											<span class="input-group-btn">
												<button
													class="quantity-left-minus btn btn-default btn-number"
													type="button" data-type="minus" data-field="">
													<span>-</span>
												</button>
											</span> <input id="redeemTicInput"
												class="redeem-input form-control input-number bas-quantity"
												type="text" aria-label="Redeem tic input"
												name="redeemTicInput" value="1" min="0"> <span
												class="input-group-btn">
												<button
													class="quantity-right-plus quantity-right-plus1 btn btn-default btn-number"
													type="button" data-type="plus" data-field="">
													<span>+</span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-12">
										<div id="tic-lesser-points"
											class="tic-room-redemption-error d-none">Please enter
											lesser points</div>
										<div id="tic-higher-points"
											class="tic-room-redemption-error d-none">Please enter
											higher points</div>
										<div id="tic-no-points"
											class="tic-room-redemption-error d-none">Please enter
											some value</div>
										<div id="tic-half-points"
											class="tic-room-redemption-error d-none">Minimum 50%
											points are required</div>
										<div id="tic-zero-cash"
											class="tic-room-redemption-error d-none">Cash adjust
											should not be zero</div>

									</div>

                                    </div>
                                </p>
                                <p class="d-flex justify-content-between flex-wrap align-items-center">
                                    <span>${properties.amountToPayLabel} : </span>
                                    <span class="tic-cash-adjusted"></span>
                                </p>
                            </div>
                        </div>

						<div class="policy-terms-external-wrapper">
							<label class="mr-filterCheckBox-label checkbox-inline"> <input
								class="mr-filter-checkbox points-plus-cash-t-and-c"
								type="checkbox" name="points-plus-cash-t-and-c"
								aria-label="Terms and Conditions Checkbox"> <span
								class="mr-inputCustomShape"></span> I have read and understood
								the Terms & Conditions.
							</label>
							<div id="message-for-less-points-and-cash"></div>
							<div>
								<div class="points-plus-cash-t-and-c-error d-none">You
									have to confirm, that you understood and agree to the Terms &
									Conditions.</div>
							</div>
						</div>

						<div class="points-payment-button-wrp">
							<button class="pay-points-plus-cash cm-btn-secondary"
								type="button">Pay Points + Cash</button>
						</div>

					</div>


				</div>

			</div>
			<!-- TIC STARTS -->
			<div
				class="terms-cond-container cm-content-blocks tic-room-redemption-terms-and-condition d-none">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 Terms-cond">
						<div class="Terms-cond-head-wrapper">
							<h1 class="Terms-cond-header">${properties.pointsCashRedemptionTermsConditionsLabel}</h1>

                            <img class="image-view terms-drop-rotate"
                                src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt = "dropDown icon"/>
                        </div>
                        <div class="terms-desc" style="display: block;">
                            <ul>
                                <li>A minimum of 50% of the total redemption points are required in the member's
                                    account to avail of Points plus Cash option.</li>
                                <li>The cash amount needs to be paid directly on the website at the time of booking.</li>
                                <li>In case of a cancellation, no cash refund will be given. The cash amount will be
                                    credited in the member's account in form of TIC points at the rate of 1 TIC point for
                                    every INR 1 of cash amount.</li>
                                <li>Earning of TIC points will not be eligible on TIC points plus cash redemption
                                    bookings.</li>
                                <li>A maximum of 50000 TIC points can be purchased in a given financial year including
                                    points purchased through a Points plus Cash redemption.</li>
                            </ul>
                            </p>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TIC ENDS -->
        <div id="tap-redeem">
            <label class="mr-filterCheckBox-label checkbox-inline d-none">
                <input class="mr-filter-checkbox redeem-points-checkbox" type="checkbox" name="redeemTicOrEpicurePoints" aria-label = "Redeem Tic Or Epicure Points"
                    checked disabled />
                <span class="mr-inputCustomShape"></span>
                Redeem through TAP Points
            </label>
            <div class="tic-epicure-wrp">
                <div class="tic-points-info">
                    <span class="tic-label">TAP</span>
                    <span id="ticValue" class="tic-point-value"></span>
                </div>
            </div>

			<div class="row tic-redeemed-row mr-sub-form d-none">
				<div class="col-md-12 sub-form-input-wrp">
					<div
						class="sub-form-input-element row selectSubContainer tic-room-redemption-main-selection hidden">
						<div class="col-md-6 radio-button-wrp">
							<input class="room-redeemption" id="redeem-with-point"
								type="radio" name="room-redeemption"
								aria-label="room redeemption" value="Redeem with point only" />
							<label class="radio-button-label" for="redeem-with-point">
								<span>
									<div class="radio-inner-fill"></div>
							</span> Points
							</label>
						</div>
					</div>

					<div
						class="sub-form-input-element row selectSubContainer tic-points-redemption tic-points-only tic-room-redemption-points-selection">
						<div class="col-md-6 radio-button-wrp">
							<input class="redeem-with-point" id="redeem-with-tic-point"
								type="radio" name="redeem-with-point" value="TAP"
								aria-label="tic room redemption points" /> <label
								class="radio-button-label" for="redeem-with-point"> <span>
									<div class="radio-inner-fill"></div>
							</span> TAP <span class="tic-point-value-redeemable"></span>
							</label>
						</div>

						<div class="sub-form-input-wrp">
							<button class="pay-points-only cm-btn-secondary" type="button">Pay
								Points</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="tappme-redeem">
			<label class="mr-filterCheckBox-label checkbox-inline d-none">
				<input class="mr-filter-checkbox redeem-points-checkbox"
				type="checkbox" name="redeemTicOrEpicurePoints"
				aria-label="redeem points checkbox" checked disabled /> <span
				class="mr-inputCustomShape"></span> Redeem through TAPP Me Points
			</label>
			<div class="tic-epicure-wrp">
				<div class="tic-points-info">
					<span class="tic-label">TAPP Me</span> <span id="ticValue"
						class="tic-point-value"></span>
				</div>
			</div>
			<div class="row tic-redeemed-row mr-sub-form d-none">
				<div class="col-md-12 sub-form-input-wrp">
					<div
						class="sub-form-input-element row selectSubContainer tic-room-redemption-main-selection hidden">
						<div class="col-md-6 radio-button-wrp">
							<input class="room-redeemption" id="redeem-with-point"
								type="radio" name="room-redeemption"
								aria-label="tic room redemption main selection"
								value="Redeem with point only" /> <label
								class="radio-button-label" for="redeem-with-point"> <span>
									<div class="radio-inner-fill"></div>
							</span> Points
							</label>
						</div>
					</div>
					<div
						class="sub-form-input-element row selectSubContainer tic-points-redemption tic-points-only tic-room-redemption-points-selection">
						<div class="col-md-6 radio-button-wrp">
							<input class="redeem-with-point" id="redeem-with-tic-point"
								type="radio" name="redeem-with-point" value="TAPPMe"
								aria-label="tic room redemption points selection
                                " />
							<label class="radio-button-label" for="redeem-with-point">
								<span>
									<div class="radio-inner-fill"></div>
							</span> TAPP Me <span class="tic-point-value-redeemable"></span>
							</label>
						</div>
						<div class="sub-form-input-wrp">
							<button class="pay-points-only cm-btn-secondary" type="button">Pay
								Points</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="paynow-paylater-block">
		<div data-sly-test.PAYATHOTEL='PAYATHOTEL'></div>
		<div data-sly-test.PAYONLINENOW='PAYONLINENOW'></div>
        <div data-sly-test.GUARANTEEPAYMENT='GUARANTEEPAYMENT'></div>
		<div data-sly-test.BILLTOCOMPANY='BILLTOCOMPANY'></div>
		<!--    <div data-sly-test.PAYUSINGGIFTCARD='PAYUSINGGIFTCARD'></div> -->
		<!-- <div data-sly-test.PAYUSINGCREDITCARD='PAYUSINGCREDITCARD'></div> -->
		<div class="payment-type-radio-wrp">
			<div class="ihclcb-payment-opt-btn-wrp"
				data-sly-use.multiItems="com.ihcl.core.models.PaymentOptions">
				<div class="ihclcb-payment-opt-btn"
					data-sly-repeat.head="${multiItems.getMultiFieldItems}">
					<div class="radio-button-wrp align-items-center">
						<input class="payment-radio-btn"
							id="${head.getPaymentOptionItemField}" type="radio"
							aria-label="${head.getPaymentOption}" name="payment-method"
							value="${head.getPaymentOption}" /> 
                        <label class="radio-button-label" for="${head.getPaymentOptionItemField}"> 
                            <span><div class="radio-inner-fill"></div></span> 
                            <span class="payment-options-name">${head.getPaymentOption}</span>
    					    <div class="payment-options-description">${head.getPaymentOptionDescription}</div>
						</label>
					</div>
				</div>
			</div>
		</div>
		<br>
		<!-- ihclcb-flow -->
		<sly data-sly-test="${properties.showTextArea=='true'}">
		<div class=" ihclcb-card-payment-wrp">
			<div class="mr-sub-form">
				<div class="row mr-sub-form-row">
					<div class="col-md-6 sub-form-input-wrp">
						<div class="ihclcb-form-input-label">${properties.billingNoteLabelName}</div>
						<div class="credit-card-guarantee-text">${properties.billingNoteDescription}</div>
						<textarea class="sub-form-input-element ihclcb-payment-notes-text-area" name = "billingNote" rows="3" cols="50" placeholder="Comment Here"></textarea>
						<div class="sub-form-input-warning cm-scale-animation"></div>
					</div>
				</div>
			</div>
		</div>
		</sly>
		<!-- ihclcb-flow-end -->
		<div class="payment-radio-content credit-card-payment-wrp mr-sub-form">
			<!-- <div
                data-sly-resource="${'recaptcha' @ resourceType='tajhotels/components/content/recaptcha'}">
            </div> -->
			<div class="credit-card-payment-heading">
				<div class="credit-card-label" name="paymentMethodName">
					<span class="payMethod"></span> Payable at Hotel <span>:</span>
				</div>
				<div class="credit-card-amount">
					<span class="cart-currency-symbol rupee-symbol"></span> <span
						class="cart-total-price credit-card-total-amount"></span>
				</div>
			</div>
			<div class="credit-card-guarantee-text">Reservations must be
				guaranteed by a credit card. Your credit card will not be charged.</div>
			<div class="row mr-sub-form-row pay-now-row">
				<div class="col-md-4 sub-form-input-wrp">
					<div class="sub-form-input-label">${properties.nameOfCard}</div>
					<input name="nameOnCard"
						class="sub-form-input-element only-alpha-input sub-form-mandatory"
						type="text" aria-label="${properties.nameOfCard}" />
					<div class="sub-form-input-warning cm-scale-animation"></div>
				</div>
				<div class="col-md-4 sub-form-input-wrp">
					<div class="sub-form-input-label">${properties.nameForCardNumber}</div>
					<input name="numberOncard"
						class="sub-form-input-element only-numeric-input credit-card-number sub-form-mandatory"
						aria-label="${properties.nameForCardNumber}" type="number" />
					<div
						class="credit-card-type sub-form-input-warning cm-scale-animation"></div>
				</div>
				<div class="col-md-8 sub-form-input-wrp">
					<div class="sub-form-input-label">${properties.nameForCardExpireDate}</div>
					<input name="expiryDateOnCard"
						class="sub-form-input-element sub-form-mandatory" type="text"
						aria-label="${properties.nameForCardExpireDate}" maxlength="5"
						placeholder="MM/YY" id="creditCardExpiryDate" />
					<div class="sub-form-input-warning cm-scale-animation"></div>
				</div>
			</div>
		</div>
        <div class="payment-radio-content guarantee-payment-wrp cm-hide">
            <div class="mr-sub-form">
                <div class="row mr-sub-form-row">
                    <div class="sub-form-input-label">${properties.guaranteeAmountLabel} 
                        <span class="cart-currency-symbol"></span>
                        <span class="guarantee-amount"></span>
                        <div class="guarantee-message">${properties.guaranteePaymentMessage}</div>
                    </div>
                    <div class="col-12 sub-form-input-wrp">
                    </div>
                </div>
            </div>
        </div>
		<div class="payment-radio-content gift-card-payment-wrp cm-hide">
			<div class="mr-sub-form">
				<div class="row mr-sub-form-row">
					<div class="col-md-4 sub-form-input-wrp">
						<div class="sub-form-input-label">${properties.giftCardCode}</div>
						<input class="sub-form-input-element sub-form-mandatory"
							type="text" aria-label="${properties.giftCardCode}" />
						<div class="sub-form-input-warning cm-scale-animation"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="pay-now-button-wrp">
			<button class="pay-now-button cm-btn-secondary" type="button">${properties.buttonLabel}</button>
			<div class="taj-loader pay-now-spinner">
				<div class="taj-loader-circle"></div>
				<div class="taj-loader-circle"></div>
				<div class="taj-loader-circle"></div>
			</div>
		</div>
		<div class="disclaimer-footer">${properties.disclaimerDescription}</div>
	</div>
</div>
