<sly data-sly-test="${wcmmode.edit}">AMA GDPR Contact us</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.hotels.ama-gdpr-contact-us'}"></sly>
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<section class="${properties.backgroundColor}">
    <div class="container">
        <div class="gdpr-contact-card-section">
            <h2>${properties.title}</h2>
            <div class="gdpr-contact-banner">
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.banner, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}" />
            </div>
            <div class="gdpr-contact-card">
                <h3>${properties.cardTitle}</h3>
                <sly data-sly-test=${properties.description}>
                <div class="card-top-desc">${properties.description @ context="html"}</div>
                </sly>
                <ul class="card-top">
                    <sly data-sly-list.list=${resource.children}> <sly data-sly-test="${list.name == 'card'}"> <sly
                        data-sly-list.listItems=${list.children}>
                    <li>
                        ${listItems.title}
                        <sly data-sly-test=${listItems.desc}> <a href="${listItems.desc}">${listItems.desc}</a> </sly>
                    </li>
                    </sly> </sly> </sly>
                </ul>
                <sly data-sly-list.list=${resource.children}> <sly data-sly-test="${list.name == 'card-bottom'}">
                <ul class="card-bottom">
                    <sly data-sly-list.listItems=${list.children}>
                    <li>
                        ${listItems.title}
                        <sly data-sly-test=${listItems.desc}> <a href="${listItems.desc}">${listItems.desc}</a> </sly>
                    </li>
                    </sly>
                </ul>
                </sly> </sly>
                <sly data-sly-test=${properties.descBottom}>
                <div class="card-bottom-desc">${properties.descBottom @ context="html"}</div>
                </sly>
            </div>
        </div>
    </div>
</section>

