@rem:16rem;
.rate-tab-price-info{
	display:block !important;
}
.rate-tab-wrap {
    margin-right: 3.9375rem;
    border-bottom: 1px solid var(--primaryColorLighter);
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        margin: 0 15px;
        padding: 0 !important;
    }
}

.rate-tab-container.cm-content-blocks {
    @media only screen and (max-width: 767px) {
        margin-bottom: 0 !important;
    }
}

.rate-tab {
    width: 11.8125rem;
    min-height: 60/@rem;
    line-height: 23/@rem;
    text-align: center;
    font-family: Calibri;
    display: table-cell;
    padding-top: 10/@rem;
    cursor: pointer;
    .rate-tab-per-night-info{
        display:block !important;
    }
    div:first-child {
        font-size: 1.125rem;
        color: #272727;
        text-transform: uppercase;
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            font-size: 0.875rem;
            text-transform: capitalize;
        }
    }
    div:nth-child(2) {
        font-size: 0.875rem;
        color: #9b9b9b;
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            display: none;
        }
    }
    div:nth-child(3) {
        font-size: 0.875rem;
        color: #9b9b9b;
        display: none;
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            display: block;
        }
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        text-align: left;
        min-height: 80px;
        padding-left: 5px;
        width: 30%;
        line-height: 18px;
    }
    @media only screen and (min-device-width: 376px) and (max-device-width: 480px) {
        padding-right: 10px;
        width: 30%;
    }
    @media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
        width: 10rem;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
        width: 12rem;
    }
}

.tab-selected {
    background: var(--primaryColorLighter);
    border-bottom: solid 3px var(--primaryColorDark);
    div:first-child {
        font-family: Calibri-Bold;
    }
}

.room-property-value-container{
margin-bottom:24px;
font-size:1.125 rem;
font-family: calibri-italic;
    @media only screen and (max-width: 767px) {
        margin-bottom: 0;
    }
}
.ama-theme {
	.tab-selected {
		border-bottom: solid 3px var(--primaryColor) !important;
		font-family: var(--themeHeadingFontBold);
		background: none;
		div:first-child {
			color: var(--primaryColor);
			font-family: var(--themeHeadingFontSemiBold);
		}
		.rate-tab-per-night-info {
			color: #000000;
		}
		div:nth-child(2) {
			color: #000000;
		}
		p {
			color: #000000 !important;
		}
	}
	.rate-tab {
		font-family: var(--themeHeadingFontSemiBold);
		border-bottom: 1px solid #9B9B9B;
		div:nth-child(2) {
			font-size: 0.75rem;
		}
		@media only screen and (min-device-width: 768px){
			width: 13rem;
			div:first-child {
				font-size: 1rem;
			}
		}
	}
	.rate-tab-per-night-info {
		font-family: var(--themeHeadingFontSemiBold);
		p {
			font-family: var(--themeHeadingFontSemiBold);
			font-size: 0.75rem;
		}
	}
	.rate-tab-wrap {
		border: none;
		@media only screen and (min-device-width: 768px){			
			display: flex;
			justify-content: center;
		}
	}
}



.ihcl-theme {
    .rate-tab {
        outline: none;
        @media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
            div {
                text-align: center; 
                text-transform: uppercase;
            }
            div:first-child {
                color: #1b1b1b;               
            }
            div:nth-child(2) {
                display: block;
                font-size: 12px;                
                color: #7e7e7e;
            }
        }
    }
    .tab-selected {
        border-bottom-color: #0b5a8c;
    }
}


