#includeTax {
    display: none;
}

#excludeTax {
    display: none;
}

.booked-room-style .rate-card-main-section {
    outline: 4px solid var(--primaryColorDark);
}

.rate-highlight {
    margin-left: -8px;
}

span.rc-selected-currency {
    margin: 0 0.2rem 0 0;
}

.rate-class-disclaimer {
    color: #323232;
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
    margin-top: 21px;
    padding-left: 10px;
    padding-left: 0.625rem;
}

.room-rate-unavailable {
    visibility: hidden;
    right: 2rem;
}

.image-container {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    margin-bottom: 8px;
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.room-property-value-container {
    margin-bottom: 24px;
    font-size: 1.125 rem;
    font-family: calibri-italic;
    line-height: 1.2;
    margin-top: 12px;
}

.list-bullets {
    list-style: disc;
    list-style-position: inside;
}

.points-redeemption-msg{
font-size: 1rem;
padding: 0 1rem;
letter-spacing: 1px;
margin-top: -2.5rem;
margin-bottom: -0.5rem;
text-align: right;
font-weight: bold;
@media only screen and (max-width: 767px){
    font-size: 0.75rem;
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;
}
}
.rate-tab-wrap{
margin-right:0;
}
.specific-hotels-page .rate-tab-container, .global-dining-layout .rate-tab-container{
padding-right:0;
}
.tic-room-redemption-fix .rate-card-room-rate-container .rate-card-actual-rate ,.tic-room-redemption-fix .more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate span{
    font-size: 1.5rem;
}
 @media only screen and (max-width: 767px) {
    .tic-room-redemption-fix .rate-card-room-rate-container .rate-card-actual-rate ,.tic-room-redemption-fix .more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate span {
    font-size: 1rem;
	}
}
.tic-room-redemption-fix .more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate div {
line-height:.8;
}
.tic-room-redemption-fix .rate-card-room-rate-container .rate-card-actual-rate .tic-point-details ,.tic-room-redemption-fix .rate-card-room-rate-container .rate-card-actual-rate .epicure-point-details{
line-height:1.5rem;
}
.tic-room-redemption-fix .more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate{
display:block;
}


/* css added by aravind */

.cm-sold-out-wrap .hotels-under-destination .row {
    border: 1px solid black;
    margin-bottom: 1rem;
    .col-md-2 img {
        width: 100%;
        height:100%;
        @media only screen and (max-width: 480px) {
            padding:0!important;
            height: unset;
        }
        .col-md-2 {
            @media only screen and (max-width: 480px) {
                padding:0!important;
            }
        }
    }
    .details-wrp {
        padding: 0.5rem 1rem;
    }
    .hotel-title {
        font-size: 1.25rem;
        font-family: Calibri;
        line-height: 1.2;
        font-weight: bold;
        @media only screen and (max-width: 480px) {
            font-size:1rem;
        }
    }
    .hotel-area {
        font-size: 1rem;
        font-family: Calibri;
        color: #9b9b9b;
        line-height: 1;
        padding-right: 1rem;
        display: inline-block;
        @media only screen and (max-width: 480px) {
            font-size:0.9rem;
        }
    }
    .hotel-link-btn-wrp{
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    }
    .hotel-links.cm-btn-secondary{
    padding:0.5rem;
    }
}

.cm-sold-out-wrap .dest-bas-search.search-result-cnt {
    padding: 3rem;
    @media only screen and (max-width: 480px) {
        padding:2rem 1rem;
    }
}

.cm-sold-out-wrap .hotel-soldout {
    font-size: 1.25rem;
    font-family: Calibri;
    line-height: 1.2;
    font-weight: bold;
    color: #9b9b9b;
    @media only screen and (max-width: 480px) {
        font-size:1rem;
    }
}

.cm-sold-out-wrap .hotel-link {
    font-weight: bold;
    color: #d29751;
    text-decoration: underline;
    font-size: 1rem;
    display: inline-block;
}

.cm-sold-out-wrap a.hotel-link:hover {
    color: #d29751;
}

.cm-sold-out-wrap .hotel-view-details-wrp {
    margin-bottom: 2rem;
}

.points-redeemption-msg{
font-size: 1rem;
padding: 0 1rem;
letter-spacing: 1px;
margin-top: -2.5rem;
margin-bottom: -0.5rem;
text-align: right;
font-weight: bold;
@media only screen and (max-width: 767px){
    font-size: 0.75rem;
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;
}
}
.rate-tab-wrap{
margin-right:0;
}
.specific-hotels-page .rate-tab-container, .global-dining-layout .rate-tab-container{
padding-right:0;
}
.tic-room-redemption-fix .rate-card-room-rate-container .rate-card-actual-rate ,.tic-room-redemption-fix .more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate span{
    font-size: 1.5rem;
}
 @media only screen and (max-width: 767px) {
    .tic-room-redemption-fix .rate-card-room-rate-container .rate-card-actual-rate ,.tic-room-redemption-fix .more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate span {
    font-size: 1rem;
	}
}
.tic-room-redemption-fix .more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate div {
line-height:.8;
}
.tic-room-redemption-fix .rate-card-room-rate-container .rate-card-actual-rate .tic-point-details ,.tic-room-redemption-fix .rate-card-room-rate-container .rate-card-actual-rate .epicure-point-details{
line-height:1.5rem;
}
.tic-room-redemption-fix .more-rate-card .more-rate-info-wrp .rate-info-wrp .present-rate{
display:block;
}

.cm-sold-out-wrap .hotel-img-wrp {
    @media only screen and (max-width: 480px) {
        padding:0rem!important;
    }
}

.synxis-configurations {
    display: none;

    .redirect-page-path {
        display: none;
    }
}

.ihcl-theme {
    @media only screen and (max-width: 767px) {
        .rooms-suites-description, .room-selection-data {
            display: none;
        }
    }
}

.ama-theme #room-list .cm-header-label-con.title-decorator-border {
    display: none;
}
