@rem : 16rem;
.mr-card-wrap {
	min-width: 200px;
    width: 20%;
    max-width: 250px;
    padding-bottom: 20px;
}

.custom-feed-img {
	width: 100%;
    height: 250px;

}
.contents-wrp {
	flex-wrap: nowrap;
}
.instagram-feeds-card {
    overflow: hidden;
    background: linear-gradient(to bottom right, white 70%, #fbe7eb);
}
.feeds-card {
	overflow: hidden;
    box-sizing: border-box;
    border: 0.5px solid #d59d5a;
}
p.card-text {
    min-height: 70px;
    max-height: 70px;
    overflow: hidden;
	text-align: center;
    font-size: 15px;
    margin-bottom:0;
}
.feed-heading {
	font-size: 1.8rem;
}

.card-with-border-radius{
    border-radius: 5px;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
}

.card-link{
	text-decoration: underline;


}
.ho-img{
background-size: cover;
}
.ho-link{
	text-align: end;
}
@media only screen and (max-device-width:
    767px) {

    .feed-heading {
			font-size: 1.5rem;
	}
}
