<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.giftHamperForm'}" />

<div class="gift-hamper-user-details-container cm-content-blocks" style="display: none;">
    <div id="${properties.formKey}" class="checkout-enter-details-card">
        <div data-sly-test="${properties.enterDetailsLabel}" class="checkout-enter-details-header gifthamper">
            <div class="checkout-form-title">${properties.enterDetailsLabel}</div>
        </div>
        <form class="booking-details-wrp form-step-content gift-hamper-form" name="enter-details-form">
            <div class="booking-input-fields-container">
                <div class="guest-details-wrp mr-sub-form" data-sly-use.guestObj="com.ihcl.core.models.GuestModel">
                    <div data-sly-test="${properties.guestDetailsLabel}" class="sub-form-heading">${properties.guestDetailsLabel}</div>
                    <div class="row mr-sub-form-row">
                        <div data-sly-test="${properties.titleLabel}" class="col-md-4 sub-form-input-wrp">
                            <div class="sub-form-input-label">${properties.titleLabel}</div>
                            <div class="sub-form-input-element selectSubContainer"
                                data-sly-use.titleObj="com.ihcl.core.models.TitleModel">
                                <select aria-label="Booking Guest Title" name="bookingGuestTitle" id="guestTitle" class="selectSubContainer selectboxit-container selectboxit"
                                    data-sly-list.titlelist="${titleObj.getTitleList}">
                                    <option disabled="" selected="" hidden=""></option>
                                    <option value="${titlelist.titleFormItemLabel}">${titlelist.titleFormItemLabel}</option>
    
                                </select>
                                <div class="sub-form-input-warning cm-scale-animation dd-error-msg">Please select title</div>
                            </div>
                        </div>
    
                        <sly data-sly-test.guestFirstName='guestFirstName'></sly>
                        <sly data-sly-test.guestLastName='guestLastName'></sly>
                        <sly data-sly-test.guestEmail='guestEmail'></sly>
						<sly data-sly-test.specialInstructions='specialInstructions'></sly>
                        <sly data-sly-test.guestPhoneNumber='guestPhoneNumber'></sly>
                        <sly data-sly-test.guestAddress='guestAddress'></sly>
                        <sly data-sly-test.guestAddress1='guestAddress1'></sly>
                        <sly data-sly-test.guestCity='guestCity'></sly>
                        <sly data-sly-test.guestPincode='guestPincode'></sly>
                        <sly data-sly-test.guestState='guestState'></sly>
                        <sly data-sly-test.guestCountry='guestCountry'></sly>
						<sly data-sly-test.yourMessage='yourMessage'></sly>
                        
                        <div class="col-md-4 sub-form-input-wrp gift-form-wrap" data-sly-repeat.guestlist="${guestObj.getGuestList}">  
                            <div data-sly-test="${guestlist.guestFormItemField != guestMembershipNumber}" class="sub-form-input-label ${guestlistList.last ? 'last' :''}">${guestlist.guestFormItemLabel}</div>
                            <input data-sly-test="${guestlist.guestFormItemField == guestFirstName}" name="guestFirstName"
                                id="guest-firstName"
                                class="only-alpha-input sub-form-input-element sub-form-mandatory ${guestlistList.last ? 'last' :''}" aria-label = "FirstName"
                                type="text" maxlength="30"/>
                            <input data-sly-test="${guestlist.guestFormItemField == guestLastName}" name="guestLastName"
                                id="guest-lastName"
                                class="only-alpha-input sub-form-input-element sub-form-mandatory ${guestlistList.last ? 'last' :''}" aria-label = "LastName"
                                type="text" maxlength="30"/>
                            <input data-sly-test="${guestlist.guestFormItemField == guestEmail}" name="guestEmail"
                                id="guest-Email"
                                class="email-input sub-form-input-element sub-form-mandatory ${guestlistList.last ? 'last' :''}" aria-label = "Email Id"
                                type="text" />
							<input data-sly-test="${guestlist.guestFormItemField == specialInstructions}" name="specialInstructions"
                                id="guest-specialInstructions"
                                class="special-instructions-input sub-form-input-element textarea-optional" aria-label = "Special Instructions"
                                type="textarea" maxlength="200"/>
                            <input data-sly-test="${guestlist.guestFormItemField == guestAddress}" name="guestAddress"
                                id="guest-address"
                                class="sub-form-input-element sub-form-mandatory ${guestlistList.last ? 'last' :''}" aria-label = "Address"
                                type="text" maxlength="75"/>
                            <input data-sly-test="${guestlist.guestFormItemField == guestPhoneNumber}" name="guestPhoneNumber" id="guest-PhoneNumber"
                                class="limit-phone-number only-numeric-input sub-form-input-element sub-form-mandatory" aria-label = "Phone Number"
                                type="tel" />
                            <input data-sly-test="${guestlist.guestFormItemField == guestCity}" name="guestCity"
                                id="guest-city" class="sub-form-input-element ${guestlistList.last ? 'last' :''}" aria-label = "City"
                                type="text" value="Mumbai" disabled/>
                            <input data-sly-test="${guestlist.guestFormItemField == guestPincode}"
                                name="guestPincode" id="guest-pincode"
                                class="sub-form-input-element ${guestlistList.last ? 'last' :''} sub-form-mandatory" aria-label = "Pincode" type="number" maxlength="10"/>
                            <input data-sly-test="${guestlist.guestFormItemField == guestState}" name="guestState"
                                id="guest-state"
                                class="only-alpha-input sub-form-input-element sub-form-mandatory ${guestlistList.last ? 'last' :''}" aria-label = "State"
                                type="text" />
                            <input data-sly-test="${guestlist.guestFormItemField == guestCountry}"
                                name="guestCountry" id="guest-country"
                                class="sub-form-input-element ${guestlistList.last ? 'last' :''}" aria-label = "Country" type="text" value="India" disabled/>
							<input data-sly-test="${guestlist.guestFormItemField == yourMessage}" name="yourMessage"
                                id="guest-yourMessage"
                                class="message-input sub-form-input-element textarea-optional" aria-label = "Your Message"
                                type="textarea" maxlength="200"/>
                            <div class="sub-form-input-warning cm-scale-animation"></div>
                            
                        </div>
                    </div>
                </div>
                <div data-sly-test="${properties.disclaimer}" class="policy-terms-external">
                    <div class="policy-terms-external-wrapper">
                        <div class="seleqtions-mandatory-label">${properties.disclaimer}</div>
                    </div>
                </div>
                <div data-sly-test="${properties.deliveryLabel}" class="payment-details-wrp form-step-content" style="display: block;">
                    <sly data-sly-test.PICKUP='PICKUP'></sly>
                    <sly data-sly-test.DELIVERY='DELIVERY'></sly>
                    <div class="deliveryLabel-heading">${properties.deliveryLabel}</div>
                    <div class="payment-type-radio-wrp">
                        <div data-sly-use.multiItems="com.ihcl.core.models.PaymentOptions">
                            <div data-sly-repeat.head="${multiItems.getMultiFieldItems}">
                                <div class="radio-button-wrp align-items-center">
                                    <input class="payment-radio-btn" id="${head.getPaymentOptionItemField}" type="radio" aria-label = "${head.getPaymentOption}"
                                        name="delivery-method" value="${head.getPaymentOption}" />
                                    <label class="radio-button-label" for="${head.getPaymentOptionItemField}">
                                        <span>
                                            <div class="radio-inner-fill"></div>
                                        </span>
                                        ${head.getPaymentOption}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-sly-test="${properties.proceedToPaymentLabel}" class="booking-details-proceed-wrapper">
                <input type="hidden" id="content-root-path" value="${inheritedPageProperties.siteConfigContentPath}" aria-hidden = "true" />
                <div class="proceed-button-column" >
                    <button class="gift-hamper-payment-button cm-btn-secondary" type="button">${properties.proceedToPaymentLabel}</button>
                </div>
            </div>
        </form>
    </div>
</div>