<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled} data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.booknowbutton'}" />
<sly data-sly-test.edit="${wcmmode.edit}">
    Book Now Button
</sly>
<sly data-sly-test="${properties.buttonLink}">
    <sly data-sly-use.urlMap="${'url-map.js' @ reqUrl=properties.buttonLink}" />
    <div class="view-btn-con book-offer-button">
        <button class="cm-btn-secondary view-button ama-book-now" onclick="onOfferDetailsHotelSelection('${urlMap.mappedUrl @ context='text'}')">${properties.buttonText ? properties.buttonText : 'BOOK THIS OFFER'}</button>
    </div>
</sly>
