<div data-sly-test="${wcmmode.edit}">
    AMP Holidays Popular Destinations
</div>
<!-- Popular Destinations -->
<sly data-sly-use.destinationsList="com.adobe.cq.wcm.core.components.models.List"/>

<div class="popular-dests-carousel" data-sly-list.listItem="${destinationsList.items}">
	<sly data-sly-resource="${'{0}' @ format=[listItem.path], resourceType='/apps/tajhotels/components/content/amp/holidays/holidays-popular-destinations/destination-card'}"></sly>
</div>

