.select-name {
    color: #1b1b1b;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri;
    display: inline-block;
    margin-right: 0.9375;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .select-name {
        display: none;
    }
}

.filter-component-container {
    padding: 0;
}

.filterSectionButton {
    text-align: right;
    cursor: pointer;
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filterSectionButton {
        display: block;
    /*margin-right: 16px;*/
    /*Commented by nixon*/
    }
}

.filter_mobileView {
    margin-bottom: 10px;
    display: block;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filter_mobileView {
        display: none;
    }
}

.filterBackArrow {
    width: 100%;
    padding: 28px 0 0 5%;
    display: none;
    height: 80px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filterBackArrow {
        display: block;
    }
}

.filterBackArrow img {
    cursor: pointer;
}

.filter-component {
    background: #e6e6e6;
    height: 60px;
    margin-bottom: 3vh;
    padding: 0;
    font-size: 20px;
    font-family: Calibri;
    position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filter-component {
        height: auto;
        margin-bottom: 0;
        background: transparent;
        margin: 0 10%;
        border-left: none;
    }
}

.filter-component .filter-component-wrap {
    margin: 0;
    padding-top: 15px;
    padding-top: 0.9375rem;
    padding-left: 20px;
    padding-left: 1.25rem;
}

.filter-component .filter-component-wrap > div[class^="col-"] {
    padding-left: 15px;
    padding-left: 0.9375rem;
    padding-right: 15px;
    padding-right: 0.9375rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filter-component .filter-component-wrap {
        padding-left: 0;
    }
}

.filter-component .selectContainer {
    padding: 0;
    padding-left: 60px;
    padding-left: 3.75rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filter-component .selectContainer {
        margin-top: 45px;
        padding: 7px 0 10px 0;
    }
}

.filter-component .selectContainer:last-child {
    padding-right: 40px;
    padding-right: 2.5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filter-component .selectContainer:last-child {
        padding-right: 0;
    }
}

.filter-component .selectContainer:first-child {
    padding-left: 40px;
    padding-left: 2.5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filter-component .selectContainer:first-child {
        margin-top: 18px;
        padding-left: 0 !important;
    }
}

.filter-component .selectContainer:not(:nth-child(1)) {
    padding-left: 30px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filter-component .selectContainer:not(:nth-child(1)) {
        padding-left: 0 !important;
    }
}

.filter-component .selectContainer:not(:nth-child(4)) {
    border-right: 1px solid #9b9b9b;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filter-component .selectContainer:not(:nth-child(4)) {
        border-right: none;
    }
}

.filter-component::before {
    width: 10px;
    height: 60px;
    background-image: var(--linearGradient);
    position: absolute;
    left: 0;
    top: 0;
    content: "";
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filter-component::before {
        display: none;
    }
}

.filter-component-heading-MobileView {
    color: #000000;
    font-family: Calibri-Bold;
    font-size: 20px;
    margin: 0 10%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filter-component-heading-MobileView {
        display: block;
    }
}

@media only screen and (min-device-width: 992px) {
    .filter-component-heading-MobileView {
        margin: 0 0 0.625rem;
        font-family: Calibri;
    }
}

.overlay_container {
    position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .overlay_container .filter-content-MobileWrap {
        background: rgba(245, 245, 245, 0.97);
        width: 100%;
        z-index: 2;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #fff;
        overflow-y: auto;
    }
}

.filter-button-wrap {
    height: 70px;
    display: none;
    width: 100%;
    text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .filter-button-wrap {
        display: block;
        margin-top: 60px;
    }
}

.filter-button-wrap .filter-button {
    color: #fff;
    height: 42px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    border: none;
}
.no-offers-found{
	display: none;
	font-family: Calibri;
    font-size: 0.8rem;
    color: #950f0f;
    margin: 0.5rem 0;
}
.offer-filter-loader{	
	margin:0 1rem;	
}
@media only screen and (max-width: 991px) {
	.no-offers-found{
		margin: 0.5rem 15px;	
	}
}
