<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.taj-air-image-gallery'}" />

<sly data-sly-use.model="com.ihcl.core.models.campaigns.CampaignCarouselModel" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
<div class="row taj-airimage-wrp">
    <sly data-sly-list.key="${model.list}">
    <div class="mr-global-carousel-image col-md-6 col-lg-4">
        <div class="hover-overlay">
        <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=key.imagePath, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true'}"></sly>
            <div data-sly-test="${key.imageTitle}" class="overlay d-flex align-items-center justify-content-center">
                <div class="text">${key.imageTitle}</div>
            </div>
        </div>
    </div>
    </sly>
</div>