.room-rate-unavailable {
	right: 2rem;
}

.current-rate-asterisk {
	margin-left: -3px;
	vertical-align: super;
	font-size: 1.25rem;
}

.hotel-usp-container {
	margin-top: 1rem !important;
}

.ho-each-ameneties-sec {
	margin-bottom: 15px;
}

.ho-signature-icon {
	vertical-align: middle;
	padding-right: 5px;
}

.ho-signature-name {
	font-family: Calibri;
	color: #323232;
	margin-left: 0.625rem;
	font-size: 1rem;
	vertical-align: middle;
	padding-right: 5px;
	line-height: 1;
	display: table-cell;
}

@media only screen and (max-width: 767px) {
	.ho-signature-name {
		width: 85%;
		margin-left: 0.125rem;
	}
}

.list-hotel-image {
	height: 100%;
	width: 100%;
	object-fit: cover; /* changes by Srikanta */
}

.list-view-wrapper {
	min-height: 215px;
	min-height: 13.4375rem;
	margin-bottom: 19px;
	margin-bottom: 1.1875rem;
	/*display:none;*/
}

@media only screen and (max-width: 767px) {
	.list-view-wrapper .row [class*="col-"] {
		padding-right: 0px ! important;
		padding-left: 0px ! important;
	}
}

@media only screen and (max-width: 767px) {
	.mr-listView-layout .row [class*="col-"] {
		padding-right: 0px ! important;
		padding-left: 0px ! important;
	}
}

.mr-list-view-hotels-button {
	margin-top: 8px;
	margin-top: 0.5rem;
}

.mr-list-hotel-description-offerwrap {
	padding: 21px 26px;
	padding: 1.3125rem 1.625rem;
	padding-right: unset;
	background-color: #ffffff;
	height: 100%;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-description-offerwrap {
		padding: 0.5rem 1.25rem;
		padding-right: unset;
		padding-bottom: 0;
	}
}

.mr-list-hotel-description-wrapper {
	margin-top: 0;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-description-wrapper {
		margin-top: unset;
		margin-bottom: 1rem;
	}
	.ho-each-ameneties-sec {
		display: inline-flex;
	}
}

.mr-list-hotel-description {
	margin-right: 16px;
	margin-right: 1rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-description {
		margin-bottom: 1rem;
	}
	.mr-list-specs-wrap, .mr-list-price-wrap {
		flex: initial;
		max-width: 100%;
	}
}

.mr-list-unique-specs {
	font-family: Calibri;
	font-size: 14px;
	font-size: 0.875rem;
	color: #323232;
	margin-right: 4px;
	margin-right: 0.25rem;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-unique-specs {
		margin-bottom: 2rem;
	}
}

.mr-starting-rate {
	font-size: 10px;
	font-size: 0.625rem;
	text-align: right;
	color: #9b9b9b;
}

.mr-list-hotel-price-tic {
	padding-right: 24px;
	padding-right: 1.5rem;
	text-align: right;
	padding-top: 5.5rem; /* changes by Srikanta */
	position: absolute;
	bottom: 0;
	right: 0;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-price-tic {
		padding-right: 1rem;
		position: relative;
		bottom: 0;
		padding-top: 2.5rem;
	}
}

.mr-list-hotel-specifications {
	margin-left: 32px;
	margin-left: 2rem;
}

.mr-list-hotel-specifications .ho-each-ameneties-sec {
	display: table;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-specifications {
		margin-left: unset;
	}
	.mr-list-hotel-specifications .col-3:nth-child(n+4) .mr-list-unique-specs
		{
		margin-bottom: unset;
	}
}

.mr-current-rate-list {
	font-family: Calibri;
	font-size: 27px;
	font-size: 1.6875rem;
	font-weight: bold;
	text-align: right;
	color: #4a4a4a;
}

.mr-current-rate-list {
	font-size: inherit;
}

.mr-rupee-list-hotel {
	font-size: 1.625rem;
}

@media only screen and (max-width: 767px) {
	.mr-current-rate-list {
		font-size: 1.3rem;
		display: inline-block;
	}
}

.mr-list-tic-epicure-wrap {
	margin-bottom: 26px;
	margin-bottom: 1.625rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-tic-epicure-wrap {
		display: none;
	}
}

.mr-list-tic, .mr-list-epicure {
	font-family: Calibri;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1;
	color: #9b9b9b;
	display: inline-block;
}

.mr-list-tic .mr-list-tic-value, .mr-list-epicure .mr-list-tic-value {
	color: var(--primaryColor);
}

.mr-list-tic {
	padding-right: 8px;
	padding-right: 0.5rem;
	margin-right: 8px;
	margin-right: 0.5rem;
	border-right: 1px solid #c3c3c3;
}

.mr-hotel-location-address {
	font-family: Calibri;
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #979797;
	padding-bottom: 0;
	display: table;
	width: 100%;
}

@media only screen and (max-width: 767px) {
	.mr-hotel-location-address {
		padding-bottom: 0rem;
		padding-top: 0.5rem;
	}
}

span.mr-rupee-list-hotel {
	font-size: 19px;
	font-size: 1.1875rem;
	font-family: RupeeForadian;
	color: #4a4a4a;
	opacity: 0.58;
}

@media only screen and (max-width: 767px) {
	span.mr-rupee-list-hotel {
		font-size: 1rem;
	}
}

.mr-list-hotels-delrate {
	margin-right: 20px;
	margin-right: 1.25rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotels-delrate {
		margin-right: 0.3rem;
	}
}

.discounted-rate {
	opacity: 0.58;
	font-family: Calibri;
	font-size: 19px;
	font-size: 1.1875rem;
	text-align: center;
	color: #4a4a4a;
}

@media only screen and (max-width: 767px) {
	.discounted-rate {
		font-size: 1rem;
	}
}

.mr-list-hotel-ratings-reviewCount {
	position: absolute;
	bottom: 10px;
	bottom: 0.625rem;
	left: 10px;
	left: 0.625rem;
	height: 28px;
	height: 1.75rem;
	width: 124px;
	width: 7.75rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-ratings-reviewCount {
		line-height: 1.8;
	}
}

.mr-rating-wrap {
	font-family: Calibri;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-image: var(--linearGradient);
	width: 20%;
	line-height: 1.9;
}

.mr-list-location-icon {
	margin-right: 4px;
	margin-right: 0.25rem;
	width: 22px;
	width: 1.375rem;
	height: 22px;
	height: 1.375rem;
	object-fit: contain;
	font-size: 1.5rem;
}

.mr-reviewCount-wrap {
	font-family: Calibri;
	font-size: 14px;
	font-size: 0.875rem;
	padding: 0px 3px;
	padding: 0rem 0.2rem;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
	width: 80%;
	line-height: 1.9;
}

.mr-list-address-wrap {
	width: 90%;
	display: table-cell;
	vertical-align: top;
}

.mr-list-location-icon-wrap {
	width: 10%;
	display: table-cell;
	vertical-align: top;
}

.mr-hotel-distanceFrom-airport {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.36;
	color: #979797;
	margin-bottom: 17px;
}

@media only screen and (max-width: 767px) {
	.mr-hotel-distanceFrom-airport {
		display: inline-block;
	}
}

.mr-list-hotel-title {
	font-family: Calibri;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 0.92;
	color: #4a4a4a;
}

.mr-list-hotel-about {
	font-family: Calibri;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.25;
	color: #4a4a4a;

	/*Changes By Srikanta*/
	/*height: 6rem;
    overflow: scroll;*/
}

.mr-list-hotel-title-offer-wrap {
	margin-bottom: 12px;
	margin-bottom: 0.75rem;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-title-offer-wrap {
		margin-bottom: unset;
	}
}

.mr-offer-description-employee {
	font-family: Calibri;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.14;
	text-align: right;
	color: #c5c3c6;
	display: none;
	margin-bottom: 5px;
	margin-bottom: 0.3125rem;
	padding-right: 16px;
	padding-right: 1rem;
}

@media only screen and (max-width: 767px) {
	.mr-offer-description-employee {
		display: block;
	}
}

.mr-list-hotel-offer {
	text-align: right;
}

.mr-list-hotel-offer .mr-list-hotel-offer-description {
	font-family: Calibri;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 0.77;
	text-align: right;
	color: #9b9b9b;
	display: inline-block;
}

.mr-list-hotel-offer .mr-list-hotel-offer-tag {
	background:
		url(/etc.clientlibs/tajhotels/components/content/hotel-card-full-width/clientlibs/resources/images/path-5.svg)
		100%;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-repeat: no-repeat;
	width: 96px;
	width: 5rem; /* changes by Srikanta */
	display: inline-block;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-offer .mr-list-hotel-offer-tag {
		width: 5rem;
	}
}

@media only screen and (max-width: 767px) {
}

.mr-mobile-address {
	border-right: 1px solid #999898;
	padding-right: 10px;
	padding-right: 0.625rem;
}

@media only screen and (max-width: 767px) {
	.mr-mobile-address {
		border-right: none;
	}
}

.mr-desktop-display-none {
	display: none;
}

@media only screen and (max-width: 767px) {
	.mr-desktop-display-none {
		display: inline-block;
	}
}

.mr-mobile-display-none {
	display: inline-block;
}

@media only screen and (max-width: 767px) {
	.mr-mobile-display-none {
		display: none;
	}
}

.mr-list-hotel-image-wrap {
	position: relative;
	height: 100%;
	background-color: #ccc;
}

.mr-ShowMore-hotels-list-view {
	text-align: center;
}

.mr-ShowMore-hotels-list-view .mr-showMore-text-hotelsListView {
	font-family: Calibri;
	font-size: 16px;
	font-size: 1rem;
	letter-spacing: 2px;
	letter-spacing: 0.125rem;
	color: var(--primaryColor);
	padding-bottom: 7px;
	padding-bottom: 0.4375rem;
	margin-right: 7px;
	margin-right: 0.4375rem;
	border-bottom: 1px solid var(--primaryColor);
	cursor: pointer;
}

.waiting-spinner {
	right: 1rem;
	position: absolute;
	top: 0;
	bottom: 0;
	text-align: right;
}

@media only screen and (max-width: 767px) {
	.waiting-spinner {
		top: initial;
		right: initial;
		line-height: initial;
	}
	.waiting-spinner.waiting-spinner-destination-cards {
		left: 0;
		text-align: left;
	}
}

.waiting-spinner img {
	width: 5rem;
}
/* new changes */
.mr-lists-view-hotels-Container.list-view-wrapper {
	display: none;
}

@media only screen and (max-width: 767px) {
	.mr-filter-sort-wrap.hotel-destination-page {
		width: 100%;
		text-align: right;
		margin-top: 5px;
	}
}

.filterCheckbox-backArrow {
	display: none;
}

.filter-checkbox-wrapper.popup-in-mob {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/* display: none; */
	z-index: 100;
	background: #fff;
	padding: 20px;
	text-align: left;
}

.filter-checkbox-wrapper.popup-in-mob .filter-container {
	padding: 50px 30px 30px 78px;
}

@media only screen and (max-width: 767px) {
	.filter-checkbox-wrapper.popup-in-mob .mr-Filter-checkbox-wrap {
		width: 100%;
		display: inline-block;
		text-align: left;
	}
}

.filter-checkbox-wrapper.popup-in-mob .filterCheckbox-backArrow {
	display: inline-block;
}

.hotels-in-dest-container .filter-checkbox-wrapper {
	display: none;
}

.hotels-in-dest-container .filter-checkbox-wrapper.show-filter {
	display: inline-block;
}

@media only screen and (max-width: 767px) {
	.mr-list-hotel-image-wrap {
		height: 369px;
	}
	.waiting-spinner-destination-cards {
		left: 1rem;
	}
}

.ho-each-ameneties-sec .image-container {
	display: table-cell;
	height: 20px;
	padding-right: 3px;
	margin-bottom: 8px;
	vertical-align: top;
	font-size: 1.5rem;
}

.ho-each-ameneties-sec .image-container img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.current-rate, .current-rate-ama {
	font-size: 1.875rem;
	font-weight:Bold;
}



@media only screen and (max-width: 767px) {
	.ihcl-theme .list-view-wrapper {
		border-radius: 4px;
		position: relative;
		overflow: hidden;
	}
	.ihcl-theme .mr-list-hotel-image-wrap {
		height: 62px;
		width: 62px;
		border-radius: 4px;
		z-index: 1;
		position: absolute;
		right: 1.25rem;
		top: 2rem;
		overflow: hidden;
	}
	.ihcl-theme .mr-list-hotel-title {
		color: #1b1b1b;
		font-family: "Calibri-Bold";
		font-size: 1.25rem;
	}
	.ihcl-theme .mr-list-hotel-description .mr-hotel-location-address,
		.ihcl-theme .mr-hotel-distanceFrom-airport {
		color: #212529;
		display: flex;
		margin-bottom: 0.8rem;
	}
	.ihcl-theme .mr-list-hotel-description-offerwrap {
		padding-top: 2rem;
	}
	.ihcl-theme .mr-list-hotel-image-wrap .mr-list-hotel-ratings-reviewCount,
	.ihcl-theme .mr-list-hotel-description-offerwrap .mr-list-hotel-title-offer-wrap .mr-offer-description-employee,
	.ihcl-theme .mr-list-hotel-description-wrapper .mr-list-specs-wrap,
	.ihcl-theme .current-rate-asterisk {
		display: none;
	}	
    .ihcl-theme .waiting-spinner-ihclcb + .mr-list-hotel-price-tic .mr-starting-rate {
        font-size: 12px;
    }
	.ihcl-theme .mr-list-hotel-description-wrapper .mr-list-view-hotels-button
		{
		border-radius: 4px;
		height: 38px !important;
	}
	.ihcl-theme .mr-list-hotel-description-wrapper .mr-list-hotel-price-tic
		{
		padding-top: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: left;
	}
	.ihcl-theme .mr-list-hotel-title-offer-wrap .mr-list-hotel-ratings-reviewCount
		{
		position: static;
		border-radius: 4px;
		margin: 1rem 0;
		overflow: hidden;
		width: 8.75rem;
		display: flex !important;
	}
	.ihcl-theme .mr-list-hotel-title-offer-wrap .mr-rating-wrap {
	   width: 30%;
	}
	.ihcl-theme .mr-list-hotel-title-offer-wrap .mr-reviewCount-wrap {
	   background-color: rgba(0, 0, 0, 0.2);
	   width: 70%;
	}	
	.ihcl-theme .current-rate,
	.ihcl-theme span.mr-rupee-list-hotel {
	   color: #0b7fc9;
	   font-size: 1.8rem;
	}
}