<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.websitecookiestickynote'}" />
    
<div class="cookie-sticky-details-wrap">
    <div data-sly-test="${properties.stickyText}" class="row">
        <div class="col-lg-12 placeholder-title-wrap">
            <div class="sticky-wrap-text">${properties.stickyText @context='html'}</div>
            <div class="sticky-details-close" tabindex="0" role = "button">
                <span class="icon-close"></span>
            </div>
        </div>
    </div>
</div>
