<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
     data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.css @ categories='tajhotels.booking'}" />

        <div class="checkout-payment-details-container cm-content-blocks">
            <div id="bookingform" class="checkout-enter-details-card">
                <div
                    data-sly-resource="${'par' @ resourceType='tajhotels/components/content/booking-details'}"></div>
                <div
                    data-sly-resource="${'par1' @ resourceType='tajhotels/components/content/paymentOptions'}"></div>
            </div>
            <div id="bookingalert">
                <div id='bookingconfirmation'>Alert:Booking Confirmation</div>
                <p id="booking-status"></p>
                <input id="paymentid" name="paymentid" type="hidden" value="" aria-label = "Payment Id">
                <span>
                    <button type="button" id="Cancelbooking" onclick="ignoreBooking()">Go back to Search</button>                    
                    <div id="cancel-spin" class="taj-loader">
						<div class="taj-loader-circle"></div>
						<div class="taj-loader-circle"></div>
						<div class="taj-loader-circle"></div>
					</div>
                </span>
                <button type="button" id="proceedbooking" onclick="paymentProcess()">Continue
                    Booking the available rooms</button>
            </div>
        </div>
        <input type="hidden" id="content-root-path" value="${inheritedPageProperties.siteConfigContentPath}" aria-hidden = "true"/>
        <input type="hidden" id="siteId" value="${inheritedPageProperties.websiteid}" aria-hidden = "true"/>
        <div class="booking-confirmation" data-bookingConfirmationURL="${inheritedPageProperties.bookingConfirmationURL}"></div>
        <div class="booking-cart" data-bookingFailedURL="${inheritedPageProperties.bookingFailedURL}"></div>
        