.specific-hotels-page {
    .content-wrapper {
        margin-top: 30px;
        margin-bottom: 80px;
        .cm-content-blocks:first-child {
            margin-top: 26px;
        }

        .cm-content-blocks {
            margin-top: 40px;
            @media only screen and (min-width: 320px) and (max-width: 767px) {
                margin-top: 26px;
            }
        }
    }

    .specific-hotels-breadcrumb {
        font-size: 1rem;
        font-family: Calibri;
        margin-bottom: 1.5rem;
        a {
            font-weight: bold;
            color: var(--primaryColor);
            text-decoration: underline;
        }

        span:last-child {
            margin: 0;
        }

        @media only screen and (min-width: 320px) and (max-width: 767px) {
            display: block;
            margin-left: 1rem;
        }

        &.mobile-view-visible {
            display: block;
            background-color: #efeeee;
            margin-bottom: -1.5rem;
            mix-blend-mode: multiply;
            padding-left: 1.6rem;
            margin-top: 1.5rem;
            @media only screen and (min-width: 768px) {
                display: none;
            }
        }
    }

    .specific-hotels-main-tab-container {
        width: 100%;
    }

    .room-selection-data {
        font-size: 1.5rem;
        font-family: Calibri;
        span:first-child {
            color: var(--primaryColorDark);
            font-weight: bold;
        }

        span:nth-child(2) {
            color: #8d8d8d;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            margin-left: 15px;
            font-size: 1.25rem;
        }

        @media only screen and (max-device-width: 320px) {
            font-size: 1rem;
        }
    }

    .rate-tab-container {
        padding-right: 3.9375rem;
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            padding-right: 0;
        }
    }

    .rate-tax-disclaimer {
        color: #323232;
        font-size: 1rem;
        font-family: Calibri;
        margin-top: 21px;
        padding-left: 0.625rem;
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            margin-left: 1rem;
            margin-top: 41px;
        }
    }

    .rate-cards-container {
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            margin: 0 auto;
        }
    }

    .rooms-suites-container {
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }
    }

    .offers-header-wrapper {
        display: none;
    }
    
}

.breadcrumb-item {
    & + .breadcrumb-item::before {
        content: '>';
    }

    span {
        margin: 0px;
    }
}

