@rem: 16rem;
.ihcl-theme .ihclcb-bookings-filter-container {
	position:relative;
	padding:30/@rem 0;
	@media only screen and (max-width:767px) {
		padding:16/@rem 0;
	}
    .ihclcb-bookings-filter-status {
        display:flex;
        justify-content: space-between;
        align-items:center;
        @media only screen and (max-width: 767px) {
            align-items: flex-start;
        }
    }
    .ihclcb-bookings-filter-results {
        display:flex;
        flex-direction: row;
        align-items: center;
        @media only screen and (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }
        .bookings-filter-type, .ihclcb-bookings-filter-none, .filter-result {
            font-family:"Calibri";
            font-size: 16/@rem;
            color: #1b1b1b;
            @media only screen and (max-width: 767px) {
            	font-size: 14/@rem;
            }
        }
        .filter-result img {
        	cursor:pointer;
        }
        .ihclcb-bookings-filter-none {
            display:inline-block;
        }
        .filtered-details {
            display:none;
            flex-wrap: wrap;
            align-items:center;
        }
        .filter-result {
        	display:flex;
        	align-items:center;
            margin-left:12px;
            padding:8/@rem;
            border-radius: 2px;
            border: solid 1px #d3d3d3;
            .icon-close-blue {
                margin-right:5px;
                cursor:pointer;
                &:before {
                	font-size:14/@rem;
                }
            }
            @media only screen and (max-width: 767px) {
	            margin:3px;
            }
        }
    }
    .ihclcb-booking-filter-button {
        cursor:pointer;
        outline:none;
        border:none;
        background: transparent;
    }
    //      datepicker styles
    
    .input-daterange {
    	.input-datarange-container {
    		display:flex;
    		justify-content:space-between;
    	}
    	.input-group-addon {
  			position: relative;
    		display:flex;
    		align-items:center;
    		width:48%;
    		font-family:"Calibri";
            font-size: 16/@rem !important;
            color: #1b1b1b;
            &:after {
            	display: inline-block;
			    width: 0;
			    height: 0;
			    margin-left: .255em;
			    vertical-align: .255em;
			    content: "";
			    border-top: .3em solid;
			    border-right: .3em solid transparent;
			    border-bottom: 0;
			    border-left: .3em solid transparent;
			    position:absolute;
			    right:0;
			    bottom:10px;
			}
    		input {
    			font-family:"Calibri";
	            font-size: 16/@rem;
	            font-weight: normal;
	            color: #1b1b1b;
	            text-align:left;
	            padding:0;
	            margin-left: 5px;
	            @media only screen and (max-width: 425px) {
	            	font-size: 13/@rem !important;
	            }
    		}
    	}
    }
    .ihclcb-filter-datepicker-cont {
    	position:relative;
    	.range {
    		border-radius: 0;
    	}
	    .datepicker-dropdown  {
	    	width:100%;
	    	padding:5px;
	    	@media only screen and (max-width: 767px) {
	    		top:10px !important;
	    		left: 0 !important;
	    		&:before {
	    			top: -7px;
				    left: 0;
				    right: 0;
				    margin: auto;
				    width: 5px;
				}
				&:after {
					display:none;
				}
	    	} 
 	    	.today {
	    		border-radius:0;
	    	}
	    	.day {
	    		color:#000000;
	    		font-family:"Calibri";
	    	}
	    	.new.day, .dow {
	    		color:#999999;
	    	}
	    	.datepicker-switch {
	    		color: #0b5a8c;
	    	}
	    	thead {
	    		tr {
	    			border-bottom: 1px solid #e8e8e8;
	    		}
	    	}
	    	.selected {
	    		border-radius:0;
	    		width:48px;
	    		background-image:none !important;
	    		float:none;
	    		background-color: rgba(11, 90, 140, 0.2);
    			color: #0b5a8c !important;
	    		&:after {
	    			display:none;
	    		}
	    	}
	    }
	 }
		//      datepicker style ends
		
	.ihclcb-filter-pop-up {
		display:none;
		position:absolute;
		top:15px;
		z-index:1;
		right:0;
		width: 370/@rem;
		border-radius: 4px;
		.input-daterange {
			margin-top: 20px;
		}
  		@media only screen and (max-width: 767px) {
  			position: fixed;
		    top: 0;
		    bottom: 0;
		    width:100%;
		    height:100%;
		    background: rgba(74, 74, 74, 0.55);
		    overflow-y: auto;
  		}
  		.ihclcb-apply-and-reset-filter {
  			margin-top:20px;
  			display:flex;
  			justify-content:space-between;
  			align-items:center;
  			.ihclcb-reset-filter {
  				text-align:center;
  				button {
  					border:none;
  					outline:none;
  					background:transparent;
  					text-transform: uppercase;
  					font-family: Calibri;
  					font-size: 16/@rem;
  					font-weight: bold;
  					text-align: center;
  					color: #084b77;
  				    line-height: 0.5px;
  				}
  			}
  			.ihclcb-apply-filter {
  				text-align: right;
  			    button {
  			        border-radius: 4px;
  			        @media only screen and (min-width: 768px) {
  			            min-width: 160/@rem;
  			        }
  			    }
  			}
  			.ihclcb-reset-filter , .ihclcb-apply-filter {
  				width:48%;
  			}
  			button {
  				cursor:pointer;
  			}
  		}
  		.ihclcb-filter-pop-up-contents {
  		    border-radius: 4px;
  			padding:24/@rem;
  			background-color:#ffffff;
  			box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.16), 0 11px 12px 0 rgba(0, 0, 0, 0.05);
  			@media only screen and (max-width: 767px) {
  				padding: 14/@rem;
  				max-height:215px;
  				max-width: 500px;
  				margin:auto;
  				position: absolute;
  				top:0;
  				bottom:0;
  				right:15px;
  				left:15px;
  			}
  			.filter-pop-up-heading {
  				  font-family: Calibri;
				  font-size: 18/@rem;
				  font-weight: bold;
				  color:#1b1b1b;
  			}
  		}
	}
	.dropdown  {
		width:130/@rem;
		margin: 10/@rem 0;
		.dropdown-toggle {
			width: 130/@rem;
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		    background: transparent;
		    font-size: 16/@rem;
		    font-family: "Calibri";
		    color: #1b1b1b;
		    outline: none;
		    border: none;
		    padding: 5/@rem 0;
		    
		    &:focus {
		    	outline:none !important;
		    	box-shadow:none !important;
		    }
		}
		.dropdown-menu {
			width:inherit;
		}
	}
	.ihclcb-book-a-stay-inner-wrp {
		width:48%;
		height:20px;
		display:flex;
	}
	.ihclcb-book-a-stay-inner-wrp .ihclcb-search-icon {
		display:none;
	}
	.ihclcb-selected-data-cont {
		display:flex;
		align-items:center;
	}
	
}