<sly data-sly-use.hService="com.ihcl.core.models.FetchHotelsServiceModel"
     data-sly-test="${hService.hotel.hotelName!= null}">
    <sly data-sly-use.urlMap="${'url-map.js' @ reqUrl=resource.parent.getPath, isTajhotelsHost=properties.newHostValue=='tajhotels'}"/>
    <sly data-sly-test.isTajhotelsHost="${properties.newHostValue=='tajhotels'}">

        <a class="hotel-container expand-hotels" id="hotel-${hService.hotel.hotelId}" href="${resource.parent.getPath}.html"
           onclick="return checkTheFlow('hotel-${hService.hotel.hotelId @context='scriptToken' }','${urlMap.mappedUrl @context='html'}');"
           target="_blank"
           data-lat=${hService.hotel.lat} data-lng=${hService.hotel.lng}
           data-hotelTypes=${hService.hotel.hotelTypes} data-location=${hService.hotel.locations}
           data-title=${hService.hotel.hotelName} data-brand=${hService.hotel.hotelBrand}>
    </sly>
    <sly data-sly-test="${!isTajHotelsHost}">
        <a class="hotel-container expand-hotels" id="hotel-${hService.hotel.hotelId}" href="${resource.parent.getPath}.html"
           onclick="return checkTheFlow('hotel-${hService.hotel.hotelId @context='scriptToken' }','${urlMap.mappedUrl @context='html'}');"
           target="_blank"
           data-lat=${hService.hotel.lat} data-lng=${hService.hotel.lng}
           data-hotelTypes=${hService.hotel.hotelTypes} data-location=${hService.hotel.locations}
           data-title=${hService.hotel.hotelName} data-brand=${hService.hotel.hotelBrand}>
    </sly>
    <div class="image-cont" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
        <sly
                data-sly-call="${imagetemplate.damImageTemplate @ imagePath= hService.hotel.imageUrl ? hService.hotel.imageUrl :'/content/dam/tajhotels/logos/taj-logos/img-taj@2x.png',styleClass='hotel-image-container',renditionPathSuffix='/jcr:content/renditions/cq5dam.web.141.141.jpeg'}"></sly>
    </div>
    <div class="hotel-details-container hotel-card">
        <div class="hotel-details card-info">${hService.hotel.hotelName}</div>
        <div class="property-container">${hService.hotel.streetAddress}</div>
    </div>
    </a>
</sly>