.ihcl-loc-details-con {
    min-height: 120px;
    min-height: 7.5rem;
    width: 100px;
    width: 6.25rem;
    padding-bottom: 30px;
    padding-bottom: 1.875rem;
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-con {
        width: unset;
        overflow: hidden;
        padding-bottom: 0;
        min-height: 4.6875rem;
    }
}

@media only screen and (min-width: 768px) {
	.ihcl-loc-details-con {
		width: auto;
	}
}

@media only screen and (max-width: 767px) {
    .ihcl-loc-details-con {
        min-height: 4.0625rem;
        padding: 0 15px;
    }
}

.ihcl-loc-details-inner-wrap {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-inner-wrap {
        overflow-y: hidden;
        width: auto;
    }
}

.ihcl-loc-details-cat-section {
    height: 100%;
    width: 959px;
    width: 59.9375rem;
    display: -ms-flexbox;
    display: flex;
    padding-right: 112px;
    padding-right: 7rem;
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-cat-section {
        height: unset;
        margin: auto 0;
        padding-right: 2.1875rem;
    }
}

.ihcl-loc-details-desc-section {
    height: 100%;
    position: relative;
}

.ihcl-loc-details-desc-section::before {
    position: absolute;
    content: "";
    background: #d8d8d8;
    width: 1px;
    left: 0;
    top: 25%;
    height: 80%;
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-desc-section::before {
        top: 18%;
    }
}

@media only screen and (min-width: 768px) {
	position: absolute;
    right: 0;
    top: 0;
}

.ihcl-loc-details-cat-con {
    cursor: pointer;
}

.ihcl-loc-details-cat {
    width: 118px;
    width: 7.375rem;
    color: #fff;
    height: 100%;
    padding-top: 44px;
    padding-top: 2.75rem;
    font-family: Calibri-Bold;
    padding-left: 26px;
    padding-left: 1.625rem;
}

.ihcl-loc-details-cat .ihcl-loc-details-cat-value {
    font-size: 21px;
    font-size: 1.34375rem;
    line-height: 0.83;
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-cat .ihcl-loc-details-cat-value {
        font-size: 0.875rem;
    }
}

.ihcl-loc-details-cat .ihcl-loc-details-cat-item {
    font-size: 16px;
    font-size: 1.00625rem;
    line-height: 1.11;
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-cat .ihcl-loc-details-cat-item {
        font-family: Calibri;
        color: #fff;
        font-size: 0.875rem;
    }
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-cat {
        padding-top: 0;
        height: unset;
        width: auto;
        margin-right: 1.125rem;
        padding-left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ihcl-loc-details-cat:first-child {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .ihcl-loc-details-cat:first-child {
        padding-left: 0;
    }
}

.ihcl-loc-details-cat-selected {
    background-image: linear-gradient(to bottom, #c08a46, #c08a46 19%, rgba(0, 43, 73, 0));
    opacity: 0.72;
    position: relative;
    z-index: 1;
}

.ihcl-loc-details-cat-selected::before {
    position: absolute;
    height: 0;
    width: 0;
    content: " ";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 5px solid #b4975a;
    top: -5px;
    left: 56px;
    left: 3.53125rem;
}

.ihcl-loc-details-desc {
    padding-top: 20px;
    padding-top: 1.25rem;
    width: 322px;
    width: 20.125rem;
    color: #fff;
    font-family: Calibri-Bold;
    line-height: 1.17;
    overflow: hidden;
    display:flex;
}

.ihcl-loc-details-desc .ihcl-loc-details-desc-con {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    max-width: 322px;
    max-width: 20.125rem;
    cursor: pointer;
}

.ihcl-loc-details-desc .ihcl-loc-details-desc-value {
    font-size: 24px;
    font-size: 1.5rem;
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-desc .ihcl-loc-details-desc-value {
        font-size: 1.125rem;
    }
}

.ihcl-loc-details-desc .ihcl-loc-details-desc-value .ihcl-loc-details-desc-value-span {
    font-size: 18px;
    font-size: 1.125rem;
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-desc .ihcl-loc-details-desc-value .ihcl-loc-details-desc-value-span {
        font-size: 0.875rem;
    }
}

.ihcl-loc-details-desc .ihcl-loc-details-desc-value .ihcl-loc-details-desc-value-perc {
    font-size: 18px;
    font-size: 1.125rem;
    color: #b8e986;
    margin-left: 5px;
    margin-left: 0.3125rem;
}

.ihcl-loc-details-desc .ihcl-loc-details-desc-value .ihcl-loc-details-desc-value-perc-neg {
	color: #d0041b;
 }

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-desc .ihcl-loc-details-desc-value .ihcl-loc-details-desc-value-perc {
        font-size: 0.875rem;
    }
}

.ihcl-loc-details-desc .ihcl-loc-details-desc-exp {
    font-size: 17px;
    font-size: 1.08125rem;
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-desc .ihcl-loc-details-desc-exp {
        font-size: 0.875rem;
    }
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-desc {
        padding-top: 0.75rem;
        padding-left: 2.1875rem;
        width: 14.6875rem;
    }
}

@media only screen and (max-width: 767px) {
    .ihcl-loc-details-desc {
        padding-top: 0.3125rem;
        padding-left: 0;
        width: 14.0625rem;
    }
}

.ihcl-loc-details-exp-wrap {
    position: absolute;
    height: 120px;
    height: 7.5rem;
    background: rgba(0, 43, 73, 0.65);
    left: 0;
    bottom: 120px;
    bottom: 7.5rem;
    overflow: hidden;
    display: none;
}

.ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-heading {
    display: none;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri-Bold;
    color: #000000;
    margin-top: 17px;
    margin-top: 1.375rem;
}

.ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-heading .ihcl-loc-details-exp-heading-img {
    position: absolute;
    top: 10px;
    top: 0.5rem;
    right: 30px;
    right: 1.875rem;
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-heading {
        display: block;
        margin-bottom: 0.625rem;
    }
}

.ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con {
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    padding: 0 3.5rem;
}

.ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con .ihcl-loc-details-exp-val {
    margin: auto 0;
    width: 9%;
}

@media only screen and (max-width: 991px) {
	.ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con .ihcl-loc-details-exp-val {
		width: auto;
	}
}

.ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con .ihcl-loc-details-exp-val .ihcl-loc-details-exp-anchor {
    color: #fff;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Calibri;
    text-decoration: underline;
    line-height: 1.2;
}

.ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con .ihcl-loc-details-exp-val .ihcl-loc-details-exp-country-list {
	color: #fff;
    font-size: 1rem;
    font-family: Calibri;
}


@media only screen and (max-width: 991px) {
    .ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con .ihcl-loc-details-exp-val .ihcl-loc-details-exp-anchor {
        color: #002b49;
        width: 75%;
        display: inline-block;
        font-size: 0.875rem;
    } 
    
    .ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con .ihcl-loc-details-exp-val .ihcl-loc-details-exp-country-list {
		color: #002b49;
		width: 25%;
		display: inline-block;
		font-size: 0.875rem;
	}
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con .ihcl-loc-details-exp-val {
        margin-bottom: 0.625rem;
    }
}



@media only screen and (max-width: 991px) {
    .ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con .ihcl-loc-details-exp-val:first-child {
        margin-left: 0;
    }
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con {
        display: block;
        padding-left: 1.375rem;
        padding-right: 1.375rem;
        height: auto;
        overflow-y: scroll;
    }

    .ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con .ihcl-loc-details-exp-val:last-child {
        margin-bottom: 1.5625rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con {
        padding-left: 2.5rem;
    }
}

@media only screen and (max-width: 991px) {
    .ihcl-loc-details-exp-wrap {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        height: unset;
        z-index: 3;
        overflow-y: scroll;
    }
}

.loc-details-scroll-right {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con .ihcl-loc-details-exp-val .ihcl-loc-details-exp-country-list {
        font-size: 1.5rem;
    }
    .ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-con .ihcl-loc-details-exp-val .ihcl-loc-details-exp-anchor {
        font-size: 1.5rem;
    } 
    .ihcl-loc-details-exp-wrap .ihcl-loc-details-exp-heading {
    	font-size: 2.1875rem;
    }  

}