<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-base-page, tajhotels.corp-press-release-filter'}" />
<div
	class="search-container pressRoom-filter holiday-outwrapper cm-search-with-filter col-lg-12 col-md-12 col-sm-12">
	<div
		class="search-and-suggestions-wrapper search-and-suggestions-wrapper-hotel container disable-input-scroll-top">
		<div class="searchBar-wrap">
			<input class="searchbar-input hotel-search" type="text" aria-label = "Hotel Serach Bar"
				placeholder="Search" /><i
				class="clear-input-icon icon-close ihcl-close " tabindex = "0" role = "button"
				src="/content/dam/tajhotels/icons/style-icons/close.svg"
				alt="close-icon"></i>
			<div class="search-filters-container">
				<div class="press-room-filter-wrapper">
					<div class="holiday-filter-wrapper">
						<div class="events-filter-subsection">
							<div class="events-filter-back-arrow" tabindex="0" role = "button">
								<i class="ihcl-arrow icon-carousel-arrow-coloured-left"></i>
								<div class="events-filter-subheading">Tell us what you are
									looking for</div>
							</div>
							<div class="filter-wrap-catagory"></div>
							<div class="filter-go-warpper">
								<div class="filter-go-con">
									<img class="filter-icon"
										src="/content/dam/tajhotels/icons/style-icons/search-svg.svg"
										alt="search-icon" /><span class="search-icon-aligner"></span>
								</div>
							</div>
							<button
								class="cm-btn-secondary events-apply-btn cm-press-room-filter">SEARCH</button>
						</div>
					</div>
				</div>
				<div class="filter-landing-cont-image" tabindex="0" role = "button">
					<img class="only-icon"
						src="/content/dam/tajhotels/icons/style-icons/filter-icon-blue.svg" alt = "filter-icon-blue"/>
				</div>
			</div>
		
		</div>
	</div>
</div>