.cm-multi-dd{
	display:none;
}

.custom-dropdown{
	border-bottom: 1px solid rgba(27, 27, 27, 0.5) !important;
    width:63%;
    display: inline-block !important;
    vertical-align: middle;
    margin-left:8px !important;
   	background-position: 89.5% 45%;
    background-size: 10px;
}            

#ExperiencesSelectBoxItContainer{
	margin-left: 12px;
}

#ExperiencesSelectBoxItText{
	line-height:1.5;
}

#ExperiencesSelectBoxIt{
	height: 25px;
}

.selectSubContainer .selectboxit-container .selectboxit{
	background-position: 89.5% 45%;
    background-size: 10px;
}