.holiday-outwrapper .btn-link {
    text-decoration: none !important;
}

.holiday-outwrapper .holiday-filter-wrapper {
    width: 100%;
    background-color: #e6e6e6;
    padding: 15px 30px;
    padding: 15px 30px;
    padding: 0.9375rem 1.875rem;
    position: relative;
}

.holiday-outwrapper .holiday-filter-wrapper:before {
    width: 7px;
    height: 100%;
    top: 0;
    content: "";
    position: absolute;
    left: 0px;
    z-index: 12;
    background-image: var(--linearGradient);
}

@media only screen and (max-width: 768px) {
    .holiday-outwrapper .holiday-filter-wrapper {
        padding: 0;
        display: block;
    }

    .holiday-outwrapper .holiday-filter-wrapper:before {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .holiday-outwrapper .events-filter-subsection {
        padding: 27px;
        top: -2px;
    }
}

@media only screen and (max-width: 768px) {
    .holiday-outwrapper .events-filter-subsection .events-filter-subheading {
        font-size: 1rem;
        font-family: Calibri-Bold;
        line-height: 1.02;
        color: #323232;
        display: inline;
        margin: 0;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 340px) {
    .holiday-outwrapper .events-filter-subsection .events-filter-subheading {
        font-size: 14px;
    }
}

.holiday-outwrapper .events-filter-subsection .events-filter-back-arrow {
    padding: 0;
    text-align: left;
}

.holiday-outwrapper .filter-searchBar-wrap {    
    position: relative;
    background-color: #e6e6e6;
    height: auto;
}

@media only screen and (min-width: 769px) {
    .holiday-outwrapper .filter-searchBar-wrap {
        display: none;
    }
}

.holiday-outwrapper .filter-searchBar-wrap:before {
    width: 5px;
    height: 100%;
    content: "";
    position: absolute;
    left: 0px;
    z-index: 12;
    background-image: var(--linearGradient);
}

.holiday-outwrapper .filter-searchBar-wrap .filter-searchbar-label {       
    border: 0;
    width: calc(100% - 35px);    
    padding: 8px 15px;
    padding: 0.5rem 0.9375rem;
    font-family: Calibri;    
    font-size: 16px;
    font-size: 1rem;
    color: #4a4a4a;
    display: inline-block;
    vertical-align: middle;
}

.holiday-outwrapper .filter-searchBar-wrap .filter-landing-cont {
    display: inline-block;
    vertical-align: middle;
}

.holiday-outwrapper .filter-search-result {
    display: none;
}

.filter-catagory {
    display: inline-block;
    padding: 0 5px;
    width: 19%;
}

@media only screen and (max-width: 991px) {
    .filter-catagory {
        width: 100%;
        margin-top: 50px;
    }
}

.filter-catagory .filter-header {
    font-family: Calibri-Bold;        
    font-size: 1rem;
    color: #1b1b1b;
    display: inline-block;
    width: 47%;
    text-align: center;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .filter-catagory .filter-header {
        color: #8e8e8e;
        font-size: 1rem;
        text-align: left;
        width: 100%;
    }
}

.filter-catagory .filter-dropDD {
    display: inline-block;
    width: 50%;
}

@media only screen and (max-width: 991px) {
    .filter-catagory .filter-dropDD {
        width: 100%;
    }
}

.filter-catagory .filter-dropDD .multiselect-native-select {
    margin-left: 1px;
}

.filter-catagory .filter-dropDD .multiselect-native-select .btn-group {
    border-bottom: solid 0.9px rgba(27, 27, 27, 0.5);
    width: 100%;
}

.filter-catagory .filter-dropDD .multiselect-native-select .dropdown-menu.show {
    transform: translate3d(0px, 34px, 0px) !important;
    width: auto !important;
    left: 0 !important;
}

.filter-catagory .filter-dropDD .multiselect-selected-text {
    font-family: Calibri-Bold;
    font-size: 16px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: var(--primaryColorDark);
    text-transform: capitalize;
}

.filter-catagory .filter-dropDD .dropdown-toggle {
    width: 100%;
    text-align: left;
    color: var(--primaryColorDark);
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
    .filter-catagory .filter-dropDD .dropdown-toggle {
        padding: 0;
    }
}

.filter-catagory .filter-dropDD .dropdown-toggle:after {
    color: var(--primaryColorDark);
    margin-left: 0;
    content: "";
    position: absolute;
    right: 0;
    bottom: 40%;
}

.multiselect-container > li {
    border-bottom: solid 1px #e8e8e8;
}

.multiselect-container > li label.checkbox {
    color: #4a4a4a;
    padding: 11px 16px;
    padding: 11px 16px;
    padding: 0.6875rem 1rem;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    .filter-go-warpper {
        display: none;
    }
}

.filter-go-warpper .filter-go-con {
    position: absolute;
    text-align: center;
    width: 50px;
    width: 50px;
    width: 3.125rem;
    height: 100%;
    top: 0;
    right: 0;
    background-image: var(--linearGradient);
    cursor: pointer;
}

.filter-go-warpper .filter-icon {
    display: inline-block;
    vertical-align: middle;
}
.filter-go-warpper .filter-icon-text{
	position: absolute;
	top: 100%;
    right: 0;
    white-space: nowrap;
    font-size: 1rem;
    font-family: Calibri-bold;
    letter-spacing: 0.1rem;    
}
.filter-go-warpper .search-icon-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.filter-landing-cont-image {
    display: none;
    height: 40px;
}

@media only screen and (max-width: 768px) {
    .filter-landing-cont-image {
        display: block;
    }
}

.filter-landing-cont-image img {
    float: right;
}

.events-contact-details {
    display: inline-block;
    width: 25%;
    border-right: 1.8px solid #c1bbbb;
    vertical-align: middle;
}

.events-contact-details a {
    float: right;
    margin-right: 21px;
    margin-right: 1.3125rem;
}

.events-brochure {
    display: inline-block;
    width: 15.5%;
    text-align: center;
}

.events-brochure img {
    margin-left: 7px;
    margin-left: 0.45625rem;
    height: 20px;
    width: 20px;
}

.events-brochure a div::before {
    content: 'Download Brochure';
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .events-brochure a div::before {
        content: "Brochure";
        font-size: 1rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 991px) {
    .events-brochure a div {
        font-size: 16px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .events-brochure {
        width: unset;
        display: unset;
        float: left;
        height: 100%;
        line-height: 2.5;
        text-align: left;
    }
}

.events-gallery {
    display: inline-block;
    width: 11%;
    border-left: 1.8px solid #c1bbbb;
    border-right: 1.8px solid #c1bbbb;
    text-align: center;
}

.events-filter-section {
    display: inline-block;
    width: 32%;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .events-filter-section {
        width: unset;
        display: unset;
        float: left;
        height: 100%;
        line-height: 2.5;
    }
}

.events-request-quote-btn {
    display: inline-block;
    width: 15%;
    text-align: right;
    border-left: 1.8px solid #c1bbbb;
}

.events-request-quote-btn .cm-btn-secondary {
    width: 160px;
    width: 10rem;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .events-request-quote-btn {
        width: auto;
        float: right;
        display: inherit;
        border: none;
        text-align: right;
    }
}

@media only screen and (max-width: 375px) {
    .events-request-quote-btn {
        padding-left: 0;
    }
}

.events-filter-subheading {
    display: inline-block;
    font-size: 20px;
    font-size: 1.25rem;
    color: #1b1b1b;
    margin-left: 23px;
    margin-left: 1.4375rem;
}

@media only screen and (max-width: 991px) {
    .events-filter-subheading {
        display: block;
        margin-left: 0;
        margin: 0 10%;
        font-family: Calibri-Bold;
        text-transform: uppercase;
    }
}

.selectSubContainer.events-size-dropdown {
    display: inline-block;
    width: 120px;
    width: 7.5rem;
    margin-left: 20px;
    margin-left: 1.25rem;
    vertical-align: text-bottom;
    border-bottom: 2px dotted rgba(27, 27, 27, 0.3);
    height: 27px;
}

@media only screen and (max-width: 991px) {
    .selectSubContainer.events-size-dropdown {
        display: block;
        margin-left: 0;
        margin: 0 10%;
        width: 80%;
        margin-top: 40px;
        border-bottom: 1.2px solid var(--primaryColor);
    }
}

.selectSubContainer.events-capacity-dropdown {
    display: inline-block;
    width: 120px;
    width: 7.5rem;
    margin-left: 41px;
    margin-left: 2.5625rem;
    vertical-align: text-bottom;
    border-bottom: 2px dotted rgba(27, 27, 27, 0.3);
    height: 27px;
}

@media only screen and (max-width: 991px) {
    .selectSubContainer.events-capacity-dropdown {
        display: block;
        margin-left: 0;
        margin: 0 10%;
        width: 80%;
        margin-top: 45px;
        border-bottom: 1.2px solid var(--primaryColor);
    }
}

.events-filter-icon-mobile {
    display: none;
    padding-right: 16px;
    padding-right: 1rem;
}

@media only screen and (max-width: 991px) {
    .events-filter-icon-mobile {
        display: inline-block;
        position: relative;
        margin-right: 1.25rem;
    }
}

@media only screen and (max-width: 375px) {
    .events-filter-icon-mobile {
        padding-right: 0.75rem;
        margin-right: 0.75rem;
    }
}

.events-filter-icon-mobile::before {
    height: 115%;
    width: 2px;
    background: #c1bbbb;
    content: '';
    position: absolute;
    right: 0;
    top: -10%;
}

@media only screen and (max-width: 991px) {
    .events-filter-subsection {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #fff;
        overflow-y: auto;
        z-index: 15;
    }
}

.events-filter-back-arrow {
    display: none;
}

@media only screen and (max-width: 991px) {
    .events-filter-back-arrow {
        display: block;
        padding: 28px 0 0 5%;
    }
}

.events-apply-btn {
    display: none;
}

@media only screen and (max-width: 991px) {
    .events-apply-btn {
        display: block;
        margin: 45px auto 0;
        width: 9.375rem;
    }
}

span.multiselect-native-select .selectboxit-container {
    display: none;
}
@media only screen and (min-width: 992px) {
	.holidays-experiences-layout .filter-catagory,
	.holidays-theme-layout .filter-catagory{
		/*width: 24%;*/
	}
}
.holidays-packages-layout .filter-catagory:nth-child(6),
.holidays-homepage-layout .filter-catagory:nth-child(6),
.holidays-destinations-layout .filter-catagory:nth-child(6){
    display: none;
} 
.holidays-theme-layout .filter-catagory:nth-child(5){
	display: none;
}
.holidays-experiences-layout .filter-catagory:nth-child(1){
    display: none;
}
.holidays-filter-no-results{
	font-family: Calibri;
    font-size: 1rem;
    padding: 0.5rem 0;
    display: none;
}

.multiselect-native-select .btn-group ul li label {
	position: relative !important;
	padding-left: 2rem !important;
}

.multiselect-native-select .btn-group ul li label input {
	position: absolute !important;
	left: 1rem !important;
	top: 1.05rem !important;
}