.incredible-hotel-description .show-more-ell.cm-view-txt,
.incredible-hotel-description .show-less.cm-view-txt {
    text-transform: capitalize;
    letter-spacing: normal;
}
.incredible-escape-hotel-card {
    padding: 14px 21px 27px 20px !important;
    padding: 0.875rem 1.3125rem 1.6875rem 1.25rem !important;
    background-color: #f6f6f6;
    position: relative;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.incredible-escape-hotel-card:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-hotel-card {
        padding: 0.875rem 1.0625rem 2.9375rem 1.0625rem !important;
        margin-bottom: 0.875rem;
    }
}

.incredible-escape-hotel-card .incredible-escape-hotel-view-all {
    position: absolute;
    top: 20px;
    top: 1.25rem;
    right: 21px;
    right: 1.3125rem;
    cursor: pointer;
    text-decoration: underline;
    font-family: Calibri-bold;
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: 1px;
    letter-spacing: 0.1125rem;
    color: var(--primaryColor);
}

@media only screen and (max-width: 767px) {
    .incredible-escape-hotel-card .incredible-escape-hotel-view-all {
        bottom: 1rem;
        right: 1rem;
        top: initial;
    }
}

.incredible-escape-hotel-card .incredible-escape-hotel-card-title {
    font-family: Calibri-bold;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.25;
    color: #323232;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-hotel-card .incredible-escape-hotel-card-title {
        font-size: 1.5rem;
        line-height: 1.02;
    }
}

.incredible-escape-hotel-card .incredible-escape-hotel-content {
    margin-top: 7px;
    margin-top: 0.4375rem;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-hotel-card .incredible-escape-hotel-content {
        padding: 0 !important;
        margin-top: 0.75rem;
    }
}

.incredible-escape-hotel-card .incredible-escape-hotel-content .incredible-hotel-destination {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.29;
    color: var(--primaryColor);
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.incredible-escape-hotel-card .incredible-escape-hotel-content .incredible-hotel-destination .destination-icon {
    width: 13px;
    width: 0.8125rem;
    height: 18px;
    height: 1.125rem;
    display: inline-block;
    margin-right: 9px;
    margin-right: 0.5625rem;
}

.incredible-escape-hotel-card .incredible-escape-hotel-content .incredible-hotel-phone-number {
    display: inline-block;
    vertical-align: middle;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.57;
    color: #9b9b9b;
    padding-right: 16px;
    padding-right: 1rem;
    margin-right: 16px;
    margin-right: 1rem;
    margin-bottom: 16px;
    border-right: solid 1px #c3c3c3;
}

.incredible-escape-hotel-card .incredible-escape-hotel-content .incredible-hotel-phone-number .phone-ic {
    width: 14px;
    width: 0.89375rem;
    height: 14px;
    height: 0.875rem;
    display: inline-block;
    margin-right: 9px;
    margin-right: 0.5625rem;
}

.incredible-escape-hotel-card .incredible-escape-hotel-content .incredible-hotel-email-id {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.57;
    color: var(--primaryColor);
    margin-bottom: 16px;
    display: inline-block;
    vertical-align: middle;
}

.incredible-escape-hotel-card .incredible-escape-hotel-content .incredible-hotel-email-id .email-ic {
    width: 20px;
    width: 1.25rem;
    height: 13px;
    height: 0.8125rem;
    display: inline-block;
    margin-right: 9px;
    margin-right: 0.5625rem;
}

.incredible-escape-hotel-card .incredible-escape-hotel-content .incredible-superior-info {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.75;
    color: #4a4a4a;
}

.incredible-escape-hotel-card .incredible-escape-hotel-content .incredible-hotel-description {
    min-height: 115px;
    min-height: 7.1875rem;
}

.incredible-escape-hotel-card .incredible-escape-hotel-content .incredible-hotel-description .placeholder-title {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.38;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-hotel-card .incredible-escape-hotel-content .incredible-hotel-select-package-wrp {
        margin-top: 0.4375rem;
    }
}

.incredible-escape-hotel-card .incredible-escape-hotel-content .incredible-hotel-select-package-wrp .mr-Filter-checkbox-wrap {
    margin-left: 32px;
    margin-left: 2rem;
}

.incredible-escape-hotel-card .incredible-escape-hotel-content .incredible-hotel-select-package-wrp .mr-Filter-checkbox-wrap .mr-filterCheckBox-label {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.57;
    color: #9b9b9b;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-hotel-card .incredible-escape-hotel-photos {
        padding: 0 !important;
        margin-top: 0.9375rem;
    }
}

@media only screen and (max-width: 767px) {
    .incredible-escape-hotel-card .incredible-escape-hotel-photos .incredible-escape-photos-row {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow: scroll;
    }
}

.incredible-escape-hotel-card .incredible-escape-hotel-photos .incredible-escape-photos-row .incredible-escape-photos-col {
    position: relative;
    padding-left: 16px;
    padding-left: 1rem;
}

@media only screen and (max-width: 767px) {
    .incredible-escape-hotel-card .incredible-escape-hotel-photos .incredible-escape-photos-row .incredible-escape-photos-col {
        padding-right: 1rem !important;
        padding-left: 0 !important;
    }
    .incredible-escape-hotel-card .incredible-escape-hotel-photos .incredible-escape-photos-row .incredible-escape-photos-col:last-child{
        padding-right: 0 !important;
    }
}

.incredible-escape-hotel-card .incredible-escape-hotel-photos .incredible-escape-photos-row .incredible-escape-photos-col img {
    height: 100%;
    width: 100%;
}

/*---------------------------CSS for page level classes-----------------------------------------*/

.cm-page-container {
    background: #f5f5f5;
}

.cm-page-container .row {
    margin: auto;
}

.cm-page-container [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}


.link-text{
	color:var(--primaryColor);
}

.emailhref{
	color:var(--primaryColor);
}

.emailhref:hover{
	color:var(--primaryColor);
}