.brand-card-wrapper-card1 {
    /* padding-right: 10px;
    padding-right: 0.625rem; */
}

@media only screen and (max-width: 767px) {
    .brand-card-wrapper-card1 {
        padding-right: unset;
    }
}

.brand-card-wrapper-card4 {
    /* padding-left: 10px;
    padding-left: 0.625rem; */
}

@media only screen and (max-width: 767px) {
    .brand-card-wrapper-card4 {
        padding-left: unset;
    }
}

.brand-card-wrapper-card2 {
    /* padding-right: 5px;
    padding-right: 0.3125rem;
    padding-left: 5px;
    padding-left: 0.3125rem; */
}

.brand-card-wrapper-card3 {
    /* padding-right: 5px;
    padding-right: 0.3125rem;
    padding-left: 5px;
    padding-left: 0.3125rem; */
}

@media only screen and (max-width: 767px) {
    .brand-card-wrapper-card2 {
        padding-right: unset;
        padding-left: unset;
    }
    .brand-card-wrapper-card3 {
        padding-right: unset;
        padding-left: unset;
    }
}

.read-more {
    font-weight: bold;
    color: var(--primaryColor);
    padding-left: 10px;
    padding-left: 0.625rem;
}

@media only screen and (max-width: 767px) {
    .read-more {
        padding-left: 0rem;
    }
}

.brand-img-card {
    height: 480px;
    height: 30rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .brand-img-card {
        height: 370px;
    }
}

.brand-card-component {
    border: none;
    padding: 0px;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
    display: inline-block;
}

.brand-card-component .icon-div {
    position: relative;
}

.brand-card-component .brand-name-wrapper {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 96px;
    height: 6rem;
    /*background-color: #080808;
    opacity: 0.7;*/
    background: rgba(240, 240, 240, 0.9);
    color: white;
}

.brand-card-component .brand-name-wrapper .helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.brand-card-component .brand-name-wrapper .brand-icon {
    width: 78px;
    width: 4.875rem;
    display: inline-block;
    vertical-align: middle;
}

.brand-card-component .brand-name-wrapper .gateway-brand-icon {
    width: 196px;
    width: 13.625rem;
    height: 35px;
}



.brand-card-component .brand-name-wrapper .seleqtions-brand-icon {
    width: 109px;
    width: 5.5rem;
    height: 26px;
    height: 1rem;
   
}

.brand-card-component .brand-name-wrapper .vivanta-brand-icon {
    width: 110px;
    width: 5rem;
    height: 25px;
    height: 1rem;
}

.brand-card-component .brand-name-wrapper .taj-brand-icon {
    width: 98px;
    width: 5rem;
    height: 70px;
    height: 4rem;
}

.brand-card-component .brand-name-wrapper .brand-icon.mobile-display-none {
    display: inline-block;
}

.brand-card-component .brand-name-wrapper .brand-icon.desktop-display-none {
    display: none;
}

.brand-card-component .brand-card-footer .brand-description div.description-text-brand {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #585656;
    margin: 0;
    padding: 0;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 767px) {
    .brand-card-component .brand-card-footer .brand-description div.description-text-brand {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .brand-card-component .brand-card-footer .brand-description div.description-text-brand {
        font-size: 0.9375rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .brand-card-component .brand-card-footer .brand-description div.description-text-brand {
        font-size: 0.9375rem;
    }
}

@media only screen and (max-width: 767px) {
    .brand-card-component {
        margin-bottom: 1rem;
    }

    .brand-card-component .brand-image-wrapper {
        background-color: #ffffff;
        box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
        display: flex;
    }

    .brand-card-component .card-img-top {
        display: none;
    }

    .brand-card-component .brand-name-wrapper {
        background-color: transparent;
        opacity: unset;
    }

    .brand-card-component .brand-name-wrapper .brand-icon.mobile-display-none {
        display: none;
    }

    .brand-card-component .brand-name-wrapper .brand-icon.desktop-display-none {
        display: inline-block;
        object-fit: contain;
    	height: 2.3rem;
    }

    .brand-card-component .icon-div {
        position: static;
        display: inline-block;
        vertical-align: top;
        width: 35%;
    }

    .brand-card-component .brand-name-wrapper {
        position: static;
        min-height: 6.25rem;
        height: 7.5rem;
        height: 100%;
    }
    
    .brand-image-wrapper .description-text-brand p {
    	margin: 0;
    }

    .brand-card-component .brand-card-footer {
        display: inline-block;
        width: 63%;
        padding: 0;
        padding: 0.625rem;
        min-height: 6.25rem;
    }

    .brand-card-component .card-footer {
        background-color: #ffffff;
        border-top: unset;
    /*overflow: hidden;*/
    }

    .brand-card-component .brand-description div.description-text-brand {
        font-size: 0.875rem ! important;
    /*height: 70/@rem;
            overflow: hidden;*/
    }

    .brand-card-component .read-more {
        display: block;
        font-family: Calibri;
        color: var(--primaryColor);
        cursor: pointer;
    }
}

.mr-our-brands-wrapper {
    width: 33%;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .mr-our-brands-wrapper {
        width: 100%;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mr-our-brands-wrapper {
        width: 300px;
    /*height: 470px;*/
    }

    .mr-our-brands-wrapper .brand-name-wrapper {
        height: 80px;
    }
}

@media only screen and (min-width: 768px) {
    .mr-our-brands-container-inner {
        /* display: -ms-flexbox;
        display: flex; */
    }

    .mr-our-brands-container-inner .mr-our-brands-wrapper .brand-card-wrapper-card1 {
        height: 100%;
    }

    .mr-our-brands-container-inner .mr-our-brands-wrapper .brand-card-wrapper-card2 {
        height: 100%;
    }

    .mr-our-brands-container-inner .mr-our-brands-wrapper .brand-card-wrapper-card3 {
        height: 100%;
    }

    .mr-our-brands-container-inner .mr-our-brands-wrapper .brand-card-wrapper-card4 {
        height: 100%;
    }

    .mr-our-brands-container-inner .mr-our-brands-wrapper .brand-card-component {
        height: 100%;
    }

    .mr-our-brands-container-inner .mr-our-brands-wrapper .brand-card-component .brand-image-wrapper {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.03);
    }

    .mr-our-brands-container-inner .mr-our-brands-wrapper .brand-card-component .brand-image-wrapper .card-footer.brand-card-footer {
        background-color: transparent;
    }
}
@media only screen and (min-width: 768px) and (max-width:991px) {
  .brand-card-component .brand-name-wrapper .seleqtions-brand-icon {
     width: auto;
    height: 54px !important;
    object-fit: contain;
    margin-top: 16px;
    }
}


@media only screen and (min-width: 768px)  {
.brand-card-component .brand-name-wrapper .vivanta-brand-icon {
      width: auto;
    height: 31px;
    margin-top: 9px;
    object-fit: contain;
}
.brand-card-component .brand-name-wrapper .taj-brand-icon {
    width: auto;
    height: 49px ;
    object-fit: contain;
    margin-top: -4px;
  
}
.brand-card-component .brand-name-wrapper .gateway-brand-icon {
    height: 30px;
    width: auto;
    object-fit: contain;
    margin-top: 2px;
}
.brand-card-component .brand-name-wrapper .seleqtions-brand-icon {
     width: auto;
    height: 58px;
    object-fit: contain;
    margin-top: 16px;
    }
}
 .view-brand-page-btn {
    float:right;
    margin-bottom:10px;
}

.brand-cards-btn-con {
	display: block;
	position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.brand-cards-btn-con .view-brand-page-btn {
	float: right;
	margin-bottom: 0px;
}
button.btn-only-focus{ color: var(--primaryColorDark)}
@media only screen and (min-width: 768px) {
	.brand-card-footer .brand-description {
		padding-bottom: 3rem;
	}
}
