<!--<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.all @ categories='tajhotels.destination.hotelbanner'}" />-->

<sly data-sly-use.apiKeyModel="com.ihcl.core.models.config.TajApiKeyConfigModel" />
<div data-sly-test="${wcmmode.edit}">Destination - Hotel Banner	Component</div>
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<div class="banner-container"
	data-apikey="${apiKeyModel.openWeatherMapApiKey}"
	data-dest-loc="${properties.location}">
	<div class="hotel-banner-image-con banner-image-con hide-in-sm hide-in-md">
		<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.bannerImage, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg'}" />
		<div class="dest-banner-titles">
			<div class="dest-banner-header-label-con">
				<div class="cm-header-label">${properties.destinationName}</div>
			</div>
			<div class="banner-label-below-title-sm">
				<div class="inline-block hotel-banner-date system-date"></div>
				<div class="inline-block hotel-banner-temperature">
					<span id="weather-update"></span><span class="cm-degree"></span><span>C</span>
				</div>
			</div>
			<div class="banner-label-hotel-details">
				<div class="banner-label-hotel-name">${properties.hotelName}</div>
				<div class="banner-label-hotel-loc">${properties.hotelLocation}</div>
			</div>
		</div>
	</div>
	<div data-sly-resource="${'bookastay' @  resourceType='tajhotels/components/content/hotelbookingdetails'}"></div>
</div>
