<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
			 data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='taj.hotels.components.destination-experience-carousal'}" />

<div data-sly-test="${wcmmode.edit}">Destination - Experience
	Carousel Component</div>

<div class="hotels-in-dest-container cm-content-blocks">
	<div class="cm-header-label-con title-decorator-border">
		<sly
			data-sly-resource="${'popular-destinations-title' @ resourceType='tajhotels/components/content/title', decorationTagName='div'}"></sly>
	</div>
	<div>
		<div
			data-sly-resource="${ @ path='destination-carousel', resourceType='tajhotels/components/content/all-experiences'}"
			data-sly-unwrap></div>
	</div>
</div>
