<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"> <sly
    data-sly-test="${wcmmode.edit}">AMA Accordion</sly>

<section class="feature-stay ${properties.backgroundColor}">
    <div class="feature-stay-container owl-carousel owl-theme">
        <sly data-sly-list.list='${resource.children}'> <sly data-sly-test="${list.name == 'bungalows'}"> <sly
            data-sly-list.listItem='${list.children}'>
        <div class="feature-stay-card-warp">
            <div class="feature-stay-card">
                <!--<img src="${listItem.imagePath}" />-->
                <sly
                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=listItem.imagePath,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.1280.1280.jpeg'}"></sly>
                <div class="feature-stay-description">
                    <h3 class="bungalow-header">${listItem.destinationsHeading}</h3>
                    ${listItem.description @ context = "html"}
                    <sly data-sly-test="${listItem.button}"> <a href="${listItem.buttonLink}.html"><button
                            class="cm-btn-secondary">${listItem.button}</button></a> </sly>
                </div>
            </div>
        </div>
        </sly> </sly> </sly>
    </div>

</section>