.taj-brand-info-component {
    padding: 26px 30px;
    background-color: rgba(74, 74, 74, 0.05);
}
.taj-brand-info-component .brand-value img.brand-value-image.tic-logo-brand-value-image {
    width: 135px;
}
.taj-brand-info-component .header-text-taj-brand-info {
    margin: 0;
    font-family: Calibri;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.taj-brand-info-component .line-separator {
    display: inline-block;
    width: 94px;
    height: 2px;
    border: solid 3px var(--primaryColor);
    margin: 10px auto 14px auto;
}

.taj-brand-info-component .title-decorator-border {
    position: relative;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.taj-brand-info-component .title-decorator-border::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100px;
    background-color: var(--primaryColor);
    left: 0;
    bottom: -15px;
}

@media only screen and (max-width: 767px) {
    .taj-brand-info-component .title-decorator-border {
        text-align: center;
        font-size: 20px;
    }

    .taj-brand-info-component .title-decorator-border::after {
        left: 50%;
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }
}

.taj-brand-info-component div.mr-brand-icon-wrap {
    min-height: 90px;
    max-height: 90px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.taj-brand-info-component .description {
    font-family: Calibri;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.taj-brand-info-component .submit-claim {
    font-family: SunSans-Demi;
    color: var(--primaryColor);
    display: inline;
    text-decoration: none;
}

.taj-brand-info-component .brand-value {
    width: 110px;
    display: inline-block;
    margin: 0px 12px;
    margin: 0rem 0.8rem;
    vertical-align: top;
}
.taj-brand-info-component .brand-info-wrapper a{color: var(--primaryColorDark);}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .taj-brand-info-component .brand-value {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .taj-brand-info-component .brand-value {
        margin-right: 10px;
    }
}

.taj-brand-info-component .brand-value .brand-value-image {
    width: 66.8px;
}

.taj-brand-info-component .brand-value .brand-value-text {
    font-family: SunSans-Demi;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.5px;
    text-align: center;
    color: #4a4a4a;
    margin: 0;
}

.taj-brand-info-component .mr-desktop-display-none {
    display: none;
}

@media only screen and (max-width: 767px) {
    .taj-brand-info-component {
        padding: unset;
        background-color: transparent;
    }

    .taj-brand-info-component .brand-info-wrapper {
        padding: 1rem 0.5rem;
    }

    .taj-brand-info-component .brand-value.mr-desktop-display-none {
        display: inline-block;
        margin-left: 10px;
    }

    .taj-brand-info-component .mr-mobile-display-none {
        display: none;
    }

    .taj-brand-info-component .mr-desktop-display-none {
        display: block;
    }

    .taj-brand-info-component .mr-mobile-margin-top {
        margin-top: 1rem;
    }
}
