@rem: 16rem;
.about-destination-city-container-wrapper.about-specific-city-container {
    @media only screen and (max-width: 480px) {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.about-specific-city-container {
    padding: 38/@rem 26/@rem 38/@rem 38/@rem;
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        padding: 21/@rem;
    }
    .specific-city-header-wrapper {
        font-family: Calibri-bold;
        font-size: 35/@rem;
        color: #323232;
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            font-size: 24/@rem;
        }
        .specific-city-header {
            display: inline;
        }
    }
    .specific-city-wrapper {
        margin-top: 17/@rem;
        .specific-city-details-container {
            /*display: inline-block;*/ //Commented by Nixon
            float: left; //Added by Nixon
            width: 43%;
            @media only screen and (min-width: 320px) and (max-width: 767px) {
                width: 100%;
                position: relative;
    			z-index: 1;
            }
            .spec-about-city {
                font-size: 16/@rem;
                color: #4a4a4a;
                font-family: Calibri;
                .spec-about-city-subheader {
                    font-family: Calibri-bold;
                    margin-bottom: 9/@rem;
                }
                .destination-city-desc {
                    line-height: 1.25;
                }
            }
            .spec-city-options {}
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                width: 41%;
            }
        }
        .specific-city-carousel-conatiner {
            width: 51%; // height: 340/@rem; 
            /*display: inline-block;*/ //Commented by Nixon
            float: right; // margin-right: 1rem; 
            @media only screen and (min-width: 320px) and (max-width: 767px) {
                width: 100%; // height: 196/@rem;
                display: block;
                float: none;
                margin-top: 16/@rem;
            }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                // margin- right: 1.5rem; 
            }
            .about-carousel-images {
                /*@media only screen and (max-width: 991px) {
                    width: 100%;
                }*/ //Commented by Nixon
                height: 100%;
                width: 100%; //Added by Nixon
            }
            .leftArrow {
                top: 50%;
                margin-top: -16/@rem;
                left: -7%;
                img {
                    width: 17/@rem;
                    height: 32/@rem;
                }
            }
            .rightArrow {
                top: 50%;
                margin-top: -16/@rem; // right: 0;
                img {
                    width: 17/@rem;
                    height: 32/@rem;
                }
            }
        }
    }
}

.mr-specific-City-carousel-wrapper {
    overflow-x: hidden;
    width: (580/@rem);
    @media only screen and (min-width: 320px) and (max-width: 991px) {
        width: 100%;
        overflow: auto;
    }
}

.about-city-carousel-images-mobile:first-child {
    @media only screen and (min-width: 320px) and (max-width: 991px) {
        margin-left: 0 ! important;
    }
}

.mr-viewGallery-about-carousel-wrapper {
    text-align: right;
}

.viewGallery-aboutCarousel {
    font-family: Calibri;
    font-size: 16/@rem;
    color: var(--primaryColor);
    text-decoration: underline;
    font-weight: bold;
    &:hover {
        color: var(--primaryColor);
    }
}

.mr-each-about-carousel-wrapper {
    height: (326/@rem);
    @media only screen and (min-width: 320px) and (max-width: 991px) {
        height: initial;
    }
}