.ihcl-show-more,
.ihcl-show-less {
  color: #002b49;
  font-size: 1rem;
  font-family: Calibri-Bold;
  cursor: pointer;
}
.vision-card {
   background-color: #ffffff;
   box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
   padding: 24px;
   padding: 1.5rem;
}

@media only screen and (max-width: 767px) {
   .vision-card {
       padding: 1rem;
       margin: 0 1rem;
   }
}

.vision-card .vision-title {
   font-family: Calibri;
   font-size: 36px;
   font-size: 2.25rem;
   font-weight: bold;
   text-align: center;
   color: #323232;
   word-wrap: break-word;
   word-break: break-all;
}

@media only screen and (max-width: 767px) {
   .vision-card .vision-title {
       font-size: 2rem;
   }
}

.vision-card .vision-tag-line {
   font-family: Calibri;
   font-size: 24px;
   font-size: 1.5rem;
   line-height: 2.67;
   text-align: center;
   color: #323232;
   word-wrap: break-word;
   word-break: break-all;
}

@media only screen and (max-width: 767px) {
   .vision-card .vision-tag-line {
       line-height: 1;
       font-size: 1.25rem;
   }
}

.vision-card .vision-discription-wrp {
   margin: auto;
}

.vision-card .vision-discription {
   font-size: 20px;
   font-size: 1.25rem;
   font-family: Calibri;
   line-height: 1.25;
   text-align: center;
   color: #323232;
   word-wrap: break-word;
   word-break: break-all;
}
.rooms-suites-description p{
font-size:1.2rem;
}
@media only screen and (max-width: 767px) {
   .vision-card .vision-discription {
       font-size: 1rem;
   }
}
@media only screen and (max-width: 767px) {
   .rooms-suites-description p {
       font-size: 1rem;
   }
}
@media only screen and (max-width: 390px) {
   .rooms-suites-description p {
       font-size: 0.9rem;
   }
}
@media only screen and (max-width: 360px) {
   .rooms-suites-description p {
       font-size: 0.85rem;
   }
}
@media only screen and (max-width: 340px) {
   .rooms-suites-description p{
       font-size: 0.795rem;
   }
}