<div data-sly-test="${properties.hotelPath}">
<div class="hotel-overview" data-sly-use.model="com.ihcl.core.models.HotelOverview">
<h1 class="h1-hotel">${model.hotelName}</h1>
<h2 class="overview-subtitle">${model.subtitle}</h2>
<div class="ho-each-ameneties-sec"><div class="ho-signature-icon ${inheritedPageProperties.sitePath} icon-location"></div><a class="overviewLink ${inheritedPageProperties.sitePath}"  href="https://www.google.com/maps/search/?api=1&query=${model.hotelLatitude},${model.hotelLongitude}">${model.hotelLocation}, ${model.hotelCity}, ${model.countryName}</a></div>
<div class="ho-each-ameneties-sec"><div class="ho-signature-icon ${inheritedPageProperties.sitePath} icon-telephone"></div><a class=" overviewLink ${inheritedPageProperties.sitePath}" href="tel:${model.hotelStdCode}${model.hotelPhoneNumber}">${model.hotelStdCode}-${model.hotelPhoneNumber}</a></div>
<div class="ho-each-ameneties-sec"><div class="ho-signature-icon ${inheritedPageProperties.sitePath} icon-email"></div></i><a class=" overviewLink ${inheritedPageProperties.sitePath}" href="mailto:${model.hotelEmail}">${model.hotelEmail}</a></div>
<div [class]="visibleHotelDesc ? 'hotelDescMore' : 'hotelDesc'" class="hotelDesc">${model.hotelLongDesc  @context='html'}</div>
<p role="button" tabindex="0" class="overviewLink showMore ${inheritedPageProperties.sitePath}" [text]="visibleHotelDesc ? 'Show Less' : 'Show More'" on="tap:AMP.setState({visibleHotelDesc: !visibleHotelDesc})">Show More</p>

<div style="position: relative;">
<p role="button" tabindex="0" on="tap:AMP.setState({share: !share})" style="margin-top: 20px;">
  <amp-img width="30px" height="30" src="/content/dam/tajhotels/icons/social-icons/share.JPG" layout="intrinsic">
  </amp-img>
</p>
<div [class]="share ? 'display-block' : 'display-none'" class="display-none" style="position: absolute;bottom:45px;margin: auto;z-index: 1;background-color: #ffffff;box-shadow: 6px 11px 12px 8px rgba(0, 0, 0, 0.05);border-radius: 4px;padding: 7px;">
  <div style="display: flex;flex-direction: column;">
    <a href="https://facebook.com/sharer/sharer.php?u=${properties.livePath}"><amp-img width="25px" height="25" src="/content/dam/tajhotels/icons/social-icons/ic-facebook@2x.png" layout="intrinsic"></amp-img></a>
    <a href="https://twitter.com/share?url=${properties.livePath}"><amp-img width="25" height="25" src="/content/dam/tajhotels/icons/style-icons/twitter.svg" layout="intrinsic"></amp-img></a>
    <a href="https://plus.google.com/share?url=${properties.livePath}"><amp-img width="25" height="25" src="/content/dam/tajhotels/icons/social-icons/google+.jfif" layout="intrinsic"></amp-img></a>
  </div>
</div>
</div>

<h3 role="button" tabindex="0">Hotel Highlights</h3>
<div data-sly-list.key="${model.hotelSignatureFeatures}">
<div class="ho-each-ameneties-sec">
	<div class="ho-signature-icon ${inheritedPageProperties.sitePath} ${key}"></div>
	<div class="ho-signature-name inline-block">${model.hotelSignatureFeatures[key]}</div>
</div>
</div>

<h3 role="button" tabindex="0" class="overviewLink ${inheritedPageProperties.sitePath} overview-ho" on="tap:quote-Amenities">Amenities</h3>
<amp-lightbox class="amenities-background" id="quote-Amenities" layout="nodisplay" style="background: rgba(74, 74, 74, 0.55);overflow: auto;">
  <div class="lightbox-container-div" style="background: white;margin: 15% 20px 15%; padding: 20px;">
   <ul class="margin-zero line-height-amenities" data-sly-list.key="${model.hotelFacilities}">
       	<li>${key}</li>
    </ul>
    <ul class="margin-zero line-height-amenities" data-sly-list.key="${model.otherConveniences}">
           <li>${key}</li>
    </ul>
    <ul class="margin-zero line-height-amenities" data-sly-list.key="${model.wellnessAmenities}">
           <li>${key}</li>
    </ul>
    <button class="amenities-close" on="tap:quote-Amenities.close">X</button>
  </div>
</amp-lightbox>


<h3 role="button" tabindex="0">Hotel Policies</h3>
<ul data-sly-list.key="${model.hotelPolicy}">
       <li>${key}</li>
</ul>
<h3 role="button" tabindex="0">Hotel Essentials</h3>
<ul data-sly-list.key="${model.hotelEssentials}">
    <li data-sly-test="${model.hotelEssentials[key]}"><a class="overviewLink ${inheritedPageProperties.sitePath}" target="_blank" href="https://www.tajhotels.com${model.hotelEssentials[key]}">${key}</a></li>
    <li data-sly-test="${!model.hotelEssentials[key]}">${key}</li>
</ul>
<a class="overviewLink ${inheritedPageProperties.sitePath}" target="_blank" href="${properties.hotelPath}/image-gallery.html">View Image Gallery</a>
</div>