<sly data-sly-test="${wcmmode.edit}">AMA services</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.hotels.services'}"></sly>

<section class="${properties.backgroundColor @context='styleString'}">
    <div class="container">
        <div class="ama-service owl-carousel owl-theme">
            <sly data-sly-list.list="${resource.children}">
                <sly data-sly-test="${list.name == 'bungalows'}">
                    <sly data-sly-list.listItem="${list.children}">
                        <div class="service-wrap">
                            <div class="serviceSingle">
                                <div class="serviceSingleImg">
                                    <img src="${listItem.imagePath}" alt="" />
                                    <h3>${listItem.destinationsHeading}</h3>
                                </div>
                                <div class="serviceSingleDesc">
                                    <sly data-sly-test="${listItem.description}">
                                        <h4>Available at:</h4>
                                        ${listItem.description @context = 'html'}
                                    </sly>
                                    <sly data-sly-test="${listItem.button}">
                                        <div class="card-btn">
                                            <a href="${listItem.buttonLink}">
                                                <div class="cm-btn-secondary">
                                                    <buttion class="">${listItem.button}</buttion>
                                                </div>
                                            </a>
                                        </div>
                                    </sly>
                                </div>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>