<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.about-destination'}" />
<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html" />

<div class="about-specific-city cm-content-blocks">
    <div class="about-specific-city-container">
        <div class="specific-city-header-wrapper">
            <h1 class="specific-city-header">${properties.title}</h1>
        </div>
        <div class="specific-city-wrapper clearfix">
            <div class="specific-city-details-container">
                <div class="spec-about-city">
                    <div class="spec-about-city-subheader">${properties.quote}</div>
                    <article class="spec-city-desc">
                        <P>${properties.description @context='html'}</P>
                    </article>
                    <div class="spec-city-options">
                        <div class="ho-btns-section">
                            <button class="cm-btn-primary add-to-wishlist-btn loc-city" style="display: none;">ADD
                                TO WISHLIST</button>
                            <div class="share-btn-wrapper" data-share-text="${properties.sharetext}">
                                <button class="icon-share cm-btn-primary cm-share-btn loc-city share-btn-js"
                                    aria-label="share icon"></button>
                                <div id="socials" class="share-options-list"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="specific-city-carousel-conatiner">
                <div class="mr-specific-City-carousel-wrapper">
                    <div class="clearfix" data-sly-list.imageUri="${properties.destinationImages}">
                        <div class="mr-specific-city-image-carousel-wrapper cm-left about-city-carousel-images-mobile">
                            <div class="mr-each-about-carousel-wrapper">
                                <sly
                                    data-sly-call="${imagetemplate.damImageTemplate @ imagePath=imageUri, renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg', lazyload='true', styleClass='about-carousel-images'}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
