.card-show-more-button.amalgamation-mobile {
    display:block !important;
    color:#012f4e !important;
}
.mr-audit-statement-wrapper{
    margin:-15px !important;
        }

.mr-audit-statement-template {
     display: none;
    padding:15px !important;
}

.mr-audit-statement-template.show-more-card-element-active {
    display: -ms-flexbox;
    display: flex;
}

/* .mr-audit-statement-template:first-child {
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (min-width: 768px) {
    .mr-audit-statement-template:nth-child(-n+6) {
        display: -ms-flexbox;
        display: flex;
    }
}

@media only screen and (min-width: 992px) {
    .mr-audit-statement-template:nth-child(-n+9) {
        display: -ms-flexbox;
        display: flex;
    }
} */

@media only screen and (max-width: 767px) {
    .mr-audit-statement-wrapper.row {
        margin: 0 0.9375rem;
    }
}

@media only screen and (max-width: 767px) {
    .mr-audit-statement-template.col-lg-4.col-md-6.col-sm-12.show-more-card-element.cm-card-showmore-spacing {
        padding: 0 !important;
    }
}

.mr-audit-statement-template-inner {
    box-shadow: 0 0.6875rem 0.75rem 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    height:100%;
    background-color: #FFF;
}

.mr-audit-icon-holder {
    background-color: #efe7dc;
    height: 206px;
    height: 12.875rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.mr-audit-statement-description-wrapper {
    padding: 22px;
    padding: 1.375rem;
    background-color: #ffffff;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .mr-audit-statement-description-wrapper {
        padding: 1.1875rem;
        display: flex;
    }
}

.mr-audit-statement-text {
    width: 49%;
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    display: inline-block;
    margin: auto;
}

@media only screen and (max-width: 350px) {
    .mr-audit-statement-text {
        width: 100%;
        display: block;
        margin: auto;
    }
}

.mr-download-btn-wrapper {
    font-family: Calibri-bold;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    float: right;
    /* margin-top: 11px;
    margin-top: 0.6875rem; */
}

@media only screen and (max-width: 991px) {
    .mr-download-btn-wrapper {
        margin-top: 0.3125rem;
    }
}

@media only screen and (max-width: 350px) {
    .mr-download-btn-wrapper {
        float: none;
        margin-top: 0.625rem;
        text-align: right;
        display: block;
    }
}

.mr-audit-statement-template .cm-btn-secondary {
    font-size: 14px;
    font-size: 0.875rem;
}
 .mr-anchor-download {
display: inline-block;
 width: 49%;
 vertical-align: top;
 text-align: right;

}
