.pressRoom-filter {
        margin-top: 32px !important;
    }

.search-container.mr-stickyScroll .search-row-wrap-mobile {
   display: none !important;
}

@media only screen and (max-width: 991px) {
   .search-container.mr-stickyScroll .filterByMobile {
       display: none !important;
   }
}

.search-container.mr-stickyScroll .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel {
   padding: 0px !important;
   padding: 0rem !important;
}

.search-container {
 /*max-width: 1280/@rem;*/
 /*commented by Nixon*/
   width: 100%;
   margin: 0 auto;
}

@media only screen and (max-width: 767px) {
   .search-container.search-hotels-container {
       padding: 0rem 0.75rem;
   }

   .search-container.search-hotels-container .suggestions-container {
       top: 3.125rem !important;
       left: 0;
   }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
   .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .searchBar-wrap.show-on-map-view ~ .suggestions-wrap {
       margin-top: 3.125rem;
       position: fixed;
       top: 6.25rem;
       left: 0;
       right: 0;
       margin: 0 0.75rem;
       width: auto;
   }
}

@media only screen and (max-width: 991px) {
   .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .filter-dropdown-wrap.filterByMobile {
       display: none !important;
   }
}

@media only screen and (max-width: 767px) {
   .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .searchBar-wrap.show-on-map-view {
       top: 0rem;
       margin: 0rem;
   }

   .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .searchBar-wrap.show-on-map-view ~ .suggestions-wrap {
       margin-top: 3.125rem;
   }
}

@media only screen and (min-width: 992px) {
   .map-container.map-overlay .map-back-icon {
       display: none;
   }
}

@media only screen and (max-width: 991px) {
   .map-container.map-overlay {
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       z-index: 2;
       background: #ffffff;
       height: 100%;
       width: 100%;
   }

   .map-container.map-overlay .map-wrapper {
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
   }

   .map-container.map-overlay .map-back-icon {
       width: 0.75rem;
       height: 1.25rem;
		position: absolute;
    }
                                    }

 .responsibility-filter .trending-suggestions-container .individual-trends {
   font-family: Calibri;
   font-size: 20px;
   font-size: 20px;
   font-size: 1.25rem;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   text-align: left;
   color: #323232;
   padding: 10px 32px;
   padding: 10px 32px;
   padding: 0.625rem 2rem;
   display: block;
}

.responsibility-filter .trending-suggestions-container .individual-trends:hover {
   text-decoration: none;
   cursor: pointer;
   background-color: var(--primaryColorLighter);
}
 .events-contact-details {
    display: inline-block;
    width: 25%;
    border-right: 1.8px solid #c1bbbb;
    vertical-align: middle;
}

.events-contact-details a {
    float: right;
    margin-right: 21px;
    margin-right: 1.3125rem;
}

.events-brochure {
    display: inline-block;
    width: 15.5%;
    text-align: center;
}

.events-brochure img {
    margin-left: 7px;
    margin-left: 0.45625rem;
    height: 20px;
    width: 20px;
}

.events-brochure a div::before {
    content: 'Download Brochure';
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .events-brochure a div::before {
        content: "Brochure";
        font-size: 1rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 991px) {
    .events-brochure a div {
        font-size: 16px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .events-brochure {
        width: unset;
        display: unset;
        float: left;
        height: 100%;
        line-height: 2.5;
        text-align: left;
    }
}

.events-gallery {
    display: inline-block;
    width: 11%;
    border-left: 1.8px solid #c1bbbb;
    border-right: 1.8px solid #c1bbbb;
    text-align: center;
}

.events-filter-section {
    display: inline-block;
    width: 32%;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .events-filter-section {
        width: unset;
        display: unset;
        float: left;
        height: 100%;
        line-height: 2.5;
    }
}

.events-request-quote-btn {
    display: inline-block;
    width: 15%;
    text-align: right;
    border-left: 1.8px solid #c1bbbb;
}

.events-request-quote-btn .cm-btn-secondary {
    width: 160px;
    width: 10rem;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .events-request-quote-btn {
        width: auto;
        float: right;
        display: inherit;
        border: none;
        text-align: right;
    }
}

@media only screen and (max-width: 375px) {
    .events-request-quote-btn {
        padding-left: 0;
    }
}

.events-filter-subheading {
    display: inline-block;
    font-size: 20px;
    font-size: 1.25rem;
    color: #1b1b1b;
    margin-left: 23px;
    margin-left: 1.4375rem;
}

@media only screen and (max-width: 991px) {
    .events-filter-subheading {
        display: block;
        margin-left: 0;
        margin: 0 10%;
        font-family: Calibri-Bold;
        text-transform: uppercase;
    }
}

.selectSubContainer.events-size-dropdown {
    display: inline-block;
    width: 120px;
    width: 7.5rem;
    margin-left: 20px;
    margin-left: 1.25rem;
    vertical-align: text-bottom;
    border-bottom: 2px dotted rgba(27, 27, 27, 0.3);
    height: 27px;
}

@media only screen and (max-width: 991px) {
    .selectSubContainer.events-size-dropdown {
        display: block;
        margin-left: 0;
        margin: 0 10%;
        width: 80%;
        margin-top: 40px;
        border-bottom: 1.2px solid var(--primaryColor);
    }
}

.selectSubContainer.events-capacity-dropdown {
    display: inline-block;
    width: 120px;
    width: 7.5rem;
    margin-left: 41px;
    margin-left: 2.5625rem;
    vertical-align: text-bottom;
    border-bottom: 2px dotted rgba(27, 27, 27, 0.3);
    height: 27px;
}

@media only screen and (max-width: 991px) {
    .selectSubContainer.events-capacity-dropdown {
        display: block;
        margin-left: 0;
        margin: 0 10%;
        width: 80%;
        margin-top: 45px;
        border-bottom: 1.2px solid var(--primaryColor);
    }
}

.events-filter-icon-mobile {
    display: none;
    padding-right: 16px;
    padding-right: 1rem;
}

@media only screen and (max-width: 991px) {
    .events-filter-icon-mobile {
        display: inline-block;
        position: relative;
        margin-right: 1.25rem;
    }
}

@media only screen and (max-width: 375px) {
    .events-filter-icon-mobile {
        padding-right: 0.75rem;
        margin-right: 0.75rem;
    }
}

.events-filter-icon-mobile::before {
    height: 115%;
    width: 2px;
    background: #c1bbbb;
    content: '';
    position: absolute;
    right: 0;
    top: -10%;
}

@media only screen and (max-width: 991px) {
    .events-filter-subsection {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #fff;
        overflow-y: auto;
        z-index: 15;
    }
}

.events-filter-back-arrow {
    display: none;
}

@media only screen and (max-width: 991px) {
    .events-filter-back-arrow {
        display: block;
        padding: 28px 0 0 5%;
    }
}

.events-apply-btn {
    display: none;
}

@media only screen and (max-width: 991px) {
    .events-apply-btn {
        display: block;
        margin: 45px auto 0;
        width: 9.375rem;
    }
}


.holiday-outwrapper .btn-link {
    text-decoration: none !important;
}

.holiday-outwrapper .holiday-filter-wrapper {
    width: 90%;
    background-color: #e6e6e6;
    padding: 15px 30px;
    padding: 15px 30px;
    padding: 0.9375rem 1.875rem;
    padding-left: 0;
}

.holiday-outwrapper .holiday-filter-wrapper:before {
    width: 1px;
    height: 100%;
    top: 0;
    content: "";
    position: absolute;
    left: 0px;
    z-index: 12;
    background: #9b9b9b;
}

@media only screen and (max-width: 768px) {
    .holiday-outwrapper .holiday-filter-wrapper {
        padding: 0;
        display: block;
    }

    .holiday-outwrapper .holiday-filter-wrapper:before {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .holiday-outwrapper .events-filter-subsection {
        padding: 27px;
        top: -2px;
    }
}

@media only screen and (max-width: 768px) {
    .holiday-outwrapper .events-filter-subsection .events-filter-subheading {
        font-size: 1rem;
        font-family: Calibri-Bold;
        line-height: 1.02;
        color: #323232;
        display: inline;
        margin: 0;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 340px) {
    .holiday-outwrapper .events-filter-subsection .events-filter-subheading {
        font-size: 14px;
    }
}

.holiday-outwrapper .events-filter-subsection .events-filter-back-arrow {
    padding: 0;
    text-align: left;
}

.holiday-outwrapper .filter-searchBar-wrap {
    height: 50px;
    height: 50px;
    height: 3.125rem;
    position: relative;
    background-color: #e6e6e6;
}

@media only screen and (min-width: 769px) {
    .holiday-outwrapper .filter-searchBar-wrap {
        display: none;
    }
}

.holiday-outwrapper .filter-searchBar-wrap:before {
    width: 5px;
    height: 100%;
    height: 50px;
    height: 3.125rem;
    content: "";
    position: absolute;
    left: 0px;
    z-index: 12;
    background-image: var(--linearGradient);
}

.holiday-outwrapper .filter-searchBar-wrap .filter-searchbar-input {
    height: 50px;
    height: 50px;
    height: 3.125rem;
    background-color: #e6e6e6;
    border: 0;
    width: 86%;
    padding: 0 15px;
    padding: 0 15px;
    padding: 0 0.9375rem;
    font-family: Calibri;
    font-size: 16px;
    font-size: 16px;
    font-size: 1rem;
    color: #4a4a4a;
}

.holiday-outwrapper .filter-searchBar-wrap .filter-landing-cont {
    display: inline-block;
}

.holiday-outwrapper .filter-search-result {
    display: none;
}

.filter-catagory {
    display: inline-block;
    padding: 0 5px;
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .filter-catagory {
        width: 100%;
        margin-top: 50px;
    }
}

.filter-catagory .filter-header {
    font-family: Calibri;
    font-size: 16px;
    font-size: 16px;
    font-size: 1rem;
    color: #1b1b1b;
    display: inline-block;
    width: 32%;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .filter-catagory .filter-header {
        color: #8e8e8e;
        font-size: 1rem;
        text-align: left;
        width: 100%;
    }
}

.filter-catagory .filter-dropDD {
    display: inline-block;
    width: 65%;
}

@media only screen and (max-width: 991px) {
    .filter-catagory .filter-dropDD {
        width: 100%;
    }
}

.filter-catagory .filter-dropDD .multiselect-native-select {
    margin-left: 1px;
}

.filter-catagory .filter-dropDD .multiselect-native-select .btn-group {
    border-bottom: solid 0.9px rgba(27, 27, 27, 0.5);
    width: 100%;
}

.filter-catagory .filter-dropDD .multiselect-native-select .dropdown-menu.show {
    transform: translate3d(0px, 34px, 0px) !important;
    width: 100% !important;
    left: 0 !important;
}

.filter-catagory .filter-dropDD .multiselect-selected-text {
    font-family: Calibri-Bold;
    font-size: 16px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    color: var(--primaryColor);
}

.filter-catagory .filter-dropDD .dropdown-toggle {
    width: 100%;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .filter-catagory .filter-dropDD .dropdown-toggle {
        padding: 0;
    }
}

.filter-catagory .filter-dropDD .dropdown-toggle:after {
    color: var(--primaryColor);
    margin-left: 0;
    content: "";
    position: absolute;
    right: 0;
    bottom: 40%;
}

.multiselect-container > li {
    border-bottom: solid 1px #e8e8e8;
}

.multiselect-container > li label.checkbox {
    color: #4a4a4a;
    padding: 11px 16px;
    padding: 11px 16px;
    padding: 0.6875rem 1rem;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .filter-go-warpper {
        display: none;
    }
}

.filter-go-warpper .filter-go-con {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: var(--linearGradient);
    cursor: pointer;
}

.filter-go-warpper .filter-icon {
    display: inline-block;
    vertical-align: middle;
}

.filter-go-warpper .search-icon-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.filter-landing-cont-image {
    display: none;
    height: 40px;
}

@media only screen and (max-width: 768px) {
    .filter-landing-cont-image {
        display: block;
    }
}

.filter-landing-cont-image img {
    float: right;
}

.searchBar-wrap {
        padding-right: 0 !important;
    }

 .hotel-search {
        width: 59% !important;
    }
        .searchBar-wrap::before {
                    height: 100% !important; }

        .search-filters-container {
                width: 40% !important;}
.filter-wrap-catagory {
    position: relative;
    }

.filter-wrap-catagory::after {
content: "";
position: absolute;
height: 100%;
width: 1px;
background-color: #979797;
left: 0px;
bottom: 0;

}
.mr-searchBar-HelloText {
    padding-left: 24px;
    padding-left: 1.5rem;
    font-family: Calibri;
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 13px;
    margin-bottom: 0.8125rem;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.82);
}

@media only screen and (max-width: 767px) {
    .mr-searchBar-HelloText {
        font-size: 1rem;
    }
}

.suggestions-overlay {
    background: rgba(74, 74, 74, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper.input-scroll-top .searchBar-wrap {
        background-color: #ffffff;
        box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    .search-and-suggestions-wrapper.input-scroll-top .searchBar-wrap .searchbar-input {
        background: #ffffff;
    }
}

.search-and-suggestions-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 6;
}

@media only screen and (min-width: 768px) {
    .search-and-suggestions-wrapper.disable-input-scroll-top {
        position: relative;
    }
}

.search-and-suggestions-wrapper .nav-prelogin-close {
    display: none;
}

.search-and-suggestions-wrapper .searchBar-wrap {
    position: relative;
    z-index: 6;
}

.search-and-suggestions-wrapper .searchBar-wrap::before {
    width: 10px;
    width: 0.625rem;
    height: 65px;
    height: 4.0625rem;
    content: "";
    position: absolute;
    left: 0px;
    z-index: 12;
    background-image: var(--linearGradient);
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .searchBar-wrap::before {
        left: 0px;
    }
}

.search-and-suggestions-wrapper .searchBar-wrap .explore-taj {
    width: 15px;
    width: 0.9375rem;
    height: 26px;
    height: 1.625rem;
    margin-left: 8px;
    margin-left: 0.5rem;
    -o-object-fit: contain;
    object-fit: contain;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.search-and-suggestions-wrapper .searchBar-wrap .search-icon {
    width: 20px;
    width: 1.25rem;
    height: 20px;
    height: 1.25rem;
    position: absolute;
    top: 24px;
    top: 1.5rem;
    left: 32px;
    left: 2rem;
    z-index: 12;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .searchBar-wrap .search-icon {
        width: 1.125rem;
        height: 1.125rem;
        left: 0.9375rem;
    }
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: normal;
    background: rgba(0, 0, 0, 0.7);
    height: 65px;
    height: 4.0625rem;
    padding-left: 64px;
    padding-left: 4rem;
    color: #ffffff;
    opacity: 0.9;
    width: 100%;
    outline: none;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-ms-clear {
    display: none;
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-webkit-input-placeholder {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-overflow: ellipsis;
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-moz-placeholder {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-overflow: ellipsis;
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input:-ms-input-placeholder {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-overflow: ellipsis;
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::placeholder {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-overflow: ellipsis;
}

.search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-moz-placeholder {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input {
        font-size: 0.9375rem;
        padding-left: 2.8rem;
        padding-right: 2.5rem;
        color: #9b9b9b;
    }

    .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-webkit-input-placeholder {
        font-size: 0.9375rem;
        color: #9b9b9b;
        text-overflow: ellipsis;
    }

    .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::-moz-placeholder {
        font-size: 0.9375rem;
        color: #9b9b9b;
        text-overflow: ellipsis;
    }

    .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input:-ms-input-placeholder {
        font-size: 0.9375rem;
        color: #9b9b9b;
        text-overflow: ellipsis;
    }

    .search-and-suggestions-wrapper .searchBar-wrap .searchbar-input::placeholder {
        font-size: 0.9375rem;
        color: #9b9b9b;
        text-overflow: ellipsis;
    }
}

.search-and-suggestions-wrapper .searchBar-wrap .explore-taj-content {
    cursor: pointer;
    text-transform: uppercase;
    font-family: Calibri;
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.8px;
    text-align: center;
    color: var(--primaryColor);
    position: absolute;
    right: 48px;
    right: 3rem;
    top: 19px;
    top: 1.19rem;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .searchBar-wrap .explore-taj-content {
        display: none;
    }
}

.search-and-suggestions-wrapper .suggestions-wrap {
    position: relative;
    width: 100%;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container {
    width: 100%;
    border-radius: 0px 0px 3px 3px;
    background-color: #ffffff;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
    position: absolute;
    height: 406px;
    height: 25.375rem;
    overflow: auto;
    top: 0px;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore {
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 16px;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore {
        padding-bottom: 0;
    }
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search {
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 10px;
    padding-bottom: 0.625rem;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .destination-hotel-icon,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .destination-hotel-icon,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .destination-hotel-icon,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .destination-hotel-icon {
    margin-right: 16px;
    margin-right: 1rem;
    width: 12px;
    width: 0.75rem;
    height: 17px;
    height: 1.0625rem;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .trending-searches-in-taj .individual-trends,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .trending-searches-in-taj .individual-trends,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .trending-searches-in-taj .individual-trends,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .trending-searches-in-taj .individual-trends {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    padding: 10px 32px;
    padding: 0.625rem 2rem;
    display: block;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .trending-searches-in-taj .individual-trends:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .trending-searches-in-taj .individual-trends:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .trending-searches-in-taj .individual-trends:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .trending-searches-in-taj .individual-trends:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--primaryColorLighter);
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .trending-searches-in-taj .individual-trends,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .trending-searches-in-taj .individual-trends,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .trending-searches-in-taj .individual-trends,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .trending-searches-in-taj .individual-trends {
        padding: 1rem 2rem;
        font-size: 1rem;
    }
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .trending-explore-taj-text,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .trending-explore-taj-text,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .trending-explore-taj-text,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .trending-explore-taj-text {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .trending-explore-taj-text,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .trending-explore-taj-text,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .trending-explore-taj-text,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .trending-explore-taj-text {
        font-size: 1rem;
    }
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-heading,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-heading,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-heading,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-heading {
    margin: 32px;
    margin: 2rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-heading,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-heading,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-heading,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-heading {
        margin: 1.5rem;
    }
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-taj-categories,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-taj-categories,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-taj-categories,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-taj-categories {
    margin: 32px 32px 16px;
    margin: 2rem 2rem 1rem;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-taj-categories .individual-category-explore,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-taj-categories .individual-category-explore,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-taj-categories .individual-category-explore,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-taj-categories .individual-category-explore {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--primaryColor);
    display: inline-block;
    margin-right: 32px;
    margin-right: 2rem;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-taj-categories .individual-category-explore:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-taj-categories .individual-category-explore:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-taj-categories .individual-category-explore:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-taj-categories .individual-category-explore:hover {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-taj-categories,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-taj-categories,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-taj-categories,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-taj-categories {
        margin: 1rem;
    }

    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-explore .explore-taj-categories .individual-category-explore,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-explore .explore-taj-categories .individual-category-explore,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search .explore-taj-categories .individual-category-explore,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search .explore-taj-categories .individual-category-explore {
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search {
    border-bottom: unset;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .trending-search.hotels-trending,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .trending-search.hotels-trending {
    border-bottom: solid 1px #e6e6e6;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .search-suggestion-common,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .search-suggestion-common {
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 10px;
    padding-bottom: 0.625rem;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .search-suggestion-common .individual-common-suggesion,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .search-suggestion-common .individual-common-suggesion {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    padding: 10px 32px;
    padding: 0.625rem 2rem;
    display: block;
}

.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .search-suggestion-common .individual-common-suggesion:hover,
.search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .search-suggestion-common .individual-common-suggesion:hover {
    background-color: var(--primaryColorLighter);
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .trending-suggestions-container .search-suggestion-common .individual-common-suggesion,
  .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container .search-suggestions-container .search-suggestion-common .individual-common-suggesion {
        padding: 1rem 2rem;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper .suggestions-wrap .suggestions-container {
    /*height: 100vh;*/
    /*Commented by Nixon*/
        height: initial;
        position: fixed;
        top: 4.0625rem;
        bottom: 0;
        left: 0;
        overflow: auto;
    }
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper {
        width: 100%;
    }
}

.display-none {
    display: none;
}

.disable-scroll {
    overflow: hidden;
}

.input-scroll-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: initial;
    transition: all 2s;
}

.close-icon {
    display: none;
}

@media only screen and (max-width: 767px) {
    .close-icon {
        position: absolute;
        right: 0;
        top: 1.4rem;
        right: 0.8rem;
    }
}

.closeIconImg {
    height: 20px;
    height: 1.25rem;
    width: 20px;
    width: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .home-page-layout .searchbar-input {
        box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05) !important;
    }
}
                                .search-container.mr-stickyScroll .search-row-wrap-mobile {
    display: none !important;
}

@media only screen and (max-width: 991px) {
    .search-container.mr-stickyScroll .filterByMobile {
        display: none !important;
    }
}

.search-container.mr-stickyScroll .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel {
    padding: 0px !important;
    padding: 0rem !important;
}

.search-container {
  /*max-width: 1280/@rem;*/
  /*commented by Nixon*/
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    .search-container.search-hotels-container {
        padding: 0rem 0.75rem;
    }

    .search-container.search-hotels-container .suggestions-container {
        top: 3.125rem !important;
        left: 0;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .searchBar-wrap.show-on-map-view ~ .suggestions-wrap {
        margin-top: 3.125rem;
        position: fixed;
        top: 6.25rem;
        left: 0;
        right: 0;
        margin: 0 0.75rem;
        width: auto;
    }
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .filter-dropdown-wrap.filterByMobile {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .searchBar-wrap.show-on-map-view {
        top: 0rem;
        margin: 0rem;
    }

    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel.input-scroll-top .searchBar-wrap.show-on-map-view ~ .suggestions-wrap {
        margin-top: 3.125rem;
    }
}

@media only screen and (min-width: 992px) {
    .map-container.map-overlay .map-back-icon {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .map-container.map-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: #ffffff;
        height: 100%;
        width: 100%;
    }

    .map-container.map-overlay .map-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .map-container.map-overlay .map-back-icon {
        width: 0.75rem;
        height: 1.25rem;
        position: absolute;
        left: 1.25rem;
        top: 1.25rem;
    }

    .map-container.map-overlay .selected-location-hotels {
        display: none;
        position: absolute;
        bottom: 0.4375rem;
        min-height: 9.625rem;
        width: 100%;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .close-icon {
    top: 60px;
    top: 3.75rem;
    position: absolute;
    right: 12px;
    right: 0.75rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap.show-on-map-view ~ .suggestions-wrap {
    z-index: 3;
    position: absolute;
    left: 0px;
    left: 0rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap.show-on-map-view {
    position: fixed;
    margin: 0 12px;
    margin: 0 0.75rem;
    top: 55px;
    top: 3.4375rem;
    left: 0px;
    left: 0rem;
    right: 0px;
    right: 0rem;
    z-index: 4;
    background-color: #ffffff;
    box-shadow: 0.125rem 0.625rem 0.75rem 0 rgba(0, 0, 0, 0.05);
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap.show-on-map-view .filterByMobile {
    display: none !important;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap {
    z-index: 2;
    background-color: #e6e6e6;
    padding-right: 41px;
    padding-right: 2.5625rem;
    box-shadow: 0rem 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap {
        padding-right: 0rem;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap::before {
    height: 60px;
    height: 3.75rem;
    left: 0px;
    left: 0rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap::before {
        left: 0rem;
        width: 0.3125rem;
        height: 3.125rem;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .explore-taj {
    width: 15px;
    width: 0.9375rem;
    height: 26px;
    height: 1.625rem;
    margin-left: 8px;
    margin-left: 0.5rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-icon {
    top: 22px;
    top: 1.375rem;
    left: 30px;
    left: 1.9rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-icon {
        left: 1rem;
        width: 1.125rem;
        height: 1.125rem;
        top: 0.875rem;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    height: 60px;
    height: 3.75rem;
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1;
    letter-spacing: 0px;
    letter-spacing: 0.0375rem;
    color: #4a4a4a;
    width: 47%;
    background: transparent;
    box-shadow: none;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input::-webkit-input-placeholder {
    color: #4a4a4a;
    font-size: 20px;
    font-size: 1.25rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input::-moz-placeholder {
    color: #4a4a4a;
    font-size: 20px;
    font-size: 1.25rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input:-ms-input-placeholder {
    color: #4a4a4a;
    font-size: 20px;
    font-size: 1.25rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input::placeholder {
    color: #4a4a4a;
    font-size: 20px;
    font-size: 1.25rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input {
        height: 3.125rem;
        font-size: 1rem;
        padding-right: 0;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search {
    padding-right: 20px;
    padding-right: 1.25rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search {
        padding-left: 2.8rem;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search {
        padding-right: 2.5rem;
    }

    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search ~ .clear-input-icon {
        margin-left: -2.5rem;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.country-filter {
    padding-right: 28px;
    padding-right: 1.8rem;
    margin-right: 28px;
    margin-right: 1.8rem;
    border-right: solid 2px #9b9b9b;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.country-filter {
        padding-right: 0.9375rem;
        margin-right: 0rem;
        border-right: none;
        padding-left: 0.9375rem;
        border-left: solid 1px #979797;
    }
}

@media only screen and (max-width: 419px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.country-filter {
        padding-left: 0.625rem;
        padding-right: 0.3125rem;
    }
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.filterByMobile {
        position: absolute;
        right: 1.25rem;
        top: 4.5rem;
    }

    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.filterByMobile .filter-dropdown-label {
        color: #1b1b1b;
        font-weight: bold;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap {
    display: inline-block;
    padding: 1px 0px;
    padding: 0.0625rem 0rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .filter-dropdown-label {
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1;
    color: #1b1b1b;
    margin-right: 20px;
    margin-right: 1.25rem;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .filter-dropdown-label {
        font-size: 0.875rem;
        margin-right: 0.625rem;
        color: #4a4a4a;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
    border-bottom: 2px solid rgba(27, 27, 27, 0.3);
    padding-bottom: 0px;
    padding-bottom: 0rem;
    display: inline-block;
    vertical-align: middle;
    min-width: 150px;
    min-width: 9.375rem;
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer select {
    display: none;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
        width: 9.375rem;
    }
}

@media only screen and (max-width: 530px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
        min-width: 0rem !important;
        width: 6.25rem !important;
    }
}

@media only screen and (max-width: 425px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
        width: 5.3125rem !important;
    }
}

@media only screen and (max-width: 360px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectSubContainer {
        width: 4.0625rem !important;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-container * {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-container * {
        font-size: 0.875rem;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-option-icon-container {
    margin-left: 0px !important;
    margin-left: 0rem !important;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-container .selectboxit .selectboxit-text {
        font-size: 0.875rem !important;
    }
}

.search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .search-row-wrap-mobile {
    display: none;
    margin-top: 20px;
    margin-top: 1.25rem;
    padding-left: 5px;
    padding-left: 0.3125rem;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .search-row-wrap-mobile {
        display: block;
        background: transparent;
    }
}

.clear-input-icon {
    width: 19px;
    width: 1.1875rem;
    height: 19px;
    height: 1.1875rem;
    display: none;
    vertical-align: middle;
    margin-left: -20px;
    margin-left: -1.25rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
    background-color: transparent;
    padding: 3px;
    padding: 0.1875rem;
}

.clear-input-icon.show-clear-input {
    display: inline-block;
}

 .filter-catagory .filter-dropDD .multiselect-selected-text {
   color: #012f4e !important;
}

.filter-catagory .filter-dropDD .dropdown-toggle:after {
   color: #012f4e !important;
}
