<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" 
	data-sly-call="${clientlib.all @ categories='tajhotels.itinerary-list'}" />
<div class="gallery-carousel-container">
    <div data-sly-resource="${ '{0}' @  resourceType='tajhotels/components/content/gallery-carousel' }"></div>
</div>
<div data-sly-test.edit=${wcmmode.edit}>
    <h5>Aggregated Destination Itinerary List are configurable in this
		section</h5>
</div>
<div class="cm-content-blocks pre-planned-itinerary-wrap">
    <div class="cm-content-blocks pre-planned-itinerary-section">
        <div class="row clearfix pre-planned-itinerary-sub-section">
            <sly data-sly-use.itineraryList="com.adobe.cq.wcm.core.components.models.List" data-sly-use.template="core/wcm/components/commons/v1/templates.html">
            	<div class="row pre-planned-itinerary-full-day">
	                <sly data-sly-list.listItem="${itineraryList.items}">
	                    <sly data-sly-use.itineraryProperties="${'com.ihcl.core.models.holidays.itinerary.DestinationItineraryPropertyFetcher' @ path=listItem.path}">
	                        <div data-sly-test.="${itineraryProperties.itineraryDetails.itineraryTypes.toString == '[full-day]'}" class="col-12 pre-planned-itinerary-outer-con" itinerary-type="${itineraryProperties.itineraryDetails.itineraryTypes}" itinerary-category="${itineraryProperties.itineraryDetails.itineraryTags}">
	                            <div class="pre-planned-itinerary-con">
	                                <div class="pre-planned-itinerary-details-con">
	                                    <div class="pre-planned-itinerary-details-heading">${itineraryProperties.itineraryDetails.itineraryTitle}</div>
	                                    <div class="pre-planned-itinerary-details-desc">
	                                        ${itineraryProperties.itineraryDetails.itineraryDescription}
	                                    </div>
	                                    <div class="pre-planned-itinerary-our-itinerary-sec">
	                                        <div class="pre-planned-itinerary-our-itinerary-heading">Our
	                                            Itinerary</div>
	                                        <div>
	                                            <sly data-sly-list.placeList=${itineraryProperties.itineraryDetails.itineraryPlaces}>
	                                                <div class="pre-planned-itinerary-our-itinerary">${placeList}</div>
	                                            </sly>
	                                        </div>
	                                    </div>                                    
	                                </div>
	                                <div class="pre-planned-itinerary-img-section">
	                                    <sly data-sly-test.galleryModel="${itineraryProperties.itineraryDetails.itineraryImageValues.toString}" />
	                                    <div class="pre-planned-itinerary-view-all" data-gallery-images=${galleryModel} onclick="showGallery(this)">VIEW
	                                        ALL</div>
	                                    <div class="pre-planned-itinerary-img-inner-wrap">
	                                        <sly data-sly-list.threeImages=${itineraryProperties.itineraryDetails.firstThreeImages}>                                            
	                                            <div class="pre-planned-itinerary-img-con">
	                                                <img src="${threeImages}" alt = "preplanned itinerary image">
												</div>
	                                        </sly>                                        
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </sly>
	                </sly>
                </div>
                <div class="row pre-planned-itinerary-half-day" style="display: none;">
	                <sly data-sly-list.listItem="${itineraryList.items}">
	                    <sly data-sly-use.itineraryProperties="${'com.ihcl.core.models.holidays.itinerary.DestinationItineraryPropertyFetcher' @ path=listItem.path}">
	                        <div data-sly-test="${itineraryProperties.itineraryDetails.itineraryTypes.toString == '[half-day]'}" class="col-12 pre-planned-itinerary-outer-con" itinerary-type="${itineraryProperties.itineraryDetails.itineraryTypes}" itinerary-category="${itineraryProperties.itineraryDetails.itineraryTags}">
	                            <div class="pre-planned-itinerary-con">
	                                <div class="pre-planned-itinerary-details-con">
	                                    <div class="pre-planned-itinerary-details-heading">${itineraryProperties.itineraryDetails.itineraryTitle}</div>
	                                    <div class="pre-planned-itinerary-details-desc">
	                                        ${itineraryProperties.itineraryDetails.itineraryDescription}
	                                    </div>
	                                    <div class="pre-planned-itinerary-our-itinerary-sec">
	                                        <div class="pre-planned-itinerary-our-itinerary-heading">Our
	                                            Itinerary</div>
	                                        <div>
	                                            <sly data-sly-list.placeList=${itineraryProperties.itineraryDetails.itineraryPlaces}>
	                                                <div class="pre-planned-itinerary-our-itinerary">${placeList}</div>
	                                            </sly>
	                                        </div>
	                                    </div>                                    
	                                </div>
	                                <div class="pre-planned-itinerary-img-section">
	                                    <sly data-sly-test.galleryModel="${itineraryProperties.itineraryDetails.itineraryImageValues.toString}" />
	                                    <div class="pre-planned-itinerary-view-all" data-gallery-images=${galleryModel} onclick="showGallery(this)">VIEW
	                                        ALL</div>
	                                    <div class="pre-planned-itinerary-img-inner-wrap">
	                                        <sly data-sly-list.threeImages=${itineraryProperties.itineraryDetails.firstThreeImages}>                                            
	                                            <div class="pre-planned-itinerary-img-con">
	                                                <img src="${threeImages}" alt = "preplanned itinerary image">
												</div>
	                                        </sly>                                        
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </sly>
	                </sly>
                </div>
            </sly>
        </div>
    </div>
</div>