
	<main class="confirmation-main">
		<div class="content-wrapper container confiramtion-wrap">
            <sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
            	 data-sly-repeat.child="${templatedContainer.structureResources}"
		         data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName='div'}"></sly>
        </div>
	</main>