<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.holidays-terms-conditions'}" />
<div data-sly-test.edit="${wcmmode.edit}">
    Holidays Terms and Conditions Component<br>
    Add Title and list of terms here. Page needs a refresh after authoring the content to display the description.
</div>


<div class="cm-content-blocks">
    <div class="terms-cond-incredible-escapes">
		<div class="cm-header-label-con title-decorator-border">
            <h2 class="cm-header-label">${properties.termsLabel}</h2>
        </div>
        <div class="terms-ul" data-sly-list.termsList=${properties.termsNConditions}>
			<div class="terms-li" data-terms="${termsList}"></div>
			<!--<div class="terms-li"> <span class="terms-li-show hide-in-md hide-in-lg" tabindex="1"> Show more</span></div>
			<div class="terms-li"><span class="terms-li-show hide-in-md hide-in-lg hide-in-sm"> Show less</span></div>-->	
		</div>
	</div>
</div>
