<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-base-page,tajhotels.lead-gen-confirmation'}" />
<div data-sly-test.edit=${wcmmode.edit}>
	<h1>Edit to Configure the Dining Details Component</h1>
</div>
<div class="cm-content-blocks">
<sly data-sly-test="${properties.heading}" data-sly-unwrap>
<div class="col-lg-12 col-md-12 col-sm-12">
	<div class="jiva-spa-lead-gen-conf-con the-conf-page-inner">
		<div class="jiva-spa-lead-gen-conf-heading">
		    <div class="warning-pg-top-images">
			     <i class="icon-STAR-TAJ"></i>
			     <div class="error-title-text">${properties.heading}</div>
			     <div class="warning-icon-con">
	                 <img class="icon-warning" src="/content/dam/tajhotels/icons/style-icons/icon-warning.svg" alt  = "warning-icon" />
	            </div>
			</div>
		</div>
		<div class="jiva-spa-lead-gen-conf-details">
			<div>${properties.confDetails @ context='html'}</div>
			<div class="jiva-spa-lead-gen-conf-details-mobile">${properties.confDetails @ context='html'}</div>
		</div>
		<div class="jiva-spa-lead-gen-conf-btn">
			<a href="javascript: history.go(-2)"><button class="cm-btn-secondary">DONE</button></a>
		</div>
	</div>
</div>
</sly>
</div>