<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">

<sly data-sly-test = "${wcmmode.edit}">AMA Header</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
     data-sly-call="${clientlib.all @ categories='ama.hotels.header'}"></sly>



<header id="menu_area" class="menu-area amaHeader">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                <button class="navbar-toggler mobNavBtn">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <sly data-sly-test="${properties.bookNow}">
                    <button class="mobile bookNowBtn book-stay-btn d-sm-none"
                        data-dialog-btn="bookAStay">${properties.bookNow}</button>
                </sly>
                <div class="mobile mobNavLink">
                    <div class="navCloseBtn"></div>
                    <div class="navLinkList">
                        <ul>
                            <sly data-sly-test.isSigninDisabled=${!properties.isSigninDisabled}>


                                <li id="header-profile"
                                    class="header-profile nav-item header-profile-wrp cm-hide">
                                    <div class="profile-name-wrp cm-align-table">
                                        <div class="cm-align-table-cell">
                                            <span class="profile-hi-text">Hi, </span>
                                            <span class="profile-username"></span>
                                            <img class="inline-block header-dropdown-image last-image"
                                                src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg"
                                                alt="drop down arrow" />
                                        </div>
                                    </div>
                                    <div class="profile-options">
                                        <div id="points-cont user-details-margin" class="points-cont profile-tic-options d-none">
                                            <div id="tic-tier" class="tic-tier prof-tic-header">
                                                <span class="tic-platinum-title"></span>
                                            </div>
                                            <div class="prof-tic-content">
                                                <div class="prof-content-wrp d-flex">
                                                <div class="prof-content-title col-6">TIC</div>
                                                <div id="tic-points" class="tic-points prof-content-value col-6"></div>
                                            </div>
                                            <div class="prof-content-wrp row">
                                                <div class="prof-content-title col-6">${properties.tapPtsLabel}</div>
                                                <div id="tap-points" class="tap-points prof-content-value col-6"></div>
                                            </div>
                                            <div class="prof-content-wrp row">
                                                <div class="prof-content-title col-6">${properties.tappmePtsLabel}</div>
                                                <div id="tappme-points" class="tappme-points prof-content-value col-6"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-default-options profile-enrol-btn">
                                        <a data-component-id="enrol-btn" href="${properties.enrolRedirectLink}"><div
                                                class="profile-default-option">${properties.loggedInEnrollLabel}</div></a>
                                    </div>
                                        <div class="d-flex justify-content-between mob-user-card">
                                            <div class="profile-default-options">
                                                <a href="/content/taj-inner-circle/en-in/my-profile.html">
                                                    <div class="profile-default-option my-profile-default-option">My Account</div>
                                                </a>
                                            </div>
                                            <div class="profile-default-options">
                                                <div id="logout-btn" data-redirect-link="${properties.signOutRedirectLink}"
                                                    class="logout-btn profile-default-option">Sign Out</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                            </sly>


                            <sly data-sly-list.list=${resource.children}>
                                <sly data-sly-list.listItems=${list.children}>
                                    <li>
                                        <a href="${listItems.hyperlink}">${listItems.title}</a>
                                    </li>
                                </sly>
                            </sly>

                            <sly data-sly-test.isSigninDisabled=${!properties.isSigninDisabled}>

                                <li id="sign-in-btn" class="generic-signin-btn sign-in-btn">
                                    <a class="nav-link text-caps log-spacing" href="#">SIGN IN</a>
                                    <span class="middle-allignment"></span>
                                </li>

                           	</sly>


                        </ul>
                    </div>
                    <div class="blkOvrly"></div>
                </div>
                <div class="navbar-brand  ">
                <sly data-sly-test.logoCheck=${properties.openInNewTab}>
                    <a aria-label="Navigate to Home Page" class="navbar-brand-anchor" href="${properties.logoUrl}" target="_blank">
                        <div class="brand-logo-wrapper is-ama-logo">
							<!--<img class="taj-image" src="${properties.logoImage}" alt="">-->
<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.logoImage,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.144.144.jpeg'}"></sly>

						</div>
                    </a>
                </sly>
                <sly data-sly-test=${!logoCheck}>
                    <a aria-label="Navigate to Home Page" class="navbar-brand-anchor" href="${properties.logoUrl}">
                        <div class="brand-logo-wrapper is-ama-logo">
							<!--<img class="taj-image" src="${properties.logoImage}" alt="">-->
<sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath=properties.logoImage,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.144.144.jpeg'}"></sly>

						</div>
                    </a>
                </sly>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <sly data-sly-list.list=${resource.children}>
                            <sly data-sly-list.listItems=${list.children}>
                                <sly data-sly-test=${listItems.title}>
                                    <sly data-sly-test.head=${listItems.children}>
                                        <li class="dropdown">
                                        	<sly data-sly-test.headOpenInNewTab=${listItems.openInNewTab}>
                                            <a class="${(currentPage.properties.selectedNavbarTab == listItemsList.count.toString) ? 'selectedHeader' : ' '}"
                                                href="${listItems.hyperlink}" id="navbarDropdown"
                                                role="button" target="_blank">${listItems.title}</a>
                                            </sly>
                                            <sly data-sly-test=${!headOpenInNewTab}>
                                            <a class="${(currentPage.properties.selectedNavbarTab == listItemsList.count.toString) ? 'selectedHeader' : ' '}"
                                                href="${listItems.hyperlink}" id="navbarDropdown"
                                                role="button">${listItems.title}</a>
                                            </sly>
                                            <sly data-sly-list.desc=${listItems.children}>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <sly data-sly-list.items=${desc.children}>
                                                        <sly data-sly-test=${items.title}>
                                                            <sly data-sly-test.subHead=${items.children}>
                                                                <li class="dropdown">
                                                                	<sly data-sly-test.subHeadOpenInNewTab=${items.openInNewTab}>
                                                                    <a class="" href="${items.hyperlink}"
                                                                        id="navbarDropdown" role="button" target="_blank">${items.title}</a>
                                                                    </sly>
                                                                    <sly data-sly-test=${!subHeadOpenInNewTab}>
                                                                    <a class="" href="${items.hyperlink}"
                                                                        id="navbarDropdown" role="button">${items.title}</a>
                                                                    </sly>
                                                                    <sly data-sly-list.subDesc=${items.children}>
                                                                        <ul class="dropdown-menu  ${items.subLinks @context='styleString'}"
                                                                            aria-labelledby="navbarDropdown">
                                                                            <sly
                                                                                data-sly-list.subList=${subDesc.children}>
                                                                                <sly data-sly-test=${subList.title}>
                                                                                    <li>
                                                                                    	<sly data-sly-test.subListOpenInNewTab=${subList.openInNewTab}>
                                                                                    		<a href="${subList.hyperlink}" target="_blank">${subList.title}</a>
                                                                                        </sly>
                                                                                        <sly data-sly-test=${!subListOpenInNewTab}>
                                                                                    		<a href="${subList.hyperlink}">${subList.title}</a>
                                                                                        </sly>
                                                                                    </li>
                                                                                </sly>
                                                                            </sly>
                                                                        </ul>
                                                                    </sly>
                                                                </li>
                                                            </sly>
                                                            <sly data-sly-test=${!subHead}>
                                                            <li>
                                                            	<sly data-sly-test.subHeadOpenInNewTab=${items.openInNewTab}>
                                                                    <a class="" href="${items.hyperlink}" target="_blank">${items.title}</a>
                                                                </sly>
                                                                <sly data-sly-test=${!subHeadOpenInNewTab}>
                                                                    <a class="" href="${items.hyperlink}">${items.title}</a>
                                                                </sly>
                                                            </li>
                                                            </sly>
                                                        </sly>
                                                    </sly>
                                                </ul>
                                            </sly>
                                        </li>
                                    </sly> 
                                    <sly data-sly-test=${!head}>
                                        <li>
                                        <sly data-sly-test.headOpenInNewTab=${listItems.openInNewTab}>
                                            <a class="${(currentPage.properties.selectedNavbarTab == listItemsList.count.toString) ? 'selectedHeader' : ' '}"
                                                href="${listItems.hyperlink}" target="_blank">${listItems.title}</a>
                                        </sly>
                                        <sly data-sly-test=${!headOpenInNewTab}>
                                            <a class="${(currentPage.properties.selectedNavbarTab == listItemsList.count.toString) ? 'selectedHeader' : ' '}"
                                                href="${listItems.hyperlink}">${listItems.title}</a>
                                        </sly>
                                        </li>
                                    </sly>
                                </sly>
                            </sly>
                        </sly>
                    </ul>
                    <sly data-sly-test=${properties.bookNow}>
                        <button class="bookNowBtn book-stay-btn"
                        data-dialog-btn="bookAStay">${properties.bookNow}</button>
                        <!-- <a href="#" class="bookNowBtn">${properties.bookNow}</a> -->
                    </sly>


				<sly data-sly-test.isSigninDisabled=${!properties.isSigninDisabled}>


                    <div id="sign-in-btn" class="nav-item generic-signin-btn sign-in-btn">
                        <a class="nav-link text-caps log-spacing" href="#">SIGN IN</a>
                        <span class="middle-allignment"></span>

					</div>


					<div id="header-profile"
                                class="header-profile nav-item header-profile-wrp cm-hide hide-in-md hide-in-sm">
                                <div class="profile-name-wrp cm-align-table">
                                    <div class="cm-align-table-cell">
                                        <span class="profile-hi-text">Hi, </span>
                                        <span class="profile-username"></span>
                                        <img class="inline-block header-dropdown-image last-image"
                                            src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg"
                                            alt="drop down arrow" />
                                    </div>
                                </div>
                                <div class="profile-options">
                                    <div id="points-cont" class="points-cont profile-tic-options d-none">
                                        <div id="tic-tier" class="tic-tier prof-tic-header">
                                            <span class="tic-platinum-title"></span>
                                        </div>
                                        <div class="prof-tic-content">
                                            <div class="prof-content-wrp row">
                                                <div class="prof-content-title col-6">TIC</div>
                                                <div id="tic-points" class="tic-points prof-content-value col-6"></div>
                                            </div>
                                            <div class="prof-content-wrp row">
                                                <div class="prof-content-title col-6">${properties.tapPtsLabel}</div>
                                                <div id="tap-points" class="tap-points prof-content-value col-6"></div>
                                            </div>
                                            <div class="prof-content-wrp row">
                                                <div class="prof-content-title col-6">${properties.tappmePtsLabel}</div>
                                                <div id="tappme-points" class="tappme-points prof-content-value col-6"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-default-options profile-enrol-btn">
                                        <a data-component-id="enrol-btn" href="${properties.enrolRedirectLink}"><div
                                                class="profile-default-option">${properties.loggedInEnrollLabel}</div></a>
                                    </div>
                                    <div class="d-flex justify-content-between flex-column">
                                        <div class="profile-default-options">
                                            <a href="/content/taj-inner-circle/en-in/my-profile.html">
                                                <div class="profile-default-option my-profile-default-option">My Account</div>
                                            </a>
                                        </div>
                                        <div class="profile-default-options">
                                            <div id="logout-btn" data-redirect-link="${properties.signOutRedirectLink}"
                                                class="logout-btn profile-default-option">Sign Out</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </sly>


                </div>
            </nav>
        </div>
    </div>
    <sly data-sly-resource="${'hotel-book' @ resourceType='tajhotels/components/content/book-a-stay'}" />
</header>