
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.press-contacts'}" />
<div data-sly-test="${wcmmode.edit}">
 Press Contacts
</div>

<div class="press-contact-wrapper">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-6"><img src="${properties.presscontactImg}" alt="icon" /></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="press-title">${properties.name}</div>
            <div class="press-designation">${properties.designation}</div>
            <div class="press-address">${properties.address}</div><a class="press-contact text-style" href="mailto:prsm@tajhotels">${properties.email}</a>
            <div class="press-contact">${properties.contacts}</div>
        </div>
    </div>
</div>
