<template data-sly-template.search="${@ list}">
    <div class="search-container search-hotels-container">
        <div class="search-and-suggestions-wrapper search-and-suggestions-wrapper-hotel container disable-input-scroll-top">
            <div class="searchBar-wrap">
                <img class="search-icon" src="/content/dam/tajhotels/icons/style-icons/search-icon-hotels.svg" alt="search-icon" />
                <input class="searchbar-input hotel-search" type="text" placeholder="Search" aria-label = "Hotel Search Bar"/>
                <img class="clear-input-icon" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
                <div class="search-filters-container">
                    <div class="filter-dropdown-wrap country-filter">
                        <div class="filter-dropdown-label">Country</div>
                        <div class="selectSubContainer">
                            <select aria-label="Country" name="countryFilter" id="countryFilter" >
                                <option value="all">Worldwide</option>
                                <sly data-sly-list.country="${list.countryMap.keySet.iterator}">
                                    <option value="${country}">${list.countryMap[country]}</option>
                                </sly>
                            </select>
                        </div>
                    </div>
                    <div class="filter-dropdown-wrap filterByMobile">
                        <div class="filter-dropdown-label">Filter by</div>
                        <div class="selectSubContainer">
                            <select aria-label="Filter by" name="hotelsFilterBy" id="filterBy">
                                <option value="all">All Hotels</option>
                                <sly data-sly-list.hotelType="${list.hotelTypes.keySet.iterator}">
                                    <option value="${hotelType}">${list.hotelTypes[hotelType]}</option>
                                </sly>
                            </select>
                        </div>
                    </div>
                </div>
                <span class="close-icon display-none">
                    <img class="closeIconImg" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon"/>
                </span>
            </div>

            <div data-sly-test="${!properties.hideMap}" class="search-row-wrap-mobile">
                <button class="cm-btn-primary show-map-button">${properties.showMapBtnLabel}</button>
            </div>
            <div data-sly-test="${properties.mapToggleBtn && !properties.hideMap}" class="search-row-wrap-desktop">
                <button class="cm-btn-primary hide-map-button">${properties.hideMapBtnLabel}</button>
                <button class="cm-btn-primary show-map-button d-none">${properties.showMapBtnLabel}</button>
            </div>

        </div>
    </div>
</template>