<sly
	data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.holiday-video'}" />

<div data-sly-test.edit=${wcmmode.edit}>
	<h5>Youtube video link can be configured in this section (Kindly
		author youtube-embed video link)</h5>
</div>
<section>
	<div class="container">
		<div class="row">
			<sly data-sly-test.mode=${properties.videoLink}>
			<div
				class="holidayLand-memorable-wrapper col-lg-12 col-sm-12 col-md-12">
				<div class="memorable-image-container">
					<iframe title="Taj Holidays Video" width="100%" height="${properties.iframeHeight ? properties.iframeHeight : '334px'} "
						src="${properties.videoLink}?rel=0" frameborder="0"
						allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			</sly>
		</div>
	</div>
</section>

