.cm-header-label-link {
   position: absolute;
   right: 0;
   top: -4rem;
   bottom: unset;
   display: inline-block;
   color: var(--primaryColor);
   font-size: 1rem;
   font-family: Calibri-Bold;
   text-decoration: underline;
   line-height: 1;
   letter-spacing: 2px;
   text-transform: uppercase;
   cursor: pointer;
}

.ho-service-icon{
	width:1.8rem !important;
}
.cm-header-label-link-con {
    position: relative;
}

.mr-experiences-images-wrap {
    height: 25.625rem;
}
.mr-experiences-images-wrap img {
    height: 100%;
    width: 100%;
}

li.dining-cards-show-first-two {
    display: none;
}

li.dining-cards-show-first-two:nth-child(-n+2) {
    display: block;
}

.pg-spinner-con {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(74, 74, 74, 0.55);
    text-align: center; 
    z-index:100;
}

.pg-spinner-wrap {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
div#sign-in-btn .nav-link {
    border: none;
}
// holiday theme styles
.holiday-theme .header-taj-link{
  display: none;
}
// End holiday theme styles
.taj-loader.pg-spinner-wrap {
    font-size: 2rem;
}
.taj-loader.pg-spinner-wrap .taj-loader-circle {
	border: 1px solid #fff;	
}
.mr-menu-carousel-indicators ol.carousel-indicators.mr-carousel-indicators-overlay {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.ho-services-show-all-con.is-active .ho-services-show-all {
    display: none;
}

.ho-services-show-all-con .ho-services-show-all {
    display: block;
}

.ho-services-show-all-con.is-active .ho-services-show-less {
    display: block;
}

.ho-services-show-all-con .ho-services-show-less {
    display: none;
}

a.tab-child-container  {
    width: 10%;
}

a.tab-child-container:last-child {
    border-right: none;
}

/*a.tab-child-container:nth-child(10) {
    border-right: none;
}*/
.content-wrapper.mr-reserve-a-table-contentWrapper.spec-dining-conf {
margin-top:30px;
margin-bottom:80px;
}
.mr-sub-form .invalid-input + .sub-form-input-warning,
.mr-sub-form .jiva-spa-not-valid + .sub-form-input-warning {
   display: block;
}

.jiva-spa-lead-gen-conf-con .warning-icon-con {
    display: none;
}
.is-error-page.jiva-spa-lead-gen-conf-con .warning-icon-con {
    display: block;
}
.is-error-page .error-title-text {
    color: #950f0f;
    font-family: Calibri-Bold;
}
.warning-pg-top-images {
    display: inline-block;
    position: relative;
}

.warning-pg-top-images .warning-icon-con {
    position: absolute;
    right: 9px;
    top: -18px;
}

.jiva-spa-lead-gen-conf-details-mobile {
    width: 80%;
    margin: auto;
}
.jiva-spa-date .table-condensed {
    width: 90%;
    margin: auto;
    margin-bottom: 19px;
}

@media only screen and (max-width: 767px) {
   .events-img-con .cm-banner-image {
       display: block;
    }
    
    .events-img-con .cm-banner-image img {
        height: 11.875rem;
    }
}
.banner-image-con img {
    height: 31.875rem;
}
.awards-card img {
    object-fit: scale-down;
		// width: 4.5rem;
    width:100%;
		height: 5.625rem;
	}

.mr-costFor-two-and-reserve-table-wrap a { 
    position: absolute;
    bottom: 10px;
    right: 0;
}

.mr-costFor-two-and-reserve-table-wrap {
	min-height: 95px;
	@media only screen and (max-width: 767px) {
		min-height: 110px;
	}
}
.awards-card img {
    width: 4.25rem;
    height: 5.625rem;
}

.overview-awards-container{
	@media only screen and (max-width: 767px) {
		overflow:hidden !important;
		.awards-container{
			overflow:scroll !important;
		}
	}
}

.prevent-page-scroll {
	height: 100vh;
	overflow: hidden;
}

#bookingalert{
	display: none;
}

.room-available-amenities picture .room-amenities-icon {
    margin: 0 0.125rem !important;
}
@media only screen and (max-width: 991px) {
	.menu-carousel-container{
		 .carousel.slide{
			padding-top:2.5rem !important;
		}
		.carousel-inner{
		    /*margin-bottom: 70px !important;*/ /*Commented by Nixon*/
		    margin-bottom: 0px;
    		padding-bottom: 0 !important;
		}
	}
}