//new file
@media (min-width: 1400px) {
    .container {
        max-width: 1280px;
    }
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media only screen and (max-width: 480px) {
    /*.monthly-event-card {
        padding-left: 15px;
        padding-right: 15px;
    }*/
    [class*="col-"] {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 75%;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 75%;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 87.5%;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 100%;
    }
}

.hide-in-sm {
    @media only screen and (max-width: 767px) {
        display: none !important;
    }
}

.hide-in-md {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        display: none !important;
    }
}

.hide-in-lg {
    @media (min-width: 992px) {
        display: none !important;
    }
}