<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.grid-data-filter'}" />

<div class="filter-by-container cm-content-blocks">
    <div class="row">
        <!--filter component markup-->
        <div class="filter-component-container col-lg-12 col-md-12 col-sm-12">
            <div class="filterSectionButton">
                <img src="/content/dam/tajhotels/icons/style-icons/filter-icon.svg" alt="filter-icon">
            </div>
            <div class="filter_mobileView">
                <div class="overlay_container">
                    <div class="filter-content-MobileWrap">
                        <div class="filterBackArrow">
                            <img src="/content/dam/tajhotels/icons/style-icons/leftArrow.svg" alt="leftArrow-icon">
                        </div>
                        <div class="filter-component-heading-MobileView">FILTER BY</div>
                        <div class="filter-component">
                            <div class="row filter-component-wrap">
                                <div class="col-lg-3 col-md-12 col-sm-12 selectContainer">
                                    <div class="select-name">Country</div>
                                    <div class="selectSubContainer">
                                        <select aria-label="Country" name="countryDropdown" id="countryDropdown"><option
                                                selected="" disabled="" hidden="">Country</option></select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12 selectContainer">
                                    <div class="select-name">City</div>
                                    <div class="selectSubContainer">
                                        <select aria-label="City" name="cityDropdown" id="cityDropdown"><option
                                                selected="" disabled="" hidden="">City</option></select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12 selectContainer">
                                    <div class="select-name">Hotel</div>
                                    <div class="selectSubContainer">
                                        <select aria-label="Hotel" name="hotelDropdown" id="hotelDropdown"><option
                                                selected="" disabled="" hidden="">Hotel</option></select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12 selectContainer">
                                    <div class="select-name">Category</div>
                                    <div class="selectSubContainer">
                                        <select aria-label="Rooms & Suites Category" name="suitsDropdown" id="suitsDropdown"><option
                                                selected="" disabled="" hidden="">Rooms & Suites</option></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-button-wrap">
                            <button class="filter-button cm-btn-secondary" type="button">APPLY FILTER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>