<div data-sly-test="${wcmmode.edit}">AMP Header Component</div>
<sly data-sly-test.sitePath="${pageProperties.sitePath}"></sly>
<sly data-sly-use.header="com.ihcl.core.models.header.Header"> <amp-sidebar
	id="sidebar" class="sidebar" layout="nodisplay" side="left">
<nav class="sidebar-nav">
	<div class="sidebar-nav-header navbar-heading clearfix">
		<amp-img class="close-image"
			src="${properties.sideBarCloseButton}"
			width="16" height="20" alt="close sidebar" on="tap:sidebar.close"
			role="button" tabindex="0"></amp-img>
		<amp-img class="taj-image ${inheritedPageProperties.sitePath}" layout="fill" src="${properties.brandImg}"
			alt="Logo"></amp-img>
		<a class="taj-link ${inheritedPageProperties.sitePath}" href="${properties.brandLinkUrl}.html">${inheritedPageProperties.siteurl}.com</a>
	</div>
	<sly data-sly-test="${header.headers}">
	<div class="navbar-nav mr-auto" data-sly-list.tabs="${header.headers}">
		<sly data-sly-test="${tabs.link}">
		<div class="nav-item">
			<a class="nav-link text-caps" href="${tabs.link}.html"
				rel="${tabs.headerNofollowStatus ? 'nofollow' : ''}"
				target="${tabs.redirectToNewTab ? '_blank' : ''}">${tabs.headerLabel}</a>
		</div>
		</sly>
		<sly data-sly-test="${!tabs.link}"> <sly
			data-sly-test.subHeaderEmpty="${!tabs.subHeader}" /> <sly
			data-sly-test="${!subHeaderEmpty}">
		<div class="nav-item clearfix nav-item-with-arrow">
			<div class="text-caps cm-header-dropdowns nav-others nav-more-container ${inheritedPageProperties.sitePath}">
				<amp-accordion>
				<section>
					<header class="ihcl-hamburger-changes">
						${tabs.headerLabel}
                        <amp-img class="expand-image footer-destination-expand-button expand-button"
                                src="${properties.sideBarCloseButton}"
                                width="15" height="15" alt="close sidebar"
                                role="button" tabindex="0"></amp-img>

						<amp-img class="contract-image footer-destination-expand-button contract-button"
                                src="${properties.sideBarCloseButton}"
                                width="15" height="15" alt="close sidebar"
                                role="button" tabindex="0"></amp-img>

					</header>
					<div
						class="box-with-top-arrow cm-header-dd-options-con header-others-options">
						<ul class="cm-header-dd-list-con"
							data-sly-list.subHeaders="${tabs.subHeader}">
							<li class="cm-each-header-dd-item"><a
								href="${subHeaders.link}.html"
								rel="${subHeaders.subHeaderNofollowStatus ? 'nofollow' : ''}"
								target="${subHeaders.redirectToNewTab ? '_blank' : ''}">${subHeaders.headerLabel}</a></li>
						</ul>
					</div>
				</section>
				</amp-accordion>
			</div>
		</div>
		</sly> </sly>
	</div>
	</sly>
	<sly data-sly-test="${header.languageLinks}">
	<div class="navbar-nav mr-auto">
		<div class="nav-item clearfix nav-item-with-arrow">
			<div class="text-caps cm-header-dropdowns nav-others nav-more-container ama-language-accordian ${inheritedPageProperties.sitePath}">
				<amp-accordion>
				<section>
					<header class="ihcl-hamburger-changes">
                    <amp-img class="langImage"
                                src="${properties.selectedLangImg}"
                                width="20" height="16" alt="close sidebar"
                                role="button" tabindex="0"></amp-img>
						${properties.selectedLangLabel}
                        <amp-img class="expand-image footer-destination-expand-button expand-button"
                                src="${properties.sideBarCloseButton}"
                                width="15" height="15" alt="close sidebar"
                                role="button" tabindex="0"></amp-img>

						<amp-img class="contract-image footer-destination-expand-button contract-button"
                                src="${properties.sideBarCloseButton}"
                                width="15" height="15" alt="close sidebar"
                                role="button" tabindex="0"></amp-img>

					</header>
					<div
						class="box-with-top-arrow cm-header-dd-options-con header-others-options">
						<ul class="cm-header-dd-list-con"
							data-sly-list.subHeaders="${header.languageLinks}">
							<li class="cm-each-header-dd-item"><a
								href="${subHeaders.link}.html"
								rel="${subHeaders.subHeaderNofollowStatus ? 'nofollow' : ''}"
								target="${subHeaders.redirectToNewTab ? '_blank' : ''}">

							<amp-img class="langImage" data-sly-test="${subHeaders.img}"
                                src="${subHeaders.img}"
                                width="20" height="16" alt="close sidebar"
                                role="button" tabindex="0"></amp-img>
                                ${subHeaders.title}

                                </a></li>
						</ul>
					</div>
				</section>
				</amp-accordion>
			</div>
		</div>
	</div>
	</sly>
	<!-- <ul class="sidebar-nav-list" data-sly-list.tabs="${header.headers}">
		<li><a class="nav-link" href="${tabs.link}.html">${tabs.headerLabel}</a>
		</li>
		<sly data-sly-test="${!tabs.link}"> <sly
			data-sly-test.subHeaderEmpty="${!tabs.subHeader}" /> <sly
			data-sly-test="${!subHeaderEmpty}">
		<div class="nav-item clearfix nav-item-with-arrow">
			<div class="nav-link text-caps cm-header-dropdowns nav-others">
				<div class="ihcl-hamburger-changes">
					${tabs.headerLabel}<span
						class="inline-block header-dropdown-image icon-drop-down-arrow"></span>
				</div>
				<div
					class="box-with-top-arrow cm-header-dd-options-con header-others-options">
					<ul class="cm-header-dd-list-con"
						data-sly-list.subHeaders="${tabs.subHeader}">
						<li class="cm-each-header-dd-item"><a
							href="${subHeaders.link}.html">${subHeaders.headerLabel}</a></li>
					</ul>
				</div>
			</div>
		</div>
		</sly> </sly>
	</ul>
 -->
</nav>
</amp-sidebar> <header class="header">
	<nav class="navbar">
		<button on="tap:sidebar.open" class="navbar-toggler" type="button"
			data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">☰</span>
		</button>
		<div class="navbar-brand">
			<a class="navbar-brand-anchor" href="${properties.brandLinkUrl}.html">
				<div class="brand-logo-wrapper">
					<amp-img class="taj-image" layout="fill"
						src="${properties.brandImg}" alt="Logo"></amp-img>
				</div>
			</a>
		</div>
        <a class="book-stay-btn" id="book-a-stay-button" on="tap:bookAStay.open,AMP.setState({count:count.room > 0? {room:count.room,showRoom:count.room}:{room:count.room+1,showRoom:count.room+1},roomOnechildren: children, children: 0,basSearchActive: false,roomOneadults : adults, adults : roomOneadults ? roomOneadults : 1})"><button
				class="cm-btn-secondary ${inheritedPageProperties.sitePath}">${properties.bookingBtnLabel}</button></a> 
	</nav>

 </header> </sly>
