@rem: 16rem;

.generic-signin-content-holder {
    background-color: #ffffff;
    padding: 42/@rem 51/@rem 51/@rem;
    position: relative;
    max-width: 692/@rem;
    margin: 16/@rem auto;
    &.signup-confirmation-content-holder {
        background-image: url('../../../assets/images/confirmation-bg.jpg');
        background-position: center;
        background-size: contain;
    }
    @media only screen and (max-width: 767px) {
        width: 93%;
        max-width: 370/@rem;
        padding: 27/@rem 30/@rem 40/@rem;
    }
}

//sign up styles
.member-signup-component {
    padding: 2rem 5rem 3rem 5rem;
    background: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);    
    @media only screen and (max-width: 767px) {
        padding: 2.3125rem 1.3rem 2.3125rem;
    }
    .member-signup-header-container{
        padding: 0 0 1.5rem;
        margin: 0 0 2rem;
        position:relative;
        &:after{
            content: '';
            background-color: #979797;
            height: 1.5px;
            width: ~'calc(100% + 10rem)';
            position:absolute;
            left: -5rem;            
            bottom: 0;
            margin: auto;
            opacity: 0.2;
            @media only screen and (max-width: 767px) {
                width: ~'calc(100% + 4.3125rem)';
                left: -2.3125rem;
            }
        }
    }
    .member-signup-heading {
        font-family: Calibri-bold;
        font-size: 30/@rem;
        line-height: 1.14;
        text-align: left;
        color: #1b1b1b;
        margin-bottom: 7/@rem;
        @media only screen and (max-width: 767px) {
            font-size: 20/@rem;
        }
    }

    .member-signup-subtitle {
        text-align: left;        
        font-size: 16/@rem;
        color: #1b1b1b;
        @media only screen and (max-width: 767px) {
            font-size: 14/@rem;
        }
    }

    .mr-sub-form.member-signup-form {
        .row.mr-sub-form-row {
            margin: 0 -1rem;
            text-align: left;
            margin-bottom: 0;
            @media only screen and (max-width: 767px) {
                margin: 0;
            }
            [class*="col-"]{
                padding: 0 16/@rem;
            }
            .sub-form-input-wrp {
                margin-bottom: 28/@rem;
                padding: 0 16/@rem;
                .sub-form-input-label {
                    color: #4a4a4a;
                }
                .sub-form-input-element {
                    padding-left: 0;
                    height: 35/@rem !important;
                }
                .selectSubContainer {
                    width: 100%;
                    border: none;
                    .selectboxit-text {
                        font-size: 20/@rem !important;
                    }
                    @media only screen and (max-width: 767px) {
                        width: 100%;
                    }
                    .sub-form-input-element {
                        border-bottom: 1.7px solid #dee2e5;
                    }
                }
                .signupDOB-datepicker-container {
                        max-width: 250px;
                        top:33px;

                    /* position: relative; */
                    /* .datepicker {
                        &::before,
                        &::after {
                            display: none;
                        }
                    } */
                }
                .signup-DOB-input-wrapper {
                    position: relative;
                    .icon-calendar-check-availability{
                        top:0;
                        font-size: 1rem;
                        line-height: 2rem;

                    }
                    .jiva-spa-date-con{
                        padding: 0;
                    }
                    #signupDOB {
                        position: relative;
                        z-index: 1;
                    }
                    .sub-form-input-warning {
                        position: absolute;
                        left: 0;
                        top: 101%;
                    }
                    img {
                        position: absolute;
                        right: 9/@rem;
                        bottom: 12/@rem;
                        width: 16/@rem;
                    }
                }
            }
            .signup-submit-btn {                
                min-width:7rem;                
            }
            .choice-input-col {
                margin: 12/@rem 0 16/@rem;
                p {
                    margin: 0;
                    @media only screen and (max-width: 767px) {
                        font-size: 16/@rem;
                    }
                }
                .mr-filterCheckBox-label {
                    padding-left: 2rem;
                    justify-content: flex-start;
                    font-size: 18/@rem;
                    letter-spacing: normal;
                    line-height: 1.11;
                    margin-bottom: 0;
                    .mr-filter-checkbox+span.mr-inputCustomShape {
                        left: 0;
                        border: 1px solid #818b92;
                    }
                }
            }
        }
    }

    //end sign up styles
    // sign up confirmation style
    .member-signup-confirmation {
        display: none;
        text-align: center;
        .member-signup-confirmation-logo {
            width: 74/@rem;
            height: 74/@rem;
            object-fit: contain;
            margin-bottom: 10/@rem;
        }
        .signup-confirmation-heading {
            font-family: Calibri-bold;
            font-size: 30/@rem;
            line-height: 1.2;
            letter-spacing: 0.6px;
            color: #d29851;
            margin-bottom: 11/@rem;
            .member-name {
                font-family: Calibri;
            }
            @media only screen and (max-width: 767px) {
                font-size: 20/@rem;
            }
        }
        .signup-confirmation-info {
            font-family: Calibri;
            font-size: 20/@rem;
            color: #282828;
            margin-bottom: 23/@rem;
        }
        .signup-confirmation-btn-cont {
            margin-top: 37/@rem;
            padding-bottom: 10/@rem;
            .signup-done {
                min-width: 166/@rem;
                height: 45/@rem;
            }
            .activate-now {
                min-width: 166/@rem;
                height: 45/@rem;
                margin-right: 10/@rem;
            }
        }
        .tic-id-wrapper {
            background-color: #f6f6f6;
            border: solid 1px #d19751;
            padding: 16/@rem 12/@rem;
            font-family: Calibri-bold;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .tic-id-prop-cont {
                padding: 16/@rem;
                &:not(:first-child) {
                    border-left: solid 1px #d19751;
                    @media only screen and (max-width: 767px) {
                        border-left: 0;
                        border-top: solid 1px #d19751;
                    }
                }
            }
            .tic-id-label {
                font-size: 20/@rem;
                line-height: 1.65;
                letter-spacing: 0.4px;
                color: #282828;
                @media only screen and (max-width: 767px) {
                    font-size: 16/@rem;
                }
            }
            .tic-id-value {
                font-size: 20/@rem;
                line-height: 1.1;
                color: #d29851;
                @media only screen and (max-width: 767px) {
                    font-size: 16/@rem;
                }
            }
        }
    }

    //end sign up confirmation style

    .account-online-otp-wrapper {
        .account-user-created {
            font-family: Calibri;
            font-size: 16px;
            font-size: 1.125rem;
            line-height: 1.125;
            color: #4a4a4a;
            text-align: left;
        }
        .resend-otp-wrapper {
            text-align: left;
            margin: 10/@rem 0;
            a {
                margin-left: 5/@rem;
                color: #d29851;
            }
            .resend-success-message {
                display: none;
            }
            .resend-fail-message {
                display: none;
            }
        }
        .online-account-otp-btn-wrapper {
            display: flex;
            justify-content: flex-end;
            button {
                min-width: 166/@rem;
            }
        }
    }
}

.selectSubContainer .selectboxit-arrow-container i.selectboxit-arrow{
    top: 30%;
}

.sign-up-btn-wrp {
    text-align: right;
}
@media only screen and (min-width: 768px){
    .enroll-form-cnt .enroll-col-md-4{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .enroll-form-cnt .enroll-col-md-3{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .enroll-form-cnt .enroll-col-md-5{
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .enroll-form-cnt.member-signup-component{
        max-width: 900px;
        margin: auto;
    }
}

form.mr-sub-form.member-signup-form input:disabled {
    background-color: rgb(245, 245, 245);
    color: black;
    cursor: not-allowed;
}

form.mr-sub-form.member-signup-form input:disabled.date-value {
	cursor:pointer;
	background-color: transparent;
}

form.mr-sub-form .tic-captcha-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.jiva-spa-date .table-condensed {
	font-size: 0.95rem;
    @media only screen and (max-width: 767px){
		font-size: 0.85rem;
    }
}

.signature-pad {
	box-shadow: 0px 4px 4px 0px #bbb;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.warning-icon-con {
	display: none;
}
.jiva-spa-date .datepicker-days{
	width: auto;
    background: white;
    @media only screen and (max-width: 767px){
		width: 290px;
    }
    @media only screen and  (min-width: 768px) and (max-width: 1024px) {
		width: 245px;
    }
}
.q-sub-form-input-label{
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;    
    @media only screen and (max-width: 767px){
        font-size: 1rem;
    	margin-bottom: 0.375rem;
    }
}