.offers-page-card-component:nth-child(3n-2) .offers-card-inner-wrapper {
    margin-left: 0px;
    margin-right: 20px;
}

.offers-page-card-component:nth-child(3n-1) .offers-card-inner-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.offers-page-card-component:nth-child(3n) .offers-card-inner-wrapper {
    margin-right: 0px;
    margin-left: 20px;
}

.offers-page-card-component .hotel-offers-card-main.offers-card-main .offers-card-footer{
    display: block;
}
.offers-page-card-component .hotel-offers-card-main.offers-card-main .offers-card-description{
    padding-bottom: 3.5rem;
}
.offers-page-card-component .hotel-offers-card-main.offers-card-main .offers-card-footer .offer-validity{
    display: block;
    margin: 0.3rem 0;
    min-height: initial;
}
.offers-page-card-component .hotel-offers-card-main.offers-card-main .offers-card-footer .button-view-details{
    width: 49%;
    display: inline-block;
}
.offers-page-card-component .hotel-offers-card-main.offers-card-main .offers-card-footer .button-view-details:nth-child(1){
    text-align:left;
}
.offers-page-card-component .hotel-offers-card-main.offers-card-main .offers-card-footer .button-view-details:nth-child(2){
    text-align:right;
}
.offers-page-card-component .offers-card-main .offers-card-footer .button-view-details{
    
}
.offers-page-card-component {
    margin-bottom: 30px;
    padding: 0px;
}

.offers-page-card-component .offers-card-inner-wrapper {
    background-color: #ffffff;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.05);
  /*height: 625px;*/
  /*Commented by Nixon*/
  /*  height: 625px;
    height: 39.0625rem;*/
    height:100%;
    position: relative;
}

.offers-page-card-component .offers-card-header-container {
    min-height: 50px;
    box-shadow: 0px -5px 12px 0 rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
}

.offers-page-card-component .offers-card-image {
    width: 100%;
  /*height: 379px;*/
  /*Commented by Nixon*/
    height: 380px;
    height: 23.75rem;
    background: #ccc;
}

.offers-page-card-component .offers-card-main {
  /*height: 185px;
        padding: 26px 30px 20px;*/
  /*   height: 185px;
    height: 11.5625rem; */
    padding: 24px 30px 20px;
    padding: 1.5rem 1.875rem 1.25rem;
}

.offers-page-card-component .offers-card-main .offers-card-title {
    font-family: Calibri;
  /*font-size: 25px;*/
  /*Commented By Nixon*/
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
    color: #323232;
    margin: 3px 0px 11px 0px;
}

.offers-page-card-component .offers-card-main .offers-card-description {
    font-family: Calibri;
  /*font-size: 16px;*/
  /*Commented by Nixon*/
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.31;
    color: #323232;
  /*margin-bottom: 22px;*/
    margin-bottom: 22px;
    margin-bottom: 1.375rem;
    padding-bottom: 3rem;
  /*height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    max-height: 57px;
    max-height: 3.6rem;*/
}

.offers-page-card-component .offers-card-main .offers-card-footer {
    /*position: relative;*/
    position: absolute;
    bottom: 1.25rem;
    left: 1.875rem;
    right: 1.875rem;
    display: flex;
}

.offers-page-card-component .offers-card-main .offers-card-footer .button-view-details {
    /*float: right;*/
  /*width: 140px;*/
  /*Commented by Nixon*/
    width: 50%;
    letter-spacing: 1.8px;
    text-align: right;
}

.offers-page-card-component .offers-card-main .offers-card-footer .offer-validity {
    display: inline-block;
    /*padding-top: 9px;*/
    font-family: Calibri;
  /*font-size: 16px;*/
  /*Commented by Nixon*/
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    width: 50%;
    color: #323232;
    min-height: 35px;
}

.offers-page-card-component .offers-card-main .offers-card-footer .offer-validity .offer-validity-date {
    display: inline-block;
}

@media only screen and (max-width: 991px) {
    .offers-page-card-component:nth-child(3n),
  .offers-page-card-component:nth-child(3n-1),
  .offers-page-card-component:nth-child(3n-2) {
        margin-bottom: 21px;
    }

    .offers-page-card-component:nth-child(3n) .offers-card-inner-wrapper,
  .offers-page-card-component:nth-child(3n-1) .offers-card-inner-wrapper,
  .offers-page-card-component:nth-child(3n-2) .offers-card-inner-wrapper {
        margin: 0px;
    }

    .offers-page-card-component:last-child {
        margin-bottom: 0px;
    }

    .offers-page-card-component {
        padding: 0px;
        margin-bottom: 21px;
    /*margin-left: 16px;
        margin-right: 16px;*/
    /*commented by Nixon*/
    }

    .offers-page-card-component .offers-card-inner-wrapper {
        height: 100%;
    }

    .offers-page-card-component .offers-card-image {
        height: 370px;
    }

    .offers-page-card-component .offers-card-main {
        padding: 1.25rem;
    }

    .offers-page-card-component .offers-card-main .offers-card-title {
        font-size: 24px;
        color: #000000;
    }

    .offers-page-card-component .offers-card-main .offers-card-description {
        font-size: 16px;
        margin-bottom: 16px;
        padding-bottom:4.5rem !important;
    }
    
    .offers-page-card-component .offers-card-main .offers-card-footer {
        left: 1.25rem;
        right: 1.25rem;
        bottom: 1.25rem;
    }
}

@media only screen and (max-width: 374px) {
    .offers-page-card-component .offers-card-main {
        padding: 1rem;
    }

    .offers-page-card-component .offers-card-main .offers-card-title {
        font-size: 22px;
    }
    
    .offers-page-card-component .offers-card-main .offers-card-footer {
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
    }

    .offers-page-card-component .offers-card-main .offers-card-footer .offer-validity {
        padding-top: 0;
        line-height: normal;
    }

    .offers-page-card-component .offers-card-main .offers-card-footer .offer-validity .offer-validity-date {
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .offers-page-card-component:nth-child(odd) {
        padding-right: 10px !important;
    }

    .offers-page-card-component:nth-child(even) {
        padding-left: 10px !important;
    }
}
