.offer-card-header-additional-points {
    text-align: center;
    padding: 13px 5px;
    padding: 0.8125rem 0.3125rem;
}

.offer-card-header-additional-points .offers-header-text {
    display: inline-block;
    vertical-align: text-bottom;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 0.89;
    color: #323232;
}

@media only screen and (max-width: 575px) {
    .offer-card-header-additional-points .offers-header-text {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 374px) {
    .offer-card-header-additional-points .offers-header-text {
        font-size: 0.8125rem;
        line-height: normal;
    }
}

.offer-card-header-additional-points .offers-header-text .additional-points-text {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 0.73;
    color: var(--primaryColor);
}

@media only screen and (max-width: 575px) {
    .offer-card-header-additional-points .offers-header-text .additional-points-text {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 374px) {
    .offer-card-header-additional-points .offers-header-text .additional-points-text {
        font-size: 1rem;
    }
}
