<sly data-sly-test="${wcmmode.edit}">
    <p data-sly-unwrap="${properties.headline}" data-emptytext="Configure ${component.title}"
       class="cq-placeholder"></p>
</sly>
<sly data-sly-use.urlMap="${'url-map.js' @ reqUrl=properties.brandPath}" />
<div class="brand-image-wrapper" data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html">
   <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= properties.bgImage ? properties.bgImage :'/content/dam/tajhotels/logos/taj-logos/img-taj@2x.png',styleClass='card-img-top brand-img-card',bannerClass='', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', lazyload='true'}"></sly>
    <div class="icon-div">
        <div class="brand-name-wrapper">
            <div class="helper"></div>
            <sly data-sly-call="${imagetemplate.damImageTemplate @ imagePath= properties.overlay ? properties.overlay :'/content/dam/tajhotels/logos/taj-logos/img-taj@2x.png', renditionPathSuffix='/jcr:content/renditions/cq5dam.web.512.512.jpeg', styleClass=properties.overlayImgCssClass, lazyload='true'}"></sly>
        </div>
    </div>
    <div class="card-footer brand-card-footer">
        <div class="brand-description">
            <div class="description-text-brand">${properties.description @context="html"} </div>
            <a class="hide-in-sm brand-cards-btn-con clearfix" href="${urlMap.mappedUrl}"><button class="cm-btn-secondary button-view-details view-brand-page-btn" tabindex = "-1">View Page</button></a>
        </div>
    </div>
</div>