.mr-table-header-para,
.mr-list-header,
.mr-list-description,
.mr-hotel-redirection-para,
.mr-hotel-terms {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

.mr-list-header {
    padding: 25px 0;
    padding: 1.5625rem 0;
}

@media only screen and (max-width: 480px) {
    .mr-list-header {
        margin: 0 0.9375rem;
    }
}

.mr-list-description {
    list-style-type: disc;
    list-style-position: inside;
    padding: 10px 0 10px 30px;
    padding: 0.625rem 0 0.625rem 1.875rem;
}

.mr-hotel-redirection-para,
.mr-hotel-terms {
    font-weight: bold;
    margin-top: 35px;
    margin-top: 2.1875rem;
}

.mr-hotel-redirection-para,
.mr-family-hotel-btn {
    display: inline-block;
}

@media only screen and (max-width: 480px) {
    .mr-hotel-redirection-para,
  .mr-family-hotel-btn {
        display: block;
    }
}

.mr-family-hotel-btn {
    margin-left: 10px;
    margin-left: 0.625rem;
}

@media only screen and (max-width: 480px) {
    .mr-family-hotel-btn {
        display: inline-block;
        margin: 0rem 0.625rem 0.9375rem 0;
    }
}

.mr-terms-ref {
    padding-left: 5px;
    padding-left: 0.3125rem;
    text-decoration: none;
}

.mr-terms-ref:hover {
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    .mr-hotel-redirection,
  .mr-hotel-terms {
        margin: 0 0.9375rem;
    }
}

@media only screen and (max-width: 480px) {
    .mr-table-header-para {
        margin: 0 0.9375rem 1.25rem 0.9375rem;
    }
}
.mr-table-wrapper {
    border: solid 1px #979797;
    border-collapse: collapse;
}

.mr-table-row {
    border-bottom: solid 1px #979797;
}

.mr-ihcl-table-header {
    font-family: Calibri-bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.1;
    letter-spacing: 0.9px;
    color: #4a4a4a;
    width: 49%;
    padding: 15px 15px 15px 30px;
    padding: 0.9375rem 0.9375rem 0.9375rem 1.875rem;
}

.mr-ihcl-table-data-left,
.mr-ihcl-table-data-right {
    font-family: Calibri;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.9px;
    color: #4a4a4a;
    width: 49%;
    padding: 10px 15px 10px 30px;
    padding: 0.625rem 0.9375rem 0.625rem 1.875rem;
}

@media only screen and (max-width: 480px) {
    .mr-ihcl-table-data-left,
  .mr-ihcl-table-data-right {
        padding: 10px 8px 10px 18px;
    }
}
    .mr-table-hyperlink{
    		color:#0c5d90;
            cursor:pointer;
            word-break:break-all;
            word-wrap:break-word;
        }
.mr-hotel-charges{
        margin-top:25px;
    }
    
    
    .cm-view-link-txt, .cm-view-txt {
        color: #002b49;
    }