<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.all @ categories='taj.hotels.components.taj-air-range-map,tajhotels.structure.page.tajhotels-base-page'}" />
<div class="range-map-container loaded">
    <img class="range-map-view" src="/content/dam/thrp/taj_air_online/16x7/new-range-map.jpg" alt = "range map image">
    <img class="pointer-cursor" src="/content/dam/thrp/taj_air_online/16x7/range-map-GREEN-LINE-01.png" alt = "Some image">
</div>