<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.search-bar'}"></sly>

<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='taj.hotels.components.section-navigation'}" />

<div data-sly-test="${wcmmode.edit}">Search Bar Component</div>
<div id="home-search" class="search-container" data-sly-use.searchModel="com.ihcl.core.models.SearchBar">
    <div class="container">
        <div class="mr-searchBar-HelloText">${searchModel.helloText}</div>
    </div>
    <div class="search-and-suggestions-wrapper container">
        <div class="searchBar-wrap">
            <img class="search-icon" src="/content/dam/tajhotels/icons/style-icons/search-icon.svg" alt="search-icon" />
            <input name="searchbar-global" class="searchbar-input" type="text"
                placeholder="${searchModel.searchPlaceholder}" aria-label="Search Bar" />
            <span class="close-icon display-none">
                <img class="closeIconImg" src="/content/dam/tajhotels/icons/style-icons/close.svg" alt="close-icon" />
            </span>
            <span class="explore-taj-content">
                ${searchModel.searchButtonText} <i class="icon-carousel-arrow-coloured-right explore-taj"></i>
            </span>
        </div>
        <div class="suggestions-wrap display-none">
            <div class="suggestions-overlay cm-overlay"></div>
            <div class="suggestions-container">
                <div class="no-results-found" id="NoResults">No Results Found</div>
                <div class="trending-suggestions-container display-none">
                    <div class="trending-explore">
                        <p class="explore-heading">
                            <img class="destination-hotel-icon"
                                src="/content/dam/tajhotels/icons/style-icons/search-suggestions-destination-icon.svg"
                                alt="hotel icon" />
                            <span class="trending-explore-taj-text">${searchModel.exploreTajTitle}</span>
                        </p>
                        <div class="explore-taj-categories" data-sly-list.exploreLink="${searchModel.exploreTajLinks}">
                            <a class="individual-category-explore" href="${exploreLink.link}.html">${exploreLink.title}</a>
                        </div>
                    </div>
                    <div class="trending-search">
                        <p class="explore-heading">
                            <img class="destination-hotel-icon" src="/content/dam/tajhotels/icons/style-icons/location.svg"
                                alt="Location icon" />
                            <span class="trending-explore-taj-text trending-search-text">Trending Searches</span>
                        </p>
                        <div class="trending-searches-in-taj" data-sly-list.trending="${searchModel.trendingSearches}">
                            <a class="individual-trends" href="${trending.link}.html">${trending.title}</a>
                        </div>
                    </div>
                </div>
                <div class="search-suggestions-container display-none">

                    <div class="destination-page-nav-menu searchTab">
                        <nav class="col-lg-12 clearfix destination-nav-Bar-wrapper">
                            <a id="Holiday" class="tab-child-container selected display-none">Holidays</a> <a
                                id="Hotels" class="tab-child-container selected display-none">Hotels</a> <a
                                id="Dining" class="tab-child-container display-none">Restaurants</a> <a
                                id="Experiences" class="tab-child-container display-none">Experiences</a>

                        </nav>
                    </div>
                    <div class="all-search-results-con">
                        <div id="suggestion-cont" class="search-suggestion-common"></div>
                        <sly data-sly-test="${!properties.hideDestinationName}">
                        <div id="dest-result-cont" class="trending-search hotels-trending">
                            <p class="explore-heading">
                                <img class="destination-hotel-icon"
                                    src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                <span class="trending-explore-taj-text trending-search-text">${searchModel.destinationResultsTitle}</span>
                            </p>
                            <div id="dest-result" class="trending-searches-in-taj">
                                <!--/* Add hotel search results here */-->
                            </div>
                        </div>
                        </sly>
                        <div id="holiday-result-cont" class="trending-search holiday-trending">
                            <p class="explore-heading">
                                <img class="destination-hotel-icon"
                                    src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                <span class="trending-explore-taj-text trending-search-text">${searchModel.holidayDestinationTitle}</span>
                            </p>
                            <div id="holiday-result" class="trending-searches-in-taj">
                                <!--/* Add hotel search results here */-->
                            </div>
                        </div>
                        <div id="holiday-hotel-result-cont" class="trending-search holiday-hotel-trending">
                            <p class="explore-heading">
                                <img class="destination-hotel-icon"
                                    src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                <span class="trending-explore-taj-text trending-search-text">${searchModel.holidayHotelTitle}</span>
                            </p>
                            <div id="holiday-hotel-result" class="trending-searches-in-taj">
                                <!--/* Add holiday hotel search results here */-->
                            </div>
                        </div>
                        <div id="hotel-result-cont" class="trending-search hotels-trending">
                            <p class="explore-heading website-result">
                                <img class="destination-hotel-icon"
                                    src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                <span class="trending-explore-taj-text trending-search-text">${searchModel.websiteHotelResultsTitle}</span>
                            </p>
                            <div id="website-hotel-result" class="trending-searches-in-taj"></div>
                            <p class="explore-heading others-result">
                                <img class="destination-hotel-icon"
                                    src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                <span class="trending-explore-taj-text trending-search-text">${searchModel.otherHotelResultsTitle}</span>
                            </p>
                            <div id="others-hotel-result" class="trending-searches-in-taj"></div>
                        </div>
                        <div id="restrnt-result-cont" class="trending-search hotels-trending">
                            <p class="explore-heading website-result">
                                <img class="destination-hotel-icon"
                                    src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                <span class="trending-explore-taj-text trending-search-text">${searchModel.websiteRestaurantResultsTitle}</span>
                            </p>
                            <div id="website-restrnt-result" class="trending-searches-in-taj">
                                <!--/* Add restaurant search results here */-->
                            </div>
                            <p class="explore-heading others-result">
                                <img class="destination-hotel-icon"
                                    src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                <span class="trending-explore-taj-text trending-search-text">${searchModel.otherRestaurantResultsTitle}</span>
                            </p>
                            <div id="others-restrnt-result" class="trending-searches-in-taj">
                                <!--/* Add restaurant search results here */-->
                            </div>
                        </div>
                        <div id="exp-result-cont" class="trending-search hotels-trending">
                            <p class="explore-heading website-result">
                                <img class="destination-hotel-icon"
                                    src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                <span class="trending-explore-taj-text trending-search-text">${searchModel.websiteExperienceResultsTitle}</span>
                            </p>
                            <div id="website-exp-result" class="trending-searches-in-taj">
                                <!--/* Add experience search results here */-->
                            </div>
                            <p class="explore-heading others-result">
                                <img class="destination-hotel-icon"
                                    src="/content/dam/tajhotels/icons/style-icons/location.svg" alt="Location icon" />
                                <span class="trending-explore-taj-text trending-search-text">${searchModel.otherExperienceResultsTitle}</span>
                            </p>
                            <div id="others-exp-result" class="trending-searches-in-taj">
                                <!--/* Add experience search results here */-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="nav-prelogin-close" src="/content/dam/tajhotels/icons/style-icons/close-icon-white.svg" alt="close icon" />
        <input type="hidden" id="searchPath" name="search-path" value="${inheritedPageProperties.siteConfigContentPath}"
            aria-hidden="true" />
        <input type="hidden" id="searchOtherWebsitePath" name="other-website-path" value="${properties.otherWebsitePath}"
            aria-hidden="true" />
    </div>
</div>