
.selectboxit .selectboxit-arrow-container .selectboxit-arrow{
	top:20%;
	margin: auto !important;
}

.events-contact-details {
    display: inline-block;
    width: 25%;
    border-right: 1.8px solid #c1bbbb;
    vertical-align: middle;
}

.events-contact-details a {
    float: right;
    margin-right: 21px;
    margin-right: 1.3125rem;
}

.events-brochure {
    display: inline-block;
    width: 15.5%;
    text-align: center;
}

.events-brochure img {
    margin-left: 7px;
    margin-left: 0.45625rem;
    height: 20px;
    width: 20px;
}

.events-brochure a div::before {
    content: 'Download Brochure';
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .events-brochure a div::before {
        content: "Brochure";
        font-size: 1rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 991px) {
    .events-brochure a div {
        font-size: 16px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .events-brochure {
        width: unset;
        display: unset;
        float: left;
        height: 100%;
        line-height: 2.5;
        text-align: left;
    }
}

.events-gallery {
    display: inline-block;
    width: 11%;
   /*  border-left: 1.8px solid #c1bbbb; */
   /* border-right: 1.8px solid #c1bbbb; */
    text-align: center;
}

.events-filter-section {
    display: inline-block;
    width: 32%;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .events-filter-section {
        width: unset;
        display: unset;
        float: left;
        height: 100%;
        line-height: 2.5;
    }
}

.events-request-quote-btn {
    display: inline-block;
    width: 15%;
    text-align: right;
    border-left: 1.8px solid #c1bbbb;
}

.events-request-quote-btn .cm-btn-secondary {
    width: 10rem;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .events-request-quote-btn {
        width: auto;
        float: right;
        display: inherit;
        border: none;
        text-align: right;
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 375px) {
    .events-request-quote-btn {
        padding-left: 0;
    }
}

.events-filter-subheading {
    display: inline-block;
    font-size: 20px;
    font-family: calibri;
    font-size: 1.25rem;
    color: #1b1b1b;
    margin-left: 23px;
    margin-left: 1.4375rem;
}

@media only screen and (max-width: 991px) {
    .events-filter-subheading {
        display: inline-block;
        margin-left: 0;
        margin: 0 10%;
        font-family: Calibri-Bold;
        text-transform: uppercase;
    }
}

.selectSubContainer.events-size-dropdown {
    display: inline-block;
    width: 120px;
    width: 7.5rem;
    margin-left: 20px;
    margin-left: 1.25rem;
    vertical-align: text-bottom;
    border-bottom: 2px dotted rgba(27, 27, 27, 0.3);
    height: 27px;
}

@media only screen and (max-width: 991px) {
    .selectSubContainer.events-size-dropdown {
        display: block;
        margin-left: 0;
        margin: 0 10%;
        width: 80%;
        margin-top: 40px;
        border-bottom: 1.2px solid var(--primaryColor);
        display: none;
    }
}

.selectSubContainer.events-capacity-dropdown {
    display: inline-block;
    width: 120px;
    width: 7.5rem;
    margin-left: 41px;
    margin-left: 2.5625rem;
    vertical-align: text-bottom;
    border-bottom: 2px dotted rgba(27, 27, 27, 0.3);
    height: 27px;
}

@media only screen and (max-width: 991px) {
    .selectSubContainer.events-capacity-dropdown {
        display: block;
        margin-left: 0;
        margin: 0 10%;
        width: 80%;
        margin-top: 45px;
        border-bottom: 1.2px solid var(--primaryColor);
    }
}

.events-filter-icon-mobile {
    display: none;
    padding-right: 16px;
    padding-right: 1rem;
}

@media only screen and (max-width: 991px) {
    .events-filter-icon-mobile {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-right: 1.25rem;
    }
}

@media only screen and (max-width: 375px) {
    .events-filter-icon-mobile {
        padding-right: 0.75rem;
        margin-right: 0.75rem;
    }
}

.events-filter-icon-mobile::before {
    height: 115%;
    width: 2px;
    background: #c1bbbb;
    content: '';
    position: absolute;
    right: 0;
    top: -10%;
}

@media only screen and (max-width: 991px) {
    .events-filter-subsection {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #fff;
        overflow-y: auto;
        z-index: 15;
    }
}

.events-filter-back-arrow {
    display: none;
    
}
.events-filter-back-arrow img {
	vertical-align: inherit;
}

@media only screen and (max-width: 991px) {
    .events-filter-back-arrow {
        display: inline-block;
        padding: 28px 0 0 5%;
    }
}

.venues-apply-btn {
    display: none;
}

@media only screen and (max-width: 991px) {
    .venues-apply-btn {
        display: block;
        margin: 81px auto 0;
        width: 9.375rem;
    }
}

.events-pg-filter-inner-wrap {
	text-align: right;
   	/*margin-top: 30px;*/
   	margin-top: 15px;
}
@media only screen and (max-width: 991px) {
    .events-pg-filter-inner-wrap {
        /*margin-top: 60px;*/
        margin-top: 30px;
    }	
}

.events-pg-filter-inner-wrap .events-contact-details {
	padding-right: 1rem;
}

.events-pg-filter-inner-wrap .events-gallery {
	vertical-align: middle;
}

.events-pg-filter-inner-wrap .events-filter-section {
	vertical-align: middle;
    width: 20%;
    margin-right: 1rem;
}

.events-pg-filter-inner-wrap .events-request-quote-btn {
	vertical-align: middle;
}

.events-pg-filter-inner-wrap .events-gallery .ho-cm-link-txt {
	vertical-align: middle;
}

.events-mobile-filter-title-wrap .events-filter-back-arrow {
	float: left;
    padding-top: 10px;
    padding-left: 12px;
}

.events-mobile-filter-title-wrap .events-filter-back-arrow .icon-prev-arrow {
	font-size: 26px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.events-mobile-filter-title-wrap .events-filter-back-arrow .icon-prev-arrow {
		font-size: 2rem;
	}
	.events-mobile-filter-title-wrap .events-filter-back-arrow {
		padding-top: 1.25rem;
	}
	.events-mobile-filter-title-wrap .events-filter-subheading {
		font-size: 2rem;
	}
	.selectSubContainer.events-capacity-dropdown {
		width: 90%;
		margin: 30px auto;
	}
}

.events-mobile-filter-title-wrap .events-filter-subheading {
	float: left;
	margin-left: 10px;
}

@media only screen and (max-width: 767px) {
	.events-details-con .cm-btn-secondary {
		line-height: 1.2;
	}
}

@media only screen and (min-width: 992px) {
	.events-mobile-filter-title-wrap {
		float: left;
	}
	.events-capacity-dropdown {
		float: right;
	}
}

#wedding-check-availaility-search-results {
    z-index: 10;
}

.filter-dropdown-wrap.filterByMobile .selectSubContainer .selectboxit-list a {
	font-size: 1rem !important;
}

@media only screen and (max-width: 991px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.filterByMobile {
        position: absolute;
        top: 4.5rem;
        text-align: left;        
    }
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.filterByMobile:nth-child(1){
        left:0;
        /*right:50%;*/
    }
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.filterByMobile:nth-child(2){
        /*right:0;*/
        left:52%;
    }
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.filterByMobile .filter-dropdown-label {
        color: #1b1b1b;
        font-weight: bold;
    }
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.filterByMobile .selectboxit-arrow-container {
        width: 20px;       
    }    
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .searchbar-input.hotel-search {
        width: 100%;
    }  
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container {
        display: block !important;
    }
    .search-container.search-hotels-container.search-hotels-container-mob-style {
        padding: 0;
    }
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap .selectboxit-container .selectboxit .selectboxit-text {
        padding-right: 9px;
    }
}   

@media only screen and (max-width: 360px) {
    .search-and-suggestions-wrapper.search-and-suggestions-wrapper-hotel .searchBar-wrap .search-filters-container .filter-dropdown-wrap.filterByMobile .selectSubContainer {
        width: 5.5rem !important;
    }
}