<div data-sly-test.edit=${wcmmode.edit}>
    <h1>ihcl location component</h1>
</div>
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.structure.page.tajhotels-ihcl-page,tajhotels.ihclbrandcarousel'}" />
<div class="ihcl-image-carousel-wrap">
    <div class="ihcl-image-carousel-container">
        <div class="ihcl-image-carousel-wrp">
            <div class="clearfix">
                <div class="ihcl-section-carousel-image taj-img-wrp">
                    <picture>
                    <img src="/content/dam/tajhotels/ihcl/taj_image_carousel.png" alt="Image Unavailable" /></picture>
                </div>
                <div class="ihcl-section-carousel-image seleqtion-img-wrp">
                    <picture>
                    <img src="/content/dam/tajhotels/ihcl/seleqtions_image_carousel.png" alt="Image Unavailable" /></picture>
                </div>
                <div class="ihcl-section-carousel-image vivanta-img-wrp">
                    <picture>
                    <img src="/content/dam/tajhotels/ihcl/vivanta_image_carousel.png" alt="Image Unavailable" /></picture>
                </div>
                <div class="ihcl-section-carousel-image ginger-img-wrp">
                    <picture>
                    <img src="/content/dam/tajhotels/ihcl/ginger_image_carousel.png" alt="Image Unavailable" /></picture>
                </div>
                <div class="ihcl-section-carousel-image expressions-img-wrp">
                    <picture>
                    <img src="/content/dam/tajhotels/ihcl/Expressions_colour_image_carousel.png" alt="Image Unavailable" /></picture>
                </div>
                <div class="ihcl-section-carousel-image tajsats-img-wrp">
                    <picture>
                    <img src="/content/dam/tajhotels/ihcl/tajsats_image_carousel.png" alt="Image Unavailable" /></picture>
                </div>

            </div>
        </div>
    </div>
</div>