.range-map-container {
    position: relative;
    height: 550px;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.pointer-cursor {
    width: 100%;
    height: 700px;
    position: relative;
    left: -22%;
    /*cursor: pointer;*/
    object-fit: contain;
}

.range-map-view {
    height: 550px;
    position: relative;
    width: 100%;
}	


@media only screen and (max-width: 420px) {
    .range-map-container {
        height: 250px;
    }

    .range-map-view {
        height: 260px;
        position: relative;
        width: 124%;
    	left: -11%;                
    }

    .pointer-cursor {
       /* width: 200px;*/
        height: auto;
        /*cursor: pointer;*/
    }
}

@media only screen and (min-width: 992px) {
    .range-map-container {
        width: 950px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 420px) {
    .range-map-container {
        height: 400px;
    }
    .range-map-view {
        height: 400px;        
        position: relative;        
    }

    .pointer-cursor {
       /* width: 320px;*/
        height: auto;
        /*cursor: pointer;*/
    }
}
