@rem: 16rem;
.find-reserve-btn .taj-loader{
    float: right;
}
.find-reservation-con {
    width: 100%;
    background: #fff;
    padding: 40/@rem 82/@rem 74/@rem 45/@rem;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding-right: 40/@rem;
    }
    @media only screen and (max-width: 767px) {
        padding: 20/@rem;
    }
}

.find-reserve-heading {
    font-family: Calibri-Bold;
    font-size: 30/@rem;
    color: #282828;
    margin-bottom: 25/@rem;
    @media only screen and (max-width: 767px) {
        font-size: 24/@rem;
    }
}

.find-reserve-cat {
    @media only screen and (max-width: 767px) {
        padding:0 !important;
    }
}

.find-reserve-cat:first-child {
    @media only screen and (max-width: 767px) {
        margin-bottom: 33/@rem;
    }
}

.find-reserve-name {
    font-size: 18/@rem;
    font-family: Calibri;
    color: #818b92;
}

.find-reserve-val {
    width: 100%;
}

.find-reserve-input {
    outline: none;
    border: none;
    border-bottom: solid 1.7px #dee2e5;
    width: 90%;
    color: #000;
    height: 53/@rem;
    @media only screen and (max-width: 767px) {
        height: 34/@rem;
    }
}

&.invalid-input {
    border-bottom-color: var(--primaryColor);
}

.find-reserve-btn {
    @media only screen and (max-width: 767px) {
        position: absolute;
        bottom: 50/@rem;
        text-align: center;
        left: 0;
    }
}

.find-reserve-btn-con {
    float: right;
    margin-top: 20/@rem;
    @media only screen and (max-width: 767px) {
        float:unset;
    }
}

.find-reserve-no-confirm-num {
    font-size: 16/@rem;
    color: #4a4a4a;
    font-family: Calibri;
    margin-top: 35/@rem;
    .find-reserve-no-confirm-no-heading {
        font-family: Calibri-Bold;
        font-size: 18/@rem;
        margin-bottom: 5/@rem;
    }
    @media only screen and (max-width:767px) {
        margin-bottom: 148/@rem;
        padding: 0 !important;
    }
}

.sub-form-input-warning {
    font-family: Calibri;
    font-size: 0.875rem;
    color: #f44336;
}
