.best-rate-guar-form-con {
    background: #fff;
    padding: 24px;
    padding: 1.5rem;
}

.best-rate-guar-form-con-mand {
    font-size: 12px;
    font-size: 0.75rem;
    font-family: Calibri;
    color: #818b92;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.best-rate-guar-form-section {
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
}

.best-rate-guar-form-section-head {
    font-family: Calibri;
    font-size: 24px;
    font-size: 1.5rem;
    letter-spacing: 0px;
    letter-spacing: 0.03125rem;
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
}

.best-rate-guar-form-input-wrap {
    margin-bottom: 36px;
    margin-bottom: 2.25rem;
}

.best-rate-guar-form-input-wrap .mr-filter-checkbox + span.mr-inputCustomShape {
    left: -20px;
    left: -1.3rem;
}

.best-rate-guar-form-input-wrap a {
    color: var(--primaryColor);
}

.selectSubContainer.best-rate-guar-preferred-mode {
    width: 100%;
    border-bottom: solid 1.7px #dee2e5;
}

.selectSubContainer.best-rate-guar-preferred-mode .selectboxit-container .selectboxit {
    color: #000;
}

.selectSubContainer.best-rate-guar-preferred-mode .selectboxit-text {
    font-size: 20px !important;
    font-size: 1.25rem !important;
}

.best-rate-guar-form-input-wrap.col-4:nth-child(3n-2) {
    padding-right: 60px;
    padding-right: 3.75rem;
}

.best-rate-guar-form-input-wrap.col-4:nth-child(3n-1) {
    padding: 0 30px;
    padding: 0 1.875rem;
}

.best-rate-guar-form-input-wrap.col-4:nth-child(3n) {
    padding-left: 60px;
    padding-left: 3.75rem;
}

.best-rate-input-warning, .captcha-warning {
    color: #f44336;
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: -15px;
    font-family: Calibri;
    display: none;
}

.best-rate-guar-form-label {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    color: #818b92;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

.best-rate-guar-form-input-element {
    background-color: transparent;
    width: 100%;
    padding: 0 10px 6px;
    padding: 0 0.625rem 0.375rem;
    font-family: Calibri;
    font-size: 20px;
    font-size: 1.25rem;
    color: #000000;
    outline: none;
    border: none;
    border-bottom: solid 1.7px #dee2e5;
}

.best-rate-guar-form-date-con {
    position: relative;
}

.best-rate-guar-form-date-con img {
    position: absolute;
    right: 10px;
    right: 0.625rem;
    width: 20px;
    width: 1.25rem;
}

.datepicker-dropdown {
    padding: 0 !important;
    border: none !important;
}

.datepicker {
    padding: 0;
}

.datepicker-inline {
    width: auto;
}

.datepicker-days {
    border: solid 0.5px #e0dfdf;
}

.table-condensed {
    margin: 0 19px 19px;
    margin: 0 1.21875rem 19px;
    font-size: 10px;
    font-size: 0.625rem;
    font-family: Calibri;
}

.table-condensed td {
    height: 26.5px;
    border: solid 0.5px #e0dfdf;
    border-radius: 0;
}

.table-condensed tr:nth-child(2) th {
    height: 35px;
    font-size: 14px;
    font-size: 0.875rem;
}

.table-condensed tr:last-child th {
    height: 26.5px;
    border: solid 0.5px #e0dfdf;
    color: rgba(52, 72, 94, 0.54);
}

input:focus {
    outline: none !important;
}

.best-rate-guar-form-text-area {
    width: 100%;
    height: 112px;
    height: 7rem;
}

.best-rate-guar-form-format {
    font-size: 13px;
    font-size: 0.8125rem;
    margin-top: 22px;
    margin-top: 1.375rem;
}

@media only screen and (max-width: 990px) {
    .best-rate-guar-form-format {
        margin-top: 0.375rem;
    }
}

.best-rate-guar-invalid {
    border-bottom-color: var(--primaryColor);
}

.mr-sub-form .sub-form-input-element.upload-screenshot {
    padding: 0;
    border: none;
}

.best-rate-guar-form-section.mr-sub-form [class*="col-"].sub-form-input-wrp {
    padding-right: 48px;
    padding-right: 3rem;
}

@media only screen and (max-width: 767px) {
    .best-rate-guar-form-section.mr-sub-form [class*="col-"].sub-form-input-wrp {
        padding: 0;
    }
}

@media only screen and (min-width: 992px) {
    .best-rate-guar-form-section.mr-sub-form [class*="col-"].sub-form-input-wrp:nth-child(3n) {
        padding: 0;
    }
}

@media only screen and (max-width: 991px) {
    .best-rate-guar-form-section.mr-sub-form [class*="col-"].sub-form-input-wrp:nth-child(2n) {
        padding: 0;
    }
}

.best-rate-guar-form-section.mr-sub-form {
    padding: 0 32px;
    padding: 0 2rem;
}

@media only screen and (max-width: 767px) {
    .best-rate-guar-form-section.mr-sub-form {
        padding: 0;
    }
}

.additional-info-wrp {
    padding: 0!important;
}

.best-rate-form-footer {
    padding: 32px;
    padding: 2rem;
}

@media only screen and (max-width: 767px) {
    .best-rate-form-footer {
        padding: 0;
    }
}

.best-rate-guar-form-input-wrap .mr-filter-checkbox + span.mr-inputCustomShape {
    left: 0!important;
}

.best-rate-form-footer .mr-filterCheckBox-label {
    padding-left: 32px;
    padding-left: 2rem;
    margin-right: 0;
}

.mr-sub-form .file-upload .sub-form-input-label {
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
}

.jiva-spa-hotel-input {
    position: relative;
}

.jiva-spa-hotel-input input {
    border-bottom: 1px solid #dee2e5;
}

@media only screen and (max-width: 374px) {
    .jiva-spa-hotel-input input {
        padding-right: 23px;
    }
}

.jiva-search-close {
    position: absolute;
    right: 5px;
    right: 0.3125rem;
    top: 20%;
    display: none;
    height: 15px;
    height: 0.9375rem;
    width: 15px;
    width: 0.9375rem;
    cursor: pointer;
}

.jiva-spa-search-list {
    position: absolute;
    left: 0;
    width: 101%;
    background: #fff;
    z-index: 10;
    list-style-type: none;
    color: #323232;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    box-shadow: 0 7px 14px 0 #9b9b9b;
    display: none;
    padding: 0;
}

.jiva-spa-search-list li {
    height: 49px;
    height: 3.0625rem;
    line-height: 49px;
    line-height: 3.0625rem;
}

.jiva-spa-search-list li label {
    margin: 0 12px;
    margin: 0 0.75rem;
    width: 94%;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jiva-spa-search-list li:last-child label {
    border-bottom: none;
}

.jiva-spa-search-list li:hover,
.jiva-spa-search-list li:active {
    background: var(--primaryColorLighter);
}
.best-rate-guar-form-checkbox {
	margin-bottom: 50px;
}

.best-rate-guar-submit-btn{
	margin-top: 25px;
}

.best-rate-guar-form-input-wrap  .jiva-spa-date-con img{
	top: 10px;
}
	
	