<sly data-sly-test="${wcmmode.edit}">AMA Destinations Cards</sly>

<sly data-sly-use.imagetemplate="tajhotels/components/content/image-template/image-template.html"> <sly
    data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.hotels.destinations-cards'}"></sly>


<section class="${properties.backgroundColor} ama-destination-page">
    <div class="container">
        <div class="destinations-title-container">
            <sly data-sly-test=${properties.title}>
            <h1 data-sly-element="${properties.type}" class="destinations-cards-title text-title">${properties.title}</h1>
            </sly>
        </div>
        <sly data-sly-list.list=${resource.children}>
        <div class="row">
            <sly data-sly-list.listItems=${list.children}>
            <div class="col-md-3">
                <div class="ama-destinations-cards">
                    <div class="ama-destinations-cards-single">
                        <sly data-sly-test=${listItems.image}>
                        <div class="card-image ">
                            <!--<img src="${listItems.image}" />-->
                            <sly
                                data-sly-call="${imagetemplate.damImageTemplate @ imagePath=listItems.image,renditionPathSuffix='/jcr:content/renditions/cq5dam.web.756.756.jpeg'}"></sly>

                        </div>
                        </sly>
                        <div class="ama-second">
                            <sly data-sly-test=${listItems.buttonTitle}>
                            <div class="card-logo-title">${listItems.buttonTitle}</div>
                            </sly>
                            <sly data-sly-test=${listItems.description}>
                            <div class="card-desc">${listItems.description @ context="html"}</div>
                            </sly>
                            <sly data-sly-test=${listItems.buttonLabel}>
                            <div class="card-btn">
                                <a href="${listItems.buttonUrl}">
                                    <div class="cm-btn-secondary">
                                        <buttion class="">${listItems.buttonLabel}</buttion>
                                    </div>
                                </a>
                            </div>
                            </sly>
                        </div>
                    </div>
                </div>
            </div>
            </sly>
        </div>
        </sly>
        <div class="viewall-container col-md-12">
            <sly data-sly-test=${properties.viewAll}>
            <div class="viewall-btn">
                <a href="${properties.viewAllUrl}"> <buttion>${properties.viewAll}</buttion>
                </a>
            </div>
            </sly>
        </div>
    </div>
</section>