<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.all @ categories='tajhotels.cancel-reservation-confirmation'}" />
<sly
	data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
	data-sly-call="${clientlib.css @ categories='taj.hotels.components.bookHotelConfirmation'}" />

<!-- importing googleapi -->
<!--<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxOlZfmpxJlz1oo5mHiXGVW43gfhprEnk&libraries=places"></script>-->


<div class="cancel-confirmation-con"><a class="explore-more" href="#"> <button class="cm-btn-secondary explore-more-btn">BOOK AGAIN</button></a><a class="book-again" href="#"><button class="cm-btn-primary book-again-btn">EXPLORE</button></a>
    <div class="cancel-confirmation-header">
        <div class="expan-img"><img src="/content/dam/tajhotels/icons/style-icons/expan-icon.svg" alt = "expan-icon"/></div>
        <div class="img-con"><img class="cancel-img" src="/content/dam/tajhotels/icons/style-icons/tick.svg" alt = "tick-icon"/></div>
        <div class="cancel-message-section">
            <div class="cancel-message">Your booking was <span class="cancel-info-highlighted">successfully cancelled!</span></div>
            <div class="cancel-message-mobile">Booking Cancelled !</div>
            <div class="cancel-download-options">
                <div class="download-options-email"><img class="download-options-icon" src="/content/dam/tajhotels/icons/style-icons/envelope.svg" alt = "envelope-icon"/><span>Email</span></div>
                <div class="download-options-print"><img class="download-options-icon" src="/content/dam/tajhotels/icons/style-icons/print.svg" alt = "print-icon" /><span>Print</span></div>
            </div>
        </div>
    </div>
    <div class="cancellation-summary-section clearfix">
        <div class="cancellation-details">
            <div class="cancellation-details-point">
                <div class="cancellation-details-img"><img src="/content/dam/tajhotels/icons/style-icons/cancellation-tick.svg" alt = "tick-icon"/></div>
                <div class="cancellation-details-desc">We’ll send you an email confirming your cancellation to <span id="sp-guest-mail"></span></div>
            </div>
            <div class="cancellation-details-point">
                <div class="cancellation-details-img"><img src="/content/dam/tajhotels/icons/style-icons/cancellation-tick.svg" alt = "tick-icon"/></div>
                <div class="cancellation-details-desc">You may have already been charged for all or part of your stay by <span id="sp-hotel-name"></span>. Refunds tpically take 10-15 business days, though you can also contact the property on <span id="sp-hotel-phone"> </span> for more information</div>
            </div>
        </div>
        <div class="summary-section">
            <h2 class="summary-charges-heading">Cancellation Summary</h2>
            <div class="summary-charge-details">
                <div class="summary-charge-detail-each">
                    <div class="summary-charge-name">Total Charges</div>
                    <div class="summary-charge-value"><span class="rupee-symbol"></span><span  id="total-charges"></span></div>
                </div>
                <div class="summary-charge-detail-each">
                    <div class="summary-charge-name">Total Cancellation Charges</div>
                    <div class="summary-charge-value"><span class="rupee-symbol"></span><span  id="total-cancellation-charges"></span></div>
                </div>
                <div class="summary-charge-detail-each">
                    <div class="summary-charge-name">Total Taxes and Fees</div>
                    <div class="summary-charge-value"><span class="rupee-symbol"></span><span  id="total-taxes"></span></div>
                </div>
                <div class="summary-charge-detail-each summary-charge-total">
                    <div class="summary-charge-name">Total Refund</div>
                    <div class="summary-charge-value"><span class="rupee-symbol"></span><span id="total-refund"></span><span class="refund-amount-highlight">*</span></div>
                </div>
                <div class="summary-charges-disclaimer">* Tax disclaimer:</div>
            </div>
        </div>
    </div>
    <div class="cancel-booking-guest-details-main-section">
        <div class="guest-details-section">
            <div class="guest-details-heading">Guest Detail<img class="guest-details-expansion" src="/content/dam/tajhotels/icons/style-icons/drop-down-arrow.svg" alt = "dropdown- arrow-icon"/></div>
            <div class="guest-detail-value" id="name"></div>
            <div class="guest-detail-value" id="mail"></div>
            <div class="guest-detail-value guest-detail-value-mob" id="phoneNo"></div>
            <div class="guest-detail-value guest-detail-value-mob" id="membershipNumber"><span class="guest-member">(Membership No.)</span></div>
        </div>
        <div class="hotel-details-section">
            <div class="hotel-details-heading" id="hotelHeading"></div>
            <div class="hotel-details-value"><a class="ho-contact-number hide-in-lg inline-block" href="tel:022-28765643"><img class="ho-cm-icon ho-contact-icon inline-block" src="/content/dam/taj-icons/phone-enabled.svg" alt = "phone-enabled-icon"/><div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt"></div></a>
                <a
                    class="ho-contact-number hide-in-sm hide-in-md inline-block disabled"><img class="ho-cm-icon ho-contact-icon inline-block" src="/content/dam/tajhotels/icons/style-icons/phone-disabled.svg" alt = "phone-disabled-icon"/>
                    <div class="inline-block ho-mail-to-txt" id="hotelPhoneNumber"></div>
                    </a>
            </div>
            <div class="hotel-details-value"><a class="ho-mail-to inline-block" href="mailto:tajlandsend@taj.com"><img class="ho-mail-to-icon ho-cm-icon inline-block" src="/content/dam/tajhotels/icons/style-icons/envelope.svg" alt = "envelope-icon"/><div class="inline-block ho-mail-to-txt cm-view-link-txt ho-cm-link-txt" id="hotelMailId"></div></a></div>
            <div
                class="hotel-details-hotel-location ho-map-link"><a class="inline-block ho-hotel-location-link" target="_blank"><img class="ho-location-icon ho-cm-icon inline-block conf-loc-img" src="/content/dam/taj-icons/location-icon-brown.svg" alt = "location-icon-brown"/><span class="inline-block ho-location-address cm-view-link-txt ho-cm-link-txt conf-loc-text hotel-location-styling"></span></a></div>
        <div
            class="check-in-check-out-details">
            <div class="check-in-details">
                <div class="check-in-name">Check in (12pm):</div>
                <div class="check-in-value" id="check-in-date"></div>
            </div>
            <div class="check-out-details">
                <div class="check-out-name">Check out (12pm):</div>
                <div class="check-out-value" id="check-out-date"></div>
            </div>
            <input type="hidden" name="varname" id="redirectUrl" value=${properties.url} aria-hidden = "true"/>
    </div>

</div>
</div>

<div class="cancel-confirmation-rooms-section">
    <div class="cancel-confirmation-rooms-heading">Room Details    
	<div class="jsonData-rooms"></div>
	</div>
</div>
</div>