.cancel-confirmation-con {
    background: #fff;
    position: relative;
}

@media only screen and (max-width: 991px) {
    .cancel-confirmation-con {
        background: transparent;
        padding: 0 0.8125rem 0 0.9375rem;
    }
}

.cancel-confirmation-con .explore-more {
    position: absolute;
    right: 30px;
    right: 1.875rem;
    width: 191px;
    width: 11.9375rem;
    top: 20px;
    top: 1.25rem;
    line-height: 35px;
    line-height: 2.1875rem;
}

@media only screen and (max-width: 991px) {
    .cancel-confirmation-con .explore-more {
        line-height: 2.8125rem;
    }
}

@media only screen and (max-width: 991px) {
    .cancel-confirmation-con .explore-more {
        display: none;
    }
}

.cancel-confirmation-con .explore-more .explore-more-btn {
    width: 100%;
}

.cancel-confirmation-con .book-again {
    position: absolute;
    right: 211px;
    right: 13.1875rem;
    margin-right: 20px;
    margin-right: 1.25rem;
    width: 191px;
    width: 11.9375rem;
    top: 20px;
    top: 1.25rem;
    line-height: 35px;
    line-height: 2.1875rem;
}

@media only screen and (max-width: 991px) {
    .cancel-confirmation-con .book-again {
        line-height: 2.8125rem;
    }
}

@media only screen and (max-width: 991px) {
    .cancel-confirmation-con .book-again {
        display: none;
    }
}

.cancel-confirmation-con .book-again .book-again-btn {
    width: 100%;
}

.cancel-confirmation-con .cancel-booking-guest-details-main-section {
    padding: 0;
    padding-bottom: 20px;
    padding-bottom: 1.25rem;
    margin: 23px 52px 0 49px;
    margin: 1.4375rem 3.25rem 0 3.0625rem;
    border-bottom: 1px dashed #e5e3e3;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-con .cancel-booking-guest-details-main-section {
        margin: 0;
    }
}

.cancel-confirmation-con .cancellation-summary-section {
    padding: 0 0 29px 0;
    padding: 0 0 1.8125rem 0;
    border-bottom: 1px dashed #e5e3e3;
    margin: 0 53px 0 48px;
    margin: 0 3.3125rem 0 3rem;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-con .cancellation-summary-section {
        padding: 0;
        margin: 0;
        margin-bottom: 0.9375rem;
    }
}

.cancel-confirmation-con .cancellation-summary-section .summary-section {
    float: left;
    margin-right: 73px;
    margin-right: 4.5625rem;
    vertical-align: top;
    width: calc(100% - 41rem);
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-con .cancellation-summary-section .summary-section {
        float: unset;
        width: 100%;
        background: #fff;
        padding: 0.875rem 1.075rem 1.875rem 1.03125rem;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cancel-confirmation-con .cancellation-summary-section .summary-section {
        width: 100%;
    }
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charges-heading {
    font-family: Calibri-Bold;
    font-size: 30px;
    font-size: 1.875rem;
    color: #4a4a4a;
    letter-spacing: 0.7;
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charge-details {
    line-height: 2;
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charge-detail-each {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charge-detail-each .summary-charge-name {
    display: inline-block;
    width: 70%;
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charge-detail-each .summary-charge-name .summary-room-detail {
    color: #9b9b9b;
    margin-left: 3px;
    margin-left: 0.1875rem;
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charge-detail-each .summary-charge-value {
    display: inline-block;
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charge-detail-each .summary-charge-value .rupee-symbol {
    font-family: RupeeForadian;
    margin-right: 3px;
    margin-right: 0.1875rem;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charge-detail-each .summary-charge-value {
        vertical-align: top;
    }
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charge-total .summary-charge-value {
    font-family: Calibri-Bold;
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charge-total .rupee-symbol {
    font-weight: bold;
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charge-detail-coupon .summary-charge-value {
    position: relative;
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charge-detail-coupon .summary-charge-value .coupon-reduction {
    position: absolute;
    left: -10px;
    left: -0.625rem;
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .cancel-booking-coupon {
    border: dashed 1px var(--primaryColor);
    height: 35px;
    height: 2.1875rem;
    line-height: 35px;
    width: 88px;
    width: 5.5rem;
    margin-left: 9px;
    margin-left: 0.5625rem;
    padding-left: 5px;
    padding-left: 0.3125rem;
    font-size: 18px;
    font-size: 1.125rem;
    color: var(--primaryColor);
    font-family: Calibri;
    background: #fbf9f7;
    background: #fff;
    pointer-events: none;
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .cancel-booking-coupon:focus {
    outline: none;
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .cancel-booking-coupon::-webkit-input-placeholder {
    color: var(--primaryColor);
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .cancel-booking-coupon::-moz-placeholder {
    color: var(--primaryColor);
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .cancel-booking-coupon:-ms-input-placeholder {
    color: var(--primaryColor);
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .cancel-booking-coupon::placeholder {
    color: var(--primaryColor);
}

.cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charges-disclaimer {
    font-family: Calibri;
    font-size: 14px;
    font-size: 0.875rem;
    color: #9b9b9b;
    font-style: italic;
    margin-top: 22px;
    margin-top: 1.375rem;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-con .cancellation-summary-section .summary-section .summary-charges-disclaimer {
        display: none;
    }
}

.cancel-confirmation-con .cancellation-summary-section .cancellation-details {
    float: right;
    background: #efefef;
    height: 215px;
    height: 13.4375rem;
    width: 572px;
    width: 35.75rem;
    padding: 31px 36px 23px 24px;
    padding: 1.9375rem 2.25rem 1.4375rem 1.5rem;
}

.cancel-confirmation-con .cancellation-summary-section .cancellation-details .cancellation-details-desc {
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    display: inline-block;
    width: calc(100% - 2.3rem);
}

.cancel-confirmation-con .cancellation-summary-section .cancellation-details .cancellation-details-img {
    display: inline-block;
    width: 22px;
    width: 1.375rem;
    margin-right: 10px;
    margin-right: 0.625rem;
    vertical-align: top;
}

.cancel-confirmation-con .cancellation-summary-section .cancellation-details .cancellation-details-point:first-child {
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

@media only screen and (max-width: 991px) {
    .cancel-confirmation-con .cancellation-summary-section .cancellation-details {
        float: unset;
        width: 100%;
        margin: 0.625rem 0 0.9375rem 0;
        font-size: 1rem;
        height: auto;
        padding: 1rem 0.625rem;
    }
}

.cancel-confirmation-header {
    position: relative;
    padding: 23px 54px 29px 48px;
    padding: 1.4375rem 3.375rem 1.8125rem 3rem;
}

.cancel-confirmation-header .expan-img {
    display: none;
    position: absolute;
    right: 0;
    top: 12px;
    top: 0.75rem;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-header .expan-img {
        display: block;
    }
}

.cancel-confirmation-header .img-con {
    display: inline-block;
    height: 75px;
    height: 4.6875rem;
    width: 75px;
    width: 4.6875rem;
    vertical-align: middle;
    margin-right: 29px;
    margin-right: 1.8125rem;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-header .img-con {
        margin-right: 0.9375rem;
        height: 3.75rem;
        width: 3.75rem;
    }
}

@media only screen and (max-width: 374px) {
    .cancel-confirmation-header .img-con {
        margin-right: 0;
    }
}

.cancel-confirmation-header .img-con .cancel-img {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-header {
        padding: 0;
    }
}

.cancel-message-section {
    display: inline-block;
    vertical-align: middle;
}

.cancel-message-section .cancel-message {
    font-size: 30px;
    font-size: 1.875rem;
    color: var(--primaryColor);
    font-family: Calibri;
}

@media only screen and (max-width: 767px) {
    .cancel-message-section .cancel-message {
        display: none;
    }
}

.cancel-message-section .cancel-info-highlighted {
    font-family: Calibri-Bold;
}

.cancel-message-section .cancel-message-mobile {
    display: none;
    font-family: Calibri-Bold;
    font-size: 24px;
    font-size: 1.5rem;
    color: var(--primaryColor);
}

@media only screen and (max-width: 767px) {
    .cancel-message-section .cancel-message-mobile {
        display: block;
    }
}

.cancel-download-options {
    color: #4a4a4a;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: Calibri;
}

.cancel-download-options .download-options-email {
    display: inline-block;
    margin-right: 43px;
    margin-right: 2.6875rem;
}

@media only screen and (max-width: 767px) {
    .cancel-download-options .download-options-email {
        display: block;
        height: 2.6875rem;
        line-height: 2.6875rem;
        font-size: 0.875rem;
        color: #9b9b9b;
        border-bottom: 1px solid #e6e6e6;
        margin-right: 0;
        padding: 0 0.3125rem;
    }
}

.cancel-download-options .download-options-print {
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .cancel-download-options .download-options-print {
        display: block;
        height: 2.6875rem;
        line-height: 2.6875rem;
        font-size: 0.875rem;
        color: #9b9b9b;
        border-bottom: 1px solid #e6e6e6;
        padding: 0 0.3125rem;
    }
}

.cancel-download-options .download-options-icon {
    margin-right: 9px;
    margin-right: 0.5625rem;
}

@media only screen and (max-width: 767px) {
    .cancel-download-options {
        position: absolute;
        background: #fff;
        right: 0;
        top: 3.0625rem;
        width: 9.5rem;
        display: none;
    }
}

.cancel-confirmation-rooms-section {
    padding: 24px 52px 29px 52px;
    padding: 1.5rem 3.25rem 1.8125rem 3.25rem;
}

.cancel-confirmation-rooms-section .cancel-confirmation-rooms-heading {
    font-family: Calibri-Bold;
    font-size: 24px;
    font-size: 1.5rem;
    color: #4a4a4a;
}

.cancel-confirmation-rooms-section .confirmation-selected-rooms-card {
    width: 100%;
}

@media only screen and (max-width: 415px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .confirmation-room-details .room-details .room-details-margin {
        padding-right: 0.25rem;
    }
}

@media only screen and (max-width: 415px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .confirmation-room-details .room-details .bed-spec {
        margin: 0 0.25rem;
    }
}

@media only screen and (max-width: 374px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .confirmation-room-details .room-details .bed-spec-img {
        width: 1.125rem;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .heading-con .heading {
        margin-top: 1.25rem;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .heading-con .cancel-ind-arrow {
        display: block;
    }
}

.cancel-confirmation-rooms-section .confirmation-selected-rooms-card .heading-con .cancel-ind-reverted {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cancel-confirmation-rooms-section .confirmation-selected-rooms-card .confirmation-cancel {
    display: none;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content {
        display: block;
    }
}

.cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .cart-selected-info-wrp {
    display: none;
}

.cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities {
        display: none;
    }
}

.cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-title,
.cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-description {
    width: 30%;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-title,
  .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-description {
        width: 100%;
    }
}

.cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-available-wrp {
    float: right;
    margin-top: -80px;
    margin-top: -5rem;
    width: 70%;
    line-height: 1;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-available-wrp {
        display: block;
        margin-top: 0.9375rem;
        width: 100%;
        float: unset;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-available-wrp {
        display: block !important;
        margin-top: -2.5rem;
    }
}

.cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .amenities-avail-list {
    text-align: left !important;
    width: 30%;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .amenities-avail-list {
        width: 49%;
    }
}

@media only screen and (max-width: 374px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .amenities-avail-list {
        width: 48%;
    }
}

.cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .amenities-avail-list .amenities-list-label {
    width: 85%;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .amenities-avail-list .amenities-list-label {
        width: 75%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .amenities-avail-list .amenities-list-label {
        width: 80%;
    }
}

.cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities .cart-amenities-img {
    display: none !important;
}

.cancel-confirmation-rooms-section .confirmation-selected-rooms-card .cart-selected-rooms-content .confirmation-selected-rooms-amenities::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 767px) {
    .cancel-confirmation-rooms-section {
        padding: 1.5rem 0;
    }
}
