.cancel-booking-con {
    width: 100%;
    background: #fff;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-con {
        background: transparent;
    }
}

.cancel-booking-header {
    padding: 29px 45px 29px 48px;
    padding: 1.8125rem 2.8125rem 1.8125rem 3rem;
    font-family: Calibri-Bold;
    font-size: 20px;
    font-size: 1.25rem;
    color: #4a4a4a;
    border-bottom: 1px dashed #979797;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-header {
        padding: 0;
        border: none;
        margin-bottom: 0.625rem;
    }
}

.cancel-booking-heading {
    font-size: 34px;
    font-size: 2.125rem;
    font-family: Calibri-Bold;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-heading {
        font-size: 1.5rem;
    }
}

.cancel-booking-details {
    font-family: Calibri;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-details {
        font-size: 1rem;
        line-height: 1.25;
    }
}

.cancel-booking-guest-details-main-section {
    padding: 23px 0 20px 49px;
    padding: 1.4375rem 0 1.25rem 3.0625rem;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section {
        padding: 0;
    }
}

.cancel-booking-guest-details-main-section .guest-details-section {
    display: inline-block;
    color: #4a4a4a;
    width: 30%;
    border-right: 1px solid #e5e3e3;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .guest-details-section {
        display: block;
        width: 100%;
        padding: 0.8125rem 1.0625rem 1.1875rem 0.8125rem;
        background: #fff;
        border-bottom: 1px solid #e5e3e3;
        border-right: none;
    }
}

.cancel-booking-guest-details-main-section .guest-details-section .guest-details-heading {
    font-family: Calibri-Bold;
    font-size: 30px;
    font-size: 1.875rem;
    letter-spacing: 0.7px;
    line-height: 1;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .guest-details-section .guest-details-heading {
        font-size: 1.25rem;
        position: relative;
        margin-bottom: 0.3125rem;
    }
}

.cancel-booking-guest-details-main-section .guest-details-section .guest-details-heading .guest-details-expansion {
    position: absolute;
    right: 15px;
    display: none;
    top: 10px;
    top: 0.625rem;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .guest-details-section .guest-details-heading .guest-details-expansion {
        display: block;
    }
}

.cancel-booking-guest-details-main-section .guest-details-section .guest-details-heading .guest-details-expansion-inverted {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cancel-booking-guest-details-main-section .guest-details-section .guest-detail-value {
    font-size: 16px;
    font-size: 1rem;
    font-family: Calibri;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .guest-details-section .guest-detail-value {
        display: inline-block;
        width: 49%;
        margin-bottom: 0.625rem;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .guest-details-section .guest-detail-value-mob {
        display: none;
    }
}

.cancel-booking-guest-details-main-section .guest-details-section .guest-member {
    color: #9b9b9b;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .guest-details-section .guest-member {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .guest-details-section .guest-detail-value:last-child {
        vertical-align: middle;
        line-height: 1;
    }
}

.cancel-booking-guest-details-main-section .hotel-details-section {
    display: inline-block;
    color: #4a4a4a;
    width: 68%;
    padding-left: 45px;
    padding-left: 2.8125rem;
    vertical-align: top;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .hotel-details-section {
        display: block;
        width: 100%;
        padding: 0;
        padding: 0.8125rem 1.0625rem 1.1875rem 0.8125rem;
        background: #fff;
    }
}

.cancel-booking-guest-details-main-section .hotel-details-section .hotel-details-heading {
    font-family: Calibri-Bold;
    font-size: 30px;
    font-size: 1.875rem;
    letter-spacing: 0.7px;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .hotel-details-section .hotel-details-heading {
        font-size: 1.25rem;
    }
}

.cancel-booking-guest-details-main-section .hotel-details-section .hotel-details-value {
    display: inline-block;
    width: 25%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cancel-booking-guest-details-main-section .hotel-details-section .hotel-details-value {
        width: 30%;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .hotel-details-section .hotel-details-value {
        display: none;
    }
}

.cancel-booking-guest-details-main-section .hotel-details-section .hotel-details-hotel-location {
    width: 45%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cancel-booking-guest-details-main-section .hotel-details-section .hotel-details-hotel-location {
        width: 60%;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .hotel-details-section .hotel-details-hotel-location {
        display: none;
    }
}

.cancel-booking-guest-details-main-section .hotel-details-section .hotel-details-hotel-location .hotel-location-styling {
    text-decoration: underline;
    border: none;
    vertical-align: text-top;
    width: 90%;
}

.cancel-booking-guest-details-main-section .hotel-details-section .hotel-details-value:first-child {
    border-right: 1px solid #9b9b9b;
}

.cancel-booking-guest-details-main-section .check-in-check-out-details {
    color: #4a4a4a;
    font-size: 14px;
    font-size: 0.875rem;
    font-family: Calibri;
    margin-top: 12px;
    margin-top: 0.75rem;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .check-in-check-out-details {
        min-height: 1.8rem;
    }
}

.cancel-booking-guest-details-main-section .check-in-check-out-details .check-in-details {
    display: inline-block;
    border-right: 1px solid #9b9b9b;
    margin-right: 5px;
    margin-right: 0.3125rem;
    padding-right: 5px;
    padding-right: 0.3125rem;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .check-in-check-out-details .check-in-details {
        border: none;
        line-height: 1;
    }
}

@media only screen and (max-width: 374px) {
    .cancel-booking-guest-details-main-section .check-in-check-out-details .check-in-details {
        margin-right: 0;
    }
}

.cancel-booking-guest-details-main-section .check-in-check-out-details .check-in-details .check-in-value {
    font-family: Calibri-Bold;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .check-in-check-out-details .check-in-details .check-in-value {
        display: block;
    }
}

.cancel-booking-guest-details-main-section .check-in-check-out-details .check-in-details .check-in-name {
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .check-in-check-out-details .check-in-details .check-in-name {
        display: block;
        font-size: 1rem;
    }
}

.cancel-booking-guest-details-main-section .check-in-check-out-details .check-out-details {
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .check-in-check-out-details .check-out-details {
        line-height: 1;
    }
}

.cancel-booking-guest-details-main-section .check-in-check-out-details .check-out-details .check-out-value {
    font-family: Calibri-Bold;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .check-in-check-out-details .check-out-details .check-out-value {
        display: block;
    }
}

.cancel-booking-guest-details-main-section .check-in-check-out-details .check-out-details .check-out-name {
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-guest-details-main-section .check-in-check-out-details .check-out-details .check-out-name {
        display: block;
        font-size: 1rem;
    }
}

.cancel-selected-rooms-section {
    padding: 0 55px 0 49px;
    padding: 0 3.4375rem 0 3.0625rem;
}

@media only screen and (max-width: 767px) {
    .cancel-selected-rooms-section {
        padding: 0;
        margin-top: 0.3125rem;
    }
}

.cancel-selected-rooms-section .confirmation-cancel,
.cancel-selected-rooms-section .cancel-indication {
    display: none;
}

.cancel-selected-rooms-section .cancel-selected-rooms-heading {
    color: var(--primaryColor);
    letter-spacing: 0.7px;
    font-family: Calibri-Bold;
    font-size: 30px;
    font-size: 1.875rem;
}

@media only screen and (max-width: 767px) {
    .cancel-selected-rooms-section .cancel-selected-rooms-heading {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }
}

.cancel-selected-rooms-section .cancel-selected-room-checkbox {
    display: inline-block;
    vertical-align: top;
}

.cancel-selected-rooms-section .confirmation-selected-rooms-card {
    display: inline-block;
    width: 96%;
}

.cancel-selected-rooms-section .confirmation-selected-rooms-card .confirmation-selected-rooms-amenities {
    padding-right: 25px !important;
    padding-right: 1.5625rem !important;
}

@media only screen and (max-width: 374px) {
    .cancel-selected-rooms-section .confirmation-selected-rooms-card .confirmation-selected-rooms-amenities .amenities-avail-list {
        width: 47%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cancel-selected-rooms-section .confirmation-selected-rooms-card {
        width: 95%;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-selected-rooms-section .confirmation-selected-rooms-card {
        width: 91%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cancel-selected-rooms-section .cart-selected-info-wrp {
        border-left: 1px solid #e5e3e3 !important;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-selected-rooms-section .confirmation-room-price {
        position: relative;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-selected-rooms-section .confirmation-room-price::after {
        content: "";
        clear: both;
        display: table;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-selected-rooms-section .confirmation-room-price .confirmation-banner {
        float: right;
    }

    .cancel-selected-rooms-section .confirmation-room-price .confirmation-banner .best-deal-desc {
        text-align: left;
    }

    .cancel-selected-rooms-section .confirmation-room-price .confirmation-banner .best-deal-banner {
        max-width: unset;
        right: 4.75rem;
    }

    .cancel-selected-rooms-section .confirmation-room-price .confirmation-price-con {
        position: absolute;
        left: 0;
    }

    .cancel-selected-rooms-section .confirmation-room-price .total-price-deal-section {
        margin-right: 0;
    }

    .cancel-selected-rooms-section .confirmation-room-price .best-deal-price {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 415px) {
    .cancel-selected-rooms-section .confirmation-room-price .confirmation-banner .best-deal-banner {
        right: 0.75rem;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-selected-rooms-section .confirmation-room-details .room-details .bed-spec {
        margin-right: 0.3125rem;
    }

    .cancel-selected-rooms-section .confirmation-room-details .room-details .bed-spec-img {
        margin-right: 0.1875rem;
    }
}

@media only screen and (max-width: 415px) {
    .cancel-selected-rooms-section .confirmation-room-details .room-details .room-details-margin {
        padding-right: 0.25rem;
    }

    .cancel-selected-rooms-section .confirmation-room-details .room-details .bed-spec {
        margin-left: 0.25rem;
    }

    .cancel-selected-rooms-section .confirmation-room-details .room-details .bed-spec-img {
        width: 0.9375rem;
    }
}

.cancel-booking-summary-charges-section {
    padding: 22px 48px 0 49px;
    padding: 1.375rem 3rem 0 3.0625rem;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-summary-charges-section {
        padding: 0.875rem 1.0625rem 1.875rem 1rem;
        background: #fff;
        margin-top: 0.625rem;
    }
}

.cancel-booking-summary-charges-section .summary-charges-con {
    border-bottom: 1px solid #e5e3e3;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-summary-charges-section .summary-charges-con {
        border: none;
    }
}

.cancel-booking-summary-charges-section .summary-charges-heading {
    font-family: Calibri-Bold;
    font-size: 30px;
    font-size: 1.875rem;
    color: #4a4a4a;
}

.cancel-booking-summary-charges-section .summary-charge-detail {
    line-height: 2;
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-name {
    display: inline-block;
    width: 35%;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
}

@media only screen and (min-width: 416px) and (max-width: 767px) {
    .cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-name {
        width: 82%;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 415px) {
    .cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-name {
        width: 76%;
        font-size: 0.875rem;
    }
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-value {
    display: inline-block;
    font-family: Calibri;
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-value .rupee-symbol {
    font-family: RupeeForadian;
    font-size: 16px;
    font-size: 1rem;
    margin-right: 3px;
    margin-right: 0.1875rem;
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-refund {
    margin-bottom: 25px;
    margin-bottom: 1.5625rem;
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-refund .summary-charge-value {
    font-family: Calibri-Bold;
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-refund .summary-charge-value .rupee-symbol {
    font-weight: bold;
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-refund .summary-charge-value .refund-amount-highlight {
    vertical-align: text;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-refund {
        margin: 0;
    }
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-coupon .summary-charge-value {
    color: var(--primaryColor);
    position: relative;
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-coupon .summary-charge-value .coupon-reduction {
    position: absolute;
    left: -5px;
    left: -0.3125rem;
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-coupon .cancel-booking-coupon {
    border: dashed 1px var(--primaryColor);
    height: 35px;
    height: 2.1875rem;
    line-height: 35px;
    width: 88px;
    width: 5.5rem;
    margin-left: 9px;
    margin-left: 0.5625rem;
    padding-left: 5px;
    padding-left: 0.3125rem;
    font-size: 18px;
    font-size: 1.125rem;
    color: var(--primaryColor);
    font-family: Calibri;
    background: #fbf9f7;
    background: #fff;
    pointer-events: none;
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-coupon .cancel-booking-coupon:focus {
    outline: none;
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-coupon .cancel-booking-coupon::-webkit-input-placeholder {
    color: var(--primaryColor);
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-coupon .cancel-booking-coupon::-moz-placeholder {
    color: var(--primaryColor);
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-coupon .cancel-booking-coupon:-ms-input-placeholder {
    color: var(--primaryColor);
}

.cancel-booking-summary-charges-section .summary-charge-detail .summary-charge-detail-coupon .cancel-booking-coupon::placeholder {
    color: var(--primaryColor);
}

.cancel-booking-navigation-btn-section {
    padding: 20px 48px 29px 43px;
    padding: 1.25rem 3rem 1.8125rem 2.6875rem;
}

@media only screen and (max-width: 767px) {
    .cancel-booking-navigation-btn-section {
        padding-left: 0;
        padding-right: 0;
    }
}

.cancel-booking-navigation-btn-section .cancel-cancellation {
    float: right;
    width: 191px;
    width: 11.9375rem;
    margin-right: 10px;
    margin-right: 0.625rem;
}

.cancel-booking-navigation-btn-section .cancel-cancellation .cancel-btn {
    width: 100%;
    line-height: 2;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cancel-booking-navigation-btn-section .cancel-cancellation .cancel-btn {
        line-height: 2.8;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-booking-navigation-btn-section .cancel-cancellation .cancel-btn {
        line-height: 2.5;
    }
}

@media only screen and (min-width: 416px) and (max-width: 767px) {
    .cancel-booking-navigation-btn-section .cancel-cancellation {
        width: 11.25rem;
    }
}

@media only screen and (max-width: 415px) {
    .cancel-booking-navigation-btn-section .cancel-cancellation {
        width: 10rem;
    }
}

@media only screen and (max-width: 374px) {
    .cancel-booking-navigation-btn-section .cancel-cancellation {
        width: 8.75rem;
    }
}

.cancel-booking-navigation-btn-section .cancel-cancellation:hover {
    text-decoration: none;
}

.cancel-booking-navigation-btn-section .proceed-btn-con {
    float: right;
    width: 191px;
    width: 11.9375rem;
}

.cancel-booking-navigation-btn-section .proceed-btn-con .proceed-btn {
    width: 100%;
    line-height: 2;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cancel-booking-navigation-btn-section .proceed-btn-con .proceed-btn {
        line-height: 2.8;
    }
}

@media only screen and (max-width: 767px) {
    .cancel-booking-navigation-btn-section .proceed-btn-con .proceed-btn {
        line-height: 2.5;
    }
}

@media only screen and (min-width: 416px) and (max-width: 767px) {
    .cancel-booking-navigation-btn-section .proceed-btn-con {
        width: 11.25rem;
    }
}

@media only screen and (max-width: 415px) {
    .cancel-booking-navigation-btn-section .proceed-btn-con {
        width: 10rem;
    }
}

@media only screen and (max-width: 374px) {
    .cancel-booking-navigation-btn-section .proceed-btn-con {
        width: 8.75rem;
    }
}

.cancel-booking-navigation-btn-section .proceed-btn-con:hover {
    text-decoration: none;
}
