
<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='tajhotels.corporate-tabs'}"></sly>
<div>
    <div class="corporate-tabs rate-tab-container cm-content-blocks">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 rate-tab-wrap clearfix">
                <div class="rate-tab tab-selected" tabindex="0" role="button">
                    <p class="tab-label">${properties.subsidarySectionTitle}</p>
                </div>
                <div class="rate-tab" tabindex="0" role="button">
                    <p class="tab-label">${properties.associateSectionTitle}</p>
                </div>
                <div class="rate-tab" tabindex="0" role="button">
                    <p class="tab-label">${properties.jointVentureSectionTitle}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="cm-content-blocks">
    <div class="subsidiaries-container">
        <div class="cm-header-label-con title-decorator-border">
            <h2 class="label-width">${properties.domesticSubsidarySectionTitle}</h2>
        </div>
        <div>
            <div class="domestic-subsidiaries hotel-overview-section cm-content-blocks">
                <div class="subsidiaries-wrapper">
                    <div class="hotel-overview-wrapper">
                        <ul data-sly-use.model="com.ihcl.core.models.CorporateCompanyTab"
                            data-sly-list="${model.subsidaryDomesticCompanyList}">
                            <li>${item}</li>
                        </ul>
                    </div>
                    <div class="show-container">
                        <div class="show-more-button" style="display: none;" tabindex="0">
                            <div>SHOW MORE</div>
                        </div>
                        <div class="show-less-button" style="display: none;" tabindex="0">
                            <div>SHOW LESS</div>
                        </div>
                        <img class="arrow-style" src="../../../assets/images/drop-down-arrow.svg" alt="icon"
                            style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <div class="cm-header-label-con title-decorator-border">
            <h2 class="label-width">${properties.internationalSubsidarySectionTitle}</h2>
        </div>
        <div>
            <div class="domestic-subsidiaries hotel-overview-section cm-content-blocks">
                <div class="subsidiaries-wrapper">
                    <div class="hotel-overview-wrapper">
                        <ul data-sly-use.model="com.ihcl.core.models.CorporateCompanyTab"
                            data-sly-list="${model.internationalSubsidaryCompanyList}">
                            <li>${item}</li>

                        </ul>
                    </div>
                    <div class="show-container">
                        <div class="show-more-button" style="display: none;">
                            <div>SHOW MORE</div>
                        </div>
                        <div class="show-less-button" style="display: none;">
                            <div>SHOW LESS</div>
                        </div>
                        <img class="arrow-style" src="../../../assets/images/drop-down-arrow.svg" alt="icon"
                            style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cm-content-blocks">
    <div class="associates-wrapper">
        <div class="cm-header-label-con title-decorator-border">
            <h2 class="label-width">${properties.domesticAssociateSectionTitle}</h2>
        </div>
        <div>
            <div class="domestic-subsidiaries hotel-overview-section cm-content-blocks">
                <div class="subsidiaries-wrapper">
                    <div class="hotel-overview-wrapper">
                        <ul data-sly-use.model="com.ihcl.core.models.CorporateCompanyTab"
                            data-sly-list="${model.associateDomesticCompanyList}">
                            <li>${item}</li>

                        </ul>
                    </div>
                    <div class="show-container">
                        <div class="show-more-button" style="display: none;">
                            <div>SHOW MORE</div>
                        </div>
                        <div class="show-less-button" style="display: none;">
                            <div>SHOW LESS</div>
                        </div>
                        <img class="arrow-style" src="../../../assets/images/drop-down-arrow.svg" alt="icon"
                            style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <div class="cm-header-label-con title-decorator-border">
            <h2 class="label-width">${properties.internationalAssociateSectionTitle}</h2>
        </div>
        <div>
            <div class="domestic-subsidiaries hotel-overview-section cm-content-blocks">
                <div class="subsidiaries-wrapper">
                    <div class="hotel-overview-wrapper">
                        <ul data-sly-use.model="com.ihcl.core.models.CorporateCompanyTab"
                            data-sly-list="${model.internationalAssociateCompanyList}">
                            <li>${item}</li>

                        </ul>
                    </div>
                    <div class="show-container">
                        <div class="show-more-button" style="display: none;">
                            <div>SHOW MORE</div>
                        </div>
                        <div class="show-less-button" style="display: none;">
                            <div>SHOW LESS</div>
                        </div>
                        <img class="arrow-style" src="../../../assets/images/drop-down-arrow.svg" alt="icon"
                            style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cm-content-blocks">
    <div class="joint-venture-wrapper">
        <div class="cm-header-label-con title-decorator-border">
            <h2 class="label-width">${properties.domesticJointVentureSectionTitle}</h2>
        </div>
        <div>
            <div class="domestic-subsidiaries hotel-overview-section cm-content-blocks">
                <div class="subsidiaries-wrapper">
                    <div class="hotel-overview-wrapper">
                        <ul data-sly-use.model="com.ihcl.core.models.CorporateCompanyTab"
                            data-sly-list="${model.domesticJointVentureCompanyList}">
                            <li>${item}</li>

                        </ul>
                    </div>
                    <div class="show-container">
                        <div class="show-more-button" style="display: none;">
                            <div>SHOW MORE</div>
                        </div>
                        <div class="show-less-button" style="display: none;">
                            <div>SHOW LESS</div>
                        </div>
                        <img class="arrow-style" src="../../../assets/images/drop-down-arrow.svg" alt="icon"
                            style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <div class="cm-header-label-con title-decorator-border">
            <h2 class="label-width">${properties.internationalJointVentureSectionTitle}</h2>
        </div>
        <div>
            <div class="domestic-subsidiaries hotel-overview-section cm-content-blocks">
                <div class="subsidiaries-wrapper">
                    <div class="hotel-overview-wrapper">
                        <ul data-sly-use.model="com.ihcl.core.models.CorporateCompanyTab"
                            data-sly-list="${model.internationalJointVentureCompanyList}">
                            <li>${item}</li>

                        </ul>
                    </div>
                    <div class="show-container">
                        <div class="show-more-button" style="display: none;">
                            <div>SHOW MORE</div>
                        </div>
                        <div class="show-less-button" style="display: none;">
                            <div>SHOW LESS</div>
                        </div>
                        <img class="arrow-style" src="../../../assets/images/drop-down-arrow.svg" alt="icon"
                            style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>