<sly data-sly-test="${wcmmode.edit}">
    <p data-sly-unwrap="${properties.headline}" data-emptytext="configure ${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-test.isClientLibDisabled=${!inheritedPageProperties.isClientLibDisabled}  data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}" data-sly-call="${clientlib.all @ categories='taj.hotels.components.hotels-in-destination'}" />
<div class="hotels-in-dest-container cm-content-blocks">
    <div class="row" data-show-more-card-offset="${properties.showMoreCardOffsetCount}" data-initial-card-load="${properties.initialCardLoadCount}">
        <sly data-sly-test="${pageProperties.sling:resourceType == 'tajhotels/components/structure/destination-landing-page'}">
            <div class="col-12">
                <div class="mr-view-toggler-switch-Container">
                    <div data-sly-test="${!properties.isListMapViewLabelHidden}" class="mr-view-Toggler-wrap">
                        <div class="mr-list-switch mr-view-toggler-style">
                            <img class="mr-listMapSwitch-icon" src="/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/list-icon.svg" alt="list-icon">
                            <span class="mr-listSwitch-text">List</span>
                        </div>
                        <div class="mr-map-switch">
                            <img class="mr-listMapSwitch-icon" src="/etc.clientlibs/tajhotels/components/content/destination/hotels-in-destination/clientlibs/resources/images/mapview-icon.svg" alt="mapview-icon">
                            <span class="mr-mapSwitch-text">Map </span>
                        </div>
                    </div>
                </div>
                
                <div class="mr-map-totalCount"></div>
                <div data-sly-resource="${ @ path='destination-hotel-list', resourceType='tajhotels/components/content/destination-hotels'}" data-sly-unwrap></div>
                <div data-sly-resource="${ @ path='hotels-list-wth-map', resourceType='tajhotels/components/content/destination/hotels-list-wth-map'}" data-sly-unwrap></div>
            </div>

        </sly>
        <sly data-sly-test="${pageProperties.sling:resourceType != 'tajhotels/components/structure/destination-landing-page'}">
            <div class="col-12">
                <div class="mr-map-totalCount"></div>
                <div data-sly-resource="${ @ path='destination-hotel-list', resourceType='tajhotels/components/content/destination/destination-hotels-list'}" data-sly-unwrap></div>
            </div>
        </sly>
    </div>
    <input type="hidden" id="siteId" value="${inheritedPageProperties.websiteid}" aria-hidden = "true"/>
    <input type="hidden" id="destinationTag" value="${inheritedPageProperties.city}" aria-hidden = "true"/>
    <input type="hidden" id="isAmaPropertyInOtherDomain" value="${properties.isAmaPropertyInOtherDomain}" aria-hidden = "true"/>
</div>