.popup-comp-overlay {
    background: rgba(74, 74, 74, 0.55);
    display: table;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup-comp-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    .popup-comp-body {
        background-color: #ffffff;
        padding: 42px 51px 51px;
        padding: 2.625rem 3.1875rem 3.1875rem;
        position: relative;
        max-width: 692px;
        max-width: 43.25rem;
        margin: 16px auto;
        margin: 1rem auto;
    }

    .popup-comp-close {
        position: absolute;
        right: 1rem;
        top: 0.25rem;
        cursor: pointer;
    }
}