<sly data-sly-test="${wcmmode.edit}">AMA services</sly>

<sly data-sly-use.clientlib="${inheritedPageProperties.asyncClientlibPath}"
    data-sly-call="${clientlib.all @ categories='ama.infoStrip'}"></sly>

<section class="hotel-info-strip">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="info-strip-card">
                    <a href="https://www.google.com/maps/search/?api=1&query='${properties.descriptionmap}'"
                        target="_blank">
						<div>
                        <img src="${properties.iconmap}" />
                        </div>
                        <div class="info-strip-description">
                            ${properties.descriptionmap}
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-strip-card phone-number">
                	<div>
                    <img src="${properties.iconphone}" />
                    </div>
                    <div class="info-strip-description">
					 <sly data-sly-list.list=${resource.children}>
					  <sly data-sly-list.listItems=${list.children}>
                       <a href="tel: ${listItems.descriptionphone  @ context='html'}"> ${listItems.descriptionphone}</a><span> / </span>
					  </sly>
					 </sly>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-strip-card">
                    <a href="mailto:${properties.descriptionmail @ context='html'}">
                    	<div>
                        <img src="${properties.iconmail}" />
                        </div>
                        <div class="info-strip-description">
                            ${properties.descriptionmail}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>